﻿@{
    ViewBag.Title = "New Shift Weekend History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")

<div class="panel panel-primary">
    <div class="panel-heading">
        Add Shift Weekend History
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.Hidden("MemberPin", (long)ViewBag.MemberPin)
            @Html.Hidden("MemberId", (long)ViewBag.MemberId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Organization", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("OrganizationId", ViewBag.Organization as SelectList, "Select Organization", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>

                @Html.Label("Shift", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("ShiftId", ViewBag.Shift as SelectList, "Select Shift", htmlAttributes: new { @class = "form-control" })
                </div>

            </div>
            <div class="form-group">
                @Html.Label("Weekend", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("Weekend", ViewBag.WeekDays as SelectList, "Select Weekend", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.Label("Effective Date", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("EffectiveDate", null, htmlAttributes: new { @class = "form-control form_datetime1", @readonly = "readonly" })
                </div>
                
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Submit" name="Submit" class="btn btn-primary" id="AddShiftWeekendHistory" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $(document).ready(function () {
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("ShiftId", "Please Select Shift.");
            window.validateDropDownField("Weekend", "Please Select Weekend.");
            $(document).on("change", "#EffectiveDate", function (event) {
                var val = $("#EffectiveDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
            });

            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
               // startDate: new Date(),
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on('change', "#OrganizationId", function () {
                $('#ShiftId').empty();
                $('#ShiftId').append("<option value=''>Select Shift</option>");
                var organizationId = $("#OrganizationId").val();
                if (organizationId != '') {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/LoadShift",
                        type: "POST",
                        data: { organizationIds: organizationId},
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnShifttList, function (i, v) {
                                    $('#ShiftId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }


            });
            $(document).on("click", "#AddShiftWeekendHistory", function (event) {
                var canAddShiftWeekendHistory = true;
                var memberPin = $("#MemberPin").val();
                var memberId = $("#MemberId").val();
                var organizationId = $("#OrganizationId").val();
                var shiftId = $("#ShiftId").val();
                var weekend = $("#Weekend").val();
                var effectiveDate = $("#EffectiveDate").val();
                if (organizationId == '' || organizationId.length <= 0) {

                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    canAddShiftWeekendHistory = false;
                }
                if (shiftId == '' || shiftId.length <= 0) {
                    window.showErrorMessageBelowCtrl("ShiftId", "", false);
                    window.showErrorMessageBelowCtrl("ShiftId", "Please Select Branch.", true);
                    canAddShiftWeekendHistory = false;
                }
                if (weekend == '' || weekend.length <= 0) {
                    window.showErrorMessageBelowCtrl("Weekend", "", false);
                    window.showErrorMessageBelowCtrl("Weekend", "Please Select Campus.", true);
                    canAddShiftWeekendHistory = false;
                }
                if (effectiveDate == '' || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please Select Effective Date.", true);
                    canAddShiftWeekendHistory = false;
                }
                if (canAddShiftWeekendHistory) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/AddShiftWeekendHistory",
                        cache: false,
                        async: true,
                        data: { memberId: memberId, organizationId: organizationId, shiftId: shiftId, weekend: weekend, effectiveDate: effectiveDate },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                //$.fn.customMessage({
                                //    displayMessage: result.Message,
                                //    displayMessageType: "success",
                                //});
                                var url = '@Url.Action("SearchOfficialDetails", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function () {
                            $.unblockUI();

                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {

                }
            });
        });
    </script>
}
