﻿@{
    ViewBag.Title = "New TDS History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")

<div class="panel panel-primary">
    <div class="panel-heading">
        Add TDS History 
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.Hidden("MemberPin", (long)ViewBag.MemberPin)
            @Html.Hidden("MemberId", (long)ViewBag.MemberId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("TDS Amount", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("TdsAmount", null, new { @class = "form-control numbersOnly", @placeholder = "TDS Amount" })
                </div>

                @Html.Label("Effective Date", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("TdsEffectiveDate", null, htmlAttributes: new { @class = "form-control form_datetime1", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Submit" name="Submit" class="btn btn-primary" id="AddTdsHistory" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $(document).ready(function () {
            $('.numbersOnly').keydown(function () {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            });
            window.validateTextField("TdsAmount", "Please enter TDS Amount.");
            $(document).on("change", "#TdsEffectiveDate", function (event) {
                var val = $("#TdsEffectiveDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("TdsEffectiveDate", "", false);
                }
            });

            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("click", "#AddTdsHistory", function (event) {
                var canAddTdsHistory = true;
                var memberPin = $("#MemberPin").val();
                var memberId = $("#MemberId").val();
                var tdsAmount = $("#TdsAmount").val();
                var effectiveDate = $("#TdsEffectiveDate").val();
                if (tdsAmount == '' || tdsAmount.length <= 0) {
                    window.showErrorMessageBelowCtrl("TdsAmount", "", false);
                    window.showErrorMessageBelowCtrl("TdsAmount", "Please TDS Amount.", true);
                    canAddTdsHistory = false;
                }
                if (effectiveDate == '' || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("TdsEffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("TdsEffectiveDate", "Please Select Effective Date.", true);
                    canAddTdsHistory = false;
                }
                if (canAddTdsHistory) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/AddTdsHistory",
                        cache: false,
                        async: true,
                        data: { memberId: memberId, tdsAmount: tdsAmount, effectiveDate: effectiveDate },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                var url = '@Url.Action("SearchOfficialDetails", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function () {
                            $.unblockUI();

                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {

                }
            });
        });
    </script>
}


