﻿@using UdvashERP.BusinessRules
@{
    ViewBag.Title = "Assign TeamMember To User";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Assign TeamMember To User</h3></div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <div class="form-horizontal">
                <div class="  form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control" })
                    </div>
                </div>
                <div class="  form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("BranchId", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                    </div>
                </div>
                <div class="  form-group">
                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CampusId", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                    </div>
                </div>
                <div class="  form-group">
                    @Html.Label("Team Member", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TeamMemberId", (IEnumerable<SelectListItem>)ViewBag.TeamMemberList, "Seect Team Member", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("User", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.UserList, "Select User", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Assign" class="btn btn-primary" id="Assign" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("CampusId", "Please Select Campus.");
            window.validateDropDownField("TeamMemberId", "Please Select Team Member.");

            $("#OrganizationId").change(function () {
                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select branch</option>");
                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select Campus</option>");
                $('#TeamMemberId').empty();
                $('#TeamMemberId').append("<option value=''>Select Team Member</option>");
                $('#UserId').empty();
                $('#UserId').append("<option value=''>Select User</option>");
                var organizationId = $("#OrganizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#BranchId").change(function () {
                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select Campus</option>");
                $('#TeamMemberId').empty();
                $('#TeamMemberId').append("<option value=''>Select Team Member</option>");
                $('#UserId').empty();
                $('#UserId').append("<option value=''>Select User</option>");
                var organizationId = $("#OrganizationId").val();
                var branchIds = $("#BranchId").val();
                if (organizationId.length > 0 && branchIds.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        type: "POST",
                        data: { organizationIds: organizationId, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnCampusList, function (i, v) {
                                    $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#CampusId").change(function () {
                $('#TeamMemberId').empty();
                $('#TeamMemberId').append("<option value=''>Select Team Member</option>");
                $('#UserId').empty();
                $('#UserId').append("<option value=''>Select User</option>");
                var organizationId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();
                var campusId = $("#CampusId").val();
                if (organizationId.length > 0 && branchId.length >= 0 && campusId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/LoadTeamMember",
                        type: "POST",
                        data: { organizationId: organizationId, branchId: branchId, campusId: campusId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnTeamMemberList, function (i, v) {
                                    $('#TeamMemberId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#TeamMemberId").change(function () {
                $('#UserId').empty();
                $('#UserId').append("<option value='0'>Please Select User.</option>");
                var organizationId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();
                var campusId = $("#CampusId").val();
                var teamMemberId = $("#TeamMemberId").val();
                if (organizationId.length > 0 && branchId.length >= 0 && campusId.length > 0 && teamMemberId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/LoadUser",
                        type: "POST",
                        data: { organizationId: organizationId, branchId: branchId, campusId: campusId, teamMemberId :  teamMemberId},
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                console.log(result.returnUserList);
                                $.each(result.returnUserList, function(i, v) {
                                    if (v.Selected == true) {
                                        $('#UserId').append($('<option>').text(v.Text).attr('value', v.Value).attr('selected', true));
                                    } else {
                                        $('#UserId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    }

                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },

                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Assign', function (e) {
                $('.field-validation-error').remove();
                var organizationId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();
                var campusId = $("#CampusId").val();
                var teamMemberId = $("#TeamMemberId").val();
                var userId = $("#UserId").val();
                var isSuccess = true;
                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (branchId == null || branchId <= 0) {
                    window.showErrorMessageBelowCtrl("BranchId", "", false);
                    window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                    isSuccess = false;
                }
                if (campusId == null || campusId <= 0) {
                    window.showErrorMessageBelowCtrl("CampusId", "", false);
                    window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                    isSuccess = false;
                }
                if (teamMemberId == null || teamMemberId <= 0) {
                    window.showErrorMessageBelowCtrl("TeamMemberId", "", false);
                    window.showErrorMessageBelowCtrl("TeamMemberId", "Please Select Team Member.", true);
                    isSuccess = false;
                }
                if (userId == null || userId <= 0) {
                    //window.showErrorMessageBelowCtrl("UserId", "", false);
                    //window.showErrorMessageBelowCtrl("UserId", "Please Select Organization.", true);
                    //isSuccess = false;
                    userId = 0;
                }
                if (isSuccess == true) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/AssignTeamMemberToUser",
                        type: "POST",
                        data: { teamMemberId: teamMemberId, userId: userId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "success",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }

            });
        });
    </script>
}
