﻿@model UdvashERP.BusinessModel.ViewModel.Hr.SalaryHistoryViewModel
@{
    ViewBag.Title = "Edit salary History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")

<div class="panel panel-primary">
    <div class="panel-heading">
        Edit Salary History
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new {@id = "EditSalaryHistoryForm"}))
        {
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.MemberPin)
                @Html.HiddenFor(model => model.MemberId)
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, ViewBag.OrganizationList as SelectList, htmlAttributes: new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div> 
                    @Html.LabelFor(model => model.DesignationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DesignationId, ViewBag.DesignationList as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchId, ViewBag.BranchList as SelectList, htmlAttributes: new {@class = "form-control"})
                    </div>
                    @Html.LabelFor(model => model.CampusId, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CampusId, ViewBag.CampusList as SelectList, htmlAttributes: new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SalaryPurpose, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SalaryPurpose, ViewBag.SalaryPurposeList as SelectList, htmlAttributes: new {@class = "form-control"})
                    </div>
                    @Html.LabelFor(model => model.Salary, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Salary, null, new {@class = "form-control numbersOnly", @placeholder = "Salary"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BankAmount, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.BankAmount, null, new {@class = "form-control numbersOnly", @placeholder = "Bank Salary"})
                    </div>
                    @Html.LabelFor(model => model.CashAmount, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CashAmount, null, new {@class = "form-control numbersOnly", @placeholder = "Cash Salary"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EffectiveDate, "{0:yyyy-MM-dd}", htmlAttributes: new {@class = "form-control form_datetime1", @readonly = "readonly"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Submit" name="Submit" class="btn btn-primary" id="EditSalaryHistory"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $(document).ready(function () {
            $('.numbersOnly').keydown(function () {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            });
            window.validateTextField("CashAmount", "Please enter Cash Amount.");
            window.validateTextField("BankAmount", "Please enter Bank Amount.");
            window.validateTextField("Salary", "Please enter Salary.");
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("DepartmentId", "Please Select Department.");
            window.validateDropDownField("DesignationId", "Please Select Designation.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("CampusId", "Please Select Campus.");
            window.validateDropDownField("SalaryPurpose", "Please Select Purpose.");
            $(document).on("change", "#Salary", function (event) {
                CheckSalary("Salary");
            });
            $(document).on("change", "#BankAmount", function (event) {
                CheckSalary("BankAmount");
            });
            $(document).on("change", "#CashAmount", function (event) {
                CheckSalary("CashAmount");
            });
            function CheckSalary(selector) {
                var cashAmount = $("#CashAmount").val();
                var bankAmount = $("#BankAmount").val();
                var salary = $("#Salary").val();
                if (salary.length > 0 && cashAmount.length > 0 && bankAmount > 0) {
                    if (parseFloat(bankAmount) + parseFloat(cashAmount) != parseFloat(salary)) {
                        window.showErrorMessageBelowCtrl(selector, "", false);
                        window.showErrorMessageBelowCtrl(selector, "Salary must be equal to Bank Salary And Cash Salary.", true);
                    } else {
                        window.showErrorMessageBelowCtrl("Salary", "", false);
                        window.showErrorMessageBelowCtrl("CashAmount", "", false);
                        window.showErrorMessageBelowCtrl("BankAmount", "", false);
                    }
                }
            }
            $(document).on("change", "#EffectiveDate", function (event) {
                var val = $("#EffectiveDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
            });

            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });

            $(document).on('change', "#OrganizationId", function () {
                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select Branch</option>");
                $('#DepartmentId').empty();
                $('#DepartmentId').append("<option value=''>Select Department</option>");
                $('#DesignationId').empty();
                $('#DesignationId').append("<option value=''>Select Designation</option>");
                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select Campus</option>");
                var organizationId = $("#OrganizationId").val();
                if (organizationId != '') {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                $.ajax({
                                    type: "POST",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                    data: { organizationIds: organizationId },
                                    success: function (response) {
                                        if (response.IsSuccess) {
                                            $('#DepartmentId').empty();
                                            $('#DepartmentId').append('<option value="">Select Department</option>');
                                            $.each(response.returndepartmentList, function (i, v) {
                                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: response.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function () {
                                    },
                                    error: function (data) {
                                        $.fn.customMessage({
                                            displayMessage: ajaxError,
                                            displayMessageType: "error",
                                            displayTime: 5000
                                        });
                                    }
                                });

                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });

                    //Load Designation
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDesignation",
                        type: "POST",
                        data: { organizationIds: organizationId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (responses) {
                            if (responses.IsSuccess) {
                                $.each(responses.returnDesignationList, function (i, v) {
                                    $('#DesignationId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (responses) {
                            $.unblockUI();
                        }
                    });
                }


            });

            $(document).on('change', '#BranchId', function () {
                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select Campus</option>");
                var branchId = $("#BranchId").val();
                if (branchId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("click", "#EditSalaryHistory", function (event) {
                var canEditSalaryHistory = true;
                var memberPin = $("#MemberPin").val();
                var memberId = $("#MemberId").val();
                var id = $("#Id").val();
                var organizationId = $("#OrganizationId").val();
                var departmentId = $("#DepartmentId").val();
                var branchId = $("#BranchId").val();
                var campusId = $("#CampusId").val();
                var salaryPurpose = $("#SalaryPurpose").val();
                var cashAmount = $("#CashAmount").val();
                var bankAmount = $("#BankAmount").val();
                var salary = $("#Salary").val();
                var effectiveDate = $("#EffectiveDate").val();

                if (organizationId == '' || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    canEditSalaryHistory = false;
                }
                if (departmentId == '' || departmentId.length <= 0) {
                    window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                    window.showErrorMessageBelowCtrl("DepartmentId", "Please Select Department.", true);
                    canEditSalaryHistory = false;
                }
                if (branchId == '' || branchId.length <= 0) {
                    window.showErrorMessageBelowCtrl("BranchId", "", false);
                    window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                    canEditSalaryHistory = false;
                }
                if (campusId == '' || campusId.length <= 0) {
                    window.showErrorMessageBelowCtrl("CampusId", "", false);
                    window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                    canEditSalaryHistory = false;
                }
                if (salaryPurpose == '' || salaryPurpose.length <= 0) {
                    window.showErrorMessageBelowCtrl("SalaryPurpose", "", false);
                    window.showErrorMessageBelowCtrl("SalaryPurpose", "Please Select Salary Purpose.", true);
                    canEditSalaryHistory = false;
                }
                if (cashAmount == '' || cashAmount.length <= 0) {
                    window.showErrorMessageBelowCtrl("CashAmount", "", false);
                    window.showErrorMessageBelowCtrl("CashAmount", "Please enter Cash Amount", true);
                    canEditSalaryHistory = false;
                }
                if (bankAmount == '' || bankAmount.length <= 0) {
                    window.showErrorMessageBelowCtrl("BankAmount", "", false);
                    window.showErrorMessageBelowCtrl("BankAmount", "Please enter Bank Amount.", true);
                    canEditSalaryHistory = false;
                }
                if (salary == '' || salary.length <= 0) {
                    window.showErrorMessageBelowCtrl("Salary", "", false);
                    window.showErrorMessageBelowCtrl("Salary", "Please enter Salary.", true);
                    canEditSalaryHistory = false;
                }
                if (effectiveDate == '' || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please Select Effective Date.", true);
                    canEditSalaryHistory = false;
                }
                if (parseFloat(bankAmount) + parseFloat(cashAmount) != parseFloat(salary)) {
                    window.showErrorMessageBelowCtrl("Salary", "", false);
                    window.showErrorMessageBelowCtrl("Salary", "Salary must be equal to Bank Salary And Cash Salary.", true);
                    canEditSalaryHistory = false;
                }
                if (canEditSalaryHistory) {
                    var data = $("#EditSalaryHistoryForm").serialize();
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/EditSalaryHistory",
                        cache: false,
                        async: true,
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                var url = '@Url.Action("SearchOfficialDetails", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });

        });
    </script>
}