﻿@using UdvashERP.BusinessModel.Entity.Hr
@{
    ViewBag.Title = "New Mentor History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    MentorHistory mentorhistory = ViewBag.MentorHistory;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Add Mentor History
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.Hidden("Id", (long)mentorhistory.Id)
            @Html.Hidden("MemberPin", (long)ViewBag.MemberPin)
            @Html.Hidden("MemberId", (long)ViewBag.MemberId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Pin",new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("Pin", mentorhistory.Mentor.Pin, new { @class = "form-control", @placeHolder = "PIN" })
                </div>
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("Name", mentorhistory.Mentor.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Effective Date", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("EffectiveDate",  mentorhistory.EffectiveDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control form_datetime1", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Submit" name="Submit" class="btn btn-primary" id="AddMentorHistory" />
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $(document).ready(function () {
            window.validateTextField("Pin", "Please enter Pin.");
            $(document).on("change", "#EffectiveDate", function (event) {
                var val = $("#EffectiveDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
            });

            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });

            $(document).on("input propertychange", "#Pin", function (event) {
                var MentorPIN_previous = parseInt($("#Pin").val().trim());
                setTimeout(function () {
                    var MentorPIN = parseInt($("#Pin").val().trim());
                    $("#Name").val("");
                    if (MentorPIN != "" && MentorPIN == MentorPIN_previous ) {
                        if (MentorPIN > 0) {
                            window.showErrorMessageBelowCtrl("Pin", "", false);
                            $.ajax({
                                type: "POST",
                                //url: $("body").attr("data-project-root") + "Hr/TeamMember/GetMentorNameByPIN",
                                url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/GetTeamMemberInformation",
                                cache: false,
                                async: true,
                                //data: { mentorPIN: MentorPIN, isJoiningDateRequired: false},
                                data: { pin: MentorPIN },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (response) {
                                    $.unblockUI();
                                    if (response.IsSuccess) {
                                        //$("#Name").val(response.mentorName);
                                        $("#Name").val(response.teamMemberName);
                                    } else {
                                        $("#PIN").val("");
                                        $("#Name").val("");
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function (response) {
                                    $.unblockUI();

                                },
                                error: function (response) {
                                    $.unblockUI();

                                }
                            });
                        } else {
                            window.showErrorMessageBelowCtrl("Pin", "", false);
                            window.showErrorMessageBelowCtrl("Pin", "Please enter valid Mentor Id", true);
                            return false;
                        }
                    }
                }, 1000);
            });


            $(document).on("click", "#AddMentorHistory", function (event) {
                var canAddMentorHistory = true;
                var id = $("#Id").val();
                var memberPin = $("#MemberPin").val();
                var memberId = $("#MemberId").val();
                var pin = $("#Pin").val();
                var effectiveDate = $("#EffectiveDate").val();
                if (pin == '' || pin.length <= 0) {

                    window.showErrorMessageBelowCtrl("Pin", "", false);
                    window.showErrorMessageBelowCtrl("Pin", "Please Enter Pin.", true);
                    canAddMentorHistory = false;
                }
                if (effectiveDate == '' || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please Select Effective Date.", true);
                    canAddMentorHistory = false;
                }
                if (canAddMentorHistory) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/EditMentorHistory",
                        cache: false,
                        async: true,
                        data: { id: id, pin: pin, effectiveDate: effectiveDate },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                var url = '@Url.Action("SearchOfficialDetails", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function () {
                            $.unblockUI();

                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {

                }
            });
        });
    </script>
}


