﻿@using UdvashERP.BusinessModel.Entity.Hr
@{
    ViewBag.Title = "Edit Employment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EmploymentHistory employmentHistory = ViewBag.EmploymentHistory;
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
<div class="panel panel-primary">
    <div class="panel-heading">
        Employment History
    </div>
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()*@
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.Hidden("Id", (long)employmentHistory.Id)
            @Html.Hidden("MemberId", (long)ViewBag.MemberId)
            @Html.Hidden("MemberPin", (long)ViewBag.MemberPin)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Organization", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("OrganizationId", ViewBag.Organization as SelectList, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @*@Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })*@
                </div>
                @Html.Label("Branch", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("BranchId", ViewBag.Branch as SelectList, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Campus", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("CampusId", ViewBag.Campus as SelectList, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })*@
                </div>
                @Html.Label("Department", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("DepartmentId", ViewBag.Department as SelectList, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Designation", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("DesignationId", ViewBag.Designation as SelectList, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })*@
                </div>
                @Html.Label("Member Type", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("MemberTypeId", ViewBag.MemberType as SelectList, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.MemberType, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Effective Date", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("EffectiveDate",employmentHistory.EffectiveDate, "{0:yyyy-MM-dd}",htmlAttributes: new { @class = "form-control form_datetime1", @readonly = "readonly" })
                    @*@Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Submit" name="Submit" class="btn btn-primary" id="EditEmploymentHistory" />
                </div>
            </div>
        </div>
    </div>
</div>
@*}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/dualListBox")*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
            $(document).ready(function () {
                window.validateDropDownField("OrganizationId", "Please Select Organization.");
                window.validateDropDownField("BranchId", "Please Select Branch.");
                window.validateDropDownField("CampusId", "Please Select Campus.");
                window.validateDropDownField("DepartmentId", "Please Select Department.");
                window.validateDropDownField("DesignationId", "Please Select Designation.");
                window.validateDropDownField("MemberTypeId", "Please Select Member Type.");
                $(document).on("change", "#EffectiveDate", function (event) {
                    var val = $("#EffectiveDate").val();
                    if (val.length > 0) {
                        window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    }
                });
                $('.form_datetime1').datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: new Date(),
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
                $(document).on('change', "#OrganizationId", function () {
                    $('#BranchId').empty();
                    $('#BranchId').append("<option value=''>Select a branch</option>");
                    $('#BranchId').empty();
                    $('#BranchId').append("<option value=''>Select a branch</option>");
                    $('#CampusId').empty();
                    $('#CampusId').append("<option value=''>Select a campus</option>");
                    $('#DepartmentId').empty();
                    $('#DepartmentId').append("<option value=''>Select Department</option>");
                    $('#DesignationId').empty();
                    $('#DesignationId').append("<option value=''>Select Designation</option>");
                    var organizationId = $("#OrganizationId").val();
                    if (organizationId != '') {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                            type: "POST",
                            data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();
                                if (result.IsSuccess) {
                                    $.each(result.returnBranchList, function (i, v) {
                                        $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }
                                //Load Department
                                $.ajax({
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                    type: "POST",
                                    data: { organizationIds: organizationId },
                                    beforeSend: function () {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function (responses) {
                                        if (responses.IsSuccess) {
                                            $.each(responses.returndepartmentList, function (i, v) {
                                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        }
                                        //Load Designation
                                        $.ajax({
                                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDesignation",
                                            type: "POST",
                                            data: { organizationIds: organizationId },
                                            beforeSend: function () {
                                                $.blockUI({
                                                    timeout: 0,
                                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                                });
                                            },
                                            success: function (responses) {
                                                if (responses.IsSuccess) {
                                                    $.each(responses.returnDesignationList, function (i, v) {
                                                        $('#DesignationId').append($('<option>').text(v.Text).attr('value', v.Value));
                                                    });
                                                }
                                            },
                                            complete: function () {
                                                $.unblockUI();
                                            },
                                            error: function (responses) {
                                                $.unblockUI();
                                            }
                                        });
                                        //End Loading Department
                                    },
                                    complete: function () {
                                        $.unblockUI();
                                    },
                                    error: function (responses) {
                                        $.unblockUI();
                                    }
                                });
                                //End Loading Department


                            },

                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (data) {
                                $.unblockUI();
                            }
                        });
                    }


                });
                $(document).on('change', '#BranchId', function () {
                    $('#CampusId').empty();
                    $('#CampusId').append("<option value=''>Select Campus</option>");
                    var branchId = $("#BranchId").val();
                    console.log(branchId);
                    if (branchId != "") {
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                            cache: false,
                            async: true,
                            data: { branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                $.unblockUI();
                                if (response.IsSuccess) {
                                    $.each(response.returnCampusList, function (i, v) {
                                        $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    console.log("Error -----");

                                }

                            },
                            complete: function () {
                                $.unblockUI();
                                console.log("Complete -----");

                            },
                            error: function () {
                                $.unblockUI();
                                console.log("Failed -----");

                            }
                        });
                    }
                });
                $(document).on("click", "#EditEmploymentHistory", function (event) {
                    var canEditEmploymentHistory = true;
                    var memberPin = $("#MemberPin").val();
                    var memberId = $("#MemberId").val();
                    var id = $("#Id").val();
                    var organizationId = $("#OrganizationId").val();
                    var branchId = $("#BranchId").val();
                    var campusId = $("#CampusId").val();
                    var departmentId = $("#DepartmentId").val();
                    var designationId = $("#DesignationId").val();
                    var memberType = $("#MemberTypeId").val();
                    var effectiveDate = $("#EffectiveDate").val();
                    console.log(organizationId);
                    if (organizationId == '' || organizationId.length <= 0) {

                        window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                        window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (branchId == '' || branchId.length <= 0) {
                        window.showErrorMessageBelowCtrl("BranchId", "", false);
                        window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (campusId == '' || campusId.length <= 0) {
                        window.showErrorMessageBelowCtrl("CampusId", "", false);
                        window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (departmentId == '' || departmentId.length <= 0) {
                        window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                        window.showErrorMessageBelowCtrl("DepartmentId", "Please Select Department.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (designationId == '' || designationId.length <= 0) {
                        window.showErrorMessageBelowCtrl("DesignationId", "", false);
                        window.showErrorMessageBelowCtrl("DesignationId", "Please Select Designation.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (memberType == '' || memberType.length <= 0) {
                        window.showErrorMessageBelowCtrl("MemberTypeId", "", false);
                        window.showErrorMessageBelowCtrl("MemberTypeId", "Please Select Member Type.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (effectiveDate == '' || effectiveDate.length <= 0) {
                        window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                        window.showErrorMessageBelowCtrl("EffectiveDate", "Please Select Effective Date.", true);
                        canEditEmploymentHistory = false;
                    }
                    if (canEditEmploymentHistory) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "HR/TeamMember/EditEmploymentHistory",
                            cache: false,
                            async: true,
                            data: { id: id, organizationId: organizationId, branchId: branchId, campusId: campusId, departmentId: departmentId, designationId: designationId, memberType: memberType, effectiveDate: effectiveDate },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();
                                console.log(result);
                                if (result.IsSuccess) {
                                    //$.fn.customMessage({
                                    //    displayMessage: result.Message,
                                    //    displayMessageType: "success",
                                    //});
                                    var url = '@Url.Action("SearchOfficialDetails", "TeamMember", new { memberPin = "__Pin__" })';
                                    window.location.href = url.replace('__Pin__', memberPin);
                                } else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }

                            },
                            complete: function () {
                                $.unblockUI();

                            },
                            error: function (result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                    } else {

                    }
                });
            });
    </script>
}

