﻿@model UdvashERP.BusinessModel.ViewModel.Hr.TeamMemberBankHistoryViewModel
@{
    ViewBag.Title = "Edit Bank History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
<div class="panel panel-primary">
    <div class="panel-heading">
        Bank History
    </div>
    @{
        Html.RenderPartial("_partial/_BankHistoryFormPartialView");
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/dualListBox")*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/SaveBankHistory")
}
