﻿@model UdvashERP.BusinessModel.ViewModel.Hr.MemberViewModel

@{
    ViewBag.Title = "MemberInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeShift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weekend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weekend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MentorPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MentorPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MentorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MentorName)
        </dd>

    </dl>
</div>
<p>
    <a href="#" class="btn btn-primary">Print</a>
    @Html.ActionLink("Add New", "Create", "TeamMember", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Details", "AddPersonalDetails", "TeamMember", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Update Info", "SearchOfficialDetails", "TeamMember", new { id = Model.Id }, new { @class = "btn btn-primary" })

</p>
