﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Member Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Member Directory</h4>
    </div>
    <div class="panel-body">
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.Department, "Select Department", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input type="text" id="Name" name="Name" value="" class="form-control" placeholder="Name"/>
                </th>
                <th class="form-group">
                    <input type="text" id="Pin" name="Pin"  value="" class="form-control" placeholder="Pin" />
                </th>
                <th class="form-group">
                    @Html.DropDownList("bloodGroup", (IEnumerable<SelectListItem>)ViewBag.BloodGroupList, "Select Blood Group", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            <thead>
                <tr>
                    @*<th>
                        Sl
                    </th>*@
                    <th>
                        Pin
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Designation
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Contact Number
                    </th>
                    <th>
                        Organization
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Campus
                    </th>
                    <th>
                        Blood Group
                    </th>
                    <th>
                        Office Email
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
@*<style type="text/css">
        .highlight {
            background-color: yellow;
        }
    </style>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Organization").change(function () {
                //remove all dependant dropdownlist & selection option
                $("#Branch").empty();
                $('#Branch').append("<option value=''>Select Branch</option>");
                $('#Campus').empty();
                $('#Campus').append("<option value=''>Select Campus</option>");
                $('#Department').empty();
                $('#Department').append("<option value=''>Select Department</option>");
                var organizationId = $(this).val();
                if (organizationId != "" && organizationId != null) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                        type: "POST",
                        data: { organizationIds: organizationId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function (response) {

                            $.each(response.returndepartmentList, function (i, v) {
                                $('#Department').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                                type: "POST",
                                data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                                    });
                                },
                                success: function (response2) {
                                    $.each(response2.returnBranchList, function (i, v) {
                                        $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    $.unblockUI();
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (response2, status, xhr) {
                                    console.log("Failed -----");
                                }
                            });
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response, status, xhr) {
                            console.log("Failed -----");
                        }
                    });
                }
            });
            $("#Branch").change(function () {

                //remove all dependant dropdownlist & selection option
                $('#Campus').empty();
                $('#Campus').append("<option value=''>Select Campus</option>");
                var branchId = $(this).val();

                if (branchId != null && branchId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
        });
        function dataTableRender() {
            var pageSize = 100;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 3
                },
                //stateSave: true,
                //searchHighlight: true,
                order: [[0, "Asc"]],
                ajax: {
                    url: '@Url.Action("LoadMemberDirectory", "TeamMember")',
                    type: 'POST',
                    data: function(d) {
                        d.organizationId = $("#Organization").val();
                        d.branchId = $("#Branch").val();
                        d.campusId = $("#Campus").val();
                        d.departmentId = $("#Department").val();
                        d.name = $("#Name").val();
                        d.pin = $("#Pin").val();
                        d.bloodGroup = $("#bloodGroup").val();
                    }
                }
            });
        }

        dataTableRender();

        /*end render data table*/
        $(document).on("click", "#search", function() {
            dataTableRender();
        });
    </script>
}

