﻿@model UdvashERP.BusinessModel.ViewModel.Hr.MemberListViewModel
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@{
    ViewBag.Title = "Member List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Member List</h4>
    </div>
   <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.Organization, "Select organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.DepartmentId, (SelectList)ViewBag.Department, "Select Department", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.BranchId, (SelectList)ViewBag.BranchList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BranchId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.CampusId, (SelectList)ViewBag.CampusList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CampusId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MemberType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.MemberType, (IEnumerable<SelectListItem>)ViewBag.MemberTypes, "All", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MemberType)
                    </div>
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.memberStatus, "All", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <select name="informationViewList" id="informationViewList" class="form-control" multiple="multiple">
                            <option value="Organization">Organization</option>
                            <option value="Branch">Branch</option>
                            <option value="Campus">Campus</option>
                            <option value="Pin">Pin</option>
                            <option value="FullName">FullName</option>
                            <option value="NickName">NickName</option>
                            <option value="Department">Department</option>
                            <option value="Designation">Designation</option>
                            <option value="EmploymentStatus">Employment Status</option>
                            <option value="MentorNamePIN">Mentor Name & PIN</option>
                            <option value="JoiningDate">Joining Date</option>
                            <option value="PermanentDate">Permanent Date</option>
                            <option value="DiscontinuationDate">Discontinuation Date</option>
                            <option value="OfficialContact">Official Contact</option>
                            <option value="PersonalContact">Personal Contact</option>
                            <option value="OfficialEmail">Official Email</option>
                            <option value="PersonalEmail">Personal Email</option>
                            <option value="OfficeShift">Office Shift</option>
                            <option value="Gender">Gender</option>
                            <option value="Religion">Religion</option>
                            <option value="BloodGroup">Blood Group</option>
                            <option value="DateOfBirth(certificate)">Date Of Birth(certificate)</option>
                            <option value="DateOfBirth(Actual)">Date Of Birth(Actual)</option>
                            <option value="HomeDistrict">Home District</option>
                            <option value="Upozilla/Thana">Upozilla/Thana</option>
                            <option value="MaritalStatus">Marital Status</option>
                            <option value="MarriageDate">Marriage Date</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#OrganizationId").change(function() {
                //remove all dependant dropdownlist & selection option
                $("#BranchId option").remove();
                $("#CampusId option").remove();
                $('#DepartmentId').empty();
                if ($("#OrganizationId").val() != "") {
                    $('#DepartmentId').append("<option value='0'>All</option>");
                    $('#BranchId').append("<option value='0'>All</option>");
                } else {
                    $('#DepartmentId').append("<option value=''>Select Department</option>");
                    //$('#BranchId').append("<option value=''>Select Branch</option>");
                }
                var organizationId = $(this).val();
                if (organizationId != "" && organizationId != null) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                        type: "POST",
                        data: { organizationIds: organizationId,isAuthorized:true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function(response) {
                            
                            $.each(response.returndepartmentList, function (i, v) {
                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                                type: "POST",
                                data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                                    });
                                },
                                success: function (response) {

                                    $.each(response.returnBranchList, function (i, v) {
                                        $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    $.unblockUI();
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (response, status, xhr) {
                                    console.log("Failed -----");
                                }
                            });
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            console.log("Failed -----");
                        }
                    });
                } 
            });
            $("#BranchId").change(function () {

                //remove all dependant dropdownlist & selection option
                $("#CampusId option").remove();
                $('#CampusId').append("<option value='0'>All</option>");
                var branchId = $(this).val();
                var organizationId = $("#OrganizationId").val();
                if (branchId != null && branchId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
        });
        $('#informationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });
    </script>
}