﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@model UdvashERP.BusinessModel.ViewModel.Hr.SearchMemberListViewModel
@{
    ViewBag.Title = "Serch Member List";
}
<style type="text/css">
    #ShowHide:hover {
        cursor: pointer;
    }
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
    .bootstrap-duallistbox-container .buttons {
        width: 100px !important;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Search Member List <span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="toggleCE">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "SearchTeamMemberListForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.MemberType, (IEnumerable<SelectListItem>)ViewBag.memberStatus, new { @class = "form-control " })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PageSize, new { @class = "form-control", @placeholder = "No of Data", @id = "PageSize", @Value = "100" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.ListBoxFor(model => model.DepartmentIds, (MultiSelectList)ViewBag.DepartmentList, new { @size = 7, @class = "form-control " })
                            </div>
                            <div class="col-md-4">
                                @Html.ListBoxFor(model => model.BranchIds, (MultiSelectList)ViewBag.BranchList, new { @size = 7, @class = "form-control " })
                            </div>
                            <div class="col-md-4">
                                @Html.ListBoxFor(model => model.CampusIds, (MultiSelectList)ViewBag.CampusList, new { @size = 7, @class = "form-control " })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9" style="text-align: center; font-weight: bold;">
                                <h4>Select Information To View</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.ListBoxFor(model => model.EmployementStatus, (MultiSelectList)ViewBag.EmploymentStatusList, new { @size = 7, @class = "form-control " })
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.InformationViewList, (IEnumerable<SelectListItem>)ViewBag.InformationViewSelectList, new { @class = "form-control valid", @multiple = "multiple", @size = 8 })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Keyword, null, new { @class = "form-control", @style = "max-width:100%", @placeholder = "Keyword" })
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="Search" value="Search" class="btn btn-primary" />
                                <input type="button" id="Export" value="Export" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

<div id="SearchTeamMemberListResult">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $('#InformationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });

        function dataTableRender() {
            console.log("ok DataGrid");
            var pageSize = 100;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 3
                },
                order: [[0, "Asc"]],
                ajax: {
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/LoadSearchMemberListDataTable",
                    type: 'POST',
                    data: function(d) {
                        d.organizationId = $("#OrganizationId").val();
                        d.departmentIds = $("#DepartmentIds").val();
                        d.branchIds = $("#BranchIds").val();
                        d.campusIds = $("#CampusIds").val();
                        d.memberTypes = $("#MemberType").val();
                        d.memberStatus = $("#EmployementStatus").val();
                        d.keyword = $("#Keyword").val();
                        d.informationViewList = $("#InformationViewList").val();
                    }
                }
            });
            // $('#DataGrid').highlight(keyword);
        }

        $(document).ready(function() {
            window.validateDropDownField("OrganizationId", "Please Select Organization.");

            $("#OrganizationId").change(function() {
                $("#SearchTeamMemberListResult").html('');
                $('#BranchIds').empty();
                $('#BranchIds').append("<option value='0'>All Branch</option>");
                $('#CampusIds').empty();
                $('#CampusIds').append("<option value='0'>All Campus</option>");
                $('#DepartmentIds').empty();
                $('#DepartmentIds').append("<option value='0'>All Department</option>");
                var organizationId = $("#OrganizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $("#SearchTeamMemberListResult").html('');
                            if (result.IsSuccess) {
                                $('#BranchIds').empty();
                                $('#BranchIds').append('<option value="0">All Branch</option>');
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#BranchIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                $.ajax({
                                    type: "POST",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                    data: { organizationIds: organizationId },
                                    success: function(response) {
                                        if (response.IsSuccess) {
                                            $('#DepartmentIds').empty();
                                            $('#DepartmentIds').append('<option value="0">All Department</option>');
                                            $.each(response.returndepartmentList, function(i, v) {
                                                $('#DepartmentIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: response.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function() {},
                                    error: function(data) {
                                        $.fn.customMessage({
                                            displayMessage: ajaxError,
                                            displayMessageType: "error",
                                            displayTime: 5000
                                        });
                                    }
                                });

                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {},
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#BranchIds").change(function() {
                $("#SearchTeamMemberListResult").html('');
                $('#CampusIds').empty();
                $('#CampusIds').append("<option value='0'>All Campus</option>");
                var organizationId = $("#OrganizationId").val();
                var branchIds = $("#BranchIds").val();
                if (organizationId != null && organizationId != "" && branchIds != null && branchIds.length >= 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            $("#SearchTeamMemberListResult").html('');
                            if (response.IsSuccess) {
                                $('#CampusIds').empty();
                                $('#CampusIds').append('<option value="0">All Campus</option>');
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#CampusIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#ShowHide', function(e) {
                if ($(this).attr('title') == 'Colapse') {
                    $('#toggleCE').hide();
                    $(this).find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                    $(this).attr('title', 'Expand');
                } else {
                    $('#toggleCE').show();
                    $(this).attr('title', 'Colapse');
                    $(this).find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
                }
            });

            $(document).on('click', '#Search', function (e) {

                var isSuccess = true;
                $("#SearchTeamMemberListResult").html('');
                var organizationId = $("#OrganizationId").val();
                if (organizationId == null || organizationId == "" || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    $('#toggleCE').hide();
                    $('#ShowHide').find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                    $('#ShowHide').attr('title', 'Expand');
                }
                if (isSuccess == true) {
                    var postData = $("#SearchTeamMemberListForm").serializeArray();
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/SearchMemberList",
                        type: "POST",
                        data: postData,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            $("#SearchTeamMemberListResult").html(data);
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        },
                        complete: function() {
                            dataTableRender();
                        },
                    });
                    e.preventDefault();

                }


            });

            $(document).on('click', '#Export', function (e) {

                var organizationId = $("#OrganizationId").val();
                if (organizationId == null || organizationId == "" || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                } else {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    var urlParam = {
                        organizationId: $("#OrganizationId").val(),
                        departmentIds: $("#DepartmentIds").val(),
                        branchIds: $("#BranchIds").val(),
                        campusIds: $("#CampusIds").val(),
                        memberTypes: $("#MemberType").val(),
                        memberStatus: $("#EmployementStatus").val(),
                        keyword: $("#Keyword").val(),
                        informationViewList: $("#InformationViewList").val()
                    };

                    var url = "@Url.Action("ExportSearchMemberListDataTable", "TeamMember", null, Request.Url.Scheme)";
                    url += "?" + decodeURIComponent($.param(urlParam, true));
                    window.open(url);
                }
            });

        });
    </script>
}