﻿@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@{
    ViewBag.Title = "Add Memeber Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = now;
    TeamMember member = ViewBag.TeamMember;
    List<EmploymentHistory> teamMemberEmploymentHistories = ViewBag.TeamMemberEmploymentHistories;
    IList<MemberFingerPrint> memberFingerPrints = ViewBag.FingerPrintInformations;
    List<SalaryHistory> teamMemberSalaryHistories = ViewBag.TeamMemberSalaryHistories;
    List<MentorHistory> teamMemberMentorHistories = ViewBag.TeamMemberMentorHistories;
    List<ShiftWeekendHistory> teamMemberShiftWeekendHistories = ViewBag.TeamMemberShiftWeekendHistories;
    List<TdsHistory> teamMemberTdsHistories = ViewBag.TeamMemberTdsHistories;
    TeamMemberTaxInformationViewModel teamMemberTaxInformationViewModel = ViewBag.TeamMemberTaxInformationViewModel;
    List<BankHistory> teamMemberBankHistoryList = ViewBag.TeamMemberBankHistoryList;
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Official Information Search</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SearchOfficialDetails", "TeamMember", FormMethod.Get))
        {
            @*@Html.AntiForgeryToken()*@
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="admissionBodyContent">
                    @Html.Editor("memberPin", (string)@ViewBag.MemberPin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PIN" } })
                    <input type="button" value="Search" class="btn btn-primary btn-lg btn-block" id="Search" />
                </div>
            </div>
        }
    </div>
</div>
@if (ViewBag.MemberHasInfo == true)
{
    @*@using (Html.BeginForm("EditBasicInfo", "Member", FormMethod.Post))
    {*@
    <div class="panel panel-primary">
        <div class="panel-heading">Basic Information</div>
        <div class="panel-body">

            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.Label("Nick Name", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("Name", member.Name, new {@class = "form-control"})
                    </div>
                    @Html.Label("Personal Contact", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("PersonalContact", member.PersonalContact, new {@class = "form-control", @required_name = "Personal Contact"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Gender", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Gender", Enumerable.Empty<SelectListItem>(), (string) ViewBag.Gender, htmlAttributes: new {@class = "form-control", @required_name = "Gender", @readonly = "readonly"})
                    </div>

                    @Html.Label("Marital Status", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("MaritalStatus", Enumerable.Empty<SelectListItem>(), (string) ViewBag.MaritalStatus, htmlAttributes: new {@class = "form-control", @required_name = "Marital Status", @readonly = "readonly"})
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("Organization", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Organization", Enumerable.Empty<SelectListItem>(), (string) ViewBag.Organization, htmlAttributes: new {@class = "form-control", @required_name = "Organization", @readonly = "readonly"})

                    </div>

                    @Html.Label("Branch", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Branch", Enumerable.Empty<SelectListItem>(), (string) ViewBag.Branch, htmlAttributes: new {@class = "form-control", @required_name = "Branch", @readonly = "readonly"})
                    </div>

                </div>
                <div class="form-group">

                    @Html.Label("Campus", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Campus", Enumerable.Empty<SelectListItem>(), (string) ViewBag.Campus, htmlAttributes: new {@class = "form-control", @required_name = "Campus", @readonly = "readonly"})
                    </div>
                    @Html.Label("Department", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Department", Enumerable.Empty<SelectListItem>(), (string) ViewBag.department, htmlAttributes: new {@class = "form-control", @required_name = "Department", @readonly = "readonly"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Designation", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Designation", Enumerable.Empty<SelectListItem>(), (string) ViewBag.designation, htmlAttributes: new {@class = "form-control", @required_name = "Designation", @readonly = "readonly"})
                    </div>
                    @Html.Label("Employment Status", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("EmploymentStatus", Enumerable.Empty<SelectListItem>(), (string) ViewBag.empStatus, htmlAttributes: new {@class = "form-control", @required_name = "Employment Status", @readonly = "readonly"})
                    </div>
                </div>
                <div class="form-group">

                    @Html.Label("Joining Date", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("JoiningDate", null, new {@class = "form-control  form_datetime1", @readonly = "readonly", @required_name = "Joining Date", @Value = (string) ViewBag.joindate})
                        <div id="dfmsg"></div>
                    </div>
                    @Html.Label("Date To", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("DateTo", null, new {@class = "form-control form_datetime2", @readonly = "readonly", @required_name = "Date To", @Value = (string) ViewBag.todate})

                        <div id="dtmsg"></div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Office Shift", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("OfficeShift", Enumerable.Empty<SelectListItem>(), (string) ViewBag.officeShift, htmlAttributes: new {@class = "form-control", @required_name = "Office Shift", @readonly = "readonly"})
                    </div>
                    @Html.Label("Weekend", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Weekend", Enumerable.Empty<SelectListItem>(), (string) ViewBag.weekend, htmlAttributes: new {@class = "form-control", @required_name = "Weekend", @readonly = "readonly"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mentor PIN", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("MentorPIN", null, new
                        {
                            @class = "form-control",
                            @Value = ViewBag.mentorPin,
                            @readonly = "readonly"
                            //, @required_name = "Mentor PIN"
                        })
                    </div>
                    @Html.Label("Mentor Name", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("MentorName", null, new
                        {
                            @class = "form-control"
                            //, @required_name = "Mentor Name"
                            ,
                            @readonly = "readonly"
                        })

                    </div>
                </div>
                @*<div class="form-group">
                    @Html.Label("Salary Sheet ", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("SalarySheet", null, new { @class = "form-control", @Value = (member.IsSalarySheet == true) ? "Yes" : "No", @readonly = "readonly" })
                    </div>
                    @Html.Label("Auto Deduction", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("AutoDeduction", null, new { @class = "form-control", @Value = (member.IsAutoDeduction == true) ? "Yes" : "No", @readonly = "readonly" })
                    </div>
                </div>*@
                <br/>
            </div>
        </div>

    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            Official Identification
        </div>
        <div class="panel-body">

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Card Number", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Hidden("officalDetailsId",(string)ViewBag.OfficalDetailsId.ToString(), new { @id = "officalDetailsId" })
                        @Html.TextBox("cardNumber", (string) ViewBag.CardNumber, new {@class = "form-control"})
                    </div>
                    @Html.Label("Official Contact", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("officialContact", (string)ViewBag.OfficialContact, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Official Email", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("officialEmail", (string) ViewBag.OfficialEmail, new {@class = "form-control"})
                    </div>
                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" id="officalDetailsStatus" name="officalDetailsStatus">
                            <option value="">Select Status</option>
                            @if (!String.IsNullOrEmpty(ViewBag.OfficalDetailsStatus.ToString()))
                            {
                                if ((int) ViewBag.OfficalDetailsStatus == MemberOfficialDetail.EntityStatus.Active)
                                {
                                    <option value="@MemberOfficialDetail.EntityStatus.Active" selected="selected">Active</option>
                                    <option value="@MemberOfficialDetail.EntityStatus.Inactive">Inactive</option>
                                }else if ((int) ViewBag.OfficalDetailsStatus == MemberOfficialDetail.EntityStatus.Inactive)
                                {
                                    <option value="@MemberOfficialDetail.EntityStatus.Active">Active</option>
                                    <option value="@MemberOfficialDetail.EntityStatus.Inactive" selected="selected">Inactive</option>
                                }
                                else
                                {
                                    <option value="@MemberOfficialDetail.EntityStatus.Active">Active</option>
                                    <option value="@MemberOfficialDetail.EntityStatus.Inactive">Inactive</option>
                                }
                            }
                            else
                            {
                                <option value="@MemberOfficialDetail.EntityStatus.Active">Active</option>
                                <option value="@MemberOfficialDetail.EntityStatus.Inactive">Inactive</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Submit" name="Submit" class="btn btn-primary" id="SubmitBasicInformation" />
                </div>
            </div>

        </div>
    </div>

    if (memberFingerPrints != null)
    {
        {
            Html.RenderPartial("_partial/_LoadMemberFingerTemplate", memberFingerPrints);
        }
    }
    
    Html.RenderPartial("_partial/_LoadTaxInformationPartialView", teamMemberTaxInformationViewModel);
    
    if (teamMemberEmploymentHistories != null)
    {
        {
            Html.RenderPartial("_partial/_LoadEmploymentHistoryPartialView", teamMemberEmploymentHistories);
        }
    }
    if (teamMemberMentorHistories != null)
    {
        {
            Html.RenderPartial("_partial/_LoadMentorHistoryPartialView", teamMemberMentorHistories);
        }
    }
    if (teamMemberShiftWeekendHistories != null)
    {
        {
            Html.RenderPartial("_partial/_LoadShiftWeekendHistoryPartialView", teamMemberShiftWeekendHistories);
        }
    }
    if (teamMemberSalaryHistories != null)
    {
        {
            Html.RenderPartial("_partial/_LoadSalaryHistoryPartialView", teamMemberSalaryHistories);
        }
    }
    if (teamMemberBankHistoryList != null)
    {
        {
            Html.RenderPartial("_partial/_LoadBankHistoryPartialView", teamMemberBankHistoryList);
        }
    }
    if (teamMemberTdsHistories != null)
    {
        {
            Html.RenderPartial("_partial/_LoadTdsHistoryPartialView", teamMemberTdsHistories);
        }
    }

    @*}*@
}
else if (ViewBag.MemberHasInfo == false)
{
    <div class="panel panel-primary">
        <div class="panel-heading">Basic Information</div>
        <div class="panel-body">
            This Pin has no Information... Please Try again!
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {

            $('.numbersOnly').keydown(function () {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            });
            window.validateTextField("memberPin", "Please enter valid PIN.");
            $("#Search").click(function() {
                var pin = $("#memberPin").val();
                if (pin != "" && pin.length > 0) {
                    this.form.submit();
                } else {
                    window.showErrorMessageBelowCtrl("memberPin", "", false);
                    window.showErrorMessageBelowCtrl("memberPin", "Please enter valid PIN.", true);
                }
            });
            //basic information
            window.validateTextField("Name", "Nick Name is required.");
            $(document).on("input propertychange", "#PersonalContact", function(event) {
                var mobile = $("#PersonalContact").val().trim();
                mobile = mobileCheck(mobile);
                if (mobile == null) {
                    window.showErrorMessageBelowCtrl("PersonalContact", "", false);
                    window.showErrorMessageBelowCtrl("PersonalContact", "Please enter valid mobile number", true);
                    return false;
                } else {
                    $("#PersonalContact").val(mobile);
                    window.showErrorMessageBelowCtrl("PersonalContact", "", false);
                }
            });
            $(document).on("input propertychange", "#officialContact", function(event) {
                var mobile = $("#officialContact").val().trim();
                if (mobile.length > 0) {
                    mobile = mobileCheck(mobile);
                    if (mobile == null) {
                        window.showErrorMessageBelowCtrl("officialContact", "", false);
                        window.showErrorMessageBelowCtrl("officialContact", "Please enter valid mobile number", true);
                        return false;
                    } else {
                        $("#officialContact").val(mobile);
                        window.showErrorMessageBelowCtrl("officialContact", "", false);
                    }
                } else {
                    window.showErrorMessageBelowCtrl("officialContact", "", false);
                }
            });

            $(document).on("click", "#SubmitBasicInformation", function(event) {
                var canUpdateBasicInfo = true;
                var memberPin = $("#memberPin").val();
                var nickName = $("#Name").val();
                var personalContact = $("#PersonalContact").val();
                var cardNumber = $("#cardNumber").val();
                var officialContact = $("#officialContact").val();
                var officialEmail = $("#officialEmail").val();
                var officalDetailsId = $("#officalDetailsId").val();
                var officalDetailsStatus = $("#officalDetailsStatus").val();

                if (nickName == "" || nickName.length <= 0) {
                    window.showErrorMessageBelowCtrl("officialContact", "", false);
                    window.showErrorMessageBelowCtrl("officialContact", "Please enter valid mobile number", true);
                    canUpdateBasicInfo = false;
                }
                if (personalContact == "" || personalContact.length <= 0) {
                    window.showErrorMessageBelowCtrl("PersonalContact", "", false);
                    window.showErrorMessageBelowCtrl("PersonalContact", "Please enter valid mobile number", true);
                    canUpdateBasicInfo = false;
                } else {
                    var mobile = mobileCheck(personalContact);
                    if (mobile == null) {
                        window.showErrorMessageBelowCtrl("PersonalContact", "", false);
                        window.showErrorMessageBelowCtrl("PersonalContact", "Please enter valid Personal mobile number", true);
                        canUpdateBasicInfo = false;
                    }
                }

                if (officialContact != "" && officialContact.length > 0) {
                    var mobile = mobileCheck(officialContact);
                    if (mobile == null) {
                        window.showErrorMessageBelowCtrl("PersonalContact", "", false);
                        window.showErrorMessageBelowCtrl("PersonalContact", "Please enter valid Offical mobile number", true);
                        canUpdateBasicInfo = false;
                    }
                }
                if (cardNumber != "" && cardNumber.length > 0) {
                    if (officalDetailsStatus == "" || officalDetailsStatus.length <= 0) {
                        window.showErrorMessageBelowCtrl("officalDetailsStatus", "", false);
                        window.showErrorMessageBelowCtrl("officalDetailsStatus", "Please select Status", true);
                        canUpdateBasicInfo = false;
                    } else {
                        window.showErrorMessageBelowCtrl("officalDetailsStatus", "", false);
                    }
                }

                if (canUpdateBasicInfo == true) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/UpdateTeamMemberBasicInformation",
                        cache: false,
                        async: true,
                        data: { memberPin: memberPin, nickName: nickName, personalContact: personalContact, cardNumber: cardNumber, officialContact: officialContact, officialEmail: officialEmail, officalDetailsId: officalDetailsId, officalDetailsStatus: officalDetailsStatus },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "success",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function() {
                            $.unblockUI();

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on("change", "#TinNo", function(event) {
                 window.showErrorMessageBelowCtrl("TinNo", "", false);
            });

            $(document).on("click", "#SubmitTaxInformation", function(event) {
                var canUpdateTaxInformation = true;
                var memberPin = $("#Pin").val();
                var memberId = $("#Id").val();
                var taxesCricle = $("#TaxesCircle").val();
                var taxesZone = $("#TaxesZone").val();
                var tinNo = $("#TinNo").val();

                if (taxesCricle != "" && taxesCricle.length > 0 && taxesZone != "" && taxesZone.length > 0 && (tinNo == "" || tinNo == null)) {
                    window.showErrorMessageBelowCtrl("TinNo", "", false);
                    window.showErrorMessageBelowCtrl("TinNo", "Please enter TIN", true);
                    canUpdateTaxInformation = false;
                } else {
                    window.showErrorMessageBelowCtrl("TinNo", "", false);
                }

                if (canUpdateTaxInformation == true) {
                    var teamMemberTaxInformationViewModelObj = new TeamMemberTaxInformationViewModel();
                    teamMemberTaxInformationViewModelObj.Id = memberId;
                    teamMemberTaxInformationViewModelObj.Pin = memberPin;
                    teamMemberTaxInformationViewModelObj.TaxesCircle = taxesCricle;
                    teamMemberTaxInformationViewModelObj.TaxesZone = taxesZone;
                    teamMemberTaxInformationViewModelObj.TinNo = tinNo;
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/SaveTaxInformation",
                        cache: false,
                        async: true,
                        data: { taxInformationViewModel: teamMemberTaxInformationViewModelObj },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "success",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on("click", ".glyphicon-trash-employment-history", function() {
                var id = $(this).attr("id");
                var name = $(this).attr("employment-data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> from this Employment History?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "HR/TeamMember/DeleteEmploymentHistory",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Employement History Deleted Successfully</div>';
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "success",
                                        });
                                        $("#employment-history-" + id).remove();
                                        //$('.customMessage').append(errorMessage);
                                        //dataTableRender();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Batch Delete Failed</div>';
                                    //$('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", ".glyphicon-trash-salary-history", function() {
                var id = $(this).attr("id");
                var name = $(this).attr("employment-data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> from this Salary History?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "HR/TeamMember/DeleteSalaryHistory",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Employement History Deleted Successfully</div>';
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "success",
                                        });
                                        $("#Salary-history-" + id).remove();
                                        //$('.customMessage').append(errorMessage);
                                        //dataTableRender();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Batch Delete Failed</div>';
                                    //$('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", ".glyphicon-trash-tds-history", function() {
                var id = $(this).attr("id");
                var name = $(this).attr("employment-data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> from this TDS History?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "HR/TeamMember/DeleteTdsHistory",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "success",
                                        });
                                        $("#Tds-history-" + id).remove();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Batch Delete Failed</div>';
                                    //$('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", ".glyphicon-trash-bank-history", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> this from Bank History?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "HR/TeamMember/DeleteBankHistory",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (result2) {
                                    $.unblockUI();
                                    if (result2.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: result2.Message,
                                            displayMessageType: "success",
                                        });
                                        $("#Bank-history-" + id).remove();
                                        var bankHistoryData = $("#bankHistorytable").find(".bankHistoryData");
                                        if (bankHistoryData.length <= 0) {
                                            $('<tr><td colspan="8" style="text-align: center">No Bank history found for this Team Member</td></tr>').insertAfter($("#bankHistoryHeader"));
                                        }
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result2.Message,
                                            displayMessageType: "error",
                                        });
                                        $('html, body').animate({
                                            scrollTop: $("body").offset().top
                                        }, 2000);
                                    }

                                    

                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (result2) {
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", ".glyphicon-trash-mentor-history", function() {
                var id = $(this).attr("id");
                var name = $(this).attr("employment-data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> from this Mentor History?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "HR/TeamMember/DeleteMentorHistory",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Employement History Deleted Successfully</div>';
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "success",
                                        });
                                        $("#Mentor-history-" + id).remove();
                                        //$('.customMessage').append(errorMessage);
                                        //dataTableRender();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Batch Delete Failed</div>';
                                    //$('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", ".glyphicon-trash-shift-weekend-history", function() {
                var id = $(this).attr("id");
                var name = $(this).attr("employment-data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> from this Shift Weekend History?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "HR/TeamMember/DeleteShiftWeekendHistory",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Employement History Deleted Successfully</div>';
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "success",
                                        });
                                        $("#Shift-Weekend-History-" + id).remove();
                                        //$('.customMessage').append(errorMessage);
                                        //dataTableRender();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Batch Delete Failed</div>';
                                    //$('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

        });

        function TeamMemberTaxInformationViewModel() {
            this.Id = 0;
            this.Pin = 0;
            this.TaxesCircle = "";
            this.TaxesZone = "";
            this.TinNo = "";
            this.TeamMemberTaxInformationViewModel = function () { };
        }
    </script>
}