﻿@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.Entity.MediaDb
@{
    bool hasImage = ViewBag.HasImage;
}
<style>
    #TrainingCertificateImageDiv img {
        display: block;
        margin: 0 auto;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">Training Certificate Image</div>
    <div class="panel-body">
        <div class="form-horizontal">
            @if (hasImage)
            {
                TeamMember member = ViewBag.TeamMember;
                TrainingInfo trainingInfo = ViewBag.TrainingInfo;
                TeamMemberTrainingCertificateMediaImage trainingCertificateMediaImage = ViewBag.TrainingCertificateImage;
                <div class="form-group">
                    @Html.Label("Name", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @member.Name
                    </div>
                    @Html.Label("Member Pin", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @member.Pin
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Traing Title", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @trainingInfo.TrainingTitle
                    </div>

                    @Html.Label("Topic Cover", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @trainingInfo.TopicCovere
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" id="TrainingCertificateImageDiv">
                        <div class="panel panel-default">
                            @{
                                if (trainingCertificateMediaImage != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(trainingCertificateMediaImage.Images);
                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                    <img src="@imageSrc" id="TrainingCertificateBase" class="nImage img-responsive" alt="" />
                                }
                                else
                                {
                                    <img src="" id="TrainingCertificateBase" class="nImage img-responsive" alt="Image Not Found" />
                                }
                            }
                        </div>
                        
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <span class="text-center">Certificate Not Found!</span>
                </div>
            }
        </div>
    </div>
</div>
