﻿@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.Entity.MediaDb
@{
    bool hasImage = ViewBag.HasImage;
}
<style>
    #AcademicCertificateImageDiv img {
        display: block;
        margin: 0 auto;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">Academic Certificate Image</div>
    <div class="panel-body">
        <div class="form-horizontal">
            @if (hasImage)
            {
                TeamMember member = ViewBag.TeamMember;
                AcademicInfo academicInfo = ViewBag.AcademicInfo;
                TeamMemberCertificateMediaImage academicCertificateMediaImage = ViewBag.CertificateImage;
                <div class="form-group">
                    @Html.Label("Name", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @member.Name
                    </div>
                    @Html.Label("Member Pin", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @member.Pin
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Exam", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @academicInfo.Exam.Name
                    </div>

                    @Html.Label("Degree Title", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @academicInfo.DegreeTitle
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" id="AcademicCertificateImageDiv">
                        <div class="panel panel-default">
                            @{
                                if (academicCertificateMediaImage != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(academicCertificateMediaImage.Images);
                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                    <img src="@imageSrc" id="AcademicCertificateBase" class="nImage img-responsive" style="padding: 10px; border-color: dodgerblue" alt="" />
                                }
                                else
                                {
                                    <img src="" id="AcademicCertificateBase" class="nImage img-responsive" style="padding: 2px; padding-left: 2px;" alt="Image Not Found" />
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <span class="text-center">Certificate Not Found!</span>
                </div>
            }
        </div>
    </div>
</div>
