﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@model UdvashERP.BusinessModel.ViewModel.MaterialDistribution

@{ Layout = null;}

@{

    List<long> materialArray=new List<long>();
    foreach (Material m in ViewBag.MaterialList)
    {
        <div style="float: left; text-align: center;background-color: #428BCA;margin-right: 2px; color: whitesmoke ">
            @{
                bool isExist = false;
                if (materialArray.Contains(m.MaterialType.Id))
                {
                    isExist = true;
                }
                else
                {
                    materialArray.Add(m.MaterialType.Id);
                }
                if (materialArray.Contains(m.MaterialType.Id))
                {
                    if (isExist == false)
                    {
                        <div style="font-style: italic;padding: 8px">@m.MaterialType.Name</div>

                        foreach (Material check in m.MaterialType.Materials)
                        {
                            if (check.MaterialType.Id == m.MaterialType.Id)
                            {
                                if (check.Program.Id == m.Program.Id && check.Session.Id == m.Session.Id)
                                {
                                    <div style="background-color: white;padding: 8px;text-align: left; color: black">
                                        <input type="checkbox" class="materialIds" id="@check.Id" value="@check.Id" name="materialIds[]" />
                                        <span style="">@check.Name</span>
                                        <br />
                                    </div>
                                }
                            }
                        }

                    }

                }
            }
        </div>
    }
}