﻿@model UdvashERP.Areas.Student.Models.MaterialSearchInfo

@{
    ViewBag.Title = "Get Material List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Get Material List</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GenerateMaterialListReport", "MaterialDistribution", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.OrganizationList, "Select organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBranch, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCampus, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Batch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Material Type", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedMaterialType, (SelectList)ViewBag.SelectedMaterialType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedMaterialType, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Material", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedMaterial, (SelectList)ViewBag.SelectedMaterial, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedMaterial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Material Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.MaterialStatus, Model.MaterialStatusList, new { @class = "form-control" })
                    </div>
                    @Html.Label("Payment Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.PaymentStatus, Model.PaymentStatusList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center; font-weight:bold;">
                        <h4>Select Information to View</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 80px">

                    <div class="col-md-12">
                        <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                            <option value="Program Roll">Program Roll</option>
                            <option value="Mobile No">Mobile No(P)</option>
                            <option value="StudentName">Nick Name</option>
                            <option value="FatherName">Father's Name</option>
                            <option value="Due Payment">Due Payment</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Generate" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")

    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        @**----document ready----*@
        $(document).ready(function() {

            $("#OrganizationId").change(function() {

                $('#ProgramId option').remove();
                $("#SessionId option:not(:first)").remove();
                $('#SelectedBranch option').remove();
                $('#SelectedCampus option').remove();
                $('#SelectedBatchDays option').remove();
                $('#SelectedBatchTime option').remove();
                $('#SelectedBatch option').remove();
                $('#SelectedMaterial option').remove();

                var organizationId = $("#OrganizationId").val();

                if (organizationId != "" && organizationId != null) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#ProgramId').append('<option value="">Select a program</option>');
                                $.each(response.returnProgramList, function(i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }

                    });
                } else {
                    $("#ProgramId").html("<option value=''>Select Program</option>");
                }

            });

            @*----function for getting the authorize session----*@
            $("#ProgramId").change(function() {
                var programId = $(this).val();
                $("#SessionId option:not(:first)").remove();

                $('#SelectedBranch option').remove();
                $('#SelectedCampus option').remove();
                $('#SelectedBatchDays option').remove();
                $('#SelectedBatchTime option').remove();
                $('#SelectedBatch option').remove();
                $('#SelectedMaterial option').remove();
                var organizationId = $("#OrganizationId").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {


                                $.each(response.returnSessionList, function(i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }

                    });
                }
            });
            @*----end function for getting the authorize session----*@




            @*----function for getting the branch----*@
            $("#SessionId").change(function() {

                var organizationId = $("#OrganizationId").val();
                var programId = $('#ProgramId').find('option:selected').val();
                var sessionId = $("#SessionId").val();
                var materialTypeId = $("#SelectedMaterialType").val();
                $('#SelectedBranch option').remove();
                $('#SelectedMaterial option').remove();
                $('#SelectedCampus option').remove();
                $('#SelectedBatchDays option').remove();
                $('#SelectedBatchTime option').remove();
                $('#SelectedBatch option').remove();
                if (organizationId != "" && programId != "" && sessionId != "") {
                    if (materialTypeId == null) {
                        var myArray = [];
                        myArray.push(-200);
                        materialTypeId = myArray;
                    }
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#SelectedBranch').append('<option value="0">All Branch</option>');
                                $.each(response.returnBranchList, function(i, v) {
                                    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            $.unblockUI();
                        }
                    });
                }

            }); @*----end function for getting the branch----*@




            @*----function for getting the campus----*@
            $("#SelectedBranch").change(function() {
                $('#SelectedCampus option').remove();
                $('#SelectedBatchDays option').remove();
                $('#SelectedBatchTime option').remove();
                $('#SelectedBatch option').remove();

                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $(this).val();

                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    type: "POST",
                    data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $('#SelectedCampus').append('<option value="0">All Campus</option>');
                            $.each(response.returnCampusList, function(i, v) {
                                $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function() {
                        $.unblockUI();
                    }
                });
            });
            @*----end function for getting the campus----*@



            @*----function for getting the batch days/ time/batch----*@

            $("#SelectedCampus").change(function() {
                var programId = $('#ProgramId').find('option:selected').val();
                var sessionId = $('#SessionId').find('option:selected').val();
                var branchId = $('#SelectedBranch').find('option:selected').val();
                var campusId = $(this).val();
                var organizationId = $("#OrganizationId").val();
                $('#SelectedBatchDays option').remove();
                $('#SelectedBatchTime option').remove();
                $('#SelectedBatch option').remove();

                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                    type: "POST",
                    data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, campusIds: campusId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $('#SelectedBatchDays').append('<option value="0">All Batch Day</option>');
                        $.each(response.returnBatchDays, function(i, v) {
                            if (v.Value == 0)
                                $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                            else
                                $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                        });
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function() {
                        $.unblockUI();
                    }
                });

            });

            @*----end function for getting the batch days/ time/batch----*@


            @*----function for getting the batch time/batch----*@

            $("#SelectedBatchDays").change(function() {

                var programId = $('#ProgramId').find('option:selected').val();
                var sessionId = $('#SessionId').find('option:selected').val();
                var branchId = $('#SelectedBranch').val();
                var campusId = $('#SelectedCampus').val();
                var batchDays = $(this).val();
                var organizationId = $("#OrganizationId").val();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "" && batchDays != null && batchDays != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            $('#SelectedBatchTime').append('<option value="0">All Batch Time</option>');
                            $.each(response.returnBatchTime, function(i, v) {
                                $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            @*----function for getting the batch time/batch----*@



            @*----function for getting the batch----*@

            $("#SelectedBatchTime").change(function() {

                var programId = $('#ProgramId').find('option:selected').val();
                var sessionId = $('#SessionId').find('option:selected').val();
                var branchId = $('#SelectedBranch').val();
                var campusId = $('#SelectedCampus').val();
                var batchDays = $('#SelectedBatchDays').val();
                var batchTime = $('#SelectedBatchTime').val();
                var organizationId = $("#OrganizationId").val();
                $("#SelectedBatch option").remove();

                var batchTimeText = [];
                $("#SelectedBatchTime option:selected").each(function() {
                    var $this = $(this);
                    if ($this.length) {
                        batchTimeText.push($this.text());
                    }
                });

                if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != ""
                    && branchId != null && branchId != "" && campusId != null && campusId != "" && batchDays != null && batchDays != "" && batchTime != null && batchTime != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, campusIds: campusId, branchIds: branchId, batchDays: batchDays, batchTimes: batchTime, batchTimeText: batchTimeText, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#SelectedBatch').append('<option value="0">All Batch</option>');
                                $.each(response.returnBatch, function(i, v) {
                                    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });
            @*----function for getting the batch----*@

            @*----function for getting the material----*@
            $("#SelectedMaterialType").change(function() {
            var programId = $('#ProgramId').find('option:selected').val();
            var sessionId = $('#SessionId').find('option:selected').val();
            var materialTypeId = $(this).val();
            if (programId != "" && sessionId != "") {
                $.ajax({
                    url: '@Url.Action("GetMaterialByMaterialTypeProgramSession", "MaterialDistribution")',
                    type: "POST",
                    data: { "materialTypeId": materialTypeId, "programId": programId, "sessionId": sessionId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();

                        var listItems = "";
                        $.each(response, function(index) {
                            listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        });
                        $("#SelectedMaterial").html(listItems);
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function() {
                        $.unblockUI();
                    }
                });
            }

        });


        @*----end function for getting the material----*@

        $('#informationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });
        });
    </script>
    }
