﻿@using UdvashERP.BusinessModel.Entity
@model UdvashERP.BusinessModel.ViewModel.MaterialDistribution

@{
    ViewBag.Title = "Material Distribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bStudentPrn = ViewBag.BlockStudent;
}
<div id="successMsg" class="text-center"></div>
<div id="warningMsg" class="text-center"></div>
<div id="errorMsg" class="text-center"></div>
<div class="BlockPrnNo text-center">
    @if (bStudentPrn != null)
    {
        <div class='alert alert-danger '>
            <a class='close' data-dismiss='alert'>×</a><strong>Error!</strong>
            @(bStudentPrn) students blocked to distribute metarial;
        </div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Material Distribution</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "materialEntryForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">@Html.DropDownList("OrganizationId", (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">@Html.DropDownList("programId", (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-10"
                         >@Html.DropDownList("sessionId", (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("", "Materials", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*<div style="width: 280px; height: 50px">

                            </div>*@
                        <div id="materialList">
                            No records found
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="xmlText" class="control-label col-md-2">Browse XML:</label>
                            <div class="col-md-8">
                                <input type="text" id="xmlText" class="col-md-8  form-control" readonly="readonly" />
                                <input type="file" name="xmlFile" id="xmlFile" style="display: block; height: 0; width: 0;">&nbsp;
                                <input type="button" value="Upload" class="btn btn-primary" id="xmlUpload" />
                            </div>
                            <div class="text-center" id="" style="color: red"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("", "Enter Student Program Roll", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextArea("studentRoll", new { @class = "form-control", rows = 10 })
                        
                    </div>

                    @Html.Label("", "", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <p><h2 style="color: darkgreen">Last Program Roll</h2><h2 id="lastId" style="color: darkgreen">@*@ViewBag.LastPrn*@</h2></p>
                    </div>


                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Distribute" class="btn btn-primary" id="Distribute" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*<input type="hidden" value="@ViewBag.NotMatchprn" id="notmatchprn"/>
<input type="hidden" value="@ViewBag.BlockStudent" id="bStudentprn" />*@
<input type="hidden" value="" id="notmatchprn"/>
    <input type="hidden" value="" id="bStudentprn" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        @*----onload program function----*@
        var programId = $("#programId option:selected").val();
        var organizationId = $("#OrganizationId").val();
        if (programId > 0 && organizationId > 0) {
            OnLoadSession(programId, organizationId);
        }

        function OnLoadSession(programId, organizationId) {
            $.ajax({
                @*url: '@Url.Action("GetProgram", "MaterialDistribution")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                type: "POST",
                //data: { "programId": programId },
                data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                beforeSend: function() {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                    });
                },
                success: function(response, status, xhr) {
                    $.unblockUI();
                    if (response.IsSuccess) {
                        $.each(response.returnSessionList, function(i, v) {
                            $('#sessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                },
                complete: function() {
                    $.unblockUI();
                },

                error: function(response, status, xhr) {
                    console.log("Failed -----");
                    //console.log(response);
                }
            });
        }

        @*----end onload program function----*@

        function cleanArray(actual) {
            var newArray = new Array();
            for (var i = 0; i < actual.length; i++) {
                if (actual[i]) {
                    newArray.push(actual[i]);
                }
            }
            return newArray;
        }

        $(document).ready(function() {

            var rolls = [];
            $("#studentRoll").val('');
            var maxLength = 11;
            $('#studentRoll').on('input focus keydown keyup', function() {
                var text = $(this).val();
                var lines = text.split(/(\r\n|\n|\r)/gm);
                for (var i = 0; i < lines.length; i++) {
                    if (lines[i].length > maxLength) {
                        lines[i] = lines[i].substring(0, maxLength);
                    }
                }
                $(this).val(lines.join(''));
            });

            $("#studentRoll").on("input propertychange", function(e) {


                rolls = $('#studentRoll').val().split("\n");

                rolls = cleanArray(rolls);
                if (rolls.length > 0) {
                    if (rolls[rolls.length - 1] == "") {
                        $('#lastId').text(rolls[rolls.length - 2]);
                    } else {
                        $('#lastId').text(rolls[rolls.length - 1]);
                    }
                } else {
                    $('#lastId').text("");
                }

            });

            $("#OrganizationId").change(function() {
                var organizationId = $("#OrganizationId").val();
                $('#programId').empty();
                if (organizationId != "" && organizationId != null) {
                    $.ajax({
                        @*url: '@Url.Action("GetProgramByOrganization", "MaterialDistribution")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $('#programId').append('<option value="">Select a Program</option>');
                                $.each(response.returnProgramList, function(i, v) {
                                    $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            console.log("Failed -----");
                        }
                    });
                } else {
                    $('#programId').append("<option value=''>Select a Program</option>");
                }
            });


            @*----function for getting the program----*@
            $("#programId").change(function() {
                var programId = $(this).val();
                $('#sessionId').empty();
                $('#sessionId').append("<option value=''>Select Session</option>");
                if (programId > 0 && programId != null) {
                    OnLoadSession(programId);
                } else {
                    $('#sessionId').empty();
                    $('#sessionId').append("<option value=''>Select Session</option>");
                    $("#materialList").empty();
                    $('#materialList').append('No records found');
                }
            });
            $("#sessionId").change(function() {
                var sessionId = $(this).val();
                var programId = $("#programId").val();
                if (programId > 0 && sessionId > 0 && programId != null && sessionId != null) {
                    $.ajax({
                        url: '@Url.Action("GetMaterialsBySessionProgram", "MaterialDistribution")',
                        type: "POST",
                        data: { "sessionId": sessionId, "programId": programId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function(response, status, xhr) {
                            if (response.hasOwnProperty('IsSuccess')) {
                                $("#materialList").html(response.Message);
                            } else {
                                $("#materialList").html(response);
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            console.log(response);
                        }
                    });
                } else {
                    $("#materialList").empty();
                    $('#materialList').append('No records found');
                }
            });
            $("#Distribute").on('click', function() {
                var sessionId = $("#sessionId").val();
                var programId = $("#programId").val();
                var studentRoll = $("#studentRoll").val();
                var materialIds = new Array();
                $(".materialIds:checked").each(function() {
                    materialIds.push($(this).val());
                });

                //console.log(materialIds + " //" + studentRoll + " //" + sessionId + "// " + programId);
                if (sessionId > 0 && sessionId != null && programId > 0 && programId != null && studentRoll.length > 0 && materialIds.length > 0) {
                    $.ajax({
                        url: '@Url.Action("MaterialDistribution", "MaterialDistribution")',
                        type: "POST",
                        data: { "sessionId": sessionId, "programId": programId, "materialIds": materialIds, "studentRoll": studentRoll },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function(response) {
                            if (response.successMsg != null) {
                                $("#successMsg").html("<div class='alert alert-success '><a class='close' data-dismiss='alert'>×</a><strong>" +
                                    "Success!" + response.successMsg + " </strong></div>");
                            }
                            if (response.errorMsg != null) {
                                $("#errorMsg").html("<div class='alert alert-danger '><a class='close' data-dismiss='alert'>×</a><strong>" +
                                    "Error!" + response.errorMsg + " </strong></div>");
                            }
                            if (response.warningMsg != null) {
                                $("#warningMsg").html("<div class='alert alert-warning '><a class='close' data-dismiss='alert'>×</a><strong>" +
                                    "Warning!" + response.warningMsg + " </strong></div>");
                            }
                            if (response.notMatchPrn != null) {
                                $("#notmatchprn").val(response.notMatchPrn);
                            }
                            if (response.blockStudent != null) {
                                $("#bStudentprn").val(response.blockStudent);
                                $(".BlockPrnNo").html("<div class='alert alert-danger '><a class='close' data-dismiss='alert'>×</a><strong>" +
                                    "Error!" + response.blockStudent + " students blocked to distribute metarial</strong></div>");
                            }
                            if (response.lastPrn != null) {
                                $("#lastId").html(response.lastPrn);
                            }
                            // students blocked to distribute metarial;
                            $.unblockUI();
                        },
                        complete: function () {
                            $("#studentRoll").val("");
                            $('#xmlText').prop('disabled', false);
                            $("#xmlUpload").prop('disabled', false);
                            $("#materialList").html("");
                            $("#OrganizationId").val("");
                            $('#programId').empty();
                            $('#programId').append("<option value=''>Select Program</option>");
                            $('#sessionId').empty();
                            $('#sessionId').append("<option value=''>Select Session</option>");
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            console.log(response);
                        }
                    });
                } else {
                    $.fn.customMessage({
                        displayMessage: "May be you need to select field.",
                        displayMessageType: "e",
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var v = $("input[id=notmatchprn]").val();
            $("#studentRoll").val(v);

        });
        $('#xmlText').click(function() {
            $('input[type=file]').trigger('click');
        });

        $('input[type=file]').change(function() {
            $('#xmlText').val($(this).val());
        });
        var allStudentRolls = [];
        $("#xmlUpload").click(function() {
            var xmltext = $('#xmlText');
            var formData = new FormData(document.getElementById("materialEntryForm"));
            $.ajax({
                type: "post",
                url: '@Url.Action("MaterialXmlUpload", "MaterialDistribution")',
                data: formData,
                processData: false,
                contentType: false,
                success: function(result) {
                    xmltext.val("");
                    if (result.isSuccess == true) {
                        $('#xmlText').prop('disabled', true);
                        $("#xmlUpload").prop('disabled', true);
                        var studentPrograms = result.studentPrograms;
                        var totalRows = parseInt(studentPrograms.length);
                        // console.log("ca:" + studentPrograms);
                        if ($('#studentRoll').val() != "") {
                            $("#studentRoll").val($("#studentRoll").val() + "\n");
                        }
                        for (var i = 0; i < totalRows; i++) {
                            $("#studentRoll").val($("#studentRoll").val() + studentPrograms[i].Roll + "\n");

                            allStudentRolls.push(studentPrograms[i].Roll);
                            var lastIdEntered = allStudentRolls[allStudentRolls.length - 1];
                            $("#lastId").text(lastIdEntered).css("font-weight", "Bold");

                        }
                    } else {
                        $.fn.customMessage({
                            displayMessage: result.errmsg,
                            displayMessageType: "e",
                        });
                        $('html, body').animate({ 'scrollTop': 0 }, 100);

                    }
                }
            });
        });
    </script>
}