﻿@model UdvashERP.Areas.Student.Models.MaterialSearchInfo

@{
    ViewBag.Title = "Material Distribution Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}
@Styles.Render("~/Content/styledatatable")
<table id="tbl">
    <tr class="filteringRow form-group">
        <th class="form-group">
            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" value="@ViewBag.PageSize" />
        </th>
        <th class="form-group">
            <input type="button" name="search" id="searchBtn" value="Search" class="form-control btn btn-primary" />
        </th>
        <th class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" name="export" id="exportMaterialDistribution" value="Export" class="btn btn-primary" />
            </div>
        </th>
    </tr>
</table>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Material Distribution Report</h4>
    </div>
    <div class="panel-body" id="MaterialDistributionReportprint">

        @*@Html.AntiForgeryToken()*@

        <div class="form-horizontal">

            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                <div style="">
                    <div style="float: left; width: 120px;height: 120px;background-color: ">
                        <img src="@logoImage" width="150" height="150" />
                    </div>
                    <div style="float:left;width:670px ;height: 120px; background-color: ">
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>
                        @{
                            if (@ViewBag.ProgramSession != null)
                            {
                                <p style="text-align: center">@ViewBag.ProgramSession</p>
                            }
                        }
                        <p style="text-align: center"><span style="text-align: center;font-size: 16px">Materials Distribution Report</span></p>
                    </div>
                    <div style="float: right; width: 120px;height: 120px; ">
                    </div>
                </div>
            </div>
           
            <div class="form-group col-md-12">
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right">Branch :</td>
                        <td style="text-align: left">@ViewBag.Branch</td>
                        <td style="text-align: right">Campus :</td>
                        <td style="text-align: left">@ViewBag.CampusName</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Batch Days :</td>
                        <td style="text-align: left">@ViewBag.BatchDays</td>
                        <td style="text-align: right">Batch Name :</td>
                        <td style="text-align: left">@ViewBag.BatchName</td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                        
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th>Student Info</th>
                            <th>Provided</th>
                            <th>Not Provided</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
             
               
            
        </div>
    </div>
</div>
<div class="hiddenField">
    @Html.Hidden("materialDistributionList", ViewData["materialSearchInfo"])

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        var organizationId = @Html.Raw(Json.Encode(@Model.OrganizationId));
        var programId = @Html.Raw(Json.Encode(@Model.ProgramId));
        var sessionId = @Html.Raw(Json.Encode(@Model.SessionId));
        var branchIds = @Html.Raw(Json.Encode(@Model.SelectedBranch));
        var campusIds = @Html.Raw(Json.Encode(@Model.SelectedCampus));
        var batchDays = @Html.Raw(Json.Encode(@Model.SelectedBatchDays));
        var batchTimes = @Html.Raw(Json.Encode(@Model.SelectedBatchTime));
        var batchs = @Html.Raw(Json.Encode(@Model.SelectedBatch));
        var materialTypeIds = @Html.Raw(Json.Encode(@Model.SelectedMaterialType));
        var materialIds = @Html.Raw(Json.Encode(@Model.SelectedMaterial));
        var materialStatus = @Html.Raw(Json.Encode(@Model.MaterialStatus));
        var paymentStatus = @Html.Raw(Json.Encode(@Model.PaymentStatus));
        var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));

        $(document).ready(function () {
        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                order: [[0, "asc"]],
                "bSort": false,
                ajax: {
                    url: '@Url.Action("GetMaterialList", "MaterialDistribution")',
                    type: 'POST',
                    data: function (d) {
                        d.materialSearchInfoObj = $('#materialDistributionList').val();
                    }
                }
            });
        }
        dataTableRender();
        $(document).on("click", "#searchBtn", function () {
            dataTableRender();
        });
    });





    $(document).on("click", "#exportMaterialDistribution", function () {
        var urlParam = {
            organizationId:organizationId,
            programId:programId,
            sessionId:sessionId,
            branchIds:branchIds,
            campusIds:campusIds,
            batchDays:batchDays,
            batchTimes:batchTimes,
            batchs:batchs,
            materialTypeIds:materialTypeIds,
            materialIds:materialIds,
            materialStatus:materialStatus,
            paymentStatus:paymentStatus,
            informationViewList:informationViewList
        };
        var url = "@Url.Action("ExportMaterialDistributionList", "MaterialDistribution", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
</script>

}


