﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Campus>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Campus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<div class="form-group">
    @using (Html.BeginForm("Create", "Campus", FormMethod.Get))
    {
        <div class="form-actions">
            <input type="submit" value="Add Campus" class="btn btn-primary" />
        </div>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
       <h3 class="panel-title">Manage Campus</h3>
    </div>
    <div class="panel-body">
        @*@Html.AntiForgeryToken()*@
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Orgranization", (IEnumerable<SelectListItem>)ViewBag.organizationlist, "--Organization--", new { @class = "form-control" })
                </th> 
                <th class="form-group">
                    @Html.DropDownList("BRANCH", (IEnumerable<SelectListItem>)ViewBag.BranchId, "--Branch--", new { @class = "form-control" })
                </th>  
                <th class="form-group">
                    <input id="Name" name="name" type="text" class="form-control " placeholder="Campus" />
                </th>
                <th class="form-group">
                    <input id="ContactNo" name="ContactNo" type="text" class="form-control " placeholder="Mobile No." />
                </th>
                <th class="form-group">
                    <input id="Rank" name="rank" type="text" class="form-control " placeholder="Rank" />
                </th>

                <th class="form-group ">
                    @if (ViewBag.STATUSTEXT != null)
                    {
                        <select id="Status" class="form-control ">
                            <option value="">Select Status </option>
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                {

                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>

                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>

            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Organization
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>
@section scripts{
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            function dataTableRender() {

                var pageSize = 10;

                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    pageSize = parseInt($('#PageSize').val()); 
                }
                else {
                    $('#PageSize').val(pageSize);
                }

                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": pageSize,
                    //stateSave: false,
                    order: [[4, "asc"]],
                    ajax: {
                        url: '@Url.Action("Index", "Campus")',
                        type: 'POST',
                        data: function (d) {
                            d.orgId = $('#Orgranization').val();
                            d.bId = $('#BRANCH').val();
                            d.cName = $('#Name').val();
                            d.contactNumber = $('#ContactNo').val();
                            d.cRank = $('#Rank').val();
                            d.cStatus = $('#Status').val();
                        }
                    }
                });
            }

            dataTableRender();

            $(document).on('change', '#Orgranization', function (e) {
                $("#BRANCH option").remove();
                $('#BRANCH').append("<option value=''>---Branch---</option>");
                var orgId = $("#Orgranization").val();
                if (orgId != "") {
                    $.ajax({
                        type: "post",
                        //url: $("body").attr("data-project-root") + "Administration/Campus/GetBranchByOrg",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#BRANCH').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }

            });

            $(document).on("click", "#search", function () {
                dataTableRender();
            });




            $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
                var id = $(this).attr("id");
                var current = $(this).parent().text().trim();
                var action = $(this).attr("data-action");
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Campus/RankChange",
                    cache: false,
                    async: true,
                    data: { "id": id, "current": current, "action": action },
                    success: function (result) {
                        dataTableRender();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            });

            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> Campus?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Administration/Campus/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                //beforeSend: function () {
                                //    $.blockUI({
                                //        timeout: 0,
                                //        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                //    });
                                //},
                                success: function (result2) {
                                    //$.unblockUI();
                                    if (result2.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Campus Deleted Successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    }
                                    else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result2.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                },
                                //complete: function () {
                                //    $.unblockUI();
                                //},
                                error: function () {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });
        });
    </script>
}
