﻿@using System.Collections
@using UdvashERP.BusinessModel.Entity.Administration
@{
    var count = 0;
    IList<Branch> branchByOrganization = ViewBag.BranchByOrganization;
    IList<Branch> branchByProgramSession = ViewBag.BranchByProgramSession;
    
    foreach (var branch in branchByOrganization)
    {
        count++;
        if (branchByProgramSession!=null && branchByProgramSession.Contains(branch))
    {
            <span class="col-md-4"><input type="checkbox" value="@branch.Id" name="branchcheckbox" checked="checked" class="branchclass" />&nbsp;
@branch.Name &nbsp;</span>
    }
    else
    {
           <span class="col-md-4"><input type="checkbox" value="@branch.Id" name="branchcheckbox" class="branchclass" /> &nbsp;
@branch.Name &nbsp;</span>
    }
        if (count == 3)
        {
            <br/>
            count = 0;
        }

}
}

