﻿
<div class="removeThisClass">
    <div class="inline ">
        <input class="checkbox-inline" type="checkbox" id="allchecked" />
        <span style="">All</span>
    </div>
    <div class="col-md-10" id="checkbox">

        <div class="col-md-10" id="checkbox">

            @foreach (var program in @ViewBag.program)
            {
                if (program.Selected)
                {
                    <div class="inline">
                        <input class="checkbox-inline" type="checkbox" id="@program.Text" checked />
                        <span style="size: portrait"> @program.Value</span>
                    </div>
                }
                else
                {
                    <div class="inline">
                        <input class="checkbox-inline" type="checkbox" id="@program.Text" />
                        <span style="size: portrait"> @program.Value</span>
                    </div>
                }

            }
        </div>
    </div>
</div>

