﻿@model UdvashERP.BusinessModel.Entity.Administration.ProgramBranchSession


<div class="form-group">
    @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Session", (IEnumerable<SelectListItem>)ViewBag.SessionList, "Select a Session", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.Session)
    </div>
</div>