﻿@using UdvashERP.BusinessModel.ViewModel.Hr
@model IEnumerable<UdvashERP.BusinessModel.ViewModel.Hr.LeaveApplicationViewModel>
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "LeaveApprovedByMentor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int index = 0;
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
     .fixedwidthmax {
         width: 120px;
     }

    .fixwidthmed {
        width: 100px;
    }

    .fixwidthmin {
        width: 50px;
    }
    .customTableOne tr td:nth-child(1) input[type='text'] {
        width: 60px;
    }
    .customTableOne tr td:nth-child(2) input[type='text'] {
        width: 150px;
    }
    .customTableOne tr td:nth-child(3) select {
        width: 200px;
    }
    .customTableOne tr td:nth-child(4) input[type='text'] {
        width: 118px;
    }
    .customTableOne tr td:nth-child(5) input[type='text'] {
        width: 118px;
    }
    .customTableOne tr td:nth-child(6) input[type='text'] {
        width: 65px;
    }
    .customTableOne tr td:nth-child(7) input[type='text'] {
        width: 300px;
    }
    .customTableOne tr td:nth-child(8) input[type='text'] {
        width: 60px;
    }
    .customTableOne tr td:nth-child(9) input[type='text'] {
        width: 150px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Leave Approval by Mentor
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="lApproval">
            <li role="presentation" class="active">
                <a href="#la" id="ftab" aria-controls="la" role="tab" data-toggle="tab">
                    Pending Leave
                    <span class="pl"></span>
                </a>
            </li>
            <li role="presentation">
                <a href="#rla" class="a" id="stab" aria-controls="rla" role="tab" data-toggle="tab">
                    Recent History
                    <span class="rh"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content customTableOne">
            <div role="tabpanel" class="tab-pane active" id="la">
                <br/>
                <div class="displayData" style="max-height:60vh; overflow-x: scroll; overflow-y: scroll;">
                    <table id="leaveApplicationMentorTable" class="table table-bordered table-condensed table-hover table-striped display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>PIN</th>
                                <th>Name</th>
                                <th>Leave Type</th>
                                <th>Date From</th>
                                <th>Date To</th>
                                <th>Day</th>
                                <th>Reason</th>
                                <th>R.PIN</th>
                                <th>R.Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LeaveApplicationViewModel item in Model)
                            {
                                index++;
                                <tr class="@index" id="@index">
                                    <td class="1">
                                        <input id="@item.LeaveApplicationId" type="hidden" class="form-control leaveApplicationId" value="@item.LeaveApplicationId" disabled="disabled" />
                                        <input id="@item.TeamMemberPin-@index" type="text" class="form-control memberPin" value="@item.TeamMemberPin" disabled="disabled" />
                                    </td>
                                    <td class="2">
                                        <input id="@item.TeamMemberName-@index" type="text" class="form-control memberName" value="@item.TeamMemberName" disabled="disabled" />
                                    </td>
                                    <td class="3">
                                        <select id="LeaveId-@index" class="form-control memberLeaveType" name=''>
                                            @foreach (var leave in item.Leaves)
                                            {
                                                if (leave.IsSelected)
                                                {
                                                    <option class="form-control" title='vtt' value='@leave.LeaveId' selected="selected">@leave.ShowBalance</option>
                                                }
                                                else
                                                {
                                                    <option class="form-control" title='vtt' value='@leave.LeaveId'>@leave.ShowBalance</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="4">
                                        <input id="date1-@item.LeaveApplicationId" type="text" class="form-control memberLeaveDateFrom form_datetime fixedwidthmax " value="@Convert.ToDateTime(item.DateFrom).ToString("yyyy-MM-dd")" readonly="readonly" />
                                    </td>
                                    <td class="5">
                                        <input id="date2-@item.LeaveApplicationId" type="text" class="form-control memberLeaveDateTo form_datetime fixedwidthmax" value="@Convert.ToDateTime(item.DateTo).ToString("yyyy-MM-dd")" readonly="readonly" />
                                    </td>
                                    <td class="6">
                                        <input type="text" class="form-control memberLeaveDayCount" value="@item.TotalLeaveDay" readonly="readonly" />
                                    </td>
                                    <td class="7">
                                        <input id="reason-@index" type="text" class="form-control memberLeaveNote" value="@item.LeaveNote" />
                                    </td>
                                    <td class="8">
                                        <input id="responsible-@index" type="text" class="form-control memberLeaveResMemPin" value="@item.ResponsibleMemberPin" />
                                    </td>
                                    <td class="9">
                                        <input id="resname-@index" type="text" class="form-control memberLeaveResMemName" value="@item.ResponsibleMemberName" readonly="readonly" />
                                    </td>
                                    <td class="10">
                                        <a href="#" data-id="" class="glyphicon glyphicon-ok approvedbtn"> </a>
                                        <a href="#" data-id="" class="glyphicon glyphicon-remove rejectedbtn"> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br/>
                <p> Total <span id="leaveApplicationCount">0</span> leave application(s) found.</p>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input id="addLeaveApplicationRowByMentor" type="button" class="btn btn-primary pull-left" value="Add" />
                        <input id="leaveApplicationApproveAllByMentor" type="button" class="btn btn-primary pull-right" value="Approve All" />
                    </div>
                </div>
             </div>

            <div role="tabpanel" class="tab-pane" id="rla">
                <br/>
                @Html.Action("MentorRecentLeaveHistory", "LeaveApprovalMentor")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/LeaveApplicationHrMentor")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("focus", "input.form_datetime", function () {
                var today = new Date();
                var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();

                var pastMonth = new Date(today.setMonth(today.getMonth() - 1, 1));
                var startDate = pastMonth.getFullYear().toString() + "-" + (pastMonth.getMonth() + 1) + "-" + "01";
                $(this).datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: initialDate,
                    startDate: startDate,
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
            });
        });
    </script>

}