﻿@model IEnumerable<UdvashERP.Areas.Student.Models.StudentInfoSearch>

@{
    ViewBag.Title = "Student Info Edit Log";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/styledatatable")

<table id="tbl">
    <tr class="filteringRow form-group">
        <th class="form-group">
            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" value="@ViewBag.PageSize" />
        </th>
        <th class="form-group">
            <input type="button" name="search" id="searchBtn" value="Search" class="form-control btn btn-primary" />
        </th>
        <th class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
            </div>
        </th>
    </tr>
</table>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Info Edit Log</h4>
    </div>
    <div class="panel-body" id="MeritListReportprint">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div style="">

                    <div>
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>

                        @{
                            if (ViewBag.ProgramSession != null)
                            {
                                <p style="text-align: center">@ViewBag.ProgramSession</p>
                            }
                        }

                        <p style="text-align: center"><span style="text-align: center;font-size: 16px">Student Info Edit Log</span></p>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-12">
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right">Branch :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Branch != null)
                            {@ViewBag.Branch}
                        </td>
                        <td style="text-align: right">Campus :</td>
                        <td style="text-align: left">
                            @if (ViewBag.CampusName != null)
                            { @ViewBag.CampusName}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Batch Days :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchDays != null)
                            {@ViewBag.BatchDays}
                        </td>
                        <td style="text-align: right">Batch Time :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchTime != null)
                            {@ViewBag.BatchTime}
                        </td>

                    </tr>

                    <tr>
                        <td style="text-align: right">Batch Name :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchName != null)
                            {@ViewBag.BatchName}
                        </td>
                        <td style="text-align: right">Course :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Course != null)
                            {@ViewBag.Course}
                        </td>

                    </tr>
                    

                </table>
            </div>
        </div>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Sl.</th>

                    @if (ViewBag.informationViewList != null)
                    {
                        foreach (string informationView in @ViewBag.informationViewList)
                        {
                            if (informationView != "Program Roll")
                            {
                                <th>@informationView</th>
                                <th>@informationView (Updated)</th>
                            }
                            else
                            {
                                <th>@informationView</th>
                            }
                        }
                    }
                    <th>Update Count</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody class="text-center"></tbody>
        </table>
    </div>
    @*<div class="form-group text-center">
            <input class="btn btn-primary" id="export" value="Export" style="margin-top: 8px;padding-right: 5px;" />
        </div>*@
</div>
<div class="hiddenField">
    @Html.Hidden("studentInfoEditLogSelection", ViewData["studentInfoEditLog"])

</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Student/Report/ExamEvaluation.js"></script>*@
    <script src="~/Scripts/Exam/MeritList.js"></script>
    <script type="text/javascript" class="init">
    var generateBy = '@ViewBag.GenerateBy';
    $(document).ready(function () {
        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            if (generateBy == 2) {
                $("#lectureHeader").remove();
                $("#detailsHeader").remove();
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                order: [[0, "asc"]],
                "bSort": false,
                ajax: {
                    url: 'InformationEditLogReport',
                    type: 'POST',
                    data: function (d) {
                        d.studentInfoEditLogSelection = $('#studentInfoEditLogSelection').val(),
                        d.startDate = '@ViewBag.StartDate',
                        d.endDate = '@ViewBag.EndDate';
                    }
                }
            });
        }
        dataTableRender();
        $(document).on("click", "#searchBtn", function () {
            dataTableRender();
        });
    });

    $(document).on("click", "#export", function () {
        var urlParam = {
            studentInfoEditLogSelection: $('#studentInfoEditLogSelection').val(),
            startDate: '@ViewBag.StartDate',
            endDate: '@ViewBag.EndDate',
            programSessionHeader: '@ViewBag.ProgramSession',
            branchHeader: '@ViewBag.Branch',
            campusHeader: '@ViewBag.CampusName',
            batchDaysHeader: '@ViewBag.BatchDays',
            batchTimeHeader: '@ViewBag.BatchTime',
            batchHeader: '@ViewBag.BatchName',
            courseHeader: '@ViewBag.Course',

        };

        var url = "@Url.Action("ExportInformationEditLogReport", "Information", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });
    </script>

}
