﻿@Styles.Render("~/Content/styledatatable")
@using UdvashERP.BusinessRules
@model UdvashERP.Areas.Student.Models.StudentInfoSearch
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Student List";
}
<style>
     div.DTFC_LeftBodyLiner {
         overflow-x: hidden;
     }
</style>
<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Student List <span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="toggleCE">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "StudentListForm", id = "StudentListForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBranch, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedCampus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Batch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatch, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Course", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedCourse, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Version of Study", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("SelectedVersion", (IEnumerable<SelectListItem>)ViewBag.VersionOfStudyList, new { @class = "form-control" })
                    </div>
                    @Html.Label("Gender", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("SelectedGender", (IEnumerable<SelectListItem>)ViewBag.GenderList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Religion", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBox("SelectedReligion", (IEnumerable<SelectListItem>)ViewBag.ReligionList, new { @class = "form-control" })
                    </div>
                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" id="SelectedStatus" name="SelectedStatus" required="required">
                            <option value="0">All</option>
                            <option value="1">Admitted</option>
                            <option value="2">Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Date From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control date-from" name="StartDate" id="StartDate" readonly="readonly" />
                    </div>
                    @Html.Label("Date To", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control date-to" name="EndDate" id="EndDate" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="align-items: center; padding-left: 10%;">
                    <label class="control-label col-md-4" style="margin-top: 10px;">Student Count</label>
                    <div class="col-md-3">
                        <input class="form-control" name="studentCount" id="studentCount" value="..." style="margin-top: 2px; font-size: 14px; color: blue; text-align: center" disabled="" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="form-control btn btn-primary" id="studentCountButton" value="Count" style="margin-top: 2px; font-size: 14px; text-align: center" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                        @Html.ListBox("informationViewList", (IEnumerable<SelectListItem>)ViewBag.InformationViewSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <input id="prnNo" name="prnNo" type="text" class="form-control " placeholder="Prn No" />
                    </div>
                    <div class="col-md-2">
                        <input id="name" name="name" type="text" class="form-control " placeholder="Nick Name" />
                    </div>
                    <div class="col-md-2">
                        <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile" />
                    </div>
                    <div class="col-md-2">
                        <input id="pageSize" name="pageSize" value="10" type="text" class="form-control" placeholder="No of Data" />
                    </div>
                    <div class="col-md-4 text-center">
                        <input type="submit" id="Submit" value="View List" class="btn btn-primary" />
                        <input type="button" name="export" id="export" value="Export" class="btn btn-primary" style="display: none;" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="GetStudentListContain">
    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function validationClientSide() {
            var check = true;
            var religion = $("#SelectedReligion").val();
            var organizationId = $("#OrganizationId").val();
            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchIds = $("#SelectedBranch").val();
            var campusIds = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();
            var batchTimes = $("#SelectedBatchTime").val();
            var batchIds = $("#SelectedBatch").val();
            var courseIds = $("#SelectedCourse").val();
            if (organizationId == '' || organizationId == null || organizationId.length <= 0) {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            }
            if (programId == '' || programId == null || programId.length <= 0) {
                window.showErrorMessageBelowCtrl("ProgramId", "", false);
                window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("ProgramId", "", false);
            }
            if (sessionId == '' || sessionId == null || sessionId.length <= 0) {
                window.showErrorMessageBelowCtrl("SessionId", "", false);
                window.showErrorMessageBelowCtrl("SessionId", "Please Select Session.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SessionId", "", false);
            }
            if (branchIds == '' || branchIds == null || branchIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBranch", "", false);
                window.showErrorMessageBelowCtrl("SelectedBranch", "Please Select Branch.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBranch", "", false);
            }
            if (campusIds == '' || campusIds == null || campusIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedCampus", "", false);
                window.showErrorMessageBelowCtrl("SelectedCampus", "Please Select Campus.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedCampus", "", false);
            }
            if (batchDays == '' || batchDays == null || batchDays.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBatchDays", "", false);
                window.showErrorMessageBelowCtrl("SelectedBatchDays", "Please Select Batch Days.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBatchDays", "", false);
            }
            if (batchTimes == '' || batchTimes == null || batchTimes.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBatchTime", "", false);
                window.showErrorMessageBelowCtrl("SelectedBatchTime", "Please Select Batch Time.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBatchTime", "", false);
            }
            if (batchIds == '' || batchIds == null || batchIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBatch", "", false);
                window.showErrorMessageBelowCtrl("SelectedBatch", "Please Select Batch.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBatch", "", false);
            }
            if (courseIds == '' || courseIds == null || courseIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedCourse", "", false);
                window.showErrorMessageBelowCtrl("SelectedCourse", "Please Select Course.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedCourse", "", false);
            }
            if (religion == '' || religion == null || religion.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedReligion", "", false);
                window.showErrorMessageBelowCtrl("SelectedReligion", "You need to select relegion.", true);
                check = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedReligion", "", false);
            }


            if (check) {
                $(".field-validation-error").remove();
                //$("#Submit").submit();
            }
            return check;
        }

        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#toggleCE').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#toggleCE').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
            // alert(lastColumn);

            var prnNo = $("#prnNo").val();
            var name = $("#name").val();
            var mobile = $("#mobile").val();

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "scrollY": "60vh",
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                order: [[1, "desc"]],
                fixedColumns: {
                    leftColumns: 3
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [(lastColumn - 1)]
                    }
                ],
                ajax: {
                    url: '@Url.Action("StudentInformationAjaxRequest", "Information")',
                    type: 'POST',
                    data: function(d) {
                        d.programId = $("#ProgramId").val();
                        d.sessionId = $("#SessionId").val();
                        d.branchId = $("#SelectedBranch").val();
                        d.campusId = $("#SelectedCampus").val();
                        d.batchName = $("#SelectedBatch").val();
                        d.courseId = $("#SelectedCourse").val();
                        d.informationViewList = $("#informationViewList").val();
                        d.batchDays = $("#SelectedBatchDays").val();
                        d.batchTime = $("#SelectedBatchTime").val();
                        d.prnNo = prnNo;
                        d.name = name;
                        d.mobile = mobile;
                        d.version = $("#SelectedVersion").val();
                        d.gender = $("#SelectedGender").val();
                        d.religion = $("#SelectedReligion").val();
                        d.startDate = $("#StartDate").val();
                        d.endDate = $("#EndDate").val();
                        d.selectedStatus = $("#SelectedStatus").val();
                    }
                }
            });
        }

        $(document).ready(function() {
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("ProgramId", "Please Select Program.");
            window.validateDropDownField("SessionId", "Please Select Session.");
            window.validateListField("SelectedBranch", "Please Select Branch.");
            window.validateListField("SelectedCampus", "Please Select Campus.");
            window.validateListField("SelectedBatchDays", "Please Select Batch Days.");
            window.validateListField("SelectedBatchTime", "Please Select Batch Time.");
            window.validateListField("SelectedBatch", "Please Select Batch.");
            window.validateListField("SelectedCourse", "Please Select Course.");
            window.validateListField("SelectedReligion", "Please Select Religion.");


            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.date-from').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if (Date.parse($(".date-from").val()) > Date.parse($(".date-to").val())) {
                    $(".dtmsg").text("");
                    $(".date-from").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".date-from").val()) <= Date.parse($(".date-to").val())) {
                    $('.dtmsg').text("");

                    $("#Submit").removeAttr('disabled');
                }
            });
            $('.date-to').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if (Date.parse($(".date-from").val()) > Date.parse($(".date-to").val())) {
                    $(".dtmsg").text("");
                    $(".date-to").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".date-from").val()) <= Date.parse($(".date-to").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    validationClientSide();
                }
            });
            
            $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

            //Call validation method on Mouse Click
            $("#Submit").click(function(e) {
                e.preventDefault();
                $(".field-validation-error-count").remove();
                $("#GetStudentListContain").html("");
                $("#export").hide();
                if (validationClientSide() == true) {
                    var data = $("#StudentListForm").serialize();
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Student/Information/GetStudentList",
                        cache: false,
                        async: true,
                        data: data,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $("#GetStudentListContain").html(response);
                            dataTableRender();
                            $("#export").show();
                            ShowHide();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("click", "#export", function() {
                var prnNo = $("#prnNo").val();
                var name = $("#name").val();
                var mobile = $("#mobile").val();
                var programHeader = $("#programHeaderText").html();
                var branchHeader = $("#branchHeaderText").html();
                var campusHeader = $("#campusHeaderText").html();
                var batchDayHeader = $("#batchDayHeaderText").html();
                var batchHeader = $("#batchHeaderText").html();
                var courseHeader = $("#courseHeaderText").html();
                var urlParam = {
                    programHeader: encodeURIComponent(programHeader),
                    branchHeader: encodeURIComponent(branchHeader),
                    campusHeader: encodeURIComponent(campusHeader),
                    batchDayHeader: encodeURIComponent(batchDayHeader),
                    batchHeader: encodeURIComponent(batchHeader),
                    courseHeader: encodeURIComponent(courseHeader),
                    programId: $("#ProgramId").val(),
                    sessionId: $("#SessionId").val(),
                    branchId: $("#SelectedBranch").val(),
                    campusId: $("#SelectedCampus").val(),
                    batchName: $("#SelectedBatch").val(),
                    course: $("#SelectedCourse").val(),
                    batchDays: $("#SelectedBatchDays").val(),
                    batchTime: $("#SelectedBatchTime").val(),
                    startDate: $("#StartDate").val(),
                    endDate: $("#EndDate").val(),
                    informationViewList: $("#informationViewList").val(),
                    prnNo: prnNo,
                    name: name,
                    mobile: mobile,
                    version: $("#SelectedVersion").val(),
                    gender: $("#SelectedGender").val(),
                    religion: $("#SelectedReligion").val(),
                    selectedStatus: $("#SelectedStatus").val()
                };

                var url = "@Url.Action("ExportFiles", "Information", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                if (validationClientSide() == true) {
                    window.open(url);
                }
            });

            $("#SelectedReligion").change(function() {
                $("#SelectedReligion").parent().find(".field-validation-error").remove();
            });

            $("#OrganizationId").change(function() {
                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select a Program</option>");
                var organizationId = $(this).val();
                if (organizationId != null && organizationId != "") {
                    $.ajax({
                        type: "POST",
                        //url: $("body").attr("data-project-root") + "Administration/Menu/GetMenuForDropDownList",
                           
                        @*url: '@Url.Action("GetProgram", "Information")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            //$.unblockUI();
                            //$("#ProgramId").html(response);
                            if (response.IsSuccess) {
                                //$('#ProgramId').append('<option value="">Select a program</option>');
                                $.each(response.returnProgramList, function(i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                        }
                    });
                }
                $("#studentCount").val("...");
            });

            $("#ProgramId").change(function() {
                $("#studentCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                var organizationId = $("#OrganizationId").val();
                var programId = $('#ProgramId').val();
                if (organizationId != null && organizationId != "" && programId != null && programId != "") {
                    $.ajax({
                        type: "POST",
                        @*url: '@Url.Action("GetSession", "Information")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        //data: { programId: programId },
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            //$("#SessionId").html(response);
                            if (response.IsSuccess) {

                                $.each(response.returnSessionList, function(i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                        }
                    });
                }
                $("#studentCount").val("...");
            });

            $("#SessionId").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "") {
                    //Load Branch List
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#SelectedBranch').append('<option value="0">All Branch</option>');
                                $.each(response.returnBranchList, function(i, v) {
                                    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //Load Course List
                                $.ajax({
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                    type: "POST",
                                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId },
                                    beforeSend: function() {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function(responses) {
                                        if (responses.IsSuccess) {
                                            $('#SelectedCourse').append('<option value="0">All Course</option>');
                                            $.each(responses.returnCourse, function(i, v) {
                                                $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        }
                                    },
                                    complete: function() {
                                        $.unblockUI();
                                    },
                                    error: function(responses) {
                                        $.unblockUI();
                                    }
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                        }
                    });
                }
                $("#missingImageCount").val("...");
            });

            $("#SelectedBranch").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();

                var organizationId = $("#OrganizationId").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",

                        cache: false,
                        async: true,
                        //data: {programId: programId, sessionId: sessionId, branchId: branchId },
                        data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#SelectedCampus').append('<option value="0">All Campus</option>');
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
                $("#missingImageCount").val("...");
            });


            //Campus Change Functionalities
            $("#SelectedCampus").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var organizationId = $("#OrganizationId").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, campusIds: campusId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                //$.each(result.batchDays, function (i, v) {
                                //    if (v.Value == "0") {
                                //        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                //    }
                                //    else {
                                //        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                                //    }
                                //});
                                $('#SelectedBatchDays').append('<option value="0">All Batch Day</option>');
                                $.each(response.returnBatchDays, function(i, v) {
                                    if (v.Value == 0)
                                        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                    else
                                        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
                $("#missingImageCount").val("...");
            });


            //Batch Day Change Functionalities
            $("#SelectedBatchDays").change(function() {
                $("#studentCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var organizationId = $("#OrganizationId").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetBatchTime", "Information")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                        cache: false,
                        async: true,
                        //data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchDays: batchDays },
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                //$.each(result.batchTime, function (i, v) {
                                //    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                $('#SelectedBatchTime').append('<option value="0">All Batch Time</option>');
                                $.each(result.returnBatchTime, function(i, v) {
                                    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
                $("#studentCount").val("...");
            });


            //Batch Time Change Functionalities
            $("#SelectedBatchTime").change(function() {
                $("#studentCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTime = $("#SelectedBatchTime").val();
                var batchTimeText = [];
                var organizationId = $("#OrganizationId").val();

                $("#SelectedBatchTime option:selected").each(function() {
                    var $this = $(this);
                    if ($this.length) {
                        batchTimeText.push($this.text());
                    }
                });

                if (organizationId != null && organizationId != "" && programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != ""
                    && batchTime != null && batchTime != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetBatch", "Information")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",

                        cache: false,
                        async: true,
                        //data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchDays: batchDays, batchTime: batchTime, batchTimeText: batchTimeText },
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, campusIds: campusId, branchIds: branchId, batchDays: batchDays, batchTimes: batchTime, batchTimeText: batchTimeText, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                //$.each(result.batchName, function (i, v) {
                                //    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                $('#SelectedBatch').append('<option value="0">All Batch</option>');
                                $.each(result.returnBatch, function(i, v) {
                                    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
                $("#studentCount").val("...");
            });


            //Batch Day Change Functionalities
            $("#SelectedBatch, #SelectedCourse").change(function() {
                $("#missingImageCount").val("...");
            });
            $("#SelectedVersion, #SelectedGender").change(function() {
                $("#missingImageCount").val("...");
            });
            $("#SelectedReligion").change(function() {
                $("#missingImageCount").val("...");
            });


            $("#studentCountButton").click(function() {
                $("#studentCount").html("...");
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTime = $("#SelectedBatchTime").val();
                var batchId = $("#SelectedBatch").val();
                var courseId = $("#SelectedCourse").val();
                var version = $("#SelectedVersion").val();
                var gender = $("#SelectedGender").val();
                var religion = $("#SelectedReligion").val();
                var dateFrom = $(".date-from").val();
                var dateTo = $(".date-to").val();
                var selectedStatus = $("#SelectedStatus").val();
                var prnNo = $("#prnNo").val();
                var nickName = $("#name").val();
                var mobile = $("#mobile").val();
                //if (dateFrom == "") {
                //    dateFrom = "2000-01-01";
                //}
                //if (dateTo == "") {
                //    var todays = new Date();
                //    var initialDates = todays.getFullYear().toString() + "-" + (todays.getMonth() + 1) + "-" + todays.getDate();
                //    dateTo = initialDates;
                //}

                //Validation Check
                //validationClientSide();
                //CountValidationCheck(programId, sessionId, branchId, campusId, batchDays, batchTime, batchId, courseId);

                if (validationClientSide() == true) {
                    console.log("V", version, "G", gender, "R", religion);
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetStudentCount", "Information")',
                        cache: false,
                        async: true,
                        data: {
                            programId: programId,
                            sessionId: sessionId,
                            branchId: branchId,
                            campusId: campusId,
                            batchDays: batchDays,
                            batchTime: batchTime,
                            batchId: batchId,
                            courseId: courseId,
                            version: version,
                            gender: gender,
                            religion: religion,
                            startDate: dateFrom,
                            endDate: dateTo,
                            selectedStatus: selectedStatus,
                            prnNo: prnNo,
                            nickName: nickName,
                            mobile: mobile
                        },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            if (result.IsSuccess) {
                                $("#studentCount").val(result.studentCount);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });
        });

        function CountValidationCheck(programId, sessionId, branchId, campusId, batchDays, batchTime, batchId, courseId) {

            if (programId == "") {
                $("#ProgramId").parent().find(".field-validation-error").empty();
                $("#ProgramId").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="ProgramId" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="ProgramId" class="">You need to select Program</span></span>';
                $("#ProgramId").parent().append(error);

            }
            if (sessionId == "") {
                $("#SessionId").parent().find(".field-validation-error").empty();
                $("#SessionId").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SessionId" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SessionId" class="">You need to select Session</span></span>';
                $("#SessionId").parent().append(error);
            }
            if (branchId == null) {
                $("#SelectedBranch").parent().find(".field-validation-error").empty();
                $("#SelectedBranch").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SelectedBranch" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SelectedBranch" class="">You need to select Branch</span></span>';
                $("#SelectedBranch").parent().append(error);
            }
            if (campusId == null) {
                $("#SelectedCampus").parent().find(".field-validation-error").empty();
                $("#SelectedCampus").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SelectedCampus" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SelectedCampus" class="">You need to select Campus</span></span>';
                $("#SelectedCampus").parent().append(error);
            }
            if (batchDays == null) {
                $("#SelectedBatchDays").parent().find(".field-validation-error").empty();
                $("#SelectedBatchDays").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SelectedBatchDays" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SelectedBatchDays" class="">You need to select Batch Days</span></span>';
                $("#SelectedBatchDays").parent().append(error);
            }
            if (batchTime == null) {
                $("#SelectedBatchTime").parent().find(".field-validation-error").empty();
                $("#SelectedBatchTime").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SelectedBatchTime" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SelectedBatchTime" class="">You need to select Batch Time</span></span>';
                $("#SelectedBatchTime").parent().append(error);
            }
            if (batchId == null) {
                $("#SelectedBatch").parent().find(".field-validation-error").empty();
                $("#SelectedBatch").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SelectedBatch" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SelectedBatch" class="">You need to select Batch</span></span>';
                $("#SelectedBatch").parent().append(error);
            }
            if (courseId == null) {
                $("#SelectedCourse").parent().find(".field-validation-error").empty();
                $("#SelectedCourse").parent().find(".field-validation-error-count").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="SelectedCourse" class="text-danger field-validation-error field-validation-error-count">' +
                    '<span for="SelectedCourse" class="">You need to select Course</span></span>';
                $("#SelectedCourse").parent().append(error);
            }
        }

        //$("select").change(function() {
        //    $(this).parent().find(".field-validation-error").remove();
        //});
        //$("select").change(function() {
        //    var thisSelect = $(this);
        //    if (thisSelect.val() != "") {
        //        //$(this).parent().find(".field-validation-error").empty();
        //        $(thisSelect).parent().find(".field-validation-error").remove();
        //        var error = '<span data-valmsg-replace="true" data-valmsg-for='+thisSelect.attr('id')+'  class="text-danger field-validation-error">' +
        //            '<span for=' + thisSelect.attr('id') + '  class="">You need to select this option</span></span>';
        //        $("#SelectedCourse").parent().append(error);
        //    } else {
        //        //$(this).parent().find(".field-validation-error").empty();
        //        $(this).parent().append("<span class='text-danger field-validation-error' style='color:red'></span>");
        //    }
        //});

    </script>
}
    