﻿@using UdvashERP.BusinessModel.Entity.Students
@{
    ViewBag.Title = "Individual Info Edit Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}
@Styles.Render("~/Content/styledatatable")
@if (ViewBag.StudentProgram != null){
<table id="tbl">
    <tr class="filteringRow form-group">
        <th class="form-group">
            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" value="@ViewBag.PageSize" />
        </th>
        <th class="form-group">
            <input type="button" name="search" id="searchBtn" value="Search" class="form-control btn btn-primary" />
        </th>
        <th class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                </div>
            </th>
    </tr>
</table>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Individual Info Edit Log</h4>
    </div>
    <div class="panel-body" id="MeritListReportprint">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="row col-md-12">
                    <div class="col-sm-3 text-left">
                        <img src="@logoImage" width="150" height="150" />
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="row text-center">
                            @*<div><h3><strong>@ErpInfo.OrganizationNameFull</strong></h3></div>*@
                            <div><h3><strong>@ViewBag.ProgramSession</strong></h3></div>
                            <div><strong>Individual Information Edit Log</strong></div>
                            <div><strong>@ViewBag.Name</strong></div>
                            <div><strong>@ViewBag.PrnNo</strong></div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        @{
                            
                                StudentProgram sp = ViewBag.StudentProgram;
                                var imagePath = "/Content/Image/blankimage.png";
                                if (sp.StudentImage.Count > 0)
                                {
                                    //var firstOrDefault = (from x in sp.StudentImage select x).OrderByDescending(a => a.Id).FirstOrDefault();
                                    //var stuentImage = firstOrDefault != null ? firstOrDefault.Images : null;
                                    var stuentImage = sp.MediaStudentImage.Images;
                                    //string imageBase64 = stuentImage != null ? Convert.ToBase64String(ViewBag.Images) : null;
                                    string imageBase64 = stuentImage != null ? Convert.ToBase64String(stuentImage) : null;
                                    string imageSrc = imageBase64 != null ? string.Format("data:image/gif;base64,{0}", imageBase64) : "";
                                    if (imageSrc != null && imageSrc.Trim() != "")
                                    {
                                        imagePath = imageSrc;
                                    }
                                }
                                <img src="@imagePath" height="150" />
                            }
                        
                    </div>
                </div>
                
            </div>
            
        </div>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Sl.</th>

                    @if (ViewBag.informationViewList != null)
                    {
                        foreach (string informationView in ViewBag.informationViewList)
                        {
                           
                            <th>@informationView</th>
                           
                        }
                    }
                    <th>Updated By</th>
                    <th>Update Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody class="text-center"></tbody>
        </table>
    </div>
    @*<div class="form-group text-center">
            <input class="btn btn-primary" id="export" value="Export" style="margin-top: 8px;padding-right: 5px;" />
        </div>*@
</div>
}
<div class="hiddenField">
    @Html.Hidden("studentInfoEditLogSelection", ViewData["studentInfoEditLog"])

</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Student/Report/ExamEvaluation.js"></script>*@
    <script src="~/Scripts/Exam/MeritList.js"></script>
    <script type="text/javascript" class="init">
    $(document).ready(function () {
        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                order: [[0, "asc"]],
                "bSort": false,
                ajax: {
                    url: 'IndividualInformationEditLogReport',
                    type: 'POST',
                    data: function (d) {
                        d.studentInfoEditLogSelection = $('#studentInfoEditLogSelection').val(),
                        d.startDate = '@ViewBag.StartDate',
                        d.endDate = '@ViewBag.EndDate',
                        d.studentId = '@ViewBag.studentId';
                    }
                }
            });
        }
        dataTableRender();
        $(document).on("click", "#searchBtn", function () {
            dataTableRender();
        });
    });
    //string studentInfoEditLogSelection, string startDate, string endDate, long studentId,string programSessionHeader,string prnNo,string studentName
    $(document).on("click", "#export", function () {
        var urlParam = {
            studentInfoEditLogSelection: $('#studentInfoEditLogSelection').val(),
            startDate: '@ViewBag.StartDate',
            endDate: '@ViewBag.EndDate',
            studentId: '@ViewBag.studentId',
            programSessionHeader: '@ViewBag.ProgramSession',
            prnNo: '@ViewBag.PrnNo',
            studentName: '@ViewBag.Name',
        };
        var url = "@Url.Action("ExportIndividualInformationEditLogReport", "Information", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
</script>

}
