﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentInformationView

@{
    ViewBag.Title = "InformationSearch";
}
@if (TempData["InformationSearchError"] != null)
{
    <div class="alert alert-danger" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["InformationSearchError"]
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Information Search</h3>
    </div>
    <div class="panel-body">
       @using (Html.BeginForm())
       {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="admissionBodyContent">
                @Html.EditorFor(model => model.PrnNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Program Roll No", @maxlength="11"  } })
                @Html.ValidationMessageFor(model => model.PrnNo, "", new { @class = "text-danger"})
                <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
            </div>         
        </div>
       }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
