﻿@using UdvashERP.BusinessModel.Entity
@{
    ViewBag.Title = "Student Info Entry From SIF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Student Info Entry From SIF</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("InformationEntry", "Information", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("programId", (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @*<div class="col-md-10"></div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("sessionId", (SelectList)ViewBag.SessionId, "Select Session", new { @class = "form-control" })
                        @*<div class="col-md-10"></div>*@
                    </div>
                </div>

                <div>
                    <table class="table table-bordered table-hover table-responsive table-striped">
                        <tr>
                            <td>@Html.Label("", "SIF File")</td>
                            <td><input class="form-control" name="xmlFile" type="file" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Upload SIF File" class="btn btn-primary" /></td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="form-horizontal">
                <div class="xmlLIst">
                    <h4>Summary Report of SIF File</h4>
                    <hr/>
                    <table class="table table-bordered table-hover table-responsive table-striped" style="width: 400px; ">

                        <tr>
                            <td style="width:200px; text-align: right; padding-right: 10px;">Total SIF Data :</td>
                            <td style="font-weight: bold; padding-left:10px">@ViewBag.TotalXmlData</td>
                        </tr>
                        <tr >
                            <td style="width:200px; text-align: right; padding-right: 10px;"> Successfully Saved :</td>
                            <td style="font-weight: bold; padding-left: 10px">@ViewBag.Success</td>
                        </tr>
                        <tr >
                            <td style="width:200px; text-align: right; padding-right: 10px;">Duplicate Prn No Found :</td>
                            <td style="font-weight: bold; padding-left: 10px">@ViewBag.DuplicatePrnCount</td>
                        </tr>
                     
                        <tr >
                            <td style="width:200px; text-align: right; padding-right: 10px;">Wrong Prn No :</td>
                            <td style="font-weight: bold; padding-left: 10px">@ViewBag.WrongPrnCount</td>
                        </tr>
                    </table>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        @*----onload session function----*@
        var programId = $("#programId option:selected").val();

        if (programId > 0) {
            OnLoadSession(programId);
        }
        function OnLoadSession(programId) {
            
            $.ajax({
                url: '@Url.Action("GetSession", "Information")',
                type: "POST",
                data: { "programId": programId },
                /*processing*/
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                    });
                },
                /*processing*/
                success: function (response, status, xhr) {
                    $("#sessionId").html(response);
                    console.log("-- session load is completed --");
                    console.log(response);

                    /*processing*/
                    $.unblockUI();
                    /*processing*/
                },
                /*processing*/
                complete: function () {
                    $.unblockUI();
                },
                /*processing*/
                error: function (response, status, xhr) {
                    console.log("-- error occured during session loading --");
                    console.log(response);
                }
            });
        }

        @*----end onload session function----*@


        $(document).ready(function() {
            console.log("-- Information Entry --");

            @*----function for getting the session----*@

            $("#programId").change(function () {
                var programId = $(this).val();
                console.log("print programId: ", programId);
                if (programId > 0) {
                    OnLoadSession(programId);

                } else {
                    
                    $('#sessionId').empty();
                    $('#sessionId').append("<option value=''>-Select Session-</option>");
                }

            });

            @*----end function for getting the session----*@
        });


    </script>

}
