﻿@model UdvashERP.Areas.Student.Models.StudentInfoSearch

@{
    ViewBag.Title = "Student Search";
}

@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Search</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("StudentInfoSearch", "Information", FormMethod.Post, new { @id = "studentSearchForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="" style="padding-left: 200px">
                    <div class="form-group">
                        @Html.Label("Organization", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.OrganizationId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Program", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.ProgramId, "Select Program", new { @class = "form-control" })
                            @*@Html.DropDownListFor(x => x.ProgramId, null, "Select Program", new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Session", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.SessionId, null, "Select Session", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Keyword", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.SearchKey, new { htmlAttributes = new { @class = "form-control", @placeholder = " searching keyword " } })
                            @Html.ValidationMessageFor(x => x.SearchKey, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center; font-weight:bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12 text-center">
                        @Html.ListBoxFor(m => m.InformationViewList, (IEnumerable<SelectListItem>)ViewBag.InformationViewSelectList, new { @class = "form-control", @id = "informationViewList" })
                        @*<select name="informationViewList" id="informationViewList" class="form-control" multiple="multiple">
                            <option value="Program Roll">Program Roll</option>
                            <option value="Student's Name">Student's Name</option>
                            <option value="Nick Name">Nick Name</option>
                            <option value="Mobile Number (Student)">Mobile Number (Student)</option>
                            <option value="Mobile Number (Father)">Mobile Number (Father)</option>
                            <option value="Mobile Number (Mother)">Mobile Number (Mother)</option>
                            <option value="Father's Name">Father's Name</option>
                            <option value="Institute Name">Institute Name</option>
                            <option value="Email">Email</option>
                            <option value="Branch">Branch</option>
                            <option value="Batch">Batch</option>
                            <option value="Version of Study">Version of Study</option>
                            <option value="Gender">Gender</option>
                            <option value="Religion">Religion</option>
                            <option value="District">District</option>
                        </select>*@
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Search" class="btn btn-primary" id="studentSearchbtn" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        function validationClientSide() {
            var check = true;
            var organizartionId = $("#OrganizationId").val();
            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var informationViewList = $("#informationViewList").val();

            //console.log(informationViewList.length);
            if (organizartionId == "" || organizartionId == null || organizartionId == 0) {
                $("#OrganizationId").parent().find(".field-validation-error").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="OrganizationId" class="text-danger field-validation-error"><span for="OrganizationId" class="">You need to select organization</span></span>';
                $("#OrganizationId").parent().append(error);
                check = false;
            }
            if (programId == "" || programId == null || programId.length == 0) {
                $("#ProgramId").parent().find(".field-validation-error").remove();
                var error = '<span data-valmsg-replace="true" data-valmsg-for="ProgramId" class="text-danger field-validation-error"><span for="ProgramId" class="">You need to select program</span></span>';
                $("#ProgramId").parent().append(error);
                check = false;
            }
            if (sessionId == "" || sessionId == null || sessionId.length == 0) {
                $("#SessionId").parent().find(".field-validation-error").remove();
                var error2 = '<span data-valmsg-replace="true" data-valmsg-for="SessionId" class="text-danger field-validation-error"><span for="SessionId" class="">You need to select session</span></span>';
                $("#SessionId").parent().append(error2);
                check = false;
            }
            if (informationViewList == null) {
                $("#informationViewList").parent().find(".field-validation-error").remove();
                var error3 = '<span data-valmsg-replace="true" data-valmsg-for="informationViewList" class="text-danger field-validation-error"><span for="informationViewList" class="">You need to select one or more searching field</span></span>';
                $("#informationViewList").parent().append(error3);
                check = false;
            }
            if (check) {
                $(".field-validation-error").remove();
                $("#studentSearchForm").submit();
            }
        }

        $(document).ready(function() {
            //Call validation methode on Enter key press
            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    validationClientSide();
                }
            });

            //Call validation methode on Mouse Click
            $("#studentSearchbtn").click(function() {
                validationClientSide();
            });
            $("#OrganizationId").change(function () {
                $("#OrganizationId").parent().find(".field-validation-error").remove();
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select a Program</option>");
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");

                var organizationId = $('#OrganizationId').val();

                if (organizationId != null && organizationId != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetProgram", "Information")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",

                        cache: false,
                        async: true,
                        //data: { organizationId: organizationId },
                        data: { organizationIds: organizationId, isAuthorized: true },

                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            //$.unblockUI();
                            //$("#ProgramId").html(result);
                            //console.log("Success -----");
                            if (response.IsSuccess) {
                                $('#ProgramId').append("<option value='0'>All Program</option>");
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });
            //Program Change Functionalities
            $("#ProgramId").change(function() {
                $("#ProgramId").parent().find(".field-validation-error").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                var organizationId = $('#OrganizationId').val();
                var programId = $('#ProgramId').val();

                if (organizationId != null && organizationId != "" && programId != null && programId != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetSession", "Information")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",

                        cache: false,
                        async: true,
                        //data: { programId: programId },
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            //$("#SessionId").html(result);
                            //console.log("Success -----");
                            if (response.IsSuccess) {
                                $('#SessionId').append("<option value='0'>All Session</option>");
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //// $("#SessionId").find('option:eq(0)').prop('selected', true);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                           // console.log("Complete -----");
                           // console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                           // console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });
            $("#SessionId").change(function () {
                $("#SessionId").parent().find(".field-validation-error").remove();
            });

            $("#informationViewList").change(function () {
                $("#informationViewList").parent().find(".field-validation-error").remove();
            });
            

            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });
        });

    </script>
}
