﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@model UdvashERP.Areas.Student.Models.StudentInfoSearch

@{
    ViewBag.Title = "Student Information Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Information Report</h4>
    </div>
    <div class="panel-body">        
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })                 
            <table id="tableDiv">
                <tr class="form-group">
                    <th class="form-group">
                        <input id="prnNo" name="prnNo" type="text" class="form-control " placeholder="Prn No" />
                    </th>
                    <th class="form-group">
                        <input id="name" name="name" type="text" class="form-control " placeholder="Student Name" />
                    </th>
                    <th class="form-group">
                        <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile" />
                    </th>
                    <th class="form-group">
                        <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                    </th>
                    <th class="form-group ">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                    <th class="form-group ">
                        <input type="button" name="export" id="export" value="Export" class="form-control btn-primary" />
                    </th>
                </tr>
            </table>
            
            <br/>           
            @* this table is responsible for table header and dynamic data *@
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                           Sl
                        </th>

                        @if (Model.InformationViewList != null)
                        {
                            foreach (string informationView in Model.InformationViewList)
                            {
                                <th>@informationView</th>
                            }
                        }
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>          
        </div>       
    </div>
    
</div>
@Html.ActionLink("Search Again", "StudentInfoSearch")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")

    
    <script type="text/javascript">

        /* render data table*/
        var programId = @Model.ProgramId;
        var sessionId = @Model.SessionId;
        var searchKey="@Model.SearchKey";
        var informationViewList =@Html.Raw(Json.Encode(@Model.InformationViewList));                

       function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            var prnNo = $("#prnNo").val();       
            var name = $("#name").val();
            var mobile = $("#mobile").val();

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                order: [[0, "desc"]],
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }],
                ajax: {
                    url: '@Url.Action("StudentInfoSearchAjaxRequest", "Information")',
                    type: 'POST',
                    data: function(d) {
                        d.programId = programId;
                        d.sessionId = sessionId;
                        d.searchKey = searchKey;
                        d.informationViewList = informationViewList;
                        d.prnNo = prnNo;
                        d.name = name;
                        d.mobile = mobile;
                    }
                }
            });
        }

        dataTableRender();
        /*end render data table*/

        $(document).on("click", "#search", function() {
            dataTableRender();

        });
       
    @*end responsible for generate header*@

    $(document).on("click", "#export", function() {
        var urlParam = {
           programId : programId,
           sessionId : sessionId,
           searchKey : searchKey,
           informationViewList : informationViewList,
           prnNo : "",
           name : "",
           mobile : "",
        };

        var url = "@Url.Action("ExportStudentInfoSearchResult", "Information", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
        });

</script>


}