﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UInventory.SpecificationCriteria>
@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessRules.UInventory
@{
    var counter = 0;
    var quotation = (Quotation)ViewBag.SelectQuot;
}

@foreach (SpecificationCriteria spcCriteriaObj in Model)
{
    if (quotation != null)
    {
        var checkCriteria = quotation.QuotationCriteriaList.FirstOrDefault(x => x.Criteria == spcCriteriaObj.Name);
        
        if (checkCriteria != null)
        {
            <div class="form-group">
                @Html.Label(spcCriteriaObj.Name, new {@class = "control-label col-md-2"})
                <input type="hidden" value="@spcCriteriaObj.Name" id="SpecificationListViewModels[@counter]_Criteria" name="SpecificationListViewModels[@counter].Criteria" />
                <div class="col-md-10">
                    @if (spcCriteriaObj.Controltype == FieldType.Dropdown)
                    {
                        @Html.DropDownList("SpecificationListViewModels[" + counter + "].CriteriaValue", new SelectList(spcCriteriaObj.SpecificationCriteriaOptions.ToList(), "Name", "Name", checkCriteria.CriteriaValue), "Select " + spcCriteriaObj.Name, new { @class = "form-control", @id = "SpecificationListViewModels[" + counter + "]_CriteriaValue" })
                    }
                    else
                    {
                        @Html.TextBox("SpecificationListViewModels[" + counter + "].CriteriaValue", checkCriteria.CriteriaValue, new { @class = "form-control", @id = "SpecificationListViewModels[" + counter + "]_CriteriaValue" })
                    }
                </div>
             </div>
         }
    }
    else
    {
         <div class="form-group">
            @Html.Label(spcCriteriaObj.Name, new { @class = "control-label col-md-2" })
            <input type="hidden" value="@spcCriteriaObj.Name" id="SpecificationListViewModels[@counter]_Criteria" name="SpecificationListViewModels[@counter].Criteria" />
            <div class="col-md-10">
                @if (spcCriteriaObj.Controltype == FieldType.Dropdown)
                {
                    @Html.DropDownList("SpecificationListViewModels[" + counter + "].CriteriaValue", new SelectList(spcCriteriaObj.SpecificationCriteriaOptions.ToList(), "Name", "Name"), "Select " + spcCriteriaObj.Name, new { @class = "form-control", @id = "SpecificationListViewModels[" + counter + "]_CriteriaValue" })              
                }
                else
                {
                    @Html.TextBox("SpecificationListViewModels[" + counter + "].CriteriaValue", null, new { @class = "form-control", @id = "SpecificationListViewModels[" + counter + "]_CriteriaValue" })
                }
            </div>
        </div>   
    }
    counter++;
}
