﻿@using UdvashERP.BusinessModel.Entity.Hr
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "EditDayOffHistoryByHr";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DayOffAdjustment model = ViewBag.Model;
}


<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Update DayOff Adjustment</h3>
</div>
    <div class="panel-body">
       
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @*@Html.HiddenFor(model => model.Id)*@
            <input type="hidden" class="form-control tableId"  value="@(model.Id)" />
            <input type="hidden" class="form-control memberId"  value="@(model.TeamMember.Id)" />
            <div class="form-group">
                @Html.Label("PIN", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Pin)" />
                </div>
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Name.ToString())" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Department", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Department.ToString())" />
                </div>
                @Html.Label("Organization", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Org.ToString())" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Branch", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Branch.ToString())" />
                </div>
                @Html.Label("Campus", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Campus.ToString())" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("DateOffDate", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control datepicker " readonly="readonly" value="@(ViewBag.DateOffDate)" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Instead Of Date", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("InsteadOf", (IEnumerable<SelectListItem>)ViewBag.InsdteadOfDateList, "Select Date", new { @class = "form-control", @required = "required" })
                </div>
                @Html.Label("Reason", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="text" class="form-control reason"  value="@(ViewBag.Reason.ToString())" />
                </div>
            </div>
                
            <div class="form-group">
                <div class="text-center">
                    <input type="button" value="Reject" class="btn btn-danger submitRejectForm"/>
                    <input type="button" value="Approve" class="btn btn-primary submitApproveForm" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".submitRejectForm").click(function () {
                var id = $(".tableId").val();
                var dateOff = $(".datepicker").val();
                var insteadOf = $("#InsteadOf").val();
                var reason = $(".reason").val();
                bootbox.deleteConfirm("<h3>Are you sure you want to Rejected <span class='confirm-message'></span>?</h3>", function (result) {
                    if (result) {
                        if (id != "" && dateOff != "" && insteadOf != "" && reason != "") {
                            var model = {};
                            model["Id"] = id;
                            model["DateOff"] = dateOff;
                            model["InsteadOf"] = insteadOf;
                            model["Reason"] = reason;
                            var dataObject = JSON.stringify(model);
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/DayOffAdjustment/DeleteDayOffAdjustmentByHr",
                                data: { dataObject: dataObject },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (results) {
                                    if (results.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: results.returnSuccess,
                                            displayMessageType: "success",
                                        });
                                        var url = $("body").attr("data-project-root") + "Hr/DayOffAdjustment/HrDayOffAdjustment";
                                        window.setTimeout(function () { window.location.assign(url); }, 5000);
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: results.returnSuccess,
                                            displayMessageType: "error",
                                        });
                                    }
                                    $.unblockUI();

                                },
                                complete: function () {

                                    $.unblockUI();
                                },
                                error: function (result) {
                                    $.unblockUI();
                                    console.log("Failed -----");
                                }
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: "Please fill the field!!",
                                displayMessageType: "error",
                            });
                        }
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });

            });
            $(".submitApproveForm").click(function () {
                var id = $(".tableId").val();
                var dateOff = $(".datepicker").val();
                var insteadOf = $("#InsteadOf").val();
                var reason = $(".reason").val();
                if (id != "" && dateOff != "" && insteadOf != "" && reason != "") {
                    var model = {};
                    model["Id"] = id;
                    model["DateOff"] = dateOff;
                    model["InsteadOf"] = insteadOf;
                    model["Reason"] = reason;

                    var dataObject = JSON.stringify(model);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/DayOffAdjustment/ApproveDayOffAdjustmentByHr",
                        data: { dataObject: dataObject },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.returnSuccess,
                                    displayMessageType: "success",
                                });
                                var url = $("body").attr("data-project-root") + "Hr/DayOffAdjustment/HrDayOffAdjustment";
                                window.setTimeout(function () { window.location.assign(url); }, 5000);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.returnSuccess,
                                    displayMessageType: "error",
                                });
                            }
                            $.unblockUI();

                        },
                        complete: function () {

                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
                else {
                    $.fn.customMessage({
                        displayMessage: "Please fill the field!!",
                        displayMessageType: "error",
                    });
                }
            });
        });
        $(document).on("focus", "input.datepicker", function () {
            var today = new Date();
            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            //var startDate = today.getFullYear().toString() + "-" + (today.getMonth()-1).toString() + "-1";
            //console.log(initialDate);
            //console.log(startDate);
            var endDate = today;
            $(this).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: initialDate,
                //startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });

    </script>
}
