﻿@using UdvashERP.BusinessModel.Entity.Hr
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Edit Recent Adjustment By Mentor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DayOffAdjustment model = ViewBag.DayOffAdjustment;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Update Day Off Adjustment</h3>
    </div>
    <div class="panel-body">
            <div class="form-horizontal">
                @*@Html.HiddenFor(model => model.Id)*@
                <input type="hidden" class="form-control tableId" value=@(model.Id) />
                <input type="hidden" class="form-control memberId" value=@(model.TeamMember.Id) />
                <div class="form-group">
                    @Html.Label("PIN", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value=@(model.TeamMember.Pin) />
                    </div>
                    @Html.Label("Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value=@(model.TeamMember.Name) />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("DayOff", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control datepicker" readonly="readonly" value=@(model.DayOffDate.Value.ToString("yyyy-MM-dd")) />
                    </div>
                    @Html.Label("InsteadOf", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @*<input type="text" class="form-control" readonly="readonly" value=@(ViewBag.Org) />*@
                        @Html.DropDownList("InsteadOf", (IEnumerable<SelectListItem>)ViewBag.InsdteadOfDateList, "Select Date", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Reason", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control reason" value=@(model.Reason) />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <a href="@(Url.Action("MentorDayOffAdjustmentApproval", "DayOffAdjustment"))" class="btn btn-warning submitCancelForm">Cancel</a>
                        <input type="button" value="Delete" class="btn btn-danger submitDeleteForm" />
                        <input type="button" value="Approve" class="btn btn-primary submitApproveForm" />
                    </div>
                </div>
            </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".submitDeleteForm").click(function() {
                var id = $(".tableId").val();
                var dateOff = $(".datepicker").val();
                var insteadOf = $("#InsteadOf").val();
                var reason = $(".reason").val();
                bootbox.deleteConfirm("<h3>Are you sure you want to delete <span class='confirm-message'></span>?</h3>", function(result) {
                    if (result) {
                        if (id != "" && dateOff != "" && insteadOf != "" && reason != "") {
                            var model = {};
                            model["Id"] = id;
                            model["DateOff"] = dateOff;
                            model["InsteadOf"] = insteadOf;
                            model["Reason"] = reason;
                            var dataObject = JSON.stringify(model);
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/DayOffAdjustment/DeleteRecentAdjustmentByMentor",
                                data: { dataObject: dataObject },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (results) {
                                    if (results.IsSuccess === true) {
                                        $.fn.customMessage({
                                            displayMessage: results.returnSuccess,
                                            displayMessageType: "success",
                                        });
                                        var url = $("body").attr("data-project-root") + "Hr/DayOffAdjustment/MentorDayOffAdjustmentApproval";
                                        window.setTimeout(function () { window.location.assign(url); }, 5000);
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: results.returnSuccess,
                                            displayMessageType: "error",
                                        });
                                    }
                                    $.unblockUI();

                                },
                                complete: function() {

                                    $.unblockUI();
                                },
                                error: function(result) {
                                    $.unblockUI();
                                    console.log("Failed -----");
                                }
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: "Please fill the field!!",
                                displayMessageType: "error",
                            });
                        }
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });

            });
            $(".submitApproveForm").click(function() {
                var id = $(".tableId").val();
                var dateOff = $(".datepicker").val();
                var insteadOf = $("#InsteadOf").val();
                var reason = $(".reason").val();
                if (id != "" && dateOff != "" && insteadOf != "" && reason != "") {
                    var model = {};
                    model["Id"] = id;
                    model["DateOff"] = dateOff;
                    model["InsteadOf"] = insteadOf;
                    model["Reason"] = reason;
                    
                    var dataObject = JSON.stringify(model);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/DayOffAdjustment/ApproveRecentAdjustmentByMentor",
                        data: { dataObject: dataObject },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                   // displayTime: 120000,
                                    displayMessage: result.returnSuccess,
                                    displayMessageType: "success",
                                });
                                var url = $("body").attr("data-project-root") + "Hr/DayOffAdjustment/MentorDayOffAdjustmentApproval";
                                window.setTimeout(function () { window.location.assign(url); }, 5000);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.returnSuccess,
                                    displayMessageType: "error",
                                });
                            }
                            $.unblockUI();

                        },
                        complete: function() {

                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
                else {
                    $.fn.customMessage({
                        displayMessage: "Please fill the field!!",
                        displayMessageType: "error",
                    });
                }
            });
        });
        $(document).on("focus", "input.datepicker", function() {
            var today = new Date();
            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            //var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
            //var endDate = today;
            var initialDate = today;//today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = new Date(today.getFullYear().toString() + "-" + today.getMonth() + "- 26");
            var endDate = new Date(today.getFullYear(), (today.getMonth() + 1), 0);
            $(this).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });

    </script>
}
