﻿@using System.Globalization
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Hr DayOff Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
    //DateTime date = DateTime.Now;
    //var dateString = date.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture);
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
     .customTableTwo tr td:nth-child(1) input[type='text'] {
         width: 150px;
     }

    .customTableTwo tr td:nth-child(2) input[type='text'] {
        width: 65px;
    }

    .customTableTwo tr td:nth-child(3) input[type='text'] {
        width: 120px;
    }

    .customTableTwo tr td:nth-child(4) input[type='text'] {
        width: 180px;
    }

    .customTableTwo tr td:nth-child(5) input[type='text'] {
        width: 300px;
    }

    .customTableTwo tr td:nth-child(6) input[type='text'] {
        width: 150px;
    }

    .customTableTwo tr td:nth-child(7) input[type='text'] {
        width: 150px;
    }

    .customTableTwo tr td:nth-child(8) >input[type='text'] {
        width: 165px;
    }

    .customTableTwo tr td:nth-child(9) select {
        width: 200px;
    }

    .customTableTwo tr td:nth-child(10) input[type='text'] {
        width: 250px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Hr DayOff Adjustment</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#pending" class="hrDayOffEntryListTab" aria-controls="pending" role="tab" data-toggle="tab">Adjustment Entry</a></li>
            <li role="presentation"><a href="#history" class="hrDayOffHistoryTab" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
        </ul>
        <div class="tab-content customTableTwo">
            <div role="tabpanel" class="tab-pane active" id="pending" >
                <div class="displayData" style="max-height:60vh; overflow-x: scroll; overflow-y: scroll;">
                    <table id="hrDayOffAdjustmentTableList" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Day Off Date")</th>
                                <th>@Html.DisplayName("PIN")</th>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Department")</th>
                                <th>@Html.DisplayName("Organization")</th>
                                <th>@Html.DisplayName("Branch")</th>
                                <th>@Html.DisplayName("Campus")</th>
                                <th>@Html.DisplayName("Designation")</th>
                                <th>@Html.DisplayName("Instead Of")</th>
                                <th>@Html.DisplayName("Reason")</th>
                                <th>@Html.DisplayName("Action")</th>
                            </tr>
                        </thead>
                        <tbody class="text-center hrDayOffAdjustmentTableNew"></tbody>
                    </table>
                </div>
                <br/>
                <div class="hrClickHide">
                    <input type="hidden" value="@count" class="totalCount" />
                    <div style="float: left"><div id="increaseRow" class="dynamicRowGenerate btn btn-primary btn-sm"> Add Row </div></div>
                    <div style="float: right"><div id="submitHrDayOffAdjustmentForm" class="btn btn-primary btn-sm"> Approve All </div></div>
                </div>

                </div>
           
            <div role="tabpanel" class="tab-pane" id="history">
                <br />
                <table id="tableDiv">
                    <tr class="form-group">
                        <th class="form-group">
                            <input id="pin" name="pin" type="text" class="form-control " placeholder="Pin" />
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.OrgList, "Select Organization", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.DeptList, "Select Department", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            <input id="dateFrom" name="dateFrom" type="text" class="form-control historyDate" placeholder="@ViewBag.dateFromField" value="@ViewBag.dateFromField" readonly="readonly"/>
                        </th>
                        <th class="form-group">
                            <input id="dateTo" name="dateTo" type="text" class="form-control historyDate" placeholder="@ViewBag.dateToField" value="@ViewBag.dateToField" readonly="readonly"/>
                        </th>
                        <th class="form-group">
                            <input id="DisplayNo" name="pageSize" type="text" class="form-control" placeholder="No of Data" value="100" />
                        </th>
                        <th><div id="showFormRecentHistory" class="btn btn-primary btn-sm"> Show </div></th>
                    </tr>
                </table>
                <br />
                <table id="hrDayOffAdjustmentRecentHistory" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("PIN")</th>
                            <th>@Html.DisplayName("Name")</th>
                            <th>@Html.DisplayName("Deptartment")</th>
                            <th>@Html.DisplayName("Organization")</th>
                            <th>@Html.DisplayName("Branch")</th>
                            <th>@Html.DisplayName("Campus")</th>
                            <th>@Html.DisplayName("Designation")</th>
                            <th>@Html.DisplayName("Day Off")</th>
                            <th>@Html.DisplayName("Instead Of")</th>
                            <th>@Html.DisplayName("Reason")</th>
                            <th>@Html.DisplayName("Status")</th>
                            <th>@Html.DisplayName("Last Modified By")</th>
                            <th>@Html.DisplayName("Last Modification Date")</th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @*@Scripts.Render("~/bundles/typeaheadAutoComplete")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/HrDayOffAdjustment")
}