﻿@using System.Globalization
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "DayOff Adjustment Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
    //DateTime date = DateTime.Now;
    //var dateString = date.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture);
}
<style>
    table tbody tr td select {
        width: 152px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Mentor DayOff Adjustment</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#pending" class="mentorDayOffEntryListTab" aria-controls="pending" role="tab" data-toggle="tab">Adjustment Entry</a></li>
            <li role="presentation"><a href="#history" class="mentorRecentAdjustmentTab" aria-controls="history" role="tab" data-toggle="tab">Recent Adjustments</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pending">
                <br />
                <form>
                    <table id="mentorDayOffAdjustmentTableList" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Dayoff")</th>
                                <th>@Html.DisplayName("PIN")</th>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Instead Of")</th>
                                <th>@Html.DisplayName("Reason for Adjustment")</th>
                                <th>@Html.DisplayName("Action")</th>
                            </tr>
                        </thead>
                        <tbody class="text-center mentorDayOffAdjustmentTableNew_table"></tbody>
                    </table>
                </form>
                <br />
                <div>
                    <input type="hidden" value="@count" class="totalCount" />
                    <div style="float: left"><div id="increaseRow" class="dynamicRowGenerate btn btn-primary btn-sm"> Add Row </div></div>
                    <div style="float: right"><div id="submitForm" class="btn btn-primary btn-sm"> Approve All </div></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
                <br />
                <table id="tableDiv">
                    <tr class="form-group">
                        <th class="form-group">
                            <input id="pin" name="pin" type="text" class="form-control " placeholder="Pin" />
                        </th>
                        <th class="form-group">
                            <input id="dateFrom" name="dateFrom" type="text" class="form-control historyDate" placeholder="@ViewBag.dateFromField" value="@ViewBag.dateFromField"  readonly="readonly"/>
                        </th>
                        <th class="form-group">
                            <input id="dateTo" name="dateTo" type="text" class="form-control historyDate" placeholder="@ViewBag.dateToField" value="@ViewBag.dateToField" readonly="readonly" />
                        </th>
                        <th class="form-group">
                            <input id="DisplayNo" name="pageSize" type="text" class="form-control" placeholder="No of Data" value="10" />
                        </th>
                        <th><div id="showFormRecentAdjustment" class="btn btn-primary btn-sm"> Show </div></th>
                    </tr>
                </table>
                <br />
                <table id="MentorDayOffAdjustmentRecentHistory" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("PIN")</th>
                            <th>@Html.DisplayName("Name")</th>
                            <th>@Html.DisplayName("Dayoff")</th>
                            <th>@Html.DisplayName("Instead Of")</th>
                            <th>@Html.DisplayName("Reason for Adjustment")</th>
                            <th>@Html.DisplayName("Status")</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/MentorDayOffAdjustment")
}