﻿@using System.Drawing
@using UdvashERP.Models
@model  UdvashERP.BusinessModel.Entity.Hr.MemberLoanRefund
@using UdvashERP.Services.Helper

@{
    ViewBag.Title = "Generate Reciept";
    if (ViewBag.withLayout == "False")
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    // var urlbg = Url.Content("~") + "Content/Image/Udvash_Money Receipt.JPG";
    //var moneyRtopImage = Url.Content("~") + ErpInfo.ReportImageUrl;
    //var moneyRtopImage = Model.SalaryOrganization.ReportImageUrl;

    double dpiX, dpiY;

    using (Graphics graphics = Graphics.FromHwnd(IntPtr.Zero))
    {
        dpiX = graphics.DpiX;
        dpiY = graphics.DpiY;
    }
    double pixelsWidth = dpiY * 7.5;
    double pixelsHeight = dpiX * 4.69;
    var pixelsHeightString = pixelsHeight.ToString() + "px";
    var pixelsWidthString = pixelsWidth.ToString() + "px";

    var headerImageWidth = (.49 * pixelsWidth);
}



<br />
<br />
<div class="panel panel-default" id="moneyReceipt" style="width: @pixelsWidthString; height: @pixelsHeightString; padding-left: 2px; padding-right: 2px; font-size: 11px; font-family: Verdana, Geneva, sans-serif; overflow: hidden; border: none; margin-top: -32px; padding-top: 0px;">

    <table style="width: 99%; height: 99%; border: 1px solid #000;" cellpadding="0" cellspacing="0">
        <tr style="height: 10%;">
            <td>
                <div class="text-center">
                    <h3>@Model.SalaryOrganization.Name</h3>
                    <h5>LOAN REFUND RECEIPT</h5>
                    <h4>Receipt No # @Model.ReceiptNo.ToString()</h4>
                </div>
            </td>
        </tr>
        <tr style="height: 10%;">
            <td>
                <div class="col-md-6">
                    <table class="table-bordered table-responsive table-striped">
                        <tr>
                            <td class="meta-head" style="width:120px; text-align:right">Pin :</td>
                            <td>@Model.TeamMember.Pin</td>
                        </tr>
                        <tr>
                            <td class="meta-head" style="width:120px; text-align:right">Name :</td>
                            <td>@Model.TeamMember.FullNameEng</td>
                        </tr>
                        <tr>
                            <td class="meta-head" style="width:120px; text-align:right">Refund Date :</td>
                            <td>@Model.RefundDate.ToString("dd-MMM-yy")</td>
                        </tr>
                        <tr>
                            <td class="meta-head" style="width:120px; text-align:right">Received By :</td>
                            <td>@ViewBag.ReceiverName</td>
                        </tr>

                    </table>

                </div>
            </td>
        </tr>
        <tr style="height:1%">
            <td>
                <div>
                    <br />
                </div>
            </td>
        </tr>
        <tr style="height: 10%;">
            <td>
                <div style="padding-left:15px; padding-right:15px">

                    <table class="table-bordered table-responsive table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Remarks</th>
                                <th class="text-center">Loan Amount</th>
                                <th class="text-center">Paid Amount</th>
                                <th class="text-center">Due Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">@Model.Remarks</td>
                                <td class="text-center">@Model.LoanAmount.ToString("n2")</td>
                                <td class="text-center">@Model.RefundAmount.ToString("n2")</td>
                                <td class="text-center">@Model.DueAmount.ToString("n2")</td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </td>
        </tr>
        <tr style="height:1%">
            <td>
                <div>
                    <br />
                </div>
            </td>
        </tr>
        <tr style="height:1%">

            <td style="font-weight: bold; padding-left: 15px;">
                In Word : @CommonHelper.DecimalToWords(@Model.RefundAmount)
            </td>
          
        </tr>
        <tr>
            <td>
                <div class="pull-left" style="padding-left:15px;">
                    <div>@ViewBag.ReceiverName</div>
                    <div style="border-top: 1px solid black">
                        Received By
                    </div>
                </div>
            </td>
        </tr>
    </table>


</div>
<br />
<div class="">
    <div class="col-md-10" style="padding-right: 65px;">
        <a style="float: left; margin-left: 7px" href="@Url.Action("MemberSearch", "MemberLoanRefund", new { area = "Hr" })">Back to Member Search</a>
        <div class="btn btn-primary" style="float: right;" id="print"> Print</div>&nbsp;&nbsp;
        @*<div class="btn btn-info" style="float: right; margin-left: 7px; margin-right: 10px;" id="saveAsPdf"> Save</div>*@
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/printThis.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#print").click(function () {
                $("#moneyReceipt").printThis();
            });

            //$('#qrcodeTable').qrcode({
            //    render: "table",
            //    text: "http://jetienne.com"
            //});
            //$('#qrcodeCanvas').qrcode({
            //    text: "http://jetienne.com"
            //});
            @*var paymentId = @Html.Raw(Json.Encode(@ViewBag.PaymentId));
            var comingFromAddCourse = @Html.Raw(Json.Encode(@ViewBag.comingFromAddCourse))*@

            $(document).on("click", "#saveAsPdf", function() {
                var urlParam = {
                    id: paymentId//,
                    //  comingFromAddCourse: comingFromAddCourse
                };

                var url = "@Url.Action("SavePdfMoneyReciept", "Payment", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                //console.log(url);
                window.open(url);
            });


        });




    </script>

    @*<script type="text/javascript" src="~/Scripts/Student/MoneyReceiptPrint.js"></script>*@
}