﻿@model UdvashERP.BusinessModel.ViewModel.Hr.MemberLoanRefundViewModel
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "MemberSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">Loan Refund</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#la" aria-controls="la" role="tab" data-toggle="tab"> Member Loan Refund </a></li>
            <li role="presentation"><a href="#rla" id="rlas" aria-controls="rla" role="tab" data-toggle="tab"> Loan Refund History </a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="la">
            <div class="panel panel-default1">
                <div class="panel-body">
                    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "LoanRefundDiv", OnSuccess = "onSuccess", OnFailure = "onError", OnComplete = "onComplete", HttpMethod = "Post" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group1">
                                <div style="padding-left:250px">
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.MemberPin, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "PIN", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.MemberPin, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" value="Search" class="btn btn-primary" />

                                    </div>
                                </div>
                               
                               
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div id="LoanRefundDiv">



            </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="rla">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="administrationBodyContent">
                            <table id="tbl">
                                <tr class="form-group">
                                    <th class="form-group">
                                        <input id="memberPin" name="memberPin" type="text" class="form-control " placeholder="PIN" />
                                    </th>
                                    <th class="form-group">
                                        <input id="memberName" name="memberName" type="text" class="form-control " placeholder="Name" />
                                    </th>
                                    <th class="form-group">
                                        <input id="receiptNo" name="receiptNo" type="text" class="form-control " placeholder="Receipt No" />
                                    </th>
                                    <th class="form-group">
                                        <input id="DisplayNox" name="displayNo" type="text" class="form-control" placeholder="No of Data" />
                                    </th>
                                    <th class="form-group">
                                        <input type="button" name="search" id="searchx" value="Search" class="form-control btn-primary" />
                                    </th>

                                </tr>

                            </table>
                            <br />
                            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                                <thead>
                                    <tr>
                                        
                                        <th>Pin</th>
                                        <th>Member Name</th>
                                        <th>Receipt No</th>
                                        <th>Refund Date</th>
                                        <th>Loan Amount</th>
                                        <th>Refund Amount</th>
                                        <th>Due Amount</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center"></tbody>

                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="panel-body">
            @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "LoanRefundDiv", OnSuccess = "onSuccess", OnFailure = "onError", OnComplete = "onComplete", HttpMethod = "Post" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="admissionBodyContent">
                            @Html.EditorFor(model => model.MemberPin, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "PIN", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.MemberPin, "", new { @class = "text-danger" })
                            <input type="submit" value="Search" class="btn btn-primary btn-lg btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>*@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">

        function onSuccess() {

            @*@{var loanBalance = @ViewBag.LoanBalance;}
            console.log(loanBalance);*@

        }

        function onComplete(xhr, status) {
            //var response = ajaxContext.get_response();
            //console.log("onComplete", xhr);
            //console.log("onComplete 1", status);
            var json = $.parseJSON(xhr.responseText);
            //console.log(json);
            if (json.IsSuccess) {
                $("#LoanRefundDiv").html(json.Message);
            }
            else {
                $.fn.customMessage({
                    displayMessage: json.Message,
                    displayMessageType: "e",
                    displayTime: 50000
                });
            }
        }

        //function onError(ajaxContext) {
        //    alert("onError");
        //    var response = ajaxContext.get_response();
        //    if (response.IsSuccess) {
        //        $.fn.customMessage({
        //            displayMessage: response.Message,
        //            displayMessageType: "s",
        //            displayTime: 50000
        //        });
        //    }
        //}

        $(document).on("input propertychange", "#MemberPin ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            input.val(text);

        });

        //$(document).on("input propertychange", "#memberPin ", function (event) {
        //    var input = $(this),
        //        text = input.val().replace(/[^0-9]/g, "");
        //    input.val(text);

        //});

        $(document).on("input", "#RefundAmount", function () {
            var refundAmount = this.value;
            var loanAmount = parseInt(document.getElementById("LoanBalance").value);
            if (refundAmount > loanAmount) {
                $("#RefundAmount").css('border-color', 'red');
            }
            else {
                if (refundAmount > 0) {
                    var balance = loanAmount - refundAmount;
                    $("#CurrentBalance").val(balance.toFixed(2));
                }
                else {
                    $("#CurrentBalance").val(loanAmount.toFixed(2));
                }
                $("#RefundAmount").css('border-color', '');
            }
        });


        $(document).on("click", "#RefundSubmission", function (e) {

            if (FormValidation()) {
                e.preventDefault();
                return false;
            }
            else {
                var form = $(this);
                var data = JSON.stringify();

                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Hr/MemberLoanRefund/MemberRefundOperation",
                    cache: false,
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: data,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: IsSuccess.Message,
                                displayMessageType: "s",
                                displayTime: 50000
                            });
                        }
                    }
                });
            }

        });


        function FormValidation() {
            //var html2 = ['<div class="alert alert-danger">',
            //               ' <a class="close" data-dismiss="alert">×</a>',
            //                '<strong>Error!</strong>', +"Invalid amount" +
            //            '</div>'].join("\n");

            var loanAmount = parseInt(document.getElementById("LoanBalance").value);
            var refundAmount = $("#RefundAmount").val();
            if (refundAmount === "" || refundAmount === 0) {

                $.fn.customMessage({
                    displayMessage: "Invalid Refund Amount",
                    displayMessageType: "e",
                    displayTime: 5000
                });
                $("#RefundAmount").css('border-color', 'red');
                //e.preventDefault();
                return true;
            }
            else if (refundAmount > loanAmount) {

                //$(".msgBox").show();
                $.fn.customMessage({
                    displayMessage: "Invalid Refund Amount",
                    displayMessageType: "e",
                    displayTime: 5000
                });
                $("#RefundAmount").css('border-color', 'red');
                return true;
            }
            else {
                return false;
            }
        }

        @**----function for render data table----*@
        function dataTableRender() {
            var displayNo = 100;
            if ($('#DisplayNox').val() != "" && /^\d+$/.test($('#DisplayNox').val())) {
                displayNo = parseInt($('#DisplayNox').val());
            }
            else {
                $('#DisplayNox').val(displayNo);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollCollapse": true,
                "scrollY": "60vh",
                "scrollX": false,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                //stateSave: true,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [7] }],
                // order: [[0, "asc"]],
                //order: [[0, "asc"]],
                ajax: {
                    url: '@Url.Action("LoanRefundList", "MemberLoanRefund")',
                    type: 'POST',
                    data: function (dt) {
                        dt.pin = $('#memberPin').val();
                        dt.name = $('#memberName').val();
                        dt.receiptNo = $('#receiptNo').val();
                    },

                    error: function (response) {
                        ShowErrorMessage("Loan refund data load error. Please try again.");
                    }
                }
            });
        }

        $(document).ready(function () {

            $("#rlas").click(function () {
                // alert("sdfds");
                dataTableRender();
            });
        });

        $(document).on("input propertychange", "#memberPin ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            input.val(text);

        });

        $(document).on("click", "#searchx", function () {
            dataTableRender();
        });

        //$(document).on("keypress", "#RefundAmount ", function (event)
        //{
        //    var loanBalance = $("#LoanBalance").val();
        //    alert(loanBalance);

        //    var input = $(this),
        //        text = input.val().replace(/[^0-9]/g, "");
        //    input.val(text);
        //    var refundAmount = input.val();

        //    if (refundAmount !== "" && refundAmount > 0)
        //    {
        //        if (refundAmount > loanBalance)
        //        {
        //            //console.log("loan balance", loanBalance);
        //            alert("Y");
        //            $("#RefundAmount").css('border-color', 'red');
        //        }
        //        else
        //        {
        //            alert("N");
        //        }
        //    }
        //    else
        //    {
        //        $("#CurrentBalance").val("0.00");
        //    }
        //});

    </script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
