﻿@model UdvashERP.BusinessModel.ViewModel.Hr.EmployeeBenefitFundBalanceView

<tr>
    @*<td>
        @Html.TextBoxFor(model => model.TeamMember.Pin, new { @class = "form-control teamMember", disabled = "true" })
        @Html.ValidationMessageFor(model => model.TeamMember.Pin, "", new { @class = "teamMemberValidation" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.TeamMember, new { @class = "form-control teamMember", disabled = "true" })
        @Html.ValidationMessageFor(model => model.TeamMember, "", new {@class = "teamMemberValidation"})
    </td>
    <td>
        @Html.TextBoxFor(model => model.TeamMember.EmploymentHistory[0].Designation, new { @class = "form-control teamMember", disabled = "true" })
        @Html.ValidationMessageFor(model => model.TeamMember.EmploymentHistory[0].Designation, "", new { @class = "teamMemberValidation" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.EmployeeContribution, new {id = "EmployeeContribution", @class = "form-control employeeContribution ", @placeholder = "0", @type = "text", @value = ""})
        @Html.ValidationMessageFor(model => model.EmployeeContribution, "", new {@class = "employeeContribution"})
    </td>
    <td>
        @Html.TextBoxFor(model => model.EmployerContribution, new {id = "EmployerContribution", @class = "form-control employerContribution", @placeholder = "0", @type = "text", @value = ""})
        @Html.ValidationMessageFor(model => model.EmployerContribution, "", new {@class = "employerContribution"})
    </td>*@

</tr>