﻿@model UdvashERP.BusinessModel.Entity.Administration.Course

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"><h3>Are you sure you want to delete this?</h3></div>
    <div class="panel-body">

        <div>
            <h4>Course</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Rank)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rank)
                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Back to List", "ManagePackage")
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                   
                </div>
            }
        </div>
    </div>
</div>



