﻿@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessRules
@if (ViewBag.HasAcademicInfo)
{
    IList<AcademicInfo> dataList = ViewBag.AcademicInfo;
    if (dataList.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">Educational Qualification</div>
            <div class="panel-body" style="min-height: 100px">
                <table class="table table-responsive table-bordered table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Degree Title</th>
                            <th>Board/Varsity</th>
                            <th>Major/Group</th>
                            <th>Institute Name</th>
                            <th>Result</th>
                            <th>Passing Year</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in dataList)
                        {
                            <tr>
                                <td>
                                    @if (row.Exam != null)
                                    {
                                        @row.Exam.Name.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }

                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(row.DegreeTitle))
                                    {
                                        @row.DegreeTitle.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }
                                </td>
                                <td>
                                    @if (row.Board != null)
                                    {
                                        @row.Board.Name.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(row.Major))
                                    {
                                        @row.Major.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }
                                </td>
                                <td>
                                    @if (row.Institute != null)
                                    {
                                        @row.Institute.Name.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }
                                </td>
                                <td>
                                    @{
                                    const int type = (int)HrAcademicResultType.Grade;
                                    if (row.ResultType == type)
                                    {
                                        @row.Grade.ToString()<span> of </span>
                                        @row.GradeScale.ToString()
                                    }
                                    else if (row.ResultType == (int)HrAcademicResultType.Division)
                                    {
                                        if (row.Result != null && row.Result > 0)
                                        {
                                            var resultText = ((HrAcademicResult)row.Result.Value).GetDescription();
                                            @resultText
                                        }
                                        else
                                        {
                                            @Html.Label("")
                                        }
                                    }
                                    }
                                </td>
                                <td>
                                    @if (row.Year != null && row.Year > 0)
                                    {
                                        @row.Year.ToString()
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }
                                </td>
                                <td>
                                    @if (row.CurrentAcademicStatus != null && row.CurrentAcademicStatus > 0)
                                    {
                                        var statusText = ((HrAcademicExamStatus)row.CurrentAcademicStatus.Value).GetDescription();
                                        @statusText
                                    }
                                    else
                                    {
                                        @Html.Label("")
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}