﻿@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessRules

@if (ViewBag.HasJobExperienceInfo)
{
    IList<JobExperience> dataList = ViewBag.JobExperienceInfo;
    foreach (var row in dataList)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">Job Experiences</div>
            <div class="panel-body" style="min-height: 100px">
                <table class="table table-responsive table-striped table-bordered table-condensed text-center">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Com.Type</th>
                            <th>Address</th>
                            <th>Department</th>
                            <th>Position Held</th>
                            <th>Exp.Area</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(row.CompanyName))
                                    {
                                    @row.CompanyName.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                            <td>
                                @if (row.CompanyType != null && row.CompanyType > 0)
                                    {
                                        var resultText = ((HrCompanyType)row.CompanyType.Value).ToString();
                                    @resultText
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.CompanyLocation))
                                    {
                                    @row.CompanyLocation.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.DepartmentName))
                                    {
                                    @row.DepartmentName.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Position))
                                    {
                                    @row.Position.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.ExperienceArea))
                                    {
                                    @row.ExperienceArea.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Duration))
                                    {
                                    @row.Duration.ToString(CultureInfo.CurrentCulture)
                                    }
                                    else
                                    {
                                    @Html.Label("")
                                    }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}