﻿@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr

@if (ViewBag.HasProfessionalQInfo)
{
    IList<TrainingInfo> dataList = ViewBag.ProfessionalQInfo;
    foreach (var row in dataList)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">Professional Qualifications</div>
            <div class="panel-body" style="min-height: 100px">
                <table class="table table-responsive table-striped table-bordered table-condensed text-center">
                    <thead>
                        <tr>
                            <th>Certifications</th>
                            <th>Institute Name</th>
                            <th>Location</th>
                            <th>Duration</th>
                            <th>Passing Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Certification))
                                {
                                    @row.Certification.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (row.Institute != null)
                                {
                                    @row.Institute.Name.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Location))
                                {
                                    @row.Location.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Duration))
                                {
                                    @row.Location.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (row.Year != null && row.Year > 0)
                                {
                                    @row.Year.ToString()
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}