﻿@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr

@if (ViewBag.HasTrainingInfo)
{
    IList<TrainingInfo> dataList = ViewBag.TrainingInfo;

    <div class="panel panel-primary">
        <div class="panel-heading">Training Information</div>
        <div class="panel-body" style="min-height: 100px">
            <table class="table table-responsive table-striped table-bordered table-condensed text-center">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Institute</th>
                        <th>Location</th>
                        <th>Durations</th>
                        <th>Passing Year</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in dataList)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(row.TrainingTitle))
                                {
                                    @row.TrainingTitle.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.TopicCovere))
                                {
                                    @row.TopicCovere.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (row.Institute != null)
                                {
                                    @row.Institute.Name.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Location))
                                {
                                    @row.Location.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(row.Duration))
                                {
                                    @row.Location.ToString(CultureInfo.CurrentCulture)
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                            <td>
                                @if (row.Year != null && row.Year > 0)
                                {
                                    @row.Year.ToString()
                                }
                                else
                                {
                                    @Html.Label("")
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}