﻿@if (ViewBag.ActionsListCount > 0)
{
    foreach (var item in @ViewBag.ActionsList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
else
{
    <option value="">Select Action</option>
}

