﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UserAuth.Menu>

@{
    ViewBag.Title = "_Menu";
}
<br />
@foreach (var item in Model)
{
    <div class="panel panel-primary menu-group" data-menugroup="@item.MenuGroup.Id">
        <div class="panel-heading">
            <h4 class="panel-title">
                @item.MenuGroup.Name
            </h4>
        </div>
    </div>
    break;
}

<ul class="panel-group" id="accordion">
    @foreach (var item in Model)
    {

        <li class="panel panel-default">

            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.Id">
                <h4 class="panel-title">
                    <a href="#">@item.Name </a>
                </h4>
            </div>
            <div id="collapse_@item.Id" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @foreach (var submenu in item.Menus)
                        {
                            <li><a href="@Url.Content("~")@submenu.MenuGroup.Name/@submenu.ControllerName/@submenu.ActionName" class="submenuitem">@submenu.Name</a> </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
</ul>
