﻿
@if(ViewBag.MenuGroupList!=null){
    foreach (var item in @ViewBag.MenuGroupList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
else
{
    <option value="">All Parent Menu</option>
}
   