﻿@{
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Yearly Leave Report</h4>
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group" style="padding: 2px">
                <div style="background-color: gainsboro">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <p style="text-align: center; margin-bottom: 0px;"> <span style="text-align: center; "><strong>@ViewBag.OrganizationName</strong></span></p>
                        <p style="text-align: center; margin-bottom: 0px;"><span style="text-align: center;"><strong>@ViewBag.BranchName - @ViewBag.CampusName</strong></span></p>
                        <p style="text-align: center; margin-bottom: 0px;"><span style="text-align: center;"><strong>@ViewBag.DepartmentName - @ViewBag.DesignationName</strong></span></p>
                        <p style="text-align: center; margin-bottom: 0px;"><span style="text-align: center;"><strong>@ViewBag.SheetName</strong></span></p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            <thead>
                <tr>
                    @if (ViewBag.InformationViewList != null)
                    {
                        foreach (string informationView in ViewBag.InformationViewList)
                        {
                            <th>@informationView</th>
                        }
                        foreach (string leaveNameList in ViewBag.LeaveNameList)
                        {
                            <th colspan="8">@leaveNameList</th>
                        }
                    }
                </tr>
                <tr>
                    @if (ViewBag.InformationViewList != null)
                    {
                        <th colspan="2"></th>
                        foreach (string leaveNameList in ViewBag.LeaveNameList)
                        {
                            <th>Carry Forward</th>
                            <th>Current Year</th>
                            <th>Encash</th>
                            <th>Void</th>
                            <th>Total Balance</th>
                            <th>Taken</th>
                            <th>Pending</th>
                            <th>Available Balance</th>
                        }
                    }
                </tr>
            </thead>

            <tbody class="text-center"></tbody>
        </table>

    </div>
</div>