﻿
@Styles.Render("~/Content/styledatatable")
@using UdvashERP.BusinessRules
@model UdvashERP.Areas.Student.Models.BoardInformation

@{
    ViewBag.Title = "Info Synchronizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Info Synchronizer</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style=" padding:2%">
                <div style="background-color: gainsboro">
                    <div class="col-md-3">
                        @*<img src="@logoImage" width="150" height="150" />*@
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ViewBag.OrganizationHeaderName</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">@ViewBag.ProgramHeaderName @ViewBag.SessonHeaderName</span></p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">Board Info Synchronizer</span></p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right; font-weight:bold; width: 14% ">Branch :</td>
                        <td style="text-align: left">@ViewBag.BranchHeaderName</td>
                        <td style="text-align: right; font-weight:bold;width: 14%  ">Campus :</td>
                        <td style="text-align: left">@ViewBag.CampusHeaderName</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight: bold;">Batch Days :</td>
                        <td style="text-align: left">@ViewBag.BatchDaysHeaderName</td>
                        <td style="text-align: right; font-weight: bold;">Batch Name :</td>
                        <td style="text-align: left">@ViewBag.BatchHeaderName</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight:bold; ">Exam :</td>
                        <td style="text-align: left">@ViewBag.ExamHeaderName @ViewBag.YearHeaderName</td>
                        <td style="text-align: right; font-weight:bold;">Sync. Status :</td>
                        <td style="text-align: left">@ViewBag.StatusHeaderName</td>
                    </tr>

                </table>
            </div>
        </div>
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="prnNo" name="prnNo" type="text" class="form-control " placeholder="Program Roll" />
                </th>
                <th class="form-group">
                    <input id="name" name="name" type="text" class="form-control " placeholder="Nick Name" />
                </th>
                <th class="form-group">
                    <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile" />
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    @*<div class="col-md-12 text-center">
                        <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                    </div>*@
                </th>
            </tr>
        </table>
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            @*table-responsive*@
            <thead>
                <tr>
                    <th>
                        Sl
                    </th>
                    @if (Model.InformationViewList != null)
                    {
                        
                        foreach (string informationView in Model.InformationViewList)
                        {
                           
                           <th>@informationView</th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

    </div>
    <div class="col-md-12 text-center">
        <input type="button" name="sync" id="sync" value="Synchronize" class="btn btn-primary" />
    </div>
    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    
    @* ReSharper disable once ConditionIsAlwaysConst *@
    <script type="text/javascript">
    $(document).ready(function() {

    });

    var programId = @Model.ProgramId;
    var sessionId = @Model.SessionId;
    var branchId = @Html.Raw(Json.Encode(@Model.SelectedBranch));
    var campusId = @Html.Raw(Json.Encode(@Model.SelectedCampus));
    var batchDays = @Html.Raw(Json.Encode(@Model.SelectedBatchDays));
    var batchTimes = @Html.Raw(Json.Encode(@Model.SelectedBatchTime));
    var batch = @Html.Raw(Json.Encode(@Model.SelectedBatch));
    var syncStatus = @Html.Raw(Json.Encode(@Model.SyncStatus));
    var studentExamId = @Html.Raw(Json.Encode(@Model.StudentExamId));
    var year = @Html.Raw(Json.Encode(@Model.ExamYear));
    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

        //var prnNo = $("#prnNo").val();
        //var name = $("#name").val();
        //var mobile = $("#mobile").val();

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                    //"bVisible":  false,
                    //"aTargets1": [1],
                    //"data": "StudentId", "targets": 2, "visible": true
                }
            ],
            ajax: {
                url: '@Url.Action("GeStudentForInfoSynchronizerAjaxRequest", "BoardInfo")',
                type: 'POST',
                data: function(d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchDays = batchDays;
                    d.batchTimes = batchTimes;
                    d.batch = batch;
                    d.syncStatus = syncStatus;
                    d.studentExamId = studentExamId;
                    d.year = year;
                    d.informationViewList = informationViewList;
                    d.prnNo = $("#prnNo").val();
                    d.name = $("#name").val();
                    d.mobile = $("#mobile").val();

                },
                complete: function() {
                    // $("#table td:nth-child(" + 3 + "),th:nth-child(" + 3 + ")").hide();
                    //$('td:nth-child(3)').hide();
                },
            }

        });
    }

    dataTableRender();

    /*end render data table*/
    $(document).on("click", "#search", function() {
        dataTableRender();
    });


    @*syn*@
    $(document).on("click", "#sync", function() {

        
        //var studentId = [];
        //$('#DataGrid tbody tr').each(function() {
        //    var getStudentId = $(this).find("td").eq(2).text();
        //    studentId.push(getStudentId);
        //});

        var studentPrn = [];
        $('#DataGrid tbody tr').each(function() {
            var getStudentPrn = $(this).find("td").eq(1).text();
            studentPrn.push(getStudentPrn);
        });

        console.log(studentPrn);

        //if (studentId != null && studentId != "" && studentExamId>0)

        if (studentPrn != null && studentPrn != "" && studentExamId > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSyncData", "BoardInfo")',
                cache: false,
                async: true,
                data: { studentPrn: studentPrn, studentExamId: studentExamId },
                beforeSend: function() {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function(response) {
                    if (response.IsSuccess) {
                        var splitData = response.resultNotFountPrn;
                        splitData = splitData.split("[]");
                        if (splitData[0].length > 0) {
                            $.fn.customMessage({
                                displayMessage: "error occured during sync student board data ( " + splitData[0] + " ) ",
                                displayMessageType: "e",
                            });
                        }
                        if (splitData[1].length > 0)
                        {
                            $.fn.customMessage({
                                displayMessage: "Successfully synchronized data ("+splitData[1]+")",
                                displayMessageType: "s",
                            });
                        }
                        $.unblockUI();
                        console.log("Success -----");
                    } else {
                        $.fn.customMessage({
                            displayMessage: "error occured during sync student board data",
                            displayMessageType: "e",
                        });
                    }
                    //$("#SessionId").html(response);

                },
                complete: function() {
                    $.unblockUI();
                    console.log("Complete -----");
                },
                error: function(response) {
                    $.unblockUI();
                    //$.fn.customMessage({
                    //    displayMessage: "error occured during sync student board data",
                    //    displayMessageType: "e",
                    //});
                    console.log("Failed -----");
                    // console.log(result);
                }
            });
        }

    });


    </script>


}



