﻿@using UdvashERP.BusinessRules
@model UdvashERP.Areas.Student.Models.BoardInformation

@{
    ViewBag.Title = "Student Board Result Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Board Result Summary Report</h4>
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style=" padding:2%">
                <div style="background-color: gainsboro">
                    <div class="col-md-3">
                        <img src="~/Content/Image/udvashlogo.png" width="150" height="150" />
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">@ViewBag.ReportHeadInfo[0] @ViewBag.ReportHeadInfo[1]</span></p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">Board Roll Information</span></p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right; font-weight:bold; width: 14% ">Branch :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[2]</td>
                        <td style="text-align: right; font-weight:bold;width: 14%  ">Campus :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[3]</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight:bold; ">Batch Days :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[4]</td>
                        <td style="text-align: right; font-weight:bold;">Batch Name :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[5]</td>
                    </tr>
                    @*<tr>
                            <td style="text-align: right; font-weight:bold ">Course :</td>
                            <td style="text-align: left" colspan="3">@ViewBag.ReportHeadInfo[6]</td>
                        </tr>*@
                </table>
            </div>

        </div>

        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="prnNo" name="prnNo" type="text" class="form-control " placeholder="Prn No" />
                </th>
                <th class="form-group">
                    <input id="name" name="name" type="text" class="form-control " placeholder="Nick Name" />
                </th>
                <th class="form-group">
                    <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile" />
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                    </div>
                </th>
            </tr>
        </table>
        <br />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
    var programId = @Model.ProgramId;
    var sessionId = @Model.SessionId;
    var branchId = @Html.Raw(Json.Encode(@Model.SelectedBranch));
    var campusId = @Html.Raw(Json.Encode(@Model.SelectedCampus));
    var batchDays =@Html.Raw(Json.Encode(@Model.SelectedBatchDays));
    var batchTimes =@Html.Raw(Json.Encode(@Model.SelectedBatchTime));
    var batchIds =@Html.Raw(Json.Encode(@Model.SelectedBatch));
    var studentExamId = @Html.Raw(Json.Encode(@Model.StudentExamId));


    var gradeType = @Html.Raw(Json.Encode(@Model.SelectGrade));
    var reportType = @Html.Raw(Json.Encode(@Model.SelectReportType));
    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = $('#pageSize').val();
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [(lastColumn - 1)]
            }],
            ajax: {
                url: '@Url.Action("GetStudentBoardResultSummaryAjaxRequest", "BoardInfo")',
                type: 'POST',
                data: function (d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchDays = batchDays;
                    d.batchTimes = batchTimes;
                    d.batchIds = batchIds;
                    d.informationViewList = informationViewList;
                }
            }
        });
    }

    dataTableRender();

    /*end render data table*/
    $(document).on("click", "#search", function() {
        dataTableRender();
    });
    </script>


}
