﻿@Styles.Render("~/Content/styledatatable")
@model UdvashERP.Areas.Student.Models.ViewBoardRollViewModel

@{
    ViewBag.Title = "View Board Roll";
   
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">View Board Roll</h4>
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group"  style=" padding:2%">
                <div style="background-color: gainsboro">
                    <div class="col-md-3">
                        <img src="@logoImage" width="150" height="150" />
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">@ViewBag.ReportHeadInfo[0] @ViewBag.ReportHeadInfo[1]</span></p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">View Board Roll</span></p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right; font-weight:bold; width: 14% ">Branch :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[2]</td>
                        <td style="text-align: right; font-weight:bold;width: 14%  ">Campus :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[3]</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight:bold; ">Batch Days :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[4]</td>
                        <td style="text-align: right; font-weight:bold;">Batch Name :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[5]</td>
                    </tr>
                    
                </table>
            </div>
        </div>

        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="prnNo" name="prnNo" type="text" class="form-control " placeholder="Prn No" />
                </th>
                <th class="form-group">
                    <input id="name" name="name" type="text" class="form-control " placeholder="Nick Name" />
                </th>
                <th class="form-group">
                    <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile" />
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                    </div>
                </th>
            </tr>
        </table>
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">@*table-responsive*@
            <thead>
                <tr>
                    <th>
                        Sl
                    </th>
                    @if (Model.InformationViewList != null)
                    {
                        foreach (string informationView in Model.InformationViewList)
                        {                          
                                <th>@informationView</th>                          
                        }
                    }
                   
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/jquery.blockUI.js"></script>


    <script type="text/javascript">
    var programId = @Model.ProgramId;
    var sessionId = @Model.SessionId;
    var branchId = @Html.Raw(Json.Encode(@Model.SelectedBranch));
    var campusId = @Html.Raw(Json.Encode(@Model.SelectedCampus));
    var batchName = @Html.Raw(Json.Encode(@Model.SelectedBatch));
    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));
    var batchDays = @Html.Raw(Json.Encode(@Model.SelectedBatchDays));
    var batchTime = @Html.Raw(Json.Encode(@Model.SelectedBatchTime));
    var selectStatus = @Model.SelectedStatus;



    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        // alert(lastColumn);

        var prnNo = $("#prnNo").val();
        var name = $("#name").val();
        var mobile = $("#mobile").val();

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            order: [[1, "desc"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [(lastColumn - 1)]
            }],
            ajax: {
                url: '@Url.Action("StudentViewBoardRollAjaxRequest","BoardInfo")',
                type: 'POST',
                data: function(d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchName = batchName;
                    d.informationViewList = informationViewList;
                    d.batchDays = batchDays;
                    d.batchTime = batchTime;
                    d.selectStatus = selectStatus;
                    d.prnNo = prnNo;
                    d.name = name;
                    d.mobile = mobile;
                }
            }
        });
    }

    dataTableRender();

    /*end render data table*/
    $(document).on("click", "#search", function() {
        dataTableRender();
    });


    @*responsible for generate header*@
    var programHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[0]+" "+ @ViewBag.ReportHeadInfo[1])) ;
    var branchHeader =@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[2]));
    var campusHeader =@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[3]));
    var batchDayHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[4]));
    var batchHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[5]));

    @*end responsible for generate header*@

    $(document).on("click", "#export", function() {
        var prnNo = $("#prnNo").val();
        var name = $("#name").val();
        var mobile = $("#mobile").val();
        var urlParam = {
            programHeader: programHeader,
            branchHeader:branchHeader,
            campusHeader:campusHeader,
            batchDayHeader:batchDayHeader,
            batchHeader:batchHeader,
            programId:programId,
            sessionId:sessionId,
            branchId:branchId,
            campusId:campusId,
            batchName:batchName,
            batchDays: batchDays,
            batchTime:batchTime,
            informationViewList:informationViewList,
            prnNo:prnNo,
            name:name,
            mobile:mobile,
            selectStatus : selectStatus
        };

        var url = "@Url.Action("ExportViewBoardRollFiles", "BoardInfo", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });

</script> 
}
