﻿@model UdvashERP.Areas.Student.Models.BoardInformation
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Board Info Synchronizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Board Info Synchronizer</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("OrganizationId", (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.ProgramId, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4 sb">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBranch, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedCampus, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatch, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Exam", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.StudentExamId, (SelectList)ViewBag.SelectedExam, "Select Exam", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StudentExamId, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Exam Year", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ExamYear, new { htmlAttributes = new { @class = "form-control form_year", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ExamYear, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SyncStatus, ViewBag.SelectStatus as List<SelectListItem>, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SyncStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <br />
                <div class="form-group">                
                    <div id="DisplayStudentData" style="padding-left:40%">
                        <div class="col-md-2">
                            <input type="button" value="Count" class="btn btn-primary" id="calculate" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="NumberOfStudent" disabled="" />
                            @Html.ValidationMessageFor(m => m.NumberOfStudent, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align:center; font-weight:bold;">
                            <h4>Select Information To View</h4>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="padding-left: 80px">
                        <div class="col-md-12">
                            @Html.ListBoxFor(m => m.InformationViewList, (IEnumerable<SelectListItem>)ViewBag.InformationViewSelectList, new { @class = "form-control", @id = "informationViewList" })
                            @*<select name="informationViewList" id="informationViewList" class="form-control" multiple="multiple" style="height: 100px">
                                <option value="Program Roll">Program Roll</option>
                                <option value="Full Name">Full Name</option>
                                <option value="Mobile Number (Student)">Mobile Number (Student)</option>
                                <option value="Father's Name">Father's Name</option>
                                <option value="Institute Name">Institute</option>
                                <option value="NickName">Nick Name</option>
                                <option value="MobileNumber(Father)">Mobile Number(Father)</option>
                                <option value="MobileNumber(Mother)">Mobile Number(Mother)</option>
                                <option value="Year">Year</option>
                                <option value="Board">Board</option>
                                <option value="BoardRoll">Board Roll</option>
                                <option value="RegistrationNumber">Reg. No.</option>
                            </select>*@
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" id="Submit" value="View List" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
        }

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#OrganizationId").change(function() {

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select Program</option>");
                var organizationId = $('#OrganizationId').val();
                if (organizationId != null && organizationId != "") {
                    $.ajax({
                        type: "POST",
                        @*url: '@Url.Action("GetProgramByOrganization", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            //var listItems = "";
                            //$.each(response, function(index) {
                            //    listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                            //});
                            //$("#ProgramId").html(listItems);
                            $.each(response.returnProgramList, function(i, v) {
                                $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(response) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
            $("#ProgramId").change(function() {

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");

                var programId = $('#ProgramId').val();
                if (programId != null && programId != "") {
                    //alert(programId);
                    $.ajax({
                        type: "POST",
                        @*url: '@Url.Action("GetSession", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            //$("#SessionId").html(response);
                            $.each(response.returnSessionList, function(i, v) {
                                $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            console.log("Success -----");
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(response) {
                            $.unblockUI();
                            console.log("Failed -----");
                            // console.log(result);
                        }
                    });
                }
            });

            $("#SessionId").change(function() {
                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                    //Load Branch List
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetBranch", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $('#SelectedBranch').append("<option value='0'>All Branch</option>");
                            if (response.IsSuccess) {
                                $.each(response.returnBranchList, function(i, v) {
                                    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success -----");
                            } else {
                                console.log("Error -----");
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(response) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
            

            $("#SelectedBranch").change(function() {
                //$('.sb.field-validation-error').remove();

                //remove all dependant dropdownlist & selection option
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetCampus", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            //var listItems = "";
                            //$.each(response, function(index) {
                            //    listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                            //});
                            //$("#SelectedCampus").html(listItems);
                            $('#SelectedCampus').append("<option value='0'>All Campus</option>");
                            if (response.IsSuccess) {
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });


            //Campus Change Functionalities
            $("#SelectedCampus").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetBatchDay", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedBatchDays').append("<option value='0'>All Batch Days</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBatchDays, function(i, v) {
                                    $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            //Batch Day Change Functionalities
            $("#SelectedBatchDays").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();

                if (programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetBatchTime", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedBatchTime').append("<option value='0'>All Batch Times</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBatchTime, function(i, v) {
                                    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            //Batch Time Change Functionalities
            $("#SelectedBatchTime").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTime = $("#SelectedBatchTime").val();
                var batchTimeText = [];

                $("#SelectedBatchTime option:selected").each(function() {
                    var $this = $(this);
                    if ($this.length) {
                        batchTimeText.push($this.text());
                    }
                });

                if (programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != ""
                    && batchTime != null && batchTime != "") {
                    $.ajax({
                        type: "post",
                        @*url: '@Url.Action("GetBatch", "BoardInfo")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, batchTimes: batchTime },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedBatch').append("<option value='0'>All Batch</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBatch, function(i, v) {
                                    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

        
            @*student count*@

            $("#calculate").click(function() {
                var programId = $("#ProgramId").find('option:selected').val();
                var sessionId = $("#SessionId").find('option:selected').val();
                var studentExamId = $("#StudentExamId").val();
                var examYear = $("#ExamYear").val();
                var branch = $("#SelectedBranch").val();
                var campus = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTimes = $("#SelectedBatchTime").val();
                var batch = $("#SelectedBatch").val();
                var status = $("#SyncStatus").val();
                //var infoOption = $("#InfoOption").val();


                if (programId > 0 && sessionId > 0 && studentExamId > 0 && examYear != "" && branch != "" && campus != "" && batchDays != "" && batchTimes != "" && batch != "") {
                    $.ajax({
                        url: '@Url.Action("CountStudentForSynchronizer", "BoardInfo")',
                        type: "POST",
                        data: {
                            "programId": programId,
                            "sessionId": sessionId,
                            "studentExamId": studentExamId,
                            "year": examYear,
                            "branch": branch,
                            "campus": campus,
                            "batchDays": batchDays,
                            "batchTimes": batchTimes,
                            "batch": batch,
                            "status": status,
                        },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {

                                $("#NumberOfStudent").val(response.synchronizerStudentCount);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                        },

                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: "error occured during calculate student",
                                displayMessageType: "e",
                            });

                        }
                    });
                } else {
                    $.fn.customMessage({
                        displayMessage: "May be you need to select the option.",
                        displayMessageType: "e",
                    });

                }
            });
        });
        @*student count*@

        $(document).ready(function() {

            $('.form_year').datetimepicker({
                format: "yyyy",
                autoclose: true,
                todayBtn: false,
                showMeridian: false,
                initialDate: '2014',
                startDate: "2000",
                //startView: 4,
                //minView: 4,
                startView: 4,
                minView: 4,
                maxView: 5
            });


            @*information view list*@
            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });

        });
    </script>
}
