﻿@model UdvashERP.Areas.Student.Models.StudentCompareWithBoard
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Student Compare With Board Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Information Compare with Board</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style=" padding:2%">
                <div style="background-color: gainsboro">
                    <div class="col-md-3">
                        <img src="@logoImage" width="150" height="150" />
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">@ViewBag.ReportHeadInfo[0] @ViewBag.ReportHeadInfo[1]</span></p>
                        <p style="text-align: center"><span style="text-align: center;font-size: 20px">Student Information List Compare with board</span></p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right; font-weight:bold; width: 14% ">Branch :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[2]</td>
                        <td style="text-align: right; font-weight:bold;width: 14%  ">Campus :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[3]</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight:bold; ">Batch Days :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[4]</td>
                        <td style="text-align: right; font-weight:bold;">Batch Name :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[5]</td>
                    </tr>
                    @*<tr>
                        <td style="text-align: right; font-weight:bold ">Course :</td>
                        <td style="text-align: left" colspan="3">@ViewBag.ReportHeadInfo[6]</td>
                    </tr>*@
                    <tr>
                        <td style="text-align: right; font-weight:bold; ">Year :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[7]</td>
                        <td style="text-align: right; font-weight:bold;">Exam :</td>
                        <td style="text-align: left">@ViewBag.ReportHeadInfo[8]</td>
                    </tr>
                </table>
            </div>
        </div>
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="prnNo" name="prnNo" type="text" class="form-control " placeholder="Program Roll" />
                </th>
                <th class="form-group">
                    <input id="fullName" name="fullName" type="text" class="form-control " placeholder="Full Name" />
                </th>
                <th class="form-group">
                    <input id="fatherName" name="fatherName" type="text" class="form-control " placeholder="Father's Name" />
                </th>
                <th class="form-group">
                    <input id="institute" name="institute" type="text" class="form-control " placeholder="Institute" />
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" name="export" id="exportCompareList" value="Export" class="btn btn-primary" />
                    </div>
                </th>
            </tr>
        </table>
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            @*table-responsive*@
            <thead>
                <tr>
                    <th>
                        Sl
                    </th>
                    @if (Model.InformationViewList != null)
                    {
                        foreach (string informationView in Model.InformationViewList)
                        {
                            <th>@informationView</th>
                        }
                    }
                    @*<th>Action</th>*@
    </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>


    <script type="text/javascript">

    var programId = @Model.ProgramId;
    var sessionId = @Model.SessionId;
    var branchId = @Html.Raw(Json.Encode(@Model.SelectedBranch));
    var campusId = @Html.Raw(Json.Encode(@Model.SelectedCampus));
    var batchDays =@Html.Raw(Json.Encode(@Model.SelectedBatchDays));
    var batchTime =@Html.Raw(Json.Encode(@Model.SelectedBatchTime));
    var batchName =@Html.Raw(Json.Encode(@Model.SelectedBatch));
    var course = @Html.Raw(Json.Encode(@Model.SelectedCourse));    
    var examYear = @Html.Raw(Json.Encode(@Model.ExamYear));
    var studentExamId = @Html.Raw(Json.Encode(@Model.StudentExamId));
    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));
    

    var version =@Html.Raw(Json.Encode(@ViewBag.Version));
    var gender =@Html.Raw(Json.Encode(@ViewBag.Gender));
    var religion =@Html.Raw(Json.Encode(@ViewBag.Religion));

        //var prnNo = $("#prnNo").val();
        //var fullName = $("#fullName").val();
        //var fatherName = $("#fatherName").val();
        //var institute = $("#institute").val();

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = $('#pageSize').val();
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        //alert(prnNo+"//"+fullName+"//"+fatherName+"//"+institute);
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [(lastColumn - 1)]
            }],
            ajax: {
                url: '@Url.Action("StudentInfoCompareWithBoardAjaxRequest","BoardInfo")',
                type: 'POST',
                data: function(d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchName = batchName;
                    d.courseIds = course;
                    d.year = examYear;
                    d.studentExamId = studentExamId;
                    d.informationViewList = informationViewList;
                    d.batchDays = batchDays;
                    d.batchTime = batchTime;
                    d.version = version;
                    d.gender = gender;
                    d.religion = religion;
                    d.prnNo = $("#prnNo").val();
                    d.fullName = $("#fullName").val();
                    d.fatherName = $("#fatherName").val();
                    d.institute = $("#institute").val();
                }
            }
        });
    }

    dataTableRender();

    /*end render data table*/
    $(document).on("click", "#search", function() {
        dataTableRender();
    });
    $(document).on("click", "#exportCompareList", function() {
        var urlParam = {
            programId: programId,
            sessionId: sessionId,
            branchId: branchId,
            campusId: campusId,
            batchName: batchName,
            courseIds : course,
            year : examYear,
            studentExamId : studentExamId,
            informationViewList : informationViewList,
            batchDays : batchDays,
            batchTime : batchTime,
            version : version,
            gender : gender,
            religion : religion,
            prnNo :$("#prnNo").val(),
            fullName : $("#fullName").val(),
            fatherName: $("#fatherName").val(),
            institute : $("#institute").val()
            
        };

        var url = "@Url.Action("ExportStudentCompareWithBoard", "BoardInfo", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });
    </script>
}




