﻿@model UdvashERP.Areas.Student.Models.BoardInformation
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@{
    ViewBag.Title = "Update Student Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Update Student Info</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">@Html.DropDownList("OrganizationId", (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.ProgramId, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.SessionId, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBranch, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedCampus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatch, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Exam", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.StudentExamId, (SelectList)ViewBag.SelectedExam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StudentExamId, "", new { @class = "text-danger" })
                    </div>
                    
                    <div style="margin-top:5%">
                        @Html.Label("Status", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @*@Html.DropDownListFor(m => m.SelectGrade, (SelectList)ViewBag.SelectGrade, new { @class = "form-control" })*@
                            @Html.DropDownList("SelectStatus", ViewBag.SelectStatus as List<SelectListItem>, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(m => m.SelectGrade, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div id="DisplayStudentData" style="padding-left: 20%">
                        @Html.LabelFor(m => m.NumberOfStudent, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-3">
                            <input class="form-control" id="NumberOfStudent" disabled="" />
                            @Html.ValidationMessageFor(m => m.NumberOfStudent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="button" value="Count" class="btn btn-primary" id="calculate" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#OrganizationId").change(function () {
                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select Session</option>");
                var organizationId = $(this).val();
                if (organizationId != "" && organizationId != null) {
                    $.ajax({
                        url: '@Url.Action("GetProgramByOrganization", "BoardInfo")',
                        type: "POST",
                        data: { "organizationId": organizationId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function (response) {
                            var listItems = "";
                            $.each(response, function (index) {
                                listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                            });
                            $("#ProgramId").html(listItems);
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response, status, xhr) {
                            console.log("Failed -----");
                        }
                    });
                } else {
                    $('#programId').append("<option value=''>Select Program</option>");
                }
            });
            $("#ProgramId").change(function() {

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");

                var programId = $('#ProgramId').val();
                if (programId != null && programId != "") {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetSession", "BoardInfo")',
                        cache: false,
                        async: true,
                        data: { programId: programId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            $("#SessionId").html(response);
                            console.log("Success -----");
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(response) {
                            $.unblockUI();
                            console.log("Failed -----");
                            // console.log(result);
                        }
                    });
                }
            });

            $("#SessionId").change(function() {
                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                    //Load Branch List
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetBranch", "BoardInfo")',
                        cache: false,
                        async: true,
                        data: { programId: programId, sessionId: sessionId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.branchList, function(i, v) {
                                    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                /// $("#SelectedBranch").find('option:eq(0)').prop('selected', true);
                                console.log("Success -----");
                            } else {
                                console.log("Error -----");
                                // console.log(response);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            //console.log(response);
                        },
                        error: function(response) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(response);
                        }
                    });
                }
            });

            $("#SelectedBranch").change(function() {

                //remove all dependant dropdownlist & selection option
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetCampus", "BoardInfo")',
                        cache: false,
                        async: true,
                        data: { programId: programId, sessionId: sessionId, branchId: branchId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            var listItems = "";
                            $.each(response, function(index) {
                                listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                            });
                            $("#SelectedCampus").html(listItems);
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            // console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });


            //Campus Change Functionalities
            $("#SelectedCampus").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetBatchDay", "BoardInfo")',
                        cache: false,
                        async: true,
                        data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.batchDays, function(i, v) {
                                    $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                /// $("#SelectedBatchDays").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                //console.log(result);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            // console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            // console.log(result);
                        }
                    });
                }
            });

            //Batch Day Change Functionalities
            $("#SelectedBatchDays").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();

                if (programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != "") {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetBatchTime", "BoardInfo")',
                        cache: false,
                        async: true,
                        data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchDays: batchDays },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.batchTime, function(i, v) {
                                    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                /// $("#SelectedBatchTime").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                // console.log(result);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            //console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });

            //Batch Time Change Functionalities
            $("#SelectedBatchTime").change(function() {
                $("#missingImageCount").html("...");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTime = $("#SelectedBatchTime").val();
                var batchTimeText = [];

                $("#SelectedBatchTime option:selected").each(function() {
                    var $this = $(this);
                    if ($this.length) {
                        batchTimeText.push($this.text());
                    }
                });

                if (programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != ""
                    && batchTime != null && batchTime != "") {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetBatch", "BoardInfo")',
                        cache: false,
                        async: true,
                        data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchDays: batchDays, batchTime: batchTime, batchTimeText: batchTimeText },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.batchName, function(i, v) {
                                    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });



        @*calculate no of student*@

        $("#calculate").click(function() {
            var programId = $("#ProgramId").find('option:selected').val();
            var sessionId = $("#SessionId").find('option:selected').val();


            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();
            var batchTime = $("#SelectedBatchTime").val();
            var batchIds = $("#SelectedBatch").val();
            var studentExamId = $("#StudentExamId").val();
            var status = $("#SelectStatus").val();


            if (programId > 0 && sessionId > 0
                && branchId != null && branchId != ""
                && campusId != null && campusId != ""
                && batchDays != null && batchDays != ""
                && batchTime != null && batchTime != ""
                && studentExamId > 0) {
                $.ajax({
                    url: '@Url.Action("GetBoardResultStatus", "BoardInfo")',
                    type: "POST",
                    data: {
                        "programId": programId,
                        "sessionId": sessionId,
                        "branchId": branchId,
                        "campusId": campusId,
                        "batchDays": batchDays,
                        "batchTimes": batchTime,
                        "batchIds": batchIds,
                        "studentExamId": studentExamId,
                        "status": status
                    },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {

                            $("#NumberOfStudent").val(response.boardResultStatus);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                        }
                    },

                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "error occured during calculate student",
                            displayMessageType: "e",
                        });
                    }
                });
            } else {
                $.fn.customMessage({
                    displayMessage: "May be you need to select the option.",
                    displayMessageType: "e",
                });
            }
        });

        @*end calculate no of student*@
        });
        $(document).ready(function() {

            var programId = $('#ProgramId').val();
            if (programId != null && programId != "") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSession", "BoardInfo")',
                    cache: false,
                    async: true,
                    data: { programId: programId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#SessionId").html(response);
                        console.log("Success -----");
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                    },
                    error: function(response) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }

            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });

        });
    </script>


}