﻿@using UdvashERP.BusinessModel.Dto
@{
    List<DailyAllowanceDto> dailyAllowanceList = ViewBag.DailyAllowanceList;
    


    if (dailyAllowanceList != null && dailyAllowanceList.Any())
    {

            <div class="row">
                <table class="table table-bordered text-center" width="100%">
                    <thead>
                        <tr>
                            <th>PIN</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Organization</th>
                            <th>Branch</th>
                            <th>Campus</th>
                            <th>Designation</th>
                            <th>In Time</th>
                            <th>Out Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dal in dailyAllowanceList)
                        {
                            string allowbtnId = "allow" + dal.TeamMemberId;
                            string disallowbtnId = "disallow" + dal.TeamMemberId;
                            <tr>
                                <td>@dal.Pin</td>
                                <td>@dal.Name</td>
                                <td>@dal.Department</td>
                                <td>@dal.Organization</td>
                                <td>@dal.Branch</td>
                                <td>@dal.Campus</td>
                                <td>@dal.Designation</td>
                                <td>@dal.TimeFrom.ToString("hh:mm tt")</td>
                                <td>@dal.TimeTo.ToString("hh:mm tt")</td>
                                <td>

                                    @if (dal.IsApproved == false)
                                    {
                                        <span>False</span>
                                    }
                                    else
                                    {
                                        <span>True</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>

            }
            else
            {
            <div class="panel-body">
                <table class="table table-bordered text-center" width="100%">

                    <tbody>
                        <tr>
                            <th colspan="6">
                                No Data Found !!!!
                            </th>
                        </tr>
                    </tbody>
                </table>

            </div>
            }
            }
