﻿@model UdvashERP.BusinessModel.Entity.Exam.ExamsDetails

@{
    ViewBag.Title = "Manage Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #answerSubmit {
        display: none;
    }

    #answerEdit {
        display: none;
    }
</style>

@using (Html.BeginForm(new { EncType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Upload Answers</div>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9" id="orgmsg">
                                @Html.DropDownList("OrganizationId", (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Program, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.ProgramList, "Select Program", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Program" })
                                @Html.ValidationMessageFor(model => model.Exams.Program)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Session, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Exams.Session)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Course, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Course", Enumerable.Empty<SelectListItem>(), "Select Course", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Exams.Course)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @*@Html.DropDownList("Exam", Enumerable.Empty<SelectListItem>(), "Select Exam", new { @class = "form-control", @required = "required" })*@
                                @Html.TextBox("Exam", null, new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams,"Exam Name", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @*@Html.DropDownList("Exam", Enumerable.Empty<SelectListItem>(), "Select Exam", new { @class = "form-control", @required = "required" })*@
                                @Html.TextBox("ExamName", null, new { @class = "form-control", @required = "required",@readonly="readonly" })

                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Code, "Set Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("SetCodeUpdate", (IEnumerable<SelectListItem>)ViewBag.SetCode, "Select Set Code", new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                    </div>
                        <div class="clearfix"></div>

                        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-primary" style="width: 150px" />
                </div>
            </div>*@
                    </div>
            </div>
        </div>
    </div>
    <div id="answerSheetUpdate"></div>
    @Html.Hidden("ExamHidden")
    <div class="col-md-12">
        <div class="text-center">
            <input type="button" class="btn btn-danger" id="answerDelete" value="Delete"> &nbsp;
            <input type="button" class="btn btn-primary" id="answerUpdate" value="Update">
        </div>
    </div>

}
@section Scripts {

    @*<script type="text/javascript" src="~/Scripts/Exam/jquery-ui-1.9.2.min_.js"></script>

        <script type="text/javascript" src="~/Scripts/Exam/jquery.iframe-transport.js"></script>
        @*<script type="text/javascript" src="~/Scripts/Exam/jquery.fileupload-ui.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/Exam/jquery.fileupload.js"></script>*@

    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript" src="~/Scripts/Exam/UploadAnswer.js"></script>
}