﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@model UdvashERP.BusinessModel.Entity.Exam.ExamsDetails

@{
    ViewBag.Title = "UploadAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #answerSubmit {
        display: none;
    }
    #answerSubmitBtn {
        display: none;
    }
    #answerEdit {
        display: none;
    }
</style>

@using (Html.BeginForm(new { EncType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Upload Answers</div>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9" id="orgmsg">
                                @Html.DropDownList("OrganizationId", (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Program, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.ProgramList, "Select Program", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Program" })
                                @Html.ValidationMessageFor(model => model.Exams.Program)
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Session, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Exams.Session)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Course, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Course", Enumerable.Empty<SelectListItem>(), "Select Course", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Exams.Course)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Exams.Code, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @*@Html.DropDownList("Exam", Enumerable.Empty<SelectListItem>(), "Select Exam", new { @class = "form-control", @required = "required" })*@
                                @Html.TextBox("Exam", null, new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Exam Name", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @*@Html.DropDownList("Exam", Enumerable.Empty<SelectListItem>(), "Select Exam", new { @class = "form-control", @required = "required" })*@
                                @Html.TextBox("ExamName", null, new { @class = "form-control", @required = "required", @readonly="readonly" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="form-group col-md-6">
                            @Html.Label("Set Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("SetCode", (IEnumerable<SelectListItem>)ViewBag.SetCode, "Select Set Code", new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group input-group col-md-6">
                            @Html.Label("File Path", new { @class = "control-label col-md-3" })
                            <div class="control-label col-md-9">
                                <input id="pmFile" class="form-control" type="file" name="file" />

                            </div>
                            <span class="input-group-btn" style="padding-bottom: 6px;">
                                <input class="btn btn-primary" type="button" id="pmFileSend" value="Upload" />
                            </span>
                            <input type="hidden" id="pmFileName" name="pmFileName" value="" />
                        </div><!-- /input-group -->
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <span id="pmFileMessage"></span>
                        <br />
                        <br />
                        <div class="progress" style="height: 39px;line-height:37px; display: none">
                            <div id="pmFileProgressBar" class="progress-bar progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                <span><span id="pmFileProgressPersent">0</span>% Uploaded</span>
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" value="Save" class="btn btn-primary" style="width: 150px" />
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="answerSheet" id="answerSheet"></div>
    @Html.Hidden("ExamHidden")
    <div class="col-md-12">
        <div class="col-md-5"></div>
        <div class="col-md-5 ">
            <input type="button" class="btn btn-warning" id="answerEdit" value="Edit">
            <input type="button" class="btn btn-primary " id="answerSubmit" value="Save">
            <input type="button" class="btn btn-primary " id="answerSubmitBtn" value="Save">
        </div>
    </div>

}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript" src="~/Scripts/Exam/UploadAnswer.js"></script>
}