﻿@model UdvashERP.BusinessModel.Entity.Teachers.TeacherScriptEvaluationDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Teacher Script Evaluation Details</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.TeacherScriptEvaluation.SerialNumber)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.TeacherScriptEvaluation.SerialNumber)</td>
                </tr>
                @if (Model.TeacherScriptEvaluation.Program != null)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.TeacherScriptEvaluation.Program)</td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.TeacherScriptEvaluation.Program.Name)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Program</td>
                        <td style="text-align: left">Common</td>
                    </tr>
                }
                @if (Model.TeacherScriptEvaluation.Session != null)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.TeacherScriptEvaluation.Session)</td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.TeacherScriptEvaluation.Session.Name)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Session</td>
                        <td style="text-align: left">Common</td>
                    </tr>
                }

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">TPIN</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Teacher.Tpin)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Teacher)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Teacher.DisplayTeacherName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Description)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Quantity)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Quantity)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Amount)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Amount)</td>
                </tr>
                @{
                    if (Model.PaymentStatus == 2)
                    {
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.PaymentStatus)</td>
                            <td style="text-align:  left">Due</td>
                        </tr>
                    }
                    else if (Model.PaymentStatus == 1)
                    {
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.PaymentStatus)</td>
                            <td style="text-align:  left">Paid</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.PaymentDate)</td>
                            <td style="text-align:  left">
                                @if (Model.PaymentDate != null)
                                {
                                    @(Model.PaymentDate.Value.ToString("dd/MM/yyyy"))
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.PaidFromBranch)</td>
                            <td style="text-align:  left">@Html.DisplayFor(model => model.PaidFromBranch.Name)</td>
                        </tr>
                    }
}
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateByText)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate)</td>
                    <td style="text-align:  left">@(Model.CreationDate)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyByText)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate)</td>
                    <td style="text-align:  left">@(Model.ModificationDate)</td>
                </tr>

            </table>
        </div>
    </div>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
