﻿@model UdvashERP.BusinessModel.Entity.Teachers.TeacherScriptEvaluationDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Edit Script Evaluation
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "TeacherScriptEvaluation", FormMethod.Post, new { @id = "teacherScriptEvaluationForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                <option>@Model.TeacherScriptEvaluation.Program.Organization.ShortName</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                @if (Model.TeacherScriptEvaluation.Program != null)
                                {
                                    <option>@Model.TeacherScriptEvaluation.Program.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                @if (Model.TeacherScriptEvaluation.Session != null)
                                {
                                    <option>@Model.TeacherScriptEvaluation.Session.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                @if (Model.TeacherScriptEvaluation.Course != null)
                                {
                                    <option>@Model.TeacherScriptEvaluation.Course.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Hidden("SubmissionDate", Model.TeacherScriptEvaluation.SubmissionDate)
                        @Html.Label("Submission Date", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">

                            <input type="text" disabled="disabled" value='@if (Model.TeacherScriptEvaluation.SubmissionDate != null)
                                                                          {
                                                                              @Model.TeacherScriptEvaluation.SubmissionDate.Value.ToString("dd/MM/yyyy")
                                                                          }' class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="teacherScEvaluationList" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;" class="text-center">
                                            TPIN
                                        </th>
                                        <th style="width: 15%;" class="text-center">
                                            Examiner Name
                                        </th>
                                        <th style="width: 20%;" class="text-center">
                                            For Branch
                                        </th>
                                        <th style="width: 33%;" class="text-center">
                                            Job Description
                                        </th>
                                        <th style="width: 10%;" class="text-center">
                                            Quantity
                                        </th>
                                        <th style="width: 10%;" class="text-center">
                                            Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ScEvaluation_table">
                                    <tr>
                                        <th>
                                            <input type="hidden" class="form-control teacherId" name="teacherId" value="@Model.Teacher.Id" />
                                            <input type="text" class="form-control text-box single-line teacherTpin" placeholder="TPIN" name="" id="" data-val="true" value="@Model.Teacher.Tpin" disabled="disabled" autocomplete="off" />
                                        </th>
                                        <th>
                                            <input type="text" class="form-control text-box single-line teacherName" placeholder="Teacher Name" name="" id="" data-val="true" value="@Model.Teacher.DisplayTeacherName" disabled="disabled" autocomplete="off" />
                                        </th>
                                        <th>
                                            <select disabled="disabled" class="form-control BranchId tBranch">
                                                @if (Model.ForBranch != null)
                                                {
                                                    <option>@Model.ForBranch.Name</option>
                                                }
                                                else if (Model.ForBranch == null)
                                                {
                                                    <option>Common</option>
                                                }
                                            </select>
                                        </th>
                                        <th><input type="text" name="description" class="form-control text-box single-line tJDescription" placeholder="Description" value="@Model.Description" /></th>
                                        <th><input type="text" name="quantity" class="form-control text-box single-line tQuantity" placeholder="Quantity" value="@Model.Quantity" /></th>
                                        <th><input type="text" name="amount" class="form-control text-box single-line tAmount" placeholder="Amount" maxlength="8" size="8" value="@Model.Amount" /></th>

                                    </tr>
                                </tbody>
                                @*<tfoot>
                                        <tr>
                                            <th colspan="4" class="text-right">Total Amount</th>
                                            <th class="text-right" id="totalAmounts">0</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Save" class="btn btn-primary" id="SaveScriptEvaluation" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("input propertychange", ".teacher,.tBranch,.tJDescription,.tQuantity,.tAmount", function (event) {

                var e = checkRowValidity($(this).parents('tr'));

                if (e == 0) {
                    $(this).parents('tr').removeClass("invalid").addClass("valid");

                } else {
                    $(this).parents('tr').removeClass("valid").addClass("invalid");
                }
            });
            function checkRowValidity(placeHolder) {
                var error = 0;
                var teacherTpin = placeHolder.find(".teacherTpin").val();
                var teacherName = placeHolder.find(".teacherName").val();
                var teacherId = placeHolder.find(".teacherId").val();
                var tBranch = placeHolder.find(".tBranch").val();
                var description = placeHolder.find(".tJDescription").val();
                // var duration = placeHolder.find(".duration").val();
                var quantity = placeHolder.find(".tQuantity").val();
                var amount = placeHolder.find(".tAmount").val();

                if (teacherTpin == "") {
                    error = error + 1;
                    placeHolder.find(".teacherTpin").addClass("highlight");
                } else {
                    placeHolder.find(".teacherTpin").removeClass("highlight");
                }

                if (teacherId == "") {
                    error = error + 1;
                    placeHolder.find(".teacherTpin").addClass("highlight");
                } else {
                    placeHolder.find(".teacherTpin").removeClass("highlight");
                }

                if (teacherName == "") {
                    error = error + 1;
                    placeHolder.find(".teacherName").addClass("highlight");
                } else {
                    placeHolder.find(".teacherName").removeClass("highlight");
                }

                if (tBranch == "") {
                    error = error + 1;
                    placeHolder.find(".tBranch").addClass("highlight");
                } else {
                    placeHolder.find(".tBranch").removeClass("highlight");
                }

                if (description == "") {
                    error = error + 1;
                    placeHolder.find(".tJDescription").addClass("highlight");
                } else {
                    placeHolder.find(".tJDescription").removeClass("highlight");
                }

                if (quantity == "" || !(/^\+?(0|[1-9]\d*)$/.test(quantity)) || parseInt(quantity) > 99999999 || parseInt(quantity) < 1) {
                    error = error + 1;
                    placeHolder.find(".tQuantity").addClass("highlight");
                } else {
                    placeHolder.find(".tQuantity").removeClass("highlight");
                }
                if (amount == "" || !(/^(?=.*\d)\d*(?:\.\d+)?$/.test(amount)) || parseInt(amount) > 99999999 || parseInt(amount) < 1) {
                    error = error + 1;
                    placeHolder.find(".tAmount").addClass("highlight");
                } else {
                    placeHolder.find(".tAmount").removeClass("highlight");
                }


                if (error == 0) {
                    placeHolder.removeClass("danger");
                    placeHolder.addClass("info");
                } else {
                    placeHolder.addClass("danger");
                    placeHolder.removeClass("info");
                }

                return error;
            }


            function isValid(selector, message) {
                var error = 0;
                var value = $(selector).val();
                if (value == "") {
                    $(selector).parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html(message);
                    error = error + 1;
                } else {
                    $(selector).parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
                }
                return error;
            }

            function responseReturn() {

                var terror = 0;
                terror = terror + isValid("#OrganizationId", "The Organization is required.");
                terror = terror + isValid("#ProgramId", "The Program is required.");
                terror = terror + isValid("#SessionId", "The Session is required.");
                terror = terror + isValid("#CourseId", "The Course is required.");
                terror = terror + isValid("#SubmissionDate", "The Submission Date is required.");
                var isValidRow;
                var TeacherScriptEvaluationDetailsViewModelArray = [];
                $("#teacherScEvaluationList tbody tr").each(function () {
                    isValidRow = checkRowValidity($(this));
                    if (isValidRow > 0) {
                        terror = terror + 1;
                    } else {
                        TeacherScriptEvaluationDetailsViewModel = {}
                        TeacherScriptEvaluationDetailsViewModel["dId"] = $(this).find(".dId").val();
                        TeacherScriptEvaluationDetailsViewModel["TeacherName"] = $(this).find(".teacherName").val();
                        TeacherScriptEvaluationDetailsViewModel["TeacherId"] = $(this).find(".teacherId").val();
                        TeacherScriptEvaluationDetailsViewModel["Branch"] = $(this).find(".tBranch").val();
                        TeacherScriptEvaluationDetailsViewModel["Quantity"] = $(this).find(".tQuantity").val();
                        TeacherScriptEvaluationDetailsViewModel["Amount"] = $(this).find(".tAmount").val();
                        TeacherScriptEvaluationDetailsViewModel["Description"] = $(this).find(".tJDescription").val();
                        TeacherScriptEvaluationDetailsViewModelArray.push(TeacherScriptEvaluationDetailsViewModel);
                    }
                });


                if (terror == 0) {
                    //console.log(terror);
                    $("#teacherScriptEvaluationForm").get(0).submit();

                } else {
                    $.fn.customMessage({
                        displayMessage: "Please Enter valid Data",
                        displayMessageType: "error",
                    });
                }
            }

            $("#teacherScriptEvaluationForm").submit(function () {
                return false;
            });
            //$(document).on("click", "#SaveScriptEvaluation", function (event) {
            //    responseReturn();
            //});
            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    responseReturn();
                }
            });

            $(document).on("click", "#SaveScriptEvaluation", function (event) {
                responseReturn();
            });
        });
    </script>
}
