﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherScriptEvaluationManageViewModel

@{
    ViewBag.Title = "Manage Script Evaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Manage Script Evaluation
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m=>m.OrganizationId, (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m=>m.ProgramId, (SelectList)ViewBag.ProgramId, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m=>m.SessionId, (SelectList)ViewBag.SessionId, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PaymentStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m=>m.PaymentStatus, (SelectList)ViewBag.paymentStatus, "All Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PaymentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="View" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#OrganizationId").change(function () {
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select Program</option>");
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                
                var orgId = $("#OrganizationId").val();
                if (orgId != "") {
                    $("#OrganizationId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {
                    //$("#OrganizationId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    //$("#OrganizationId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("You need to select organization.");
                }

            });

            $("#ProgramId").change(function () {

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
               
                var programId = $('#ProgramId').val();
                if (programId != null && programId != "") {
                    $("#ProgramId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }

                        },
                        complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function (response) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {
                    //$("#ProgramId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("You need to select program.");
                }
            });


        });
    </script>
}