﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherScriptEvaluationManageViewModel

@{
    ViewBag.Title = "Teacher Script Evaluation Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Teacher Script Evaluation Report</h4>
    </div>
    <div class="panel-body">
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="date" name="date" type="text" class="form-control " placeholder="Date" readonly="true" />
                </th>
                <th class="form-group">
                    @Html.DropDownList("SelectCourseId", (SelectList) ViewData["CourseName"], "Select Course", new {@class = "form-control"})
                </th>
                <th class="form-group">
                    <input id="teacherTpin" name="teacherTpin" type="text" class="form-control " placeholder="TPIN" />
                </th>
                @*<th class="form-group">
                    <input id="teacherName" name="teacherName" type="text" class="form-control " placeholder="Examinar Name" />
                </th>*@
                <th class="form-group">
                    @Html.DropDownList("SelectBranchId", (SelectList)ViewData["BranchIds"], "Select Branch", new { @class = "form-control" })
                </th>
                <th style="padding:0px 0px 0px 5px; font-size: 18px; font-weight: normal"> S </th>
                <th class="form-group">
                    <input id="TrackingId" name="TrackingId" type="text" class="form-control trackingId" placeholder="Tracking Id" />
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                
            </tr>
        </table>
        <br />
        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            @*table-responsive*@
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        TPIN
                    </th>
                    <th>
                        Examiner
                    </th>
                    <th>
                        For Branch
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Tracking Id
                    </th>
                    <th>
                        Action
                    </th>
                    
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

    </div>
</div>
<div class="hiddenField">
    @Html.Hidden("teacherScriptEvaluationManageViewModel", ViewData["teacherScriptEvaluationManageViewModel"])
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>

    @* ReSharper disable once ConditionIsAlwaysConst *@
    <script type="text/javascript">
        $(document).ready(function () {

            //var today = new Date();
            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            //var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
            //var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();

            var initialDate = moment().format("YYYY-MM-DD");
            var startDate = moment().subtract(3, "months").format("YYYY-MM-DD");
            var endDate = moment().add(3, "months").format("YYYY-MM-DD");

            console.log(initialDate);
            console.log(startDate);
            console.log(endDate);

            $('#date').datetimepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });

        });

        function dataTableRender() {
            //alert("123");
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                //order: [[0, "desc"]],
                "ordering": false,
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [(lastColumn - 1)]
                    }
                ],
                
                ajax: {
                    url: '@Url.Action("AjaxRequestForTeacherScriptEvaluationReport", "TeacherScriptEvaluation")',
                    type: 'POST',
                    data: function (d) {
                        d.teacherScriptEvaluationManageViewModel = $("#teacherScriptEvaluationManageViewModel").val();
                        d.date = $("#date").val();
                        d.selectCourseId = $("#SelectCourseId").val();
                        //d.teacherName = $("#teacherName").val();
                        d.tpin = $("#teacherTpin").val();
                        d.selectBranchId = $("#SelectBranchId").val();
                        d.trackingId = $("#TrackingId").val();
                    },
                    complete: function() {
                        
                    },
                }

            });
        }

        dataTableRender();
        /*end render data table*/
        $(document).on("click", "#search", function() {
            dataTableRender();
        });
        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            //alert(id);
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Script Evaluation ?</h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Teachers/TeacherScriptEvaluation/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();

                                if (result.IsSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "s",
                                    });

                                    dataTableRender();
                                }
                                else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e",
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                });
                            }
                        });

                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });
    </script>
}