﻿@using Microsoft.AspNet.Identity
@using UdvashERP.Models
@model UdvashERP.Models.ManageUserViewModel

<p style="text-align: center">You're logged in as: <strong>@User.FullName()</strong> with email: <strong>@User.Identity.GetUserName()</strong></p> 

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @Id = "txtpassword", @style="" })
        </div>
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" value="Change Password" class="btn btn-primary" id="btnSubmit" />
        </div>
    </div>
}
