﻿@using UdvashERP.BusinessModel.ViewModel

@{
    ViewBag.Title = "InitilizeControllerActions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["UpdateControllerSuccessMessage"] != null)
{
    <div class="alert alert-success"  style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["UpdateControllerSuccessMessage"]
    </div>
}
@if (TempData["UpdateControllerErrorMessage"] != null)
{
    <div class="alert alert-danger" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["UpdateControllerErrorMessage"]
    </div>
}
@{
    int counter = 0;
}
<div class="panel panel-primary">
    <div class="panel-heading">Manage Initialize Controllers and Actions</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @{
                    foreach (var area in ViewBag.AreaControllers)
                    {

                        <div style="width: 33%; float: left;">
                            <ul id="controllerList" class="list-unstyled">
                                <li>
                                    <input type="checkbox" id="AreaControllersListViewModel[]_AreaName" name="AreaControllersListViewModel[].AreaName" value="true" /> <span>@area.AreaName</span>
                                    @{
                                        foreach (ViewModelCheckBox cont in area.ControllersName)
                                        {
                                            <ul class="list-unstyled" style="padding-left: 5%">
                                                <li>
                                                    @if (cont.IsSelected)
                                                    {
                                                        <input type="checkbox" id="ControllersName[@counter]_IsSelected" name="ControllersName[@counter].IsSelected" value="true" checked="checked" class="list-unstyled" />
                                                        @cont.Name
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="ControllersName[@counter]_IsSelected" name="ControllersName[@counter].IsSelected" value="true" class="list-unstyled" />
                                                        @cont.Name
                                                    }
                                                    <input type="hidden" id="ControllersName[@counter]_Name" name="ControllersName[@counter].Name" value="@cont.Name" />
                                                    <input type="hidden" id="ControllersName[@counter]_AName" name="ControllersName[@counter].AName" value="@cont.AName" />
                                                </li>
                                            </ul>
                                                    counter++;
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    }
                }
                <div class="row col-md-12" style="overflow: hidden">
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript">
                $(document).ready(function () {
                    $("input[type='checkbox']").change(function () { //#treeList :checkbox
                        $(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
                    });
                });
            </script>
        }
    </div>
</div>