﻿@using UdvashERP.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Manage Account</h4>
    </div>
    <div class="panel-body">
        <div class="text-center" role="alert">
            <p class="text-success" style="font-size: 18px; font-weight: bold;">@ViewBag.StatusMessage</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

                <section id="externalLogins">
                    @*@Html.Action("RemoveAccountList")*@
                    @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })*@
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.password-strength.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            var myPSPlugin = $("[id$='txtpassword']").password_strength();

            $("[id$='btnSubmit']").click(function () {
                return myPSPlugin.metReq(); //return true or false
            });

        });
    </script>

}
