﻿@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@{
    ViewBag.Title = "TeamMember Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TeamMemberTransferViewModel teamMemberTransferInfo = ViewBag.TeamMemberTransferInfo;
}
@Styles.Render("~/Content/bootstrap-datetimepicker")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Member Tranfer</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Transfer", "TeamMemberTransfer", FormMethod.Get, new {@id = "memberSearchForm"}))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="admissionBodyContent">
                    @Html.Editor("memberPin", (string) @ViewBag.MemberPin, new {htmlAttributes = new {@class = "form-control", @placeholder = "Enter PIN"}})
                    <input type="button" value="Search" class="btn btn-primary btn-lg btn-block" id="Search"/>
                </div>
            </div>
        }
    </div>
</div>

@if (teamMemberTransferInfo != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">Transfer From</div>
        <div class="panel-body">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.Label("Nick Name", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("NameDisplay", teamMemberTransferInfo.Name, new {@class = "form-control", @readonly = "readonly"})
                    </div>
                    @Html.Label("Personal Contact", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("PersonalContactDisplay", teamMemberTransferInfo.PersonalContact, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Organization", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("organizationDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.OrganizationName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    @Html.Label("Branch", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("branchDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.BranchName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Campus", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("campusDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.CampusName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    @Html.Label("Department", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("departmentDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.DepartmentName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Designation", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("designationDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.DesignationName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    @Html.Label("Employment Status", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("Employment Status Display", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.EmploymentStatus, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Joining Date", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("JoiningDateDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.JoiningDate, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    @Html.Label("Date To", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("DateToDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.DateTo, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Office Shift", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("OfficeShiftDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.OfficeShiftName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    @Html.Label("Weekend", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("WeekendDisplay", Enumerable.Empty<SelectListItem>(), teamMemberTransferInfo.WeekendName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Mentor PIN", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("MentorPINDisplay", null, new { @class = "form-control", @Value = teamMemberTransferInfo.MentorPin, @readonly = "readonly" })
                    </div>
                    @Html.Label("Mentor Name", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("MentorNameDisplay", null, new { @class = "form-control", @Value = teamMemberTransferInfo.MentorName, @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Card Number", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("CardNumberDisplay", null, new { @class = "form-control", @Value = teamMemberTransferInfo.CardNumber, @readonly = "readonly" })
                    </div>
                    @Html.Label("Card Status", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("cardStatusDisplay", Enumerable.Empty<SelectListItem>(), (teamMemberTransferInfo.OfficalDetailsStatus == MemberOfficialDetail.EntityStatus.Active) ? "Active" : "Inactive", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Offical Contact", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("officalContactDisplay", null, new { @class = "form-control", @Value = teamMemberTransferInfo.OfficialContact, @readonly = "readonly" })
                    </div>
                    @Html.Label("Offical Email", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBox("officalEmailDisplay", null, new { @class = "form-control", @Value = teamMemberTransferInfo.OfficialEmail, @readonly = "readonly" })
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Transfer To</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @using (Html.BeginForm("Transfer", "TeamMemberTransfer", FormMethod.Post, new {@id = "TransferForm"}))
                {
                    @Html.Hidden("memberId", teamMemberTransferInfo.Id)
                    @Html.Hidden("memberPin", teamMemberTransferInfo.Pin)
                    @Html.Hidden("officalDetailsId", teamMemberTransferInfo.OfficalDetailsId)
                    <div class="form-group">
                        @Html.Label("Organization", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("organizationId", ViewBag.OrganizationList as SelectList, "Select Organization", htmlAttributes: new {@class = "form-control"})
                        </div>

                        @Html.Label("Branch", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("branchId", ViewBag.BranchList as SelectList, "Select Branch", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Campus", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("campusId", ViewBag.CampusList as SelectList, "Select Campus", htmlAttributes: new {@class = "form-control"})
                        </div>

                        @Html.Label("Department", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("departmentId", ViewBag.DepartmentList as SelectList, "Select Department", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Designation", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("designationId", ViewBag.DesignationList as SelectList, "Select Designation", htmlAttributes: new {@class = "form-control"})
                        </div>
                        @Html.Label("Member Type", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("employmentStatus", ViewBag.EmploymentStatus as SelectList, "Select Employment Status", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Office Shift", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("shiftId", Enumerable.Empty<SelectListItem>(), "Select Office Time", htmlAttributes: new {@class = "form-control"})
                        </div>
                        @Html.Label("Weekend", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownList("weekend", ViewBag.WeekDays as SelectList, "Select Weekend Day", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Mentor PIN", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextBox("mentorPin", null, new {@class = "form-control", @placeHolder = "Enter PIN"})
                        </div>
                        @Html.Label("Mentor Name", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextBox("mentorName", null, new {@class = "form-control", @readonly = "readonly", @placeHolder = "Name"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Card Number", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextBox("cardNumber", null, new {@class = "form-control", @placeHolder = "Enter Card Number"})
                        </div>
                        @Html.Label("Card Status", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            <select name="cardStatus" id="cardStatus" class="form-control">
                                <option value="">Select Card Status</option>
                                <option value="@MemberOfficialDetail.EntityStatus.Active">Active</option>
                                <option value="@MemberOfficialDetail.EntityStatus.Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Offical Contact", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextBox("officalContact", null, new {@class = "form-control", @placeHolder = "Corporate Number"})
                        </div>
                        @Html.Label("Offical Email", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextBox("officalEmail", null, new {@class = "form-control", @placeHolder = "Offical Email"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Effective Date", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBox("effectiveDate", null, new {@class = "form-control  form_datetime", @readonly = "readonly"})
                        </div>
                    </div>
                }
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Transfer" name="transfer" class="btn btn-primary" id="transfer" />
                </div>
            </div>
        </div>
    </div>

    @*<div class="panel panel-primary">
        <div class="panel-heading">Leave Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <table width="50%">
                    <tr>
                        <th style="width: 60%">Leave Name</th>
                        <th style="width: 40%">No. of Day(s)</th>
                    </tr>
                    @if (teamMemberTransferInfo.LeaveDetails != null && teamMemberTransferInfo.LeaveDetails.Any())
                    {
                        foreach (TeamMemberTransferLeaveDetailsViewModel memberLeave in teamMemberTransferInfo.LeaveDetails)
                        {
                            <tr>
                                <td>@Html.Label(memberLeave.LeaveName, new {@class = "control-label"})</td>
                                <td>@Html.TextBox(memberLeave.LeaveName, null, new {@class = "form-control", @Value = memberLeave.CurrentYearAvailableleave.ToString(), @readonly = "readonly"})</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">No Leave Information found !</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>*@

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/dualListBox")*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        function memberSearchFunction() {
            var pin = $("#memberPin").val();
            if (pin !== "" && pin.length > 0) {
                console.log("ok");
                //this.form.submit();
                $("#memberSearchForm").submit();
            } else {
                window.showErrorMessageBelowCtrl("memberPin", "", false);
                window.showErrorMessageBelowCtrl("memberPin", "Please enter valid PIN.", true);
            }
        }

        function TeamMemberTransferViewModel() {
            this.Id = 0;
            this.Pin = 0;
            this.OrganizationId = 0;
            this.BranchId = 0;
            this.CampusId = 0;
            this.DepartmentId = 0;
            this.DesignationId = 0;
            this.EmploymentStatusId = 0;
            this.OfficeShiftId = 0;
            this.Weekend = 0;
            this.MentorPin = 0;
            this.CardNumber = "";
            this.OfficalDetailsId = 0;
            this.OfficalDetailsStatus = 0;
            this.OfficialContact = "";
            this.OfficialEmail = "";
            this.EffectiveDate = "";
            this.TeamMemberTransferViewModel = function () { };
        }

        $(document).ready(function() {
            window.validateTextField("memberPin", "Please Enter vaild Pin.");

            $("#Search").keypress(function() { memberSearchFunction() });
            $("#Search").click(function() { memberSearchFunction() });

            window.validateDropDownField("organizationId", "Please Select Organization.");
            window.validateDropDownField("branchId", "Please Select Branch.");
            window.validateDropDownField("campusId", "Please Select Campus.");
            window.validateDropDownField("departmentId", "Please Select Department.");
            window.validateDropDownField("designationId", "Please Select Designation.");
            window.validateDropDownField("employmentStatus", "Please Select Member Type.");
            window.validateDropDownField("shiftId", "Please Select Shift Time.");
            window.validateDropDownField("weekend", "Please Select Weekend Day.");
            window.validateTextField("mentorPin", "Please Enter Mentor Pin.");
            window.validateTextField("mentorName", "Please Enter Mentor Name.");
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("change", "#effectiveDate", function(event) {
                var val = $("#effectiveDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("effectiveDate", "", false);
                }
            });

            $(document).on('change', "#organizationId", function() {
                $('#branchId').empty();
                $('#branchId').append("<option value=''>Select Branch</option>");
                $('#campusId').empty();
                $('#campusId').append("<option value=''>Select Campus</option>");
                $('#departmentId').empty();
                $('#departmentId').append("<option value=''>Select Department</option>");
                $('#designationId').empty();
                $('#designationId').append("<option value=''>Select Designation</option>");
                $('#shiftId').empty();
                $('#shiftId').append("<option value=''>Select Shift Time</option>");
                var organizationId = $("#organizationId").val();
                if (organizationId !== '') {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: false, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                            //Load Department
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                type: "POST",
                                data: { organizationIds: organizationId },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(responses) {
                                    if (responses.IsSuccess) {
                                        $.each(responses.returndepartmentList, function(i, v) {
                                            $('#departmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(responses) {
                                    $.unblockUI();
                                }
                            });
                            //End Loading Department


                            //Load Designation
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDesignation",
                                type: "POST",
                                data: { organizationIds: organizationId },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(responses) {
                                    if (responses.IsSuccess) {
                                        $.each(responses.returnDesignationList, function(i, v) {
                                            $('#designationId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(responses) {
                                    $.unblockUI();
                                }
                            });
                            //End Loading Department


                            //Load Shift
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/LoadShift",
                                type: "POST",
                                data: { organizationIds: organizationId },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(responses) {
                                    if (responses.IsSuccess) {
                                        $.each(responses.returnShiftList, function(i, v) {
                                            $('#shiftId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(responses) {
                                    $.unblockUI();
                                }
                            });
                            //End Loading Shift

                        },

                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(data) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('change', '#branchId', function() {
                $('#campusId').empty();
                $('#campusId').append("<option value=''>Select Campus</option>");
                var branchId = $("#branchId").val();
                if (branchId !== "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { branchIds: branchId, isAuthorized: false, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("input propertychange", "#mentorPin", function(event) {
                window.showErrorMessageBelowCtrl("mentorPin", "", false);
                var mentorPin_previous = parseInt($("#mentorPin").val().trim());
                setTimeout(function() {
                    var mentorPin = parseInt($("#mentorPin").val().trim());
                    $("#mentorName").val("");
                    if (mentorPin != "" && mentorPin == mentorPin_previous) {
                        if (mentorPin > 0) {
                            window.showErrorMessageBelowCtrl("mentorPin", "", false);
                            $.ajax({
                                type: "POST",
                                url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/GetTeamMemberInformation",
                                cache: false,
                                async: true,
                                //data: { mentorPIN: MentorPIN, joiningDate: joiningDate },
                                data: { pin: mentorPin },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(response) {
                                    $.unblockUI();
                                    if (response.IsSuccess) {
                                        $("#mentorName").val(response.teamMemberName);
                                    } else {
                                        $("#mentorPin").val("");
                                        $("#mentorName").val("");
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function(response) {
                                    $.unblockUI();

                                },
                                error: function(response) {
                                    $.unblockUI();

                                }
                            });
                        }
                    }
                }, 1000);
            });


            //is valid mobile no.
            $(document).on("input propertychange", "#officalContact", function(event) {
                var mobile = $("#officalContact").val().trim();
                if (mobile.length > 0) {
                    mobile = mobileCheck(mobile);
                    if (mobile == null) {
                        window.showErrorMessageBelowCtrl("officalContact", "", false);
                        window.showErrorMessageBelowCtrl("officalContact", "Please enter valid mobile number", true);
                        return false;
                    } else {
                        $("#officalContact").val(mobile);
                        window.showErrorMessageBelowCtrl("officalContact", "", false);
                    }
                } else {
                    window.showErrorMessageBelowCtrl("officalContact", "", false);
                }
            });
            //is valid mobile no.
            $(document).on('change', '#cardStatus', function () {
                console.log("ok");
                var cardStatus = $("#cardStatus").val();
                var cardNumber = $("#cardNumber").val();
                console.log(cardStatus.length);
                if (cardNumber !== '' && cardNumber.length > 0) {
                    if (cardStatus === '' || cardStatus.length <= 0) {
                        window.showErrorMessageBelowCtrl("cardStatus", "", false);
                        window.showErrorMessageBelowCtrl("cardStatus", "Please Select Card Status.", true);
                    }else
                    {
                        window.showErrorMessageBelowCtrl("cardStatus", "", false);
                    }
                } else {
                    window.showErrorMessageBelowCtrl("cardStatus", "", false);
                }
                
            });

            $(document).on("click", "#transfer", function(event) {
                var validTransfer = true;
                var id = $("#memberId").val();
                var officalDetailsId = $("#officalDetailsId").val();
                var pin = $("#memberPin").val();
                var organizationId = $("#organizationId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();
                var departmentId = $("#departmentId").val();
                var designationId = $("#designationId").val();
                var shiftId = $("#shiftId").val();
                var weekend = $("#weekend").val();
                var memberType = $("#employmentStatus").val();
                var mentorPin = $("#mentorPin").val();
                var cardNumber = $("#cardNumber").val();
                var cardStatus = $("#cardStatus").val();
                var officalContact = $("#officalContact").val();
                var officalEmail = $("#officalEmail").val();
                var effectiveDate = $("#effectiveDate").val();
                if (organizationId === '' || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                    validTransfer = false;
                }
                if (branchId === '' || branchId.length <= 0) {
                    window.showErrorMessageBelowCtrl("branchId", "", false);
                    window.showErrorMessageBelowCtrl("branchId", "Please Select Branch.", true);
                    validTransfer = false;
                }
                if (campusId === '' || campusId.length <= 0) {
                    window.showErrorMessageBelowCtrl("campusId", "", false);
                    window.showErrorMessageBelowCtrl("campusId", "Please Select Campus.", true);
                    validTransfer = false;
                }
                if (departmentId === '' || departmentId.length <= 0) {
                    window.showErrorMessageBelowCtrl("departmentId", "", false);
                    window.showErrorMessageBelowCtrl("departmentId", "Please Select Department.", true);
                    validTransfer = false;
                }
                if (designationId === '' || designationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("designationId", "", false);
                    window.showErrorMessageBelowCtrl("designationId", "Please Select Designation.", true);
                    validTransfer = false;
                }
                if (memberType === '' || memberType.length <= 0) {
                    window.showErrorMessageBelowCtrl("employmentStatus", "", false);
                    window.showErrorMessageBelowCtrl("employmentStatus", "Please Select Member Type.", true);
                    validTransfer = false;
                }
                if (shiftId === '' || shiftId.length <= 0) {
                    window.showErrorMessageBelowCtrl("shiftId", "", false);
                    window.showErrorMessageBelowCtrl("shiftId", "Please Select Shift Time.", true);
                    validTransfer = false;
                }
                if (weekend === '' || weekend.length <= 0) {
                    window.showErrorMessageBelowCtrl("weekend", "", false);
                    window.showErrorMessageBelowCtrl("weekend", "Please Select Weekend Day.", true);
                    validTransfer = false;
                }
                if (cardNumber !== '' && cardNumber.length > 0) {
                    if (cardStatus === '' || cardStatus.length <= 0) {
                        window.showErrorMessageBelowCtrl("cardStatus", "", false);
                        window.showErrorMessageBelowCtrl("cardStatus", "Please Select Card Status.", true);
                        validTransfer = false;
                    } else {
                        window.showErrorMessageBelowCtrl("cardStatus", "", false);
                    }
                } else {
                    window.showErrorMessageBelowCtrl("cardStatus", "", false);
                }
                if (officalContact !== '' && officalContact.length > 0) {
                    mobile = mobileCheck(officalContact.trim());
                    if (mobile == null) {
                        window.showErrorMessageBelowCtrl("officalContact", "", false);
                        window.showErrorMessageBelowCtrl("officalContact", "Please enter valid mobile number", true);
                        return false;
                    } else {
                        $("#officalContact").val(mobile);
                        window.showErrorMessageBelowCtrl("officalContact", "", false);
                    }
                } else {
                    window.showErrorMessageBelowCtrl("officalContact", "", false);
                }
                if (effectiveDate === '' || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("effectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("effectiveDate", "Please Select Effective Date.", true);
                    validTransfer = false;
                }
                if (validTransfer) {
                    var teamMemberTransferViewModel = new TeamMemberTransferViewModel();
                    teamMemberTransferViewModel.Id = id;
                    teamMemberTransferViewModel.Pin = pin;
                    teamMemberTransferViewModel.OrganizationId = organizationId;
                    teamMemberTransferViewModel.BranchId = branchId;
                    teamMemberTransferViewModel.CampusId = campusId;
                    teamMemberTransferViewModel.DepartmentId = departmentId;
                    teamMemberTransferViewModel.DesignationId = designationId;
                    teamMemberTransferViewModel.EmploymentStatusId = memberType;
                    teamMemberTransferViewModel.OfficeShiftId = shiftId;
                    teamMemberTransferViewModel.Weekend = weekend;
                    teamMemberTransferViewModel.MentorPin = mentorPin;
                    teamMemberTransferViewModel.CardNumber = cardNumber;
                    teamMemberTransferViewModel.OfficalDetailsStatus = cardStatus;
                    teamMemberTransferViewModel.OfficialContact = officalContact;
                    teamMemberTransferViewModel.OfficalDetailsId = officalDetailsId;
                    teamMemberTransferViewModel.OfficialEmail = officalEmail;
                    teamMemberTransferViewModel.EffectiveDate = effectiveDate;
                    console.log(teamMemberTransferViewModel);

                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMemberTransfer/Transfer",
                        cache: false,
                        async: true,
                        data: { teamMemberTransfer: teamMemberTransferViewModel },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "success",
                                });
                                //reset form
                                $("#memberId").val(0);
                                $("#officalDetailsId").val(0);
                                $('#organizationId').empty();
                                $('#organizationId').append("<option value=''>Select Branch</option>");
                                $('#branchId').empty();
                                $('#branchId').append("<option value=''>Select Branch</option>");
                                $('#campusId').empty();
                                $('#campusId').append("<option value=''>Select Branch</option>");
                                $('#departmentId').empty();
                                $('#departmentId').append("<option value=''>Select Branch</option>");
                                $('#designationId').empty();
                                $('#designationId').append("<option value=''>Select Branch</option>");
                                $('#shiftId').empty();
                                $('#shiftId').append("<option value=''>Select Branch</option>");
                                $("#weekend")[0].selectedIndex = 0;
                                $("#employmentStatus")[0].selectedIndex = 0;
                                $("#mentorPin").val("");
                                $("#mentorName").val("");
                                $("#cardStatus")[0].selectedIndex = 0;
                                $("#officalEmail").val("");
                                $("#effectiveDate").val("");
                                //form
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();

                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }


            });

            //window.validateDropDownField("OrganizationId", "Please Select Organization.");
            //window.validateDropDownField("BranchId", "Please Select Branch.");
            //window.validateDropDownField("CampusId", "Please Select Campus.");
            //window.validateDropDownField("DepartmentId", "Please Select Department.");
            //window.validateDropDownField("DesignationId", "Please Select Designation.");
            //window.validateDropDownField("MemberType", "Please Select Member Type.");
            //$(document).on("change", "#EffectiveDate", function(event) {
            //    var val = $("#EffectiveDate").val();
            //    if (val.length > 0) {
            //        window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
            //    }
            //});
            //$('.form_datetime1').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: new Date(),
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});
            //$(document).on('change', "#OrganizationId", function() {
            //    $('#BranchId').empty();
            //    $('#BranchId').append("<option value=''>Select a branch</option>");
            //    $('#BranchId').empty();
            //    $('#BranchId').append("<option value=''>Select a branch</option>");
            //    $('#CampusId').empty();
            //    $('#CampusId').append("<option value=''>Select a campus</option>");
            //    $('#DepartmentId').empty();
            //    $('#DepartmentId').append("<option value=''>Select Department</option>");
            //    $('#DesignationId').empty();
            //    $('#DesignationId').append("<option value=''>Select Designation</option>");
            //    var organizationId = $("#OrganizationId").val();
            //    if (organizationId != '') {
            //        $.ajax({
            //            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
            //            type: "POST",
            //            data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
            //            beforeSend: function() {
            //                $.blockUI({
            //                    timeout: 0,
            //                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //                });
            //            },
            //            success: function(result) {
            //                $.unblockUI();
            //                if (result.IsSuccess) {
            //                    $.each(result.returnBranchList, function(i, v) {
            //                        $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
            //                    });
            //                } else {
            //                    $.fn.customMessage({
            //                        displayMessage: result.Message,
            //                        displayMessageType: "error",
            //                    });
            //                }

            //                //Load Department
            //                $.ajax({
            //                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
            //                    type: "POST",
            //                    data: { organizationIds: organizationId },
            //                    beforeSend: function() {
            //                        $.blockUI({
            //                            timeout: 0,
            //                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //                        });
            //                    },
            //                    success: function(responses) {
            //                        if (responses.IsSuccess) {
            //                            $.each(responses.returndepartmentList, function(i, v) {
            //                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
            //                            });
            //                        }
            //                        //Load Designation
            //                        $.ajax({
            //                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDesignation",
            //                            type: "POST",
            //                            data: { organizationIds: organizationId },
            //                            beforeSend: function() {
            //                                $.blockUI({
            //                                    timeout: 0,
            //                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //                                });
            //                            },
            //                            success: function(responses) {
            //                                if (responses.IsSuccess) {
            //                                    $.each(responses.returnDesignationList, function(i, v) {
            //                                        $('#DesignationId').append($('<option>').text(v.Text).attr('value', v.Value));
            //                                    });
            //                                }
            //                            },
            //                            complete: function() {
            //                                $.unblockUI();
            //                            },
            //                            error: function(responses) {
            //                                $.unblockUI();
            //                            }
            //                        });
            //                        //End Loading Department
            //                    },
            //                    complete: function() {
            //                        $.unblockUI();
            //                    },
            //                    error: function(responses) {
            //                        $.unblockUI();
            //                    }
            //                });
            //                //End Loading Department


            //            },

            //            complete: function() {
            //                $.unblockUI();
            //            },
            //            error: function(data) {
            //                $.unblockUI();
            //            }
            //        });
            //    }


            //});
            //$(document).on('change', '#BranchId', function() {
            //    $('#CampusId').empty();
            //    $('#CampusId').append("<option value=''>Select Campus</option>");
            //    var branchId = $("#BranchId").val();
            //    console.log(branchId);
            //    if (branchId != "") {
            //        $.ajax({
            //            type: "POST",
            //            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
            //            cache: false,
            //            async: true,
            //            data: { branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
            //            beforeSend: function() {
            //                $.blockUI({
            //                    timeout: 0,
            //                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //                });
            //            },
            //            success: function(response) {
            //                $.unblockUI();
            //                if (response.IsSuccess) {
            //                    $.each(response.returnCampusList, function(i, v) {
            //                        $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
            //                    });
            //                } else {
            //                    console.log("Error -----");

            //                }

            //            },
            //            complete: function() {
            //                $.unblockUI();
            //                console.log("Complete -----");

            //            },
            //            error: function() {
            //                $.unblockUI();
            //                console.log("Failed -----");

            //            }
            //        });
            //    }
            //});

            $(document).on("click", "#AddEmploymentHistory", function(event) {
                var canAddEmploymentHistory = true;
                var memberPin = $("#MemberPin").val();
                var memberId = $("#MemberId").val();
                var organizationId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();
                var campusId = $("#CampusId").val();
                var departmentId = $("#DepartmentId").val();
                var designationId = $("#DesignationId").val();
                var memberType = $("#MemberType").val();
                var effectiveDate = $("#EffectiveDate").val();
                console.log(organizationId);
                if (organizationId == '' || organizationId.length <= 0) {

                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    canAddEmploymentHistory = false;
                }
                if (branchId == '' || branchId.length <= 0) {
                    window.showErrorMessageBelowCtrl("BranchId", "", false);
                    window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                    canAddEmploymentHistory = false;
                }
                if (campusId == '' || campusId.length <= 0) {
                    window.showErrorMessageBelowCtrl("CampusId", "", false);
                    window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                    canAddEmploymentHistory = false;
                }
                if (departmentId == '' || departmentId.length <= 0) {
                    window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                    window.showErrorMessageBelowCtrl("DepartmentId", "Please Select Department.", true);
                    canAddEmploymentHistory = false;
                }
                if (designationId == '' || designationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("DesignationId", "", false);
                    window.showErrorMessageBelowCtrl("DesignationId", "Please Select Designation.", true);
                    canAddEmploymentHistory = false;
                }
                if (memberType == '' || memberType.length <= 0) {
                    window.showErrorMessageBelowCtrl("MemberType", "", false);
                    window.showErrorMessageBelowCtrl("MemberType", "Please Select Member Type.", true);
                    canAddEmploymentHistory = false;
                }
                if (effectiveDate == '' || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please Select Effective Date.", true);
                    canAddEmploymentHistory = false;
                }
                if (canAddEmploymentHistory) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "HR/TeamMember/AddEmploymentHistory",
                        cache: false,
                        async: true,
                        data: { memberId: memberId, organizationId: organizationId, branchId: branchId, campusId: campusId, departmentId: departmentId, designationId: designationId, memberType: memberType, effectiveDate: effectiveDate },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                //$.fn.customMessage({
                                //    displayMessage: result.Message,
                                //    displayMessageType: "success",
                                //});
                                var url = '@Url.Action("SearchOfficialDetails", "TeamMember", new {memberPin = "__Pin__"})';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function() {
                            $.unblockUI();

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {

                }
            });
        });
    </script>
}
