﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Hr.LeaveApplicationViewModel
@{
    long? leaveApplication = Model.LeaveApplicationId;
}
<style>
    input, select, textarea {
        max-width: 100% !important;
    }
    .modal.in .modal-dialog {
        width: 40% !important;
    }
</style>
@using (Html.BeginForm("Edit", "LeaveApprovalHr", FormMethod.Post, new { @LeaveId = "ModelLeaveId" + @leaveApplication, @class = "" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("PIN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TeamMemberPin, new { htmlAttributes = new { @class = "form-control modalMemberPin", @readonly = "readonly", @type="text" } })
                @Html.ValidationMessageFor(model => model.TeamMemberPin, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TeamMemberName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TeamMemberName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Campus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Campus, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Campus, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Leaves, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select class="form-control modalMemberLeaveType" name='LeaveId'>
                    @foreach (var leave in Model.Leaves)
                    {
                        if (leave.IsSelected)
                        {
                            <option class="form-control" title='vtt' value='@leave.LeaveId' selected="selected">@leave.ShowBalance</option>
                        }
                        else
                        {
                            <option class="form-control" title='vtt' value='@leave.LeaveId'>@leave.ShowBalance</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control modal_form_datetime modalMemberLeaveDateFrom", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control modal_form_datetime modalMemberLeaveDateTo", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Day(s)", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.TotalLeaveDay, new {htmlAttributes = new {@class = "form-control modalMemberLeaveDayCount", @readonly = "readonly", @type="text"}})
                @Html.ValidationMessageFor(model => model.TotalLeaveDay, "", new {@class = "text-danger"})
            </div>
            @Html.Label("Reason", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.LeaveNote, new {htmlAttributes = new {@class = "form-control modalMemberLeaveNote"}})
                @Html.ValidationMessageFor(model => model.LeaveNote, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LeaveReason, new {@class = "form-control modalMemberLeaveReason" })
                @Html.ValidationMessageFor(model => model.LeaveReason, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Res. PIN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ResponsibleMemberPin, new { htmlAttributes = new { @class = "form-control memberLeaveResMemPin modalMemberLeaveResMemPin", @type="text" } })
                @Html.ValidationMessageFor(model => model.ResponsibleMemberPin, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Res. Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ResponsibleMemberName, new { htmlAttributes = new { @class = "form-control memberLeaveResMemName", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ResponsibleMemberName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.HiddenFor(model => model.LeaveApplicationId, new {  @class = "form-control modalLeaveApplicationId" })
                @Html.ValidationMessageFor(model => model.LeaveApplicationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <input name="modalApprove" type="button" value="Approve" class="btn btn-primary modalApprove" />
                @if (Model.LeaveStatus == (int) LeaveStatus.Approved)
                {
                    <input name="modalReject" type="button" value="Reject" class="btn btn-danger modalReject"/>
                }
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    //Only Number Input
    $(document).on("keypress keyup blur", ".memberLeaveResMemPin", function (e) {
        if (e.which !== 8 && e.which !== 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
</script>
@*<script type="text/javascript">
    $('.form-date').datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: false,
        showMeridian: false,
        showToday: true,
        initialDate: new Date(),
        startView: 2,
        minView: 2,
        maxView: 4
    }).on('changeDate', function (ev) {
        //alert();
        if ($(".form-date").val() != "") {
            $(".form-date").parent().find('span').remove();
            $(".form-date").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');
        }
    });
</script>*@

