﻿@{
    @Styles.Render("~/Content/styledatatable")
    @Styles.Render("~/Content/fixedColumns.dataTables.min")
}
<div class="administrationBodyContent">
    <table id="tbl">
        <tr class="filteringRow form-group">
            <th class="form-group">
                <input id="recentPin" name="pin" type="text" class="form-control" placeholder="PIN" value="" />
            </th>
            <th class="form-group">
                @Html.DropDownList("recentOrganizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Organization", new { @class = "form-control recent" })
            </th>
            <th class="form-group">
                @Html.DropDownList("recentDepartmentId", (IEnumerable<SelectListItem>)ViewBag.DepartmentList, "Department", new { @class = "form-control recent" })
            </th>
            <th class="form-group">
                @Html.DropDownList("recentBranchId", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Branch", new { @class = "form-control recent" })
            </th>
            <th class="form-group">
                @Html.DropDownList("recentCampusId", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Campus", new { @class = "form-control recent" })
            </th>
            <th>
                @Html.DropDownList("leaveStatus", (IEnumerable<SelectListItem>)ViewBag.LeaveStatus, "All", new { @class = "form-control" })
            </th>
            <th>
                <input id="recentDate" name="recentDate" type="text" class="form-control searchingDate recent" placeholder="Searching Date" value="@ViewBag.SearchingDate" />
            </th>
            <th class="form-group">
                <input id="pageSize" name="displayPerPage" type="text" class="form-control recent" placeholder="Display Per Page" value="@ViewBag.PageSize" />
            </th>
            <th class="form-group">
                <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
            </th>
        </tr>
    </table>
    <br />
    <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><strong>PIN</strong></th>
                <th><strong>Name</strong></th>
                <th><strong>Department</strong></th>
                <th><strong>Organization</strong></th>
                <th><strong>Branch</strong></th>
                <th><strong>Campus</strong></th>
                <th><strong>Leave Type</strong></th>
                <th><strong>Date From</strong></th>
                <th><strong>Date To</strong></th>
                <th><strong>No. of Day(s)</strong></th>
                <th><strong>Reason</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>App. Date</strong></th>
                <th><strong>R. PIN</strong></th>
                <th><strong>Last Modified By</strong></th>
                <th><strong>Last Modification Date</strong></th>
                <th><strong>Action</strong></th>
                <th><strong>Edit</strong></th>
            </tr>
        </thead>
        <tbody class="text-center"></tbody>
    </table>
</div>
     
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
<script type="text/javascript">
    $(document).ready(function () {
        $('#TabHrLeaveHistory').on('click', function () {
            dataTableRender();
        });
    });

    function dataTableRender() {
        var displayNo = 100;
        if ($('#pageSize').val() !== "" && /^\d+$/.test($('#pageSize').val()) && $('#pageSize').val() > 0) {
            displayNo = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(displayNo);
        }
        console.log($('#date').val());
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "scrollCollapse": true,
            "scrollY": "60vh",
            "bLengthChange": false,
            "iDisplayLength": displayNo,
            "columnDefs": [
                    { "width": "400px", "targets": 10 }
            ],
            "bSort": false,
            //stateSave: true,
            order: [[0, "Desc"]],
            fixedColumns: {
                leftColumns: 2
            },
            ajax: {
                url: 'HrLeaveHistoryDataTable',
                type: 'POST',
                data: function (d) {
                    d.pin = $('#recentPin').val();
                    d.organizationId = $('#recentOrganizationId').val();
                    d.departmentId = $('#recentDepartmentId').val();
                    d.branchId = $('#recentBranchId').val();
                    d.campusId = $('#recentCampusId').val();
                    d.date = $('#recentDate').val();
                    d.leaveStatus = $('#leaveStatus').val();
                }
            },
            beforeSend: function () {
                $.blockUI({
                    timeout: 0,
                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                });
            },
            complete: function () {
                $.unblockUI();
            },
            error: function (response) {
                ShowErrorMessage("data load error. Please try again.");
            }
        });
    }
    $("#search").click(function () {
        dataTableRender();
    });
</script>