﻿@using UdvashERP.BusinessModel.Entity.Hr
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Mentor History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Update Attendance Adjustment</h4>
    </div>
    <div class="panel-body">
        <table id="mentorAttendanceAdjustmentUpdateRow" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Date")</th>
                    <th>@Html.DisplayName("PIN")</th>
                    <th>@Html.DisplayName("Name")</th>
                    <th style="width:30%">@Html.DisplayName("Reason for Adjustment")</th>
                    <th>@Html.DisplayName("Time From")</th>
                    <th>@Html.DisplayName("Time To")</th>

                </tr>
            </thead>
            <tbody class="text-center ">
                @if (ViewBag.Model != null)
                {
                    var model = ViewBag.Model;
                    <tr id="tr@(count)">
                        <td>
                            <input id="date_" name="date" value="@if (model.Date != null)
                                                                                 {@(model.Date.ToString("yyyy-MM-dd"))}" type="text" class="form-control text-box single-line datepicker" placeholder="Date" readonly='readonly' />
                        </td>
                        <td>
                            <input type="hidden" id="tableId" value="@(model.Id)" class="tableId" />
                            <input type="hidden" id="employeeId" value="@(model.TeamMember.Id)" class="employeeId" />
                            <input type="text" id="employeePin@(model.TeamMember.Pin)" class="form-control text-box single-line autoComplete" value="@(model.TeamMember.Pin)" rowindex="@count" readonly="readonly" />
                        </td>
                        <td><input type="text" id="employeeName" value="@(model.TeamMember.Name)" class="form-control text-box single-line employeeName" readonly="readonly" /></td>
                        <td><input type="text" name="reasonforad" id="reasonforad_" value="@(model.Reason)" class="form-control text-box single-line reasonForAdjustment" placeholder="Reason for Adjustment"></td>
                        <td>
                            <input type="text" name="timefrom" id="timefrom_" value="@if (model.StartTime != null)
                                                                                                     {@(model.StartTime.ToShortTimeString())}" class="form-control text-box single-line timeFrom" placeholder="Time From" readonly='readonly'>
                        </td>
                        <td>
                            <input type="text" name="timeto" id='timeto_' value="@if (model.EndTime != null)
                                                                                                 {@(model.EndTime.ToShortTimeString())}" class="form-control text-box single-line timeTo" placeholder="Time To" readonly='readonly'>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align: center">
            
            <div id="Cancel" class="btn btn-primary btn-sm"><a style="color:#ffffff" href="@(Url.Action("MentorAttendanceAdjustment", "AttendanceAdjustment"))">Cancel</a></div>
            <div id="updateForm" class="btn btn-primary btn-sm"> Update </div>    
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function checkIndividualRowValidity(row) {
            var error = 0;
            var pin = row.find(".autoComplete").val();
            var date = row.find(".datepicker").val();
            var reasonForAdjustment = row.find(".reasonForAdjustment").val();
            var timeFrom = row.find(".timeFrom").val();
            var timeTo = row.find(".timeTo").val();
            //alert(date + "//" + reasonForAdjustment + "//" + timeFrom + "//" + timeTo);
            if (pin == "") {
                error = error + 1;
                row.find(".autoComplete").addClass("highlight");
            } else {
                row.find(".autoComplete").removeClass("highlight");
            }
            if (date == "") {
                error = error + 1;
                row.find(".datepicker").addClass("highlight");
            } else {
                row.find(".datepicker").removeClass("highlight");
            }
            if (reasonForAdjustment == "") {
                error = error + 1;
                row.find(".reasonForAdjustment").addClass("highlight");
            } else {
                row.find(".reasonForAdjustment").removeClass("highlight");
            }
            if (timeFrom == "") {
                error = error + 1;
                row.find(".timeFrom").addClass("highlight");
            } else {
                row.find(".timeFrom").removeClass("highlight");
            }
            if (timeTo == "") {
                error = error + 1;
                row.find(".timeTo").addClass("highlight");
            } else {
                row.find(".timeTo").removeClass("highlight");
            }
            if (error == 0) {
                row.removeClass("danger");
                row.addClass("info");
            } else {
                row.addClass("danger");
                row.removeClass("info");
            }
            //alert("error :" + error);
            return error;
        }

        $(document).ready(function() {
            $("#updateForm").click(function() {
                var checkValidRow;
                var e = 0;
                var $this = $("#mentorAttendanceAdjustmentUpdateRow tbody tr");
                var mentorAttendanceAdjustmentRowViewModel = {};
                checkValidRow = checkIndividualRowValidity($this);
                if (checkValidRow > 0) {
                    e = e + 1;
                } else {

                    mentorAttendanceAdjustmentRowViewModel["Id"] = $this.find(".tableId").val();
                    mentorAttendanceAdjustmentRowViewModel["MemberId"] = $this.find(".employeeId").val();
                    mentorAttendanceAdjustmentRowViewModel["Date"] = $this.find(".datepicker").val();
                    mentorAttendanceAdjustmentRowViewModel["ReasonForAdjustment"] = $this.find(".reasonForAdjustment").val();
                    mentorAttendanceAdjustmentRowViewModel["TimeFrom"] = $this.find(".timeFrom").val();
                    mentorAttendanceAdjustmentRowViewModel["TimeTo"] = $this.find(".timeTo").val();
                    console.log(mentorAttendanceAdjustmentRowViewModel);
                }
                
                if (e == 0) {
                    var data = JSON.stringify({ "mentorAttendanceAdjustments": mentorAttendanceAdjustmentRowViewModel });
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/AttendanceAdjustment/UpdateAttendanceAdjustmentByMentor",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                   // displayTime: 120000,
                                    displayMessage: result.Message,
                                    displayMessageType: "success"
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                            window.setTimeout(function () { window.location.reload(true); }, 5000);

                        },
                        complete: function() {

                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });

                } else {

                }
            });
            $(document).on("focus", "input.datepicker", function() {
                var today = new Date();
                var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
                var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
                var endDate = today;
                $(this).datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: initialDate,
                    startDate: startDate,
                    endDate: endDate,
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
            });
            $(document).on("focus", "input.timeFrom", function() {
                $(this).datetimepicker({
                    format: 'HH:ii p',
                    showMeridian: true,
                    startView: 1,
                    pickDate: false,
                    minuteStep: 5,
                    autoclose: 1,
                    timeOnly: true,
                });
            });
            $(document).on("focus", "input.timeTo", function() {
                $(this).datetimepicker({
                    format: 'HH:ii p',
                    showMeridian: true,
                    startView: 1,
                    pickDate: false,
                    minuteStep: 5,
                    autoclose: 1,
                    timeOnly: true,
                });
            });

            function autoCompleteFunc($this) {
                var date = $this.parent().prev('td').find('input.datepicker').val();
                $this.typeahead({
                    source: function(query, process) {
                        var data = { query: query, date: date };
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "HR/AttendanceAdjustment/AjaxRequestForMemberPin",
                            cache: false,
                            async: true,
                            data: data,
                            success: function(result) {
                                if (result.IsSuccess) {
                                    process(result.returnList);
                                }
                            },
                            complete: function() {
                            },
                            error: function(result) {
                            }
                        });
                    },
                    updater: function(item) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "HR/AttendanceAdjustment/AjaxRequestForMemberName",
                            cache: false,
                            async: true,
                            data: { "id": item.Value },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                if (result.IsSuccess) {
                                    $this.prev('input.employeeId').val(result.returnMemberId);
                                    $this.parent().next().find('input.employeeName').val(result.returnMemberName);
                                }
                                $.unblockUI();
                            },
                            complete: function() {
                                $.unblockUI();
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                        return item.Text;
                    },
                    matcher: function(item) {
                        if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                            return true;
                        }
                        return false;
                    },
                    sorter: function(items) {
                        return items.sort();
                    },
                    highlighter: function(item) {
                        var regex = new RegExp('(' + this.query + ')', 'gi');
                        return item.Text.replace(regex, "<strong>$1</strong>");
                    },
                    onselect: function(obj) {
                        alert('Selected ' + obj);
                    }
                });
            }

            $(document).on("input propertychange", ".autoComplete", function(event) {
                autoCompleteFunc($(this));

            });
        });
    </script>
}


