﻿@model UdvashERP.BusinessModel.Entity.Hr.AttendanceAdjustment
@Styles.Render("~/Content/bootstrap-datetimepicker")

@{
    ViewBag.Title = "Edit History By Hr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Update Attendance Adjustment</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @*@Html.HiddenFor(model => model.Id)*@
                <input type="hidden" class="form-control tableId"  value=@(Model.Id) />
                <input type="hidden" class="form-control memberId"  value=@(Model.TeamMember.Id) />
                <div class="form-group">
                    @Html.Label("PIN", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Pin)" />
                    </div>
                    @Html.Label("Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Name)" />
                   </div>
                </div>
                <div class="form-group">
                    @Html.Label("Department", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Department.ToString())" />
                    </div>
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Org.ToString())" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Branch.ToString())" />
                    </div>
                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Campus.ToString())" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Date", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly="readonly" value="@(ViewBag.Date)" />
                        <input type="hidden" class="form-control datepicker" readonly="readonly" value="@(ViewBag.Date)" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Start Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control timeFrom" readonly="readonly" value="@ViewBag.StartTime.ToString()" />
                    </div>
                    @Html.Label("End Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control timeTo" readonly="readonly" value="@(ViewBag.EndTime.ToString())" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="text-center">
                        <input type="button" value="Reject" class="btn btn-primary submitRejectForm" style="background-color: #ff0000; border: 1px solid #ff0000; " />
                        <input type="button" value="Approve" class="btn btn-primary submitApproveForm" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
        
@section Scripts {
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/HrAttendanceAdjustment")
}
