﻿@using System.Globalization
@using UdvashERP.BusinessModel.Dto
@using UdvashERP.BusinessModel.Entity.Hr
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Hr Attendance Adjustment Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
    DateTime date = DateTime.Now;
    var dateString = date.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture);
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
     tr td:nth-child(1) input[type='text'] {
         width: 100px;
     }

    tr td:nth-child(2) input[type='text'] {
        width: 60px;
    }

    tr td:nth-child(3) input[type='text'] {
        width: 100px;
    }

    tr td:nth-child(4) input[type='text'] {
        width: 180px;
    }

    tr td:nth-child(5) input[type='text'] {
        width: 165px;
    }

    tr td:nth-child(6) input[type='text'] {
        width: 165px;
    }

    tr td:nth-child(7) input[type='text'] {
        width: 165px;
    }

    tr td:nth-child(8) input[type='text'] {
        width: 300px;
    }

    tr td:nth-child(9) input[type='text'] {
        width: 100px;
    }

    tr td:nth-child(10) input[type='text'] {
        width: 100px;
    }
    table.dataTable {
        margin: 0;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">HR Attendance Adjustment & Approval</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#pending" class="hrPendingListTab" aria-controls="pending" role="tab" data-toggle="tab">Pending List</a></li>
            <li role="presentation"><a href="#history" class="hrRecentHistoryTab" aria-controls="history" role="tab" data-toggle="tab">Recent History</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pending">
                <br />
                <table id="tableDiv">
                    <tr class="form-group">
                        <th class="form-group">
                            <input id="pin" name="pin" type="text" class="form-control " placeholder="Pin" />
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.OrgList, "Select Organization", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.DeptList, "Select Department", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            <input id="date" name="date" type="text" class="form-control datepicker" placeholder="Date" @*value="@(dateString)"*@ readonly="readonly" />
                        </th>
                        <th>
                            <div id="showForm" class="btn btn-primary btn-sm"> Show </div>
                        </th>
                    </tr>
                </table>
                <br />
                <div class="displayData" style="max-height:60vh; overflow-x: scroll; overflow-y: scroll;">
                    <table id="hrAttendanceAdjustmentTableList" class="table table-bordered table-condensed table-hover table-striped display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Date")</th>
                                <th>@Html.DisplayName("PIN")</th>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Department")</th>
                                <th>@Html.DisplayName("Organization")</th>
                                <th>@Html.DisplayName("Branch")</th>
                                <th>@Html.DisplayName("Campus")</th>
                                <th>@Html.DisplayName("Reason for Adjustment")</th>
                                <th>@Html.DisplayName("Time From")</th>
                                <th>@Html.DisplayName("Time To")</th>
                                <th>@Html.DisplayName("Action")</th>
                            </tr>
                        </thead>
                        <tbody class="text-center hrattendanceAdjustmentTableNew_table">
                            @*@if (ViewBag.TotalPendingList != null)
                            {
                                foreach (AttendanceAdjustmentHrDto aa in @ViewBag.TotalPendingList)
                                {
                                    <tr id="tr@(count)">
                                        <td>
                                            <input id="date_@(count)" name="date@(count)" value="@if (aa.Date != null)
                                                                                             {@aa.Date.ToString("yyyy-MM-dd")
                                                                                             }" type="text" class="form-control text-box single-line datepicker" placeholder="Date" readonly='readonly' />
                                        </td>
                                        <td>
                                            <input type="hidden" id="tableId@(count)" value="@aa.Id" class="tableId" />
                                            <input type="hidden" id="employeeId@(count)" value="@aa.TeamMemberId" class="employeeId" />
                                            <input type="text" id="employeePin@(aa.Pin)" class="form-control text-box single-line autoComplete memberPinClass" value="@aa.Pin" rowindex="@count" readonly="readonly" />
                                        </td>
                                        <td style="width: 150px;"><input type="text" id="employeeName@(count)" value="@aa.Name" class="form-control text-box single-line employeeName" readonly="readonly" /></td>
                                        <td><input type="text" id="employeeDept@(count)" value="@aa.Department" class="form-control text-box single-line employeeDept" readonly="readonly" /></td>
                                        <td><input type="text" id="employeeOrg@(count)" value="@aa.Organization" class="form-control text-box single-line employeeOrg" readonly="readonly" /></td>
                                        <td><input type="text" id="employeeBr@(count)" value="@aa.Branch" class="form-control text-box single-line employeeBr" readonly="readonly" /></td>
                                        <td><input type="text" id="employeeCam@(count)" value="@aa.Campus" class="form-control text-box single-line employeeCam" readonly="readonly" /></td>
                                        <td><input type="text" name="reasonforad@(count)" id="reasonforad_@(count)" value="@aa.Reason" class="form-control text-box single-line reasonForAdjustment" placeholder="Reason for Adjustment"></td>
                                        <td>
                                            <input type="text" name="timefrom@(count)" id="timefrom_@(count)" value="@if (aa.StartTime != null)
                                                                                                                 {@aa.StartTime.ToShortTimeString()
                                                                                                                 }" class="form-control text-box single-line timeFrom" placeholder="Time From" readonly='readonly'>
                                        </td>
                                        <td>
                                            <input type="text" name="timeto@(count)" id='timeto_@(count)' value="@if (aa.EndTime != null)
                                                                                                             {@aa.EndTime.ToShortTimeString()
                                                                                                             }" class="form-control text-box single-line timeTo" placeholder="Time To" readonly='readonly'>
                                        </td>
                                        <td>
                                            <a type="link" href='#' class='glyphicon glyphicon-ok hrapproveTeamMemberAAd'></a>
                                            &nbsp;&nbsp;
                                            <a href='#' class='glyphicon glyphicon-ban-circle hrrejectTeammemberAAd'></a>
                                        </td>
                                    </tr>
                                                                                                                 count++;
                                }
                            }*@
                        </tbody>
                    </table>
                </div>
                <br/>
                <p> Total <span id="adjustmentCount">0</span> attendance adjustment(s) found.</p>
                <br />
                <div>
                    <input type="hidden" value="@count" class="totalCount" />
                    <div style="float: left">
                        <div id="increaseRow" class="dynamicRowGenerate btn btn-primary btn-sm"> Add Row </div>
                    </div>
                    <div style="float: right">
                        <div id="hrsubmitForm" class="btn btn-primary btn-sm"> Approve All </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
                <br />
                <table id="tableDiv">
                    <tr class="form-group">
                        <th class="form-group">
                            <input id="pinRecent" name="pin" type="text" class="form-control " placeholder="Pin" />
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("OrganizationRecent", (IEnumerable<SelectListItem>)ViewBag.OrgList, "Select Organization", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("BranchRecent", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("CampusRecent", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            @Html.DropDownList("DepartmentRecent", (IEnumerable<SelectListItem>)ViewBag.DeptList, "Select Department", new { @class = "form-control" })
                        </th>
                        <th class="form-group">
                            <input id="dateFrom" name="dateFrom" type="text" class="form-control historyDate" placeholder="@ViewBag.dateFromField" value="@ViewBag.dateFromField" readonly="readonly" />
                        </th>
                        <th class="form-group">
                            <input id="dateTo" name="dateTo" type="text" class="form-control historyDate" placeholder="@ViewBag.dateToField" value="@ViewBag.dateToField" readonly="readonly" />
                        </th>
                        <th class="form-group">
                            <input id="DisplayNoRecent" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" value="@ViewBag.PageSize" />
                        </th>
                        <th>
                            <div id="showFormHistory" class="btn btn-primary btn-sm "> Show </div>
                        </th>
                    </tr>
                </table>
                <br />
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Date")</th>
                            <th>@Html.DisplayName("PIN")</th>
                            <th>@Html.DisplayName("Name")</th>
                            <th>@Html.DisplayName("Department")</th>
                            <th>@Html.DisplayName("Organization")</th>
                            <th>@Html.DisplayName("Branch")</th>
                            <th>@Html.DisplayName("Campus")</th>
                            <th>@Html.DisplayName("Reason for Adjustment")</th>
                            <th>@Html.DisplayName("Time From")</th>
                            <th>@Html.DisplayName("Time To")</th>
                            <th>@Html.DisplayName("Status")</th>
                            <th>@Html.DisplayName("Last Modified By")</th>
                            <th>@Html.DisplayName("Last Modification Date")</th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @*@Scripts.Render("~/bundles/typeaheadAutoComplete")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/HrAttendanceAdjustment")
}