﻿@using System.Globalization
@using OfficeOpenXml.FormulaParsing.Excel.Functions.DateTime
@using UdvashERP.BusinessModel.Entity.Hr
@model UdvashERP.BusinessModel.Entity.Hr.AttendanceAdjustment
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Mentor Attendance Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
    DateTime date = DateTime.Now;
    var dateString = date.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture);
}
<style>
    tr td:nth-child(5) input[type='text'] {
        width: 90px;
    }
    tr td:nth-child(6) input[type='text'] {
        width: 90px;
    }
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Mentor Attendance Adjustment</h4>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist" id="myTabs">
                <li role="presentation" class="active"><a href="#pending" class="mentorPendingListTab" aria-controls="pending" role="tab" data-toggle="tab">Pending List</a></li>
                <li role="presentation"><a href="#history" class="mentorRecentHistoryTab" aria-controls="history" role="tab" data-toggle="tab">Recent History</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="pending">
                    <br />
                    <div class="displayData" style="max-height:60vh; overflow-x: scroll; overflow-y: scroll;">
                        <table id="mentorAttendanceAdjustmentTableList" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th style="width:13%">@Html.DisplayName("Date")</th>
                                    <th>@Html.DisplayName("PIN")</th>
                                    <th style="width:20%">@Html.DisplayName("Name")</th>
                                    <th style="width:30%">@Html.DisplayName("Reason for Adjustment")</th>
                                    <th>@Html.DisplayName("Time From")</th>
                                    <th>@Html.DisplayName("Time To")</th>
                                    <th>@Html.DisplayName("Action")</th>
                                </tr>
                            </thead>
                            <tbody class="text-center mentorattendanceAdjustmentTableNew_table">
                                @if (ViewBag.TotalPendingList != null)
                            {
                                foreach (AttendanceAdjustment aa in @ViewBag.TotalPendingList)
                                {
                                    <tr id="tr@(count)">
                                        <td><input id="date_@(count)" name="date@(count)" value="@if (aa.Date != null){@aa.Date.Value.ToString("yyyy-MM-dd")}" type="text" class="form-control text-box single-line datepicker" placeholder="Date" readonly='readonly' /></td>
                                        <td>
                                            <input type="hidden" id="tableId@(count)" value="@aa.Id" class="tableId" />
                                            <input type="hidden" id="employeeId@(count)" value="@aa.TeamMember.Id" class="employeeId" />
                                            <input type="text" id="employeePin@(aa.TeamMember.Pin)" class="form-control text-box single-line autoComplete" value="@aa.TeamMember.Pin" rowindex="@count" readonly="readonly" />
                                        </td>
                                        <td><input type="text" id="employeeName@(count)" value="@aa.TeamMember.Name" class="form-control text-box single-line employeeName" readonly="readonly" /></td>
                                        <td><input type="text" name="reasonforad@(count)" id="reasonforad_@(count)" value="@aa.Reason" class="form-control text-box single-line reasonForAdjustment" placeholder="Reason for Adjustment"></td>
                                        <td>
                                            <input type="text" name="timefrom@(count)" id="timefrom_@(count)" value="@if (aa.StartTime != null){@aa.StartTime.Value.ToShortTimeString()}" class="form-control text-box single-line timeFrom" placeholder="Time From" readonly='readonly'>
                                        </td>
                                        <td>
                                            <input type="text" name="timeto@(count)" id='timeto_@(count)' value="@if (aa.EndTime != null) {@aa.EndTime.Value.ToShortTimeString()}" class="form-control text-box single-line timeTo" placeholder="Time To" readonly='readonly'>
                                        </td>
                                        <td>
                                            <a href='#' class='glyphicon glyphicon-ok approveTeamMemberAAd'></a>&nbsp;&nbsp;
                                            <a href='#' class='glyphicon glyphicon-remove rejectTeammemberAAd'></a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <p> Total <span id="adjustmentCount">0</span> attendance adjustment(s) found.</p>
                    <br />
                    <div>
                        <input type="hidden" value="@count" class="totalCount" />
                        <div style="float: left"><div id="increaseRow" class="dynamicRowGenerate btn btn-primary btn-sm"> Add Row </div></div>
                        <div style="float: right"><div id="submitForm" class="btn btn-primary btn-sm"> Approve All </div></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="history">
                    <br />
                    <table id="tableDiv">
                        <tr class="form-group">
                            <th class="form-group">
                                <input id="pin" name="pin" type="text" class="form-control " placeholder="Pin" />
                            </th>
                            <th class="form-group">
                                <input id="dateFrom" name="dateFrom" type="text" class="form-control historyDate" placeholder="@ViewBag.dateFromField" value="@ViewBag.dateFromField"  readonly="readonly"/>
                            </th>
                            <th class="form-group">
                                <input id="dateTo" name="dateTo" type="text" class="form-control historyDate" placeholder="@ViewBag.dateToField" value="@ViewBag.dateToField" readonly="readonly" />
                            </th>
                            <th class="form-group">
                                <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" value="100" />
                            </th>
                            <th><div id="showForm" class="btn btn-primary btn-sm"> Show </div></th>
                        </tr>
                    </table>
                    <br />
                    <table id="MentorAttendanceApplicationRecentHistory" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Date")</th>
                                <th>@Html.DisplayName("PIN")</th>
                                <th >@Html.DisplayName("Name")</th>
                                <th style="width: 30%;">@Html.DisplayName("Reason for Adjustment")</th>
                                <th style="width: 85px;">@Html.DisplayName("Time From")</th>
                                <th style="width: 85px;">@Html.DisplayName("Time To")</th>
                                <th>@Html.DisplayName("Status")</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center"></tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @*@Scripts.Render("~/bundles/typeaheadAutoComplete")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/MentorAttendanceAdjustment")
}
