﻿@using UdvashERP.Models
@model UdvashERP.BusinessModel.ViewModel.UInventory.OrderedGoodsReceiveViewModel

<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
<script type='text/javascript' src='~/Content/Print/js/print.js'></script>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Goods Receive</h3>
    </div>
    <div class="panel-body">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.Organization </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head">Goods Rec. No.</td>
                        <td id="worderNo">@Model.WorkOrderNo</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Goods Rec. Date </td>
                        <td>@Model.WorkOrderDate.ToString("MMM dd, yyyy")</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Organization</td>
                        <td>@Model.Organization</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Purpose</td>
                        <td>
                            @if (Model.Purpose != null && Model.Purpose.Trim() != "")
                            {
                                @Model.Purpose
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="meta-head">Supplier</td>
                        <td>@Model.SupplierName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item Group</td>
                        <td>@Model.ItemGroup</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item</td>
                        <td>@Model.ItemName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Program & Session</td>
                        <td>
                            @if (Model.ProgramSession != null && Model.ProgramSession.Trim() != "")
                            {
                                @Model.ProgramSession
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                    </tr>
                </table>

            </div>
            <br />
            <div><strong> Quantity & Rate Details </strong></div>
            <br />
            <table class="table table-bordered table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Ordered Quantity</th>
                        <th>Previously Received Quantity</th>
                        <th>Currently received Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.OrderedQuantity</td>
                        <td>@Model.PreviouslyReceivedQuantity</td>
                        <td>@Model.CurrentlyReceivedQuantity</td>
                    </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>
            <br />
            <table>
                <thead>
                    <tr><strong>Remarks</strong></tr>
                </thead>
                <tr>
                    @Model.Remarks
                </tr>
            </table>

           <div style="margin-top: 100px;" class="col-md-12">
                <div class="pull-left text-center">
                    <div style="border-top: 1px solid black">
                        Received By
                    </div>
                </div>
                <div class="pull-right text-center">
                    <div>@HttpContext.Current.User.FullName()</div>
                    <div style="border-top: 1px solid black">
                        Store In Charge
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <br />
        </div>
        <div class="text-center">
            <button type="button" id="print" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/printThis.js"></script>
    <script>
        function printFunction() { }
        $("#print").click(function () {
            $("#page-wrap").printThis();
        });
    </script>

}