﻿@using UdvashERP.Models
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
@model UdvashERP.BusinessModel.ViewModel.UInventory.OrderedGoodsReceiveViewModel
<style>
    input, textarea {
        max-width: 100%;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Ordered Goods Receive </h3>
    </div>
    <div class="panel-body">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.Organization </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head">Work Order No.</td>
                        <td id="worderNo">@Model.WorkOrderNo</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Work Order Date</td>
                        <td>@Model.WorkOrderDate.ToString("MMM dd, yyyy")</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Organization</td>
                        <td>@Model.OrganizationShortName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Purpose</td>
                        <td>
                            @if (Model.Purpose != null && Model.Purpose.Trim() != "")
                            {
                                @Model.Purpose
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="meta-head">Supplier</td>
                        <td>@Model.SupplierName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item Group</td>
                        <td>@Model.ItemGroup</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item</td>
                        <td>@Model.ItemName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Program & Session</td>
                        <td>
                            @if (Model.ProgramSession != null && Model.ProgramSession.Trim() != "")
                            {
                                @Model.ProgramSession
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                    </tr>
                </table>

            </div>
            <br />
            <div><strong> Quantity & Rate Details </strong></div>
            <br />
            <table class="table table-bordered table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Ordered Quantity</th>
                        <th>Previously Received Quantity</th>
                        <th>Return Quantity</th>
                        <th>Currently received Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="ordQuantity">@Model.OrderedQuantity</td>
                        <td id="prevQuantity">@Model.PreviouslyReceivedQuantity</td>
                        <td id="retQuantity"> @Model.ReturnedQuantity</td>
                        <td>
                            @Html.TextBoxFor(model => model.CurrentlyReceivedQuantity, new { @class = "form-control", @required = "required" })
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <br />
            <table>
                <thead>
                    <tr><strong>Remarks</strong></tr>
                </thead>
                <tr>
                    @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control" })
                </tr>
            </table>
            <div class="clearfix"></div>
            <br />
        </div>
        <div class="text-center">
            <button type="button" id="orderedRecBtn" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<script>

    function removeLeadingZero(quanty) {
        while (quanty.substring(0, 1) == '0' && quanty.length == 1) {
            quanty = quanty.substring(1, 9999999999);
        }
        return quanty;
    }

    $("#CurrentlyReceivedQuantity").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $("#CurrentlyReceivedQuantity").keyup(function (e) {

        var currentlyRecQuantity = $("#CurrentlyReceivedQuantity").val();
        var quanty = removeLeadingZero(currentlyRecQuantity);
        $("#CurrentlyReceivedQuantity").val(quanty);
        var prevRecQuantity = $("#prevQuantity").text();
        var orderedQuantity = $("#ordQuantity").text();
        var returnedQuantity = $("#retQuantity").text();
        console.log(prevRecQuantity);
        console.log(orderedQuantity);
        console.log(parseInt(prevRecQuantity) + parseInt(orderedQuantity));

        window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "", false);

        if (currentlyRecQuantity <= 0) {
            window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "", false);
            window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "Please enter valid quantity", true);
        }

        if (currentlyRecQuantity > (parseInt(orderedQuantity) + parseInt(returnedQuantity) - parseInt(prevRecQuantity))) {
            window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "", false);
            window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "Please enter valid quantity", true);
        }

    });

    $(document).on("click", "#orderedRecBtn", function () {
        var currentlyRecQuantity = $("#CurrentlyReceivedQuantity").val();
        var workOrderNo = $("#worderNo").val();
        var remark = $("#Remarks").val();

        var prevRecQuantity = $("#prevQuantity").text();
        var orderedQuantity = $("#ordQuantity").text();
        var returnedQuantity = $("#retQuantity").text();
        if (currentlyRecQuantity > (parseInt(orderedQuantity) + parseInt(returnedQuantity) - parseInt(prevRecQuantity))) {
            return;
        }

        if (currentlyRecQuantity <= 0) {
            window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "", false);
            window.showErrorMessageBelowCtrl("CurrentlyReceivedQuantity", "Please enter valid quantity", true);
            return;
        }
        if (workOrderNo.length <= 0) {
            window.showErrorMessageBelowCtrl("worderNo", "", false);
            window.showErrorMessageBelowCtrl("worderNo", "invalid work order no", true);
            return;
        }
        var url = $("body").attr("data-project-root") + "UInventory/OrderedGoodsReceive/GoodsReceive";
        var reqType = "Post";
        var data = { currentlyRecQuantity: currentlyRecQuantity, workOrderNo: workOrderNo, remark: remark };

        $.ajax({
            type: reqType,
            url: url,
            data: data,
            beforeSend: function () {
                $.blockUI({
                    timeout: 0,
                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                });
            },
            success: function (response) {
                if (response.IsSuccess == false) {
                    $.fn.customMessage({
                        displayMessage: response.Message,
                        displayMessageType: "e",
                        displayTime: 120000,
                    });
                } else {
                    $(".goodrec").html(response);
                    console.log(response);
                }
                $.unblockUI();
            },
            complete: function () {
                $.unblockUI();
            },
            error: function (result) {
                $.fn.customMessage({
                    displayMessage: window.AJAX_ERROR,
                    displayMessageType: "error",
                    displayTime: 5000
                });
            }
        });

    });
</script>