﻿@using UdvashERP.BusinessModel.ViewModel.Hr


<div class="panel panel-primary">

    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Team Member List</h4>
    </div>
    <div class="panel-body">

        @{
            <div class="form-group" style="margin: 5px;">
                <table class="table table-bordered table-responsive" id="tTable">
                    <thead>
                        <tr>
                            <th>PIN</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Employee Contribution</th>
                            <th>Employer Contribution</th>
                        </tr>
                    </thead>
                    <tbody id="EmployeeBenefitFundBalanceDivx">

                        @{
                            foreach (EmployeeBenefitFundBalanceView v in Model)
                            {
                                <tr id="">
                                    <td>
                                        <input type="hidden" name="TeamMemberId" value="@v.TeamMemberId" class="TeamMemberId"/>
                                       
                                        <input type="text" name="" class="form-control " value="@v.Pin" disabled size="4" style="text-align: center"/>
                                    </td>
                                    <td><input type="text" name="" class="form-control " value="@v.TeamMember" disabled /></td>
                                    <td><input type="text" name="" class="form-control " value="@v.Department" disabled size="40" /></td>
                                    <td><input type="text" name="employeeContribution" class="form-control employeeContribution" value="" placeholder="0" /></td>
                                    <td><input type="text" name="employerContribution" class="form-control employerContribution" value="" placeholder="0" /></td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>



</div>

@*<div class="form-group">
    <div class="col-md-10">
        <input id="EmployeeBenefitFundBalance" type="submit" value="Update" class="btn btn-primary" />
    </div>
</div>*@




