﻿@Styles.Render("~/Content/styledatatable")
@using UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel
@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.GoodsReceiveViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Goods Receive Report</h4>
    </div>
    <div class="panel-body" id="printable">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h4> @ViewBag.organizationName </h4>
                <h4> Goods Receive Report</h4>
                <h4>@ViewBag.dateFrom to @ViewBag.dateTo</h4>
            </div>
            <br />
        </div>
        <div style="clear: both"></div>
        <div id="customer">
            <div class="form-group">
                @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.organizationShortName
                </div>
                @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.branchName
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Purpose", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.purpose
                </div>
                @Html.Label("Item Group", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.itemGroup
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.item
                </div>
                @Html.Label("Program & Session", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.programSession
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Supplier Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.SupplierIds
                </div>
                @Html.Label("Receive Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.receiveType
                </div>
            </div>
            <div class="clearfix"></div>

            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @* this table is responsible for table header and dynamic data *@
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Sl No
                            </th>
                            <th>
                                Item Group
                            </th>

                            <th>
                                Item Name
                            </th>
                            @if (Model.ShowReceiveReportType == (int)ReceiveReportType.BranchWise)
                            {
                                <th>
                                    Program & Session
                                </th>

                                foreach (var column in ViewBag.branchAry)
                                {
                                    <th>@column</th>
                                }
                            }
                            else if ((Model.ShowReceiveReportType == (int)ReceiveReportType.ProgramWise))
                            {
                                foreach (var column in ViewBag.programSessionAry)
                                {
                                    <th>@column</th>
                                }
                            }

                            <th>
                                Total
                            </th>
                            <!-- dynamic name load here -->
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>

                @* ----------------------------------------------------------------------------------------------------- *@
            </div>

        </div>

    </div>
</div>
<div class="text-center">
    @*<input type="button" class="btn btn-primary" value="Print" id="print"/>*@
    <input type="button" class="btn btn-primary" value="Export" id="export" />
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/UInventory/jquery.dataTables.rowGrouping.js"></script>
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    /* render data table*/

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var purposes = @Html.Raw(Json.Encode(Model.Purpose));
    var itemGroupIds = @Html.Raw(Json.Encode(Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(Model.ItemId));
    var programIds = @Html.Raw(Json.Encode(@ViewBag.ProgramIdList));
    var sessionIds = @Html.Raw(Json.Encode(@ViewBag.SessionIdList));
    var supplierIds = @Html.Raw(Json.Encode(Model.Supplier));
    var receiveType = @Model.ReceiveType;
    var reportType = @Model.ShowReceiveReportType;
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var programSession = @Html.Raw(Json.Encode(Model.ProgramSession));

    function dataTableRender() {
        var pageSize = 10;
        if ($('#NoOfPages').val() != "" && /^\d+$/.test($('#NoOfPages').val())) {
            pageSize = parseInt($('#NoOfPages').val());
            console.log(pageSize);
        } else {
            $('#NoOfPages').val(pageSize);
        }
      
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            
            ajax: {
                url: '@Url.Action("GoodReceiveReportAjaxRequest", "GoodReceiveReport")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.branchIdList = branchIds;
                    d.purposeList = purposes;
                    d.itemGroupIdList = itemGroupIds;
                    d.itemIdList = itemIds;
                    d.programIdList = programIds;
                    d.sessionIdList = sessionIds;
                    d.supplierIdList = supplierIds;
                    d.receiveType = receiveType;
                    d.reportType = reportType;
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                    d.programSession = programSession;
                },
            }
        });
        }

    dataTableRender();

    $(document).on("click", "#search", function () {
        dataTableRender();
    });
    /*end render data table*/


    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId: organizationId,
            branchIdList : branchIds,
            purposeList : purposes,
            itemGroupIdList : itemGroupIds,
            itemIdList: itemIds,
            programIdList: programIds,
            sessionIdList : sessionIds,
            supplierIdList: supplierIds,
            receiveType : receiveType,
            reportType : reportType,
            dateFrom : dateFrom,
            dateTo : dateTo,
            programSession : programSession
        };

        var url = "@Url.Action("ExportReport", "GoodReceiveReport", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });

    $("#print").click(function() {
        $("#printable").printThis();
    });

</script>
