﻿@model UdvashERP.BusinessModel.ViewModel.Hr.EmployeeBenefitFundSettingOpeningView
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/bootstrap-multiselect")


@{
    ViewBag.Title = "EmployeeBenefitFundOpening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">

    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Employee Benefit Fund Opening<span style="float:right;"><i class="fa fa-minus" style="cursor: pointer" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="toggleCE">
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "EmployeeBenefitFundBalanceDiv", HttpMethod = "Post", OnComplete = "ShowHide " }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Organization, (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control", @id = "OrganizationId", @placeholder = "Organization" })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Branch, (SelectList)ViewBag.Branch, new { @class = "form-control", @id = "BranchId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Campus, (SelectList)ViewBag.Campus, new { @class = "form-control", @id = "CampusId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Campus, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">

                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Department, (SelectList)ViewBag.Department, new { @class = "form-control", @id = "DepartmentId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Designation, (SelectList)ViewBag.Designation, new { @class = "form-control", @id = "DesignationId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.EmploymentStatus, ViewBag.EmploymentStatus as SelectList, "Employment Status", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmploymentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">

                        @Html.TextBoxFor(model => model.DepositDate, "", new { @class = "form-control", @id = "depositDate", @placeholder = "Deposit Date", @readonly = "readonly", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                        @Html.ValidationMessageFor(model => model.DepositDate)

                    </div>

                    <div class="col-md-4">
                        <input type="submit" value="View" class="btn btn-primary" />
                    </div>

                </div>




                @*<div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="View" class="btn btn-primary" />
                        </div>
                    </div>*@
            </div>
        }


    </div>

</div>

<div id="EmployeeBenefitFundBalanceDiv">
    
    <div class="form-group">
        <div class="text-center">
            <input id="EmployeeBenefitFundBalanceFromMain" type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/bootstrap-multiselect")

    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript">

        $(document).on("input propertychange", ".employeeContribution ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            input.val(text);

            CheckingRow(input.parent().parent());
        });


        $(document).on("input propertychange", ".employerContribution ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            input.val(text);
            CheckingRow(input.parent().parent());
        });

        function CheckingRow(row) {
            var employeeContribution = row.find(".employeeContribution").val();
            var employerContribution = row.find(".employerContribution").val();
            if ((employeeContribution === "" && employerContribution === "") || (employeeContribution == 0 && employerContribution == 0) || (employeeContribution === "" || employerContribution === "")
                || (employeeContribution == 0 || employerContribution == 0)) {
           
                row.find('td .employeeContribution').addClass('highlight');
                row.find('td .employerContribution').addClass('highlight');

                return false;
            }
            else if (employeeContribution > 0 && employerContribution > 0)
            {
                row.find('td .employeeContribution').removeClass('highlight');
                row.find('td .employerContribution').removeClass('highlight');
            }
            return true;
        }

        $(document).on("click", "#EmployeeBenefitFundBalanceFromMain", function (event) {


            var employeeBenefitFundSettingOpeningView = {};
            var employeeBenefitFundBalanceViewList = [];

            var organizationId = $("#OrganizationId").val();
            var branchIds = $("#BranchId").val();
            var campusIds = $("#CampusId").val();
            var departmentIds = $("#DepartmentId").val();
            var designationIds = $("#DesignationId").val();
            var employmentStatus = $("#EmploymentStatus").val();
            var depositDate = $("#depositDate").val();
            employeeBenefitFundSettingOpeningView["Organization"] = organizationId;
            employeeBenefitFundSettingOpeningView["Branch"] = branchIds;
            employeeBenefitFundSettingOpeningView["Campus"] = campusIds;
            employeeBenefitFundSettingOpeningView["Department"] = departmentIds;
            employeeBenefitFundSettingOpeningView["Designation"] = designationIds;
            employeeBenefitFundSettingOpeningView["EmploymentStatus"] = employmentStatus;
            employeeBenefitFundSettingOpeningView["DepositDate"] = depositDate;
        
            //console.log(organizationId);
            //console.log(branchIds);
            //console.log(campusIds);
            //console.log(departmentIds);
            //console.log(designationIds);
            //console.log(employmentStatus);
            //console.log(depositDate);

            $("#EmployeeBenefitFundBalanceDivx tr").each(function () {
                var isValidRow = CheckingRow($(this));

                if (isValidRow) {
                    
                    var employeeBenefitFundBalanceView = {};
                    var teamMemberId = $(this).find(".TeamMemberId").val();
                    var employeeContribution = $(this).find(".employeeContribution").val();
                    var employerContribution = $(this).find(".employerContribution").val();
                    if (employeeContribution !== "" && employeeContribution > 0 && employerContribution !== "" && employerContribution > 0) {
                        employeeBenefitFundBalanceView["TeamMemberId"] = teamMemberId;
                        employeeBenefitFundBalanceView["EmployeeContribution"] = employeeContribution;
                        employeeBenefitFundBalanceView["EmployerContribution"] = employerContribution;
                        employeeBenefitFundBalanceViewList.push(employeeBenefitFundBalanceView);
                    }
                }
            });

          
            //if (organizationId > 0 && branchIds != null && campusIds != null && departmentIds != null && designationIds != null && employmentStatus > 0)

            if (organizationId > 0 && employmentStatus > 0)
            {
                if (employeeBenefitFundBalanceViewList.length > 0)
                {
                    console.log(employeeBenefitFundBalanceViewList.length);
                    employeeBenefitFundSettingOpeningView["EmployeeBenefitFundBalanceViewList"] = employeeBenefitFundBalanceViewList;
                    //console.log(employeemployeeBenefitFundSettingOpeningView);
                    var data = JSON.stringify(employeeBenefitFundSettingOpeningView);

                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Hr/EmployeeBenefits/EmployeeBenefitFundOpeningBalance",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            console.log(response);
                            $.unblockUI();
                            if (response.IsSuccess)
                            {
                                $.fn.customMessage({
                                    displayMessage: "Data successfully saved.",
                                    displayMessageType: "s",
                                    displayTime: 5000
                                });

                                //$("#EmployeeBenefitFundBalanceDivx").parent().remove($(this));
                                $("#EmployeeBenefitFundBalanceDivx").find('tr').each(function () {
                                    $(this).remove();
                                });
                            }
                            else
                            {
                                $.fn.customMessage({
                                    displayMessage: "Problem Occurred",
                                    displayMessageType: "e",
                                    displayTime: 5000
                                });
                            }
                        }
                    });

                }
            }


        });

        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#toggleCE').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#toggleCE').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        $(document).on('click', '#ShowHide', function (e) { ShowHide(); });


        //function muliselectfnc(holder, name) {
        //    var selectall = 0;
        //    $(holder).multiselect({
        //        enableFiltering: true,
        //        includeSelectAllOption: true,
        //        numberDisplayed: 2,
        //        maxHeight: 400,
        //        buttonWidth: '100%',
        //        selectAllValue: selectall,
        //        nonSelectedText: 'All'
        //        // dropUp: true
        //        //nonSelectedText: 'Select' + ' ' + name
        //    });
        //    // $("#ProgramSession").multiselect('refresh');
        //}


        function muliselectfnc(holder, name) {
            var selectall = 0;
            $(holder).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                numberDisplayed: 2,
                maxHeight: 400,
                buttonWidth: '100%',
                selectAllValue: selectall,
                nonSelectedText: 'All' + ' ' + name
                // dropUp: true
                //nonSelectedText: 'Select' + ' ' + name
            });
            // $("#ProgramSession").multiselect('refresh');
        }

        $(document).ready(function () {


            muliselectfnc($('#BranchId'), "Branch");
            muliselectfnc($('#CampusId'),"Campus");
            muliselectfnc($('#DepartmentId'),"Department");
            muliselectfnc($('#DesignationId'),"Designation");

            @*closing date operation*@

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('#depositDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });

            @*closing date operation*@

        });

        $(document).on('change', '#OrganizationId', function () {
            $('#BranchId').empty();
            $('#DepartmentId').empty();
            $('#DesignationId').empty();
            var organizationId = $('#OrganizationId').val();

            if (organizationId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadBranch", "CommonAjax", new {area = "Administration"}, null)',
                    data: { organizationIds: organizationId, isAuthorized: true,isProgramBranSession:false },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $('#BranchId').append($('<option>').text("All selected").attr('value', 0));
                            $.each(response.returnBranchList, function (i, v) {

                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $('#BranchId').multiselect({ includeSelectAllOption: true });
                            $("#BranchId").multiselect('refresh');
                            $('#BranchId').multiselect('rebuild');

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("LoadDepartment", "CommonAjax", new {area = "Administration"}, null)',
                                data: { organizationIds: organizationId, isAuthorized: true },

                                success: function (response) {
                                    if (response.IsSuccess) {
                                        $.each(response.returndepartmentList, function (i, v) {
                                            $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                        $('#DepartmentId').multiselect({ includeSelectAllOption: true });
                                        $("#DepartmentId").multiselect('refresh');
                                        $('#DepartmentId').multiselect('rebuild');
                                    }

                                }

                            });

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("LoadDesignation", "CommonAjax", new {area = "Administration"}, null)',
                                data: { organizationIds: organizationId, isAuthorized: true },

                                success: function (response) {
                                    if (response.IsSuccess) {
                                        $.each(response.returnDesignationList, function (i, v) {
                                            $('#DesignationId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                        $('#DesignationId').multiselect({ includeSelectAllOption: true });
                                        $("#DesignationId").multiselect('refresh');
                                        $('#DesignationId').multiselect('rebuild');
                                    }

                                }

                            });


                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    }
                });
            } else {
                $('#BranchId').multiselect({ includeSelectAllOption: true });
                $("#BranchId").multiselect('refresh');
                $('#BranchId').multiselect('rebuild');

                $('#DepartmentId').multiselect({ includeSelectAllOption: true });
                $("#DepartmentId").multiselect('refresh');
                $('#DepartmentId').multiselect('rebuild');

                $('#DesignationId').multiselect({ includeSelectAllOption: true });
                $("#DesignationId").multiselect('refresh');
                $('#DesignationId').multiselect('rebuild');
            }

            console.log(organizationId);
        });


        @*function for changed branch*@
        $(document).on('change', '#BranchId', function () {

            //  $('#BranchId').empty();
            $('#CampusId').empty();
            var organizationId = $('#OrganizationId').val();

            // var branchIdx = $(".Branch option:selected").val();

            var branchIdx = $('#BranchId').val();


            console.log(branchIdx);

            if (organizationId > 0 && branchIdx != null) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    data: { organizationIds: organizationId, branchIds: branchIdx, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnCampusList, function (i, v) {
                                $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $('#CampusId').multiselect({ includeSelectAllOption: true });
                            $("#CampusId").multiselect('refresh');
                            $('#CampusId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    },
                    error: function (data) {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            } else {
                $('#CampusId').empty();
                $('#CampusId').multiselect({ includeSelectAllOption: true });
                $("#CampusId").multiselect('refresh');
                $('#CampusId').multiselect('rebuild');

            }
        });

    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
