﻿@using UdvashERP.BusinessModel.Entity.Hr
@model UdvashERP.BusinessModel.Entity.Hr.EmployeeBenefitsFundSetting
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "EmployeeBenefitsFund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">EBF Settings</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("EmployeeBenefitsFundUpdate", "EmployeeBenefits", FormMethod.Post, new { @id = "EmployeeBenefitsFundForm" }))
        {
            @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">

                        @Html.DropDownListFor(model => model.Organization.Id, (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control", @id = "OrganizationId", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Organization)

                    </div>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "TittleName", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Employment Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.EmploymentStatus, ViewBag.EmploymentStatus as SelectList, "Employment Status", htmlAttributes: new { @class = "form-control", @id = "EmploymentStatus", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.EmploymentStatus)
                    </div>
                    @Html.LabelFor(model => model.CalculationOn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CalculationOn, ViewBag.CalculationOn as SelectList, "Calculation On", htmlAttributes: new { @class = "form-control", @id = "CalculationOn", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.CalculationOn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Employee Contribution %", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EmployeeContribution, new { @class = "form-control", @id = "EmployeeContribution", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.EmployeeContribution)
                    </div>
                    @Html.Label("Employer Contribution %", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EmployerContribution, new { @class = "form-control", @id = "EmployerContribution", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.EmployerContribution, "", new { @class = "text-danger" })
                    </div>
                </div>


                <br/>

                <div class="col-md-offset-2 col-md-8">

                    <table class="table-bordered table-hover table-responsive table-striped" style="width: 100%" id="FundEntitlement">
                        <thead>
                            <tr>
                                <th style="text-align: center; ">@Html.Label("", "Service Period (Year)")</th>
                                <th style="text-align: center; ">@Html.Label("", "Employer Contribution (%)")</th>
                                <th style="text-align: center;"><button type="button" class="btn btn-primary btn-sm newAction" name="append" id="newAction" disabled>+</button></th>
                            </tr>
                        </thead>

                        <tbody id="FundEntitlementBody" >

                            @{
                                if (Model.EmployeeBenefitsFundSettingEntitlement == null || !Model.EmployeeBenefitsFundSettingEntitlement.Any())
                                {
                                    IList<EmployeeBenefitsFundSettingEntitlement> employeeBenefitsFundSettingsEntitlement = new List<EmployeeBenefitsFundSettingEntitlement>();
                                    employeeBenefitsFundSettingsEntitlement.Add(new EmployeeBenefitsFundSettingEntitlement());
                                    Model.EmployeeBenefitsFundSettingEntitlement = employeeBenefitsFundSettingsEntitlement;
                                }
                            }
                            @Html.EditorFor(model => model.EmployeeBenefitsFundSettingEntitlement)
                        </tbody>

                    </table>

  
                </div>
                <div class="clearfix">
                    
                </div>
                <br />
                <div class="form-group">
                    @Html.Label("Effective Date",  new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EffectiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "effectiveDate", @placeholder = "Effective Date", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.EffectiveDate)                        
                    </div>
                    @Html.Label("Closing Date",  new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ClosingDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "closingDate", @placeholder = "Closing Date", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ClosingDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                @*<div class="form-group">
                    <div class="text-center">
                        <input type="button" value="Submit" class="btn btn-primary" id="submission" />
                    </div>
                </div>*@

                <div class="col-md-offset-2 col-md-8">

                    <table class="table-bordered table-hover table-responsive table-striped" style="width: 100%" id="FundEntitlement">
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.CreateByText) :</td>
                            <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
                        </tr>

                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                            <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                        </tr>

                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.ModifyByText) :</td>
                            <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
                        </tr>

                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                            <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                        </tr>

                    </table>


                </div>

            </div>
        }
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/moment.min.js"></script>*@

    <script type="text/javascript">

    //$('#effectiveDate').datetimepicker({
    //    format: "yyyy-MM-dd",
    //    autoclose: true,
    //    todayBtn: false,
    //    showMeridian: true,
    //    initialDate: new Date(),
    //    startView: 2,
    //    minView: 2,
    //    maxView: 4
    //});
    $(document).ready(function (e) {
        $("#OrganizationId").val(@ViewBag.SelectedOrganization);
        $("#EmploymentStatus").val(@ViewBag.SelectedEmploymentStatus);
        $("#CalculationOn").val(@ViewBag.SelectedCalculationOn);

        $("#effectiveDate").val(@ViewBag.SelectedEffectiveDate);

        $("#closingDate").val(@ViewBag.SelectedClosingDate);


        $(".servicePeriod").prop("disabled", true);
        $(".employerContribution").prop("disabled", true);
        $(".removeRowButton").prop("disabled", true);
        

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();

            //$('#effectiveDate').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: initialDate,
            //    //startDate: initialDate,
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});

            //$('#closingDate').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: initialDate,
            //    startDate: initialDate,
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});

           // console.log(new Date());



            $("#EmployeeBenefitsFundForm").submit(function () {
                console.log("i am calling");
                e.preventDefault();
                return false;
            });
        });


        $(document).on('click', '#submission', function (e) {
            console.log("submission");

            //var employeeContribution = $("#EmployeeContribution").val();
            //var employerContribution = $("#EmployerContribution").val();
            //console.log(employeeContribution);

            if ($("#EmployeeBenefitsFundForm").valid()) {
                console.log("after validation");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EmployeeBenefitsFundUpdate", "EmployeeBenefits", new { area = "Hr" }, null)',
                data: $('#EmployeeBenefitsFundForm').serializeArray(),
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    $.unblockUI();
                    // console.log(response);
                    if (response.IsSuccess) {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "s",
                            displayTime: 50000
                        });
                    }
                    else
                    {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "error",
                            displayTime: 50000
                        });
                    }

                }
            });
        }
        else
        {
            console.log("else");
            e.preventDefault();
            return false;
        }
        return true;
    });


    $(document).on("input propertychange", ".servicePeriod ", function(event) {
        var input = $(this),
            text = input.val().replace(/[^0-9]/g, "");
        input.val(text);

    });

    $(document).on("input propertychange", ".employerContribution ", function(event) {
        var input = $(this),
            text = input.val().replace(/[^0-9]/g, "");
        input.val(text);
        //var servicePeriod = input.val();

    });

    $(document).on("input propertychange", "#EmployeeContribution ", function(event) {
        var input = $(this),
            text = input.val().replace(/[^0-9]/g, "");
        input.val(text);
        //var servicePeriod = input.val();

    });

    var maxIndex;
    $(document).on("click", "#newAction", function(event) {
        if (!document.getElementsByTagName || !document.createTextNode)
            return;
        var table = document.getElementById('FundEntitlementBody');
        var row = table.getElementsByTagName('tr');

        for (i = 0; i < row.length; i++) {
            maxIndex = i + 1;
        }
        console.log("new index " + maxIndex);

        $.ajax({
            url: "/Hr/EmployeeBenefits/NewEmployerContribution",
            type: "GET",
            data: { index: maxIndex },
            success: function(dRow) {
                if ($('#FundEntitlementBody tr').length > 0) {
                    $('#FundEntitlementBody tr:last').after(dRow);
                } else {
                    $('#FundEntitlementBody').append(dRow);
                }

                //Refreash Form to apply model validation
                var holder = $('#FundEntitlementBody');
                var form = $(holder).closest('form');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                jQuery.validator.unobtrusive.parse(form);
            },
            complete: function() {
            },
            error: function(error) {
                $.fn.customMessage({
                    displayMessage: ajaxError,
                    displayMessageType: "error",
                    displayTime: 5000
                });
            }
        });

    });


    $(document).on("click", ".removeRowButton", function(event) {
        var rowCount = $('#FundEntitlementBody tr').length;
        if (rowCount <= 1) {
            return;
        } else {

            var tr = $(this).parent().parent();
            console.log(tr);
            tr.remove();
            var index = 0;
            $("#FundEntitlementBody tr").each(function() {


                //for stock quantity

                $(this).find(".servicePeriod").attr('name', "EmployeeBenefitsFundSettingEntitlement[" + index + "].ServicePeriod");
                $(this).find(".servicePeriod").attr('id', 'EmployeeBenefitsFundSettingEntitlement_' + index + '__ServicePeriod');

                $(this).find(".servicePeriodValidation").attr('data-valmsg-for', "EmployeeBenefitsFundSettingEntitlement[" + index + "].ServicePeriod");
                $(this).find(".servicePeriodValidation").find('span').attr('for', "EmployeeBenefitsFundSettingEntitlement_" + index + "__ServicePeriod");

                //transfer qty

                $(this).find(".employerContribution").attr('name', "PrEmployeeBenefitsFundEntitlement[" + index + "].EmployerContribution");
                $(this).find(".employerContribution").attr('id', 'PrEmployeeBenefitsFundEntitlement_' + index + '__EmployerContribution');

                $(this).find(".employerContributionValidation").attr('data-valmsg-for', "EmployeeBenefitsFundSettingEntitlement[" + index + "].EmployerContribution");
                $(this).find(".employerContributionValidation").find('span').attr('for', "EmployeeBenefitsFundSettingEntitlement_" + index + "__EmployerContribution");

                index = index + 1;
            });
        }
    });



</script>
}