﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.SupplierGoodsSummaryReportForm
@Styles.Render("~/Content/styledatatable")
@{
    Layout = null;
    var branchs = ViewBag.BranchNameList;
    string[] titles = ViewBag.ReportTitle;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Supplier Goods Summary Report</h4>
    </div>
    <div class="panel-body">
        <div class="text-capitalize text-center" style="text-align: center">
            @{
                foreach (var title in titles)
                {
                    <b>@title</b><br />
                }
            }
        </div>
        <br />
        <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
            <tr>
                <td>Branch(s): </td>
                <td>Purpose(s): </td>
                <td>Item Group(s): </td>
                <td>Item Name(s): </td>
                <td>Supplier(s): </td>
            </tr>
            <tr>
                <td>@ViewBag.Branchlbl</td>
                <td>@ViewBag.Purposelbl</td>
                <td>@ViewBag.ItemGrouplbl</td>
                <td>@ViewBag.Itemlbl</td>
                <td>@ViewBag.Supplierslbl</td>
            </tr>
        </table>
    </div>

    <div class="panel-body">
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Supplier Name</th>
                    <th>Item Group</th>
                    <th>Item Name</th>
                    <th>Program & Session</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Total</th>
                    <th>Grand Total</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
<div class="clearfix"></div>
<div class="text-center">
    <button type="button" id="export" style="min-width: 100px !important" class="btn btn-primary">Export</button>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatable")
<script type="text/javascript">

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var purposeIds = @Html.Raw(Json.Encode(Model.PurposeId));
    var itemGroupIds = @Html.Raw(Json.Encode(Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(Model.ItemId));
    var programSessionIds = @Html.Raw(Json.Encode(Model.ProgramSession));
    var supplierIds = @Html.Raw(Json.Encode(Model.Supplier));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var pageSize = @Model.PageSize;

    var branchlbl = '@ViewBag.Branchlbl';
    var purposelbl = '@ViewBag.Purposelbl';
    var programSessionlbl = '@ViewBag.ProgramSessionlbl';
    var supplierlbl = '@ViewBag.Supplierslbl';
    var itemlbl = '@ViewBag.Itemlbl';
    var itemGrouplbl = '@ViewBag.ItemGrouplbl';
    
    SupplierGoodsSummaryReportDt();
    function SupplierGoodsSummaryReportDt() {

        var displayNo = 0;
        if (pageSize == "" || pageSize == undefined || pageSize <= 0) {
            displayNo = 10;
        } else {
            displayNo = pageSize;
        }
        $('#DataGrid').dataTable({
            "sScrollX": "100%",
            "bScrollCollapse": true,
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "bLengthChange": false,
            "iDisplayLength": displayNo,
            "aaSorting": [],
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }],
            order: [[0, "desc"]],
            bSort: false,
            ajax: {
                url: '@Url.Action("SupplierGoodsSummaryReport", "SupplierGoodsSummary")',
                type: 'POST',
                data: function (dt) {
                    dt.organizationId = organizationId;
                    dt.branchIds = branchIds;
                    dt.purposeIds = purposeIds;
                    dt.itemGroupIds = itemGroupIds;
                    dt.itemIds = itemIds;
                    dt.programSession = programSessionIds;
                    dt.supplierIds = supplierIds;
                    dt.dateFrom = dateFrom;
                    dt.dateTo = dateTo;
                },
                error: function () {
                    ShowErrorMessage("Supplier Goods Summary data load error. Please try again.");
                }
            }
        });
    }
    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId : organizationId,
            branchIds : branchIds,
            purposeIds: purposeIds,
            itemGroupIds : itemGroupIds,
            itemIds : itemIds,
            programSession : programSessionIds,
            supplierIds : supplierIds,
            dateFrom : dateFrom,
            dateTo : dateTo,
            branchlbl : branchlbl,
            purposelbl : purposelbl,
            programSessionlbl : programSessionlbl,
            supplierlbl : supplierlbl,
            itemlbl : itemlbl,
            itemGrouplbl : itemGrouplbl
        };
        console.log(urlParam);
        var url = "@Url.Action("SupplierGoodsSummaryExport", "SupplierGoodsSummary", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        console.log(url);
        window.open(url);
    });
</script>

