﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.SupplierGoodsSummaryReportForm
@Styles.Render("~/Content/bootstrap-datepicker")
@Styles.Render("~/Content/bootstrap-multiselect")

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Supplier Goods Summary Report <span style="float:right; cursor: pointer"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="toggleCE">
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "ReportDiv", HttpMethod = "Post", OnBegin = "showLoader()", OnComplete = "hideLoader()" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchList, new { @class = "form-control", @id = "BranchId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PurposeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PurposeId, (SelectList)ViewBag.PurposeList, new { @class = "form-control", @id = "PurposeId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.PurposeId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ItemGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemGroupId, (SelectList)ViewBag.ItemGroupList, new { @class = "form-control", @id = "ItemGroupId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.ItemList, new { @class = "form-control", @id = "ItemId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ProgramSession, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ProgramSession, (SelectList)ViewBag.ProgramSessionIdlist, new { @class = "form-control", @id = "ProgramSession", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ProgramSession, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Supplier, (SelectList)ViewBag.SupplierList, new { @class = "form-control", @id = "Suppliers", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Date Range", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="input-group input-daterange">
                            @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control dateClass", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                            <span class="input-group-addon">to</span>
                            @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control dateClass", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PageSize, new { htmlAttributes = new { @class = "form-control numaricOnly", @Value = 10, @min = 0 } })
                        @Html.ValidationMessageFor(model => model.PageSize, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="ReportDiv">

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-multiselect")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            muliselectfnc($('#PurposeId'));
            muliselectfnc($('#ItemGroupId'));
            muliselectfnc($('#BranchId'));
            muliselectfnc($('#ItemId'));
            muliselectfnc($('#ProgramSession'));
            muliselectfnc($('#Suppliers'));
            $('.input-daterange').datepicker({
                autoclose: true,
                todayBtn: "linked",
                format: 'yyyy-mm-dd'
            }).on('changeDate', function (e) {
                var dataVal = $("#DateTo").val();
                if (dataVal == "") {
                    $("#DateTo").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("Date is required.");
                } else {
                    $("#DateTo").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
                }
            });
        });

        /*$(document).on('change', '#Suppliers', function (event) {

            if ($('#Suppliers').val() != null) {
                if ($('span[data-valmsg-for="Supplier"]').text() != "") {
                    $('span[data-valmsg-for="Supplier"]').removeClass('field-validation-error text-danger').addClass('field-validation-valid text-danger');
                    $('span[data-valmsg-for="Supplier"]').text('');
                }
            }
            else {
                if ($('span[data-valmsg-for="Supplier"]').text() == "") {
                    $('span[data-valmsg-for="Supplier"]').removeClass('field-validation-valid text-danger').addClass('field-validation-error text-danger');
                    $('span[data-valmsg-for="Supplier"]').text('The Supplier field is required.');
                }
            }

        });*/

        $(document).on('change', '#OrganizationId', function (event) {
            $('#BranchId').children().remove();
            var organizationId = $('#OrganizationId').val();

            if (organizationId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            if (response.returnBranchList.length > 0) {
                                if (response.returnBranchList.length > 1) {
                                    $('#BranchId').append($('<option>').text("Select All").attr('value', 0));
                                }
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $('#BranchId').multiselect({ includeSelectAllOption: true });
                            $("#BranchId").multiselect('refresh');
                            $('#BranchId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete:
                        function () {
                            $.unblockUI();
                        },
                    error: function (data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });

        $(document).on('change', '#ItemGroupId', function (event) {
            $('#ItemId').children().remove();
            var organizationId = $('#OrganizationId').val();
            var itemGroupIdList = $('#ItemGroupId').val();
            if (organizationId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/LoadItemList",
                    data: { itemGroupIds: itemGroupIdList, organizationId: organizationId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            if (response.returnResult.length > 0) {
                                if (response.returnResult.length > 1) {
                                    $('#ItemId').append($('<option>').text("Select All").attr('value', 0));
                                }
                                $.each(response.returnResult, function (i, v) {
                                    $('#ItemId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $('#ItemId').multiselect({ includeSelectAllOption: true });
                            $("#ItemId").multiselect('refresh');
                            $('#ItemId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    },
                    error: function (data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            } else {
                $.fn.customMessage({
                    displayMessage: "Please select organization!",
                    displayMessageType: "error",
                });
            }
        });

        $(document).on('change', '#ItemId', function (event) {

            $('#ProgramSession').children().remove();

            var itemIdList = $('#ItemId').val();
            var organizationId = $('#OrganizationId').val();

            $.ajax({
                type: "POST",
                url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/GetItemListProgramAndSession",
                data: { organizationId: organizationId, itemIdList: itemIdList },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    $.unblockUI();
                    if (response.isSuccess) {
                        $('#ProgramSession').append($('<option>').text("Select All").attr('value', 0));
                        $.each(response.programSessionList, function (i, v) {
                            $('#ProgramSession').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                        $('#ProgramSession').multiselect({ includeSelectAllOption: true });
                        $("#ProgramSession").multiselect('refresh');
                        $('#ProgramSession').multiselect('rebuild');
                    } else {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "error",
                        });
                    }
                },
                complete: function () {

                    $.unblockUI();
                },
                error: function (data) {
                    $.fn.customMessage({
                        displayMessage: window.AJAX_ERROR,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });

        });

        $(document).on('click', '#Submit', function (ev) {
            console.log($('#DateFrom').val());
            if ($('#OrganizationId').val() != null
                && $('#OrganizationId').val() != ""
                && $('#DateFrom').val() != null
                && $('#DateTo').val() != null
                && $('#DateFrom').val() != ""
                && $('#DateTo').val() != "") {
                ShowHide();
            }
        });
        
        function muliselectfnc(holder) {
            $(holder).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                numberDisplayed: 2,
                maxHeight: 400,
                buttonWidth: '100%',
                nonSelectedText: 'All'
                // dropUp: true
            });
        }
        function showLoader() {
            $.blockUI({
                timeout: 0,
                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            });
        }
        function hideLoader() {
            $.unblockUI();
        }

        $(document).on('click', '#ShowHide', function(ev) {
            ShowHide();
        });
        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#toggleCE').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#toggleCE').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
