﻿@model UdvashERP.BusinessModel.ViewModel.UserAddForm

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">Add User</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model=>model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, new { @class = "form-control"})
                        @*@Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.CampusId, (IEnumerable<SelectListItem>)ViewBag.CampusList,"Select Campus", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger cp" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger cNo" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="file" name="image" />
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-primary" id="AddUsr" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div> @Html.ActionLink("Back to Manage", "Index")</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        validateDropDownField("OrganizationId", "Organization field required.");
        validateDropDownField("BranchId", "Branch field required.");
        validateDropDownField("CampusId", "Campus field required.");
        validateTextField("Email", "Email field required.");
        validateTextField("Password", "Password field required.");
        validateTextField("FullName", "FullName field required.");
        validateTextField("NickName", "NickName field required.");
        validateTextField("ContactNo", "ContactNo field required.");
        $(document).ready(function () {
            $(document).on('click', '#AddUsr', function (e) {
                $('.field-validation-error').remove();
                var organization = $('#OrganizationId').val();
                var branch = $('#BranchId').val();
                var campusId = $('#CampusId').val();
                var email = $('#Email').val();
                var password = $("#Password").val();
                var fullName = $("#FullName").val(); 
                var nickName = $("#NickName").val();
                var contactNo = $("#ContactNo").val();
                var isSuccess = true;
                if (organization == null || organization <= 0) {
                    showErrorMessageBelowCtrl("OrganizationId", "", false);
                    showErrorMessageBelowCtrl("OrganizationId", "Organization field reuired.", true);
                    isSuccess = false;
                }
                if (branch == null || branch <= 0) {
                    showErrorMessageBelowCtrl("BranchId", "", false);
                    showErrorMessageBelowCtrl("BranchId", "Branch field reuired.", true);
                    isSuccess = false;
                }
                if (campusId == null || campusId <= 0) {
                    showErrorMessageBelowCtrl("CampusId", "", false);
                    showErrorMessageBelowCtrl("CampusId", "Campus field reuired.", true);
                    isSuccess = false;
                }
                if (email == "") {
                    showErrorMessageBelowCtrl("Email", "", false);
                    showErrorMessageBelowCtrl("Email", "Email field reuired.", true);
                    isSuccess = false;
                }
                if (password=="") {
                    showErrorMessageBelowCtrl("Password", "", false);
                    showErrorMessageBelowCtrl("Password", "Password field reuired.", true);
                    isSuccess = false;
                }
                if (fullName=="") {
                    showErrorMessageBelowCtrl("FullName", "", false);
                    showErrorMessageBelowCtrl("FullName", "FullName field reuired.", true);
                    isSuccess = false;
                }
                if (nickName == "") {
                    showErrorMessageBelowCtrl("NickName", "", false);
                    showErrorMessageBelowCtrl("NickName", "NickName field reuired.", true);
                    isSuccess = false;
                }
                if (contactNo=="") {
                    showErrorMessageBelowCtrl("ContactNo", "", false);
                    showErrorMessageBelowCtrl("ContactNo", "ContactNo field required.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }
            });
            
            //var branchId = $("#BranchId").val();
            //if (branchId)
            //    LoadAllCampus(branchId);

            $("#BranchId").change(function() {
                var branchId = $(this).val();
                if (branchId)
                    LoadAllCampus(branchId);
            });
            //var organizationId = $(this).val();
            //if (organizationId != " ") {
            //    loadAllBranch(organizationId);
            //}
            $("#OrganizationId").change(function() {
                var organizationId = $(this).val();
                if (organizationId != " ") {
                    loadAllBranch(organizationId);
                } else {
                    $("#BranchId").html("<option value=' '>Select Branch</option>");
                    $("#CampusId").html("<option value=' '>Select Campus</option>");
                }
            });

            function loadAllBranch(orgId) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetBranchForOrganization",
                    cache: false,
                    async: true,
                    data: { "organizationId": orgId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $("#BranchId option").remove();
                        var listItems = "";
                        $.each(response, function (index) {
                            listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        });
                        $("#BranchId").html(listItems);
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            }

            function LoadAllCampus(branchId) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetCampusForDropDownList",
                    cache: false,
                    async: true,
                    data: { "branchId": branchId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        if (result.hasOwnProperty('IsSuccess')) {
                            bootbox.alert(result.Message).css('margin-top', (($(window).height() / 4)));
                        } else {
                            $("#CampusId").html(result);
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            }

            $("#ContactNo").keyup(function () {
                var contactNo = $("#ContactNo").val();
                if (contactNo.length == 13) {
                    $('.cNo').remove();
                }
            });
            $("#CPassword").keyup(function () {
                var cpass = $("#CPassword").val();
                if (cpass.length >0) {
                    $('.cp').remove();
                }
            });

        });
    </script>


