﻿@model UdvashERP.BusinessModel.ViewModel.UserUpdateForm

@{
    ViewBag.Title = "Update User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["UserErrorMessage"] != null)
{
    <div class="alert alert-danger" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["UserErrorMessage"]
    </div>
}
@if (TempData["UserSuccessMessage"] != null)
{
    <div class="alert alert-success" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["UserSuccessMessage"]
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">Update User</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.CampusId, (IEnumerable<SelectListItem>)ViewBag.CampusList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (TempData["DisplayImage"] != null)
                        {
                            <img src="@TempData["DisplayImage"]" width="100px" />
                        }
                        else
                        {
                            <img src="@ViewBag.DisplayImage" width="100px" />
                        }
                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="file" name="image" />
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="Status" name="Status" class="form-control">
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        if (statusType.Value == Model.Status)
                                        {
                                            <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }
                                    }
                                }
                            </select>
                        }

                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" id="updateUsr" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
<div> @Html.ActionLink("Back to Manage", "Index")</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        validateDropDownField("OrganizationId", "Organization field reuired.");
        validateDropDownField("BranchId", "Branch field reuired.");
        validateDropDownField("CampusId", "Campus field reuired.");
        validateTextField("Email", "Email field required.");
        validateTextField("NickName", "NickName field reuired.");
        validateTextField("FullName", "FullName field reuired.");
        validateTextField("ContactNo", "ContactNo field required.");

        $(document).ready(function () {
            $(document).on('click', '#updateUsr', function (e) {
                $('.field-validation-error').remove();
                var organization = $('#OrganizationId').val();
                var branch = $('#BranchId').val();
                var campusId = $('#CampusId').val();
                var email = $('#Email').val();
                var nickname = $("#NickName").val();
                var fullName = $("#FullName").val();
                var contactNo = $("#ContactNo").val();
                
                var isSuccess = true;
                if (organization == null || organization <= 0) {
                    showErrorMessageBelowCtrl("OrganizationId", "", false);
                    showErrorMessageBelowCtrl("OrganizationId", "Organization field reuired.", true);
                    isSuccess = false;
                }
                if (branch == null || branch <= 0) {
                    showErrorMessageBelowCtrl("BranchId", "", false);
                    showErrorMessageBelowCtrl("BranchId", "Branch field reuired.", true);
                    isSuccess = false;
                }
                if (campusId == null || campusId <= 0) {
                    showErrorMessageBelowCtrl("CampusId", "", false);
                    showErrorMessageBelowCtrl("CampusId", "Campus field reuired.", true);
                    isSuccess = false;
                }
                if (email == "") {
                    showErrorMessageBelowCtrl("Email", "", false);
                    showErrorMessageBelowCtrl("Email", "Email field reuired.", true);
                    isSuccess = false;
                }
                if (nickName == "") {
                    showErrorMessageBelowCtrl("NickName", "", false);
                    showErrorMessageBelowCtrl("NickName", "NickName field reuired.", true);
                    isSuccess = false;
                }
                if (fullName == "") {
                    showErrorMessageBelowCtrl("FullName", "", false);
                    showErrorMessageBelowCtrl("FullName", "FullName field reuired.", true);
                    isSuccess = false;
                }
                if (contactNo == "") {
                    showErrorMessageBelowCtrl("ContactNo", "", false);
                    showErrorMessageBelowCtrl("ContactNo", "ContactNo field required.", true);
                    isSuccess = false;
                }
                
                if (isSuccess == true) {
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }
            });



            $("#OrganizationId").change(function () {
                var organizationId = $(this).val();
                if (organizationId != " ") {
                    loadAllBranch(organizationId);
                } else {
                    $("#BranchId").html("<option value=' '>Select Branch</option>");
                    $("#CampusId").html("<option value=' '>Select Campus</option>");
                }
            });

            function loadAllBranch(orgId) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetBranchForOrganization",
                    cache: false,
                    async: true,
                    data: { "organizationId": orgId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $("#BranchId option").remove();
                        var listItems = "";
                        $.each(response, function (index) {
                            listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        });
                        $("#BranchId").html(listItems);
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            }
            $("#BranchId").change(function () {
                var branchId = $(this).val();
                LoadCampusByBranchId(branchId);
            });

            function LoadCampusByBranchId(branchId) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetCampusForDropDownList",
                    cache: false,
                    async: true,
                    data: { "branchId": branchId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        if (result.hasOwnProperty('IsSuccess')) {
                            bootbox.alert(result.Message).css('margin-top', (($(window).height() / 4)));
                        }
                        else {
                            $("#CampusId").html(result);
                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to update campus",
                            displayMessageType: "error",
                        });
                        //bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            }
        });
    </script>

