﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.ViewModel
@model UdvashERP.BusinessModel.ViewModel.UserpermissionFormViewModel

@{
    ViewBag.Title = "Manage User Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["PermissinErrorMessage"] != null)
{
    <div class="alert alert-danger" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["PermissinErrorMessage"]
    </div>
}
@if (TempData["PermissionSuccessMessage"] != null)
{
    <div class="alert alert-success" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["PermissionSuccessMessage"]
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">Manage User Permission</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @id = "usrPermission" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <u><b>Filtering Criteria</b></u>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId2, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.OrganizationId2, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.DepartmentSelectItemList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId2, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.BranchId2, (IEnumerable<SelectListItem>) ViewBag.BranchList2, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.BranchId2, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.ListBoxFor(x => x.CampusId, ViewBag.CampusList as MultiSelectList, new { @class = "form-control",  @size = "5" })
                        @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserIds, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @*@Html.ListBoxFor(model => model.UserIds, ViewBag.AllActions as MultiSelectList, new { @emailGroups = "emailGroups", @class = "form-control", @id = "listbox", @size = "10" })*@
                        @Html.ListBoxFor(model => model.UserIds, ViewBag.UserMultiSelectList as MultiSelectList, new { @emailGroups = "emailGroups", @class = "form-control", @id = "listbox", @size = "10" })
                        @Html.ValidationMessageFor(model => model.UserIds, "", new { @class = "text-danger" })
                    </div>
                </div>
                <u><b>Permission Criteria</b></u>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.ListBoxFor(x => x.OrganizationId, ViewBag.OrganizationList as MultiSelectList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.ListBoxFor(x => x.ProgramId, ViewBag.ProgramList as MultiSelectList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        
                        @Html.ListBoxFor(x => x.BranchId, ViewBag.BranchList as MultiSelectList, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="permissionTitle"></div>
                <div id="userPermissionList" style="padding-left: 9%;"></div>

                <div class="form-group" style="clear: both;">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Set Permission" class="btn btn-primary" id="formSubmit" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('submit', '#usrPermission', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("ManageUserPermissionAjax", "User")',
                    dataType: 'json',
                    data: $(this).serialize(),
                    type: 'POST',
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "Permission successfully updated.",
                            displayMessageType: "s"
                        });
                    },
                    complete: function() {
                        $.unblockUI();
                        $(window).scrollTop(0);
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Permission error.",
                            displayMessageType: "e"
                        });
                    }
                });
            });
            //Using only for displaying branch organization wise
            $("#OrganizationId2").change(function() {
                var organizationId = $("#OrganizationId2").val();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetPermittedBranchByOrganization",
                    cache: false,
                    async: true,
                    data: { "organizationId": organizationId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#BranchId2 option").remove();
                        $("#CampusId option:not(:first)").remove();
                        if (response.isSuccess) {
                            $.each(response.branchList, function(i, v) {
                                $('#BranchId2').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                            cache: false,
                            async: true,
                            data: { organizationIds: organizationId, isAuthorized: true },
                            //beforeSend: function () {
                            //    $.blockUI({
                            //        timeout: 0,
                            //        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            //    });
                            //},
                            success: function (response2) {
                                $("#DepartmentId option:not(:first)").remove();
                                if (response2.IsSuccess) {
                                    $.each(response2.returndepartmentList, function (i, v) {
                                        $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                }
                            },
                            complete: function () {},
                            error: function () {}
                        });


                    },
                    complete: function() {
                        $.unblockUI();
                        $("#permissionTitle").html("");
                        $("#userPermissionList").html("");
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to load Branch.",
                            displayMessageType: "e"
                        });
                    }
                });
            });

            $("#BranchId2").change(function () {
                //remove all dependant dropdownlist option 
                $('#CampusId').empty();
                $('#CampusId').append("<option value='0'>All campus</option>");
                var organizationIds = $("#OrganizationId2").val();
                var branchIds = $("#BranchId2").val();

                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    type: "POST",
                    data: { organizationIds: organizationIds, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.returnCampusList, function (i, v) {
                                $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    }, complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                        console.log("Failed -----");
                        console.log(response);
                    }
                });
            });

            //Using only for displaying user branch wise
            //$("#BranchId2").change(function() {
            //    var branchId = $("#BranchId2").val();
            //    $("#listbox option").remove();
            //    if (branchId.trim() == "") {
            //        branchId = -1;
            //    }
            //    $.ajax({
            //        type: "post",
            //        url: $("body").attr("data-project-root") + "Administration/User/GetPermittedUserByBranch",
            //        cache: false,
            //        async: true,
            //        data: { "branchId": branchId },
            //        beforeSend: function() {
            //            $.blockUI({
            //                timeout: 0,
            //                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //            });
            //        },
            //        success: function(response) {
            //            $.unblockUI();
            //            var listItems = "";
            //            $.each(response, function(index) {
            //                listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
            //            });
            //            $("#listbox").html(listItems);

            //        },
            //        complete: function() {
            //            $.unblockUI();
            //            $("#permissionTitle").html("");
            //            $("#userPermissionList").html("");
            //        },
            //        error: function(result) {
            //            $.fn.customMessage({
            //                displayMessage: "Unable to load user.",
            //                displayMessageType: "e"
            //            });
            //        }
            //    });

            //});
            $(document).on("change", "#BranchId2,#DepartmentId,#CampusId", function (event) {
            //$("#BranchId2").change(function () {
                var branchIds = $("#BranchId2").val();
                var departmentIds = $("#DepartmentId").val();
                var campusIds = $("#CampusId").val();
                $("#listbox option").remove();
                //if (branchId.trim() == "") {
                //    branchId = -1;
                //}
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/LoadUserListByDepartmentBranch",
                    cache: false,
                    async: true,
                    data: { branchIdList: branchIds, departmentIdList: departmentIds, campusIdList: campusIds },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        var listItems = "";
                        $.each(response, function (index) {
                            listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        });
                        $("#listbox").html(listItems);

                    },
                    complete: function () {
                        $.unblockUI();
                        $("#permissionTitle").html("");
                        $("#userPermissionList").html("");
                    },
                    error: function (result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to load user.",
                            displayMessageType: "e"
                        });
                    }
                });
            });


            $("#listbox").change(function() {
                var listValue = $(this).val();
                var programId = $("#ProgramId").val();
                var branchId = $("#BranchId").val();
                var organizationIds = $("#OrganizationId").val();
                if (organizationIds != "" && programId != "" && branchId != "" && organizationIds != null && programId != null && branchId != null) {

                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/User/GetPermittedValue",
                        cache: false,
                        async: true,
                        data: { "listUser[]": listValue, "organizationIds[]": organizationIds, "programId[]": programId, "branchId[]": branchId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            //if (result.hasOwnProperty('IsSuccess')) {
                            //    $.fn.customMessage({
                            //        displayMessage: result.Message,
                            //        displayMessageType: "e"
                            //    });
                            //} else {
                                $("#permissionTitle").html("<u><b>Menu Permisssion</b></u>");
                                $("#userPermissionList").html(result);
                            //}
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load data.",
                                displayMessageType: "e"
                            });
                        }
                    });
                }

            });

            $("#BranchId, #ProgramId").change(function() {
                $(".alert-danger").hide();
                var branchId = $("#BranchId").val();
                var listValue = $("#listbox").val();
                var programId = $("#ProgramId").val();
                var organizationIds = $("#OrganizationId").val();
                if (listValue == null || listValue == "") {
                    $.fn.customMessage({
                        displayMessage: "Please Select User.",
                        displayMessageType: "e"
                    });
                } else if (programId == null || programId == "") {
                    $.fn.customMessage({
                        displayMessage: "Please Select Program.",
                        displayMessageType: "e"
                    });
                } else if (branchId == null || branchId == "") {
                    //$.fn.customMessage({
                    //    displayMessage: "Please Select Branch.",
                    //    displayMessageType: "e"
                    //});
                } else {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/User/GetPermittedValue",
                        cache: false,
                        async: true,
                        data: { "listUser[]": listValue, "organizationIds[]": organizationIds, "programId[]": programId, "branchId[]": branchId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            if (result.hasOwnProperty('IsSuccess')) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "e"
                                });
                            } else {
                                $("#permissionTitle").html("<u><b>Menu Permisssion</b></u>");
                                $("#userPermissionList").html(result);
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load data.",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });

            $("#OrganizationId").change(function() {
                var organizationIds = $("#OrganizationId").val();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetprogramBranchByOrganization",
                    cache: false,
                    async: true,
                    data: { "organizationIds": organizationIds },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#BranchId option").remove();
                        $("#ProgramId option").remove();
                        if (response.isSuccess) {
                            $.each(response.branchList, function(i, v) {
                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $.each(response.programList, function(i, v) {
                                $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        $("#permissionTitle").html("");
                        $("#userPermissionList").html("");
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to load user.",
                            displayMessageType: "e"
                        });
                    }
                });
            });

            var currentBranchId = $("#BranchId2").val();
            if (currentBranchId.trim() != "" && currentBranchId != -1) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetPermittedUserByBranch",
                    cache: false,
                    async: true,
                    data: { "branchId": currentBranchId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#listbox option").remove();
                        var listItems = "";
                        $.each(response, function(index) {
                            listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        });
                        $("#listbox").html(listItems);

                    },
                    complete: function() {
                        $.unblockUI();
                        $("#permissionTitle").html("");
                        $("#userPermissionList").html("");
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to load user.",
                            displayMessageType: "e"
                        });
                    }
                });
            }
        });
    </script>
}
