﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.ViewModel
@model UdvashERP.BusinessModel.ViewModel.UserpermissionFormViewModel

@{
    ViewBag.Title = "Observe User Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Observe User Permission</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @id = "observeUsrPermission" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId2, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId2, "", new { @class = "text-danger" })
                    </div> 
                    @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.DepartmentSelectItemList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.BranchId2, (IEnumerable<SelectListItem>)ViewBag.BranchList2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchId2, "", new { @class = "text-danger" })
                    </div> 
                    @Html.LabelFor(model => model.UserIds, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.UserIds, (IEnumerable<SelectListItem>)ViewBag.UserMultiSelectList, "Select User",new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserIds, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="observdeUserPermissionList" style="padding-left: 9%;"></div>

                @*<div class="form-group" style="clear: both;">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="See Permission" class="btn btn-primary" id="formSubmit" />
                    </div>
                </div>*@
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#OrganizationId2").change(function() {
                var organizationId = $("#OrganizationId2").val();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetPermittedBranchByOrganization",
                    cache: false,
                    async: true,
                    data: { "organizationId": organizationId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#BranchId2 option").remove();
                        if (response.isSuccess) {
                            $.each(response.branchList, function(i, v) {
                                $('#BranchId2').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                            cache: false,
                            async: true,
                            data: { organizationIds: organizationId, isAuthorized: true },
                            success: function(response2) {
                                $("#DepartmentId option:not(:first)").remove();
                                if (response2.IsSuccess) {
                                    $.each(response2.returndepartmentList, function(i, v) {
                                        $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                }
                            },
                            complete: function() {},
                            error: function() {}
                        });


                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to load Branch.",
                            displayMessageType: "e"
                        });
                    }
                });
            });

            $(document).on("change", "#BranchId2,#DepartmentId", function(event) {
                var branchIds = $("#BranchId2").val();
                var departmentIds = $("#DepartmentId").val();
                $("#UserIds option").remove();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/LoadUserListByDepartmentBranch",
                    cache: false,
                    async: true,
                    data: { branchIdList: branchIds, departmentIdList: departmentIds },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#UserIds option").remove();
                        $('#UserIds').append("<option value=''>Select User</option>");
                        $.each(response, function(i, v) {
                            $('#UserIds').append($('<option>').text(v.Text).attr('value', v.Value));
                        });

                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to load user.",
                            displayMessageType: "e"
                        });
                    }
                });
            });

            $(document).on("change", "#UserIds", function (event) {
                window.showErrorMessageBelowCtrl("UserIds", "", false);
                var userId = $("#UserIds").val();
                $("#observdeUserPermissionList").html('');
                if (userId != '' && userId != null && userId.length > 0) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/User/LoadUserMenuListToObservePermission",
                        cache: false,
                        async: true,
                        data: { userProfileId: userId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            $("#observdeUserPermissionList").html('');
                            $("#observdeUserPermissionList").html(response);
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load Permission Menu List.",
                                displayMessageType: "e"
                            });
                        }
                    });
                } else {
                    window.showErrorMessageBelowCtrl("UserIds", "", false);
                    window.showErrorMessageBelowCtrl("UserIds", "Please Select User.", true);
                }
            });

            $(document).on("click", ".viewPermission", function(event) {
                $('#myModal').modal({ 'show': false });
                var _this = $(this);
                var userId = $("#UserIds").val();
                var menuId = _this.attr("data-id");
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/DetailsObservePermission",
                    cache: false,
                    async: true,
                    data: { userProfileId: userId, menuId: menuId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        $("#ViewPermissionContent").html(response);
                        $('#myModal').modal({ 'show': true });
                        //_this.find(".viewPermissionCount").html('');
                        //if (response.IsSuccess) {
                        //    _this.find(".viewPermissionCount").html(response.Count);
                        //}
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function() {
                        $.fn.customMessage({
                            displayMessage: "Unable to load Permission Menu List.",
                            displayMessageType: "e"
                        });
                    }
                });
            });

        });
    </script>
}
