﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UserAuth.UserProfile>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "View User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">User List</h4>
    </div>
    <div class="panel-body">
        @* this table is responsible for searching view *@

        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.organizationList, new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="userName" name="UserName" type="text" class="form-control " placeholder="Name" />
                </th>
                <th class="form-group">
                    <input id="contactNo" name="ContactNo" type="text" class="form-control " placeholder="Mobile No" />
                </th>
                @*<th class="form-group">
                    <input id="rank" name="Rank" type="text" class="form-control " placeholder="Rank" />
                </th>*@
                <th class="form-group " style="width:90px">
                    @if (ViewBag.STATUSTEXT != null)
                    {
                        <select id="status" class="form-control">
                            <option value="">Status</option>
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                {
                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                    @*<input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Value 10" />*@
                </th>

                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    <div class="btn btn-info" id="exportUser" style="float: right;"> Export</div>
                </th>

            </tr>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Organization")</th>
                    <th>@Html.DisplayName("Branch")</th>
                    <th>@Html.DisplayName("Campus")</th>
                    <th>@Html.DisplayName("Full Name")</th>
                    <th>@Html.DisplayName("Nick Name")</th>
                    <th>@Html.DisplayNameFor(model => model.AspNetUser.UserName)</th>
                    <th>@Html.DisplayName("Mobile Number")</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
    </div>
</div>
@* scripts section *@

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Organization").change(function () {
                var organizationId = $(this).val();
                if (organizationId != " ") {
                    loadAllBranch(organizationId);
                } else {
                    $("#Branch").html("<option value='-1'>Select Branch</option>");
                }
            });

            function loadAllBranch(orgId) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/User/GetBranchForOrganization",
                    cache: false,
                    async: true,
                    data: { "organizationId": orgId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $("#Branch option").remove();
                        var listItems = "";
                        $.each(response, function (index) {
                            listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        });
                        $("#Branch").html(listItems);
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            }


            $(document).on("click", "#exportUser", function () {
                var urlParam = {
                    username: $('#userName').val(),
                    contactNo: $('#contactNo').val(),
                    branchId: $('#Branch').val(),
                    status: $('#status').val(),
                    organizationId : $("#Organization").val()
                };
                var url = "@Url.Action("ExportUserList", "User", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                window.open(url);
            });
            @**----function for render data table----*@
            function dataTableRender() {
                var displayNo = 10;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = parseInt($('#DisplayNo').val());
                } else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,

                    //stateSave: true,
                    order: [[0, "Asc"]],
                    ajax: {
                        url: '@Url.Action("UserList", "User")',
                        type: 'POST',
                        data: function(dt) {
                            dt.username = $('#userName').val();
                            dt.contactNo = $('#contactNo').val();
                            dt.branchId = $('#Branch').val();
                            dt.status = $('#status').val();
                            dt.organizationId = $("#Organization").val();
                        },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function(response) {
                            ShowErrorMessage("data load error. Please try again.");
                        }
                    }
                });
            }
            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
                $.unblockUI();
            });

        });
</script>
}
