﻿@Styles.Render("~/Content/styledatatable")

@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Entity.Administration
@model UdvashERP.Areas.Student.Models.StudentSurveyReport

@{
    ViewBag.Title = "Questionwise Survey Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
    //var dataGridWidth = 50;
}
<table id="tbl">
    <tr class="filteringRow form-group">
        @*<th class="form-group">
                <input id="programSearch" name="programSearch" type="text" class="form-control" placeholder="Program" />
            </th>
            <th class="form-group">
                <input id="programRollsearch" name="programRollsearch" type="text" class="form-control" placeholder="Program Roll" />
            </th>
            <th class="form-group">
                <input id="mrnSearch" name="mrnSearch" type="text" class="form-control" placeholder="MRN" />
            </th>
            <th class="form-group">
                <input id="crnSearch" name="crnSearch" type="text" class="form-control" placeholder="CRN" />
            </th>
            <th class="form-group">
                <input id="nickNameSearch" name="nickNameSearch" type="text" class="form-control" placeholder="Nick Name" />
            </th>*@
        <th class="form-group">
            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" value="10" />
        </th>
        <th class="form-group">
            <input type="button" name="search" id="search" value="Search" class="form-control btn btn-primary" />
        </th>
        <th class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
            </div>
        </th>
    </tr>
</table>
<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Questionwise Survey Report</h4>
    </div>
    <div class="panel-body">
        <div class="text-center">
            @*@if (ViewBag.organizationName != null)
            {*@
                <span class="large">@ViewBag.organizationName</span>
            @*}*@
        </div>
        <div class="text-center">
            @*@if (ViewBag.programName != null && ViewBag.sessionName != null)
            {*@
                <span class="large">@ViewBag.programName - @ViewBag.sessionName</span>
            @*}*@
        </div>
        <div class="text-center">
            <span class="large">Questionwise Survey Report</span>
        </div>
        <br />
        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            @*table-responsive*@
            <thead class="text-left">
                <tr>
                    <th>
                        Sl
                    </th>
                    <th>
                        Question
                    </th>
                    <th>
                        Answer
                    </th>
                   
                </tr>
            </thead>
            <tbody class="text-left"></tbody>
        </table>
    </div>
</div>
    <div>
        @Html.Hidden("StudentSurveyReportObj", ViewData["StudentSurveyReportObj"]);
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/datatable")
        <script src="~/Scripts/jquery.blockUI.js"></script>
        <script type="text/javascript">

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            order: [[0, "desc"]],
            //"aoColumnDefs": [{
            //    'bSortable': false,
            //    'aTargets': [(lastColumn - 1)]
            //}],
            'bSort': false,
            ajax: {
                url: '@Url.Action("QuestionwiseSurveyReportListAjaxRequest", "StudentSurvey")',
                type: 'POST',
                data: function (d) {
                    d.studentSurveyReportObj = $('#StudentSurveyReportObj').val();
                }
            }
        });
    }
    dataTableRender();

    $(document).on("click", "#search", function () {
        dataTableRender();
    });
    $(document).on("click", "#export", function () {
        var urlParam = {
            organizationHeader: '@ViewBag.organizationShortName',
            programSessionHeader: '@ViewBag.programName - @ViewBag.sessionName',
            studentSurveyReportObj: $('#StudentSurveyReportObj').val(),
        };

        var url = "@Url.Action("ExportQuestionwiseSurveyReportList", "StudentSurvey", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });
</script>
    }
