﻿@Styles.Render("~/Content/styledatatable")

@using UdvashERP.BusinessRules
@model UdvashERP.Areas.Student.Models.StudentMakeSurvey

@{
    ViewBag.Title = "Student List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student List</h4>
    </div>
    <div class="panel-body">       
        <div class="text-center">
            @if (ViewBag.organizationName != null)
            {
                <span class="large">@ViewBag.organizationName</span>
            }            
        </div>
        <div class="text-center">
            @if (ViewBag.programName != null && ViewBag.sessionName != null)
            {
                <span class="large">@ViewBag.programName - @ViewBag.sessionName</span>
            }
        </div>
        <div class="text-center">
            <span class="large">Student List</span>     
        </div>              
        <br />
        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">@*table-responsive*@
            <thead>
                <tr>
                    <th>
                        Sl
                    </th>
                    @if (Model.InformationViewList != null)
                    {
                        foreach (string informationView in Model.InformationViewList)
                        {
                            <th>@informationView</th>
                        }
                    }
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        var organizationId = @Model.OrganizationId;
        var programId = @Model.ProgramId;
        var sessionId = @Model.SessionId;
        var branchId = @Html.Raw(Json.Encode(@Model.SelectedBranch));
        var campusId = @Html.Raw(Json.Encode(@Model.SelectedCampus));
        var batchName = @Html.Raw(Json.Encode(@Model.SelectedBatch));
        var course = @Html.Raw(Json.Encode(@Model.SelectedCourse));
        var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));
        var batchDays =@Html.Raw(Json.Encode(@Model.SelectedBatchDays));
        var batchTime = @Html.Raw(Json.Encode(@Model.SelectedBatchTime));
        var surveyStatus = @Model.SelectedSuveyStatus;

        function dataTableRender() {
            var pageSize = 10;
            //if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            //    pageSize = $('#pageSize').val();
            //} else {
            //    $('#pageSize').val(pageSize);
            //}
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                order: [[0, "desc"]],
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }],
                ajax: {
                    url: '@Url.Action("StudentListAjaxRequest","StudentSurvey")',
                    type: 'POST',
                    data: function(d) {
                        d.organizationId = organizationId;
                        d.programId = programId;
                        d.sessionId = sessionId;
                        d.branchId = branchId;
                        d.campusId = campusId;
                        d.batchName = batchName;
                        d.courseId = course;
                        d.informationViewList = informationViewList;
                        d.batchDays = batchDays;
                        d.batchTime = batchTime;
                        d.surveyStatus = surveyStatus;
                    }
                }
            });
        }

        dataTableRender();

        /*end render data table*/
        $(document).on("click", "#search", function() {
            dataTableRender();
        });
</script> 
}
