﻿
@{
    ViewBag.Title = "Individual Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">Individual Report</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div style="padding-left: 35%;">
                    <input type="text" value="@ViewBag.PrnNumber" name="PrnNo" maxlength="11" id="PrnNoFirst" class="form-control text-box single-line" placeholder="Program Roll">
                    @*@Html.EditorFor(model => model.PrnNo, new { htmlAttributes = new { @class = "form-control", @id = "PrnNoFirst", PlaceHolder = "Program Roll", maxlength = "11" } })*@
                    <input type="button" value="Submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px;" id="studentPrn" />
                </div>
            </div>           
        </div>
    </div>
</div>
<div id="DisplayStudentSurveyData">
    
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
        <script type="text/javascript">
            function responseReturn() {
                $("#DisplayStudentData").empty();
                $.ajax({
                    url: '@Url.Action("GetDataByPrn", "StudentSurvey")',
                    type: "POST",
                    cache: false,
                    async: true,
                    data: { "prnumber": $("#PrnNoFirst").val() },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.hasOwnProperty('IsSuccess')) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e"
                            });
                        } else {
                            $("#DisplayStudentSurveyData").html(response);
                            $(".customMessagesurvey").html("").hide();
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response) {
                        $.unblockUI();
                        //bootbox.alert("Please correct Program roll.").css('margin-top', (($(window).height() / 4)));
                        $.fn.customMessage({
                            displayMessage: "Please correct Program roll",
                            displayMessageType: "e"
                        });
                    }
                });
            }


            $(document).on('click', '#submit', function (event) {
                var studentSurveyAnswerViewModelList = [];
                var isSuccess = 0;
                var programRoll = $("#programRoll").val();
                //  var studentProgramId = $("#studentProgramId").val();

                //if (programRoll == "" || !(/^\d+$/.test(programRoll))) {
                //    isSuccess = isSuccess + 1;
                //    $(".customMessagesurvey").show().html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">X</a><strong>Error!</strong>Invalid Program Roll</div>');                
                //}
                //if (studentProgramId == "" || !(/^\d+$/.test(studentProgramId))) {
                //    isSuccess = isSuccess + 1;
                //    $(".customMessagesurvey").show().html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">X</a><strong>Error!</strong>Invalid Program Roll</div>');
                //}

                if (isSuccess == 0) {
                    $(".question").each(function () {

                        var error = 0;
                        var qid = $(this).attr("data-qid");
                        if ((typeof qid === "undefined") || (qid == "") || !(/^\d+$/.test(qid))) {
                            error = error + 1;
                        }
                        else {
                            var ansid = $(this).find("input:radio:checked").val();
                            if ((typeof qid === "undefined") || (qid == "") || !(/^\d+$/.test(ansid))) {
                                error = error + 1;
                            }
                            else {
                                var advice = $(this).find(".advice").val();
                                var complain = $(this).find(".complain").val();
                                var studentSurveyAnswerViewModel = {};
                                studentSurveyAnswerViewModel["PrnNo"] = programRoll;
                                studentSurveyAnswerViewModel["Advice"] = advice;
                                studentSurveyAnswerViewModel["Complain"] = complain;
                                studentSurveyAnswerViewModel["Question"] = qid;
                                studentSurveyAnswerViewModel["Answer"] = ansid;
                                studentSurveyAnswerViewModelList.push(studentSurveyAnswerViewModel);
                                // console.log(programRoll + ", ID-" + studentProgramId + ",Q-" + qid + ",A-" + ansid + ",Adv-" + advice + ",C-" + complain);
                            }
                        }
                        console.log(error);
                    });
                }

                if (studentSurveyAnswerViewModelList.length > 0) {
                    var stringify = JSON.stringify(studentSurveyAnswerViewModelList);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Student/StudentSurvey/SaveSurvey",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: stringify,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "s",
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
                else {
                    $(".customMessagesurvey").show().html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">X</a><strong>Error! </strong>Please Ans at least one question</div>');
                }

            });

            $(document).ready(function () {
                $('#PrnNoFirst').keydown(function (e) {
                    if (e.keyCode == 13) {
                        responseReturn();
                    }
                });
                $("#studentPrn").click(function () {
                    responseReturn();
                });

                if ($("#PrnNoFirst").val() != "") {
                    responseReturn();
                }

            });



        </script>
    }
