﻿@using UdvashERP.BusinessRules
@model UdvashERP.Areas.Student.Models.StudentMakeSurvey
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Make Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Make Survey <span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="toggleCE">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "StudentMakeSurveyForm", id = "StudentMakeSurveyForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                    </div>
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                    </div>
                    @Html.Label("Survey Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" id="SelectedSurveyStatus" name="selectedSuveyStatus">
                            <option value="0">All</option>
                            @foreach (SurveyStatus version in Enum.GetValues(typeof(SurveyStatus)))
                            {
                                var x = (int)version;
                                <option value="@x">@version</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                    </div>

                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                    </div>

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                    </div>

                    @Html.Label("Course", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group" style="align-items: center; padding-left: 10%;">
                    <label class="control-label col-md-4" style="margin-top: 10px;">Count</label>
                    <div class="col-md-3">
                        <input class="form-control" name="surveyCount" id="surveyCount" value="..." style="margin-top: 2px; font-size: 14px; color: blue; text-align: center" disabled="" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="form-control btn btn-primary" id="studentCountButton" value="Count" style="margin-top: 2px; font-size: 14px; text-align: center" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                        @Html.ListBoxFor(m => m.InformationViewList, (IEnumerable<SelectListItem>)ViewBag.InformationStringList, new { @class = "form-control", @id = "informationViewList" })
                    </div>
                </div>

                <br/>
                <hr>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ProgramRoll, new { htmlAttributes = new { @class = "form-control", @placeholder = "Program Roll" } })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nick Name/ Full Name" } })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NumberOfRow, new { htmlAttributes = new { @class = "form-control", @placeholder = "No. Of Row", @id = "pageSize", @Value = "10", @type = "text" } })
                    </div>
                    <div class="col-md-2 text-left">
                        <input type="button" id="Submit" value="View List" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="StudentMakeSurveyContain">

</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">

        function validateForm() {
            var isSuccess = true;
            var organizationId = $("#OrganizationId").val();
            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var surveyStatus = $("#SelectedSurveyStatus").val();
            var branchIds = $("#SelectedBranch").val();
            var campusIds = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();
            var batchTimes = $("#SelectedBatchTime").val();
            var batchIds = $("#SelectedBatch").val();
            var courseIds = $("#SelectedCourse").val();

            if (organizationId == null || organizationId == '' || organizationId.length <= 0) {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            }
            if (programId == null || programId == '' || programId.length <= 0) {
                window.showErrorMessageBelowCtrl("ProgramId", "", false);
                window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("ProgramId", "", false);
            }
            if (sessionId == null || sessionId == '' || sessionId.length <= 0) {
                window.showErrorMessageBelowCtrl("SessionId", "", false);
                window.showErrorMessageBelowCtrl("SessionId", "Please Select Session.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SessionId", "", false);
            }
            if (surveyStatus == null || surveyStatus == '' || surveyStatus.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedSurveyStatus", "", false);
                window.showErrorMessageBelowCtrl("SelectedSurveyStatus", "Please Select Survey Status.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedSurveyStatus", "", false);
            }
            if (branchIds == null || branchIds == '' || branchIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBranch", "", false);
                window.showErrorMessageBelowCtrl("SelectedBranch", "Please Select Branch.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBranch", "", false);
            }
            if (campusIds == null || campusIds == '' || campusIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedCampus", "", false);
                window.showErrorMessageBelowCtrl("SelectedCampus", "Please Select Campus.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedCampus", "", false);
            }
            if (batchDays == null || batchDays == '' || batchDays.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBatchDays", "", false);
                window.showErrorMessageBelowCtrl("SelectedBatchDays", "Please Select Batch Days.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBatchDays", "", false);
            }
            if (batchTimes == null || batchTimes == '' || batchTimes.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBatchTime", "", false);
                window.showErrorMessageBelowCtrl("SelectedBatchTime", "Please Select Batch Time.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBatchTime", "", false);
            }
            if (batchIds == null || batchIds == '' || batchIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedBatch", "", false);
                window.showErrorMessageBelowCtrl("SelectedBatch", "Please Select Batch.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedBatch", "", false);
            }
            if (courseIds == null || courseIds == '' || courseIds.length <= 0) {
                window.showErrorMessageBelowCtrl("SelectedCourse", "", false);
                window.showErrorMessageBelowCtrl("SelectedCourse", "Please Select Course.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("SelectedCourse", "", false);
            }

            return isSuccess;
        }

        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#toggleCE').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#toggleCE').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        function dataTableRender() {
            var organizationId = $("#OrganizationId").val();
            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var surveyStatus = $("#SelectedSurveyStatus").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();
            var batchTime = $("#SelectedBatchTime").val();
            var batchName = $("#SelectedBatch").val();
            var course = $("#SelectedCourse").val();
            var informationViewList = $("#informationViewList").val();
            var programRoll = $("#ProgramRoll").val();
            var name = $("#Name").val();
            var pageSize = 10;

            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = $('#pageSize').val();
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "scrollY": '50vh',
                //stateSave: true,
                order: [[0, "desc"]],
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }],
                ajax: {
                    url: $("body").attr("data-project-root") + "Student/StudentSurvey/StudentListAjaxRequest",
                    type: 'POST',
                    data: function (d) {
                        d.organizationId = organizationId;
                        d.programId = programId;
                        d.sessionId = sessionId;
                        d.branchId = branchId;
                        d.campusId = campusId;
                        d.batchName = batchName;
                        d.courseId = course;
                        d.informationViewList = informationViewList;
                        d.batchDays = batchDays;
                        d.batchTime = batchTime;
                        d.surveyStatus = surveyStatus;
                        d.programRoll = programRoll;
                        d.name = name;
                    }
                }
            });
        }


    $(document).ready(function () {

        window.validateDropDownField("OrganizationId", "Please Select Organization.");
        window.validateDropDownField("ProgramId", "Please Select Program.");
        window.validateDropDownField("SessionId", "Please Select Session.");
        window.validateDropDownField("SelectedSurveyStatus", "Please Select Survey Status.");
        window.validateListField("SelectedBranch", "Please Select Branch.");
        window.validateListField("SelectedCampus", "Please Select Campus.");
        window.validateListField("SelectedBatchDays", "Please Select Batch Days.");
        window.validateListField("SelectedBatchTime", "Please Select Batch Time.");
        window.validateListField("SelectedBatch", "Please Select Batch.");
        window.validateListField("SelectedCourse", "Please Select Course.");

        $('#informationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });

        $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

        $(document).on("change", "#OrganizationId, #ProgramId, #SessionId, #SelectedBranch, #SelectedCampus, #SelectedBatchDays, #SelectedBatchTime, #studentCountButton", function () {
            $("#surveyCount").val("...");
        });

        $(document).on('change', '#OrganizationId', function (e) {
            $("#surveyCount").html("...");
            $("#SelectedCourse option").remove();
            $("#SelectedBranch option").remove();
            $("#SelectedCampus option").remove();
            $("#SelectedBatchDays option").remove();
            $("#SelectedBatchTime option").remove();
            $("#SelectedBatch option").remove();
            $("#SessionId option").remove();
            $('#ProgramId').empty();
            $('#ProgramId').append("<option value=''>Select Program</option>");
            var orgId = $("#OrganizationId").val();
            if (orgId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnProgramList, function (i, v) {
                                $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }

        });

        $(document).on("change", "#ProgramId", function (e) {
            $("#surveyCount").html("...");
            $("#SelectedCourse option").remove();
            $("#SelectedBranch option").remove();
            $("#SelectedCampus option").remove();
            $("#SelectedBatchDays option").remove();
            $("#SelectedBatchTime option").remove();
            $("#SelectedBatch option").remove();
            $('#SessionId').empty();
            $('#SessionId').append("<option value=''>Select a session</option>");

            var programId = $('#ProgramId').val();
            if (programId != null && programId != "") {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    cache: false,
                    async: true,
                    data: { programIds: programId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function (ii, vv) {
                                $('#SessionId').append($('<option>').text(vv.Text).attr('value', vv.Value));
                            });
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                        }

                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                    },
                    error: function (response) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
            $("#surveyCount").val("...");
        });

        $(document).on("change", "#SessionId", function (e) {
            $("#surveyCount").html("...");
            //remove all dependant dropdownlist & selection option
            $("#SelectedCourse option").remove();
            $("#SelectedBranch option").remove();
            $("#SelectedCampus option").remove();
            $("#SelectedBatchDays option").remove();
            $("#SelectedBatchTime option").remove();
            $("#SelectedBatch option").remove();

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                //Load Branch List
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: true,
                    data: { programIds: programId, sessionIds: sessionId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        $('#SelectedBranch').append("<option value='0'>All Branch</option>");
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedBranch").find('option:eq(0)').prop('selected', true);
                            console.log("Success -----");
                            //Load Course List
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                type: "POST",
                                data: { programIds: programId, sessionIds: sessionId },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (responses) {
                                    if (responses.IsSuccess) {
                                        $('#SelectedCourse').append("<option value='0'>All Course</option>");
                                        $.each(responses.returnCourse, function (i, v) {
                                            $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                        //$("#SelectedCourse").find('option:eq(0)').prop('selected', true);
                                        console.log("Success ------");
                                    } else {
                                        console.log("Error -----");
                                        //console.log(response);
                                    }
                                },
                                complete: function () {
                                    $.unblockUI();
                                    console.log("Complete -----");
                                    //console.log(response);
                                },
                                error: function (responses) {
                                    $.unblockUI();
                                    console.log("Failed -----");
                                    //console.log(response);
                                }
                            });
                        } else {
                            console.log("Error -----");
                            // console.log(response);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(response);
                    },
                    error: function (response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(response);
                    }
                });
            }
            $("#surveyCount").val("...");
        });

        $(document).on("change", "#SelectedBranch", function (e) {
            $("#surveyCount").html("...");
            //remove all dependant dropdownlist & selection option
            $("#SelectedCampus option").remove();
            $("#SelectedBatchDays option").remove();
            $("#SelectedBatchTime option").remove();
            $("#SelectedBatch option").remove();

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchId = $("#SelectedBranch").val();

            if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        $('#SelectedCampus').append("<option value='0'>All Campus</option>");
                        if (response.IsSuccess) {
                            $.each(response.returnCampusList, function (i, v) {
                                $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedCampus").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        // console.log(result);
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }
            $("#surveyCount").val("...");
        });
        
        $(document).on("change", "#SelectedCampus", function (e) {
            $("#surveyCount").html("...");
            //remove all dependant dropdownlist & selection option
            $("#SelectedBatchDays option").remove();
            $("#SelectedBatchTime option").remove();
            $("#SelectedBatch option").remove();

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();

            if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                    cache: false,
                    async: true,
                    data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        $('#SelectedBatchDays').append("<option value='0'>All BatchDays</option>");
                        if (result.IsSuccess) {
                            $.each(result.returnBatchDays, function (i, v) {
                                $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedBatchDays").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        // console.log(result);
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        // console.log(result);
                    }
                });
            }
            $("#surveyCount").val("...");
        });
        
        $(document).on("change", "#SelectedBatchDays", function (e) {
            $("#surveyCount").html("...");
            //remove all dependant dropdownlist & selection option
            $("#SelectedBatchTime option").remove();
            $("#SelectedBatch option").remove();

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();

            if (programId != null && programId != ""
                && sessionId != null && sessionId != ""
                && branchId != null && branchId != ""
                && campusId != null && campusId != ""
                && batchDays != null && batchDays != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                    cache: false,
                    async: true,
                    data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        $('#SelectedBatchTime').append("<option value='0'>All BatchTimes</option>");
                        if (result.IsSuccess) {
                            $.each(result.returnBatchTime, function (i, v) {
                                $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedBatchTime").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            // console.log(result);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(result);
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }
            $("#surveyCount").val("...");
        });
        
        $(document).on("change", "#SelectedBatchTime", function (e) {
            $("#surveyCount").html("...");
            $("#SelectedBatch option").remove();

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();
            var batchTime = $("#SelectedBatchTime").val();
            var batchTimeText = [];

            $("#SelectedBatchTime option:selected").each(function () {
                var $this = $(this);
                if ($this.length) {
                    batchTimeText.push($this.text());
                }
            });

            if (programId != null && programId != ""
                && sessionId != null && sessionId != ""
                && branchId != null && branchId != ""
                && campusId != null && campusId != ""
                && batchDays != null && batchDays != ""
                && batchTime != null && batchTime != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                    cache: false,
                    async: true,
                    data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, batchTimes: batchTime , isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        $('#SelectedBatch').append("<option value='0'>All batch</option>");
                        if (result.IsSuccess) {
                            $.each(result.returnBatch, function (i, v) {
                                $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#batchName").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(result);
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }
            $("#surveyCount").val("...");
        });
        
        $(document).on("click", "#studentCountButton", function (e) {
            $("#surveyCount").val("...");

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchDays = $("#SelectedBatchDays").val();
            var batchTime = $("#SelectedBatchTime").val();
            var batchId = $("#SelectedBatch").val();
            var courseId = $("#SelectedCourse").val();
            var surveyStatus = $("#SelectedSurveyStatus").val();
            var programRoll = $("#ProgramRoll").val();
            var name = $("#Name").val();
            
            if (validateForm() == true) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Student/StudentSurvey/GetStudentCount",
                    cache: false,
                    async: true,
                    data: {
                        programId: programId,
                        sessionId: sessionId,
                        branchId: branchId,
                        campusId: campusId,
                        batchDays: batchDays,
                        batchTime: batchTime,
                        batchId: batchId,
                        courseId: courseId,
                        surveyStatus: surveyStatus,
                        programRoll : programRoll,
                        name : name
                    },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        if (result.IsSuccess) {
                            //$("#surveyCount").val(result.missingImageCount);
                            $("#surveyCount").val(result.studentSurveyCount);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            }
        });

        $(document).on("click", "#Submit", function (e) {
            e.preventDefault();
            $("#StudentMakeSurveyContain").html("");
            if (validateForm() == true) {
                var data = $("#StudentMakeSurveyForm").serialize();
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Student/StudentSurvey/MakeSurvey",
                    cache: false,
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $("#StudentMakeSurveyContain").html(response);
                        dataTableRender();
                        ShowHide();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            }
        });

    });
    </script>
}


