﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Students
@{
    ViewBag.Title = "Make Survey";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
    StudentProgram sp = ViewBag.StudentProgram;
    IList<ProgramSessionSurveyQuestion> sqlist = ViewBag.SurveyQuestionProgramSession;
}
<style>
    textarea {
        max-width: 100%;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student List</h4>
    </div>
    <div class="panel-body">       
        <div id="headerPart">
            <div style="float: left;margin-bottom: 20px;">
                <img src="@logoImage" width="150" height="150" />
            </div>
            <div style="float: left;margin-bottom: 20px;width: 55%; margin: 0 auto;">
                <div class="row text-center">
                    @if (sp.Program.Organization != null)
                    {
                        <div><strong>@sp.Program.Organization.Name</strong></div>
                    }
                    else
                    {
                        <div><strong>Udvash Academic & admission care</strong></div>
                    }
                    
                    <div><strong>@sp.Program.Name @sp.Batch.Session.Name</strong></div>
                    <div><strong>@{ string name = (!String.IsNullOrEmpty(sp.Student.FullName)) ? sp.Student.FullName + " (" + sp.Student.NickName + ")" : sp.Student.NickName; }@name</strong></div>
                    <div><strong>@sp.PrnNo</strong></div>

                </div>
            </div>
            <div style="float: right;margin-bottom: 20px;">
                @{

                    
                    var imagePath = "/Content/Image/blankimage.png";
                    if (sp.StudentImage.Count > 0)
                    {

                        //var firstOrDefault = (from x in sp.StudentImage select x).OrderByDescending(a => a.Id).FirstOrDefault();
                        //var stuentImage = firstOrDefault != null ? firstOrDefault.Images : null;
                        var studentImage = sp.MediaStudentImage.Images;
                        string imageBase64 = studentImage != null ? Convert.ToBase64String(studentImage) : null;
                        string imageSrc = imageBase64 != null ? string.Format("data:image/gif;base64,{0}", imageBase64) : "";
                        if (imageSrc != null && imageSrc.Trim() != "")
                        {
                            imagePath = imageSrc;
                        }
                    }
                    <img src="@imagePath" height="150" width="130" />
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Branch : </strong> </div>
                <div class="col-md-3" style="padding-left: 2px">@sp.Batch.Branch.Name</div>

                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Campus : </strong></div>
                <div class="col-md-3" style="padding-left: 2px;">@sp.Batch.Campus.Name</div>
                
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Batch Days : </strong></div>
                <div class="col-md-3" style="padding-left: 2px;">@sp.Batch.Days</div>
                
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Batch Time : </strong></div>
                <div class="col-md-3" style="padding-left: 2px;">@sp.Batch.FormatedBatchTime</div>
                
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Batch Name : </strong></div>
                <div class="col-md-3" style="padding-left: 2px;">@sp.Batch.Name</div>
                
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Course : </strong></div>
                <div class="col-md-3" style="padding-left: 2px;">
                    @{
                        string courseName = "";
                        if (sp.StudentCourseDetails.Count > 0)
                        {
                            List<string> courseLists = sp.StudentCourseDetails.GroupBy(cl => cl.CourseSubject.Course, (course, studentCourseSubjects) => new {Key = course, subjects = studentCourseSubjects.ToList()}).Select(x => x.Key.Name).ToList();
                            courseName = string.Join(", ", courseLists);
                        }
                    }
                    @courseName
                </div>

                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Mobile (Personal) : </strong></div>
                <div class="col-md-3 text-left" style="padding-left: 2px;">@sp.Student.Mobile</div>
                
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Mobile (Father) : </strong></div>
                <div class="col-md-3 text-left" style="padding-left: 2px;">@sp.Student.GuardiansMobile1</div>
                
                <div class="col-md-3 text-right" style="padding-right: 2px;"><strong>Mobile (Mother) : </strong></div>
                <div class="col-md-3 text-left" style="padding-left: 2px;">@sp.Student.GuardiansMobile2</div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Survey Information</h4>
    </div>
    <div class="panel-body">
        <div class="customMessagesurvey text-center"></div>
        <input type="hidden" id="programRoll" name="programRoll" value="@sp.PrnNo" />
        @{
            var studentAnswerList = sp.StudentSurveyAnswers;
            if (sqlist.Any())
            {
                foreach (var sq in sqlist)
                // for(int i=0; i<5; i++)
                {
                    var studentSurveyAnswer = studentAnswerList.Where(x => x.SurveyQuestion.Id == sq.SurveyQuestion.Id);

                    <div class="row form-horizontal question" data-qid="@sq.SurveyQuestion.Id">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="QuestionHeader">
                                    <label class="col-md-12"> <strong> প্রশ্নঃ </strong> &nbsp; @sq.SurveyQuestion.Question </label>
                                    <div class="row col-md-offset-1">
                                        @{
                    if (sq.SurveyQuestion.SurveyQuestionAnswers.Any())
                    {
                        foreach (var sqa in sq.SurveyQuestion.SurveyQuestionAnswers)
                        {
                            if (studentSurveyAnswer.Any(i => i.SurveyQuestionAnswer.Id == sqa.Id))
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="ans_@sq.SurveyQuestion.Id" class="ans" value="@sqa.Id" data-aid="@sqa.Id" checked="checked"> @sqa.Answer
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="ans_@sq.SurveyQuestion.Id" class="ans" value="@sqa.Id" data-aid="@sqa.Id"> @sqa.Answer
                                </label>
                            }

                        }
                    }
                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form class="form-horizontal">
                                @{
                    if (studentSurveyAnswer.Any())
                    {
                        var result = studentSurveyAnswer.FirstOrDefault();
                        <div class="form-group form-group-lg">
                            <label class="col-md-2 control-label" for="advice">Advice: </label>
                            <div class="col-md-10">
                                <textarea rows="4" class="form-control advice" name="advice" placeholder="Advice">@result.Advice</textarea>
                            </div>
                        </div>
                                    <div class="form-group form-group-lg">
                                        <label class="col-md-2 control-label" for="complain">Complain: </label>
                                        <div class="col-md-10">
                                            <textarea rows="4" class="form-control complain" name="complain" placeholder="Complain">@result.Complain</textarea>
                                        </div>
                                    </div>
                    }
                    else
                    {
                        <div class="form-group form-group-lg">
                            <label class="col-md-2 control-label" for="advice">Advice: </label>
                            <div class="col-md-10">
                                <textarea rows="4" class="form-control advice" name="advice" placeholder="Advice"></textarea>
                            </div>
                        </div>
                                    <div class="form-group form-group-lg">
                                        <label class="col-md-2 control-label" for="complain">Complain: </label>
                                        <div class="col-md-10">
                                            <textarea rows="4" class="form-control complain" name="complain" placeholder="Complain"></textarea>
                                        </div>
                                    </div>
                    }
                                }

                            </form>
                        </div>
                    </div>
                    <hr />
                }
            }
        }
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" value="Submit" name="submit" id="submit" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".customMessagesurvey").html("").hide();
        });
        $(document).on('click', '#submit', function (event) {
            var studentSurveyAnswerViewModelList = []; 
            var isSuccess = 0;
            var programRoll = $("#programRoll").val();
          //  var studentProgramId = $("#studentProgramId").val();

            //if (programRoll == "" || !(/^\d+$/.test(programRoll))) {
            //    isSuccess = isSuccess + 1;
            //    $(".customMessagesurvey").show().html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">X</a><strong>Error!</strong>Invalid Program Roll</div>');                
            //}
            //if (studentProgramId == "" || !(/^\d+$/.test(studentProgramId))) {
            //    isSuccess = isSuccess + 1;
            //    $(".customMessagesurvey").show().html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">X</a><strong>Error!</strong>Invalid Program Roll</div>');
            //}

            if (isSuccess==0)
            {
                $(".question").each(function () {
                    
                    var error = 0;
                    var qid = $(this).attr("data-qid");
                    if ((typeof qid === "undefined") || (qid == "") || !(/^\d+$/.test(qid))) {
                        error = error + 1;
                    }
                    else {
                        var ansid = $(this).find("input:radio:checked").val();
                        if ((typeof qid === "undefined") || (qid == "") || !(/^\d+$/.test(ansid))) {
                            error = error + 1;
                        }
                        else {
                            var advice = $(this).find(".advice").val();
                            var complain = $(this).find(".complain").val();
                            var studentSurveyAnswerViewModel = {};
                            studentSurveyAnswerViewModel["PrnNo"] = programRoll;
                            studentSurveyAnswerViewModel["Advice"] = advice;
                            studentSurveyAnswerViewModel["Complain"] = complain;
                            studentSurveyAnswerViewModel["Question"] = qid;
                            studentSurveyAnswerViewModel["Answer"] = ansid;
                            studentSurveyAnswerViewModelList.push(studentSurveyAnswerViewModel);
                            // console.log(programRoll + ", ID-" + studentProgramId + ",Q-" + qid + ",A-" + ansid + ",Adv-" + advice + ",C-" + complain);
                        }
                    }
                    //console.log(error);
                });
            }
            
            if (studentSurveyAnswerViewModelList.length > 0) {
                var stringify = JSON.stringify(studentSurveyAnswerViewModelList);
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Student/StudentSurvey/SaveSurvey",
                    cache: false,
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: stringify,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s",
                            });
                            
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
            else {
                $(".customMessagesurvey").show().html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">X</a><strong>Error! </strong>Please Ans at least one question</div>');
            }

        });
    </script> 
}
