﻿@model UdvashERP.Areas.Student.Models.StudentSurveyReport
@{
    ViewBag.Title = "Questionwise Survey Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Questionwise Survey Report</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBranch, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedCampus, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedBatch, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Course", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedCourse, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Question", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedQuestion, (SelectList)ViewBag.SelectedQuestion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedQuestion, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Answer", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedAnswer, (SelectList)ViewBag.SelectedAnswer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="align-items: center ; padding-left: 10%;">
                    <label class="control-label col-md-4" style="margin-top: 10px; ">Count</label>
                    <div class="col-md-3">
                        <input class="form-control" name="surveyCount" id="surveyCount" value="..." style="margin-top: 2px;font-size: 14px;color:blue;text-align: center " disabled="" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="form-control btn btn-primary" id="studentCountButton" value="Count" style="margin-top: 2px;font-size: 14px;text-align: center " />
                    </div>

                </div>
                
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" id="Submit" value="View List" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">

            function validationClientSide() {
                var isSucess = 0;

                var organizationId = $("#OrganizationId").val();
                if (organizationId == "" || organizationId==null) {
                    $("#OrganizationId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="OrganizationId" class="">You need to select Organization</span>');
                }

                var programId = $("#ProgramId").val();
                if (programId == "" || programId==null) {
                    $("#ProgramId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="ProgramId" class="">You need to select program</span>');
                }
                var sessionId = $("#SessionId").val();
                if (sessionId == "" || sessionId==null) {
                    $("#SessionId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SessionId" class="">You need to select Session</span>');
                }
                var branchId = $("#SelectedBranch").val();
                console.log(branchId);
                if (branchId == "" || branchId == null) {
                    $("#SelectedBranch").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedBranch" class="">You need to select Branch</span>');
                }
                var campusId = $("#SelectedCampus").val();
                if (campusId == "" || campusId==null) {
                    $("#SelectedCampus").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedCampus" class="">You need to select Campus</span>');
                }
                var batchDays = $("#SelectedBatchDays").val();
                if (batchDays == "" || batchDays==null) {
                    $("#SelectedBatchDays").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedBatchDays" class="">You need to select Batch Days</span>');
                }
                var batchTime = $("#SelectedBatchTime").val();
                if (batchTime == "" || batchTime==null) {
                    $("#SelectedBatchTime").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedBatchTime" class="">You need to select Batch Time</span>');
                }
                var batchId = $("#SelectedBatch").val();
                if (batchId == "" || batchId==null) {
                    $("#SelectedBatch").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedBatch" class="">You need to select Batch</span>');
                }
                var courseId = $("#SelectedCourse").val();
                if (courseId == "" || courseId==null) {
                    $("#SelectedCourse").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedCourse" class="">You need to select Course</span>');
                }
                var questionId = $("#SelectedQuestion").val();
                if (questionId == "" || questionId==null) {
                    $("#SelectedQuestion").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedQuestion" class="">You need to select Question</span>');
                }
                var answerId = $("#SelectedAnswer").val();
                if (answerId == "" || answerId==null) {
                    $("#SelectedAnswer").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html('<span for="SelectedAnswer" class="">You need to select Answer</span>');
                }
            }

            $(document).ready(function() {

                $(document).on('change', '#OrganizationId', function (e) {
                    $("#surveyCount").html("...");
                    $("#SelectedCourse option").remove();
                    $("#SelectedBranch option").remove();
                    $("#SelectedCampus option").remove();
                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();
                    $("#SessionId option").remove();
                    $("#SelectedQuestion option").remove();
                    $("#SelectedAnswer option").remove();

                    $('#ProgramId').empty();
                    $('#ProgramId').append("<option value=''>Select Program</option>");
                    var orgId = $("#OrganizationId").val();
                    if (orgId != "") {
                        $("#OrganizationId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                        $.ajax({
                            type: "post",
                            //url: $("body").attr("data-project-root") + "Student/StudentSurvey/GetProgramByOrg",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                            cache: false,
                            async: true,
                            data: { organizationIds: orgId,isAuthorized:true },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();
                                if (result.IsSuccess) {
                                    $.each(result.returnProgramList, function (i, v) {
                                        $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                }
                                else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                    }

                });

                $("#ProgramId").change(function() {
                    $("#surveyCount").html("...");
                    $("#SelectedCourse option").remove();
                    $("#SelectedBranch option").remove();
                    $("#SelectedCampus option").remove();
                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();
                    $("#SelectedQuestion option").remove();
                    $("#SelectedAnswer option").remove();
                    $('#SessionId').empty();
                    $('#SessionId').append("<option value=''>Select a session</option>");

                    var programId = $('#ProgramId').val();
                    if (programId != null && programId != "") {
                        $("#ProgramId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                        $.ajax({
                            type: "POST",
                            @*url: '@Url.Action("GetSession", "StudentSurvey")',*@
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                            cache: false,
                            async: true,
                            data: { programIds: programId,isAuthorized:true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(response) {
                                $.unblockUI();
                                if (response.IsSuccess) {
                                    $.each(response.returnSessionList, function (i, v) {
                                        $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                }

                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                            },
                            error: function(response) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });

                $("#SessionId").change(function() {
                    $("#surveyCount").html("...");
                    //remove all dependant dropdownlist & selection option
                    $("#SelectedCourse option").remove();
                    $("#SelectedBranch option").remove();
                    $("#SelectedCampus option").remove();
                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();
                    $("#SelectedQuestion option").remove();
                    $("#SelectedAnswer option").remove();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    if (sessionId != null && sessionId != "") {
                        $("#SessionId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                        //Load Branch List
                        $.ajax({
                            type: "post",
                            @*url: '@Url.Action("GetBranch", "StudentSurvey")',*@
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                            cache: false,
                            async: true,
                            data: { programIds: programId, sessionIds: sessionId,isAuthorized:true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(response) {
                                $.unblockUI();
                                $('#SelectedBranch').append("<option value='0'>All Branch</option>");
                                if (response.IsSuccess) {
                                    $.each(response.returnBranchList, function (i, v) {
                                        $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    console.log("Success -----");
                                    //Load Course List
                                    $.ajax({
                                        @*url: '@Url.Action("GetCourse", "StudentSurvey")',*@
                                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                        type: "POST",
                                        data: { programIds: programId, sessionIds: sessionId, isAuthorized: true },
                                        beforeSend: function() {
                                            $.blockUI({
                                                timeout: 0,
                                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                            });
                                        },
                                        success: function (responses) {
                                            $('#SelectedCourse').append("<option value='0'>All Course</option>");
                                            if (responses.IsSuccess) {
                                                $.each(responses.returnCourse, function (i, v) {
                                                    $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                                });
                                                console.log("Success ------");
                                                $.ajax({
                                                    url: '@Url.Action("GetQuestion", "StudentSurvey")',
                                                    type: "POST",
                                                    data: { programId: programId, sessionId: sessionId },
                                                    beforeSend: function () {
                                                        $.blockUI({
                                                            timeout: 0,
                                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                                        });
                                                    },
                                                    success: function (responses) {
                                                        if (responses.IsSuccess) {
                                                            $.each(responses.questionList, function (ii, vv) {
                                                                $('#SelectedQuestion').append($('<option>').text(vv.Text).attr('value', vv.Value));
                                                            });
                                                            //$("#SelectedCourse").find('option:eq(0)').prop('selected', true);
                                                            console.log("Success ------");
                                                        } else {
                                                            console.log("Error -----");
                                                            //console.log(response);
                                                        }
                                                    },
                                                    complete: function () {
                                                        $.unblockUI();
                                                        console.log("Complete -----");
                                                        //console.log(response);
                                                    },
                                                    error: function (responses) {
                                                        $.unblockUI();
                                                        console.log("Failed -----");
                                                        //console.log(response);
                                                    }
                                                });
                                            } else {
                                                console.log("Error -----");
                                            }
                                        },
                                        complete: function() {
                                            $.unblockUI();
                                            console.log("Complete -----");
                                            //console.log(response);
                                        },
                                        error: function(responses) {
                                            $.unblockUI();
                                            console.log("Failed -----");
                                            //console.log(response);
                                        }
                                    });
                                } else {
                                    console.log("Error -----");
                                    // console.log(response);
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                                //console.log(response);
                            },
                            error: function(response) {
                                $.unblockUI();
                                console.log("Failed -----");
                                //console.log(response);
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });

                $("#SelectedBranch").change(function() {
                    $("#surveyCount").html("...");
                    //remove all dependant dropdownlist & selection option
                    $("#SelectedCampus option").remove();
                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#SelectedBranch").val();
                    if (branchId != null && branchId != "") {
                        $("#SelectedBranch").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                        $.ajax({
                            type: "post",
                            @*url: '@Url.Action("GetCampus", "StudentSurvey")',*@
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                            cache: false,
                            async: true,
                            data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, isAuthorized: true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(response) {
                                $.unblockUI();
                                $('#SelectedCampus').append("<option value='0'>All Campus</option>");
                                if (response.IsSuccess) {
                                    $.each(response.returnCampusList, function (i, v) {
                                        $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    /// $("#SelectedCampus").find('option:eq(0)').prop('selected', true);
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                    //console.log(result);
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                                // console.log(result);
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                                //console.log(result);
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });


                //Campus Change Functionalities
                $("#SelectedCampus").change(function() {
                    $("#surveyCount").html("...");
                    //remove all dependant dropdownlist & selection option
                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#SelectedBranch").val();
                    var campusId = $("#SelectedCampus").val();
                    if (campusId != null && campusId != "") {
                        $("#SelectedCampus").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                        $.ajax({
                            type: "post",
                            @*url: '@Url.Action("GetBatchDay", "StudentSurvey")',*@
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                            cache: false,
                            async: true,
                            data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, isAuthorized: true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                $('#SelectedBatchDays').append("<option value='0'>All Batch Days</option>");
                                if (result.IsSuccess) {
                                    $.each(result.returnBatchDays, function (i, v) {
                                        //if (v.Value)
                                        //    $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                        //else
                                        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                                    });
                                    /// $("#SelectedBatchDays").find('option:eq(0)').prop('selected', true);
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                    //console.log(result);
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                                // console.log(result);
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                                // console.log(result);
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });


                //Batch Day Change Functionalities
                $("#SelectedBatchDays").change(function() {
                    $("#surveyCount").html("...");
                    //remove all dependant dropdownlist & selection option
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#SelectedBranch").val();
                    var campusId = $("#SelectedCampus").val();
                    var batchDays = $("#SelectedBatchDays").val();
                    if (batchDays != null && batchDays != "") {
                        $("#SelectedBatchDays").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                    if (programId != null && programId != ""
                        && sessionId != null && sessionId != ""
                        && branchId != null && branchId != ""
                        && campusId != null && campusId != ""
                        && batchDays != null && batchDays != "") {
                        $.ajax({
                            type: "post",
                            @*url: '@Url.Action("GetBatchTime", "StudentSurvey")',*@
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                            cache: false,
                            async: true,
                            data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                $('#SelectedBatchTime').append("<option value='0'>All Batch Times</option>");
                                if (result.IsSuccess) {
                                    $.each(result.returnBatchTime, function (i, v) {
                                        $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                    // console.log(result);
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                                //console.log(result);
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                                //console.log(result);
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });


                //Batch Time Change Functionalities
                $("#SelectedBatchTime").change(function() {
                    $("#surveyCount").html("...");
                    //remove all dependant dropdownlist & selection option
                    $("#SelectedBatch option").remove();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#SelectedBranch").val();
                    var campusId = $("#SelectedCampus").val();
                    var batchDays = $("#SelectedBatchDays").val();
                    var batchTime = $("#SelectedBatchTime").val();
                    var batchTimeText = [];
                    if (batchTime != null && batchTime != "") {
                        $("#SelectedBatchTime").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                    $("#SelectedBatchTime option:selected").each(function() {
                        var $this = $(this);
                        if ($this.length) {
                            batchTimeText.push($this.text());
                        }
                    });

                    if (programId != null && programId != ""
                        && sessionId != null && sessionId != ""
                        && branchId != null && branchId != ""
                        && campusId != null && campusId != ""
                        && batchDays != null && batchDays != ""
                        && batchTime != null && batchTime != "") {
                        $.ajax({
                            type: "post",
                            @*url: '@Url.Action("GetBatch", "StudentSurvey")',*@
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                            cache: false,
                            async: true,
                            data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, batchTimes: batchTime, isAuthorized: true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                $('#SelectedBatch').append("<option value='0'>All Batch</option>");
                                if (result.IsSuccess) {
                                    $.each(result.returnBatch, function (i, v) {
                                        $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    /// $("#batchName").find('option:eq(0)').prop('selected', true);
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                    //console.log(result);
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                                //console.log(result);
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                                //console.log(result);
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });

                $("#SelectedQuestion").change(function () {
                    $("#surveyCount").html("...");
                    $("#SelectedAnswer option").remove();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var questionId = $("#SelectedQuestion").val();
                    if (questionId != null && questionId != "") {
                        $("#SelectedQuestion").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && questionId != null && questionId != "") {
                        $.ajax({
                            type: "post",
                            url: '@Url.Action("GetAnswer", "StudentSurvey")',
                            cache: false,
                            async: true,
                            data: { programId: programId, sessionId: sessionId, questionId: questionId },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                $.unblockUI();
                                if (response.IsSuccess) {
                                    $.each(response.answerList, function (i, v) {
                                        $('#SelectedAnswer').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                                console.log("Complete -----");
                            },
                            error: function (result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                    }
                    $("#surveyCount").val("...");
                });


                $("#SelectedAnswer").change(function () {
                    var answerId = $("#SelectedAnswer").val();
                    if (answerId != null && answerId != "") {
                        $("#SelectedAnswer").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                });
                $("#SelectedBatch").change(function () {
                    var batchId = $("#SelectedBatch").val();
                    if (batchId != null && batchId != "") {
                        $("#SelectedBatch").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    }
                });

                $("#studentCountButton").click(function() {
                    $("#surveyCount").html("...");
                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#SelectedBranch").val();
                    var campusId = $("#SelectedCampus").val();
                    var batchDays = $("#SelectedBatchDays").val();
                    var batchTime = $("#SelectedBatchTime").val();
                    var batchId = $("#SelectedBatch").val();
                    var courseId = $("#SelectedCourse").val();
                    var questionId = $("#SelectedQuestion").val();
                    var answerNames = $("#SelectedAnswer").val();
                    //var reportType = $("#SelectedReportType").val();
                    validationClientSide();
                    if (programId != null && programId != ""
                        && sessionId != null && sessionId != ""
                        && branchId != null && branchId != ""
                        && campusId != null && campusId != ""
                        && batchDays != null && batchDays != ""
                        && batchTime != null && batchTime != ""
                        && batchId != null && batchId != ""
                        && courseId != null && courseId != ""
                        && questionId != null && questionId != ""
                        && answerNames != null && answerNames != "") {
                        $.ajax({
                            type: "post",
                            url: '@Url.Action("GetQuestionWiseSurveyReportCount", "StudentSurvey")',
                            cache: false,
                            async: true,
                            data: {
                                programId: programId,
                                sessionId: sessionId,
                                branchId: branchId,
                                campusId: campusId,
                                batchDays: batchDays,
                                batchTime: batchTime,
                                batchId: batchId,
                                courseId: courseId,
                                questionId: questionId,
                                answerNames: answerNames
                            },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                if (result.IsSuccess) {
                                    $("#surveyCount").val(result.studentSurveyCount);
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                    }
                });               
            });
    </script>
}