﻿@model UdvashERP.BusinessModel.ViewModel.ServiceBlockViewModel
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Service Blocking
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @id = "serviceB" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model=>model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model=>model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model=>model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ProgramId, (IEnumerable<SelectListItem>)ViewBag.Program, "Select program", htmlAttributes: new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model=>model.SessionId, (IEnumerable<SelectListItem>)ViewBag.Session, "Select session", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ServiceType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ServiceType, (IEnumerable<SelectListItem>)ViewBag.blockServices, "Select Block Service", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" >
                        <div id="contentTypeList" class="col-md-10">
                            @Html.Label("When", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @{
                                    foreach (KeyValuePair<int, String> conditionType in ViewBag.ConditionType)
                                    {
                                        <input type="checkbox" value="@(conditionType.Key)"/>
                                        @conditionType.Value
                                        <br/>
                                    }
                                }
                                @Html.ValidationMessage("When", "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('submit', '#serviceB', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("Create", "ServiceBlock")',
                    dataType: 'json',
                    data: $(this).serialize(),
                    type: 'POST',
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                       // $("#ServiceType").val("");
                        //selectContentType(null, null, null);
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "Service block successfully updated.",
                            displayMessageType: "s"
                        });
                    },
                    complete: function() {
                        $.unblockUI();
                        $(window).scrollTop(0);
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Service block error.",
                            displayMessageType: "e"
                        });
                    }
                });
            });


            $("#OrganizationId").change(function() {
                //remove all dependant dropdownlist option
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select program</option>");

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select session</option>");

                var organizationId = $("#OrganizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnProgramList, function(i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            selectContentType(null, null, null);
                            $.unblockUI();
                        },
                        error: function(data) {
                            $.unblockUI();
                        }
                    });
                } else {
                    $("#ServiceType").val("");
                    selectContentType(null, null, null);
                }
            });
            $("#ProgramId").change(function() {

                //remove all dependant dropdownlist option
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select session</option>");

                var pId = $(this).val();
                var organizationId = $("#OrganizationId").val();
                if (pId != "" && pId != null && organizationId != "" && organizationId != null) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: pId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $.each(response.returnSessionList, function(i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $("#ServiceType").val("");
                            selectContentType(null, null, null);
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            $.unblockUI();
                            console.log("Failed -----");
                            console.log(response);
                        }
                    });
                } else {
                    $("#ServiceType").val("");
                    selectContentType(null, null, null);
                }

            });
            $('#SessionId').change(function() {
                var proId = $("#ProgramId").val();
                var sessId = $("#SessionId").val();
                var serviceTypeId = $("#ServiceType").val();
                if (proId != "" && sessId != "" && proId != null && sessId != null && serviceTypeId != "" && serviceTypeId != null) {
                    selectContentType(proId, sessId, serviceTypeId);
                }
            });
            $("#ServiceType").change(function() {
                var orgId = $("#OrganizationId").val();
                var proId = $("#ProgramId").val();
                var sessId = $("#SessionId").val();
                var serviceTypeId = $(this).val();
                if (orgId != "" && proId != "" && sessId != "" && orgId != null && proId != null && sessId != null) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/ServiceBlock/GetContentTypeValue",
                        type: "POST",
                        data: { proId: proId, sessId: sessId, serviceTypeId: serviceTypeId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            if (result.hasOwnProperty('IsSuccess')) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "e"
                                });
                            } else {
                                $("#contentTypeList").html("<label for='When' class='control-label col-md-2'>When</label><div class='col-md-10'>" + result + "</div>");
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            $.unblockUI();
                        }
                    });
                } else {
                    $.fn.customMessage({
                        displayMessage: "All field are required",
                        displayMessageType: "e"
                    });
                }
            });

            function selectContentType(programId, sessionId, serviceTypeId) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/ServiceBlock/GetContentTypeValue",
                    type: "POST",
                    data: { proId: programId, sessId: sessionId, serviceTypeId: serviceTypeId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        if (result.hasOwnProperty('IsSuccess')) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e"
                            });
                        } else {
                            $("#contentTypeList").html("<label for='When' class='control-label col-md-2'>When</label><div class='col-md-10'>" + result + "</div>");
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response, status, xhr) {
                        $.unblockUI();
                    }
                });
            }

        });
    </script>
}
