﻿@using System.Activities.Expressions
@using UdvashERP.BusinessRules.Exam


@{
    Layout = null;
    var bangla =  (int) ExamVersion.Bangla;
    var english =  (int) ExamVersion.English;
    var uniqueSet = ViewBag.UniqueSet;
}
<style>
    textarea {
        max-width: 500px;
    }
</style>
@{

    UdvashERP.BusinessModel.Entity.Exam.Exams examInformation = ViewBag.Exam;

    if (examInformation != null && examInformation.ExamDetails.Any() && (examInformation.IsBanglaVersion || examInformation.IsEnglishversion))
    {
        var questions = examInformation.ExamMcqQuestions.Where(x => x.UniqueSet == uniqueSet).ToList();
        if (questions.Any())
        {
            var totalQuestion = questions.Count();
            if (examInformation.IsBanglaVersion && examInformation.IsEnglishversion)
            {
                totalQuestion = totalQuestion/2;
            }
            
            var questionGroupBySubject = questions.GroupBy(m => m.Subject, (key, group) => new { Key = key, Group = group.Count() });
            
            
            <div class="col-md-8 text-left no-padding">
                <span>Question Entries : </span>
                @{
                    foreach (var qgs in questionGroupBySubject)
                    {
                        var thisSubjectQuestion = qgs.Group;
                        if (examInformation.IsBanglaVersion && examInformation.IsEnglishversion)
                        {
                            thisSubjectQuestion = qgs.Group/2;
                        }
                        <span>@qgs.Key.ShortName</span>
                        <span> : </span>
                        <span>@thisSubjectQuestion</span>
                    }
                }
            </div>
            <div class="col-md-4 text-right no-padding">
                <span>Total Entries : </span> <span>@totalQuestion</span>
                @{
                    if (examInformation.IsBanglaVersion)
                    {
                        <a href="DisplayQuestion?examId=@examInformation.Id&uniqueSet=@uniqueSet&version=@bangla" target="_blank">
                            <span class="glyphicon glyphicon-eye-open"></span> Bangla
                        </a>
                    }

                    if (examInformation.IsEnglishversion)
                    {
                        <a href="DisplayQuestion?examId=@examInformation.Id&uniqueSet=@uniqueSet&version=@english" target="_blank">
                            <span class="glyphicon glyphicon-eye-open"></span> English
                        </a>
                    }
                }                
            </div>
       
     
            <div class="clearfix" style="margin-top: 8px;">&nbsp;</div>
        }

        @*<div class="col-md-12 no-padding">
                <div class="panel panel-default">
                    <div class="panel-heading">Summary</div>
                    <div class="panel-body">
                        @{
                            var questions = examInformation.ExamMcqQuestions.Where(x=>x.UniqueSet==uniqueSet).ToList();

                            if (questions.Any())
                            {
                                var questionGroupBySubject = questions.GroupBy(m => m.Subject, (key, group) => new {Key = key, Group = group.ToList()});
                                foreach (var qgs in questionGroupBySubject)
                                {

                                   <ul class="list-group col-md-3">
                                        <li class="list-group-item active">
                                            @qgs.Key.Name
                                        </li>
                                        @{
                                            var questionGroupBySubjectAndUniqueSet = qgs.Group.GroupBy(m => m.UniqueSet, (key, group) => new { Key = key, Group = group.ToList().Count() });

                                            foreach (var qgsu in questionGroupBySubjectAndUniqueSet)
                                            {
                                                <li class="list-group-item">
                                                    <span class="badge">@qgsu.Group</span>
                                                    Unique Set - @qgsu.Key
                                                </li>
                                            }

                                        }
                                    </ul>
        }
    }
                            else
                            {
                                <span> No Question Found</span>
                            }
                        }

                    </div>
                </div>
            </div>*@

     <div class="row no-padding no-margin" style="">
        @{
        if (examInformation.IsBanglaVersion && examInformation.IsEnglishversion)
        {

            <div class="col-md-6 no-padding" id="banglaDiv" data-version="@bangla">
                <div class="panel panel-default">
                    <div class="panel-heading">Question In Bangla</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextArea("QuestionBangla", "", new { @class = "ckeditor form-control", @required = "required" })
                                @Html.ValidationMessage("QuestionBangla", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">&nbsp;</th>
                                            <th style="width: 95%;">Option Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>A</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaA", "", new { @class = "ckeditor form-control", @required = "required" })
                                                @Html.ValidationMessage("OptionBanglaA", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>B</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaB", "", new { @class = "ckeditor form-control", @required = "required" })
                                                @Html.ValidationMessage("OptionBanglaB", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaC", "", new { @class = "ckeditor form-control" })
                                                @Html.ValidationMessage("OptionBanglaC", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    <tr>
                                        <td>D</td>
                                        <td>
                                            @Html.TextArea("OptionBanglaD", "", new { @class = "ckeditor form-control" })
                                            @Html.ValidationMessage("OptionBanglaD", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                        @*<tr>
                                            <td>E</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaE", "", new { @class = "ckeditor form-control" })
                                                @Html.ValidationMessage("OptionBanglaE", new { @class = "text-danger" })
                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="col-md-6  no-padding" id="englishDiv" data-version="@english">
        <div class="panel panel-default">
            <div class="panel-heading">Question In English</div>
            <div class="panel-body">
                <div class="row">
                  
                    <div class="col-md-12">
                        @Html.TextArea("QuestionEnglish", "", new { @class = "ckeditor form-control", @required = "required" })
                        @Html.ValidationMessage("QuestionEnglish", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="row">
                  
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">&nbsp;</th>
                                    <th style="width: 95%;">Option Answer</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>A</td>
                                    <td>
                                        @Html.TextArea("OptionEnglishA", "", new { @class = "ckeditor form-control", @required = "required" })
                                        @Html.ValidationMessage("OptionEnglishA", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td>
                                        @Html.TextArea("OptionEnglishB", "", new { @class = "ckeditor form-control", @required = "required" })
                                        @Html.ValidationMessage("OptionEnglishB", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>
                                        @Html.TextArea("OptionEnglishC", "", new { @class = "ckeditor form-control" })
                                        @Html.ValidationMessage("OptionEnglishC", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            <tr>
                                <td>D</td>
                                <td>
                                    @Html.TextArea("OptionEnglishD", "", new { @class = "ckeditor form-control" })
                                    @Html.ValidationMessage("OptionEnglishD", new { @class = "text-danger" })
                                </td>
                            </tr>
                                @*<tr>
                                    <td>E</td>
                                    <td>
                                        @Html.TextArea("OptionEnglishE", "", new { @class = "ckeditor form-control" })
                                        @Html.ValidationMessage("OptionEnglishE", new { @class = "text-danger" })
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
        else if (examInformation.IsBanglaVersion && !examInformation.IsEnglishversion)
        {
            <div class="col-md-12 no-padding" id="banglaDiv" data-version="@bangla">
                <div class="panel panel-default">
                    <div class="panel-heading">Question In Bangla</div>
                    <div class="panel-body">
                        <div class="row">
                            @Html.Label("Question", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextArea("QuestionBangla", "", new { @class = "ckeditor form-control", @required = "required" })
                                @Html.ValidationMessage("QuestionBangla", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row">
                            @Html.Label("Option", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Option</th>
                                            <th>Option Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>A</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaA", "", new { @class = "ckeditor form-control", @required = "required" })
                                                @Html.ValidationMessage("OptionBanglaA", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>B</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaB", "", new { @class = "ckeditor form-control", @required = "required" })
                                                @Html.ValidationMessage("OptionBanglaB", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaC", "", new { @class = "ckeditor form-control" })
                                                @Html.ValidationMessage("OptionBanglaC", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    <tr>
                                        <td>D</td>
                                        <td>
                                            @Html.TextArea("OptionBanglaD", "", new { @class = "ckeditor form-control" })
                                            @Html.ValidationMessage("OptionBanglaD", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                        @*<tr>
                                            <td>E</td>
                                            <td>
                                                @Html.TextArea("OptionBanglaE", "", new { @class = "ckeditor form-control" })
                                                @Html.ValidationMessage("OptionBanglaE", new { @class = "text-danger" })
                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!examInformation.IsBanglaVersion && examInformation.IsEnglishversion)
        {


            <div class="col-md-12 no-padding" id="englishDiv" data-version="@english">
                <div class="panel panel-default">
                    <div class="panel-heading">Question In English</div>
                    <div class="panel-body">
                        <div class="row">
                            @Html.Label("Question", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextArea("QuestionEnglish", "", new { @class = "ckeditor form-control", @required = "required" })
                                @Html.ValidationMessage("QuestionEnglish", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row">
                            @Html.Label("Option", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Option</th>
                                            <th>Option Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>A</td>
                                            <td>
                                                @Html.TextArea("OptionEnglishA", "", new { @class = "ckeditor form-control", @required = "required" })
                                                @Html.ValidationMessage("OptionEnglishA", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>B</td>
                                            <td>
                                                @Html.TextArea("OptionEnglishB", "", new { @class = "ckeditor form-control", @required = "required" })
                                                @Html.ValidationMessage("OptionEnglishB", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td>
                                                @Html.TextArea("OptionEnglishC", "", new { @class = "ckeditor form-control" })
                                                @Html.ValidationMessage("OptionEnglishC", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    <tr>
                                        <td>D</td>
                                        <td>
                                            @Html.TextArea("OptionEnglishD", "", new { @class = "ckeditor form-control" })
                                            @Html.ValidationMessage("OptionEnglishD", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                        @*<tr>
                                            <td>E</td>
                                            <td>
                                                @Html.TextArea("OptionEnglishE", "", new { @class = "ckeditor form-control" })
                                                @Html.ValidationMessage("OptionEnglishE", new { @class = "text-danger" })
                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

}

    </div>

        <div class="col-md-12">
            <div class="row">
                @Html.Label("CorrectAnswer", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("CorrectAnswer", "", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessage("CorrectAnswer", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @Html.Label("Shuffle", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="checkbox" name="Shuffle" id="Shuffle" class="form-control" style="width: 10px;" /> Yes 
                    @*@Html.CheckBox("Shuffle", false, new { @class = "form-control" }) <span>Yes</span>*@
                    @Html.ValidationMessage("CorrectAnswer", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    
        <div class="col-md-12">
            <div class="row text-center">
                <input type="button" value="Save & New" class="btn btn-primary" id="saveNew" />
                <input type="button" value="Save & Exit" class="btn btn-primary" id="saveExist" />
            </div>
            
        </div>
    }
    else
    {
        <div class="row col-md-12">
            Invalid Exam.
        </div>
    }
}
