﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.McqQuestionFilterViewModel

@{
    ViewBag.Title = "Question Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { @id = "QuestionEntryForm" })) 
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Exam Details
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "--Select Organization--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Program, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select Program--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Session, (IEnumerable<SelectListItem>)ViewBag.SessionList, "--Select Session--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Course, (IEnumerable<SelectListItem>)ViewBag.CourseList, "--Select Course--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.ExamCode, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">

                                @Html.HiddenFor(model => model.ExamId)
                                @Html.EditorFor(model => model.ExamCode, new { htmlAttributes = new { @class = "form-control autoComplete", @placeholder = "Exam Code", @autocomplete = "off", @maxlength = "3", @size = "3" } })
                                @Html.ValidationMessageFor(model => model.ExamCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.ExamName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                                @Html.ValidationMessageFor(model => model.ExamName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.UniqueSet, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.UniqueSet, (IEnumerable<SelectListItem>)ViewBag.CourseList, "--Select Unique Set--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.UniqueSet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.SubjectId, (IEnumerable<SelectListItem>)ViewBag.SubjectList, "--Select Subject--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </div>
                    
                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Next" class="btn btn-primary" id="next" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="questionPanel"> 
        <div class="panel-heading">
            Add New Question
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                <div class="form-horizontal" id="questionEntryDiv">

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    @Scripts.Render("~/bundles/QuestionEntry")
    <script type="text/javascript">
        window.validateDropDownField("Organization", "The Organization field is required.");
        window.validateDropDownField("Program", "The Program field is required.");
        window.validateDropDownField("Session", "The Session field is required.");
        window.validateDropDownField("Course", "The Course field is required.");
        window.validateTextField("ExamCode", "The Exam Code field is required.");
        window.validateDropDownField("UniqueSet", "The UniqueSet field is required.");
        window.validateDropDownField("SubjectId", "The Subject field is required.");

        var CKEDITOR_BASEPATH = '~/Content/ckeditor/';
        $(document).ready(function () {
            
        });

    </script>
}
