﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.McqQuestionFilterViewModel

@{
    ViewBag.Title = "Question Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { @id = "QuestionEntryForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Exam Details
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.Hidden("QuestionSerial", (int)ViewBag.QuestionSerial)
                    @Html.Hidden("SubjectId", @Model.SubjectId)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "--Select Organization--", new { @class = "form-control", @required = "required",@readonly="readonly" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Program, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select Program--", new { @class = "form-control", @required = "required",@readonly="readonly" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Session, (IEnumerable<SelectListItem>)ViewBag.SessionList, "--Select Session--", new { @class = "form-control", @required = "required",@readonly="readonly" })
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Course, (IEnumerable<SelectListItem>)ViewBag.CourseList, "--Select Course--", new { @class = "form-control", @required = "required",@readonly="readonly" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.ExamCode, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">

                                @Html.HiddenFor(model => model.ExamId)
                                @Html.EditorFor(model => model.ExamCode, new { htmlAttributes = new { @class = "form-control autoComplete", @placeholder = "Exam Code", @autocomplete = "off", @maxlength = "3", @size = "3",@readonly="readonly" } })
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.ExamName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.UniqueSet, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.UniqueSet, (IEnumerable<SelectListItem>)ViewBag.UniqueList, "--Select Unique Set--", new { @class = "form-control", @required = "required",@readonly="readonly" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.SubjectId, (IEnumerable<SelectListItem>)ViewBag.SubjectList, "--Select Subject--", new { @class = "form-control", @required = "required", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="questionPanel">
        <div class="panel-heading">
            Update Question
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                <div class="form-horizontal" id="questionEntryDiv">

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript">
        window.validateDropDownField("Organization", "The Organization field is required.");
        window.validateDropDownField("Program", "The Program field is required.");
        window.validateDropDownField("Session", "The Session field is required.");
        window.validateDropDownField("Course", "The Course field is required.");
        window.validateTextField("ExamCode", "The Exam Code field is required.");
        window.validateDropDownField("UniqueSet", "The UniqueSet field is required.");
        window.validateDropDownField("SubjectId", "The Subject field is required.");

        $(document).ready(function () {
            $("#QuestionEntryForm").submit(function () {
                return false;
            });

            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    responseReturn();
                }
            });
        });

        responseReturn();

        $(document).on("input propertychange", "#OptionBanglaC,#OptionEnglishC,#OptionBanglaD,#OptionEnglishD,#OptionBanglaE,#OptionEnglishE", function (event) {
            var optionBanglaC = CKEDITOR.instances['OptionBanglaC'].getData();
            var optionEnglishC = CKEDITOR.instances['OptionEnglishC'].getData();
            var optionBanglaD = CKEDITOR.instances['OptionBanglaD'].getData();
            var optionEnglishD = CKEDITOR.instances['OptionEnglishD'].getData();
            //var optionEnglishE = CKEDITOR.instances['OptionEnglishE'].getData();


            if ($("#OptionEnglishC").length > 0 && $("#OptionBanglaC").length > 0) {
                if (optionEnglishC == "" && optionBanglaC == "") {
                    showErrorMessageBelowCtrl("OptionBanglaC", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishC", "", false);
                }
                else if (optionEnglishC != "" && optionBanglaC != "") {
                    showErrorMessageBelowCtrl("OptionBanglaC", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishC", "", false);
                }
                else if (optionEnglishC != "" && optionBanglaC == "") {
                    showErrorMessageBelowCtrl("OptionBanglaC", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaC", "The Option C field is required.", true);
                }
                else if (optionEnglishC == "" && optionBanglaC != "") {
                    showErrorMessageBelowCtrl("OptionEnglishC", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishC", "The Option C field is required.", true);
                }
            }

            if ($("#OptionEnglishD").length > 0 && $("#OptionBanglaD").length > 0) {
                if (optionEnglishD == "" && optionBanglaD == "") {
                    showErrorMessageBelowCtrl("OptionBanglaD", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishD", "", false);
                }
                else if (optionEnglishD != "" && optionBanglaD != "") {
                    showErrorMessageBelowCtrl("OptionBanglaD", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishD", "", false);
                }
                else if (optionEnglishD != "" && optionBanglaD == "") {
                    showErrorMessageBelowCtrl("OptionBanglaD", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaD", "The Option D field is required.", true);
                }
                else if (optionEnglishD == "" && optionBanglaD != "") {
                    showErrorMessageBelowCtrl("OptionEnglishD", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishD", "The Option D field is required.", true);
                }
            }
            //if ($("#OptionEnglishE").length > 0 && $("#OptionBanglaE").length > 0) {
            //    if (optionEnglishE == "" && optionBanglaE == "") {
            //        showErrorMessageBelowCtrl("OptionBanglaE", "", false);
            //        showErrorMessageBelowCtrl("OptionEnglishE", "", false);
            //    }
            //    else if (optionEnglishE != "" && optionBanglaE != "") {
            //        showErrorMessageBelowCtrl("OptionBanglaE", "", false);
            //        showErrorMessageBelowCtrl("OptionEnglishE", "", false);
            //    }
            //    else if (optionEnglishE != "" && optionBanglaE == "") {
            //        showErrorMessageBelowCtrl("OptionBanglaE", "", false);
            //        showErrorMessageBelowCtrl("OptionBanglaE", "The Option E field is required.", true);
            //    }
            //    else if (optionEnglishE == "" && optionBanglaE != "") {
            //        showErrorMessageBelowCtrl("OptionEnglishE", "", false);
            //        showErrorMessageBelowCtrl("OptionEnglishE", "The Option E field is required.", true);
            //    }
            //}
        });
        
        function responseReturn() {
            var check = true;
            $("#questionEntryDiv").empty();
            $("#questionEntryDiv").append("<div>Please Fillup Question details criteria.</div>");

            var organizationId = $("#Organization").val();
            var programId = $("#Program").val();
            var sessionId = $("#Session").val();
            var course = $("#Course").val();
            var examCode = $("#ExamCode").val();
            var subjectId = $("#SubjectId").val();
            var uniqueSet = $("#UniqueSet").val();
            var questionSerial = $("#QuestionSerial").val();
            if (check) {
                var examId = $("#ExamId").val();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Exam/Question/AjaxRequestForDrawingQuestionEditDiv",
                    cache: false,
                    async: true,
                    data: { "examId": examId, "uniqueSet": uniqueSet, "subjectId": subjectId, "questionSerial": questionSerial },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (!result.hasOwnProperty("IsSuccess")) {
                            $("#questionEntryDiv").html(result);
                            $('#questionPanel').keydown(function (e) {
                                if (e.keyCode == 13) {
                                    return false;
                                }
                            });

                            window.validateTextField("QuestionBangla", "The Question field is required.");
                            window.validateTextField("OptionBanglaA", "The Option A field is required.");
                            window.validateTextField("OptionBanglaB", "The Option B field is required.");
                            window.validateTextField("QuestionEnglish", "The Question field is required.");
                            window.validateTextField("OptionEnglishA", "The Option A field is required.");
                            window.validateTextField("OptionEnglishB", "The Option B field is required.");
                            window.validateTextField("CorrectAnswer", "The Correct Answer field is required.");
                            ckeditorGenerate();
                            checkValidationForOptionCDE();
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        }

        $(document).on("click", "#saveNew", function (event) {
            var check = true;
            mcqQuestionFilterViewModel = {};

            var organizationId = mcqQuestionFilterViewModel["Organization"] = $("#Organization").val();
            var programId = mcqQuestionFilterViewModel["Program"] = $("#Program").val();
            var sessionId = mcqQuestionFilterViewModel["Session"] = $("#Session").val();
            var course = mcqQuestionFilterViewModel["Course"] = $("#Course").val();
            var examCode = mcqQuestionFilterViewModel["ExamCode"] = $("#ExamCode").val();
            var examId = mcqQuestionFilterViewModel["ExamId"] = $("#ExamId").val();
            var examName = mcqQuestionFilterViewModel["ExamName"] = $("#ExamName").val();
            var subjectId = mcqQuestionFilterViewModel["SubjectId"] = $("#SubjectId").val();
            var uniqueSet = mcqQuestionFilterViewModel["UniqueSet"] = $("#UniqueSet").val();
            mcqQuestionFilterViewModel["BanglaQuestionId"] = $("#banglaQuestionId").val();
            mcqQuestionFilterViewModel["EnglishQuestionId"] = $("#englishQuestionId").val();
            var correctAnswer = $("#CorrectAnswer").val();


            if (organizationId == "" || organizationId == null) {
                showErrorMessageBelowCtrl("Organization", "", false);
                showErrorMessageBelowCtrl("Organization", "The Organization field is required.", true);
                check = false;
            }

            if (programId == "" || programId == null) {
                showErrorMessageBelowCtrl("Program", "", false);
                showErrorMessageBelowCtrl("Program", "The Program field is required.", true);
                check = false;
            }

            if (sessionId == "" || sessionId == null) {
                showErrorMessageBelowCtrl("Session", "", false);
                showErrorMessageBelowCtrl("Session", "The Session field is required.", true);
                check = false;
            }

            if (course == "" || course == null) {
                showErrorMessageBelowCtrl("Course", "", false);
                showErrorMessageBelowCtrl("Course", "The Course field is required.", true);
                check = false;
            }


            if (examCode == "" || examCode == null) {
                showErrorMessageBelowCtrl("ExamCode", "", false);
                showErrorMessageBelowCtrl("ExamCode", "The Exam Code field is required.", true);
                check = false;
            }

            if (subjectId == "" || subjectId == null) {
                showErrorMessageBelowCtrl("SubjectId", "", false);
                showErrorMessageBelowCtrl("SubjectId", "The Subject field is required.", true);
                check = false;
            }

            if (uniqueSet == "" || uniqueSet == null) {
                showErrorMessageBelowCtrl("UniqueSet", "", false);
                showErrorMessageBelowCtrl("UniqueSet", "The Unique Set field is required.", true);
                check = false;
            }

            if (correctAnswer == "" || correctAnswer == null) {
                showErrorMessageBelowCtrl("CorrectAnswer", "", false);
                showErrorMessageBelowCtrl("CorrectAnswer", "The Correct Answer field is required.", true);
                check = false;
            }
            var suffle = 0;
            if ($("#Shuffle").is(":checked")) {
                suffle = 1;
            }


            var mcqQuestionList = [];

            var isBangla = false;
            var isEnglish = false;
            if ($("#banglaDiv").length > 0) {
                isBangla = true;
            }
            if ($("#englishDiv").length > 0) {
                isEnglish = true;
            }
            //var value = CKEDITOR.instances['DOM-ID-HERE'].getData()
            if (isBangla && isEnglish) {
                mcqQuestionBangla = {}
                mcqQuestionBangla["Version"] = $("#banglaDiv").attr("data-version");
                mcqQuestionBangla["CorrectAnswer"] = correctAnswer;
                mcqQuestionBangla["IsShuffle"] = suffle;

                var QuestionBangla = mcqQuestionBangla["QuestionText"] = CKEDITOR.instances['QuestionBangla'].getData(); //$("#QuestionBangla").val();
                if (QuestionBangla == "" || QuestionBangla == null) {
                    showErrorMessageBelowCtrl("QuestionBangla", "", false);
                    showErrorMessageBelowCtrl("QuestionBangla", "The Question field is required.", true);
                    check = false;
                }

                var OptionBanglaA = mcqQuestionBangla["OptionA"] = CKEDITOR.instances['OptionBanglaA'].getData(); //$("#OptionBanglaA").val();
                if (OptionBanglaA == "" || OptionBanglaA == null) {
                    showErrorMessageBelowCtrl("OptionBanglaA", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaA", "The Option A field is required.", true);
                    check = false;
                }

                var OptionBanglaB = mcqQuestionBangla["OptionB"] = CKEDITOR.instances['OptionBanglaB'].getData();  //$("#OptionBanglaB").val();
                if (OptionBanglaB == "" || OptionBanglaB == null) {
                    showErrorMessageBelowCtrl("OptionBanglaB", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaB", "The Option B field is required.", true);
                    check = false;
                }

                var OptionBanglaC = mcqQuestionBangla["OptionC"] = CKEDITOR.instances['OptionBanglaC'].getData();  //$("#OptionBanglaC").val();
                var OptionBanglaD = mcqQuestionBangla["OptionD"] = CKEDITOR.instances['OptionBanglaD'].getData();  //$("#OptionBanglaD").val();
               // var OptionBanglaE = mcqQuestionBangla["OptionE"] = CKEDITOR.instances['OptionBanglaE'].getData();  //$("#OptionBanglaD").val();
                mcqQuestionBangla["OptionE"] = "";

                mcqQuestionEnglish = {}
                mcqQuestionEnglish["CorrectAnswer"] = correctAnswer;
                mcqQuestionEnglish["IsShuffle"] = suffle;
                mcqQuestionEnglish["Version"] = $("#englishDiv").attr("data-version");

                var QuestionEnglish = mcqQuestionEnglish["QuestionText"] = CKEDITOR.instances['QuestionEnglish'].getData();  //$("#QuestionEnglish").val();
                if (QuestionEnglish == "" || QuestionEnglish == null) {
                    showErrorMessageBelowCtrl("QuestionEnglish", "", false);
                    showErrorMessageBelowCtrl("QuestionEnglish", "The Question field is required.", true);
                    check = false;
                }

                var OptionEnglishA = mcqQuestionEnglish["OptionA"] = CKEDITOR.instances['OptionEnglishA'].getData();  //$("#OptionEnglishA").val();
                if (OptionEnglishA == "" || OptionEnglishA == null) {
                    showErrorMessageBelowCtrl("OptionEnglishA", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishA", "The Option A field is required.", true);
                    check = false;
                }

                var OptionEnglishB = mcqQuestionEnglish["OptionB"] = CKEDITOR.instances['OptionEnglishB'].getData();  //$("#OptionEnglishB").val();
                if (OptionEnglishB == "" || OptionEnglishB == null) {
                    showErrorMessageBelowCtrl("OptionEnglishB", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishB", "The Option B field is required.", true);
                    check = false;
                }

                var OptionEnglishC = mcqQuestionEnglish["OptionC"] = CKEDITOR.instances['OptionEnglishC'].getData(); //$("#OptionEnglishC").val();
                var OptionEnglishD = mcqQuestionEnglish["OptionD"] = CKEDITOR.instances['OptionEnglishD'].getData();  //$("#OptionEnglishD").val();
                //var OptionEnglishE = mcqQuestionEnglish["OptionE"] = CKEDITOR.instances['OptionEnglishE'].getData();  //$("#OptionEnglishD").val();
                mcqQuestionEnglish["OptionE"] = "";


                if (OptionBanglaC != "" && OptionEnglishC == "") {
                    showErrorMessageBelowCtrl("OptionEnglishC", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishC", "The Option C field is required.", true);
                    check = false;
                }
                if (OptionBanglaC == "" && OptionEnglishC != "") {
                    showErrorMessageBelowCtrl("OptionBanglaC", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaC", "The Option C field is required.", true);
                    check = false;
                }

                if (OptionBanglaD != "" && OptionEnglishD == "") {
                    showErrorMessageBelowCtrl("OptionEnglishD", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishD", "The Option D field is required.", true);
                    check = false;
                }
                if (OptionBanglaD == "" && OptionEnglishD != "") {
                    showErrorMessageBelowCtrl("OptionBanglaD", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaD", "The Option D field is required.", true);
                    check = false;
                }
                //if (OptionBanglaE != "" && OptionEnglishE == "") {
                //    showErrorMessageBelowCtrl("OptionEnglishE", "", false);
                //    showErrorMessageBelowCtrl("OptionEnglishE", "The Option E field is required.", true);
                //    check = false;
                //}
                //if (OptionBanglaE == "" && OptionEnglishE != "") {
                //    showErrorMessageBelowCtrl("OptionBanglaE", "", false);
                //    showErrorMessageBelowCtrl("OptionBanglaE", "The Option E field is required.", true);
                //    check = false;
                //}
                mcqQuestionBangla["Id"] = banglaQuestionId;
                mcqQuestionEnglish["Id"] = englishQuestionId;
                mcqQuestionList.push(mcqQuestionBangla);
                mcqQuestionList.push(mcqQuestionEnglish);

            }
            else if (isBangla && !isEnglish) {
                mcqQuestionBangla = {}
                mcqQuestionBangla["Version"] = $("#banglaDiv").attr("data-version");
                mcqQuestionBangla["CorrectAnswer"] = correctAnswer;
                mcqQuestionBangla["IsShuffle"] = suffle;

                var QuestionBangla = mcqQuestionBangla["QuestionText"] = CKEDITOR.instances['QuestionBangla'].getData();
                if (QuestionBangla == "" || QuestionBangla == null) {
                    showErrorMessageBelowCtrl("QuestionBangla", "", false);
                    showErrorMessageBelowCtrl("QuestionBangla", "The Question field is required.", true);
                    check = false;
                }

                var OptionBanglaA = mcqQuestionBangla["OptionA"] = CKEDITOR.instances['OptionBanglaA'].getData();  //$("#OptionBanglaA").val();
                if (OptionBanglaA == "" || OptionBanglaA == null) {
                    showErrorMessageBelowCtrl("OptionBanglaA", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaA", "The Option A field is required.", true);
                    check = false;
                }

                var OptionBanglaB = mcqQuestionBangla["OptionB"] = CKEDITOR.instances['OptionBanglaB'].getData();  //$("#OptionBanglaB").val();
                if (OptionBanglaB == "" || OptionBanglaB == null) {
                    showErrorMessageBelowCtrl("OptionBanglaB", "", false);
                    showErrorMessageBelowCtrl("OptionBanglaB", "The Option B field is required.", true);
                    check = false;
                }

                var OptionBanglaC = mcqQuestionBangla["OptionC"] = CKEDITOR.instances['OptionBanglaC'].getData();  //$("#OptionBanglaC").val();
                var OptionBanglaD = mcqQuestionBangla["OptionD"] = CKEDITOR.instances['OptionBanglaD'].getData();  //$("#OptionBanglaD").val();
                //var OptionBanglaE = mcqQuestionBangla["OptionE"] = CKEDITOR.instances['OptionBanglaE'].getData();  //$("#OptionBanglaD").val();
                mcqQuestionBangla["OptionE"] = "";
                mcqQuestionBangla["Id"] = banglaQuestionId;
                mcqQuestionList.push(mcqQuestionBangla);

            }
            else if (!isBangla && isEnglish) {
                mcqQuestionEnglish = {}
                mcqQuestionEnglish["CorrectAnswer"] = correctAnswer;
                mcqQuestionEnglish["IsShuffle"] = suffle;
                mcqQuestionEnglish["Version"] = $("#englishDiv").attr("data-version");

                var QuestionEnglish = mcqQuestionEnglish["QuestionText"] = CKEDITOR.instances['QuestionBangla'].getData();  //$("#QuestionEnglish").val();
                if (QuestionEnglish == "" || QuestionEnglish == null) {
                    showErrorMessageBelowCtrl("QuestionEnglish", "", false);
                    showErrorMessageBelowCtrl("QuestionEnglish", "The Question field is required.", true);
                    check = false;
                }

                var OptionEnglishA = mcqQuestionEnglish["OptionA"] = CKEDITOR.instances['QuestionBangla'].getData(); // $("#OptionEnglishA").val();
                if (OptionEnglishA == "" || OptionEnglishA == null) {
                    showErrorMessageBelowCtrl("OptionEnglishA", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishA", "The Option A field is required.", true);
                    check = false;
                }

                var OptionEnglishB = mcqQuestionEnglish["OptionB"] = CKEDITOR.instances['QuestionBangla'].getData();  //$("#OptionEnglishB").val();
                if (OptionEnglishB == "" || OptionEnglishB == null) {
                    showErrorMessageBelowCtrl("OptionEnglishB", "", false);
                    showErrorMessageBelowCtrl("OptionEnglishB", "The Option B field is required.", true);
                    check = false;
                }

                var OptionBanglaC = mcqQuestionBangla["OptionC"] = CKEDITOR.instances['OptionBanglaC'].getData();  //$("#OptionBanglaC").val();
                var OptionBanglaD = mcqQuestionBangla["OptionD"] = CKEDITOR.instances['OptionBanglaD'].getData();  //$("#OptionBanglaD").val();
                //var OptionBanglaE = mcqQuestionBangla["OptionE"] = CKEDITOR.instances['OptionBanglaE'].getData();  //$("#OptionBanglaD").val();
                mcqQuestionEnglish["OptionE"] = "";
                mcqQuestionEnglish["Id"] = englishQuestionId;
                mcqQuestionList.push(mcqQuestionEnglish);
            }
            else {
                check = false;
            }


            mcqQuestionFilterViewModel["McqQuestionList"] = mcqQuestionList;

            if (check) {
                var data = JSON.stringify(mcqQuestionFilterViewModel);
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Exam/Question/UpdateQuestion",
                    cache: false,
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: data,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            var link = "/Exam/Question/Index?editSuccess=" + "Question Updated.";
                            console.log(link);
                            window.location.href = link;

                            //$.fn.customMessage({
                            //    //displayMessage: "Success",
                            //    //displayMessageType: "s",
                            //    //window.location.href=

                            //});

                            //$("#questionEntryDiv").empty();
                            //$("#questionEntryDiv").append("<div>Please Fillup Question details criteria.</div>");
                            //responseReturn();
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                        $("body, html").animate({
                            scrollTop: $("#bodyContent").offset().top
                        }, 600);
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }

        });

    </script>
}