﻿@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <script>
        function subst() {
            var vars = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) { var z = x[i].split('=', 2); vars[z[0]] = unescape(z[1]); }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];

            var yy = document.getElementsByClassName('section');
            for (var j = 0; j < yy.length; j++) {
                // if current page equals total pages
                if (vars[x[2]] < vars[x[1]]) {
                    yy[j].innerHTML = vars[x[2]] + "-" + (vars[x[1]]-1);
                }
            }

        }

    </script>
</head>
<body style="border:0; margin: 0;" onload="subst()">
    <table style=" width: 100%">
        <tr>

            <td style="text-align:left">
                <span class="page"></span> &nbsp; <span class="topage"></span>
            </td>
            <td class="section" style="text-align:right"></td>
        </tr>
    </table>
</body>
</html>