﻿@model IEnumerable<UdvashERP.BusinessModel.ViewModel.ExamModuleView.CkEditorImagesViewModel>
    @{
        Layout = null;
    }
    @{
        int i = 0;
        foreach (var image in Model)
        {
            i++;

            <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
                <img src="@image.Url" data-source="@image.Url" id="image_@i" width="200" height="200" />
            </a>

        }
    }

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">

        $(document).on("click", ".returnImage", function () {
            var funcNum = @(Request["CKEditorFuncNum"] + ";");
            var urlImage = $(this).attr("data-url");
            window.opener.CKEDITOR.tools.callFunction(funcNum, urlImage);

            window.close();
        });
    </script>
