﻿@using UdvashERP.BusinessModel.Entity.UInventory

@{
    int counter = 0;
    var itemList = (List<Item>)ViewBag.ItemList;
    var assignItemList = (List<Item>)ViewBag.AssignItemList;
}
@if (itemList != null && itemList.Count>0)
{
    <div style="width: 30%; float: left;">
    <ul id="treeLists" class="list-unstyled">
        <li>
            <input type="checkbox" name="selectedRole" id="selectAll"> <label style="padding-left: 2px;"> @(" Select All Item")</label>
            <span class="listBreak">
                @foreach (Item item in itemList)
                {
                    <ul>
                        <li class="@("continueContent" + item.Id) list-unstyled">
                            @{ var chechAssignItem = assignItemList.FirstOrDefault(x => x.Id == item.Id);}
                            @if (assignItemList != null && chechAssignItem !=null)
                            {
                                <input id="ItemListViewModel[@counter]_CheckedValue" name="ItemListViewModel[@counter].CheckedValue" checked="checked" value="true" type="checkbox" /> @item.Name
                            }
                            else
                            {
                                <input id="ItemListViewModel[@counter]_CheckedValue" name="ItemListViewModel[@counter].CheckedValue" value="true" type="checkbox" /> @item.Name
                            }
                            <input id="ItemListViewModel[@counter]_ItemId" name="ItemListViewModel[@counter].ItemId" value=@item.Id type="hidden" />

                        </li>
                    </ul>
                    counter++;
                }
            </span>

        </li>
    </ul>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectAll").change(function () {
            $(this).siblings('span').find('ul').find(':checkbox').prop('checked', this.checked);
            if (this.checked) {
                $(this).parentsUntil('#treeList', 'ul').siblings(':checkbox').prop('checked', true);
            } else {
                $(this).parentsUntil('#treeList', 'ul').each(function () {
                    var $this = $(this);
                    var childSelected = $this.find(':checkbox:checked').length;
                    if (!childSelected) {
                        $this.prev(':checkbox').prop('checked', false);
                    }
                });
            }
        });

    });
</script>