﻿@using UdvashERP.PublicAdmission.PublicAdmissionService
@if (ViewBag.payemntData != null)
{
    PaymentDetailsViewModel paymentDetails = ViewBag.payemntData;
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Payment Details</div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal" id="newAdmissionForm">
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Total Course Fee</label>
                    <div class="col-md-8">
                        <input name="CourseFee" id="CourseFee" value="@paymentDetails.CourseFee" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Offered Discount</label>
                    <div class="col-md-8">
                        <input name="OfferedDiscount" id="OfferedDiscount" value="@paymentDetails.OfferedDiscount" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Payable Amount</label>
                    <div class="col-md-8">
                        <input name="PayableAmount" id="PayableAmount" value="@paymentDetails.PayableAmount" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Paid Amount</label>
                    <div class="col-md-8">
                        <input name="ReceivedAmount" id="ReceivedAmount" value="@paymentDetails.ReceivedAmount" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Payment Method</label>
                    <div class="col-md-8">

                        @{
    if (ViewBag.PaymentMethods != null)
    {
        foreach (var pm in ViewBag.PaymentMethods)
        {
            if (pm.Value == paymentDetails.PaymentMethod)
            {
                <option value="@pm.Value" selected="selected">@pm.Text</option>
            }
            else
            {
                <option value="@pm.Value">@pm.Text</option>
            }

        }
    }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Due Amount</label>
                    <div class="col-md-8">
                        <input name="DueAmount" id="DueAmount" value="@paymentDetails.DueAmount" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-right">Next Received Date</label>
                    <div class="col-md-8">
                        <input name="NextReceivedDate" id="NextReceivedDate" class="form-date" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="button" value="Edit" class="btn btn-primary" id="editStudentInfo" />
            <input type="button" value="Submit" class="btn btn-primary" id="displayMoneyReceiptInfo" />
        </div>
    </div>
}
