﻿<div class="col-md-12">
    @if (ViewBag.CourseData != null)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Course Details</div>
            </div>
            <div class="row" style="padding:10px 10px;">
                <label class="control-label col-md-4 text-right">Select Course</label>
                <div class="col-md-8">
                    <div class="panel-group" id="CouseCheckList" role="tablist" aria-multiselectable="true" style="width:400px;">
                        @foreach (var course in ViewBag.CourseData)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading excolsHead" data-toggle="collapse" data-parent="#CouseCheckList" href="#collapse_@course.Id" aria-expanded="True" aria-controls="collapse_@course.Id" role="tab" id="heading_@course.Id">
                                    <h4 class="panel-title">
                                        <a>
                                            <input type="checkbox" class="course-name-check" data-course-name="@course.Name" data-course-id="@course.Id" data-maxsubject="@course.MaxSubject" data-minsubject="@course.PublicMinSubject" data-is-compulsary="@course.IsPublicCompulsary" />  @course.Name
                                            @if (course.IsPublicCompulsary)
                                            {
                                                <span style="color: #ff0000;">*</span>
                                            }
                                        </a>
                                        <button type="button" class="btn" style="float: right; border:0px; background-color:#f5f5f5;">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </button>
                                        <div class="clearfix"></div>

                                    </h4>

                                </div>
                                <div id="collapse_@course.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@course.Id">
                                    <div class="panel-body">
                                        @foreach (var courseSubject in course.SubjectViewModels)
                                        {
                                            <input type="checkbox" class="course-subject-check" data-subject-id="@courseSubject.Id" data-subject-name="@courseSubject.Name" data-subject-shortname="@courseSubject.ShortName" style="margin-left:30px;" /> <span style="margin-left: 5px;"> &nbsp; </span> @courseSubject.Name @*<span> - </span>*@ @*@courseSubject.Payment.ToString("n0")*@<br />
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="button" value="Next" class="btn btn-primary" id="displayPaymentInfo" style="width: 80px; font-size: 16px;" />
            </div>
        </div>
    }


</div>