﻿<div class="col-md-12">
    @if (ViewBag.ProgramStudentExamSession != null)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Board Exam Details</div>
            </div>
            <div class="col-md-12" style="padding-top:20px;">
                <table class="table table-bordered table-striped" id="examBoardTable">
                    <tbody>
                        <tr>
                            <td>Exam</td>
                            <td>Year</td>
                            <td>Board</td>
                            <td>Board Roll</td>
                            <td>Board Registration No.</td>
                        </tr>
                        @foreach (var examBoard in ViewBag.ProgramStudentExamSession)
                        {
                            <tr>
                                <td>
                                    <input class="examIdInput" id="examId_@examBoard.StudentExamId" value="@examBoard.StudentExamId" type="hidden">
                                    @examBoard.StudentExamName
                                </td>
                                <td><input id="examYear_@examBoard.StudentExamId" type="text" class="form-control" required="required" value=""></td>
                                <td>
                                    <select class="form-control" id="examBoard_@examBoard.StudentExamId" name="examBoard_@examBoard.StudentExamId">
                                        @foreach (var board in ViewBag.BoardList)
                                        {
                                            <option value="@board.Id">@board.Name</option>
                                        }
                                    </select>
                                </td>
                                <td><input id="boardRoll_@examBoard.StudentExamId" type="text" class="form-control" required="required" value=""></td>
                                <td><input id="boardRegistration_@examBoard.StudentExamId" type="text" class="form-control" required="required" value=""></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }

</div>