﻿<input id="hasBoardInfo" value="@ViewBag.HasBoardInfo" type="hidden" />
<input id="totalInfo" value="@ViewBag.TotalInfo" type="hidden" />

@if(ViewBag.ProgramStudentExamSession != null && ViewBag.TotalInfo > 0){
    <div class="panel panel-primary">
        <div class="panel-heading">
            Board Exam Information        
        </div>

        <div id="examInfo" class="panel-body">        
            <div id="boardInfoErrorMessage">
                
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Exam</td>
                    <td style="width:100px;">Year</td>
                    <td >Board</td>
                    <td style="width:180px;">Board Roll</td>
                    <td>Action</td>
                </tr>
                @{
                    int index = 0;
                }
                @foreach (var item in ViewBag.ProgramStudentExamSession)
                {
                    var required = "";
                    if(index == 0){
                        required = "required=required";
                    }

                    //var boardList = new SelectList(ViewBag.BoardList, "Id", "Name", item.Board);
                
                    <tr>
                        <td> 
                            <input id="examId_@index" value="@item.StudentExam.Id" type="hidden" />
                            @item.StudentExam.Name
                        </td>
                        <td><input id='examYear_@index' type="text" class="form-control" @required value="@item.Year" /></td>
                        <td>
                        @*@Html.DropDownList("examBoard_" + index, boardList, new { @class = "form-control" })*@
                        </td>
                        <td><input id='boardRoll_@index' type="text" class="form-control" @required value="@item.Roll" /></td>
                        <td><input type="button" class="btn btn-link" data-index="@index" onclick="verifyInfo(@index);" @required value="Verify"></td>
                    </tr>
                    index++;
                }

            </table>
                    
            <div id="verificationView">

            </div>
        
        </div>
    </div>
    <script type="text/javascript">
       
        function verifyInfo (index) {
            
            console.log("clicked");

            var examId = $("#" + "examId_"+index).val();
            var examYear = $("#" + "examYear_"+index).val();
            var examBoard = $("#" + "examBoard_"+index+" :selected").val();
            var boardRoll = $("#" + "boardRoll_"+index).val();
            
            $.ajax({
                method: 'POST',
                url: '/Student/Admission/VerifyBoardInfo',
                data: { examId:examId,year: examYear, board: examBoard, roll: boardRoll },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Loading board info...</h1>'
                    });
                },
                success: function (response) {
                    console.log("Success");
                    $.unblockUI();
                    var prefix  = "";
                    var suffix = "";
                    prefix = "<div class='alert alert-danger'><a class='close' data-dismiss='alert'>x</a>";
                    suffix = "</div>";

                    try{
                        var obj = jQuery.parseJSON(response.data)
                        var success = obj.webservice[0].ISSUCCESS;
                        var result = "Not found";                       
                        if(success == "Y"){
                            result = obj.webservice[0].results;                   
                            prefix = "<div class='alert alert-info'><a class='close' data-dismiss='alert'>x</a>";
                            suffix = "</div>";                            
                        }
                        else{
                            result = obj.webservice[0].MESSAGE;                                                       
                        }                        
                        $("#verificationView").html(prefix+result+suffix);
                    }
                    catch(ex){
                        console.log(ex);
                        $.unblockUI();
                        $("#verificationView").html(prefix+" Error. Update require. Please contact with admin. "+suffix);
                        console.log("error in json parsing");
                    }
                },
                error: function (rsp) {
                    $.unblockUI();
                    console.log("Error");
                }
            });
        };

    </script>
}
