﻿@*@using System.Drawing
@using System.Globalization
@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Students
@using UdvashERP.Models
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.MoneyReceipt

@{
    ViewBag.Title = "Generate Reciept";
    if (ViewBag.withLayout == "False")
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var moneyRtopImage = "/" + Model.StudentPayment.StudentProgram.Program.Organization.ReportImageUrl;
    double dpiX, dpiY;
    using (Graphics graphics = Graphics.FromHwnd(IntPtr.Zero))
    {
        dpiX = graphics.DpiX;
        dpiY = graphics.DpiY;
    }
    double pixelsWidth = dpiY * 7.5;
    double pixelsHeight = dpiX * 4.69;
    var pixelsHeightString = pixelsHeight.ToString() + "px";
    var pixelsWidthString = pixelsWidth.ToString() + "px";
    var headerImageWidth = (.49 * pixelsWidth);
}
@if (ViewBag.NotAuthorize == "")
{
    <br />
    <br />
    <div class="panel panel-default" id="moneyReceipt" style="width: @pixelsWidthString; height: @pixelsHeightString; padding-left: 2px; padding-right: 2px; font-size: 11px; font-family: Verdana, Geneva, sans-serif; overflow: hidden; border: none; margin-top: -32px; padding-top: 0px;">
        <table style="width: 99%; height: 99%; border: 1px solid #000;" cellpadding="0" cellspacing="0">
            <tr style="height: 19%;">
                <td>
                    <div style="text-align: center; font-size: 20px;">
                        <img src="@moneyRtopImage" width="@headerImageWidth" />
                    </div>
                    <div style="text-align: center; font-size: 20px; padding-bottom: 6px;font-weight: bold;">
                        @Html.DisplayFor(model => model.Program) @Html.DisplayFor(model => model.Session)
                    </div>
                    <div style="text-align: center; font-size: 14px;">
                        <div style="float: left; width: 25%;">Reg. No.: @Html.DisplayFor(model => model.RegNo)</div>
                        @if (Model.StudentPayment.PaymentType == PaymentType.CancellationReceipt)
                        {
                            var counter = Model.MoneyReceiptCount + 1;
                            <div style="float: left; width: 50%; font-weight: bold;"> Cancellation Receipt(@counter) #@Html.DisplayFor(model => model.StudentPayment.ReceiptNo)</div>
                        }
                        else
                        {
                            var counter = Model.MoneyReceiptCount + 1;
                            <div style="float: left; width: 50%; font-weight: bold;"> Money Receipt(@counter) #@Html.DisplayFor(model => model.StudentPayment.ReceiptNo)</div>
                        }

                        <div style="float: left; width: 25%;">Date: @Model.StudentPayment.CreationDate.ToString("dd-MM-yyyy")</div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
            </tr>
            <tr style="height: 71%; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                <td>
                    <div style="text-align: left; height: 88%; padding-left: 25.7%; padding-right: 2%; font-size: 11px; padding-top: 1px;">
                        <table style="font-size: 11px; line-height: 15px; font-family: Verdana, Geneva, sans-serif;">
                            <tr>
                                <td style="width: 25%; vertical-align: top;">
                                    Student Name
                                </td>
                                <td style="width: 3%; vertical-align: top;">
                                    :
                                </td>
                                <td style="width: 72%; vertical-align: top;">
                                    @Html.DisplayFor(model => model.StudentName)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    Program Roll
                                </td>
                                <td style="vertical-align: top;">
                                    :
                                </td>
                                <td style="vertical-align: top;">
                                    @Html.DisplayFor(model => model.PrRollNo)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    Date of Admission
                                </td>
                                <td style="vertical-align: top;">
                                    :
                                </td>
                                <td style="vertical-align: top;">
                                    @Model.DateOFSubmission.ToString("dd-MM-yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    Branch
                                </td>
                                <td style="vertical-align: top;">
                                    :
                                </td>
                                <td style="vertical-align: top;">
                                    @Html.DisplayFor(model => model.Branch)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    Batch Days
                                </td>
                                <td style="vertical-align: top;">
                                    :
                                </td>
                                <td style="vertical-align: top;">
                                    @Html.DisplayFor(model => model.BatchDays)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    Batch Time
                                </td>
                                <td style="vertical-align: top;">
                                    :
                                </td>
                                <td style="vertical-align: top;">
                                    @Html.DisplayFor(model => model.BatchTime)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    Batch Name
                                </td>
                                <td style="vertical-align: top;">
                                    :
                                </td>
                                <td style="vertical-align: top;">
                                    @Html.DisplayFor(model => model.BatchName)
                                </td>
                            </tr>

                            @{
                        var query = Model.StudentPayment.CourseSubjectList.GroupBy(x => x.Course,
                            (key, g) => new { Course = key, Subjects = g.ToList() }).OrderBy(x => x.Course.Rank);

                        var courseList = query.ToList();
                        foreach (var courseAndCorrespondingSubjectList in courseList)
                        {
                            var courseName = courseAndCorrespondingSubjectList.Course.Name;
                            var courseSubjectList = courseAndCorrespondingSubjectList.Subjects;
                            <tr>
                                <td>@courseName</td>
                                <td>:</td>
                                <td>
                                    @{
                            int i = 1;
                            foreach (var courseSubject in courseSubjectList)
                            {
                                var subName = courseSubject.Subject.ShortName;
                                if (courseSubjectList.Count > i)
                                {
                                    <span>@subName, </span>
                                }
                                else
                                {
                                    <span>@subName</span>
                                }
                                i++;
                            }
                            if (Model.StudentPayment.PaymentType == PaymentType.CancellationReceipt)
                            {
                                <span> (Cancelled)</span>
                            }
                                    }
                                </td>
                            </tr>
                        }
                            }
                            @if (Model.StudentPayment.PaymentType == 2)
                            {
                                <tr>
                                    <td style="vertical-align: top;">
                                        Payable Amount
                                    </td>
                                    <td style="vertical-align: top;">
                                        :
                                    </td>
                                    <td style="vertical-align: top;">
                                        @if (Model.StudentPayment.PayableAmount != null && Model.StudentPayment.PayableAmount > 0)
                                        {
                                            <span>@Convert.ToDecimal(Model.StudentPayment.PayableAmount).ToString("n2")</span>
                                        }
                                        else
                                        {
                                            <span>0.00</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        Consideration Amount
                                    </td>
                                    <td style="vertical-align: top;">
                                        :
                                    </td>
                                    <td style="vertical-align: top;">
                                        @if (Model.StudentPayment.ConsiderationAmount != null && Model.StudentPayment.ConsiderationAmount > 0)
                                        {
                                            <span>@Convert.ToDecimal(Model.StudentPayment.ConsiderationAmount).ToString("n2")</span>
                                        }
                                        else
                                        {
                                            <span>0.00</span>
                                        }
                                    </td>
                                </tr>
                                if (Model.StudentPayment.CashBackAmount != null && Model.StudentPayment.CashBackAmount > 0)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Cash Back Amount
                                        </td>
                                        <td style="vertical-align: top;">
                                            :
                                        </td>
                                        <td style="vertical-align: top;">
                                            <span>@Convert.ToDecimal(Model.StudentPayment.CashBackAmount).ToString("n2")</span>
                                        </td>
                                    </tr>
                                }
                                
                                <tr>
                                    <td style="vertical-align: top;">
                                        Due Amount
                                    </td>
                                    <td style="vertical-align: top;">
                                        :
                                    </td>
                                    <td style="vertical-align: top;">
                                        @if (Model.StudentPayment.DueAmount != null && Model.StudentPayment.DueAmount > 0)
                                        {
                                            <span>@Convert.ToDecimal(Model.StudentPayment.DueAmount).ToString("n2")</span>
                                        }
                                        else
                                        {
                                            <span>0.00</span>
                                        }
                                    </td>
                                </tr>
                                       
                                        if (Model.StudentPayment.DueAmount != null && Model.StudentPayment.DueAmount > 0)
                                        {
                                            <tr>
                                                <td>
                                                    Next Payment Date
                                                </td>
                                                <td>
                                                    :
                                                </td>
                                                <td>
                                                    <span>@Model.NextPaymentDate.ToString("dd-MM-yyyy")</span>
                                                </td>
                                            </tr>
                                        }
                            }
                            else
                            {
                                <tr>
                                    <td style="vertical-align: top;">
                                        Payable Amount
                                    </td>
                                    <td style="vertical-align: top;">
                                        :
                                    </td>
                                    <td style="vertical-align: top;">
                                        @if (Model.StudentPayment.PayableAmount != null && Model.StudentPayment.PayableAmount > 0)
                                        {
                                            <span>@Convert.ToDecimal(Model.StudentPayment.PayableAmount).ToString("n2")</span>
                                        }
                                        else
                                        {
                                            <span>0.00</span>
                                        }
                                    </td>
                                </tr>
                                if (Model.StudentPayment.SpDiscountAmount != null && Model.StudentPayment.SpDiscountAmount > 0)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Special Discount
                                        </td>
                                        <td style="vertical-align: top;">
                                            :
                                        </td>
                                        <td style="vertical-align: top;">
                                            <span>@Convert.ToDecimal(Model.StudentPayment.SpDiscountAmount).ToString("n2")</span>
                                        </td>
                                    </tr>
                                }                               
                                <tr>
                                    <td style="vertical-align: top;">
                                        Paid Amount
                                    </td>
                                    <td style="vertical-align: top;">
                                        :
                                    </td>
                                    <td style="vertical-align: top;">
                                        @if (Model.StudentPayment.ReceivedAmount != null && Model.StudentPayment.ReceivedAmount > 0)
                                        {
                                            <span>@Convert.ToDecimal(Model.StudentPayment.ReceivedAmount).ToString("n2")</span>
                                        }
                                        else
                                        {
                                            <span>0.00</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        Due Amount
                                    </td>
                                    <td style="vertical-align: top;">
                                        :
                                    </td>
                                    <td style="vertical-align: top;">
                                        @if (Model.StudentPayment.DueAmount != null && Model.StudentPayment.DueAmount > 0)
                                        {
                                            <span>@Convert.ToDecimal(Model.StudentPayment.DueAmount).ToString("n2")</span>
                                        }
                                        else
                                        {
                                            <span>0.00</span>
                                        }
                                    </td>
                                </tr>
                                        //if (Model.NextPaymentDate.ToString().Length > 0 && Convert.ToInt64(Model.NextPaymentDate.ToString("yyyyMMdd")) > 20000101 && Convert.ToInt64(Model.NextPaymentDate.ToString("yyyyMMdd")) < 30000101)
                                        if (Model.StudentPayment.DueAmount != null && Model.StudentPayment.DueAmount > 0)
                                        {
                                            <tr>
                                                <td>
                                                    Next Payment Date
                                                </td>
                                                <td>
                                                    :
                                                </td>
                                                <td>
                                                    <span>@Model.NextPaymentDate.ToString("dd-MM-yyyy")</span>
                                                </td>
                                            </tr>
                                        }
                            }

                        </table>
                    </div>
                    <div style="border-top: 1px solid #000000; padding-top: 1px; margin-left: 500px; width: 150px; margin-right: 50px; text-align: center; font-size: 12px; font-weight: bold;">@Model.UserFullName </div>
                </td>
            </tr>
            <tr style="height: 10%;">
                <td style="padding-left: 1.5%; padding-right: 1.5%; font-size: 11px; text-align: center;">
                    <b>Campus Address: </b>@Model.StudentPayment.StudentProgram.Batch.Campus.Location <b>Phone: </b>@(Model.StudentPayment.StudentProgram.Batch.Campus.ContactNumber)
                    <b> @Model.StudentPayment.StudentProgram.Program.Organization.Website </b>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-md-10" style="padding-right: 65px;">
            <a style="float: left; margin-left: 7px" href="@Url.Action("NewStudentAdmission", "Admission", new {area = "Student"})">Back to New Admission</a>
            <div class="btn btn-primary" style="float: right;" id="print"> Print</div>&nbsp;&nbsp;
            <div class="btn btn-info" style="float: right; margin-left: 7px; margin-right: 10px;" id="saveAsPdf"> Save</div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @ViewBag.NotAuthorize
    </div>
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/printThis.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#print").click(function () {
                $("#moneyReceipt").printThis();
            });
            var paymentId = @Html.Raw(Json.Encode(@ViewBag.PaymentId));
            var comingFromAddCourse = @Html.Raw(Json.Encode(@ViewBag.comingFromAddCourse));

            $(document).on("click", "#saveAsPdf", function() {
                var urlParam = {
                    id: paymentId                 
                };
                var url = "@Url.Action("SavePdfMoneyReciept", "Payment", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                window.open(url);
            });
        });
    </script>  
}*@
