﻿@using UdvashERP.PublicAdmission.PublicAdmissionService
@if (ViewBag.payemntData != null)
{
    PaymentDetailsViewModel paymentDetails = ViewBag.payemntData;
    

    <div class="form-horizontal" id="newAdmissionForm">
        <div class="form-group">
            <label class="control-label col-md-6 text-right">Total Course Fee: </label>
            <label class="control-label col-md-6 text-left" style="text-align: left;">@Convert.ToDecimal(paymentDetails.CourseFee).ToString("n0")/-</label>           
        </div>
        <div class="form-group">
            <label class="control-label col-md-6 text-right">Offered Discount: </label>
            <label class="control-label col-md-6 text-left" style="text-align: left;">@Convert.ToDecimal(paymentDetails.OfferedDiscount).ToString("n0")/-</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6 text-right">Payable Amount: </label>
            <label class="control-label col-md-6 text-left" style="text-align: left;">@Convert.ToDecimal(paymentDetails.OfferedDiscount).ToString("n0")/-</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6 text-right">Minumum Payment:</label>
            <label class="control-label col-md-6 text-left" style="text-align: left; font-size: 16px; color: #ff4500;">@Convert.ToDecimal(paymentDetails.MinPaymentAmount).ToString("n0")/-</label>           
        </div>
                
    </div>
    
       
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="button" value="Edit" class="btn btn-primary" id="editStudentInfo" />
        </div>
    </div>
}
