﻿@model UdvashERP.PublicAdmission.PublicAdmissionService.StudentViewModel
@{
    ViewBag.Title = "Course Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-center" style="font-size: 24px; ">
        Course Calculator
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Course Calculator</div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal" id="newAdmissionForm">                                        
                    <div class="form-group">
                        <label for="Program" class="control-label col-md-4">Program</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.programList, "Select Program", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Program" })
                            <span data-valmsg-replace="true" data-valmsg-for="Program" class="field-validation-valid"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Session" class="control-label col-md-4">Session</label> 
                        <div class="col-md-8">
                            @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                            <span data-valmsg-replace="true" data-valmsg-for="Program" class="field-validation-valid"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="courseError">

</div>
<div class="row" id="CourseList">

</div>
<div class="row" id="paymentInfo">

</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/CourseCalculator")
}


