﻿@using Recaptcha.Web
@using Recaptcha.Web.Mvc;

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        Online Registration
    </div>
    <div class="panel-body">
        
        <div class="col-md-12">           
            <p style="color: #ff4500; font-size: 18px; text-align:center;">
                উদ্ভাসের ইঞ্জিনিয়ারিং প্রোগ্রামে অনলাইনে ভর্তির জন্য অনুগ্রহ পূর্বক <b>০১৮৪১৫০০৬০১</b> নম্বরে <b>৫০০০/- টাকা</b> যে কোন Personal Account থেকে bKash করুন। অতঃপর নিম্নের তথ্যগুলো পূরণ করে Next বাটনে ক্লিক করুন। bKash-কৃত টাকা কোর্স ফি এর সাথে সমন্বয় করা হবে।
            </p>
            <hr>
            <p style="color: #ff4500; font-size: 18px; text-align:center;">
                অনলাইন ভর্তি সংক্রান্ত যেকোন সাহায্যের জন্য <b>০১৮৪১৫০০৬০১</b> নম্বরে যোগাযোগ করুন।
            </p>
            <hr>
        </div>
        <div class="col-md-12">
            
            @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
            {
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        Payment Information
                    </div>
                    <div class="panel-body">                        
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="PaymentMethod" class="control-label col-md-4">Payment Method</label>
                                <div class="col-md-8">
                                    <select required="required" name="PaymentMethod" id="PaymentMethod" class="form-control">
                                        @{
                                            foreach (var pm in ViewBag.PaymentMethods)
                                            {
                                                <option value="@pm.Value">@pm.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div id="transactionIds">
                                @{
                                    if (ViewBag.TransactionId != null)
                                    {
                                        
                                        //int totalTransaction = ViewBag.TransactionId;
                                        //int i = 0;                     
                                        foreach (var tr in ViewBag.TransactionId)
                                        {          
                                                                            
                                            <div class="form-group">
                                                <label for="TransactionId" class="control-label col-md-4">Transaction Id</label>
                                                <div class="col-md-8">
                                                    <input type="text" value="@tr" name="transactionId[]" placeholder="Enter Transaction ID" class="form-control tridclass" style="float: left; margin-right: 5px;" maxlength="10" size="10" />
                                                    <button type="button" class="btn btn-default plus">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                                    </button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="TransactionId" class="control-label col-md-4">Transaction Id</label>
                                            <div class="col-md-8">
                                                <input type="text" name="transactionId[]" placeholder="Enter Transaction ID" class="form-control tridclass" style="float: left; margin-right: 5px;" />
                                                <button type="button" class="btn btn-default plus">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4">&nbsp;</label>
                                <div class="col-md-8">
                                    @*@Html.Recaptcha("6LftqwETAAAAABnjRHBrP1SZoorhFGjUMkVPY1HX",RecaptchaTheme.Red, null, 0, true)*@
                                    @Html.Recaptcha()
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    @*<a class="btn btn-success" style="font-size: 20px;" href="~/home/CourseCalculator">Course Payment Calculator</a>*@
                                    <input type="submit" value="Next" class="btn btn-primary" style="width: 80px; font-size: 16px;" />
                                </div>
                            </div>
                        </div>

                        @*<div class="form-horizontal">
                        <div class="g-recaptcha" data-sitekey="6LftqwETAAAAABnjRHBrP1SZoorhFGjUMkVPY1HX"></div>
                    </div>*@

                    </div>
                </div>
            }

        </div>
        
        @*<div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    Payment Calculate
                </div>
                <div class="panel-body">
                    <div class="form-horizontal" id="newAdmissionForm">
                        <div class="form-group">
                            <label for="Program" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.programList, "Select Program", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Program" })
                                <span data-valmsg-replace="true" data-valmsg-for="Program" class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Session" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                                <span data-valmsg-replace="true" data-valmsg-for="Program" class="field-validation-valid"></span>
                            </div>
                        </div>
                        
                        <div id="courseError">

                        </div>
                        <div class="row" id="CourseList">

                        </div>
                        <div class="row" id="paymentInfo">

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

        @section Scripts {
            @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
            <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
            @Scripts.Render("~/bundles/Registration")
            @Scripts.Render("~/bundles/CourseCalculator")
        }
