﻿@using Recaptcha.Web.Mvc;
@model UdvashERP.PublicAdmission.PublicAdmissionService.StudentViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input, select, textarea {
        max-width: 400px;
    }
</style>
<div class="row" style="margin-bottom: 10px;" id="headerTitle">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-center" style="font-size: 24px;">
        রেজিস্ট্রেশন ফরম
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    @using (Html.BeginForm("RegistrationSubmit", "Home", FormMethod.Post, new { @id = "RegistrationSubmitForm" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Student Personal Details</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal" id="newAdmissionForm">
                            @*<h4>Student Personal Details</h4>*@
                            @{
                                if (ViewBag.TransactionId != null)
                                {
                                    foreach (var tr in ViewBag.TransactionId)
                                    {
                                        <input type="hidden" name="transactionId[]" value="@tr" class="transactionClass" />
                                    }
                                }
                            }

                            @{
                                if (ViewBag.PaymentMethod != null)
                                {
                                    <input type="hidden" name="PaymentMethod" value="@ViewBag.PaymentMethod" class="PaymentMethod" id="PaymentMethod" />
                                }
                            }
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4 " })
                                <div class="col-md-8">
                                    @Html.TextBox("Name", "", new { @class = "form-control", @placeholder = "Nick Name", @type = "text", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.MobNumber, new { @class = "control-label col-md-4" })*@
                                <label class="control-label col-md-4 text-right">Mobile Number</label>
                                <div class="col-md-8">
                                    @Html.TextBox("MobNumber", "", new { @class = "form-control .numbersOnly", @placeholder = "8801XXXXXXXXX", @required = "required", @maxlength = "13", @size = "13" })
                                    @Html.ValidationMessageFor(model => model.MobNumber)
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.VersionOfStudy, new { @class = "control-label col-md-4" })*@
                                <label class="control-label col-md-4 text-right">Version Of Study</label>
                                <div class="col-md-8">
                                    @*@Html.DropDownList("VersionOfStudy", Enumerable.Empty<SelectListItem>(), "Select Version Of Study", new { @class = "form-control", @required = "required" })*@
                                    @Html.DropDownList("VersionOfStudy", (IEnumerable<SelectListItem>)ViewBag.versionOfStudyList, "Select Version of Study", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.VersionOfStudy)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @*@Html.DropDownList("Gender", Enumerable.Empty<SelectListItem>(), "Select Gender", new { @class = "form-control", @required = "required" })*@
                                    @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.genderList, "Select Gender", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Gender)
                                </div>
                            </div>
                            <div class="branchGenerate">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @*@Html.DropDownList("Religion", Enumerable.Empty<SelectListItem>(), "Select Religion", new { @class = "form-control", @required = "required" })*@
                                        @Html.DropDownList("Religion", (IEnumerable<SelectListItem>)ViewBag.religionList, "Select Religion", new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Religion)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Program, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @*@Html.DropDownList("Program", Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control", @required = "required" })*@
                                    @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.programList, "Select Program", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Program" })
                                    @Html.ValidationMessageFor(model => model.Program)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Session)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("Branch", Enumerable.Empty<SelectListItem>(), "Select Branch", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Branch" })
                                    @Html.ValidationMessageFor(model => model.Branch)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Campus, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("Campus", Enumerable.Empty<SelectListItem>(), "Select Campus", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Campus" })
                                    @Html.ValidationMessageFor(model => model.Campus)
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.BatchDays, new { @class = "control-label col-md-4" })*@
                                <label class="control-label col-md-4 text-right">Batch Day</label>
                                <div class="col-md-8 batchDays">
                                    @Html.DropDownList("BatchDays", Enumerable.Empty<SelectListItem>(), "Select Batch Days", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Batch Day" })
                                    @Html.ValidationMessageFor(model => model.BatchDays)
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.BatchTime, new { @class = "control-label col-md-4" })*@
                                <label class="control-label col-md-4 text-right">Batch Time</label>
                                <div class="col-md-8 batchTime">
                                    @Html.DropDownList("BatchTime", Enumerable.Empty<SelectListItem>(), "Select Batch Time", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Batch Time" })
                                    @Html.ValidationMessageFor(model => model.BatchTime)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Batch, new { @class = "control-label col-md-4" })
                                <div class="col-md-8 batchName">
                                    @Html.DropDownList("Batch", Enumerable.Empty<SelectListItem>(), "Select Batch Name", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Batch" })
                                    @Html.ValidationMessageFor(model => model.Batch)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                    <div class="courseDetails" id="courseDetailsCheckList">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Course Details
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div id="courseError">

        </div>
        
        <div class="row" id="ExamBoard">

        </div>
        <div id="examBoardError">

        </div>

        <div class="row" id="CourseList">

        </div>

        <div class="row" id="paymentInfo">

        </div>
        <br /><br />

    }
</div>











@section Scripts {
    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/RegistrationSecond")

}
