﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UserAuth.LoginActivityLog>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Login Activity Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Login Activity Log </h4>
    </div>
    <div class="panel-body">
        @* this table is responsible for searching view *@

        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="UserName" name="UserName" type="text" class="form-control " placeholder="User Name" />
                </th>
                <th class="form-group " style="width: 90px">
                    @Html.DropDownList("OperationStatus", (IEnumerable<SelectListItem>)ViewBag.LoginOperationStatusList, new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="IpAddress" name="IpAddress" type="text" class="form-control" placeholder="Ip Address" />
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>

            </tr>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Creation Date")</th>
                    <th>@Html.DisplayName("IP Address")</th>
                    <th>@Html.DisplayName("Device")</th>
                    <th>@Html.DisplayName("OS Name")</th>
                    <th>@Html.DisplayName("Browser")</th>
                    <th>@Html.DisplayName("User name")</th>
                    <th>@Html.DisplayName("Operation Status")</th>
                    <th>@Html.DisplayName("Remarks")</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")

    <script type="text/javascript">
        $(document).ready(function () {

            @**----function for render data table----*@
            function dataTableRender() {
                var displayNo = 10;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = $('#DisplayNo').val();
                } else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": false,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,

                    //stateSave: true,
                    order: [[0, "desc"]],
                    ajax: {
                        url: '@Url.Action("LoginActivityLogList", "LoginActivityLog")',
                        type: 'POST',
                        data: function(dt) {
                            dt.userName = $('#UserName').val();
                            dt.operationStatus = $('#OperationStatus').val();
                            dt.ipAddress = $('#IpAddress').val();
                        },
                        error: function(response) {
                            ShowErrorMessage("data load error. Please try again.");
                        }
                    }
                });
            }
            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
            });
        });
    </script>
}