﻿@using UdvashERP.BusinessModel.Dto
<table class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                TPIN
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Held Date
            </th>
            <th>
                Activity Type
            </th>
            <th>
                Organization
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            List<TeacherPaymentListDto> teacherPaymentListDto = ViewBag.TeacherPaymentListDto;
            decimal totalAmount = 0;
            foreach (var tpl in teacherPaymentListDto)
            {
                totalAmount = totalAmount + (decimal)tpl.Amount;
                <tr role="row" class="odd">
                    <td>@tpl.TeacherTpin</td>
                    <td>@tpl.Teacher</td>
                    <td>@if (tpl.HeldDate != null)
                        {
                            @tpl.HeldDate.Value.ToString("dd/MM/yyyy")
                        }</td>
                    <td>@tpl.ActivityType</td>
                    <td>@tpl.Organization</td>
                    <td>@tpl.Description</td>
                    <td>@tpl.Amount</td>
                </tr>
            }
            
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6" class="text-right">
                Total
            </th>
            <th class="text-center">
                @totalAmount
            </th>
        </tr>
    </tfoot>
</table>
<table class="table table-striped table-bordered table-responsive">
    <tr class="form-group">
        <th class="form-group text-right" style="width: 70%;">Paid From</th>
        <th class="form-group text-right" style="width: 30%;">
            @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, "--Select Branch--", new { @class = "form-control" })
            @Html.Hidden("teacherPaymentViewModels", ViewData["teacherPaymentViewModels"])
        </th>
    </tr>
    <tr class="form-group">
       
        <th class="form-group text-center" colspan="2">
            <input type="button" value="Paid" class="btn btn-primary" id="PayBtnFinal" />
        </th>
    </tr>
</table>

       