﻿@*@using System.Web.WebPages.Html*@
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Teacher Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var heldDate = DateTime.Today.ToString("dd/MM/yyyy");
    var day = DateTime.Today.Day < 10 ? "0" + DateTime.Today.Day.ToString() : DateTime.Today.Day.ToString();
    var month = DateTime.Today.Month < 10 ? "0" + DateTime.Today.Month.ToString() : DateTime.Today.Month.ToString();
    
    var heldDate = day + "/" + month + "/" + DateTime.Today.Year;
    
}

<div class="panel panel-primary" id="teacherPaymentSearchPanelFirstDiv">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Teacher Payment<span style="float: right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="teacherPaymentSearchPanel">
        <div class="administrationBodyContent">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <select id="classType" class="form-control">
                                    <option value="">All Activity</option>
                                    <option value="Class">Class</option>
                                    <option value="Script Evaluation">Script Evaluation</option>
                                    <option value="Materials Development">Materials Development</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownList("Organization", (IEnumerable<SelectListItem>) ViewBag.Organization, "All Organization", new {@class = "form-control"})
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownList("Program", (IEnumerable<SelectListItem>) ViewBag.ProgramList, "All Program", new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.DropDownList("heldBranch", (IEnumerable<SelectListItem>) ViewBag.BranchList, "All Branch", new {@class = "form-control"})
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownList("heldCampus", (IEnumerable<SelectListItem>) ViewBag.CampusList, "All Campus", new {@class = "form-control"})
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownList("paymentStatus", (IEnumerable<SelectListItem>) ViewBag.PaymentStatusList, "All Payment Status", new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2" style="padding-right: 0px;">
                                <select id="searchOn" name="searchOn" class="form-control">
                                    <option value="1">Held Date</option>
                                    <option value="2">Payment Date</option>
                                </select>
                            </div>
                            <div class="col-md-2" style="padding-left: 0px;">
                                <input id="HeldDate" name="HeldDate" type="text" class="form-control heldDate" placeholder="Held Date" readonly="readonly" value="@heldDate" />
                            </div>
                            <div class="col-md-4">
                                <input id="TeacherTpin" name="TeacherTpin" type="text" class="form-control" placeholder="TPIN" />
                            </div>
                            <div class="col-md-4">
                                <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <input type="button" name="search" id="search" value="Search" class="btn btn-primary" />
                            &nbsp;&nbsp;<input type="button" name="export" id="export" value="Export" class="btn btn-primary" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="teacherPaymentDataTable" style="display: none;">
    <div class="panel-heading">
        Teacher Payment Report
    </div>
    <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>TPIN</th>
                <th>Teacher Name</th>
                <th>Held Date</th>
                <th>Held Branch</th>
                <th>Held Campus</th>
                <th>Activity Type</th>
                <th>Class Type</th>
                <th>Organization</th>
                <th>Program</th>
                <th>Session</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Paid By</th>
                <th style="min-width: 100px">Paid Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center"></tbody>
    </table>
    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="button" value="Next" class="btn btn-primary" id="PayBtn" />
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" class="init">
        $(document).ready(function() {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
            var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();
            $('.heldDate').datetimepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                //startDate: startDate,
                //endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4,

            });
            $("#Program option").remove();
            $('#Program').append("<option value=''>All Program</option>");
            $('#Program').append("<option value='-1'>Common</option>");
            $("#Session option").remove();
            $('#Session').append("<option value=''>All Session</option>");
            $('#Session').append("<option value='-1'>Common</option>");
            $("#heldBranch option").remove();
            $('#heldBranch').append("<option value=''>All Branch</option>");
            $('#heldBranch').append("<option value='-1'>Common</option>");
            //dataTableRender();
            $(document).on('click', '#ShowHide', function (e) { ShowHide(); });
        });

        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#teacherPaymentSearchPanel').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#teacherPaymentSearchPanel').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        function dataTableRender() {
            ShowHide();
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "bSort": false,
                //stateSave: false,
                order: [[0, "asc"]],
                ajax: {
                    url: '/Teachers/TeacherPayment/GenerateTeacherPaymentList',
                    type: 'POST',
                    data: function(d) {
                        //d.teacherName = $('#TeacherName').val();
                        d.tpin = $('#TeacherTpin').val();
                        d.heldDate = $('#HeldDate').val();
                        d.classType = $('#classType').val();
                        d.organization = $('#Organization').val();
                        //d.paymentType = $("#PaymentType").val();
                        d.program = $("#Program").val();
                        d.session = $("#Session").val();
                        d.branch = $("#heldBranch").val();
                        d.campus = $("#heldCampus").val();
                        d.paymentStatus = $("#paymentStatus").val();
                        d.searchOn =  $("#searchOn").val();
                    }
                }
            });
        }

        function openUrl(url) {
            window.open(url);
        }

        $(document).on("click", "#export", function() {
            var urlParam = {
                tpin: $('#TeacherTpin').val(),
                //teacherName: $('#TeacherName').val(),
                heldDate: $('#HeldDate').val(),
                classType: $('#classType').val(),
                organization: $('#Organization').val(),
                program: $('#Program').val(),
                session: $('#Session').val(),
                branch : $("#heldBranch").val(),
                campus: $("#heldCampus").val(),
                paymentStatus: $("#paymentStatus").val(),
                searchOn: $("#searchOn").val()
            };

            var url = "@Url.Action("ExportTeacherPaymentList", "TeacherPayment", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            //console.log(url);
            window.open(url);
        });
        $(document).on("click", "#search", function () {
            $("#teacherPaymentDataTable").show();
            dataTableRender();
            $("#export").show();
        });

        $(document).on("click", ".payNow", function () {
            var selectedTeacher = $(this).attr("data-teacher");
            var selectedOrganization = $(this).attr("data-organization");
            if ($(this).is(':checked')) {

                $(".payNow").each(function() {
                    var currentTeacher = $(this).attr("data-teacher");
                    var currentOrganization = $(this).attr("data-organization");
                    if (selectedTeacher != currentTeacher || currentOrganization != selectedOrganization) {
                        $(this).prop("disabled", true);
                        // $("input.group1").attr("disabled", true);
                    }
                });
            }
            else {
                var ischecked = 0;
                $(".payNow:checked").each(function () {
                    var currentTeacher = $(this).attr("data-teacher");
                    var currentOrganization = $(this).attr("data-organization");
                    if (selectedTeacher == currentTeacher && currentOrganization == selectedOrganization) {
                        // $(this).prop("disabled", true);
                        ischecked = ischecked + 1;
                    }
                });
                if (ischecked > 0) {
                    $(".payNow").each(function() {
                        var currentTeacher = $(this).attr("data-teacher");
                        var currentOrganization = $(this).attr("data-organization");
                        if (selectedTeacher != currentTeacher || currentOrganization != selectedOrganization) {
                            $(this).prop("disabled", true);
                        }
                    });
                }
                else {
                    $(".payNow").removeAttr("disabled");
                }
            }
        });

        $(document).on("click", "#PayBtn", function () {
            //$(".payNow")
            $("#teacherPaymentLastDiv").remove();
            var teacherPaymentViewModel = {};
            var teacherPaymentDetailsViewModelArray = [];
            var isError = 0;
            $(".payNow:checked").each(function () {
                var currentTeacher = $(this).attr("data-teacher");
                var currentOrganization = $(this).attr("data-organization");
                var isValid = 1;
                if (teacherPaymentViewModel.hasOwnProperty("OrganizationId")) {
                    if (teacherPaymentViewModel.OrganizationId != currentOrganization) {
                        isError = isError + 1;
                        isValid = 0;
                    }
                }
                else {
                    teacherPaymentViewModel["OrganizationId"] = currentOrganization;
                }
                if (teacherPaymentViewModel.hasOwnProperty("TeacherId")) {
                    if (teacherPaymentViewModel.TeacherId != currentTeacher) {
                        isError = isError + 1;
                        isValid = 0;
                    }
                }
                else {
                    teacherPaymentViewModel["TeacherId"] = currentTeacher;
                }

                if (isValid == 1) {
                    var teacherPaymentDetailsViewModel = {};
                    teacherPaymentDetailsViewModel["Id"] = $(this).attr("Id");
                    teacherPaymentDetailsViewModel["ActivityType"] = $(this).attr("data-activityType");
                    teacherPaymentDetailsViewModelArray.push(teacherPaymentDetailsViewModel);
                }

            });
            
            if (teacherPaymentDetailsViewModelArray.length>0) {
                if (isError == 0) {
                    $(".customMessage ").html("");
                    teacherPaymentViewModel["TeacherPaymentDetailsViewModel"] = teacherPaymentDetailsViewModelArray;
                    var teacherPaymentViewModels = JSON.stringify(teacherPaymentViewModel);
                    console.log(teacherPaymentViewModel);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Teachers/TeacherPayment/TeacherPaymentSecond",
                        //cache: false,
                        //async: true,
                        //dataType: "json",
                        //contentType: "application/json",
                        data: { teacherPaymentViewModels: teacherPaymentViewModels },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                          //  console.log(result);
                            if (result.hasOwnProperty("IsSuccess")) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });

                            } else {
                                //$('#teacherPaymentSearchPanel').show();
                                //$("#teacherPaymentDataTable").remove();
                                //$("#ShowHide").find(".panel-title").html("Teacher Payment");
                                //$("#ShowHide").removeAttr("id");
                                //$(".administrationBodyContent").html(result);
                                $('#teacherPaymentSearchPanelFirstDiv').hide();
                                $("#teacherPaymentDataTable").hide();
                                var html = '<div class="panel panel-primary" id="teacherPaymentLastDiv"><div class="panel-heading"><h4 class="panel-title">Teacher Payment</h4></div><div class="panel-body" id="teacherPaymentPanel">' + result + '</div></div>';
                                $(html).insertAfter("#teacherPaymentSearchPanelFirstDiv");
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(jqXHR.status);
                            //console.log(textStatus);
                            //console.log(errorThrown);
                        }
                    });
                }
                else {
                    $.fn.customMessage({
                        displayMessage: "Something Went Wrong !!!",
                        displayMessageType: "e",
                    });
                }
            } else {
                $.fn.customMessage({
                    displayMessage: "Please check at least one teacher",
                    displayMessageType: "e",
                });
            }
            
        });

        $(document).on("click", "#PayBtnFinal", function () {
            var willreopen = false;
            var link = '';
            var fromPaidBranch = $("#Branch").val();
            var teacherPaymentViewModels = $("#teacherPaymentViewModels").val();
            if (teacherPaymentViewModels != "" && fromPaidBranch != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Teachers/TeacherPayment/TeacherPaymentSecond",
                    //cache: false,
                    async: false,
                    //dataType: "json",
                    //contentType: "application/json",
                    data: { teacherPaymentViewModels: teacherPaymentViewModels, fromPaidBranch: fromPaidBranch,actionString:"finalSubmission" },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            willreopen = true;
                            //    window.location = $("body").attr("data-project-root") + "Teachers/TeacherPayment/Index" + "?message=" + result.AdditionalValue;

                            link = $("body").attr("data-project-root") + "Teachers/TeacherPayment/ViewTeacherPayment" + "?voucherNo=" + result.voucherNo;
                            var html = '<div  class="form-group"><a class="btn btn-primary" id="viewTeacherVoucherDetails" target="_blank" href="' + link + '">Last Voucher [' + result.voucherNo + ']</a></div>';
                            $('#teacherPaymentSearchPanelFirstDiv').show();
                            $("#teacherPaymentDataTable").show();
                            $("#teacherPaymentLastDiv").remove();
                            $("#viewTeacherVoucherDetails").remove();
                            dataTableRender();
                            $.fn.customMessage({
                                displayMessage: result.successMessageFinal,
                                displayMessageType: "success",
                            });
                            $(html).insertAfter("#teacherPaymentDataTable");
                            // $(html).insertBefore("#teacherPaymentSearchPanelFirstDiv");
                           
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.successMessageFinal,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });

            } else {
                if (fromPaidBranch == "") {
                    $.fn.customMessage({
                        displayMessage: "Paid from branch is required",
                        displayMessageType: "e",
                    });
                }
                else {
                    $.fn.customMessage({
                        displayMessage: "Something Went Wrong !!!",
                        displayMessageType: "e",
                    });
                }
               
            }
            if (willreopen) {
                openUrl(document.location.origin + link);
            }
        });

        $("#Organization").change(function () {

            $("#Program option").remove();
            $('#Program').append("<option value=''>All Program</option>");
            $('#Program').append("<option value='-1'>Common</option>");

            $("#heldBranch option").remove();
            $('#heldBranch').append("<option value=''>All Branch</option>");
            $('#heldBranch').append("<option value='-1'>Common</option>");

            $("#Session option").remove();
            $('#Session').append("<option value=''>All Session</option>");
            $('#Session').append("<option value='-1'>Common</option>");
            var organizationId = $(this).val();
            if ($(this).val() != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    cache: false,
                    async: true,
                    data: { "organizationIds": organizationId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            //$('#Program').append("<option value='-1'>Common</option>");
                            $.each(response.returnProgramList, function (i, v) {
                                $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                            //load Branch
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                                cache: false,
                                async: true,
                                data: { organizationIds: organizationId, isAuthorized: true },
                                beforeSend: function () {
                                    //$.blockUI({
                                    //    timeout: 0,
                                    //    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    //});
                                },
                                success: function (response2) {
                                    //$.unblockUI();
                                    if (response2.IsSuccess) {
                                        //$('#Session').append("<option value='-1'>Common</option>");
                                        $.each(response2.returnBranchList, function (i, v) {
                                            $('#heldBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function () {
                                    //$.unblockUI();
                                },
                                error: function (result) {
                                    //$.unblockUI();
                                    console.log("Failed -----");
                                }
                            });
                            //end load Branch

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                    }
                });
            }
        });

        $("#Program").change(function () {
            $("#heldBranch option").remove();
            $('#heldBranch').append("<option value=''>All Branch</option>");
            $('#heldBranch').append("<option value='-1'>Common</option>");
            var organizationId = $("#Organization").val();
            var programId = $("#Program").val();
            if (organizationId != "" && programId != "") {
                if (programId == "-1") {
                    programId = "";
                }
                //$(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            //$('#Session').append("<option value='-1'>Common</option>");
                            $.each(response.returnBranchList, function (i, v) {
                                $('#heldBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

        $("#heldBranch").change(function () {
            $("#heldCampus option").remove();
            $('#heldCampus').append("<option value=''>All Campus</option>");
            $('#heldCampus').append("<option value='-1'>Common</option>");
            var organizationId = $("#Organization").val();
            var programId = $("#Program").val();
            var branchId = $("#heldBranch").val();
            //var campusId = $("#heldCampus").val();
            if (organizationId != "" && programId != "" && branchId != "") {
                if (branchId == "-1") {
                    branchId = "";
                }
                //$(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, programIds: programId,branchIds:branchId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            //$('#Session').append("<option value='-1'>Common</option>");
                            $.each(response.returnCampusList, function (i, v) {
                                $('#heldCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

    </script>

}