﻿@using System.Drawing
@using UdvashERP.BusinessModel.Entity.Teachers
@using UdvashERP.Services.Helper
@model UdvashERP.BusinessModel.Entity.Teachers.TeacherPayment

@{
    ViewBag.Title = "Teacher Payment Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css" media="print">
    @@page {
        size: auto;
        margin: 0cm;
    }
    @@media print {
        body {
            margin-top: -170px !important;
        }
    }
    tr.footerTable td:first-child {
        border-left: 0px solid #000 !important;
        border-bottom: 0px solid #000 !important;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"> Teacher Payment Report</h4>
    </div>
    <div class="panel-body">
        @if (Model != null)
        {
            var moneyRtopImage = Model.PaidFromBranch.Organization.ReportImageUrl;
            var moneyRtopOrgImage = Model.PaidFromBranch.Organization.LogoImageUrl;

            double dpiX, dpiY;

            using (Graphics graphics = Graphics.FromHwnd(IntPtr.Zero))
            {
                dpiX = graphics.DpiX;
                dpiY = graphics.DpiY;
            }
            double pixelsWidth = dpiY * 7.5;
            double pixelsHeight = dpiX * 4.69;

            var headerImageWidth = (.49 * pixelsWidth);

            <div id="TeacherPaymentContent">
                <table class="table col-md-12 table-responsive" style="border: 0px;">
                    <tr>
                        <td class="col-md-2 headImage" style="border: 0px;" align="right">
                            <div class="text-right">
                                <img src="@moneyRtopOrgImage" width="100px" />
                            </div>
                        </td>
                        <td class="col-md-8 teacherPrintHeader" style="border: 0px;" align="left">
                            <div class="text-center">
                                <img src="@moneyRtopImage" width="@headerImageWidth" />
                            </div>
                            <div class="text-center">
                                <h4><strong>TEACHER'S PAYMENT</strong></h4>
                            </div>
                            <div class="text-center">
                                <h5><strong>Voucher No.:&nbsp;@Model.VoucherNo</strong></h5>
                            </div>
                        </td>
                        <td class="col-md-2" style="border: 0px;"></td>
                    </tr>
                </table>

                <table class="table-bordered table-hover table tablehead " style="width: 100%">
                    <tr>
                        <td style="width: 12%; border-right: 0px; text-align: left;">Teacher PIN</td>
                        <td style="width: 2%; border-left: 0px; border-right: 0px;">:</td>
                        <td style="width: 80%; border-left: 0px; text-align: left;">@Model.Teacher.Tpin</td>
                    </tr>
                    <tr>
                        <td style="width: 12%; border-right: 0px; text-align: left;">Teacher Name</td>
                        <td style="width: 2%; border-left: 0px; border-right: 0px;">:</td>
                        <td style="width: 80%; border-left: 0px; text-align: left;">@Model.Teacher.DisplayTeacherName</td>
                    </tr>
                    <tr>
                        <td style="width: 12%; border-right: 0px; text-align: left;">Payment Date</td>
                        <td style="width: 2%; border-left: 0px; border-right: 0px;">:</td>
                        <td style="width: 80%; border-left: 0px; text-align: left;">@Model.PaymentDate.ToString("dd MMM, yyyy")</td>
                    </tr>
                    <tr>
                        <td style="width: 12%; border-right: 0px; text-align: left;">Paid From</td>
                        <td style="width: 2%; border-left: 0px; border-right: 0px;">:</td>
                        <td style="width: 80%; border-left: 0px; text-align: left;">@Model.PaidFromBranch.Name</td>
                    </tr>
                </table>

                <table class="table-bordered table table-hover" id="tableContent" style="margin-top: 20px; width: 100%">
                    <tr>
                        <th style="width: 113px;">Date</th>
                        <th style="">Description</th>
                        <th style="width: 200px;">Program & Session</th>
                        <th style="width: 100px">Quantity</th>
                        <th style="width: 130px">Amount</th>
                    </tr>
                    @foreach (TeacherPaymentDetails teacherPaymentDetails in Model.TeacherPaymentDetails)
                    {
                        <tr class="tecCon">
                            <td>@teacherPaymentDetails.SubmissionHeldDate.ToString("dd MMM, yyyy")</td>
                            <td style="overflow-wrap: break-word;">@teacherPaymentDetails.Description</td>
                            <td>

                                @if (teacherPaymentDetails.Program != null)
                                {
                                    <span>@teacherPaymentDetails.Program.Name</span>
                                }
                                else
                                {
                                    <span>Common Program</span>
                                }
                                @if (teacherPaymentDetails.Session != null)
                                {
                                    <span>&nbsp;-&nbsp;@teacherPaymentDetails.Session.Name</span>
                                }
                                else
                                {
                                    <span>&nbsp;-&nbsp;Common Session</span>
                                }
                            </td>
                            <td>
                                @if (teacherPaymentDetails.Quantity > 0)
                                {
                                    <span>@teacherPaymentDetails.Quantity</span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>
                            <td style="text-align: right">@teacherPaymentDetails.Amount &nbsp;</td>
                        </tr>
                    }
                    <tr class="footerTable">
                        <td colspan="3" style="text-align: left;">&nbsp; <strong> Taka (In Word) : </strong> @CommonHelper.DecimalToWords(Model.TotalPaidAmount)</td>
                        <td style="text-align: right; font-weight: bold;">Total : &nbsp;</td>
                        <td style="text-align: right; font-weight: bold;">@Model.TotalPaidAmount &nbsp;</td>
                    </tr>
                </table>

                <table class="table" style="border: 0px; margin-top: 60px">
                    <td style="border: 0px;" class="pull-left">
                        <div style="border-top: 1px solid #000000; padding-top: 1px; text-align: center; width: 200px;  font-weight: bold;">Received By</div>
                    </td>
                    <td style="border: 0px;" class="pull-right rightText">
                        <div style="border-top: 1px solid #000000; padding-top: 1px; text-align: center; width:200px; font-weight: bold;">@ViewBag.UserFullName</div>
                    </td>
                </table>
            </div>
            <p style="text-align: center">
                <input type="button" id="Print" value="Print" class="btn btn-primary" />
            </p>
        }
        else
        {
            <p>No Voucher Information found with this Voucher No.</p>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">
        //New Print Function
        $(document).ready(function() {
            $('#Print').click(function () {
                $('#TeacherPaymentContent').printThis({
                    debug: false,               
                    importCSS: false,            
                    importStyle: false,         
                    printContainer: true,
                    loadCSS: "../Content/teacherPrint.css",
                    pageTitle: "",             
                    removeInline: false,      
                    header: null,               
                    formValues: true            
                });
            });
        });
        //function printDiv(divName) {
        //    //Full Div Font Style
        //    $("#TeacherPaymentContent").css({ "margin-top": "-170px" });

        //    //Print Content
        //    var printContents = $("#" + divName).html();
        //    var restorepage = $('body').html();

        //    //Remove others element without print area
        //    $("#sidebar").empty();
        //    $(".breadcrumb").empty();
        //    $("#main-body-content").empty();
        //    $('body').find("footer").empty();
        //    $('body').find("hr").remove();
        //    $("#main-body-content").html(printContents);
        //    window.print(printContents);

        //    //Append previous table as first time
        //    $('body').html(restorepage);
        //    $("#TeacherPaymentContent").css({ "margin-top": "0px" });

        //}
    </script>
}