﻿@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceSynchronizerViewModel
@{
    ViewBag.Title = "Update Synchronizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "AttendanceSynchronizer", FormMethod.Post, new { @id = "attendanceSynchronizerForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Update Synchronizer</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.Id)
                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Organization)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Branch, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Branch)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Campus, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Campus, (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Campus)
                            </div>
                        </div>
                        <div class="col-md-6   form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Synchronizer Name" } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.SynchronizerKey, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.SynchronizerKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Synchronizer Key" } })
                                @Html.ValidationMessageFor(model => model.SynchronizerKey)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.DataCallingInterval, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.DataCallingInterval, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Data Calling Interval" } })
                                @Html.ValidationMessageFor(model => model.DataCallingInterval)
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row form-group">
                                @Html.LabelFor(model => model.OperatorContact, new { @class = "control-label col-md-4" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.OperatorContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Operator Contact" } })
                                    @Html.ValidationMessageFor(model => model.OperatorContact)
                                </div>
                            </div>
                            <br/>
                            <div class="row form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-7">
                                    @Html.DropDownListFor(x => x.Status, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.IpWhiteList, new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.IpWhiteList, new { @class = "form-control", @placeholder = "Ip White List" })
                                @Html.ValidationMessageFor(model => model.IpWhiteList)
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-primary" id="save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>@Html.ActionLink("Back to Manage", "Index")</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).on('change', '#Organization', function (e) {
            $("#Branch option").remove();
            $('#Branch').append("<option value=''>Select Branch</option>");
            var orgId = $("#Organization").val();
            if (orgId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnBranchList, function (i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

        $(document).on('change', '#Branch', function (e) {
            $("#Campus option").remove();
            $('#Campus').append("<option value=''>Select Campus</option>");
            var orgId = $("#Organization").val();
            var branchId = $("#Branch").val();
            if (orgId != "" && branchId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnCampusList, function (i, v) {
                                $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

      
    </script>
}

