﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.AttendanceSynchronizer>
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Manage Attendance Synchronizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>
<div class="form-group">
    @Html.ActionLink("Add Synchronizer", "Create", null, new { @class = "btn btn-primary" })
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Attendance Synchronizer</h3>
    </div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.organizationlist, "--Organization--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchId, "--Branch--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.CampusId, "--Campus--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>@Html.DisplayName("Branch")</th>
                    <th>@Html.DisplayNameFor(model => model.Campus)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.SynchronizerKey)</th>
                    <th>@Html.DisplayNameFor(model => model.DataCallingInterval)</th>
                    <th>@Html.DisplayNameFor(model => model.OperatorContact)</th>
                    <th>@Html.DisplayNameFor(model => model.LastMemberInfoUpdateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.IpWhiteList)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            function dataTableRender() {
                var pageSize = 100;
                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    pageSize = parseInt($('#PageSize').val());
                }
                else {
                    $('#PageSize').val(pageSize);
                }

                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "scrollCollapse": true,
                    "scrollY": "60vh",
                    "bLengthChange": false,
                    "iDisplayLength": pageSize,
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                    order: [[4, "Asc"]],
                    fixedColumns: {
                        leftColumns: 3
                    },
                    ajax: {
                        url: '@Url.Action("Index", "AttendanceSynchronizer")',
                        type: 'POST',
                        data: function (d) {
                            d.organizationId = $('#Organization').val();
                            d.branchId = $('#Branch').val();
                            d.campusId = $('#Campus').val();
                        }
                    }
                });
            }

            dataTableRender();

            $(document).on('change', '#Organization', function (e) {
                $("#Branch option").remove();
                $('#Branch').append("<option value=''>---Branch---</option>");
                var orgId = $("#Organization").val();
                if (orgId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true,isProgramBranSession:false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on('change', '#Branch', function (e) {
                $("#Campus option").remove();
                $('#Campus').append("<option value=''>---Campus---</option>");
                var orgId = $("#Organization").val();
                var branchId = $("#Branch").val();
                if (orgId != "" && branchId!="") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId,branchIds:branchId, isAuthorized: true,isProgramBranSession:false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnCampusList, function (i, v) {
                                    $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on("click", "#search", function () {
                dataTableRender();
            });

            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> ?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/AttendanceSynchronizer/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                //beforeSend: function () {
                                //    $.blockUI({
                                //        timeout: 0,
                                //        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                //    });
                                //},
                                success: function (result) {
                                    //$.unblockUI();
                                    if (result.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Attendance Synchronizer Deleted Successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    }
                                    else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                },
                                //complete: function () {
                                //    $.unblockUI();
                                //},
                                error: function (result) {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Attendance Synchronizer Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            });
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });
        });
    </script>
}
