﻿@model UdvashERP.BusinessModel.Entity.Administration.Branch

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">Are you sure you want to delete this?</h4>
    </div>
    <div class="panel-body">
        <div style="padding-left: 25%">
            <table class="table table-bordered table-hover table-responsive table-striped" style="width: 60%; ">
                <tr>
                    <td style="text-align: center">@Html.DisplayNameFor(model => model.Name)</td>
                    <td style="text-align:  center">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td style="text-align:  center">@Html.DisplayNameFor(model => model.Code)</td>
                    <td style="text-align:  center">@Html.DisplayFor(model => model.Code)</td>
                </tr>
                <tr>
                    <td style="text-align:  center">@Html.DisplayNameFor(model => model.Rank)</td>
                    <td style="text-align:  center">@Html.DisplayFor(model => model.Rank)</td>
                </tr>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
        <br />
        <div class="form-group">
            <p>@Html.ActionLink("Back To Index", "Index", "Branch")</p>
        </div>
    </div>
</div>