﻿@model UdvashERP.BusinessModel.ViewModel.Hr.LoanManagementViewModel
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Loan Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Zakat div*@
<div id="zakatDiv" style="display: none">
    @*    @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ZakatPaymentType, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(x => x.ZakatPaymentType, (SelectList)ViewBag.PaymentTypeList, "Select Payment Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZakatPaymentType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ZakatAmount, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.ZakatAmount, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZakatAmount, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ZakatEffectiveDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.ZakatEffectiveDate, null, new { htmlAttributes = new { @class = "form-control", data_val = false, @readonly = "readonly", @Value = @ViewBag.EffectiveDate } })
                @*                @Html.ValidationMessageFor(model => model.ZakatEffectiveDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ZakatClosingDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.ZakatClosingDate, null, new { htmlAttributes = new { @class = "form-control", data_val = false, @readonly = "readonly", @Value = @ViewBag.CloasingDate } })
                @*                @Html.ValidationMessageFor(model => model.ZakatClosingDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.Label("Total Amount", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Editor("ZakatTotalAmount", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ZakatFundedBy, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(x => x.ZakatFundedBy, (SelectList)ViewBag.FundedByList, "Funded By", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZakatFundedBy, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

@*Csr div*@
<div id="csrDiv" style="display: none">
    @*    @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <input type="hidden" id="currentLoan" value="0" /><input type="hidden" id="currentRefund" value="0" />
    <div class="row">
        <div class="form-group col-md-6">@Html.LabelFor(x => x.CsrPaymentType, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(x => x.CsrPaymentType, (SelectList)ViewBag.PaymentTypeList, "Select Payment Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CsrPaymentType, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.CsrAmount, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.CsrAmount, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CsrAmount, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.CsrEffectiveDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.CsrEffectiveDate, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", data_val = false, @Value = @ViewBag.EffectiveDate } })
                @*                @Html.ValidationMessageFor(model => model.CsrEffectiveDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.CsrClosingDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.CsrClosingDate, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", data_val = false, @Value = @ViewBag.CloasingDate } })
                @*                @Html.ValidationMessageFor(model => model.CsrClosingDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.Label("Total Amount", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Editor("CsrTotalAmount", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
</div>

@*loan div*@
<div id="loanDiv" style="display: none">
    @*    @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="row">
        <div class="form-group col-md-6">
            @Html.Label("Current Loan Balance", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Editor("CurrentLoanBalance", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Current Monthly Refund", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Editor("CurrentMonthlyRefund", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.NewLoanApprovedAmount, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.NewLoanApprovedAmount, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewLoanApprovedAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Total Loan Balance", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Editor("TotalLoanBalance", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.NewMonthlyRefundAmount, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.NewMonthlyRefundAmount, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewMonthlyRefundAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.NewRefundStartDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(x => x.NewRefundStartDate, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", data_val = false } })
                @*                @Html.ValidationMessageFor(model => model.NewRefundStartDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.Label("Approximate Closing Month", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Editor("ApproximateClosingDate", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", data_val = false } })
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("Create", "LoanManagement", FormMethod.Post, new { id = "createLoanApplicationForm", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Loan Management
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#la" aria-controls="la" role="tab" data-toggle="tab"> Apply For Loan </a></li>
                <li role="presentation"><a href="#rla" id="rlas" aria-controls="rla" role="tab" data-toggle="tab"> History </a></li>
            </ul>
            <br />
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="la">
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(x => x.Pin, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(x => x.Pin, null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("Name", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("Department", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("Branch", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("Organization", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(x => x.RequestedAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(x => x.RequestedAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RequestedAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Branch(s)", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("BranchSalary", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Campus(S)", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("CampusSalary", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>*@

                    <div class="row">
                        @*<div class="form-group col-md-6">
                            @Html.Label("Organization(S)", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.Editor("OrganizationSalary", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>*@
                        <div class="form-group col-md-12">
                            @Html.LabelFor(x => x.Reason, htmlAttributes: new { @class = "control-label", style = "width: auto; margin-left:18px;" })
@*                            <div class="col-md-9">*@
                                @Html.TextBoxFor(x => x.Reason,null, new { @class = "form-control", style = "margin-left:5.6%;max-width:82.5%;display:inline-block;" })
@*                            </div>*@
                        </div>
                    </div>

                    @*zakat panel*@
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <input type="checkbox" id="zakatCheckbox" /> Zakat
                        </div>
                        <div class="panel-body" id="zakatPanelBody" style="display: none;">

                        </div>
                    </div>

                    @*csr panel*@
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <input type="checkbox" id="csrCheckbox" /> CSR
                        </div>
                        <div class="panel-body" id="csrPanelBody" style="display: none;">
                        </div>
                    </div>

                    @*loan panel*@
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <input type="checkbox" id="loanCheckbox" /> Loan
                        </div>
                        <div class="panel-body" id="loanPanelBody" style="display: none;">
                        </div>
                    </div>
                    <div class="row text-center">
                        <input type="button" class="btn btn-primary" id="createLoanBtn" value="Submit" />
                    </div>
                </div>

                @*history tab*@
                <div role="tabpanel" class="tab-pane" id="rla">
                    @Html.Action("LoanApplicationHistory", "LoanManagement")
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script>

    </script>
    <script src="~/Scripts/Hr/Loan/Zakat.js"></script>
    <script src="~/Scripts/Hr/Loan/Csr.js"></script>
    <script src="~/Scripts/Hr/Loan/LoanManagement.js"></script>

}
