﻿@using iTextSharp.text.pdf.qrcode
@model UdvashERP.BusinessModel.Dto.Hr.MemberLoanDetailsDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Loan Management</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-2">Pin</div>
                <div class="col-md-4">@Model.Pin</div>
                <div class="col-md-2">Name</div>
                <div class="col-md-4">@Model.Name</div>

            </div>
            <div class="form-horizontal">
                <div class="col-md-2">Department(Job)</div>
                <div class="col-md-4">@Model.JobDepartment</div>
                <div class="col-md-2">Branch(Job)</div>
                <div class="col-md-4">@Model.JobBranch</div>

            </div>
            <div class="form-horizontal">
                <div class="col-md-2">Organization(Job)</div>
                <div class="col-md-4">@Model.JobOrganization</div>
                <div class="col-md-2">Department(Salary)</div>
                <div class="col-md-4">@Model.JobDepartment</div>

            </div>
            <div class="form-horizontal">
                <div class="col-md-2">Branch(Salary)</div>
                <div class="col-md-4">@Model.JobBranch</div>
                <div class="col-md-2">Requested Amount</div>
                <div class="col-md-4">@Model.RequestedAmount</div>
            </div>

            <div class="form-horizontal">
                <div class="col-md-2">Reason</div>
                <div class="col-md-4">@Model.Reason</div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>


        @if (Model.PaymentTypeZakat == "undefined")
    {
        <div class="panel-heading">
            <input type="checkbox" disabled="disabled"/> <span>&nbsp;&nbsp; Zakat </span>
            
        </div>
            <div class="panel-body text-center">
                <div class="row">
                    No Zakat Found!
                </div>
                </div>
                }
                else
                {
                <div class="panel-heading">
                    <input type="checkbox" disabled="disabled" checked="checked" /> <span>&nbsp;&nbsp; Zakat </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-md-2">Payment Type</div>
                            <div class="col-md-4">@Model.PaymentTypeZakat</div>
                            <div class="col-md-2">Amount</div>
                            <div class="col-md-4">@Model.AmountZakat</div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-2">Effective From</div>
                            <div class="col-md-4">@Model.EffectiveFromZakat.ToString("Y")</div>
                            <div class="col-md-2">Colsing Month</div>
                            <div class="col-md-4">@Model.ClosingMonthZakat.ToString("Y")</div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-2">Total Amount</div>
                            <div class="col-md-4">@Model.TotalAmountZakat</div>
                            <div class="col-md-2">Funded By</div>
                            <div class="col-md-4">@Model.FundedByZakat</div>
                        </div>
                    </div>

                </div>

                }
                @if (Model.PaymentTypeCsr == "undefined")
{
    <div class="panel-heading">
        <input type="checkbox" disabled="disabled"/> <span>&nbsp;&nbsp; CSR </span>
                        
    </div>
                    <div class="panel-body text-center">
                <div class="row">
                    No CSR Found!
                </div>
                </div>
}
else
{
                    <div class="panel-heading">
                        <input type="checkbox" disabled="disabled" checked="checked" /> <span>&nbsp;&nbsp; CSR </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-md-2">Payment Type</div>
                                <div class="col-md-4">@Model.PaymentTypeCsr</div>
                                <div class="col-md-2">Amount</div>
                                <div class="col-md-4">@Model.AmountCsr</div>
                            </div>
                            <div class="form-horizontal">
                                <div class="col-md-2">Effective From</div>
                                <div class="col-md-4">@Model.EffectiveFromCsr.ToString("Y")</div>
                                <div class="col-md-2">Colsing Month</div>
                                <div class="col-md-4">@Model.ClosingDateCsr.ToString("Y")</div>
                            </div>
                            <div class="form-horizontal">
                                <div class="col-md-2">Total Amount</div>
                                <div class="col-md-4">@Model.TotalAmountCsr</div>
                                <div class="col-md-2">Approved Date</div>
                                <div class="col-md-4">@Model.ApprovedDate.ToString("Y")</div>
                            </div>
                        </div>
                    </div>
    }


                <div class="panel-heading">
                    
                        <input type="checkbox" disabled="disabled" /> <span>&nbsp;&nbsp; Loan </span>
                   
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-md-2">Loan Approved</div>
                            <div class="col-md-4">@Model.LoanApproved</div>
                            <div class="col-md-2">Monthly Refund</div>
                            <div class="col-md-4">@Model.MonthlyRefund</div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-2">Refund Start</div>
                            @if (@Model.RefundStart == new DateTime(01, 01, 01))
                            {
                               <div class="col-md-4">N/A</div> 
                            }
                            else
                            {
                                <div class="col-md-4">@Model.RefundStart.ToString("Y")</div> 
                            }
                            <div class="col-md-2"></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-2">Approved BY</div>
                            <div class="col-md-4">@Model.ApprovedBy</div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-2">Approved Date</div>
                            <div class="col-md-4">@Model.ApprovedDate.ToString("Y")</div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
