﻿@model UdvashERP.BusinessModel.ViewModel.Hr.LoanOpeningViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/bootstrap-multiselect")

@{
    ViewBag.Title = "LoanOpening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Loan Opening balance</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Pin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Designation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Branch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoanBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdjustmentBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdjustmentStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>
                        <button type="button" id="plus" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>

                <tr class="rowclass">

                    <td>
                        <input type="text" class="form-control Pin numbersOnly" required="required" />
                    </td>
                    <td>
                        <input type="text" class="form-control Name" required="required" disabled="disabled" />
                    </td>
                    <td>
                        <input type="text" class="form-control Designation" required="required" disabled="disabled" />
                    </td>
                    <td>
                        <input type="text" class="form-control Branch" required="required" disabled="disabled" />
                    </td>
                    <td>
                        <input type="text" class="form-control LoanBalance" required="required" />
                    </td>
                    <td>
                        <input type="text" class="form-control AdjustmentBalance" required="required" />
                    </td>
                    <td>
                        <input type="text" class="form-control AdjustmentStart form_datetime" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" class="form-control Remarks" required="required" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-default minus" aria-label="Left Align">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Submit" class="btn btn-primary" id="submitBtn" />
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/bootstrap-multiselect")

    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript">

        $(document).on("focus", "input.form_datetime", function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = today.getFullYear().toString() + "-" + (today.getMonth()) + "-" + "01";
            $(this).datetimepicker({
                startDate: new Date(),
                format: "M yyyy",
                startView: "year",
                minView: "year",
                autoclose: true
            });
        });

        function LoanOpeningViewModel() {
            this.Pin = 0;
            this.Name = "";
            this.Designation = "";
            this.Branch = "";
            this.LoanBalance = 0;
            this.AdjustmentBalance = 0;
            this.AdjustmentStart = "";
            this.Remarks = "";
        };

        $(document).ready(function () {
            $(document).on("click", "#plus", function () {
                var innerhtml = $('.rowclass').html();
                innerhtml = '<tr class="rowclass">' + innerhtml + '</tr>';
                $('.rowclass').last().after(innerhtml);
                $('.rowclass').last().find('.AdjustmentBalance').next("span").remove();
            });

            $(document).on("click", ".minus", function () {
                if ($('.rowclass').length > 1) {
                    $(this).closest('.rowclass').remove();
                }
            });
        });

        $(document).ready(function () {
            $('.rowclass input[type=text]').on("change", function (e) {
                console.log("fired");
                var filed = $(this);
                console.log(filed);
                if ($(this).val().length > 0) {
                    $(this).removeClass('highlight');
                }
            });
        });

        $(document).on('click', '#submitBtn', function () {
            var isValid = true;
            var openingViewModel = [];
            $('.rowclass').each(function (e) {
                var parentTr = $(this);
                console.log(parentTr);
                var pin = parentTr.find('.Pin').val();
                var loanBalance = parentTr.find('.LoanBalance').val();
                var adjustmentBalance = parentTr.find('.AdjustmentBalance').val();
                var startTime = parentTr.find('.AdjustmentStart').val();
                var remarks = parentTr.find('.Remarks').val();
                console.log(pin + "-->" + loanBalance + "-->>" + adjustmentBalance + "-->" + startTime + "-->" + remarks);
                if (pin.length <= 0) {
                    parentTr.find('.Pin').addClass('highlight');
                    isValid = false;
                }
                if (loanBalance.length <= 0) {
                    parentTr.find('.LoanBalance').addClass('highlight');
                    isValid = false;
                }
                if (adjustmentBalance.length <= 0) {
                    parentTr.find('.AdjustmentBalance').addClass('highlight');
                    isValid = false;
                }
                if (startTime.length <= 0) {
                    parentTr.find('.AdjustmentStart').addClass('highlight');
                    isValid = false;
                }
                if (remarks.length <= 0) {
                    parentTr.find('.Remarks').addClass('highlight');
                    isValid = false;
                }
                if (parseFloat(loanBalance) < parseFloat(adjustmentBalance)) {
                    parentTr.find('.AdjustmentBalance').next("span").remove();
                    parentTr.find('.AdjustmentBalance').after("<span style='color:red;'>Adjustment balance is greater than loan balance</span>");
                    parentTr.find('.AdjustmentBalance').addClass('highlight');
                    isValid = false;
                }
                else {
                    parentTr.find('.AdjustmentBalance').removeClass('highlight');
                    parentTr.find('.AdjustmentBalance').next("span").remove();
                }
                if (isValid == true) {
                    var loanObj = new LoanOpeningViewModel();
                    loanObj.Pin = pin;
                    loanObj.LoanBalance = loanBalance;
                    loanObj.AdjustmentBalance = adjustmentBalance;
                    loanObj.AdjustmentStart = startTime;
                    loanObj.Remarks = remarks;
                    openingViewModel.push(loanObj);
                    console.log(openingViewModel);

                } else {
                    return;
                }
            });
            if (openingViewModel.length > 0) {
                $.ajax({
                    url: "/Hr/LoanManagement/LoanOpening",
                    type: "POST",
                    data: { "openingViewModel": openingViewModel },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: data.Message,
                                displayMessageType: "s"
                            });
                            //var stdProgramId = data.Message;
                            $(".Pin").val("");
                            $(".Name").val("");
                            $(".Designation").val("");
                            $(".Branch").val("");
                            $(".LoanBalance").val("");
                            $(".AdjustmentBalance").val("");
                            $(".AdjustmentStart").val("");
                            $(".Remarks").val("");
                        } else {
                            $.fn.customMessage({
                                displayMessage: data.Message,
                                displayMessageType: "e"
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (data) {
                        bootbox.alert(data.Message).css('margin-top', (($(window).height() / 4)));
                    }
                });
            }
        });

        function TrimString(x) {
            return x.replace(/^\s+|\s+$/gm, '');
        }

        function getDistinctArray(arr) {
            var compareArray = new Array();
            if (arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {
                    if (compareArray.indexOf(arr[i]) == -1) {
                        compareArray.push(arr[i]);
                    }
                }
            }
            return compareArray;
        }

        $(document).on("blur", ".Pin", function () {
            var parentTr = $(this).parent().parent();
            var pin = parentTr.find('.Pin').val();
            console.log(pin);
            console.log($(this).parent().parent().attr("class"));
            var ary = [];

            /*check existing pin*/
            $('.rowclass').each(function (e) {
                var currentTr = $(this);
                var currentPin = currentTr.find('.Pin').val();
                if(currentPin!="")
                ary.push(currentPin);
            });
            console.log(ary);
            var newAry = getDistinctArray(ary);
            console.log(newAry);
            if (newAry.length != ary.length) {
                $.fn.customMessage({
                    displayMessage: "Pin Number Already exist",
                    displayMessageType: "error",
                });
                return;
            }
            $.ajax({
                type: "POST",
                url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/GetTeamMemberInformation",
                cache: false,
                async: true,
                data: { pin: pin, isOrganization: true, isBranch: true, isDepartment: true },
                beforeSend: function () {
                    //$.blockUI({
                    //    timeout: 0,
                    //    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    //});
                },
                success: function (response) {
                    //$.unblockUI();
                    if (response.IsSuccess) {
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/GetMemberSalaryInformation",
                            cache: false,
                            async: true,
                            data: { pin: pin, isOrganization: true, isBranch: true, isName: true, isDesignation: true },
                            success: function (response) {

                                if (response.IsSuccess) {
                                    console.log(response.memberName);
                                    console.log(response.designationName);
                                    console.log(response.branchName);

                                    parentTr.find('.Name').val(response.memberName);
                                    parentTr.find('.Designation').val(response.designationName);
                                    parentTr.find('.Branch').val(response.branchName);
                                } else {
                                    parentTr.find('.Pin').val("");
                                    parentTr.find('.Name').val("");
                                    parentTr.find('.Designation').val("");
                                    parentTr.find('.Branch').val("");
                                    $.fn.customMessage({
                                        displayMessage: "Salary information not found for this team member",
                                        displayMessageType: "error",
                                    });
                                }
                            },
                            error: function (response) {
                            }
                        });
                    } else {
                        $.fn.customMessage({
                            displayMessage: "Enter valid pin",
                            displayMessageType: "error",
                        });
                    }
                },
                complete: function () {
                    //$.unblockUI();
                },
                error: function (response) {
                   
                }
            });
            });

        $(document).on("input onpropertychange", ".AdjustmentBalance", function () {
            var $this = $(this);
            var loanBalance = $this.parent().prev().find('.LoanBalance');
            if (parseFloat($this.val()) > parseFloat(loanBalance.val())) {
                $this.next("span").remove();
                $this.after("<span style='color:red;'>Adjustment balance is greater than loan balance</span>");
            }
            else {
                $this.next("span").remove();
            }
        });

        $(document).on("input onpropertychange", ".LoanBalance", function () {
            var $this = $(this);
            var adjustmentBalance = $this.parent().next().find('.AdjustmentBalance');
            if (parseFloat($this.val()) < parseFloat(adjustmentBalance.val())) {
                adjustmentBalance.next("span").remove();
                adjustmentBalance.after("<span style='color:red;'>Adjustment balance is greater than loan balance</span>");
            }
            else {
                adjustmentBalance.next("span").remove();
            }
        });
    </script>
}