﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.DirectGoodsReceiveViewModel

<div class="col-md-6 form-group">
    @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(x => x.Item, (IEnumerable<SelectListItem>)ViewBag.itemList, "--Select Item--", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
    </div>
</div>