﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.DirectGoodsReceiveViewModel
<div class="row">
    <div class="col-md-6 form-group">
        @Html.LabelFor(model => model.ProgramSession, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownListFor(x => x.ProgramSession, (IEnumerable<SelectListItem>)ViewBag.programSessionList, "--Select Program & Session--", new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.ProgramSession, "", new { @class = "text-danger" })
        </div>
    </div>
</div>