﻿@using UdvashERP.BusinessModel.ViewModel.Teacher
@using Organization = UdvashERP.BusinessModel.Entity.Administration.Organization
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherViewModel
@{
    TeacherViewModel teacherViewModel = ViewBag.teacherViewModel;
    List<long> organizationIdList = new List<long>();
    List<long> previousExtraCuricularActivityIdIdList = new List<long>();
    List<long> wishExtraCuricularActivityIdIdList = new List<long>();
    if (teacherViewModel.TeacherOrganization.Any())
    {
        organizationIdList.AddRange(teacherViewModel.TeacherOrganization.Select(organization => organization.OrganizationId));
    }
    if (teacherViewModel.TeacherPreviousExtraCuricularActivity.Any())
    {
        previousExtraCuricularActivityIdIdList.AddRange(teacherViewModel.TeacherPreviousExtraCuricularActivity.Select(tecTeacherPreviousExtraCuricularActivityViewModel => tecTeacherPreviousExtraCuricularActivityViewModel.ExtraCuricularActivityId));
    }
    if (teacherViewModel.TeacherWishExtraCuricularActivity.Any())
    {
        wishExtraCuricularActivityIdIdList.AddRange(teacherViewModel.TeacherWishExtraCuricularActivity.Select(tecTeacherWishExtraCuricularActivityViewModel => tecTeacherWishExtraCuricularActivityViewModel.ExtraCuricularActivityId));
    }
    long activityPriorityC1 = teacherViewModel.TeacherActivity.Where(x => x.Priority == 1).Select(x => x.ActivityId).SingleOrDefault();
    long activityPriorityC2 = teacherViewModel.TeacherActivity.Where(x => x.Priority == 2).Select(x => x.ActivityId).SingleOrDefault();
    long activityPriorityC3 = teacherViewModel.TeacherActivity.Where(x => x.Priority == 3).Select(x => x.ActivityId).SingleOrDefault();

    long versionPriorityC1 = teacherViewModel.TeacherVersionOfStudyPriority.Where(x => x.Priority == 1).Select(x => x.VersionOfStudyId).SingleOrDefault();
    long versionPriorityC2 = teacherViewModel.TeacherVersionOfStudyPriority.Where(x => x.Priority == 2).Select(x => x.VersionOfStudyId).SingleOrDefault();
    int count = 1;
    int wishCount = 1;
}
<div class="panel panel-body">
    @*@using (Html.BeginForm("EditTeacherPost", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new {@id = "teacherEntryBtn", enctype = "multipart/form-data", @dynamicSubject = "dynamicSubject[]"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <section>
                <fieldset>
                    <legend>Edit Information</legend>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.Hidden("Id", @teacherViewModel.Id)
                    @Html.Hidden("Tpin", @teacherViewModel.Tpin)
                    <div class="form-group">
                        @Html.LabelFor(model => model.NickName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.NickName, new {htmlAttributes = new {@Value = teacherViewModel.NickName, @class = "form-control", @placeholder = "Nick Name"}})
                        </div>
                        @Html.LabelFor(model => model.MobileNumber1, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNumber1, new {htmlAttributes = new {@class = "form-control", @placeholder = "Mobile Number1", @Value = teacherViewModel.MobileNumber1}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNumber2, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNumber2, new {htmlAttributes = new {@class = "form-control", @placeholder = "Mobile Number2", @Value = teacherViewModel.MobileNumber2}})
                        </div>
                        @Html.LabelFor(model => model.Institute, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Institute, new {htmlAttributes = new {@class = "form-control", @placeholder = "Institute", @Value = teacherViewModel.Institute}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Department, new {htmlAttributes = new {@class = "form-control", @placeholder = "Department", @Value = teacherViewModel.Department}})
                        </div>
                        @Html.LabelFor(model => model.HscPassingYear, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.HscPassingYear, new {@class = "form-control", @maxlength = "4", @size = "4", @Value = teacherViewModel.HscPassingYear})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Religion, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Religion, (IEnumerable<SelectListItem>) ViewBag.ReligionList, new {@class = "form-control"})
                        </div>
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>) ViewBag.GenderList, new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Organization *", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <div id="TeacherOrganization">
                                @foreach (Organization organization in ViewBag.OrganizationList)
                                {
                                    if (organizationIdList.Contains(organization.Id))
                                    {
                                        <label>
                                            <input type="checkbox" data-teacherid="@teacherViewModel.Id" value="@organization.Id" id="id-@organization.Id" class="orgName" name="orgName[]" checked="checked"> @organization.ShortName
                                        </label>
                                    }
                                    else
                                    {
                                        <label>
                                            <input type="checkbox" data-teacherid="@teacherViewModel.Id" value="@organization.Id" id="id-@organization.Id" class="orgName" name="orgName[]"> @organization.ShortName
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Activity Priority*", htmlAttributes: new {@class = "control-label col-md-2 "})
                        <div class="col-md-3">
                            @Html.DropDownList("ActivityPriority1", new SelectList(ViewBag.ActivityList, "Id", "Name", activityPriorityC1), "Choice 1", new {@class = "form-control ActivityPriority", @data_priority = "1"})
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("ActivityPriority2", new SelectList(ViewBag.ActivityList, "Id", "Name", activityPriorityC2), "Choice 2", new {@class = "form-control ActivityPriority", @data_priority = "2"})
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("ActivityPriority3", new SelectList(ViewBag.ActivityList, "Id", "Name", activityPriorityC3), "Choice 3", new {@class = "form-control ActivityPriority", @data_priority = "3"})
                        </div>
                    </div>

                    @{
                        Html.RenderPartial("Partial/_TeacherSubjectEditList");
                    }

                    <div class="form-group">
                        @Html.Label("Version Priority*", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-5">
                            @Html.DropDownList("VersionPriority1", new SelectList(ViewBag.VersionOfStudyList, "Key", "Value", versionPriorityC1), new {@class = "form-control VersionPriority", data_priority = "1"})
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownList("VersionPriority2", new SelectList(ViewBag.VersionOfStudyList, "Key", "Value", versionPriorityC2), "Choice 2", new {@class = "form-control VersionPriority", data_priority = "2"})
                        </div>
                    </div>
                </fieldset>
            </section>

            <section>
                <fieldset>
                    <legend>Details Information </legend>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FullName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Full Name", @Value = teacherViewModel.FullName}})
                        </div>
                        @Html.LabelFor(model => model.FatherName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FatherName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Father Name", @Value = teacherViewModel.FatherName}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control ", @type = "Text", @PlaceHolder = "dd/mm/yyyy", @Value = teacherViewModel.DateOfBirth}})
                        </div>
                        @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.BloodGroup, (IEnumerable<SelectListItem>) ViewBag.BloodGroupList, "-Select Blood group--", new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNumberRoommate, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNumberRoommate, new {htmlAttributes = new {@class = "form-control", @placeholder = "Roommate mobile number", @Value = teacherViewModel.MobileNumberRoommate}})
                        </div>
                        @Html.LabelFor(model => model.MobileNumberFather, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNumberFather, new {htmlAttributes = new {@class = "form-control", @placeholder = "Father's Mobile Number", @Value = teacherViewModel.MobileNumberFather}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNumberMother, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNumberMother, new {htmlAttributes = new {@class = "form-control", @placeholder = "Mother's Mobile Number", @Value = teacherViewModel.MobileNumberMother}})
                        </div>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control", @placeholder = "Email", @Value = teacherViewModel.Email}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FacebookId, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FacebookId, new {htmlAttributes = new {@class = "form-control", @placeholder = "Facebook ID", @Value = teacherViewModel.FacebookId}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PresentAddress, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.PresentAddress, 5, 39, new {@class = "form-control", @placeholder = "Present addresss", @Value = teacherViewModel.PresentAddress})
                        </div>
                        @Html.LabelFor(model => model.Area, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Area, new {htmlAttributes = new {@class = "form-control", @placeholder = "Area", @Value = teacherViewModel.Area}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.PermanentAddress, 5, 39, new {@class = "form-control", @placeholder = "Permanent address", @Value = teacherViewModel.PermanentAddress})
                        </div>
                        @Html.LabelFor(model => model.District, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.District, new {htmlAttributes = new {@class = "form-control", @placeholder = "District", @Value = teacherViewModel.District}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Admission Info", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                <tr>
                                    <th>Institute</th>
                                    <th>AT Position</th>
                                    <th>AT Session</th>
                                    <th>Got Subject</th>
                                </tr>
                                @foreach (var tadModel in teacherViewModel.TeacherAdmission)
                                {
                                    <tr class="academicInfo" id="academicInfo-@tadModel.InstituteName">
                                        <input type="hidden" name="TeacherAdmissionId" id="TeacherAdmissionId" value="@tadModel.TeacherAdmissionId"/>
                                        <td class="name">@tadModel.InstituteName</td>
                                        <td><input class="atposition form-control academicInfo-@tadModel.InstituteName numeric" name="atposition[]" type="text" value="@tadModel.AtPosition" placeholder="At Position"/></td>
                                        <td><input class="atsession form-control academicInfo-@tadModel.InstituteName numeric" name="atsession[]" value="@tadModel.AtSession" type="text" placeholder="At Session"/></td>
                                        <td><input class="gotsubject form-control academicInfo-@tadModel.InstituteName" name="gotsubject[]" value="@tadModel.GotSubject" type="text" placeholder="Subject"/></td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherPreviousExtraCuricularActivity, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <table class="table-hover">
                                <tr>
                                    @foreach (var tadModel in ViewBag.PreviousExtraCuricularList)
                                    {
                                        <td class="checkbox col-md-3">
                                            @if (previousExtraCuricularActivityIdIdList.Contains(tadModel.Id))
                                            {

                                                <label>
                                                    <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Id" class="TeacherPreviousExtraCuricularActivity" name="prevactivityName[]" checked="checked"> @tadModel.Name
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Id" class="TeacherPreviousExtraCuricularActivity" name="prevactivityName[]"> @tadModel.Name
                                                </label>
                                            }
                                        </td>

                                        if (count%3 == 0 && count < ViewBag.PreviousExtraCuricularList.Count)
                                        {
                                            @Html.Raw("</tr><tr>")
                                        }
                                        count++;
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group wishList">
                        <div class="col-md-10">
                            <label class="control-label col-md-2"><b>Wish to get attached with</b></label>
                            <table class="table-hover">
                                <tr>
                                    @foreach (var tadModel in ViewBag.WishExtraCuricularList)
                                    {
                                        <td class="checkbox col-md-3">
                                            @if (wishExtraCuricularActivityIdIdList.Contains(tadModel.Id))
                                            {
                                                <label>
                                                    <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Id" class="TeacherWishExtraCuricularActivity" name="wishactivityName[]" checked="checked"> @tadModel.Name
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Id" class="TeacherWishExtraCuricularActivity" name="wishactivityName[]"> @tadModel.Name
                                                </label>
                                            }
                                        </td>
                                        if (wishCount%3 == 0 && wishCount < ViewBag.WishExtraCuricularList.Count)
                                        {
                                            @Html.Raw("</tr><tr>")
                                        }
                                        wishCount++;
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </section>
            <div class="form-group">
                @Html.LabelFor(model => model.ImageUpload, "Upload Image", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-2 ">
                    @{
                        var imagePath = "/Content/Image/blankimage.png";
                        if (teacherViewModel.Images != null)
                        {
                            string imageBase64 = Convert.ToBase64String(teacherViewModel.Images);
                            string imageSrc = imageBase64 != null ? string.Format("data:image/gif;base64,{0}", imageBase64) : "";
                            if (imageSrc != null && imageSrc.Trim() != "")
                            {
                                imagePath = imageSrc;
                            }
                        }
                        <img class="img-thumbnail" id="teacherImage" src="@imagePath" height="150" width="130"/>
                        <br/>

                        @Html.TextBoxFor(model => model.ImageUpload, new {@class = "form-control", @type = "file", @placeholder = "Change Teacher Pic"})
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <input id="teacherEntry" type="submit" value="Update" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }

</div>
