﻿@using UdvashERP.BusinessModel.ViewModel.Teacher
@{
    TeacherViewModel teacherViewModel = ViewBag.teacherViewModel;
    string subClass = "";
    int totalSubjectPriority = teacherViewModel.TeacherSubjectPriority.Count;
}
@if (teacherViewModel.TeacherSubjectPriority.Any())
{
    int rowCount = 1;
    int index = 1;
    bool formGroupAlreadyDeclear = false;
    <div>
        @foreach (TeacherSubjectPriorityViewModel teacherSubjectPriorityViewModel in teacherViewModel.TeacherSubjectPriority)
        {
            if (rowCount == 1)
            {
                @Html.Raw("<div class='form-group '>")
                if (formGroupAlreadyDeclear == false)
                {
                    @Html.Label("Subject Priority*", htmlAttributes: new {@class = "control-label col-md-2"})
                    formGroupAlreadyDeclear = true;
                }
            }
            <div class="col-md-3 @subClass">
                @Html.DropDownList("Subject_" + index, new SelectList(ViewBag.SubjectList, "Id", "Name", teacherSubjectPriorityViewModel.SubjectId), new { @class = "form-control SubjectPriority ", @data_priority = index })
            </div>
            if (index == totalSubjectPriority)
            {
                <div class="">
                    <div id="testId" class=" dynamicButton btn btn-primary testDiv"> + </div>
                </div>
            }
            if (rowCount == 3)
            {
                @Html.Raw("</div>")
            }
            index++;
            rowCount++;
            if (rowCount > 3)
            {
                rowCount = 1;
            }
            if (index > 3 && rowCount == 1)
            {
                if (!String.IsNullOrEmpty(subClass))
                {
                    subClass = "";
                }
                subClass = "col-md-offset-2";
            }
            else
            {
                subClass = "";
            }
        }
    </div>
}
else
{
    <div class="form-group ">
        @Html.Label("Subject Priority*", htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-3">
            @Html.DropDownList("Subject_1", new SelectList(ViewBag.SubjectList, "Id", "Name"), "Choice 1", new {@class = "form-control SubjectPriority", @data_priority = "1"})
        </div>
        <div class="col-md-3">
            @Html.DropDownList("Subject_2", new SelectList(ViewBag.SubjectList, "Id", "Name"), "Choice 2", new {@class = "form-control SubjectPriority", @data_priority = "2"})
        </div>
        <div class="col-md-3">
            @Html.DropDownList("Subject_3", new SelectList(ViewBag.SubjectList, "Id", "Name"), "Choice 3", new {@class = "form-control SubjectPriority", @data_priority = "3"})
        </div>
        <div class="">
            <div id="testId" class=" dynamicButton btn btn-primary testDiv"> + </div>
        </div>
    </div>
}
    <div class="form-group dynamicDiv col-md-offset-2">
        <div class="col-md-2 dynamicSubject hidden" id="">
            <select class="dynamicSubjectIds form-control SubjectPriority" name="dynamicSubjectIds[]" id="SubjectDynamic" data-priority="data_priority_number">
                @*<option value="">-- Optional Choice --</option>*@
                @foreach (var subV in ViewBag.SubjectList)
                {
                    <option value="@subV.Id">@subV.Name</option>
                }
            </select>
        </div>
    </div>
