﻿@{
    var count = 1;
}
@using UdvashERP.BusinessModel.Entity.Administration
@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.ExtraCurricularActivity>
   

<div class="col-md-10">
    <label class="control-label col-md-2"><b>Wish to get attached with</b></label>
    <table class="table-hover">
        <tr>
            @foreach (ExtraCurricularActivity tadModel in Model)
            {
                <td class="checkbox col-md-3">
                    <label>
                        <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Name" class="TeacherWishExtraCuricularActivity" name="wishactivityName[]"> @tadModel.Name
                    </label>
                </td>
                if (count % 3 == 0 && count < tadModel.TeacherExtraCurricularActivities.Count())
                {
                    @Html.Raw("</tr><tr>");
                }
                count++;
            }
        </tr>
    </table>

</div>
