﻿@using System.Collections.Concurrent
@using HtmlAgilityPack
@using UdvashERP.BusinessModel.ViewModel.UInventory
@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsTransferDetailsViewModel

<tr>
    <td>
        @Html.DropDownListFor(model => model.ItemGroupId, (SelectList)ViewBag.ItemGroupList, "Select Item Group", new { @class = "form-control itemGroup" })
        @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "itemGroupValidation" })
    </td>

    <td>
        @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.ItemList, "Select Item", new { @class = "form-control item" })
        @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "itemValidation" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.ProgramSessionId, (SelectList)ViewBag.ProgramSessionList, "Select Program & Session", new { @class = "form-control programSession" })
        @Html.ValidationMessageFor(model => model.ProgramSessionId, "", new { @class = "programSessionValidation" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.StockQuantity, new { id = "StockQuantity", @class = "form-control stockQty ",  disabled = "true", @placeholder = "0", @value = "" })
        @Html.ValidationMessageFor(model => model.StockQuantity, "", new { @class = "stockQtyValidation" })
    </td>
    <td>
        @Html.EditorFor(model => model.TransferQuantity, new { htmlAttributes = new { @class = "form-control transferQty", @placeholder = "0",@type="text",@value="" } })
        @Html.ValidationMessageFor(model => model.TransferQuantity, "", new { @class = "transferQtyValidation" })
    </td>
    <td style="padding-left:3px"><button type="button" class="btn btn-warning removeRowButton" name="append">-</button></td>
</tr>