﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Bank>
    @Styles.Render("~/Content/styledatatable")

    @{
        ViewBag.Title = "Manage Bank";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="form-group">
        @using (Html.BeginForm("CreateBank", "Bank", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions">
                <input type="submit" value="Add Bank" class="btn btn-primary" />
            </div>
        }
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Manage Bank</h4>
        </div>
        <div class="panel-body">
            @* this table is responsible for searching view *@

            <table id="tableDiv">
                <tr class="form-group">
                    <th class="form-group">
                        <input id="name" name="Name" type="text" class="form-control " placeholder="Name" />
                    </th>
                    <th class="form-group">
                        <input id="shortname" name="shortname" type="text" class="form-control " placeholder="Short Name" />
                    </th>
                    <th class="form-group">
                        <input id="rank" name="Rank" type="text" class="form-control " placeholder="Rank" />
                    </th>
                    <th class="form-group " style="width:90px">
                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="status" class="form-control">
                                <option value="">Status</option>
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {
                                        <option value="@statusType.Value">@statusType.Key</option>
                                    }
                                }
                            </select>
                        }
                    </th>
                    <th class="form-group">
                        <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                        @*<input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Value 10" />*@
                    </th>

                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>

                </tr>
            </table>

            @* ----------------------------------------------------------------------------------------------------- *@
            <br />

            @* this table is responsible for table header and dynamic data *@
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        @*<th style="width: 10%">
                              Sr. No
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShortName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rank)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>

            @* ----------------------------------------------------------------------------------------------------- *@

        </div>
    </div>





    @* scripts section *@

    @section scripts
{
        @Scripts.Render("~/bundles/datatable")
        <script src="~/Scripts/jquery.blockUI.js"></script>
        <script type="text/javascript">

    $(document).ready(function () {  @**----document ready----*@

        @**----function for render data table----*@
        function dataTableRender() {
            var displayNo = 10;
            if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                displayNo = parseInt($('#DisplayNo').val());
            }
            else {
                $('#DisplayNo').val(displayNo);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": false,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                //stateSave: true,
                order: [[2, "asc"]],
                //order: [[3, "asc"]],
                ajax: {
                    url: '@Url.Action("BankList","Bank")',
                    type: 'POST',
                    data: function (dt) {
                        dt.name = $('#name').val();
                        dt.shortname = $('#shortname').val();
                        dt.rank = $('#rank').val();
                        dt.status = $('#status').val();


                    },

                    error: function (response) {
                        ShowErrorMessage("Bank data load error. Please try again.");
                    }
                }
            });
        }

        dataTableRender();

        $(document).on("click", "#search", function () {
            dataTableRender();
        });

        @**----end function for render data table----*@

        @**----function for rank changes----*@
        $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
            var id = $(this).attr("id");
            var current = $(this).parent().text().trim();
            var action = $(this).attr("data-action");
            //glyphicon glyphicon-arrow-up
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/Bank/RankChange",
                type: "POST",
                cache: false,
                async: true,
                data: { "id": id, "current": current, "action": action },
                success: function (result) {
                    // bootbox.alert(result).css('margin-top', (($(window).height() / 4)));
                    dataTableRender();
                },
                error: function (result) {
                    bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                }
            });

        });
        @**----end function for rank changes----*@




        @**---- function for row delete----*@


        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            var name = $(this).attr("data-name");
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Bank :<span class='confirm-message'> " + name + "</span></h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Administration/Bank/DeleteBank",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();

                                if (result.IsSuccess) {
                                    //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Session Delete Successfully</div>';
                                    //$('.customMessage').append(errorMessage);

                                    $.fn.customMessage({
                                        displayMessage: "Bank Delete Successfully",
                                        displayMessageType: "s",
                                        //displayTime: 5000
                                    });

                                    dataTableRender();
                                }
                                else {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                    //$('.customMessage').append(errorMessage);

                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e",
                                        //displayTime: 5000
                                    });

                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Session Delete Failed</div>';
                                //$('.customMessage').append(errorMessage);
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                    //displayTime: 5000
                                });
                            }
                        });

                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });


        @**----end function for row delete----*@


    }); @**----document ready----*@

        </script>
    }

    @* ----------------------------------------------------------------------------------------------------- *@
