﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.StockReportViewModel
@Styles.Render("~/Content/styledatatable")
@{
    Layout = null;
    string[] titles = ViewBag.ReportTitle;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Stock Summary Details Report</h4>
    </div>
    <div class="panel-body">
        <div class="text-capitalize text-center" style="text-align: center">
            @{
                foreach (var title in titles)
                {
                    <b>@title</b><br />
                }
            }
        </div>
        <br />
        <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
            <tr>
                <td>Purpose(s): </td>
                <td>Item Group(s): </td>
                <td>Item Name(s): </td>
            </tr>
            <tr>
                <td>@ViewBag.Purposelbl</td>
                <td>@ViewBag.ItemGrouplbl</td>
                <td>@ViewBag.Itemlbl</td>
            </tr>
        </table>
    </div>

    <div class="panel-body">
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th colspan="4"></th>
                    <th colspan="3">Opening</th>
                    <th colspan="3">Receive</th>
                    <th colspan="3">Transfer In</th>
                    <th colspan="3">Issue</th>
                    <th colspan="3">Return</th>
                    <th colspan="3">Transfer Out</th>
                    <th colspan="3">Closing</th>
                </tr>
                <tr>
                    <th>SL</th>
                    <th>Item Group</th>
                    <th>Item Name</th>
                    <th>Program & Session</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
<div class="clearfix"></div>
<div class="text-center">
    <button type="button" id="StockDetailsSummaryExportBtn" style="min-width: 100px !important;" class="btn btn-primary">Export</button>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatable")
<script type="text/javascript">

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var reportType = @Model.ShowReportType;
    var purposeIds = @Html.Raw(Json.Encode(Model.Purpose));
    var itemGroupIds = @Html.Raw(Json.Encode(Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(Model.ItemId));
    var programSessionIds = @Html.Raw(Json.Encode(Model.ProgramSession));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var pageSize = @Model.NoOfPages;

    RequisitionListViewReportDt();
    function RequisitionListViewReportDt() {
        var displayNo = 0;
        if (pageSize == "" || pageSize == undefined || pageSize <= 0) {
            displayNo = 10;
        } else {
            displayNo = pageSize;
        }
        $('#DataGrid').dataTable({
            "sScrollX": "100%",
            "bScrollCollapse": true,
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "bLengthChange": false,
            "iDisplayLength": displayNo,
            "aaSorting": [],
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }],
            order: [[0, "desc"]],
            bSort: false,
            ajax: {
                url: '@Url.Action("ScheduleDetailsReport", "StockReport")',
                type: 'POST',
                data: function (dt) {
                    dt.organizationId = organizationId;
                    dt.branchIds = branchIds;
                    dt.purposeIds = purposeIds;
                    dt.itemGroupIds = itemGroupIds;
                    dt.itemIds = itemIds;
                    dt.programSession = programSessionIds;
                    dt.dateFrom = dateFrom;
                    dt.dateTo = dateTo;
                },
                error: function () {
                    ShowErrorMessage("Stock report data load error. Please try again.");
                }
            }
        });
    }
    $(document).on("click", "#StockDetailsSummaryExportBtn", function() {
        var urlParam = {
            organizationId : organizationId,
            branchIds : branchIds,
            reportType : reportType,
            purposeIds: purposeIds,
            itemGroupIds : itemGroupIds,
            itemIds : itemIds,
            programSession : programSessionIds,
            fromDate : dateFrom,
            toDate : dateTo

        };
        var url = "@Url.Action("ExportScheduleDetailsReport", "StockReport", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        console.log(url);
        window.open(url);
    });
</script>

