﻿@Styles.Render("~/Content/styledatatable")
@*@Styles.Render("~/Content/styletabletools")*@
@{
    ViewBag.Title = "DistributionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-primary">
    <div class="panel-heading">
        Distribution Report
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">

                    <th class="form-group">
                        @*<input type="hidden" name="programId" id="programId" value="@ViewBag.programId" />
                            <input type="hidden" name="sessionId" id="sessionId" value="@ViewBag.sessionId" />
                            <input type="hidden" name="branchId" id="branchId" value="@ViewBag.branchId" />
                            <input type="hidden" name="campusId" id="campusId" value="@ViewBag.campusId" />
                            <input type="hidden" name="batchName" id="batchName" value="@ViewBag.batchName" />
                            <input type="hidden" name="course" id="course" value="@ViewBag.course" />
                            <input type="hidden" name="paymentStatus" id="paymentStatus" value="@ViewBag.paymentStatus" />
                            <input type="hidden" name="imageStatus" id="imageStatus" value="@ViewBag.imageStatus" />
                            <input type="hidden" name="printingStatus" id="printingStatus" value="@ViewBag.printingStatus" />
                            <input type="hidden" name="informationViewList" id="informationViewList" value="@ViewBag.informationViewList" />
                            <input type="hidden" name="batchDays" id="batchDays" value="@ViewBag.batchDays" />
                            <input type="hidden" name="batchTime" id="batchTime" value="@ViewBag.batchTime" />*@
                        @*<input id="name" name="programName" type="text" class="form-control filteringColumn" placeholder="Program Name" />*@
                        @*<select required="required" name="distributionStatus" id="distributionStatus" class="form-control valid">
                            <option value="0">Select Printing Status</option>
                            <option value="1">All</option>
                            <option value="2">Printed and distributed</option>
                            <option value="3">Printed but not distributed</option>
                        </select>*@
                     </th>

                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>
                    <th class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                        </div>
                    </th>

                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl.</th>

                        @if (ViewBag.informationViewList != null)
                        {
                            foreach (string informationView in @ViewBag.informationViewList)
                            {
                                <th>@informationView</th>
                            }
                        }
                        <th>Count</th>
                        
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
       


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
   @*@Scripts.Render("~/bundles/tabletools")*@

    <script type="text/javascript">

    var programId = @ViewBag.programId;
    var sessionId = @ViewBag.sessionId;
    var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
    var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));
    var batchName = @Html.Raw(Json.Encode(@ViewBag.batchName));
    var course = @Html.Raw(Json.Encode(@ViewBag.course));
    var distributionStatus = @Html.Raw(Json.Encode(@ViewBag.distributionStatus));
    var informationViewList = @Html.Raw(Json.Encode(@ViewBag.informationViewList));
    var batchDays = @Html.Raw(Json.Encode(@ViewBag.batchDays));
    var batchTime = @Html.Raw(Json.Encode(@ViewBag.batchTime));

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        }
        else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn =  $("#DataGrid > thead").find("> tr:first > th").length;
       // alert(lastColumn);

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            "bInfo": true,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs" : [ {
                'bSortable' : false,
                'aTargets' : [ (lastColumn-1) ]
            } ],
            
            ajax: {
                url: 'StudentProgramListForDistribution',
                type: 'POST',
                data: function (d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchName = batchName;
                    d.course = course;
                    if ($('#distributionStatus').val() > 0) {
                         d.distributionStatus=$('#distributionStatus').val();
                    }
                    else {
                        d.distributionStatus = distributionStatus; 
                    }
                   
                    d.informationViewList = informationViewList;
                    d.batchDays = batchDays;
                    d.batchTime = batchTime;
                }
            }
        });
    }

    dataTableRender();

    $(document).on("click", "#search", function () {
        dataTableRender();
    });
    $(document).on("click", "#export", function() {
        var urlParam = {
            programId: programId,
            sessionId: sessionId,
            branchId: branchId,
            campusId:campusId,
            batchName : batchName,    
            course: course,
            distributionStatus:distributionStatus,
            batchDays:batchDays,
            batchTime:batchTime,
            informationViewList:informationViewList
        };
        var url = "@Url.Action("DistributionListToExcel", "StudentIdCard", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });
    </script>
}