﻿@{
    ViewBag.Title = "Generate Id Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")


@using (Html.BeginForm("GenerateIdCardReport", "StudentIdCard", FormMethod.Post, new { name = "generateIdCardForm", id = "generateIdCardForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Generate Id Card
        </div>
        <div class="panel-body" >
            <div class="administrationBodyContent form-horizontal" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organizationId" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                                @Html.DropDownList("OrganizationId", (SelectList)ViewBag.OrganizationId, "Select organization", htmlAttributes: new { @class = "form-control", })
                            </div>
                            <div class="text-center" id="omsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="programId" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ProgramId", (SelectList)ViewBag.ProgramId, "Select program", htmlAttributes: new { @class = "form-control", })
                            </div>
                            <div class="text-center" id="pmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sessionId" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                @*@Html.DropDownList("SessionId", null, "Select a session", htmlAttributes: new { @class = "form-control" })*@
                                <select required="required" name="SessionId" id="SessionId" class="form-control valid"></select>
                                @*<span data-valmsg-replace="true" data-valmsg-for="ActionName" class="field-validation-valid"></span>*@
                            </div>
                            <div class="text-center" id="smsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Branch</label>
                            <div class="col-md-8">
                                @*@Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })*@
                                <select required="required" name="branchId" id="branchId" class="form-control valid" multiple="multiple"></select>
                            </div>
                            <div class="text-center" id="brmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Campus</label>
                            <div class="col-md-8">
                                @*@Html.DropDownList("CampusId", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })*@
                                <select required="required" name="campusId" id="campusId" class="form-control valid" multiple="multiple"></select>
                            </div>
                            <div class="text-center" id="campmsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchDays" class="control-label col-md-4">Batch Days</label>
                            <div class="col-md-8">
                                <select required="required" name="batchDays" id="batchDays" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="bdmsg" style="color: red;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchTime" class="control-label col-md-4">Batch Time</label>
                            <div class="col-md-8">
                                <select required="required" name="batchTime" id="batchTime" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="btmsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchName" class="control-label col-md-4">Batch</label>
                            <div class="col-md-8">
                                <select required="required" name="batchName" id="batchName" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="bnmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="course" class="control-label col-md-4">Course</label>
                            <div class="col-md-8">
                                <select required="required" name="course" id="course" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="cmsg"></div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="paymentStatus" class="control-label col-md-4">Payment Status</label>
                            <div class="col-md-8">
                                <select required="required" name="paymentStatus" id="paymentStatus" class="form-control valid">
                                    <option value="1">All</option>
                                    <option value="2">Payment Ok</option>
                                    <option value="3">Payment Due</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="imageStatus" class="control-label col-md-4">Image Status</label>
                            <div class="col-md-8">
                                <select required="required" name="imageStatus" id="imageStatus" class="form-control valid">
                                    <option value="1">All</option>
                                    <option value="2">Image Ok</option>
                                    <option value="3">Image Due</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="printingStatus" class="control-label col-md-4">Printing Status</label>
                            <div class="col-md-8">
                                <select required="required" name="printingStatus" id="printingStatus" class="form-control valid">
                                    <option value="1">All</option>
                                    <option value="2">Printed</option>
                                    <option value="3">Not Printed</option>
                                </select>
                                @*<span data-valmsg-replace="true" data-valmsg-for="ActionName" class="field-validation-valid"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10" style="text-align:center; font-weight:bold;">
                        <h4>Select Information to View</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                            <option value="Program Roll">Program Roll</option>
                            <option value="Student Name">Students Name</option>
                            <option value="Father Name">Father's Name</option>
                            
                            @*<option value="School/College">School/College Name</option>*@
                           
                            <option value="Mobile Personal">Mobile (P)</option>
                            <option value="Mobile Guardian">Mobile (G)</option>
                            <option value="Branch">Branch</option>
                            <option value="Batch">Batch</option>
                        </select>
                    </div>
                    <div class="text-center" id="infomsg"></div>
                    </div>
                <div class="form-group" style="margin-top: 10px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 text-center" style="padding-left: 0px;">
                        <input type="button" value="Generate Id Card" class="btn btn-primary" id="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
 }

@section Scripts {
    @Scripts.Render("~/bundles/dualListBox")
    
<script src="~/Scripts/jquery.blockUI.js"></script>
    @*@Scripts.Render("~/bundles/generateIdCard")*@
<script src="~/Scripts/Student/IdCard/GenerateIdCard.js"></script>
 
}
