﻿@Styles.Render("~/Content/styledatatable")
@*@Styles.Render("~/Content/styletabletools")*@
@{
    ViewBag.Title = "Generate ID Card Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">GenerateId Card Report</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table id="tbl">
                <tr class="filteringRow form-group">
                    
                    <th class="form-group">
                       
                    </th>

                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>
                    <th class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                        </div>
                    </th>

                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>         
                        <th>Sl.</th>       
                        
                        @if (ViewBag.informationViewList != null)
                        {
                            foreach (string informationView in @ViewBag.informationViewList)
                            {
                                <th>@informationView</th>
                            }
                        }
                        @*<th>Payment</th>
                        <th>Image</th>*@
                        <th>Count</th>
                        <th><input type="checkbox" name="checkAll" id="checkAll" /></th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
        @using (Html.BeginForm("PrintIdCard", "StudentIdCard", FormMethod.Post, new { name = "printIdCardForm", id = "printIdCardForm" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-actions no-color" style="text-align:center">
                <div class="row" id="studentProgramIdListSelected">

                </div>
                
                <input type="button" value="Print Id" class="btn btn-primary" id="printIdCard" />

            </div>
        }
        

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @*@Scripts.Render("~/bundles/tabletools")*@
    @Scripts.Render("~/bundles/generateIdCardReport")
<script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">

        var programId = @ViewBag.programId;
        var sessionId = @ViewBag.sessionId;
        var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
        var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));
        var batchName = @Html.Raw(Json.Encode(@ViewBag.batchName));
        var course = @Html.Raw(Json.Encode(@ViewBag.course));
      //  var paymentStatus = @Html.Raw(Json.Encode(@ViewBag.paymentStatus));
     //   var imageStatus = @Html.Raw(Json.Encode(@ViewBag.imageStatus));
        var printingStatus = @Html.Raw(Json.Encode(@ViewBag.printingStatus));
        var informationViewList = @Html.Raw(Json.Encode(@ViewBag.informationViewList));
        var batchDays = @Html.Raw(Json.Encode(@ViewBag.batchDays));
        var batchTime = @Html.Raw(Json.Encode(@ViewBag.batchTime));

        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize =parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
            // alert(lastColumn);

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "bInfo": true,
                //stateSave: true,
                order: [[0, "desc"]],
                "aoColumnDefs": [{
                   'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }],
                ajax: {
                    url: 'StudentProgramListForIdCardResult',
                    type: 'POST',
                    data: function(d) {
                        d.programId = programId;
                        d.sessionId = sessionId;
                        d.branchId = branchId;
                        d.campusId = campusId;
                        d.batchName = batchName;
                        d.course = course;
                        
                        if ($('#printingStatus').val()>0) {
                            d.printingStatus = $('#printingStatus').val();
                        } 
                        else {
                            d.printingStatus = printingStatus;
                        }
                        d.informationViewList = informationViewList;
                        d.batchDays = batchDays;
                        d.batchTime = batchTime;
                    }
                }
            });
        }

        dataTableRender();
        
       
        $(document).on("click", "#search", function() {
           
             dataTableRender();
           
        });
        $(document).on("click", "#printList", function() {

            $(".administrationBodyContent").printThis();

        }); 
        $(document).on("click", "#export", function() {
            var urlParam = {
                programId: programId,
                sessionId: sessionId,
                branchId: branchId,
                campusId:campusId,
                batchName : batchName,    
                course: course,
               // paymentStatus : paymentStatus,
              //  imageStatus :imageStatus,
                printingStatus : printingStatus,
                batchDays:batchDays,
                batchTime:batchTime
            };

            var url = "@Url.Action("IdCardResultToExcel", "StudentIdCard", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            //console.log(url);
            window.open(url);
        });
    </script>
}