﻿
@{
    ViewBag.Title = "Individual Id Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Individual Id Card</div>
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("IndividualIdCard", "StudentIdCard", new { area = "Student" }, FormMethod.Post))
            {
                @*if (ViewBag.ProgramRoll != null)
                    {
                        <input type="text" value="@ViewBag.ProgramRoll" class="form-control" maxlength="11" placeholder="Enter Program Roll" id="stdProRoll" name="stdProRoll" />
                    }
                    else
                    {
                        <input type="text" value="" class="form-control" placeholder="Enter Program Roll" id="stdProRoll" name="stdProRoll" maxlength="11" />
                    }*@
                <input type="text" value="@ViewBag.ProgramRoll" class="form-control" placeholder="Program Roll Space Seperate" id="stdProRoll" name="stdProRoll" />

                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
            }
        </div>

    </div>
</div>