﻿@using System.Drawing
@model IEnumerable<UdvashERP.BusinessModel.Entity.Students.StudentProgram>

@{
    ViewBag.Title = "PrintIdCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var bottomlogo = Url.Content("~") + ErpInfo.IdFooterImageUrl;
    var bottomlogo = "";
    
    var imagePath = Url.Content("~") + "Content/Image/blankimage.png";
    var prinIdheaderImagePath = Url.Content("~") + "Content/Image/printIdHeader.png";
    double dpiX, dpiY;

    using (Graphics graphics = Graphics.FromHwnd(IntPtr.Zero))
    {
        dpiX = graphics.DpiX;
        dpiY = graphics.DpiY;
    }
    double pixelsHeight = dpiY*1.85;
    double pixelsWidth = dpiX*2.93;


    var mainDivWidth = (pixelsWidth*2);    
    var pixelsHeightString = pixelsHeight.ToString() + "px";
    var pixelsWidthString = mainDivWidth.ToString() + "px";

    var imageWidth = (.20*pixelsWidth).ToString()+"px";
    var qrimageWidth = (.25 * pixelsWidth).ToString() + "px";
    var qrimageWidthdouble = (.25 * pixelsWidth);
   
}


<div class="panel panel-default" id="print" style='overflow: hidden; border: none; padding: 0px; margin:0px;'>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            i++;
             imagePath = Url.Content("~") + "Content/Image/blankimage.png";
            if (String.IsNullOrEmpty(bottomlogo))
            {
                bottomlogo = item.Program.Organization.IdFooterImageUrl;
            }
            
            if (item.MediaStudentImage!=null)
            {
                //var imagePath = "/Content/Image/blankimage.png";
                //var firstOrDefault = (from x in item.StudentImage select x).OrderByDescending(a => a.Id).FirstOrDefault();
                //var stuentImage = firstOrDefault != null ? firstOrDefault.Images : null;
                string imageBase64 = item.MediaStudentImage.Images != null ? Convert.ToBase64String(item.MediaStudentImage.Images) : null;
                if (imageBase64!=null)
                {
                    imagePath = string.Format("data:image/gif;base64,{0}", imageBase64);  
                }                                                          
            }
            

            var qrText = item.Student.NickName.ToString() + ", " + item.PrnNo.ToString() + ", " + item.Batch.Branch.Name.ToString();
            
            
            <div style='height: @pixelsHeightString; width: @pixelsWidthString; padding-left: 1.2%; padding-right: 1.2%; padding-bottom: 1.3%; padding-top: 1.3%; border: 1px dotted #aaa; margin: 0px;'>
                <div style="float: left; width: 47.5%; margin-right: 1.75%; height: 100%; border: 1px solid #000;">
                    <div style="height: 12%; position: relative;" align="center">
                        <img src="@prinIdheaderImagePath" style="width: 100%; height: 100%; z-index: 1; position: absolute; top: 0px; left: 0px;" />
                        <div style=" width: 100%; position: absolute; top: 0px; margin-top: 2px; z-index: 100; line-height: 16px;" align="center">
                            <span style="text-align: center; font-weight: bold; line-height: 16px; font-size: 12px; color: #FFF; font-family: Verdana, Geneva, sans-serif;">@item.Program.Name @item.Batch.Session.Name</span>
                        </div>
                    </div>
                    <div style="min-height: 60%; overflow: hidden; position: relative;">
                        <div style="float: left; width: 33%;">
                            <div style="min-height: 63%; padding-top: 5%; padding-bottom: 3%; padding-left: 5%; padding-right: 5%; text-align: center;">
                                <img style="width: @imageWidth; height: @imageWidth;" src="@imagePath" />
                            </div>
                            <div style="height: 30%; padding-left: 3%; padding-right: 3%; font-size: 8px; font-family: Verdana, Geneva, sans-serif; line-height: 11px; text-align: center;">
                                <div>
                                    @item.Student.NickName.ToString()
                                </div>
                                <div>
                                    Roll: @item.PrnNo.ToString()
                                </div>
                                <div>
                                    Reg. No.: @item.Student.RegistrationNo.ToString()
                                </div>
                            </div>
                        </div>
                        <div style="float: left; width: 66%; padding-right: 1%; font-size: 8.5px; font-family: Verdana, Geneva, sans-serif; line-height: 11px;" class="studentInfo">
                            
                            @{
                                if (item.StudentCourseDetails.Count > 0)
                                {
                                    //IList<StudentCourseDetail> courseList = ViewBag.StudentCourses;
                                    var courseLists = item.StudentCourseDetails.GroupBy(cl => cl.CourseSubject.Course, (course, studentCourseSubjects) => new { Key = course, subjects = studentCourseSubjects.ToList() });

                                    foreach (var studentCourse in courseLists)
                                    {
                                        string sub = "";                                                
                                        foreach (var scs in studentCourse.subjects)
                                        {
                                            sub += scs.CourseSubject.Subject.ShortName + ", ";
                                        }
                                        
                                       sub = sub.Remove(sub.Length - 2);
                                          
                                        <div class="course">
                                            @(studentCourse.Key.Name+":")&nbsp;<span>@sub </span>
                                        </div>
                                    }
                                }                              
                            }                            
                            

                            <div>
                                Branch: @item.Batch.Branch.Name
                            </div>
                            <div>
                                Batch Days: @item.Batch.Days
                            </div>
                            <div>
                                Batch Time: @item.Batch.FormatedBatchTime
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="height: 25%; overflow: hidden; position: relative; padding-left: 2%; padding-right: 2%; padding-bottom: 2%;">
                        <img src="@bottomlogo" style="width: 93%; margin-top: -2%; position: absolute;" />
                    </div>
                </div>


                <div style="float: left; width: 47.5%; margin-left: 1.75%; height: 100%; border: 1px solid #000;">
                    <div style="width: 92%; height: 12%; margin: 2% 4%; position: relative; line-height: 15px;  color: #ffffff; font-style: italic; text-align: center; font-weight: bold; font-size: 8.5px; font-family: Verdana, Geneva, sans-serif;">                       
                        
                        <img src="@prinIdheaderImagePath" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1;" />
                        <div style="width: 100%; position: absolute; top: 0px; margin-top: 2px; line-height: 11px; z-index: 100;" align="center">
                            <span style="text-align: center; font-weight: bold; line-height: 11px; font-size: 8.5px; color: #FFF; font-family: Verdana, Geneva, sans-serif;">If this card is found, please return to:</span>
                        </div>
                        
                    </div>
                    <div style="clear: both;"></div>
                    <div style="width: 90%; margin: 5%; height: 25%; text-align: justify; font-size: 8.5px; font-family: Verdana, Geneva, sans-serif; line-height: 11px;">
                        @item.Batch.Campus.Location <b>Phone: </b>@(item.Batch.Campus.ContactNumber), @ErpInfo.OrganizationWebsite
                    </div>
                    <div style="width: 96%; margin: 2%; height: 35%; text-align: center;">
                        <div class="qrcodeCanvas" style="width: @qrimageWidth; margin: 0 auto; height: @qrimageWidth;" align="center" data-text="@qrText"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            if (i%5 == 0)
            {
                <p style="page-break-after: always;"></p>
            }
        }
    }

</div>

<div>
    <input type="button" id="printall" class="btn btn-primary" value="Print All" />
</div>


@section Scripts {
    @Scripts.Render("~/bundles/qrcode")
    @Scripts.Render("~/bundles/jqueryPrint")
    @Scripts.Render("~/bundles/PrintIdCard")
    <script type="text/javascript">

        $(document).ready(function() {
            //var t = "2000-2001";
            //var yReg = /^\d{4}(-\d{4})?$/;
            //if (!yReg.test(t)) {
            //    alert("Error");
            //} else {
            //    alert("Right");
            //}

            $(".studentInfo").each(function() {
                var p = 16;
                $(this).find(".course").each(function() {
                    p = p - 3;
                    var sub = $(this).find("span").text();
                    var subCount = sub.split(",").length;
                    if (subCount>5) {
                        p = p - 4;
                    }
                });
                if (p<0) {
                    p = 0;
                }
                $(this).css("padding-top", p+"%");
            });
            


            var qr = @qrimageWidthdouble;
            $(".qrcodeCanvas").each(function() {
                var text = $(this).attr("data-text");
                //console.log(qr);
                //console.log(text);
                //$(this).qrcode({
                //    render: "table",
                //    text: text,
                //    width: qr,
                //    height: qr,
                //});

                $(this).qrcode({
                    "render": "image",
                    "size": qr,
                    "text": text
                });
            });
        });
    </script>
}
    @*<script src="~/Scripts/Student/IdCard/jQuery.print.js"></script>*@
