﻿@model IEnumerable<UdvashERP.BusinessModel.ViewModel.ExamProgressViewModel>

@{
    ViewBag.Title = "Manage Exam Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/styledatatable")

<table id="tbl">
    <tr class="filteringRow form-group">
        @*<th class="form-group">
            <input id="branch" name="branch" type="text" class="form-control" placeholder="Branch"  />
        </th>
        <th class="form-group">
            <input id="campus" name="campus" type="text" class="form-control" placeholder="Campus" />
        </th>
        <th class="form-group">
            <input id="batch" name="batch" type="text" class="form-control" placeholder="Batch" />
        </th>
        <th class="form-group">
            <input id="subject" name="subject" type="text" class="form-control" placeholder="Subject" />
        </th>
        <th class="form-group">
            <input id="exam" name="exam" type="text" class="form-control" placeholder="Exam" />
        </th>*@
        <th class="form-group">
            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" />
        </th>
        <th class="form-group">
            <input type="button" name="search" id="searchBtn" value="Search" class="form-control btn btn-primary" />
        </th>
        @*<th class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
            </div>
        </th>*@
    </tr>
</table>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"> Manage Exam Progress</h4>
    </div>
    <div class="panel-body" id="">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sl.
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Campus
                    </th>
                    <th>
                        Batch
                    </th>

                    <th>
                        Subject
                    </th>
                    <th>
                        Exam
                    </th>
                    <th>
                        Held Date
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
    @*<div class="form-group text-center">
            <input class="btn btn-primary" id="export" value="Export" style="margin-top: 8px;padding-right: 5px;" />
        </div>*@
</div>
<div class="hiddenField">
    @Html.Hidden("examProgress", ViewData["examProgressObj"])

</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Student/Report/ExamEvaluation.js"></script>*@
    <script type="text/javascript" class="init">
        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                order: [[0, "asc"]],
                "bSort": false,
                ajax: {
                    url: 'GenerateExamProgressReport',
                    type: 'POST',
                    data: function (d) {
                        d.examProgressObjString = $('#examProgress').val(),
                        d.branch = $("#branch").val(),
                        d.campus = $("#campus").val(),
                        d.batch = $("#batch").val(),
                        d.subject = $("#subject").val(),
                        d.exam = $("#exam").val();
                    }
                }
            });
        }
        $(document).ready(function () {
        
            dataTableRender();
           
        });
        $(document).on("click", "#searchBtn", function () {
            dataTableRender();
        });
        //Delete Functionality
        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            var name = $(this).attr("data-name");
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Exam Progress of <span class='confirm-message'>Exam: " + name + "</span></h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Administration/ExamProgress/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();

                                if (result.IsSuccess) {
                                    //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Session Delete Successfully</div>';
                                    //$('.customMessage').append(errorMessage);

                                    $.fn.customMessage({
                                        displayMessage: "Exam progress Delete Successfully",
                                        displayMessageType: "s",
                                        //displayTime: 5000
                                    });

                                    dataTableRender();
                                }
                                else {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                    //$('.customMessage').append(errorMessage);

                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e",
                                        //displayTime: 5000
                                    });

                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Session Delete Failed</div>';
                                //$('.customMessage').append(errorMessage);
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                    //displayTime: 5000
                                });
                            }
                        });

                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });

    </script>

}


