﻿@model UdvashERP.BusinessModel.ViewModel.MenuAccessViewModel

@{
    ViewBag.Title = "Menu Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["MenuAccessErrorMessage"] != null)
{
    <div class="alert alert-danger" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["MenuAccessErrorMessage"]
    </div>
}
@if (TempData["MenuAccessSuccessMessage"] != null)
{
    <div class="alert alert-success" style="text-align: center">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["MenuAccessSuccessMessage"]
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Menu Access
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.MenuGroupId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.MenuGroupId, (IEnumerable<SelectListItem>)ViewBag.menuGroupList, "Select Menu Group", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.MenuGroupId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MenuId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.MenuId, (IEnumerable<SelectListItem>)ViewBag.allMenuList, "Select Menu", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.MenuId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.Area, (IEnumerable<SelectListItem>)ViewBag.areaList, "Select Area", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Area)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ControllersId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ControllersId, (IEnumerable<SelectListItem>)ViewBag.controllersList, "Select Controller", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.ControllersId)
                        </div>
                    </div>
                    @*<div id="ExistsData" style="padding: 10px;"></div>*@
                    <div style="padding: 10px;" id="RenderActions"></div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Administration/MenuAccess/menuAccess.js"></script>
}
           

           
