﻿@using System.Collections
@using UdvashERP.Model.Entity.Administration
@using UdvashERP.Model.Entity.Teachers
@model UdvashERP.Model.Entity.Teachers.TeacherAcademicMaterials

@{
    ViewBag.Title = "TeacherAcademicMaterials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IList<Branch> branchList = new List<Branch>();
    branchList = (List<Branch>)ViewBag.ForBranchList;
}
@using (Html.BeginForm("CreateTeacherAcademicMaterials", "TeacherAcademicMaterials", FormMethod.Post, new { name = "CreateTeacherAcademicMaterialsForm", id = "CreateTeacherAcademicMaterialsForm" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Academic Materials
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("OrganizationId", (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control customData", @id = "OrganizationId" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownListFor(model => model.Program.Id, Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control", @id = "ProgramId" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownListFor(model => model.Session.Id, Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @id = "SessionId" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @*@Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <table class="table table-bordered" id="tab">
                <tr>
                    <th>Teacher Name </th>
                    <th>For Branch</th>
                    <th>Job Description</th>
                    <th>Amount</th>
                    <th width="1%">
                        <button type="button" class="btn" id="rowIncrement">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </th>
                </tr>
                <tr id="row1">
                    <td><input type="text"  name="teacherName" class="teacherName form-control" placeholder="Select Teacher (AS)" /></td>
                    <td>
                        <select  name="forBranch" class="forBranch form-control">
                            <option value="">Select Branch</option>
                            @foreach (var branch in branchList)
                            {
                                <option value="@branch.Id">@branch.Name</option>
                            }
                        </select>
                    </td>
                    <td><input type="text"  name="JobDesc" class="JobDesc form-control" placeholder="Enter Description" /></td>
                    <td><input type="text"  name="amount" class="amount form-control" placeholder="" /></td>
                    <td>
                        <button type="button" class="btn" >
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </td>
                </tr>
            </table>
            
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script> $(document).ready(function () {
     $(document).on('click', '.glyphicon-plus-sign',function() {
         var length = $("#tab tr").length + 1;
         $("#tab").append("<tr id='" + length + "'>" + $("#row1").html() + "</tr>");
     });
    });
    </script>
}
