﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherAcademicMaterialsViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Create Teacher Academic Metarials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Create Teacher Academic Metarials
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "TeacherAcademicMaterials", FormMethod.Post, new { @id = "teacherAcademicMaterialsForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("OrganizationId", (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("ProgramId", (SelectList)ViewBag.ProgramId, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("SessionId", (SelectList)ViewBag.SessionId, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control",@readonly="true" } })
                        @Html.ValidationMessageFor(model => model.SubmissionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="teacherScEvaluationList" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;" class="text-center">
                                            TPIN
                                        </th>
                                        <th style="width: 20%;" class="text-center">
                                            Examiner Name
                                        </th>
                                        <th style="width: 25%;" class="text-center">
                                            For Branch
                                        </th>
                                        <th style="width: 33%;" class="text-center">
                                            Job Description
                                        </th>
                                        <th style="width: 10%;" class="text-center">
                                            Amount
                                        </th>
                                        <th style="width: 2%;" class="text-center"><div id="increaseRow" class="dynamicRowGenerate btn btn-primary "> + </div></th>
                                    </tr>
                                </thead>
                                <tbody id="AcademicMaterial_table">
                                    <tr id="tr1">
                                        <td>
                                            <input type="hidden" value="0" name="teacherId" class="teacherId">
                                            <input type="text" value="" name="teacherTpin" id="" data-val="true" class="form-control text-box single-line teacherTpin" placeholder="TPIN" autocomplete="off">
                                        </td>
                                        <td>
                                            <input type="text" value="" name="teacherName" id="" data-val="true" class="form-control text-box single-line teacherName" placeholder="Examiner Name" autocomplete="off" readonly="readonly">
                                        </td>
                                        <td>
                                            @Html.DropDownList("BranchId", (SelectList)ViewBag.BranchId, "Select Branch", new { @class = "form-control BranchId tBranch" })
                                        </td>
                                        <td><input type="text" class="form-control text-box single-line tJDescription" placeholder="Description"/></td>
                                        <td><input type="text" class="form-control text-box single-line tAmount" maxlength="8" placeholder="Amount" /></td>
                                        <td><div id="increaseRow" class=" dynamicButton btn btn-primary testDiv"> - </div></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="4" class="text-right">Total Amount</th>
                                        <th class="text-right" id="totalAmountss">0</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Create" class="btn btn-primary" id="teacherAcademicMaterialsSubmit" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        window.validateDropDownField("OrganizationId", "The Organization is required.");
        window.validateDropDownField("ProgramId", "The Program is required.");
        window.validateDropDownField("SessionId", "The Session is required.");
        window.validateTextField("SubmissionDate", "The Submission Date is required.");
        $(document).ready(function() {

            function testAjax() {
                var listItems = "<option value=''>Select Branch</option>";;
                var returnData = "";
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: false,
                    data: { programIds: programId, sessionIds: sessionId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            listItems += "<option value='-1'>Common</option>";
                            $.each(response.returnBranchList, function(i, v) {
                                listItems += "<option value='" + v.Value + "'>" + v.Text + "</option>";
                            });
                        }
                        returnData = listItems;

                    },
                    complete: function(response) {
                        $.unblockUI();
                    },
                    error: function(response) {
                        $.unblockUI();
                    }
                });
                return returnData;
            }

            var itemCount = 1;
            var objs = [];
            var temp_objs = [];

            var br = "";
            var output = "";
            $(document).on("click", ".dynamicRowGenerate", function(event) {
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                if (programId != "" && sessionId != "") {
                    output = testAjax();
                } else {
                    output = "<option value=''>Select Branch</option>";
                }
                br = '<select name="BranchId" id="" class="form-control BranchId tBranch">' + output + '</select>';

                var html = "";
                var obj = {
                    "ROW_ID": itemCount,
                    "ITEM_TPIN": '<input type="hidden" value="" name="teacherId" class="teacherId"><input class="form-control text-box single-line teacherTpin" type="text" value="" placeholder="TPIN">',
                    "ITEM_NAME": '<input class="form-control text-box single-line teacherName" type="text" value="" placeholder="Examiner Name" readonly="readonly">',
                    "ITEM_Branch": br,
                    "ITEM_Description": '<input class="form-control text-box single-line tJDescription" type="text" value="" placeholder="Description">',
                    "ITEM_Amount": '<input class="form-control text-box single-line tAmount" type="text" value="" maxlength="8" placeholder="Amount">'
                };

                // add object
                objs.push(obj);

                itemCount++;
                // dynamically create rows in the table
                html = "<tr id='tr" + itemCount + "'><td>" + obj['ITEM_TPIN'] + "</td> <td>" + obj['ITEM_NAME'] + "</td> <td>" + obj['ITEM_Branch'] + " </td> <td>" +
                    obj['ITEM_Description'] + " </td><td>" + obj['ITEM_Amount'] + "</td><td><input type='button'  id='" +
                    itemCount + "' value='-' class='btn btn-primary'></td> </tr>";


                $("#AcademicMaterial_table").append(html);
                $("#" + itemCount).click(function() {
                    var buttonId = $(this).attr("id");
                    $("#tr" + buttonId).remove();
                });
            });

            function autoCompleteFunc() {
                $('.teacher').each(function() {
                    var $this = $(this);

                    $this.typeahead({
                        source: function(query, process) {
                            var organizationId = $("#OrganizationId").val();
                            var data = { query: query, organizationId: organizationId, activityTypeId: 3 };
                            if (organizationId != "") {
                                //$("#OrganizationId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');

                                $.ajax({
                                    type: "POST",
                                    //url: $("body").attr("data-project-root") + "Teachers/TeacherAcademicMaterials/AjaxRequestForTeacherName",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadTeacherName",
                                    cache: false,
                                    async: true,
                                    data: data,
                                    success: function(result) {
                                        if (result.IsSuccess) {
                                            //console.log(result.returnList);
                                            process(result.returnList);
                                            $($this).prev('input').val("");
                                        }
                                    },
                                    complete: function() {
                                    },
                                    error: function(result) {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                });
                            } else {
                                $("#OrganizationId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("You need to select organization.");
                            }
                            
                        },
                        updater: function(item) {
                            $($this).prev().val(item.Value);
                            $($this).val("");

                            return item.Text;
                        },
                        matcher: function(item) {
                            if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                                return true;
                            }
                            return false;
                        },
                        sorter: function(items) {
                            return items.sort();
                        },
                        highlighter: function(item) {
                            var regex = new RegExp('(' + this.query + ')', 'gi');
                            return item.Text.replace(regex, "<strong>$1</strong>");
                        },
                        onselect: function(obj) {
                            alert('Selected ' + obj);
                        }
                    });
                });
            }

            $(document).on("input propertychange", ".teacher", function(event) {
                autoCompleteFunc();
            });

            $(document).on("input propertychange", ".teacherTpin,.tBranch,.tJDescription,.tAmount", function(event) {

                var e = checkRowValidity($(this).parents('tr'));

                if (e == 0) {
                    $(this).parents('tr').removeClass("invalid").addClass("valid");

                } else {
                    $(this).parents('tr').removeClass("valid").addClass("invalid");
                }
                console.log($(this).parents('tr'));
                //alert('123');
                var total = 0;
                $("#teacherScEvaluationList tbody .valid").each(function() {
                    total = total + parseInt($(this).find(".tAmount").val());
                });
                $("#totalAmountss").text(total);
            });

            $(document).on("input propertychange", ".tAmount", function(event) {

                var total = 0;
                $("#teacherScEvaluationList tbody .valid").each(function() {
                    // alert(parseInt($(this).find(".tAmount").val()));
                    total = total + parseInt($(this).find(".tAmount").val());
                });
                $("#totalAmountss").text(total);
            });

            function checkRowValidity(placeHolder) {
                var error = 0;
                var teacherTpin = placeHolder.find(".teacherTpin").val();
                var teacherName = placeHolder.find(".teacherName").val();
                var teacherId = placeHolder.find(".teacherId").val();
                var tBranch = placeHolder.find(".tBranch").val();
                var description = placeHolder.find(".tJDescription").val();
                // var duration = placeHolder.find(".duration").val();
                //var quantity = placeHolder.find(".tQuantity").val();
                var amount = placeHolder.find(".tAmount").val();

                if (teacherTpin == "") {
                    error = error + 1;
                    placeHolder.find(".teacherTpin").addClass("highlight");
                } else {
                    placeHolder.find(".teacherTpin").removeClass("highlight");
                }
                if (teacherName == "") {
                    error = error + 1;
                    placeHolder.find(".teacherName").addClass("highlight");
                } else {
                    placeHolder.find(".teacherName").removeClass("highlight");
                }
                if (tBranch == "") {
                    error = error + 1;
                    placeHolder.find(".tBranch").addClass("highlight");
                } else {
                    placeHolder.find(".tBranch").removeClass("highlight");
                }

                if (description == "") {
                    error = error + 1;
                    placeHolder.find(".tJDescription").addClass("highlight");
                } else {
                    placeHolder.find(".tJDescription").removeClass("highlight");
                }

                //if (quantity == "" || !(/^\+?(0|[1-9]\d*)$/.test(quantity))) {
                //    error = error + 1;
                //    placeHolder.find(".tQuantity").addClass("highlight");
                //} else {
                //    placeHolder.find(".tQuantity").removeClass("highlight");
                //}
                if (amount == "" || !(/^(?=.*\d)\d*(?:\.\d+)?$/.test(amount)) || parseInt(amount) > 99999999 || parseInt(amount) < 1) {
                    error = error + 1;
                    placeHolder.find(".tAmount").addClass("highlight");
                } else {
                    placeHolder.find(".tAmount").removeClass("highlight");
                }


                if (error == 0) {
                    placeHolder.removeClass("danger");
                    placeHolder.addClass("info");
                } else {
                    placeHolder.addClass("danger");
                    placeHolder.removeClass("info");
                }

                return error;
            }

            function isValid(selector, message) {
                var error = 0;
                var value = $("#"+selector).val();
                if (value == "") {
                    showErrorMessageBelowCtrl(selector, "", false);
                    showErrorMessageBelowCtrl(selector, message, true);
                    //$(selector).parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html(message);
                    error = error + 1;
                } else {
                    showErrorMessageBelowCtrl(selector, "", false);
                    //$(selector).parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
                }
                return error;
            }

            function responseReturn() {

                var terror = 0;
                terror = terror + isValid("OrganizationId", "The Organization is required.");
                terror = terror + isValid("ProgramId", "The Program is required.");
                terror = terror + isValid("SessionId", "The Session is required.");
                terror = terror + isValid("CourseId", "The Course is required.");
                terror = terror + isValid("SubmissionDate", "The Submission Date is required.");
                var isValidRow;
                var TeacherAcademicMaterialDetailsViewModelArray = [];
                $("#teacherScEvaluationList tbody tr").each(function() {
                    isValidRow = checkRowValidity($(this));
                    if (isValidRow > 0) {
                        terror = terror + 1;
                    } else {
                        TeacherAcademicMaterialDetailsViewModel = {}
                        TeacherAcademicMaterialDetailsViewModel["TeacherName"] = $(this).find(".teacherName").val();
                        TeacherAcademicMaterialDetailsViewModel["TeacherId"] = $(this).find(".teacherId").val();
                        TeacherAcademicMaterialDetailsViewModel["Branch"] = $(this).find(".tBranch").val();
                        //TeacherScriptEvaluationDetailsViewModel["Quantity"] = $(this).find(".tQuantity").val();
                        TeacherAcademicMaterialDetailsViewModel["Amount"] = $(this).find(".tAmount").val();
                        TeacherAcademicMaterialDetailsViewModel["Description"] = $(this).find(".tJDescription").val();
                        TeacherAcademicMaterialDetailsViewModelArray.push(TeacherAcademicMaterialDetailsViewModel);
                    }
                });


                if (terror == 0) {
                    TeacherAcademicMaterialsViewModel = {}
                    TeacherAcademicMaterialsViewModel["OrganizationId"] = $("#OrganizationId").val();
                    TeacherAcademicMaterialsViewModel["ProgramId"] = $("#ProgramId").val();
                    TeacherAcademicMaterialsViewModel["SessionId"] = $("#SessionId").val();
                    // TeacherScriptEvaluationViewModel["CourseId"] = $("#CourseId").val();
                    TeacherAcademicMaterialsViewModel["SubmissionDate"] = $("#SubmissionDate").val();

                    TeacherAcademicMaterialsViewModel["TeacherAcademicMaterialDetailsViewModel"] = TeacherAcademicMaterialDetailsViewModelArray;

                    var data = JSON.stringify({ "teacherAcademicMViewModel": TeacherAcademicMaterialsViewModel });
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Teachers/TeacherAcademicMaterials/Create",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayTime: 120000,
                                    displayMessage: result.returnSuccess,
                                    displayMessageType: "success",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            var programId = $("#ProgramId").val();
                            var sessionId = $("#SessionId").val();
                            if (programId != "" && sessionId != "") {
                                output = testAjax();
                            } else {
                                output = "<option value=''>Select Branch</option>";
                            }
                            br = '<select name="BranchId" id="" class="form-control BranchId tBranch">' + output + '</select>';

                            var obj = {
                                "ROW_ID": 1,
                                "ITEM_TPIN": '<input type="hidden" value="" name="teacherId" class="teacherId"><input class="form-control text-box single-line teacherTpin" type="text" value="" placeholder="TPIN">',
                                "ITEM_NAME": '<input class="form-control text-box single-line teacher" type="text" value="" placeholder="Examiner Name"  readonly="readonly">',
                                "ITEM_Branch": br,
                                "ITEM_Description": '<input class="form-control text-box single-line tJDescription" type="text" value="">',
                                "ITEM_Amount": '<input class="form-control text-box single-line tAmount" type="text" value="">'
                            };
                            objs.push(obj);
                            var html = "<tr id='tr1'><td>" + obj['ITEM_TPIN'] + "</td> <td>" + obj['ITEM_NAME'] + "</td> <td>" + obj['ITEM_Branch'] + " </td> <td>" +
                                obj['ITEM_Description'] + " </td><td>" + obj['ITEM_Amount'] +
                                "</td><td><div id='increaseRow' class=' dynamicButton btn btn-primary testDiv' > -</div></td> </tr>";


                            $("#AcademicMaterial_table").empty();
                            $("#AcademicMaterial_table").append(html);
                            $("#totalAmountss").text("0");

                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });

                } else {

                }


            }

            $("#teacherAcademicMaterialsForm").submit(function() {
                return false;
            });
            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    responseReturn();
                }
            });

            $(document).on("click", "#teacherAcademicMaterialsSubmit", function(event) {
                responseReturn();
            });

            $(document).on("input propertychange", ".teacherTpin", function (event) {
                var _this = $(this);
                var parentTr = _this.parent().parent();
                var teacherNameObj = parentTr.find(".teacherName");
                var teacherIdObj = parentTr.find(".teacherId");
                var teacherTpinPrevious = parseInt(_this.val().trim());
                var organizationIds = $("#OrganizationId").val();
                if (organizationIds == "" || organizationIds.length <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                } else {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                }
                setTimeout(function () {
                    var teacherTpin = parseInt(_this.val().trim());
                    teacherNameObj.val("");
                    teacherIdObj.val("");
                    if (teacherTpin != "" && teacherTpin == teacherTpinPrevious && organizationIds != "" && organizationIds.length > 0) {
                        if (teacherTpin > 0) {
                            $.ajax({
                                type: "POST",
                                url: $("body").attr("data-project-root") + "Teachers/CommonAjaxTeacher/GetTeacherInformation",
                                cache: false,
                                async: true,
                                data: { tpin: teacherTpin, organizationIds: organizationIds, isAuthorize: true },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (response) {
                                    $.unblockUI();
                                    if (response.IsSuccess) {
                                        teacherNameObj.val(response.teacherName);
                                        teacherIdObj.val(response.teacherId);
                                        _this.removeClass('highlight');
                                        teacherNameObj.removeClass('highlight');
                                    } else {
                                        teacherNameObj.val("");
                                        teacherIdObj.val("");
                                        teacherNameObj.addClass('highlight');
                                        //$.fn.customMessage({
                                        //    displayMessage: response.Message,
                                        //    displayMessageType: "error",
                                        //});
                                    }
                                },
                                complete: function (response) {
                                    $.unblockUI();

                                },
                                error: function (response) {
                                    $.unblockUI();

                                }
                            });
                        }
                    }
                }, 1000);
            });

            $("#OrganizationId").change(function() {
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select Program</option>");
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                $('#CourseId').empty();
                $('#CourseId').append("<option value=''>Select a Course</option>");
                $('.BranchId').empty();
                $('.BranchId').append("<option value=''>Select Branch</option>");
                var orgId = $("#OrganizationId").val();
                if (orgId != "") {
                   // $("#OrganizationId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $('#ProgramId').append("<option value='-1'>Common</option>");
                                $.each(result.returnProgramList, function(i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } 

            });

            $("#ProgramId").change(function() {

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                $('#CourseId').empty();
                $('#CourseId').append("<option value=''>Select Course</option>");
                $('.BranchId').empty();
                $('.BranchId').append("<option value=''>Select Branch</option>");
                var programId = $('#ProgramId').val();
                if (programId != null && programId != "") {
                    if (programId == "-1")
                        programId = "";
                 //   $("#ProgramId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#SessionId').append("<option value='-1'>Common</option>");
                                $.each(response.returnSessionList, function(i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(response) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $("#SessionId").change(function() {

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                $('#CourseId').empty();
                $('#CourseId').append("<option value=''>Select Course</option>");
                $('.BranchId').empty();
                $('.BranchId').append("<option value=''>Select Branch</option>");
                //if (sessionId != null && sessionId != "") {
                //    $("#SessionId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                //} else {
                //    $("#SessionId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("You need to select session.");
                //}

                if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                    if (programId == "-1")
                        programId = "";
                    if (sessionId == "-1")
                        sessionId = "";
                    //Load Course List
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {

                            if (response.IsSuccess) {
                                $.each(response.returnCourse, function(i, v) {
                                    $('#CourseId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                                cache: false,
                                async: true,
                                data: { programIds: programId, sessionIds: sessionId, isAuthorized: true },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(response) {

                                    if (response.IsSuccess) {
                                        $('.BranchId').append($('<option>').text('Common').attr('value', '-1'));
                                        $.each(response.returnBranchList, function(i, v) {
                                            $('.BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                        console.log("Success ------");
                                    } else {
                                        console.log("Error -----");
                                    }
                                    $.unblockUI();
                                },
                                complete: function() {

                                    $.unblockUI();
                                },
                                error: function(response) {
                                    $.unblockUI();
                                }
                            });
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                        }
                    });
                }
            });

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = today.getFullYear().toString() + "-" + (today.getMonth() +1).toString() + "-" + today.getDate().toString();
            var endDate = today; //today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();

            $('#SubmissionDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                isValid("SubmissionDate", "The Submission Date is required.");
            });
        });
    </script>
}        

