﻿@model UdvashERP.BusinessModel.Entity.Teachers.TeacherAcademicMaterialsDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "TeacherAcademicMaterials", FormMethod.Post, new { @id = "teacherAcademicMaterialsForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Update Academic Materials</h3></div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                <option>@Model.TeacherAcademicMaterials.Organization.ShortName</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                @if (Model.TeacherAcademicMaterials.Program != null)
                                {
                                    <option>@Model.TeacherAcademicMaterials.Program.Name</option>
                                }
                                else
                                {
                                    <option>Common</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <select disabled="disabled" class="form-control">
                                @if (Model.TeacherAcademicMaterials.Session != null)
                                {
                                    <option>@Model.TeacherAcademicMaterials.Session.Name</option>
                                }
                                else
                                {
                                    <option>Common</option>
                                }


                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.Label("Submission Date", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @if (Model.TeacherAcademicMaterials.SubmissionDate != null)
                            {
                                <input type="text" class="form-control" value="@(Model.TeacherAcademicMaterials.SubmissionDate.Value.ToString("dd/MM/yyyy"))" readonly="readonly" />
                            }
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive" id="teachers">
                            <thead>
                                <tr>
                                    <th style="width: 15%;">TPIN</th>
                                    <th style="width: 20%;">Teacher Name</th>
                                    <th style="width: 55%;">Job Description</th>
                                    <th style="width: 10%;">Amount</th>
                                    @*<th style="width: 2%;">
                                        <span class="glyphicon glyphicon-plus-sign" style="cursor: pointer;"></span>
                                    </th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <input type="hidden" class="form-control teacherId" value="@Model.Teacher.Id" />
                                        <input type="text" class="form-control teacherTpin" placeholder="TPIN" value="@Model.Teacher.Tpin" readonly="readonly" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control teacherName" placeholder="Teacher Name" value="@Model.Teacher.DisplayTeacherName" readonly="readonly" />
                                    </th>
                                    <th><input type="text" name="description" style="min-width: 100%" class="form-control description" placeholder="Description" value="@Model.Description" /></th>
                                    <th><input type="text" name="amount" class="form-control Amount" placeholder="Amount" maxlength="8" size="8" value="@Model.Amount" /></th>
                                    @*<th>
                                        <span class="glyphicon glyphicon-minus-sign" style="cursor: pointer;"></span>
                                    </th>*@
                                </tr>
                            </tbody>
                            @*<tfoot>
                                <tr>
                                    <th colspan="4" class="text-right">Total Amount</th>
                                    <th class="text-right" id="totalAmount">0</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </tfoot>*@
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Update" class="btn btn-primary" id="SaveAcademicMaterials" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#teacherAcademicMaterialsForm").submit(function () {
                return false;
            });
            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    responseReturn();
                }
            });
        });
        $(document).on("input propertychange", ".teacherTpin,.description,.duration,.quantity,.Amount", function (event) {
            var e = checkRowValidity($(this).parents('tr'));

            if (e == 0) {
                $(this).parents('tr').removeClass("invalid").addClass("valid");

            } else {
                $(this).parents('tr').removeClass("valid").addClass("invalid");
            }
            //var total = 0;
            //$("#teachers tbody .valid").each(function () {
            //    total = total + parseInt($(this).find(".Amount").val());
            //});
            //$("#totalAmount").text(total);
        });
        function checkRowValidity(placeHolder) {
            var error = 0;
            var teacherTpin = placeHolder.find(".teacherTpin").val();
            var teacherName = placeHolder.find(".teacherName").val();
            var teacherId = placeHolder.find(".teacherId").val();
            var description = placeHolder.find(".description").val();
            //var duration = placeHolder.find(".duration").val();
            //var quantity = placeHolder.find(".quantity").val();
            var amount = placeHolder.find(".Amount").val();

            if (teacherTpin == "") {
                error = error + 1;
                placeHolder.find(".teacherTpin").addClass("highlight");
            } else {
                placeHolder.find(".teacherTpin").removeClass("highlight");
            }
            if (teacherName == "") {
                error = error + 1;
                placeHolder.find(".teacherName").addClass("highlight");
            } else {
                placeHolder.find(".teacherName").removeClass("highlight");
            }
            if (teacherId == "") {
                error = error + 1;
                placeHolder.find(".teacherTpin").addClass("highlight");
            }
            else {
                placeHolder.find(".teacherTpin").removeClass("highlight");
            }
            if (description == "") {
                error = error + 1;
                placeHolder.find(".description").addClass("highlight");
            } else {
                placeHolder.find(".description").removeClass("highlight");
            }
            //if (duration == "" || !(/^(?=.*\d)\d*(?:\.\d+)?$/.test(duration))) {
            //    error = error + 1;
            //    placeHolder.find(".duration").addClass("highlight");
            //} else {
            //    placeHolder.find(".duration").removeClass("highlight");
            //}
            //if (quantity == "" || !(/^\+?(0|[1-9]\d*)$/.test(quantity))) {
            //    error = error + 1;
            //    placeHolder.find(".quantity").addClass("highlight");
            //} else {
            //    placeHolder.find(".quantity").removeClass("highlight");
            //}
            if (amount == "" || !(/^(?=.*\d)\d*(?:\.\d+)?$/.test(amount))) {
                error = error + 1;
                placeHolder.find(".Amount").addClass("highlight");
            } else {
                placeHolder.find(".Amount").removeClass("highlight");
            }


            if (error == 0) {
                placeHolder.removeClass("danger");
                placeHolder.addClass("info");
            } else {
                placeHolder.addClass("danger");
                placeHolder.removeClass("info");
            }
            return error;
        }
        $(document).on("click", "#SaveAcademicMaterials", function (event) {
            responseReturn();
        });
        function responseReturn() {

            var terror = 0;
            $("#teachers tbody tr").each(function () {
                var isValidRow = checkRowValidity($(this));
                if (isValidRow > 0) {
                    terror = terror + 1;
                }
            });

            if (terror == 0) {
                console.log(terror);
                $("#teacherAcademicMaterialsForm").get(0).submit();
                
            } else {
                $.fn.customMessage({
                    displayMessage: "Please Enter valid Data",
                    displayMessageType: "error",
                });
            }
        }
    </script>
}