﻿@model UdvashERP.BusinessModel.Entity.Administration.Referrer

@{
    ViewBag.Title = "Add Referrer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Add Referrer</h3>      
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @*<input type="text" class="form-control" placeholder="Enter Student ID" required />*@
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Referrer Name" }  })
                            @Html.ValidationMessageFor(model => model.Name)
                           
                        </div>
                    </div>
                    <div id="nameval" style="color: red;margin-left: 150px;"></div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Code" } })
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="submit" type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</div>
<div>
    @Html.ActionLink("Back to Manage", "ManageReferrer")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $("#Name").blur(function() {
                if ($("#Name").val().length > 50) {
                    $("#nameval").text("Maximum 50 characters allowed in Name field");
                    //alert("ghwfgh");
                } else {
                    $("#nameval").text("");
                }
            });
            $("#submit").click(function() {

            });
        });

    </script>
}
