﻿@model UdvashERP.BusinessModel.Entity.Administration.Referrer

@{
    ViewBag.Title = "Update Referrer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">        
        <h3 class="panel-title">Update Referrer</h3>
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            <select id="Status" name="Status" class="form-control filteringColumn2">
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        if (statusType.Value == Model.Status)
                                        {
                                            <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }

                                    }
                                }
                            </select>

                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsEditable, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-1">
                            @*@Html.CheckBoxFor(model => model.IsEditable, new { htmlAttributes = new { @class = "form-control" } })*@

                            @{
                                if (@Model.IsEditable)
                                {
                                    <input type="checkbox" class="form-control" name="IsEditable" id="IsEditable" checked="checked"  value="true"/>
                                }
                                else
                                {
                                    <input type="checkbox" class="form-control" name="IsEditable" id="IsEditable" disabled="disabled" />
                                }
                           }




                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</div>

<div>
    @Html.ActionLink("Back to Manage", "ManageReferrer")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
