﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Referrer>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Referrer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="form-group">
    @using (Html.BeginForm("Create", "Referrer", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Add Referrer" class="btn btn-primary" />
           
        </div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Referrer</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">

                    <th class="form-group">
                        <input id="Name" name="ReferrerName" type="text" class="form-control filteringColumn" placeholder="Referrer" />
                    </th>

                    <th class="form-group">
                        <input id="Code" name="Code" type="text" class="form-control filteringColumn" placeholder="Code" />
                    </th>
                    <th class="form-group">
                        <input id="Rank" name="rank" type="text" class="form-control filteringColumn" placeholder="Rank" />
                    </th>
                    <th class="form-group ">
                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="Status" class="form-control filteringColumn2">
                                <option value="">Select Status </option>
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        <option value="@statusType.Value">@statusType.Key</option>
                                    }
                                }
                            </select>
                        }
                    </th>
                    
                    <th class="form-group">
                        <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>


                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            Referrer
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rank)
                        </th>
                         <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>

            </table>

        </div>

    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/jquery.blockUI.js"></script>

   <script type="text/javascript" class="init">

       $(document).ready(function () {

           function dataTableRender() {
               var PageSize = 10;
               if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                   PageSize = parseInt($('#PageSize').val());
               }
               else {
                   $('#PageSize').val(PageSize);
               }
               $('#DataGrid').dataTable({
                   destroy: true,
                   "processing": true,
                   searching: false,
                   serverSide: true,
                   "scrollX": true,
                   "bLengthChange": false,
                   "iDisplayLength": PageSize,
                   //stateSave: true,
                   order: [[2, "asc"]],
                   "aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 5] }],
                   ajax: {
                       url: 'ReferrerListResult',
                       type: 'POST',
                       data: function (d) {
                           d.Name = $('#Name').val();
                           d.Code = $('#Code').val();
                           d.Status = $('#Status').val();
                           d.Rank = $('#Rank').val();
                       }
                   }
               });
           }

           dataTableRender();
           $(document).on("click", "#search", function () {
               dataTableRender();
           });
           $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
               var id = $(this).attr("id");
               var current = $(this).parent().text().trim();
               var action = $(this).attr("data-action");
               //glyphicon glyphicon-arrow-up
               $.ajax({
                   type: "post",
                   url: $("body").attr("data-project-root") + "Administration/Referrer/RankChange",
                   cache: false,
                   async: true,
                   data: { "id": id, "current": current, "action": action },
                   success: function (result) {
                       // bootbox.alert(result).css('margin-top', (($(window).height() / 4)));
                       dataTableRender();
                   },
                   error: function (result) {
                       bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                   }
               });

           });
           $(document).on("click", ".glyphicon-trash", function () {
               var id = $(this).attr("id");
               var name = $(this).attr("data-name");
               if (id != "") {
                   bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Menu?</h3>", function (result) {
                       if (result) {
                           $.ajax({
                               type: "post",
                               url: $("body").attr("data-project-root") + "Administration/Referrer/Delete",
                               cache: false,
                               async: true,
                               data: { "id": id },
                               beforeSend: function () {
                                   $.blockUI({
                                       timeout: 0,
                                       message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                   });
                               },
                               success: function (result) {
                                   $.unblockUI();

                                   if (result.IsSuccess) {
                                       //var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Menu Delete Successfully</div>';
                                       //$('.customMessage').append(errorMessage);
                                       $.fn.customMessage({
                                           displayMessage: result.Message,
                                           displayMessageType: "s",
                                           //displayTime: 5000
                                       });
                                       dataTableRender();
                                   }
                                   else {
                                       //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                       //$('.customMessage').append(errorMessage);
                                       $.fn.customMessage({
                                           displayMessage: result.Message,
                                           displayMessageType: "e",
                                           //displayTime: 5000
                                       });
                                   }
                               },
                               complete: function () {
                                   $.unblockUI();
                               },
                               error: function (result) {
                                   //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Menu Delete Failed</div>';
                                   //$('.customMessage').append(errorMessage);
                                   $.fn.customMessage({
                                       displayMessage: "Referrer Delete Fail!",
                                       displayMessageType: "e",
                                       //displayTime: 5000
                                   });
                               }
                           });

                       }
                   }).css({ 'margin-top': (($(window).height() / 4)) });
               }
               return false;
           });
       });
</script>
}


