﻿@model UdvashERP.BusinessModel.Entity.UInventory.WorkOrder
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
<script type='text/javascript' src='~/Content/Print/js/print.js'></script>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Direct Work Order</h3>
    </div>
    <div class="panel-body">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.Branch.Organization.Name </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head">Organization</td>
                        <td>@Model.Branch.Organization.ShortName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch.Name</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Work Order Date</td>
                        <td>@Model.WorkOrderDate.Value.ToString("MMM dd, yyyy")</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Work Order No.</td>
                        <td>@Model.WorkOrderNo</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Purpose</td>
                        <td>@ViewBag.Purpose</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Supplier</td>
                        <td>@Model.Supplier</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Delivery Date</td>
                        <td>@Model.DeliveryDate.Value.ToString("MMM dd, yyyy")</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item Group</td>
                        <td>@Model.WorkOrderDetails[0].Item.ItemGroup</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item</td>
                        <td>@Model.WorkOrderDetails[0].Item</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Program & Session</td>
                        <td>@ViewBag.ProgramSession</td>
                    </tr>
                </table>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="">
                <strong>Specification:</strong>
            </div>
            <table id="items">
                <tbody>
                    @{ int counter = 0; }

                    @for (int i = 0; i < Model.WorkOrderDetails[0].WorkOrderCriteriaList.Count; i++)
                    {
                        if (counter % 2 == 0)
                        {
                            <tr>
                                @if (counter + 1 <= Model.WorkOrderDetails[0].WorkOrderCriteriaList.Count)
                                {
                                    <td>
                                        <strong>
                                            @Model.WorkOrderDetails[0].WorkOrderCriteriaList[counter].Criteria:
                                        </strong> @Model.WorkOrderDetails[0].WorkOrderCriteriaList[counter].CriteriaValue
                                    </td>
                                        
                                }
                                @if (counter + 2 <= Model.WorkOrderDetails[0].WorkOrderCriteriaList.Count)
                                {
                                    <td>
                                        <strong>
                                            @Model.WorkOrderDetails[0].WorkOrderCriteriaList[counter + 1].Criteria:
                                        </strong> @Model.WorkOrderDetails[0].WorkOrderCriteriaList[counter + 1].CriteriaValue
                                    </td>
                                }
                            </tr>
                            counter += 2;
                        }
                    }
                </tbody>
            </table>
            <div class="clearfix"></div>
            <br />
            <div class="">
                <strong>Issued Quantity & Rate Details:</strong>
            </div>
            <table id="items">
                <thead>
                    <tr>
                        <th>Ordered Quantity</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.WorkOrderDetails[0].OrderQuantity</td>
                        <td>@Model.WorkOrderDetails[0].UnitCost</td>
                        <td>@Model.WorkOrderDetails[0].TotalCost</td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix"></div>
            <br />
            <div class="row col-md-12">
                <label>
                    Remarks
                </label>
                <div class="">
                    @Model.Remarks
                </div>
            </div>
            <div class="clearfix"></div>

            
        </div>
        <br />
        <br />
        <div class="text-center">
            <button type="button" id="print" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>

<div class="clearfix"></div>

    @Html.ActionLink("Back to manage","Index")

@section Scripts {

    <script src="~/Scripts/printThis.js"></script>
    <script>
        function printFunction() { }
        $("#print").click(function () {
            $("#page-wrap").printThis();
        });
    </script>

}