﻿@model UdvashERP.BusinessModel.Entity.Administration.CourseProgress

@{
    ViewBag.Title = "Course Progress Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Course Progress Details</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Branch Name :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Batch.Branch.Name)</td>

                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Batch.Campus.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Batch.Campus.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Batch.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Batch.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Subject Name :</td>
                     @if (Model.Lecture.LectureSettings.CourseSubject != null)
                     {
                         <td style="text-align: left">@Html.DisplayFor(model => model.Lecture.LectureSettings.CourseSubject.Subject.Name)</td>
                     }
                     else
                     {
                        <td style="text-align: left">Combined</td>
                     }
                    
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Lecture Name :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Lecture.LectureName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Held Date :</td>
                    
                    @if (Model.HeldDate != null)
                    {
                        var date = Model.HeldDate.ToString("dd-MM-yyyy");
                         <td style="text-align:  left">@date</td>
                    }
                    else
                    {
                        <td style="text-align:  left"></td>
                    }
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateByText) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyByText) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                </tr>


            </table>


        </div>



    </div>
</div>
<p>@Html.ActionLink("Back to Manage", "ManageCourseProgress", "CourseProgress")</p>
