﻿@model UdvashERP.BusinessModel.ViewModel.CourseProgressViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Manage Course Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Manage Course Progress
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ManageCourseProgress", "CourseProgress", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.orgList, "Select Organization", new { @class = "form-control", @name = "something" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Course Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBranch, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCampus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Batch Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Subject", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedSubject, (SelectList)ViewBag.SelectedSubject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedSubject, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="hidden" name="lectureIds" id="lectureIds" />
                <input type="hidden" name="teacherIds" id="teacherIds" />
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary" id="Submit" />
                    </div>
                </div>

            </div>
        }

    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function() {
            $('#countBtn').attr('disabled', 'disabled');
            var teacherIds = [];
            var lectureIds = [];
            console.log("EXAM EVALUATION INITIALIZEDs");
            //organization change functionalities
            $("#OrganizationId").change(function() {
                var organizatonId = $(this).val();
                $("#ProgramId option").remove();
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $("FromTime").val('');
                $("#ToTime").val('');
                $("#SelectedLecture option").remove();
                $("#SelectedTeacher option").remove();
                $("#SelectedSubject option").remove();
                $('#SessionId').append("<option value=''>Select Session</option>");
                //$('#SelectedCourse').append("<option value=''>Select Course</option>");
                //$('#SelectedBranch').append("<option value=''>Select Branch</option>");
                //$('#SelectedCampus').append("<option value=''>Select Campus</option>");
                //$('#SelectedBatchDays').append("<option value=''>Select Batch Days</option>");
                //$('#SelectedBatchTime').append("<option value=''>Select Batch Time</option>");
                //$('#SelectedBatch').append("<option value=''>Select Batch</option>");
                if (organizatonId != "") {
                    $.ajax({
                        //url: 'GetProgramTeacherByOrganization',
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizatonId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                //load programs
                                $('#ProgramId').append('<option value="">Select Program</option>');
                                if (response.returnProgramList != null && response.returnProgramList.length > 0) {
                                    $.each(response.returnProgramList, function(i, v) {
                                        $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });

                                    $("#ProgramId").find('option:eq(0)').prop('selected', true);
                                }

                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error:
                            function(response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                                $('.customMessage').append(errorMessage);

                            }
                    });

                } else {

                    $('#ProgramId').append('<option value="">Select Program</option>');
                }
            });
            //Program Change Functionalities
            $(document).on('change', '#ProgramId', function() {

                $("#missingImageCount").html("...");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();

                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $("#SelectedLecture option").remove();
                $("#SelectedTeacher option").remove();
                $("#SelectedSubject option").remove();
                $("FromTime").val('');
                $("#ToTime").val('');

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select session</option>");


                var programId = $("#ProgramId").val();

                if (programId != null && programId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForSession",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $.each(result.returnSessionList, function(i, v) {
                                $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            //$("#SessionId").html(result);
                            console.log("Success -----");
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            //
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });


            //Session Change Functionalities
            $(document).on('change', '#SessionId', function() {

                $("#missingImageCount").html("...");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();

                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $("#SelectedLecture option").remove();
                $("#SelectedTeacher option").remove();
                $("FromTime").val('');
                $("#ToTime").val('');

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var organizationId = $("#OrganizationId").val();
                if (programId != null && programId != "" && sessionId != null && sessionId != "" && sessionId != '0') {

                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForBranch",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $('#SelectedBranch').append("<option value='0'>All Branch</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success -----");

                                $.ajax({
                                    //url: 'GetCourseList',
                                    //url: '/Student/Attendance/GetCourseList',
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                    type: "POST",
                                    data: { programIds: programId, sessionIds: sessionId, isAuthorized: true },
                                    beforeSend: function() {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function(result1) {
                                        $.unblockUI();
                                        $('#SelectedCourse').append("<option value='0'>All Course</option>");
                                        if (result1.IsSuccess) {
                                            $.each(result1.returnCourse, function(i, v) {
                                                $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                            //$("#SelectedCourse").find('option:eq(0)').prop('selected', true);

                                            $("#SelectedSubject option").remove();
                                            $("FromTime").val('');
                                            $("#ToTime").val('');
                                        } else {
                                            console.log("Error -----");

                                        }
                                    },
                                    complete: function() {
                                        $.unblockUI();
                                        console.log("Complete -----");

                                    },
                                    error: function(result) {
                                        $.unblockUI();
                                        console.log("Failed -----");

                                    }
                                });
                            } else {
                                $.unblockUI();
                                console.log("Error -----");

                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });

            $(document).on('change', '#SelectedCourse', function() {
                $("#SelectedSubject option").remove();
                var courseId = $("#SelectedCourse").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                if (courseId.length > 0) {
                    $.ajax({
                        //url: 'GetCourseList',
                        url: '/Administration/CourseProgress/GetSubject',
                        type: "POST",
                        data: { programId: programId, sessionId: sessionId, courseIdList: courseId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                if (result.subjectList.length > 0) {
                                    $('#SelectedSubject').append($('<option>').text("All subject").attr('value', 0));
                                }
                                $.each(result.subjectList, function (i, v) {
                                    $('#SelectedSubject').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //$("#SelectedSubject").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }

            });
            //Branch Change Functionalities
            $(document).on('change', '#SelectedBranch', function() {

                $("#missingImageCount").html("...");
                $("FromTime").val('');
                $("#ToTime").val('');
                //remove all dependant dropdownlist & selection option
                $("#SelectedCampus option").remove();

                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForCampus",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedCampus').append("<option value='0'>All campus</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnCampusList, function(i, v) {
                                    $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                /// $("#SelectedCampus").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");

                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });


            //Campus Change Functionalities
            $(document).on('change', '#SelectedCampus', function() {

                $("#missingImageCount").html("...");
                $("FromTime").val('');
                $("#ToTime").val('');
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForBatchDay",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedBatchDays').append("<option value='0'>All Batch Days</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBatchDays, function(i, v) {
                                    //if (v.Value == 0)
                                    //    $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                    //else
                                    $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                                });
                                /// $("#SelectedBatchDays").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");

                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });


            //Batch Day Change Functionalities
            $(document).on('change', '#SelectedBatchDays', function() {

                $("#missingImageCount").html("...");
                $("FromTime").val('');
                $("#ToTime").val('');
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $("#SelectedExam option").remove();
                $('#countBtn').attr('disabled', 'disabled');
                $('#countValue').val('0');

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();

                if (programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForBatchTime",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedBatchTime').append("<option value='0'>All Batch Times</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBatchTime, function(i, v) {
                                    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                /// $("#SelectedBatchTime").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });


            //Batch Time Change Functionalities
            $(document).on('change', '#SelectedBatchTime', function() {

                $("#missingImageCount").html("...");
                $("FromTime").val('');
                $("#ToTime").val('');
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatch option").remove();
                $("#SelectedExam option").remove();
                $('#countBtn').attr('disabled', 'disabled');
                $('#countValue').val('0');

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTime = $("#SelectedBatchTime").val();

                var batchTimeText = [];
                $("#SelectedBatchTime option:selected").each(function() {
                    var $this = $(this);
                    if ($this.length) {
                        batchTimeText.push($this.text());
                    }
                });

                if (programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != ""
                    && batchTime != null && batchTime != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForBatch",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                        cache: false,
                        async: true,
                        data: { programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, batchTimes: batchTime, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $('#SelectedBatch').append("<option value='0'>All Batch</option>");
                            if (result.IsSuccess) {
                                $.each(result.returnBatch, function(i, v) {
                                    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                /// $("#batchName").find('option:eq(0)').prop('selected', true);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });
        });
    </script>
} 