﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - Udvash Online Registration</title>*@
    @{
        var isMobile = "";
        var mobileModel = "";
        if (Request.Browser.IsMobileDevice == true)
        {
            isMobile = "[M]";
            mobileModel = ", " + Request.Browser.MobileDeviceModel;
        }
    }
    @*<title>@isMobile UDVP - @ViewBag.Title [@Request.Browser.Browser @Request.Browser.Version, @Request.Browser.Platform@mobileModel] [@DateTime.Now.ToString("HH:mm:ss")] [@Request.UserHostAddress]</title>*@
    <title>@isMobile UDVP - @ViewBag.Title</title>
    <script>
        if (window.top !== window.self) window.top.location.replace(window.self.location.href);
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-project-root="@Url.Content("~")">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<a href="~/home">*@
            <div class="headerimage" style="border-bottom: 2px solid #000000;">

            </div>
            @*</a>*@
            @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Registration", "Registration", "Home")</li>

                    </ul>
                </div>*@
        </div>
    </div>
    <div class="container" style="background: #FFF; max-width: 1140px;">
        <div class="body-content" style="margin: 0 auto; max-width: 970px;">
            <br />
            <div class="customMessage text-center">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Error!</strong> @ViewBag.ErrorMessage
                    </div>
                }

                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Success!</strong> @ViewBag.SuccessMessage
                    </div>
                }

                @if (ViewBag.InfoMessage != null)
                {
                    <div class="alert alert-info">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Info! </strong>@ViewBag.InfoMessage
                    </div>
                }

                @if (ViewBag.WarningMessage != null)
                {
                    <div class="alert alert-warning">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Warning! </strong>@ViewBag.WarningMessage
                    </div>
                }
            </div>

            @RenderBody()


        </div>
    </div>
    <div class="container" style="max-width: 1140px; margin-top: 10px; ">
        <div class="body-content" style="margin: 0 auto; max-width: 970px; color: #FFF; ">
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - Udvash @*| Powered by: <a href="http://www.udvash.com" target="_blank" style="color: #FFF;">Udvash</a>.*@</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (Request.Url.ToString().Contains("dev") == false)
    {
        //TRACKING CODE FOR INTEGRATED ERP

            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-42339180-6', 'auto', { 'allowLinker': true });
                ga('send', 'pageview');
                ga('require', 'linker');
                ga('linker:autoLink', ['orgbd.net', 'umsbd.net', 'unmeshbd.com', 'public.udvash.com'], false, true);

            </script>

        //TRACKING CODE FOR INTEGRATED ERP
    }
</body>
</html>
