﻿@*@model IEnumerable<UdvashFMS.Model.Entity.Folder>*@

<link type="text/css" href="~/Content/Student/imageUpload.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row" style="min-width: 720px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("FileUpload", "Image", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload", @class = "form-group" }))
                        {
                            <div class="col-lg-12">
                                <div class="panel panel-default" id="drop">
                                    <p style="margin: 0px auto; margin-top: 50px;">Drop Here</p>
                                    <a>Browse</a>
                                    <input type="hidden" name="hidden" id="hidden" value="" />
                                    <input type="file" name="upl" multiple />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-md-12 hide" id="upper">
                                    <div class="col-md-9">
                                        <input class="button" type="button" value="Upload" onclick="Upload();" />
                                    </div>
                                    <div class="col-md-3">
                                        <span style="margin-left: 110px;" onclick="FadeAllList()">
                                            <img src="~/Content/Image/delete-icon.png" style="width: 35px; height: 35px; margin-top: 20px;" />
                                        </span>
                                    </div>
                                </div>


                                <div id="div1" class="col-md-12" style="margin-top: 10px;">
                                    <ul id="ul">
                                        <!-- The file uploads will be shown here -->
                                    </ul>
                                </div>
                                <div class="col-md-5"></div>
                                <input class="button" style="margin: 10px;" type="button" value="Upload" onclick="Upload();" />
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    function FadeAllList() {
        var li = $('#upload ul li');

        for (var i = 0; i < li.length; i++) {
            li[i].remove();
        }

        document.getElementById('upper').className = 'hide';
    }


    var x = new Array();

    function GenerateCheckList(checkBox) {
        if (checkBox.checked) {
            x.unshift(checkBox.id);

        } else {
            var index = x.indexOf(checkBox.id);
            if (index > -1) {
                x.splice(index, 1);
            }
        }
    }

    function Upload() {
        var hiddenvalue = ''; 

        document.getElementById('hidden').value = hiddenvalue;
         

        for (var k = dataIndex; k <= dataList.length; k++) {
            if (dataList[k] != null) {
                var file1 = dataList[k];
                checkSettings(file1);
            }

            dataIndex = k;
        }
    }


    function checkSettings(file) {
        var name = file.files[0].name;
        var type = file.files[0].type;
        var size = file.files[0].size;

        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckFile", "ImageUpload")',
            data: { name: name, type: type, size: size },
            success: function (response) {
                var x = response.length;
                if (response.length <= 1) {
                    file.submit();
                }
                else {
                    var li = $('li[class="working ' + name + '"]');
                    var pUploadMessage = li.find('div.message');
                    pUploadMessage.html(response).css('color', '#F00');
                }
            },
            error: function (response) {
            }
        });
    }
</script>

@section scripts
{
    <script src="~/Scripts/Student/Image/jquery.ui.widget.js"></script>
    <script src="~/Scripts/Student/Image/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/Student/Image/jquery.fileupload.js"></script>
    <script src="~/Scripts/Student/Image/jquery.knob.js"></script>
    <script src="~/Scripts/Student/Image/script.js"></script>
}