﻿<div class="panel panel-primary">
    <div class="panel-heading">
        Student Report
    </div>
    <div class="panel-body">

        <div id="mainDiv">
            <input type="hidden" id="paymentMethod" name="paymentMethod" value="@ViewBag.PaymentMethod" />
            <div class="row text-center"><strong>@ViewBag.OrganizationName</strong>
            </div>
            <div class="row text-center"><strong id="ProgramName">@ViewBag.programName</strong>
            </div>
            <div class="row text-center" style="margin-bottom: 20px;"><strong>Student Report</strong>
            </div>
            <div class="row text-left col-md-12">
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td><strong>Session:</strong></td>
                            <td id="SessionName">@ViewBag.sessionName</td>
                        </tr>
                        <tr>
                            <td><strong>Campus:</strong> </td>
                            <td id="CampusName">@ViewBag.campusName</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td><strong>Branch:</strong> </td>
                            <td id="BranchName">@ViewBag.branchName</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="administrationBodyContent">
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Sl.</th>
                        <th><strong>Name</strong></th>
                    </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>