﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Students
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentTranferViewModel
@{
    var prnNo = "";
    decimal? dueAmount = null;
    var disableField = "";
    bool imageStatus = false;
    int gender=0;
    bool checkBlocked = ViewBag.CheckBlocked;
    string blockedMessage = ViewBag.BlockedMessage;
    decimal studentPayableAmount = ViewBag.StudentPayableAmount;
    //string chBlock = ViewBag.CheckBlocked;
    string cBlock = "";
    cBlock = checkBlocked ? "true" : "false";
    var prevStudentTransfer = (StudentTransfer) ViewBag.PreviousTransferInfo;
}
<style>
    table tr td:nth-child(odd) {
        font-weight: bold;
    }
</style>
@foreach (StudentProgram value in ViewBag.StudentProgram)
{
    prnNo = value.PrnNo;
    dueAmount = value.DueAmount;
    imageStatus = (value.StudentImage.Count > 0) ? true : false ;
    if (value.Student.Gender != null)
    {
        gender = (int)value.Student.Gender;
    }
    <div class="form-group col-md-12">
        <div id="info" style="">
            <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
                <tr>
                    <td>Student Program Roll No </td>
                    <td>@value.PrnNo</td>
                    <td>Course Taken </td>
                    <td>
                        @{
                            var studentCourseDetails = value.StudentCourseDetails.Where(x => x.Status == StudentCourseDetail.EntityStatus.Active);
                            var query = studentCourseDetails.GroupBy(x => x.CourseSubject.Course, (key, group) => new { Course = key, subjects = group.ToList() });
                            var courseList = query.ToList();
                        }

                        @foreach (var value2 in courseList)
                        {
                            if (value2.Course != null)
                            {
                                @(value2.Course.Name + ", ")
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>Student Name </td>
                    <td>@value.Student.NickName</td>
                    <td>Due </td>
                    <td>
                        @if (value.DueAmount != null)
                        {
                            @(value.DueAmount + " TK")
                        }
                        else
                        {
                            @(0 + ".00 TK")
                        }

                    </td>
                </tr>
                <tr>
                    <td>Contact Number </td>
                    <td>@value.Student.Mobile</td>
                    <td>Image Status </td>
                    <td>
                        @if (value.StudentImage.Count > 0)
                        {
                            <span>Ok</span>
                        }
                        else
                        {
                            <span>Due</span>
                        }
                    </td>
                </tr>
            </table>

            <div style="text-decoration: underline">
                <p> <strong>Previous Transfer Information :</strong></p>
            </div>
            <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
                @if (prevStudentTransfer != null)
                {
                    <tr>
                        <td>
                            Payable
                        </td>
                        <td>
                            @prevStudentTransfer.Payable
                        </td>
                        <td>
                            Receivable
                        </td>
                        <td>
                            @prevStudentTransfer.Receiveable
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Transfer Date
                        </td>
                        <td>
                            @prevStudentTransfer.TransferDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            Last Transfer Due
                        </td>
                        <td>
                            @prevStudentTransfer.DueAmount
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            Payable
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            Receivable
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Transfer Date
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            Last Transfer Due
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                }
            </table>
               
           
        </div>
    </div>
    <input type="hidden" value="@(value.Batch.Program.Id)" id="programId" />
    <input type="hidden" value="@(value.Batch.Session.Id)" id="sessionId" />
    <input type="hidden" value="@(studentPayableAmount)" id="SPayableAmount"/>
    <input type="hidden" value="@(cBlock)" id="chBlock"/>
    <input type="hidden" value="@(blockedMessage)" id="blockMessage"/>
}

<div class="">
    <div class="form-group">
        <div class="col-md-6" style="text-decoration: underline"><strong>Transfer From :</strong></div>
        <div class="col-md-6" style="text-decoration: underline"><strong>Transfer To :</strong></div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Branch", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.Hidden("PrnNo", prnNo)
                @Html.Hidden("Gender", gender)
                @Html.DropDownList("branchId1", (SelectList)ViewBag.OldBranch, "Select Branch", new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.Label("Branch", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    if (!checkBlocked)
                    //if (dueAmount != null && dueAmount == 0)
                    {
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.NewBranchList, "Select Branch", new { @class = "form-control", })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.NewBranchList, "Select Branch", new { @class = "form-control", disabled = "disable" })
                    }
                }
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Campus", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("campusId1", (SelectList)ViewBag.OldCampusList, "Select Campus", new { @class = "form-control", disabled = "disabled" })

            </div>

            @Html.Label("Campus", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    if (!checkBlocked)
                    //if (dueAmount != null && dueAmount == 0)
                    {
                        @Html.DropDownListFor(model => model.CampusId, (SelectList)ViewBag.NewcampusList, "Select Campus", new { @class = "form-control", })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.CampusId, (SelectList)ViewBag.NewcampusList, "Select Campus", new { @class = "form-control", disabled = "disabled" })
                    }
                }


            </div>
        </div>
        <div class="form-group">
            @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("batchDays1", (SelectList)ViewBag.OldBatchDays, "Select Batch Days", new { @class = "form-control", disabled = "disabled" })

            </div>

            @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    if (!checkBlocked)
                    //if (dueAmount != null && dueAmount == 0)
                    {
                        @Html.DropDownListFor(model => model.BatchDays, (SelectList)ViewBag.NewBatchList, "Select Batch Days", new { @class = "form-control", })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.BatchDays, (SelectList)ViewBag.NewBatchList, "Select Batch Days", new { @class = "form-control", disabled = "disabled" })
                    }
                }


            </div>
        </div>
        <div class="form-group">
            @Html.Label("Batch Times", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("batchTimes1", (SelectList)ViewBag.OldBatchTimes, "Select Batch Times", new { @class = "form-control", disabled = "disabled" })

            </div>

            @Html.Label("Batch Times", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    if (!checkBlocked)
                    //if (dueAmount != null && dueAmount == 0)
                    {
                        @Html.DropDownListFor(model => model.BatchTimes, (SelectList)ViewBag.NewBatchList, "Select Batch TImes", new { @class = "form-control", })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.BatchTimes, (SelectList)ViewBag.NewBatchList, "Select Batch TImes", new { @class = "form-control", disabled = "disabled" })
                    }
                }
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Batch Name", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("batchName1", (SelectList)ViewBag.OldbatchList, "Select Batch Name", new { @class = "form-control", disabled = "disabled" })

            </div>

            @Html.Label("Batch Name", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    //if (dueAmount != null && dueAmount == 0)
                    if (!checkBlocked)
                    {
                        @Html.DropDownListFor(model => model.batchName, (SelectList)ViewBag.NewBatchList, "Select Batch Name", new { @class = "form-control", })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.batchName, (SelectList)ViewBag.NewBatchList, "Select Batch Name", new { @class = "form-control", disabled = "disabled" })
                    }
                }
            </div>
        </div>
        <div class="form-group" style="padding-top: 20px;">
            <div class="col-md-6" style="text-decoration: underline">
                <strong>Transfer Amount :</strong>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Payable, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (!checkBlocked)
                {
                    @Html.EditorFor(model => model.Payable, new { htmlAttributes = new { @class = "form-control", @id = "payableAmount", PlaceHolder = "Payable Amount", maxlength = "5", autocomplete = "off" } })

                }
                else
                {
                    @Html.EditorFor(model => model.Payable, new { htmlAttributes = new { @class = "form-control", @id = "payableAmount", PlaceHolder = "Payable Amount", maxlength = "5", disabled = "disabled" } })
                }

                &nbsp;<span id="errmsg" style="color: red;"></span>
            </div>
            @Html.LabelFor(model => model.Receiveable, "Receivable", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (!checkBlocked)
                {
                    @Html.EditorFor(model => model.Receiveable, new { htmlAttributes = new { @class = "form-control", @id = "receiveableAmount", PlaceHolder = "Receivable Amount", maxlength = "5", autocomplete = "off" } })
                }
                else
                {
                    @Html.EditorFor(model => model.Receiveable, new { htmlAttributes = new { @class = "form-control", @id = "receiveableAmount", PlaceHolder = "Receivable Amount", maxlength = "5", disabled = "disabled" } })
                }
                &nbsp;<span id="errmsg2" style="color: red;"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DueClassExam, "Due Class / Exams", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DueClassExam, new { htmlAttributes = new { @class = "form-control", @id = "dueClassExam", PlaceHolder = "Due class exam", maxlength = "5" } })
                &nbsp;<span id="errmsg3" style="color: red;"></span>
            </div>
        </div>
    </div>
    <div class="text-center">
        @{
            // if (dueAmount != null && dueAmount == 0 && imageStatus)
            if (!checkBlocked)
            {
                <button type="submit" value="Transfer" id="transfer" class="btn btn-primary" >Transfer Student</button>
            }
            else
            {
                <button type="submit" value="Transfer" id="transfer" class="btn btn-primary" disabled="disabled">Transfer Student</button>
            }
}
    </div>

    <input type="hidden" value="@(ViewBag.CheckOldBranch)" name="CheckOldBranch" id="CheckOldBranch" />
    <input type="hidden" value="@(ViewBag.CkeckOldCampus)" name="CheckOldCampus" id="CheckOldCampus" />
    <input type="hidden" value="0" name="" id="batchCapacity" />
    </div>
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
<script type="text/javascript">

    validateDropDownField("BranchId", "Select a Branch.");
    validateDropDownField("CampusId", "Campus name is required.");
    validateDropDownField("BatchDays", "Batch Days is required.");
    validateDropDownField("BatchTimes", "Batch Times is required.");
    validateDropDownField("batchName", "Batch Name is required.");
    validateTextField("payableAmount", "Payable amount is required.");
    validateTextField("receiveableAmount", "Receiveable amount is required.");
    validateTextField("receiveableAmount", "Receiveable amount is required.");
    validateTextField("dueClassExam", "Due class/exams is required.");

    $(document).ready(function () {
        var studentPayAbleAmount = parseInt($("#SPayableAmount").val());
        $("#payableAmount").keyup(function (e) {
            var amount = parseInt($(this).val());
            if ($(this).val() != '') {
                $("#payableAmount").removeClass("highlight");
                $("#receiveableAmount").removeClass("highlight");
                $("#receiveableAmount_err_div").remove();
                $("#receiveableAmount").not(this).attr('disabled', 'disabled');
            } else {
                $("#receiveableAmount").removeAttr('disabled');
            }
            if (amount > studentPayAbleAmount) {
                $("#errmsg").html("Payable amount must be " + studentPayAbleAmount + " or below this amount.").show().delay(3000).fadeOut("slow");
                return false;
            }
        });
        $("#receiveableAmount").keyup(function (e) {
            var amount = parseInt($(this).val());
            if ($(this).val() != '') {
                $("#payableAmount").removeClass("highlight");
                $("#receiveableAmount").removeClass("highlight");
                $("#payableAmount_err_div").remove();
                $("#payableAmount").not(this).attr('disabled', 'disabled');
            } else {
                $("#payableAmount").removeAttr('disabled');
            }
            if (amount > studentPayAbleAmount) {
                $("#errmsg2").html("Receivable amount must be " + studentPayAbleAmount + " or below this amount.").show().delay(3000).fadeOut("slow");
                return false;
            }
        });
        
        $("#payableAmount").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only ").show().fadeOut("slow");
                return false;
            }

        });
        $("#receiveableAmount").keypress(function (e) {
            //var amount = parseInt($(this).val());
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg2").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#dueClassExam").keypress(function (e) {
            //var amount = parseInt($(this).val());
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg3").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $(document).on('click', '#transfer', function (e) {


            $('.field-validation-error').remove();

            var branchId = $('#BranchId').val();
            var campusId = $('#CampusId').val();
            var batchDays = $('#BatchDays').val();
            var batchTimes = $('#BatchTimes').val();
            var batchName = $('#batchName').val();
            var checkOldBranch = $("#CheckOldBranch").val();
            var checkOldCampus = $("#CheckOldCampus").val();
            var payableAmount = $("#payableAmount").val();
            var receiveableAmount = $("#receiveableAmount").val();
            var dueClassExams = $("#dueClassExam").val();
            var remainCapacity = $('#batchCapacity').val();
            var isSuccess = true;
            if (remainCapacity <= 0) {
                //alert(remainCapacity);
                $(".customMessage").html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' +
                    '<strong>Error!</strong> No available capacity for this batch.Please select another batch </div>');
                isSuccess = false;
            }
            if (payableAmount == "") {
                if (receiveableAmount == "") {
                    showErrorMessageBelowCtrl("receiveableAmount", "", false);
                    showErrorMessageBelowCtrl("receiveableAmount", "Receivable amount is required.", true);

                    showErrorMessageBelowCtrl("payableAmount", "", false);
                    showErrorMessageBelowCtrl("payableAmount", "Payable amount is required.", true);
                    isSuccess = false;
                }

            }
            if (dueClassExams == null || dueClassExams <= "") {
                showErrorMessageBelowCtrl("dueClassExam", "", false);
                showErrorMessageBelowCtrl("dueClassExam", "Due class/exam is required.", true);
                isSuccess = false;
            }
            if (branchId == null || branchId <= 0) {
                showErrorMessageBelowCtrl("BranchId", "", false);
                showErrorMessageBelowCtrl("BranchId", "Branch name is required.", true);
                isSuccess = false;
            }
            if (campusId == null || campusId.length <= 0) {
                showErrorMessageBelowCtrl("CampusId", "", false);
                showErrorMessageBelowCtrl("CampusId", "Campus name is required.", true);
                isSuccess = false;
            }
            if (batchDays == null || batchDays.length <= 0) {
                showErrorMessageBelowCtrl("BatchDays", "", false);
                showErrorMessageBelowCtrl("BatchDays", "Batch Days is required.", true);
                isSuccess = false;
            }
            if (batchTimes == null || batchTimes.length <= 0) {
                showErrorMessageBelowCtrl("BatchTimes", "", false);
                showErrorMessageBelowCtrl("BatchTimes", "Batch Times is required.", true);
                isSuccess = false;
            }
            if (batchName == null || batchName.length <= 0) {
                showErrorMessageBelowCtrl("batchName", "", false);
                showErrorMessageBelowCtrl("batchName", "Batch name is required.", true);
                isSuccess = false;
            }

            if (isSuccess == true) {
                if (branchId == checkOldBranch && campusId == checkOldCampus) {
                    $.fn.customMessage({
                        displayMessage: "Please select another campus.",
                        displayMessageType: "e"
                    });
                    return false;
                }
                else {
                    return true;
                }

            }
            else {
                e.preventDefault();
                return false;
            }

        });
        $('body').keydown(function (e) {
            if (e.keyCode == 13) {
                if ($("#PrnNo").val() != "" && $("#PrnNo").val() != undefined) {
                    $(".panel-body form").submit();
                }
            }
        });

        $("#BranchId").change(function () {
            $.ajax({
                @*url: '@Url.Action("GetCampusAndOthersByBranch", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                type: "POST",
                cache: false,
                async: true,
                data: { branchIds: $("#BranchId").val(), isAuthorized: false },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {

                    $('#CampusId').html("<option value=''>Select Campus</option>");
                    $('#BatchDays').html("<option value=''>Select Batch Days</option>");
                    $('#BatchTimes').html("<option value=''>Select Batch Times</option>");
                    $('#batchName').html("<option value='0'>Select Batch Name</option>");
                    if (response.returnCampusList == "") { }
                    else {
                        $.each(response.returnCampusList, function (i, v) {
                            $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });

                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response) {
                    bootbox.alert("Unable to update.").css('margin-top', (($(window).height() / 4)));
                }
            });
        });
        $("#CampusId").change(function () {
            $.ajax({
                @*url: '@Url.Action("GetBatchInfoByBranchCampus", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                type: "POST",
                cache: false,
                async: true,
                data: { programIds: $("#programId").val(), branchIds: $("#BranchId").val(), sessionIds: $("#sessionId").val(), campusIds: $(this).val(), isAuthorized: false },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    $('#BatchDays').html("<option value=''>Select Batch Days</option>");
                    $('#BatchTimes').html("<option value=''>Select Batch Times</option>");
                    $('#batchName').html("<option value='0'>Select Batch Name</option>");
                    if (response.returnBatchDays == "") { }
                    else {
                        $.each(response.returnBatchDays, function (i, v) {
                            $('#BatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                        });

                        //$.each(response.batchTime, function (i, v) {
                        //    $('#BatchTimes').append($('<option>').text(v.Text).attr('value', v.Value));
                        //});

                        //$.each(response.batchName, function (i, v) {
                        //    $('#batchName').append($('<option>').text(v.Text).attr('value', v.Value));
                        //});
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response) {
                    bootbox.alert("Unable to update.").css('margin-top', (($(window).height() / 4)));
                }
            });
        });
        $("#BatchDays").change(function () {
            $.ajax({
                @*url: '@Url.Action("GetBatchInfoByBranchCampus", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                type: "POST",
                cache: false,
                async: true,
                data: { programIds: $("#programId").val(), branchIds: $("#BranchId").val(), sessionIds: $("#sessionId").val(), campusIds: $("#CampusId").val(), batchDays: $(this).val(), selectedGenders: $('#Gender').val(), isAuthorized: false },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    $('#BatchTimes').html("<option value=''>Select Batch Times</option>");
                    $('#batchName').html("<option value='0'>Select Batch Name</option>");
                    if ($("#BatchDays").val() == '') { }
                    else {
                        $.each(response.returnBatchTime, function (i, v) {
                            $('#BatchTimes').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                        //$.each(response.batchName, function (i, v) {
                        //    $('#batchName').append($('<option>').text(v.Text).attr('value', v.Value));
                        //});
                    }

                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response) {
                    bootbox.alert("Unable to update.").css('margin-top', (($(window).height() / 4)));
                }
            });
        });
        $("#BatchTimes").change(function () {
            $.ajax({
                url: '@Url.Action("LoadBatch", "StudentTransfer")',
                //url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                type: "POST",
                cache: false,
                async: true,
                data: { programIds: $("#programId").val(), branchIds: $("#BranchId").val(), sessionIds: $("#sessionId").val(), campusIds: $("#CampusId").val(), batchDays: $("#BatchDays").val(), batchTimes: $(this).val(), selectedGenders: $('#Gender').val(), isAuthorized: false },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    $('#batchName').html("<option value=''>Select Batch Name</option>");
                    if ($("#BatchTimes").val() == "") { }
                    else {
                        $.each(response.returnBatch, function (i, v) {
                            $('#batchName').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response) {
                    bootbox.alert("Unable to update.").css('margin-top', (($(window).height() / 4)));
                }
            });
        });
        $("#batchName").change(function () {
            $('#batchCapacity').val("0");
            $.ajax({
                url: '@Url.Action("RemainCapacityOfBatch", "StudentTransfer")',
                type: "POST",
                cache: false,
                async: true,
                data: { batchId: $(this).val() },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    $('#batchCapacity').val(response.remainingCapacity);
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response) {

                }
            });
        });
    });

</script>





