﻿@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Dto
@model UdvashERP.BusinessModel.ViewModel.Hr.HolidayWorkFormViewModel
@{  ViewBag.Title = "Holiday Work Approval";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
<style>
    input {
        max-width: 100%;
    }
    textarea {
        border: none;
        width: 100% !important;
        -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
        -moz-box-sizing: border-box; /* FF1+ */
        box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
    }
</style>

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Holiday Work Approval</h3>
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="  form-group">
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control form-date", @placeholder = "From Date", @readonly = "readonly", @Value = ViewBag.DateFrom } })
                            @Html.ValidationMessageFor(model => model.FromDate)
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ToDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control form-date", @placeholder = "To Date", @readonly = "readonly", @Value = ViewBag.DateTo } })
                            @Html.ValidationMessageFor(model => model.ToDate)
                        </div>
                        @Html.LabelFor(model => model.PinList, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PIN with space" } })
                            @Html.ValidationMessageFor(model => model.PinList)
                        </div>
                        <div class="col-md-2 text-center">
                            <input type="submit" value="View" class="btn btn-primary" id="view" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            List<HolidayApprovalDto> holidayApprovalList = ViewBag.holidayWorkApprovalList;
            if (holidayApprovalList != null && holidayApprovalList.Any())
            {
                <div class="panel-body" id="displayList">
                    <table class="table table-bordered text-center" width="100%" id="holidayWorkApprovalDisplayList">
                        <thead>
                            <tr>
                                <th>PIN</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Date</th>
                                <th>In Time</th>
                                <th>Out Time</th>
                                <th width="380px">Holiday Work Approval</th>
                                <th width="350px">Reason</th>
                            </tr>
                        </thead>
                        <tbody class="holidayWorkApprovalDisplayList">
                            @foreach (var holidayApproval in holidayApprovalList)
                            {
                                string noBtnId = "no" + holidayApproval.TeamMemberId;
                                string halfBtnId = "helf" + holidayApproval.TeamMemberId;
                                string fullBtnId = "full" + holidayApproval.TeamMemberId;
                                <tr>
                                    <td class="memberPin" data-pin="@holidayApproval.Pin">@holidayApproval.Pin<input type="hidden" name="holidayId" class="holidayId" value="@holidayApproval.HolidayWorkId"/></td>
                                    <td class="memberName" data-name="@holidayApproval.Name">@holidayApproval.Name</td>
                                    <td class="memberDesignationName" data-designationname="@holidayApproval.DesignationName">@holidayApproval.DesignationName</td>
                                    <td class="memberHolidayWorkDate" data-workDate="@holidayApproval.HolidayWorkDate">@holidayApproval.HolidayWorkDate</td>
                                    <td class="memberInTime" data-intime="@holidayApproval.InTime">@holidayApproval.InTime.ToString("hh:mm tt")</td>
                                    <td class="memberOutTime" data-outtime="@holidayApproval.OutTime">@holidayApproval.OutTime.ToString("hh:mm tt")</td>
                                    <td class="approvalType" data-approvaltype="@holidayApproval.ApprovalType">
                                        @if (holidayApproval.ApprovalType == null)
                                        {
                                            <input type="radio" name="@holidayApproval.HolidayWorkDate@holidayApproval.Pin" id="@noBtnId" class="noHolidayApproval" value="@holidayApproval.Pin" checked="checked"/>
                                        }
                                        else
                                        {
                                            <input type="radio" name="@holidayApproval.HolidayWorkDate@holidayApproval.Pin" id="@noBtnId" class="noHolidayApproval" value="@holidayApproval.Pin"/>
                                        }
                                        <span>No &nbsp;&nbsp;</span>

                                        @if (holidayApproval.ApprovalType != null && holidayApproval.ApprovalType == Convert.ToInt32(HolidayWorkApprovalStatus.Half))
                                        {
                                            <input type="radio" name="@holidayApproval.HolidayWorkDate@holidayApproval.Pin" id="@halfBtnId" class="halfHolidayApproval" value="@holidayApproval.Pin" checked="checked"/>
                                        }
                                        else
                                        {
                                            <input type="radio" name="@holidayApproval.HolidayWorkDate@holidayApproval.Pin" id="@halfBtnId" class="halfHolidayApproval" value="@holidayApproval.Pin"/>
                                        }
                                        <span>Half &nbsp;&nbsp;</span>

                                        @if (holidayApproval.ApprovalType != null && holidayApproval.ApprovalType == Convert.ToInt32(HolidayWorkApprovalStatus.Full))
                                        {
                                            <input type="radio" name="@holidayApproval.HolidayWorkDate@holidayApproval.Pin" id="@fullBtnId" class="fullHolidayApproval" value="@holidayApproval.Pin" checked="checked"/>
                                        }
                                        else
                                        {
                                            <input type="radio" name="@holidayApproval.HolidayWorkDate@holidayApproval.Pin" id="@fullBtnId" class="fullHolidayApproval" value="@holidayApproval.Pin"/>
                                        }
                                        <span>Full &nbsp;&nbsp;</span>
                                    </td>
                                    <td>
                                        <textarea rows="1" name="reason" class="reason form-control text-box single-line">@holidayApproval.Reason</textarea>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center" style="margin-bottom: 10px;">
                        <input type="button" value="Update" class="btn btn-primary" id="Update" />
                    </div>
                </div>
                    
            }
            else if (ViewBag.ShowNodata == true)
            {
                <div class="panel-body">
                    <table class="table table-bordered text-center" width="100%">
                        <tbody>
                        <tr>
                            <th colspan="7">
                                No Data Found !!!!
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/MentorHolidayWorkApproval")
}