﻿table.tablehead > tbody > tr > td:last-child {
    border-top: 0px dotted #bbb;
    border-left: 0px dotted #bbb;
    border-right: 0px dotted #bbb;
    border-bottom: 1px dotted #000;
    padding: 8px 0px 2px 0px; 
    width: 100%;
}
table.tablehead > tbody > tr > td:first-child {
    border-top: 0px dotted #bbb;
    border-left: 0px dotted #bbb;
    border-right: 0px dotted #bbb;
    border-bottom: 0px dotted #bbb;
    padding: 8px 0px; 
    width: 100%;
}
table.tablehead > tbody > tr > td:nth-child(2) {
    border-top: 0px dotted #bbb;
    border-left: 0px dotted #bbb;
    border-right: 0px dotted #bbb;
    border-bottom: 0px dotted #bbb;
    padding: 8px 0px; 
    width: 100%;
}

.tablehead {
    width: 100% !important;
}
tr.footerTable td:first-child {
    border-left: 0px solid #000 !important;
    border-bottom: 0px solid #000 !important
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border: 1px solid #000;
    padding: 8px 0px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    vertical-align: middle !important;
}

table.tablehead table tbody tr td:first-child {
    text-align: right !important;
}
.headImage img {
    padding-left: 50px;
}

table {
    border-collapse:collapse !important;
}
#TeacherPaymentContent table tbody tr td {
    text-align: center;
}
.teacherPrintHeader {
    padding-left: 100px;

}
.teacherPrintHeader div h4 {
    margin: 0px;
    padding: 0px;
}
.teacherPrintHeader div h5 {
    margin: 0px;
    padding: 0px;
    font-size: 16px !important;
}
.tableConent tbody tr th:first-child {
    width: 115px;
}
td.rightText {
    padding-left: 500px; 
}
tr.tecCon td:first-child {
    text-align: center;
}

tr.tecCon td:nth-child(2) {
    text-align: left !important;
    padding: 4px;
}
tr.tecCon td:nth-child(3) {
    text-align: left !important;
    padding: 4px;
}
tr.tecCon td:nth-child(4) {
    text-align: center;
}
