﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UserAuth.AreaControllers>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Controller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Add Controller", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Manage Action</h4>
    </div>
    <div class="panel-body">
        @* this table is responsible for searching view *@

        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="name" name="Name" type="text" class="form-control " placeholder="Name" />
                </th>
                <th class="form-group">
                    <input id="area" name="Area" type="text" class="form-control " placeholder="Area" />
                </th>
                <th class="form-group">
                    <input id="rank" name="Rank" type="text" class="form-control " placeholder="Rank" />
                </th>
                <th class="form-group " style="width:90px">
                    @if (ViewBag.STATUSTEXT != null)
                    {
                        <select id="status" class="form-control">
                            <option value="">Status</option>
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                {
                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                    @*<input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Value 10" />*@
                </th>

                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>

            </tr>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
        @* ----------------------------------------------------------------------------------------------------- *@
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            @**----function for render data table----*@
            function dataTableRender() {
                var displayNo = 10;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = $('#DisplayNo').val();
                } else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": false,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,

                    //stateSave: true,
                    order: [[0, "desc"]],
                    ajax: {
                        url: '@Url.Action("AreaControllersList", "AreaControllers")',
                        type: 'POST',
                        data: function(dt) {
                            dt.name = $('#name').val();
                            dt.area = $('#area').val();
                            dt.rank = $('#rank').val();
                            dt.status = $('#status').val();
                        },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function(response) {
                            ShowErrorMessage("data load error. Please try again.");
                        }
                    }
                });
            }
            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
                $.unblockUI();
            });
        });
    </script>
}
