﻿@model UdvashERP.BusinessModel.Entity.Students.StudentVisited
@{
    ViewBag.Title = "Add Student Visit Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Add Visit</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StudentVisitType, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("StudentVisitType", (IEnumerable<SelectListItem>)ViewBag.StudentVisitTypes, "Select Visit Type", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Visit Type" })
                                @Html.ValidationMessageFor(model => model.StudentVisitType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InterestedBranch, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("InterestedBranch", (IEnumerable<SelectListItem>)ViewBag.InterestedBranch, "Select Interested Branch", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Interested Branch" })
                                @Html.ValidationMessageFor(model => model.InterestedBranch, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;", @placeholder = "Nick Name" } })
                                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;", @placeholder = "Personal Mobile" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VersionOfStudy, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("VersionOfStudy", (IEnumerable<SelectListItem>)ViewBag.VersionOfStudy, "Select Version of Study", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.VersionOfStudy, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Gender, "Select Gender", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Gender" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Religion, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("Religion", (IEnumerable<SelectListItem>)ViewBag.Religion, "Select Religion", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="EIIN" class="control-label col-md-6">EIIN </label>
                            <div class="col-md-6">
                                <input type="text" value="" placeholder="EIIN" maxlength="7" name="eiin" id="eiin" class="form-control text-box single-line" size="7">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Institute, new { htmlAttributes = new { @class = "form-control autoComplete", @autocomplete = "off", @style = "max-width:100%;", @placeholder = "Institute" } })
                                @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control", @placeholder = "Class" } })*@
                                <select name="Class" id="Class" class="form-control" data-val="true" data-val-required="The Class field is required." style="max-width:100%;">
                                    <option value="">Select Class</option>
                                    <option value="VIII">VIII</option>
                                    <option value="IX">IX</option>
                                    <option value="X">X</option>
                                    <option value="XI">XI</option>
                                    <option value="XII">XII</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @placeholder = "Year" } })*@
                                <select name="Year" id="Year" class="form-control" data-val="true" data-val-required="The Year field is required." style="max-width:100%;">
                                    <option value="">Select Year</option>
                                    @for (int i = DateTime.Now.Year + 1; i >= DateTime.Now.Year - 1; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Exam, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.Exam, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Exam Name" } })*@
                                <select name="Exam" id="Exam" class="form-control" data-val="true" style="max-width:100%;">
                                    <option value="">Select Last Exam</option>
                                    <option value="1st Term">1st Term</option>
                                    <option value="2nd Term">2nd Term</option>
                                    <option value="Half Yearly">Half Yearly</option>
                                    <option value="Final">Final</option>
                                    <option value="Pre-Test">Pre-Test</option>
                                    <option value="Test">Test</option>
                                    <option value="Others">Others</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Exam, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Gpa, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Gpa, new { htmlAttributes = new { @class = "form-control", @placeholder = "GPA" } })
                                @Html.ValidationMessageFor(model => model.Gpa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MeritPosition, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MeritPosition, new { htmlAttributes = new { @class = "form-control", @placeholder = "Merit Position" } })
                                @Html.ValidationMessageFor(model => model.MeritPosition, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control", @placeholder = "Section" } })
                                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Institute">Profession you want to avail in future</label>
                            <div class="col-md-10" style="padding-top:20px;">
                                @Html.EditorFor(model => model.IsProfessionDoctor) Doctor &nbsp;&nbsp;&nbsp;
                                @Html.EditorFor(model => model.IsProfessionEngineer) Engineer &nbsp;&nbsp;&nbsp;
                                @Html.EditorFor(model => model.IsProfessionOthers) Others
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileFather, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MobileFather, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;", @placeholder = "Father's Mobile" } })
                                @Html.ValidationMessageFor(model => model.MobileFather, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileMother, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MobileMother, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;", @placeholder = "Mother's Mobile" } })
                                @Html.ValidationMessageFor(model => model.MobileMother, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InterestedOrganization, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("InterestedOrganizationId", (IEnumerable<SelectListItem>)ViewBag.InterestedOrganization, "Select Interested Organization", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InterestedOrganization, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InterestedBranch, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("InterestedBranchId", (IEnumerable<SelectListItem>)ViewBag.InterestedBranch, "Select Interested Branch", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InterestedBranch, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center" >
                    <input type="submit" value="Add" class="btn btn-primary" style="width:200px;" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
<script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
    function autoCompleteFunc() {
        $('.autoComplete').each(function () {
            var $this = $(this);
            $this.typeahead({
                source: function (query, process) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("LoadInstitute", "StudentVisited")',
                            cache: false,
                            async: true,
                            data: { query: query},

                            success: function (result) {
                                //   $.unblockUI();
                                if (result.IsSuccess) {
                                    process(result.returnList);
                                }
                            },
                            complete: function () {
                                //    $.unblockUI();
                            },
                            error: function (result) {
                                //    $.unblockUI();
                            }
                        });
                    },
                    updater: function (item) {
                       // $this.parent().find(".hiddenIdField").val(item.Value);
                        //$(".StudentProgramInstituteId").val(item.Value);
                        $("#eiin").val("");
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("LoadInstitute", "StudentVisited")',
                            cache: false,
                            async: true,
                            data: { query: item.Value, isEiin: "Id" },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();
                                if (result.IsSuccess) {
                                    $("#eiin").val(result.Message);
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                            }
                        });

                        return item.Text;


                    },
                    matcher: function (item) {
                        if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                            return true;
                        }
                        return false;
                    },
                    sorter: function (items) {
                        return items.sort();
                    },
                    highlighter: function (item) {
                        var regex = new RegExp('(' + this.query + ')', 'gi');
                        return item.Text.replace(regex, "<strong>$1</strong>");
                    },
                    onselect: function (obj) {
                        alert('Selected ' + obj);
                    }
                });
            });
        }

        $(document).ready(function () {
            $(document).on("input propertychange", "#Mobile", function (event) {

                var mobile = $("#Mobile").val().trim();
                mobile = mobileCheck(mobile);

                if (mobile == null) {
                    showErrorMessageBelowCtrl("Mobile", "", false);
                    showErrorMessageBelowCtrl("Mobile", "Please enter valid mobile number", true);
                    return false;
                } else {
                    $("#Mobile").val(mobile);
                    showErrorMessageBelowCtrl("Mobile", "", false);
                }
            });
            $(document).on("input propertychange", "#MobileFather", function (event) {

                var mobile = $("#MobileFather").val().trim();
                mobile = mobileCheck(mobile);

                if (mobile == null && $("#MobileFather").val().trim() != "") {
                    showErrorMessageBelowCtrl("MobileFather", "", false);
                    showErrorMessageBelowCtrl("MobileFather", "Please enter valid mobile number", true);
                    return false;
                } else {
                    $("#MobileFather").val(mobile);
                    showErrorMessageBelowCtrl("MobileFather", "", false);
                }
            });
            $(document).on("input propertychange", "#MobileMother", function (event) {

                var mobile = $("#MobileMother").val().trim();
                mobile = mobileCheck(mobile);

                if (mobile == null && $("#MobileMother").val().trim() != "") {
                    showErrorMessageBelowCtrl("MobileMother", "", false);
                    showErrorMessageBelowCtrl("MobileMother", "Please enter valid mobile number", true);
                    return false;
                } else {
                    $("#MobileMother").val(mobile);
                    showErrorMessageBelowCtrl("MobileMother", "", false);
                }
            });

            autoCompleteFunc();

            $(document).on("input propertychange", "#Institute", function (event) {
                //console.log("A");
                //$(this).parent().find(".hiddenIdField").val("");
            });

        });
        $(document).on("input propertychange", "#eiin", function (event) {
            $("#Institute").val("");
            var eiin = $(this).val();
            var input = $(this),
            text = input.val().replace(/[^0-9.]/g, "");
            input.val(text);
            if (eiin.length > 4) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadInstitute", "StudentVisited")',
                    cache: false,
                    async: true,
                    data: { query: eiin, isEiin: "True" },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $("#Institute").val(result.Message);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                    }
                });
            }
        });
    </script>   
}
