﻿@Styles.Render("~/Content/styledatatable")

@using UdvashERP.BusinessRules
@model UdvashERP.Areas.Student.Models.VisitedStudentSearch

@{
    ViewBag.Title = "Visited Student List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Visited Student List</h4>
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style=" padding:2%">
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right; font-weight:bold; width: 14% ">Class :</td>
                        <td style="text-align: left">@ViewBag.Class</td>
                        <td style="text-align: right; font-weight:bold;width: 14%  ">Year :</td>
                        <td style="text-align: left">@ViewBag.Year</td>
                    </tr>
                </table>
            </div>

            <table id="tableDiv">
                <tr class="form-group">

                    <th class="form-group">
                        <input id="name" name="name" type="text" class="form-control " placeholder="Nick Name" />
                    </th>
                    <th class="form-group">
                        <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile" />
                    </th>
                    <th class="form-group">
                        <input id="institute" name="institute" type="text" class="form-control " placeholder="Institute" />
                    </th>

                    <th class="form-group">
                        <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                    <th class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                        </div>
                    </th>
                </tr>
               
            </table>
            <br />

            @* this table is responsible for table header and dynamic data *@
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
                @*table-responsive*@
                <thead>
                    <tr>
                        @if (Model.InformationViewList != null)
                        {
                            foreach (string informationView in Model.InformationViewList)
                            {
                                <th>@informationView</th>
                            }
                        }                      
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>


    <script type="text/javascript">

    /* render data table*/

    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));
    var year =@Html.Raw(Json.Encode(@ViewBag.Year));
    var classes =@Html.Raw(Json.Encode(@ViewBag.Class));
    var StudentVisitType =@Html.Raw(Json.Encode(@ViewBag.StudentVisitType));
    var UserId =@Html.Raw(Json.Encode(@ViewBag.UserId));
    var InterestedOrganizationId =@Html.Raw(Json.Encode(@ViewBag.InterestedOrganizationId));
    var InterestedBranchIds =@Html.Raw(Json.Encode(@ViewBag.InterestedBranchIds));


    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        // alert(lastColumn);

        var name = $("#name").val();
        var mobile = $("#mobile").val();
        var institute = $("#institute").val();

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            "ordering": false,
            order: [[0, "desc"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [2]
            }],
            ajax: {
                url: '@Url.Action("VisitedStudentAjaxRequest", "StudentVisited")',
                type: 'POST',
                data: function(d) {
                    d.year = year;
                    d.classes = classes;
                    d.informationViewList = informationViewList;
                    d.name = name;
                    d.mobile = mobile;
                    d.institute = institute;
                    d.StudentVisitType = StudentVisitType;
                    d.UserId = UserId;
                    d.InterestedOrganizationId = InterestedOrganizationId;
                    d.InterestedBranchIds = InterestedBranchIds;

                }
            }
        });
    }

    dataTableRender();

    /*end render data table*/
    $(document).on("click", "#search", function() {
        dataTableRender();
    });


    @*responsible for generate header*@
    @*var programHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[0]+" "+ @ViewBag.ReportHeadInfo[1])) ;
        var branchHeader =@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[2]));
        var campusHeader =@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[3]));
        var batchDayHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[4]));
        var batchHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[5]));
        var courseHeader=@Html.Raw(Json.Encode(@ViewBag.ReportHeadInfo[6]));*@


    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));


    var year =@Html.Raw(Json.Encode(@ViewBag.Year));
    var classes =@Html.Raw(Json.Encode(@ViewBag.Class));


    @*end responsible for generate header*@

    $(document).on("click", "#export", function() {
        var urlParam = {
            classes:classes,
            year:year,
            informationViewList:informationViewList,
            StudentVisitType :StudentVisitType,
            UserId : UserId,
            InterestedOrganizationId : InterestedOrganizationId,
            InterestedBranchIds : InterestedBranchIds
        };

        var url = "@Url.Action("ExportFiles", "StudentVisited", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });

    </script>
}
