﻿@model UdvashERP.Areas.Student.Models.VisitedStudentSearch
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@{
    ViewBag.Title = "Visited Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Load Visited Student List</h4>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select name="Class" id="Class" class="form-control" data-val="true" data-val-required="The Class field is required.">
                                    <option value="">Select Class</option>
                                    <option value="VIII">VIII</option>
                                    <option value="IX">IX</option>
                                    <option value="X">X</option>
                                    <option value="XI">XI</option>
                                    <option value="XII">XII</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.Year, "Select Year", new { @class = "form-control", @required = "required", @data_val = true, @data_val_required = "Please select Year" })
                                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select name="Year" id="Year" class="form-control" data-val="true" data-val-required="The Year field is required.">
                                    <option value="">Select Year</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StudentVisitType, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("StudentVisitType", (IEnumerable<SelectListItem>)ViewBag.StudentVisitType, "All Visit Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StudentVisitType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserList, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("UserList", (IEnumerable<SelectListItem>)ViewBag.UserList, "All User", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserList, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InterestedOrganization, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("InterestedOrganizationId", (IEnumerable<SelectListItem>)ViewBag.InterestedOrganization, "All Interested Organization", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InterestedOrganization, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                    @*<div class="col-md-6">
                        <div class="form-group">                      
                            <label class="control-label col-md-4" for="Profession">Prof. In Future</label>
                            <div class="col-md-8">
                                <select name="Profession" id="Profession" class="form-control" multiple="multiple">
                                    <option value="">All</option>
                                    <option value="Doctor">Doctor</option>
                                    <option value="Engineer">Engineer</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InterestedBranch, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("InterestedBranchId", (IEnumerable<SelectListItem>)ViewBag.InterestedBranch, "All Interested Branch", new { @class = "form-control", @multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.InterestedBranch, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="align-items: center ; padding-left: 34%;">
                        <div class="col-md-2">
                            <input type="button" class="form-control btn btn-primary" id="studentCountButton" value="Count" style="margin-top: 2px;font-size: 14px;text-align: center " />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" name="studentVisitedCount" id="studentVisitedCount" value="..." style="margin-top: 2px;font-size: 14px;color:blue;text-align: center " disabled="" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center; font-weight:bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="row" style="padding-left: 80px">
                        <div class="col-md-12">
                            <select name="informationViewList" id="informationViewList" class="form-control" multiple="multiple">
                                <option value="Nick Name">Nick Name</option>
                                <option value="Mobile Number (Student)">Mobile Number (Student)</option>
                                <option value="Institute">Institute</option>
                                <option value="Class">Class</option>
                                <option value="Year">Year</option>
                                <option value="S/C Last Exam">S/C Last Exam</option>
                                <option value="GPA">GPA</option>
                                <option value="Merit Position">Merit Position</option>
                                <option value="Section">Section</option>
                                @*<option value="Profession">Profession</option>*@
                                <option value="Mobile Number (Father)">Mobile Number (Father)</option>
                                <option value="Mobile Number (Mother)">Mobile Number (Mother)</option>
                                <option value="Interested Branch">Interested Branch</option>
                                @*<option value="Version of Study">Version of Study</option>*@
                                @*<option value="Gender">Gender</option>*@
                                @*<option value="Religion">Religion</option>*@                                
                                @*<option value="Visited User">Visited User</option>
                                <option value="User Branch">User Branch</option>*@
                            </select>
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" id="Submit" value="View List" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>



@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function GetUserList() {
            $('#UserList').empty();
            $('#UserList').append("<option value=''>All User</option>");
            var Class = $('#Class').val();
            var Year = $('#Year').val();
            var StudentVisitType = $('#StudentVisitType').val();
            if (Class != null && Year != null) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUserList", "StudentVisited")',
                    cache: false,
                    async: true,
                    data: { Class: Class, Year: Year, StudentVisitType: StudentVisitType },
                    beforeSend: function () { },
                    success: function (result) {
                        if (result.IsSuccess) {
                            for (var i = 0; i < result.returnList.length; i++) {
                                $('#UserList').append("<option value='" + result.returnList[i].Value + "'>" + result.returnList[i].Text + "</option>");
                            }
                        }
                        console.log(result.IsSuccess);
                        console.log("Success -----");
                    },
                    complete: function () {
                        //console.log("Complete -----");
                    },
                    error: function (result) {
                        console.log("Failed -----");
                        // console.log(result);
                    }
                });
            }
        }
        $(document).ready(function() {
     

            $("#Class").change(function () {
                $("#Class").parent().find(".field-validation-error").remove();
            });

            $("#Year").change(function () {
                $("#Year").parent().find(".field-validation-error").remove();
            });

            $("#Class").change(function () {
                //remove all dropdown option
                $('#Year').empty();
                $('#Year').append("<option value=''>Select Year</option>");
                var Class = $('#Class').val();
                if (Class != null) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("LoadYear", "StudentVisited")',
                        cache: false,
                        async: true,
                        data: { Class: Class },
                        beforeSend: function () {

                        },
                        success: function (result) {
                            if (result.IsSuccess) {
                                for (var i = 0; i < result.returnList.length; i++) {
                                    $('#Year').append("<option value='" + result.returnList[i] + "'>" + result.returnList[i] + "</option>");
                                }
                            }
                            //console.log("Success -----");
                        },
                        complete: function () {
                            //console.log("Complete -----");
                        },
                        error: function (result) {
                            console.log("Failed -----");
                            // console.log(result);
                        }
                    });
                }

            });

            $("#Year").change(function () {
                GetUserList();
            });

            $("#StudentVisitType").change(function () {
                GetUserList();
            });

            $("#InterestedOrganizationId").change(function () {
                //remove all dropdown option
                $('#InterestedBranchId').empty();
                $('#InterestedBranchId').append("<option value=''>All Interested Branch</option>");
                var InterestedOrganizationId = $('#InterestedOrganizationId').val();
                if (InterestedOrganizationId != null) {
                    $.ajax({
                        type: "POST",
                        @*url: '@Url.Action("LoadBranch", "StudentVisited")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { OrganizationIds: InterestedOrganizationId,isAuthorized:true },
                        beforeSend: function () {
                            //$.blockUI({
                            //    timeout: 0,
                            //    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            //});
                        },
                        success: function (result) {
                            //$.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#InterestedBranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            //console.log("Success -----");
                        },
                        complete: function () {
                            //$.unblockUI();
                            //console.log("Complete -----");
                        },
                        error: function (result) {
                            //$.unblockUI();
                            console.log("Failed -----");
                            // console.log(result);
                        }
                    });
                }

            });

            $(document).on('click', '#Submit', function(e) {
             
                var Class = $("#Class").val();
                var year = $("#Year").val();
                var informationViewList = $("#bootstrap-duallistbox-nonselected-list_informationViewList").val();
                var isSuccess = true;

                if (Class == null || Class == "") {
                    $("#Class").parent().find(".field-validation-error").remove();
                    var classesMsg = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" >Select Class</span></span>';
                    $("#Class").parent().append(classesMsg);
                    isSuccess = false;
                }

                if (year == null || year == "") {
                    $("#Year").parent().find(".field-validation-error").remove();
                    var yearMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" >Select Year</span></span>';
                    $("#Year").parent().append(yearMessage);
                    isSuccess = false;
                }

                //if (informationViewList == null || informationViewList == "") {
                //    $("#bootstrap-duallistbox-nonselected-list_informationViewList").parent().find(".field-validation-error").remove();
                //    var error = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="infomsg">Select at least one information</span></span>';
             
                //    $("#bootstrap-duallistbox-nonselected-list_informationViewList").parent().append(error);
                //    isSuccess = false;
                //}
                if (isSuccess == true) {
                    //$('form#generateDueListForm').submit();
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }

            });

  


            $("#studentCountButton").click(function() {
                $("#studentVisitedCount").html("...");
                var Class = $("#Class").val();
                var Year = $("#Year").val();
                var StudentVisitType = $('#StudentVisitType').val();
                var UserList = $('#UserList').val();
                var InterestedOrganizationId = $('#InterestedOrganizationId').val();
                var InterestedBranchIds = $('#InterestedBranchId').val();


                if (Class != null && Class != "" && Year != null && Year != "") {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetStudentVisitedCount", "StudentVisited")',
                        cache: false,
                        async: true,
                        data: {
                            Class: Class,
                            Year: Year,
                            StudentVisitType: StudentVisitType,
                            UserId: UserList,
                            InterestedOrganizationId: InterestedOrganizationId,
                            InterestedBranchIds: InterestedBranchIds
                        },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            if (result.IsSuccess) {
                                //$("#missingImageCount").html(result.missingImageCount);
                                $("#studentVisitedCount").val(result.studentVisitedCount);
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                //console.log(result);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            //console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                } else {
                    if (Class == null || Class == "") {
                        $("#Class").parent().find(".field-validation-error").remove();
                        var classesMsg = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" >Select Class</span></span>';
                        $("#Class").parent().append(classesMsg);
                       
                    }

                    if (Year == null || Year == "") {
                        $("#Year").parent().find(".field-validation-error").remove();
                        var yearMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" >Select Year</span></span>';
                        $("#Year").parent().append(yearMessage);
                       
                    }
                }
            });


            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });

            
        });


    </script>

}
