﻿@model UdvashERP.BusinessModel.ViewModel.Hr.FestivalBonusViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Festival Bonus Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
}
<div class="panel panel-primary">
    <div class="panel-heading">Festival Bonus Settings</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @id = "FestivalBonusForm" }))
        {
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.BonusTitle, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.BonusTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BonusTitle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Religion", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <table>
                            <tr>
                                @foreach (var religion in ViewBag.ReligionViewModels)
                                {

                                    <td>
                                        @Html.CheckBox("ReligionViewModels[" + counter + "].Checked", new { value = "true", @id = "ReligionViewModels[" + counter + "]_Checked", @style = "Margin:15px;" })
                                        @Html.Raw(religion.Name)
                                        <input type="hidden" name="ReligionViewModels[@counter].Religion" id="ReligionViewModels[@counter]_Religion" value="@(religion.Religion)" />
                                    </td>
                                    counter++;
                                }
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Bonus Calculation",new {@class="control-label col-md-2"})
                    <div class="col-md-10">
                        <table class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Employment Status</th>
                                    <th>Calculation On</th>
                                    <th>Bonus</th>
                                </tr>  
                            </thead>
                            <tbody>
                                @{counter = 0;}
                                @foreach (var bc in ViewBag.BcList)
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw(bc.EmploymentStatusName)
                                            <input id="FestivalBonusCalculationViewModels[ @(counter)]_EmploymentStatus" name="FestivalBonusCalculationViewModels[@(counter)].EmploymentStatus" type="hidden" value="@(bc.EmploymentStatus)" />
                                        </td>
                                        <td>@Html.DropDownList("FestivalBonusCalculationViewModels[" + counter + "].CalculationOn", (IEnumerable<SelectListItem>)ViewBag.CalculationOn, "Select Calculation On", new { @class = "form-control", @id = "FestivalBonusCalculationViewModels[" + counter + "]_CalculationOn" })</td>
                                        <td>@Html.TextBox("FestivalBonusCalculationViewModels[" + counter + "].BonusPercentage","", new { @class = "form-control", @id = "FestivalBonusCalculationViewModels[" + counter + "]_BonusPercentage",@onkeypress="return validateQtyWithDecimal(event);" })</td>
                                    </tr>
                                    counter++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "form-control",@readonly=true })
                        @Html.ValidationMessageFor(model => model.EffectiveDate)
                    </div>
                    @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ClosingDate, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(model => model.ClosingDate)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $(document).on('submit', '#FestivalBonusForm', function(event) {

            event.preventDefault();
            var url = $("body").attr("data-project-root") + "Hr/FestivalBonus/Create";
            $.ajax({
                url: url,
                dataType: 'json',
                data: $(this).serialize(),
                type: 'POST',
                beforeSend: function() {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function(response) {
                    if (response.isSuccess) {
                        $.fn.customMessage({
                            displayMessage: response.returnMessage,
                            displayMessageType: "s"
                        });
                        $("#FestivalBonusForm").find('input:text, input:file, select, textarea').val('');
                        $("#FestivalBonusForm").find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
                    } else {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "e"
                        });
                    }
                    $.unblockUI();
                },
                complete: function () {
                    //alert(response.isSuccess+"///////");
                    //if (response.isSuccess) {

                    //    $("#FestivalBonusForm").find('input:text, input:file, select, textarea').val('');
                    //    $("#FestivalBonusForm").find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
                    //}
                    $.unblockUI();
                },
                error: function(result) {
                    console.log(result);
                    $.fn.customMessage({
                        displayMessage: result.Message,
                        displayMessageType: "e"
                    });
                }
            });
        });


        function validateQtyWithDecimal(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46
                || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 110) {
                return true;
            } else if (key == 46) {
                return true;
            } else if (key < 48 || key > 57) {
                return false;
            } else return true;
        };

        $('#EffectiveDate, #ClosingDate').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        }).change(function () {
            dateFromGreaterThanDateTo();
        });

    </script>
}