﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.FestivalBonusSetting>
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Festival Bonus Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    @using (Html.BeginForm("Create", "FestivalBonus", FormMethod.Get))
    {
        <div class="form-actions">
            <input type="submit" value="Add Festival Bonus" class="btn btn-primary" />
        </div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Manage Festival Bonus Settings</h4>
    </div>
    <div class="panel-body">
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("EmploymentStatus", (IEnumerable<SelectListItem>)ViewBag.EmploymentStatusList, "Select Employment Status", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Religion", (IEnumerable<SelectListItem>)ViewBag.ReligionList, "Select Religion", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("CalculationOn", (IEnumerable<SelectListItem>)ViewBag.CalculationOnList, "Select CalculationOn", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Organization")</th>
                    <th>@Html.DisplayName("Type of Bonus")</th>
                    <th>@Html.DisplayName("Religion")</th>
                    <th>@Html.DisplayName("Employment Status")</th>
                    <th>@Html.DisplayName("Calculation On")</th>
                    <th>@Html.DisplayName("Effective Date")</th>
                    <th>@Html.DisplayName("Closing Date")</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function dataTableRender() {
           // alert("123");
            var displayNo = 10;
            if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                displayNo = parseInt($('#DisplayNo').val());
            } else {
                $('#DisplayNo').val(displayNo);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                order: [[0, "Asc"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                ajax: {
                    url: '@Url.Action("FestivalBonusList", "FestivalBonus")',
                    type: 'POST',
                    data: function (dt) {
                        dt.organization = $("#Organization").val();
                        dt.employmentStatus = $("#EmploymentStatus").val();
                        dt.religion = $("#Religion").val();
                        dt.calculationOn = $("#CalculationOn").val();
                    },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response) {
                        ShowErrorMessage("data load error. Please try again.");
                    }
                }
            });
        }

        dataTableRender();
        $(document).on("click", "#search", function () {
            dataTableRender();
            $.unblockUI();
        });

        $(document).on("click", ".glyphicon-trash", function () {
            var dataId = $(this).attr("id");
            if (dataId != "") {
                bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Festival bonus?</h3>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Hr/FestivalBonus/Delete",
                            cache: false,
                            async: true,
                            data: { id: dataId },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    dataTableRender();
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "s"
                                    });
                                }
                                else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e"
                                    });
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "e"
                                });
                            }
                        });
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }

        });


    </script>
}


