﻿@using UdvashERP.BusinessModel.Entity.Administration
@{
    Layout = null;
}
@if (ViewBag.MaterialTypeList != null)
{
    <option value="">Select a MaterialType</option>
    foreach (MaterialType materialType in ViewBag.MaterialTypeList)
    {
        <option value="@materialType.Id">@materialType.Name</option>
    }
}