﻿@using UdvashERP.BusinessModel.Entity.Administration
@{
    Layout = null;
}
@if (ViewBag.ProgramList != null)
{
    <option value="">Select program</option>
    foreach (Program program in ViewBag.ProgramList)
    {
        <option value="@program.Id">@program.Name</option>
    }
}