﻿@using Recaptcha.Web
@using Recaptcha.Web.Mvc;

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-left">
        Teacher Registration
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <p style=" font-size: 18px; text-align:center;">
                শিক্ষক এমন একজন ব্যক্তি যাঁর হাতে সভ্যতার সবচেয়ে ভারি অস্ত্র বই ও কলম রক্ষার মহান দায়িত্ব। সব সময়ের নায়ক, যাঁদের পরিচয় সকল দেশে, সকল বর্ণেই এক। শিক্ষকই নিজ হাতে তৈরি করছেন এক এক জন সফল মানুষ। বলা যায়, একজন শিক্ষক আর একটি ভাল বই গোটা বিশ্বকে বদলে দিতে পারে। তাই, শিক্ষকতার এই মহান পেশায় আত্মনিয়োগে উদ্বুদ্ধ হওয়ায় আপনাকে অভিনন্দন...
            </p>
           
        </div>
        <div class="col-md-12 text-center">
            <input type="button" value="Registration" class="btn btn-primary" id="Registration" data-url="" style=" font-size: 16px;" />
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function() {
            var url = $("body").attr("data-project-root") + "Teacher/Registration";
            $(document).on('click', '#Registration', function (event) {
                window.location.href = url;
            });
        });
    </script>
}
