﻿@using Recaptcha.Web
@using Recaptcha.Web.Mvc;
@model UdvashERP.PublicAdmission.Models.TeacherRegistrationViewModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input,
    select,
    textarea {
        max-width: 100%;
    }
</style>
<div id="cumstomMessage">
    
</div>
<div class="panel panel-primary" id="teacherRegistrationMainContain">
    <div class="panel-heading text-left">
        Teacher Registration
    </div>
    <div class="panel-body" id="teacherRegistrationContain">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "teacherRegistrationForm" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, string.Format("{0} :", Html.DisplayNameFor(model => model.FullName)),new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.FullName, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Full Name" })
                        @*@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NickName, string.Format("{0} :", Html.DisplayNameFor(model => model.NickName)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.NickName, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.NickName, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Nick Name" })
                        @*@Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber1, string.Format("{0} :", Html.DisplayNameFor(model => model.MobileNumber1)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.MobileNumber1, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.MobileNumber1, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Mobile Number 1" })
                        @*@Html.ValidationMessageFor(model => model.MobileNumber1, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber2, string.Format("{0} :", Html.DisplayNameFor(model => model.MobileNumber2)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.MobileNumber2, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.MobileNumber2, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Mobile Number 2 (Optional)" })
                        @*@Html.ValidationMessageFor(model => model.MobileNumber2, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, string.Format("{0} :", Html.DisplayNameFor(model => model.EmailAddress)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.EmailAddress, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Email Address" })
                        @*@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FacebookId, string.Format("{0} :", Html.DisplayNameFor(model => model.FacebookId)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.FacebookId, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.FacebookId, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Facebook ID (optional)" })
                        @*@Html.ValidationMessageFor(model => model.FacebookId, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Institute, string.Format("{0} :", Html.DisplayNameFor(model => model.Institute)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.Institute, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Institute, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Institute Name" })
                        @*@Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Department, string.Format("{0} :", Html.DisplayNameFor(model => model.Department)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.Department, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Department, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Department" })
                        @*@Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HscPassingYear, string.Format("{0} :", Html.DisplayNameFor(model => model.HscPassingYear)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.HscPassingYear, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HscPassingYear, null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter HSC Passing Year" })
                        @*@Html.ValidationMessageFor(model => model.HscPassingYear, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Religion, string.Format("{0} :", Html.DisplayNameFor(model => model.Religion)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Religion, (IEnumerable<SelectListItem>)ViewBag.ReligionSelectList, "Select Religion", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, string.Format("{0} :", Html.DisplayNameFor(model => model.Gender)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderSelectList, "Select Gender", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TeacherActivity1, string.Format("{0} :", Html.DisplayNameFor(model => model.TeacherActivity1)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.TeacherActivity1, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.TeacherActivity1, (IEnumerable<SelectListItem>)ViewBag.TeacherActivitySelectList, "Choice-01", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.TeacherActivity1, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.TeacherActivity2, (IEnumerable<SelectListItem>)ViewBag.TeacherActivitySelectList, "Choice-02 (Optional)", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.TeacherActivity2, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.TeacherActivity3, (IEnumerable<SelectListItem>)ViewBag.TeacherActivitySelectList, "Choice-03 (Optional)", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.TeacherActivity3, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Subject1, string.Format("{0} :", Html.DisplayNameFor(model => model.Subject1)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.Subject1, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.Subject1, (IEnumerable<SelectListItem>)ViewBag.SubjectSelectList, "Choice-01", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Subject1, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.Subject2, (IEnumerable<SelectListItem>)ViewBag.SubjectSelectList, "Choice-02 (Optional)", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Subject2, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.Subject3, (IEnumerable<SelectListItem>)ViewBag.SubjectSelectList, "Choice-03 (Optional)", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Subject3, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VersionPriority1, string.Format("{0} :", Html.DisplayNameFor(model => model.VersionPriority1)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.VersionPriority1, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.VersionPriority1, (IEnumerable<SelectListItem>)ViewBag.VersionSelectList, "Choice-01", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.VersionPriority1, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.VersionPriority2, (IEnumerable<SelectListItem>)ViewBag.VersionSelectList, "Choice-02 (Optional)", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.VersionPriority2, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsUdvashStudent, string.Format("{0} :", Html.DisplayNameFor(model => model.IsUdvashStudent)), new { @class = "control-label col-md-3" })
                    @*@Html.LabelFor(model => model.IsUdvashStudent, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-8">
                        <div id="IsUdvashStudentContain">
                            @Html.RadioButtonFor(model => model.IsUdvashStudent, true) Yes
                            @Html.RadioButtonFor(model => model.IsUdvashStudent, false) No
                            @*@Html.ValidationMessageFor(model => model.IsUdvashStudent, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.AppointmentRemarks, string.Format("{0} :", Html.DisplayNameFor(model => model.AppointmentRemarks)), new { @class = "control-label" })
                        @*@Html.LabelFor(model => model.AppointmentRemarks, new { @class = "control-label" })*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.AppointmentRemarks, htmlAttributes: new { @class = "form-control", @placeholder = "Why Udvash should appoint you as a teacher?" })
                        @*@Html.ValidationMessageFor(model => model.AppointmentRemarks, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="text-center">
                        <input id="teacherRegistration" type="button" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function() {
            var fullNameId = "FullName";
            var fullNameErrorMessage = "Please Enter Full Name";
            var nickNameId = "NickName";
            var nickNameErrorMessage = "Please Enter Nick Name";
            var mobileNumber1Id = "MobileNumber1";
            var mobileNumber1ErrorMessage = "Please Enter Mobile Number 1";
            var mobileNumber2Id = "MobileNumber2";
            var mobileNumber2ErrorMessage = "Please Enter Mobile Number 2";
            var emailAddressId = "EmailAddress";
            var emailaddressErrorMessage = "Please Enter Email Address";
            var facebookIdId = "FacebookId";
            var facebookIdErrorMessage = "Please Enter Facebook ID";
            var instituteId = "Institute";
            var instituteErrorMessage = "Please Enter Institute Name";
            var departmentId = "Department";
            var departmentErrorMessage = "Please Enter Department";
            var hscPassingYearId = "HscPassingYear";
            var hscPassingYearErrorMessage = "Please Enter HSC Passing Year";
            var religionId = "Religion";
            var religionErrorMessage = "Please Select Religion";
            var genderId = "Gender";
            var genderErrorMessage = "Please Select Gender";
            var teacherActivity1Id = "TeacherActivity1";
            var teacherActivity1ErrorMessage = "Please Select Teacher Activity Choice-01";
            var teacherActivity2Id = "TeacherActivity2";
            var teacherActivity2ErrorMessage = "Please Select Teacher Activity Choice-02";
            var teacherActivity3Id = "TeacherActivity3";
            var teacherActivity3ErrorMessage = "Please Select Teacher Activity Choice-03";
            var subject1Id = "Subject1";
            var subject1ErrorMessage = "Please Select Subject Priority Choice-01";
            var subject2Id = "Subject2";
            var subject2ErrorMessage = "Please Select Subject Priority Choice-02";
            var subject3Id = "Subject3";
            var subject3ErrorMessage = "Please Select Subject Priority Choice-03";
            var versionPriority1Id = "VersionPriority1";
            var versionPriority1ErrorMessage = "Please Select Version Priority Choice-01";
            var versionPriority2Id = "VersionPriority2";
            var versionPriority2ErrorMessage = "Please Select Version Priority Choice-02";
            var isUdvashStudentId = "IsUdvashStudent";
            var isUdvashStudentContainId = "IsUdvashStudentContain";
            var isUdvashStudentErrorMessage = "Please Select Are you an Academic Student of Udvash?";
            var appointmentRemarksId = "AppointmentRemarks";
            var appointmentRemarksErrorMessage = "Please Enter Why Udvash Should appoint you as a teacher?";

            window.validateTextField(fullNameId, fullNameErrorMessage);
            window.validateTextField(nickNameId, nickNameErrorMessage);
            window.validateTextField(nickNameId, nickNameErrorMessage);
            $(document).on("input propertychange", "#" + mobileNumber1Id, function(event) {
                var value = $("#" + mobileNumber1Id).val().trim();
                if (value != null && value.length > 0) {
                    mobileCheckWithId(value, mobileNumber1Id);
                } else {
                    window.showErrorMessageBelowCtrl(mobileNumber1Id, "", false);
                    window.showErrorMessageBelowCtrl(mobileNumber1Id, mobileNumber1ErrorMessage, true);
                }
            });
            $(document).on("input propertychange", "#" + mobileNumber2Id, function(event) {
                var value = $("#" + mobileNumber2Id).val().trim();
                if (value != null && value.length > 0) {
                    mobileCheckWithId(value, mobileNumber2Id);
                } else {
                    window.showErrorMessageBelowCtrl(mobileNumber2Id, "", false);
                }
            });
            window.validateTextField(emailAddressId, emailaddressErrorMessage);
            window.validateTextField(instituteId, instituteErrorMessage);
            window.validateTextField(departmentId, departmentErrorMessage);
            //window.validateTextField(hscPassingYearId, hscPassingYearErrorMessage);
            $(document).on("input propertychange", "#" + hscPassingYearId, function (event) {
                var value = $("#" + hscPassingYearId).val().trim();
                if (value != null && value.length > 0) {
                    hscPassingYearCheck(hscPassingYearId);
                } else {
                    window.showErrorMessageBelowCtrl(hscPassingYearId, "", false);
                    window.showErrorMessageBelowCtrl(hscPassingYearId, hscPassingYearErrorMessage, true);
                }
            });
            window.validateDropDownField(religionId, religionErrorMessage);
            window.validateDropDownField(genderId, genderErrorMessage);
            window.validateDropDownField(teacherActivity1Id, teacherActivity1ErrorMessage);
            window.validateDropDownField(subject1Id, subject1ErrorMessage);
            window.validateDropDownField(versionPriority1Id, versionPriority1ErrorMessage);

            $(document).on("click", "#" + isUdvashStudentId, function(event) {
                var value = $("#" + isUdvashStudentId+":checked").val().trim();
                if (value != null && value.length > 0) {
                    window.showErrorMessageBelowCtrl(isUdvashStudentContainId, "", false);
                } else {
                    window.showErrorMessageBelowCtrl(isUdvashStudentContainId, "", false);
                    window.showErrorMessageBelowCtrl(isUdvashStudentContainId, isUdvashStudentErrorMessage, true);
                }
            });

            $(document).on("input propertychange", "#" + appointmentRemarksId, function(event) {
                var value = $("#" + appointmentRemarksId).val().trim();
                if (value != null && value.length > 0) {
                    window.showErrorMessageBelowCtrl(appointmentRemarksId, "", false);
                } else {
                    window.showErrorMessageBelowCtrl(appointmentRemarksId, "", false);
                    window.showErrorMessageBelowCtrl(appointmentRemarksId, appointmentRemarksErrorMessage, true);
                }
            });

            $("#teacherRegistrationForm").submit(function() {
                return false;
            });
            $(document).on('click', '#teacherRegistration', function(event) {
                var isSuccess = true;
                var fullNameValue = $("#" + fullNameId).val().trim();
                var nickNamevalue = $("#" + nickNameId).val();
                var mobileNumber1Value = $("#" + mobileNumber1Id).val();
                var mobileNumber2Value = $("#" + mobileNumber2Id).val();
                var emailAddressValue = $("#" + emailAddressId).val();
                var facebookIdValue = $("#" + facebookIdId).val();
                var instituteValue = $("#" + instituteId).val();
                var departmentValue = $("#" + departmentId).val();
                var hscPassingYearValue = $("#" + hscPassingYearId).val();
                var religionValue = $("#" + religionId).val();
                var genderValue = $("#" + genderId).val();
                var teacherActivity1Value = $("#" + teacherActivity1Id).val();
                var teacherActivity2Value = $("#" + teacherActivity2Id).val();
                var teacherActivity3Value = $("#" + teacherActivity3Id).val();
                var subject1Value = $("#" + subject1Id).val();
                var subject2Value = $("#" + subject2Id).val();
                var subject3Value = $("#" + subject3Id).val();
                var versionPriority1Value = $("#" + versionPriority1Id).val();
                var versionPriority2Value = $("#" + versionPriority2Id).val();
                var isUdvashStudentValue = $("#" + isUdvashStudentId+":checked").val();
                var appointmentRemarksValue = $("#" + appointmentRemarksId).val();

                if (fullNameValue == null || (fullNameValue != null && fullNameValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(fullNameId, "", false);
                    window.showErrorMessageBelowCtrl(fullNameId, fullNameErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(fullNameId, "", false);
                }

                if (nickNamevalue == null || (nickNamevalue != null && nickNamevalue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(nickNameId, "", false);
                    window.showErrorMessageBelowCtrl(nickNameId, nickNameErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(nickNameId, "", false);
                }

                if (mobileNumber1Value == null || (mobileNumber1Value != null && mobileNumber1Value.length <= 0)) {
                    window.showErrorMessageBelowCtrl(mobileNumber1Id, "", false);
                    window.showErrorMessageBelowCtrl(mobileNumber1Id, mobileNumber1ErrorMessage, true);
                    isSuccess = false;
                } else {
                    if (mobileCheckWithId(mobileNumber1Value, mobileNumber1Id) == true) {
                        window.showErrorMessageBelowCtrl(mobileNumber1Id, "", false);
                    } else {
                        isSuccess = false;
                    }
                }

                if (mobileNumber2Value != null && mobileNumber2Value.length > 0) {
                    if (mobileCheckWithId(mobileNumber2Value, mobileNumber2Id) == true) {
                        window.showErrorMessageBelowCtrl(mobileNumber2Id, "", false);
                    } else {
                        isSuccess = false;
                    }
                } else {
                    window.showErrorMessageBelowCtrl(mobileNumber2Id, "", false);
                }

                if (emailAddressValue == null || (emailAddressValue != null && emailAddressValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(emailAddressId, "", false);
                    window.showErrorMessageBelowCtrl(emailAddressId, emailaddressErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(emailAddressId, "", false);
                }

                if (instituteValue == null || (instituteValue != null && instituteValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(instituteId, "", false);
                    window.showErrorMessageBelowCtrl(instituteId, instituteErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(instituteId, "", false);
                }

                if (departmentValue == null || (departmentValue != null && departmentValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(departmentId, "", false);
                    window.showErrorMessageBelowCtrl(departmentId, departmentErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(departmentId, "", false);
                }

                if (hscPassingYearValue == null || (hscPassingYearValue != null && hscPassingYearValue.length <= 0)|| hscPassingYearCheck(hscPassingYearId) == false) {
                    window.showErrorMessageBelowCtrl(hscPassingYearId, "", false);
                    window.showErrorMessageBelowCtrl(hscPassingYearId, hscPassingYearErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(hscPassingYearId, "", false);
                }

                if (religionValue == null || (religionValue != null && religionValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(religionId, "", false);
                    window.showErrorMessageBelowCtrl(religionId, religionErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(religionId, "", false);
                }

                if (genderValue == null || (genderValue != null && genderValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(genderId, "", false);
                    window.showErrorMessageBelowCtrl(genderId, genderErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(genderId, "", false);
                }

                if (teacherActivity1Value == null || (teacherActivity1Value != null && teacherActivity1Value.length <= 0)) {
                    window.showErrorMessageBelowCtrl(teacherActivity1Id, "", false);
                    window.showErrorMessageBelowCtrl(teacherActivity1Id, teacherActivity1ErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(teacherActivity1Id, "", false);
                }

                if (subject1Value == null || (subject1Value != null && subject1Value.length <= 0)) {
                    window.showErrorMessageBelowCtrl(subject1Id, "", false);
                    window.showErrorMessageBelowCtrl(subject1Id, subject1ErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(subject1Id, "", false);
                }

                if (versionPriority1Value == null || (versionPriority1Value != null && versionPriority1Value.length <= 0)) {
                    window.showErrorMessageBelowCtrl(versionPriority1Id, "", false);
                    window.showErrorMessageBelowCtrl(versionPriority1Id, versionPriority1ErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(versionPriority1Id, "", false);
                }
                if (isUdvashStudentValue == null || (isUdvashStudentValue != null && isUdvashStudentValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(isUdvashStudentContainId, "", false);
                    window.showErrorMessageBelowCtrl(isUdvashStudentContainId, isUdvashStudentErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(isUdvashStudentContainId, "", false);
                }
                if (appointmentRemarksValue == null || (appointmentRemarksValue != null && appointmentRemarksValue.length <= 0)) {
                    window.showErrorMessageBelowCtrl(appointmentRemarksId, "", false);
                    window.showErrorMessageBelowCtrl(appointmentRemarksId, appointmentRemarksErrorMessage, true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl(appointmentRemarksId, "", false);
                }

                var myform = document.getElementById("teacherRegistrationForm");
                var teacherRegistrationViewModel = new FormData(myform);

                if (isSuccess== true) {
                    //if (false) {
                    event.preventDefault();
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Teacher/Registration",
                        type: "POST",
                        data: teacherRegistrationViewModel,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.IsSuccess) {
                                var url = $("body").attr("data-project-root") + "Teacher/Registration";
                                var html = "<h2 style='text-align:center;'>Successfully Submitted!!!</h2><br/><div style='font-size:15px;'>Thanks for your interest to be a teacher of Udvash. Our Teacher Management Department will contact you whenever the next recruitment process starts. Thanks for your patience.</div>";
                                var htmlBackToMain = "<div style='margin-bottom:20px'><a href='" + url + "'>Back to main page</a></div>";
                                $("#cumstomMessage").html('');
                                $("#teacherRegistrationContain").html(html);
                                $("#teacherRegistrationMainContain").after(htmlBackToMain);
                            } else {
                                $("#cumstomMessage").html('');
                                var errorMessage = ' <div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><strong>Error!</strong>' + response.Message + '</div>';
                                $("#cumstomMessage").html(errorMessage);
                            }
                        },

                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            $.unblockUI();
                        }
                    });


                } else {
                    event.preventDefault();
                }

            });
        });

        function mobileCheck(mobileNumber) {
            mobileNumber = mobileNumber.replace(/\W+/g, "");
            var chkVal = mobileNumber.match(/^(?:\+?88)?0?1[15-9]\d{8}$/);
            if (chkVal != null) {
                if (mobileNumber.length == 11) {
                    chkVal = '88' + chkVal;
                } else if (mobileNumber.length == 10) {
                    chkVal = '880' + chkVal;
                }
                var chkVal = mobileNumber.match(/^(?:\+?88)?01[15-9]\d{8}$/);
                if (chkVal != null) {
                    if (mobileNumber.length == 11) {
                        chkVal = '88' + chkVal;
                    } else if (mobileNumber.length == 10) {
                        chkVal = '880' + chkVal;
                    }
                }
            }
            return chkVal;
        }

        if (!String.prototype.trim) {
            String.prototype.trim = function() {
                return this.replace(/^\s+|\s+$/g, '');
            };
        }

        function showErrorMessageBelowCtrl(ctrlId, message, show) {

            var divHtml = '<div style="color:red;" id="' + ctrlId + '_err_div" >' + message + '</div>';

            if (show == true) {
                $('#' + ctrlId).addClass("highlight");
                $('#' + ctrlId).after(divHtml);
            } else {
                $('#' + ctrlId).removeClass("highlight");
                $('#' + ctrlId + '_err_div').remove();
            }
        }

        function validateTextField(controlId, errorMessage) {
            $(document).on("input propertychange", "#" + controlId, function(event) {

                var value = $("#" + controlId).val().trim();
                if (value.length == 0) {
                    showErrorMessageBelowCtrl(controlId, "", false);
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                    return false;
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }

        function validateDropDownField(controlId, targetId, errorMessage) {
            $(document).on("change", "#" + controlId, function(event) {

                var val = $("#" + targetId).val();
                if (val.length == 0) {
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }

        function validateDropDownField(controlId, errorMessage) {
            $(document).on("change", "#" + controlId, function(event) {

                var val = $("#" + controlId).val();
                if (val.length == 0) {
                    showErrorMessageBelowCtrl(controlId, "", false);
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }

        function mobileCheckWithId(mobileNumber, id) {
            var isSuccess = false;
            var mobile = $("#" + id).val().trim();
            mobile = mobileCheck(mobile);
            if (mobile == null) {
                window.showErrorMessageBelowCtrl(id, "", false);
                window.showErrorMessageBelowCtrl(id, "Please enter valid mobile number", true);
            } else {
                $("#" + id).val(mobile);
                window.showErrorMessageBelowCtrl(id, "", false);
                isSuccess = true;
            }
            return isSuccess;
        }

        function hscPassingYearCheck(id) {
            var isSuccess = false;
            var hscPassingYear = $("#" + id).val().trim();
            hscPassingYear = hscPassingYear.replace(/\W+/g, "");
            hscPassingYear = hscPassingYear.match(/^(\d{4})$/);
            if (hscPassingYear == null) {
                window.showErrorMessageBelowCtrl(id, "", false);
                window.showErrorMessageBelowCtrl(id, "Please enter valid HSC Passing Year", true);
            } else {
                window.showErrorMessageBelowCtrl(id, "", false);
                isSuccess = true;
            }
            return isSuccess;
        }

    </script>
    }
