﻿@{
    List<string> fieldList = new List<string>
    {
        "Sl."
        , "Payment Date"
        , "Tpin"
        , "Teacher Name"
        , "Payment Branch"
        , "Paid By"
        , "Total Amount"
        , "Voucher No."
    };
}
<div class="panel panel-primary">
    <div class="panel-heading">Payment Report</div>
    <div class="panel-body">

        <div class="form-horizontal">
            <div class="form-group" style="padding: 2px">
                <div style="background-color: gainsboro">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <p style="text-align: center; margin-bottom: 0px;"> <span style="text-align: center; font-size: 20px">@ViewBag.OrganizationFullName</span></p>
                        <p style="text-align: center; margin-bottom: 0px;"><span style="text-align: center;">@ViewBag.BranchName</span></p>
                        <p style="text-align: center; margin-bottom: 0px;"><span style="text-align: center;">@ViewBag.Activity</span></p>
                        <p style="text-align: center; margin-bottom: 0px;"><span style="text-align: center;">@ViewBag.DateFromTo</span></p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    @if (fieldList.Any())
                    {
                        foreach (string field in fieldList)
                        {
                            <th>@field</th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>