﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Hr.OvertimeAllowanceSettingForm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "ExtradayAllowanceSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string organizationName = ViewBag.OrganizationName;
    string cVal = Convert.ToString(ViewBag.CalculationOnVal);
    string mVal = Convert.ToString(ViewBag.MultipleFactorVal);
    string creatyByStr = Convert.ToString(ViewBag.CreateByStr);
    string creationDateString = ViewBag.CreationDateStr;
    string modifiedByStr = Convert.ToString(ViewBag.ModifiedByStr);
    string modifiedDateStr = ViewBag.ModifiedDateStr;
    string effectiveDate = ViewBag.EffectiveFrom;
    string closingDate = ViewBag.ClosingDate;
}

<style>
    .marginTop {
        padding-top: 6px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Overtime Allowance Setting</div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Organization: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@organizationName</span>
                </div>
                @Html.Label("Settings Name: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    @Html.DisplayFor(model => model.Name, new { @class = "control-label marginTop" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Employment Status </label>
                    @foreach (MemberEmploymentStatus eStatus in ViewBag.EmploymentStatusList)
                    {
                        if (Model.EmploymentStatus.Contains(eStatus))
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" type="checkbox" disabled checked="checked" value="0"> @eStatus
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" disabled type="checkbox" value="0"> @eStatus
                            </label>
                        }
                    }

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Overtime Types </label>
                    @foreach (AllowanceSettingOverTimeType type in ViewBag.HolidayTypeList)
                    {
                        if (Model.OvertimeTypes.Contains(type))
                        {
                            <label class="checkbox-inline">
                                <input class="chb-holiday-type HolidayType" name="HolidayTypes" type="checkbox" disabled checked="checked" value="0"> @type
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input class="chb-holiday-type HolidayType" name="HolidayTypes" disabled type="checkbox" value="0"> @type
                            </label>
                        }
                    }

                </div>
            </div>
            <div class="form-group">
                @Html.Label("Calculation On :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2 marginTop">
                    <span>@cVal</span>

                    @*<input class="form-control" id="cVal" name="cVal" value="@cVal" type="text" readonly="readonly">*@
                </div>
                @Html.Label("Multiplying Factor :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2 marginTop">
                    <span>@mVal</span>
                    @*<input class="form-control" id="mVal" name="mVal" value="@mVal" type="text" readonly="readonly">*@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Effective From :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@effectiveDate</span>
                    @*<input class="form-control" id="cVal" name="cVal" value="@effectiveDate" type="text" readonly="readonly">*@
                </div>
                @Html.Label("Closing Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@closingDate</span>
                    @*<input class="form-control" id="cVal" name="cVal" value="@closingDate" type="text" readonly="readonly">*@
                </div>
            </div>
   
            <div class="form-group">
                @Html.Label("Creation Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@creationDateString</span>
                    @*<input class="form-control" id="mVal" name="mVal" value="@creationDateString" type="text" readonly="readonly">*@
                </div>
                @Html.Label("Create By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@creatyByStr</span>
                    @*<input class="form-control" id="cVal" name="cVal" value="@creatyByStr" type="text" readonly="readonly">*@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@modifiedDateStr</span>
                    @*<input class="form-control" id="mVal" name="mVal" value="@modifiedDateStr" type="text" readonly="readonly">*@
                </div>
                @Html.Label("Modified By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 marginTop">
                    <span>@modifiedByStr</span>
                    @*<input class="form-control" id="cVal" name="cVal" value="@modifiedByStr" type="text" readonly="readonly">*@
                </div>
            </div>
            
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}









