﻿@model UdvashERP.BusinessModel.ViewModel.Hr.OvertimeAllowanceSettingForm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "AllowanceSettingsEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Overtime Allowance</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OrganizationId)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type Setting Name" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Member Type </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chb-employement-status" value="option" class="forAll"> All
                        </label>
                        @foreach (KeyValuePair<int, string> status in ViewBag.EmploymentStatusList)
                        {
                            <label class="checkbox-inline">
                                <input class="chb-employement-status EmploymentStatus" id="@status.Value" name="EmploymentStatus" type="checkbox" value="@status.Key"> @status.Value
                            </label>
                        }
                        @Html.ValidationMessageFor(model => model.EmploymentStatus, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-12 col-md-offset-2" id="EmployementType" style="color: red; display: none">Member Type is required!</label>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Overtime Types </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chb-holiday-type" value="option"> All
                        </label>
                        @foreach (KeyValuePair<int, string> type in ViewBag.OvertimeTypeList)
                        {
                            var replacedText = "";
                            if (type.Value.Contains('/'))
                            {
                                replacedText = type.Value.Replace('/', '_');

                            }
                            else
                            {
                                replacedText = type.Value;
                            }
                            <label class="checkbox-inline">
                                <input class="chb-holiday-type OvertimeTypes" id="@replacedText" name="OvertimeTypes" type="checkbox" value="@type.Key"> @type.Value
                            </label>
                        }
                        @Html.ValidationMessageFor(model => model.OvertimeTypes, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-6 col-md-offset-2" id="OvertimeTypes" style="color: red; display: none"> Overtime Type is required!</label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CalculationOn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CalculationOn, (SelectList)ViewBag.CalculationOnList, "Select Calculation On", new { @class = "form-control", @id = "CalculationOn" })
                        @Html.ValidationMessageFor(model => model.CalculationOn, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MultiplyingFactor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.MultiplyingFactor, (SelectList)ViewBag.MultipleFactorList, "Select Mulfiplying Factory", new { @class = "form-control mf", @id = "MultiplyingFactor" })
                        @Html.ValidationMessageFor(model => model.MultiplyingFactor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control effectiveDateCtrl", @readonly = "readonly", @Value = Model.EffectiveDate.ToString("yyyy-MM-dd") } })
                    </div>
                    @Html.LabelFor(model => model.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control closingDateCtrl", @readonly = "readonly", @id = "cDate", @Value = Model.ClosingDate != null ? Model.ClosingDate.Value.ToString("yyyy-MM-dd") : "" } })
                    </div>
                    @ViewBag.EffectiveDate
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var overtime = jss.Serialize(@ViewBag.SelectedOverTimeList);
    var empStatus = jss.Serialize(@ViewBag.SelectedEmployementStatusList);
   // var effectiveDate = jss.Serialize(@ViewBag.EffectiveDate);

   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#Organization").val(@ViewBag.SelectedOrganization);
            $('#EffectiveDate, #cDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            });

            //console.log(effectiveDate);
            //$("#effectiveDateCtrl").val(effectiveDate);


            var empList = JSON.parse('@Html.Raw(empStatus)');
            console.log(empList);
            $(".EmploymentStatus").each(function () {
                if (empList.indexOf(parseInt($(this).val())) >= 0) {
                    $(this).prop("checked", true);
                }
            });

            if ($(".EmploymentStatus").length == empList.length) {
                $("#chb-employement-status").prop("checked", true);
            }

            var overTimeList = JSON.parse('@Html.Raw(overtime)');
            console.log(overTimeList);
            $(".OvertimeTypes").each(function () {

                if (overTimeList.indexOf(parseInt($(this).val())) >= 0) {
                    $(this).prop("checked", true);
                }
            });

            if ($(".OvertimeTypes").length == overTimeList.length) {
                $("#chb-holiday-type").prop("checked", true);
            }

            //for employment status
            $("#chb-employement-status").click(function () {
                if ($(this).is(':checked')) {
                    $(".chb-employement-status").each(function () {
                        $(this).prop('checked', true);
                        $('#EmployementType').css("display", "none");
                    });
                } else {
                    $(".chb-employement-status").each(function () {
                        $(this).prop('checked', false);
                    });
                    $('#EmployementType').css("display", "");
                }
            });

            //for overtime type
            $("#chb-holiday-type").click(function () {
                if ($(this).is(':checked')) {
                    $(".chb-holiday-type").each(function () {
                        $(this).prop('checked', true);
                        $('#OvertimeTypes').css("display", "none");
                    });
                } else {
                    $(".chb-holiday-type").each(function () {
                        $(this).prop('checked', false);
                    });
                    $('#OvertimeTypes').css("display", "");
                }
            });



        });

        //document on
        $(document).on('click', '#Submit', function (e) {

            var emStatusChecked = false;
            $('.chb-employement-status').each(function (index, value) {
                if ($(this).is(':checked')) {
                    emStatusChecked = true;
                }
            });
            var hTypeChecked = false;
            $('.chb-holiday-type').each(function (index, value) {
                if ($(this).is(':checked')) {
                    hTypeChecked = true;
                }
            });

            if (!emStatusChecked || !hTypeChecked) {
                if (!emStatusChecked) {
                    $('#EmployementType').css("display", "");
                }
                if (!hTypeChecked) {
                    $('#OvertimeTypes').css("display", "");
                }
                e.preventDefault();
            }
        });

        $(document).on('click', '.chb-employement-status', function () {
            var allchecked = true;
            $('.chb-employement-status').each(function (index, value) {
                if ($(this).is(':checked')) {
                    $('#EmployementType').css("display", "none");
                } else {
                    allchecked = false;
                }
            });
            if (allchecked) {
                $('#chb-employement-status').prop('checked', true);
            } else {
                $('#chb-employement-status').prop('checked', false);

                var checkHas = false;
                $('.chb-employement-status').each(function (index, value) {
                    if ($(this).is(':checked')) {
                        checkHas = true;
                    }
                });
                if (!checkHas) {
                    $('#EmployementType').css("display", "");
                }
            }


        });


        $(document).on('click', '.chb-holiday-type', function () {
            var allchecked = true;
            $('.chb-holiday-type').each(function (index, value) {
                if ($(this).is(':checked')) {
                    $('#OvertimeTypes').css("display", "none");
                } else {
                    allchecked = false;
                }
            });
            if (allchecked) {
                $('#chb-holiday-type').prop('checked', true);
            } else {
                $('#chb-holiday-type').prop('checked', false);
                var checkHas = false;
                $('.chb-holiday-type').each(function (index, value) {
                    if ($(this).is(':checked')) {
                        checkHas = true;
                    }
                });
                if (!checkHas) {
                    $('#OvertimeTypes').css("display", "");
                }
            }
        });

    </script>
}

