﻿@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "HrSettingsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    @using (Html.BeginForm("Create", "OverTimeAllowanceSetting", FormMethod.Get))
    {
       // @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="New Overtime Allowance Settings" class="btn btn-primary" />
        </div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><div class="panel-title">Overtime Allowance Settings</div></div>
    <div class="panel-body">
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    @if (ViewBag.OrganizationList != null)
                    {
                        <select id="Organization" class="form-control">
                            <option value="">Select Organization</option>
                            @foreach (var org in @ViewBag.OrganizationList)
                            {
                                <option value="@org.Value">@org.Text</option>
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    @if (ViewBag.EmploymentStatusList != null)
                    {
                        <select id="EmploymentStatus" class="form-control ">
                            <option value="">All Employment Status</option>
                            
                                @foreach (var emps in @ViewBag.EmploymentStatusList)
                                {
                                    <option value="@emps.Key">@emps.Value</option>
                                }
                           
                        </select>
                    }
                </th>
                <th class="form-group ">
                    @if (ViewBag.OvertimeTypeList != null)
                    {
                        <select id="HolidayType" class="form-control ">
                            <option value="">All Overtime Type </option>
                          
                                @foreach (var type in @ViewBag.OvertimeTypeList)
                                {
                                    <option value="@type.Key">@type.Value</option>
                                }
                         
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" min="0" class="form-control" value="10" placeholder="No Of Rows" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="Search" value="Search" class="form-control btn-primary" />
                </th>
            </tr>
        </table>
        <hr />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>Org</th>
                    <th>Name</th>
                    <th>Emp. Status</th>
                    <th>Overtime Type</th>
                    <th>Cal. On</th>
                    <th>Mul. Factor</th>
                    <th>Effective Date</th>
                    <th>Closing Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function dataTableRender() {
                var displayNo = 100;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = parseInt($('#DisplayNo').val());
                }
                else {
                    $('#DisplayNo').val(displayNo);
                }

                $('#DataGrid').dataTable({
                    //"sScrollX": "100%",
                    //"bScrollCollapse": true,
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollCollapse": true,
                    "scrollY": "60vh",
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,
                    "bSort": false,
                    //"aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                    //"aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 3, 4, 8, 9] }],
                    //order: [[1, "DESC"]],
                    ajax: {
                        url: '@Url.Action("SettingList", "OverTimeAllowanceSetting")',
                        type: 'POST',
                        data: function (dt) {
                            dt.organizationIdStr = $('#Organization').val();
                            dt.employementStatusStr = $('#EmploymentStatus').val();
                            dt.holidayTypeStr = $('#HolidayType').val();
                        },
                        error: function () {
                            ShowErrorMessage("Data load error. Please try again.");
                        }
                    }
                });
            }
            dataTableRender();
            $(document).on("click", "#Search", function () {
                dataTableRender();
            });
        });
        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            console.log(id);
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Setting.</h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Hr/OverTimeAllowanceSetting/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (rtdResult) {
                                $.unblockUI();
                                if (rtdResult.isSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: rtdResult.Text,
                                        displayMessageType: "s",
                                    });
                                    dataTableRender();
                                }
                                else if (!rtdResult.isSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: rtdResult.Text,
                                        displayMessageType: "e",
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function () {
                                $.unblockUI();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                });
                            }
                        });
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });
    </script>
}

