﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.MemberAchievementDetails>
@{
    string className = "success";
    
}   

                      <div class="panel panel-@ViewData["ClassName"]">
                          <div class="panel-heading"><h3 class="panel-title">@ViewData["Title"]</h3></div>
                          <div class="panel-body">
                              <ul class="task">
                                  @{
                                      if (Model.Any())
                                      {
                                          foreach (var ct in Model)
                                          {
                                              <li><i class=""></i>@ct.TaskName</li>
                                          }
                                      }
                                  }
                              </ul>
                          </div>
                      </div>
