﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.MemberAchievement>
@Styles.Render("~/Content/styledatatable")
@*@Styles.Render("~/Content/bootstrap-datetimepicker")*@
@{
    ViewBag.Title = "All Achievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fromDate = DateTime.Now.Date.ToString("yyyy-MM-01");
    string toDate = DateTime.Now.Date.ToString("yyyy-MM-dd");
    int year = DateTime.Now.Year;
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">My Achievement</h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    <input id="Pins" name="Pins" type="text" class="form-control" placeholder="Member Pin With Space Separate" value="" />
                </th>
                <th class="form-group">
                    <select class="form-control" name="Year" id="Year">
                        <option value="0"> All Year</option>
                        @for (int i = year; i >= 2015; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </th>
                <th class="form-group">
                    @Html.DropDownList("Month", (IEnumerable<SelectListItem>)ViewBag.MonthList, new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Year")
                    </th>
                    <th>
                        @Html.DisplayName("Month")
                    </th>
                    <th>
                        @Html.DisplayName("Member")
                    </th>
                    <th>
                        @Html.DisplayName("Total Working Hour")
                    </th>
                    <th>
                        @Html.DisplayName("Total Complete Point")
                    </th>
                    <th>
                        @Html.DisplayName("Complete Task Count")
                    </th>
                    <th>
                        @Html.DisplayName("Running Task Count")
                    </th>
                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap-datetimepicker")*@
    <script type="text/javascript" class="init">

        function dataTableRender() {

            var pageSize = 100;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            }
            else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "scrollY": "60vh",
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                order: [[0, "desc"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [1,7] }],
                ajax: {
                    url: $("body").attr("data-project-root") + "Hr/MemberAchievement/AllMemberAchievementDataTable",
                    type: 'POST',
                    data: function (d) {
                        d.year = $('#Year').val();
                        d.month = $('#Month').val();
                        d.memberPin = $('#Pins').val();
                    }
                }
            });
        }

        $(document).ready(function () {

            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });
            
        });

    </script>
}
