﻿@model UdvashERP.BusinessModel.ViewModel.Hr.MemberAchievementViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Add Management Achievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int year = DateTime.Now.Year;
}
@using (Html.BeginForm("Create", "MemberAchievement", FormMethod.Post, new { @id = "CreateMemberAchievementForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Add Management Achievement</h4>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" name="Year" id="Year">
                            <option value=""> Select Year</option>
                            @for (int i = year; i >= 2015; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Month, (IEnumerable<SelectListItem>)ViewBag.MonthList, "Select Month", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Month)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalWorkingHour, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TotalWorkingHour, new {htmlAttributes = new {@class = "form-control", @placeholder = "Total Working Hour"}})
                        @Html.ValidationMessageFor(model => model.TotalWorkingHour)
                    </div>
                    @Html.LabelFor(model => model.TotalCompletePoint, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TotalCompletePoint, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Complete Point" } })
                        @Html.ValidationMessageFor(model => model.TotalCompletePoint)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CompleteTaskCount, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CompleteTaskCount, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Complete Task Count" } })
                        @Html.ValidationMessageFor(model => model.CompleteTaskCount)
                    </div>
                    @Html.LabelFor(model => model.RunningTaskCount, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.RunningTaskCount, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Running Task Count" } })
                        @Html.ValidationMessageFor(model => model.RunningTaskCount)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Complete Task", new {@class = "control-label col-md-2"})
                </div>
                <div class="form-group generatedRow">
                    <div class="control-label col-md-2 CompleteTaskSerial">
                        <b>Sl 1.</b>
                    </div>
                    <div class="col-md-8">
                        <textarea name="CompleteTask" class="CompleteTask form-control" style="max-width: 100%" placeholder="Complete Task"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary addButton" data-button="CompleteTask" name="append">+</button>
                    </div>
                </div>
                <div class="form-group" id="CompleteTaskTemplateBottom"></div>

                <div class="form-group">
                    @Html.Label("Running Task", new { @class = "control-label col-md-2" })
                </div>
                <div class="form-group generatedRow">
                    <div class="control-label col-md-2 RunningTaskSerial">
                        <b>Sl 1.</b>
                    </div>
                    <div class="col-md-8">
                        <textarea name="RunningTask" class="RunningTask form-control" style="max-width: 100%" placeholder="Running Task"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary addButton" data-button="RunningTask" name="append">+</button>
                    </div>
                </div>
                <div class="form-group" id="RunningTaskTemplateBottom"></div>

                <div class="form-group">
                    @Html.Label("Failed Task", new { @class = "control-label col-md-2" })
                </div>
                <div class="form-group generatedRow">
                    <div class="control-label col-md-2 FailedTaskSerial">
                        <b>Sl 1.</b>
                    </div>
                    <div class="col-md-8">
                        <textarea name="FailedTask" class="FailedTask form-control" style="max-width: 100%" placeholder="Failed Task"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary addButton" data-button="FailedTask" name="append">+</button>
                    </div>
                </div>
                <div class="form-group" id="FailedTaskTemplateBottom"></div>

                <div class="form-group">
                    @Html.Label("Future Task", new { @class = "control-label col-md-2" })
                </div>
                <div class="form-group generatedRow">
                    <div class="control-label col-md-2 FutureTaskSerial">
                        <b>Sl 1.</b>
                    </div>
                    <div class="col-md-8">
                        <textarea name="FutureTask" class="FutureTask form-control" style="max-width: 100%" placeholder="Future Task"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary addButton" data-button="FutureTask" name="append">+</button>
                    </div>
                </div>
                <div class="form-group" id="FutureTaskTemplateBottom"></div>

                <div class="form-group">
                    @Html.Label("Learned Task", new { @class = "control-label col-md-2" })
                </div>
                <div class="form-group generatedRow">
                    <div class="control-label col-md-2 LearnedTaskSerial">
                        <b>Sl 1.</b>
                    </div>
                    <div class="col-md-8">
                        <textarea name="LearnedTask" class="LearnedTask form-control" style="max-width: 100%" placeholder="Learned Task"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary addButton" data-button="LearnedTask" name="append">+</button>
                    </div>
                </div>
                <div class="form-group" id="LearnedTaskTemplateBottom"></div>

                <div class="form-group">
                    @Html.Label("Teach Task", new { @class = "control-label col-md-2" })
                </div>
                <div class="form-group generatedRow">
                    <div class="control-label col-md-2 TeachTaskSerial">
                        <b>Sl 1.</b>
                    </div>
                    <div class="col-md-8">
                        <textarea name="TeachTask" class="TeachTask form-control" style="max-width: 100%" placeholder="Teach Task"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary addButton" data-button="TeachTask" name="append">+</button>
                    </div>
                </div>
                <div class="form-group" id="TeachTaskTemplateBottom"></div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" name="submit" value="Save" id="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            var completeTaskCounter = 1;
            var runningTaskCounter = 1;
            var failedTaskCounter = 1;
            var futureTaskCounter = 1;
            var learnedTaskCounter = 1;
            var teachTaskCounter = 1;
            $(document).on('click', '.addButton', function() {
                var button = $(this).attr('data-button');

                if (button == "CompleteTask") {
                    completeTaskCounter += 1;
                    addButtonText(button, completeTaskCounter, "Complete task");
                } else if (button == "RunningTask") {
                    runningTaskCounter += 1;
                    addButtonText(button, runningTaskCounter, "Running task");
                } else if (button == "FailedTask") {
                    failedTaskCounter += 1;
                    addButtonText(button, failedTaskCounter, "Failed task");
                } else if (button == "FutureTask") {
                    futureTaskCounter += 1;
                    addButtonText(button, futureTaskCounter, "Future task");
                } else if (button == "LearnedTask") {
                    learnedTaskCounter += 1;
                    addButtonText(button, learnedTaskCounter, "Learned task");
                } else if (button == "TeachTask") {
                    teachTaskCounter += 1;
                    addButtonText(button, teachTaskCounter, "Teach task");
                }
            });

            $(document).on('click', '.removeButton', function() {
                var button = $(this).attr('data-button');

                var $row = $(this).parents('.form-group'),
                    $option = $row.find('[name="option[]"]');
                $row.remove();

                if (button == "CompleteTask") {
                    completeTaskCounter = 0;
                    $("." + button + "Serial").each(function() {
                        completeTaskCounter += 1;
                        $(this).html("<b>Sl " + completeTaskCounter + ".</b>");
                    });
                } else if (button == "RunningTask") {
                    runningTaskCounter = 0;
                    $("." + button + "Serial").each(function() {
                        runningTaskCounter += 1;
                        $(this).html("<b>Sl " + runningTaskCounter + ".</b>");
                    });
                } else if (button == "FailedTask") {
                    failedTaskCounter = 0;
                    $("." + button + "Serial").each(function() {
                        failedTaskCounter += 1;
                        $(this).html("<b>Sl " + failedTaskCounter + ".</b>");
                    });
                } else if (button == "FutureTask") {
                    futureTaskCounter = 0;
                    $("." + button + "Serial").each(function() {
                        futureTaskCounter += 1;
                        $(this).html("<b>Sl " + futureTaskCounter + ".</b>");
                    });
                } else if (button == "LearnedTask") {
                    learnedTaskCounter = 0;
                    $("." + button + "Serial").each(function() {
                        learnedTaskCounter += 1;
                        $(this).html("<b>Sl " + learnedTaskCounter + ".</b>");
                    });
                } else if (button == "TeachTask") {
                    teachTaskCounter = 0;
                    $("." + button + "Serial").each(function() {
                        teachTaskCounter += 1;
                        $(this).html("<b>Sl " + teachTaskCounter + ".</b>");
                    });
                }
            });

            window.validateDropDownField("Year", "Please Select Year.");
            window.validateDropDownField("Month", "Please Select Month.");
            window.validateTextField("TotalWorkingHour", "Please Enter Total Working Hour.");
            window.validateTextField("TotalCompletePoint", "Please Enter Total Complete Point.");
            window.validateTextField("CompleteTaskCount", "Please Enter Complete Task Count.");
            window.validateTextField("RunningTaskCount", "Please Enter Running Task Count.");

            $(document).on('click', '#Save', function(e) {
                e.preventDefault();
                $('.field-validation-error').remove();

                var year = $('#Year').val();
                var month = $('#Month').val();
                var totalWorkingHour = $('#TotalWorkingHour').val();
                var totalCompletePoint = $('#TotalCompletePoint').val();
                var completeTaskCount = $('#CompleteTaskCount').val();
                var runningTaskCount = $('#RunningTaskCount').val();
                var isSuccess = true;

                if (year == null || year == '' || year.length <= 0) {
                    window.showErrorMessageBelowCtrl("Year", "", false);
                    window.showErrorMessageBelowCtrl("Year", "Please Select Year.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("Year", "", false);
                }

                if (month == null || month == '' || month.length <= 0) {
                    window.showErrorMessageBelowCtrl("Month", "", false);
                    window.showErrorMessageBelowCtrl("Month", "Please Select Month", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("Month", "", false);
                }

                if (totalWorkingHour == null || totalWorkingHour == '' || totalWorkingHour.length < 0) {
                    window.showErrorMessageBelowCtrl("TotalWorkingHour", "", false);
                    window.showErrorMessageBelowCtrl("TotalWorkingHour", "Please Enter Total Working Hour.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("TotalWorkingHour", "", false);
                }
                if (totalCompletePoint == null || totalCompletePoint == '' || totalCompletePoint.length < 0) {
                    window.showErrorMessageBelowCtrl("TotalCompletePoint", "", false);
                    window.showErrorMessageBelowCtrl("TotalCompletePoint", "Please Enter Total Complete Point.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("TotalCompletePoint", "", false);
                }
                if (completeTaskCount == null || completeTaskCount == '' || completeTaskCount.length < 0) {
                    window.showErrorMessageBelowCtrl("CompleteTaskCount", "", false);
                    window.showErrorMessageBelowCtrl("CompleteTaskCount", "Please Enter Complete Task Count.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("CompleteTaskCount", "", false);
                }
                if (runningTaskCount == null || runningTaskCount == '' || runningTaskCount.length < 0) {
                    window.showErrorMessageBelowCtrl("RunningTaskCount", "", false);
                    window.showErrorMessageBelowCtrl("RunningTaskCount", "Please Enter Running Task Count.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("RunningTaskCount", "", false);
                }

                if (isSuccess == true) {
                    var memberAchievementViewModel = new MemberAchievementViewModel();
                    memberAchievementViewModel.Year = year;
                    memberAchievementViewModel.Month = month;
                    memberAchievementViewModel.TotalWorkingHour = totalWorkingHour;
                    memberAchievementViewModel.TotalCompletePoint = totalCompletePoint;
                    memberAchievementViewModel.CompleteTaskCount = completeTaskCount;
                    memberAchievementViewModel.RunningTaskCount = runningTaskCount;

                    var taskViewModelArray = Array();
                    //Complete Task
                    $(".CompleteTask").each(function() {
                        var taskText = $(this).val();
                        if (taskText != '' && taskText.length > 0) {
                            var taskTypeViewModelObj = new MemberAchievementTaskTypeViewModel();
                            taskTypeViewModelObj.TaskType = 1;
                            taskTypeViewModelObj.Task = taskText;
                            taskViewModelArray.push(taskTypeViewModelObj);
                        }
                    });
                    //Running Task
                    $(".RunningTask").each(function() {
                        var taskText = $(this).val();
                        if (taskText != '' && taskText.length > 0) {
                            var taskTypeViewModelObj = new MemberAchievementTaskTypeViewModel();
                            taskTypeViewModelObj.TaskType = 2;
                            taskTypeViewModelObj.Task = taskText;
                            taskViewModelArray.push(taskTypeViewModelObj);
                        }
                    });
                    //Failed Task
                    $(".FailedTask").each(function() {
                        var taskText = $(this).val();
                        if (taskText != '' && taskText.length > 0) {
                            var taskTypeViewModelObj = new MemberAchievementTaskTypeViewModel();
                            taskTypeViewModelObj.TaskType = 3;
                            taskTypeViewModelObj.Task = taskText;
                            taskViewModelArray.push(taskTypeViewModelObj);
                        }
                    });
                    //Future Task
                    $(".FutureTask").each(function() {
                        var taskText = $(this).val();
                        if (taskText != '' && taskText.length > 0) {
                            var taskTypeViewModelObj = new MemberAchievementTaskTypeViewModel();
                            taskTypeViewModelObj.TaskType = 4;
                            taskTypeViewModelObj.Task = taskText;
                            taskViewModelArray.push(taskTypeViewModelObj);
                        }
                    });
                    //Learned Task
                    $(".LearnedTask").each(function() {
                        var taskText = $(this).val();
                        if (taskText != '' && taskText.length > 0) {
                            var taskTypeViewModelObj = new MemberAchievementTaskTypeViewModel();
                            taskTypeViewModelObj.TaskType = 5;
                            taskTypeViewModelObj.Task = taskText;
                            taskViewModelArray.push(taskTypeViewModelObj);
                        }
                    });
                    //Teach Task
                    $(".TeachTask").each(function() {
                        var taskText = $(this).val();
                        if (taskText != '' && taskText.length > 0) {
                            var taskTypeViewModelObj = new MemberAchievementTaskTypeViewModel();
                            taskTypeViewModelObj.TaskType = 6;
                            taskTypeViewModelObj.Task = taskText;
                            taskViewModelArray.push(taskTypeViewModelObj);
                        }
                    });
                    console.log(taskViewModelArray);
                    memberAchievementViewModel.MemberAchievementTaskTypeViewModel = taskViewModelArray;
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Hr/MemberAchievement/Create",
                        cache: false,
                        async: true,
                        data: { "memberAchievementViewModel": memberAchievementViewModel },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                window.location = $("body").attr("data-project-root") + "Hr/MemberAchievement/Index?msg=show";
                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "e",
                                });
                            }
                        },
                        complete: function() { $.unblockUI(); },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: "Error",
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                }
            });
        });

        function MemberAchievementViewModel() {
            this.Id = 0;
            this.TeamMemberId = 0;
            this.Year = 0;
            this.Month = 0;
            this.TotalWorkingHour = 0;
            this.TotalCompletePoint = 0;
            this.CompleteTaskCount = 0;
            this.RunningTaskCount = 0;
            this.MemberAchievementTaskTypeViewModel = [];
            this.MemberAchievementViewModel = function() {};
        }

        function MemberAchievementTaskTypeViewModel() {
            this.Id = 0;
            this.TaskType = 0;
            this.Task = "";
            this.MemberAchievementTaskTypeViewModel = function() {};
        }

        function addButtonText(name, countNumber, placeHolder) {
            var newDiv = '<div class="form-group generatedRow"><div class="control-label col-md-2 ' + name + 'Serial"><b>Sl ' + countNumber + '.</b></div><div class="col-md-8"><textarea name="' + name + '" class="' + name + ' form-control" style="max-width: 100%" placeholder="' + placeHolder + '"></textarea></div><div class="col-md-2"><button type="button" class="btn btn-warning removeButton" data-button="' + name + '" name="append">-</button></div></div>';
            var oldDiv = $('#' + name + 'TemplateBottom');
            oldDiv.before(newDiv);
        }

    </script>
}

