﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.MemberAchievement>
@Styles.Render("~/Content/styledatatable")
@*@Styles.Render("~/Content/bootstrap-datetimepicker")*@
@{
    ViewBag.Title = "My Achievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fromDate = DateTime.Now.Date.ToString("yyyy-MM-01");
    string toDate = DateTime.Now.Date.ToString("yyyy-MM-dd");
    int year = DateTime.Now.Year;
}
<div class="form-group">
    @using (Html.BeginForm("Create", "MemberAchievement", FormMethod.Get))
    {
        <div class="form-actions"><input type="submit" value="Add Achievement" class="btn btn-primary" /></div>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">My Achievement</h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    <select class="form-control" name="Year" id="Year">
                        <option value="0"> All Year</option>
                        @for (int i = year; i >= 2015; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </th>
                <th class="form-group">
                    @Html.DropDownList("Month", (IEnumerable<SelectListItem>)ViewBag.MonthList, new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Year")
                    </th>
                    <th>
                        @Html.DisplayName("Month")
                    </th>
                    <th>
                        @Html.DisplayName("Total Working Hour")
                    </th>
                    <th>
                        @Html.DisplayName("Total Complete Point")
                    </th>
                    <th>
                        @Html.DisplayName("Complete Task Count")
                    </th>
                    <th>
                        @Html.DisplayName("Running Task Count")
                    </th>
                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap-datetimepicker")*@
    <script type="text/javascript" class="init">

        function dataTableRender() {

            var pageSize = 100;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            }
            else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "scrollY": "60vh",
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                order: [[0, "desc"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [1,6] }],
                ajax: {
                    url: $("body").attr("data-project-root") + "Hr/MemberAchievement/MemberAchievementDataTable",
                    type: 'POST',
                    data: function (d) {
                        d.year = $('#Year').val();
                        d.month = $('#Month').val();
                    }
                }
            });
        }

        $(document).ready(function () {

            //$(document).on("focus", ".form-date", function () {
            //    $(this).datetimepicker({
            //        format: "yyyy-mm-dd",
            //        autoclose: true,
            //        todayBtn: false,
            //        showMeridian: true,
            //        initialDate: new Date(),
            //        startView: 2,
            //        minView: 2,
            //        maxView: 4
            //    });
            //});

            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });
            
            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> Achievement entry?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/MemberAchievement/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                success: function (response) {
                                    if (response.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "s",
                                        });
                                        dataTableRender();
                                    }
                                    else {
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "e",
                                        });
                                    }
                                },
                                complete: function () {},
                                error: function () {
                                    $.fn.customMessage({
                                        displayMessage: "Something Worng!",
                                        displayMessageType: "s",
                                    });
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

        });

    </script>
}
