﻿
@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.QuesAnswer

<style type="text/css">
    .TrClass {
        padding: 0px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Program.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Program.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Course.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Course.Name)
                        </dd>
                        <dt>

                            @Html.DisplayNameFor(model => model.Set)

                        </dt>

                        <dd>
                            @if (Model.Set == "1")
                            { @Html.DisplayName("A") }
                            else if (Model.Set == "2")
                            { @Html.DisplayName("B")}
                            else if (Model.Set == "3")
                            { @Html.DisplayName("C")}
                            else if (Model.Set == "4")
                            { @Html.DisplayName("D")}
                            else if (Model.Set == "5")
                            { @Html.DisplayName("E")}
                            else if (Model.Set == "6")
                            { @Html.DisplayName("F")}
                            else if (Model.Set == "7")
                            { @Html.DisplayName("G")}
                            else if (Model.Set == "8")
                            { @Html.DisplayName("H")}
                            else if (Model.Set == "9")
                            { @Html.DisplayName("I")}
                            else if (Model.Set == "10")
                            { @Html.DisplayName("J")}
                                                    @*@Html.DisplayFor(model => model.Set)*@
                                                </dd>

                                            </dl>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">

                                            <dl class="dl-horizontal">
                                                <dt>
                                                    @*@Html.DisplayNameFor(model => model.Session.Name)*@
                                                    Session
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Session.Name)
                                                </dd>
                                                <dt>
                                                    @*@Html.DisplayNameFor(model => model.ExamCode)*@
                                                    Exam Code
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.ExamCode)
                                                </dd>

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                            <tr>
                                                <td class="text-center" style="width: 72px">Ques No.</td>
                                                <td class="text-center" style="width: 222px">Answer</td>
                                                <td class="text-center" style="width: 72px">Ques No.</td>
                                                <td class="text-center" style="width: 222px">Answer</td>
                                                <td class="text-center" style="width: 72px">Ques No.</td>
                                                <td class="text-center" s style="width: 222px">Answer</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: -20px">
                                        @*<div class="table table-bordered table-condensed table-hover table-responsive table-striped">*@
                                        @{
                                            var options = new[] { "A", "B", "C", "D" };
                                            var ansArry = Model.Answer.Split(',');
                                            var ansArryList = ansArry.ToList();
                                            //ansArryList = ansArryList.Where(x => !String.IsNullOrWhiteSpace(x)).ToList();
                                            ansArryList = ansArryList.ToList();
                                            var perColumn = (int)Math.Ceiling(Model.TotalQues / (decimal)3);
                                            for (int columnNum = 1; columnNum <= 3; columnNum++)
                                            {
                                                <div class="col-md-4" style="padding-left: 0px; border: 0px solid #ddd ; padding-right: 0px ">
                                                    @for (int j = (columnNum - 1) * perColumn; j < columnNum * perColumn; j++)
                                                    {
                                                        if (j < Model.TotalQues)
                                                        {
                                                            <div class="col-md-3 text-center" style="border: 1px solid #ddd;padding-top: 1px;padding-bottom: 1px;">
                                                                @{var ss = j + 1;}
                                                                @ss
                                                            </div>
                                                            <div class="col-md-9 answerScript" id="@j" style="border: 1px solid #ddd; margin: 0px 0px 0px; ">
                                                                @foreach (var o in options)
                                                                {
                                                                    <div class="col-md-3 TrClass">
                                                                            <input type="checkbox" value="@o" />
                                                                            <span>@o</span>
                                                                    </div>
                                                                   
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            break;
                                                        }
                                                    }
                                                </div>

                                            }
                                        }
                                        @*</div>*@

                                    </div>
                                </div>

                            </div>
                        </div>
                        @Html.Hidden("XmlSetCode", ViewData["xmlsetCode"])

