﻿<option value>@ViewBag.SelectMessage</option>
@foreach (var option in ViewBag.OptionsData)
{
    if (option.Id == ViewBag.SelectedValue)
    {
        <option value="@option.Id" selected="selected">@option.Name</option>
    }
    else
    {
        <option value="@option.Id">@option.Code</option>
    }

}

