﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.QuesAnswer

<div>
    <h4>Ques Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
