﻿@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceSummeryReportViewModel
@{
    ViewBag.Title = "AttendanceSummeryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //DateTime startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    //DateTime endDate = startDate.AddMonths(1).AddDays(-1);
    //Model.DateFrom = startDate;
    //Model.DateTo = startDate;   
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/css/bootstrap-duallistbox")
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Attendance Summery Report</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AttendanceSummeryReport", "AttendanceReport", FormMethod.Post, new { @id = "AttendanceSummeryReport" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "All", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Organization)
                        </div>
                    </div>
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Department, (IEnumerable<SelectListItem>)ViewBag.DepartmentList, "All", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Department)
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Branch, (IEnumerable<SelectListItem>)ViewBag.BranchList, "All", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Branch)
                        </div>

                    </div>
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.Campus, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Campus, (IEnumerable<SelectListItem>)ViewBag.CampusList, "All", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Campus)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.DateFrom, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control form_datetime", @placeholder = "Date From",@readonly="true" } })
                            @Html.ValidationMessageFor(model => model.DateFrom)
                        </div>
                    </div>
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.DateTo, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control form_datetime", @placeholder = "Date To", @readonly = "true" } })
                            @Html.ValidationMessageFor(model => model.DateTo)
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-12" style="text-align:center; font-weight:bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                
                <div class="row">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <select name="informationViewList" id="informationViewList" class="form-control" multiple="multiple">
                            <option value="Pin">Pin</option>
                            <option value="Name">Name</option>
                            <option value="Department">Department</option>
                            <option value="Designation">Designation</option>
                            @*<option value="Member Type">Member Type</option>*@
                            <option value="Early Entry(hr)">Early Entry</option>
                            <option value="Late Leave(hr)">Late Leave</option>
                            <option value="Total Overtime(hr)">Total Overtime</option>
                            <option value="Approved Overtime(hr)">Approved Overtime</option>
                            <option value="Total Late Entry(hr)">Total Late Entry</option>
                            <option value="No. of Early Leave(Day)">No. of Late Entry</option>
                            <option value="Total Early Leave(hr)">Total Early Leave</option>
                            <option value="No. of Late Entry(Day)">No. of Early Leave</option>
                            <option value="Zone">Zone</option>
                            <option value="ZoneNameWithCount">ZoneNameWithCount</option>
                            <option value="Absent Count">Absent Count</option>
                            <option value="Leave Count">Leave Count</option>
                            <option value="Leave Details">Leave Details</option>
                            <option value="No. of Working Day">No. of Working Day</option>
                            <option value="No. of Extra Day">No. of Extra Day</option>
                            <option value="Extra Day Details">Extra Day Details</option>                            
                            <option value="Holiday Count">Holiday Count</option>
                            <option value="Total Daily Allowance">Total Daily Allowance</option>
                            <option value="Total Nightwork">Total Nightwork</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <input type="submit" value="View" class="btn btn-primary" id="attendanceSummeryReportBtn" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        $(document).on('change', '#Organization', function(event) {
            $('#Branch').empty();
            $('#Branch').append("<option value=''>Select Branch </option>");
            $('#Campus').empty();
            $('#Campus').append("<option value=''>Select Campus</option>");
            $('#Department').empty();
            $('#Department').append("<option value=''>Select Department</option>");

            var organizationId = $('#Organization').val();

            if (organizationId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function(i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                            data: { organizationIds: organizationId },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(response) {
                                $.unblockUI();
                                if (response.IsSuccess) {
                                    $.each(response.returndepartmentList, function(i, v) {
                                        $('#Department').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    $.fn.customMessage({
                                        displayMessage: response.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                            },
                            error: function(data) {
                                $.fn.customMessage({
                                    displayMessage: ajaxError,
                                    displayMessageType: "error",
                                    displayTime: 5000
                                });
                            }
                        });
                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });
        $(document).on('change', '#Branch', function(event) {

            $('#Campus').empty();
            $('#Campus').append("<option value=''>Select Campus</option>");
            var organizationId = $('#Organization').val();
            var branchId = $('#Branch').val();

            if (branchId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    data: { organizationIds: organizationId, programIds: null, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnCampusList, function(i, v) {
                                $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });

        $(document).ready(function() {
            var startDate = new Date();
            var FromEndDate = new Date();
            var ToEndDate = new Date();
            ToEndDate.setDate(ToEndDate.getDate() + 365);

            var today = new Date();
            var firstDay = new Date(today.getFullYear(), today.getMonth(), 1);
            var lastDay = today;
            var firstDaystring = "";
            var lastDaystring = "";
            if (firstDay.getDate() < 10) {
                
            }
            if (firstDay.getDate() < 10) {
                firstDaystring = firstDay.getFullYear() + '-' + (firstDay.getMonth() + 1) + '-0' + (firstDay.getDate());
            } else {
                firstDaystring = firstDay.getFullYear() + '-' + (firstDay.getMonth() + 1) + '-' + (firstDay.getDate());
            }
            if (lastDay.getDate() < 10) {
                lastDaystring = lastDay.getFullYear() + '-' + (lastDay.getMonth() + 1) + '-0' + (lastDay.getDate());
            } else {
                lastDaystring = lastDay.getFullYear() + '-' + (lastDay.getMonth() + 1) + '-' + (lastDay.getDate());
            }
             
            $("#DateFrom").val(firstDaystring);
            $("#DateTo").val(lastDaystring);
            startDate = new Date(firstDay.valueOf());
            startDate.setDate(startDate.getDate(new Date(firstDay.valueOf())));
            //$('#DateTo').datetimepicker('setStartDate', startDate);
            $("#DateFrom").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: firstDaystring,
                endDate: lastDaystring,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (selected) {
                startDate = new Date(selected.date.valueOf());
                startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                $('#DateTo').datetimepicker('setStartDate', startDate);

            });
            $("#DateTo").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: lastDaystring,
                startDate:firstDaystring,
                endDate:lastDaystring,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (selected) {
                FromEndDate = new Date(selected.date.valueOf());
                FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
                $('#DateFrom').datetimepicker('setEndDate', FromEndDate);
            });

            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });
        });

    </script>
}
