﻿@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceDeleteViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "DeteleAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Delete Attendance
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm(new AjaxOptions
            {
                UpdateTargetId = "AttendanceReportDiv",
                OnFailure = "OnFailureMessage",
                HttpMethod = "Post",
                OnBegin = "onSubmitFeedbackBegin",
                OnSuccess = "onSubmitFeedbackOnSuccess",
        }))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Pin, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Pin, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.AttendanceDate, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.AttendanceDate, new { htmlAttributes = new { @class = "form-control form_datetime1", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.AttendanceDate)
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
<div id="AttendanceReportDiv"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        function onSubmitFeedbackBegin(context) {
            $.blockUI({
                timeout: 0,
                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            });
        }

        function onSubmitFeedbackOnSuccess(result) {
            $.unblockUI();
            //if (result.error) {
            //    alert(result.error); //do error
            //    $.fn.customMessage({
            //            displayMessage: result.message,
            //            displayMessageType: "e"
            //    });
            //}
            //else {
            //    $.fn.customMessage({
            //        displayMessage: result.message,
            //        displayMessageType: "s"
            //    });
            //}
        }

        //function OnFailureMessage(context) {
        //    alert("All");
        //    console.log(context);
        //}
        //$(document).on('submit', '#DeleteAttendanceForm', function (event) {
        //    event.preventDefault();
        //    var url = $("body").attr("data-project-root") + "Hr/AttendanceReport/DeteleAttendance";

        //    $.ajax({
        //        url: url,
        //        dataType: 'json',
        //        data: $(this).serialize(),
        //        contenttype: 'application/json; charset=utf-8',
        //        async: true,
        //        type: 'POST',
        //        beforeSend: function () {
        //            $.blockUI({
        //                timeout: 0,
        //                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
        //            });
        //        },
        //        success: function (response) {
        //            alert("123");
        //            //console.log(response);
        //            //var obj = JSON.parse(response.responseText);
        //            //$("#AttendanceReportDiv").html("");
        //            //$("#AttendanceReportDiv").html(response);
        //            $.unblockUI();
        //        },
        //        complete: function () {
        //            $.unblockUI();
        //            $(window).scrollTop(0);
        //        },
        //        error: function (result) {
        //            //console.log(result);
        //            $.fn.customMessage({
        //                displayMessage: result.message,
        //                displayMessageType: "e"
        //            });
        //        }
        //    });
        //});


        $('#AttendanceDate').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            endDate: '+6m',
            showMeridian: true,
            startView: 2,
            minView: 2,
            maxView: 4
        });
    </script>
}

