﻿@{
    ViewBag.Title = "Daily Member Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Hr.MemberAttendanceSearchModel


@{
    var startDate = ((DateTime)ViewBag.StartDate).ToString("yyyy-MM-dd");
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")
<style>

</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Daily Attendance Report
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("HrDailyAttendanceReport", "AttendanceReport", FormMethod.Get, new { id = "dailyAttendanceReportForm" }))
        {
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="text" name="StartDate" id="StartDate" value="@startDate" class="form-control form_datetime1" readonly />
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownList("branchId", (SelectList)ViewBag.BranchList, "Select Branch", new { @class = "form-control " })
                        </div>

                        <div class="col-md-2">
                            @Html.DropDownList("campusId", (SelectList)ViewBag.CampusList, "Select Campus", new { @class = "form-control " })
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownList("departmentId", (SelectList)ViewBag.DepartmentList, "Select Department", new { @class = "form-control " })
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.DropDownList("designationId", (SelectList)ViewBag.DesignationList, "Select Designation", new { @class = "form-control " })
                        </div>
                        <div class="control-label col-md-1">
                            <strong>PINs :</strong>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="Pins" id="Pins" value="@ViewBag.Pins" class="form-control" style="max-width: 1000px" placeholder="Enter PINs separated by space" />
                        </div>

                    </div>
                    <div class="row text-center">
                        <input type="submit" value="Show" class="btn btn-primary" id="Submit" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (ViewBag.HasData)
{
    Html.RenderPartial("_partial/_HrDailyAttendanceReportTable");
}
else
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-condensed table-responsive">
                <tr>
                    No Data found.
                </tr>
            </table>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function () {


            window.validateDropDownField("organizationId", "Please Select Organization.");
            window.validateDropDownField("branchId", "Please Select Branch.");

            $('#StartDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+30d',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                //$('#EndDate').val("");

                if (Date.parse($(".form_datetime1").val()) > Date.parse($(".form_datetime2").val())) {
                    $(".dtmsg").text("");
                    $(".form_datetime1").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".form_datetime1").val()) <= Date.parse($(".form_datetime2").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });


            $("#organizationId").change(function () {
                $('#branchId').empty();
                //$('#branchId').append("<option value=''>Select Branch</option>");
                $('#campusId').empty();
                $('#campusId').append("<option value='0'>All Campus</option>");
                $('#departmentId').empty();
                $('#departmentId').append("<option value='0'>All Department</option>");
                $('#designation').empty();
                $('#designation').append("<option value='0'>All Designation</option>");
                var organizationId = $("#organizationId").val();
                var date = $("#StartDate").val();
                var branchId = 0;
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                if (result.returnBranchList.count > 0) {
                                    branchId = result.returnBranchList[0].Value;
                                }
                                branchId = result.returnBranchList[0]["Value"];
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {

                            $.ajax({
                                type: "POST",
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",

                                cache: false,
                                async: true,
                                data: { organizationIds: organizationId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },

                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (response) {
                                    $.unblockUI();
                                    if (response.IsSuccess) {
                                        $.each(response.returnCampusList, function (i, v) {
                                            $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (result) {
                                    $.unblockUI();
                                }
                            });



                            //Load Department
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                type: "POST",
                                data: { organizationIds: organizationId },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (responses) {
                                    if (responses.IsSuccess) {
                                        $.each(responses.returndepartmentList, function (i, v) {
                                            $('#departmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (responses) {
                                    $.unblockUI();
                                }
                            });
                            //End Loading Department

                            //Load Designation
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Hr/AttendanceReport/LoadDesignation",
                                type: "POST",
                                data: { organizationIds: organizationId, effectiveDate: date },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (responses) {
                                    if (responses.IsSuccess) {
                                        $.each(responses.returnDesignationList, function (i, v) {
                                            $('#designationId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    }
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (responses) {
                                    $.unblockUI();
                                }
                            });
                            //End Loading Designation

                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#branchId").change(function () {
                $('#campusId').empty();
                $('#campusId').append("<option value='0'>All Campus</option>");
                var organizationId = $("#organizationId").val();
                var branchId = $("#branchId").val();

                if (organizationId != null && organizationId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",

                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },

                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                }
            });
            
            
            //$("#Submit").click(function () {
            //    $("#organizationId_err_div").html("");
            //    $("#branchId_err_div").html("");
            //    var organizationId = $("#organizationId").val();
            //    var branchId = $("#branchId").val();
            //    if (organizationId !== "" && branchId !== "") {
            //        $("#dailyAttendanceReportForm").submit();  
            //    }
            //    showErrorMessageBelowCtrl("organizationId", "", false);
            //    showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
            //    showErrorMessageBelowCtrl("branchId", "", false);
            //    showErrorMessageBelowCtrl("branchId", "Please Select Branch.", true);
            //    return false;
            //});
            
        });
    </script>
}
