﻿
@{
    ViewBag.Title = "MyAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Hr.MemberAttendanceSearchModel
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@{
    var startDate = ((DateTime)ViewBag.StartDate).ToString("yyyy-MM-dd");
    var endDate = ((DateTime)ViewBag.EndDate).ToString("yyyy-MM-dd");
}
@if (ViewBag.IsAssignedMember)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            My Attendance
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Index", "AttendanceReport", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control  form_datetime1", @readonly = "readonly" ,Value=startDate})
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control form_datetime2", @readonly = "readonly", Value = endDate })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Show" class="btn btn-primary" id="Submit" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Attendance Sheet</div>
        <div class="panel-body" style="min-height: 100px">
            @if (ViewBag.HasData)
            {
                Html.RenderPartial("_partial/_IndexPartial");
            }
            else
            {
                <span>No Attendance Record Found!</span>
            }
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#StartDate').val("");
            //$('#EndDate').val("");
            //$("#Submit").prop('disabled', true);
            $('#StartDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+0d',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                $('#EndDate').val("");
                
                if (Date.parse($(".form_datetime1").val()) > Date.parse($(".form_datetime2").val())) {
                    alert();
                    $(".dtmsg").text("");
                    $(".form_datetime1").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".form_datetime1").val()) <= Date.parse($(".form_datetime2").val())) {
                    $('.dtmsg').text("");

                    $("#Submit").removeAttr('disabled');
                }
            });

            $('#EndDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+0d',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                var dateStart = Date.parse($(".form_datetime1").val());
                var dateEnd = Date.parse($(".form_datetime2").val());
                var date1 = new Date(dateStart);
                var date2 = new Date(dateEnd);
                var totalDays = parseInt((date2 - date1) / (1000 * 60 * 60 * 24)) + 1;

                if (dateStart > dateEnd) {
                    $(".dtmsg").text("");
                    $(".form_datetime2").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                else if (totalDays > 31) {
                    $(".dtmsg").text("");
                    $(".form_datetime2").parent().append("<div class='dtmsg' style='color:red;'>Maximum 31 days allowed.</div>");
                    $("#Submit").prop('disabled', true);
                }
                else if (dateStart <= dateEnd) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });
        });
    </script>
}
