﻿@{
    ViewBag.Title = "Member Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Hr.MemberAttendanceSearchModel


@{
    var startDate = ((DateTime)ViewBag.StartDate).ToString("yyyy-MM-dd");
    var endDate = ((DateTime)ViewBag.EndDate).ToString("yyyy-MM-dd");
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")
<style>
    
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Attendance Report
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("MemberAttendance", "AttendanceReport", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pin, "Pin", new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.Pin, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.StartDate, "Start Date", new { @style="padding: 8px 0px", @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control form_datetime1", @Value = startDate, @readonly = "readonly", @placeholder = "Date From" } })
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                        @Html.LabelFor(model => model.EndDate, "End Date", new { @style = "padding: 8px 0px", @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control form_datetime2", @Value = endDate, @readonly = "readonly", @placeholder = "Date To" } })
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                        <div class="col-md-3 text-center">
                            <input type="submit" value="Show" class="btn btn-primary" id="Submit" />
                        </div>
                    </div>
                </div>
 
            </div>
        }
    </div>
</div>
@if (ViewBag.HasData)
{
    Html.RenderPartial("_partial/_AttendanceReportTable");
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function() {

            $('#Pin').on('input', function() {
                this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
            });

            $('#StartDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+0d',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                //$('#EndDate').val("");

                if (Date.parse($(".form_datetime1").val()) > Date.parse($(".form_datetime2").val())) {
                    $(".dtmsg").text("");
                    $(".form_datetime1").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".form_datetime1").val()) <= Date.parse($(".form_datetime2").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            $('#EndDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+6m',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if (Date.parse($(".form_datetime1").val()) > Date.parse($(".form_datetime2").val())) {
                    $(".dtmsg").text("");
                    $(".form_datetime2").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".form_datetime1").val()) <= Date.parse($(".form_datetime2").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            /*$(document).on("click", "#Submit", function (event) {
                if ($("#Pin").val() == "") {
                    console.log("Pin is required!");
                    return;
                }
            });*/

            /*$('#Pin').blur(function() {
                if ($("#Pin").val() == "") {
                    $("#Submit").prop('disabled', true);
                } else if ($("#Pin").val() != "") {
                    $("#Submit").prop('disabled', false);
                }
            });

            if ($("#Pin").val() == "") {
                $("#Submit").prop('disabled', true);
            } else if ($("#Pin").val() != "") {
                $("#Submit").prop('disabled', false);
            }*/
        });
    </script>
}
