﻿@{
    ViewBag.Title = "Member Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Hr.MemberAttendanceSearchModel


@{
    var startDate = ((DateTime)ViewBag.StartDate).ToString("yyyy-MM-dd");
    var endDate = ((DateTime)ViewBag.EndDate).ToString("yyyy-MM-dd");
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")
<style>
    
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Attendance Report
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("MentorDailyAttendanceReport", "AttendanceReport", FormMethod.Get))
        {
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        @*<div class="control-label col-md-1"><strong>Date :</strong></div>*@
                        <div class="col-md-2"><input type="text" name="StartDate" id="StartDate" value="@startDate" class="form-control form_datetime1" readonly /></div>
                        @*<div class="control-label col-md-1"><strong>End :</strong></div>*@
                        <div class="col-md-2"><input type="text" name="EndDate" id="EndDate" value="@endDate" class="form-control form_datetime1" readonly /></div>
                        <div class="col-md-3">
                            @Html.DropDownList("employmentStatus", ViewBag.EmploymentStatusList as SelectList, "Employment Status", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @*<div class="control-label col-md-1"><strong>PINs :</strong></div>*@
                        <div class="col-md-4"><input type="text" name="Pins" id="Pins" value="@ViewBag.Pins" class="form-control" style="max-width:1000px" placeholder="Enter PINs separated by space" /></div>

                        <div class="col-md-1 text-center">
                            <input type="submit" value="Show" class="btn btn-primary" id="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (ViewBag.HasData)
{
    Html.RenderPartial("_partial/_MentorDailyAttendanceReportTable");
}
else
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-condensed table-responsive">
                <tr>
                    No Data found.
                </tr>
            </table>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function() {
            
            $('#StartDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+30d',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if (Date.parse($("#StartDate").val()) > Date.parse($("#EndDate").val())) {
                    $(".dtmsg").text("");
                    $("#StartDate").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($("#StartDate").val()) <= Date.parse($("#EndDate").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            $('#EndDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                endDate: '+30d',
                showMeridian: true,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                if (Date.parse($("#StartDate").val()) > Date.parse($("#EndDate").val())) {
                    $(".dtmsg").text("");
                    $("#StartDate").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($("#StartDate").val()) <= Date.parse($("#EndDate").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });


        });
    </script>
}
