﻿
<div class="panel-heading text-center">
    Result Details
</div>
<div class="panel-body">
    @{
        // IList<IndivisualViewModel> ivmList = ViewBag.Result;
        IList<UdvashERP.PublicAdmission.ResultService.IndivisualViewModel> ivmList = ViewBag.Result;
        //var ivmList = ViewBag.Result;
        if (ivmList.Any())
        {
            <div class="col-md-12 col-sm-12">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <h4>
                        @ivmList[0].Program - @ivmList[0].Session<br />
                        @ivmList[0].PrnNo<br />
                        @ivmList[0].StudentName<br />
                        Individual Performance
                    </h4>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 resultCss">
        <div class="table-responsive">
            <table class="table table-bordered table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Exam Name</th>
                        <th>Full Marks</th>
                        <th>MCQ Marks</th>
                        <th>Written Marks</th>
                        <th>Total Marks</th>
                        <th>Highest Marks</th>
                        <th>Branch Merit</th>
                        <th>Central Merit</th>
                    </tr>
                </thead>
                <tbody>
                    @{

            foreach (var ivm in ivmList)
            {
                <tr>

                    <td>@ivm.ExamName</td>
                    <td>@ivm.FullMarks</td>
                    <td>@ivm.McqMarks</td>
                    <td>@ivm.WrittenMarks</td>
                    <td>@ivm.TotalMarks</td>
                    <td>@ivm.HighestMarks</td>
                    <td>@ivm.Bmp</td>
                    <td>@ivm.Cmp</td>
                </tr>

            }
                    }

                </tbody>
            </table>



        </div>
    </div>
        }
        else
        {
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Error!</strong> &nbsp; Result Not Found !!!
                </div>
            </div>
        }
}
</div>

