﻿@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessRules.UInventory
@using UdvashERP.Services.Helper
@model UdvashERP.BusinessModel.Entity.UInventory.Quotation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var commonHelper = new CommonHelper();
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Quotation Details</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Branch.Organization.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Organization.ShortName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Branch Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Quotation Inv Date") :</td>
                    <td style="text-align:  left">@(Model.PublishedDate == null ? "Not Published" : Model.PublishedDate.Value.ToString("MMMM d, yyyy"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Quotation No") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.QuotationNo)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Group Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Item.ItemGroup.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model=>model.Purpose) :</td>
                    <td style="text-align:  left">
                        @{
                            @(Model.Purpose != null ? commonHelper.GetEmumIdToValue<Purpose>((int)Model.Purpose) : "N/A")
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Item.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Submission Deadline") :</td>
                    <td style="text-align:  left">@(Model.SubmissionDeadLine.ToString("MMMM d, yyyy hh:mm tt"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Quotation Quantity") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.QuotationQuantity)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Program & Session") :</td>
                    <td style="text-align:  left">
                        @{
                            if (Model.Program == null || Model.Session == null)
                            {
                                @("N/A")
                            }
                            else
                            {
                                @(Model.Program.Name+" "+Model.Session.Name)
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.DeliveryDate) :</td>
                    <td style="text-align:  left">@(Model.DeliveryDate.ToString("MMMM d, yyyy"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Specification")</td>
                </tr>
                @foreach (var quotationCriteria in Model.QuotationCriteriaList)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName(quotationCriteria.Criteria) :</td>
                        <td style="text-align:  left">@(quotationCriteria.CriteriaValue)</td>
                    </tr>
                }
            </table>
            <div class="form-group actionButton">
                <div class="text-center">
                @if (Model.QuotationStatus == QuotationStatus.NotPublished)
                {
                    @*<input type="button" value="Edit" class="btn btn-primary" id="Edited" />*@
                     <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary editButton">Edit</a>
                    <input type="button" value="Publish" class="btn btn-primary" id="Published" />
                    <input type="hidden" value="@(Model.Id)" class="btn btn-primary" id="QuotationId" />
                }   
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#Published").click(function() {
                var quotationId = $("#QuotationId").val();
                $.ajax({
                    url: $("body").attr("data-project-root") + "UInventory/Quotation/QuotationPublishedFromDetails",
                    type: "POST",
                    data: { quotationId: quotationId },
                    cache: false,
                    async: true,
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.isSuccess) {
                            $("#Published").prop('disabled', true);
                            $(".actionButton").find("a").attr("disabled", "disabled");
                            $.fn.customMessage({
                                displayMessage: response.returnMessage,
                                displayMessageType: "s"
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e"
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function (response) {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "e"
                        });
                    }
                });
            });
        });
    </script>
}