﻿@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessModel.ViewModel.UInventory
@using UdvashERP.BusinessRules.UInventory
@model UdvashERP.BusinessModel.ViewModel.UInventory.QuotationViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Update Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
    var obj = (Quotation)ViewBag.QuotationObj;
    var specifationTemp = obj.Item.SpecificationTemplate;
}

<div class="panel panel-primary">
    <div class="panel-heading">Quotation & Work Order</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @id = "QuotationUpdateForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id, new { @class = "quotationId" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.BranchId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.BranchId, (IEnumerable<SelectListItem>)ViewBag.branchList, "Select Branch", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Purpose, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Purpose, (IEnumerable<SelectListItem>)ViewBag.purposeList, "Select Purpose", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ItemGroupId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ItemGroupId, (IEnumerable<SelectListItem>)ViewBag.itemGroupList, "Select Item Group", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ItemId, (IEnumerable<SelectListItem>)ViewBag.itemList, "Select Item", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ProgramSessionId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramSessionId, (IEnumerable<SelectListItem>)ViewBag.ProgramSessionIdist, "Select Program & Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramSessionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SubmissionDeadline, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SubmissionDeadline, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control  form_datetime1", @readonly = "readonly" })
                        <div id="dfmsg"></div>
                    </div>
                    @Html.LabelFor(model => model.DeliveryDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model=>model.DeliveryDate, "{0:yyyy-MM-dd}", new { @class = "form-control form_datetime2", @readonly = "readonly" })
                        <div id="dtmsg"></div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.QuotationQuantity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.QuotationQuantity, new { @class = "form-control", @placeholder = "0", @onkeypress = "return validateQuotedQty(event);" })
                        @Html.ValidationMessageFor(model => model.QuotationQuantity)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h4><strong>Specification</strong></h4>
                    </div>
                    <div class="specification-list">
                        @foreach (QuatationSpecificationListViewModel spcCriteriaObj in Model.SpecificationListViewModels)
                        {
                            <div class="form-group">
                                @{
                                    var speCriteria = specifationTemp.SpecificationCriteriaList.FirstOrDefault(x => spcCriteriaObj != null && x.Name == spcCriteriaObj.Criteria);
                                    if (speCriteria != null && speCriteria.Controltype == FieldType.Dropdown)
                                    {
                                        @Html.Label(spcCriteriaObj.Criteria, new { @class = "control-label col-md-2" })
                                            <input type="hidden" value="@spcCriteriaObj.Criteria" id="SpecificationListViewModels[@counter]_Criteria" name="SpecificationListViewModels[@counter].Criteria" />
                                            <div class="col-md-10">
                                                @Html.DropDownList("SpecificationListViewModels[" + counter + "].CriteriaValue", new SelectList(speCriteria.SpecificationCriteriaOptions.ToList(), "Name", "Name", spcCriteriaObj.CriteriaValue), "Select " + speCriteria.Name, new { @class = "form-control", @id = "SpecificationListViewModels[" + counter + "]_CriteriaValue" })
                                            </div>
                                    }
                                    else if (speCriteria != null && speCriteria.Controltype == FieldType.Text)
                                    {
                                        @Html.Label(spcCriteriaObj.Criteria, new { @class = "control-label col-md-2" })
                                            <input type="hidden" value="@spcCriteriaObj.Criteria" id="SpecificationListViewModels[@counter]_Criteria" name="SpecificationListViewModels[@counter].Criteria" />
                                            <div class="col-md-10">
                                                @Html.TextBox("SpecificationListViewModels[" + counter + "].CriteriaValue", speCriteria.Name, new { @class = "form-control", @id = "SpecificationListViewModels[" + counter + "]_CriteriaValue" })
                                            </div>
                                    }
                                }
                            </div>
                            counter++;
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "8", @cols = "40", @style = "width: 100%; max-width:100%;" })
                        @Html.ValidationMessageFor(model => model.Remarks)
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Update" class="btn btn-primary" id="Submit" />
                        <input type="submit" value="Publish" class="btn btn-primary" id="Publish" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        function stopRKey(evt) {
            evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            var alloved_enter_on_type = ['textarea'];
            if ((evt.keyCode == 13) && ((node.id == "") || ($.inArray(node.type, alloved_enter_on_type) < 0))) {
                return false;
            }
        }

        function validateQuotedQty(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46
                || event.keyCode == 37 || event.keyCode == 39) {
                return true;
            } else if (key < 48 || key > 57) {
                return false;
            } else return true;
        };

        $(document).ready(function() {
            $('select').attr('data-val-number', 'This field must be required');
            document.onkeypress = stopRKey;
            $("form").each(function() {
                var that = $(this);
                $("input:submit,button", that).bind("click keypress", function(e) {
                    that.data("callerid", this.id);
                });
            });

            $(document).on('submit', '#QuotationUpdateForm', function(event) {
                var origin_id = $(event.target).data("callerid");

                event.preventDefault();
                var url = "";
                var isDisable = false;
                if (origin_id == "Submit") {
                    url = $("body").attr("data-project-root") + "UInventory/Quotation/Edit";
                } else if (origin_id == "Publish") {
                    url = $("body").attr("data-project-root") + "UInventory/Quotation/EditQuotationPublished";
                    isDisable = true;
                }

                $.ajax({
                    url: url,
                    dataType: 'json',
                    data: $(this).serialize(),
                    type: 'POST',
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {

                        console.log(response);
                        if (response.isSuccess) {

                            $.fn.customMessage({
                                displayMessage: response.returnMessage,
                                displayMessageType: "s"
                            });
                            if (isDisable) {
                                $("#Submit").prop('disabled', true);
                                $("#Publish").prop('disabled', true);
                            }

                            //$("#OrganizationId").val($("#OrganizationId option:first").val());
                            //$("#BranchId").empty();
                            //$("#BranchId").html($('<option>').text("Select Branch").attr('value', " "));

                            //$("#ItemGroupId").val($("#ItemGroupId option:first").val());
                            //$("#Purpose").val($("#Purpose option:first").val());
                            //$("#ProgramSessionId").val($("#ProgramSessionId option:first").val());

                            //$("#ItemId").empty();
                            //$("#ItemId").html($('<option>').text("Select Item").attr('value', " "));

                            //$("#SubmissionDeadline").val("");
                            //$("#DeliveryDate").val("");
                            //$("#QuotationQuantity").val("");
                            //$(".specification-list").html("");
                            //$("#Remarks").html("");

                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e"
                            });
                        }

                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                        $(window).scrollTop(0);
                    },
                    error: function(result) {
                        console.log(result);
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "e"
                        });
                    }
                });
            });

            $("#OrganizationId, #ItemGroupId").change(function() {
                var organizationId = $("#OrganizationId").val();
                var itemGroupId = $("#ItemGroupId").val();
                $("#ItemId").empty();
                $("#ItemId").html($('<option>').text("Select Item").attr('value', ""));
                $("#ItemId").parent().find(".field-validation-error").remove();
                if (organizationId != '' || itemGroupId != '') {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/LoadItem",
                        cache: false,
                        async: true,
                        data: { organizationId: organizationId, itemGroupIds: itemGroupId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $.each(response.returnResult, function(i, v) {
                                    $('#ItemId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e"
                            });
                        }
                    });
                }
                //else {
                //    $(this).parent().find(".field-validation-error").html("This field must be required");
                //}

            });

            $("#ItemId").change(function() {
                //alert("why");
                var itemId = $("#ItemId").val();
                $(".specification-list").empty();
                var quotationId = $(".quotationId").val();
                $(this).parent().find(".field-validation-error").remove();
                if (itemId != ' ' && itemId.length > 0) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "UInventory/Quotation/LoadItemSpecificationForAjax",
                        cache: false,
                        async: true,
                        data: { itemId: itemId, quotationId: quotationId },
                        beforeSend: function() {
                            //$.blockUI({
                            //    timeout: 0,
                            //    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            //});
                        },
                        success: function(response) {
                            if (response.hasOwnProperty('IsSuccess')) {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "e"
                                });
                            } else {
                                $(".specification-list").html(response);
                            }


                            //$.unblockUI();
                        },
                        complete: function() {
                            // $.unblockUI();
                        },
                        error: function(response) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e"
                            });
                        }
                    });
                } else {
                    //var branchMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="">Select Branch</span></span>';
                    // $('#BranchId').parent().append(branchMessage);
                    $(this).parent().append('<span class="text-danger field-validation-error" style="color:red"></span>');
                    $(this).parent().find(".field-validation-error").html("This field must be required");
                }
            });

            $("#OrganizationId").change(function() {
                var organizationId = $("#OrganizationId").val();
                $("#ProgramSessionId").empty();
                $("#ProgramSessionId").html($('<option>').text("Select Program & Session").attr('value', ""));
                $(this).parent().find(".field-validation-error").html("");
                if (organizationId != '') {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/GetProgramAndSession",
                        cache: false,
                        async: true,
                        data: { organizationId: organizationId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            getBranchByOrganization();
                            if (response.isSuccess) {
                                $("#ProgramSessionId").append($('<option>').text("N/A").attr('value', "0"));
                                $.each(response.programSessionList, function(i, v) {
                                    $('#ProgramSessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load Program & Session.",
                                displayMessageType: "e"
                            });
                        }
                    });
                } else {
                    $(this).parent().find(".field-validation-error").html("This field must be required");
                }
            });

            //$("#BranchId").change(function() {
            //    var organizationId = $("#OrganizationId").val();
            //    var branchId = $("#BranchId").val();
            //    $("#ProgramSessionId").empty();
            //    $("#ProgramSessionId").html($('<option>').text("Select Program & Session").attr('value', ""));
            //    $(this).parent().find(".field-validation-error").html("This field must be required");
            //    if (branchId != '') {
            //        $.ajax({
            //            type: "post",
            //            url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/GetProgramAndSession",
            //            cache: false,
            //            async: true,
            //            data: { organizationId: organizationId, branchId: branchId },
            //            beforeSend: function() {
            //                $.blockUI({
            //                    timeout: 0,
            //                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //                });
            //            },
            //            success: function(response) {

            //                if (response.isSuccess) {
            //                    $("#ProgramSessionId").append($('<option>').text("N/A").attr('value', "0"));
            //                    $.each(response.programSessionList, function(i, v) {
            //                        $('#ProgramSessionId').append($('<option>').text(v.Text).attr('value', v.Value));
            //                    });
            //                }
            //                $.unblockUI();
            //            },
            //            complete: function() {
            //                $.unblockUI();
            //            },
            //            error: function(result) {
            //                $.fn.customMessage({
            //                    displayMessage: "Unable to load Program & Session.",
            //                    displayMessageType: "e"
            //                });
            //            }
            //        });

            //    } else {
            //        $(this).parent().find(".field-validation-error").html("This field must be required");
            //    }
            //});

            $(document).on('change', '#ItemId,#Purpose', function() {
                var purposeId = $('#Purpose').val();
                //alert(purposeId);
                if (purposeId !== "") {
                    loadprogramsession();
                }
            });

            function getBranchByOrganization() {
                var organizationId = $("#OrganizationId").val();
                $("#BranchId").html($('<option>').text("Select Branch").attr('value', ""));
                if (organizationId != '') {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {

                            if (response.IsSuccess) {
                                $.each(response.returnBranchList, function(i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load Branch.",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            }

            function loadprogramsession() {
                var purposeId = $('#Purpose').val();
                $('#ProgramSessionId').empty();
                $("#ProgramSessionId").prepend("<option value=''>Select program & session</option>");
                //if (purposeId === "0" || purposeId > 3) {
                //    $('#ProgramSessionId').append("<option value='0'>N/A</option>");
                //}
                var organizationId = $('#OrganizationId').val();
                var branchId = $('#BranchId').val();
                var itemId = $('#ItemId').val();
                if (branchId.length > 0 && itemId.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/GetProgramAndSession",
                        data: { organizationId: organizationId, branchId: branchId, itemIdList: itemId, isReport: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.isSuccess) {

                                if (response.programSessionList == null) {
                                    $('#ProgramSessionId').append("<option value='0'>N/A</option>");
                                } else {
                                    $.each(response.programSessionList, function(i, v) {
                                        $('#ProgramSessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                }

                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "error"
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                            });
                        }
                    });
                }
            }

            function dateFromGreaterThanDateTo() {
                var dateFrom = $('#SubmissionDeadline').val();
                var dateTo = $('#DeliveryDate').val();
                if (dateTo != "" && dateFrom > dateTo) {
                    window.showErrorMessageBelowCtrl("SubmissionDeadline", "", false);
                    window.showErrorMessageBelowCtrl("SubmissionDeadline", "Submission Deadline can not exceed Date to.", true);
                } else {
                    window.showErrorMessageBelowCtrl("SubmissionDeadline", "", false);
                }
            }

            var today = new Date();
            //var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.form_datetime1').datetimepicker({
                //format: "yyyy-mm-dd",
                //autoclose: true,
                //todayBtn: false,
                //showMeridian: true,
                //initialDate: new Date(),
                ////endDate: endDate,
                //startView: 2,
                //minView: 2,
                //maxView: 4
                format: 'yyyy-mm-dd hh:ii',
                showMeridian: true,
                startView: 1,
                pickDate: true,
                minuteStep: 5,
                autoclose: 1,
                timeOnly: true,
                beforeShowDay: false,
                //initialDate: new Date(),
                //minView: 2,
                //maxView: 4
            }).change(function() {
                dateFromGreaterThanDateTo();
            });

            $('.form_datetime2').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).change(function() {
                dateFromGreaterThanDateTo();
            });

        });

    </script>
}