﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UInventory.Quotation>
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Quotation & Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    @using (Html.BeginForm("Create", "Quotation", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="New Quotation Invitation" class="btn btn-primary" />
        </div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Quotation & Work Order</h4></div>
    <div class="panel-body">
        @* this table is responsible for searching view *@
        <table>
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, " Select Organization", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Branch", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="itemName" name="itemName" type="text" class="form-control " placeholder="Item Name" />
                </th>
                <th class="form-group">
                    <input id="deadLine" name="DeadLine" type="text" class="form-control " placeholder="Publish date" readonly="readonly" />
                </th>
                <th class="form-group">
                    @Html.DropDownList("QuotationStatus", (IEnumerable<SelectListItem>)ViewBag.QuotationStatusList, "QuotationStatus", new { @class = "form-control" })
                  
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
            </tr>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Organization")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Branch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item)
                    </th>
                    <th>
                        @Html.DisplayName("Published Date")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuotationNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubmissionDeadLine)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
        @* ----------------------------------------------------------------------------------------------------- *@
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/bootstrap-datetimepicker")
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
       
        $(document).ready(function() {

            $("#Organization").change(function() {
                var organizationId = $("#Organization").val();
                $("#Branch").empty();
                $("#Branch").html($('<option>').text("Select Branch").attr('value', ""));

                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    type: "POST",
                    data: { organizationIds: organizationId, isAuthorized: true,isProgramBranSession:false},
                    cache: false,
                    async: true,
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function(i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "e"
                        });
                    }
                });


            });

            @**----function for render data table----*@
            function dataTableRender() {
                var displayNo = 10;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = parseInt($('#DisplayNo').val());
                } else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": false,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": [7] }],
                    //stateSave: true,
                    //order: [[1, "asc"]],
                    order: [[6, "asc"]],
                    ajax: {
                        url: '@Url.Action("QuotationList", "Quotation")',
                        type: 'POST',
                        data: function(dt) {
                            dt.organization = $('#Organization').val();
                            dt.branch = $('#Branch').val();
                            dt.itemName = $('#itemName').val();
                            dt.deadLine = $('#deadLine').val();
                            dt.quotationStatus = $('#QuotationStatus').val();
                        },
                        error: function(response) {
                            ShowErrorMessage("Quotation data load error. Please try again.");
                        }
                    }
                });
            }

            dataTableRender();
            $(document).on("click", "#search", function() {
                dataTableRender();
            });
            @**----function for render data table----*@

            @**---- function for row delete----*@

            $(document).on("click", ".cancelQuotation", function () {
                var id = $(this).attr("data-id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>Quotation</span> ?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "UInventory/Quotation/Delete",
                                cache: false,
                                async: true,
                                data: { id: id },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {

                                    if (result.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> quotation Delete Successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    } else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Quotation Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                    $.unblockUI();
                                }
                            });
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });
            
            @**----end function for row delete----*@

            $('#deadLine').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                //endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });

        });

    </script>
}

@* ----------------------------------------------------------------------------------------------------- *@