﻿@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessRules.UInventory
@model UdvashERP.BusinessModel.Entity.UInventory.Quotation

@{
    ViewBag.Title = "Manage Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var supplier = (Supplier)ViewBag.Supplier;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Quotation</h3>
    </div>
    <div class="panel-body">
        <div class="">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Branch.Organization.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Organization.ShortName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Branch Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Group Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Item.ItemGroup.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Item.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Program & Session") :</td>
                    <td style="text-align:  left">
                        @{
                            if (Model.Program == null || Model.Session == null)
                            {
                                @("N/A")
                            }
                            else
                            {
                                @(Model.Program.Name + " " + Model.Session.Name)
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Specification")</td>
                </tr>
                @foreach (var quotationCriteria in Model.QuotationCriteriaList)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName(quotationCriteria.Criteria) :</td>
                        <td style="text-align:  left">@(quotationCriteria.CriteriaValue)</td>
                    </tr>
                }
            </table>

            <div class="form-group form-horizontal">
                @Html.Label("Supplier", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("SupplierId", (IEnumerable<SelectListItem>)ViewBag.SupplierList, "Select Supplier", new { @class = "form-control" })
                </div>
            </div>
            <br /><br /><br />
            <div class="form-group form-horizontal">
                <p><b>Issued Quantity & Rate Details</b></p>
                <table id="" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Quoted Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Quoted Unit Cost")
                            </th>
                            <th>
                                @Html.DisplayName("Total Quoted Cost")
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td style="text-align: right; font-weight: bold">@(Model.QuotationQuantity)</td>
                            <td style="text-align:  center" class=""><input type="text" id="quotPriceUnitCost" value="0" placeholder="Unit Cost" class="form-control" onkeypress='return validateQtyWithDecimal(event);' /></td>
                            <td style="text-align:  left" id="totalCost">0</td>
                            <input type="hidden" id="quotationId" value="@(Model.Id)" class="form-control" />
                            <input type="hidden" id="quotationQ" value="@(Model.QuotationQuantity)" class="form-control" />
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group actionButton">
                <div class="text-center">
                    @*<input type="button" value="Back" class="btn btn-primary" id="Back" />*@
                    @*@if (ViewBag.CheckpriceQuotation==false)
                        {
                            <input type="button" value="Submit" class="btn btn-primary" id="submitPriceQuot" />
                        }*@
                    <input type="button" value="Submit" class="btn btn-primary" id="submitPriceQuot" />
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "ManageQuotationForSupplier")
</p>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function validateQtyWithDecimal(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46
                || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 110) {
                return true;
            } else if (key == 46) {
                return true;
            } else if (key < 48 || key > 57) {
                return false;
            } else return true;
        };

        $(document).ready(function () {

            $("#SupplierId").change(function () {

                var supplierId = $("#SupplierId").val();
                var quotationId = $("#quotationId").val();
                if (supplierId != '' && supplierId != null) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "UInventory/Quotation/CheckSupplierPriceQuotation",
                        cache: false,
                        async: true,
                        data: { supplierId: supplierId, quotationId: quotationId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $("#submitPriceQuot").hide();
                            } else {
                                $("#submitPriceQuot").show();
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });

            $("#quotPriceUnitCost").on("keyup", function () {
                var priceUnitCost = parseFloat($(this).val());
                var quantity = $("#quotationQ").val();
                var totalCost = Math.round(priceUnitCost * quantity);

                $('#totalCost').html((parseFloat($(this).val()) * $("#quotationQ").val()).toFixed(2));

                if (isNaN(totalCost)) {
                    $('#totalCost').html("0");
                } else {
                    $('#totalCost').html(totalCost);
                }
            });

            $(document).on("click", "#submitPriceQuot", function () {

                var unitCost = parseFloat($("#quotPriceUnitCost").val());
                var quotationId = parseInt($("#quotationId").val());
                var supplierId = $("#SupplierId").val();

                if (unitCost != "" && unitCost > 0 && supplierId != "") {
                    bootbox.confirm("<h3>Are you sure you want to submit this <span class='confirm-message'>price quotation</span> ?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "UInventory/Quotation/SubmitQuotationBySupplier",
                                cache: false,
                                async: true,
                                data: { unitCost: unitCost, quotationId: quotationId, supplierId: supplierId },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (result) {

                                    if (result.isSuccess) {

                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "s"
                                        });
                                       // $("#submitPriceQuot").hide();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "e"
                                        });
                                    }
                                    $.unblockUI();
                                },
                                error: function (result) {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e"
                                    });
                                    $.unblockUI();
                                }
                            });
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                } else {
                    $.fn.customMessage({
                        displayMessage: "Please insert valid unit cost & select supplier",
                        displayMessageType: "e"
                    });
                }

            });


        });

    </script>
}

@* ----------------------------------------------------------------------------------------------------- *@