﻿@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessRules.UInventory
@using UdvashERP.Services.Helper
@model UdvashERP.BusinessModel.Entity.UInventory.Quotation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var commonHelper = new CommonHelper();
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Quotation Details</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Branch.Organization.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Organization.ShortName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Branch Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Quotation Inv Date") :</td>
                    <td style="text-align:  left">@(Model.SubmissionDeadLine.ToString("MMMM d, yyyy"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.QuotationNo) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.QuotationNo)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Group Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Item.ItemGroup.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Purpose) :</td>
                    <td style="text-align:  left">
                        @{
                            @(Model.Purpose != null ? commonHelper.GetEmumIdToValue<Purpose>((int)Model.Purpose) : "N/A")
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Item.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Submission Deadline") :</td>
                    <td style="text-align:  left">@(Model.SubmissionDeadLine.ToString("MMMM d, yyyy"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Quotation Quantity") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.QuotationQuantity)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Program & Session") :</td>
                    <td style="text-align:  left">
                        @{
                            if (Model.Program == null || Model.Session == null)
                            {
                                @("N/A")
                            }
                            else
                            {
                                @(Model.Program.Name + " " + Model.Session.Name)
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.DeliveryDate) :</td>
                    <td style="text-align:  left">@(Model.DeliveryDate.ToString("MMMM d, yyyy"))</td>
                </tr>
                <tr>
                    <td style="text-align: center; font-weight: bold" colspan="2">@Html.DisplayName("Specification")</td>

                </tr>
                @foreach (var quotationCriteria in Model.QuotationCriteriaList)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName(quotationCriteria.Criteria) :</td>
                        <td style="text-align:  left">@(quotationCriteria.CriteriaValue)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>