﻿@*<style type="text/css">
        #openingBalanceTable th, td {
            padding: 5px;
        }

        #openingBalanceTable th {
            white-space: nowrap;
            font-weight: bold;
        }

        #openingBalanceTable .top th {
            text-align: center;
        }

        #openingBalanceTable .even {
            background: #E5E5E5;
        }
    </style>*@
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherClassPaymentFormViewModel
@{
    ViewBag.Title = "Teacher Class Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ClassReport", "TeacherReport", FormMethod.Post, new { @id = "teacherClassReportForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading" id="ShowHide" title="Colapse">
            <h4 class="panel-title">Class Report <span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
        </div>
        <div class="panel-body" id="toggleCE">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.ReportTypeGroupBy, (IEnumerable<SelectListItem>)ViewBag.ReportTypeGroupByList, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.ReportType, (IEnumerable<SelectListItem>)ViewBag.ReportTypeList, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.PaymentStatus, (IEnumerable<SelectListItem>)ViewBag.PaymentStatusList, "Select Payment Status",new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.ProgramId, new SelectList(string.Empty, "Value", "Text"), "Select Program", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.SessionId, new SelectList(string.Empty, "Value", "Text"), "Select Session", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.BranchId, new SelectList(string.Empty, "Value", "Text"), "Select Branch", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.CampusId, new SelectList(string.Empty, "Value", "Text"), "Select Campus", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.TpinList, new { @class = "form-control ", @placeholder = "Teacher PIN or Teacher Name" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.DateFrom, null, new { @class = "form-control form-date", @readonly = "readonly", @placeholder = "Select Date From", @Value = ViewBag.DateFrom })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.DateTo, null, new { @class = "form-control form-date", @readonly = "readonly", @placeholder = "Select Date To", @Value = ViewBag.DateTo })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.NoOfData, new { @class = "form-control ", @placeholder = "Number Of Data", @Value = ViewBag.NumberOfData })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 form-group" style="text-align: center">
                        <div class="col-md-12">
                            <input type="button" value="Search" class="btn btn-primary" id="Search" />
                            <input type="button" value="Export" class="btn btn-primary" id="export" style="display: none;" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div id="teacherClassReportContaint">

</div>

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript">
    window.validateDropDownField("OrganizationId", "Please Select Organization.");
    window.validateDropDownField("BranchId", "Please Select Branch.");
    window.validateDropDownField("CampusId", "Please Select Campus.");
    window.validateDropDownField("ProgramId", "Please Select Program.");
    window.validateDropDownField("SessionId", "Please Select Session.");
    window.validateDropDownField("ReportType", "Please Select Report Type.");
    window.validateDropDownField("ReportTypeGroupBy", "Please Select Report Type Group By.");
    window.validateDropDownField("PaymentStatus", "Please Select Payment Status.");
    window.validateTextField("NoOfData", "Please enter Number Of Data Per Page.");

    function CheckForm() {
        var isSuccess = true;
        var reportType = $("#ReportType").val();
        var reportTypeGroupBy = $("#ReportTypeGroupBy").val();
        var paymentStatus = $("#PaymentStatus").val();
        var organizationId = $("#OrganizationId").val();
        var programId = $("#ProgramId").val();
        var branchId = $("#BranchId").val();
        var sessionId = $("#SessionId").val();
        var campusId = $("#CampusId").val();
        var dateFrom = $("#DateFrom").val();
        var dateTo = $("#DateTo").val();
        var pinList = $("#TpinList").val();
        var noOfData = $("#NoOfData").val();

        if (paymentStatus == null || paymentStatus.length <= 0) {
            window.showErrorMessageBelowCtrl("PaymentStatus", "", false);
            window.showErrorMessageBelowCtrl("PaymentStatus", "Please Select Payment Status.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("PaymentStatus", "", false);
        }

        if (organizationId == null || organizationId.length <= 0) {
            window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("OrganizationId", "", false);
        }

        if (programId == null || programId.length <= 0) {
            window.showErrorMessageBelowCtrl("ProgramId", "", false);
            window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("ProgramId", "", false);
        }

        if (sessionId == null || sessionId.length <= 0) {
            window.showErrorMessageBelowCtrl("SessionId", "", false);
            window.showErrorMessageBelowCtrl("SessionId", "Please Select Session.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("SessionId", "", false);
        }

        if (dateFrom == null || dateFrom.length <= 0) {
            window.showErrorMessageBelowCtrl("DateFrom", "", false);
            window.showErrorMessageBelowCtrl("DateFrom", "Please Select Date From.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("DateFrom", "", false);
        }

        if (dateTo == null || dateTo.length <= 0) {
            window.showErrorMessageBelowCtrl("DateTo", "", false);
            window.showErrorMessageBelowCtrl("DateTo", "Please Select Date From.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("DateTo", "", false);
        }

        if (noOfData == null || noOfData.length <= 0) {
            window.showErrorMessageBelowCtrl("NoOfData", "", false);
            window.showErrorMessageBelowCtrl("NoOfData", "Please Select Number of data.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("NoOfData", "", false);
        }

        if (checkBranch(reportTypeGroupBy, branchId) == false) {
            isSuccess = false;
        }
        if (checkCampus(reportTypeGroupBy, campusId) == false) {
            isSuccess = false;
        }

        return isSuccess;
    }

    function TeacherClassPaymentFormViewModel() {
        this.OrganizationId = 0;
        this.ProgramId = 0;
        this.BranchId = 0;
        this.CampusId = 0;
        this.SessionId = 0;
        this.DateFrom = "";
        this.DateTo = "";
        this.TpinList = "";
        this.NoOfData = 10;
        this.ReportType = 0;
        this.ReportTypeGroupBy = 0;
        this.PaymentStatus = 0;
        this.TeacherClassPaymentFormViewModel = function () { };
    }

    function disableElement() {
        $('#BranchId').removeAttr("disabled");
        $('#CampusId').removeAttr("disabled");
        //var reportType = $("#ReportType").val();
        var reportTypeGroupBy = $("#ReportTypeGroupBy").val();
        //if (reportType == 2) {
        //    $("#BranchId").attr("disabled", true);
        //    $("#CampusId").attr("disabled", true);
        //}
        if (reportTypeGroupBy == 1) {
            // $("#CampusId").attr("disabled", true);
        } else if (reportTypeGroupBy == 2) {
            $("#BranchId").attr("disabled", true);
            $("#CampusId").attr("disabled", true);
        }
    }

    function checkBranch(reportTypeGroup, branch) {
        window.showErrorMessageBelowCtrl("BranchId", "", false);
        var ret = true;
        if (reportTypeGroup == 1 || reportTypeGroup == 3) {
            if (branch == '' || branch.length <= 0) {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                ret = false;
            }
        }
        return ret;
    }

    function checkCampus(reportTypeGroup, campus) {
        window.showErrorMessageBelowCtrl("CampusId", "", false);
        var ret = true;
        if (reportTypeGroup == 1 || reportTypeGroup == 3) {
            if (campus == '' || campus.length <= 0) {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                ret = false;
            }
        }
        return ret;
    }

    function dataTableRender() {
        var pageSize = 10;
        if ($('#NoOfData').val() != "" && /^\d+$/.test($('#NoOfData').val())) {
            pageSize = parseInt($('#NoOfData').val());

        } else {
            $('#NoOfData').val(pageSize);
        }

        var teacherClassPaymentFormObj = new TeacherClassPaymentFormViewModel();
        teacherClassPaymentFormObj.OrganizationId = $("#OrganizationId").val();
        teacherClassPaymentFormObj.ProgramId = $("#ProgramId").val();
        teacherClassPaymentFormObj.BranchId = $("#BranchId").val();
        teacherClassPaymentFormObj.CampusId = $("#CampusId").val();
        teacherClassPaymentFormObj.SessionId = $("#SessionId").val();
        teacherClassPaymentFormObj.DateFrom = $("#DateFrom").val();
        teacherClassPaymentFormObj.DateTo = $("#DateTo").val();
        teacherClassPaymentFormObj.TpinList = $("#TpinList").val();
        teacherClassPaymentFormObj.NoOfData = $("#NoOfData").val();
        teacherClassPaymentFormObj.ReportType = $("#ReportType").val();
        teacherClassPaymentFormObj.ReportTypeGroupBy = $("#ReportTypeGroupBy").val();
        teacherClassPaymentFormObj.PaymentStatus = $("#PaymentStatus").val();

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,

            //stateSave: false,
            order: [[0, "asc"]],
            ajax: {
                url: 'ClassReportDataTable',
                type: 'POST',
                data: function (d) {
                    d.teacherClassPayment = teacherClassPaymentFormObj;
                }
            }

        });
        $("#export").css("display", "");
    }

    function dataTableExport() {
        var isSuccess = true;
        isSuccess = CheckForm();
        if (isSuccess == true) {
            var teacherClassPaymentFormObj = new TeacherClassPaymentFormViewModel();
            teacherClassPaymentFormObj.OrganizationId = $("#OrganizationId").val() === "" ? "0" : $("#OrganizationId").val();
            teacherClassPaymentFormObj.ProgramId = $("#ProgramId").val() === "" ? "0" : $("#ProgramId").val();
            teacherClassPaymentFormObj.BranchId = $("#BranchId").val() === "" ? "0" : $("#BranchId").val();
            teacherClassPaymentFormObj.CampusId = $("#CampusId").val() === "" ? "0" : $("#CampusId").val();
            teacherClassPaymentFormObj.SessionId = $("#SessionId").val() === "" ? "0" : $("#SessionId").val();
            teacherClassPaymentFormObj.DateFrom = $("#DateFrom").val();
            teacherClassPaymentFormObj.DateTo = $("#DateTo").val();
            teacherClassPaymentFormObj.TpinList = $("#TpinList").val();
            teacherClassPaymentFormObj.NoOfData = $("#NoOfData").val();
            teacherClassPaymentFormObj.ReportType = $("#ReportType").val();
            teacherClassPaymentFormObj.ReportTypeGroupBy = $("#ReportTypeGroupBy").val();
            teacherClassPaymentFormObj.PaymentStatus = $("#PaymentStatus").val();
            var x = JSON.stringify(teacherClassPaymentFormObj);
            var urlParam = {
                teacherClassPaymentString: x
            };
            var url = "@Url.Action("ExportClassReportDataTable", "TeacherReport", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        }

    }

    function ShowHide() {
        var _this = $("#ShowHide");
        if (_this.attr('title') == 'Colapse') {
            $('#toggleCE').hide();
            _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
            _this.attr('title', 'Expand');
        } else {
            $('#toggleCE').show();
            _this.attr('title', 'Colapse');
            _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
        }
    }

    $(document).ready(function () {
        disableElement();
        var today = new Date();
        var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
        var startDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();
        var endDate = initialDate;

        $('.form-date').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: initialDate,
            //startDate: startDate,
            endDate: endDate,
            startView: 2,
            minView: 2,
            maxView: 4,

        });

        $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

        $(document).on("change", "#ReportTypeGroupBy", function (event) {
            disableElement();
            $("#OrganizationId").prop('selectedIndex', 0);
            window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            window.showErrorMessageBelowCtrl("ProgramId", "", false);
            window.showErrorMessageBelowCtrl("SessionId", "", false);
            window.showErrorMessageBelowCtrl("BranchId", "", false);
            window.showErrorMessageBelowCtrl("CampusId", "", false);
            window.showErrorMessageBelowCtrl("DateFrom", "", false);
            window.showErrorMessageBelowCtrl("DateTo", "", false);
            window.showErrorMessageBelowCtrl("NoOfData", "", false);
            $('#ProgramId').empty();
            $('#ProgramId').append("<option value=''>Select Program</option>");

            $('#SessionId').empty();
            $('#SessionId').append("<option value=''>Select Session</option>");

            $('#BranchId').empty();
            $('#BranchId').append("<option value=''>Select Branch</option>");

            $('#CampusId').empty();
            $('#CampusId').append("<option value=''>Select Campus</option>");
        });

        $(document).on("change", ".form-date", function (event) {
            var val = $(".form-date").val();
            if (val.length > 0) {
                window.showErrorMessageBelowCtrl("EndTime", "", false);
            } else {
                var id = $(this).getAttribute("id");
                window.showErrorMessageBelowCtrl(id, "Please enter valid Date", true);
            }
        });

        $("#OrganizationId").change(function () {

            $('#ProgramId').empty();
            $('#ProgramId').append("<option value=''>Select Program</option>");

            $('#SessionId').empty();
            $('#SessionId').append("<option value=''>Select Session</option>");

            $('#BranchId').empty();
            $('#BranchId').append("<option value=''>Select Branch</option>");

            $('#CampusId').empty();
            $('#CampusId').append("<option value=''>Select Campus</option>");
            var organizationId = $("#OrganizationId").val();

            if (organizationId.length > 0) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    type: "POST",
                    data: { organizationIds: organizationId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $('#ProgramId').append("<option value='0'>All Program</option>");
                            $.each(result.returnProgramList, function (i, v) {
                                $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },

                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            }
        });

        $("#ProgramId").change(function () {

            $('#SessionId').empty();
            $('#SessionId').append("<option value=''>Select Session</option>");

            $('#BranchId').empty();
            $('#BranchId').append("<option value=''>Select Branch</option>");

            $('#CampusId').empty();
            $('#CampusId').append("<option value=''>Select Campus</option>");

            var pId = $(this).val();
            var organizationId = $("#OrganizationId").val();

            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                type: "POST",
                data: { organizationIds: organizationId, programIds: pId, isAuthorized: true },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#SessionId').append("<option value='0'>All Session</option>");
                        $.each(response.returnSessionList, function (i, v) {
                            $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                    else {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "error",
                        });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function () {
                    $.unblockUI();
                }
            });
        });

        $("#SessionId").change(function () {

            $('#BranchId').empty();
            $('#BranchId').append("<option value=''>Select Branch</option>");

            $('#CampusId').empty();
            $('#CampusId').append("<option value=''>Select Campus</option>");

            var organizationIds = $("#OrganizationId").val();
            var programIds = $('#ProgramId').val();
            var sessionIds = $('#SessionId').val();

            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                type: "POST",
                data: { organizationIds: organizationIds, programIds: programIds, sessionIds: sessionIds, isAuthorized: true },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#BranchId').append("<option value='0'>All Branch</option>");
                        $.each(response.returnBranchList, function (i, v) {
                            $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                    else {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "error",
                        });
                    }
                }, complete: function () {
                    $.unblockUI();
                },
                error: function () {
                    $.unblockUI();
                }
            });
        });

        $("#BranchId").change(function () {

            $('#CampusId').empty();
            $('#CampusId').append("<option value=''>Select Campus</option>");

            var organizationIds = $("#OrganizationId").val();
            var programIds = $('#ProgramId').val();
            var branchIds = $("#BranchId").val();
            var sessionIds = $('#SessionId').val();

            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                type: "POST",
                data: { organizationIds: organizationIds, programIds: programIds, branchIds: branchIds, sessionIds: sessionIds },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response, status, xhr) {
                    if (response.IsSuccess) {
                        $('#CampusId').append("<option value='0'>All Campus</option>");
                        $.each(response.returnCampusList, function (i, v) {
                            $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                    else {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "error",
                        });
                    }
                }, complete: function () {
                    $.unblockUI();
                },
                error: function () {
                    $.unblockUI();
                }
            });
        });

        $(document).on("click", "#Search", function (e) {
            e.preventDefault();
            $('#teacherClassReportContaint').html("");
            // var isSuccess = true;
            //var reportType = $("#ReportType").val();
            //var reportTypeGroupBy = $("#ReportTypeGroupBy").val();
            //var paymentStatus = $("#PaymentStatus").val();
            //var organizationId = $("#OrganizationId").val();
            //var programId = $("#ProgramId").val();
            //var branchId = $("#BranchId").val();
            //var sessionId = $("#SessionId").val();
            //var campusId = $("#CampusId").val();
            //var dateFrom = $("#DateFrom").val();
            //var dateTo = $("#DateTo").val();
            //var pinList = $("#TpinList").val();
            //var noOfData = $("#NoOfData").val();

            //if (paymentStatus == null || paymentStatus.length <= 0) {
            //    window.showErrorMessageBelowCtrl("PaymentStatus", "", false);
            //    window.showErrorMessageBelowCtrl("PaymentStatus", "Please Select Payment Status.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("PaymentStatus", "", false);
            //}

            //if (organizationId == null || organizationId.length <= 0) {
            //    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            //    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            //}

            //if (programId == null || programId.length <= 0) {
            //    window.showErrorMessageBelowCtrl("ProgramId", "", false);
            //    window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("ProgramId", "", false);
            //}

            //if (sessionId == null || sessionId.length <= 0) {
            //    window.showErrorMessageBelowCtrl("SessionId", "", false);
            //    window.showErrorMessageBelowCtrl("SessionId", "Please Select Session.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("SessionId", "", false);
            //}

            //if (dateFrom == null || dateFrom.length <= 0) {
            //    window.showErrorMessageBelowCtrl("DateFrom", "", false);
            //    window.showErrorMessageBelowCtrl("DateFrom", "Please Select Date From.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("DateFrom", "", false);
            //}

            //if (dateTo == null || dateTo.length <= 0) {
            //    window.showErrorMessageBelowCtrl("DateTo", "", false);
            //    window.showErrorMessageBelowCtrl("DateTo", "Please Select Date From.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("DateTo", "", false);
            //}

            //if (noOfData == null || noOfData.length <= 0) {
            //    window.showErrorMessageBelowCtrl("NoOfData", "", false);
            //    window.showErrorMessageBelowCtrl("NoOfData", "Please Select Number of data.", true);
            //    isSuccess = false;
            //} else {
            //    window.showErrorMessageBelowCtrl("NoOfData", "", false);
            //}

            //if (checkBranch(reportTypeGroupBy, branchId) == false) {
            //    isSuccess = false;
            //}
            //if (checkCampus(reportTypeGroupBy, campusId) == false) {
            //    isSuccess = false;
            //}
            var isSuccess = true;
            isSuccess = CheckForm();
            if (isSuccess == true) {
                var data = $("#teacherClassReportForm").serialize();
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Teachers/TeacherReport/ClassReport",
                    data: data,
                    success: function (response) {
                        $('#teacherClassReportContaint').html("");
                        $('#teacherClassReportContaint').html(response);
                        dataTableRender();
                        ShowHide();
                    },
                    complete: function () {
                    },
                    error: function () {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });

            }

        });

        $(document).on("click", "#export", function () {
            dataTableExport();
        });
    });

    </script>
}
