﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherPaymentFormViewModel
@{
    ViewBag.Title = "Teacher Class Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("PaymentReport", "TeacherReport", FormMethod.Post, new { @id = "teacherPaymentReportForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading" id="ShowHide" title="Colapse">
            <h4 class="panel-title">Payment Report <span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
        </div>
        <div class="panel-body" id="toggleCE">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.ActivityId, (IEnumerable<SelectListItem>)ViewBag.ActivityTypeList, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.DateFrom, null, new { @class = "form-control form-date", @readonly = "readonly", @placeholder = "Select Date From", @Value = ViewBag.DateFrom })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.DateTo, null, new { @class = "form-control form-date", @readonly = "readonly", @placeholder = "Select Date To", @Value = ViewBag.DateTo })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.NoOfData, new { @class = "form-control ", @placeholder = "Number Of Data", @Value = ViewBag.NumberOfData })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.TpinList, new {@class = "form-control ", @placeholder = "Teacher PIN or Teacher Name"})
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control ", @placeholder = "Voucher No." })
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            <input type="button" value="Search" class="btn btn-primary" id="Search"/>
                            <input type="button" value="Export" class="btn btn-primary" id="export" style="display: none;"/>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
}

<div id="teacherPaymentReportContaint">

</div>

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript">
        window.validateDropDownField("ActivityId", "Please Select Activity.");
        window.validateDropDownField("OrganizationId", "Please Select Organization.");
        window.validateDropDownField("BranchId", "Please Select Payment Branch.");
        window.validateTextField("NoOfData", "Please enter Number Of Data Per Page.");

    function CheckForm() {
        var isSuccess = true;
        var activityId = $("#ActivityId").val();
        var organizationId = $("#OrganizationId").val();
        var branchId = $("#BranchId").val();
        var dateFrom = $("#DateFrom").val();
        var dateTo = $("#DateTo").val();
        var pinList = $("#TpinList").val();
        var noOfData = $("#NoOfData").val();

        if (activityId == null || activityId.length <= 0) {
            window.showErrorMessageBelowCtrl("ActivityId", "", false);
            window.showErrorMessageBelowCtrl("ActivityId", "Please Select Activity.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("ActivityId", "", false);
        }

        if (organizationId == null || organizationId.length <= 0) {
            window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("OrganizationId", "", false);
        }

        if (dateFrom == null || dateFrom.length <= 0) {
            window.showErrorMessageBelowCtrl("DateFrom", "", false);
            window.showErrorMessageBelowCtrl("DateFrom", "Please Select Date From.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("DateFrom", "", false);
        }

        if (dateTo == null || dateTo.length <= 0) {
            window.showErrorMessageBelowCtrl("DateTo", "", false);
            window.showErrorMessageBelowCtrl("DateTo", "Please Select Date From.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("DateTo", "", false);
        }

        if (noOfData == null || noOfData.length <= 0) {
            window.showErrorMessageBelowCtrl("NoOfData", "", false);
            window.showErrorMessageBelowCtrl("NoOfData", "Please Select Number of data.", true);
            isSuccess = false;
        } else {
            window.showErrorMessageBelowCtrl("NoOfData", "", false);
        }

        return isSuccess;
    }

    function TeacherPaymentFormViewModel() {
        this.ActivityId = 0;
        this.OrganizationId = 0;
        this.BranchId = 0;
        this.DateFrom = "";
        this.DateTo = "";
        this.TpinList = "";
        this.VoucherNo = "";
        this.NoOfData = 10;
        this.TeacherPaymentFormViewModel = function () { };
    }

    function dataTableRender() {
        var pageSize = 10;
        if ($('#NoOfData').val() != "" && /^\d+$/.test($('#NoOfData').val())) {
            pageSize = parseInt($('#NoOfData').val());

        } else {
            $('#NoOfData').val(pageSize);
        }

        var teacherPaymentFormObj = new TeacherPaymentFormViewModel();
        teacherPaymentFormObj.ActivityId = $("#ActivityId").val();
        teacherPaymentFormObj.OrganizationId = $("#OrganizationId").val();
        teacherPaymentFormObj.BranchId = $("#BranchId").val();
        teacherPaymentFormObj.DateFrom = $("#DateFrom").val();
        teacherPaymentFormObj.DateTo = $("#DateTo").val();
        teacherPaymentFormObj.TpinList = $("#TpinList").val();
        teacherPaymentFormObj.VoucherNo = $("#VoucherNo").val();
        teacherPaymentFormObj.NoOfData = $("#NoOfData").val();

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,5] }],
            //stateSave: false,
            order: [[1, "asc"]],
            ajax: {
                url: 'PaymentReportDataTable',
                type: 'POST',
                data: function (d) {
                    d.teacherPayment = teacherPaymentFormObj;
                }
            }

        });
        $("#export").css("display", "");
    }

    function dataTableExport() {
        var isSuccess = true;
        isSuccess = CheckForm();
        if (isSuccess == true) {
            var teacherPaymentFormObj = new TeacherPaymentFormViewModel();
            teacherPaymentFormObj.OrganizationId = $("#OrganizationId").val() === "" ? "0" : $("#OrganizationId").val();
            teacherPaymentFormObj.ActivityId = $("#ActivityId").val() === "" ? "0" : $("#ActivityId").val();
            teacherPaymentFormObj.BranchId = $("#BranchId").val() === "" ? "0" : $("#BranchId").val();
            teacherPaymentFormObj.DateFrom = $("#DateFrom").val();
            teacherPaymentFormObj.DateTo = $("#DateTo").val();
            teacherPaymentFormObj.TpinList = $("#TpinList").val();
            teacherPaymentFormObj.VoucherNo = $("#VoucherNo").val();
            teacherPaymentFormObj.NoOfData = $("#NoOfData").val();
            var x = JSON.stringify(teacherPaymentFormObj);
            var urlParam = {
                teacherPaymentString: x
            };
            var url = "@Url.Action("ExportPaymentReportDataTable", "TeacherReport", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        }

    }

    function ShowHide() {
        var _this = $("#ShowHide");
        if (_this.attr('title') == 'Colapse') {
            $('#toggleCE').hide();
            _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
            _this.attr('title', 'Expand');
        } else {
            $('#toggleCE').show();
            _this.attr('title', 'Colapse');
            _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
        }
    }

    $(document).ready(function () {
        
        var today = new Date();
        var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
        var startDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();
        var endDate = initialDate;

        $('.form-date').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: initialDate,
            //startDate: startDate,
            endDate: endDate,
            startView: 2,
            minView: 2,
            maxView: 4,

        });

        $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

        $(document).on("change", ".form-date", function (event) {
            var val = $(".form-date").val();
            if (val.length > 0) {
                window.showErrorMessageBelowCtrl("EndTime", "", false);
            } else {
                var id = $(this).getAttribute("id");
                window.showErrorMessageBelowCtrl(id, "Please enter valid Date", true);
            }
        });

        $("#OrganizationId").change(function () {

            $('#BranchId').empty();

            var organizationId = $("#OrganizationId").val();

            if (organizationId.length > 0) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    type: "POST",
                    data: { organizationIds: organizationId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $('#BranchId').append("<option value='0'>All Payment Branch</option>");
                            $.each(result.returnBranchList, function (i, v) {
                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },

                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            }
        });

        $(document).on("click", "#Search", function (e) {
            e.preventDefault();
            $('#teacherPaymentReportContaint').html("");
            var isSuccess = true;
            isSuccess = CheckForm();
            if (isSuccess == true) {
                var data = $("#teacherPaymentReportForm").serialize();
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Teachers/TeacherReport/PaymentReport",
                    data: data,
                    success: function (response) {
                        $('#teacherPaymentReportContaint').html("");
                        $('#teacherPaymentReportContaint').html(response);
                        dataTableRender();
                        ShowHide();
                    },
                    complete: function () {
                    },
                    error: function () {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });

            }

        });

        $(document).on("click", "#export", function () {
            dataTableExport();
        });
    });

    </script>
}
