﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherSeniorshipCalculationReportFormViewModel
@{
    ViewBag.Title = "Teacher Seniorship Calculation Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SeniorshipCalculationReport", "TeacherReport", FormMethod.Post, new { @id = "teacherSeniorshipCalculationReportForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading" id="ShowHide" title="Colapse">
            <h4 class="panel-title">Seniorship Calculation <span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
        </div>
        <div class="panel-body" id="toggleCE">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.OrganizationId)
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.TillDate)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.TillDate, null, new { @class = "form-control form-date", @readonly = "readonly", @placeholder = "Select Till Date", @Value = ViewBag.TillDate })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.TpinList)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TpinList, new { @class = "form-control ", @placeholder = "TPIN Space Seperate" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.NoOfData)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.NoOfData, new { @class = "form-control ", @placeholder = "Number Of Data", @Value = ViewBag.NumberOfData })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group" style="text-align: center">
                        <div class="col-md-12">
                            <input type="button" value="Search" class="btn btn-primary" id="Search" />
                            <input type="button" value="Export" class="btn btn-primary" id="export" style="display: none;" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div id="teacherScReportContaint">

</div>

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript">
        window.validateDropDownField("OrganizationId", "Please Select Organization.");
        window.validateTextField("NoOfData", "Please enter Number Of Data Per Page.");

        function TeacherSeniorshipCalculationReportFormViewModel() {
            this.OrganizationId = 0;
            this.TillDate = "";
            this.TpinList = "";
            this.NoOfData = 10;
            this.TeacherSeniorshipCalculationReportFormViewModel = function () { };
        }

        function dataTableRender() {
            var pageSize = 10;
            if ($('#NoOfData').val() != "" && /^\d+$/.test($('#NoOfData').val())) {
                pageSize = parseInt($('#NoOfData').val());

            } else {
                $('#NoOfData').val(pageSize);
            }

            var teacherScFormObj = new TeacherSeniorshipCalculationReportFormViewModel();
            teacherScFormObj.OrganizationId = $("#OrganizationId").val();
            teacherScFormObj.TillDate = $("#TillDate").val();
            teacherScFormObj.TpinList = $("#TpinList").val();
            teacherScFormObj.NoOfData = $("#NoOfData").val();

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,

                //stateSave: false,
                order: [[3, "desc"]],
                //"bSort" : false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [4] }
                ],
                ajax: {
                    url: 'SeniorshipCalculationReportDataTable',
                    type: 'POST',
                    data: function (d) {
                        d.teacherSeniorshipCalculation = teacherScFormObj;
                    }
                }

            });
            $("#export").css("display", "");
        }

        function dataTableExport() {
            var teacherSeniorshipCalculationReportFormViewModel = new TeacherSeniorshipCalculationReportFormViewModel();
            teacherSeniorshipCalculationReportFormViewModel.OrganizationId = $("#OrganizationId").val() === "" ? "0" : $("#OrganizationId").val();
            teacherSeniorshipCalculationReportFormViewModel.TillDate = $("#TillDate").val();
            teacherSeniorshipCalculationReportFormViewModel.TpinList = $("#TpinList").val();
            teacherSeniorshipCalculationReportFormViewModel.NoOfData = $("#NoOfData").val();
            var stringifiedObj = JSON.stringify(teacherSeniorshipCalculationReportFormViewModel);
            var urlParam = {
                teacherSeniorshipCalculationString: stringifiedObj
            };
            var url = "@Url.Action("ExportSeniorshipCalculationReportDataTable", "TeacherReport", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);

        }

        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#toggleCE').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#toggleCE').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        $(document).ready(function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var endDate = initialDate;

            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4,

            });

            $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

            $(document).on("change", ".form-date", function (event) {
                var val = $(".form-date").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("EndTime", "", false);
                } else {
                    var id = $(this).getAttribute("id");
                    window.showErrorMessageBelowCtrl(id, "Please enter valid Date", true);
                }
            });

            $(document).on("click", "#Search", function (e) {
                e.preventDefault();
                $('#teacherScReportContaint').html("");
                var isSuccess = true;
                var organizationId = $("#OrganizationId").val();
                var tillDate = $("#TillDate").val();
                var pinList = $("#TpinList").val();
                var noOfData = $("#NoOfData").val();

                if (organizationId == null || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                    console.log("127: " + isSuccess);
                } else {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                }

                if (tillDate == null || tillDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("TillDate", "", false);
                    window.showErrorMessageBelowCtrl("TillDate", "Please Select Till Date.", true);
                    isSuccess = false;
                    console.log("124: " + isSuccess);
                } else {
                    window.showErrorMessageBelowCtrl("TillDate", "", false);
                }

                if (noOfData == null || noOfData.length <= 0) {
                    window.showErrorMessageBelowCtrl("NoOfData", "", false);
                    window.showErrorMessageBelowCtrl("NoOfData", "Please Select Number of data.", true);
                    isSuccess = false; console.log("123: " + isSuccess);
                } else {
                    window.showErrorMessageBelowCtrl("NoOfData", "", false);
                }

                console.log("OutSide: " + isSuccess);
                if (isSuccess == true) {
                    var data = $("#teacherSeniorshipCalculationReportForm").serialize();
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Teachers/TeacherReport/SeniorshipCalculationReport",
                        data: data,
                        success: function (response) {
                            $('#teacherScReportContaint').html("");
                            $('#teacherScReportContaint').html(response);
                            dataTableRender();
                            ShowHide();
                        },
                        complete: function () {
                        },
                        error: function () {
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });

                }

            });

            $(document).on("click", "#export", function () {
                dataTableExport();
            });
        });

    </script>
}
