﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.GoodsReturnReportFormViewModel

@{
    ViewBag.Title = "Goods Return Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Goods Return Report</h4>
    </div>
    <div class="panel-body" id="printable">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h4> @ViewBag.organizationName </h4>
                <h4>Goods Return Report</h4>
                <h4>@ViewBag.dateFrom to @ViewBag.dateTo</h4>
            </div>
            <br />
        </div>
        <div style="clear: both"></div>
        <div id="customer">
            <table id="meta" class="table table-bordered">
                <tr>
                    <td class="meta-head">Branch</td>
                    <td>@ViewBag.branchName</td>
                </tr>
                <tr>
                    <td class="meta-head">Purpose</td>
                    <td>@ViewBag.purpose</td>
                </tr>
                <tr>
                    <td class="meta-head">Item Group</td>
                    <td>@ViewBag.itemGroup</td>
                </tr>
                <tr>
                    <td class="meta-head">Item</td>
                    <td>@ViewBag.item</td>
                </tr>
                <tr>
                    <td class="meta-head">Program & Session</td>
                    <td>@ViewBag.programSession</td>
                </tr>
                <tr>
                    <td class="meta-head">Supplier</td>
                    <td>@ViewBag.SupplierName</td>
                </tr>
            </table>

            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @* this table is responsible for table header and dynamic data *@
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Sl No
                            </th>
                            <th>
                                Item Group
                            </th>
                            <th>
                                Item
                            </th>
                            @if (Model.ReportType == 1)
                            {
                                <th>
                                    Program & Session
                                </th>
                            }
                            
                            @foreach (var columns in @ViewBag.ColumnList)
                            {
                                <th>@columns</th>
                            }
                            @if (Model.ReportType == 2)
                            {
                                if (Model.ProgramSession == null || Model.ProgramSession.Contains("-1"))
                                {
                                    <th>N/A</th>
                                }

                            }
                           
                            <th>Total</th>
@*                            <th>*@
@*                                Action*@
@*                            </th>*@
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>

                @* ----------------------------------------------------------------------------------------------------- *@
            </div>

        </div>

    </div>
</div>
<div class="text-center">
    @*<input type="button" class="btn btn-primary" value="Print" id="print"/>*@
   @* <input type="button" class="btn btn-primary" value="Export" id="export" />*@
</div>
@Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">


    /* render data table*/

    var organizationId = @Model.OrganizationId;
    var reportType=@Model.ReportType;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var purposes = @Html.Raw(Json.Encode(Model.Purpose));
    var itemGroupIds = @Html.Raw(Json.Encode(@Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(@Model.ItemId));
    var programSession = @Html.Raw(Json.Encode(@Model.ProgramSession));
    var programIds = @Html.Raw(Json.Encode(@ViewBag.ProgramIdList));
    var sessionIds = @Html.Raw(Json.Encode(@ViewBag.SessionIdList));
    var supplierIds = @Html.Raw(Json.Encode(@Model.SupplierId));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var columnList = @Html.Raw(Json.Encode(@ViewBag.ColumnList));
    function dataTableRender() {
        var pageSize = 10;
        if ($('#NoOfPages').val() != "" && /^\d+$/.test($('#NoOfPages').val())) {
            pageSize = parseInt($('#NoOfPages').val());
        } else {
            $('#NoOfPages').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        var colums=[];
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //"columns": colums,
            //stateSave: true,
            order: [[0, "desc"]],
            "bSort": false,
            ajax: {
                url: '@Url.Action("GoodsReturnReportAjaxRequest", "GoodsReturn")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.branchIdList = branchIds;
                    d.purposeList = purposes;
                    d.itemGroupIdList = itemGroupIds;
                    d.itemIdList = itemIds;
                    d.programIdList = programIds;
                    d.sessionIdList = sessionIds;
                    d.supplierIdList = supplierIds;
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                    d.columnList = columnList;
                    d.reportType = reportType;
                    d.programSession = programSession;
                }
            }
        });
    }

    dataTableRender();
    $(document).on("click", "#search", function () {
        dataTableRender();
    });
    /*end render data table*/


    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId : organizationId,
            branchIdList : branchIds,
            purposeList : purposes,
            itemGroupIdList : itemGroupIds,
            itemIdList : itemIds,
            programIdList : programIds,
            sessionIdList : sessionIds,
            supplierIdList : supplierIds,
            dateFrom : dateFrom,
            dateTo : dateTo,
            columnList : columnList,
            reportType : reportType,
            programSession : programSession,
            organizationString:'@ViewBag.organizationName',
            dateString:'@ViewBag.dateFrom to @ViewBag.dateTo',
            branchString:'@ViewBag.branchName',
            purposeString:'@ViewBag.purpose',
            itemGroupString:'@ViewBag.itemGroup',
            itemNameString:'@ViewBag.item',
            programSessionString:'@ViewBag.programSession',
            supplierString:'@ViewBag.SupplierName'
        };

        var url = "@Url.Action("ExportGoodsReturnReport", "GoodsReturn", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
    $("#print").click(function() {
        $("#printable").printThis();
    });
</script>

