﻿@using UdvashERP.BusinessModel.Entity.UInventory
@model UdvashERP.BusinessModel.ViewModel.UInventory.AssignSupplierViewModel
<link href="~/Content/multipleselect/sol.css" rel="stylesheet" />
@{
    ViewBag.Title = "AssignSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .inithide {
        display: none;
    }

    .supplierFromServer .listBreak {
        width: 760px;
    }

    .supplierFromServer .listBreak {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        display: inline-block;
        overflow: hidden;
        clear: both;
    }

    .myselect {
        display: block;
        width: 100% !important;
        font-size: 14px;
        line-height: 1.428571429;
        vertical-align: middle;
    }
</style>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Assign Supplier</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Organization, (IEnumerable<SelectListItem>)ViewBag.orgList, " please select organization ", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemGroup, "ItemGroup", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemGroup, (IEnumerable<SelectListItem>)ViewBag.itemGroupList, " please select item group ", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ItemGroup, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group itemBlur">
                    <label class="control-label col-md-2 inithide"> <span>Item Name</span> </label>
                    <div class="col-md-4 inithide">
                        <select id="my-select" class="myselect" name="character" multiple="multiple"></select>
                    </div>
                </div>

                <div class="form-group ">
                    @Html.LabelFor(model => model.Suppliers, "Suppliers", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 supplierFromServer">
                        <div class="checkbox-inline">
                            <label>
                                <input class="checkbox-select-all" type="checkbox" value="" /> Select all supplier
                            </label>
                        </div>
                        <br />
                        <span class="listBreak">
                            @foreach (Supplier supplier in ViewBag.supplierList)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input class="checkbox-selected" type="checkbox" data-id="@supplier.Id" data-name="@supplier.Name"> @supplier.Name
                                    </label>
                                </div>
                            }
                        </span>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Assign" class="btn btn-primary" id="submit" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/UInventory/AssignSupplier.js"></script>
    <script src="~/Scripts/UInventory/sol.js"></script>
    <script type="text/javascript">
        $(".checkbox-select-all").change(function () {
            $(".checkbox-selected:checkbox").prop('checked', $(this).prop("checked"));
        });
    </script>
}