﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.SupplierForm
@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var bankList = ViewBag.BankList;
}
<style>
    input, textarea, select {
        max-width: 100%;
    }
</style>
@using (Html.BeginForm("Update", "Supplier", FormMethod.Post, new {@id = "SupllierEntryForm"}))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Updated Supplier</h4>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-denger"})
                @Html.HiddenFor(x => x.Id)
                <div class="row">
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.SupplierName, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SupplierName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Supplier Name"}})
                            @Html.ValidationMessageFor(model => model.OwnerName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.OwnerName, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OwnerName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Owner Name"}})
                            @Html.ValidationMessageFor(model => model.OwnerName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RegistrationAddress, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RegistrationAddress, new {htmlAttributes = new {@class = "form-control", @placeholder = "Registerred Address"}})
                            @Html.ValidationMessageFor(model => model.RegistrationAddress, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContactPerson, new {htmlAttributes = new {@class = "form-control", @placeholder = "Contact Person"}})
                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MobileNo, new {htmlAttributes = new {@class = "form-control numaricInputOnly", @placeholder = "Enter Mobile Number "}})
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.TelephoneNo, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TelephoneNo, new {htmlAttributes = new {@class = "form-control", @placeholder = "Enter Telephone Number"}})
                            @Html.ValidationMessageFor(model => model.TelephoneNo, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.WebsiteAdress, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.WebsiteAdress, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.WebsiteAdress, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.TlnInc, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TlnInc, new {htmlAttributes = new {@class = "form-control numericInputOnly"}})
                            @Html.ValidationMessageFor(model => model.TlnInc, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.VatRegistrationNo, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.VatRegistrationNo, new {htmlAttributes = new {@class = "form-control numericInputOnly"}})
                            @Html.ValidationMessageFor(model => model.VatRegistrationNo, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Tin, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Tin, new {htmlAttributes = new {@class = "form-control numericInputOnly"}})
                            @Html.ValidationMessageFor(model => model.Tin, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.VatCircle, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.VatCircle, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.VatCircle, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.TaxCircle, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TaxCircle, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TaxCircle, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.VatDivision, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.VatDivision, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.VatDivision, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.TaxZone, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TaxZone, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TaxZone, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Status, new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                <select id="Status" name="Status" class="form-control ">
                                    @if (ViewBag.STATUSTEXT != null)
                                    {
                                        foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                        {
                                            if (statusType.Value == Model.Status)
                                            {
                                                <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                            }
                                            else
                                            {
                                                <option value="@statusType.Value">@statusType.Key</option>
                                            }
                                        }
                                    }
                                </select>
                            }
                        </div>
                    </div>
                </div>
                <br />
                <label>Bank Details</label>
                <table class="table table-responsive table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Bank Name</th>
                            <th>Branch Name</th>
                            <th>AC Title</th>
                            <th>AC Number</th>
                            <th>
                                <button type="button" class="btn btn-primary" name="append" id="SupplierBankInfoAddButton">+</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="SupplierBankInfoList">
                        @{
                            int index = 0;
                            if (Model.BankDetails != null && Model.BankDetails.Count > 0 && Model.BankDetails[0].BankBranch > 0)
                            {
                                IList<SelectList> bankBranchList = ViewBag.BankBranch;
                                foreach (var bankDetail in Model.BankDetails)
                                {
                                    var branchList = bankBranchList[index];
                                    <tr class="SupplierBankInfo parent">
                                        @Html.Hidden("BankDetails[" + index + "].Id", bankDetail.Id, new {@class = "bankBranchId"})
                                        @Html.Hidden("Ind", index, new {@class = "form-control bankInfoId"})
                                        <td>
                                            @Html.DropDownListFor(m => m.BankDetails[index].Bank, new SelectList(bankList, "Value", "Text", bankDetail.Bank), "Select Bank"
                                                , new {@class = "form-control bankInfoBankName"})
                                            @Html.ValidationMessageFor(model => model.BankDetails[index].Bank, "", new {@class = "text-danger"})
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.BankDetails[index].BankBranch
                                                , new SelectList(branchList, "Value", "Text", bankDetail.BankBranch), "Select Branch"
                                                , new {@class = "form-control bankInfoBranchName"})
                                        </td>
                                        <td>
                                            @Html.TextBox("BankDetails[" + index + "].AcTitle", ""
                                                , new {@class = "form-control bankInfoAcTitle", @placeholder = "A/C Title", @Value = bankDetail.AcTitle})
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.BankDetails[index].AcNumber, ""
                                                , new
                                                {
                                                    @class = "form-control numaricInputOnly bankInfoAcNumber", @placeholder = "A/C Number", @Value = bankDetail.AcNumber,
                                                    @autocomplete = "off"
                                                })
                                            @Html.ValidationMessageFor(model => model.BankDetails[index].AcNumber, "", new {@class = "text-danger"})
                                        </td>
                                        @if (index > 0)
                                        {
                                            <td>
                                                <button type="button" class="btn btn-warning removeBankInfoRowButton" name="append">-</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr class="SupplierBankInfo parent">
                                    @Html.Hidden("BankDetails[0].Id", 0, new {@class = "bankBranchId"})
                                    @Html.Hidden("Ind", 0, new {@class = "form-control bankInfoId"})
                                    <td>
                                        @Html.DropDownListFor(model => Model.BankDetails[index].Bank
                                            , new SelectList(bankList, "Value", "Text"), "Select Bank"
                                            , new {@class = "form-control bankInfoBankName", @placeholder = "Bank Name"})
                                        @Html.ValidationMessageFor(model => Model.BankDetails[index].Bank, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => Model.BankDetails[index].BankBranch
                                            , new SelectList(new List<string>(), "Value", "Text"), "Select Branch"
                                            , new {@class = "form-control bankInfoBranchName", @placeholder = "Branch Name"})
                                        @Html.ValidationMessageFor(model => Model.BankDetails[index].BankBranch, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => Model.BankDetails[index].AcTitle, ""
                                            , new {@class = "form-control bankInfoAcTitle", @placeholder = "AC Title"})
                                        @Html.ValidationMessageFor(model => Model.BankDetails[index].AcTitle, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => Model.BankDetails[index].AcNumber, ""
                                         , new { @class = "form-control numericInputOnly bankInfoAcNumber", @placeholder = "AC Number", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => Model.BankDetails[index].AcNumber, "", new {@class = "text-danger"})
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $(document).on("click", "#SupplierBankInfoAddButton", function (event) {
            var maxId = 0;
            $("#SupplierBankInfoList tr").each(function () {
                var index = $(this).find(".bankInfoId").val();
                if (index > maxId) {
                    maxId = index;
                }
            });
            $.ajax({
                url: "/UInventory/Supplier/AddRowBankInfo",
                type: "GET",
                data: { index: maxId },
                success: function (dRow) {
                    if ($('#SupplierBankInfoList tr').length > 0) {
                        $('#SupplierBankInfoList tr:last').after(dRow);
                    } else {
                        $('#SupplierBankInfoList').append(dRow);
                    }
                    //Refreash Form to apply model validation
                    var holder = $('#SupplierBankInfoList');
                    var form = $(holder).closest('form');
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    jQuery.validator.unobtrusive.parse(form);

                },
                complete: function () {
                },
                error: function (error) {
                    $.fn.customMessage({
                        displayMessage: ajaxError,
                        displayMessageType: "e",
                        displayTime: 5000
                    });
                }
            });

        });

        $(document).on("click", ".removeBankInfoRowButton", function (event) {
            var me = $(this);
            var tr = me.closest(".SupplierBankInfo");
            var indexVal = tr.find("#Ind").val();
            var rowId = tr.find("#BankDetails_" + indexVal + "__Id").val();
            if (rowId == 0) {
                tr.remove();
                startBankBranchRowReordering();
            }
            else {
                var textMessage = "<hr /><h4>Once you delete bank branch Information, its can't be undone, so plan ahead!</h4>";
                bootbox.deleteConfirm(textMessage, function (result) {
                    if (result == true) {
                        $.ajax({
                            type: "POST",
                            url: "/UInventory/Supplier/RemoveBankDetails",
                            data: { id: rowId },
                            success: function (e) {
                                tr.remove();
                                startBankBranchRowReordering();
                                $.fn.customMessage({
                                    displayMessage: "Supplier Bank Details Successfully Removed!",
                                    displayMessageType: "s",
                                    displayTime: 5000
                                });
                            },
                            complete: function () {
                            },
                            error: function (error) {
                                $.fn.customMessage({
                                    displayMessage: "Something went wrong!",
                                    displayMessageType: "e",
                                    displayTime: 5000
                                });
                            }
                        });
                    }
                });
            }
        });

        $(document).on("change", ".bankInfoBankName", function (event) {
            var tr = $(this).closest(".SupplierBankInfo");

            var bankCtrl = tr.find(".bankInfoBankName");

            var branchCtrl = tr.find(".bankInfoBranchName");
            branchCtrl.empty();
            branchCtrl.append("<option value='0'>Select Branch</option>");
            if (bankCtrl.val() > 0 || bankCtrl.val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/UInventory/Supplier/BranchListByBank",
                    datatype: "Json",
                    data: { bankId: bankCtrl.val() },
                    success: function (result) {
                        var data = result.returnList;

                        if (data.length > 0) {
                            $.each(data, function (index, r) {
                                branchCtrl.append('<option value="' + r.Value + '">' + r.Text + '</option>');
                            });
                        }
                    }
                });
            }

            var span = tr.find('span:last');
            if (span[0].outerHTML.indexOf("AcNumber") !== -1 && span[0].innerText != "") {
                span[0].remove();
            }
            tr.find(".bankInfoAcNumber").val('');
        });

        $(document).on("change", ".bankInfoBranchName", function (event) {
            var tr = $(this).closest(".SupplierBankInfo");
            var span = tr.find('span:last');
            if (span[0].outerHTML.indexOf("AcNumber") !== -1 && span[0].innerText != "") {
                span[0].remove();
            }
            tr.find(".bankInfoAcNumber").val('');
        });

        $("#Submit").click(function (e) {
            var success = true;
            var invalidList = false;
            var rowList = [];
            var distinctList = [];

            var vatVal = $("#VatRegistrationNo").val();
            var tinVal = $("#Tin").val();
            var tlnVal = $("#TlnInc").val();
            
            if ((vatVal != "" && tinVal != "" && tlnVal != "") || (vatVal == "" && tinVal == "" && tlnVal == "")) {
                if (vatVal == "" && tinVal == "" && tlnVal == "") {
                    $("#SupplierBankInfoList tr").each(function () {

                        var bank = $(this).find(".bankInfoBankName").val();
                        var branch = $(this).find(".bankInfoBranchName").val();
                        var number = $(this).find(".bankInfoAcNumber").val();
                        var title = $(this).find(".bankInfoAcTitle").val();


                        var ba, br;
                        if (bank == "") {
                            ba = 0;
                        } else {
                            ba = parseInt(bank);
                        }
                        if (branch == "") {
                            br = 0;
                        } else {
                            br = parseInt(branch);
                        }
                        if (ba == 0 && br == 0 && number == "" && title == "") {
                            return true;
                        }
                        else if (ba > 0 && br > 0 && number != "" && title != "") {
                            return true;
                        }
                        else {
                            invalidList = true;
                            return false;
                        }
                    });
                    if (invalidList) {
                        $.fn.customMessage({
                            displayMessage: "Bank Details Not Submitted Properly!",
                            displayMessageType: "e"
                        });
                        e.preventDefault();
                    }
                    else {
                        $("#SupllierEntryForm").submit();
                    }
                } else {
                    $("#SupplierBankInfoList tr").each(function () {
                        var row = [];
                        var bank = $(this).find(".bankInfoBankName").val();
                        var branch = $(this).find(".bankInfoBranchName").val();
                        var number = $(this).find(".bankInfoAcNumber").val();
                        var title = $(this).find(".bankInfoAcTitle").val();

                        var ba, br;
                        if (bank == "") {
                            ba = 0;
                        } else {
                            ba = parseInt(bank);
                        }
                        if (branch == "") {
                            br = 0;
                        } else {
                            br = parseInt(branch);
                        }

                        if (ba <= 0 || br <= 0 || number == "" || title == "") {
                            invalidList = true;
                            return false;
                        }
                        else {
                            row[0] = bank;
                            row[1] = branch;
                            row[2] = number;
                            rowList.push(row);
                            return true;
                        }
                    });

                    if (invalidList) {
                        $.fn.customMessage({
                            displayMessage: "Bank Details Not Submitted Properly!",
                            displayMessageType: "e"
                        });
                        e.preventDefault();
                    }
                    else {
                        var message = "";
                        if (rowList.length > 1) {
                            distinctList = uniqueBy(rowList, JSON.stringify);
                            if (rowList.length != distinctList.length) {
                                success = false;
                                message = "Multiple Bank Details Found With Same Property!";
                            }
                        }
                        else if (rowList.length <= 0 && (vatVal != "" && tinVal != "" && tlnVal != "")) {
                            success = false;
                            message = "Bank Details Not Found!";
                        }
                        if (!success) {
                            $.fn.customMessage({
                                displayMessage: message,
                                displayMessageType: "e"
                            });
                            e.preventDefault();
                        }
                        else {
                            $("#SupllierEntryForm").submit();
                        }
                    }
                }
            }
            else {
                $.fn.customMessage({
                    displayMessage: "One of Tin/Vat/TLN-ILC field is empty!",
                    displayMessageType: "e"
                });
                e.preventDefault();
            }
        });
        function startBankBranchRowReordering() {
            var count = 0;
            $("#SupplierBankInfoList tr").each(function () {
                $(this).find(".bankInfoId").val(count);
                var idTextForAttrName = "BankDetails[" + count + "].Id";
                var idTextForAttrId = "BankDetails_" + count + "__Id";
                var bankTextForAttrName = "BankDetails[" + count + "].Bank";
                var bankTextForAttrId = "BankDetails_" + count + "__Bank";
                var branchTextForAttrName = "BankDetails[" + count + "].BankBranch";
                var branchTextForAttrId = "BankDetails_" + count + "__BankBranch";
                var acTitleTextForAttrName = "BankDetails[" + count + "].AcTitle";
                var acTitleTextForAttrId = "BankDetails_" + count + "__AcTitle";
                var acNumberTextForAttrName = "BankDetails[" + count + "].AcNumber";
                var acNumberTextForAttrId = "BankDetails_" + count + "__AcNumber";
                $(this).find(".bankBranchId").attr('id', idTextForAttrId).attr('name', idTextForAttrName);
                $(this).find(".bankInfoBankName").attr('id', bankTextForAttrId).attr('name', bankTextForAttrName);
                $(this).find(".bankInfoBranchName").attr('id', branchTextForAttrId).attr('name', branchTextForAttrName);;
                $(this).find(".bankInfoAcTitle").attr('id', acTitleTextForAttrId).attr('name', acTitleTextForAttrName);
                $(this).find(".bankInfoAcNumber").attr('id', acNumberTextForAttrId).attr('name', acNumberTextForAttrName);
                count = count + 1;
            });
        }
        function uniqueBy(a, key) {
            var seen = {};
            return a.filter(function (item) {
                var k = key(item);
                return seen.hasOwnProperty(k) ? false : (seen[k] = true);
            });
        }
    });


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

