﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<div class="alert alert-danger">
    @if (TempData["CommonErrorMessage"] != null)
    {
        <h3> @TempData["CommonErrorMessage"]</h3>
    }
    else
    {
        <h3>Something wrong! Please try again.</h3>
    }
</div>
