﻿@{
    ViewBag.Title = "Home Page";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}
<div class="jumbotron">
    
    <h1 class="text-center">
        @*<img src="@logoImage" /><br /><br />*@
        Welcome to @ErpInfo.OrganizationNameFull
        @*Welcome to UMS*@
    </h1>
    <div class="text-center">
        @ViewBag.Message
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>