﻿@model UdvashERP.BusinessModel.ViewModel.Hr.DepartmentSettingsViewModel
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Department Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "DepartmentSettings", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Add Department Settings</h4>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="submit" value="Save & New" id="Submit" class="btn btn-primary" />
                        <input type="submit" name="submit" value="Save & Exit" id="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}

