﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.Department>
@System.Web.Optimization.Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Department Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Manage Department Settings</h4>
    </div>
    <div class="panel-body">
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.organizationList,"Select Organization", new { @class = "form-control" })
                </th>
                <th class="form-group " style="width:90px">
                    @if (ViewBag.STATUSTEXT != null)
                    {
                        <select id="status" class="form-control">
                            <option value="">Status</option>
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                {
                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    <div class="btn btn-info" id="exportDepartment" style="float: right;"> Export</div>
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Organization")</th>
                    <th>@Html.DisplayName("Department")</th>
                    <th>@Html.DisplayName("Status")</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
<div class="form-group">
    @using (Html.BeginForm("Create", "DepartmentSettings", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Add Department" class="btn btn-primary" />
        </div>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function dataTableRender() {
            var displayNo = 10;
            if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                displayNo = parseInt($('#DisplayNo').val());
            } else {
                $('#DisplayNo').val(displayNo);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                order: [[0, "Asc"]],
                ajax: {
                    url: '@Url.Action("DepartmentSettingsList", "DepartmentSettings")',
                    type: 'POST',
                    data: function(dt) {
                        dt.status = $('#status').val();
                        dt.organizationId = $("#Organization").val();
                    },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        ShowErrorMessage("data load error. Please try again.");
                    }
                }
            });
        }

        dataTableRender();
        $(document).on("click", "#search", function() {
            dataTableRender();
            $.unblockUI();
        });
        //$(document).ready(function () {
        $(document).on("click", ".deleteDepartment", function(){
            var dataId = $(this).attr("data-id");
            var name = $(this).attr("name");
            if (dataId != "") {
                bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Department?</h3>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Hr/DepartmentSettings/Delete",
                            cache: false,
                            async: true,
                            data: { "id": dataId },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                console.log(result);
                                $.unblockUI();
                                var errorMessage;
                                if (result.IsSuccess) {
                                    errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Department Delete Successfully</div>';
                                    $('.customMessage').append(errorMessage);
                                    dataTableRender();
                                }
                                else {
                                    errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function () {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Department Delete Failed</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }

        });


        
        $(document).on("click", "#exportDepartment", function () {
            var urlParam = {
                organizationId: $("#Organization").val(),
                status: $('#status').val()
            };
            var url = "@Url.Action("ExportDepartmentList", "DepartmentSettings", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        });

        @*$(document).on("click", "#exportDesignation", function () {
            var urlParam = {
                organizationId: $("#Organization").val(),
                status: $('#status').val()
            };
            var url = "@Url.Action("ExportDegisnationList", "DesignationSettings", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        });*@
        
        //});
    </script>
}
