﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsIssueViewModel
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
@{
    ViewBag.Title = "Goods Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Requisition Goods Issue</div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="GoodsIssuePrint">
            <div id="page-wrap">
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h4> @Html.DisplayFor(model => model.Organization) </h4>
                    </div>
                    <br />
                </div>
                <div style="clear:both"></div>
                <div id="customer">
                    <table id="meta">
                        <tr>
                            <td style="text-align: center !important" colspan="2"><b>Requisition Goods Issue Receipt</b></td>
                        </tr>
                        <tr>
                            <td class="meta-head">Branch</td>
                            <td>@Model.Branch</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Goods Issue No.</td>
                            <td>@Model.GoodsIssueNo</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Issue Date</td>
                            <td>@Model.GoodsIssueDate</td>
                        </tr>
                    </table>
                </div>
                <br />
                @{
                    if (Model.GoodsIssueItems != null && Model.GoodsIssueItems.Any())
                    {
                        <table id="items">
                            <thead>
                                <tr>
                                    <th class="text-center">Purpose</th>
                                    <th class="text-center">Item Group</th>
                                    <th class="text-center">Item Name</th>
                                    <th class="text-center">Program & Session</th>
                                    <th class="text-center">Required Qty.</th>
                                    <th class="text-center">Prev. Issued Qty.</th>
                                    <th class="text-center">Issued Qty.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.GoodsIssueItems)
                                {
                                    <tr class="item-row">
                                        <td style="text-align: center">@row.Purpose</td>
                                        <td style="text-align: center">@row.ItemGroup</td>
                                        <td style="text-align: center">@row.Item</td>
                                        <td style="text-align: center">
                                            @row.ProgramSession
                                        </td>
                                        <td style="text-align: center">@row.RequiredQuantity</td>
                                        <td style="text-align: center">@row.PreviousIssueQuantity</td>
                                        <td style="text-align: center">@row.CurrentIssuedQuantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
        <br />
        <div class="form-horizontal">
            <div class="form-group">
                <label style="padding-left: 15px">@Html.LabelFor(model => model.Remarks)</label>
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered table-striped">
                        <tr>
                            <td style="border: solid 1px #000000; min-height: 150px">
                                @{
                                    if (Model.Remarks != null)
                                    {
                                        @Model.Remarks.ToString();
                                    }
                                    else
                                    {

                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        <button type="button" id="GoodsIssuePrintBtn" style="min-width: 100px !important" class="btn btn-primary">Print</button>
    </div>
    <br />
</div>
@section Scripts {
    <script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">
        $("#GoodsIssuePrintBtn").click(function () {
            $("#GoodsIssuePrint").printThis();
        });
    </script>
}
