﻿@using UdvashERP.BusinessModel.ViewModel.UInventory
@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsIssueForm
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
@{
    ViewBag.Title = "RequisitionGoodsIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(new { id = "RequisitionGoodsIssueForm" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Requisition Goods Issue
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.Hidden("Model.Id", Model.Id, new { @class = "form-control Id" })
                @Html.Hidden("Model.RequisitionId", Model.RequisitionId, new { @class = "form-control requisitionId" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Goods Issue For: ", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label>Item Detials:</label>
                <table class="table table-bordered table-condensed table-responsive table-striped">
                    <thead>
                        <tr>
                            <td>Purpose</td>
                            <td>Item Group</td>
                            <td>Item</td>
                            <td>Program & Session</td>
                            <td>Required Qty</td>
                            <td>Prev. Issued Qty.</td>
                            <td>Stock Qty</td>
                            <td>Issued Qty</td>
                        </tr>
                    </thead>
                    <tbody id="ItemList">
                        @{
                            if (Model.RequisitionItemList.Any())
                            {
                                for (int i = 0; i < Model.RequisitionItemList.Count; i++)
                                {
                                    var row = Model.RequisitionItemList[i];
                                    <tr class="itemListDetails">
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].Id", row.Id, new { @class = "form-control rowId" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].ItemId", row.ItemId, new { @class = "form-control rowItemId" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].ProgramId", row.ProgramId, new { @class = "form-control" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].SessionId", row.SessionId, new { @class = "form-control" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].PurposeValue", row.PurposeValue, new { @class = "form-control" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].StockQuantityValue", row.StockQuantityValue, new { @class = "form-control stockQuantityValue" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].RequiredQuantityValue", row.RequiredQuantityValue, new { @class = "form-control requiredQuantityValue" })
                                        @Html.Hidden("Model.RequisitionItemList[" + i + "].PreviousIssueQuantityValue", row.PreviousIssueQuantityValue, new { @class = "form-control previousQuantityValue" })
                                        
                                        <td>@row.Purpose</td>
                                        <td>@row.ItemGroup</td>
                                        <td>@row.Item</td>
                                        <td>@row.ProgramSession</td>
                                        <td>@row.RequiredQuantity</td>
                                        <td>@row.PreviousIssueQuantity</td>
                                        <td>@row.StockQuantity</td>
                                        @if (row.IsIssueAble)
                                        {
                                            <td>
                                                @Html.TextBox("Model.RequisitionItemList[" + i + "].CurrentIssuedQuantity", Model.RequisitionItemList[i].CurrentIssuedQuantity ?? ""
                                                    , new { @class = "form-control numericInputOnly currentIssuedQuantity" })
                                                @Html.ValidationMessageFor(x => Model.RequisitionItemList[i].CurrentIssuedQuantity, "", new { @class = "text-danger" })
                                            </td>
                                            @Html.Hidden("Model.RequisitionItemList[" + i + "].IsIssueAble", true)
                                        }
                                        else
                                        {
                                            <td></td>
                                            @Html.Hidden("Model.RequisitionItemList[" + i + "].IsIssueAble", false)
                                        }
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label style="padding-left: 15px">Remarks</label>
                    <div class="col-md-12">
                        @Html.TextArea("Model.Remarks", Model.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            //Refreash Form to apply model validation
            var holder = $('#RequisitionGoodsIssueForm');
            var form = $(holder).closest('form');
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            jQuery.validator.unobtrusive.parse(form);

            var errorText = "";
            var issuedQRow = [];
            $("#Submit").click(function (e) {
                var success = true;
                $("#ItemList tr").each(function () {
                    var issuedQuantityCtrl = $(this).find(".currentIssuedQuantity");
                    var issuedQuantity = issuedQuantityCtrl.val();

                    /*if (issuedQuantity == "" || issuedQuantity == undefined ||  parseInt(issuedQuantity) <= 0) {
                        issuedQuantityCtrl.val("");
                        errorText = "One or more Issued Quantity field is empty. Issued quantity is required!";
                        success = false;
                    } else {
                        var requiredQuantity = $(this).find(".requiredQuantityValue").val(),
                        perviousQuantity = $(this).find(".previousQuantityValue").val();
                        if ((parseInt(issuedQuantity) + parseInt(perviousQuantity)) > parseInt(requiredQuantity)) {
                            errorText = "One or more Issued Quantity field is invalid! Issued quantity can't be more then sum of Previous and Required Quantity!";
                            success = false;
                        }
                    }*/
                    var requiredQuantity = $(this).find(".requiredQuantityValue").val(),
                        perviousQuantity = $(this).find(".previousQuantityValue").val();
                    if ((parseInt(issuedQuantity) + parseInt(perviousQuantity)) > parseInt(requiredQuantity)) {
                        errorText = "One or more Issued Quantity field is invalid! Issued quantity can't be more then sum of Previous and Required Quantity!";
                        success = false;
                    }
                    else {
                        issuedQRow.push(issuedQuantity);
                    }
                });
                if (!success) {
                    $.fn.customMessage({
                        displayMessage: errorText,
                        displayMessageType: "e"
                    });
                    e.preventDefault();
                } else {
                    issuedQRow = jQuery.grep(issuedQRow, function (a) {
                        return a > 6;
                    });
                    console.log("issuedQRow " + issuedQRow);
                    console.log("issuedQRow length " + issuedQRow.length);
                    if (issuedQRow.length > 0) {
                        $("#RequisitionGoodsIssueForm").submit();
                    }
                    else {
                        $.fn.customMessage({
                            displayMessage: "All issued quantity field is empty. Least one issued quantity is required!",
                            displayMessageType: "e"
                        });
                        e.preventDefault();
                    }
                }
            });
            $('.currentIssuedQuantity').on('keyup', function (e) {

                var tr = $(this).closest(".itemListDetails");
                var thisId = tr.find(".rowId").val(),
                    thisItemValue = tr.find(".rowItemId").val(),
                    itemStockVal = tr.find(".stockQuantityValue").val();

                var preIssuedVal = 0;
                $("#ItemList tr").each(function () {
                    var id = parseInt($(this).find(".rowId").val()),
                        itemVal = parseInt($(this).find(".rowItemId").val());
                    if (thisItemValue == itemVal) {
                        var issuedQuantity = parseInt($(this).find(".currentIssuedQuantity").val());

                        if (issuedQuantity > 0 && id != thisId) {
                            preIssuedVal += issuedQuantity;
                        }
                    }
                });
                var $self = $(this),
                    v = $self.val(),
                    max = itemStockVal - preIssuedVal;
                if (!/^\d*$/.test(v)) {
                    $self.val('');
                    return;
                }
                if (v > 0 && v > max) {
                    while (v >= max) {
                        v = v.substring(0, v.length - 1);
                    }
                    $self.val(v);
                }
                return;
            });
        });

    </script>
}