﻿@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessRules.UInventory
@using UdvashERP.Services.Helper

@{
    var workOrder = (WorkOrder)ViewBag.WorkOrder;
    var commonHelper = new CommonHelper();
    var workOrderDetail = workOrder.WorkOrderDetails.FirstOrDefault();
}
<div class="panel">
    @*<div class="panel-heading">
        <h3 class="panel-title">Work Order</h3>
    </div>*@
    @*<div class="panel-body">*@
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Organization Name") :</td>
                    <td style="text-align:  left">@workOrder.Branch.Organization.ShortName</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Branch Name") :</td>
                    <td style="text-align:  left">@workOrder.Branch.Name</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Group Name") :</td>
                    <td style="text-align:  left">@workOrderDetail.Item.ItemGroup.Name</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Name") :</td>
                    <td style="text-align:  left">@workOrderDetail.Item.Name</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Supplier Name") :</td>
                    <td style="text-align:  left">@workOrder.Supplier.Name</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Purpose") :</td>
                    <td style="text-align:  left">
                        @{
                            @(workOrderDetail.Purpose != null ? commonHelper.GetEmumIdToValue<Purpose>((int)workOrderDetail.Purpose) : "N/A")
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Program & Session") :</td>
                    <td style="text-align:  left">
                        @{
                            if (workOrderDetail.Program == null || workOrderDetail.Session == null)
                            {
                                @("N/A")
                            }
                            else
                            {
                                @(workOrderDetail.Program.Name + " " + workOrderDetail.Session.Name)
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Delivery Date") :</td>
                    <td style="text-align:  left">@(workOrder.DeliveryDate.Value.ToString("yyyy-MM-dd"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Specification")</td>
                </tr>
                @foreach (var quotationCriteria in workOrderDetail.WorkOrderCriteriaList)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName(quotationCriteria.Criteria) :</td>
                        <td style="text-align:  left">@(quotationCriteria.CriteriaValue)</td>
                    </tr>
                }
            </table>
            <div class="">
                <p><b>Order Quantity & Rate Details</b></p>
                <table id="" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Quoted Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Remaining Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Ordered Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Quotated Unit Cost")
                            </th>
                            <th>
                                @Html.DisplayName("Negotiated Unit Cost")
                            </th>
                            <th>
                                @Html.DisplayName("Total Negotiated Cost")
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var obj in workOrder.WorkOrderDetails)
                        {
                            var quotUnitCost = obj.WorkOrder.Supplier.SupplierPriceQuoteList
                                .Where(x => x.Supplier.Id == obj.WorkOrder.Supplier.Id && x.Quotation.Id == obj.WorkOrder.Quotation.Id).FirstOrDefault();
                            <tr>
                                <td style="text-align: center!important; font-weight: bold" id="quotedQ">@(obj.WorkOrder.Quotation.QuotationQuantity)</td>
                                <td style="text-align: center; font-weight: bold" id="remainingQ">@(obj.WorkOrder.Quotation.QuotationQuantity - obj.OrderQuantity)</td>
                                <td style="text-align: center;" class="">@(obj.OrderQuantity)</td>
                                <td style="text-align: center; font-weight: bold">@(quotUnitCost.QuotedUnitCost)</td>
                                <td style="text-align: center;" class="">@(obj.UnitCost)</td>
                                <td style="text-align: center;" id="totalNegotiatedCost">@(obj.TotalCost)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<input type="hidden" id="priceQuotationId" value="@(priceQuotation.Id)" class="form-control" />*@
            </div>
            <div class="text-center">
                <input type="button" value="Print" class="btn btn-primary" id="PrintWorkOrder" />
            </div>

        </div>
    @*</div>*@

</div>