﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.WorkOrderReportFormViewModel

@{
    ViewBag.Title = "Work Order Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Work Order Report</h4>
    </div>
    <div class="panel-body" id="printable">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h4> @ViewBag.organizationName </h4>
                <h4>Quotation Report</h4>
                <h4>@ViewBag.dateFrom to @ViewBag.dateTo</h4>
            </div>
            <br/>
        </div>
        <div style="clear: both"></div>
        <div id="customer">
            <table id="meta" class="table table-bordered">
                <tr>
                    <td class="meta-head">Branch</td>
                    <td>@ViewBag.branchName</td>
                </tr>
                <tr>
                    <td class="meta-head">Work Order Type</td>
                    <td>@ViewBag.workOrderType</td>
                </tr>
                <tr>
                    <td class="meta-head">Purpose</td>
                    <td>@ViewBag.purpose</td>
                </tr>
                <tr>
                    <td class="meta-head">Item Group</td>
                    <td>@ViewBag.itemGroup</td>
                </tr>
                <tr>
                    <td class="meta-head">Item</td>
                    <td>@ViewBag.item</td>
                </tr>
                <tr>
                    <td class="meta-head">Program & Session</td>
                    <td>@ViewBag.programSession</td>
                </tr>
                <tr>
                    <td class="meta-head">Status</td>
                    <td>@ViewBag.workOrderStatus</td>
                </tr>
            </table>

            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @* this table is responsible for table header and dynamic data *@
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>
                            Sl No
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Work Order Type
                        </th>
                        <th>
                            Item Group
                        </th>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Program & Session
                        </th>
                        <th>
                            Work Order Date
                        </th>
                        <th>
                            Work Order Ref. No
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>

                @* ----------------------------------------------------------------------------------------------------- *@
            </div>

        </div>

    </div>
</div>
<div class="text-center">
    @*<input type="button" class="btn btn-primary" value="Print" id="print"/>*@
    <input type="button" class="btn btn-primary" value="Export" id="export" />
</div>
@Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">


    /* render data table*/

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var workOrderType = @Model.WorkOrderType;
    var purposes = @Html.Raw(Json.Encode(Model.Purpose));
    var itemGroupIds = @Html.Raw(Json.Encode(@Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(@Model.ItemId));
    var programIds = @Html.Raw(Json.Encode(@ViewBag.ProgramIdList));
    var sessionIds = @Html.Raw(Json.Encode(@ViewBag.SessionIdList));
    var status = @Html.Raw(Json.Encode(@Model.WorkOrderStatus));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    function dataTableRender() {
        var pageSize = 10;
        if ($('#NoOfPages').val() != "" && /^\d+$/.test($('#NoOfPages').val())) {
            pageSize = parseInt($('#NoOfPages').val());
        } else {
            $('#NoOfPages').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            order: [[0, "desc"]],
            "bSort": false,
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }
            ],
           ajax: {

                url: '@Url.Action("WorkOrderReportAjaxRequest", "WorkOrder")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.branchIdList = branchIds;
                    d.workOrderType = workOrderType;
                    d.purposeList = purposes;
                    d.itemGroupIdList = itemGroupIds;
                    d.itemIdList = itemIds;
                    d.programIdList = programIds;
                    d.sessionIdList = sessionIds;
                    d.workOrderstatus = status;
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                }
            }
        });
    }

    dataTableRender();
    $(document).on("click", "#search", function () {
        dataTableRender();
    });
    /*end render data table*/


    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId : organizationId,
            branchIdList : branchIds,
            workOrderType : workOrderType,
            purposeList : purposes,
            itemGroupIdList : itemGroupIds,
            itemIdList : itemIds,
            programIdList : programIds,
            sessionIdList : sessionIds,
            workOrderstatus : status,
            dateFrom : dateFrom,
            dateTo : dateTo,
            organizationString:'@ViewBag.organizationName',
            dateString:'@ViewBag.dateFrom to @ViewBag.dateTo',
            branchString:'@ViewBag.branchName',
            workOrderTypeString:'@ViewBag.workOrderType',
            purposeString:'@ViewBag.purpose',
            itemGroupString:'@ViewBag.itemGroup',
            itemNameString:'@ViewBag.item',
            programSessionString:'@ViewBag.programSession',
            workOrderStatusString:'@ViewBag.workOrderStatus'
        };

        var url = "@Url.Action("ExportWorkOrderReport", "WorkOrder", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
    $("#print").click(function() {
        $("#printable").printThis();
    });
</script>
