﻿@model UdvashERP.BusinessModel.Entity.Administration.Institute

@{
    ViewBag.Title = "Add School/College";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add School/College</h3>
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @*<input type="text" class="form-control" placeholder="Enter Student ID" required />*@
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", @placeholder = "Institute Name"}})
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShortName,"Short Name", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShortName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Short Name"}})
                            @Html.ValidationMessageFor(model => model.ShortName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.InstituteCategory,"Category", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("CategoryId", ViewBag.SchoolCollegeCategories as SelectList, "Select Category", new { @class = "form-control",@required="required" })
                            @Html.ValidationMessageFor(model => model.InstituteCategory)
                        </div>
                        <div id="msgforcat" style="color: red;margin-left: 170px;"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.District, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control", @placeholder = "District" } })
                            @Html.ValidationMessageFor(model => model.District)
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Thana, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Thana, new { htmlAttributes = new { @class = "form-control", @placeholder = "Thana" } })
                            @Html.ValidationMessageFor(model => model.Thana)
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.Eiin,"EIIN", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Eiin, new { htmlAttributes = new { @class = "form-control", @placeholder = "EIIN" } })
                            @Html.ValidationMessageFor(model => model.Eiin)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Website, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Website, new {htmlAttributes = new {@class = "form-control", @placeholder = "Website"}})
                            @Html.ValidationMessageFor(model => model.Website)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                            

                        
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to Manage", "ManageInstitute")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function checkCategory() {
            if ($("#CategoryId").val() < 1) {
                $("#msgforcat").text("Category is required");
            } else {
                $("#msgforcat").text("");
            }
        }
        $(document).ready(function () {
            $("#CategoryId").blur(function() {
                checkCategory();
            });
            $("#CategoryId").change(function () {
                checkCategory();
            });
            $("#submit").click(function () {
                checkCategory();
            });
        });
    </script>
}
            
