﻿@model UdvashERP.BusinessModel.Entity.Administration.Institute

@{
    ViewBag.Title = "Institute Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Institute Details</h3>
    </div>
<div class="panel-body">
        
    <table class="table table-bordered table-hover table-responsive table-striped">
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.ShortName)</strong>
            </td>

            <td style="text-align:  left">

                @Html.DisplayFor(model => model.ShortName)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>Category</strong>
            </td>

            <td style="text-align:  left">

                @Html.DisplayFor(model => model.InstituteCategory.Name)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.District)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.District)
            </td>
        </tr>

        @*<tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.Thana)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.Thana)
            </td>
        </tr>*@

        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.Eiin)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.Eiin)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.Website)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.Website)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.Rank)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.Rank)
            </td>
        </tr>


        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.Status)</strong>
            </td>


            @if (Model.Status == 1)
            {
                <td style="text-align:  left">Active</td>
            }
            else
            {
                <td style="text-align:  left">Inactive</td>
            }

        </tr>



        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.CreateByText)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.CreateByText)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.CreationDate)</strong>
            </td>
            <td style="text-align:  left">
                @Html.DisplayFor(model => model.CreationDate)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.ModifyByText)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.ModifyByText)
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 40%; font-weight: bold">
                <strong>@Html.DisplayNameFor(model => model.ModificationDate)</strong>
            </td>

            <td style="text-align:  left">
                @Html.DisplayFor(model => model.ModificationDate)
            </td>

        </tr>

    </table>
</div>
    </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to Manage", "ManageInstitute")
        </p>
