﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Institute>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Institute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<p>
    @Html.ActionLink("Create School/College", "CreateSchoolCollege")
    @Html.ActionLink("|Create University", "CreateUniversity")
</p>*@
<div class="row col-md-12">
    <div class="col-md-10">
        <div class="form-group col-md-3"style="margin-left: -30px;">
            @using (Html.BeginForm("CreateSchoolCollege", "Institute", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions">
                    <input type="submit" value="Add School/College" class="btn btn-primary" />

                </div>
            }
        </div>
        <div class="form-group col-md-3" style="margin-left: -10px;">
            @using (Html.BeginForm("CreateUniversity", "Institute", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions">
                    <input type="submit" value="Add University" class="btn btn-primary" />

                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Institute</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">
                    <th>&nbsp;</th>
                    <th class="form-group">
                        <input id="Name" name="Name" type="text" class="form-control filteringColumn" placeholder="Institute Name" />
                    </th>
                    <th class="form-group">
                        <input id="Category" name="Category" type="text" class="form-control filteringColumn" placeholder="Category" />
                    </th>
                    <th class="form-group">
                        <input id="District" name="District" type="text" class="form-control filteringColumn" placeholder="District" />
                    </th>
                    @*<th class="form-group">
                        <input id="Thana" name="Thana" type="text" class="form-control filteringColumn" placeholder="Thana" />
                    </th>*@
                    <th class="form-group">
                        <input id="Eiin" name="Eiin" type="text" class="form-control filteringColumn" placeholder="Eiin" />
                    </th>
                    <th class="form-group ">
                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="Status" class="form-control filteringColumn2">
                                <option value="">Select Status </option>
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        <option value="@statusType.Value">@statusType.Key</option>
                                    }
                                }
                            </select>
                        }
                    </th>
                    <th class="form-group">
                        <input id="Rank" name="rank" type="text" class="form-control filteringColumn" placeholder="Rank" />
                    </th>
                    
                    <th class="form-group">
                        <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" />
                    </th>

                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>

                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.District)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Thana)
                        </th>*@
                         <th>
                            @Html.DisplayNameFor(model => model.Eiin)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Rank)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>

            </table>

        </div>

    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript" class="init">

        $(document).ready(function () {

            function dataTableRender() {
                var PageSize = 10;
                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    PageSize =parseInt( $('#PageSize').val());
                }
                else {
                    $('#PageSize').val(PageSize);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": PageSize,
                    //stateSave: true,
                    //order: [[4, "asc"], [0, "asc"]],
                    order: [[1, "asc"]],
                    "aoColumnDefs": [ { "bSortable": false, "aTargets": [0,7] } ],
                    ajax: {
                        url: 'InstituteListResult',
                        type: 'POST',
                        data: function (d) {
                            d.Name = $('#Name').val();
                            d.Category = $('#Category').val();
                            d.District = $('#District').val();
                           // d.Thana = $('#Thana').val();
                            d.Eiin = $('#Eiin').val();
                            d.Status = $('#Status').val();
                            d.Rank = $('#Rank').val();
                        }
                    }
                });
            }

            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
            });
            $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
                var id = $(this).attr("id");
                var current = $(this).parent().text().trim();
                var action = $(this).attr("data-action");
                //glyphicon glyphicon-arrow-up
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Institute/RankChange",
                    cache: false,
                    async: true,
                    data: { "id": id, "current": current, "action": action },
                    success: function (result) {
                        // bootbox.alert(result).css('margin-top', (($(window).height() / 4)));
                        dataTableRender();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });

            });

            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Menu?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Administration/Institute/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        //var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Institute Delete Successfully</div>';
                                        //$('.customMessage').append(errorMessage);
                                        $.fn.customMessage({
                                            displayMessage: "Institute Deleted Successfully",
                                            displayMessageType: "s",
                                            //displayTime: 5000
                                        });
                                        dataTableRender();
                                    }
                                    else {
                                        //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                        //$('.customMessage').append(errorMessage);
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "e",
                                            //displayTime: 5000
                                        });
                                    }
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (result) {
                                    //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Institute Delete Failed</div>';
                                    //$('.customMessage').append(errorMessage);
                                    $.fn.customMessage({
                                        displayMessage: "Institute Delete Failed",
                                        displayMessageType: "e",
                                        //displayTime: 5000
                                    });
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });
        });
    </script>
}


