﻿@using UdvashERP.BusinessModel.Entity.Administration
@{
    Course course = ViewBag.Courseinformation;
    if (course != null)
    {
        if (course.CourseSubjects.Any())
        {
            <div class="form-group">
                <label class="control-label col-md-2 text-right">Lecture Plan</label>
                <div class="col-md-10">
                    <table class="table table-bordered table-striped table-responsive" id="courseSubjects">
                        @{int i = 0;}
                        <tr>
                            <th style="text-align: center">Subject</th>
                            <th style="text-align: center">@*<input type="checkbox" class="checkAllSubject" style="margin-right: 15px;" />*@ Number of classes</th>
                            <th style="text-align: center">Class Name Prefix</th>
                        </tr>
                        @foreach (var courseSubject in course.CourseSubjects) 
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="subjectChk" data-course-subject-id="@courseSubject.Id" style="margin-right: 10px;" /> @courseSubject.Subject.Name
                                </td>
                                <td>
                                    <input type="text" name="noOfClasses" class="form-control noOfClasses" type="number" placeholder="0" disabled="disabled" /> 
                                </td>
                                <td><input type="text"  class="form-control classNamePrefix" disabled="disabled" placeholder="Class Name Prefix" /></td>
                            </tr>

                        }
                        <tr>
                            <td>
                                <input type="checkbox" class="subjectChk" data-course-subject-id="" style="margin-right: 10px;" /> Combined
                            </td>
                            <td>
                                <input type="text" name="noOfClasses" class="form-control noOfClasses" type="number" placeholder="0" disabled="disabled" />
                            </td>
                            <td><input type="text" class="form-control classNamePrefix" disabled="disabled" placeholder="Class Name Prefix" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
        else
        {
           
            <div class="form-group">
                <label class="control-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <span> Course Subject is empty</span>
                </div>
            </div>
        }
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-md-2 text-right"></label>
            <div class="col-md-10">
                <span> Course does not found</span>
            </div>
        </div>
    }
}
