﻿@{
    ViewBag.Title = "Search Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@Styles.Render("~/Content/styledatatable")
<div class="panel panel-primary">
    <div class="panel-heading">Register Teacher List</div>
    <div class="table-responsive">
        <table style="margin-top: 5px;">
            <tr class="filteringRow form-group">
                <td><input id="nickName" type="text" class="form-control filteringColumn" placeholder="Nick Name"></td>
                <td><input id="institute" type="text" class="form-control filteringColumn" placeholder="Institute"></td>
                <td><input id="mobileNumber" type="text" class="form-control filteringColumn" placeholder="Mobile Number"></td>
                <td><input type="text" class="form-control filteringColumn" id="PageSize" placeholder="10"></td>
                <td><button type="button" class="btn btn-primary" id="searchBtn">Search</button></td>
                <td><button type="button" class="btn btn-primary" id="excelBtn">Export</button></td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sl.
                    </th>
                    @if (ViewBag.InformationViewList != null)
                    {
                        foreach (string informationView in ViewBag.InformationViewList)
                        {
                            <th>@informationView</th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>

<div class="hiddenField">
    @Html.Hidden("registerTeacherListViewModel", ViewData["RegisterTeacherListViewModel"])
</div>
@section Scripts{
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    <script>

        function dataTableRender() {
            var registerTeacherListViewModel = $('#registerTeacherListViewModel').val();
            var nickName = $('#nickName').val();
            var institute = $('#institute').val();
            var mobileNumber = $('#mobileNumber').val();
            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            console.log(pageSize);
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                //order: [[1, "asc"]],
                ajax: {
                    url: $("body").attr("data-project-root") + "TeacherPublicRegistration/RegisterTeacherListReportDataTable",
                    type: 'POST',
                    data: function (d) {
                        d.registerTeacherListViewModel = registerTeacherListViewModel;
                        d.nickName = nickName;
                        d.institute = institute;
                        d.mobileNumber = mobileNumber;
                    }
                }
            });
        }

        $(document).ready(function () {
            dataTableRender();

            $(document).on("click", "#searchBtn", function () {
                dataTableRender();
            });


            $(document).on("click", ".AssignTeacher", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.confirm({
                        message: "<h3>Are you sure, you assign <span class='confirm-message'>" + name + "</span> as permanent teacher?</h3>",
                        buttons: {
                            'confirm': {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            'cancel': {
                                label: 'No',
                                className: 'btn-primary'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    type: "post",
                                    url: $("body").attr("data-project-root") + "Teachers/TeacherPublicRegistration/AssignTeacher",
                                    cache: false,
                                    async: true,
                                    data: { "applicationId": id },
                                    beforeSend: function () {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function (result2) {
                                        $.unblockUI();
                                        if (result2.IsSuccess) {
                                            var url = '@Url.Action("Edit", "Teacher", new {tpin = "__Tpin__"})';
                                            window.location.href = url.replace('__Tpin__', result2.tpin);
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: result2.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function () {
                                        $.unblockUI();
                                    },
                                    error: function (result2) {
                                        $.fn.customMessage({
                                            displayMessage: result2.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                });

                            }
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h4>Are you sure you want to remove this record :<span class='confirm-message'> " + name + "</span></h4>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Teachers/TeacherPublicRegistration/DeletePublicTeacher",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (resultDeleteTeacher) {
                                    $.unblockUI();
                                    if (resultDeleteTeacher.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: resultDeleteTeacher.Message,
                                            displayMessageType: "s",
                                        });
                                        dataTableRender();
                                    }
                                    else {
                                        $.fn.customMessage({
                                            displayMessage: resultDeleteTeacher.Message,
                                            displayMessageType: "e",
                                        });

                                    }
                                },
                                complete: function () {$.unblockUI();},
                                error: function (resultDeleteTeacher) {
                                    $.unblockUI();
                                    $.fn.customMessage({
                                        displayMessage: resultDeleteTeacher.Message,
                                        displayMessageType: "w",
                                    });
                                }
                            });
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            $(document).on("click", "#excelBtn", function () {
                var registerTeacherListViewModel = $('#registerTeacherListViewModel').val();
                var nickName = $('#nickName').val();
                var institute = $('#institute').val();
                var mobileNumber = $('#mobileNumber').val();
                var urlParam = {
                    registerTeacherListViewModel: registerTeacherListViewModel,
                    nickName: nickName,
                    institute: institute,
                    mobileNumber: mobileNumber
                };
                var url = $("body").attr("data-project-root") + "TeacherPublicRegistration/ExportRegisterTeacherListReport";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                console.log(url);
                window.open(url);
            });
        });
    </script>
}