﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.RegisterTeacherList

@{
    ViewBag.Title = "Register Teacher List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">Register Teacher List</div>
    <div class="panel-body">
        @using (Html.BeginForm("RegisterTeacherList", "TeacherPublicRegistration", FormMethod.Post, new { @id = "RegisterTeacherListForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.TeacherActivities, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.TeacherActivities, (IEnumerable<SelectListItem>)ViewBag.TeacherActivityPrioritySelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Subjects, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.Subjects, (IEnumerable<SelectListItem>)ViewBag.SubjectSelectList, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(model=>model.Religions, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.Religions, (IEnumerable<SelectListItem>)ViewBag.ReligionSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VersionOfStudies, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.VersionOfStudies, (IEnumerable<SelectListItem>)ViewBag.VersionOfStudySelectList, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(model => model.Genders, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.Genders, (IEnumerable<SelectListItem>) ViewBag.GenderSelectList, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AcademicStudentStatus, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.AcademicStudentStatus, (IEnumerable<SelectListItem>)ViewBag.AcademicStudentSelectList, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(model => model.TeacherApplicationStatus, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.TeacherApplicationStatus, (IEnumerable<SelectListItem>)ViewBag.TeacherStatusSelectList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div id="DisplayTeacherApplicationData" style="padding-left: 40%">
                        <div class="col-md-2">
                            <input type="button" value="Count" class="btn btn-primary" id="calculateTeacherApplication" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" value="" id="NumberOfTeacherApplication" disabled=""/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information to View</h4>
                    </div>
                </div>

                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                         @Html.DropDownListFor(model=>model.InformationViewList, (IEnumerable<SelectListItem>)ViewBag.InformationViewSelectList, new { @class = "form-control valid", @multiple = "multiple" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input type="submit" id="submitRegisterTeacherListForm" value="View List" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $('#InformationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });
        //definde all Id
        var TeacherActivitiesId = "TeacherActivities";
        var SubjectsId = "Subjects";
        var ReligionsId = "Religions";
        var VersionOfStudiesId = "VersionOfStudies";
        var GendersId = "Genders";
        var AcademicStudentStatusId = "AcademicStudentStatus";
        var TeacherApplicationStatusId = "TeacherApplicationStatus";
        var InformationViewListId = "InformationViewList";
        var RegisterTeacherListFormId = "RegisterTeacherListForm";
        var calculateTeacherApplicationId = "calculateTeacherApplication";
        var numberOfTeacherApplicationId = "NumberOfTeacherApplication";

        //define all message 
        var TeacherActivitiesErrorMessage = "Please Select Activity Priority.";
        var SubjectsErrorMessage = "Please Select Subject Priority.";
        var ReligionsErrorMessage = "Please Select Religion.";
        var VersionOfStudiesErrorMessage = "Please Select Version Priority.";
        var GendersErrorMessage = "Please Select Gender.";
        var AcademicStudentStatusErrorMessage = "Please Select Academic Student.";
        var TeacherApplicationStatusErrorMessage = "Please Select Status.";
        var InformationViewListErrorMessage = "Please Select Information to View.";

        function errorMasage(id, message) {
            var isSuccess = false;
            var value = $("#" + id).val();
            if (value == '' || value == null || (value != null && value.length <= 0)) {
                window.showErrorMessageBelowCtrl(id, "", false);
                window.showErrorMessageBelowCtrl(id, message, true);
            } else {
                isSuccess = true;
                window.showErrorMessageBelowCtrl(id, "", false);
            }
            return isSuccess;
        }

        function RegisterTeacherList() {
            this.InformationViewList = null;
            this.TeacherActivities = null;
            this.Subjects = null;
            this.Religions = null;
            this.VersionOfStudies = null;
            this.Genders = null;
            this.AcademicStudentStatus = null;
            this.TeacherApplicationStatus = null;
            this.RegisterTeacherList = function () { };
        }

        $(document).ready(function() {
            $(document).on('change', '#' + TeacherActivitiesId, function () {
                errorMasage(TeacherActivitiesId, TeacherActivitiesErrorMessage);
            });
            $(document).on('change', '#' + SubjectsId, function () {
                errorMasage(SubjectsId, SubjectsErrorMessage);
            });
            $(document).on('change', '#' + ReligionsId, function () {
                errorMasage(ReligionsId, ReligionsErrorMessage);
            });
            window.validateDropDownField(VersionOfStudiesId, VersionOfStudiesErrorMessage);
            window.validateDropDownField(GendersId, GendersErrorMessage);
            window.validateDropDownField(AcademicStudentStatusId, AcademicStudentStatusErrorMessage);
            window.validateDropDownField(TeacherApplicationStatusId, TeacherApplicationStatusErrorMessage);
            $(document).on('change', '#' + InformationViewListId, function () {
                errorMasage(InformationViewListId, InformationViewListErrorMessage);
            });

            $("#" + RegisterTeacherListFormId).submit(function () {
                return false;
            });

            $(document).on('click', '#' + calculateTeacherApplicationId, function () {
                var isSuccess = true;
                var activityPriority = $("#" + TeacherActivitiesId).val();
                var subjectPriority = $("#" + SubjectsId).val();
                var religion = $("#" + ReligionsId).val();
                var versionPriority = $("#" + VersionOfStudiesId).val();
                var gender = $("#" + GendersId).val();
                var academicStudentStatus = $("#" + AcademicStudentStatusId).val();
                var status = $("#" + TeacherApplicationStatusId).val();
                if (errorMasage(TeacherActivitiesId, TeacherActivitiesErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(SubjectsId, SubjectsErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(ReligionsId, ReligionsErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(VersionOfStudiesId, VersionOfStudiesErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(GendersId, GendersErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(AcademicStudentStatusId, AcademicStudentStatusErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(TeacherApplicationStatusId, TeacherApplicationStatusErrorMessage) == false) {
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    var registerTeacherList = new RegisterTeacherList();
                    registerTeacherList.TeacherActivities = activityPriority;
                    registerTeacherList.Subjects = subjectPriority;
                    registerTeacherList.Religions = religion;
                    registerTeacherList.VersionOfStudies = versionPriority;
                    registerTeacherList.Genders = gender;
                    registerTeacherList.AcademicStudentStatus = academicStudentStatus;
                    registerTeacherList.TeacherApplicationStatus = status;
                    console.log(registerTeacherList);
                    $.ajax({
                        url: $("body").attr("data-project-root") + "TeacherPublicRegistration/RegisterTeacherListCount",
                        type: "POST",
                        data: { registerTeacherList: registerTeacherList },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $("#" + numberOfTeacherApplicationId).val(response.registerTeacherCount);
                            } else {
                                $("#" + numberOfTeacherApplicationId).val("");
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "e"
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#submitRegisterTeacherListForm', function (e) {
                var isSuccess = true;
                if (errorMasage(TeacherActivitiesId, TeacherActivitiesErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(SubjectsId, SubjectsErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(ReligionsId, ReligionsErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(VersionOfStudiesId, VersionOfStudiesErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(GendersId, GendersErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(AcademicStudentStatusId, AcademicStudentStatusErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(TeacherApplicationStatusId, TeacherApplicationStatusErrorMessage) == false) {
                    isSuccess = false;
                }
                if (errorMasage(InformationViewListId, InformationViewListErrorMessage) == false) {
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    if (isSuccess == true) {
                        $("#" + RegisterTeacherListFormId)[0].submit();
                        //return true;
                    } else {
                        e.preventDefault();
                        return false;
                    }
                }

            });

        });
    </script>
}