﻿@model UdvashERP.BusinessModel.Entity.Teachers.TeacherClassEntryDetails
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Class Entry Details</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Serial Number</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.TeacherClassEntry.SerialNumber)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Class Type</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.TeacherClassEntry.TeacherClassType.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.TeacherClassEntry.Organization)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.TeacherClassEntry.Organization.Name)</td>
                </tr>
                @if (Model.TeacherClassEntry.Program != null)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.TeacherClassEntry.Program)</td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.TeacherClassEntry.Program.Name)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Program</td>
                        <td style="text-align: left">Common</td>
                    </tr>
                }
                @if (Model.TeacherClassEntry.Session != null)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.TeacherClassEntry.Session)</td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.TeacherClassEntry.Session.Name)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Session</td>
                        <td style="text-align: left">Common</td>
                    </tr>
                }
                @if (Model.TeacherClassEntry.Branch != null)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Held Branch</td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.TeacherClassEntry.Branch.Name)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Held Branch</td>
                        <td style="text-align: left">Common</td>
                    </tr>
                }
               
                @if (Model.TeacherClassEntry.Campus != null)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Held Campus</td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.TeacherClassEntry.Campus.Name)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">Held Campus</td>
                        <td style="text-align: left">Common</td>
                    </tr>
                }

                
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">Held Date</td>
                    <td style="text-align:  left">@Model.TeacherClassEntry.HeldDate.Value.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Teacher)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Teacher.DisplayTeacherName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Description)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Duration)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Duration)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Quantity)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Quantity)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Amount)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Amount)</td>
                </tr>
                @{
                    if (Model.PaymentStatus == 2)
                    {
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">Payment Status</td>
                            <td style="text-align:  left">Due</td>
                        </tr>
                    }
                    else if (Model.PaymentStatus == 1)
                    {
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">Payment Status</td>
                            <td style="text-align:  left">Paid</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">Payment Date</td>
                            <td style="text-align:  left">@{
                                                              if (Model.PaymentDate!=null)
                                                              {
                                                                  <span>@Model.PaymentDate.Value.ToString("dd/MM/yyyy")</span>
                                                              }
                                                          }
                                
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Branch)</td>
                            <td style="text-align:  left">@Html.DisplayFor(model => model.Branch.Name)</td>
                        </tr>
                    }
                }
                

                @*<tr>

                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Status) </td>
                    @{
                        if (Model.Status == Course.EntityStatus.Active)
                        {
                            <td style="text-align:  left">Active</td>
                        }
                        else
                        {
                            <td style="text-align:  left">Inactive</td>
                        }

                    }

                </tr>*@
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateByText)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate)</td>
                    <td style="text-align:  left">@Model.CreationDate</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyByText)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate)</td>
                    <td style="text-align:  left">@Model.ModificationDate</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Manage", "index")
</p>

