﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.Entity.Teachers.TeacherClassEntryDetails
@{
    ViewBag.Title = "Update Class Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input, select, textarea {
        max-width: 500px;
    }
</style>
@using (Html.BeginForm("Edit", "TeacherClassEntry", FormMethod.Post, new { @id = "teacherClassEntryForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Class Entry</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.Label("Class Type", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select disabled="disabled" class="form-control">
                                    <option>@Model.TeacherClassEntry.TeacherClassType.Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select disabled="disabled" class="form-control">
                                    <option>@Model.TeacherClassEntry.Organization.Name</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select disabled="disabled" class="form-control">
                                    @if (Model.TeacherClassEntry.Program != null)
                                    {
                                        <option>@Model.TeacherClassEntry.Program.Name</option>
                                    }
                                    else
                                    {
                                        <option>Common</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select disabled="disabled" class="form-control">
                                    @if (Model.TeacherClassEntry.Session != null)
                                    {
                                        <option>@Model.TeacherClassEntry.Session.Name</option>
                                    }
                                    else
                                    {
                                        <option>Common</option>
                                    }


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.Label("Held Branch", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select disabled="disabled" class="form-control">

                                    @if (Model.TeacherClassEntry.Branch != null)
                                    {
                                        <option>@Model.TeacherClassEntry.Branch.Name</option>
                                    }
                                    else
                                    {
                                        <option>Common</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.Label("Held Campus", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select disabled="disabled" class="form-control">
                                    @if (Model.TeacherClassEntry.Campus != null)
                                    {
                                        <option>@Model.TeacherClassEntry.Campus.Name</option>
                                    }
                                    else
                                    {
                                        <option>Common</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.Label("HeldDate", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input type="text" class="form-control" value='@if (Model.TeacherClassEntry.HeldDate != null)
                                                                               {
                                                                                   @Model.TeacherClassEntry.HeldDate.Value.ToString("dd/MM/yyyy")
                                                                               }' disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-responsive" id="teachers">
                                <thead>
                                <tr>
                                    <th style="width: 8%;">TPIN</th>
                                    <th style="width: 22%;">Teacher Name</th>
                                    <th style="width: 35%;">Job Description</th>
                                    <th style="width: 10%;">Duration</th>
                                    <th style="width: 8%;">Quantity</th>
                                    <th style="width: 10%;">Amount</th>
                                    @*<th style="width: 2%;">
                                        <span class="glyphicon glyphicon-plus-sign" style="cursor: pointer;"></span>
                                    </th>*@
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            <input type="hidden" class="form-control teacherId" value="@Model.Teacher.Id" />
                                            <input type="text" class="form-control teacherTpin" placeholder="TPIN" value="@Model.Teacher.Tpin" readonly="readonly" />
                                        </th>
                                        <th>
                                            <input type="text" class="form-control teacherName" placeholder="Teacher Name" value="@Model.Teacher.DisplayTeacherName" readonly="readonly" />
                                        </th>
                                        <th><input type="text" name="description" class="form-control description" placeholder="Description" value="@Model.Description" /></th>
                                        <th><input type="text" name="duration" class="form-control duration" placeholder="Duration" maxlength="5" size="5" value="@Model.Duration" /></th>
                                        <th><input type="text" name="quantity" class="form-control quantity" placeholder="Quantity" maxlength="5" size="5" value="@Model.Quantity" /></th>
                                        <th><input type="text" name="amount" class="form-control Amount" placeholder="Amount" maxlength="8" size="8" value="@Model.Amount" /></th>
                                        @*<th>
                                            <span class="glyphicon glyphicon-minus-sign" style="cursor: pointer;"></span>
                                        </th>*@
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" class="text-right">Total Amount</th>
                                        <th class="text-right" id="totalAmount">0</th>
                                        @*<th>&nbsp;</th>*@
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" value="Submit" class="btn btn-primary" id="SaveClassEntry" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>@Html.ActionLink("Back to Manage", "Index")</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#teacherClassEntryForm").submit(function () {
                return false;
            });
            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    responseReturn();
                }
            });
        });
        $(document).on("input propertychange", ".teacher,.description,.duration,.quantity,.Amount", function (event) {
            var e = checkRowValidity($(this).parents('tr'));

            if (e == 0) {
                $(this).parents('tr').removeClass("invalid").addClass("valid");

            } else {
                $(this).parents('tr').removeClass("valid").addClass("invalid");
            }
            var total = 0;
            $("#teachers tbody .valid").each(function () {
                total = total + parseInt($(this).find(".Amount").val());
            });
            $("#totalAmount").text(total);
        });
        function checkRowValidity(placeHolder) {
            var error = 0;
            var teacherTpin = placeHolder.find(".teacherTpin").val();
            var teacherName = placeHolder.find(".teacherName").val();
            var teacherId = placeHolder.find(".teacherId").val();
            var description = placeHolder.find(".description").val();
            var duration = placeHolder.find(".duration").val();
            var quantity = placeHolder.find(".quantity").val();
            var amount = placeHolder.find(".Amount").val();

            if (teacherTpin == "") {
                error = error + 1;
                placeHolder.find(".teacherTpin").addClass("highlight");
            } else {
                placeHolder.find(".teacherTpin").removeClass("highlight");
            }

            if (teacherName == "") {
                error = error + 1;
                placeHolder.find(".teacherTpin").addClass("highlight");
            } else {
                placeHolder.find(".teacherTpin").removeClass("highlight");
            }
            if (teacherId == "") {
                error = error + 1;
                placeHolder.find(".teacherTpin").addClass("highlight");
            }
            else {
                placeHolder.find(".teacherTpin").removeClass("highlight");
            }
            if (description == "") {
                error = error + 1;
                placeHolder.find(".description").addClass("highlight");
            } else {
                placeHolder.find(".description").removeClass("highlight");
            }
            if (duration == "" || !(/^(?=.*\d)\d*(?:\.\d+)?$/.test(duration)) || duration >= 100) {
                error = error + 1;
                placeHolder.find(".duration").addClass("highlight");
            } else {
                placeHolder.find(".duration").removeClass("highlight");
            }
            if (quantity == "" || !(/^\+?(0|[1-9]\d*)$/.test(quantity)) || quantity >= 1000) {
                error = error + 1;
                placeHolder.find(".quantity").addClass("highlight");
            } else {
                placeHolder.find(".quantity").removeClass("highlight");
            }
            if (amount == "" || !(/^(?=.*\d)\d*(?:\.\d+)?$/.test(amount))) {
                error = error + 1;
                placeHolder.find(".Amount").addClass("highlight");
            } else {
                placeHolder.find(".Amount").removeClass("highlight");
            }


            if (error == 0) {
                placeHolder.removeClass("danger");
                placeHolder.addClass("info");
            } else {
                placeHolder.addClass("danger");
                placeHolder.removeClass("info");
            }
            return error;
        }
        $(document).on("click", "#SaveClassEntry", function (event) {
            responseReturn();
        });
        function responseReturn() {

            var terror = 0;
            $("#teachers tbody tr").each(function () {
                var isValidRow = checkRowValidity($(this));
                if (isValidRow > 0) {
                    terror = terror + 1;
                }
            });
            
            if (terror == 0) {
                console.log(terror);
                $("#teacherClassEntryForm").get(0).submit();
                //$("#teacherClassEntryForm").submit();
                //$("#teacherClassEntryForm").submit(function () {
                //    return true;
                //});
            } else {
                $.fn.customMessage({
                    displayMessage: "Please Enter valid Data",
                    displayMessageType: "error",
                });
            }
        }
    </script>
}
