﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherCampusRoutineViewModel
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Teacher Campus Routine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Campus Routine</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group" style=" padding:2%">
                <div style="background-color:#FFF ">
                    <p style="text-align: center;margin: 0;"><span style="text-align: center;font-size: 20px">@ViewBag.OrganizationName</span></p>
                    <p style="text-align: center;margin: 0;"><span style="text-align: center;font-size: 20px">@(ViewBag.ProgramName) @(ViewBag.SessionName)</span></p>
                    <p style="text-align: center;margin: 0;"><span style="text-align: center;font-size: 20px">Campus Routine (@(Model.HeldDate.ToString("dd MMM yyyy")))</span></p>
                </div>
            </div>
        </div>
        <table id="tableDiv">
            <tr class="form-group">
                @*<th class="form-group">
                    <input id="fullName" name="fullName" type="text" class="form-control " placeholder="Full Name" />
                </th>*@
                <th class="form-group">
                    <input id="teacherTpin" name="teacherTpin" type="text" class="form-control " placeholder="TPIN" />
                </th>
                @*<th class="form-group">
                    <input id="nickName" name="nickName" type="text" class="form-control " placeholder="Nick Name" />
                </th>*@
                <th class="form-group">
                    <input id="mobile" name="mobile" type="text" class="form-control " placeholder="Mobile Number 1" />
                </th>
                <th class="form-group">
                    <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
                <th class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" name="export" id="exportCampusRoutine" value="Export" class="btn btn-primary" />
                    </div>
                </th>
            </tr>
        </table>
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
            @*table-responsive*@
            <thead>
                <tr>
                    <th>
                        Sl
                    </th>
                    @if (Model.InformationViewList != null)
                    {

                        foreach (string informationView in Model.InformationViewList)
                        {

                            <th>@informationView</th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
    var organizationId = @Model.Organization;
    var programId = @Model.Program;
    var sessionId = @Model.Session;
    var branchIds = @Html.Raw(Json.Encode(@Model.HeldBranch));
    var campusIds = @Html.Raw(Json.Encode(@Model.HeldCampus));
    var heldDate = "@Model.HeldDate.ToString("yyyy-MM-dd")";
    var informationViewList = @Html.Raw(Json.Encode(@Model.InformationViewList));

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            order: [[0, "desc"]],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }
            ],
            ajax: {
                url: '@Url.Action("GetTeacherCampusRoutineDataTable", "TeacherClassEntry")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchIds = branchIds;
                    d.campusIds = campusIds;
                    d.heldDate = heldDate;
                    d.tpin = $("#teacherTpin").val();
                    //d.fullName = $("#fullName").val();
                    //d.nickName = $("#nickName").val();
                    d.mobile = $("#mobile").val();
                    d.informationViewList = informationViewList;
                },
                complete: function() {
                    // $("#table td:nth-child(" + 3 + "),th:nth-child(" + 3 + ")").hide();
                    //$('td:nth-child(3)').hide();
                },
            }
        });
    }
    dataTableRender();
    /*end render data table*/
    $(document).on("click", "#search", function() {
        dataTableRender();
    });

    $(document).on("click", "#exportCampusRoutine", function () {
        var urlParam = {
            organizationId : organizationId,
            programId : programId,
            sessionId : sessionId,
            branchIds : branchIds,
            campusIds : campusIds,
            heldDate : heldDate,
            fullName : $("#fullName").val(),
            nickName : $("#nickName").val(),
            mobile : $("#mobile").val(),
            informationViewList : informationViewList
        };
        var url = "@Url.Action("ExportTeacherCampusRoutine", "TeacherClassEntry", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });

    </script>
}
