﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherClassEntryManageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Manage Class Entry
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    @*<div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ClassType, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.ClassType, (IEnumerable<SelectListItem>)ViewBag.ClassTypeList, "--Select Class Type--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClassType, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "--Select Organization--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Program, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select Program--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Session, (IEnumerable<SelectListItem>)ViewBag.SessionList, "--Select Session--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.HeldBranch, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.HeldBranch, (IEnumerable<SelectListItem>)ViewBag.HeldBranchList, "--Select Branch--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HeldBranch, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.HeldCampus, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.HeldCampus, (IEnumerable<SelectListItem>)ViewBag.HeldCampusList, "--Select Campus--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HeldCampus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PaymentStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PaymentStatus, (IEnumerable<SelectListItem>)ViewBag.PaymentStatusList, "All Payment Status", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PaymentStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="View" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#Organization").change(function () {

                $("#Program option").remove();
                $('#Program').append("<option value=''>--Select Program--</option>");
                $("#Session option").remove();
                $('#Session').append("<option value=''>--Select Session--</option>");
                $("#HeldBranch option").remove();
                $('#HeldBranch').append("<option value=''>--Select Branch--</option>");
                $("#HeldCampus option").remove();
                $('#HeldCampus').append("<option value=''>--Select Campus--</option>");
               // isValid("#Organization", "The Organization is required");
                if ($(this).val() != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { "organizationIds": $(this).val(), isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#Program').append("<option value='-1'>Common</option>");
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#Program").change(function () {
                $("#Session option").remove();
                $('#Session').append("<option value=''>--Select Session--</option>");
                $("#HeldBranch option").remove();
                $('#HeldBranch').append("<option value=''>--Select Branch--</option>");
                $("#HeldCampus option").remove();
                $('#HeldCampus').append("<option value=''>--Select Campus--</option>");
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
               // isValid("#Program", "The Program is required");
                if (organizationId != "" && programId != "") {
                    if (programId == "-1") {
                        programId = "";
                    }
                    //$(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#Session').append("<option value='-1'>Common</option>");
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#Session').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $("#Session").change(function () {
                $("#HeldBranch option").remove();
                $('#HeldBranch').append("<option value=''>--Select Branch--</option>");
                $("#HeldCampus option").remove();
                $('#HeldCampus').append("<option value=''>--Select Campus--</option>");
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
                var sessionId = $("#Session").val();
                //isValid("#Session", "The Session is required");
                if (organizationId != "" && programId != "" && sessionId != "") {
                    if (sessionId == "-1") {
                        sessionId = "";
                    }
                    if (programId == "-1") {
                        programId = "";
                    }
                    //$(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#HeldBranch').append("<option value='-1'>Common</option>");
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#HeldBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $("#HeldBranch").change(function () {
                $("#HeldCampus option").remove();
                $('#HeldCampus').append("<option value=''>--Select Campus--</option>");
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
                var sessionId = $("#Session").val();
                var branchId = $("#HeldBranch").val();
               // isValid("#HeldBranch", "The Held Branch is required");
                if (organizationId != "" && programId != "" && sessionId != "" && branchId != "") {
                    if (branchId == "-1") {
                        branchId = "";
                    }
                    if (sessionId == "-1") {
                        sessionId = "";
                    }
                    if (programId == "-1") {
                        programId = "";
                    }
                    $(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#HeldCampus').append("<option value='-1'>Common</option>");
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#HeldCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
        });
    </script>
}