﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherClassEntryManageViewModel
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    @Html.ActionLink("Add Class Entry", "Create", null, new { @class = "btn btn-primary" })
</p>*@
<div class="panel panel-primary">
    <div class="panel-heading">
        Manage Class Entry
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <table>               
                <tr class="filteringRow form-group">
                    @*<th class="form-group">                      
                        <input id="TeacherName" name="TeacherName" type="text" class="form-control teacher" placeholder="Teacher Name"  />
                    </th>*@
                    <th class="form-group">
                        <input id="TeacherTpin" name="TeacherTpin" type="text" class="form-control teacher" placeholder="TPIN" />
                    </th>
                    <th class="form-group">
                        <input id="HeldDate" name="HeldDate" type="text" class="form-control heldDate" placeholder="Held Date" readonly="readonly" />
                    </th>
                    <th style="padding:0px 0px 0px 5px; font-size: 18px; font-weight: normal"> C </th>
                    <th class="form-group">
                      <input  id="TrackingId" name="TrackingId" type="text" class="form-control trackingId" placeholder="Tracking Id"  />
                    </th>
                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            TPIN
                        </th>
                        <th>
                            Teacher Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Held Date
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Tracking Id
                        </th>                                            
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
<div class="hiddenField">
    @Html.Hidden("TeacherClassEntryManageViewModelObj", ViewData["TeacherClassEntryManageViewModelObj"])

    @*@Html.Hidden("GenerateBy", ViewData["GenerateBy"])
        @Html.Hidden("Gender", ViewData["Gender"])
        @Html.Hidden("OrderBy", ViewData["OrderBy"])*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
@Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
            var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();

            $('.heldDate').datetimepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                //startDate: startDate,
                //endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4,

            });
            
            dataTableRender();
           
        });
        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                //order: [[0, "asc"]],
                "ordering": false,
                ajax: {
                    url: '/Teachers/TeacherClassEntry/GenerateClassEntryList',
                    type: 'POST',
                    data: function (d) {
                        d.teacherClassEntryManageViewModelObj = $('#TeacherClassEntryManageViewModelObj').val();
                        //d.teacherName = $('#TeacherName').val();
                        d.tpin = $('#TeacherTpin').val();
                        d.heldDate = $('#HeldDate').val();
                        d.trackingId = $('#TrackingId').val();
                    }
                }
            });
        }
        $(document).on("click", "#search", function () {
            dataTableRender();
        });

        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this class entry ?</h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Teachers/TeacherClassEntry/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();

                                if (result.IsSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "s",
                                    });

                                    dataTableRender();
                                }
                                else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e",
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                });
                            }
                        });

                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });

</script>
    
}