﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherCampusRoutineViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/css/bootstrap-duallistbox")
@{
    ViewBag.Title = "Teacher Campus Routine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Campus Routine</h3></div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Organization, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>) ViewBag.OrganizationList, "Select Organization", new {@class = "form-control", @required = "required"})
                            @Html.ValidationMessageFor(model => model.Organization, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Program, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "Select Program", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Session, (IEnumerable<SelectListItem>)ViewBag.SessionList, "Select Session", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.HeldBranch, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.ListBoxFor(x => x.HeldBranch, (SelectList) ViewBag.HeldBranchList, new {@class = "form-control", @required = "required"})
                            @Html.ValidationMessageFor(model => model.HeldBranch, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.HeldCampus, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.ListBoxFor(model => model.HeldCampus, (SelectList) ViewBag.HeldCampusList, new {@class = "form-control", @required = "required"})
                            @Html.ValidationMessageFor(model => model.HeldCampus, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.HeldDate, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.HeldDate, new {@class = "form-control form-date", @readonly = "readonly", @placeholder = "Held Date"})
                            @Html.ValidationMessageFor(model => model.HeldDate, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center; font-weight:bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="row" style="padding-left: 80px">
                        <div class="col-md-12">
                            <select name="informationViewList" id="informationViewList" class="form-control" multiple="multiple" style="height: 100px">
                                <option value="Branch">Branch</option>
                                <option value="Campus">campus</option>
                                <option value="Quantity">Quantity</option>
                                <option value="Tpin">TPIN</option>
                                <option value="Full Name">Full Name</option>
                                <option value="Nick Name">Nick name</option>
                                <option value="T.Batch">T.Batch</option>
                                <option value="Institute">institute</option>
                                <option value="Department">Department</option>
                                <option value="Mobile Number 1">Mobile Number 1</option>
                                <option value="Mobile Number 2">Mobile Number 2</option>
                                <option value="Mobile Number (Room Mate)">Mobile Number (Room Mate)</option>
                                <option value="Mobile Number (Father)">Mobile Number (Father)</option>
                                <option value="Mobile Number (Mother)">Mobile Number (Mother)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        //validateDropDownField("Organization", "The Organization is required");
        $(document).ready(function () {

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            //var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
            //var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();
            var endDate = initialDate;

            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                //startDate: startDate,
                //endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4,
            }).on('changeDate', function (ev) {
                isValid("#HeldDate", "The Held Date is required.");
            });

            @*information view list*@
            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });

            $("#Organization").change(function () {
                $(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                $("#Program option").remove();
                $('#Program').append("<option value=''>--Select Program--</option>");
                $("#Session option").remove();
                $('#Session').append("<option value=''>--Select Session--</option>");
                $("#HeldBranch option").remove();
                //isValid("#Organization", "The Organization is required");
                if ($(this).val() != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { "organizationIds": $(this).val(), isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#Program").change(function () {
                $("#Session option").remove();
                $('#Session').append("<option value=''>--Select Session--</option>");
                $("#HeldBranch option").remove();
                //$('#HeldBranch').append("<option value=''>--Select Branch--</option>");
                //$("#HeldCampus option").remove();
                //$('#HeldCampus').append("<option value=''>--Select Campus--</option>");
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
                //isValid("#Program", "The Program is required");
                if (organizationId != "" && programId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#Session').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $("#Session").change(function () {
                $("#HeldBranch option").remove();
                //$('#HeldBranch').append("<option value=''>--Select Branch--</option>");
                //$("#HeldCampus option").remove();
                //$('#HeldCampus').append("<option value=''>--Select Campus--</option>");
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
                var sessionId = $("#Session").val();
                //isValid("#Session", "The Session is required");
                if (organizationId != "" && programId != "" && sessionId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#HeldBranch').append("<option value='0'>All</option>");
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#HeldBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
            
            $("#HeldBranch").change(function () {
               
                $("#HeldCampus option").remove();
                //$('#HeldCampus').append("<option value=''>--Select Campus--</option>");
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
                var sessionId = $("#Session").val();
                var branchId = $("#HeldBranch").val();
                //isValid("#HeldBranch", "The Branch field is required.");
                if (organizationId != "" && programId != "" && sessionId != "" && branchId != "") {
                    //$(this).parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#HeldCampus').append("<option value='0'>All</option>");
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#HeldCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $("#HeldCampus").change(function () {
                isValid("#HeldCampus", "The Held Campus is required");
            });
        });

        function isValid(selector, message) {
            var error = 0;
            var value = $(selector).val();
            if (value == "") {
                $(selector).parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html(message);
                error = error + 1;
            } else {
                $(selector).parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
            }
            return error;
        }
    </script>
}
