﻿@model UdvashERP.BusinessModel.Entity.Hr.SpecialAllowanceSetting
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Special Allowance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input, textarea, select {
        max-width: 100%;
    }

    #Remarks {
        min-height: 50px;
    }
</style>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Special Allowance</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @*@Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ResponsibleMemberPin)
                @Html.HiddenFor(model => model.PaymentType)
                @Html.HiddenFor(model => model.Remarks)*@

            <div class="form-horizontal">

                <table class="table-bordered table-hover table-responsive table-striped" style="width: 100%" id="FundEntitlement">
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.TeamMember.Pin) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.TeamMember.Pin)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.TeamMember.Name) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.TeamMember.Name)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.Amount) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Amount)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.Amount) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Amount)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.PaymentType) :</td>
                      
                        <td style="text-align:  left">@Enum.GetName(typeof(UdvashERP.BusinessRules.Hr.PaymentType), Model.PaymentType)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.EffectiveDateString) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.EffectiveDateString)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.ClosingDateString) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ClosingDateString)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.Remarks) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Remarks)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.CreateByText) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.ModifyByText) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold; padding: 5px">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                    </tr>

                </table>
            </div>
        }
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>


    @Scripts.Render("~/bundles/LeaveApplication")
    <script type="text/javascript">
        $(document).ready(function (e) {

            $("#PaymentType").val(@ViewBag.SelectedPaymentType);
            //$(".effec").val(@ViewBag.EffectiveDateString);
            $("#PaymentTypeX").val(@ViewBag.SelectedPaymentType);

            //var today = new Date();

            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            //$('#effectiveDate').datetimepicker({
            //    format: "MM yyyy",
            //    autoclose: true,
            //    //todayBtn: false,
            //    //showMeridian: true,
            //    //initialDate: initialDate,
            //    //startDate: initialDate,
            //    startView: "year",
            //    minView: "year",
            //    maxView: 4
            //});

            //$('#closingDate').datetimepicker({
            //    format: "MM yyyy",
            //    autoclose: true,
            //    //todayBtn: false,
            //    //showMeridian: true,
            //    //initialDate: initialDate,
            //    //startDate: initialDate,
            //    startView: "year",
            //    minView: "year",
            //    maxView: 4
            //});

            // console.log(new Date());



            $("#EmployeeBenefitsFundForm").submit(function () {
                console.log("i am calling");
                e.preventDefault();
                return false;
            });
        })
    </script>
}
