﻿@model UdvashERP.BusinessModel.Entity.Hr.SpecialAllowanceSetting
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Special Allowance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input, textarea, select {
        max-width: 100%;
    }

    #Remarks {
        min-height: 50px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Special Allowance Update</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SpecialAllowanceUpdate", "SpecialAllowance", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ResponsibleMemberPin)
            @*@Html.HiddenFor(model => model.PaymentType)
            @Html.HiddenFor(model => model.Remarks)
            @Html.HiddenFor(model => model.Amount)*@

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Pin", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ResponsibleMemberPin, new { htmlAttributes = new { @class = "form-control", @id = "ResponsibleMemberPin", @autocomplete = "off", @type = "text", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.ResponsibleMemberPin, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TeamMember.Name, new { htmlAttributes = new { @class = "form-control", @id = "ResponsibleMemberName", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.TeamMember.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PaymentType, ViewBag.PaymentType as SelectList, "Payment Type", new { @class = "form-control", @id = "PaymentTypeX" })
                        @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Effective From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EffectiveDateString, "{0:MM yyyy} ", new { htmlAttributes = new { @class = "form-control effec", @id = "effectiveDate", @placeholder = "Effective Date", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.EffectiveDateString, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Closing Month", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClosingDateString, "{0:MM yyyy} ", new { htmlAttributes = new { @class = "form-control", @id = "closingDate", @placeholder = "Closing Date", @readonly = "readonly", @Value = @ViewBag.ClosingDateString } })
                        @Html.ValidationMessageFor(model => model.ClosingDateString, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label style="padding-left: 15px">@Html.Label("Note")</label>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Note" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>


    @*@Scripts.Render("~/bundles/LeaveApplication")*@
    <script type="text/javascript">
        $(document).ready(function (e)
        {
            var today = new Date();
            //$("#OrganizationId").val(@ViewBag.SelectedOrganization);

            $("#PaymentTypeX").val(@ViewBag.SelectedPaymentType);
            //$(".effec").val(@ViewBag.EffectiveDateString);


            ////var today = new Date();

            ////var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            ////$('#effectiveDate').datetimepicker({
            ////    format: "MM yyyy",
            ////    autoclose: true,
            ////    //todayBtn: false,
            ////    //showMeridian: true,
            ////    //initialDate: initialDate,
            ////    //startDate: initialDate,
            ////    startView: "year",
            ////    minView: "year",
            ////    maxView: 4
            ////});

            //$('#closingDate').datetimepicker({
            //    format: "MM yyyy",
            //    autoclose: true,
            //    //todayBtn: false,
            //    //showMeridian: true,
            //    //initialDate: initialDate,
            //    //startDate: initialDate,
            //    startView: "year",
            //    minView: "year",
            //    maxView: 4
            //});

            // console.log(new Date());
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('#effectiveDate').datetimepicker({
                format: "MM yyyy",
                autoclose: true,
                //todayBtn: false,
                //showMeridian: true,
                //initialDate: initialDate,
                //startDate: initialDate,
                startView: "year",
                minView: "year",
                maxView: 4
            });

            $('#closingDate').datetimepicker({
                format: "MM yyyy",
                autoclose: true,
                //todayBtn: false,
                //showMeridian: true,
                //initialDate: initialDate,
                //startDate: initialDate,
                startView: "year",
                minView: "year",
                maxView: 4
            });

            $(document).on("input propertychange", "#Amount ", function (event)
            {
                var input = $(this),
                    text = input.val().replace(/[^0-9]/g, "");
                input.val(text);
                //var servicePeriod = input.val();

            });

            //$("#EmployeeBenefitsFundForm").submit(function ()
            //{
            //    //console.log("i am calling");
            //    e.preventDefault();
            //    return false;
            //});
        })
    </script>
}
