﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.ClearMarksViewModel
@{
    ViewBag.Title = "Clear Marks Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">Clear Marks Entry</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.organizationList, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })*@
                    </div>
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Gender", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedGender, (IEnumerable<SelectListItem>)ViewBag.SelectedGender, new { @class = "form-control selectedGenderdBy" })
                        @Html.ValidationMessageFor(model => model.SelectedGender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBranch, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCampus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Batch Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(m => m.SelectedCourse, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SelectedCourse, (SelectList)ViewBag.Course, "Select Course", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedExamCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.ExamId)
                        @Html.EditorFor(model => model.SelectedExamCode, new { htmlAttributes = new { @class = "form-control autoComplete", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(m => m.SelectedExamName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SelectedExamName, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                        @Html.ValidationMessageFor(model => model.SelectedExamName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedExamType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SelectedExamType, (IEnumerable<SelectListItem>)ViewBag.ExamTypeList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedExamType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div id="DisplayStudentData" style="padding-left:40%">
                        <div class="col-md-2">
                            <input type="button" value="Count" class="btn btn-primary" id="calculateClearMarks" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="NumberOfStudent" disabled="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" id="ClearMarksSubmit" value="Clear Marks" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        
        validateDropDownField("OrganizationId", "Organization field reuired.");

        function autoCompleteFunc() {
            $('.autoComplete').each(function() {
                var $this = $(this);
                $this.typeahead({
                    source: function(query, process) {
                        var programId = $("#ProgramId").val();
                        var sessionId = $("#SessionId").val();
                        var courseId = $("#SelectedCourse").val();
                        var data = { query: query, programId: programId, sessionId: sessionId, courseId: courseId }
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Exam/MarksEntry/AjaxRequestForExamCoad",
                            cache: false,
                            async: true,
                            data: data,
                            success: function(result) {
                                if (result.IsSuccess) {
                                    process(result.returnList);
                                }
                            },
                            complete: function() {
                            },
                            error: function(result) {
                            }
                        });
                    },
                    updater: function(item) {
                        $("#ExamId").val(item.Value);
                        $("#SelectedExamType option").remove();
                        $("#SelectedExamCode").val("");
                        $("#SelectedExamName").val("");
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Exam/MarksEntry/AjaxRequestForExamInformation",
                            cache: false,
                            async: true,
                            data: { "id": item.Value },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                if (result.IsSuccess) {
                                    //console.log(result.returnList.Name);
                                    if (result.returnList.hasOwnProperty("Name")) {
                                        $("#SelectedExamName").val(result.returnList.Name);
                                    }
                                    if (result.returnList.IsMcq && result.returnList.IsWritten) {
                                        $('#SelectedExamType').parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                                        $('#SelectedExamType').append("<option value='-1'>All</option>");
                                        $('#SelectedExamType').append("<option value='" + result.returnList.IsWrittenValue + "'>Written</option>");
                                        $('#SelectedExamType').append("<option value='" + result.returnList.IsMcqValue + "'>MCQ</option>");
                                    } else if (result.returnList.IsMcq && !result.returnList.IsWritten) {
                                        $('#SelectedExamType').parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                                        $('#SelectedExamType').append("<option value='" + result.returnList.IsMcqValue + "'>MCQ</option>");
                                    } else if (!result.returnList.IsMcq && result.returnList.IsWritten) {
                                        $('#SelectedExamType').parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("");
                                        $('#SelectedExamType').append("<option value='" + result.returnList.IsWrittenValue + "'>Written</option>");
                                    } else {
                                        $('#SelectedExamType').append("<option value=''>--Select Exam Types--</option>");
                                        $("#SelectedExamType").parent().find("span").removeClass(".field-validation-error").addClass("field-validation-valid").text("The Exam Type Field is required.");
                                    }
                                }
                            },
                            complete: function() {
                                $.unblockUI();
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });
                        return item.Text;
                    },
                    matcher: function(item) {
                        if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                            return true;
                        }
                        return false;
                    },
                    sorter: function(items) {
                        return items.sort();
                    },
                    highlighter: function(item) {
                        var regex = new RegExp('(' + this.query + ')', 'gi');
                        return item.Text.replace(regex, "<strong>$1</strong>");
                    },
                    onselect: function(obj) {
                        alert('Selected ' + obj);
                    }
                });
            });
        }

        $(document).on("input propertychange", ".autoComplete", function(event) {
            autoCompleteFunc();
        });
        $(document).ready(function () {

            $('#SelectedExamCode').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
                return true;
            });
            $("#ClearMarksSubmit").click(function () {
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var gender = $("#SelectedGender").val();
                var branchIds = $("#SelectedBranch").val();
                var campusIds = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTimes = $("#SelectedBatchTime").val();
                var batchIds = $("#SelectedBatch").val();
                var courseIds = $("#SelectedCourse").val();
                var examId = $("#ExamId").val();
                var examType = $("#SelectedExamType").val();
                if (programId > 0 && sessionId > 0 && gender > 0 && branchIds != "" && campusIds != "" &&
                    batchDays != "" && batchTimes != "" && batchIds != "" && courseIds != "" && examId > 0) {
                    bootbox.confirm("<h3>Are you sure you want to clear marks ?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                url: 'DeleteClearMarks',
                                type: "POST",
                                data: {"organizationId":organizationId,
                                    "programId": programId, "sessionId": sessionId, "gender": gender, "branchIds": branchIds, "campusIds": campusIds,
                                    "batchDays": batchDays, "batchTimes": batchTimes, "batchIds": batchIds, "courseIds": courseIds, "examId": examId,
                                    "examType": examType
                                },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (response) {
                                    if (response.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: "Successfully marks clear.",
                                            displayMessageType: "s",
                                        });
                                    }
                                    document.getElementById('OrganizationId').selectedIndex = 0;
                                    $.unblockUI();
                                },
                                complete: function () {
                                    //location.reload();
                                    $("#SelectedExamName").val("");
                                    window.setTimeout(function() { location.reload(); }, 5000);
                                    $("#NumberOfStudent").val("");
                                    $.unblockUI();
                                },
                                error:
                                    function (response) {
                                        $.fn.customMessage({
                                            displayMessage: "Problem occured marks clear.",
                                            displayMessageType: "e",
                                        });
                                    }
                            });
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                } else
                {
                    $.fn.customMessage({
                        displayMessage: "May be you need to select the option.",
                        displayMessageType: "e",
                    });
                }
            });
            $("#calculateClearMarks").click(function () {
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var gender = $("#SelectedGender").val();
                var branchIds = $("#SelectedBranch").val();
                var campusIds = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTimes = $("#SelectedBatchTime").val();
                var batchIds = $("#SelectedBatch").val();
                var courseIds = $("#SelectedCourse").val();
                var examId = $("#ExamId").val();
                var examType = $("#SelectedExamType").val();
                if (programId > 0 && sessionId > 0 && gender > 0 && branchIds != "" && campusIds != "" &&
                    batchDays != "" && batchTimes != "" && batchIds != "" && courseIds != "" && examId > 0) {

                    $.ajax({
                        url: 'GetClearMarksCount',
                        type: "POST",
                        data: {
                            "organizationId":organizationId,
                            "programId": programId,
                            "sessionId": sessionId,
                            "gender": gender,
                            "branchIds": branchIds,
                            "campusIds": campusIds,
                            "batchDays": batchDays,
                            "batchTimes": batchTimes,
                            "batchIds": batchIds,
                            "courseIds": courseIds,
                            "examId": examId,
                            "examType": examType
                        },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $("#NumberOfStudent").val(response.clearMarksCount);
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error:
                            function(response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                                $('.customMessage').append(errorMessage);
                            }
                    });

                } else {
                    $.fn.customMessage({
                        displayMessage: "May be you need to select the option.",
                        displayMessageType: "e",
                    });
                }
            });
            $("#OrganizationId").change(function () {
                $("#ExamId").val("");
                $("#SelectedExamType").empty();
                $('#SelectedExamType').append("<option value=''>Select Exam type</option>");
                $("#SelectedExamCode").val("");
                $("#SelectedExamName").val("");

                $("#NumberOfStudent").val("");
                var organizationId = $(this).val();
                $("#ProgramId option").remove();
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                $('#SelectedCourse').append("<option value=''>Select Course</option>");
                if (organizationId != " " && organizationId != null) {
                    $.ajax({
                        //url: 'AjaxRequestForGetProgram',//'GetProgramByOrganization',
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        //data: { "organizationId": organizationId },
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                ////load programs
                                //$('#ProgramId').append('<option value="">Select Program</option>');
                                //if (response.returnList != null && response.returnList.length > 0) {
                                //    $.each(response.returnList, function (i, v) {
                                //        $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                //    });
                                //    $("#ProgramId").find('option:eq(0)').prop('selected', true);
                                //}
                                $('#ProgramId').append('<option value="">Select Program</option>');
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error:
                            function(response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                                $('.customMessage').append(errorMessage);
                            }
                    });

                } else {

                    $('#ProgramId').append('<option value="">Select Program</option>');
                }
            });
            //Program Change Functionalities
            $(document).on('change', '#ProgramId', function() {

                $("#ExamId").val("");
                $("#SelectedExamType").empty();
                $('#SelectedExamType').append("<option value=''>Select Exam type</option>");
                $("#SelectedExamCode").val("");
                $("#SelectedExamName").val("");

                $("#NumberOfStudent").val("");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();

                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                $('#SelectedCourse').append("<option value=''>Select Course</option>");

                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForSession",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",

                        cache: false,
                        async: true,
                        //data: { programId: programId },
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            //$("#SessionId").html(result);
                            //console.log("Success -----");
                            if (response.IsSuccess) {
                                //$('#SessionId').append('<option value="">Select Session</option>');
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //// $("#SessionId").find('option:eq(0)').prop('selected', true);
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                            //console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });
            //Session Change Functionalities
            $(document).on('change', '#SessionId', function() {
                $("#ExamId").val("");
                $("#SelectedExamType").empty();
                $('#SelectedExamType').append("<option value=''>Select Exam type</option>");
                $("#SelectedExamCode").val("");
                $("#SelectedExamName").val("");
                $("#NumberOfStudent").val("");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("#SelectedBranch option").remove();
                $("#SelectedCampus option").remove();

                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                $('#SelectedCourse').append("<option value=''>Select Course</option>");

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var organizationId = $("#OrganizationId").val();
                if (programId != null && programId != "" && sessionId != 0 && sessionId != "") {

                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForBranch",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",

                        cache: false,
                        async: true,
                        //data: { programId: programId, sessionId: sessionId, organizationId: organizationId },
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                //$.each(result.branchList, function(i, v) {
                                //    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                ///// $("#SelectedBranch").find('option:eq(0)').prop('selected', true);
                                //console.log("Success -----");
                                $('#SelectedBranch').append('<option value="0">All Branch</option>');
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#SelectedBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                $.ajax({
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                    type: "POST",
                                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId },

                                    beforeSend: function() {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function (responses) {
                                        $.unblockUI();
                                        if (responses.IsSuccess) {
                                            //$.each(result.courseList, function(i, v) {
                                            //    $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                            //});
                                            //$("#SelectedCourse").find('option:eq(0)').prop('selected', true);
                                            //console.log("Success ------");
                                            $('#SelectedCourse').append('<option value="0">All Course</option>');
                                            $.each(responses.returnCourse, function (i, v) {
                                                $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            console.log("Error -----");

                                        }
                                    },
                                    complete: function() {
                                        $.unblockUI();
                                        console.log("Complete -----");

                                    },
                                    error: function(result) {
                                        $.unblockUI();
                                        console.log("Failed -----");
                                    }
                                });
                            } else {
                                $.unblockUI();
                                console.log("Error -----");
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });
            //Branch Change Functionalities
            $(document).on('change', '#SelectedBranch', function() {

                $("#NumberOfStudent").val("");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCampus option").remove();

                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForCampus",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        //data: { programId: programId, sessionId: sessionId, branchId: branchId },
                        data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                //$.each(result.campusList, function(i, v) {
                                //    $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                ///// $("#SelectedCampus").find('option:eq(0)').prop('selected', true);
                                //console.log("Success ------");
                                $('#SelectedCampus').append('<option value="0">All Campus</option>');
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#SelectedCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                console.log("Error -----");
                                //console.log(result);
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            //console.log("Complete -----");
                            //console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });
            //Campus Change Functionalities
            $(document).on('change', '#SelectedCampus', function() {

                $("#NumberOfStudent").val("");

                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchDays option").remove();
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();

                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForBatchDay",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",

                        cache: false,
                        async: true,
                        //data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId },
                        data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, campusIds: campusId, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                //$.each(result.batchDays, function(i, v) {
                                //    $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                ///// $("#SelectedBatchDays").find('option:eq(0)').prop('selected', true);
                                $('#SelectedBatchDays').append('<option value="0">All Batch Day</option>');
                                $.each(response.returnBatchDays, function (i, v) {
                                    if (v.Value == 0)
                                        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Value));
                                    else
                                        $('#SelectedBatchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                                });
                                //console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                //console.log(result);
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                            //console.log("Complete -----");
                            //console.log(result);
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });
            //Batch Day Change Functionalities
            $(document).on('change', '#SelectedBatchDays', function() {

                $("#NumberOfStudent").val("");

                //remove all dependant dropdownlist & selection option
                $("#SelectedBatchTime option").remove();
                $("#SelectedBatch option").remove();

                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();

                if (organizationId != null && organizationId != "" && programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                //$("#SelectedBatchTime").append('<option value="0">All BATCH TIMES</option>');

                                //$.each(result.batchTime, function(i, v) {
                                //    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                ///// $("#SelectedBatchTime").find('option:eq(0)').prop('selected', true);
                                //console.log("Success ------");
                                $('#SelectedBatchTime').append('<option value="0">All Batch Time</option>');
                                $.each(result.returnBatchTime, function (i, v) {
                                    $('#SelectedBatchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                console.log("Error -----");

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            //console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });
            //Batch Time Change Functionalities
            $(document).on('change', '#SelectedBatchTime', function() {

                $("#NumberOfStudent").val("");
                //remove all dependant dropdownlist & selection option
                $("#SelectedBatch option").remove();

                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#SelectedBranch").val();
                var campusId = $("#SelectedCampus").val();
                var batchDays = $("#SelectedBatchDays").val();
                var batchTime = $("#SelectedBatchTime").val();

                var batchTimeText = [];
                $("#SelectedBatchTime option:selected").each(function() {
                    var $this = $(this);
                    if ($this.length) {
                        batchTimeText.push($this.text());
                    }
                });

                if (organizationId != null && organizationId != "" && programId != null && programId != ""
                    && sessionId != null && sessionId != ""
                    && branchId != null && branchId != ""
                    && campusId != null && campusId != ""
                    && batchDays != null && batchDays != ""
                    && batchTime != null && batchTime != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",

                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, campusIds: campusId, branchIds: branchId, batchDays: batchDays, batchTimes: batchTime, batchTimeText: batchTimeText, isAuthorized: true },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                //$.each(result.batchName, function(i, v) {
                                //    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                //});
                                ///// $("#batchName").find('option:eq(0)').prop('selected', true);
                                //console.log("Success ------");
                                $('#SelectedBatch').append('<option value="0">All Batch</option>');
                                $.each(result.returnBatch, function (i, v) {
                                    $('#SelectedBatch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                console.log("Error -----");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            
                        }
                    });
                }
            });
        });
    </script>
}
