﻿@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Student Admission Summary Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}
<style>
    .total {
        font-weight: bold;
    }
    .odd:last-child {
        font-weight: bold;
    }
    .even:last-child {
        font-weight: bold;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Admission Summary Report</h4>
    </div>
    <div class="panel-body">
        @* this table is responsible for table header and dynamic data *@
        <div class="form-group">
            <div style="">
                <div class="col-md-12 text-center">
                    <p style="text-align: center"><span style="text-align: center;font-size: 18px; font-weight: bold">@ViewBag.OrganizationFullName</span></p>
                    <p style="text-align: center"><span style="text-align: center;font-size: 16px; font-weight: bold">Student Admission Summary Report</span></p>
                    <p style="text-align: center"><span style="text-align: center;font-size: 16px; font-weight: bold">
                                                      @if (Convert.ToBoolean(ViewBag.LastSession))
                                                      {
                                                          <span>Till  @Convert.ToDateTime(ViewBag.DateTo).ToString("d MMM, yyyy")</span>
                                                      }
                                                      else
                                                      {
                                                       <span>@Convert.ToDateTime(ViewBag.DateFrom).ToString("d MMM, yyyy") to @Convert.ToDateTime(ViewBag.DateTo).ToString("d MMM, yyyy")</span>   
                                                      }
                                                  </span></p>
                </div>
            </div>
        </div>
        <div>
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
                @*table-responsive*@
                <thead>
                    <tr>
                        @if (ViewBag.informationViewList != null)
                        {
                            foreach (string informationView in ViewBag.informationViewList)
                            {
                                <th>@informationView</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 10px">
            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/jquery.blockUI.js"></script>


    <script type="text/javascript">
    var organizationId = @ViewBag.OrganizationId;
    var dateFrom ='@ViewBag.DateFrom';
    var dateTo ='@ViewBag.DateTo';
    var lastSession ='@ViewBag.LastSession';
    function dataTableRender() {
        var pageSize = 100;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            "bPaginate" : false,
            "paging": false,
            "bSort": false,
            "bInfo": false,
            ajax: {
                url: '@Url.Action("LoadStudentAdmissionSummaryReport", "StudentAdmissionReport")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                    d.lastSession = lastSession;
                }
            }
        });
    }


    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId: @ViewBag.OrganizationId,
            dateFrom:'@ViewBag.DateFrom',
            dateTo: '@ViewBag.DateTo',
            lastSession:'@ViewBag.LastSession'
        };
        var url = "@Url.Action("LoadStudentAdmissionSummaryReportToExcel", "StudentAdmissionReport", null, Request.Url.Scheme)";
    url += "?" + decodeURIComponent($.param(urlParam, true));
    window.open(url);
    });

    dataTableRender();
</script> 
}
