﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Student Summary Report";
    string lastSession = ViewBag.LastSession;//"checked = \"checked\"";//(ViewBag.LastSession ==true)?"checked = \"checked\"":"";
    
    string checkString = (lastSession=="true") ? "checked = \"checked\"" : "";
    string display = (lastSession == "true") ? "style = display:\"none\"" : "style = display:\"block\"";
    var formIsPost = ViewBag.IsPost;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Admission Summary Report</h4>
    </div>
    <div class="panel-body" id="studentAdmissionSummaryReport" data-formPost="@formIsPost">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12 ">
                    @*<div class="form-group">
                        @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Last Session", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="checkbox" id="lastSession" @checkString value="@lastSession" name="lastSession" />
                        </div>
                    </div>
                    <div class="form-group" id="DateFromContent">
                        @Html.Label("Date From", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" id="date-from" value="@ViewBag.DateFrom" class="form-control date-from" name="dateFrom" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Date To", new { @class = "control-label col-md-3", @id="dateToText" })
                        <div class="col-md-9">
                            <input type="text" id="date-to" value="@ViewBag.DateTo" class="form-control date-to" name="dateTo" readonly="readonly" />
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" id="lastSession" @checkString value="@lastSession" name="lastSession" /><span> Last Session?</span>
                        </div>
                        <div class="col-md-3" id="DateFromContent">
                            <input type="text" id="date-from" value="@ViewBag.DateFrom" class="form-control date-from" name="dateFrom" readonly="readonly" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="date-to" value="@ViewBag.DateTo" class="form-control date-to" name="dateTo" readonly="readonly" />
                        </div>
                        <div class="col-md-1">
                            <input type="submit" id="Submit" value="View" class="btn btn-primary" />
                        </div>
                    </div>
                    </div>    
                <div class="clearfix"></div>
                @*<div class="form-group">
                    <div class="text-center">
                        <input type="submit" id="Submit" value="View List" class="btn btn-primary" />
                    </div>
                </div>*@
            </div>
        }
    </div>
@if (formIsPost)
{
    Html.RenderPartial("_partial/_LoadStudentAdmissionSummaryReport");
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var lastSessionValue = $("#lastSession");
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.date-from').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $('.date-to').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("change", "#date-from", function(event) {
                var val = $("#date-from").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                }
            });
            $(document).on("change", "#date-to", function(event) {
                var val = $("#date-to").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                }
            });

            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    //validationClientSide();
                }
            });

            if (lastSessionValue.is(":checked")) {
                $("#DateFromContent").hide();
                $("#dateToText").html("Till Date");
                $('#lastSession').val(true);
            }
            $(document).on('click', '#lastSession', function(e) {

                if ($('#lastSession').is(":checked")) {
                    $("#DateFromContent").hide();
                    $("#dateToText").html("Till Date");
                    $('#lastSession').val(true);
                } else {
                    $("#DateFromContent").show();
                    $("#dateToText").html("Date To");
                    $('#lastSession').val(false);
                }
            });


            //Call validation method on Mouse Click
            $(document).on('click', '#Submit', function(e) {

                $('.field-validation-error').remove();
                var organizationId = $('#organizationId').val();
                var dateFrom = $('#date-from').val();
                var dateTo = $('#date-to').val();
                var isSuccess = true;

                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }


                if (dateFrom == null || dateFrom.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                    window.showErrorMessageBelowCtrl("date-from", "Please Date From Time.", true);

                    isSuccess = false;
                }
                if (dateTo == null || dateTo.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                    window.showErrorMessageBelowCtrl("date-to", "Please Date To Time.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }

            });
            window.validateDropDownField("organizationId", "Please Select Organization.");
        });
</script>
}
