﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.MeritList

@{
    ViewBag.Title = "GenerateMeritList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Merit List
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GenerateMeritList", "MeritListGeneration", FormMethod.Post, new { @id = "meritListGenerationForm", @selectedGenerateBy = Model.SelectedGenerateBy, @selectedGender = Model.SelectedGender, @selectedOrderBy = Model.SelectedOrderBy }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control", @id = "organizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>                   
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    
                    @Html.Label("Course Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBranch, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">

                    @Html.Label("Campus", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCampus, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchDays, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatchTime, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Batch Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Exam Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedExam, (SelectList)ViewBag.SelectedExam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedExam, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Exam Type", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedExampTypes, (IEnumerable<SelectListItem>)ViewBag.ExampTypes, new { @class = "form-control SelectedExampTypes" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Gender", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedGender, (IEnumerable<SelectListItem>)ViewBag.SelectedGender, new { @class = "form-control selectedGenderdBy" })
                    </div>
                    @Html.Label("Order by", new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.SelectedOrderBy, (IEnumerable<SelectListItem>)ViewBag.SelectedOrderBy, new { @class = "form-control selectedorderBy" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Generate by", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedGenerateBy, (IEnumerable<SelectListItem>)ViewBag.SelectedGenerateBy, new { @class = "form-control selectedGeneratedBy" })
                    </div>
                    @Html.Label("Merit by", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedMeritBy, (IEnumerable<SelectListItem>)ViewBag.SelectedMeritBy, new { @class = "form-control SelectedMeritBy" })
                    </div>
                </div>
                @*<div class="form-group">
                   
                    @Html.Label("Attendance by", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedAttendanceTypes, (IEnumerable<SelectListItem>)ViewBag.AttendanceTypes, new { @class = "form-control SelectedAttendanceTypes" })
                    </div>
                </div>*@
                
                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information to View</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                        <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                            <option value="Program Roll">Program Roll</option>
                            <option value="Nick Name">Nick Name</option>
                            <option value="Full Name">Full Name</option>
                            <option value="Institute">Institute</option>
                            <option value="Father Name">Father's Name</option>
                            <option value="Mobile Number(Personal)">Mobile Number(Student)</option>
                            <option value="Mobile Number(Father)">Mobile Number(Father)</option>
                            <option value="Mobile Number(Mother)">Mobile Number(Mother)</option>
                            <option value="Branch">Branch</option>
                            <option value="Campus">Campus</option>
                            <option value="Batch">Batch</option>
                            <option value="Exam Name">Exam Name</option>
                            <option value="Full Marks">Full Marks</option>
                            <option value="MCQ Marks">MCQ Marks</option>
                            <option value="Written Marks">Written Marks</option>
                            <option value="Total Marks">Total Marks</option>
                            <option value="Highest Marks">Highest Marks</option>
                            <option value="Percent Marks">Percent Marks</option>
                            <option value="Average Marks">Average Marks</option>
                            <option value="Branch Merit">Branch Merit</option>
                            <option value="Central Merit">Central Merit</option>
                            <option value="Total Participant">Total Participant</option>
                            @*<option value="Total Student">Total Student</option>*@
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Generate" class="btn btn-primary" id="meritListGenerationBtn" />
                    </div>
                </div>
            </div>

        }

    </div>
</div>
<div class="hidden">
    @Html.Hidden("hiddenFinalListConvertToJson",ViewData["hiddenFinalListConvertToJson"])
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Student/Attendance/attendanceReport.js"></script>
    <script src="~/Scripts/Exam/MeritList.js"></script>
}