﻿@model IEnumerable<UdvashERP.BusinessModel.ViewModel.ExamModuleView.ReportMeritList>
@Styles.Render("~/Content/styledatatable")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MeritList Pdf Generation</title>
</head>
<body>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div style="">
                <div>
                    <p style="text-align: center">
                        <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                        <span style="text-align: center;font-size: 20px"></span>
                    </p>
                    @{
                        if (ViewBag.ProgramSession != null)
                        {
                            <p style="text-align: center">@ViewBag.ProgramSession</p>
                        }
                    }
                    <p style="text-align: center"><span style="text-align: center;font-size: 16px">Merit List</span></p>
                </div>

            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center">

                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right">Branch :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Branch != null)
                            {@ViewBag.Branch}
                        </td>
                        <td style="text-align: right">Campus :</td>
                        <td style="text-align: left">
                            @if (ViewBag.CampusName != null)
                            { @ViewBag.CampusName}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Batch Days :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchDays != null)
                            {@ViewBag.BatchDays}
                        </td>
                        <td style="text-align: right">Batch Name :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchName != null)
                            {@ViewBag.BatchName}
                        </td>

                    </tr>
                </table>

            </div>
            <div class="col-md-4"></div>

        </div>
    </div>

    <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                @if (ViewBag.informationViewList != null)
                {
                    foreach (string informationView in ViewBag.informationViewList)
                    {
                        <th>@informationView</th>
                    }
                }
                else
                {
                    <th>
                        @Html.DisplayNameFor(model => model.ProgramId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NickName)
                    </th>
                }

            </tr>
        </thead>
        <tbody class="text-center"></tbody>
    </table>

</body>
</html>
<div class="hiddenField">
    @Html.Hidden("MeritListObj", ViewData["MeritListObj"])
    @Html.Hidden("GenerateBy", ViewData["GenerateBy"])
    @Html.Hidden("Gender", ViewData["Gender"])
    @Html.Hidden("OrderBy", ViewData["OrderBy"])
    @Html.Hidden("ExampType", ViewData["selectedExampTypes"])
    @Html.Hidden("AttendanceType", ViewData["selectedAttendanceTypes"])
    @Html.Hidden("SelectedMeritBy", ViewData["selectedMeritBy"])

</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
@Scripts.Render("~/bundles/datatable")
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
<script src="~/Scripts/Exam/MeritList.js"></script>
<script type="text/javascript" class="init">

    $(document).ready(function () {
        function dataTableRender() {
            var pageSize = 10;

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bPaginate": false,
                "lengthChange": false,
                "ordering": false,
                "info":     false,
                //"bLengthChange": false,
                //"iDisplayLength": pageSize,
                stateSave: false,
                //order: [[0, "asc"]],
                ajax: {
                    url: 'GeneratePdf',
                    type: 'POST',
                    data: function (d) {
                        d.MeritListObj = $('#MeritListObj').val();
                        d.selectedGenerateBy = $('#GenerateBy').val();
                        d.selectedGender = $('#Gender').val();
                        d.selectedOrderBy = $('#OrderBy').val();
                        d.selectedExamType = $('#ExampType').val();
                        d.selectedAttendanceType = $('#AttendanceType').val();
                        d.selectedMeritBy = $("#SelectedMeritBy").val();
                        //d.finalMeritListFromView = $("#hiddenFinalListConvertToJson").val();
                    }
                }
            });
        }
        dataTableRender();
    });
</script>


