﻿@model IEnumerable<UdvashERP.BusinessModel.ViewModel.ExamModuleView.ReportMeritList>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "MeritList";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="prn" type="text" class="form-control" placeholder="Progam Roll">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="PageSize" placeholder="10">
                </div>
                <button type="button" class="btn btn-primary" id="searchBtn">Show</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                @*<li class="active">
                        <div class="form-group">
                            <input class="btn btn-danger" id="deleteBtn" value="Delete" style="margin-top: 8px;padding-right: 5px;" />
                        </div>
                    </li>*@
                <li class="active">
                    <div class="form-group">
                        <button class="btn btn-danger" id="pdfBtn" value="pdf" style="margin-top: 8px; margin-right: 5px;">PDF</button>
                    </div>
                </li>
                <li class="">
                    <div class="form-group">
                        <button class="btn btn-primary" id="excelBtn" value="Export" style="margin-top: 8px; margin-right: 5px;">Export</button>

                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"> Generate Merit List</h4>
    </div>
    <div class="panel-body" id="MeritListReportprint">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div style="">
                    <div>
                        <p style="text-align: center">
                            @*<span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>*@
                            <span style="text-align: center;font-size: 20px">@ViewBag.OrganizationName</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>
                        @{
                            if (ViewBag.ProgramSession != null)
                            {
                                <p style="text-align: center">@ViewBag.ProgramSession</p>
                            }
                        }

                        <p style="text-align: center"><span style="text-align: center;font-size: 16px">Merit List</span></p>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-12">
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right">Branch :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Branch != null)
                            {@ViewBag.Branch}
                        </td>
                        <td style="text-align: right">Campus :</td>
                        <td style="text-align: left">
                            @if (ViewBag.CampusName != null)
                            { @ViewBag.CampusName}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Batch Days :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchDays != null)
                            {@ViewBag.BatchDays}
                        </td>
                        <td style="text-align: right">Batch Name :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchName != null)
                            {@ViewBag.BatchName}
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>


                    @if (ViewBag.informationViewList != null)
                    {
                        foreach (string informationView in ViewBag.informationViewList)
                        {
                            <th>@informationView</th>
                        }
                    }
                    else
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.ProgramId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NickName)
                        </th>
                    }

                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
<div class="hiddenField">
    @Html.Hidden("MeritListObj", ViewData["MeritListObj"])
    @Html.Hidden("GenerateBy", ViewData["GenerateBy"])
    @Html.Hidden("Gender", ViewData["Gender"])
    @Html.Hidden("OrderBy", ViewData["OrderBy"])
    @Html.Hidden("ExampType", ViewData["selectedExampTypes"])
    @Html.Hidden("AttendanceType", ViewData["selectedAttendanceTypes"])
    @Html.Hidden("SelectedMeritBy", ViewData["selectedMeritBy"])

</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Exam/MeritList.js"></script>
    <script type="text/javascript" class="init">
        function dataTableRender() {
            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                order: [[0, "asc"]],
                ajax: {
                    url: 'GenerateMeritListPost',
                    type: 'POST',
                    data: function (d) {
                        d.MeritListObj = $('#MeritListObj').val();
                        d.selectedGenerateBy = $('#GenerateBy').val();
                        d.selectedGender = $('#Gender').val();
                        d.selectedOrderBy = $('#OrderBy').val();
                        d.selectedExamType = $('#ExampType').val();
                        d.selectedAttendanceType = $('#AttendanceType').val();
                        d.selectedMeritBy = $("#SelectedMeritBy").val();
                        d.prn = $('#prn').val();
                        //d.finalMeritListFromView = $("#hiddenFinalListConvertToJson").val();
                    }
                }
            });
        }
        $(document).on("click", "#searchBtn", function () {
            console.log($("#prn").val());
            dataTableRender();
        });

        $(document).ready(function () {

            dataTableRender();

            $(document).on("click", "#excelBtn", function () {
                var urlParam = {
                    programSessionHeader: '@ViewBag.ProgramSession',
                    branchNameHeader: '@ViewBag.Branch',
                    campusNameHeader: '@ViewBag.CampusName',
                    batchDaysHeader: '@ViewBag.BatchDays',
                    batchNameHeader: '@ViewBag.BatchName',
                    MeritListObj: $('#MeritListObj').val(),
                    selectedGenerateBy: $('#GenerateBy').val(),
                    selectedGender: $('#Gender').val(),
                    selectedOrderBy: $('#OrderBy').val(),
                    selectedExamType: $('#ExampType').val(),
                    selectedAttendanceType: $('#AttendanceType').val(),
                    selectedMeritBy: $('#SelectedMeritBy').val()
                };
                var url = "/Exam/MeritListGeneration/MeritListExcelGeneration";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                console.log(url);
                console.log($('#MeritListObj').val());
                window.open(url);
            });

            $(document).on("click", "#pdfBtn", function () {
                var urlParam = {
                    programSessionHeader: '@ViewBag.ProgramSession',
                    branchNameHeader: '@ViewBag.Branch',
                    campusNameHeader: '@ViewBag.CampusName',
                    batchDaysHeader: '@ViewBag.BatchDays',
                    batchNameHeader: '@ViewBag.BatchName',
                    MeritListObj: $('#MeritListObj').val(),
                    selectedGenerateBy: $('#GenerateBy').val(),
                    selectedGender: $('#Gender').val(),
                    selectedOrderBy: $('#OrderBy').val(),
                    selectedExamType: $('#ExampType').val(),
                    selectedAttendanceType: $('#AttendanceType').val(),
                    selectedMeritBy: $('#SelectedMeritBy').val()
                };
                var url = "/Exam/MeritListGeneration/MeritListPdfGeneration";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                console.log(url);
                console.log($('#MeritListObj').val());
                window.open(url);
            });


        });

    </script>

}
