﻿

<ul class="breadcrumb">
    @if (ViewContext.RouteData.DataTokens.Count > 0)
    {
        if (ViewContext.RouteData.Values["controller"].ToString() != "")
        {
            if (ViewContext.RouteData.Values["action"].ToString() != "Index")
            {
                @*<li>@Html.ActionLink(ViewContext.RouteData.DataTokens["area"].ToString(), "Index", new { area = ViewContext.RouteData.DataTokens["area"].ToString(), controller = "Session" })</li>
                    <li>@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", new { area = ViewContext.RouteData.DataTokens["area"].ToString(), controller = ViewContext.RouteData.Values["controller"].ToString() })</li>*@
                @*<li> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())</li>*@
                <li class="active">
                    @if (ViewContext.RouteData.DataTokens["area"] != null)
                    {
                        @ViewContext.RouteData.DataTokens["area"].ToString()
                    }

                </li>
                <li class="active">@ViewContext.RouteData.Values["controller"].ToString()</li>
                <li class="active">@ViewContext.RouteData.Values["action"].ToString()</li>
            }
            else
            {
                @*<li>@Html.ActionLink(ViewContext.RouteData.DataTokens["area"].ToString(), "Index", new { area = ViewContext.RouteData.DataTokens["area"].ToString(), controller = "Session" })</li>*@
                <li class="active">
                    @if (ViewContext.RouteData.DataTokens["area"] != null)
                    { @ViewContext.RouteData.DataTokens["area"].ToString()}

                </li>

                <li class="active">
                    @ViewContext.RouteData.Values["controller"].ToString()
                </li>
            }
        }
        else
        {
            <li class="active">@ViewContext.RouteData.DataTokens["area"].ToString()</li>
        }
    }
    else
    {
        if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
        {
            if (ViewContext.RouteData.Values["action"].ToString() != "Index")
            {
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())</li>*@
                <li class="active">Home</li>
                <li class="active">@ViewContext.RouteData.Values["controller"].ToString()</li>
                <li class="active">@ViewContext.RouteData.Values["action"].ToString()</li>
            }
            else
            {
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                <li class="active">Home</li>
                <li class="active">@ViewContext.RouteData.Values["controller"].ToString()</li>
            }
        }
        else
        {
            <li class="active">Home</li>
        }
    }

</ul>