﻿@using UdvashERP.BusinessModel.Dto.Exam
@functions{
    public string engToBn(string engNumber)
    {
        var replace_array = new List<string> { "১", "২", "৩", "৪", "৫", "৬", "৭", "৮", "৯", "০" };
        var search_array = new List<string> { "1", "2", "3", "4", "5", "6", "7", "8", "9", "0" };

        for (var i = 0; i < search_array.Count; i++)
        {
            if (engNumber.Contains(search_array[i]))
            {
                engNumber = engNumber.Replace(search_array[i], replace_array[i]);
            }
        }

        return engNumber;
    }
}
@{
    ViewBag.Title = "Correct Answer";
    Layout = null;
    ExamMcqQuestionSetPdfDto data = ViewBag.ExamMcqQuestionSetPdfDto;
    //List<Question> questionList = ViewBag.Questions;
    //Exams examInformation = ViewBag.Exam;

    //var fullmarks_bn = data.Fullmarks;
    //var durationHour_bn = data.DurationHour;
    //var durationMinute_bn = data.DurationMinute;


    //for (var i = 0; i < search_array.Count; i++)
    //{
    //    if (fullmarks_bn.Contains(search_array[i]))
    //    {
    //        fullmarks_bn = fullmarks_bn.Replace(search_array[i], replace_array[i]);
    //    }
    //    if (durationHour_bn.Contains(search_array[i]))
    //    {
    //        durationHour_bn = durationHour_bn.Replace(search_array[i], replace_array[i]);
    //    }
    //    if (durationMinute_bn.Contains(search_array[i]))
    //    {
    //        durationMinute_bn = durationMinute_bn.Replace(search_array[i], replace_array[i]);
    //    }
    //}

    var url = Request.Url.Scheme + Uri.SchemeDelimiter + Request.Url.Host + ":" + Request.Url.Port;
    var textFontSize = (double)ViewBag.textFontSizeInt;
    var eqFontSize = (double)ViewBag.eqFontSizeInt;

    if (textFontSize >= eqFontSize - 1.1)
    {
        textFontSize = textFontSize - 0.1;
    }
    else
    {
        eqFontSize = eqFontSize - 0.1;
    }
    var targetPage = ViewBag.targetPage;

    int bannerMarginTop = 0;
    int firstPageMarginTop = 2;
    int firsPageHeight = 276 - bannerMarginTop;
    int firsPageFirstColumnHeight = firsPageHeight - firstPageMarginTop;
    int firsPageSecondColumnHeight = firsPageHeight - firstPageMarginTop;

    int nextPageMarginTop = 2;
    int nextPageHeight = 291;
    int nextPageFirstColumnHeight = nextPageHeight - nextPageMarginTop;
    int nextPageSecondColumnHeight = nextPageHeight - nextPageMarginTop;


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
             body { width:197.6mm; margin: auto;  /*font-size: 4mm;*/ }
            .math-tex{ font-size: @ViewBag.eqFontSize }
            .banner {
                border-bottom: 1px black solid; font-weight:bold; font-size:4mm;margin-top: @(bannerMarginTop + "mm");
            }
            .firsPage { width: 100%; height: @(firsPageHeight + "mm"); overflow: hidden;  }
            .nextPage { width: 100%; height: @(nextPageHeight + "mm"); page-break-before: always; overflow: hidden;   }

            .firsPage .columnCustomFirst { width: 49%; height: @(firsPageFirstColumnHeight + "mm"); margin-right: 1%; float: left; margin-top: @(firstPageMarginTop + "mm") }
            .firsPage .columnCustomSecoond {  width: 48%; height: @(firsPageSecondColumnHeight + "mm"); padding-left: 1%; float: left; border-left:solid 1px black; margin-top:  @(firstPageMarginTop + "mm")}

            .nextPage .columnCustomFirst { width: 49%; height: @(nextPageFirstColumnHeight + "mm"); margin-right: 1%; float: left;margin-top: @(nextPageMarginTop + "mm"); }
            .nextPage .columnCustomSecoond {  width: 48%; height: @(nextPageSecondColumnHeight + "mm"); padding-left: 1%; float: left; border-left:solid 1px black;margin-top: @(nextPageMarginTop + "mm"); }

            .list-group { padding-left: 0; margin-bottom: 0px; }
            ul, ol {  margin-top: 0; margin-bottom: 0px;}
            .list-group-item:last-child { margin-bottom: 0;}

            .list-group-item {  display: list-item; padding: 0px 0px; margin-bottom: 0px; background-color: none; border: none;
                position: relative; display: inline-block; width: 23.5%; /*overflow: hidden;*/ }
            p { margin: 0;padding: 0; }
            .options { margin-top: 1mm; }
            .option {white-space: nowrap;}
            .question { position: relative; display: inline-block; overflow: visible; margin-bottom: 2mm;vertical-align: top; }
            /*p { text-align: justify;  }*/
            .optionNumbering {
                float: left; width: 30%;
            }
            .option {
                float: left; width: 70%;
            }
    </style>

    <script type="text/javascript" src="@url/Content/mathjax/MathJax.js?config=TeX-AMS-MML_SVG"></script>
</head>
<body style="font-size:@ViewBag.textFontSize" data-textfontsize="@textFontSize" data-eqfontsize="@eqFontSize" data-target-page="@targetPage"
      data-examid="@ViewBag.examId" data-setid="@ViewBag.setId" data-version="@ViewBag.version" data-unique-set="@ViewBag.uniqueSet" data-show-correct-answer="@ViewBag.ShowCorrectAnswer">
    @{
        if (data != null)
        {
            <div class="banner" style="">
                <div style="float: left; width: 25%; text-align: left; padding-top: 8mm;">
                    @if (ViewBag.version == 1)
                    {
                        <span>পূর্ণমান: @engToBn(data.Fullmarks)</span>
                    }
                    else
                    {
                        <span>Full Marks: @data.Fullmarks</span>
                    }
                    <img src="@ViewBag.Barcode" style="width: 12mm; height: 12mm; margin-left: 5mm;" />
                </div>
                <div style="float: left; width: 50%; text-align: center; font-size: 7mm;">
                    <img src="@url/Content/Image/logo_udvashito_mukh.png" style="width: 80%; " />
                    @*<span style="font-size:1mm;">t:@textFontSize e:@eqFontSize</span>*@
                    @*<span>@examInformation.Program.Name - @examInformation.Session.Name</span>*@
                </div>
                <div style="float: left; width: 25%; text-align: right; padding-top: 8mm;">
                    @if (ViewBag.version == 1)
                    {
                        <span>সময়: @engToBn(data.DurationHour) ঘণ্টা @engToBn(data.DurationMinute) মিনিট</span>
                    }
                    else
                    {
                        <span>Time: @data.DurationHour<span>hr</span> @data.DurationMinute<span>min</span></span>
                    }

                </div>
                <div style="clear: both;"></div>
            </div>

            if (data.QuestionList.Any())
            {
                <div class="questionPages">

                    <div style="" class="firsPage">

                        <div style="" class="columnCustomFirst">
                            @{
                int i = 0;
                foreach (var q in data.QuestionList)
                {
                    var num = "";
                    i++;
                    num = i < 10 ? "0" + i.ToString() : i.ToString();

                    <div style="width: 100%;" class="question">
                        @*@if (ViewBag.version == 1)
                            {
                               <div class="questionNumbering" style="float: left; width: 7%;">@engToBn(num)<span>)</span></div>
                            }
                            else
                            {*@
                        <div class="questionNumbering" style="float: left; width: 7%;">@num<span>.</span></div>
                        @*}*@
                        <div class="questionBody" style="float: left; width: 93%;">
                            <div class="mainQuestion">
                                @Html.Raw(q.QuestionText)
                            </div>
                            <ol class=" list-group options" style="padding-left: 0px;">
                                @{
                    if (!string.IsNullOrEmpty(q.OptionA))
                    {
                        <li class="list-group-item" style="">
                            @if (q.CorrectAnswer.ToUpper().Contains("A"))
                            {
                                <div class="optionNumbering" style="">
                                    <span><strong>✓(a)</strong></span>
                                </div>
                                <div class="option" style="font-weight: bold;background-color:#c4c1c1;">@Html.Raw(q.OptionA)</div>
                            }
                            else
                            {
                                <div class="optionNumbering" style="">
                                    <span>(a)</span>
                                </div>
                                <div class="option" style="">@Html.Raw(q.OptionA)</div>
                            }
                        </li>
                    }
                    if (!string.IsNullOrEmpty(q.OptionB))
                    {
                        <li class="list-group-item" style="">
                            @if (q.CorrectAnswer.ToUpper().Contains("B"))
                            {
                                <div class="optionNumbering" style="">
                                    <span style=""><strong>✓(b)</strong></span>
                                </div>
                                <div class="option" style="font-weight: bold;background-color:#c4c1c1;">@Html.Raw(q.OptionB)</div>
                            }
                            else
                            {
                                <div class="optionNumbering" style="">
                                    <span>(b)</span>
                                </div>
                                <div class="option" style="">@Html.Raw(q.OptionB)</div>
                            }
                            <div style="clear: both;"></div>
                        </li>
                    }
                    if (!string.IsNullOrEmpty(q.OptionC))
                    {
                        <li class="list-group-item" style="">
                            @if (q.CorrectAnswer.ToUpper().Contains("C"))
                            {
                                <div class="optionNumbering" style="">
                                    <span><strong>✓<span style="">(c)</span></strong></span>
                                </div>
                                <div class="option" style="font-weight: bold;background-color:#c4c1c1;">@Html.Raw(q.OptionC)</div>
                            }
                            else
                            {
                                <div class="optionNumbering" style="">
                                    <span>(c)</span>
                                </div>
                                <div class="option" style="">@Html.Raw(q.OptionC)</div>
                            }
                            <div style="clear: both;"></div>
                        </li>
                    }
                    if (!string.IsNullOrEmpty(q.OptionD))
                    {
                        <li class="list-group-item" style="">
                            @if (q.CorrectAnswer.ToUpper().Contains("D"))
                            {
                                <div class="optionNumbering" style="">
                                    <span><strong>✓(d)</strong></span>
                                </div>
                                <div class="option" style="font-weight: bold; background-color:#c4c1c1;">@Html.Raw(q.OptionD)</div>
                            }
                            else
                            {
                                <div class="optionNumbering" style="">
                                    <span>(d)</span>
                                </div>
                                <div class="option" style="">@Html.Raw(q.OptionD)</div>
                            }
                            <div style="clear: both;"></div>
                        </li>
                    }
                    if (!string.IsNullOrEmpty(q.OptionE))
                    {
                        <li class="list-group-item" style="">
                            @if (q.CorrectAnswer.ToUpper().Contains("E"))
                            {
                                <div class="optionNumbering" style="">
                                    <span><strong>✓(e)</strong></span>
                                </div>
                                <div class="option" style="font-weight: bold;background-color:#c4c1c1;">@Html.Raw(q.OptionE)</div>
                            }
                            else
                            {
                                <div class="optionNumbering" style="">
                                    <span>(e)</span>
                                </div>
                                <div class="option" style="">@Html.Raw(q.OptionE)</div>
                            }
                            <div style="clear: both;"></div>
                        </li>
                    }
                                }
                            </ol>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                }
                            }
                        </div>

                        <div style="" class="columnCustomSecoond">

                        </div>

                        <div style="clear: both;"></div>


                    </div>
                    <div style="text-align: right; height: 4mm; padding-right:5mm; font-weight:bold; font-size:2mm;" class="pageCount">1</div>

                </div>
                @*<div style="page-break-before: always; margin: 0 auto; text-align: center;">
                        <img src="@url/Content/Image/OMR_final.png" style="width: 98%; margin: 0 auto; text-align: center;" />
                    </div>
                    <div style="page-break-before: always; margin: 0 auto; text-align: center;">
                        <p style="width:100%; text-align:center; font-weight:bold;"><u>রাফ</u></p>
                    </div>*@

            }
            else
            {
                <div style="page-break-before: always; margin: 0 auto; text-align: center;">
                    No question found.
                </div>
            }
        }

        else
        {
            <div style="border-bottom: 1px black solid;">
                <div style="float: left; width: 40%; text-align: center;">
                    Invalid Exam
                </div>
                <div style="clear: both;"></div>
            </div>
        }
    }
    <script src="@url/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@url/Scripts/Exam/pdfScript.js"></script>

</body>



</html>


