﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .math-tex{
            font-size: 5mm;
        }
    </style>
</head>

<body style=" width:197.6mm; /*height:29.7cm;*/   margin: auto;    /*border-style:outset;*/ font-size: 5mm;">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
