﻿@using UdvashERP.App_code
@using Microsoft.AspNet.Identity
@using UdvashERP.BusinessModel.Entity.UserAuth
@using UdvashERP.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="0;URL='http://dev.umsbd.net/'" /> -->
    @{
        var isMobile = "";
        var mobileModel = "";
        if (Request.Browser.IsMobileDevice == true)
        {
            isMobile = "[M] ";
            mobileModel = ", " + Request.Browser.MobileDeviceModel;
        }
    }
    @if (Request.IsAuthenticated)
    {
        <title>@isMobile@ErpInfo.ErpName - @ViewBag.Title [@Request.Browser.Browser @Request.Browser.Version, @Request.Browser.Platform@mobileModel]  [@DateTime.Now.ToString("HH:mm:ss")] [@Request.UserHostAddress] - @User.FullName()</title>
    }
    else
    {
        @*<title>@isMobile@ErpInfo.ErpName - @ViewBag.Title [@Request.Browser.Browser @Request.Browser.Version, @Request.Browser.Platform@mobileModel] [@DateTime.Now.ToString("HH:mm:ss")] [@Request.UserHostAddress]</title>*@
        <title>@isMobile@ErpInfo.ErpName - @ViewBag.Title</title>
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript">
        //This block execute after every ajax call
        //If the ajax call return login error then this
        //function redirect the user to login page.
        $(document).ajaxComplete(function (xhr, status) {
            if (status.getResponseHeader("X-Responded-JSON") != null) {
                var obj = jQuery.parseJSON(status.getResponseHeader("X-Responded-JSON"));
                //console.log(obj.status);
                //console.log(obj.headers['location']);
                //console.log(obj.headers['location'].substr(0, obj.headers['location'].indexOf('?')));
                if (obj.status == 401) {
                    //window.location.assign(obj.headers['location']);
                    window.location.assign(obj.headers['location'].substr(0, obj.headers['location'].indexOf('?')));
                }
            }
        });

        function mobileCheck(mobileNumber) {
            mobileNumber = mobileNumber.replace(/\W+/g, "");
            var chkVal = mobileNumber.match(/^(?:\+?88)?0?1[15-9]\d{8}$/);
            if (chkVal != null) {
                if (mobileNumber.length == 11) {
                    chkVal = '88' + chkVal;
                }
                else if (mobileNumber.length == 10) {
                    chkVal = '880' + chkVal;
                }
                var chkVal = mobileNumber.match(/^(?:\+?88)?01[15-9]\d{8}$/);
                if (chkVal != null) {
                    if (mobileNumber.length == 11) {
                        chkVal = '88' + chkVal;
                    }
                    else if (mobileNumber.length == 10) {
                        chkVal = '880' + chkVal;
                    }
                }
                //alert(chkVal);
            }
            return chkVal;
        }

        if (!String.prototype.trim) {
            String.prototype.trim = function () {
                return this.replace(/^\s+|\s+$/g, '');
            };
        }

        function showErrorMessageBelowCtrl(ctrlId, message, show) {

            var divHtml = '<div style="color:red;" id="' + ctrlId + '_err_div" >' + message + '</div>';

            if (show == true) {
                $('#' + ctrlId).addClass("highlight");
                $('#' + ctrlId).after(divHtml);
            } else {
                $('#' + ctrlId).removeClass("highlight");
                $('#' + ctrlId + '_err_div').remove();
            }
        }

        function validateTextField(controlId, errorMessage) {

            $(document).on("input propertychange", "#" + controlId, function (event) {

                var value = $("#" + controlId).val().trim();
                if (value.length == 0) {
                    showErrorMessageBelowCtrl(controlId, "", false);
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                    return false;
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }
        function validateDropDownField(controlId, targetId, errorMessage) {

            $(document).on("change", "#" + controlId, function (event) {

                var val = $("#" + targetId).val();
                if (val.length == 0) {
                    //showErrorMessageBelowCtrl(controlId, "", false);
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }

        function validateDropDownField(controlId, errorMessage) {

            $(document).on("change", "#" + controlId, function (event) {

                var val = $("#" + controlId).val();
                if (val.length == 0) {
                    showErrorMessageBelowCtrl(controlId, "", false);
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }

        function validateListField(controlId, errorMessage) {

            $(document).on("change", "#" + controlId, function (event) {
                var val = $("#" + controlId).val();
                if (val == null || val.length == 0) {
                    showErrorMessageBelowCtrl(controlId, "", false);
                    showErrorMessageBelowCtrl(controlId, errorMessage, true);
                } else {
                    showErrorMessageBelowCtrl(controlId, "", false);
                }
            });
        }

        $(document).ready(function () {

            $("select").change(function () {
                if ($(this).val() != "") {
                    $(this).parent().find(".field-validation-error-count").remove();
                    $(this).next('span').empty();
                }

                else {
                    //$(this).parent().find(".field-validation-error-count").remove();
                    $(this).parent().remove("span");
                    $(this).parent().append("<span class='text-danger field-validation-error' style='color:red'></span>");
                }
            });

            $(document).on("input propertychange", ".numbersOnly", function (event) {
                var valStr = $(this).val();
                var id = $(this).attr("id");
                var val = parseInt(valStr);
                showErrorMessageBelowCtrl(id, "", false);
                if (isNaN(val)) {
                    $(this).val("");
                }
                else if (val < 0) {
                    $(this).val("");
                    showErrorMessageBelowCtrl(id, "Please enter valid amount", true);
                } else {
                    $(this).val(val);
                }
            });

        });

        function scrollToElement(selector) {
            var s = $(selector);
            if (s != undefined)
                $(document.body).scrollTop($(selector).offset().top - 120);
        }

    </script>
    @Scripts.Render("~/bundles/modernizr")
</head>

<body data-project-root="@Url.Content("~")">
    @if (ErpInfo.ErpName.Contains("DEV") == true || ErpInfo.ErpName.Contains("DEMO") == true)
    {
        <style>
            .navbar{
                background-color:#550000;
            }
            .breadcrumb{
                background-color:#550000;
            }
            .panel-primary {
                border-color: #550000;
            }
            .panel-primary > .panel-heading {
                color: #ffffff;
                background-color: #550000;
                border-color: #550000;
            }
            /*
            .btn-primary {
                color: #ffffff;
                background-color: #550000;
                border-color: #550000;
            }
            */
            a {
                color: #550000;
                text-decoration: none;
            }
        </style>
    }
    else if (ErpInfo.ErpName.Contains("ORG") == true)
    {
        <style>
            .navbar {
                background-color: #022E54;
            }
            .breadcrumb {
                background-color: #022E54;
            }
            .panel-primary {
                border-color: #022E54;
            }
                .panel-primary > .panel-heading {
                    color: #ffffff;
                    background-color: #022E54;
                    border-color: #022E54;
                }
            /*
            .btn-primary {
                color: #ffffff;
                background-color: #550000;
                border-color: #550000;
            }
            */
            a {
                color: #022E54;
                text-decoration: none;
            }
        </style>
    }
    else
    {
        <style>
            .navbar {
                background-color: #2F1031;
            }
            .breadcrumb {
                background-color: #2F1031;
            }
            .panel-primary {
                border-color: #2F1031;
            }
                .panel-primary > .panel-heading {
                    color: #ffffff;
                    background-color: #2F1031;
                    border-color: #2F1031;
                }
            /*
            .btn-primary {
                color: #ffffff;
                background-color: #550000;
                border-color: #550000;
            }
            */
            a {
                color: #2F1031;
                text-decoration: none;
            }
        </style>
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ErpInfo.ErpName + " " + ErpInfo.ErpVersion, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menuGroup">
                    @*<li><a href="#" id="administration">Administration</a></li>
                        <li><a href="#" id="student">Student</a></li>*@
                    @Html.Partial("~/Views/Shared/_MenuGroup.cshtml")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="min-height: 75vh;">
        @*<div class="customMessage text-center">
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>UMSBD</strong> updated from version <strong>4.35</strong> to <strong>4.36</strong>.
                </div>
            </div>*@
        @if (Request.IsAuthenticated == false)
        {
            <div class="col-md-12 sidebar-offcanvas" id="bodyContent" role="navigation">
                <br />
                <div class="customMessage text-center">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Error!</strong> @ViewBag.ErrorMessage
                        </div>
                    }

                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Success!</strong> @ViewBag.SuccessMessage
                        </div>
                    }

                    @if (ViewBag.InfoMessage != null)
                    {
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Info! </strong>@ViewBag.InfoMessage
                        </div>
                    }

                    @if (ViewBag.WarningMessage != null)
                    {
                        <div class="alert alert-warning">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Warning! </strong>@ViewBag.WarningMessage
                        </div>
                    }
                </div>
                @RenderBody()
            </div>
        }
        else
        {
            <div class="col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" style="padding-right:0px;padding-left:0px;">
                <br />
                @Html.Partial("~/Views/Shared/_Menu.cshtml")
            </div>
            <div class="col-md-10 sidebar-offcanvas" id="bodyContent" role="navigation" style="padding-right:0px;">
                <br />
                @Html.Partial("~/Views/Shared/_BreadCrumb.cshtml")

                <div class="customMessage text-center">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        string st = ViewBag.ErrorMessage;
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Error!</strong> @Html.Raw(st.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                        </div>
                    }

                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Success!</strong> @ViewBag.SuccessMessage
                        </div>
                    }

                    @if (ViewBag.InfoMessage != null)
                    {
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Info! </strong>@ViewBag.InfoMessage
                        </div>
                    }

                    @if (ViewBag.WarningMessage != null)
                    {
                        <div class="alert alert-warning">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Warning! </strong>@ViewBag.WarningMessage
                        </div>
                    }
                </div>
                <div id="main-body-content">
                    @RenderBody()    
                </div>
            </div>
        }
    </div>
    <div class="container body-content"><hr /></div>
    <div class="container body-content">
        <div class="col-md-12 text-center">
            <footer>
                <p>
                    &copy; @DateTime.Now.Year - @ErpInfo.ErpName | Powered By -
                    @if (ErpInfo.ErpName.Contains("ORG"))
                    {
                        <a href="https://onnorokomsoftware.com" target="_blank">OnnoRokom Software Ltd.</a>
                    }
                    else
                    {
                        <a href="https://umsbd.net">Umsbd.net</a>
                    }
                </p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CommonJs")
    @RenderSection("scripts", required: false)
    @RenderSection("partialScripts", required: false)
    @if (ErpInfo.ErpName.Contains("DEV") == false && ErpInfo.ErpName.Contains("DEMO") == false)
    {
        //TRACKING CODE FOR INTEGRATED ERP

            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-42339180-6', 'auto', { 'allowLinker': true });
                ga('send', 'pageview');
                ga('require', 'linker');
                ga('linker:autoLink', ['orgbd.net', 'umsbd.net', 'unmeshbd.com', 'public.udvash.com'], false, true);

            </script>

        //TRACKING CODE FOR INTEGRATED ERP
    }
</body>
</html>
