﻿@using Microsoft.AspNet.Identity
@using UdvashERP.BusinessModel.Entity.UserAuth
@using UdvashERP.Models
<style type="text/css">
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
        background-color:transparent;
    }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
        background-color:transparent;
    }
    .navbar-nav > li > .dropdown-menu{
        margin-top:8px;
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new {Area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {

    @*@Html.AntiForgeryToken()*@

        @*<ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.FullName() + "", "Manage", "Account", new {area = ""}, htmlAttributes: new {title = "Manage"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>*@
        byte[] bytes = User.Image();
        var image = "";
        if (bytes != null)
        {
            string base64String = Convert.ToBase64String(bytes, 0, bytes.Length);
            image = string.Format("data:image/png;base64,{0}", base64String);
        }
        else
        {
            image = "/Content/Image/No_Image.png";
        }
    
    @*<div id='cssmenu'>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href='#'><span>@(User.FullName())</span>&nbsp;<img src="@(image)" class="img-circle" width="40" height="40"></a>
                <ul>
                    <li>@Html.ActionLink("Change Password", "Manage", "Account", new { area = "" }, htmlAttributes: new { title = "Manage" })</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    </div>*@
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="height: 50px; margin-top: -7.5px; overflow: hidden;"> 
                <span>@(User.FullName())</span>&nbsp;<img src="@(image)" class="img-circle" width="35" height="35"> 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Change Password", "Manage", "Account", new { area = "" }, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
}
