﻿


<div class="panel panel-primary menu-group">
    <div class="panel-heading">
        <h4 class="panel-title">
            Student
        </h4>
    </div>
</div>


<ul class="panel-group" id="accordion">
    <li class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title">
                <a href="#">Session </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="@Url.Content("~/Administration/Session/Create")">Add Session</a>
                    </li>
                    <li> 
                        <a href="@Url.Content("~/Administration/Session/Index")">Manage Session</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>

    
</ul>