﻿@using System.Collections
@model UdvashERP.BusinessModel.ViewModel.StudentPersonalDetails

<div class="form-group">
    @Html.LabelFor(model => model.BatchList.StartTime, new { @class = "control-label col-md-2 " })
    <div class="col-md-10 batchTime">
        @Html.DropDownList("batchTime", (IEnumerable<SelectListItem>)ViewBag.BATCHTIME, "Select BatchTime", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.BatchList)
    </div>
</div>
