﻿@using System.Collections
@model UdvashERP.BusinessModel.ViewModel.StudentPersonalDetails

<div class="form-group">
    @Html.LabelFor(model => model.BranchList, new { @class = "control-label col-md-2" })
    <div class="col-md-10 ">
        @Html.DropDownList("branch", (IEnumerable<SelectListItem>)ViewBag.BRANCH, "Select a Branch", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.BranchList)
    </div>
</div>

