﻿@using System.Collections
@model UdvashERP.BusinessModel.ViewModel.StudentPersonalDetails

<div class="form-group">
    @Html.LabelFor(model => model.CampusList, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("campus", (IEnumerable<SelectListItem>)ViewBag.CAMPUS, "Select a Campus", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.CampusList)
    </div>
</div>

@*<div class="batchDaysGenerate">
    <div class="form-group">
        @Html.LabelFor(model => model.BatchList.Days, new { @class = "control-label col-md-2" })
        <div class="col-md-10 batchDays">
            @Html.DropDownList("batchDays", Enumerable.Empty<SelectListItem>(), "Select BatchDays", new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.BatchList)
        </div>
    </div>
</div>
<div class="batchTimeGenerate">
    <div class="form-group">
        @Html.LabelFor(model => model.BatchList.StartTime, new { @class = "control-label col-md-2 " })
        <div class="col-md-10 batchTime">
            @Html.DropDownList("batchTime", Enumerable.Empty<SelectListItem>(), "Select BatchTime", new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.BatchList)
        </div>
    </div>
</div>

<div class="batchNameGenerate">
    <div class="form-group">
        @Html.LabelFor(model => model.BatchList.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10 batchName">
            @Html.DropDownList("batchName", Enumerable.Empty<SelectListItem>(), "Select Batch Name", new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.BatchList)
        </div>
    </div>
</div>*@