﻿@using UdvashERP.BusinessModel.ViewModel
<div class="panel panel-primary">
    <div class="panel-heading">
        Course Details
    </div>
    <br />
    <div class="panel-group" id="CouseCheckList" role="tablist" aria-multiselectable="true">
        @foreach (CourseViewModel course in ViewBag.CourseViewModels)
        {
            long[] idsAry = new long[course.ComplementaryCourses.Count];
            long index = 0;
            string idsStr = "";
            foreach (var complementaryCourse in course.ComplementaryCourses)
            {
                idsStr += complementaryCourse.CompCourse.Id + ",";
                index++;
            }
            IEnumerable<long> ids = course.ComplementaryCourses.Select(x => x.Id);
            //long[] idsAry= ids.ToArray();
            if (course.IsTaken)
            {
                <div class="panel-heading" id="course-@course.Id-container" role="tab" data-toggle="collapse" data-parent="#CouseCheckList" href="#@course.Id" aria-expanded="True" aria-controls="@course.Id" style="background-color:whitesmoke; cursor: pointer; margin-bottom: 10px;">
                    <input type="checkbox" class="course-name-check course-@course.Id" checked="checked" data-course-id="@course.Id" data-course-name="@course.Name"
                           data-maximumsubject="@course.MaxSubject" data-program-id="@course.ProgramId" data-session-id="@course.SessionId"
                           data-officeminsub="@course.OfficeMinSub" data-publicminsubject="@course.PublicMinSubject"
                           data-officeminpayment="@course.OfficeMinPayment" data-publicminpayment="@course.PublicMinPayment" data-isofficecompulsary="@course.IsOfficeCompulsary"
                           data-ispubliccompulsary="@course.IsPublicCompulsary" data-complemetarycourses="@idsStr"
                           readonly="readonly" disabled="disabled" />  @course.Name
                </div>

                <div class="panel-body @course.Name course-@course.Id-subject-container panel-collapse collapse" data-bodyname="@course.Name"
                     style="padding-left: 30px;" id="@course.Id" role="tabpanel" aria-labelledby="headingOne">
                    @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                    {
                        if (courseSubject.IsTaken)
                        {
                            <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                <p>
                                    <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id" data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment" checked="checked" readonly="readonly" disabled="disabled" />
                                    @courseSubject.Name - @courseSubject.Payment.ToString("n0")
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                <p>
                                    <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id" data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment" readonly="readonly" />
                                    @courseSubject.Name - @courseSubject.Payment.ToString("n0")
                                </p>
                            </div>
                        }
                    }
                </div>
            }
            else
            {

                <div class="panel-heading" id="course-@course.Id-container" role="tab" data-toggle="collapse" data-parent="#CouseCheckList" href="#@course.Id" aria-expanded="True" aria-controls="@course.Id" style="background-color:whitesmoke; cursor: pointer; margin-bottom: 10px;">
                    <input type="checkbox" class="course-name-check  course-@course.Id"
                           data-course-id="@course.Id" data-course-name="@course.Name" data-program-id="@course.ProgramId" data-session-id="@course.SessionId"
                           data-maximumsubject="@course.MaxSubject" data-officeminsub="@course.OfficeMinSub" data-publicminsubject="@course.PublicMinSubject"
                           data-officeminpayment="@course.OfficeMinPayment" data-publicminpayment="@course.PublicMinPayment" data-isofficecompulsary="@course.IsOfficeCompulsary"
                           data-ispubliccompulsary="@course.IsPublicCompulsary" data-complemetarycourses="@idsStr"
                           readonly="readonly" />  @course.Name
                </div>
                <div class="panel-body @course.Name course-@course.Id-subject-container panel-collapse collapse" data-bodyname="@course.Name"
                     style="padding-left: 30px;" id="@course.Id" role="tabpanel" aria-labelledby="headingOne">
                    @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                    {
                        <div class="course-@course.Id-subject-@courseSubject.Id-container">
                            <p>
                                <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id" data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment" readonly="readonly" />
                                @courseSubject.Name - @courseSubject.Payment.ToString("n0")
                            </p>
                        </div>
                    }
                </div>

            }
        }
    </div>

</div>

<script>

    $(document).ready(function () {

        $(document).on('click', '.course-name-check', function (event) {
            //alert("course-name-check");
            event.stopPropagation();
            console.log("clicked course");
            var courseId = $(this).attr('data-course-id');
            if (courseId > 0) {
                if ($(this).is(':checked') && $(this).attr('disabled') != 'disabled') {
                    console.log("Entered into checked box");
                    $('.course-' + courseId + '-subjects').each(function (index, value) {
                        $(this).prop('checked', true);
                    });

                    /*complementary check here */
                    var comIdstr = $(this).attr('data-complemetarycourses');
                    var comIds = comIdstr.split(",");
                    console.log(comIdstr);

                    for (var i = 0; i < comIds.length; i++) { //complementary course
                        //console.log(comIds[i]);
                        $(".course-name-check").each(function (ind, val) { //total course list
                            var courseIdinner = $(this).attr("data-course-id");
                            if (courseIdinner == comIds[i]) { // check if this complemenary matches with any course if yes then disable this one.
                                //disable this course along it's subject
                                console.log("disable this course along it's subject");
                                $(this).prop('checked', false);
                                $(this).attr("disabled", true);
                                
                                $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                    $(this).prop('checked', false);
                                    $(this).attr("disabled", true);
                                });
                            }
                        });
                    }

                } else {
                    $('.course-' + courseId + '-subjects').each(function (index, value) {
                        $(this).prop('checked', false);
                    });
                    var comIdstr1 = $(this).attr('data-complemetarycourses');
                    var comIds1 = comIdstr1.split(",");
                    console.log(comIdstr1);
                    //complementary course logic
                    for (var ii = 0; ii < comIds1.length; ii++) { //complementary course
                        $(".course-name-check").each(function (ind, val) { //total course list
                            var courseIdinner = $(this).attr("data-course-id");
                            if (courseIdinner == comIds1[ii]) { // check if this complemenary matches with any course if yes then disable this one.
                                //disable this course along it's subject
                                console.log("enable this course along it's subject");
                                $(this).attr("disabled", false);
                                $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                    $(this).attr("disabled", false);
                                });
                            }
                        });
                    }
                }
            }
        });

        $(document).on('click', '.course-subject-check', function () {
            //alert("course-subject-check");
            console.log("clicked couse subject");
            var courseId = $(this).attr('data-course-id');
            if (courseId > 0) {
                if ($(this).is(':checked') && $(this).attr('disabled') != 'disabled') {
                    $('.course-' + courseId).prop('checked', true);

                    /*complementary check here */
                    var comIdstr = $('.course-' + courseId).attr('data-complemetarycourses');
                    console.log("single subject click " + comIdstr);
                    var comIds = comIdstr.split(",");
                    console.log(comIdstr);

                    for (var i = 0; i < comIds.length; i++) { //complementary course
                        //console.log(comIds[i]);
                        $(".course-name-check").each(function (ind, val) { //total course list
                            var courseIdinner = $(this).attr("data-course-id");
                            if (courseIdinner == comIds[i]) { // check if this complemenary matches with any course if yes then disable this one.
                                //disable this course along it's subject
                                console.log("disable this course along it's subject");
                                $(this).prop('checked', false);
                                $(this).attr("disabled", true);
                                $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                    $(this).prop('checked', false);
                                    $(this).attr("disabled", true);
                                });
                            }
                        });
                    }

                }
                var allUnchecked = true;
                $('.course-' + courseId + '-subjects').each(function (index, value) {
                    if ($(this).prop('checked')) {
                        allUnchecked = false;
                    }
                });
                if (allUnchecked) {
                    $('.course-' + courseId).prop('checked', false);

                    var comIdstr1 = $('.course-' + courseId).attr('data-complemetarycourses');
                    var comIds1 = comIdstr1.split(",");
                    console.log(comIdstr1);
                    //complementary course logic
                    for (var ii = 0; ii < comIds1.length; ii++) { //complementary course
                        $(".course-name-check").each(function (ind, val) { //total course list
                            var courseIdinner = $(this).attr("data-course-id");
                            if (courseIdinner == comIds1[ii]) { // check if this complemenary matches with any course if yes then disable this one.
                                //disable this course along it's subject
                                console.log("diaable this course along it's subject");
                                $(this).attr("disabled", false);
                                $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                    $(this).attr("disabled", false);
                                });
                            }
                        });
                    }
                }
            }
        });

    });

</script>