﻿@using System.Text.RegularExpressions
@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Students
@if (ViewBag.COURSES != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Course Details
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @{
                int i = 1;
            }
            @foreach (Course course in ViewBag.COURSES)
            {
                string courseIdentity = "C" + i++;

                var realCourseName = course.Name;
                var courseNameIdentification = course.Id.ToString();

                <div class="panel panel-default" data-courseidentification="@courseNameIdentification">
                    <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#@courseIdentity" aria-expanded="True" aria-controls="@courseIdentity">
                        <h4 class="panel-title">
                            <a>
                                <span style="font-weight: bold">
                                    <input type="checkbox" class="@courseNameIdentification" data-courseid="@course.Id" data-programid="@course.Program.Id" />  @course.Name
                                </span>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0px; padding-left:20px" id="asdf">
                    <div id="@courseIdentity" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" data-bodyname="@realCourseName" data-courseidentification="@courseNameIdentification">
                            @foreach (var courseSubject in course.CourseSubjects)
                            {
                                <div class="individualSubject">
                                    <input type="checkbox" class="@courseNameIdentification" data-coursesubjectid="@courseSubject.Id" data-subjectname="@courseSubject.Subject.Name" data-payment="@courseSubject.Payment" />
                                    @courseSubject.Subject.Name : @courseSubject.Payment.ToString("n0")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
