﻿<option value>@ViewBag.SelectMessage</option>
@foreach (var option in ViewBag.OptionsData)
{
    if (ViewBag.SelectMessage == "Select Batch Name")
    {
        if (option.Id == ViewBag.SelectedValue)
        {
            if (option.Name.Contains("(0)"))
            {
                <option style="color:orange;" value="@option.Id" selected="selected">@option.Name</option>
            }
            else if (option.Name.Contains("(-"))
            {
                <option style="color:red;" value="@option.Id" selected="selected">@option.Name</option>
            }
            else
            {
                <option style="color:green;" value="@option.Id" selected="selected">@option.Name</option>
            }

        }
        else
        {
            if (option.Name.Contains("(0)"))
            {
                <option style="color:orange;" value="@option.Id">@option.Name</option>
            }
            else if (option.Name.Contains("(-"))
            {
                <option style="color:red;" value="@option.Id">@option.Name</option>
            }
            else
            {
                <option style="color:green;" value="@option.Id">@option.Name</option>
            }

        }
    }
    else
    {
        if (option.Id == ViewBag.SelectedValue)
        {
            <option value="@option.Id" selected="selected">@option.Name</option>
        }
        else
        {
            <option value="@option.Id">@option.Name</option>
        }
    }
}