﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Collection V Due Report";
    var formIsPost = ViewBag.IsPostCollectionVDue;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Collection V Due Report</h4>
    </div>
    <div class="panel-body" id="collectionVDueReport">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12 ">
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                        </div>

                        <div class="col-md-4">
                            @Html.DropDownList("programId", (SelectList)ViewBag.ProgramList, "Select Program", new { @class = "form-control " })
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownList("sessionId", (SelectList)ViewBag.SessionList, "Select Session", new { @class = "form-control " })
                        </div>
                        @Html.Label("Till", new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            <input type="text" id="date-till" value="@ViewBag.DateTill" class="form-control date-till" name="dateTill" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" id="Submit" value="View" class="btn btn-primary" />
                            @if (formIsPost)
                            {
                                <input type="button" id="Print" onclick="printDiv('collectionVDueReportContent')"  value="Print" class="btn btn-primary" />
                            }
                                
                        </div>
                    </div>
                    </div>    
                <div class="clearfix"></div>
            </div>
        }
    </div>
    <div class="col-md-12">
        @if (formIsPost)
        {
            Html.RenderPartial("Partial/_LoadCollectionVDueReport");
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function printDiv(divName) {
            //Full Div Font Style
            $("#newPrintableDiss").css({
                "margin-top": "-86px",
                "font-size": 10
            });
            //Table Padding
            $("#newPrintableDiss .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td").css({
                "padding": "2px",
            });
            //Print Content
            var printContents = $("#" + divName).html();
            var restorepage = $('body').html();
            //Remove others element without print area 
            $("#sidebar").empty();
            $(".breadcrumb").empty();
            $("#main-body-content").empty();
            $('body').find("footer").empty();
            $('body').find("hr").remove();
            $("#main-body-content").html(printContents);
            window.print(printContents);
            //Append previous table as first time
            $('body').html(restorepage);
            $("#newPrintableDiss").css({ "margin-top": "0px", "font-size": 14 });
            $("#newPrintableDiss .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td").css({
                "padding": "8px"
            });
        }

        $(document).ready(function() {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.date-till').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("change", "#date-till", function(event) {
                var val = $("#date-till").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-till", "", false);
                }
            });

            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    //validationClientSide();
                }
            });


            //Call validation method on Mouse Click
            window.validateDropDownField("organizationId", "Please Select Organization.");
            window.validateDropDownField("programId", "Please Select Program.");
            window.validateDropDownField("sessionId", "Please Select Session.");
            $("#organizationId").change(function() {
                $('#programId').empty();
                $('#programId').append("<option value=''>Select Program</option>");
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                var organizationId = $("#organizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $('#programId').append($('<option value="0">All Program</option>'));
                                $.each(result.returnProgramList, function(i, v) {
                                    $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#programId").change(function() {
                $('#sessionId').empty();
                $('#sessionId').append("<option value=''>Select Session</option>");
                var programId = $(this).val();
                var organizationId = $("#organizationId").val();
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    type: "POST",
                    data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $('#sessionId').append($('<option value="0">All Session</option>'));
                            $.each(response.returnSessionList, function(i, v) {
                                $('#sessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function() {
                        $.unblockUI();
                    }
                });
            });
            $(document).on('click', '#Submit', function(e) {
                $('.field-validation-error').remove();
                var organizationId = $('#organizationId').val();
                var programId = $('#programId').val();
                var sessionId = $('#sessionId').val();
                var dateTill = $('#date-till').val();
                var isSuccess = true;
                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (programId == null || programId.length <= 0) {
                    window.showErrorMessageBelowCtrl("programId", "", false);
                    window.showErrorMessageBelowCtrl("programId", "Please Select Program.", true);
                    isSuccess = false;
                }
                if (sessionId == null || sessionId.length <= 0) {
                    window.showErrorMessageBelowCtrl("sessionId", "", false);
                    window.showErrorMessageBelowCtrl("sessionId", "Please Select Session.", true);
                    isSuccess = false;
                }
                if (dateTill == null || dateTill.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-till", "", false);
                    window.showErrorMessageBelowCtrl("date-till", "Please Date Till Time.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }

            });


        });
    </script>
}
