﻿@{
    ViewBag.Title = "Daily Transaction Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Daily Transaction Receive
        </div>

        <div class="panel-body">
            <input type="hidden" name="branchId" id="branchId" value="0" />
            <input type="hidden" name="campusId" id="campusId" value="0" />
            @*<div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Branch</strong></label>
                    <div class="col-md-4">
                        <select name="branchId" id="branchId" multiple="multiple" class="form-control" size="6" required>
                            <option value="0">All Branch</option>
                            @if (ViewBag.BranchList != null)
                            {
                                foreach (var b in ViewBag.BranchList)
                                {
                                    <option value="@b.Value">@b.Text</option>
                                }
                            }
                        </select>
                        <input type="hidden" name="branchId" id="branchId" value="0" />
                       
                        <div class="text-center" id="bmsg"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Campus</strong></label>
                    <div class="col-md-4">
                        <select name="campusId" id="campusId" multiple="multiple" class="form-control" size="6" required>
                            <option value="0">All Campus</option>
                        </select>
                        <input type="hidden" name="campusId" id="campusId" value="0" />
                        <div class="text-center" id="bmsg"></div>
                    </div>
                </div>
            </div>*@
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>User Branch</strong></label>
                    <div class="col-md-4">
                        <select required="required" name="userBranchId" id="userBranchId" class="form-control valid"></select>
                        <div class="text-center" id="ubrmsg"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>User Campus</strong></label>
                    <div class="col-md-4">
                        <select required="required" name="userCampusId" id="userCampusId" class="form-control valid">
                            <option value="">Select Campus</option>
                        </select>
                        <div class="col-lg-offset-3 row text-left" id="ucampmsg"></div>
                    </div>
                </div>
                
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>User</strong></label>
                    <div class="col-md-4">
                        <select required="required" name="UserIds" id="UserIds" class="form-control"></select>
                        <div class="text-center" id="umsg"></div>
                    </div>
                </div>   
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Till Date</strong></label>
                    <div class="col-md-4">
                        <input type="text" id="date" name="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" readonly="readonly" />
                        <div class="text-center" id="dtmsg"></div>
                    </div>
                </div>                           
            </div>
            <div class="clearfix"></div>
            <div class="text-center" style="margin-top: 20px;">
                <input type="button" value="View" class="btn btn-primary" id="Display" />
            </div>
        </div>

    </div>


       
        <div class="panel panel-primary" id="alreadyReceive">
            <div class="panel-heading">
                Already Received
            </div>
            <div class="panel-body form-horizontal">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Branch</th>
                                <th>Campus</th>
                                <th>Received</th>
                                <th>Cash Back</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="branchwisealready">
                                
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="text-align: center;" colspan="2">Total</th>
                                <th style="text-align: center;" id="totalAlreadyReceived">&nbsp;</th>
                                <th style="text-align: center;" id="totalAlreadyCashBack" >&nbsp;</th>
                                <th style="text-align: center;" id="totalAlreadyTotal" >&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
      


    <div class="panel panel-primary" id="nowReceive">
        <div class="panel-heading">
            Current Receivable
        </div>

        <div class="panel-body form-horizontal">
            <div class="col-md-12 text-center">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Campus</th>
                            <th>Received</th>
                            <th>Cash Back</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="branchwisenow"></tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align: center;" colspan="2">Total</th>
                            <th style="text-align: center;" id="totalNowReceived">&nbsp;</th>
                            <th style="text-align: center;" id="totalNowCashBack">&nbsp;</th>
                            <th style="text-align: center;" id="totalNowTotal">&nbsp;</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        @*</div>
    </div>
    
    
    <div class="panel panel-primary" id="nowReceiveinfo">
        <div class="panel-heading">
            Receive Information
        </div>
        <div class="panel-body">*@
            @*<div class="col-md-12 text-center">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Received</th>
                            <th>Cash Back</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="branchwisenow">
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th id="totalNowReceived">&nbsp;</th>
                            <th id="totalNowCashBack">&nbsp;</th>
                            <th id="totalNowTotal">&nbsp;</th>
                        </tr>
                    </tfoot>
                </table>
            </div>*@
            <hr />
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Branch</strong></label>
                    <div class="col-md-4">
                        <select name="rbranchId" id="rbranchId" class="form-control" required>
                            <option value="">Select Branch</option>
                            @if (ViewBag.BranchList != null)
                            {
                                foreach (var b in ViewBag.BranchList)
                                {
                                    <option value="@b.Value">@b.Text</option>
                                }
                            }
                        </select>
                        <div class="text-center" id="rbmsg"></div>
                    </div>
                @*</div>
                <div class="form-group">*@
                    <label class="control-label col-md-2 text-right"><strong>Campus</strong></label>
                    <div class="col-md-4">
                        <select name="rcampusId" id="rcampusId" class="form-control" required>
                            <option value="">Select Campus</option>
                        </select>
                        <div class="text-center" id="rcmsg"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Cash Receive</strong></label>
                    <div class="col-md-4">
                        <input name="cashReceive" id="cashReceive" value="" class="form-control" placeholder="Cash Receive" />
                    </div>
                    <label class="control-label col-md-2 text-right"><strong>bKash Receive</strong></label>
                    <div class="col-md-4">
                        <input name="bKashReceive" id="bKashReceive" value="" class="form-control" placeholder="bKash Receive" />
                    </div>
                  
                </div>
            </div>
            
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Voucher Receive</strong></label>
                    <div class="col-md-4">
                        <input name="voucherReceive" id="voucherReceive" value="" class="form-control" placeholder="Voucher Receive" />
                    </div>
                    <label class="control-label col-md-2 text-right"><strong>IOU Receive</strong></label>
                    <div class="col-md-4">
                        <input name="iouReceive" id="iouReceive" value="" class="form-control" placeholder="IOU Receive" />
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <div class="form-group">
                    <label class="control-label col-md-2 text-right"><strong>Total</strong></label>
                    <div class="col-md-4">
                        <input name="totalTemp" id="totalTemp" class="form-control" placeholder="Total" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="text-center" style="margin-top: 20px;">
                    <input type="button" value="Receive" class="btn btn-lg btn-success" id="submit" />
                </div>
            </div>
        </div>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#nowReceiveinfo").hide();
            $("#nowReceive").hide();
            $("#alreadyReceive").hide();

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            // var startDate = today.getFullYear().toString() + "-" + "01" + "-" + "01";
            var endDate = initialDate;


            $("#date").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: '2015-01-01',
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {

            });

            //$("#date").datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    endDate: '+0d',
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4

            //}).on('changeDate', function() {
            //    if ($("#date").val().length > 0) {
            //        $('#dtmsg').text("");
            //    }
            //});


            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                type: "POST",
                data: { organizationIds: null, programIds: null, sessionIds: null, isAuthorized: true },

                success: function(response) {
                    if (response.IsSuccess) {
                        $('#userBranchId').append($('<option>').text("Select Branch").attr('value', ""));
                        $.each(response.returnBranchList, function(i, v) {
                            $('#userBranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                },
                complete: function() {
                    $.unblockUI();
                },
                error: function(response) {
                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Branch load failed</div>';
                    $('.customMessage').append(errorMessage);
                }
            });
        });

        $(document).on('change', "#branchId", function() {
            $("#nowReceiveinfo").hide();
            $("#nowReceive").hide();
            $("#alreadyReceive").hide();

            $("#campusId option").remove();
            var branchId = $("#branchId").val();
            if (branchId) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Student/Payment/GetCampusByBranch",
                    type: "POST",
                    data: { "branchId": branchId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $.each(response.campusList, function(i, v) {
                                $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus load failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });
            }
        });

        //load user campus on user branch change
        $(document).on('change', "#userBranchId", function() {
            $("#nowReceiveinfo").hide();
            $("#nowReceive").hide();
            $("#alreadyReceive").hide();
            $("#userCampusId option").remove();
            $("#UserIds option").remove();
            var branchId = $("#userBranchId").val();
            if (branchId != null && branchId != "") {
                $('#ubrmsg').text("");
            }
            if (branchId != null && branchId != "") {

                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    type: "POST",
                    data: { organizationIds: null, programIds: null, sessionIds: null, branchIds: branchId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $('#userCampusId').append($('<option>').text("Select Campus").attr('value', ""));
                            $.each(response.returnCampusList, function(i, v) {
                                $('#userCampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Campus load failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });
            }

        });

        //load user on campus change
        $(document).on('change', "#userCampusId", function() {
            $("#nowReceiveinfo").hide();
            $("#nowReceive").hide();
            $("#alreadyReceive").hide();
            $("#UserIds option").remove();
            var campusId = $("#userCampusId").val();
            if (campusId != null && campusId != "") {
                $('#umsg').text("");
                $.ajax({
                    url: $("body").attr("data-project-root") + "Student/Payment/LoadUser",
                    cache: false,
                    async: true,
                    type: "POST",
                    data: { campusIds: campusId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $('#UserIds').append($('<option>').text("Select User").attr('value', ""));
                            $.each(response.returnedUserList, function(i, v) {
                                if (v.Text != "All") {
                                    $('#UserIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                }


                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User load failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });
            }

        });

        //Display Transaction report

        $(document).on('click', "#Display", function () {
            $('#branchwisealready').empty();
            $('#branchwisenow').empty();
            $("#submit").hide();
            var branchId = [];
            //$('#branchId :selected').each(function (i, selected) {
            //    console.log($(selected).val());
            //    branchId[i] = $(selected).val();
            //});
            branchId[0] = 0;
            var campusId = [];
            //$('#campusId :selected').each(function (i, selected) {
            //    console.log($(selected).val());
            //    campusId[i] = $(selected).val();
            //});
            campusId[0] = 0;
            //console.log(branchId);
            //console.log(campusId);

            var date = $("#date").val();

            var userId = $("#UserIds").val();

            if (branchId.length > 0 && campusId.length > 0 && date != "" && userId != "") {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Student/Payment/GetTransactionReceiveSummery",
                    type: "POST",
                    data: { "branchId": branchId, "campusId": campusId, "date": date, userId: userId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            if (response.totalAlreadyReceived > 0 || response.totalAlreadyCashBack > 0) {
                                $("#alreadyReceive").show();
                            } else {
                                $("#alreadyReceive").hide();
                            }
                            
                            // console.log(response);
                            if (response.totalNowReceived > 0 || response.totalNowCashBack > 0) {
                                $("#submit").show();
                            }

                            var splitDate = date.split("-");
                            $("#alreadyReceive").find(".panel-heading").text("Transection Already Received of Date " + splitDate[0] + "-" + splitDate[1] + "-" + splitDate[2]);

                            $("#nowReceive").show();
                           // $("#alreadyReceive").show();

                            $("#totalAlreadyReceived").text(response.totalAlreadyReceived);
                            $("#totalAlreadyCashBack").text(response.totalAlreadyCashBack);
                            $("#totalAlreadyTotal").text(response.totalAlreadyReceived - response.totalAlreadyCashBack);
                            $("#totalNowReceived").text(response.totalNowReceived);
                            $("#totalNowCashBack").text(response.totalNowCashBack);
                            $("#totalNowTotal").text(response.totalNowReceived - response.totalNowCashBack);

                        
                            $.each(response.dailyTransactionDtoList, function (i, v) {

                                // $('#rcampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                if (v.TotalAlreadyReceived > 0 || v.TotalAlreadyCashBack > 0) {
                                    $('#branchwisealready').append('<tr><td>' + v.Branch + '</td><td>' + v.Campus + '</td><td>' + v.TotalAlreadyReceived + '</td><td>' + v.TotalAlreadyCashBack + '</td><td>' + (v.TotalAlreadyReceived - v.TotalAlreadyCashBack) + '</td></tr>');                                 
                                }

                                if (v.TotalNowReceived > 0 || v.TotalNowCashBack > 0) {
                                    $('#branchwisenow').append('<tr><td>' + v.Branch + '</td><td>' + v.Campus + '</td><td>' + v.TotalNowReceived + '</td><td>' + v.TotalNowCashBack + '</td><td>' + (v.TotalNowReceived - v.TotalNowCashBack) + '</td></tr>');
                                }
                            });

                           

                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Transaction Receive Summery load failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });
            }

        });
        $(document).on("input propertychange", "#cashReceive,#bKashReceive,#voucherReceive,#iouReceive", function (event) {
            var input = $(this),
            text = input.val().replace(/-?\[^0-9]/g, "");
            input.val(text);


            var cashReceive = parseInt($("#cashReceive").val());
            var bKashReceive = parseInt($("#bKashReceive").val());
            var voucherReceive = parseInt($("#voucherReceive").val());
            var iouReceive = parseInt($("#iouReceive").val());
            /*		
                        var cashReceive = $("#cashReceive").val();
                        var bKashReceive = $("#bKashReceive").val();
                        var voucherReceive = $("#voucherReceive").val();
                        var iouReceive = $("#iouReceive").val();
            */
            if (isNaN(cashReceive)) {
                cashReceive = 0;
            }
            if (isNaN(bKashReceive)) {
                bKashReceive = 0;
            }
            if (isNaN(voucherReceive)) {
                voucherReceive = 0;
            }
            if (isNaN(iouReceive)) {
                iouReceive = 0;
            }
            $("#totalTemp").val((cashReceive + bKashReceive + voucherReceive + iouReceive));
        });

        $(document).on('click', "#submit", function () {
            console.log("In");
            var branchId = [];
            //$('#branchId :selected').each(function (i, selected) {
            //    console.log($(selected).val());
            //    branchId[i] = $(selected).val();
            //});
            branchId[0] = 0;
            var campusId = [];
            //$('#campusId :selected').each(function (i, selected) {
            //    console.log($(selected).val());
            //    campusId[i] = $(selected).val();
            //});

            campusId[0] = 0;

            var date = $("#date").val();

            var userId = $("#UserIds").val();
            var rcampusId = $("#rcampusId").val();
            var userCampusId = $("#userCampusId").val();

            var cashReceive = parseInt($("#cashReceive").val());
            var bKashReceive = parseInt($("#bKashReceive").val());
            var voucherReceive = parseInt($("#voucherReceive").val());
            var iouReceive = parseInt($("#iouReceive").val());
            var totalNowTotal = parseInt($("#totalNowTotal").text());

            if (isNaN(cashReceive)) {
                cashReceive = 0;
            }
            if (isNaN(bKashReceive)) {
                bKashReceive = 0;
            }
            if (isNaN(voucherReceive)) {
                voucherReceive = 0;
            }
            if (isNaN(iouReceive)) {
                iouReceive = 0;
            }
            if (isNaN(totalNowTotal)) {
                totalNowTotal = 0;
            }
            var totalTemp = 0;
            totalTemp = cashReceive + bKashReceive + voucherReceive + iouReceive;


            console.log(totalNowTotal);
            console.log(totalTemp);
            if (branchId.length > 0 && campusId.length > 0 && date != "" && userCampusId != "" && userId != "" && rcampusId != "" && (totalTemp == totalNowTotal)) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Student/Payment/SubmitTransactionReceive",
                    type: "POST",
                    data: {
                        "branchId": branchId, "campusId": campusId, "date": date,
                        "userCampusId": userCampusId, "userId": userId, "rcampusId": rcampusId,
                        "cashReceive": cashReceive, "bKashReceive": bKashReceive, "voucherReceive": voucherReceive, "iouReceive": iouReceive
                    },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $("#submit").hide();
                            $("#branchwisenow").empty();
                            $("#totalNowReceived").text(0);
                            $("#totalNowCashBack").text(0);
                            $("#totalNowTotal").text(0);
                            // $("#nowReceive").hide();
                            // $('#branchwisealready').empty();
                            $("#alreadyReceive").hide();
                            $("#cashReceive").val("");
                            $("#bKashReceive").val("");
                            $("#voucherReceive").val("");
                            $("#iouReceive").val("");
                            $("#totalTemp").val("");
                            
                            
//DailyTransactionReceive
                            //alert("Success");
                            // window.location.href = $("body").attr("data-project-root") + "Student/Payment/DailyTransactionReceive?message=Transaction Receive save success";
                            var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>Transaction Receive Successfully completed.</div>';
                            $('.customMessage').append(errorMessage);

                        } else {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Transaction Receive save failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Transaction Receive save failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });
            } else {
                if (totalTemp != totalNowTotal) {
                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>(CashReceive+bKashReceive+VoucherReceive+IouReceive) must equal to total receivable anount.</div>';
                    $('.customMessage').append(errorMessage);
                }
            }

        });


        $(document).on('change', "#rbranchId", function() {
            $("#rcampusId option").remove();
            var rbranchId = $("#rbranchId").val();
            if (rbranchId) {
                //$.ajax({
                //    url: $("body").attr("data-project-root") + "Student/Payment/GetCampusByBranch",
                //    type: "POST",
                //    data: { "branchId": rbranchId },
                //    beforeSend: function () {
                //        $.blockUI({
                //            timeout: 0,
                //            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                //        });
                //    },
                //    success: function (response) {
                //        if (response.IsSuccess) {
                //            $.each(response.campusList, function(i, v) {
                //                $('#rcampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                //            });
                //        }
                //        $.unblockUI();
                //    },
                //    complete: function () {
                //        $.unblockUI();
                //    },
                //    error: function (response) {
                //        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus load failed</div>';
                //        $('.customMessage').append(errorMessage);
                //    }
                //});


                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    type: "POST",
                    data: { organizationIds: null, programIds: null, sessionIds: null, branchIds: rbranchId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        if (response.IsSuccess) {
                            $('#rcampusId').append($('<option>').text("Select Campus").attr('value', ""));
                            $.each(response.returnCampusList, function(i, v) {
                                $('#rcampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Receive Campus load failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });

            }
        });

    </script>
}
