﻿@using UdvashERP.BusinessModel.ViewModel
@using UdvashERP.BusinessModel.ViewModel.StudentModuleView
@model UdvashERP.BusinessModel.ViewModel.StudentViewModel

@{
    ViewBag.Title = "DuePayment";
    Layout = null;
}

<div id="messageContainer"></div>
<div id="mainDiv" class="totalPage">
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">Student Personal Details</div></div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                           Student Roll : 
                        </dt>

                        <dd>
                            @ViewBag.StudentRoll
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MobNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MobNumber)
                        </dd>

                        <dt>
                            Version of Study :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VersionOfStudyText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GenderText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Religion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReligionText)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Program)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Program)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Session)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Session)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Branch)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Branch)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Campus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Campus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BatchDays)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.BatchDays)*@
                            @Model.BatchDays.Replace(",", ", ")
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BatchTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BatchTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Batch)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Batch)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Course Details</div>
                </div>
                @foreach (CourseViewModel course in Model.CourseViewModels)
                {
                    <div class="panel-heading">
                        <input type="checkbox" class="@course.Name" checked="checked" data-courseid="@course.Id" data-programid="@course.ProgramId" readonly="readonly" disabled="disabled" />  @course.Name
                    </div>
                    <div class="panel-body @course.Name" data-bodyname="@course.Name">
                        @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                        {
                            <p style="padding-left: 20px;">
                                <input type="checkbox" class="@course.Name" checked="checked" data-coursesubjectid="@courseSubject.Id" data-subjectname="@courseSubject.Name" data-payment="@courseSubject.Payment" readonly="readonly" disabled="disabled" />
                                @courseSubject.Name : @courseSubject.Payment.ToString("n0")
                            </p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    @{
        PaymentDetails paymentDetail = @ViewBag.DISCOUNTDETAILS;
        Html.RenderPartial("Partial/_DuePaymentDetails", paymentDetail);
    }
</div>

@section scripts
{

<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
@*<script type="text/javascript" src="~/Scripts/Student/PaymentDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Student/MoneyReceiptPrint.js"></script>*@

@Scripts.Render("~/bundles/bootstrap-datetimepicker")
<script type="text/javascript">
    $(document).ready(function () {
        $('.form_datetime').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        });
    });

</script>
}
