﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Transaction Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Transaction Report
    </div>
    <div class="panel-body">

        <div id="mainDiv">
            <div class="row text-center"><strong>@ErpInfo.OrganizationNameFull</strong></div>
            <div class="row text-center"><strong>@ViewBag.programName</strong></div>
            <div class="row text-center" style="margin-bottom: 20px;"><strong>Transaction Report</strong></div>
            <div class="row text-left col-md-12">
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td><strong>Session:</strong></td>
                            <td>@ViewBag.sessionName</td>
                        </tr>
                        <tr>
                            <td><strong>Campus:</strong> </td>
                            <td>@ViewBag.campusName</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td><strong>Branch:</strong> </td>
                            <td>@ViewBag.branchName</td>
                        </tr>
                        @*<tr>
                            <td><strong>Course:</strong></td>
                            <td>@ViewBag.courseName</td>
                        </tr>*@
                    </table>
                </div>


                @*<div class="col-md-6">
                        <strong>Session:</strong>   @ViewBag.sessionName
                    </div>
                    <div class="col-md-6" style="word-wrap: break-word;">
                        <strong>Branch:</strong>   @ViewBag.branchName
                    </div>
                    <div class="col-md-6">
                        <strong>Campus:</strong>    @ViewBag.campusName
                    </div>

                    <div class="col-md-6">
                        <strong>Course:</strong>   @ViewBag.courseName
                    </div>*@

            </div>
            <div class="administrationBodyContent">
                <table id="tbl">
                    <tr class="filteringRow form-group">
                       
                        <th class="form-group">
                            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                        </th>
                         <th class="form-group">
                            <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                        </th>
                        <th class="form-group">
                            <div class="col-md-12 text-center">
                                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                            </div>
                        </th>
                    </tr>
                </table>
                <br />
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th><strong>Date</strong></th>
                            <th><strong>Branch</strong></th>
                            <th><strong>Campus</strong></th>
                            <th><strong>Program</strong></th>
                            <th><strong>Program Roll</strong></th>
                            <th><strong>Registration No.</strong></th>                            
                            <th><strong>MRN</strong></th>
                            <th><strong>CRN</strong></th>
                            <th><strong>Nick Name</strong></th>
                            <th><strong>Income</strong></th>
                            <th><strong>Consideration Amount</strong></th>
                            <th><strong>Previous Due</strong></th>
                            <th><strong>Receivable</strong></th>
                            <th><strong>Special Discount</strong></th>
                            <th><strong>Received</strong></th>
                            <th><strong>Cash Back</strong></th>
                            <th><strong>Current Due</strong></th>
                            <th><strong>Payment Method</strong></th>
                            <th><strong>Referrer</strong></th>
                            <th><strong>Reference Note</strong></th>
                            <th><strong>Remarks</strong></th>
                            <th><strong>User</strong></th>
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
        @*<div class="row text-center"><input type="button" class="btn btn-primary" id="printindividualreport" value="Print" /></div>*@

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")

    <script src="~/Scripts/printThis.js"></script>
    <script src="~/Scripts/Student/IdCard/PrintIdCard.js"></script>
    @*<script src="~/Scripts/printThis.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function() {
            var organizationId = @Html.Raw(Json.Encode(@ViewBag.organizationId));
        var programId = @Html.Raw(Json.Encode(@ViewBag.programId));
        var sessionId = @Html.Raw(Json.Encode(@ViewBag.sessionId));

        var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
        var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));
        var userBranchIds = @Html.Raw(Json.Encode(@ViewBag.UserBranchIds));
        var userCampusIds = @Html.Raw(Json.Encode(@ViewBag.UserCampusIds));
            @*var course = @Html.Raw(Json.Encode(@ViewBag.course));*@
        var userIds = @Html.Raw(Json.Encode(@ViewBag.UserIds)); 
        var datef = @Html.Raw(Json.Encode(@ViewBag.datef));
        var datet = @Html.Raw(Json.Encode(@ViewBag.datet));
        var PaymentMethod = @Html.Raw(Json.Encode(@ViewBag.PaymentMethod));
        var programName = @Html.Raw(Json.Encode(@ViewBag.programName));
        var sessionName = @Html.Raw(Json.Encode(@ViewBag.sessionName));
        var campusName = @Html.Raw(Json.Encode(@ViewBag.campusName));
        var branchName = @Html.Raw(Json.Encode(@ViewBag.branchName));
        
        function dataTableRender() {
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            } else {
                $('#pageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "bInfo": true,
                order: [[0, "desc"]],
                "bSort": false,
                ajax: {
                    url: 'TransactionReportResult',
                    type: 'POST',
                    data: function(d) {
                        d.organizationId = organizationId;
                        d.programId = programId;
                        d.sessionId = sessionId;
                        d.branchId = branchId;
                        d.campusId = campusId;
                        d.userBranchIds = userBranchIds;
                        d.userCampusIds = userCampusIds;
                        d.userIds = userIds;
                        d.datef = datef;
                        d.datet = datet;
                        d.PaymentMethod = PaymentMethod;
                    }
                }
            });
        }

        dataTableRender();


        $(document).on("click", "#search", function() {
            //alert();
            dataTableRender();

        });

        $(document).on("click", ".mrnclass", function() {

            window.location.href = $("body").attr("data-project-root") + "Student/Payment/GenerateMoneyReciept/" + $(this).attr('id');
        });

        $(document).on("click", "#export", function() {
            var urlParam = {
                organizationId:organizationId,
                programId: programId,
                sessionId: sessionId,
                branchId: branchId,
                campusId: campusId,
                UserIds: userIds,
                programName: programName,
                sessionName: sessionName,
                campusName: campusName,
                branchName: branchName,
                userBranchIds : userBranchIds,
                userCampusIds : userCampusIds,
                datef: datef,
                datet: datet,
                PaymentMethod: PaymentMethod
            };

            var url = "@Url.Action("TransactionReportToExcel", "Payment", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        });
    });
    </script>
}