﻿@{
    ViewBag.Title = "GenerateMyTransactionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/styledatatable")
}
<div class="panel panel-primary">
    <div class="panel-heading">
        My Transaction Report
    </div>
    <div class="panel-body">

        <div id="mainDiv">
            <div class="row text-center" style="margin-bottom: 20px;"><h4>My Transaction Report</h4></div>
            <div class="administrationBodyContent">
                <table id="tbl">
                    <tr class="filteringRow form-group">
                        <th class="form-group">
                            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" value="@ViewBag.PageSize" />
                        </th>
                        <th class="form-group">
                            <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                        </th>
                        @* TEMPORARY FIX  *@
                        @*<th class="form-group">
                            <div class="col-md-12 text-center">
                                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                            </div>
                        </th>*@
                        @* TEMPORARY FIX  *@
                    </tr>
                </table>
                <br />
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th><strong>Date</strong></th>
                            <th><strong>Branch</strong></th>
                            <th><strong>Campus</strong></th>
                            <th><strong>Program</strong></th>
                            <th><strong>Program Roll</strong></th>
                            <th><strong>Registration No.</strong></th>
                            <th><strong>MRN</strong></th>
                            <th><strong>CRN</strong></th>
                            <th><strong>Nick Name</strong></th>
                            <th><strong>Income</strong></th>
                            <th><strong>Consideration Amount</strong></th>
                            <th><strong>Previous Due</strong></th>
                            <th><strong>Receivable</strong></th>
                            <th><strong>Special Discount</strong></th>
                            <th><strong>Received</strong></th>
                            <th><strong>Cash Back</strong></th>
                            <th><strong>Current Due</strong></th>
                            <th><strong>Payment Method</strong></th>
                            <th><strong>Referrer</strong></th>
                            <th><strong>Reference Note</strong></th>
                            <th><strong>Remarks</strong></th>
                            @*<th><strong>User</strong></th>*@
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
        @*<div class="row text-center"><input type="button" class="btn btn-primary" id="printindividualreport" value="Print" /></div>*@
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">
        var date = @Html.Raw(Json.Encode(@ViewBag.date));
        var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
        var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));
        var branchName = @Html.Raw(Json.Encode(@ViewBag.branchName));
        var campusName = @Html.Raw(Json.Encode(@ViewBag.campusName));

        function dataTableRender() {
            console.log(branchId);
            console.log(campusId);
            console.log(date);
            var pageSize = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                pageSize = parseInt($('#pageSize').val());
            }
            else {
                $('#PageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                order: [[2, "asc"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 5] }],
                ajax: {
                    url: 'MyTransactionReportResult',
                    type: 'POST',
                    data: function (d) {
                        d.date = date;
                        d.branchId = branchId;
                        d.campusId = campusId;
                        }
                }
            });
        }
        dataTableRender();
        $(document).on("click", "#search", function() {
           dataTableRender();
        });
        $(document).on("click", "#export", function() {
            var urlParam = {
                date: date,
                branchId: branchId,
                campusId: campusId,
                campusName: campusName,
                branchName: branchName,
            };

            var url = "@Url.Action("MyTransactionReportToExcel", "Payment", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
    </script>
}
