﻿@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Due List Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logo = Url.Content("~") + ErpInfo.LogoImageUrl;

    
}

<style type="text/css">
    
    h1,h2,h3,h4 {
        margin: 0px;
    }

</style>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Due List Report</h4>
    </div>
    <div class="panel-body">
        
        <div id="printable">
            <div class="row">
                @*<div class="row col-md-3 text-center" style="word-wrap: break-word;">
                    <img style="" src="@logo" width="150" />
                </div>*@
                <div class="row col-md-12" style="word-wrap: break-word;">
                    <div class="row text-center">
                        <h3>@ErpInfo.OrganizationNameFull</h3>
                    </div>

                    <div class="row text-center">
                        <h4 id="programHeader">@ViewBag.programName @ViewBag.sessionNamee</h4>
                    </div>
                    <div class="row text-center">
                        <h4>Due List</h4>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="text-left col-md-12">
                        <div class="col-md-6">
                            <table class="table table-bordered table-responsive">
                                <tbody>
                                    <tr>
                                        <td><strong>Branch:</strong></td>
                                        <td id="branchHeader">@ViewBag.brancheNames</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Campus:</strong> </td>
                                        <td id="campusHeader">@ViewBag.campusNames</td>
                                    </tr>
                                    @*<tr>
                                        <td><strong>Course:</strong> </td>
                                        <td id="batchDayHeader">@ViewBag.courseNames</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered table-responsive">
                                <tbody>
                                    <tr>
                                        <td><strong>Batch Day:</strong> </td>
                                        <td id="batchHeader">@ViewBag.batchDay</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Batch Names:</strong></td>
                                        <td id="courseHeader">@ViewBag.batcheNames</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>
                    </div>
            </div>
            @*<div class="row">
                <div class="col-md-3 text-left"><input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" /></div>
                <div class="col-md-3 text-left"><input type="button"  name="search" id="search" value="search" class="form-control btn btn-primary" /></div>
                <div class="row col-md-5 text-left">&nbsp;</div>
            </div>
            <div class="row">&nbsp;</div>*@  
            <div class="administrationBodyContent row col-md-12">
                <table id="tbl">
                    <tr class="filteringRow form-group">
                        <th class="form-group">
                            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Per Page" value="@ViewBag.PageSize" />
                        </th>
                        <th class="form-group">
                            <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                        </th>
                    </tr>
                </table>
                <br /> 
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead id="tableHeader">
                        <tr>
                            <th>Sl.</th>

                            @if (ViewBag.informationViewList != null)
                            {
                                foreach (string informationView in @ViewBag.informationViewList)
                                {
                                    <th>@informationView</th>
                                }
                            }

                            <th>Due</th>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="dataLists"></tbody>
                </table>
            </div>


        </div>

    </div>
    <div class="row text-center">@*<input type="button" class="btn btn-primary" id="print" value="Print" />*@&nbsp;<input type="button" name="export" id="export" value="Export" class="btn btn-primary" /><input type="hidden" id="pageSize" value="@ViewBag.PageSize" /><input type="hidden" id="tillDate" value="@ViewBag.tillDate" /></div>
    <div class="row">&nbsp;</div>          
</div>
@{
    //string tillDate = ViewBag.tillDate.ToString("yyyy-MM-dd");
    //string tillDate = "2014-12-22";
}
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @*@Scripts.Render("~/bundles/generateIdCardReport")*@
    <script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">

    var programId = @ViewBag.programId;
    //console.log(programId);
    var sessionId = @ViewBag.sessionId;
    var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
    var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));
    var batchName = @Html.Raw(Json.Encode(@ViewBag.batchName));
    var course = @Html.Raw(Json.Encode(@ViewBag.course));
    var informationViewList = @Html.Raw(Json.Encode(@ViewBag.informationViewList));
    var batchDays = @Html.Raw(Json.Encode(@ViewBag.batchDays));
    var batchTime = @Html.Raw(Json.Encode(@ViewBag.batchTime));
    var tillDate = $("#tillDate").val();

    var programHeader = $("#programHeader").text();
    var branchHeader =  $("#branchHeader").text();
    var campusHeader = $("#campusHeader").text();
    var batchDayHeader = $("#batchDayHeader").text();
    var batchHeader = $("#batchHeader").text();
    var courseHeader = $("#courseHeader").text();


        $(document).on("click", "#export", function() {
            var urlParam = {
                programHeader: programHeader,
                branchHeader:branchHeader,
                campusHeader:campusHeader,
                batchDayHeader:batchDayHeader,
                batchHeader:batchHeader,
                courseHeader:courseHeader,
                programId:programId,
                sessionId:sessionId,
                branchId:branchId,
                campusId:campusId,
                batchName:batchName,
                course: course,
                batchDays: batchDays,
                batchTime:batchTime,
                tillDate : tillDate,
                informationViewList : informationViewList
            };

            var url = "@Url.Action("ExportDueListExcel", "Payment", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });

    //alert(tillDate);

    function dataTableRender() {

        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        // alert(lastColumn);

        //var sorting;
        //var sortingColumn = "Sl.";
        //sorting = [0,'desc'];

        //$("#DataGrid #tableHeader th").each(function(i, v) {
        //    if ($(this).hasClass("sorting_desc")) {
        //        sorting = [i,'desc'];
        //        sortingColumn = $(this).text().trim();
        //    }
        //    else if($(this).hasClass("sorting_asc")) {
        //        sorting = [i,'asc'];
        //        sortingColumn = $(this).text().trim();
        //    }
        //});


        $('#DataGrid').dataTable({
            "dom": 'rt<"bottom"pi>',
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            "bInfo": true,
            order: [[1,'asc']],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1),(lastColumn-lastColumn)]
                }
            ],
            ajax: {
                url: 'StudentProgramListForDueListResult',
                type: 'POST',
                data: function(d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchName = batchName;
                    d.course = course;
                    d.informationViewList = informationViewList;
                    d.tillDate = tillDate;
                    //d.sortingColumn = sortingColumn;
                    d.batchDays = batchDays;
                    d.batchTime = batchTime;
                }
            },
            "drawCallback": function(settings) {

                $("#DataGrid #tableHeader th").each(function(i, v) {
                    if ($(this).text().trim() == "Due") {
                        //index = i;
                        console.log(i);
                        var totalAmount = 0;
                        $("#DataGrid tbody tr").each(function() {
                            var dueAmount = parseInt($(this).find("td:nth-child(" + (i + 1) + ")").text().trim());
                            totalAmount += dueAmount;
                        });

                        $("#DataGrid_info").html("<span style='font-weight:bold'>Total Due Amount: " + totalAmount + "</span>");
                    }
                });
            }
        });
        $("#DataGrid_paginate").css("float", "Left");
        $("#DataGrid_info").css("clear", "none").css("float", "right");
    }

    dataTableRender();


    $(document).on("click", "#search", function() {

        dataTableRender();

    });
    //$(document).on("click", ".glyphicon-search", function() {

    //    window.location.href = $("body").attr("data-project-root") + "Student/Payment/HistoryOfPayment?stdProRoll=" + $(this).attr('id');
    //});
    $(document).on("click", "#print", function() {
        $("#printable").printThis();
    });





    </script>
}