﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Students
@using UdvashERP.BusinessModel.ViewModel.StudentModuleView

@model IEnumerable<UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentPaymentHistory>

@{
    ViewBag.Title = "Payment History";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"> Student Payment History</h4>
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent" id="mainDiv">
            <div class="row col-md-12">
                <div class="col-sm-3 text-left">
                    <img src="@logoImage" width="150" height="150" />
                </div>
                <div class="col-sm-6 text-center">
                    <div class="row text-center">
                        <div><h3><strong>@ViewBag.ProgramName&nbsp;@ViewBag.SessionName</strong></h3></div>
                        <div><strong>@ViewBag.StudentName</strong></div>
                        <div><strong>@ViewBag.prn</strong></div>

                        <div><strong>Payment History</strong></div>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    @{
                        StudentProgram sp = ViewBag.StudentProgram;
                        //ViewBag.Images
                        var imagePath = "/Content/Image/blankimage.png";
                        if (sp.StudentImage.Count > 0)
                        {
                            //var firstOrDefault = (from x in sp.StudentImage select x).OrderByDescending(a => a.Id).FirstOrDefault();
                            //var stuentImage = firstOrDefault != null ? firstOrDefault.Images : null;
                            //var stuentImage = ViewBag.Images;
                            var studentImage = sp.MediaStudentImage.Images;
                            string imageBase64 = studentImage != null ? Convert.ToBase64String(studentImage) : null;
                            string imageSrc = imageBase64 != null ? string.Format("data:image/gif;base64,{0}", imageBase64) : "";
                            if (imageSrc.Length>0 && imageSrc.Trim() != "")
                            {
                                imagePath = imageSrc;
                            }
                        }
                        <img src="@imagePath" height="150" />
                    }
                </div>
            </div>
            <div class="col-sm-12">
                @if (ViewBag.STDBASINFO != null)
                {
                    StudentBasicInformation mStudentBasicInformation = @ViewBag.STDBASINFO;

                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                Date of Admission :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.DateOfAdmission
                            </dd>
                            @*<dt>
                                Program Roll :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.ProgramRoll
                            </dd>
                            <dt>
                                Student Name :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.StudentName
                            </dd>*@
                            <dt>
                                Contact Number  :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.ContactNumber
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6" style="border-left:1px solid black;">
                        <dl class="dl-horizontal">
                            <dt>
                                Branch :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.Branch
                            </dd>
                            <dt>
                                Batch Days :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.BatchDays
                            </dd>
                            <dt>
                                Batch Name :
                            </dt>

                            <dd>
                                @mStudentBasicInformation.BatchName
                            </dd>
                            @{
                    var query = mStudentBasicInformation.StudentCourseDetails.GroupBy(x => x.CourseSubject.Course,
                        (key, g) => new { Course = key, Subjects = g.ToList() });

                    var courseList = query.ToList();
                    if (courseList.Count > 0)
                    {
                        foreach (var courseAndCorrespondingSubjectList in courseList)
                        {
                            if (courseAndCorrespondingSubjectList.Course != null)
                            {
                                var courseName = courseAndCorrespondingSubjectList.Course.Name;
                                var courseSubjectList = courseAndCorrespondingSubjectList.Subjects;
                                <dt>
                                    <span>@courseName</span> :
                                </dt>
                                int i = 0;
                                <dd>
                                    @foreach (var courseSubject in courseSubjectList)
                                    {
                                        var subName = courseSubject.CourseSubject.Subject.ShortName;
                                        if (i < courseSubjectList.Count - 1)
                                        {
                                            <span>@subName, </span>
                                        }
                                        else
                                        {
                                            <span>@subName</span>
                                        }
                                        i++;
                                    }
                                </dd>
                            }
                        }
                    }
                            }
                        </dl>
                    </div>
                }
            </div>
            <div class="row col-sm-12" style="overflow-x: scroll;">
                <table class="table table-bordered table-condensed table-hover table-responsive text-center">
                    <tr>
                        <th>
                            Sl.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MRN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CRN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Income)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsiderationAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PreviousDue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Receivable)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SpecialDiscount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Received)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CashBack)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentDue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Referrer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReferrerNote)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>

                    </tr>
                    @{
                        long sl = 0;
                    }
                    @foreach (var item in Model)
                    {
                        sl++;
                        <tr>
                            <td>
                                @sl
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            @if (item.MRN != "")
                            {
                                <td>
                                    @Html.ActionLink(item.MRN, "GenerateMoneyReciept", new { id = item.Id })
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }

                            @if (item.CRN != "")
                            {
                                <td>
                                    @Html.ActionLink(item.CRN, "GenerateMoneyReciept", new { id = item.Id })


                                </td>
                            }
                            else
                            {
                                <td></td>
                            }


                            <td>
                                @Html.DisplayFor(modelItem => item.Income)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsiderationAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PreviousDue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receivable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpecialDiscount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Received)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CashBack)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentDue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Referrer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferrerNote)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>

                            @* <td>
                                    <a href="@Url.Action("GenerateMoneyReciept","Payment",new{ id=item.Id})"> @Html.DisplayFor(modelItem => item.MrNo)</a>
                                    @*<a href="@Url.Action("GenerateMoneyReciept", "Paym>@Html.DisplayFor(modelItem => item.MrNo)</a>
                            </td>
                            <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>*@
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <strong>Total Summary</strong>
                            </td>
                            <td>@ViewBag.totalIncome</td>
                            <td>@ViewBag.totalConsiderationAmount</td>
                            <td></td>
                            <td>@ViewBag.totalReceivable </td>
                            <td>@ViewBag.totalSpDiscount</td>
                            <td>@ViewBag.totalReceived</td>
                            <td>@ViewBag.totalCashBack </td>
                            <td>@ViewBag.totalCurrentDue </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

        <div class="text-center">
            <input type="button" value="Export" class="btn btn-primary" id="export" />
        </div>
    </div>
</div>
<div style="display: none">
    @Html.Hidden("batchName", ViewData["batcheNames"])
    @Html.Hidden("batchDays", ViewData["batchDay"])
    @Html.Hidden("programId", ViewData["programId"])
    @Html.Hidden("sessionId", ViewData["sessionId"])
    @Html.Hidden("branchId", ViewData["branchId"])
    @Html.Hidden("campusId", ViewData["campusId"])
    @Html.Hidden("course", ViewData["course"])
    @Html.Hidden("paymentStatus", ViewData["paymentStatus"])
    @Html.Hidden("imageStatus", ViewData["imageStatus"])
    @Html.Hidden("printingStatus", ViewData["printingStatus"])
    @Html.Hidden("informationViewList", ViewData["informationViewList"])
    @Html.Hidden("batchTime", ViewData["batchTime"])

</div>
<div>
    @*<button class="backToDuelist">Back to Due List</button>*@
</div>
@{

}
@section Scripts {
    

    <script type="text/javascript">
        var stdProRoll = @Html.Raw(Json.Encode(@ViewBag.stdProRoll));
        $(document).on("click", ".backToDuelist", function () {
            var batchName = $('#batchName').val();
            var batchDays = $('#batchDays').val();
            var programId = $('#programId').val();
            var sessionId = $('#sessionId').val();
            var branchId = $('#branchId').val();
            var campusId = $('#campusId').val();
            var course = $('#course').val();
            var paymentStatus = $('#paymentStatus').val();
            var informationViewList = $('#informationViewList').val();
            var batchTime = $('#batchTime').val();
            var stdProRoll = $('#stdProRoll').val();

            $.ajax({
                url: "/Student/Payment/GenerateDueListReport",
                type: "POST",
                data: { stdProRoll:stdProRoll,programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchName: batchName, course: course, paymentStatus: paymentStatus, imageStatus: imageStatus, printingStatus: printingStatus, informationViewList: informationViewList,batchDays:batchDays, batchTime: batchTime },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (data1) {
                    //$('.totalPage').html(data1);
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data1) {
                    bootbox.alert(data1.Message).css('margin-top', (($(window).height() / 4)));
                }
            });


            //  window.location.href = 'HistoryOfPayment?stdProRoll='+$(this).attr('id');
            //window.location.href = $("body").attr("data-project-root") + "Student/Payment/HistoryOfPayment?stdProRoll=" + $(this).attr('id');
            //history.go(-1);
       });
       $(document).on("click", "#export", function() {
           var urlParam = {
               stdProRoll: stdProRoll
           };
           var url = "@Url.Action("PaymentHistoryToExcel", "Payment", null, Request.Url.Scheme)";
           url += "?" + decodeURIComponent($.param(urlParam, true));
           //console.log(url);
           window.open(url);
       });
</script>
}
