﻿@{
    ViewBag.Title = "My Transaction Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            My Transaction Report
        </div>
        
        <div class="panel-body form-horizontal">
            <div class="row col-md-12 text-center">
                <div class="row col-md-6 text-center">
                    <label class="control-label col-md-3"><strong>Branch</strong></label>
                    <select name="branchId" id="branchId" multiple="multiple" class="form-control" size="10" required>
                        @*<option value="all">All</option>*@
                        <option value="0">All Branch</option>
                        @if (ViewBag.BranchList != null)
                        {
                            foreach (var b in ViewBag.BranchList)
                            {
                                <option value="@b.Value">@b.Text</option>
                            }
                        }
                    </select>
                    @*@Html.ListBox("branchList", ViewBag.BranchList as MultiSelectList, new { @class = "form-control", @id = "branchId", @size = "10", @required = "required" })*@
                    <div class="text-center" id="bmsg"></div>
                </div>
                <div class="row col-md-6 text-center">
                    <div class="row">
                        <label class="control-label col-md-3"><strong>Campus</strong></label>
                        <select name="campusId" id="campusId" multiple="multiple" class="form-control" size="7" required>
                            <option value="0">All Campus</option>
                        </select>

                        @*@Html.ListBox("campusList", ViewBag.BranchList as MultiSelectList, new { @class = "form-control", @id = "campusId", @size = "10", @required = "required" })*@
                        <div class="text-center" id="bmsg"></div>
                    </div>
                    <br/>
                    <div class="row">
                            <label class="control-label col-md-3"><strong>Date</strong></label>
                            <input type="text" id="date" name="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" readonly="readonly" />
                            <div class="text-center" id="dtmsg"></div>                        
                    </div>
                </div>
            </div>
            
            
           
            @*<div class="row col-md-12"></div><div class="row col-md-12"></div><div class="row col-md-12"></div>*@
            <div class="row form-group col-md-12 text-center" style="margin-top: 20px;">
                <input type="submit" value="View Report" class="btn btn-primary" id="Submit" />
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        //$(document).ready(function() {
        //    $("#date").datetimepicker({
        //        format: "yyyy-mm-dd",
        //        autoclose: true,
        //        todayBtn: false,
        //        showMeridian: true,
        //        endDate: '+0d',
        //        startView: 2,
        //        minView: 2,
        //        maxView: 4

        //    }).on('changeDate', function() {
        //        if ($("#date").val().length > 0) {
        //            $('#dtmsg').text("");
        //        }
        //    });
        //});
        
        $(document).on('change', "#branchId", function() {
            $("#campusId option").remove();
            var branchId = $("#branchId").val();
            if (branchId) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Student/Payment/GetCampusByBranch",
                    type: "POST",
                    data: {"branchId": branchId},
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.campusList, function (i, v) {
                                $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });                          
                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response) {
                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus load failed</div>';
                        $('.customMessage').append(errorMessage);
                    }
                });
            }           
        });
    </script>
}
