﻿@{
    ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Payment History
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("HistoryOfPayment", "Payment", new { area = "Student" }, FormMethod.Get))
            {
                <input type="text" class="form-control" placeholder="Enter Program Roll" id="stdProRoll" name="stdProRoll" maxlength="11" value="@ViewBag.roll" />
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
            }
        </div>

    </div>

</div>
<script src="~/Scripts/jquery.validate.min.js"></script>