﻿@using System.Collections.Specialized
@using System.Web.UI.WebControls
@*@model UdvashERP.BusinessModel.Entity.StudentProgram*@
@Styles.Render("~/Content/css/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Student Due Payment";
    if (ViewBag.WithLayout == null || ViewBag.WithLayout == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                <strong>Error!</strong> @ViewBag.ErrorMessage
            </div>
        }

    }
}
<div id="mainBody">
   
    <div class="panel panel-primary">
        <div class="panel-heading">Student Due Payment</div>
        <div class="panel-body">
            @using (Html.BeginForm("DuePayment", "Payment", new { area = "Student" }, FormMethod.Get, new { @id = "duePaymentSearchFormBypId" }))
            {
                @Html.AntiForgeryToken()

                <div class="admissionBodyContent">
                    
                    @if (ViewBag.StudentRoll != null)
                    {
                        <input type="text" value="@ViewBag.StudentRoll" class="form-control" placeholder="Enter Program Roll" id="stdProgramId" name="stdProgramId" maxlength="11" />
                    }
                    else
                    {
                        <input type="text" class="form-control" placeholder="Program Roll" id="stdProgramId" name="stdProgramId" maxlength="11" />
                    }
                    
                    <div id="msgforpr" style="color: red">
                    </div>
                    <input id="searchByprNo" type="button" value="Submit" class="btn btn-primary btn-lg btn-block" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/StudentDuePayment.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
@*    <script type="text/javascript" src="~/Scripts/Student/PaymentDetail.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/MoneyReceiptPrint.js"></script>*@

    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });
    </script>
}
