﻿@{
    ViewBag.Title = "Transaction Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
    @Styles.Render("~/Content/styledatatable")
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")
<style>
     .trpanel-heading a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    .trpanel-heading a.collapsed:after {
        content: "\e080";
    }

</style>
<div class="panel-group" id="accordion">
    @using (Html.BeginForm("TransactionReceiveReport", "Payment", FormMethod.Post, new { name = "generateTransactionForm", id = "generateTransactionForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-primary" id="panel1">
            <div class="panel-heading trpanel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                        Transaction Report
                    </a>
                </h4>

            </div>
            <div id="collapseOne"  class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="administrationBodyContent" id="generateIdCard">
                        @*<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="organization" class="control-label col-md-4 text-right">Organization</label>
                                <div class="col-md-8">
                                    @Html.ListBox("organizationId", ViewBag.organizationList as MultiSelectList, new { @class = "form-control", @required = "required", @id = "organizationId" })
                                </div><div class="text-center" id="orgmsg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="branch" class="control-label col-md-4 text-right">Branch</label>
                                <div class="col-md-8">
                                    <select required="required" name="branchId" id="branchId" class="form-control valid" multiple="multiple"></select>
                                </div><div class="text-center" id="brmsg"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="campus" class="control-label col-md-4 text-right">Campus</label>
                                <div class="col-md-8">
                                    <select required="required" name="campusId" id="campusId" class="form-control valid" multiple="multiple"></select>
                                </div><div class="text-center" id="campmsg"></div>
                            </div>
                        </div>
                    </div>*@
                        <div class="row" style="margin-top: 15px;">
                            <div class="form-group">
                                <label for="" class="control-label col-md-2 text-right">Date Range</label>
                                <div class="col-md-10">
                                    <input type="text" id="datef" name="datef" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />
                                    <span style="float: left;margin:0px 12px 0px 147px; font-weight: bold">To</span>
                                    <input type="text" id="datet" name="datet" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />
                                    <div class="text-center" id="dtmsg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="branch" class="control-label col-md-4 text-right">User Branch</label>
                                        <div class="col-md-8">
                                            @*<select required="required" name="userBranchId" id="userBranchId" class="form-control valid" multiple="multiple"></select>*@
                                            @Html.ListBox("userBranchId", (SelectList) ViewBag.UserBranchList, new {@class = "form-control", @id = "userBranchId", @required = "required"})
                                        </div>
                                        <div class="text-center" id="ubrmsg"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="campus" class="control-label col-md-4 text-right">User Campus</label>
                                    <div class="col-md-8">
                                        <select required="required" name="userCampusId" id="userCampusId" class="form-control valid" multiple="multiple"></select>
                                    </div>
                                    <div class="col-lg-offset-3 row text-left" id="ucampmsg"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="user" class="control-label col-md-4 text-right">User</label>
                                    <div class="col-md-8" style="margin-left: -5px;">
                                        @Html.ListBox("UserIds", Enumerable.Empty<SelectListItem>(), new {@class = "form-control", @id = "UserIds", @size = "11", @required = "required"})
                                    </div>
                                    <div class="text-center" id="umsg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="branch" class="control-label col-md-4 text-right">Receive By User Branch</label>
                                        <div class="col-md-8">
                                            @*<select required="required" name="userBranchId" id="userBranchId" class="form-control valid" multiple="multiple"></select>*@
                                            @Html.ListBox("receivedByUserBranchId", (SelectList)ViewBag.ReceivedByUserBranchList, new { @class = "form-control", @id = "receivedByUserBranchId", @required = "required" })
                                        </div><div class="text-center" id="ubrmsg"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="campus" class="control-label col-md-4 text-right">Receive By User Campus</label>
                                    <div class="col-md-8">
                                        <select required="required" name="receivedByUserCampusId" id="receivedByUserCampusId" class="form-control valid" multiple="multiple"></select>
                                    </div><div class="col-lg-offset-3 row text-left" id="ucampmsg"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="user" class="control-label col-md-4 text-right">Receive By User</label>
                                    <div class="col-md-8" style="margin-left: -5px;">
                                        @Html.ListBox("receivedByUserIds", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @id = "receivedByUserIds", @size = "11", @required = "required" })
                                    </div>
                                    <div class="text-center" id="umsg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="pagesize" class="control-label col-md-2 col-md-offset-4 text-right" style="padding-top: 5px;">Page Size</label>
                                <div class="col-md-2" style="margin-left: -5px;">
                                    <input id="pageSize" name="pageSize" class="form-control" value="@ViewBag.PageSize" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="button" value="View Report" class="btn btn-primary" id="Submit" />
                                <input type="button" value="Export" class="btn btn-primary" id="export" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="panel panel-primary" style="margin-top: 20px" id="panel2">
        <div class="panel-heading trpanel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="collapsed">
                    Transaction Receive Report
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="mainDiv">
                    <div class="administrationBodyContent">
                        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl.</th>
                                    <th><strong>Receive Date</strong></th>
                                    <th><strong>User</strong></th>
                                    <th><strong>User Branch</strong></th>
                                    <th><strong>User Campus</strong></th>
                                    <th><strong>Receive By</strong></th>
                                    <th><strong>Receive Branch</strong></th>
                                    <th><strong>Receive Campus</strong></th>
                                    <th><strong>Received Amount</strong></th>
                                    <th><strong>Cashback Amount</strong></th>
                                    <th><strong>Net Received Amount</strong></th>
                                    <th><strong>Cash Receive</strong></th>
                                    <th><strong>Voucher Receive</strong></th>
                                    <th><strong>IOU Receive</strong></th>
                                </tr>
                            </thead>
                            <tbody class="text-center"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
@Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script src="~/Scripts/Student/Attendance/IndividualReport.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            //load user branch
            //$.ajax({
            //    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
            //    type: "POST",
            //    data: { organizationIds: null, programIds: null, sessionIds: null, isAuthorized: true },
            //    success: function (response) {
            //        if (response.IsSuccess) {
            //            $('#userBranchId').append($('<option>').text("All").attr('value', 0));
            //            $.each(response.returnBranchList, function (i, v) {
            //                $('#userBranchId').append($('<option>').text(v.Text).attr('value', v.Value));
            //            });
            //        }
            //    },
            //    complete: function () {
            //        $.unblockUI();
            //    },
            //    error: function (response) {
            //        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Branch load failed</div>';
            //        $('.customMessage').append(errorMessage);
            //    }
            //});
            //load user branch

             //load user campus on user branch change
            $(document).on('change', "#userBranchId", function () {

                $("#userCampusId option").remove();
                $("#UserIds option").remove();
                var branchId = $("#userBranchId").val();
                if (branchId != null && branchId != "") {
                    $('#ubrmsg').text("");
                }
                if (branchId != null && branchId != "") {

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { organizationIds: null, programIds: null, sessionIds: null, branchIds: branchId, isAuthorized: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#userCampusId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#userCampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Campus load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });

            $(document).on('change', "#receivedByUserBranchId", function () {
                $("#receivedByUserCampusId option").remove();
                $("#receivedByUserIds option").remove();
                var branchId = $("#receivedByUserBranchId").val();
                if (branchId != null && branchId != "") {
                    $('#ubrmsg').text("");
                }
                if (branchId != null && branchId != "") {

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { organizationIds: null, programIds: null, sessionIds: null, branchIds: branchId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#receivedByUserCampusId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#receivedByUserCampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {

                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Campus load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });

            //load user campus on user branch change

            //load user on campus change
            $(document).on('change', "#userCampusId", function () {
                $("#UserIds option").remove();
                var campusId = $("#userCampusId").val();
                var branchId = $("#userBranchId").val();
                if (campusId != null && campusId != "") {
                    $('#umsg').text("");
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Student/Payment/LoadUser",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: {branchIds:branchId, campusIds: campusId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                //$('#UserIds').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnedUserList, function (i, v) {
                                    $('#UserIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });


            $(document).on('change', "#receivedByUserCampusId", function () {
                $("#receivedByUserIds option").remove();
                var campusId = $("#receivedByUserCampusId").val();
                var branchId = $("#receivedByUserBranchId").val();
                if (campusId != null && campusId != "") {
                    $('#umsg').text("");
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Student/Payment/LoadUser",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { branchIds: branchId, campusIds: campusId, isAutho: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                //$('#UserIds').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnedUserList, function (i, v) {
                                    $('#receivedByUserIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });

            var startDate = new Date();
            var FromEndDate = new Date();
            var ToEndDate = new Date();
            ToEndDate.setDate(ToEndDate.getDate() + 365);

            var today = new Date();
            var firstDay = new Date(today.getFullYear(), today.getMonth(), 1);
            var lastDay = today;
            var firstDaystring = "";
            var lastDaystring = "";
            if (firstDay.getDate() < 10) {

            }
            if (firstDay.getDate() < 10) {
                firstDaystring = firstDay.getFullYear() + '-' + (firstDay.getMonth() + 1) + '-0' + (firstDay.getDate());
            } else {
                firstDaystring = firstDay.getFullYear() + '-' + (firstDay.getMonth() + 1) + '-' + (firstDay.getDate());
            }
            if (lastDay.getDate() < 10) {
                lastDaystring = lastDay.getFullYear() + '-' + (lastDay.getMonth() + 1) + '-0' + (lastDay.getDate());
            } else {
                lastDaystring = lastDay.getFullYear() + '-' + (lastDay.getMonth() + 1) + '-' + (lastDay.getDate());
            }

            $("#datef").val(firstDaystring);
            $("#datet").val(lastDaystring);
            startDate = new Date(firstDay.valueOf());
            startDate.setDate(startDate.getDate(new Date(firstDay.valueOf())));
            //$('#DateTo').datetimepicker('setStartDate', startDate);
            $("#datef").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: firstDaystring,
                endDate: lastDaystring,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (selected) {
                startDate = new Date(selected.date.valueOf());
                startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                $('#datet').datetimepicker('setStartDate', startDate);

            });
            $("#datet").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: lastDaystring,
                startDate: firstDaystring,
                endDate: lastDaystring,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (selected) {
                FromEndDate = new Date(selected.date.valueOf());
                FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
                $('#datef').datetimepicker('setEndDate', FromEndDate);
            });
           
        });

        $(document).on('click', '#Submit,#export', function (e) {
            $('#cmsg').text("");
            $('#dtmsg').text("");
            $('#umsg').text("");
            if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                $('#dtmsg').text("");
            }
            var userIds = $("#UserIds").val(); 
            var datef = $("#datef").val();
            var datet = $("#datet").val();

            var isSuccess = true;
            if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                $('#dtmsg').text("Date to can not be less than date from.");
                $('#dtmsg').css('color', 'red');
                isSuccess = false;
            }

            if (UserIds == null || UserIds == "") {
                $('.umsg').text("");
                var campusMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="campmsg">Select User</span></span>';
                $('#umsg').append(campusMessage);
                isSuccess = false;
            }

            if (datef == null || datef == "") {

                $('#dtmsg').text("");
                $('#dtmsg').css('color', 'red');
                $('#dtmsg').text("select date range");
                isSuccess = false;
            }
            if (datet == null || datet == "") {
                $('#dtmsg').text("");
                $('#dtmsg').css('color', 'red');
                $('#dtmsg').text("select date range");
                isSuccess = false;
            }

            if (isSuccess == true) {
                // $('form#generateTransactionForm').submit();

                var id = $(this).attr("id");
                if (id == "export") {
                    var userCampusIds = $("#userCampusId").val();
                    var userBranchIds = $("#userBranchId").val();
                    //var UserIds = $("#UserIds").val();
                    //var datef = $("#datef").val();
                    //var datet = $("#datet").val();
                    var ReceivedByUserIds = $("#receivedByUserIds").val();
                    var ReceivedByUserCampusIds = $("#receivedByUserCampusId").val();
                    var ReceivedByUserBranchIds = $("#receivedByUserBranchId").val();

                     var urlParam = {
                         userIds: userIds,
                         userBranchIds : userBranchIds,
                         userCampusIds : userCampusIds,
                         datef: datef,
                         datet: datet,
                         receivedByUserBranchIds: ReceivedByUserBranchIds,
                         receivedByUserCampusIds: ReceivedByUserCampusIds,
                         receivedByUserIds: ReceivedByUserIds
                     };

                    var url = "@Url.Action("TransactionReceiveReportToExcel", "Payment", null, Request.Url.Scheme)";
                    url += "?" + decodeURIComponent($.param(urlParam, true));
                    window.open(url);
                } else {
                    dataTableRender();
                }
               
                
                
                return true;
            } else {
                e.preventDefault();
                return false;
            }

        });

        $(document).on('change', '#UserIds', function () {
            if ($("#UserIds").val() >= 0) {
                $('#umsg').text("");
            }
        });
        $(document).on('change', "#campusId", function () {

            $('#batchDays option').remove();
            $('#batchTime option').remove();
            $('#batchName option').remove();

            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var branchId = $("#branchId").val();
            var campusId = $("#campusId").val();
            if (campusId != null && campusId != "") {
                $('#campmsg').text("");
            }
        });

        function dataTableRender() {
            var userCampusIds = $("#userCampusId").val();
            var userBranchIds = $("#userBranchId").val();
            var UserIds = $("#UserIds").val();
            var datef = $("#datef").val();
            var datet = $("#datet").val();
            var receivedByUserCampusIds = $("#receivedByUserCampusId").val();
            var receivedByUserBranchIds = $("#receivedByUserBranchId").val();
            var receivedByUserIds = $("#receivedByUserIds").val();

            var pageSize = 10;
            if ($("#pageSize").val() != "" && /^\d+$/.test($("#pageSize").val())) {
                pageSize = parseInt($("#pageSize").val());
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "bInfo": true,
                order: [[0, "desc"]],
                "bSort": false,
                ajax: {
                    url: 'TransactionReportReceiveResult',
                    type: 'POST',
                    data: function (d) {
                        d.userBranchIds = userBranchIds;
                        d.userCampusIds = userCampusIds;
                        d.UserIds = UserIds;
                        d.datef = datef;
                        d.datet = datet;
                        d.receivedByUserBranchIds = receivedByUserBranchIds;
                        d.receivedByUserCampusIds = receivedByUserCampusIds;
                        d.receivedByUserIds = receivedByUserIds;
                    }
                }
            });
        }
    </script>

}
