﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Transaction Summary Report";
    var formIsPost = ViewBag.IsPost;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Transaction Summary Report</h4>
    </div>
    <div class="panel-body" id="transactionSummaryReport">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("branchId", (SelectList)ViewBag.BranchList, "Select Branch", new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.Label("Method", new { @class = "control-label col-md-1" })*@
                            <div class="col-md-6">
                                <select class="form-control" name="method" id="Method">
                                    @if (ViewBag.Method == 1)
                                    {
                                        <option value="0">All</option>
                                        <option value="1" selected="selected">Cash</option>
                                        <option value="2">bKash</option>
                                    }
                                    else if (ViewBag.Method == 2)
                                    {
                                        <option value="0">All</option>
                                        <option value="1">Cash</option>
                                        <option value="2" selected="selected">bKash</option>
                                    }
                                    else
                                    {
                                        <option value="0">All</option>
                                        <option value="1">Cash</option>
                                        <option value="2">bKash</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" name="dailySummaryType" id="DailySummaryType">
                                    @if (ViewBag.DailySummaryType == 1)
                                    {
                                        <option value="1" selected="selected">Daily Report</option>
                                        <option value="2">Summary Report</option>
                                    }
                                    else if (ViewBag.DailySummaryType == 2)
                                    {
                                        <option value="1">Daily Report</option>
                                        <option value="2" selected="selected">Summary Report</option>
                                    }
                                    else
                                    {
                                        <option value="2">Summary Report</option>
                                        <option value="1">Daily Report</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" id="date-from" value="@ViewBag.DateFrom" class="form-control date-from" name="dateFrom" readonly="readonly" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="date-to" value="@ViewBag.DateTo" class="form-control date-to" name="dateTo" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.ListBox("campusIds", (IEnumerable<SelectListItem>)ViewBag.CampusList, new { @size = 7, @class = "form-control " })
                            </div>
                            <div class="col-md-6">
                                @Html.ListBox("programIds", (IEnumerable<SelectListItem>)ViewBag.ProgramList, new { @size = 7, @class = "form-control " })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center" style="padding-top: 10px">
                            <input type="submit" id="Submit" value="View" class="btn btn-primary" />
                            @if (formIsPost)
                            {
                                <input type="button" id="Print" onclick="printDiv('transactionSummaryReportContent')" value="Print" class="btn btn-primary" />
                            }

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
    <hr />
    <div class="col-md-12">
        @if (formIsPost)
        {
            Html.RenderPartial("Partial/_LoadTransactionSummaryReport");
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        //Cutomize Print Function
        function printDiv(divName) {
            //Full Div Font Style
           $("#newPrintableDiv").css({
               "margin-top": "-86px",
               "font-size": 10
           });
           //Table Padding
            $("#newPrintableDiv .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td").css({
                "padding": "2px",
            });
           //Print Content
            var printContents = $("#" + divName).html();
            var restorepage = $('body').html();
            //Remove others element without print area 
            $("#sidebar").empty();
            $(".breadcrumb").empty();
            $("#main-body-content").empty();
            $('body').find("footer").empty();
            $('body').find("hr").remove();
            $("#main-body-content").html(printContents);
            window.print(printContents);
            //Append previous table as first time
            $('body').html(restorepage);
            $("#newPrintableDiv").css({ "margin-top": "0px", "font-size": 14 });
            $("#newPrintableDiv .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td").css({
                "padding": "8px"
            });
        }
        $(document).ready(function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.date-from').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $('.date-to').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("change", "#date-from", function (event) {
                var val = $("#date-from").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                }
            });
            $(document).on("change", "#date-to", function (event) {
                var val = $("#date-to").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                }
            });

            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    //validationClientSide();
                }
            });


            //Call validation method on Mouse Click
            window.validateDropDownField("organizationId", "Please Select Organization.");
            window.validateDropDownField("branchId", "Please Select Branch.");
            window.validateDropDownField("programIds", "Please Select Program.");
            window.validateDropDownField("campusIds", "Please Select Campus.");
            $("#organizationId").change(function () {
                $('#branchId').empty();
                $('#branchId').append("<option value=''>Select Branch</option>");
                $("#campusIds option").remove();
                $("#programIds option").remove();
                var organizationId = $("#organizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#branchId").change(function () {
                $("#programIds option").remove();
                $("#campusIds option").remove();
                var organizationId = $("#organizationId").val();
                var branchId = $("#branchId").val();

                if (organizationId != null && organizationId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",

                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchId, isAuthorized: true },

                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#campusIds').append('<option value="0">All Campus</option>');
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#campusIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                                type: "POST",
                                data: { organizationIds: organizationId, branchIds: branchId, isAuthorized: true },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                                    });
                                },
                                success: function (response) {

                                    $('#programIds').append('<option value="0">All Program</option>');
                                    $.each(response.returnProgramList, function (i, v) {
                                        $('#programIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    $.unblockUI();
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (response, status, xhr) {
                                    console.log("Failed -----");
                                }
                            });

                            $.unblockUI();










                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Submit', function (e) {
                $('.field-validation-error').remove();
                var organizationId = $('#organizationId').val();
                var branchId = $('#branchId').val();
                var campusIds = $('#campusIds').val();
                var programIds = $('#programIds').val();
                var dailySummaryType = $('#DailySummaryType').val();
                var method = $('#Method').val();
                var dateFrom = $('#date-from').val();
                var dateTo = $('#date-to').val();
                var isSuccess = true;
                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (branchId == null || branchId <= 0) {
                    window.showErrorMessageBelowCtrl("branchId", "", false);
                    window.showErrorMessageBelowCtrl("branchId", "Please Select Branch.", true);
                    isSuccess = false;
                }
                if (campusIds == null || programIds.length <= 0) {
                    window.showErrorMessageBelowCtrl("programIds", "", false);
                    window.showErrorMessageBelowCtrl("programIds", "Please Select Program.", true);
                    isSuccess = false;
                }
                if (campusIds == null || campusIds.length <= 0) {
                    window.showErrorMessageBelowCtrl("campusIds", "", false);
                    window.showErrorMessageBelowCtrl("campusIds", "Please Select Campus.", true);
                    isSuccess = false;
                }

                if (dailySummaryType == null || dailySummaryType <= 0) {
                    window.showErrorMessageBelowCtrl("DailySummaryType", "", false);
                    window.showErrorMessageBelowCtrl("DailySummaryType", "Please Select daily or Summary Type.", true);
                    isSuccess = false;
                }

                if (method == null || method.length <= 0) {
                    window.showErrorMessageBelowCtrl("Method", "", false);
                    window.showErrorMessageBelowCtrl("Method", "Please Select Method .", true);
                    isSuccess = false;
                }
                if (dateFrom == null || dateFrom.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                    window.showErrorMessageBelowCtrl("date-from", "Please Date From Time.", true);
                    isSuccess = false;
                }
                if (dateTo == null || dateTo.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                    window.showErrorMessageBelowCtrl("date-to", "Please Date To Time.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    console.log("true");
                    return true;
                } else {
                    console.log("False");
                    e.preventDefault();
                    return false;
                }

            });


        });
    </script>
}
