﻿
@{
    ViewBag.Title = "Transaction Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}


@Styles.Render("~/Content/css/bootstrap-duallistbox")


@using (Html.BeginForm("GenerateTransactionReport", "Payment", FormMethod.Post, new { name = "generateTransactionForm", id = "generateTransactionForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Transaction Report
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization" class="control-label col-md-4 text-right">Organization</label>
                            <div class="col-md-8">
                                @Html.ListBox("organizationId", ViewBag.organizationList as MultiSelectList, new { @class = "form-control", @required = "required", @id = "organizationId" })                                   
                            </div><div class="text-center" id="orgmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProgramId" class="control-label col-md-4 text-right">Program</label>
                            <div class="col-md-8">
                                <select required="required" name="ProgramId" id="ProgramId" class="form-control valid"></select>
                            </div><div class="text-center" id="pmsg"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="SessionId" class="control-label col-md-4 text-right">Session</label>
                            <div class="col-md-8">
                                @Html.DropDownList("SessionId", null, "Select a session", htmlAttributes: new { @class = "form-control", @required = "required", @id = "SessionId" })
                            </div><div class="text-center" id="smsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4 text-right">Branch</label>
                            <div class="col-md-8">
                                <select required="required" name="branchId" id="branchId" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="brmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4 text-right">Campus</label>
                            <div class="col-md-8">
                                <select required="required" name="campusId" id="campusId" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="campmsg"></div>
                        </div>
                    </div>
                </div>
               
               
                <div class="row" style="margin-top: 15px;">
                    <div class="form-group">
                        <label for="" class="control-label col-md-2 text-right">Date Range</label>
                        <div style="margin-left: 163px;">
                            <input type="text" id="datef" name="datef" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />
                            <span style="float: left;margin:0px 12px 0px 147px; font-weight: bold">To</span>
                            <input type="text" id="datet" name="datet" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />
                            <div class="text-center" id="dtmsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="" class="control-label col-md-2 text-right">Payment Method</label>
                        <div class="col-md-10" style="margin-left: -5px;">
                            @Html.DropDownList("PaymentMethod", (SelectList)ViewBag.PaymentMethod, htmlAttributes: new { @class = "form-control", @required = "required", @id = "PaymentMethod" })
                            @*<select name="PaymentMethod" class="form-control" id="PaymentMethod">
                                <option value="0">All</option>
                                @foreach (var pm in ViewBag.PaymentMethod)
                                {
                                    <option value="@pm.Value">@pm.Text</option>
                                }
                            </select>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="branch" class="control-label col-md-4 text-right">User Branch</label>
                                <div class="col-md-8">
                                   
                                    <select required="required" name="userBranchId" id="userBranchId" class="form-control valid" multiple="multiple"></select>
                                </div><div class="text-center" id="ubrmsg"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="campus" class="control-label col-md-4 text-right">User Campus</label>
                            <div class="col-md-8">
                               
                                <select required="required" name="userCampusId" id="userCampusId" class="form-control valid" multiple="multiple"></select>
                            </div><div class="col-lg-offset-3 row text-left" id="ucampmsg"></div>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="user" class="control-label col-md-4 text-right">User</label>
                            <div class="col-md-8" style="margin-left: -5px;">
                               
                                @Html.ListBox("UserIds", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @id = "UserIds", @size = "11", @required = "required" })
                            </div>
                            <div class="text-center" id="umsg"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="button" value="View Report" class="btn btn-primary" id="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
  
    <script src="~/Scripts/Student/Attendance/IndividualReport.js"></script>
     
    <script type="text/javascript">

        $(document).ready(function() {
            //load user branch
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                type: "POST",
                data: { organizationIds: null, programIds: null, sessionIds: null, isAuthorized: true },

                success: function (response) {
                    if (response.IsSuccess) {
                        $('#userBranchId').append($('<option>').text("All").attr('value', 0));
                        $.each(response.returnBranchList, function (i, v) {
                            $('#userBranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response) {
                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Branch load failed</div>';
                    $('.customMessage').append(errorMessage);
                }
            });
            //load user branch

            //load user campus on user branch change
            $(document).on('change', "#userBranchId", function () {

                $("#userCampusId option").remove();
                $("#UserIds option").remove();
                var branchId = $("#userBranchId").val();
                if (branchId != null && branchId != "") {
                    $('#ubrmsg').text("");
                }
                if (branchId != null && branchId != "") {

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { organizationIds: null, programIds: null, sessionIds: null, branchIds: branchId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#userCampusId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#userCampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User Campus load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });

            //load user campus on user branch change

            
            //load user on campus change
            $(document).on('change', "#userCampusId", function () {
                $("#UserIds option").remove();
                var campusId = $("#userCampusId").val();
                var branchId = $("#userBranchId").val();
                if (campusId != null && campusId != "") {
                    $('#umsg').text("");
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Student/Payment/LoadUserForTransactionReport",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { branchIds: branchId, campusIds: campusId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                //$('#UserIds').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnedUserList, function (i, v) {
                                    $('#UserIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>User load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });
            //load user on campus change
            $("#datet").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                // initialDate: new Date().getDate(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                }
            });
            $("#datef").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                // initialDate:"2000-01-01",
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                }
            });
            $(document).on('click', '#Submit', function(e) {
                $('#orgmsg').text("");
                $('#pmsg').text("");
                $('#smsg').text("");
                $('#brmsg').text("");
                $('#campmsg').text("");
                $('#cmsg').text("");
                $('#dtmsg').text("");
                $('#umsg').text("");
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                var organizationId = $("#organizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();
                //var course = $("#course").val();
                var UserIds = $("#UserIds").val();
                var datef = $("#datef").val();
                var datet = $("#datet").val();

                var isSuccess = true;
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                    isSuccess = false;
                }
                if (organizationId == null || organizationId < 0) {
                    $('#orgmsg').text("");
                    var organizationMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="orgmsg">Select Organization</span></span>';
                    $('#orgmsg').append(organizationMessage);
                    isSuccess = false;
                }
                if (programId == null || programId < 0) {
                    $('#pmsg').text("");
                    var programMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="pmsg">Select Program</span></span>';
                    $('#pmsg').append(programMessage);
                    isSuccess = false;
                }

                if (sessionId == null || sessionId == "") {
                    $('#smsg').text("");
                    var sessionMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="smsg">Select Session</span></span>';

                    $('#smsg').append(sessionMessage);
                    isSuccess = false;
                }

                if (branchId == null || branchId == "") {
                    $('#brmsg').text("");
                    var branchMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="brmsg">Select Branch</span></span>';
                    $('#brmsg').append(branchMessage);
                    isSuccess = false;
                }

                if (campusId == null || campusId == "") {
                    $('#campmsg').text("");
                    var campusMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="campmsg">Select Campus</span></span>';
                    $('#campmsg').append(campusMessage);
                    isSuccess = false;
                }

                if (UserIds == null || UserIds == "") {
                    $('.umsg').text("");
                    var campusMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="campmsg">Select User</span></span>';
                    $('#umsg').append(campusMessage);
                    isSuccess = false;
                }

                if (datef == null || datef == "") {

                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("select date range");
                    isSuccess = false;
                }
                if (datet == null || datet == "") {
                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("select date range");
                    isSuccess = false;
                }


               

                if (isSuccess == true) {
                    $('form#generateTransactionForm').submit();
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }
            });
            $(document).on('change', '#organizationId', function () {


                var organizationId = [];
                organizationId = $("#organizationId").val();
                if (organizationId.indexOf('0') > -1) {
                    organizationId = null;
                }
                console.log(organizationId);
                $("#SessionId option").remove();
                $("#ProgramId option").remove();
               // $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (organizationId != "") {
                    $('#orgmsg').text("");
                }
                // var x =
                if (organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { "organizationIds": organizationId, isAuthorized: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#ProgramId').append('<option value="">Select Program</option>');
                                
                                if (response.returnProgramList.length > 0) {
                                    $('#ProgramId').append('<option value="0">All</option>');
                                }
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                // $("#SessionId").find('option:eq(0)').prop('selected', true);
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                // alert("Session load failed");
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program load failed</div>';
                                $('.customMessage').append(errorMessage);
                                //console.log("Failed -----");
                                // console.log(response);
                            }
                    });
                }
                // SESSION
            });

            $(document).on('change', "#SessionId", function () {

                // BRANCH && COURSE
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var organizationId = $("#organizationId").val();
               // $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (programId != null && programId != "") {
                    $('#smsg').text("");
                }

                if (programId != null && programId != "" && sessionId != null && sessionId != "") {

                    // COURSE

                    //$.ajax({
                    //    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                    //    type: "POST",
                    //    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId },
                    //    beforeSend: function () {
                    //        $.blockUI({
                    //            timeout: 0,
                    //            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    //        });
                    //    },

                    //    success: function (response) {
                    //        if (response.IsSuccess) {
                    //           // $('#course').append($('<option>').text("Select Course").attr('value', ""));
                    //            $('#course').append($('<option>').text("All").attr('value',0));
                    //            $.each(response.returnCourse, function (i, v) {
                    //                $('#course').append($('<option>').text(v.Text).attr('value', v.Value));
                    //            });
                    //            //  $("#course").find('option:eq(0)').prop('selected', true);
                    //        }
                    //        $.unblockUI();
                    //    },
                    //    complete: function () {
                    //        $.unblockUI();
                    //    },
                    //    error: function (response) {
                    //        // alert("Branch load failed");
                    //        //console.log("Failed -----");
                    //        //console.log(response);
                    //        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Course load failed</div>';
                    //        $('.customMessage').append(errorMessage);
                    //    }
                    //});

                    // COURSE
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: {organizationIds:organizationId, programIds: programId, sessionIds: sessionId, isAuthorized:false },

                        success: function (response) {
                            if (response.IsSuccess) {
                               // $('#branchId').append($('<option>').text("Select Branch").attr('value', ""));
                                $('#branchId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            //alert("Branch load failed");
                            //console.log("Failed -----");
                            //console.log(response);
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Branch load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

                //BRANCH
            });

            $(document).on('change', "#ProgramId", function() {

                // BRANCH && COURSE
                var programId = $("#ProgramId").val();
               // var sessionId = $("#SessionId").val();
                var organizationId = $("#organizationId").val();
                $("#SessionId option").remove();
              //  $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (programId != null && programId != "") {
                    $('#pmsg').text("");
                }

                if (programId != null && programId != "" &&  organizationId != "") {

                   

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId ,isAuthorized:false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },

                        success: function(response) {
                            if (response.IsSuccess) {
                                $('#SessionId').append($('<option>').text("Select Session").attr('value', ""));
                                $('#SessionId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //  $("#course").find('option:eq(0)').prop('selected', true);
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Session load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });

                    // COURSE

                    //$.ajax({
                    //    url: $("body").attr("data-project-root") + "Student/Payment/GetBranch",
                    //    type: "POST",
                    //    data: { "programId": programId, "sessionId": sessionId },

                    //    success: function(response) {
                    //        if (response.IsSuccess) {

                    //            $.each(response.branchList, function(i, v) {
                    //                $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                    //            });
                    //        }
                    //    },
                    //    complete: function() {
                    //        $.unblockUI();
                    //    },
                    //    error: function(response) {
                    //        //alert("Branch load failed");
                    //        //console.log("Failed -----");
                    //        //console.log(response);
                    //        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Branch load failed</div>';
                    //        $('.customMessage').append(errorMessage);
                    //    }
                    //});
                }

                //BRANCH
            });


            // SESSION


            // BRANCH

            $(document).on('change', "#branchId", function() {

                $("#campusId option").remove();


                var organizationId = $("#organizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                if (branchId != null && branchId != "") {
                    $('#brmsg').text("");
                }
                if (organizationId != null && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId,isAuthorized:false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $('#campusId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //   $("#campusId").find('option:eq(0)').prop('selected', true);

                                //BATCH
                                var campusId = $("#campusId").val();

                                // BATCH
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            //alert("Campus load failed");
                            //console.log("Failed -----");
                            //console.log(response);
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });

            // BRANCH
            //$(document).on('change', '#course', function() {
            //    if ($("#course").val() >= 0) {

            //        $('#cmsg').text("");
            //    }
            //});
            $(document).on('change', '#UserIds', function() {
                if ($("#UserIds").val() >= 0) {
                    $('#umsg').text("");
                }
            });
            $(document).on('change', "#campusId", function() {

                $('#batchDays option').remove();
                $('#batchTime option').remove();
                $('#batchName option').remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();
                if (campusId != null && campusId != "") {
                    $('#campmsg').text("");
                }
            });
        });

    </script>
   
}
