﻿@using UdvashERP.BusinessRules.UInventory
@using UdvashERP.Services.Helper
@model UdvashERP.BusinessModel.Entity.UInventory.SupplierPriceQuote

@{
    ViewBag.Title = "Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CommonHelper commonHelper = new CommonHelper();
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Work Order</h3>
    </div>

    <div class="panel-body workOrderBodyPanel">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Organization Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Quotation.Branch.Organization.ShortName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Branch Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Quotation.Branch.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Group Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Quotation.Item.ItemGroup.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Item Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Quotation.Item.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Supplier Name") :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Supplier.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Purpose") :</td>
                    <td style="text-align:  left">
                        @{
                            @(Model.Quotation.Purpose != null ? commonHelper.GetEmumIdToValue<Purpose>((int)Model.Quotation.Purpose) : "N/A")
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Program & Session") :</td>
                    <td style="text-align:  left">
                        @{
                            if (Model.Quotation.Program == null || Model.Quotation.Session == null)
                            {
                                @("N/A")
                            }
                            else
                            {
                                @(Model.Quotation.Program.Name + " " + Model.Quotation.Session.Name)
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Quotation.DeliveryDate) :</td>
                    <td style="text-align:  left">@(Model.Quotation.DeliveryDate.ToString("MMMM d, yyyy"))</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName("Specification")</td>
                </tr>
                @foreach (var quotationCriteria in Model.Quotation.QuotationCriteriaList)
                {
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayName(quotationCriteria.Criteria) :</td>
                        <td style="text-align:  left">@(quotationCriteria.CriteriaValue)</td>
                    </tr>
                }
            </table>
            <div class="">
                <p><b>Order Quantity & Rate Details</b></p>
                <table id="" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Quoted Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Remaining Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Ordered Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Quotated Unit Cost")
                            </th>
                            <th>
                                @Html.DisplayName("Negotiated Unit Cost")
                            </th>
                            <th>
                                @Html.DisplayName("Total Negotiated Cost")
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td style="text-align: center; font-weight: bold" id="quotedQ">@(Model.Quotation.QuotationQuantity)</td>
                            <td style="text-align: center; font-weight: bold" id="remainingQ">@(ViewBag.TotalRemainingQuantity)</td>
                            <td style="text-align: center;" class="">
                                @if (ViewBag.TotalRemainingQuantity > 0)
                                {
                                    <input type="text" id="orderQuantity" value="" placeholder="Order Quantity" class="form-control" onkeypress=' return validateQty(event); ' />
                                }
                                else
                                {
                                    <input type="text" id="orderQuantity" value="" placeholder="Order Quantity" readonly="readonly" class="form-control" onkeypress=' return validateQty(event); ' />
                                }
                                
                            </td>
                            <td style="text-align: center; font-weight: bold">@(Model.QuotedUnitCost)</td>
                            <td style="text-align: center" class="">
                                @if (ViewBag.TotalRemainingQuantity > 0)
                                {
                                    <input type="text" id="negotiatedUnitCost" value="" placeholder="Unit Cost" class="form-control" onkeypress=' return validateQtyWithDecimal(event); ' />
                                }
                                else
                                {
                                    <input type="text" id="negotiatedUnitCost" value="" placeholder="Unit Cost" readonly="readonly" class="form-control" onkeypress=' return validateQtyWithDecimal(event); ' />
                                }
                            </td>
                            <td style="text-align:  center" id="totalNegotiatedCost">0</td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" id="priceQuotationId" value="@(Model.Id)" class="form-control" />
                <input type="hidden" id="oldRemainQ" value="@(ViewBag.TotalRemainingQuantity)" class="form-control" />
            </div>
            <div class="form-group actionButton">
                <div class="text-center">
                    @if (ViewBag.TotalRemainingQuantity > 0)
                    {
                        <input type="button" value="Issue" class="btn btn-primary" id="IssueWorkOrder" />
                    }
                    else
                    {
                        <input type="button" value="Issue" disabled="disabled" class="btn btn-primary" id="IssueWorkOrder" />
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $(document).on("click", "#IssueWorkOrder", function() {

                var oldRemainQ = parseInt($("#oldRemainQ").html());
                var negotiatedUnitCost = parseFloat($("#negotiatedUnitCost").val());
                var orderQuantity = parseInt($("#orderQuantity").val());
                var priceQuotationId = $("#priceQuotationId").val();
                var latestRemainQuantity = oldRemainQ - orderQuantity;
                if (latestRemainQuantity < 0 || isNaN(orderQuantity) || isNaN(negotiatedUnitCost)) {
                    $.fn.customMessage({
                        displayMessage: "Please fill up input fill for issuing work order",
                        displayMessageType: "e"
                    });
                } else {
                    bootbox.confirm("<h3>Are you sure you want to issue this work order?</h3>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "UInventory/WorkOrder/WorkOrderIssueToSupplier",
                                cache: false,
                                async: true,
                                data: { priceQuotationId: priceQuotationId, orderQuantity: orderQuantity, negotiatedUnitCost: negotiatedUnitCost },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    if (result.IsSuccess == false) {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "e"
                                        });
                                    } else {
                                        $(".workOrderBodyPanel").html(result);
                                    }

                                    $.unblockUI();
                                },
                                error: function(result) {

                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e"
                                    });
                                    $.unblockUI();
                                }
                            });
                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
            });

            $("#orderQuantity").on("keyup", function() {
                $("#negotiatedUnitCost").val("");
                $("#totalNegotiatedCost").html("");

                var quotedQuantity = parseInt($("#quotedQ").html());
                var orderQuantity = parseInt($("#orderQuantity").val());
                var remainingQuantity = parseInt($("#remainingQ").html());
                var oldRemainQ = parseInt($("#oldRemainQ").val());
                if (isNaN(orderQuantity)) {
                    $('#remainingQ').html(oldRemainQ);
                } else {
                    $('#remainingQ').html(oldRemainQ - orderQuantity);
                }
            });
            $("#negotiatedUnitCost").on("keyup", function() {
                var negotiatedUnitCost = parseFloat($(this).val());
                var orderQuantity = parseInt($("#orderQuantity").val());
                $('#totalNegotiatedCost').html(Math.round(negotiatedUnitCost * orderQuantity));
            });
        });

        function validateQty(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46
                || event.keyCode == 37 || event.keyCode == 39) {
                return true;
            } else if (key < 48 || key > 57) {
                return false;
            } else return true;
        };

        function validateQtyWithDecimal(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46
                || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 110) {
                return true;
            } else if (key == 46) {
                return true;
            } else if (key < 48 || key > 57) {
                return false;
            } else return true;
        };
    </script>
}