﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.WorkOrderReportFormViewModel

@{
    ViewBag.Title = "Work Order Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/bootstrap-datepicker")
@Styles.Render("~/Content/bootstrap-multiselect")
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Work Order Report</h4></div>
    <div class="panel-body">
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "directWorkOrderReportDiv", HttpMethod = "Post", OnBegin = "blockFunc", OnComplete = "unblockFunc" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.branchIdList, new { @class = "form-control", @id = "BranchId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                   @Html.LabelFor(model => model.WorkOrderType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.WorkOrderType, (SelectList)ViewBag.WorkOrderTypeList, new { @class = "form-control", @id = "WorkOrderType" })
                    @Html.ValidationMessageFor(model => model.WorkOrderType, "", new { @class = "text-danger" })
                </div>
                     @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Purpose, (SelectList)ViewBag.perposeList, new { @class = "form-control", @id = "Purpose", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                    </div>
                    
                </div>

                <div class="form-group">
                   @Html.LabelFor(model => model.ItemGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ItemGroupId, (SelectList)ViewBag.itemGroupList, new { @class = "form-control", @id = "ItemGroupId", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "text-danger" })
                </div>
                     @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.itemList, new { @class = "form-control", @id = "ItemId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                    </div>
                   
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramSession, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ProgramSession, (SelectList)ViewBag.programSessionList, new { @class = "form-control", @id = "ProgramSession", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ProgramSession, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.WorkOrderStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.WorkOrderStatus, (SelectList)ViewBag.WorkOrderStatusList, new { @class = "form-control", @id = "WorkOrderStatus" })
                        @Html.ValidationMessageFor(model => model.WorkOrderStatus, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Date Range", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="input-group input-daterange">
                            @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                            <span class="input-group-addon">to</span>
                            @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    @Html.LabelFor(model => model.NoOfPages, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoOfPages, new { htmlAttributes = new { @class = "form-control" ,@Value=10} })
                        @Html.ValidationMessageFor(model => model.NoOfPages, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="directWorkOrderReportDiv">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-multiselect")
    @*<script type="text/javascript" src="~/Content/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        function blockFunc() {
            $.blockUI({
                timeout: 0,
                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            });
        }

        function unblockFunc() {
            $.unblockUI();
        }
        function muliselectfnc(holder) {
            var selectall = 0;
            //if (holder === "#ProgramSession") {
            //    selectall = "0::0";
            //}
            $(holder).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                numberDisplayed: 2,
                maxHeight: 400,
                buttonWidth: '100%',
                selectAllValue: selectall,
                nonSelectedText: 'All'
                // dropUp: true
            });
            // $("#ProgramSession").multiselect('refresh');
        }
        
        $(document).ready(function() {
            muliselectfnc($('#Purpose'));
            muliselectfnc($('#ItemGroupId'));
            muliselectfnc($('#BranchId'));
            muliselectfnc($('#ItemId'));
            muliselectfnc($('#ProgramSession'));
            //muliselectfnc($('#WorkOrderType'));
            //muliselectfnc($('#WorkOrderStatus'));

            $('.input-daterange').datepicker({
                autoclose: true,
                todayBtn: "linked",
                format: 'yyyy-mm-dd'
            }).on('changeDate', function (e) {
                var dataVal = $("#DateTo").val();
                if (dataVal == "") {
                    $("#DateTo").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("Date is required.");
                } else {
                    $("#DateTo").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
                }
            });
        });

        $(document).on('change', '#OrganizationId', function(event) {

            $('#BranchId').children().remove();
            var organizationId = $('#OrganizationId').val();
            if (organizationId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $('#BranchId').append($('<option>').text("All selected").attr('value', 0));
                            $.each(response.returnBranchList, function(i, v) {
                                
                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $('#BranchId').multiselect({ includeSelectAllOption: true });
                            $("#BranchId").multiselect('refresh');
                            $('#BranchId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {

                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });
        
        $(document).on('change', '#ItemGroupId', function(event) {

            console.log($(this).val());
            $('#ItemId').children().remove();
            var organizationId = $('#OrganizationId').val();
            var itemGroupIdList = $('#ItemGroupId').val();
            if (organizationId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/LoadItemList",
                    data: { itemGroupIds: itemGroupIdList, organizationId: organizationId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $('#ItemId').append($('<option>').text("All selected").attr('value', 0));
                            $.each(response.returnResult, function(i, v) {
                               
                                $('#ItemId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $('#ItemId').multiselect({ includeSelectAllOption: true });
                            $("#ItemId").multiselect('refresh');
                            $('#ItemId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {

                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });

        $(document).on('change', '#ItemId', function(event) {

            $('#ProgramSession').children().remove();
            var organizationId = $('#OrganizationId').val();
            var itemIdList = $('#ItemId').val();
            var branchIdList = $("#BranchId").val();
            $.ajax({
                type: "POST",
                url: $("body").attr("data-project-root") + "UInventory/WorkOrder/LoadProgramAndSessionList",
                data: { organizationId: organizationId, itemIdList: itemIdList, branchIdList: branchIdList },
                beforeSend: function() {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function(response) {
                    $.unblockUI();
                    if (response.isSuccess) {
                        console.log(response.programSessionList);
                        $('#ProgramSession').append($('<option>').text("All selected").attr('value', 0));
                        $('#ProgramSession').append($('<option>').text("N/A").attr('value', "-1"));
                        $.each(response.programSessionList, function (i, v) {
                            
                            $('#ProgramSession').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                        $('#ProgramSession').multiselect({ includeSelectAllOption: true });
                        $("#ProgramSession").multiselect('refresh');
                        $('#ProgramSession').multiselect('rebuild');
                    } else {
                        $.fn.customMessage({
                            displayMessage: response.Message,
                            displayMessageType: "error",
                        });
                    }
                },
                complete: function() {

                    $.unblockUI();
                },
                error: function(data) {
                    $.fn.customMessage({
                        displayMessage: window.AJAX_ERROR,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });

        });

    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
