﻿
@{
    ViewBag.Title = "Transactions Settlement";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}


@Styles.Render("~/Content/css/bootstrap-duallistbox")


@using (Html.BeginForm("TransactionsSettlement", "PaymentTransections", FormMethod.Post, new { name = "TransactionsSettlement", id = "TransactionsSettlement" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Transaction Settlement
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                            @Html.DropDownList("organizationId", ViewBag.organizationList as MultiSelectList, new { @class = "form-control", @required = "required", @id = "organizationId" })    
                            </div><div class="text-center" id="orgmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Branch</label>
                            <div class="col-md-8">
                                <select required="required" name="branchId" id="branchId" class="form-control valid"></select>
                            </div><div class="text-center" id="brmsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Date From</label>
                            <div class="col-md-8">
                                <input type="text" id="datef" name="datef" class="form-control col-md-12 form_datetime" required="required" readonly="readonly" value="" />
                            </div>
                            <div class="text-center" id="dfmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Date To</label>
                            <div class="col-md-8">
                                <input type="text" id="datet" name="datet" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" value="" />
                            </div>
                            <div class="text-center" id="dtmsg"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="button" value="View Summary" class="btn btn-primary" id="Summary" />
                    </div>
                </div>

                <div class="row" style="overflow-x:scroll;">
                    <table id="branchWiseTransectionSummary" border="1" width="1400" cellpadding="5px">
                        <thead style="font-weight:bold; text-align:center;">
                            <tr>
                                <td width="250px">Campus</td>
                                <td width="200px">Program Session</td>
                                <td width="120px">Net Collection</td>
                                <td width="165px">Already Settled Date</td>
                                <td width="120px">Already Settled Amount</td>
                                <td width="120px">Not Settled Amount</td>
                                <td width="120px">Collection (VAT, TAX, bKash)</td>
                                <td width="100px">Settled %</td>

                                <td>Calculate Amount</td>
                                <td>Final Amount</td>
                                <td>Total N. of Transtion</td>
                                <td>N. of New Student</td>
                                <td>New Collection</td>
                                <td>N. of Old Student</td>
                                <td>Due Collection</td>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>

                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>

                <div class="row form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="button" value="Calculate" class="btn btn-primary" id="Calculate" disabled />
                        <input type="button" value="Final Post" class="btn btn-success" id="FinalPost" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
  
    @*<script src="~/Scripts/Student/Attendance/IndividualReport.js"></script>*@
     
    <script type="text/javascript">

        $(document).ready(function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();
            //var startDate = initialDate;
            var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();

            $("#datef").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                // initialDate:"2000-01-01",
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                if ($("#datef").val().length > 0) {
                    $('#dfmsg').text("");
                }
                if ($("#datet").val().length > 0) {
                    $('#dtmsg').text(""); 
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text(""); $('#dfmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                }
            });

            $("#datet").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                maxDate: '0',
                initialDate: initialDate,
                //startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                if ($("#datef").val().length > 0) {
                    $('#dfmsg').text("");
                }
                if ($("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text(""); $('#dfmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                }
            });

            function clearCalculatedFields() {                
            }

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                //return x;
            }

            $(document).on('change', '.tranSettlementPercentInput', function (e) {
                $("#Calculate").prop('disabled', false);
                $("#FinalPost").prop('disabled', true);
            });

            $(document).on('change', '#organizationId', function () {
                var organizationId = [];
                organizationId = $("#organizationId").val();
                if (organizationId.indexOf('0') > -1) {
                    organizationId = null;
                }
                //console.log(organizationId);
                clearCalculatedFields();
                $("#branchId option").remove();
                if (organizationId != "") {
                    $('#orgmsg').text("");
                }
                // var x =
                if (organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { "organizationIds": organizationId,isAuthorized:true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#branchId').append('<option value="">Select Branch</option>');
                                
                                if (response.returnBranchList.length > 0) {
                                    //$('#ProgramId').append('<option value="0">All</option>');
                                }
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                // $("#SessionId").find('option:eq(0)').prop('selected', true);
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                // alert("Session load failed");
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Branch load failed</div>';
                                $('.customMessage').append(errorMessage);
                                //console.log("Failed -----");
                                // console.log(response);
                                $.unblockUI();
                            }
                    });
                }
                // SESSION
            });

            function formValidationBeforeSubmitSummary() {
                $('#orgmsg').text("");
                $('#brmsg').text("");
                $('#dfmsg').text("");
                $('#dtmsg').text("");
                $('#umsg').text("");
                if ($("#datef").val().length > 0) {
                    $('#dfmsg').text("");
                }
                if ($("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                var organizationId = $("#organizationId").val();
                var branchId = $("#branchId").val();
                var datef = $("#datef").val();
                var datet = $("#datet").val();

                var isSuccess = true;
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Invalid date range OR data already settled");
                    $('#dtmsg').css('color', 'red');
                    isSuccess = false;
                }
                if (organizationId == null || organizationId < 0) {
                    $('#orgmsg').text("");
                    var organizationMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="orgmsg">Select Organization</span></span>';
                    $('#orgmsg').append(organizationMessage);
                    isSuccess = false;
                }

                if (branchId == null || branchId == "") {
                    $('#brmsg').text("");
                    var branchMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="brmsg">Select Branch</span></span>';
                    $('#brmsg').append(branchMessage);
                    isSuccess = false;
                }

                if (datef == null || datef == "") {

                    $('#dfmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dfmsg').css('color', 'red');
                    $('#dfmsg').text("Select date from");
                    isSuccess = false;
                }

                if (datet == null || datet == "") {
                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("Select date to");
                    isSuccess = false;
                }
                return isSuccess;
            };

            $(document).on('click', '#Summary', function (e) {
                //clearCalculatedFields();
                var isSuccess = formValidationBeforeSubmitSummary();
                if (isSuccess == true) {
                    var branchId = $("#branchId").val();
                    var datef = $("#datef").val();
                    var datet = $("#datet").val();

                    if (branchId != null && branchId != "") {

                        $.ajax({
                            url: $("body").attr("data-project-root") + "Student/PaymentTransections/GetBranchWiseTransactionsSettlementSummary",
                            cache: false,
                            async: true,
                            type: "POST",
                            data: { branchId: branchId, datef: datef, datet: datet },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                //console.log(response);
                                if (response.IsSuccess) {
                                    $("#branchWiseTransectionSummary tbody").remove();

                                    var c = '';
                                    var cAlreadySettled = 0;
                                    var bAlreadySettled = 0;
                                    var cNetCollection = 0;
                                    var bNetCollection = 0;
                                    var cNotSettled = 0;
                                    var bNotSettled = 0;
                                    var cVattaxBkash = 0;
                                    var bVattaxBkash = 0;
                                    var i = 0;

                                    response.branchWiseSummery.forEach(function (data) {
                                        if (i > 0 && data["Campus"] != c) {
                                            /*Campus summary add*/
                                            html = "<tr style='font-weight:bold'>" +
                                                    "<td></td>" +
                                                    "<td>Campus Total:</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cNetCollection) + "</td>" +
                                                    "<td></td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cAlreadySettled) + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cNotSettled) + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cVattaxBkash) + "</td>" +
                                                    "<td></td>" +

                                                    "<td></td>" +
                                                    "<td></td>" +
                                                    "<td></td>" +
                                                    "<td></td>" +
                                                    "<td></td>" +
                                                    "<td></td>" +
                                                    "<td></td>" +
                                                "</tr>";

                                            $("#branchWiseTransectionSummary").append(html);
                                            cAlreadySettled = 0;
                                            cNetCollection = 0;
                                            cNotSettled = 0;
                                        }
                                        /*Regular Data add*/
                                        html = "<tr>" +
                                                "<td>" + data["Campus"] + "</td>" +
                                                "<td>" + data["ProgramSession"] + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["NetCollection"]) + "</td>" +
                                                "<td style='text-align:right;'>" + data["AlreadySettledDate"] + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["AlreadySettledAmount"]) + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["NotSettledAmount"]) + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["VatTaxBkash"]) + "</td>" +
                                                "<td><input style='text-align:right;' type='text' id='settleParcent[" + i + "]' name='settleParcent[" + i + "]' value='" + data["CalculatedMinPercent"] + "' maxlength='5' size='4' class='form-control tranSettlementPercentInput' data-branchId=" + data["BranchId"] + " data-campusId=" + data["CampusId"] + " data-programId=" + data["ProgramId"] + " data-sessionId=" + data["SessionId"] + " /></td>" +

                                                "<td></td>" +
                                                "<td></td>" +
                                                "<td></td>" +
                                                "<td></td>" +
                                                "<td></td>" +
                                                "<td></td>" +
                                                "<td></td>" +
                                            "</tr>";
        
                                        $("#branchWiseTransectionSummary").append(html);

                                        /*Saving current state for next loop calculation*/
                                        c = data["Campus"];
                                        cAlreadySettled = cAlreadySettled + data["AlreadySettledAmount"];
                                        bAlreadySettled = bAlreadySettled + data["AlreadySettledAmount"];
                                        cNetCollection = cNetCollection + data["NetCollection"];
                                        bNetCollection = bNetCollection + data["NetCollection"];
                                        cNotSettled = cNotSettled + data["NotSettledAmount"];
                                        bNotSettled = bNotSettled + data["NotSettledAmount"];
                                        cVattaxBkash = cVattaxBkash + data["VatTaxBkash"];
                                        bVattaxBkash = bVattaxBkash + data["VatTaxBkash"];
                                        i++;
                                    });

                                    /*Final Campus and Branch summary add*/

                                    html = "<tr style='font-weight:bold'>" +
                                            "<td></td>" +
                                            "<td>Campus Total:</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cNetCollection) + "</td>" +
                                            "<td></td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cAlreadySettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cNotSettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cVattaxBkash) + "</td>" +
                                            "<td></td>" +

                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                        "</tr>" +
                                        "<tr><td colspan=12></td></tr><tr style='font-weight:bold'>" +
                                            "<td colspan=2 style='text-align:center;'>Branch Total:</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bNetCollection) + "</td>" +
                                            "<td></td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bAlreadySettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bNotSettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bVattaxBkash) + "</td>" +
                                            "<td></td>" +

                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                            "<td></td>" +
                                        "</tr>";

                                    $("#branchWiseTransectionSummary").append(html);
                                    $("#Calculate").prop('disabled', false);
                                    $("#FinalPost").prop('disabled', true);
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }
            });
            
            $(document).on('click', '#Calculate', function (e) {
                var isSuccess = formValidationBeforeSubmitSummary();
                //console.log(isSuccess);
                if (isSuccess == true) {
                    var branchId = $("#branchId").val();
                    var datef = $("#datef").val();
                    var datet = $("#datet").val();

                    var campusIds = {};
                    var programIds = {};
                    var sessionIds = {};
                    var vatPercents = {};
                    var i = 0;
                    $(".tranSettlementPercentInput").each(function () {
                        vatPercents[i] = $(this).val();
                        campusIds[i] = $(this).attr("data-campusId");
                        programIds[i] = $(this).attr("data-programId");
                        sessionIds[i] = $(this).attr("data-sessionId");

                        i++;
                    });

                    if (branchId != "") {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Student/PaymentTransections/GetBranchWiseTransactionsSettlementCalculate",
                            cache: false,
                            async: true,
                            type: "POST",
                            data: { branchId: branchId, datef: datef, datet: datet, campusIds: campusIds, programIds: programIds, sessionIds: sessionIds, vatPercents: vatPercents },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                //console.log(response);
                                if (response.IsSuccess) {
                                    //console.log(response.IsSuccess);
                                    $("#branchWiseTransectionSummary tbody").remove();

                                    var c = '';
                                    var cAlreadySettled = 0;
                                    var bAlreadySettled = 0;
                                    var cNetCollection = 0;
                                    var bNetCollection = 0;
                                    var cNotSettled = 0;
                                    var bNotSettled = 0;
                                    var cVattaxBkash = 0;
                                    var bVattaxBkash = 0;

                                    var cCalculatedVatAmount = 0;
                                    var bCalculatedVatAmount = 0;
                                    var cTotalTransection = 0;
                                    var bTotalTransection = 0;
                                    var cNewStudent = 0;
                                    var bNewStudent = 0;
                                    var cNewPayment = 0;
                                    var bNewPayment = 0;
                                    var cOldStudent = 0;
                                    var bOldStudent = 0;
                                    var cDuePayment = 0;
                                    var bDuePayment = 0;

                                    var i = 0;

                                    response.branchWiseCalculatedSummery.forEach(function (data) {
                                        //console.log(data);
                                        if (i > 0 && data["Campus"] != c) {
                                            /*Campus summary add*/
                                            html = "<tr style='font-weight:bold'>" +
                                                    "<td></td>" +
                                                    "<td>Campus Total:</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cNetCollection) + "</td>" +
                                                    "<td></td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cAlreadySettled) + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cNotSettled) + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cVattaxBkash) + "</td>" +
                                                    "<td></td>" +

                                                    "<td style='text-align:right;'>" + numberWithCommas(cCalculatedVatAmount) + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cCalculatedVatAmount + cAlreadySettled) + "</td>" +
                                                    "<td style='text-align:center;'>" + cTotalTransection + "</td>" +
                                                    "<td style='text-align:center;'>" + cNewStudent + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cNewPayment) + "</td>" +
                                                    "<td style='text-align:center;'>" + cOldStudent + "</td>" +
                                                    "<td style='text-align:right;'>" + numberWithCommas(cDuePayment) + "</td>" +
                                                "</tr>";

                                            $("#branchWiseTransectionSummary").append(html);
                                            cAlreadySettled = 0;
                                            cNetCollection = 0;
                                            cNotSettled = 0;

                                            cCalculatedVatAmount = 0;
                                            cTotalTransection = 0;
                                            cNewStudent = 0;
                                            cNewPayment = 0;
                                            cOldStudent = 0;
                                            cDuePayment = 0;
                                        }
                                        /*Regular Data add*/
                                        html = "<tr>" +
                                                "<td>" + data["Campus"] + "</td>" +
                                                "<td>" + data["ProgramSession"] + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["NetCollection"]) + "</td>" +
                                                "<td style='text-align:right;'>" + data["AlreadySettledDate"] + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["AlreadySettledAmount"]) + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["NotSettledAmount"]) + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["VatTaxBkash"]) + "</td>" +
                                                "<td><input style='text-align:right;' type='text' id='settleParcent[" + i + "]' name='settleParcent[" + i + "]' value='" + data["MinPercent"] + "' maxlength='5' size='4' class='form-control tranSettlementPercentInput' data-branchId=" + data["BranchId"] + " data-campusId=" + data["CampusId"] + " data-programId=" + data["ProgramId"] + " data-sessionId=" + data["SessionId"] + " /></td>" +

                                                "<td style='text-align:right;'>" + numberWithCommas(data["CalculatedVatAmount"]) + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["CalculatedVatAmount"] + data["AlreadySettledAmount"]) + "</td>" +
                                                "<td style='text-align:center;'>" + data["TotalTransection"] + "</td>" +
                                                "<td style='text-align:center;'>" + data["NewStudent"] + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["NewPayment"]) + "</td>" +
                                                "<td style='text-align:center;'>" + data["OldStudent"] + "</td>" +
                                                "<td style='text-align:right;'>" + numberWithCommas(data["DuePayment"]) + "</td>" +
                                            "</tr>";

                                        $("#branchWiseTransectionSummary").append(html);

                                        /*Saving current state for next loop calculation*/
                                        c = data["Campus"];
                                        cAlreadySettled = cAlreadySettled + data["AlreadySettledAmount"];
                                        bAlreadySettled = bAlreadySettled + data["AlreadySettledAmount"];
                                        cNetCollection = cNetCollection + data["NetCollection"];
                                        bNetCollection = bNetCollection + data['NetCollection'];
                                        cNotSettled = cNotSettled + data["NotSettledAmount"];
                                        bNotSettled = bNotSettled + data["NotSettledAmount"];
                                        cVattaxBkash = cVattaxBkash + data["VatTaxBkash"];
                                        bVattaxBkash = bVattaxBkash + data["VatTaxBkash"];

                                        cCalculatedVatAmount = cCalculatedVatAmount + data["CalculatedVatAmount"];
                                        bCalculatedVatAmount = bCalculatedVatAmount + data["CalculatedVatAmount"];
                                        cTotalTransection = cTotalTransection + data["TotalTransection"];
                                        bTotalTransection = bTotalTransection + data["TotalTransection"];
                                        cNewStudent = cNewStudent + data["NewStudent"];
                                        bNewStudent = bNewStudent + data["NewStudent"];
                                        cNewPayment = cNewPayment + data["NewPayment"];
                                        bNewPayment = bNewPayment + data["NewPayment"];
                                        cOldStudent = cOldStudent + data["OldStudent"];
                                        bOldStudent = bOldStudent + data["OldStudent"];
                                        cDuePayment = cDuePayment + data["DuePayment"];
                                        bDuePayment = bDuePayment + data["DuePayment"];

                                        i++;
                                    });

                                    /*Final Campus and Branch summary add*/

                                    html = "<tr style='font-weight:bold'>" +
                                            "<td></td>" +
                                            "<td>Campus Total:</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cNetCollection) + "</td>" +
                                            "<td></td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cAlreadySettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cNotSettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cVattaxBkash) + "</td>" +
                                            "<td></td>" +

                                            "<td style='text-align:right;'>" + numberWithCommas(cCalculatedVatAmount) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cCalculatedVatAmount + cAlreadySettled) + "</td>" +
                                            "<td style='text-align:center;'>" + cTotalTransection + "</td>" +
                                            "<td style='text-align:center;'>" + cNewStudent + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cNewPayment) + "</td>" +
                                            "<td style='text-align:center;'>" + cOldStudent + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(cDuePayment) + "</td>" +
                                        "</tr>" +
                                        "<tr><td colspan=12></td></tr><tr style='font-weight:bold'>" +
                                            "<td colspan=2 style='text-align:center;'>Branch Total:</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bNetCollection) + "</td>" +
                                            "<td></td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bAlreadySettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bNotSettled) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bVattaxBkash) + "</td>" +
                                            "<td></td>" +

                                            "<td style='text-align:right;'>" + numberWithCommas(bCalculatedVatAmount) + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bCalculatedVatAmount + bAlreadySettled) + "</td>" +
                                            "<td style='text-align:center;'>" + bTotalTransection + "</td>" +
                                            "<td style='text-align:center;'>" + bNewStudent + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bNewPayment) + "</td>" +
                                            "<td style='text-align:center;'>" + bOldStudent + "</td>" +
                                            "<td style='text-align:right;'>" + numberWithCommas(bDuePayment) + "</td>" +
                                        "</tr>";

                                    $("#branchWiseTransectionSummary").append(html);
                                    //$("#Calculate").prop('disabled', true);
                                    $("#FinalPost").prop('disabled', false);
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + response.message + '</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }
            });

            $(document).on('click', '#FinalPost', function (e) {
                var isSuccess = formValidationBeforeSubmitSummary();
                if (isSuccess == true) {
                    var branchId = $("#branchId").val();
                    var datef = $("#datef").val();
                    var datet = $("#datet").val();

                    var campusIds = {};
                    var programIds = {};
                    var sessionIds = {};
                    var vatPercents = {};
                    var i = 0;
                    $(".tranSettlementPercentInput").each(function () {
                        vatPercents[i] = $(this).val();
                        campusIds[i] = $(this).attr("data-campusId");
                        programIds[i] = $(this).attr("data-programId");
                        sessionIds[i] = $(this).attr("data-sessionId");

                        i++;
                    });

                    if (branchId != "") {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Student/PaymentTransections/BranchWiseTransactionsSettlementFinalPost",
                            cache: false,
                            async: true,
                            type: "POST",
                            data: { branchId: branchId, datef: datef, datet: datet, campusIds: campusIds, programIds: programIds, sessionIds: sessionIds, vatPercents: vatPercents },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                if (response.IsSuccess) {
                                    var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>' + response.message + '</div>';
                                    $('.customMessage').append(errorMessage);

                                    document.getElementById('organizationId').value = -1;
                                    document.getElementById('branchId').value = -1;
                                    $("#branchWiseTransectionSummary tbody").remove();                                    
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + response.message + '</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }
            });
        });

    </script>
   
}
