﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.Entity.Students.StudentPaymentTransections
@{
    ViewBag.Title = "Add Student Payment Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Create", "PaymentTransections", FormMethod.Post, new { @id = "CreatePaymentTransectionsForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Add Payment Transactions</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>) ViewBag.OrganizationList, "Select Organization", new {@class = "form-control", @required = "required"})
                        </div>
                    </div>
                    <div class="form-group">
                         @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.ProgramId, (IEnumerable<SelectListItem>) ViewBag.ProgramList, "Select program", htmlAttributes: new {@class = "form-control",})
                            @Html.ValidationMessageFor(model => model.ProgramId, "", new {@class = "text-danger"})
                        </div> 
                        @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SessionId, (IEnumerable<SelectListItem>)ViewBag.SessionList, "Select session", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select branch", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                        </div>
                         @Html.Label("Campus", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CampusId, (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select campus", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CampusId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentFullName, "Full Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.StudentFullName, new { @class = "form-control", @placeholder = "Student Full Name" })
                            @Html.ValidationMessageFor(model => model.StudentFullName, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.StudentNickName, "Nick Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.StudentNickName, new { @class = "form-control", @placeholder = "Student Nick Name" })
                            @Html.ValidationMessageFor(model => model.StudentNickName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReceivedDate, "Received Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ReceivedDate, new { @class = "form-control form_datetime", @placeholder = "Received Date" })
                            @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.ReceivedAmount, "Received Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ReceivedAmount, new { @class = "form-control", @placeholder = "Received Amount" })
                            @Html.ValidationMessageFor(model => model.ReceivedAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Serial1, "Serial1", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Serial1, new { @class = "form-control", @placeholder = "Serial1" })
                            @Html.ValidationMessageFor(model => model.Serial1, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.IsExistingStudent, "Is Existing Student", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.CheckBoxFor(model => model.IsExistingStudent, new { @class = "form-control1" })
                            @Html.ValidationMessageFor(model => model.IsExistingStudent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="text-align: center">
                            <input id="createPaymnetTransactions" type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*<div>@Html.ActionLink("Back to Manage", "Index")</div>*@
@section scripts
{
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
@Scripts.Render("~/bundles/bootstrap-datetimepicker")
@Scripts.Render("~/bundles/typeaheadAutoComplete")
@Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", "#ReceivedDate", function (event) {
                var val = $("#ReceivedDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("ReceivedDate", "", false);
                } else {
                    window.showErrorMessageBelowCtrl("ReceivedDate", "", false);
                    window.showErrorMessageBelowCtrl("ReceivedDate", "Please Select Received Date", true);
                }
            });
            $(".form_datetime").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("ProgramId", "Please Select Program.");
            window.validateDropDownField("SessionId", "Please Select Session.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("CampusId", "Please Select Campus.");
            window.validateTextField("StudentFullName", "Please Enter Student Full Name.");
            window.validateTextField("StudentNickName", "Please Enter Student Nick Name.");
            window.validateTextField("ReceivedAmount", "Please Enter Received Amount.");
            window.validateTextField("Serial1", "Please Enter Serial1.");

            $("#OrganizationId").change(function () {
                //remove all dependant dropdownlist option
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select program</option>");

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select session</option>");

                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select branch</option>");

                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select campus</option>");
                var organizationId = $("#OrganizationId").val();

                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },

                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }


            });

            $("#ProgramId").change(function () {

                //remove all dependant dropdownlist option
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select session</option>");

                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select branch</option>");

                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select campus</option>");

                var pId = $(this).val();
                var organizationId = $("#OrganizationId").val();

                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    type: "POST",
                    data: { organizationIds: organizationId, programIds: pId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function (i, v) {
                                $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                    }
                });
            });

            $("#SessionId").change(function () {

                //remove all dependant dropdownlist option
                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select branch</option>");

                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select campus</option>");


                var organizationIds = $("#OrganizationId").val();
                var programIds = $('#ProgramId').val();
                var sessionIds = $('#SessionId').val();

                $.ajax({
                    //url: "/Administration/Batch/GetBranch",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    type: "POST",
                    data: { organizationIds: organizationIds, programIds: programIds, sessionIds: sessionIds, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();

                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    }, complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                        console.log("Failed -----");
                        console.log(response);
                    }
                });
            });

            $("#BranchId").change(function () {

                //remove all dependant dropdownlist option 
                $('#CampusId').empty();
                $('#CampusId').append("<option value=''>Select campus</option>");

                var organizationIds = $("#OrganizationId").val();
                var programIds = $('#ProgramId').val();
                var branchIds = $("#BranchId").val();
                var sessionIds = $('#SessionId').val();


                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    type: "POST",
                    data: { organizationIds: organizationIds, programIds: programIds, branchIds: branchIds, sessionIds: sessionIds },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {

                        if (response.IsSuccess) {
                            $.each(response.returnCampusList, function (i, v) {
                                $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    }, complete: function () {
                        $.unblockUI();
                    },
                    error: function (response) {
                        $.unblockUI();
                    }
                });
            });

            $(document).on('click', '#createPaymnetTransactions', function (e) {
                e.preventDefault();
                $('.field-validation-error').remove();

                var organizationId = $('#OrganizationId').val();
                var programId = $('#ProgramId').val();
                var sessionId = $('#SessionId').val();
                var branchId = $('#BranchId').val();
                var campusId = $('#CampusId').val();
                var studentFullName = $('#StudentFullName').val();
                var studentNickName = $('#StudentNickName').val();
                var receivedAmount = $('#ReceivedAmount').val();
                var receivedDate = $('#ReceivedDate').val();
                var serial1 = $('#Serial1').val();
                var isSuccess = true;

                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }

                if (programId == null || programId <= 0) {
                    window.showErrorMessageBelowCtrl("ProgramId", "", false);
                    window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
                    isSuccess = false;
                }

                if (sessionId == null || sessionId <= 0) {
                    window.showErrorMessageBelowCtrl("SessionId", "", false);
                    window.showErrorMessageBelowCtrl("SessionId", "Please Select Session", true);
                    isSuccess = false;
                }

                if (branchId == null || branchId <= 0) {
                    window.showErrorMessageBelowCtrl("BranchId", "", false);
                    window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                    isSuccess = false;
                }

                if (campusId == null || campusId <= 0) {
                    window.showErrorMessageBelowCtrl("CampusId", "", false);
                    window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                    isSuccess = false;
                }

                if (studentFullName == null || studentFullName.length <= 0) {
                    window.showErrorMessageBelowCtrl("StudentFullName", "", false);
                    window.showErrorMessageBelowCtrl("StudentFullName", "Please Enter Student Full Name..", true);
                    isSuccess = false;
                }
                if (studentNickName == null || studentNickName.length <= 0) {
                    window.showErrorMessageBelowCtrl("StudentNickName", "", false);
                    window.showErrorMessageBelowCtrl("StudentNickName", "Please Enter Student Nick Name.", true);
                    isSuccess = false;
                }
                if (receivedAmount == null || receivedAmount <= 0) {
                    window.showErrorMessageBelowCtrl("ReceivedAmount", "", false);
                    window.showErrorMessageBelowCtrl("ReceivedAmount", "Please Enter Received Amount.", true);
                    isSuccess = false;
                }
                if (serial1 == null || serial1 <= 0) {
                    window.showErrorMessageBelowCtrl("Serial1", "", false);
                    window.showErrorMessageBelowCtrl("Serial1", "Please Enter Serial1.", true);
                    isSuccess = false;
                }
                if (receivedDate == null || receivedDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("ReceivedDate", "", false);
                    window.showErrorMessageBelowCtrl("ReceivedDate", "Please Select Received Date.", true);
                    isSuccess = false;
                }
                
                if (isSuccess == true) {
                    var data = $("#CreatePaymentTransectionsForm").serialize();
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Student/PaymentTransections/Create",
                        data: data,
                        success: function (response) {
                            $("#StudentFullName").val("");
                            $("#StudentNickName").val("");
                            $("#ReceivedAmount").val("");
                            $("#Serial1").val("");
                         //   $("#ReceivedDate").val("");
                            $('#IsExistingStudent').attr('checked', false);
                            if (response.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "s",
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "e",
                                });
                            }
                        },
                        complete: function () {},
                        error: function () {
                            $.fn.customMessage({
                                displayMessage: "Error",
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                } 

            });

        });
        function StudentPaymentTransections() {
            this.ProgramId = 0;
            this.SessionId = 0;
            this.BranchId = 0;
            this.CampusId = 0;
            this.SessionId = 0;
            this.StudentFullName = "";
            this.StudentNickName = "";
            this.ReceivedAmount = 0;
            this.ReceivedDate = new Date();
            this.Serial1 = 0;
            this.IsExistingStudent = 0;
            this.TeacherClassPaymentFormViewModel = function () { };
        }
    </script>
}
