﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Transactions Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Transactions Report
    </div>
    <div class="panel-body">

        <div id="mainDiv">
            <div class="row text-center"><strong>@ErpInfo.OrganizationNameFull</strong></div>
            <div class="row text-center"><strong>@ViewBag.programName</strong></div>
            <div class="row text-center" style="margin-bottom: 20px;"><strong>Transactions Report</strong></div>
            <div class="row text-left col-md-12">
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td><strong>Session:</strong></td>
                            <td>@ViewBag.sessionName</td>
                        </tr>
                        <tr>
                            <td><strong>Campus:</strong> </td>
                            <td>@ViewBag.campusName</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td><strong>Branch:</strong> </td>
                            <td>@ViewBag.branchName</td>
                        </tr>
                        @*<tr>
                            <td><strong>Course:</strong></td>
                            <td>@ViewBag.courseName</td>
                        </tr>*@
                    </table>
                </div>


                @*<div class="col-md-6">
                        <strong>Session:</strong>   @ViewBag.sessionName
                    </div>
                    <div class="col-md-6" style="word-wrap: break-word;">
                        <strong>Branch:</strong>   @ViewBag.branchName
                    </div>
                    <div class="col-md-6">
                        <strong>Campus:</strong>    @ViewBag.campusName
                    </div>

                    <div class="col-md-6">
                        <strong>Course:</strong>   @ViewBag.courseName
                    </div>*@

            </div>
            <div class="administrationBodyContent">
                <table id="tbl">
                    <tr class="filteringRow form-group">
                        @*<th class="form-group">
                            <input id="programSearch" name="programSearch" type="text" class="form-control" placeholder="Program" /> 
                        </th>                      
                        <th class="form-group">
                            <input id="programRollsearch" name="programRollsearch" type="text" class="form-control" placeholder="Program Roll" />
                        </th>
                        <th class="form-group">
                            <input id="mrnSearch" name="mrnSearch" type="text" class="form-control" placeholder="MRN" />
                        </th>
                        <th class="form-group">
                            <input id="crnSearch" name="crnSearch" type="text" class="form-control" placeholder="CRN" />
                        </th>
                        <th class="form-group">
                            <input id="nickNameSearch" name="nickNameSearch" type="text" class="form-control" placeholder="Nick Name" />
                        </th>*@
                        <th class="form-group">
                            <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                        </th>
                         <th class="form-group">
                            <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                        </th>
                        <th class="form-group">
                            <div class="col-md-12 text-center">
                                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                            </div>
                        </th>
                    </tr>
                </table>
                <br />
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th><strong>Name</strong></th>
                            <th><strong>Received</strong></th>
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
        </div>
        @*<div class="row text-center"><input type="button" class="btn btn-primary" id="printindividualreport" value="Print" /></div>*@

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")

    <script src="~/Scripts/printThis.js"></script>
    <script src="~/Scripts/Student/IdCard/PrintIdCard.js"></script>
    @*<script src="~/Scripts/printThis.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function() {
            var programId = @Html.Raw(Json.Encode(@ViewBag.programId));
            var sessionId = @Html.Raw(Json.Encode(@ViewBag.sessionId));

            var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
            var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));

           // var course = @Html.Raw(Json.Encode(@ViewBag.course));
            var UserIds = @Html.Raw(Json.Encode(@ViewBag.UserIds));
            var datef = @Html.Raw(Json.Encode(@ViewBag.datef));
            var datet = @Html.Raw(Json.Encode(@ViewBag.datet));
            var PaymentMethod = @Html.Raw(Json.Encode(@ViewBag.PaymentMethod));
            var programName = @Html.Raw(Json.Encode(@ViewBag.programName));
            var sessionName = @Html.Raw(Json.Encode(@ViewBag.sessionName));
            var campusName = @Html.Raw(Json.Encode(@ViewBag.campusName));
            var branchName = @Html.Raw(Json.Encode(@ViewBag.branchName));
            @*var courseName = @Html.Raw(Json.Encode(@ViewBag.courseName));*@


            function dataTableRender() {
                var pageSize = 10;
                if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                    pageSize = parseInt($('#pageSize').val());
                } else {
                    $('#pageSize').val(pageSize);
                }
                var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
                // alert(lastColumn);

                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": pageSize,
                    //stateSave: true,
                    "bInfo": true,
                    order: [[0, "desc"]],
                    //"aoColumnDefs": [{
                    //    'bSortable': false,
                    //    'aTargets': [(lastColumn - 1)]
                    //}],
                    "bSort": false,
                    ajax: {
                        url: 'TransactionReportResult',
                        type: 'POST',
                        data: function(d) {
                            d.programId = programId;
                            d.sessionId = sessionId;
                            d.branchId = branchId;
                            d.campusId = campusId;
                            //d.batchName = batchName;
                            //d.course = course;
                            d.UserIds = UserIds;
                            d.datef = datef;
                            d.datet = datet;
                            d.PaymentMethod = PaymentMethod;
                        }
                    }
                });
            }

            dataTableRender();


            $(document).on("click", "#search", function() {
                //alert();
                dataTableRender();

            });

            $(document).on("click", ".mrnclass", function() {

                window.location.href = $("body").attr("data-project-root") + "Student/PaymentTransections/GenerateMoneyReciept/" + $(this).attr('id');
            });
                   
            $(document).on("click", "#export", function() {
                var urlParam = {
                    //programId: programId,
                //branchHeader:branchHeader,
                //campusHeader:campusHeader,
                //batchDayHeader:batchDayHeader,
                //batchHeader:batchHeader,
                //courseHeader:courseHeader,
                    programId: programId,
                    sessionId: sessionId,
                    branchId: branchId,
                    campusId: campusId,
                    //course: course,
                    UserIds: UserIds,
                    programName: programName,
                    sessionName: sessionName,
                    campusName: campusName,
                    branchName: branchName,
                    //courseName: courseName,
                    datef: datef,
                    datet: datet,
                    PaymentMethod: PaymentMethod
                };

                var url = "@Url.Action("TransactionReportToExcel", "PaymentTransections", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                //console.log(url);
                window.open(url);
            });
        });
    </script>
}