﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Settled Comparison Report";
    var formIsPost = ViewBag.IsPost;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Settled Comparison Report</h4>
    </div>
    <div class="panel-body" id="SettledComparisonReport">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12 ">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("programId", (SelectList)ViewBag.ProgramList, "Select Program", new { @class = "form-control " })
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="date-from" value="@ViewBag.DateFrom" class="form-control date-from" name="dateFrom" readonly="readonly" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="date-to" value="@ViewBag.DateTo" class="form-control date-to" name="dateTo" readonly="readonly" />
                        </div>
                        <div class="col-md-2 text-center">
                            <input type="submit" id="Submit" value="View" class="btn btn-primary" />
                            @if (formIsPost)
                            {
                                <input type="button" id="Print" onclick="printDiv('SettledComparisonReportContent')" value="Print" class="btn btn-primary" />
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
    <div class="col-md-12">
        @if (formIsPost)
        {
            Html.RenderPartial("Partial/_LoadSettledComparisonReport");
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        function printDiv(divName) {
            //Full Div Font Style
            $("#newPrintableDivss").css({
                "margin-top": "-86px",
                "font-size": 10
            });
            //Table Padding
            $("#newPrintableDivss .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td").css({
                "padding": "2px",
            });
            //Print Content
            var printContents = $("#" + divName).html();
            var restorepage = $('body').html();
            //Remove others element without print area 
            $("#sidebar").empty();
            $(".breadcrumb").empty();
            $("#main-body-content").empty();
            $('body').find("footer").empty();
            $('body').find("hr").remove();
            $("#main-body-content").html(printContents);
            window.print(printContents);
            //Append previous table as first time
            $('body').html(restorepage);
            $("#newPrintableDivss").css({ "margin-top": "0px", "font-size": 14 });
            $("#newPrintableDivss .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td").css({
                "padding": "8px"
            });
        }


        $(document).ready(function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.date-from').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $('.date-to').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("change", "#date-from", function(event) {
                var val = $("#date-from").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                }
            });
            $(document).on("change", "#date-to", function(event) {
                var val = $("#date-to").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                }
            });

            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    //validationClientSide();
                }
            });


            //Call validation method on Mouse Click
            window.validateDropDownField("organizationId", "Please Select Organization.");
            window.validateDropDownField("programId", "Please Select Program.");
            $("#organizationId").change(function () {
                $('#programId').empty();
                $('#programId').append("<option value=''>Select Program</option>");
                var organizationId = $("#organizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $('#programId').append($('<option value="0">All Program</option>'));
                                $.each(result.returnProgramList, function (i, v) {
                                    $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Submit', function (e) {
                $('.field-validation-error').remove();
                var organizationId = $('#organizationId').val();
                var programId = $('#programId').val();
                var dateFrom = $('#date-from').val();
                var dateTo = $('#date-to').val();
                var isSuccess = true;
                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (programId == null || programId.length <= 0) {
                    window.showErrorMessageBelowCtrl("programId", "", false);
                    window.showErrorMessageBelowCtrl("programId", "Please Select Program.", true);
                    isSuccess = false;
                }
                if (dateFrom == null || dateFrom.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                    window.showErrorMessageBelowCtrl("date-from", "Please Date From Time.", true);
                    isSuccess = false;
                }
                if (dateTo == null || dateTo.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                    window.showErrorMessageBelowCtrl("date-to", "Please Date To Time.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }

            });


        });
    </script>
}
