﻿
@{
    ViewBag.Title = "Transactions Settlement";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}


@Styles.Render("~/Content/css/bootstrap-duallistbox")


@using (Html.BeginForm("TransactionsSettlement", "PaymentTransections", FormMethod.Post, new { name = "TransactionsSettlement", id = "TransactionsSettlement" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Transaction Settlement
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                            @Html.DropDownList("organizationId", ViewBag.organizationList as MultiSelectList, new { @class = "form-control", @required = "required", @id = "organizationId" })    
                            </div><div class="text-center" id="orgmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProgramId" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                <select required="required" name="ProgramId" id="ProgramId" class="form-control valid"></select>
                            </div><div class="text-center" id="pmsg"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SessionId" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                <select required="required" name="SessionId" id="SessionId" class="form-control valid"></select>
                            </div><div class="text-center" id="smsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Branch</label>
                            <div class="col-md-8">
                                <select required="required" name="branchId" id="branchId" class="form-control valid"></select>
                            </div><div class="text-center" id="brmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Campus</label>
                            <div class="col-md-8">
                                <select required="required" name="campusId" id="campusId" class="form-control valid" ></select>
                            </div><div class="text-center" id="campmsg"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <p class="control-label col-md-2"><strong>Date Range</strong></p>
                    <div style="margin-left: 163px;">
                        <input type="text" id="datef" name="datef" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />
                            
                        <span style="float: left;margin:0px 10px;">To</span>
                        
                        <input type="text" id="datet" name="datet" class="form-control col-md-3 form_datetime" required="required" readonly="readonly"/>
                        <div class="text-center" id="dtmsg"></div>
                    </div>
                </div>
                
                <div class="row form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="button" value="View Summary" class="btn btn-primary" id="Summary" />
                    </div>
                </div>

                <div class="row" style="margin-top: 30px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Pre. Settled Amt</label>
                            <div class="col-md-8">
                                <input type="text" id="preSettledAmt" name="preSettledAmt" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Total Collection</label>
                            <div class="col-md-8">
                                <input type="text" id="totalCollection" name="totalCollection" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Total Refund</label>
                            <div class="col-md-8">
                                <input type="text" id="totalRefund" name="totalRefund" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Net Collection</label>
                            <div class="col-md-8">
                                <input type="text" id="netCollection" name="netCollection" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tax Student</label>
                            <div class="col-md-8">
                                <input type="text" id="taxStudentCollection" name="taxStudentCollection" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vat Student</label>
                            <div class="col-md-8">
                                <input type="text" id="vatStudentCollection" name="vatStudentCollection" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Min Vat Percent</label>
                            <div class="col-md-8">
                                <input type="text" id="minVatPercent" name="minVatPercent" class="form-control col-md-3" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Min Vat Amount</label>
                            <div class="col-md-8">
                                <input type="text" id="minVatAmount" name="minVatAmount" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vat Percent</label>
                            <div class="col-md-8">
                                <input type="text" id="vatPercent" name="vatPercent" max="100" min="1" class="form-control col-md-3" />
                            </div>
                            <div class="text-center" id="vatPercentmsg"></div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="button" value="Calculate" class="btn btn-primary" id="Calculate" />
                    </div>
                </div>

                <div class="row" style="margin-top: 30px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Calculated Percent</label>
                            <div class="col-md-8">
                                <input type="text" id="calculatedVatPercent" name="calculatedVatPercent" class="form-control col-md-3" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Calculated Amount</label>
                            <div class="col-md-8">
                                <input type="text" id="calculatedVatAmount" name="calculatedVatAmount" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Total Transection</label>
                            <div class="col-md-8">
                                <input type="text" id="totalTransection" name="totalTransection" class="form-control col-md-3" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Max Amount</label>
                            <div class="col-md-8">
                                <input type="text" id="maxReceivingAmount" name="maxReceivingAmount" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Old Student</label>
                            <div class="col-md-8">
                                <input type="text" id="oldStudent" name="oldStudent" class="form-control col-md-3" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Due Payment</label>
                            <div class="col-md-8">
                                <input type="text" id="duePayment" name="duePayment" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">New Student</label>
                            <div class="col-md-8">
                                <input type="text" id="newStudent" name="newStudent" class="form-control col-md-3" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">New Payment</label>
                            <div class="col-md-8">
                                <input type="text" id="newPayment" name="newPayment" class="form-control col-md-3" readonly="readonly" style="text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="button" value="Final Post" class="btn btn-success" id="FinalPost" />
                        @*<input type="button" value="Final Post" class="btn btn-success" id="Submit" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
  
    @*<script src="~/Scripts/Student/Attendance/IndividualReport.js"></script>*@
     
    <script type="text/javascript">

        $(document).ready(function () {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();
            //var startDate = initialDate;
            var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();

            //$("#datef").datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    // initialDate:"2000-01-01",
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //}).on('changeDate', function (ev) {
            //    if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
            //        $('#dtmsg').text("");
            //    }
            //    if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
            //        $('#dtmsg').text("");
            //    }
            //    if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
            //        $('#dtmsg').text("Date to can not be less than date from.");
            //        $('#dtmsg').css('color', 'red');
            //    }
            //});

            $("#datet").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                maxDate: '0',
                initialDate: initialDate,
                //startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    //$('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').text("This Campus is already Settled");
                    $('#dtmsg').css('color', 'red');
                }
            });

            function clearCalculatedFields() {                

                document.getElementById("preSettledAmt").value = 0;
                document.getElementById("totalCollection").value = 0;
                document.getElementById("totalRefund").value = 0;
                document.getElementById("netCollection").value = 0;

                document.getElementById("taxStudentCollection").value = 0;
                document.getElementById("vatStudentCollection").value = 0;
                document.getElementById("minVatPercent").value = 0;
                document.getElementById("minVatAmount").value = 0;
                document.getElementById("vatPercent").value = 0;

                document.getElementById("calculatedVatPercent").value = 0;
                document.getElementById("calculatedVatAmount").value = 0;

                document.getElementById("totalTransection").value = 0;
                document.getElementById("maxReceivingAmount").value = 0;
                document.getElementById("oldStudent").value = 0;
                document.getElementById("duePayment").value = 0;
                document.getElementById("newStudent").value = 0;
                document.getElementById("newPayment").value = 0;
            }

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            $(document).on('change', '#organizationId', function () {
                var organizationId = [];
                organizationId = $("#organizationId").val();
                if (organizationId.indexOf('0') > -1) {
                    organizationId = null;
                }
                //console.log(organizationId);
                clearCalculatedFields();
                document.getElementById("datet").value = "";
                $('#dtmsg').text("");

                $("#SessionId option").remove();
                $("#ProgramId option").remove();
               // $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (organizationId != "") {
                    $('#orgmsg').text("");
                }
                // var x =
                if (organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { "organizationIds": organizationId,isAuthorized:true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#ProgramId').append('<option value="">Select Program</option>');
                                
                                if (response.returnProgramList.length > 0) {
                                    //$('#ProgramId').append('<option value="0">All</option>');
                                }
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                // $("#SessionId").find('option:eq(0)').prop('selected', true);
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                // alert("Session load failed");
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program load failed</div>';
                                $('.customMessage').append(errorMessage);
                                //console.log("Failed -----");
                                // console.log(response);
                            }
                    });
                }
                // SESSION
            });

            $(document).on('change', "#ProgramId", function () {
                clearCalculatedFields();
                document.getElementById("datet").value = "";
                $('#dtmsg').text("");

                // BRANCH && COURSE
                var programId = $("#ProgramId").val();
                // var sessionId = $("#SessionId").val();
                var organizationId = $("#organizationId").val();
                $("#SessionId option").remove();
                //  $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (programId != null && programId != "") {
                    $('#pmsg').text("");
                }

                if (programId != null && programId != "" && organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },

                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#SessionId').append($('<option>').text("Select Session").attr('value', ""));
                                //$('#SessionId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //  $("#course").find('option:eq(0)').prop('selected', true);
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Session load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }
            });

            $(document).on('change', "#SessionId", function () {
                clearCalculatedFields();
                document.getElementById("datet").value = "";
                $('#dtmsg').text("");

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var organizationId = $("#organizationId").val();

                $("#branchId option").remove();
                $("#campusId option").remove();
                if (programId != null && programId != "") {
                    $('#smsg').text("");
                }

                if (programId != null && programId != "" && sessionId != null && sessionId != "") {                    
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: {organizationIds:organizationId, programIds: programId, sessionIds: sessionId, isAuthorized:true },

                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#branchId').append($('<option>').text("Select Branch").attr('value', ""));
                                //$('#branchId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            //alert("Branch load failed");
                            //console.log("Failed -----");
                            //console.log(response);
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Branch load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }
            });

            $(document).on('change', "#branchId", function() {
                clearCalculatedFields();
                document.getElementById("datet").value = "";
                $('#dtmsg').text("");

                $("#campusId option").remove();
                var organizationId = $("#organizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                if (branchId != null && branchId != "") {
                    $('#brmsg').text("");
                }
                if (organizationId != null && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $('#campusId').append($('<option>').text("Select Campus").attr('value', ""));
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //   $("#campusId").find('option:eq(0)').prop('selected', true);

                                //BATCH
                                var campusId = $("#campusId").val();

                                // BATCH
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            //alert("Campus load failed");
                            //console.log("Failed -----");
                            //console.log(response);
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }

            });

            $(document).on('change', "#campusId", function () {
                clearCalculatedFields();
                document.getElementById("datet").value = "";
                $('#dtmsg').text("");

                document.getElementById("datef").value = "";
                //document.getElementById("datet").value = endDate;
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();

                if (campusId != null && campusId != "") {
                    $('#campmsg').text("");
                }
                if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {

                    $.ajax({
                        url: $("body").attr("data-project-root") + "Student/PaymentTransections/GetTransactionsSettlementStartDate",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                //$('#datef').value = response.startDate;
                                document.getElementById("datef").value = response.startDate;
                            }
                            else {
                                document.getElementById("datef").value = response.startDate;
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>This Campus is already Settled</div>';
                                $('.customMessage').append(errorMessage);
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }
            });

            function formValidationBeforeSubmit() {
                $('#orgmsg').text("");
                $('#pmsg').text("");
                $('#smsg').text("");
                $('#brmsg').text("");
                $('#campmsg').text("");
                $('#cmsg').text("");
                $('#dtmsg').text("");
                $('#umsg').text("");
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                var organizationId = $("#organizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();
                var datef = $("#datef").val();
                var datet = $("#datet").val();

                var isSuccess = true;
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Invalid date range OR data already settled");
                    $('#dtmsg').css('color', 'red');
                    isSuccess = false;
                }
                if (organizationId == null || organizationId < 0) {
                    $('#orgmsg').text("");
                    var organizationMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="orgmsg">Select Organization</span></span>';
                    $('#orgmsg').append(organizationMessage);
                    isSuccess = false;
                }
                if (programId == null || programId < 0) {
                    $('#pmsg').text("");
                    var programMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="pmsg">Select Program</span></span>';
                    $('#pmsg').append(programMessage);
                    isSuccess = false;
                }

                if (sessionId == null || sessionId == "") {
                    $('#smsg').text("");
                    var sessionMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="smsg">Select Session</span></span>';

                    $('#smsg').append(sessionMessage);
                    isSuccess = false;
                }

                if (branchId == null || branchId == "") {
                    $('#brmsg').text("");
                    var branchMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="brmsg">Select Branch</span></span>';
                    $('#brmsg').append(branchMessage);
                    isSuccess = false;
                }

                if (campusId == null || campusId == "") {
                    $('#campmsg').text("");
                    var campusMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="campmsg">Select Campus</span></span>';
                    $('#campmsg').append(campusMessage);
                    isSuccess = false;
                }

                if (datef == null || datef == "") {

                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("select date range");
                    isSuccess = false;
                }
                if (datet == null || datet == "") {
                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("select date range");
                    isSuccess = false;
                }
                return isSuccess;
            };

            $(document).on('click', '#Summary', function (e) {
                clearCalculatedFields();
                var isSuccess = formValidationBeforeSubmit();
                if (isSuccess == true) {
                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#branchId").val();
                    var campusId = $("#campusId").val();
                    var datef = $("#datef").val();
                    var datet = $("#datet").val();

                    if (campusId != null && campusId != "") {
                        $('#campmsg').text("");
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {

                        $.ajax({
                            url: $("body").attr("data-project-root") + "Student/PaymentTransections/GetTransactionsSettlementSummary",
                            cache: false,
                            async: true,
                            type: "POST",
                            data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, datef: datef, datet:datet },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                if (response.IsSuccess) {
                                    document.getElementById("preSettledAmt").value = numberWithCommas(response.preSettledAmt);
                                    document.getElementById("totalCollection").value = numberWithCommas(response.totalCollection);
                                    document.getElementById("totalRefund").value = numberWithCommas(response.totalRefund);
                                    document.getElementById("netCollection").value = numberWithCommas(response.netCollection);

                                    document.getElementById("taxStudentCollection").value = numberWithCommas(response.taxStudentCollection);
                                    document.getElementById("vatStudentCollection").value = numberWithCommas(response.vatStudentCollection);
                                    document.getElementById("minVatPercent").value = parseFloat(response.minVatPercent).toFixed(2);
                                    document.getElementById("minVatAmount").value = numberWithCommas(response.minVatAmount);
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                } 
            });

            $(document).on('click', '#Calculate', function (e) {
                var isSuccess = formValidationBeforeSubmit();
                if (isSuccess == true) {
                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#branchId").val();
                    var campusId = $("#campusId").val();
                    var datef = $("#datef").val();
                    var datet = $("#datet").val();
                    var vatPercent = $("#vatPercent").val();

                    if (vatPercent != null && vatPercent != "") {
                        $('#vatPercentmsg').text("");
                    }
                    else {
                        $('#vatPercentmsg').text("Enter a value between 1 to 100");
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "" && vatPercent != null && vatPercent != "") {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Student/PaymentTransections/GetTransactionsSettlementCalculate",
                            cache: false,
                            async: true,
                            type: "POST",
                            data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, datef: datef, datet: datet, vatPercent: vatPercent },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                if (response.IsSuccess) {
                                    document.getElementById("calculatedVatPercent").value = parseFloat(response.calculatedVatPercent).toFixed(2);
                                    document.getElementById("calculatedVatAmount").value = numberWithCommas(response.calculatedVatAmount);
                                    document.getElementById("totalTransection").value = response.totalTransection;
                                    document.getElementById("maxReceivingAmount").value = numberWithCommas(response.maxReceivingAmount);
                                    document.getElementById("oldStudent").value = response.oldStudent;
                                    document.getElementById("duePayment").value = numberWithCommas(response.duePayment);
                                    document.getElementById("newStudent").value = response.newStudent;
                                    document.getElementById("newPayment").value = numberWithCommas(response.newPayment);
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }
            });

            $(document).on('click', '#FinalPost', function (e) {
                var isSuccess = formValidationBeforeSubmit();
                if (isSuccess == true) {
                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var branchId = $("#branchId").val();
                    var campusId = $("#campusId").val();
                    var datef = $("#datef").val();
                    var datet = $("#datet").val();
                    var vatPercent = $("#vatPercent").val();

                    var calculatedVatPercent = $("#calculatedVatPercent").val();
                    var calculatedVatAmount = $("#calculatedVatAmount").val().replace(',', '');
                    var totalTransection = $("#totalTransection").val();
                    var maxReceivingAmount = $("#maxReceivingAmount").val().replace(',', '');
                    var oldStudent = $("#oldStudent").val();
                    var duePayment = $("#duePayment").val().replace(',', '');
                    var newStudent = $("#newStudent").val();
                    var newPayment = $("#newPayment").val().replace(',', '');

                    if (vatPercent != null && vatPercent != "") {
                        $('#vatPercentmsg').text("");
                    }
                    else {
                        $('#vatPercentmsg').text("Enter a value between 1 to 100");
                    }
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "" && vatPercent != null && vatPercent != "") {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Student/PaymentTransections/TransactionsSettlementFinalPost",
                            cache: false,
                            async: true,
                            type: "POST",
                            data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, datef: datef, datet: datet, vatPercent: vatPercent, calculatedVatPercent: calculatedVatPercent, calculatedVatAmount: calculatedVatAmount, totalTransection: totalTransection, maxReceivingAmount: maxReceivingAmount, oldStudent: oldStudent, duePayment: duePayment, newStudent: newStudent, newPayment: newPayment },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                if (response.IsSuccess) {
                                    var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>' + response.message + '</div>';
                                    $('.customMessage').append(errorMessage);

                                    document.getElementById('organizationId').value = -1;
                                    clearCalculatedFields();
                                    document.getElementById("datet").value = "";
                                    document.getElementById("datef").value = "";
                                    $('#dtmsg').text("");
                                    $("#SessionId option").remove();
                                    $("#ProgramId option").remove();
                                    $("#branchId option").remove();
                                    $("#campusId option").remove();
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + response.message + '</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                                $.unblockUI();
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Error occurred</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }
            });
        });

    </script>
   
}
