﻿@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Transactions Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

@using (Html.BeginForm("GenerateTransactionReport", "PaymentTransections", FormMethod.Post, new { name = "generateTransactionForm", id = "generateTransactionForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Transaction Report
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                                @Html.DropDownList("organizationId", ViewBag.organizationList as MultiSelectList, new { @class = "form-control", @required = "required", @id = "organizationId" })
                            </div><div class="text-center" id="orgmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SessionId" class="control-label col-md-4">Payment Method</label>
                            <div class="col-md-8">
                                @Html.DropDownList("PaymentMethod", (SelectList)ViewBag.PaymentMethod, "All Payment Method", htmlAttributes: new { @class = "form-control", @required = "required", @id = "PaymentMethod" })
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProgramId" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                <select required="required" name="ProgramId" id="ProgramId" class="form-control valid"></select>
                            </div><div class="text-center" id="pmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SessionId" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                @Html.DropDownList("SessionId", null, "Select a session", htmlAttributes: new { @class = "form-control", @required = "required", @id = "SessionId" })
                            </div><div class="text-center" id="smsg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Branch</label>
                            <div class="col-md-8">
                                <select required="required" name="branchId" id="branchId" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="brmsg"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Campus</label>
                            <div class="col-md-8">
                                <select required="required" name="campusId" id="campusId" class="form-control valid" multiple="multiple"></select>
                            </div><div class="text-center" id="campmsg"></div>
                        </div>
                    </div>
                </div>

                @*<div class="row" style="margin-top: 30px">
                    <p class="control-label col-md-2"><strong>Date Range</strong></p>
                    <div class="col-md-8">
                        <input type="text" id="datef" name="datef" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />

                        <span style="float: left;margin:0px 10px;">To</span>

                        <input type="text" id="datet" name="datet" class="form-control col-md-3 form_datetime" required="required" readonly="readonly" />
                        <div class="text-center" id="dtmsg"></div>
                    </div>
                    <div class="col-md-2">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="10" />
                    </div>
                </div>
                
                <div class="row form-group">
                    <div class="col-md-12" style="text-align:center;"> 
                        <input type="button" value="View Report" class="btn btn-primary" id="Submit" />  
                        <input type="button" name="export" id="export" value="Export" class="btn btn-primary" style="display: none;" /> 
                    </div>
                </div>*@


                <div class="row" style="margin-top: 10px">
                    <label class="control-label col-md-2">Date Range</label>
                    <div class="col-md-2">
                        <input type="text" id="datef" name="datef" class="form-control form_datetime" required="required" readonly="readonly" />
                    </div>
                    <div class="col-md-1">
                        To
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="datet" name="datet" class="form-control form_datetime" required="required" readonly="readonly" />
                        <div class="text-center" id="dtmsg"></div>
                    </div>
                    <div class="col-md-2">
                        <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="pageSize" value="10" />
                    </div>
                    <div class="col-md-3" style="text-align:center;">
                        <input type="button" value="View Report" class="btn btn-primary" id="Submit" />
                        <input type="button" name="export" id="export" value="Export" class="btn btn-primary" style="display: none;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div id="TransactionReportDataContain">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>  
    @*<script src="~/Scripts/Student/Attendance/IndividualReport.js"></script>*@

    <script type="text/javascript">
        
    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        // alert(lastColumn);

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            "bInfo": true,
            order: [[0, "desc"]],
            //"aoColumnDefs": [{
            //    'bSortable': false,
            //    'aTargets': [(lastColumn - 1)]
            //}],
            "bSort": false,
            ajax: {
                url: 'TransactionReportResult',
                type: 'POST',
                data: function (d) {
                    d.programId = $("#ProgramId").val();
                    d.sessionId = $("#SessionId").val();
                    d.branchId = $("#branchId").val();
                    d.campusId = $("#campusId").val();
                    d.datef = $("#datef").val();
                    d.datet = $("#datet").val();
                    d.paymentMethod = $("#PaymentMethod").val();
                }
            }
        });
    }

        $(document).ready(function() {
            $("#datet").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                // initialDate: new Date().getDate(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                }
            });

            $("#datef").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                // initialDate:"2000-01-01",
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) <= Date.parse($("#datet").val())) {
                    $('#dtmsg').text("");
                }
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                }
            });

            $(document).on('click', '#Submit', function (e) {
                e.preventDefault();
                $("#TransactionReportDataContain").html("");
                $("#export").hide();
                $('#orgmsg').text("");
                $('#pmsg').text("");
                $('#smsg').text("");
                $('#brmsg').text("");
                $('#campmsg').text("");
                $('#cmsg').text("");
                $('#dtmsg').text("");
                $('#umsg').text("");
                if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                    $('#dtmsg').text("");
                }
                var organizationId = $("#organizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();
                //var course = $("#course").val();
                var UserIds = $("#UserIds").val();
                var datef = $("#datef").val();
                var datet = $("#datet").val();

                var isSuccess = true;
                if (Date.parse($("#datef").val()) > Date.parse($("#datet").val())) {
                    $('#dtmsg').text("Date to can not be less than date from.");
                    $('#dtmsg').css('color', 'red');
                    isSuccess = false;
                }
                if (organizationId == null || organizationId < 0) {
                    $('#orgmsg').text("");
                    var organizationMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="orgmsg">Select Organization</span></span>';
                    $('#orgmsg').append(organizationMessage);
                    isSuccess = false;
                }
                if (programId == null || programId < 0) {
                    $('#pmsg').text("");
                    var programMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="pmsg">Select Program</span></span>';
                    $('#pmsg').append(programMessage);
                    isSuccess = false;
                }

                if (sessionId == null || sessionId == "") {
                    $('#smsg').text("");
                    var sessionMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="smsg">Select Session</span></span>';

                    $('#smsg').append(sessionMessage);
                    isSuccess = false;
                }

                if (branchId == null || branchId == "") {
                    $('#brmsg').text("");
                    var branchMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="brmsg">Select Branch</span></span>';
                    $('#brmsg').append(branchMessage);
                    isSuccess = false;
                }

                if (campusId == null || campusId == "") {
                    $('#campmsg').text("");
                    var campusMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="campmsg">Select Campus</span></span>';
                    $('#campmsg').append(campusMessage);
                    isSuccess = false;
                }

                if (datef == null || datef == "") {

                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("select date range");
                    isSuccess = false;
                }
                if (datet == null || datet == "") {
                    $('#dtmsg').text("");
                    //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                    $('#dtmsg').css('color', 'red');
                    $('#dtmsg').text("select date range");
                    isSuccess = false;
                }

                if (isSuccess == true) {
                    var data = $('form#generateTransactionForm').serialize();
                    //return true;
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Student/PaymentTransections/GenerateTransactionReport",
                        type: "POST",
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $("#TransactionReportDataContain").html(response);
                            dataTableRender();
                            $("#export").show();
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program load failed</div>';
                                $('.customMessage').append(errorMessage);
                            }
                    });
                } else {
                    //e.preventDefault();
                    return false;
                }
            });

            $(document).on("click", "#export", function () {
                var paymentMethod = $("#PaymentMethod").val();
                if (paymentMethod == '' || paymentMethod == null || paymentMethod.length <= 0) {
                    paymentMethod = 0;
                }
                var urlParam = {
                    organizationId: $("#organizationId").val(),
                    programId: $("#ProgramId").val(),
                    sessionId: $("#SessionId").val(),
                    branchId: $("#branchId").val(),
                    campusId: $("#campusId").val(),
                    programName: encodeURIComponent($("#ProgramName").html()),
                    sessionName: encodeURIComponent($("#SessionName").html()),
                    campusName: encodeURIComponent($("#CampusName").html()),
                    branchName: encodeURIComponent($("#BranchName").html()),
                    datef: $("#datef").val(),
                    datet: $("#datet").val(),
                    paymentMethod: paymentMethod //$("#PaymentMethod").val()
            };

                var url = "@Url.Action("TransactionReportToExcel", "PaymentTransections", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                //console.log(url);
                window.open(url);
            });

            $(document).on('change', '#organizationId', function () {
                var organizationId = [];
                organizationId = $("#organizationId").val();
                if (organizationId.indexOf('0') > -1) {
                    organizationId = null;
                }
                console.log(organizationId);
                $("#SessionId option").remove();
                $("#ProgramId option").remove();
                // $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (organizationId != "") {
                    $('#orgmsg').text("");
                }
                // var x =
                if (organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { "organizationIds": organizationId,isAuthorized:true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#ProgramId').append('<option value="">Select Program</option>');
                                
                                if (response.returnProgramList.length > 0) {
                                    //$('#ProgramId').append('<option value="0">All</option>');
                                }
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                // $("#SessionId").find('option:eq(0)').prop('selected', true);
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                // alert("Session load failed");
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program load failed</div>';
                                $('.customMessage').append(errorMessage);
                                //console.log("Failed -----");
                                // console.log(response);
                            }
                    });
                }
                // SESSION
            });

            $(document).on('change', "#ProgramId", function () {
                var programId = $("#ProgramId").val();
                var organizationId = $("#organizationId").val();
                $("#SessionId option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (programId != null && programId != "") {
                    $('#pmsg').text("");
                }

                if (programId != null && programId != "" && organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },

                        success: function (response) {
                            if (response.IsSuccess) {
                                $('#SessionId').append($('<option>').text("Select Session").attr('value', ""));
                                $.each(response.returnSessionList, function (i, v) {
                                    if (v.Text > '2014') {
                                        $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    }
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Session load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }
            });

            $(document).on('change', "#SessionId", function () {
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var organizationId = $("#organizationId").val();
                // $("#course option").remove();
                $("#branchId option").remove();
                $("#campusId option").remove();
                if (programId != null && programId != "") {
                    $('#smsg').text("");
                }

                if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: {organizationIds:organizationId, programIds: programId, sessionIds: sessionId, isAuthorized:true },

                        success: function (response) {
                            if (response.IsSuccess) {
                                // $('#branchId').append($('<option>').text("Select Branch").attr('value', ""));
                                //$('#branchId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnBranchList, function (i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            //alert("Branch load failed");
                            //console.log("Failed -----");
                            //console.log(response);
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Branch load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }
            });

            $(document).on('change', "#branchId", function() {
                $("#campusId option").remove();
                var organizationId = $("#organizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                if (branchId != null && branchId != "") {
                    $('#brmsg').text("");
                }
                if (organizationId != null && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                //$('#campusId').append($('<option>').text("All").attr('value', 0));
                                $.each(response.returnCampusList, function (i, v) {
                                    $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //   $("#campusId").find('option:eq(0)').prop('selected', true);

                                //BATCH
                                var campusId = $("#campusId").val();

                                // BATCH
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response) {
                            //alert("Campus load failed");
                            //console.log("Failed -----");
                            //console.log(response);
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Campus load failed</div>';
                            $('.customMessage').append(errorMessage);
                        }
                    });
                }
            });

            $(document).on('change', '#UserIds', function() {
                if ($("#UserIds").val() >= 0) {
                    $('#umsg').text("");
                }
            });

            $(document).on('change', "#campusId", function() {

                $('#batchDays option').remove();
                $('#batchTime option').remove();
                $('#batchName option').remove();

                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var branchId = $("#branchId").val();
                var campusId = $("#campusId").val();
                if (campusId != null && campusId != "") {
                    $('#campmsg').text("");
                }
            });
        });

    </script>
   
}
