﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.GoodsTransferReportFormViewModel
@Styles.Render("~/Content/styledatatable")
@{
    Layout = null;
    var programs = ViewBag.ProgramNameList;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">@ViewBag.ReportTitle</h4>
    </div>
    <div class="panel-body">
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Item Group</th>
                    <th>Item Name</th>
                    @*<th>Program & Session</th>*@
                    @{
                        foreach (var program in programs)
                        {
                            <th>@program</th>
                        }
                    }
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
<div class="clearfix"></div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatable")

<script type="text/javascript">

    $(document).ready(function () {
        @*var organizationId = '@Model.OrganizationId';
        var branchId = '@Html.Raw(Json.Encode(Model.BranchId))';
        var organizationToId = '@Model.OrganizationToId';
        var branchToId = '@Html.Raw(Json.Encode(Model.BranchToId))';
        var itemGroupId = '@Html.Raw(Json.Encode(Model.ItemGroupId))';
        var itemId = '@Html.Raw(Json.Encode(Model.ItemId))';
        var dateFrom = '@Model.DateFrom';
        var dateTo = '@Model.DateTo';
        var pageSize = '@Model.NoOfPages';*@


    });


    dataTableRender();

    @**----function for render data table----*@
    function dataTableRender() {

        var organizationId = '@Model.OrganizationId';
        var branchId = @Html.Raw(Json.Encode(Model.BranchId));
        var organizationToId = '@Model.OrganizationToId';
        var branchToId = @Html.Raw(Json.Encode(Model.BranchToId));
        var itemGroupId = @Html.Raw(Json.Encode(Model.ItemGroupId));
        var itemId = @Html.Raw(Json.Encode(Model.ItemId));
        var dateFrom = '@Model.DateFrom';
        var dateTo = '@Model.DateTo';
        var pageSize = '@Model.NoOfPages';

        console.log("function calling......");
        console.log("orgf", organizationId);
        console.log("brf", branchId);
        console.log("orgt", organizationToId);
        console.log("brt", branchToId);
        console.log("group id", itemGroupId);
        console.log("itemId", itemId);
        console.log("date from", dateFrom);
        console.log("date to", dateTo);
        var displayNo = 0;
        if (pageSize == "" || pageSize == undefined || pageSize <= 0) {
            displayNo = 10;
        } else {
            displayNo = pageSize;
        }
        $("#DataGrid").dataTable({
            "sScrollX": "100%",
            "bScrollCollapse": true,
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "bLengthChange": false,
            "iDisplayLength": displayNo,
            "aaSorting": [],
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }],
            order: [[0, "desc"]],
            ajax: {
                url: '@Url.Action("TransferReportByProgram", "GoodsTransfer")',
                type: 'POST',
                data: function (dt) {
                    dt.organizationId = organizationId;
                    dt.branchId = branchId;
                    dt.organizationToId = organizationToId;
                    dt.branchToId = branchToId;
                    dt.itemGroupId = itemGroupId;
                    dt.itemId = itemId;
                    dt.dateFrom = dateFrom;
                    dt.dateTo = dateTo;
                },

                error: function () {
                    ShowErrorMessage("Problem occured during load data. Please try again.");
                }
            }
        });
    }



</script>

