﻿@using System.Web.UI.WebControls
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceDeleteViewModel
@Styles.Render("~/Content/styledatatable")
@{
    List<UserAttendanceReportViewModel> list = ViewBag.ListRawData;
    string invalidPin = ViewBag.InvalidPin;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Attendance Report</h4>
    </div>
    <div class="panel-body" id="printable">
        @if (String.IsNullOrEmpty(invalidPin))
        {
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @(ViewBag.Organization)</h4>
                    <h4>@(ViewBag.Name)</h4>
                    <h4>@(ViewBag.Designation)</h4>
                </div>
                <br />
            </div>
            <div style="clear: both"></div>
            <div class="form-horizontal">
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Punch Time
                            </th>
                            <th>
                                Device Name
                            </th>
                            <th>
                                Last Modified Date
                            </th>
                            <th>
                                Last Modified By
                            </th>
                            <th>
                                Remarks
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @if (list != null && list.Any())
                        {
                            foreach (var obj in list)
                            {
                                <tr>
                                    <td>@(obj.PunchTime.ToString("MMMM d, yyyy hh:mm tt"))</td>
                                    <td>@(obj.DeviceName)</td>
                                    <td>@(obj.LastModifiedDate.ToString("MMMM d, yyyy hh:mm tt"))</td>
                                    <td>@(obj.LastModifiedBy)</td>
                                    <td>
                                        <input type="text" name="remarksInput" value='@(obj.Remarks)' class="form-control remarksInput" id="">
                                    </td>
                                    <td>
                                        @if (obj.Status == AttendanceDeviceRawData.EntityStatus.Delete)
                                        {
                                            <a id='@(obj.Id)' href='#' data-name='@(obj.Status)' class='glyphicon glyphicon-ok remarksAction'></a>
                                        }
                                        else if (obj.Status == AttendanceDeviceRawData.EntityStatus.Active)
                                        {
                                            <a id='@(obj.Id)' href='#' data-name='@(obj.Status)' class='glyphicon glyphicon-trash remarksAction'></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                          <tr><td colspan="6">No Record Found</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div> @Html.Raw(invalidPin)</div>
        }
    </div>
</div>

<script type="text/javascript">
    //$(document).ready(function () {
        //$(document).on("click", ".remarksActionOk", function () {
        //    var id = $(this).attr("id");
        //    var txt = $(this).closest('td').prev().text();
        //    $(this).closest('td').prev().html("<input type='text' value='" + txt + "' class='form-control' id='" + id + "'/>");
        //    $(this).parent().html("<a id='" + id + "' href='#' data-name='' class='glyphicon glyphicon-trash remarksActionDelete' ></a>");
        //});
        
        
   // });
    $(document).on("click", ".remarksAction", function () {
        var attendanceDelete = @AttendanceDeviceRawData.EntityStatus.Delete;
        var attendanceActive = @AttendanceDeviceRawData.EntityStatus.Active;
        var id = $(this).attr("id");
        var prnt = $(this).parent();
        var clost = $(this).closest('td');
        var txt = $(this).closest('td').prev().find("input").val();
        var status = $(this).attr('data-name');
        var msg = "";
        var sMsg = "";
        if (status == attendanceActive) {
            msg = "<h3>Are you sure you want to delete this <span class='confirm-message'>Attendance</span> ?</h3>";
        }
        else if (status == attendanceDelete) {
            msg = "<h3>Are you sure you want to active this <span class='confirm-message'>Attendance</span> ?</h3>";
        }
        if (txt.trim() != "") {
           // alert(msg+"//");
            $(this).closest('td').prev().find("input").removeClass("highlight");
            bootbox.confirm("" + msg + "", function(result) {
                if (result) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/AttendanceReport/DeleteAttendanceRow",
                        //cache: false,
                        //async: true,
                        data: { id: id, remarks: txt.trim(), status: status },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {

                        },
                        complete: function(result) {
                            
                            var obj = JSON.parse(result.responseText);
                           
                            if (obj.IsSuccess) {
                                clost.prev().prev().text(obj.returnModifyBy);
                                clost.prev().prev().prev().text(obj.returnModificationDate);
                                if (status == attendanceActive) {
                                   
                                    prnt.html("<a id='" + id + "' href='#' data-name='"+attendanceDelete+"' class='glyphicon glyphicon-ok remarksAction' ></a>");
                                    $.fn.customMessage({
                                        displayMessage: "Attendance successfully deleted",
                                        displayMessageType: "s"
                                    });
                                } else if (status == attendanceDelete) {
                                    prnt.html("<a id='" + id + "' href='#' data-name='"+attendanceActive+"' class='glyphicon glyphicon-trash remarksAction' ></a>");
                                    
                                    $.fn.customMessage({
                                        displayMessage: "Attendance successfully actived",
                                        displayMessageType: "s"
                                    });
                                }

                            } else {
                                $.fn.customMessage({
                                    displayMessage: obj.Message,
                                    displayMessageType: "e"
                                });
                            }
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e"
                            });
                        }
                    });
                }

            });
        } else {
            $(this).closest('td').prev().find("input").addClass("highlight");
        }
    });
</script>