﻿@using System.Globalization
@using System.Web.UI.WebControls
@using UdvashERP.BusinessModel.ViewModel.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceReportViewModel
@{
    List<AttendanceReportViewModel> dataModels = new List<AttendanceReportViewModel>();
    dataModels = (List<AttendanceReportViewModel>)ViewBag.DataModel;
}
<div class="panel panel-primary">
    <div class="panel-heading">Member's Information</div>
    <div class="panel-body">
        @if (dataModels.Count > 0)
        {
            <table class="table table-responsive table-hover table-striped table-bordered">
                <tr>
                    <th>PIN</th>
                    <th>Name</th>
                    @*<th>Date</th>*@
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>Late Entry</th>
                    <th>Early Leave</th>
                    <th>W. Hour</th>
                    <th>Absent/Leave</th>
                    <th>Zone</th>
                    <th>Remarks</th>
                </tr>
                @foreach (var dataModel in dataModels)
                {
                    if (dataModel.DataList.Count > 0)
                    {
                        if (dataModel.DataList.Count > 0)
                        {
                            foreach (var row in dataModel.DataList)
                            {
                                <tr>
                                    <td>@dataModel.TeamMemberPin</td>
                                    <td>@dataModel.TeamMemberName</td>
                                    @*<td>@row.AttendanceDay</td>*@
                                    <td>@row.InTime</td>
                                    <td>@row.OutTime</td>
                                    <td>@row.LateEntry</td>
                                    <td>@row.EarlyLeave</td>
                                    <td>@row.WorkingHour</td>
                                    <td>@Html.Raw(@row.AbsentOrLeave)</td>
                                    <td>@row.Zone</td>
                                    <td>@Html.Raw(row.Remarks)</td>
                                </tr>
                            }
                        }
                    }
                }
            </table>
        }
        else
        {
            <table class="table table-condensed table-responsive">
                <tr>
                    No Data found.
                </tr>
            </table>
        }
    </div>
</div>



