﻿@using System.Globalization
@using System.Web.UI.WebControls
@using UdvashERP.BusinessModel.ViewModel.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceReportViewModel
@{
    var dataModel = new AttendanceReportViewModel();
    dataModel = ViewBag.DataModel;
    if (dataModel.DataList.Count > 0)
    {
        <table class="table table-responsive table-hover table-striped table-bordered">
            <tr>
                <th>Date</th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Late Entry</th>
                <th>Early Leave</th>
                <th>W. Hour</th>
                <th>Absent/Leave</th>
                <th>Zone</th>
                @*<th>Remarks</th>*@
            </tr>
            @foreach (var row in dataModel.DataList)
            {
                <tr>
                    <td>@row.AttendanceDay</td>
                    <td>@row.InTime</td>
                    <td>@row.OutTime</td>
                    <td>@row.LateEntry</td>
                    <td>@row.EarlyLeave</td>
                    <td>@row.WorkingHour</td>
                    <td>@Html.Raw(@row.AbsentOrLeave)</td>
                    <td>@row.Zone</td>
                    @*<td>@Html.Raw(row.Remarks)</td>*@
                </tr>
            }
            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td></td>
                <td></td>
                <td><b>@dataModel.TotalLateEntry</b></td>
                <td><b>@dataModel.TotalEarlyLeave</b></td>
                <td><b>@dataModel.TotalWorkingHour</b></td>
                <td></td>
                <td><b>@dataModel.FinalZone</b></td>
                @*<td></td>*@
            </tr>
        </table>
    }
}