﻿* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 370px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

.field-validation-error {
    color: #ff0000;
}

.highlight {
    border: 1px solid #F00;
}

.headerimage {
    background-image: url("Image/header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    content: " ";
    height: 200px;
    width: 100%;
}

body {
    padding-top: 0px;
    /*background: rgba(14,27,28,1);
    background: -moz-linear-gradient(top, rgba(14,27,28,1) 0%, rgba(132,199,201,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,27,28,1)), color-stop(100%, rgba(132,199,201,1)));
    background: -webkit-linear-gradient(top, rgba(14,27,28,1) 0%, rgba(132,199,201,1) 100%);
    background: -o-linear-gradient(top, rgba(14,27,28,1) 0%, rgba(132,199,201,1) 100%);
    background: -ms-linear-gradient(top, rgba(14,27,28,1) 0%, rgba(132,199,201,1) 100%);
    background: linear-gradient(to bottom, rgba(14,27,28,1) 0%, rgba(132,199,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1b1c', endColorstr='#84c7c9', GradientType=0 );*/
    background-attachment: scroll;
    background-color: #a4c3c6;
    background-image: url("Image/bg.jpg");
    background-position: left top;
    background-repeat: repeat-x;
}

.navbar-fixed-top {
    position: relative;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background: none;
    border: none;
}

.excolsHead {
    cursor: pointer;
}

.loading > img {
    display: block;
    margin-top: 7px;
}

/*	Tablet Layout: 768px.*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0px;
    }

    .headerimage {
        background-image: url("Image/header_mid.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        height: 139px;
    }
}


/*	Mobile Layout: 320px.*/

@media only screen and (max-width: 767px) {
    .container {
        padding: 0px;
    }

    .headerimage {
        background-image: url("Image/header_min.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        height: 84px;
    }
}

/*	Wide Mobile Layout: 480px.*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        padding: 0px;
    }

    .headerimage {
        background-image: url("Image/header_mid.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        height: 140px;
    }
}

/*	Table Responsive for Mobile View. */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    overflow: hidden;
}

table thead tr th {
    text-align: center;
}

table tbody tr td {
    text-align: center;
}

th {
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: right;
}
select option {
    padding-left: 5px;
}
@media only screen and (max-width: 480px) {

    /* Force table to not be like tables anymore */
    .resultCss table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
     .resultCss thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .resultCss tr {
        border: 1px solid #ccc;
    }

    .resultCss th {
        font-weight: bold;
    }

    .resultCss table thead tr th {
        text-align: left;
    }

    .resultCss table tbody tr td {
        text-align: right;
        white-space: nowrap;
    }

        .resultCss table tbody tr td:first-child {
            background-color: #e7e7e7;
        }

       .resultCss table tbody tr td:nth-child(2) {
            word-wrap: break-word;
        }

    .resultCss td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

       .resultCss td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }

        /*Label the data*/
        .resultCss td:nth-of-type(1):before {
            content: "Exam Name: ";
        }
        
        .resultCss td:nth-of-type(2):before {
            content: "Full Marks: ";
        }

        .resultCss td:nth-of-type(3):before {
            content: "MCQ Marks: ";
        }

       .resultCss td:nth-of-type(4):before {
            content: "Written Marks: ";
        }

       .resultCss td:nth-of-type(5):before {
            content: "Total Marks: ";
        }

       .resultCss td:nth-of-type(6):before {
            content: "Highest Marks: ";
        }

       .resultCss td:nth-of-type(7):before {
            content: "Branch Merit: ";
        }

       .resultCss td:nth-of-type(8):before {
            content: "Central Merit: ";
        }
}
/*/*Mobile View (Medium)*/
/*@media only screen and (max-width: 360px) {
    td:nth-of-type(2):before {
        padding-left: 16%;
    }
}*/
/*Mobile View (Small)*/
/*@media only screen and (max-width: 320px) {
    td:nth-of-type(2):before {
        padding-left: 12%;
    }
}*/
