﻿@{
    ViewBag.Title = "Image Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
}
@Styles.Render("~/Content/styledatatable")
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Image Report</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table id="tbl">
                <tr class="filteringRow form-group">

                    <th class="form-group">

                    </th>

                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="export" id="export" value="Export" class="form-control btn btn-primary" />
                    </th>
                    @*<th class="form-group">
                            <div class="col-md-12 text-center">
                                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                            </div>
                        </th>*@
                    
                </tr>
            </table>
            <div class="form-group col-md-12">
                <div style="">
                    <div style="height: 75px;">
                        <p style="text-align: center;">
                            <span style="text-align: center; font-size: 20px;">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 18px"></span>
                        </p>
                        @{
                            if (@ViewBag.ProgramSession != null)
                            {
                                <p style="text-align: center; font-size: 20px;">@ViewBag.ProgramSession</p>
                            }
                        }
                        <p style="text-align: center"><span style="text-align: center;font-size: 16px">Image Report</span></p>
                    </div>
                    
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-12">
                <table class="table table-bordered table-responsive">
                    <tr>
                        <td style="text-align: right">Branch :</td>
                        <td style="text-align: left">@ViewBag.Branchs</td>
                        <td style="text-align: right">Campus :</td>
                        <td style="text-align: left">@ViewBag.CampussName</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Batch Days :</td>
                        <td style="text-align: left">@ViewBag.BatchsDays</td>
                        <td style="text-align: right">Batch Name :</td>
                        <td style="text-align: left">@ViewBag.BatchsName</td>
                    </tr>
                </table>
            </div>
            
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>Branch</th>
                        <th>Batch</th>
                        <th>Batch Time</th>
                        <th>Program Roll</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/printThis.js"></script>
    <script src="~/scripts/jquery.print.js"></script>
    <script src="~/scripts/student/Image/PrintMissingImage.js"></script>
    <script type="text/javascript">

    var programId = @ViewBag.programId;
    var sessionId = @ViewBag.sessionId;
    var branchId = @Html.Raw(Json.Encode(@ViewBag.branchId));
    var campusId = @Html.Raw(Json.Encode(@ViewBag.campusId));
    var batchName = @Html.Raw(Json.Encode(@ViewBag.batchName));
    var batchDays = @Html.Raw(Json.Encode(@ViewBag.batchDays));
    var batchTime = @Html.Raw(Json.Encode(@ViewBag.batchTime));
    var isMissing=@ViewBag.isMissing;

    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize =parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        // alert(lastColumn);

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            "bInfo": true,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [(lastColumn - 1)]
            }],
            ajax: {
                url: 'MissingImageReport',
                type: 'POST',
                data: function(d) {
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.branchId = branchId;
                    d.campusId = campusId;
                    d.batchName = batchName;
                    d.batchDays = batchDays;
                    d.batchTime = batchTime;
                    d.isMissing = isMissing;
                }
            }
        });
    }

    dataTableRender();


    $(document).on("click", "#search", function() {

        dataTableRender();

    });
    $(document).on("click", "#printList", function() {

        $(".administrationBodyContent").printThis();

    });
    $(document).on("click", "#export", function() {
       
        var urlParam = {
                programSessionHeader:'@ViewBag.ProgramSession',
                branchNameHeader:'@ViewBag.Branchs',
                campusHeader:'@ViewBag.CampussName',
                batchDaysHeader:'@ViewBag.BatchsDays',
                batchHeader:'@ViewBag.BatchsName',
                programId: programId,
                sessionId: sessionId,
                branchId: branchId,
                campusId:campusId,
                batchName : batchName,
                batchDays:batchDays,
                batchTime:batchTime,
                isMissing:isMissing
            };

            var url = "@Url.Action("MissingImageReportToExcel", "StudentImage", null, Request.Url.Scheme)";
    url += "?" + decodeURIComponent($.param(urlParam, true));
    window.open(url);
    });
    </script>
}