﻿@{
    ViewBag.Title = "ImageStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

@*@using (Html.BeginForm( new { name = "MissingImage", id = "MissingImage" }))*@

@using (Html.BeginForm("ImageStatus", "StudentImage", FormMethod.Post, new { name = "MissingImage", id = "MissingImage", @statusVal = "statusVal" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Missing Image
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organizationId" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                                @Html.DropDownList("OrganizationId", (SelectList)ViewBag.OrganizationId, "Select Organization", htmlAttributes: new { @class = "form-control", })
                                <div id="organizationMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="programId" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ProgramId", (SelectList)ViewBag.ProgramId, "Select program", htmlAttributes: new { @class = "form-control", })
                                <div id="programMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sessionId" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                @Html.DropDownList("SessionId", null, "Select session", htmlAttributes: new { @class = "form-control" })
                                <div id="sessionMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Branch</label>
                            <div class="col-md-8">
                                @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                                <div id="branchMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Campus</label>
                            <div class="col-md-8">
                                @Html.DropDownList("CampusId", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                                <div id="campusMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchDays" class="control-label col-md-4">Batch Days</label>
                            <div class="col-md-8">
                                <select required="required" name="batchDays" id="batchDays" class="form-control valid" multiple="multiple"></select>
                                <div id="batchDaysMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchTime" class="control-label col-md-4">Batch Time</label>
                            <div class="col-md-8">
                                <select required="required" name="batchTime" id="batchTime" class="form-control valid" multiple="multiple"></select>
                                <div id="batchTimeMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchName" class="control-label col-md-4">Batch</label>
                            <div class="col-md-8">
                                <select required="required" name="batchName" id="batchName" class="form-control valid" multiple="multiple"></select>
                                <div id="batchMessage"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="imageStatus" class="control-label col-md-4">Image Status</label>
                            <div class="col-md-8">
                                @Html.DropDownList("statusVal", (IEnumerable<SelectListItem>)ViewBag.ImageStatus, "Select Image Status", new { @class = "form-control" })
                                @*<select required="" name="statusVal" id="statusVal" class="form-control ">
                                    <option value="">Select Image Status </option>
                                    @if (ViewBag.ImageStatus != null)
                                    {
                                        foreach (KeyValuePair<String, int> statusType in ViewBag.ImageStatus)
                                        {
                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }
                                    }
                                </select>*@
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-4">
                        <div class="col-md-4 text-center">
                            <input type="button" class="form-control btn btn-primary" id="countBtn" value="Count" style="margin-top: 2px;font-size: 14px;text-align: center " />
                        </div>
                        <div class="col-md-4 text-center">
                            <input id="countView" type="text" disabled="" class="form-control" />
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information to View</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                        <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                            <option value="Program Roll">Program Roll</option>
                            <option value="Nick Name">Nick Name</option>
                            <option value="Full Name">Full Name</option>
                            <option value="Institute">Institute</option>
                            <option value="Mobile Number(Personal)">Mobile Number(Student)</option>
                            <option value="Mobile Number(Father)">Mobile Number(Father)</option>
                            <option value="Mobile Number(Mother)">Mobile Number(Mother)</option>
                            <option value="Branch">Branch</option>
                            <option value="Campus">Campus</option>
                            <option value="BatchDays">Batch Days</option>
                            <option value="BatchTime">Batch Time</option>
                            <option value="BatchName">Batch Name</option>
                            <option value="Image">Image</option>
                            <option value="Upload By">Upload By</option>
                            <option value="Updated By">Updated By</option>
                        </select>
                    </div>
                </div>
                <br>
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="View" class="btn btn-primary" id="imageStatusBtn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" name="isMissing" id="isMissing" />
    </div>
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Student/Image/ImageStatus.js"></script>
    @Scripts.Render("~/bundles/dualListBox")
    @*@Scripts.Render("~/bundles/MissingImage")*@
    @Scripts.Render("~/bundles/jqueryval")
}
