﻿@*@model IEnumerable<UdvashFMS.Model.Entity.Folder>*@

<link type="text/css" href="~/Content/Student/imageUpload.css" rel="stylesheet" />

@{
    ViewBag.Title = "Upload Image";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row" style="min-width: 720px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload Image</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("FileUpload", "StudentImage", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload", @class = "form-group" }))
                        {
                            <div class="col-lg-12" style="align-content: center;">
                                <table>
                                    <tr>
                                        <td style="text-align: center; width: 100px; font-weight:bold; border-bottom:5px;border-bottom-style: solid; border-bottom-color: #0C0">Succeed</td>
                                        <td style="width: 132px;"></td>
                                        <td style="text-align: center; width: 100px; font-weight:bold; border-bottom:5px;border-bottom-style: solid; border-bottom-color: #00F">Duplicate</td>
                                        <td style="width: 132px;"></td>
                                        <td style="text-align: center; width: 100px; font-weight:bold; border-bottom:5px;border-bottom-style: solid; border-bottom-color: #F00">Failed</td>
                                        <td style="width: 132px;"></td>
                                        <td style="text-align: center; width: 100px; font-weight:bold; border-bottom:5px;border-bottom-style: solid; border-bottom-color: #000">Total</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center ; font-weight:bold; font-size: 20px ; color: #0C0"><label name="SuccessCounter" id="SuccessCounter">0</label> </td>
                                        <td style="width: 130px;"></td>
                                        <td style="text-align: center ; font-weight:bold; font-size: 20px;color: #00F"><label name="DuplicateCounter" id="DuplicateCounter">0</label> </td>
                                        <td style="width: 130px;"></td>
                                        <td style="text-align: center ; font-weight:bold; font-size: 20px;color:#F00"><label name="FailedCounter" id="FailedCounter">0</label> </td>
                                        <td style="width: 130px;"></td>
                                        <td style="text-align: center ; font-weight:bold; font-size: 20px;color:#000"><label name="TotalCounter" id="TotalCounter">0</label> </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-lg-12">
                                <div class="panel panel-title" style="border-radius:3px; box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);">
                                    <div class="form-horizontal">
                                        &nbsp;@Html.CheckBox("overwrite") Allow Over Write?
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="panel panel-default" id="drop">
                                    <p style="margin: 0px auto; margin-top: 50px;">Drop Here</p>
                                    <a>Browse</a>
                                    <input type="hidden" name="hidden" id="hidden" value="" />
                                    <input type="file" name="upl" multiple />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-md-12 hide" id="upper">
                                    <div class="col-md-9">
                                        <input class="button" type="button" value="Upload" onclick="Upload();" />ASDF
                                    </div>
                                    <div class="col-md-3">
                                        <span style="margin-left: 110px;" onclick="FadeAllList()">
                                            <img src="~/Content/Image/delete-icon.png" style="width: 35px; height: 35px; margin-top: 20px;" />
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-5"></div>
                                <input class="button" style="" type="button" value="Clear" id="clearDiv" />
                                <input class="button" style="margin: 10px;" type="button" value="Upload" onclick="Upload();" />

                                <div id="div1" class="col-md-12" style="margin-top: 10px;">
                                    <ul id="ul">
                                        <!-- The file uploads will be shown here -->
                                    </ul>
                                </div>
                                @*<div class="col-md-5"></div>
                                    <input class="button" style="margin: 10px;" type="button" value="Upload" onclick="Upload();" />*@
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var count = 0;
    function Upload() {
        console.log("UPLOAD");
        var hiddenvalue = '';
        document.getElementById('hidden').value = hiddenvalue;
        console.log(document.getElementById('hidden').value);
        for (var k = dataIndex; k <= dataList.length; k++) {
            if (dataList[k] != null) {
                var file1 = dataList[k];
                checkSettings(file1);
            }
            dataIndex = k;
        }
    }
    function FadeAllList() {
        var li = $('#upload ul li');
        console.log("FadeAllList");
        for (var i = 0; i < li.length; i++) {
            li[i].remove();
        }

        document.getElementById('upper').className = 'hide';
    }

    var x = new Array();
    function GenerateCheckList(checkBox) {
        if (checkBox.checked) {
            x.unshift(checkBox.id);

        } else {
            var index = x.indexOf(checkBox.id);
            if (index > -1) {
                x.splice(index, 1);
            }
        }
    }



    function checkSettings(file) {
        count++;
        console.log(count);
        console.log(dataList.length);
        var name = file.files[0].name;
        var type = file.files[0].type;
        var size = file.files[0].size;
        console.log("checkSettings");
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckFile", "StudentImage")',
            data: { name: name, type: type, size: size },
            success: function (response) {
                //alert(response);
                var x = response.length;
                if (response.length <= 1) {
                    console.log("File submitting...");
                    file.submit();
                    if (count == dataList.length - 1) {
                        console.log(count);
                        console.log(dataList.length);
                        $.fn.customMessage({
                            displayMessage: "Image Upload Completed",
                            displayMessageType: "w",
                            displayTime: 5000
                        });
                    }
                }
                else {
                    var li = $('li[class="working ' + name + '"]');
                    var pUploadMessage = li.find('div.message');
                    pUploadMessage.html(response).css('color', '#F00');


                    //Total Counter
                    var counter1 = $("#TotalCounter").text();
                    if (!isNaN(counter1)) {

                        var currentCount = parseInt(counter1);
                        ++currentCount;

                        counter1 = currentCount;
                    } else
                        counter1 = 1;

                    $("#TotalCounter").html(counter1);

                    //Failed Counter
                    var counter1 = $("#FailedCounter").text();
                    if (!isNaN(counter1)) {

                        var currentCount = parseInt(counter1);
                        ++currentCount;

                        counter1 = currentCount;
                    } else
                        counter1 = 1;

                    $("#FailedCounter").html(counter1);
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
    $(document).ready(function () {
        $('#clearDiv').click(function () {
            location.reload();
            $('#div1').empty();
            $('#div1').append('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><strong></strong> ' + "Image List Empty" + '.</div>');
        });

       
    });
</script>

@section scripts
{
    <script src="~/Scripts/Student/Image/jquery.ui.widget.js"></script>
    <script src="~/Scripts/Student/Image/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/Student/Image/jquery.fileupload.js"></script>
    <script src="~/Scripts/Student/Image/jquery.knob.js"></script>
    <script src="~/Scripts/Student/Image/script.js"></script>
}