﻿@{
    ViewBag.Title = "Missing Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

@*@using (Html.BeginForm( new { name = "MissingImage", id = "MissingImage" }))*@

@using (Html.BeginForm("XXXXMissingImageReportXXXX", "StudentImage", FormMethod.Post, new { name = "MissingImage", id = "MissingImage" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Missing Image
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent" id="generateIdCard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organizationId" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                                @Html.DropDownList("OrganizationId", (SelectList)ViewBag.OrganizationId, "Select Organization", htmlAttributes: new { @class = "form-control", })
                                <div id="organizationMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="programId" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ProgramId", (SelectList)ViewBag.ProgramId, "Select program", htmlAttributes: new { @class = "form-control", })
                                <div id="programMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sessionId" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                @Html.DropDownList("SessionId", null, "Select session", htmlAttributes: new { @class = "form-control" })
                                <div id="sessionMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch" class="control-label col-md-4">Branch</label>
                            <div class="col-md-8">
                                @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                                <div id="branchMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campus" class="control-label col-md-4">Campus</label>
                            <div class="col-md-8">
                                @Html.DropDownList("CampusId", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                                <div id="campusMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchDays" class="control-label col-md-4">Batch Days</label>
                            <div class="col-md-8">
                                <select required="required" name="batchDays" id="batchDays" class="form-control valid" multiple="multiple"></select>
                                <div id="batchDaysMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchTime" class="control-label col-md-4">Batch Time</label>
                            <div class="col-md-8">
                                <select required="required" name="batchTime" id="batchTime" class="form-control valid" multiple="multiple"></select>
                                <div id="batchTimeMessage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="batchName" class="control-label col-md-4">Batch</label>
                            <div class="col-md-8">
                                <select required="required" name="batchName" id="batchName" class="form-control valid" multiple="multiple"></select>
                                <div id="batchMessage"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin-top: 15px; ">Existing Image</label>
                            <div class="col-md-8">
                                <input class="form-control" name="existingImageCount" id="existingImageCount" value="..." class="control-label col-md-4" style="margin-top: 7px;font-weight: bold;color:blue ;text-align: center " disabled="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin-top: 10px; ">Missing Image</label>
                            <div class="col-md-8">
                                <input class="form-control" name="missingImageCount" id="missingImageCount" value="..." class="control-label col-md-4" style="margin-top: 2px;font-weight: bold;color:blue;text-align: center " disabled="" />
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" value="Existing Image Report" class="btn btn-primary" id="ExistingImageReport" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6" style="text-align:left; margin-top: -15px">
                            <input type="button" value="Missing Image Report" class="btn btn-primary" id="MissingImageReport" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" name="isMissing" id="isMissing"/>
    </div>
}
@section Scripts { 
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/MissingImage")
    @Scripts.Render("~/bundles/jqueryval")
}
