﻿@{
    ViewBag.Title = "Student Image Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        Student Image Status
    </div>
    <div class="panel-body"> 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
  
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Program Roll", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("ProgramRoll", "", new { @class = "form-control", maxlength="11"  })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input id="submit"type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
       } 
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Student/Image/studentImageStatus.js"></script> 
} 