﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration

@{
    Layout = null;
}

@if (ViewBag.SessionList != null)
{
    <option value="0">Select branch</option>

    foreach (Branch  br in ViewBag.SessionList)
    {
        <option value="@br.Id">@br.Name</option>
    }
}
