﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration

@{
    Layout = null;
}

@if (ViewBag.SessionList != null)
{
    <option value="0">Select session</option>

    foreach (Session  ss in ViewBag.SessionList)
    {
        <option value="@ss.Id">@ss.Name</option>
    }
}
