﻿
@{
    ViewBag.Title = "Cache Reset";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Cache Reset
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center"><input type="checkbox" id="selecctall" /></th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Reset</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><input class="caheCheckbox" type="checkbox" name="check[]" value="menu"></td>
                            <td>Menu</td>
                            <td>All Menu, Actions & Users will be reset</td>
                            <td class="text-center"><button id="cacheReset" name="cacheReset" type="button" class="btn btn-primary" style="width: 55%">Menu</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><input class="caheCheckbox" type="checkbox" name="check[]" value="organization"></td>
                            <td>Organization</td>
                            <td>All Organizations will be reset</td>
                            <td class="text-center"><button id="organizationCacheReset" name="organizationCacheReset" type="button" class="btn btn-primary">Organization</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><input class="caheCheckbox" type="checkbox" name="check[]" value="program"></td>
                            <td>Program</td>
                            <td>All Programs will be reset</td>
                            <td class="text-center"><button id="programCacheReset" name="programCacheReset" type="button" class="btn btn-primary" style="width: 55%">Program</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><input class="caheCheckbox" type="checkbox" name="check[]" value="branch"></td>
                            <td>Branch</td>
                            <td>All Branch will be reset</td>
                            <td class="text-center"><button id="branchCacheReset" name="branchCacheReset" type="button" class="btn btn-primary" style="width: 55% ">Branch</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p class="text-center">
            <button id="selectedCacheReset" name="selectedCacheReset" type="button" class="btn btn-danger">Reset Selected</button>
        </p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function() {
            $('#selecctall').click(function(event) { //on click 
                if (this.checked) { // check select status
                    $('.caheCheckbox').each(function () { //loop through each checkbox
                        this.checked = true; //select all checkboxes with class "checkbox1"               
                    });
                } else {
                    $('.caheCheckbox').each(function () { //loop through each checkbox
                        this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                    });
                }
            });
            $(document).on('click', '#selectedCacheReset', function() {
                var selectedValues = new Array();
                $(".caheCheckbox:checked").each(function () {
                    selectedValues.push($(this).val());
                });
                console.log(selectedValues);
                if (selectedValues.length > 0) {
                    $.ajax({
                        url: "/Administration/AdministrationHome/SelectedCacheResetAjax",
                        type: "POST",
                        cache: false,
                        async: true,
                        data: { selectedValues: selectedValues },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            console.log(result);
                            $.unblockUI();
                            if (result.IsSuccess == true) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "s",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "e",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                    });
                }
            });

            $(document).on('click', '#cacheReset', function() {
                $.ajax({
                    url: "/Administration/AdministrationHome/CacheResetAjax",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: {},
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        console.log(result);
                        $.unblockUI();
                        if (result.IsSuccess == true) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                });
            });
            $(document).on('click', '#organizationCacheReset', function() {
                $.ajax({
                    url: "/Administration/AdministrationHome/OrganizationCacheResetAjax",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: {},
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        console.log(result);
                        $.unblockUI();
                        if (result.IsSuccess == true) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                });
            });
            $(document).on('click', '#programCacheReset', function() {
                $.ajax({
                    url: "/Administration/AdministrationHome/ProgramCacheResetAjax",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: {},
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        console.log(result);
                        $.unblockUI();
                        if (result.IsSuccess == true) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                });
            });
            $(document).on('click', '#branchCacheReset', function() {
                $.ajax({
                    url: "/Administration/AdministrationHome/BranchCacheResetAjax",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: {},
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        console.log(result);
                        $.unblockUI();
                        if (result.IsSuccess == true) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "e",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                });
            });
        });
    </script>
}
