﻿@using System.Globalization
@model UdvashERP.BusinessModel.ViewModel.UInventory.RequisitionForm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Requisition Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    input, textarea, select {
        max-width: 100%;
    }
</style>

@{
    var purposeList = ViewBag.PurposeList;
    var itemGroupList = ViewBag.ItemGroupList;
}

@using (Html.BeginForm(new { id = "RequisitionForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Add Requsition</h4>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                    @Html.LabelFor(model => model.BranchId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchList, "Select Branch", new { @class = "form-control", @id = "BranchId" })
                        @Html.ValidationMessageFor(model => model.BranchId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RequiredDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.RequiredDate, null, new { @class = "form-control  form_datetime", @readonly = "readonly", @Value = DateTime.Today.ToString("yyyy-MM-dd") })
                        @Html.ValidationMessageFor(model => model.RequiredDate)
                    </div>
                </div>

                <br />
                <label>Item Details</label>
                <table class="table table-responsive table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Purpose</th>
                            <th>Item Group</th>
                            <th>Item Name</th>
                            <th>Program & Session</th>
                            <th>@Html.DisplayNameFor(model => model.RequisitionDetails[0].Quantity)</th>
                            <th>
                                <button type="button" class="btn btn-primary" name="append" id="RequisitionItemDetailsAddButton">+</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="RequisitionItemList">
                        @{
                            int i = 0;

                            if (Model.RequisitionDetails != null && Model.RequisitionDetails.Count > 0)
                            {
                                var itemNameListArray = ViewBag.ItemNameListArray;
                                var itemProgramSessionListArray = ViewBag.ItemProgramSessionListArray;
                                foreach (var requisitionDetails in Model.RequisitionDetails)
                                {
                                    <tr class="requisitionSlipItemDetails parent">
                                        @Html.Hidden("Id", i, new {@class = "form-control itemDetailsId"})
                                        @Html.Hidden("Index", i, new {@class = "itemDetailsIndex", @Value = i})
                                        <td>
                                            @Html.DropDownListFor(model => model.RequisitionDetails[i].Purpose, new SelectList(purposeList, "Value", "Text", requisitionDetails.Purpose), "Select Purpose"
                                                , new {@class = "form-control itemDetailsPurpose"})
                                            @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Purpose, "", new {@class = "text-danger"})
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.RequisitionDetails[i].ItemGroup, new SelectList(itemGroupList, "Value", "Text", requisitionDetails.ItemGroup), "Item Group"
                                                , new {@class = "form-control itemDetailsItemGroup"})
                                            @Html.ValidationMessageFor(model => model.RequisitionDetails[i].ItemGroup, "", new {@class = "text-danger itemGroupValidationCls"})
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.RequisitionDetails[i].Item, new SelectList(itemNameListArray[i], "Value", "Text", requisitionDetails.Item), "Select Item"
                                                , new {@class = "form-control itemDetailsItemName"})
                                            @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Item, "", new {@class = "text-danger"})
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.RequisitionDetails[i].ProgramSession, new SelectList((IEnumerable<SelectListItem>) itemProgramSessionListArray[i]
                                                , "Value", "Text", requisitionDetails.ProgramSession), "Select Program & Session", new { @class = "form-control itemDetailsProgramSession" })
                                            @Html.ValidationMessageFor(model => model.RequisitionDetails[i].ProgramSession, "", new {@class = "text-danger"})
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.RequisitionDetails[i].Quantity, "", new { @class = "form-control removeZeroAtFirst itemDetailsQuantity" })
                                            @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Quantity, "", new {@class = "text-danger"})
                                        </td>
                                        <td><button type="button" class="btn btn-primary requisitionItemDetailsRemoveButton" name="append">-</button></td>
                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr class="requisitionSlipItemDetails parent">
                                    @Html.Hidden("Id", 0, new {@class = "form-control itemDetailsId"})
                                    @Html.Hidden("Index", 0, new {@class = "itemDetailsIndex", @Value = i})
                                    <td>
                                        @Html.DropDownListFor(model => model.RequisitionDetails[i].Purpose, new SelectList(purposeList, "Value", "Text"), "Select Purpose"
                                            , new {@class = "form-control itemDetailsPurpose"})
                                        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Purpose, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.RequisitionDetails[i].ItemGroup, new SelectList(itemGroupList, "Value", "Text"), "Item Group"
                                            , new {@class = "form-control itemDetailsItemGroup"})
                                        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].ItemGroup, "", new { @class = "text-danger itemGroupValidationCls" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.RequisitionDetails[i].Item, new SelectList(new List<string>(), "Value", "Text"), "Select Item"
                                            , new {@class = "form-control itemDetailsItemName"})
                                        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Item, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(x => x.RequisitionDetails[i].ProgramSession, (IEnumerable<SelectListItem>) ViewBag.ProgramSessionIdlist
                                            , "Select Program & Session", new { @class = "form-control itemDetailsProgramSession" })
                                        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].ProgramSession, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.RequisitionDetails[i].Quantity, "", new { @class = "form-control removeZeroAtFirst itemDetailsQuantity" })
                                        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Quantity, "", new {@class = "text-danger"})
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary requisitionItemDetailsRemoveButton" name="append">-</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label style="padding-left: 15px">@Html.LabelFor(model => model.Remarks)</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/UInventory/RequisitionSlipSave.js"></script>
}