﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.RequisitionViewModel
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    textarea {
        max-width: 100%;    
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Requsition Slip</h4>
    </div>
    <div class="panel-body" id="RequisitionPrint">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.Organization </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head" colspan="2" style="text-align: center"><b>Requisition Slip</b></td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Requisition No.</td>
                        <td>@Model.RequisitionNo</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Required Date</td>
                        <td>@Model.RequiredDate</td>
                    </tr>
                </table>
            </div>
            <br/>
            @{
                if (Model.RequisitionDetails != null && Model.RequisitionDetails.Any())
                {
                    <table id="items">
                        <thead>
                            <tr>
                                <th class="text-center">Purpose</th>
                                <th class="text-center">Item Group</th>
                                <th class="text-center">Item Name</th>
                                <th class="text-center">Program & Session</th>
                                <th class="text-center">Required Qty.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.RequisitionDetails)
                            {
                                <tr class="item-row">
                                    <td style="text-align: center">@row.Purpose</td>
                                    <td style="text-align: center">@row.ItemGroup</td>
                                    <td style="text-align: center">@row.Item</td>
                                    <td style="text-align: center">
                                        @row.ProgramSession
                                    </td>
                                    <td style="text-align: center">@row.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
        <br/>
        <div class="form-horizontal">
            <div class="form-group">
                <label style="padding-left: 15px">@Html.LabelFor(model => model.Remarks)</label>
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered table-striped">
                        <tr>
                            <td style="border: solid 1px #000000; min-height: 150px">
                                @{
                                    if (Model.Remarks != null)
                                    {
                                        @Model.Remarks.ToString();
                                    }
                                    else
                                    {

                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        <button type="button" id="RequsitionPrintBtn" style="min-width: 100px !important" class="btn btn-primary">Print</button>
    </div>
    <br />
</div>

@section Scripts {
    <script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">
        $("#RequsitionPrintBtn").click(function () {
            $("#RequisitionPrint").printThis();
        });
    </script>
}
