﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UInventory.Requisition>
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <style type="text/css">
        .numaricOnly {
        }
    </style>
    <div class="form-group">
        @using (Html.BeginForm("Create", "Requisition", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions">
                <input type="submit" value="Add Requisition" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Manage Requisition Slip</h4></div>
        <div class="panel-body">
            <table id="tableDiv">
                <tr class="form-group">
                    <th class="form-group">
                        @Html.DropDownList("organizationId", (SelectList)ViewBag.OrganizationList, "Organization", new { @class = "form-control", @id = "organizationId" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("branchId", (SelectList)ViewBag.BranchList, "Branch", new { @class = "form-control", @id = "branchId" })
                    </th>
                    <th class="form-group">
                        <input id="itemName" name="itemName" type="text" class="form-control " placeholder="Item Name" />
                    </th>
                    <th>
                        @Html.Editor("requiredDate", new { htmlAttributes = new { @class = "form-control", @id = "requiredDate", @placeholder = "Required Date" } })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("status", (SelectList)ViewBag.RequisitionStatus, "Status", new { @class = "form-control", @id = "status" })
                    </th>
                    <th class="form-group">
                        <input id="displayNo" name="displayNo" type="text" class="form-control numericInputOnly" style="width: 75px !important" placeholder="Rows" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Branch</th>
                        <th>Item Name</th>
                        <th>Requisition Date</th>
                        <th>Required Date</th>
                        <th>Requisition No</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>

    @section scripts{
        @Scripts.Render("~/bundles/bootstrap-datetimepicker")
        @Scripts.Render("~/bundles/datatable")
        <script src="~/Scripts/jquery.blockUI.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#requiredDate').datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: new Date(),
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });

                RequisitionDataTableRender();

                $(document).on('change', '#organizationId', function(event) {
                    $('#branchId').empty();
                    $('#branchId').append("<option value=''>Branch</option>");
                    var organizationId = $('#organizationId').val();
                    if (organizationId > 0 || organizationId != "") {
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                            data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false, isCorporate: false },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(response) {
                                $.unblockUI();
                                if (response.IsSuccess) {
                                    $.each(response.returnBranchList, function(i, v) {
                                        $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    $.fn.customMessage({
                                        displayMessage: response.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            },
                            complete: function() {

                                $.unblockUI();
                            },
                            error: function(data) {
                                $.fn.customMessage({
                                    displayMessage: ajaxError,
                                    displayMessageType: "error",
                                    displayTime: 5000
                                });
                            }
                        });
                    }
                });

                $(document).on("click", "#search", function () {
                    RequisitionDataTableRender();
                });

                $(document).on("click", ".glyphicon-remove", function () {
                    var id = $(this).attr("data-id");
                    var name = $(this).attr("data-name");
                    if (id != "") {
                        bootbox.confirm("<h4>Once you cancel requistion slip, its can't be undone, so plan ahead!</h4>", function (result) {
                            if (result) {
                                $.ajax({
                                    type: "post",
                                    url: $("body").attr("data-project-root") + "UInventory/Requisition/CancelRequisition",
                                    cache: false,
                                    async: true,
                                    data: { "id": id },
                                    beforeSend: function () {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function (rtdResult) {
                                        $.unblockUI();
                                        if (rtdResult.isSuccess) {
                                            $.fn.customMessage({
                                                displayMessage: rtdResult.Text,
                                                displayMessageType: "s",
                                            });
                                            RequisitionDataTableRender();
                                        }
                                        else if (!rtdResult.isSuccess) {
                                            $.fn.customMessage({
                                                displayMessage: rtdResult.Text,
                                                displayMessageType: "e",
                                            });
                                        }
                                    },
                                    complete: function () {
                                        $.unblockUI();
                                    },
                                    error: function () {
                                        $.unblockUI();
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "e",
                                        });
                                    }
                                });
                            }
                        }).css({ 'margin-top': (($(window).height() / 4)) });
                    }
                    return false;
                });
            });

            function RequisitionDataTableRender() {
                var displayNo = 10;
                if ($('#displayNo').val() != "" && /^\d+$/.test($('#displayNo').val())) {
                    displayNo = parseInt($('#displayNo').val());
                } else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    "sScrollX": "100%",
                    "bScrollCollapse": true,
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": [7] }],
                    order: [[3, "desc"]],
                    ajax: {
                        url: '@Url.Action("RenderRequisitionSlipList", "Requisition")',
                        type: 'POST',
                        data: function(dt) {
                            dt.organizationId = $('#organizationId').val();
                            dt.branchId = $('#branchId').val();
                            dt.itemName = $('#itemName').val();
                            dt.requiredDate = $('#requiredDate').val();
                            dt.requisitionStatus = $('#status').val();
                            dt.isListForIssue = false;
                        },
                        error: function() {
                            ShowErrorMessage("Requisition Slip data load error. Please try again.");
                        }
                    }
                });
            }
        </script>
    }
