﻿
@if (ViewBag.DropDownListItems != null)
{
    foreach (var item in @ViewBag.DropDownListItems)
    {
        <option value="@item.Value">@item.Text</option>
    }
}

@*else
{
    <option value="">All Parent Menu</option>
}*@
   