﻿@model UdvashERP.BusinessModel.ViewModel.Hr.DesignationSettingsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Update Designation Settings</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, "Select Organization", new { @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShortName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShortName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rank, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Rank, new { htmlAttributes = new { @class = "form-control", onKeyPress = "return isNumber(event)" } })
                        @Html.ValidationMessageFor(model => model.Rank)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                <select id="Status" name="Status" class="form-control ">
                                    @if (ViewBag.STATUSTEXT != null)
                                    {
                                        foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                        {
                                            if (statusType.Value == Convert.ToInt32(Model.Status))
                                            {
                                                <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                            }
                                            else
                                            {
                                                <option value="@statusType.Value">@statusType.Key</option>
                                            }
                                        }
                                    }
                                </select>
                            }
                        </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}
