﻿<tr class="TrainingInfo parent">
    @Html.Hidden("Id[]", 0, new { @class = "form-control teamMemberTrainingInfoId" })
    <td>
        @Html.TextBox("TrainingTitle[]", "", new { @class = "form-control teamMemberTrainingInfoTrainingTitle", @placeholder = "Training Title" })
    </td>
    <td>
        @Html.TextBox("TopicCover[]", "", new { @class = "form-control teamMemberTrainingInfoTopicCover", @placeholder = "Topic Cover" })
    </td>
    <td>
        @Html.Hidden("InstituteId[]", null, new { @class = "teamMemberTrainingInfoInstituteId" })
        @Html.TextBox("Institute[]", "", new { @class = "form-control teamMemberTrainingInfoInstitute", @placeholder = "Institute" })
    </td>
    <td>
        @Html.TextBox("Location[]", "", new { @class = "form-control teamMemberTrainingInfoLocation", @placeholder = "Location" })
    </td>
    <td>
        @Html.TextBox("Duration[]", "", new { @class = "form-control teamMemberTrainingInfoDuration", @placeholder = "Duration" })
    </td>
    <td>
        @Html.TextBox("PassingYear[]", "", new { @class = "form-control teamMemberTrainingInfoPassingYear", @placeholder = "Passing Year" })
    </td>
    <td></td>
    <td>
        <button type="button" class="btn btn-warning removeTrainingInfoRowButton" name="append">-</button>
    </td>
</tr>
<script>
    $('.teamMemberTrainingInfoInstitute').each(function () {
        var $this = $(this);
        $this.typeahead({
            source: function (query, process) {
                var data = { query: query }
                var url = '@Url.Action("GetInstituteByNameLike", "TeamMember")';
                $.ajax({
                    type: "POST",
                    url: url,
                    cache: false,
                    async: true,
                    data: data,

                    success: function (result) {
                        //   $.unblockUI();
                        if (result.IsSuccess) {
                            process(result.returnList);
                        }
                    },
                    complete: function () {
                        //    $.unblockUI();
                    },
                    error: function (result) {
                        //    $.unblockUI();
                    }
                });
            },
            updater: function (item) {
                $this.parent().find(".teamMemberTrainingInfoInstituteId").val(item.Value);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetInstituteByNameLike", "TeamMember")',
                    cache: false,
                    async: true,
                    data: { query: item.Value },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            console.log("HELLO");
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                    }
                });
                return item.Text;
            },
            matcher: function (item) {
                if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                    return true;
                }
                return false;
            },
            sorter: function (items) {
                return items.sort();
            },
            highlighter: function (item) {
                var regex = new RegExp('(' + this.query + ')', 'gi');
                return item.Text.replace(regex, "<strong>$1</strong>");
            },
            onselect: function (obj) {
                alert('Selected ' + obj);
            }
        });
    });
</script>