﻿<tr class="JobExperienceInfo parent">
    @Html.Hidden("Id[]", 0, new { @class = "form-control jobExperienceId" })
    <td>
        @Html.TextBox("CompanyName[]", "", new { @class = "form-control jobExperienceCompanyName", @placeholder = "Name" })
    </td>
    <td>
        @Html.DropDownList("CompanyType[]", (IEnumerable<SelectListItem>)ViewBag.CompanyType, "Type", htmlAttributes: new { @class = "form-control jobExperienceCompanyType", @placeholder = "Type" })
        @*@Html.TextBox("CompanyType[]", "", new { @class = "form-control jobExperienceCompanyType", @placeholder = "Type" })*@
    </td>
    <td>
        @Html.TextBox("CompanyAddress[]", "", new { @class = "form-control jobExperienceCompanyAddress", @placeholder = "Company Address" })
    </td>
    <td>
        @Html.TextBox("Dept[]", "", new { @class = "form-control jobExperienceDept", @placeholder = "Department" })
    </td>
    <td>
        @Html.TextBox("Position", "", new { @class = "form-control jobExperiencePosition", @placeholder = "Position" })
    </td>
    <td>
        @Html.TextBox("ExpArea[]", "", new { @class = "form-control jobExperienceExpArea", @placeholder = "Experience Area" })
    </td>
    <td>
        @Html.TextBox("Duration[]", "", new { @class = "form-control jobExperienceDuration", @placeholder = "Duration" })
    </td>
    <td>
        <button type="button" class="btn btn-warning removeJobExpRowButton" name="append">-</button>
    </td>
</tr>