﻿<tr class="ChildrenInfo">
    @Html.Hidden("Id", 0)
    <td>
        @Html.TextBox("ChildrenName", null, new { @class = "form-control teamMemberChildInformationName", @placeholder = "Name" })
    </td>
    <th>
        @Html.TextBox("ChildrenDOB", null, "{0:yyyy-MM-dd}", new { @class = "form-control form_childrenDateOfBirth1 teamMemberChildInformationDOB", @readonly = "readonly", @placeholder = "ChildrenDOB" })
    </th>
    <th>
        @Html.DropDownList("Gender", ViewBag.GenderList as SelectList, htmlAttributes: new { @class = "form-control teamMemberChildInformationGender", @required_name = "Gender" })
    </th>
    <th>
        <select name="Studying" class="form-control teamMemberChildInformationStudying" data-val="true" data-val-required="The Class field is required." style="max-width:100%;">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </th>
    <th>
        <select name="Status" id="Status" class="form-control teamMemberChildInformationStatus" data-val="true" data-val-required="The Class field is required." style="max-width:100%;">
            <option value="1">Active</option>
            <option value="-1">inactive</option>
        </select>
    </th>
    <th>
        @Html.TextBox("Remarks", null, new { @class = "form-control teamMemberChildInformationRemarks", @placeholder = "Remarks" })
    </th>
    <th><button type="button" class="btn btn-warning removeChildrenButton" name="append">-</button></th>
</tr>
