﻿@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@using UdvashERP.BusinessRules
@{
    bool isAcademicInfoFormValid = ViewBag.IsAcademicInfoFormValid;
}

@if (isAcademicInfoFormValid)
{
    TeamMember member = ViewBag.TeamMember;
    IList<AcademicInfo> dataList = ViewBag.AcademicInfo;
    var examLabels = ViewBag.ExamLabel;
    var boardList = ViewBag.Board;
    var examStatusList = ViewBag.ExamStatusList;
    var resultList = ViewBag.ResultList;
    var gradeScaleList = ViewBag.GradeScaleList;

    <div class="panel panel-primary">
        <div class="panel-heading">Academic Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.Hidden("MemberPin", (string)ViewBag.MemberPin)
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Level</th>
                        <th>Degree Title</th>
                        <th>Board/Versity</th>
                        <th>Major/Group</th>
                        <th>Institue Name</th>
                        <th>Result</th>
                        <th>Passing Year</th>
                        <th>Status</th>
                        <th>Certificates</th>
                        <th><button type="button" class="btn btn-primary addButton" name="append" id="addAcademicInfoRowButton">+</button></th>
                    </tr>
                    <tbody id="AcademicInfoList">
                        @if (dataList != null && dataList.Count > 0)
                        {
                            foreach (var academicInfoRow in dataList)
                            {
                                <tr class="AcademicInfo parent">
                                    @Html.Hidden("Id_" + academicInfoRow.Id, academicInfoRow.Id, new { @class = "form-control teamMemberAcademicInfoId" })
                                    <td>
                                        @Html.DropDownList("ExamName[]", new SelectList(examLabels, "Id", "Name", academicInfoRow.Exam != null ? academicInfoRow.Exam.Id : 0), "Level"
                                            , new { @class = "form-control teamMemberAcademicInfoExamName", @style = "min-width: 80px" })
                                    </td>
                                    <td>
                                        @Html.TextBox("DegreeTitle[]", !string.IsNullOrEmpty(academicInfoRow.DegreeTitle) ? academicInfoRow.DegreeTitle : ""
                                            , new { @class = "form-control teamMemberAcademicInfoDegreeTitle", @placeholder = "Degree Title" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("BoardName[]", new SelectList(boardList, "Id", "Name", academicInfoRow.Board != null ? academicInfoRow.Board.Id : 0), "Board"
                                            , new { @class = "form-control teamMemberAcademicInfoBoardName" })
                                    </td>
                                    <td>
                                        @Html.TextBox("MajorOrGroup[]", !string.IsNullOrEmpty(academicInfoRow.Major) ? academicInfoRow.Major.ToString(CultureInfo.CurrentCulture) : ""
                                            , new { @class = "form-control teamMemberAcademicInfoMajorGroup", @palceholder = "Major or Group" })
                                    </td>
                                    <td>
                                        @Html.Hidden("InstituteId" + academicInfoRow.Id, academicInfoRow.Institute != null ? academicInfoRow.Institute.Id.ToString(CultureInfo.CurrentCulture) : ""
                                            , new { @class = "teamMemberAcademicInfoInstituteHiddenId" })
                                        @Html.TextBox("Institute[]", academicInfoRow.Institute != null ? academicInfoRow.Institute.Name.ToString(CultureInfo.CurrentCulture) : ""
                                            , new { @class = "form-control teamMemberAcademicInfoInstitute", @palceholder = "Institute" })
                                    </td>
                                    <td>
                                        @{
                                            const int type = (int)HrAcademicResultType.Grade;
                                            if (academicInfoRow.ResultType == type)
                                            {
                                                @Html.DropDownList("Result[]", new SelectList(resultList, "Id", "Name", (int)HrAcademicResult.Grade), "Result", htmlAttributes: new { @class = "form-control teamMemberAcademicInfoResult", @placeholder = "Exam Status" })
                                                <div class="input-group gradeDiv">
                                                    @Html.TextBox("Grade[]", academicInfoRow.Grade, new { @class = "form-control gpaORcgpa", @palceholder = "GPA/CGPA", @style = "max-width:70px !important" })
                                                    <span class="input-group-btn">
                                                        @Html.DropDownList("GradeScale[]", new SelectList(gradeScaleList, "Id", "Name", academicInfoRow.GradeScale > 0 ? ((HrGradeScale)academicInfoRow.GradeScale).GetDescription() : "")
                                                            , new { @class = "form-control btn gradeOutOf", @style = "min-width:75px !important" })
                                                    </span>
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.DropDownList("Result[]", new SelectList(resultList, "Id", "Name", academicInfoRow.Result > 0 ? academicInfoRow.Result : 0)
                                                    , "Result", htmlAttributes: new { @class = "form-control teamMemberAcademicInfoResult", @placeholder = "Exam Status" })
                                                <div class="input-group gradeDiv" style="display: none">
                                                    @Html.TextBox("Grade[]", academicInfoRow.Grade, new { @class = "form-control gpaORcgpa", @palceholder = "GPA/CGPA", @style = "max-width:70px !important" })
                                                    <span class="input-group-btn">
                                                        @Html.DropDownList("GradeScale[]", new SelectList(gradeScaleList, "Id", "Name", academicInfoRow.GradeScale > 0 ? academicInfoRow.GradeScale : 0), null
                                                            , new { @class = "form-control btn gradeOutOf", @style = "min-width:75px !important" })
                                                    </span>
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.TextBox("PassingYear[]", academicInfoRow.Year > 0 ? academicInfoRow.Year : 1971, new { @class = "form-control teamMemberAcademicInfoPassingYear", @palceholder = "Passing Year" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("ExamStatus[]", new SelectList(examStatusList, "Id", "Name", academicInfoRow.Status > 0 ? academicInfoRow.Status : 0)
                                            , "Status", htmlAttributes: new { @class = "form-control teamMemberAcademicInfoExamStatus", @placeholder = "Exam Status" })
                                    </td>
                                    <td style="max-width: 50px;">
                                        <input id="AcademicCertificateImageFile_@academicInfoRow.Id" name="AcademicCertificateImageFile_@academicInfoRow.Id"
                                               style="display: none" class="academicCertificateFile" type="file" />
                                        <div class="btn-group">
                                            <button id="CertificateUpButton_@academicInfoRow.Id" name="CertificateUpButton_@academicInfoRow.Id" class="btn btn-default academicCertificateUploadIcon"> <span class="glyphicon glyphicon-open"></span></button>
                                            <button id="CertificateViewButton_@academicInfoRow.Id" name="CertificateViewButton_@academicInfoRow.Id" class="btn btn-default certificateViewIcon"> <span class="glyphicon glyphicon-certificate"></span></button>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning removeAcademicButton" name="append">-</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="AcademicInfo parent">
                                @Html.Hidden("Id[]", 0, new { @class = "form-control teamMemberAcademicInfoId" })
                                <td>
                                    @Html.DropDownList("ExamName[]", new SelectList(examLabels, "Id", "Name"), "Level", new { @class = "form-control teamMemberAcademicInfoExamName" })
                                </td>
                                <td>
                                    @Html.TextBox("DegreeTitle[]", "", new { @class = "form-control teamMemberAcademicInfoDegreeTitle", @placeholder = "Degree Title" })
                                </td>
                                <td>
                                    @Html.DropDownList("BoardName[]", new SelectList(boardList, "Id", "Name"), "Board", new { @class = "form-control teamMemberAcademicInfoBoardName" })
                                </td>
                                <td>
                                    @Html.TextBox("MajorOrGroup[]", "", new { @class = "form-control teamMemberAcademicInfoMajorGroup", @palceholder = "Major or Group" })
                                </td>
                                <td>
                                    @Html.Hidden("InstituteId[]", null, new { @class = "teamMemberAcademicInfoInstituteHiddenId" })
                                    @Html.TextBox("Institute[]", "", new { @class = "form-control teamMemberAcademicInfoInstitute", @palceholder = "Institute" })
                                </td>
                                <td>
                                    @Html.DropDownList("Result[]", new SelectList(resultList, "Id", "Name"), "Result", htmlAttributes: new { @class = "form-control teamMemberAcademicInfoResult", @placeholder = "Exam Status" })
                                    <div class="input-group gradeDiv" style="display: none">
                                        @Html.TextBox("Grade[]", "", new { @class = "form-control gpaORcgpa", @palceholder = "GPA/CGPA", @style = "max-width: 70px !important" })
                                        <span class="input-group-btn">
                                            @Html.DropDownList("GradeScale[]", new SelectList(gradeScaleList, "Id", "Name"), null, new { @class = "form-control btn gradeOutOf", @style = "min-width:75px !important" })
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    @Html.TextBox("PassingYear[]", "", new { @class = "form-control teamMemberAcademicInfoPassingYear", @palceholder = "Passing Year" })
                                </td>
                                <td>
                                    @Html.DropDownList("ExamStatus[]", new SelectList(examStatusList, "Id", "Name"), "Status", htmlAttributes: new { @class = "form-control teamMemberAcademicInfoExamStatus", @placeholder = "Exam Status" })
                                </td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-warning removeAcademicButton" name="append">-</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="button" value="Save Academic Information" name="AcademicInformation" class="btn btn-primary" id="AcademicInformation" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">Academic Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <span>
                    Academic Information Form is Invalid!<br/>
                    Maybe missing some required information.
                </span>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $(document).on("click", ".academicCertificateUploadIcon", function (event) {
            var tr = $(this).closest(".AcademicInfo");
            var imageInputCtrl = tr.find(".academicCertificateFile");
            imageInputCtrl.trigger('click');
        });
    });
    $(document).ready(function () {
        $(document).on('change', '.academicCertificateFile', function () {
            console.log("certificate upload icon click");
            var tr = $(this).closest(".AcademicInfo");
            var idCtrl = tr.find(".teamMemberAcademicInfoId");
            var memberPin = $("#memberPin").val();
            var imageFileCtrl = tr.find(".academicCertificateFile");
            var file = document.getElementById(imageFileCtrl.attr('id')).files[0];
            console.log(idCtrl.val());
            console.log(memberPin);
            console.log(imageFileCtrl.attr('id'));
            console.log(file);

            if (file != "") {
                var formData = new FormData();
                formData.append("file", file);
                formData.append("academicInfoId", idCtrl.val());
                formData.append("memberPin", memberPin);
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/TeamMemberCertificateImageUpdate",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "success",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");

                    },
                    error: function () {
                        $.unblockUI();
                        console.log("Failed -----");

                    }
                });
            }
        });

        //View Certificate Image
        $(document).on("click", ".certificateViewIcon", function (event) {
            var tr = $(this).closest(".AcademicInfo");
            var idCtrl = tr.find(".teamMemberAcademicInfoId");
            var memberPin = $("#memberPin").val();
            window.location.href = "/Hr/TeamMember/TeamMemberCertificateImageView?memberPin=" + memberPin + "&academicInfoId=" + idCtrl.val();
        });

        $('.gpaORcgpa').on('input', function () {
            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
        });
        $('.teamMemberAcademicInfoPassingYear').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
        });

        $(document).on("change", ".teamMemberAcademicInfoResult", function (event) {
            var resultCt = $(this);
            var $parent = resultCt.parent();
            var element = $parent.find(".gradeDiv");
            if (resultCt.val() == 4) {
                element.show();
            } else {
                element.hide();
            }
        });

        $('.teamMemberAcademicInfoInstitute').each(function () {
            var $this = $(this);
            $this.typeahead({
                source: function (query, process) {
                    var data = { query: query }
                    var url = '@Url.Action("GetInstituteByNameLike", "TeamMember")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        cache: false,
                        async: true,
                        data: data,

                        success: function (result) {
                            //   $.unblockUI();
                            if (result.IsSuccess) {
                                process(result.returnList);
                            }
                        },
                        complete: function () {
                            //    $.unblockUI();
                        },
                        error: function (result) {
                            //    $.unblockUI();
                        }
                    });
                },
                updater: function (item) {
                    $this.parent().find(".teamMemberAcademicInfoInstituteHiddenId").val(item.Value);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetInstituteByNameLike", "TeamMember")',
                        cache: false,
                        async: true,
                        data: { query: item.Value },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                console.log("HELLO");
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                    return item.Text;
                },
                matcher: function (item) {
                    if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                    return false;
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.Text.replace(regex, "<strong>$1</strong>");
                },
                onselect: function (obj) {
                    alert('Selected ' + obj);
                }
            });
        });
        $(document).on("click", "#addAcademicInfoRowButton", function (event) {
            $.ajax({
                url: "/Hr/TeamMember/AddRowAcademicInformation",
                type: "GET",
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (data1) {
                    if (("#noAcademicRecord").length > 0) {
                        $("#noAcademicRecord").remove();
                    }

                    if ($('#AcademicInfoList tr').length > 0) {
                        $('#AcademicInfoList tr:last').after(data1);
                    } else {
                        $('#AcademicInfoList').append(data1);
                    }

                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data1) {
                    $.fn.customMessage({
                        displayMessage: ajaxError,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });

        });
        $(document).on("click", ".removeAcademicButton", function (event) {
            var tr = $(this).closest(".AcademicInfo");
            var id = tr.find(".teamMemberAcademicInfoId");
            if (id.val() > 0) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/DeleteAcademicInfo",
                    cache: false,
                    async: true,
                    data: { id: id.val() },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        tr.remove();
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            } else {
                tr.remove();
            }

            var rowCount = $('#AcademicInfoList tr').length;
            if (rowCount == 0) {
                $('#AcademicInfoList').append('<tr id="noAcademicRecord"> <td colspan="10">No academic information found!</td></tr>');
            }
        });

        $("#AcademicInformation").click(function () {
            var validForm = true;
            var academicInfoArray = [];
            $("#AcademicInfoList tr").each(function () {
                var instituteId = $(this).find(".teamMemberAcademicInfoInstituteHiddenId").val();

                if (instituteId == "") {
                    alert("Institute Not Found.");
                    var instituteCt = $(this).find(".teamMemberAcademicInfoInstitute");
                    instituteCt.addClass("highlight");
                    validForm = false;
                } else {
                    instituteId = parseInt(instituteId);
                }
                var examCt = $(this).find(".teamMemberAcademicInfoExamName");
                var degreeTitleCt = $(this).find(".teamMemberAcademicInfoDegreeTitle");
                var boardCt = $(this).find(".teamMemberAcademicInfoBoardName");
                var majorOrGroupCt = $(this).find(".teamMemberAcademicInfoMajorGroup");
                var resultCt = $(this).find(".teamMemberAcademicInfoResult");
                var passingYearCt = $(this).find(".teamMemberAcademicInfoPassingYear");
                var examStatusCt = $(this).find(".teamMemberAcademicInfoExamStatus");

                var id = $(this).find(".teamMemberAcademicInfoId");

                if (examCt.val() != "" && boardCt.val() != ""
                    && degreeTitleCt.val() != "" && resultCt.val() != "" && instituteId > 0) {
                    var gradePoint = 0;
                    var scale = 0;
                    if (resultCt.val() == 4) {
                        var parent = resultCt.parent();
                        var gpaCtrl = parent.find(".gpaORcgpa");
                        var gradeScaleCtrl = parent.find(".gradeOutOf");
                        if (gpaCtrl.val() == "" || gradeScaleCtrl.val() == "") {
                            gpaCtrl.addClass("highlight");
                            gradeScaleCtrl.addClass("highlight");
                            return;
                        } else {
                            gpaCtrl.removeClass("highlight");
                            gradeScaleCtrl.removeClass("highlight");
                            gradePoint = gpaCtrl.val();
                            scale = gradeScaleCtrl.val();
                        }
                    }

                    examCt.removeClass("highlight");
                    degreeTitleCt.removeClass("highlight");
                    majorOrGroupCt.removeClass("highlight");
                    boardCt.removeClass("highlight");
                    examStatusCt.removeClass("highlight");

                    var academicInfo = {};
                    academicInfo["ExamName"] = examCt.val();
                    academicInfo["DegreeTitle"] = degreeTitleCt.val();
                    academicInfo["Board"] = boardCt.val();
                    academicInfo["MajorOrGroup"] = majorOrGroupCt.val();
                    academicInfo["Institute"] = instituteId;
                    academicInfo["Result"] = resultCt.val();
                    academicInfo["ExamStatus"] = examStatusCt.val();
                    academicInfo["ResultType"] = resultCt.val();
                    academicInfo["PassingYear"] = passingYearCt.val();
                    academicInfo["Grade"] = gradePoint;
                    academicInfo["GradeScale"] = scale;
                    academicInfo["Id"] = id.val();

                    academicInfoArray.push(academicInfo);

                } else {
                    validForm = false;
                    if (examCt.val() == "")
                        examCt.addClass("highlight");
                    else {
                        examCt.removeClass("highlight");
                    }
                    if (degreeTitleCt.val() == "")
                        degreeTitleCt.addClass("highlight");
                    else {
                        degreeTitleCt.removeClass("highlight");
                    }
                    if (resultCt.val() == "")
                        resultCt.addClass("highlight");
                    else {
                        resultCt.removeClass("highlight");
                    }
                    if (boardCt.val() == "")
                        boardCt.addClass("highlight");
                    else {
                        boardCt.removeClass("highlight");
                    }
                }
            });
            if (validForm) {
                if (academicInfoArray.length > 0) {
                    var memberPin = $("#memberPin").val();
                    var data = JSON.stringify({ "academicInfoArray": academicInfoArray, memberPin: memberPin });
                    console.log(data);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/UpdateAcademicInfo",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                var url = '@Url.Action("EditMemberInfomation", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            }


                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            }
        });
    });
</script>
