﻿<span>Show Training Information @Html.CheckBox("HasTrainingInfo")</span>
<br />
@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@using UdvashERP.BusinessRules
@{
    TeamMember member = ViewBag.TeamMember;
    IList<TrainingInfo> dataList = ViewBag.TrainingInfo;
}
<div class="panel panel-primary" id="TrainingInformationPanel" style="display: none">
    <div class="panel-heading">Training Information</div>
    <div class="panel-body">

        <table class="table table-responsive table-striped table-hover table-bordered">
            <tr>
                <th>Training Title</th>
                <th>Topic Cover</th>
                <th>Institute Name</th>
                <th>Location</th>
                <th>Training Duration</th>
                <th>Passing Year</th>
                <th>Certificates</th>
                <th><button type="button" class="btn btn-primary trainingInfoAddButton" name="append" id="addTrainingInfoRowButton">+</button></th>
            </tr>
            <tbody id="TrainingInfoList">
                @{
                    if (dataList != null && dataList.Count > 0)
                    {
                        foreach (var row in dataList)
                        {
                            <tr class="TrainingInfo parent">
                                @Html.Hidden("Id_" + row.Id, row.Id, new { @class = "form-control teamMemberTrainingInfoId" })
                                <td>
                                    @Html.TextBox("TrainingTitle[]", !string.IsNullOrEmpty(row.TrainingTitle) ? row.TrainingTitle : "", new { @class = "form-control teamMemberTrainingInfoTrainingTitle", @placeholder = "Training Title" })
                                </td>
                                <td>
                                    @Html.TextBox("TopicCover[]", !string.IsNullOrEmpty(row.TopicCovere) ? row.TopicCovere : "", new { @class = "form-control teamMemberTrainingInfoTopicCover", @placeholder = "Topic Cover" })
                                </td>
                                <td>
                                    @Html.Hidden("InstituteId" + row.Id, row.Institute != null ? row.Institute.Id.ToString(CultureInfo.CurrentCulture) : ""
                                        , new { @class = "teamMemberTrainingInfoInstituteId" })
                                    @Html.TextBox("Institute[]", row.Institute != null ? row.Institute.Name : "", new { @class = "form-control teamMemberTrainingInfoInstitute", @placeholder = "Institute" })
                                </td>
                                <td>
                                    @Html.TextBox("Location[]", !string.IsNullOrEmpty(row.Location) ? row.Location : "", new { @class = "form-control teamMemberTrainingInfoLocation", @placeholder = "Location" })
                                </td>
                                <td>
                                    @Html.TextBox("Duration[]", !string.IsNullOrEmpty(row.Duration) ? row.Duration : "", new { @class = "form-control teamMemberTrainingInfoDuration", @placeholder = "Duration" })
                                </td>
                                <td>
                                    @Html.TextBox("PassingYear[]", row.Year > 0 ? row.Year.ToString() : "", new { @class = "form-control teamMemberTrainingInfoPassingYear", @placeholder = "Passing Year" })
                                </td>
                                <td>
                                    <input id="TrainingCertificateImageFile_@row.Id" name="TrainingCertificateImageFile_@row.Id"
                                           style="display: none" class="trainingCertificateFile" type="file" />
                                    <div class="btn-group" role="group">
                                        <button type="button" id="trainingCertificateUpButton_@row.Id" name="trainingCertificateUpButton_@row.Id" class="btn btn-default trainingCertificateUploadIcon"> <span class="glyphicon glyphicon-open"></span></button>
                                        <button type="button" id="trainingCertificateViewButton_@row.Id" name="trainingCertificateViewButton_@row.Id" class="btn btn-default trainingCertificateViewIcon"> <span class="glyphicon glyphicon-certificate"></span> </button>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning removeTrainingInfoRowButton" name="append">-</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="TrainingInfo parent">
                            @Html.Hidden("Id[]", 0, new { @class = "form-control teamMemberTrainingInfoId" })
                            <td>
                                @Html.TextBox("TrainingTitle[]", "", new { @class = "form-control teamMemberTrainingInfoTrainingTitle", @placeholder = "Training Title" })
                            </td>
                            <td>
                                @Html.TextBox("TopicCover[]", "", new { @class = "form-control teamMemberTrainingInfoTopicCover", @placeholder = "Topic Cover" })
                            </td>
                            <td>
                                @Html.Hidden("InstituteId[]", null, new { @class = "teamMemberTrainingInfoInstituteId" })
                                @Html.TextBox("Institute[]", "", new { @class = "form-control teamMemberTrainingInfoInstitute", @placeholder = "Institute" })
                            </td>
                            <td>
                                @Html.TextBox("Location[]", "", new { @class = "form-control teamMemberTrainingInfoLocation", @placeholder = "Location" })
                            </td>
                            <td>
                                @Html.TextBox("Duration[]", "", new { @class = "form-control teamMemberTrainingInfoDuration", @placeholder = "Duration" })
                            </td>
                            <td>
                                @Html.TextBox("PassingYear[]", "", new { @class = "form-control teamMemberTrainingInfoPassingYear", @placeholder = "Passing Year" })
                            </td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-warning removeTrainingInfoRowButton" name="append">-</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="button" value="Save Training Information" name="TrainingInformation" class="btn btn-primary" id="TrainingInformation" />
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        $(document).on("click", ".trainingCertificateUploadIcon", function (event) {
            var tr = $(this).closest(".TrainingInfo");
            var imageInputCtrl = tr.find(".trainingCertificateFile");
            imageInputCtrl.trigger('click');
        });
    });


    $(document).ready(function () {

        $('.teamMemberTrainingInfoPassingYear').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
        });
        $("input[name='HasTrainingInfo']").on("change", function () {
            var chb = $("#HasTrainingInfo").is(':checked') ? 1 : 0;
            console.log(chb);
            if (chb == 1) {
                $("#TrainingInformationPanel").css("display", "");
            } else {
                $("#TrainingInformationPanel").css("display", "none");
            }
        });
        $(document).on("click", "#addTrainingInfoRowButton", function (event) {
            $.ajax({
                url: "/Hr/TeamMember/AddRowTrainingInformation",
                type: "GET",
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (data1) {
                    if (("#noTrainingRecord").length > 0) {
                        $("#noTrainingRecord").remove();
                    }

                    if ($('#TrainingInfoList tr').length > 0) {
                        $('#TrainingInfoList tr:last').after(data1);
                    } else {
                        $('#TrainingInfoList').append(data1);
                    }

                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data1) {
                    $.fn.customMessage({
                        displayMessage: ajaxError,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });

        });
        $(document).on("click", ".removeTrainingInfoRowButton", function (event) {
            var tr = $(this).closest(".TrainingInfo");
            var id = tr.find(".teamMemberTrainingInfoId");
            if (id.val() > 0) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/DeleteTrainingInfo",
                    cache: false,
                    async: true,
                    data: { id: id.val() },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        tr.remove();
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            } else {
                tr.remove();
            }

            var rowCount = $('#TrainingInfoList tr').length;
            if (rowCount == 0) {
                $('#TrainingInfoList').append('<tr id="noTrainingRecord"> <td colspan="9">No Training information found!</td></tr>');
            }
        });
        //View Certificate Image
        $(document).on("click", ".trainingCertificateViewIcon", function (event) {
            var tr = $(this).closest(".TrainingInfo");
            var idCtrl = tr.find(".teamMemberTrainingInfoId");
            var memberPin = $("#memberPin").val();
            window.location.href = "/Hr/TeamMember/TeamMemberTrainingCertificate?memberPin=" + memberPin + "&trainingInfoId=" + idCtrl.val();
        });

        $(document).on('change', '.trainingCertificateFile', function () {
            var tr = $(this).closest(".TrainingInfo");
            var idCtrl = tr.find(".teamMemberTrainingInfoId");
            var memberPin = $("#memberPin").val();
            var imageFileCtrl = tr.find(".trainingCertificateFile");
            var file = document.getElementById(imageFileCtrl.attr('id')).files[0];
            console.log(file);
            if (file != "") {
                console.log("training certificate saving.....");
                var formData = new FormData();
                formData.append("file", file);
                formData.append("trainingInfoId", idCtrl.val());
                formData.append("memberPin", memberPin);
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/TeamMemberTrainingCertificateUpdate",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "success",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");

                    },
                    error: function () {
                        $.unblockUI();
                        console.log("Failed -----");

                    }
                });
            }
        });
        $('.teamMemberTrainingInfoInstitute').each(function () {
            var $this = $(this);
            $this.typeahead({
                source: function (query, process) {
                    var data = { query: query }
                    var url = '@Url.Action("GetInstituteByNameLike", "TeamMember")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        cache: false,
                        async: true,
                        data: data,

                        success: function (result) {
                            //   $.unblockUI();
                            if (result.IsSuccess) {
                                process(result.returnList);
                            }
                        },
                        complete: function () {
                            //    $.unblockUI();
                        },
                        error: function (result) {
                            //    $.unblockUI();
                        }
                    });
                },
                updater: function (item) {
                    $this.parent().find(".teamMemberTrainingInfoInstituteId").val(item.Value);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetInstituteByNameLike", "TeamMember")',
                        cache: false,
                        async: true,
                        data: { query: item.Value },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                console.log("HELLO");
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                    return item.Text;
                },
                matcher: function (item) {
                    if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                    return false;
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.Text.replace(regex, "<strong>$1</strong>");
                },
                onselect: function (obj) {
                    alert('Selected ' + obj);
                }
            });
        });
        $("#TrainingInformation").click(function () {
            var validForm = true;
            var trainingInfoArray = [];
            $("#TrainingInfoList tr").each(function () {
                var trainingTitleCt = $(this).find(".teamMemberTrainingInfoTrainingTitle");
                var trainingTopicCoverCt = $(this).find(".teamMemberTrainingInfoTopicCover");
                var trainingInstituteCt = $(this).find(".teamMemberTrainingInfoInstitute");
                var trainingLocationCt = $(this).find(".teamMemberTrainingInfoLocation");
                var trainingDurationCt = $(this).find(".teamMemberTrainingInfoDuration");
                var trainingPassingYearCt = $(this).find(".teamMemberTrainingInfoPassingYear");

                var id = $(this).find(".teamMemberTrainingInfoId");

                var instituteId = parseInt($(this).find(".teamMemberTrainingInfoInstituteId").val());
                if (instituteId <= 0) {
                    validForm = false;
                    return;
                }

                if (trainingTitleCt.val() != "" && trainingTopicCoverCt.val() != ""
                    && trainingLocationCt.val() != "" && trainingDurationCt.val() != "") {

                    trainingTitleCt.removeClass("highlight");
                    trainingTopicCoverCt.removeClass("highlight");
                    trainingLocationCt.removeClass("highlight");
                    trainingDurationCt.removeClass("highlight");
                    trainingPassingYearCt.removeClass("highlight");

                    var trainingInfo = {};
                    trainingInfo["TrainingTitle"] = trainingTitleCt.val();
                    trainingInfo["TrainingTopic"] = trainingTopicCoverCt.val();
                    trainingInfo["TrainingInstitute"] = instituteId;
                    trainingInfo["TrainingLocation"] = trainingLocationCt.val();
                    trainingInfo["TrainingDuration"] = trainingDurationCt.val();
                    trainingInfo["PassingYear"] = trainingPassingYearCt.val();
                    trainingInfo["Id"] = id.val();

                    trainingInfoArray.push(trainingInfo);

                } else {
                    validForm = false;
                    if (trainingTitleCt.val() == "")
                        trainingTitleCt.addClass("highlight");
                    else {
                        trainingTitleCt.removeClass("highlight");
                    }
                    if (trainingTopicCoverCt.val() == "")
                        trainingTopicCoverCt.addClass("highlight");
                    else {
                        trainingTopicCoverCt.removeClass("highlight");
                    }
                    if (trainingInstituteCt.val() == "")
                        trainingInstituteCt.addClass("highlight");
                    else {
                        trainingInstituteCt.removeClass("highlight");
                    }
                    if (trainingLocationCt.val() == "")
                        trainingLocationCt.addClass("highlight");
                    else {
                        trainingLocationCt.removeClass("highlight");
                    }
                    if (trainingDurationCt.val() == "")
                        trainingDurationCt.addClass("highlight");
                    else {
                        trainingDurationCt.removeClass("highlight");
                    }
                    if (trainingPassingYearCt.val() == "")
                        trainingPassingYearCt.addClass("highlight");
                    else {
                        trainingPassingYearCt.removeClass("highlight");
                    }
                }
            });
            if (validForm) {
                if (trainingInfoArray.length > 0) {
                    var memberPin = $("#memberPin").val();
                    var data = JSON.stringify({ "trainingInfoArray": trainingInfoArray, memberPin: memberPin });
                    console.log(data);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/UpdateTrainingInfo",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                var url = '@Url.Action("EditMemberInfomation", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            }
        });
    });
</script>
