﻿@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.Entity.MediaDb
@{
    TeamMember member = ViewBag.TeamMember;
    TeamMemberNomineeMediaImage teamMemberNomineeMediaImage = ViewBag.TeamMemberNomineeImage;
    NomineeInfo nomineeInfo = ViewBag.NomineeInfo;
}
<style>
    input, select, textarea {
        max-width: 100% !important;
    }

        input[type="file"] {
            display: block;
        }

    .glyphicon-open {
        color: #48C157;
    }

    .glyphicon-trash {
        color: red;
    }

    .red {
        color: red;
        font-weight: bolder;
    }

    #NomineeName_err_div {
        margin-left: 20px;
    }

    #NomineeContactNumber_err_div {
        margin-left: 20px;
    }
    .imageSizeLimit {
        margin-top: 35px;
        width: 100%;
    }
</style>
@if (ViewBag.MemberHasInfo == true)
{
    @Html.Hidden("MemberPin", (string)ViewBag.MemberPin)
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Nominee Information</div>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
                <div class="form-group">
                    @Html.Label("Name", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("NomineeName", (nomineeInfo != null && nomineeInfo.Name != null) ? nomineeInfo.Name : null, new {  @class = "form-control",@required_name = "NomineeName", @Placeholder = "Nominee Name" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top: 10px;">
                    @Html.Label("Contact Number", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("NomineeContactNumber", (nomineeInfo != null && nomineeInfo.MobileNo != null) ? nomineeInfo.MobileNo : null, new { @class = "form-control", @required_name = "NomineeContactNumber", @Placeholder = "Mobile Number" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top: 10px;">
                    @Html.Label("Relation", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("RelationWithNominee", (nomineeInfo != null && nomineeInfo.Relation != null) ? nomineeInfo.Relation : null, new { @class = "form-control", @required_name = "RelationWithNominee ", @Placeholder = "Relation" })
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="NomineeImageDivCol">
                <div id="NomineeImageUploadDiv" style="margin: 0px; width: 100px; height: 100px; border: 1px solid whitesmoke;">
                    @{
                        if (teamMemberNomineeMediaImage != null)
                        {
                            string imageBase64 = Convert.ToBase64String(teamMemberNomineeMediaImage.Images);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" id="NomineeImageBase" class="nImage" style="padding: 2px; padding-left: 2px; padding-right: 2px; border-color: dodgerblue" width="100" height="100" alt="Image Upload" />
                        }
                        else
                        {
                            <img src="" id="NomineeImageBase" class="nImage" style="padding: 2px; padding-left: 2px; padding-right: 2px; border-color: dodgerblue" width="100" height="100" alt="Image Upload" />
                        }
                    }
                </div>
                <div class="input-group-btn" style="padding-top: 4px; padding-left: 2px">
                    <button id="NomineeImageUpButton" name="NomineeImageUpButton"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-open"></span>
                    </button> &nbsp;&nbsp;
                    @{
                        if (teamMemberNomineeMediaImage != null)
                        {
                            <button id="NomineeImageDelButton" name="NomineeImageDelButton" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        }
                        else
                        {
                            <button id="NomineeImageDelButton" name="NomineeImageDelButton" style="display: none" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        }
                    }
                    <input id="NomineeImageFile" name="NomineeImageFile" style="width: 0px; margin-top: -70px; -ms-opacity: 10; opacity: 10" type="file" />
                    <input type="submit" hidden="" id="NomineeImageSubmitButton" value="Upload" />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top: 10px;">
                <div class="col-md-12 text-center">
                    <input type="button" value="Save Nominee Information" name="NomineeInformation" class="btn btn-primary" id="NomineeInformation" />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function() {
        window.validateTextField("NomineeName", "Nominee Name is Required.");
        window.validateTextField("NomineeContactNumber", "Nominee Contact Number is Required.");
        window.validateTextField("RelationWithNominee", "Relation with Nominee is Required.");


        $(document).ready(function () {
            $('#NomineeImageUpButton,#NomineeImageUploadDiv').click(function (e) {
                $('#NomineeImageFile').trigger('click');
            });
        });
        $(document).on('change', '#NomineeImageFile', function () {
            console.log("Nominee Saving operation start");
            var memberPin = $("#MemberPin").val();
            var formData = new FormData();
            var file = document.getElementById("NomineeImageFile").files[0];
            console.log(file);
            /*if (file.size > 102429) {
                $("#NomineeImageDivCol").append('<span id="NomineeImageSizeError" class="imageSizeLimit text-center btn btn-danger">Size Exceed (100KB Max)</span>');
                console.log("HELLO");
                return;
            } else {
                $("#NomineeImageSizeError").remove();
            }*/
            formData.append("file", file);
            formData.append("memberPin", memberPin);

            if (file != "") {
                console.log("File Uploading Start!");
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/TeamMemberNomineeImageUpdate",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $('#NomineeImageBase').attr('src', response.image);
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "success",
                            });
                            $("#NomineeImageDelButton").show();
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");

                    },
                    error: function () {
                        $.unblockUI();
                        console.log("Failed -----");

                    }
                });
            }
        });
        $(document).on('click', '#NomineeImageDelButton', function () {
            var memberPin = $("#MemberPin").val();
            if (memberPin != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "HR/TeamMember/TeamMemberNomineeImageDelete",
                    cache: false,
                    async: true,
                    data: { memberPin: memberPin },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $('#NomineeImageBase').attr('src', response.image);
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "success",
                            });
                            $("#NomineeImageDelButton").hide();
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");

                    },
                    error: function () {
                        $.unblockUI();
                        console.log("Failed -----");

                    }
                });
            }
        });
        $(document).on("click", "#NomineeInformation", function(event) {
            var canSavePersonalInformation = true;
            var memberPin = $("#MemberPin").val();
            var nomineeName = $("#NomineeName").val();
            var nomineeContactNumber = $("#NomineeContactNumber").val();
            var relationWithNominee = $("#RelationWithNominee").val();

            if (nomineeName == '' || nomineeName.length <= 0) {
                window.showErrorMessageBelowCtrl("NomineeName", "", false);
                window.showErrorMessageBelowCtrl("NomineeName", "Please enter Nominee's Name.", true);
                canSavePersonalInformation = false;
            }
            if (relationWithNominee == '' || relationWithNominee.length <= 0) {
                window.showErrorMessageBelowCtrl("RelationWithNominee", "", false);
                window.showErrorMessageBelowCtrl("RelationWithNominee", "Please enter Relation with Nominee.", true);
                canSavePersonalInformation = false;
            }
            if (nomineeContactNumber != '' && nomineeContactNumber.length > 0) {
                mobile = mobileCheck(nomineeContactNumber);
                if (mobile == null) {
                    window.showErrorMessageBelowCtrl("NomineeContactNumber", "", false);
                    window.showErrorMessageBelowCtrl("NomineeContactNumber", "Please enter valid Cell No", true);
                    return false;
                }
            } else if (nomineeContactNumber != '' && nomineeContactNumber.length <= 0) {
                window.showErrorMessageBelowCtrl("NomineeContactNumber", "", false);
                window.showErrorMessageBelowCtrl("NomineeContactNumber", "Nominee Contact Number is Required.", true);
                canSavePersonalInformation = false;
            }
            if (canSavePersonalInformation) {
                $.ajax(
                {
                    type: "post",
                    url: $("body").attr("data-project-root") + "HR/TeamMember/EditNomineeInformation",
                    cache: false,
                    async: true,
                    data: { memberPin: memberPin, nomineeName: nomineeName, relation: relationWithNominee, contactNumber: nomineeContactNumber },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        console.log(result);
                        if (result.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "success",
                            });
                            $("html, body").animate({
                                scrollTop: 0
                            }, 600);
                            } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            } else {
                
            }
        });
    });
</script>