﻿<span>Show Professional Qualifications @Html.CheckBox("HasProfessionalQInfo")</span>
<br />
@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@using UdvashERP.BusinessRules
@{
    TeamMember member = ViewBag.TeamMember;
    var dataList = (IList<TrainingInfo>) ViewData["ProfessionalInformation"];
}
<div class="panel panel-primary" id="ProfessionalQPanel" style="display: none">
    <div class="panel-heading">Professional Qualifications</div>
    <div class="panel-body">

        <table class="table table-responsive table-striped table-hover table-bordered">
            <tr>
                <th>Certification</th>
                <th>Institute Name</th>
                <th>Location</th>
                <th>Duration</th>
                <th>Passing Year</th>
                <th><button type="button" class="btn btn-primary professionalQAddButton" name="append" id="addProfessionalQRowButton">+</button></th>
            </tr>
            <tbody id="ProfessionalQList">
                @{
                    if (dataList != null && dataList.Count > 0)
                    {
                        foreach (var row in dataList)
                        {
                            <tr class="ProfessionalQ parent">
                                @Html.Hidden("Id_" + row.Id, row.Id, new { @class = "teamMemberProfessionalQId" })
                                <td>
                                    @Html.TextBox("Certification[]", !string.IsNullOrEmpty(row.Certification) ? row.Certification.ToString(CultureInfo.CurrentCulture) : "", new { @class = "form-control teamMemberProfessionalQCertification", @placeholder = "Certification" })
                                </td>
                                <td>
                                    @Html.Hidden("InstituteId" + row.Id, row.Institute != null ? row.Institute.Id.ToString(CultureInfo.CurrentCulture) : ""
                                        , new { @class = "teamMemberProfessionalQInstituteId" })
                                    @Html.TextBox("Institute[]", row.Institute != null ? row.Institute.Name : "", new { @class = "form-control teamMemberProfessionalQInstitute", @placeholder = "Institute" })
                                </td>
                                <td>
                                    @Html.TextBox("Location[]", !string.IsNullOrEmpty(row.Location) ? row.Location : "", new { @class = "form-control teamMemberProfessionalQLocation", @placeholder = "Location" })
                                </td>
                                <td>
                                    @Html.TextBox("Duration[]", !string.IsNullOrEmpty(row.Duration) ? row.Duration : "", new { @class = "form-control teamMemberProfessionalQDuration", @placeholder = "Duration" })
                                </td>
                                <td>
                                    @Html.TextBox("PassingYear[]", row.Year > 0 ? row.Year.ToString() : "", new { @class = "form-control teamMemberProfessionalQPassingYear", @placeholder = "Passing Year" })
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning removeProfessionalQRowButton" name="append">-</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="ProfessionalQ parent">
                            @Html.Hidden("Id[]", 0, new { @class = "form-control teamMemberProfessionalQId" })
                            <td>
                                @Html.TextBox("Certification[]", "", new { @class = "form-control teamMemberProfessionalQCertification", @placeholder = "Certification" })
                            </td>
                            <td>
                                @Html.Hidden("InstituteId[]", null, new { @class = "teamMemberProfessionalQInstituteId" })
                                @Html.TextBox("Institute[]", "", new { @class = "form-control teamMemberProfessionalQInstitute", @placeholder = "Institute" })
                            </td>
                            <td>
                                @Html.TextBox("Location[]", "", new { @class = "form-control teamMemberProfessionalQLocation", @placeholder = "Location" })
                            </td>
                            <td>
                                @Html.TextBox("Duration[]", "", new { @class = "form-control teamMemberProfessionalQDuration", @placeholder = "Duration" })
                            </td>
                            <td>
                                @Html.TextBox("PassingYear[]", "", new { @class = "form-control teamMemberProfessionalQPassingYear", @placeholder = "Passing Year" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning removeProfessionalQRowButton" name="append">-</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="button" value="Save Professional Qualifications" name="ProfessionalQualifications" class="btn btn-primary" id="ProfessionalQualifications" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.teamMemberProfessionalQPassingYear').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
        });


        $("input[name='HasProfessionalQInfo']").on("change", function () {
            var chb = $("#HasProfessionalQInfo").is(':checked') ? 1 : 0;
            console.log(chb);
            if (chb == 1) {
                $("#ProfessionalQPanel").css("display", "");
            } else {
                $("#ProfessionalQPanel").css("display", "none");
            }
        });
        $('.teamMemberProfessionalQInstitute').each(function () {
            var $this = $(this);
            $this.typeahead({
                source: function (query, process) {
                    var data = { query: query }
                    var url = '@Url.Action("GetInstituteByNameLike", "TeamMember")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        cache: false,
                        async: true,
                        data: data,

                        success: function (result) {
                            //   $.unblockUI();
                            if (result.IsSuccess) {
                                process(result.returnList);
                            }
                        },
                        complete: function () {
                            //    $.unblockUI();
                        },
                        error: function (result) {
                            //    $.unblockUI();
                        }
                    });
                },
                updater: function (item) {
                    $this.parent().find(".teamMemberProfessionalQInstituteId").val(item.Value);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetInstituteByNameLike", "TeamMember")',
                        cache: false,
                        async: true,
                        data: { query: item.Value },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                console.log("HELLO");
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                    return item.Text;
                },
                matcher: function (item) {
                    if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                    return false;
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.Text.replace(regex, "<strong>$1</strong>");
                },
                onselect: function (obj) {
                    alert('Selected ' + obj);
                }
            });
        });
        $(document).on("click", "#addProfessionalQRowButton", function (event) {
            $.ajax({
                url: "/Hr/TeamMember/AddRowProfessionalQualifications",
                type: "GET",
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (data1) {
                    if (("#noProfessionalQRecord").length > 0) {
                        $("#noProfessionalQRecord").remove();
                    }

                    if ($('#ProfessionalQList tr').length > 0) {
                        $('#ProfessionalQList tr:last').after(data1);
                    } else {
                        $('#ProfessionalQList').append(data1);
                    }

                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data1) {
                    $.fn.customMessage({
                        displayMessage: ajaxError,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });
        });
        $(document).on("click", ".removeProfessionalQRowButton", function (event) {
            var tr = $(this).closest(".ProfessionalQ");
            var id = tr.find(".teamMemberProfessionalQId");
            if (id.val() > 0) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/DeleteTrainingInfo",
                    cache: false,
                    async: true,
                    data: { id: id.val() },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        tr.remove();
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            } else {
                tr.remove();
            }

            var rowCount = $('#ProfessionalQList tr').length;
            if (rowCount == 0) {
                $('#ProfessionalQList').append('<tr id="noProfessionalQRecord"> <td colspan="8">No Professional Qualifications information found!</td></tr>');
            }
        });

        $("#ProfessionalQualifications").click(function () {
            var validForm = true;
            var pQInfoArray = [];
            $("#ProfessionalQList tr").each(function () {
                var pQCertificationCt = $(this).find(".teamMemberProfessionalQCertification");
                var pQLocationCt = $(this).find(".teamMemberProfessionalQLocation");
                var pQDurationCt = $(this).find(".teamMemberProfessionalQDuration");
                var pQPassingYearCt = $(this).find(".teamMemberProfessionalQPassingYear");

                var id = $(this).find(".teamMemberProfessionalQId");

                var pQInstituteId = parseInt($(this).find(".teamMemberProfessionalQInstituteId").val());
                //alert(pQInstituteId);
                var pQInstituteCt = $(this).find(".teamMemberProfessionalQInstitute");
                if (pQInstituteId <= 0) {
                    validForm = false;
                    pQCertificationCt.addClass("highlight");
                } else {
                    validForm = true;
                    pQCertificationCt.removeClass("highlight");
                }


                if (pQCertificationCt.val() != ""
                    && pQInstituteCt.val() != ""
                    && pQLocationCt.val() != ""
                    && pQDurationCt.val() != ""
                    && pQPassingYearCt.val() != "") {

                    pQCertificationCt.removeClass("highlight");
                    pQInstituteCt.removeClass("highlight");
                    pQLocationCt.removeClass("highlight");
                    pQPassingYearCt.removeClass("highlight");
                    pQPassingYearCt.removeClass("highlight");

                    var pQInfo = {};
                    pQInfo["Certification"] = pQCertificationCt.val();
                    pQInfo["Institute"] = pQInstituteId;
                    pQInfo["Location"] = pQLocationCt.val();
                    pQInfo["Duration"] = pQDurationCt.val();
                    pQInfo["Year"] = pQPassingYearCt.val();
                    pQInfo["Id"] = id.val();

                    pQInfoArray.push(pQInfo);

                } else {
                    validForm = false;
                    if (pQCertificationCt.val() == "")
                        pQCertificationCt.addClass("highlight");
                    else {
                        pQCertificationCt.removeClass("highlight");
                    }
                    if (pQInstituteCt.val() == "")
                        pQInstituteCt.addClass("highlight");
                    else {
                        pQInstituteCt.removeClass("highlight");
                    }
                    if (pQLocationCt.val() == "")
                        pQLocationCt.addClass("highlight");
                    else {
                        pQLocationCt.removeClass("highlight");
                    }
                    if (pQDurationCt.val() == "")
                        pQDurationCt.addClass("highlight");
                    else {
                        pQDurationCt.removeClass("highlight");
                    }
                    if (pQPassingYearCt.val() == "")
                        pQPassingYearCt.addClass("highlight");
                    else {
                        pQPassingYearCt.removeClass("highlight");
                    }
                }
            });
            if (validForm) {
                if (pQInfoArray.length > 0) {
                    console.log(pQInfoArray);
                    var memberPin = $("#memberPin").val();
                    var data = JSON.stringify({ "pQInfoArray": pQInfoArray, memberPin: memberPin });
                    console.log(data);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/TeamMember/UpdateProfessionalQualificationInfo",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                var url = '@Url.Action("EditMemberInfomation", "TeamMember", new { memberPin = "__Pin__" })';
                                window.location.href = url.replace('__Pin__', memberPin);
                            } else {
                                {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            }
        });
    });
</script>
