﻿<span>Show Job Experience @Html.CheckBox("HasJobExp")</span>
<br/>
@using System.Globalization
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@using UdvashERP.BusinessRules
@{
    TeamMember member = ViewBag.TeamMember;
    IList<JobExperience> dataList = ViewBag.JobExpInfo;
}

<div class="panel panel-primary" id="TeamMemberJobExp" style="display: none">
    <div class="panel-heading">Job Experience</div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.Hidden("MemberPin", (string)ViewBag.MemberPin)
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Company</th>
                    <th>Com.Type</th>
                    <th>Address</th>
                    <th>Department</th>
                    <th>Position Held</th>
                    <th>Exp.Area</th>
                    <th>Duration</th>
                    <th>
                        <button type="button" class="btn btn-primary" name="append" id="JobExperienceAddButton">+</button>
                    </th>
                </tr>
                <tbody id="JobExperienceInfoList">
                    @if (dataList != null && dataList.Count > 0)
                    {
                        foreach (var row in dataList)
                        {
                            <tr class="JobExperienceInfo parent">
                                @Html.Hidden("Id_" + row.Id, row.Id, new { @class = "form-control jobExperienceId" })
                                <td>
                                    @Html.TextBox("CompanyName[]", !string.IsNullOrEmpty(row.CompanyName) ? row.CompanyName : "", new { @class = "form-control jobExperienceCompanyName", @placeholder = "Name" })
                                </td>
                                <td>
                                    @Html.DropDownList("CompanyType[]", new SelectList((IEnumerable<SelectListItem>)ViewBag.CompanyType, "Value", "Text", row.CompanyType > 0 ? row.CompanyType : 0)
                                        , "Type",htmlAttributes: new { @class = "form-control jobExperienceCompanyType", @placeholder = "Type" })
                                </td>
                                <td>
                                    @Html.TextBox("CompanyAddress[]", !string.IsNullOrEmpty(row.CompanyLocation) ? row.CompanyLocation : "", new { @class = "form-control jobExperienceCompanyAddress", @placeholder = "Address" })
                                </td>
                                <td>
                                    @Html.TextBox("Dept[]", !string.IsNullOrEmpty(row.DepartmentName) ? row.DepartmentName : "", new { @class = "form-control jobExperienceDept", @placeholder = "Department" })
                                </td>
                                <td>
                                    @Html.TextBox("Position[]", !string.IsNullOrEmpty(row.Position) ? row.Position : "", new { @class = "form-control jobExperiencePosition", @placeholder = "Position" })
                                </td>
                                <td>
                                    @Html.TextBox("ExpArea[]", !string.IsNullOrEmpty(row.ExperienceArea) ? row.ExperienceArea : "", new { @class = "form-control jobExperienceExpArea", @placeholder = "ExpArea" })
                                </td>
                                <td>
                                    @Html.TextBox("Duration[]", !string.IsNullOrEmpty(row.Duration) ? row.Duration : "", new { @class = "form-control jobExperienceDuration", @placeholder = "Duration" })
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning removeJobExpRowButton" name="append">-</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="JobExperienceInfo parent">
                            @Html.Hidden("Id[]", 0, new { @class = "form-control jobExperienceId" })
                            <td>
                                @Html.TextBox("CompanyName[]", "", new { @class = "form-control jobExperienceCompanyName", @placeholder = "Name" })
                            </td>
                            <td>
                                @Html.DropDownList("CompanyType[]", (IEnumerable<SelectListItem>)ViewBag.CompanyType, "Type", htmlAttributes: new { @class = "form-control jobExperienceCompanyType", @placeholder = "Type" })
                                @*@Html.TextBox("CompanyType[]", "", new { @class = "form-control jobExperienceCompanyType", @placeholder = "Type" })*@
                            </td>
                            <td>
                                @Html.TextBox("CompanyAddress[]", "", new { @class = "form-control jobExperienceCompanyAddress", @placeholder = "Company Address" })
                            </td>
                            <td>
                                @Html.TextBox("Dept[]", "", new { @class = "form-control jobExperienceDept", @placeholder = "Department" })
                            </td>
                            <td>
                                @Html.TextBox("Position", "", new { @class = "form-control jobExperiencePosition", @placeholder = "Position" })
                            </td>
                            <td>
                                @Html.TextBox("ExpArea[]", "", new { @class = "form-control jobExperienceExpArea", @placeholder = "Experience Area" })
                            </td>
                            <td>
                                @Html.TextBox("Duration[]", "", new { @class = "form-control jobExperienceDuration", @placeholder = "Duration" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning removeJobExpRowButton" name="append">-</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" value="Save Job Experience" name="JobExperience" class="btn btn-primary" id="JobExperience" />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("input[name='HasJobExp']").on("change", function () {
            var chb = $("#HasJobExp").is(':checked') ? 1 : 0;
            console.log(chb);
            if (chb == 1) {
                $("#TeamMemberJobExp").css("display", "");
            } else {
                $("#TeamMemberJobExp").css("display", "none");
            }
        });
        
        $(document).on("click", "#JobExperienceAddButton", function (event) {
            $.ajax({
                url: "/Hr/TeamMember/AddRowJobExperience",
                type: "GET",
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (data1) {
                    if (("#noJobExpRecord").length > 0) {
                        $("#noJobExpRecord").remove();
                    }

                    if ($('#JobExperienceInfoList tr').length > 0) {
                        $('#JobExperienceInfoList tr:last').after(data1);
                    } else {
                        $('#JobExperienceInfoList').append(data1);
                    }

                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data1) {
                    $.fn.customMessage({
                        displayMessage: ajaxError,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });

        });
        $(document).on("click", ".removeJobExpRowButton", function (event) {
            var tr = $(this).closest(".JobExperienceInfo");
            var id = tr.find(".jobExperienceId");
            if (id.val() > 0) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/DeleteJobExperience",
                    cache: false,
                    async: true,
                    data: { id: id.val() },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        tr.remove();
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            } else {
                tr.remove();
            }

            var rowCount = $('#JobExperienceInfoList tr').length;
            if (rowCount == 0) {
                $('#JobExperienceInfoList').append('<tr id="noJobExpRecord"> <td colspan="8">No information found!</td></tr>');
            }
        });
        $("#JobExperience").click(function () {
            var jobInfoArray = [];
            $("#JobExperienceInfoList tr").each(function () {
                var companyNameCtrl = $(this).find(".jobExperienceCompanyName");
                var companyTypeCtrl = $(this).find(".jobExperienceCompanyType");
                var companyLocationCtrl = $(this).find(".jobExperienceCompanyAddress");
                var deptCtrl = $(this).find(".jobExperienceDept");
                var positionCtrl = $(this).find(".jobExperiencePosition");
                var experienceAreaCtrl = $(this).find(".jobExperienceExpArea");
                var jobDurationCtrl = $(this).find(".jobExperienceDuration");
                

                var id = $(this).find(".jobExperienceId");
                
                if (companyNameCtrl.val() != "" && companyLocationCtrl.val() != ""
                    && companyTypeCtrl.val() != "" && deptCtrl.val() != ""
                    && experienceAreaCtrl.val() != "" && positionCtrl.val() != ""
                    && jobDurationCtrl.val() != "") {

                    companyNameCtrl.removeClass("highlight");
                    companyTypeCtrl.removeClass("highlight");
                    deptCtrl.removeClass("highlight");
                    companyLocationCtrl.removeClass("highlight");
                    positionCtrl.removeClass("highlight");
                    jobDurationCtrl.removeClass("highlight");

                    var jobInfo = {};
                    jobInfo["CompanyName"] = companyNameCtrl.val();
                    jobInfo["CompanyType"] = companyTypeCtrl.val();
                    jobInfo["CompanyLocation"] = companyLocationCtrl.val();
                    jobInfo["DepartmentName"] = deptCtrl.val();
                    jobInfo["Position"] = positionCtrl.val();
                    jobInfo["ExperienceArea"] = experienceAreaCtrl.val();
                    jobInfo["Duration"] = jobDurationCtrl.val();
                    
                    jobInfo["Id"] = id.val();

                    jobInfoArray.push(jobInfo);

                } else {
                    if (companyNameCtrl.val() == "")
                        companyNameCtrl.addClass("highlight");
                    else {
                        companyNameCtrl.removeClass("highlight");
                    }
                    if (companyTypeCtrl.val() == "")
                        companyTypeCtrl.addClass("highlight");
                    else {
                        companyTypeCtrl.removeClass("highlight");
                    }
                    if (companyLocationCtrl.val() == "")
                        companyLocationCtrl.addClass("highlight");
                    else {
                        companyLocationCtrl.removeClass("highlight");
                    }
                    if (deptCtrl.val() == "")
                        deptCtrl.addClass("highlight");
                    else {
                        deptCtrl.removeClass("highlight");
                    }
                    if (positionCtrl.val() == "")
                        positionCtrl.addClass("highlight");
                    else {
                        positionCtrl.removeClass("highlight");
                    }
                    if (experienceAreaCtrl.val() == "")
                        experienceAreaCtrl.addClass("highlight");
                    else {
                        experienceAreaCtrl.removeClass("highlight");
                    }
                    if (jobDurationCtrl.val() == "")
                        jobDurationCtrl.addClass("highlight");
                    else {
                        jobDurationCtrl.removeClass("highlight");
                    }
                }
            });
            if (jobInfoArray.length > 0) {
                var memberPin = $("#memberPin").val();
                var data = JSON.stringify({ "jobInfoArray": jobInfoArray, memberPin: memberPin });
                console.log(data);
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/TeamMember/UpdateJobExperienceInfo",
                    cache: false,
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: data,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            var url = '@Url.Action("EditMemberInfomation", "TeamMember", new { memberPin = "__Pin__" })';
                            window.location.href = url.replace('__Pin__', memberPin);
                        } else {
                            {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        }


                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });
    });
</script>
