﻿@using UdvashERP.BusinessModel.Entity.Hr
@{
    TeamMember member = ViewBag.TeamMember;
}
@if (ViewBag.MemberHasInfo == true)
{
    <div class="panel panel-primary">
        <div class="panel-heading">Parental Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.Hidden("MemberPin", (string)ViewBag.MemberPin)
                <div class="form-group">
                    @Html.Label("Father's Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("FatherNameEng", member.FatherNameEng, new { @class = "form-control", @required_name = "FatherNameEng", @Placeholder = "Enter Fathers Name" })
                    </div>                    
                    @Html.Label("Mother's Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("MotherNameEng", member.MotherNameEng, new { @class = "form-control", @required_name = "MotherNameEng ", @Placeholder = "Mother's Name" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("পিতার নাম", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("FatherNameBangla", member.FatherNameBang, new { @class = "form-control", @required_name = "Father's Name bangla ", @Placeholder = "পিতার নাম" })
                    </div>
                    @Html.Label("মাতার নাম", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("MotherNameBangla", member.MotherNameBang, new { @class = "form-control", @required_name = "MotherNameBangla ", @Placeholder = "মাতার নাম" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Contact Number", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("FatherContactNumber", member.FatherContactNo, new { @class = "form-control", @required_name = "FatherContactNumber", @Placeholder = "Mobile Number" })
                    </div>
                    @Html.Label("Contact Number", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("MotherContactNumber", member.MotherContactNo, new { @class = "form-control", @required_name = "MotherContactNumber ", @Placeholder = "Mobile Number" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Save Parental Information" name="ParentalInformation" class="btn btn-primary" id="ParentalInformation" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('#ParentalInformation').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return true;
            });
        });

        $(document).on("input propertychange", "#FatherContactNumber", function (event) {
            var mobile = $("#FatherContactNumber").val().trim();
            if (mobile != '' && mobile.length > 0) {
                mobile = mobileCheck(mobile);
                if (mobile == null) {
                    window.showErrorMessageBelowCtrl("FatherContactNumber", "", false);
                    window.showErrorMessageBelowCtrl("FatherContactNumber", "Please enter valid Mobile Number", true);
                    return false;
                } else {
                    $("#FatherContactNumber").val(mobile);
                    window.showErrorMessageBelowCtrl("FatherContactNumber", "", false);
                }
            }
        });
        $(document).on("input propertychange", "#MotherContactNumber", function (event) {
            var mobile = $("#MotherContactNumber").val().trim();
            if (mobile != '' && mobile.length > 0) {
                mobile = mobileCheck(mobile);
                if (mobile == null) {
                    window.showErrorMessageBelowCtrl("MotherContactNumber", "", false);
                    window.showErrorMessageBelowCtrl("MotherContactNumber", "Please enter valid Mobile Number", true);
                    return false;
                } else {
                    $("#MotherContactNumber").val(mobile);
                    window.showErrorMessageBelowCtrl("MotherContactNumber", "", false);
                }
            }
        });
        $(document).on("click", "#ParentalInformation", function (event) {
            var canSaveParentalInformation = true;
            var memberPin = $("#MemberPin").val();
            var fatherNameEng = $("#FatherNameEng").val();
            var fatherNameBangla = $("#FatherNameBangla").val();
            var motherNameEng = $("#MotherNameEng").val();
            var motherNameBangla = $("#MotherNameBangla").val();
            var fatherContactNumber = $("#FatherContactNumber").val();
            var motherContactNumber = $("#MotherContactNumber").val();
            if (fatherContactNumber != '' && fatherContactNumber.length > 0) {
                mobile = mobileCheck(fatherContactNumber);
                if (mobile == null) {
                    window.showErrorMessageBelowCtrl("FatherContactNumber", "", false);
                    window.showErrorMessageBelowCtrl("FatherContactNumber", "Please enter valid Mobile Nubmer", true);
                    canSaveParentalInformation =  false;
                }
            }
            if (motherContactNumber != '' && motherContactNumber.length > 0) {
                mobile = mobileCheck(motherContactNumber);
                if (mobile == null) {
                    window.showErrorMessageBelowCtrl("MotherContactNumber", "", false);
                    window.showErrorMessageBelowCtrl("MotherContactNumber", "Please enter valid Mobile Nubmer", true);
                    canSaveParentalInformation = false;
                }
            }
           

            if (canSaveParentalInformation) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "HR/TeamMember/EditParentalInformation",
                    cache: false,
                    async: true,
                    data: { memberPin: memberPin, fatherNameEng: fatherNameEng, fatherNameBangla: fatherNameBangla, motherNameEng: motherNameEng, motherNameBangla: motherNameBangla, fatherContactNumber: fatherContactNumber, motherContactNumber: motherContactNumber },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        console.log(result);
                        if (result.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "success",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }

                    },
                    complete: function () {
                        $.unblockUI();

                    },
                    error: function () {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            } else {

            }
        });

    });
</script>
