﻿@using UdvashERP.BusinessModel.Entity.Hr
@{
    TeamMember member = ViewBag.TeamMember;
    MaritalInfo maritalInfo = ViewBag.MaritalInfo;
}
@if (ViewBag.MemberHasInfo == true)
{
    <div class="panel panel-primary">
        <div class="panel-heading">Marital Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.Hidden("MemberPin", (string)ViewBag.MemberPin)
                <div class="form-group">
                    @Html.Label("Marital Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("MaritalStatus", ViewBag.MaritalStatusList as SelectList, "Select Marital Status", htmlAttributes: new { @class = "form-control", @required_name = "Marital Status" })
                    </div>
                    @Html.Label("Marriage Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("MarriageDate", (maritalInfo != null) ? maritalInfo.MarriageDate : null, "{0:yyyy-MM-dd}", new { @class = "form-control form_marriageDate", @readonly = "readonly", @required_name = "MarriageDate" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Spouse Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("SpouseName", (maritalInfo != null) ? maritalInfo.SpouseName : null, new { @class = "form-control", @required_name = "FatherContactNumber", @Placeholder = "Spouse Name" })
                    </div>
                    @Html.Label("Contact Number", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("SpouseContactNumber", (maritalInfo != null) ? maritalInfo.SpouseContatctNo : null, new { @class = "form-control", @required_name = "SpouseContactNumber ", @Placeholder = "Mobile Number" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Save Marital Information" name="MaritalInformation" class="btn btn-primary" id="MaritalInformation" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script>
    $(document).ready(function () {
        $('#MaritalInformation').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return true;
        });
    });
    $(document).ready(function () {
        window.validateDropDownField("MaritalStatus", "Marital Status is required.");
        $('.form_marriageDate').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        });
    });
    $(document).on("input propertychange", "#SpouseContactNumber", function (event) {
        var mobile = $("#SpouseContactNumber").val().trim();
        if (mobile != '' && mobile.length > 0) {
            mobile = mobileCheck(mobile);
            if (mobile == null) {
                window.showErrorMessageBelowCtrl("SpouseContactNumber", "", false);
                window.showErrorMessageBelowCtrl("SpouseContactNumber", "Please enter valid Mobile Number", true);
                return false;
            } else {
                $("#SpouseContactNumber").val(mobile);
                window.showErrorMessageBelowCtrl("SpouseContactNumber", "", false);
            }   
        }
    });
    $(document).on("click", "#MaritalInformation", function (event) {
        var canSaveMaritalInformation = true;
        var memberPin = $("#MemberPin").val();
        var maritalStatus = $("#MaritalStatus").val();
        var marriageDate = $("#MarriageDate").val();
        var spouseName = $("#SpouseName").val();
        var spouseContactNumber = $("#SpouseContactNumber").val();
        if (maritalStatus == '' || maritalStatus.length <= 0) {
            window.showErrorMessageBelowCtrl("MaritalStatus", "", false);
            window.showErrorMessageBelowCtrl("MaritalStatus", "Please select Marital Status", true);
            canSaveMaritalInformation = false;
        }
        if (spouseContactNumber != '' && spouseContactNumber.length > 0) {
            mobile = mobileCheck(spouseContactNumber);
            if (mobile == null) {
                window.showErrorMessageBelowCtrl("SpouseContactNumber", "", false);
                window.showErrorMessageBelowCtrl("SpouseContactNumber", "Please enter valid Mobile Nubmer", true);
                canSaveMaritalInformation = false;
            }
        }
        if (canSaveMaritalInformation) {
            $.ajax({
                type: "post",
                url: $("body").attr("data-project-root") + "HR/TeamMember/EditMaritalInformation",
                cache: false,
                async: true,
                data: { memberPin: memberPin, maritalStatus: maritalStatus, marriageDate: marriageDate, spouseName: spouseName, spouseContactNumber: spouseContactNumber },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (result) {
                    $.unblockUI();
                    console.log(result);
                    if (result.IsSuccess) {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                    } else {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "error",
                        });
                    }

                },
                complete: function () {
                    $.unblockUI();

                },
                error: function () {
                    $.unblockUI();
                    console.log("Failed -----");
                }
            });
        } else {

        }
    });
</script>
