﻿@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Entity.Hr
@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.EmploymentHistory>
@{
    TeamMember member = ViewBag.TeamMember;   
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Employment History
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Job Org.</th>
                <th>Job. Branch</th>
                <th>Job. Campus</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Emp. Status</th>
                <th>Effective Date</th>
                <th>
                    <a href="@Url.Action("AddEmploymentHistory", new { memberId = member.Id })" id="addEmpHistory"> <i class="glyphicon glyphicon-plus"></i></a>
                </th>
            </tr>
            @foreach (EmploymentHistory item in Model)
            {
                <tr id="employment-history-@item.Id">
                    <td>@item.Campus.Branch.Organization.ShortName</td>
                    <td>@Html.DisplayFor(modelItem => item.Campus.Branch.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Campus.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Designation.Name)</td>
                    <td>@((MemberEmploymentStatus)item.EmploymentStatus)</td>
                    <td>@item.EffectiveDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a href="@Url.Action("EditEmploymentHistory", new {id = item.Id})"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="@Url.Action("DeleteEmploymentHistory", new {id = item.Id})"><i id="@item.Id" class="glyphicon glyphicon-trash glyphicon-trash-employment-history" employment-data-name="@item.Designation.Name"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
