﻿@using UdvashERP.BusinessModel.Entity.Hr
@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.MentorHistory>
@{
    TeamMember member = ViewBag.TeamMember;              
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Mentor History
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>PIN</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Job Organization</th>
                <th>Effective Date</th>
                <th><a href="@Url.Action("AddMentorHistory", new { memberId = member.Id })" id="addMentorHistory"><i class="glyphicon glyphicon-plus"></i></a></th>
            </tr>
            

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="Mentor-history-@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Pin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mentor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MentorDesignation.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MentorDepartment.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MentorOrganization.ShortName)
                        </td>
                        <td>
                            @item.EffectiveDate.Value.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            <a href="@Url.Action("EditMentorHistory", new {id = item.Id})">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="@Url.Action("DeleteMentorHistory", new { id = item.Id })">
                                <i id="@item.Id" employment-data-name="@item.Mentor.Name" class="glyphicon glyphicon-trash glyphicon-trash-mentor-history"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="6">This Member has no Mentor history!!</td></tr>
            }

        </table>
    </div>
</div>
