﻿@using UdvashERP.BusinessModel.Entity.Hr
@model IEnumerable<TdsHistory>
@{
    TeamMember member = ViewBag.TeamMember;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        TDS History
    </div>
    <div class="panel-body">

        <table class="table table-bordered">
            <tr>
                <th>TDS Amount</th>
                <th>Effective Date</th>
                <th><a href="@Url.Action("AddTdsHistory", new { memberId = member.Id })" id="addTdsHistory"><i class="glyphicon glyphicon-plus"></i></a>
                </th>
            </tr>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="Tds-history-@item.Id">
                        <td>@Html.DisplayFor(modelItem => item.TdsAmount)</td>
                        <td>@item.EffectiveDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a href="@Url.Action("EditTdsHistory", new {id=item.Id})"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("DeleteTdsHistory", new { id = item.Id })"><i id="@item.Id" employment-data-name="@item.TdsAmount" class="glyphicon glyphicon-trash glyphicon-trash-tds-history"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="8" style="text-align: center">No TDS history found for this Team member</td></tr>
            }
        </table>
    </div>
</div>
