﻿@using UdvashERP.BusinessModel.Entity.Hr
@model IEnumerable<BankHistory>
@{
    TeamMember member = ViewBag.TeamMember;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Bank History
    </div>
    <div class="panel-body">

        <table class="table table-bordered" id="bankHistorytable">
            <tr id="bankHistoryHeader">
                <th>Bank</th>
                <th>Banch</th>
                <th>A/C No.</th>
                <th>Account Title</th>
                <th>Effective Date</th>
                <th>
                    <a href="@Url.Action("AddBankHistory", new { memberId = member.Id })" id="addBankHistory"><i class="glyphicon glyphicon-plus"></i></a>
                </th>
            </tr>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="Bank-history-@item.Id" class="bankHistoryData">
                        <td>@item.BankBranch.Bank.Name</td>
                        <td>@item.BankBranch.Name</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.Name</td>
                        <td>@item.EffectiveDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a href="@Url.Action("EditBankHistory", new {id = item.Id})"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("DeleteBankHistory", new {id = item.Id})"><i id="@item.Id" data-name="@item.AccountNumber" class="glyphicon glyphicon-trash glyphicon-trash-bank-history"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="8" style="text-align: center">No Bank history found for this Team Member</td></tr>
            }
        </table>
    </div>
</div>
