﻿@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.TeamMemberTaxInformationViewModel
@{
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Tax Information
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.TaxesCircle, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.HiddenFor(model=>model.Id)
                    @Html.HiddenFor(model => model.Pin)
                    @Html.EditorFor(model => model.TaxesCircle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Taxes Circle" } })
                </div>
                @Html.LabelFor(model => model.TaxesZone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TaxesZone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Taxes Zone" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model=>model.TinNo, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TinNo, new { htmlAttributes = new { @class = "form-control numbersOnly", @placeholder = "TIN" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="button" value="Save Tax Information" name="Save Tax Information" class="btn btn-primary" id="SubmitTaxInformation" />
            </div>
        </div>
    </div>
</div>