﻿@using UdvashERP.BusinessModel.Entity.Hr
@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.MemberFingerPrint>

<style>
    .tAlign {
        text-align: center;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        Member Finger Template Info
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Device Name</th>
                <th>Index 0</th>
                <th>Index 1</th>
                <th>Index 2</th>
                <th>Index 3</th>
                <th>Index 4</th>
                <th>Index 5</th>
                <th>Index 6</th>
                <th>Index 7</th>
                <th>Index 8</th>
                <th>Index 9</th>
                <th>Action</th>
            </tr>
            @foreach (MemberFingerPrint item in Model)
            {
                <tr id="member-fingerTmp-@item.Id">
                    <td>@item.AttendanceDeviceType.Name</td>
                    @{
                            if (!String.IsNullOrEmpty(item.Index0))
                            {
                                 <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                <td class="tAlign">-</td>
                            }

                            if (!String.IsNullOrEmpty(item.Index1))
                            {
                                 <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                               <td class="tAlign">-</td>
                            }
                            if (!String.IsNullOrEmpty(item.Index2))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                <td class="tAlign">-</td>
                            }

                            if (!String.IsNullOrEmpty(item.Index3))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                               <td class="tAlign">-</td>
                            }
                            if (!String.IsNullOrEmpty(item.Index4))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                <td class="tAlign">-</td>
                            }
                            if (!String.IsNullOrEmpty(item.Index5))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                 <td class="tAlign">-</td>
                            }

                            if (!String.IsNullOrEmpty(item.Index6))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                 <td class="tAlign">-</td>
                            }

                            if (!String.IsNullOrEmpty(item.Index7))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                               <td class="tAlign">-</td>
                            }

                            if (!String.IsNullOrEmpty(item.Index8))
                            {
                                  <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                 <td class="tAlign">-</td>
                            }

                            if (!String.IsNullOrEmpty(item.Index9))
                            {
                                <td class="tAlign"><i class="fa fa-check" style="font-size:26px" aria-hidden="true"></i></td>
                            }
                            else
                            {
                                <td class="tAlign">-</td>
                            }

                    }


                    <td class="tAlign">
                        <a href="@Url.Action("EditFingerPrintTemplate", new { id = item.Id })"><i class="glyphicon glyphicon-list"></i></a>
                        @*<a href="#" class="tt glyphicon glyphicon-list" id="@item.Id"></a>*@
                    </td>

                </tr>
            }
        </table>
    </div>
</div>





