﻿@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Entity.Hr
@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.ShiftWeekendHistory>
@{
    TeamMember member = ViewBag.TeamMember;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Shift and Weekend History
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Job Organization</th>
                <th>Job Shift</th>
                <th>Weekend</th>
                <th>Effective Date</th>
                <th><a href="@Url.Action("AddShiftWeekendHistory", new { memberId = member.Id })" id="addShiftWeekendHistory"><i class="glyphicon glyphicon-plus"></i></a></th>
            </tr>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="Shift-Weekend-History-@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Organization.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shift.FormattedShiftTime)
                        </td>
                        <td>
                            @((WeekDay) item.Weekend)
                        </td>
                        <td>
                            @item.EffectiveDate.Value.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            <a href="@Url.Action("EditShiftWeekendHistory", new {id = item.Id})">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="@Url.Action("DeleteShiftWeekendHistory", new {id = item.Id})">
                                <i id="@item.Id" employment-data-name="@item.Shift.Name" class="glyphicon glyphicon-trash glyphicon-trash-shift-weekend-history"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="5">This Member has no Shift Weekend History!!</td></tr>
            }

        </table>
    </div>
</div>
