﻿@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessRules.Hr
@using UdvashERP.Services.Helper
@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.SalaryHistory>
@{
    TeamMember member = ViewBag.TeamMember;
    CommonHelper _commonHelper = new CommonHelper();
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Salary History
    </div>
    <div class="panel-body">

        <table class="table table-bordered">
            <tr>
                <th>Org.</th>
                <th>Department</th>
                <th>Branch</th>
                <th>Campus</th>
                <th>Salary</th>
                <th>Bank Amnt.</th>
                <th>Cash Amnt.</th>
                <th>Effective Date</th>
                <th>Salary Puspose</th>
                <th>
                    <a href="@Url.Action("AddSalaryHistory", new { memberId = member.Id })" id="addSalaryHistory"><i class="glyphicon glyphicon-plus"></i></a>
                </th>
            </tr>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="Salary-history-@item.Id">
                        <td>@Html.DisplayFor(modelItem => item.SalaryOrganization.ShortName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SalaryDepartment.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.SalaryCampus.Branch.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.SalaryCampus.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                        <td>@Html.DisplayFor(modelItem => item.BankAmount)</td>
                        <td>@Html.DisplayFor(modelItem => item.CashAmount)</td>
                        <td>@item.EffectiveDate.Value.ToString("yyyy-MM-dd")</td>
                        <td>@(_commonHelper.GetEmumIdToValue<SalaryPurpose>((int)item.SalaryPurpose))</td>
                        <td>
                            <a href="@Url.Action("EditSalaryHistory", new {id=item.Id})"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("DeleteSalaryHistory", new { id = item.Id })"><i id="@item.Id" employment-data-name="@item.Salary" class="glyphicon glyphicon-trash glyphicon-trash-salary-history"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="10" style="text-align: center">No Salary history found for this Team member</td></tr>
            }
        </table>
    </div>
</div>
