﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OSL ERP API</h1>
    <p class="lead">OSL ERP API </p>
    <p><a href="http://onnorokomsogtware.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <div style="margin-bottom:20px;">
            <h2>Name: Get Current DateTime</h2>
            <p>Method: GET</p>
            <p>URL: <a href="@Url.Action("GetCurrentDateTime", "AttendanceApi", new { key = "Key" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key</p>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Get Attendance Synchronizer</h2>
            <p>Method: GET</p>
            <p>URL: <a href="@Url.Action("GetAttendanceSynchronizer", "AttendanceApi", new { key = "Key" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key</p>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Upload Attendance Data</h2>
            <p>Method: POST</p>
            <p>URL: <a href="@Url.Action("UploadAttendanceData", "AttendanceApi", new { key = "Key", attendanceString = "" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key, attendanceString</p>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Upload Attendance Error Data</h2>
            <p>Method: POST</p>
            <p>URL: <a href="@Url.Action("UploadAttendanceErrorPins", "AttendanceApi", new { key = "Key", errorString = "" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key, errorString</p>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Update Time Of Attendance Device</h2>
            <p>Method: POST</p>
            <p>URL: <a href="@Url.Action("UpdateTimeOfAttendanceDevice", "AttendanceApi", new { key = "Key", deviceId="", updateTime="" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key, deviceId, updateTime</p>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Get Software Update</h2>
            <p>Method: GET</p>
            <p>URL: <a href="@Url.Action("GetSoftwareUpdate", "AttendanceUpdater", new { key = "Key", versionNumber = 1 })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key, versionNumber</p>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Log Software Update</h2>
            <p>Method: GET</p>
            <p>URL: <a href="@Url.Action("LogSoftwareUpdate", "AttendanceUpdater", new { key = "Key", versionNumber = 1, isSuccess=true, message = "Demo Message" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: key, versionNumber, message</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Attendance Device Type Load</h2>
            <p>Method: GET</p>
            <p>URL: <a href="@Url.Action("GetAttendanceDeviceTypeInfo", "AttendanceDeviceTypeApi")" target="_blank">Click to Test URL</a></p>
            <p>Parameters: None</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <h2>Name: Member Finger Print Info Load</h2>
            <p>Method: GET</p>
            <p>URL: <a href="@Url.Action("GetMemberInfo", "MemberInfo", new { pin = "pin", versionNumber = 1, isSuccess = true, message = "Demo Message" })" target="_blank">Click to Test URL</a></p>
            <p>Parameters: pin</p>
        </div>
    </div>

</div>