﻿@model UdvashERP.BusinessModel.Entity.Administration.Session

@{
    ViewBag.Title = "Update Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Update Session</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Code" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="Status" name="status" class="form-control">
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        if (statusType.Value == Model.Status)
                                        {
                                            <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }
                                    }
                                }
                            </select>
                        }

                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>

                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <p>@Html.ActionLink("Back To Manage", "Index", "Session")</p>
                    </div>
                </div>*@
                
                
            </div>
        }

    </div>
</div>
<p>@Html.ActionLink("Back To Manage", "Index", "Session")</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






