﻿@model UdvashERP.BusinessModel.ViewModel.Hr.SalarySheetFormViewModel

@{
    ViewBag.Title = "Salary Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Salary Sheet<span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="salarySheetPanel">
        @using (Ajax.BeginForm(new AjaxOptions
                {
                    UpdateTargetId = "salarySheetTeamMemberList",
                    HttpMethod = "Post",
                    OnBegin = "blockFunc",
                    OnComplete = "unblockFunc"
                }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OrganizationType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.OrganizationType, (IEnumerable<SelectListItem>)ViewBag.OrganizationTypeList, "Select Type", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.OrganizationType, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.CampusId, (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">

                            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.DepartmentList, "Select Department", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.SalaryYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.SalaryYear, (IEnumerable<SelectListItem>)ViewBag.SalarySheetYearList, "Select Year", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.SalaryYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SalaryMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.SalaryMonth, (IEnumerable<SelectListItem>)ViewBag.SalarySheetMonthList, "Select Month", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.SalaryMonth, "", new { @class = "text-danger" })
                            </div>
                            
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <input type="submit" id="Submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

<div id="salarySheetTeamMemberList">
    
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script type="text/javascript">
        function ShowHide() {
            console.log("OK");
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#salarySheetPanel').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#salarySheetPanel').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        $(document).on('click', '#ShowHide', function (e) { ShowHide(); });
        function blockFunc() {
            $.blockUI({
                timeout: 0,
                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            });
        }

        function unblockFunc() {
            $.unblockUI();
        }
        
        $(document).ready(function () {
           
            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });

            $('#BranchId').empty();
            $('#BranchId').append("<option value='0' selected>All Branch</option>");


            $('#CampusId').empty();
            $('#CampusId').append("<option value='0' selected>All Campus</option>");


            $('#DepartmentId').empty();
            $('#DepartmentId').append("<option value='0' selected>All Department</option>");

            
        });

        $(document).on("change", "#OrganizationId", function () {

            $('#BranchId').empty();
            $('#BranchId').append("<option value='0' selected>All Branch</option>");
            
            $('#CampusId').empty();
            $('#CampusId').append("<option value='0' selected>All Campus</option>");
            
            $('#DepartmentId').empty();
            $('#DepartmentId').append("<option value='0' selected>All Department</option>");

            var organizationId = $("#OrganizationId").val();

            if (organizationId.length > 0) {

                $.when(

                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing Test...</h1>'
                    }),
                    
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function () {
                        },
                        success: function (result) {
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () { },
                        error: function () {
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    }),
                    
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                        data: { organizationIds: organizationId },
                        success: function (response) {
                            if (response.IsSuccess) {

                                $.each(response.returndepartmentList, function (i, v) {
                                    $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () { },

                        error: function (data) {
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    })

                ).done(function () {

                    $.unblockUI();
                });
            }
        });

        $(document).on("change", "#BranchId", function () {

            $('#CampusId').empty();
            $('#CampusId').append("<option value='0'>All Campus</option>");
            var organizationId = $("#OrganizationId").val();
            var branchIds = $("#BranchId").val();

            if (organizationId != null && organizationId != "" && branchIds != null && branchIds.length >= 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {

                            $.each(response.returnCampusList, function (i, v) {
                                $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                    }
                });
            }
        });

    </script>
}