﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.DirectGoodsIssueViewModel
@{
    int i = ViewBag.Index;
    var purposeList = ViewBag.purposeList;
    var itemGroupList = ViewBag.ItemGroupList;
}
<tr class="goodsIssuedDetails parent">
    @Html.Hidden("Id", i, new { @class = "form-control itemDetailsId" })
    @Html.Hidden("Index", i, new { @class = "itemDetailsIndex", @Value = i })
    <td>
        @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].Purpose, new SelectList(purposeList, "Value", "Text"), "Select Perpose", new { @class = "form-control Purpose", @required_name = "Purpose", @required = "required" })
        @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].Purpose, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ItemGroupId, new SelectList(itemGroupList, "Value", "Text"), "Select Item Group", new { @class = "form-control ItemGroupId", @required_name = "Item Group", @required = "required" })
        @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ItemGroupId, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ItemId, new SelectList(new List<string>(), "Value", "Text"), "Select Item List", new { @class = "form-control ItemId", @required_name = "Item", @required = "required" })
        @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ItemId, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ProgramSession, (IEnumerable<SelectListItem>)ViewBag.programSessionList, "Select Program & Sesssion", new { @class = "form-control ProgramSession", @required_name = "Program & Session", @required = "required" })
        @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ProgramSession, "", new { @class = "text-danger" })
    </td>
    <td><input type="text" class="form-control currentStockQuantity" disabled="" id="currentStock" name="currentStock" /></td>
    <td>
        @Html.EditorFor(model => model.DirectGoodsIssueDetails[i].IssuedQuantity, new { htmlAttributes = new { type = "text", @class = "form-control IssuedQuantity numaricInputOnly", @placeholder = "Issue Quantity", @required_name = "Issue Quantity", @required = "required" } })
        @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].IssuedQuantity, "", new { @class = "text-danger" })
    </td>
    <td><button type="button" class="btn btn-default minusGoods" name="append"><i class="fa fa-minus"></i></button></td>
</tr>

<script type="text/javascript">
    $(document).ready(function() {
        $(".IssuedQuantity").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('.IssuedQuantity').each(function () {
            $(this).keypress(function (e) {
                // '46' is the keyCode for '.'
                if (e.keyCode == '46' || e.charCode == '46') {
                    //Cancel the keypress
                    e.preventDefault();
                    // Add the comma to the value of the input field
                    $(this).val($this.val() + ',');
                }
            });
        });
        
    });
</script>