﻿@Styles.Render("~/Content/styledatatable")
@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.GoodsIssueReportFormViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Goods Issue Report</h4>
    </div>
    <div class="panel-body" id="printable">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h4> @ViewBag.organizationName </h4>
                <h4>Goods Issue Report</h4>
                <h4>@ViewBag.dateFrom to @ViewBag.dateTo</h4>
            </div>
            <br />
        </div>
        <div style="clear: both"></div>
        <div id="customer">
            
            <div class="form-group">
                @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.OrganizationShortName
                </div>
                @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.branchName
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Issue Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.goodIssueTypeList
                </div>
                @Html.Label("Purpose", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.purpose
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Item Group", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.itemGroup
                </div>
                @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.item
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Program Session", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.programSession
                </div>
            </div>
            <div class="clearfix"></div>
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @* this table is responsible for table header and dynamic data *@
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Sl No
                            </th>
                            @if (Model.ReportType == (int)ReportType.Branchwise)
                            {
                                <th>
                                    Item Group
                                </th>
                                 <th>
                                     Item Name
                                </th>
                                <th>
                                    Program & Session
                                </th>
                                foreach (var column in ViewBag.branchAry)
                                {
                                    <th>@column</th>
                                }
                            }
                            else if ((Model.ReportType == (int)ReportType.Programwise))
                            {
                                 <th>
                                    Item Name
                                </th>
                                foreach (var column in ViewBag.programSessionAry)
                                {
                                    <th>@column</th>
                                }
                            }

                            <th>
                                Total
                            </th>
                            <!-- dynamic branch name load here -->
                        </tr>
                    </thead>
                    <tbody class="text-center">
                            
                    </tbody>
                </table>

                @* ----------------------------------------------------------------------------------------------------- *@
            </div>

        </div>

    </div>
</div>
<div class="text-center">
    @*<input type="button" class="btn btn-primary" value="Print" id="print"/>*@
    <input type="button" class="btn btn-primary" value="Export" id="export" />
</div>
@Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    /* render data table*/

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var goodsIssueType = @Model.GoodsIssueType;
    var purposes = @Html.Raw(Json.Encode(Model.Purpose));
    var itemGroupIds = @Html.Raw(Json.Encode(@Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(@Model.ItemId));
    var programIds = @Html.Raw(Json.Encode(@ViewBag.ProgramIdList));
    var sessionIds = @Html.Raw(Json.Encode(@ViewBag.SessionIdList));
    var reportType = @Html.Raw(Json.Encode(@Model.ReportType));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var programSession = @Html.Raw(Json.Encode(Model.ProgramSession));
    function dataTableRender() {
        var pageSize = 10;
        if ($('#NoOfPages').val() != "" && /^\d+$/.test($('#NoOfPages').val())) {
            pageSize = parseInt($('#NoOfPages').val());
        } else {
            $('#NoOfPages').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            bSort: false,
            order: [[0, "desc"]],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }
            ],
            ajax: {
                url: '@Url.Action("GoodsIssueReportAjaxRequest", "DirectGoodsIssue")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.branchIdList = branchIds;
                    d.goodsIssueType = goodsIssueType;
                    d.purposeList = purposes;
                    d.itemGroupIdList = itemGroupIds;
                    d.itemIdList = itemIds;
                    d.programIdList = programIds;
                    d.sessionIdList = sessionIds;
                    d.reportType = reportType;
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                    d.programSession = programSession;
                }
            }
        });
    }

    dataTableRender();
    $(document).on("click", "#search", function () {
        dataTableRender();
    });
    /*end render data table*/


    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId: organizationId,
            branchIdList : branchIds,
            goodsIssueType: goodsIssueType,
            purposeList : purposes,
            itemGroupIdList : itemGroupIds,
            itemIdList: itemIds,
            programIdList: programIds,
            sessionIdList : sessionIds,
            reportType : reportType,
            dateFrom : dateFrom,
            dateTo : dateTo,
            programSession : programSession
        };

        var url = "@Url.Action("ExportReport", "DirectGoodsIssue", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
    $("#print").click(function() {
        $("#printable").printThis();
    });
</script>

