﻿
@{
    ViewBag.Title = "Add Course/Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Add Course/Subject</div>
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("CourseOrSubjectAdd", "AddCourse", new { area = "Student" }, FormMethod.Get))
            {
                if (ViewBag.StudentRoll != null)
                {
                    <input type="text" value="@ViewBag.StudentRoll" class="form-control" maxlength="11" placeholder="Enter Program Roll" id="stdProRoll" name="stdProRoll" />
                }
                else
                {
                    <input type="text" value="" class="form-control" placeholder="Enter Program Roll" id="stdProRoll" name="stdProRoll" maxlength="11" />
                }

                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
            }
        </div>

    </div>

</div>

<script src="~/Scripts/jquery.validate.min.js"></script>