﻿
@{
    ViewBag.Title = "Cancel Course/Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Cancel Course/Subject</div>
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("CancelCourse", "AddCourse", new { area = "Student" }, FormMethod.Get))
            {
                <input type="text" class="form-control" placeholder="Enter Program Roll" id="stdProRoll" name="stdProRoll" />
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
            }
        </div>

    </div>

</div>