﻿@using UdvashERP.BusinessModel.ViewModel
@using UdvashERP.BusinessModel.ViewModel.StudentModuleView
@model UdvashERP.BusinessModel.ViewModel.StudentViewModel

@{
    ViewBag.Title = "Cancel Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .form-horizontal, .form-group {
        margin-right: -270px;
    }
</style>
<div class="totalPage">


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Student Personal Details</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MobNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MobNumber)
                        </dd>
                        <dt>
                            Version of Study :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.VersionOfStudyText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GenderText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Religion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReligionText)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Program)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Program)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Session)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Session)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Branch)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Branch)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Campus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Campus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BatchDays)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BatchDays)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BatchTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BatchTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Batch)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Batch)
                        </dd>

                    </dl>
                </div>
            </div>
            @Html.Hidden("stdProRoll", ViewData["stdPId"])
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4> Course Details </h4>
                </div>
                @foreach (CourseViewModel course in Model.CourseViewModels)
                {
                    <div class="panel-heading">
                        <input type="checkbox" class="@course.Name" checked="checked" data-courseid="@course.Id" data-programid="@course.ProgramId" readonly="readonly" />  @course.Name
                    </div>
                    <div class="panel-body @course.Name" data-bodyname="@course.Name">
                        @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                        {
                            <p>
                                <input type="checkbox" class="@course.Name" checked="checked" data-coursesubjectid="@courseSubject.Id" data-subjectname="@courseSubject.Name" data-payment="@courseSubject.Payment" readonly="readonly" />
                                @courseSubject.Name @courseSubject.Payment
                            </p>
                        }
                    </div>
                }
            </div>
        </div>
        @*<div class="col-md-12 text-center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Next" class="btn btn-primary" id="CancelCourseToStudent" />
                    </div>
                </div>
            </div>*@
    </div>
    <div class="paymentDueAfterCancellingCourseOrSubject">
        @if (ViewBag.PAYMENTDETAIL != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4> Payment Details </h4></div>
                        <div class="panel-body">

                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="ReceivableAmount" class="control-label col-md-2 ">DueAmount</label>
                                        <div class="col-md-10">
                                            <input type="text" value="@ViewBag.PAYMENTDETAIL.DueAmount.ToString("F")" readonly="readonly" name="dueAmount" id="dueAmount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="NonRFund" class="control-label col-md-2 ">Non Refundable Amount</label>
                                        <div class="col-md-10">
                                            <input type="text" value="" name="receivedAmount" id="nonRefundableAmount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="NetRFund" class="control-label col-md-2 ">Net Refundable Amount</label>
                                        <div class="col-md-10">
                                            <input type="text" value="" name="receivedAmount" id="netRefundableAmount" class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="ReceivableAmount" class="control-label col-md-2 ">Referrer</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("REFERRERLIST", (IEnumerable<SelectListItem>)ViewBag.REFERRERLIST, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ReceivableAmount" class="control-label col-md-2 ">Referrerence Note</label>
                                        <div class="col-md-10">
                                            <textarea name="ReferrerenceNote" id="referrerenceNote" rows="6" cols="3" class="form-control" placeholder=""></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2">
                                        <input type="button" value="Submit" id="courseCancelPayment" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/Admission.js"> </script>
    <script type="text/javascript" src="~/Scripts/Student/PaymentDetail.js"></script>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".form_datetime").datetimepicker({
                format: 'hh:ii',
                showMeridian: true,
                startView: 1,
                pickDate: false
            });
        });
    </script>
}

@*@{
        PaymentDetails paymentDetail = @ViewBag.DISCOUNTDETAILS;
        Html.RenderPartial("Partial/_PaymentDetails", paymentDetail);
    }*@
