﻿@using System.Text.RegularExpressions
@using UdvashERP.BusinessModel.ViewModel
@model UdvashERP.BusinessModel.ViewModel.StudentViewModel

@{
    ViewBag.Title = "CourseOrSubjectAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/bootstrap-datetimepicker")

<div class="totalPage">
    <div id="messageContainer"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"> <div class="panel-title">Student Personal Details</div></div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Program Roll No. :
                        </dt>

                        <dd>
                            @ViewData["stdPId"]
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MobNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MobNumber)
                        </dd>

                        <dt>
                            Version of Study :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.VersionOfStudyText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GenderText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Religion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReligionText)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Program)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Program)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Session)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Session)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Branch)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Branch)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Campus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Campus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BatchDays)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BatchDays)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BatchTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BatchTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Batch)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Batch)
                        </dd>

                    </dl>

                </div>
            </div>
        </div>

        @Html.Hidden("stdProRoll", ViewData["stdPId"])
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Course Details
                </div>
                @foreach (CourseViewModel course in Model.CourseViewModels)
                {
                    long index = 0;
                    string idsStr = "";
                    if (course.ComplementaryCourses!= null)
                    {
                        foreach (var complementaryCourse in course.ComplementaryCourses)
                        {
                            idsStr += complementaryCourse.CompCourse.Id + ",";
                            index++;
                        }
                    }

                    if ((course.IsTaken && !course.IsComplementaryCourse))
                    {
                        <div class="panel-heading" id="course-@course.Id-container">
                            <input type="checkbox" class="course-name-check course-@course.Id" checked="checked" data-course-id="@course.Id"
                                   data-course-name="@course.Name" data-program-id="@course.ProgramId" data-session-id="@course.SessionId" data-complemetarycourses="@idsStr" readonly="readonly" disabled="disabled" />
                            @course.Name
                        </div>
                        <div class="panel-body @course.Name course-@course.Id-subject-container" data-bodyname="@course.Name">
                            @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                            {
                                if (courseSubject.IsTaken)
                                {
                                    <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                        <p style="padding-left: 25px;">
                                            <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id"
                                                   data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment" checked="checked" readonly="readonly" disabled="disabled" />
                                            @courseSubject.Name - @Convert.ToInt32(courseSubject.Payment)
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                        <p style="padding-left: 25px;">
                                            <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id"
                                                   data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment" readonly="readonly" />
                                            @courseSubject.Name - @Convert.ToInt32(courseSubject.Payment)
                                        </p>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else if ((!course.IsTaken && !course.IsComplementaryCourse))
                    {

                        <div class="panel-heading" id="course-@course.Id-container">
                            <input type="checkbox" class="course-name-check  course-@course.Id" data-course-id="@course.Id"
                                   data-course-name="@course.Name" data-program-id="@course.ProgramId" data-session-id="@course.SessionId" data-complemetarycourses="@idsStr" readonly="readonly" />  @course.Name
                            </div>

                            <div class="panel-body @course.Name course-@course.Id-subject-container" data-bodyname="@course.Name">
                                @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                                {
                                    <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                        <p style="padding-left: 25px;">
                                            <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id"
                                                   data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment" readonly="readonly" />
                                            @courseSubject.Name - @Convert.ToInt32(courseSubject.Payment)
                                        </p>
                                    </div>
                                }
                            </div>
                    }
                    else if (!course.IsTaken && course.IsComplementaryCourse)
                    {
                        <div class="panel-heading" id="course-@course.Id-container">
                            <input type="checkbox" class="course-name-check course-@course.Id"
                                   @*checked="checked"*@
                                   data-course-id="@course.Id"
                                   data-course-name="@course.Name" data-program-id="@course.ProgramId" data-session-id="@course.SessionId" data-complemetarycourses="@idsStr" readonly="readonly" disabled="disabled" />
                            @course.Name
                        </div>
                        <div class="panel-body @course.Name course-@course.Id-subject-container" data-bodyname="@course.Name">
                            @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                            {
                                <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                    <p style="padding-left: 25px;">
                                        <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id"
                                               data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment"
                                               @*checked="checked"*@
                                               readonly="readonly" disabled="disabled" />
                                        @courseSubject.Name - @Convert.ToInt32(courseSubject.Payment)
                                    </p>
                                </div>
                            }
                        </div>
                    }
                    else if (course.IsTaken && course.IsComplementaryCourse)
                    {
                        <div class="panel-heading" id="course-@course.Id-container">
                            <input type="checkbox" class="course-name-check course-@course.Id" checked="checked" data-course-id="@course.Id"
                                   data-course-name="@course.Name" data-program-id="@course.ProgramId" data-session-id="@course.SessionId" data-complemetarycourses="@idsStr" readonly="readonly" disabled="disabled" />
                            @course.Name
                        </div>
                        <div class="panel-body @course.Name course-@course.Id-subject-container" data-bodyname="@course.Name">
                            @foreach (SubjectViewModel courseSubject in course.SubjectViewModels)
                            {
                                <div class="course-@course.Id-subject-@courseSubject.Id-container">
                                    <p style="padding-left: 25px;">
                                        <input type="checkbox" class="course-subject-check course-@course.Id-subjects" data-course-id="@course.Id"
                                               data-course-name="@course.Name" data-course-subject-id="@courseSubject.Id" data-course-subject-name="@courseSubject.Name" data-course-subject-payment="@courseSubject.Payment"
                                               @*checked="checked"*@
                                               readonly="readonly" disabled="disabled" />
                                        @courseSubject.Name - @Convert.ToInt32(courseSubject.Payment)
                                    </p>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-md-12 text-center" id="nextButtonContainer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Next" class="btn btn-primary" id="AddCourseToStudent" />
                </div>
            </div>
        </div>

    </div>

    <div class="paymentDue">

    </div>

</div>


@section Scripts {

    <script>

        $(document).ready(function () {

            $(document).on("change", "#nextRecDate", function (event) {
                var val = $("#nextRecDate").val();
                console.log(val);
                if (val.length > 0) {
                    showErrorMessageBelowCtrl("nextRecDate", "", false);
                }
            });

            $(document).on('click', '.course-name-check', function (event) {
                console.log("clicked course");
                var courseId = $(this).attr('data-course-id');
                
                if (courseId > 0) {
                    if ($(this).is(':checked') && $(this).attr('disabled') != 'disabled') {
                        console.log("Entered into checked box");
                        $(this).attr("data-newlytakencourse", "new");
                        $('.course-' + courseId + '-subjects').each(function (index, value) {
                            $(this).prop('checked', true);

                        });
                        /*complementary check here */
                        var comIdstr = $(this).attr('data-complemetarycourses');
                        var comIds = comIdstr.split(",");
                        console.log(comIdstr);

                        for (var i = 0; i < comIds.length; i++) { //complementary course
                            //console.log(comIds[i]);
                            $(".course-name-check").each(function (ind, val) { //total course list
                                var courseIdinner = $(this).attr("data-course-id");
                                if (courseIdinner == comIds[i]) { // check if this complemenary matches with any course if yes then disable this one.
                                    //disable this course along it's subject
                                    console.log("disable this course along it's subject");
                                    $(this).prop('checked', false);
                                    $(this).attr("disabled", true);

                                    $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                        $(this).prop('checked', false);
                                        $(this).attr("disabled", true);
                                    });
                                }
                            });
                        }
                    } else {
                        $(this).attr("data-newlytakencourse", "remove");
                        $('.course-' + courseId + '-subjects').each(function (index, value) {
                            $(this).prop('checked', false);
                            $(this).parent().find(".new").remove();
                            //if .new exits then remove it 


                        });
                        /*complementary check here */
                        var comIdstr1 = $(this).attr('data-complemetarycourses');
                        var comIds1 = comIdstr1.split(",");
                        console.log(comIdstr1);
                        //complementary course logic
                        for (var ii = 0; ii < comIds1.length; ii++) { //complementary course
                            $(".course-name-check").each(function (ind, val) { //total course list
                                var courseIdinner = $(this).attr("data-course-id");
                                if (courseIdinner == comIds1[ii]) { // check if this complemenary matches with any course if yes then disable this one.
                                    //disable this course along it's subject
                                    console.log("enable this course along it's subject");
                                    $(this).attr("disabled", false);
                                    $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                        $(this).attr("disabled", false);
                                    });
                                }
                            });
                        }
                    }
                }
            });

            $(document).on('click', '.course-subject-check', function () {

                console.log("clicked course subject");

                var courseId = $(this).attr('data-course-id');
                if (courseId > 0) {
                    if ($(this).is(':checked') && $(this).attr('disabled') != 'disabled') {
                        $('.course-' + courseId).prop('checked', true);

                        /*complementary check here */
                        var comIdstr = $('.course-' + courseId).attr('data-complemetarycourses');
                        console.log("single subject click " + comIdstr);
                        var comIds = comIdstr.split(",");
                        console.log(comIdstr);

                        for (var i = 0; i < comIds.length; i++) { //complementary course
                            //console.log(comIds[i]);
                            $(".course-name-check").each(function (ind, val) { //total course list
                                var courseIdinner = $(this).attr("data-course-id");
                                if (courseIdinner == comIds[i]) { // check if this complemenary matches with any course if yes then disable this one.
                                    //disable this course along it's subject
                                    console.log("disable this course along it's subject");
                                    $(this).prop('checked', false);
                                    $(this).attr("disabled", true);
                                    $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                        $(this).prop('checked', false);
                                        $(this).attr("disabled", true);
                                    });
                                }
                            });
                        }
                    }


                    if (!($(this).is(':checked')) && $(this).attr('disabled') != 'disabled') {
                        $(this).parent().find(".new").remove();
                    }

                    var allUnchecked = true;
                    $('.course-' + courseId + '-subjects').each(function (index, value) {
                        if ($(this).prop('checked')) {
                            allUnchecked = false;
                        }
                    });
                    if (allUnchecked) {
                        $('.course-' + courseId).prop('checked', false);

                        var comIdstr1 = $('.course-' + courseId).attr('data-complemetarycourses');
                        var comIds1 = comIdstr1.split(",");
                        console.log(comIdstr1);
                        //complementary course logic
                        for (var ii = 0; ii < comIds1.length; ii++) { //complementary course
                            $(".course-name-check").each(function (ind, val) { //total course list
                                var courseIdinner = $(this).attr("data-course-id");
                                if (courseIdinner == comIds1[ii]) { // check if this complemenary matches with any course if yes then disable this one.
                                    //disable this course along it's subject
                                    console.log("diaable this course along it's subject");
                                    $(this).attr("disabled", false);
                                    $('.course-' + courseIdinner + '-subjects').each(function (index, value) {
                                        $(this).attr("disabled", false);
                                    });
                                }
                            });
                        }

                    }
                }
            });

        });
    </script>

    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });
    </script>

    @*<script type="text/javascript" src="~/Scripts/Student/Admission.js"> </script>
        <script type="text/javascript" src="~/Scripts/Student/PaymentDetail.js"></script>*@
    <script type="text/javascript" src="~/Scripts/Student/AddCourse.js"> </script>
}