﻿@{
    ViewBag.Title = "Human Resource Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Member Management Area</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>