﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    UdvashERP.BusinessModel.Entity.Administration.LectureSettings lectureSettings = ViewBag.LectureSettingsModel;
   
    if (lectureSettings == null)
    {
        @*<div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Edit Lecture Plan</h3></div>
            <div class="panel-body">
                
            </div>
        </div>*@
    }

    else
    {      
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Update Lecture Plan</h3></div>
        <div class="panel-body">
            @using (Html.BeginForm()){
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">Organization</label>
                        <div class="col-md-10">
                            <select name="organization" disabled="disabled" class="form-control">
                                <option value="@lectureSettings.Course.Program.Organization.Id">@lectureSettings.Course.Program.Organization.Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">Program</label>
                        <div class="col-md-10">
                            <select name="program" disabled="disabled" class="form-control">
                                <option value="@lectureSettings.Course.Program.Id">@lectureSettings.Course.Program.Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">Session</label>
                        <div class="col-md-10">                            
                            <select name="session" disabled="disabled" class="form-control">
                                <option value="@lectureSettings.Course.RefSession.Id">@lectureSettings.Course.RefSession.Name</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">Course</label>
                        <div class="col-md-10">
                            <select name="course" disabled="disabled" class="form-control">
                                <option value="@lectureSettings.Course.Id">@lectureSettings.Course.Name</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">Subject</label>
                        <div class="col-md-10">
                            <select name="subject" disabled="disabled" class="form-control">
                                @if (lectureSettings.CourseSubject != null)
                                {
                                    <option value="@lectureSettings.CourseSubject.Subject.Id">@lectureSettings.CourseSubject.Subject.Name</option>
                                }
                                else
                                {
                                    <option value="">Combined</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">Lecture Name</label>
                        <div class="col-md-10">
                            <input name="classNamePrefix" id="classNamePrefix" value="@lectureSettings.ClassNamePrefix" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 text-right">No. of Class</label>
                        <div class="col-md-10">
                            <input name="numberOfClasses" id="numberOfClasses" value="@lectureSettings.NumberOfClasses" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" id="lectureSettingsId" name="lectureSettingsId" value="@lectureSettings.Id" /> 
                            <input type="button" value="Update" class="btn btn-primary" id="lecturePlanUpdate" />
                        </div>
                    </div>

                </div>
    }
        </div>
    </div>
    }
                
}
<div>
    @Html.ActionLink("Back to Manage", "Manage")
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Administration/Lecture/LectureUpdate.js"></script>
}