﻿
@{
    ViewBag.Title = "Lecture Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Add Lecture Plan</h3></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2 text-right">Organization</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control", @required = "required" })
                        <span data-valmsg-replace="true" data-valmsg-for="Organization" class="field-validation-valid"></span>                     
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 text-right">Program</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Program", Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control", @required = "required" })
                        <span data-valmsg-replace="true" data-valmsg-for="Program" class="field-validation-valid"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 text-right">Session</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                        <span data-valmsg-replace="true" data-valmsg-for="Session" class="field-validation-valid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 text-right">Course</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Course", Enumerable.Empty<SelectListItem>(), "Select Course", new { @class = "form-control", @required = "required" })
                        <span data-valmsg-replace="true" data-valmsg-for="Course" class="field-validation-valid"></span>
                    </div>
                </div>
             
                <div class="subList">

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Add" class="btn btn-primary" id="lecturePlanAdd" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to Manage", "Manage")
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Administration/Lecture/Lecture.js"></script> 
}
