﻿@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Add Lecture Settings", "LecturePlan", null, new { @class = "btn btn-primary" })
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        Manage Lecture Settings
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">
                    <th class="form-group">
                        @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "All", new { @class = "form-control" })
                    </th> 
                    <th class="form-group">
                        @Html.DropDownList("Program", Enumerable.Empty<SelectListItem>(), "All", new { @class = "form-control" })
                    </th> 
                    <th class="form-group">
                        @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "All", new { @class = "form-control" })
                    </th> 
                    <th class="form-group">
                        @Html.DropDownList("Course", Enumerable.Empty<SelectListItem>(), "All", new { @class = "form-control" })
                    </th> 
                    @*<th class="form-group">
                        @Html.DropDownList("Subject", Enumerable.Empty<SelectListItem>(), "All", new { @class = "form-control" })
                    </th>*@ 
                    


                </tr>
                <tr class="filteringRow form-group">
                    
                    <th class="form-group">
                        <input id="ClassNamePrefix" name="ClassNamePrefix" type="text" class="form-control filteringColumn" placeholder="Lecture Name" />
                    </th>
                    <th class="form-group">
                        <input id="NumberOfClasses" name="NumberOfClasses" type="text" class="form-control filteringColumn" placeholder="Number of Class" />
                    </th>

                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>


                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Sl.
                        </th>
                        <th>
                            Organization
                        </th>
                        <th>
                            Program
                        </th>
                        <th>
                            Session
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            Lecture Name
                        </th> 
                        <th>
                            Number of Class
                        </th>                                           
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Administration/Lecture/LectureManage.js"></script> 
    
}