﻿@using UdvashERP.BusinessRules.UInventory
@using UdvashERP.Models
@model UdvashERP.BusinessModel.ViewModel.UInventory.DirectGoodReceiveDetails
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
<script type='text/javascript' src='~/Content/Print/js/print.js'></script>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Direct Goods Receive</h3>
    </div>
    <div class="panel-body">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.Organization.Name </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head">Goods Receive No.</td>
                        <td>@Model.ReceivedNumber</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Good Receive Date</td>
                        <td>@Model.ReceivedDate.ToString("dd MMMM, yyyy")</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Organization</td>
                        <td>@Model.Branch.Organization.ShortName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch.Name</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Purpose</td>
                        <td>@Model.Purpose</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Supplier</td>
                        <td>@Model.Supplier.Name</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item Group</td>
                        <td>@Model.ItemGroup.Name</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item</td>
                        <td>@Model.Item.Name</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Program & Session</td>
                        <td>
                            @if (Model.ProgramSession != null)
                            {
                                @Model.ProgramSession
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                    </tr>
                </table>

            </div>
            <table id="items">
                <thead>
                    <tr>
                        <th>Received Quantity</th>
                        <th>Rate</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ReceivedQuantity</td>
                        <td>@Model.Rate</td>
                        <td>@Model.Value</td>
                    </tr>
                </tbody>

            </table>


            <div class="clearfix"></div>
            <br />
            <div class="row col-md-12">
                <label>
                    Remarks
                </label>
                <div class="">
                    @Model.Remarks
                </div>
            </div>
            <div style="margin-top: 100px;" class="col-md-12">
                <div class="pull-left text-center">
                    <div style="border-top: 1px solid black">
                        Received By
                    </div>
                </div>
                <div class="pull-right text-center">
                    <div>@HttpContext.Current.User.FullName()</div>
                    <div style="border-top: 1px solid black">
                        Store In Charge
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <br />
        </div>
        <div class="text-center">
            <button type="button" id="print" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Scripts/printThis.js"></script>
    <script>
        function printFunction() { }
        $("#print").click(function () {
            $("#page-wrap").printThis();
        });
    </script>

}