﻿@model UdvashERP.BusinessModel.ViewModel.MenuForm

@{
    ViewBag.Title = "Add Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Add Menu
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.MenuGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(x => x.MenuGroupId, (IEnumerable<SelectListItem>)ViewBag.MenuGroupList, "--Select Menu Group--", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.MenuGroupId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(x => x.ParentId, (IEnumerable<SelectListItem>)ViewBag.MenuList, "--Select Menu--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Menu Name", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(x => x.Area, (IEnumerable<SelectListItem>)ViewBag.areaList, "Select Area", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Area)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ControllersName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @*@Html.EditorFor(model => model.ControllerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Controller Name" } })*@
                                @Html.DropDownListFor(model => model.ControllersName, (IEnumerable<SelectListItem>)ViewBag.controllersList, "Select Controller", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ControllersName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActionName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @*@Html.EditorFor(model => model.ActionName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Action Name" } })*@
                                @Html.DropDownListFor(model => model.ActionName, (IEnumerable<SelectListItem>)ViewBag.actionsList, "Select Action", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ActionName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VariableNames, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.VariableNames, new { htmlAttributes = new { @class = "form-control", @placeholder = "Variable Name" } })
                                @Html.ValidationMessageFor(model => model.VariableNames)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                <div id="Generateurl" style="color: forestgreen"></div>
                }
</div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to Manage", "ManageMenu")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function() {
            var hostAddress = location.protocol + "//" + location.host;
            $("#Name").keyup(function() {
                
                displayGenerateUrl();

            });
            $("#MenuGroupId").change(function() {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Menu/GetMenuForDropDownList",
                    cache: false,
                    async: true,
                    data: { "groupId": $(this).val() },
                    success: function(result) {
                        if (result.hasOwnProperty('IsSuccess')) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s"
                            });
                        } else {
                            $("#ParentId").html(result);
                        }
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to update status.",
                            displayMessageType: "e"
                        });
                    }
                });
            });
            $("#Area").change(function() {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Menu/GetControllersForArea",
                    cache: false,
                    async: true,
                    data: { "area": $(this).val() },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        $("#ControllersName").html(result);
                        $('#ActionName').html("<option value=''>Select Action</option>");
                        $.unblockUI();
                    },
                    complete: function () {
                        displayGenerateUrl();
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to update Controllers.",
                            displayMessageType: "e"
                        });
                    }
                });
            });
            $("#ControllersName").change(function() {
                var controllerName = $(this).val();
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Menu/GetActionsForController",
                    cache: false,
                    async: true,
                    data: { "controller": controllerName },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                            $("#ActionName").html(result);
                        
                        $.unblockUI();
                    },
                    complete: function () {
                        displayGenerateUrl();
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.fn.customMessage({
                            displayMessage: "Unable to update Actions.",
                            displayMessageType: "e"
                        });
                    }
                });
            });
            $("#ActionName").change(function() {
                displayGenerateUrl();
               
            });
            $("#VariableNames").keyup(function() {
                displayGenerateUrl();
                
            });

            function displayGenerateUrl() {
                
                var menuName = $("#Name").val();
                if (menuName != "") menuName = menuName;
                else menuName = "";

                var areaName = $("#Area").val();
                if (areaName != "") {
                    if (areaName == "NoArea") areaName = "";
                    else areaName = areaName + "/";
                }
                else areaName = areaName;

                var actionName = $("#ActionName option:selected").text();
                if ($("#ActionName").val() != "") actionName = actionName ;
                else actionName = "";

                var controllerName = $("#ControllersName option:selected").text();
                if ($("#ControllersName").val() != "") controllerName = controllerName + "/";
                else controllerName = "";

                var variable = $("#VariableNames").val();
                //var str = "?/";
                if (variable != "") {
                    //var firstString = variable.slice(0, 1);
                    //if (str.indexOf(firstString) !== -1) variable = variable;
                    //else variable = "?value=" + variable;
                    variable = variable;
                }
                else variable = "";

                $("#Generateurl").html("<hr/><h3>" + menuName + "</h3> <h4>" + hostAddress + "/" + areaName + controllerName + actionName + variable + "</h4>");
            }


        });
    </script>
}
