﻿@model UdvashERP.BusinessModel.Entity.UserAuth.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Menu Delete
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <h3>Are you sure you want to delete this?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MenuGroup)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MenuGroup.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MenuSelfMenu)
                </dt>
                <dd>
                    @if (Model.MenuSelfMenu != null)
                    {
                        @Html.DisplayFor(model => model.MenuSelfMenu.Name)
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Menus)
                </dt>
                <dd>
                    @if (Model.Menus.Count()>0)
                    {
                        <ul>
                            @foreach (var submenu in Model.Menus)
                            {
                                <li>@submenu.Name;</li>
                            }
                        </ul>
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Rank)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rank)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ControllerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ControllerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActionName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActionName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VariableNames)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VariableNames)
                </dd>

                

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
               

            </dl>
        </div>

    </div>

</div>


<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ManageMenu") | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    }
</div>


