﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.UserAuth
@model UdvashERP.BusinessModel.Entity.UserAuth.Menu

@{
    ViewBag.Title = "Menu Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Menu Details
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            
            <div class="table-responsive">

                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.MenuGroup)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.MenuGroup.Name)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.MenuSelfMenu)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.MenuSelfMenu.Name)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Name)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Menus)</td>
                        <td style="text-align:  left">
                            @if (Model.Menus.Count() > 0)
                            {
                                <ul>
                                    @foreach (var submenu in Model.Menus)
                                    {
                                        <li>@submenu.Name;</li>
                                    }
                                </ul>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ControllerName)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ControllerName)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ActionName)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ActionName)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.VariableNames)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.VariableNames)</td>
                    </tr>
                   
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Rank)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Rank)</td>
                    </tr>
                    <tr>

                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Status) :</td>
                        @{
                            if (Model.Status == Menu.EntityStatus.Active)
                            {
                                <td style="text-align:  left">Active</td>
                            }
                            else
                            {
                                <td style="text-align:  left">Inactive</td>
                            }
                        }

                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateBy) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.CreateBy)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyBy) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyBy)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                    </tr>
                </table>
            </div>  
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Manage", "ManageMenu")
</div>

