﻿@using UdvashERP.BusinessModel.Dto
@model IEnumerable<UdvashERP.BusinessModel.Dto.AttendanceAdjustmentHrDto>
@{
    var count = 1;
}

<table id="hrAttendanceAdjustmentTableList" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th>@Html.DisplayName("Date")</th>
            <th>@Html.DisplayName("PIN")</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Department")</th>
            <th>@Html.DisplayName("Organization")</th>
            <th>@Html.DisplayName("Branch")</th>
            <th>@Html.DisplayName("Campus")</th>
            <th>@Html.DisplayName("Reason for Adjustment")</th>
            <th>@Html.DisplayName("Time From")</th>
            <th>@Html.DisplayName("Time To")</th>
            <th>@Html.DisplayName("Action")</th>
        </tr>
    </thead>
    <tbody class="text-center hrattendanceAdjustmentTableNew_table">
        @if (@Model != null)
        {
            foreach (AttendanceAdjustmentHrDto aa in @Model)
            {
                <tr id="tr@(count)">
                    <td><input id="date_@(count)" name="date@(count)" value="@if (aa.Date != null){@aa.Date.ToString("yyyy-MM-dd")}" type="text" class="form-control text-box single-line datepicker" placeholder="Date" readonly='readonly' /></td>
                    <td>
                        <input type="hidden" id="tableId@(count)" value="@aa.Id" class="tableId" />
                        <input type="hidden" id="employeeId@(count)" value="@aa.TeamMemberId" class="employeeId" />
                        <input type="text" id="employeePin@(aa.Pin)" class="form-control text-box single-line autoComplete" value="@aa.Pin" rowindex="@count" readonly="readonly" />
                    </td>
                    <td><input type="text" id="employeeName@(count)" value="@aa.Name" class="form-control text-box single-line employeeName" readonly="readonly" /></td>
                    <td><input type="text" id="employeeDept@(count)" value="@aa.Department" class="form-control text-box single-line employeeDept" readonly="readonly" /></td>
                    <td><input type="text" id="employeeOrg@(count)" value="@aa.Organization" class="form-control text-box single-line employeeOrg" readonly="readonly" /></td>
                    <td><input type="text" id="employeeBr@(count)" value="@aa.Branch" class="form-control text-box single-line employeeBr" readonly="readonly" /></td>
                    <td><input type="text" id="employeeCam@(count)" value="@aa.Campus" class="form-control text-box single-line employeeCam" readonly="readonly" /></td>
                    <td><input type="text" name="reasonforad@(count)" id="reasonforad_@(count)" value="@aa.Reason" class="form-control text-box single-line reasonForAdjustment" placeholder="Reason for Adjustment"></td>
                    <td>
                        <input type="text" name="timefrom@(count)" id="timefrom_@(count)" value="@if (aa.StartTime != null){@aa.StartTime.ToShortTimeString()}" class="form-control text-box single-line timeFrom" placeholder="Time From" readonly='readonly'>
                    </td>
                    <td>
                        <input type="text" name="timeto@(count)" id='timeto_@(count)' value="@if (aa.EndTime != null) {@aa.EndTime.ToShortTimeString()}" class="form-control text-box single-line timeTo" placeholder="Time To" readonly='readonly'>
                    </td>
                    <td>
                        <a type="link" href='#' class='glyphicon glyphicon-ok hrapproveTeamMemberAAd'></a>&nbsp;&nbsp;
                        <a href='#' class='glyphicon glyphicon-ban-circle hrrejectTeammemberAAd'></a>
                    </td>
                </tr>
             count++;
            }
        }
    </tbody>
</table>
