﻿@{
    ViewBag.Title = "MentorLeaveApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#la" aria-controls="la" role="tab" data-toggle="tab"><label style="font-size: 17px;font-family: fantasy">Apply For Leave</label></a></li>
        <li role="presentation"><a href="#rla" aria-controls="rla" role="tab" data-toggle="tab"><label style="font-size: 17px;font-family: fantasy">Recent Application</label></a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="la">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"> Pending List</h3></div>
                <div class="panel-body">
                    <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><strong>PIN</strong></th>
                                <th><strong>Name</strong></th>
                                <th><strong>Leave Type</strong></th>
                                <th><strong>Date From</strong></th>
                                <th><strong>Date To</strong></th>
                                <th><strong>Day</strong></th>
                                <th><strong>Reason</strong></th>
                                <th><strong>R.PIN</strong></th>
                                <th><strong>R.Name</strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody class="text-center"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="rla">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Recent History</h3></div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable")
<script type="text/javascript">
    function dataTableRender() {
        var pageSize = 10;
        //if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
        //    pageSize = parseInt($('#pageSize').val());
        //}
        //else {
        //    $('#PageSize').val(pageSize);
        //}
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //order: [[2, "asc"]],
            // "aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 5] }],
            ajax: {
                url: 'GetLeavePendingList',
                type: 'POST',
                data: function (d) {
                    }
            }
        });
    }
    dataTableRender();

</script>
