﻿@using UdvashERP.BusinessModel.Entity.Administration
@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Referrer>

@{ int i = (Convert.ToInt32(ViewBag.pageSize)) * (Convert.ToInt32(ViewBag.currentPage) - 1); }
@*@{ int i = 0; }*@
@if (Model != null)
        {
            foreach (var item in Model)
            {

    <tr>
        <td>
            @{ i++;}@i
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Code
        </td>
        <td>
            @if (item.Status == Referrer.EntityStatus.Active)
            {
                @Html.DisplayName("Active")
            }
            else
            {
                @Html.DisplayName("Inactive")
            }

        </td>
        <td>
            @item.Rank
            @if (item.Rank > ViewBag.MaxMinRank[0])
            {
                <a href="#" id="@item.Id" class="glyphicon glyphicon-arrow-up" data-action="up"></a>
            }
            @if (item.Rank < ViewBag.MaxMinRank[1])
            {
                <a href="#" id="@item.Id" class="glyphicon glyphicon-arrow-down" data-action="down"></a>
            }

        </td>
        

        <td>
          @Html.ActionLink(" ", "Edit", new { id = item.Id, PageSize = @ViewBag.PageSize, CurrentPage = @ViewBag.CurrentPage }, new { @class = "glyphicon glyphicon-pencil" })
          @*@Html.ActionLink(" ", "Details", new { id = sessions.Id, PageSize = Model.PageSize, CurrentPage = Model.CurrentPage }, new { @class = "glyphicon glyphicon-search" })
          @Html.ActionLink(" ", "Delete", new { id = sessions.Id, PageSize = Model.PageSize, CurrentPage = Model.CurrentPage }, new { @class = "glyphicon glyphicon-trash" })*@

        </td>
    </tr>
    }
}

<tr id="filterInfo" data-totalpage="@ViewBag.NumberOfPages" data-pagesize="@ViewBag.PageSize" data-currentpage="@ViewBag.CurrentPage">
    <td colspan="5" style="border-top:0px; padding-top:0px; padding-bottom:0px;"></td>
</tr>
