﻿@using UdvashERP.BusinessModel.Entity.Hr
@using UdvashERP.BusinessModel.ViewModel.Hr
@using UdvashERP.BusinessRules.Hr
@using UdvashERP.Services.Helper
@model IEnumerable<UdvashERP.BusinessModel.Dto.Hr.SalarySheetDto>
@Styles.Render("~/Content/styledatatable")

@{
    Layout = null;
    var month = ViewBag.Month;
    var year = ViewBag.Year;
    decimal totalBasicSalary = 0;
    decimal totalHouseRent = 0;
    decimal totalConveyance = 0;
    decimal totalMedical = 0;
    decimal totalGrossSalary = 0;
    decimal totalIncreament = 0;
    decimal totalArrear = 0;
    decimal totalSalaryWithoutDeduction = 0;
    decimal totalAbsent = 0;
    decimal totalLoan = 0;
    decimal totalTds = 0;
    decimal totalEbf = 0;
    decimal totalBank = 0;
    decimal totalCash = 0;
    decimal totalAmmount = 0;
    List<SalarySheet> salarySheetList = ViewBag.salarySheetList;
    SalarySheetFormViewModel salarySheetViewModel = ViewBag.ViewModel;
}

<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Salary Sheet</h4>
    </div>
    <div class="panel-body" id="salarySheetPanel">

        @if (Model != null && Model.Any())
        {
            <div class="col-md-12 text-center">
                <span style="font-weight: bold;">@ViewBag.Organization</span>
            </div>
            <div class="col-md-12 text-center">
                <span style="font-weight: bold;">@ViewBag.Branch </span>
            </div>
            <div class="col-md-12 text-center">
                <span style="font-weight: bold;">@ViewBag.Campus </span>
            </div>
            <div class="col-md-12 text-center">
                <span style="font-weight: bold;">@ViewBag.Department</span>
            </div>
            <div class="col-md-12 text-center " style="margin-top: 5px; font-size: 16px;">
                <span style="font-weight: bold;">Salary Sheet - @Enum.GetName(typeof(MonthsOfYear), month) @year</span>
            </div>

            <div style="overflow: scroll; max-height: 60vh;" id="parent">
                <table id="fixTable" class="table-bordered" cellpadding="2" cellspacing="2" width="50%">

                    <thead>

                        <tr>
                            <th colspan=11 style="border:none">
                            </th>
                            <th colspan="6">
                                Deduction
                            </th>
                            <th colspan=3>
                                Net payable
                            </th>
                            <th style="border:none">
                            </th>
                        </tr>

                        <tr>
                            <th>
                                PIN
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Basic Salary
                            </th>
                            <th>
                                House Rent
                            </th>
                            <th>
                                Conveyance
                            </th>
                            <th>
                                Medical
                            </th>
                            <th>
                                Gross Salary
                            </th>
                            <th>
                                Increament
                            </th>
                            <th>
                                Arrear
                            </th>
                            <th>
                                Total Salary
                            </th>
                            <th>
                                Zone
                            </th>
                            <th>
                                Absent
                            </th>
                            <th>
                                LWP
                            </th>
                            <th>
                                Loan
                            </th>
                            <th>
                                TDS
                            </th>
                            <th>
                                EBF
                            </th>
                            <th>
                                Bank
                            </th>
                            <th>
                                Cash
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Remarks/Special Note
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>

                    </thead>

                    <tbody class="text-center" id="salarySheetBody">
                        @foreach (var obj in Model)
                        {
                            var ssObj = salarySheetList != null ? salarySheetList.FirstOrDefault(x => x.TeamMember.Id == obj.TeamMemberId) : null;

                            obj.ZoneAmount = ssObj != null ? ssObj.FinalZoneAmount == obj.ZoneAmount ? ssObj.FinalZoneAmount : obj.ZoneAmount : obj.ZoneAmount;
                            obj.AbsentAmount = ssObj != null ? ssObj.FinalAbsentAmount == obj.AbsentAmount ? ssObj.FinalAbsentAmount : obj.AbsentAmount : obj.AbsentAmount;
                            obj.Loan = ssObj != null ? ssObj.FinalLoanRefund == obj.Loan ? ssObj.FinalLoanRefund : obj.Loan : obj.Loan;
                            obj.Remarks = ssObj != null ? ssObj.Remarks : obj.Remarks;
                            obj.BasicSalary = ssObj != null ? ssObj.BasicSalaryAmount : obj.BasicSalary;
                            obj.HouseRent = ssObj != null ? ssObj.HouseRentAmount : obj.HouseRent;
                            obj.Conveyance = ssObj != null ? ssObj.ConveyanceAmount : obj.Conveyance;
                            obj.Medical = ssObj != null ? ssObj.MedicalAmount : obj.Medical;
                            obj.GrossSalary = ssObj != null ? ssObj.GrossSalaryAmount : obj.GrossSalary;
                            obj.Increament = ssObj != null ? ssObj.IncreamentAmount : obj.Increament;
                            obj.Arrear = ssObj != null ? ssObj.ArrearAmount : obj.Arrear;
                            obj.TotalSalaryWithoutDeduction = ssObj != null ? ssObj.TotalSalaryAmount : obj.TotalSalaryWithoutDeduction;
                            obj.LeaveWithoutPayAmount = ssObj != null ? ssObj.LeaveWithoutPayAmount : obj.LeaveWithoutPayAmount;
                            obj.TdsAmount = ssObj != null ? ssObj.TdsAmount : obj.TdsAmount;
                            obj.Ebf = ssObj != null ? ssObj.EbfAmount : obj.Ebf;
                            obj.Bank = ssObj != null ? ssObj.BankAmount : obj.Bank;
                            obj.Cash = ssObj != null ? ssObj.CashAmount : obj.Cash;
                            obj.TotalAmount = ssObj != null ? ssObj.TotalAmount : obj.TotalAmount;

                            string za = ""; string am = ""; string la = ""; string rmks = ""; string bs = ""; string hr = "";
                            string cnvnc = ""; string ma = ""; string arrearAm = "";
                            string gsa = ""; string ia = ""; string tsa = ""; string lwp = ""; string tdsa = ""; string ebfa = "";
                            string ba = ""; string ca = ""; string ta = "";

                            if (ssObj != null)
                            {
                                if (ssObj.FinalZoneAmount != obj.ZoneAmount)
                                {
                                    za = ssObj.FinalZoneAmount.ToString();
                                }
                                if (ssObj.FinalAbsentAmount != obj.AbsentAmount)
                                {
                                    am = ssObj.FinalAbsentAmount.ToString();
                                }
                                if (ssObj.FinalLoanRefund != obj.Loan)
                                {
                                    la = ssObj.FinalLoanRefund.ToString();
                                }
                                if (ssObj.Remarks != obj.Remarks)
                                {
                                    rmks = ssObj.Remarks.ToString();
                                }
                                if (ssObj.BasicSalaryAmount != obj.BasicSalary)
                                {
                                    bs = ssObj.BasicSalaryAmount.ToString();
                                }
                                if (ssObj.HouseRentAmount != obj.HouseRent)
                                {
                                    hr = ssObj.HouseRentAmount.ToString();
                                }
                                if (ssObj.ConveyanceAmount != obj.Conveyance)
                                {
                                    cnvnc = ssObj.ConveyanceAmount.ToString();
                                }
                                if (ssObj.MedicalAmount != obj.Medical)
                                {
                                    ma = ssObj.MedicalAmount.ToString();
                                }
                                if (ssObj.GrossSalaryAmount != obj.GrossSalary)
                                {
                                    gsa = ssObj.GrossSalaryAmount.ToString();
                                }
                                if (ssObj.IncreamentAmount != obj.Increament)
                                {
                                    ia = ssObj.IncreamentAmount.ToString();
                                }
                                if (ssObj.ArrearAmount != obj.Arrear)
                                {
                                    arrearAm = ssObj.ArrearAmount.ToString();
                                }
                                if (ssObj.TotalSalaryAmount != obj.TotalSalaryWithoutDeduction)
                                {
                                    tsa = ssObj.TotalSalaryAmount.ToString();
                                }
                                if (ssObj.LeaveWithoutPayAmount != obj.LeaveWithoutPayAmount)
                                {
                                    lwp = ssObj.LeaveWithoutPayAmount.ToString();
                                }
                                if (ssObj.TdsAmount != obj.TdsAmount)
                                {
                                    tdsa = ssObj.TdsAmount.ToString();
                                }
                                if (ssObj.EbfAmount != obj.Ebf)
                                {
                                    ebfa = ssObj.EbfAmount.ToString();
                                }
                                if (ssObj.BankAmount != obj.Bank)
                                {
                                    ba = ssObj.BankAmount.ToString();
                                }
                                if (ssObj.CashAmount != obj.Cash)
                                {
                                    ca = ssObj.CashAmount.ToString();
                                }
                                if (ssObj.TotalAmount != obj.TotalAmount)
                                {
                                    ta = ssObj.TotalAmount.ToString();
                                }

                            }

                            <tr>
                                <td>@obj.Pin</td>
                                <td>@obj.Name</td>
                                <td>@obj.Designation</td>
                                <td>
                                    <strike>@bs</strike><br>@obj.BasicSalary
                                </td>
                                <td>
                                    <strike>@hr</strike><br>@obj.HouseRent
                                </td>
                                <td>
                                    <strike>@cnvnc</strike><br>@obj.Conveyance
                                </td>
                                <td>
                                    <strike>@ma</strike><br>@obj.Medical
                                </td>
                                <td>
                                    <strike>@gsa</strike><br>@obj.GrossSalary
                                </td>
                                <td>
                                    <strike>@ia</strike><br>@obj.Increament
                                </td>
                                <td>
                                    <strike>@arrearAm</strike><br>@obj.Arrear
                                </td>
                                <td>
                                    <strike>@tsa</strike><br>@obj.TotalSalaryWithoutDeduction
                                </td>
                                <td>
                                    <strike>@za</strike><br>
                                    <input id="@obj.Pin@("ZoneAmount")" class="1 form-control" style="width: 100px" type="text" value="@obj.ZoneAmount" />
                                </td>
                                <td>
                                    <strike>@am</strike><br>
                                    <input id="@obj.Pin@("AbsentAmount")" type="text" class="form-control" style="width: 100px" value="@obj.AbsentAmount" />
                                </td>
                                <td>
                                    <strike>@lwp</strike><br>@obj.LeaveWithoutPayAmount
                                </td>
                                <td>
                                    <strike>@la</strike><br>
                                    <input id="@obj.Pin@("Loan")" type="text" class="form-control" style="width: 150px" value="@obj.Loan" />
                                </td>
                                <td>
                                    <strike>@tdsa</strike><br>@obj.TdsAmount
                                </td>
                                <td>
                                    <strike>@ebfa</strike><br>@obj.Ebf
                                </td>
                                <td>
                                    <strike>@ba</strike><br>@obj.Bank
                                </td>
                                <td>
                                    <strike>@ca</strike><br>@obj.Cash
                                </td>
                                <td>
                                    <strike>@ta</strike><br>@obj.TotalAmount
                                </td>
                                <td>
                                    <strike>@rmks</strike><br>
                                    <textarea id="@obj.Pin@("Remarks")" class="form-control" placeholder="Remarks">@obj.Remarks</textarea>
                                </td>
                                <td><a href='#' data-id='' class='glyphicon glyphicon-th-list'></a></td>
                            </tr>
                            {
                                totalBasicSalary += (decimal)obj.BasicSalary;
                                totalHouseRent += (decimal)obj.HouseRent;
                                totalConveyance += (decimal)obj.Conveyance;
                                totalMedical += (decimal)obj.Medical;
                                totalGrossSalary += (decimal)obj.GrossSalary;
                                totalIncreament += (decimal)obj.Increament;
                                totalArrear += (decimal)obj.Arrear;
                                totalSalaryWithoutDeduction += (decimal)obj.TotalSalaryWithoutDeduction;
                                totalAbsent += (decimal)obj.AbsentAmount;
                                totalLoan += (decimal)obj.Loan;
                                totalTds += (decimal)obj.TdsAmount;
                                totalEbf += (decimal)obj.Ebf;
                                totalBank += (decimal)obj.Bank;
                                totalCash += (decimal)obj.Cash;
                                totalAmmount += (decimal)obj.TotalAmount;
                            }
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="">Sub Total</td>
                            <td>@totalBasicSalary</td>
                            <td>@totalHouseRent</td>
                            <td>@totalConveyance</td>
                            <td>@totalMedical</td>
                            <td>@totalGrossSalary</td>
                            <td>@totalIncreament</td>
                            <td>@totalArrear</td>
                            <td>@totalSalaryWithoutDeduction</td>
                            <td></td>
                            <td>@totalAbsent</td>
                            <td></td>
                            <td>@totalLoan</td>
                            <td>@totalTds</td>
                            <td>@totalEbf</td>
                            <td>@totalBank</td>
                            <td>@totalCash</td>
                            <td>@totalAmmount</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="footerTable">
                            <td colspan="12" style="text-align: left; margin-top: 10px;">&nbsp; <strong> Taka (In Word) :  @CommonHelper.DecimalToWords(totalAmmount)</strong></td>

                        </tr>
                    </tfoot>
                </table>

            </div>
            <br />
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <input type="button" id="RegenerateSalarySheet" value="Regenerate" class="btn btn-primary" />
                    <input type="button" id="ExportSalarySheet" value="Export" class="btn btn-primary" />
                    @if (!ViewBag.IsSubmit)
                    {
                        <input type="button" id="SaveDraft" value="Save Draft" class="btn btn-primary formSubmit" />
                        <input type="button" id="FinaleSubmit" value="Final Submit" class="btn btn-primary formSubmit" />
                    }
                </div>
            </div>

            <div class="clearfix"></div>
        }
        else
        {
            
            if (ViewBag.ErrMsg != null)
            {
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Error!</strong> @ViewBag.ErrMsg
                </div>
            }
            else
            {
                <div class="col-md-12 text-center" style="color: red">
                    NO Team Member Found!!
                </div>
            }
        }
    </div>
</div>
<script src="~/Scripts/tableHeadFixer.js"></script>

<script type="text/javascript">

    $(document).on("click", "#ExportSalarySheet", function() {

        var urlParam = {
            salarySheetViewModel : JSON.stringify(@Html.Raw(Json.Encode(@salarySheetViewModel)))
        };

        var url = "@Url.Action("ExportMemberListSalarySheet", "SalarySheet", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
    $(document).ready(function () {
        $("#fixTable").tableHeadFixer({ "left": 3, "foot": false });

        $("#RegenerateSalarySheet").click(function() {
            var array = @Html.Raw(Json.Encode(@salarySheetViewModel));
            var urlParam = {
                salarySheetViewModel: JSON.stringify(array),
            };
            $.ajax({
                type: "POST",
                url: $("body").attr("data-project-root") + "Hr/SalarySheet/RegenerateSalarySheet",
                cache: false,
                async: true,
                data: urlParam,
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {

                    $("#salarySheetTeamMemberList").html(response);

                    ShowHide();
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (result) {
                    $.unblockUI();
                }
            });
        });

        $(".formSubmit").click(function () {

            var modelList = [];
            var array = @Html.Raw(Json.Encode(@Model));
            for(var i = 0; i < array.length; i++) {
                var mdl = {};

                var finalZoneAmount = $('tbody#salarySheetBody').find("input[id^="+array[i].Pin+"ZoneAmount]").val();
                var finalAbsentAmount = $('tbody#salarySheetBody').find("input[id^="+array[i].Pin+"AbsentAmount]").val();
                var finalLoanAmount = $('tbody#salarySheetBody').find("input[id^="+array[i].Pin+"Loan]").val();
                var remarks = $('tbody#salarySheetBody').find("textarea[id^="+array[i].Pin+"Remarks]").val();

                //alert(remarks);

                mdl["TeamMemberId"] = array[i].TeamMemberId;
                mdl["SalaryHistoryId"] = array[i].SalaryHistoryId;
                mdl["SalaryOrganizationId"] = array[i].SalaryOrganizationId;
                mdl["SalaryBranchId"] = array[i].SalaryBranchId;
                mdl["SalaryCampusId"] = array[i].SalaryCampusId;
                mdl["SalaryDepartmentId"] = array[i].SalaryDepartmentId;
                mdl["SalaryDesignationId"] = array[i].SalaryDesignationId;
                mdl["OrganizationId"] = array[i].OrganizationId;
                mdl["BranchId"] = array[i].BranchId;
                mdl["CampusId"] = array[i].CampusId;
                mdl["DepartmentId"] = array[i].DepartmentId;
                mdl["DesignationId"] = array[i].DesignationId;
                mdl["Name"] = array[i].Name;
                mdl["Pin"] = array[i].Pin;
                mdl["Designation"] = array[i].Designation;
                mdl["BasicSalary"] = array[i].BasicSalary;
                mdl["HouseRent"] = array[i].HouseRent;
                mdl["Conveyance"] = array[i].Conveyance;
                mdl["Medical"] = array[i].Medical;
                mdl["GrossSalary"] = array[i].GrossSalary;
                mdl["Increament"] = array[i].Increament;
                mdl["Arrear"] = array[i].Arrear;
                mdl["ZoneAmount"] = array[i].ZoneAmount;
                mdl["FinalZoneAmount"] = finalZoneAmount;
                mdl["AbsentAmount"] = array[i].AbsentAmount;
                mdl["FinalAbsentAmount"] = finalAbsentAmount;
                mdl["LeaveWithoutPayAmount"] = array[i].LeaveWithoutPayAmount;
                mdl["Loan"] = array[i].Loan;
                mdl["FinalLoanRefund"] = finalLoanAmount;
                mdl["TdsAmount"] = array[i].TdsAmount;
                mdl["Ebf"] = array[i].Ebf;
                mdl["EbfForEmplyer"] = array[i].EbfForEmplyer;
                mdl["Bank"] = array[i].Bank;
                mdl["Cash"] = array[i].Cash;
                //mdl["ZoneSettingsId"] = array[i].ZoneSettingsId;
                //mdl["ZoneCount"] = array[i].ZoneCount;
                //mdl["ZoneDeductionMultiplier"] = array[i].ZoneDeductionMultiplier;
                //mdl["ZoneUnitAmount"] = array[i].ZoneUnitAmount;
                mdl["TotalAmount"] = array[i].TotalAmount;
                mdl["DeductionPerAbsent"] = array[i].DeductionPerAbsent;
                mdl["TotalAbsentDay"] = array[i].TotalAbsentDay;
                mdl["AbsentMultiplierFactor"] = array[i].AbsentMultiplierFactor;
                mdl["EbfSettingsId"] = array[i].EbfSettingsId;
                mdl["CalculationOn"] = array[i].CalculationOn;
                mdl["EmployeeContribution"] = array[i].EmployeeContribution;
                mdl["EmployerContribution"] = array[i].EmployerContribution;
                mdl["TotalSalaryWithoutDeduction"] = array[i].TotalSalaryWithoutDeduction;
                mdl["Remarks"] = remarks;
                mdl["EmploymentStatus"] = array[i].EmploymentStatus;
                modelList.push(mdl);
            }

            //alert("123");
            var urlParam = {
                salarySheetViewModel: JSON.stringify(modelList),
                buttonName: $(this).attr("id"),
                month: JSON.stringify(@Html.Raw(Json.Encode(@month))),
                year: JSON.stringify(@Html.Raw(Json.Encode(@year))),
            };
            $.ajax({
                type: "POST",
                url: $("body").attr("data-project-root") + "Hr/SalarySheet/SaveSalarySheet",
                cache: false,
                async: true,
                data: urlParam,
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {

                    if (response.IsSuccess) {
                        $.fn.customMessage({
                            displayMessage: response.returnResult,
                            displayMessageType: "s"
                        });
                        ShowHide();
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (result) {
                    $.unblockUI();
                }
            });

        });


    });


</script>
