﻿@{
    ViewBag.Title = "GoodsReceive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="goodrec">
    <div class="panel panel-primary">
        <div class="panel-heading">Work Order No.</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    @using (Html.BeginForm())
                    {
                        <input type="text" class="form-control" placeholder="Work Order No." id="worderNo" name="worderNo" maxlength="13" />
                        <br />
                        <input id="searchByworderNo" type="button" value="Submit" class="btn btn-primary btn-lg btn-block" />
                    }
                </div>
            </div>

        </div>
    </div>

    <div id="order-Info"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/UInventory/OrderedGoodsReceive.js"></script>
}