﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.OrderedGoodsReceiveViewModel
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")

@{
    ViewBag.Title = "ManageOrderedReceive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"> Ordered Goods Received </div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.organizationList, "--Organization--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.branchList, "--Branch--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="Item" name="Item" type="text" class="form-control " placeholder="Item" />
                </th>
                <th class="form-group">
                    <input id="workOrderDate" name="workOrderDate" type="text" readonly class="form-control form_datetime2 " placeholder="Work order Date" />
                </th>

                <th class="form-group">
                    <input id="workOrderNo" name="workOrderNo" type="text" class="form-control " placeholder="Work order no" />
                </th>

                <th class="form-group">
                    <input id="fDate" name="fDate" type="text" readonly class="form-control form_datetime1 " placeholder="Rec Date" />
                </th>
                <th class="form-group">
                    @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.StatusText, "--Status--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Organization")
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayName("Item")
                    </th>
                    <th>
                        <span>Work Order Date</span>
                        @*@Html.DisplayName("Work Order Date")*@
                    </th>
                    <th>
                        <span>Work Order No.</span>
                        @*@Html.DisplayName("Work Order No.")*@
                    </th>
                    <th>
                        @Html.DisplayName("Goods Receive Date")
                    </th>
                    <th>
                        <span>Goods Receive No.</span>@*@Html.DisplayName("Goods Receive No.")*@
                    </th>

                    <th style="width: 5%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>

<div class="form-group">
    @using (Html.BeginForm("GoodsReceive", "OrderedGoodsReceive", FormMethod.Get))
    {
        <div class="form-actions"><input type="submit" value="Receive Againt New Work Order" class="btn btn-primary" /></div>
    }
</div>

@section scripts {

    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        function dataTableRender() {

            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                //order: [[0, "desc"]],
                "bSort": false,
                ajax: {
                    url: '@Url.Action("ManageOrderedReceive", "OrderedGoodsReceive")',
                    type: 'POST',
                    data: function (d) {
                        d.organizationId = $('#Organization').val();
                        d.branchId = $('#Branch').val();
                        d.itemName = $('#Item').val();
                        d.receivedDate = $(".form_datetime1").val();
                        d.workOrderNo = $("#workOrderNo").val();
                        d.workOrderDate = $("#workOrderDate").val();
                        d.goodStatus = $('#Status').val();
                    }
                }
            });
        }


        $(document).ready(function () {
            var today = new Date();
            var initialFromDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialFromDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $('.form_datetime2').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialFromDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });

        $(document).ready(function () {
            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });
        });

        $(document).on('change', '#Organization', function () {
            try {
                console.log("fired");
                //Get organization and item group ID
                $("#Branch").html("<option value='' selected='selected'>Please Select Branch</option>");

                var orgId = $("#Organization").val();
                var url = $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch";
                var reqType = "Post";
                var data = { organizationIds: orgId, isAuthorized: true };
                if (orgId.length > 0) {
                    $.ajax({
                        type: reqType,
                        url: url,
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.fn.customMessage({
                                displayMessage: window.AJAX_ERROR,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                }
            } catch (e) {
                console.log(e);
            }
        });

    </script>
}