﻿@model UdvashERP.BusinessModel.Entity.Administration.SmsMask

@{
    ViewBag.Title = "Add Mask Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Add Mask Name</h4></div><div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Organization.OrganizationReference, (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.Organization.OrganizationReference)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mask Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="submit" value="Add" class="btn btn-primary" /></div></div>
            </div>
        }
    </div>
</div>
<div>@Html.ActionLink("Back to Manage", "ManageSmsMask")</div>
@section Scripts {@Scripts.Render("~/bundles/jqueryval")}