﻿@model UdvashERP.BusinessModel.Entity.Administration.SmsMask
@{
    ViewBag.Title = "Mask Name Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Mask Name Details</h3></div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-responsive table-striped">
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Organization.Name)</strong>
                </td>
                <td style="text-align:  left">
                    @if (Model.Organization != null)
                    {
                        <span>@Html.DisplayFor(model => model.Organization.ShortName)</span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                    
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Status)</strong>
                </td>
                @if (Model.Status == 1)
                {
                    <td style="text-align:  left">Active</td>
                }
                else
                {
                    <td style="text-align:  left">Inactive</td>
                }
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.CreateByText)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.CreateByText)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.CreationDate)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.CreationDate)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ModifyByText)</strong>
                </td>

                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ModifyByText)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ModificationDate)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ModificationDate)
                </td>
            </tr>
        </table>
    </div>
</div>
<p>@Html.ActionLink("Back to List", "ManageSmsMask")</p>