﻿@model UdvashERP.BusinessModel.Entity.Administration.SmsMask
@{
    ViewBag.Title = "Update Mask Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Update Mask Name</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Organization.OrganizationReference, ViewBag.organizationList as SelectList, "Select Organization", new { @class = "form-control", @id = "organizationId" })
                        @Html.ValidationMessageFor(model => model.Organization.OrganizationReference, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mask Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (ViewBag.Status != null)
                        {
                            <select id="Status" name="Status" class="form-control">
                                @if (ViewBag.Status != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.Status)
                                    {
                                        if (statusType.Value == Model.Status)
                                        {
                                            <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }
                                    }
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="submit" value="Update" class="btn btn-primary" /></div></div>
            </div>
        }
    </div>
</div>
<div>@Html.ActionLink("Back to List", "ManageSmsMask")</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function() {
            $("#organizationId").val(@ViewBag.SelectedOrganization);
        });

</script>
}