﻿@model UdvashERP.BusinessModel.Entity.UserAuth.MenuGroup

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Delete
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <h3>Are you sure you want to delete this?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rank) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rank)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Status) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ManageMenuGroup") | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    }
</div>

