﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Common
@using UdvashERP.BusinessModel.Entity.UserAuth
@model UdvashERP.BusinessModel.Entity.UserAuth.MenuGroup

@{
    ViewBag.Title = "Menu Group Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Menu Group Details
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <div class="table-responsive">

                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Name)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Rank)</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.Rank)</td>
                    </tr>
                    <tr>

                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Status) :</td>
                        @{
                            if (Model.Status == MenuGroup.EntityStatus.Active)
                            {
                                <td style="text-align:  left">Active</td>
                            }
                            else
                            {
                                <td style="text-align:  left">Inactive</td>
                            }
                        }

                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateBy) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.CreateBy)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyBy) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyBy)</td>
                    </tr>

                    <tr>
                        <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                        <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                    </tr>
                </table>
            </div>                        
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to Manage", "ManageMenuGroup")
</div>

