﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UserAuth.MenuGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "create", null, new { @class = "btn btn-primary" })
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        Menu Group List
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <table class="table">
                <thead>
                   
                    <tr class="filteringRow form-group">
                        <th>&nbsp;</th>
                        <th class="form-group">
                            @Html.TextBox("Name", "", new { @class = "filteringColumn form-control", @placeholder = "Menu Group" })
                        </th>
                        
                        <th class="form-group ">
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                <select id="Status" class="form-control filteringColumn2">
                                    <option value="">Select Status </option>
                                    @if (ViewBag.STATUSTEXT != null)
                                    {
                                        foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                        {

                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }
                                    }
                                </select>
                            }
                        </th>

                        <th class="form-group">
                            <input id="Rank" name="rank" type="text" class="form-control filteringColumn" placeholder="Rank" />
                        </th>                        

                        <th class="form-group">
                            <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                        </th>

                    </tr>
                    <tr>
                        <th>
                            Sr. No
                        </th>
                        <th>
                            Menu Group
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Rank
                        </th>
                        
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody id="model-list" class="data-display"></tbody>

                <tfoot>
                    <tr>
                        <td colspan="5" id="paginationBox"></td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/PageinationView")

    <script type="text/javascript">
        var defaultPage = @ViewBag.CurrentPage
        $.fn.pagination({
            defaultPage: defaultPage,
            ajaxUrl: $("body").attr("data-project-root") + "Administration/MenuGroup/MenuGroupList",
            partialViewDiv: "model-list",
            paginationDiv: "paginationBox",
            filtering: true
        });

        $(document).ready(function () {
            $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
                var id = $(this).attr("id");
                var current = $(this).parent().text().trim();
                var action = $(this).attr("data-action");
                //glyphicon glyphicon-arrow-up
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/MenuGroup/RankChange",
                    cache: false,
                    async: true,
                    data: { "id": id, "current": current, "action": action },
                    success: function (result) {
                        // bootbox.alert(result).css('margin-top', (($(window).height() / 4)));

                        $.fn.pagination({
                            defaultPage: $("#filterInfo").attr("data-currentPage"),
                            ajaxUrl: $("body").attr("data-project-root") + "Administration/MenuGroup/MenuGroupList",
                            partialViewDiv: "model-list",
                            paginationDiv: "paginationBox",
                            filtering: true
                        });
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });

            });
        });
    </script>
}
