﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.UserAuth.MenuGroup>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Menu Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add Menu Group", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        Manage Menu Group
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">
                   
                    <th class="form-group">
                        <input id="name" name="programName" type="text" class="form-control filteringColumn" placeholder="Program Name" />
                    </th>


                    <th class="form-group ">
                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="status" class="form-control filteringColumn2">
                                <option value="">Select Status </option>
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        <option value="@statusType.Value">@statusType.Key</option>
                                    }
                                }
                            </select>
                        }
                    </th>
                    <th class="form-group">
                        <input id="rank" name="rank" type="text" class="form-control filteringColumn" placeholder="Rank" />
                    </th>
                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                  

                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DisplayText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rank)
                        </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>           
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/MenuGroup")
}
