﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Dto
@model UdvashERP.BusinessModel.ViewModel.Hr.NightWorkFormViewModel
@{  ViewBag.Title = "Night Work Approval";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")

<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
     .form-horizontal .form-group {
         margin-left: 0px;
         margin-right: 0px;
     }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Night Work Approval</h3></div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pending">
                <div class="administrationBodyContent" style="margin-top: 10px;">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="  form-group">
                                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control form-date", @placeholder = "", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Date)
                                </div>
                                @Html.LabelFor(model => model.PinList, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PIN with space" } })
                                    @Html.ValidationMessageFor(model => model.PinList)
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="View" class="btn btn-primary" id="view" />
                                </div>
                            </div>

                        </div>
                    }
                </div>
                @{
                    List<NightWorkDto> nightWorkList = ViewBag.NightWorkList;
                    if (nightWorkList != null && nightWorkList.Any())
                    {

                        <div class="row" id="displayList">
                            <table class="table table-bordered text-center" width="100%">
                                <thead>
                                    <tr>
                                        <th>PIN</th>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Org.</th>
                                        <th>Branch</th>
                                        <th>Campus</th>
                                        <th>Designation</th>
                                        <th>In Time</th>
                                        <th>Out Time</th>
                                        <th>Night Work</th>
                                        <th>House</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dal in nightWorkList)
                                    {
                                        string fullbtnId = "full" + dal.TeamMemberId;
                                        string halfbtnId = "half" + dal.TeamMemberId;
                                        string nobtnId = "no" + dal.TeamMemberId;
                                        string inbtnId = "in" + dal.TeamMemberId;
                                        string outbtnId = "out" + dal.TeamMemberId;
                                        <tr>
                                            <td>@dal.Pin</td>
                                            <td>@dal.Name</td>
                                            <td>@dal.Department</td>
                                            <td>@dal.Organization</td>
                                            <td>@dal.Branch</td>
                                            <td>@dal.Campus</td>
                                            <td>@dal.Designation</td>
                                            <td>@dal.TimeFrom.ToString("hh:mm tt")</td>
                                            <td>@dal.TimeTo.ToString("hh:mm tt")</td>
                                            <td>
                                                @if (dal.ApprovalType == null || dal.ApprovalType == 0)
                                                {
                                                    <input type="radio" name="@dal.Pin" id="@nobtnId" class="no" value="@dal.Pin" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input type="radio" name="@dal.Pin" id="@nobtnId" class="no" value="@dal.Pin" />
                                                }
                                                <span>No &nbsp;&nbsp;</span>

                                                @if (dal.ApprovalType != null && dal.ApprovalType == Convert.ToInt32(HolidayWorkApprovalStatus.Half))
                                                {
                                                    <input type="radio" name="@dal.Pin" id="@halfbtnId" class="half" value="@dal.Pin" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input type="radio" name="@dal.Pin" id="@halfbtnId" class="half" value="@dal.Pin" />
                                                }
                                                <span>Half &nbsp;&nbsp;</span>

                                                @if (dal.ApprovalType != null && dal.ApprovalType == Convert.ToInt32(HolidayWorkApprovalStatus.Full))
                                                {
                                                    <input type="radio" name="@dal.Pin" id="@fullbtnId" class="full" value="@dal.Pin" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input type="radio" name="@dal.Pin" id="@fullbtnId" class="full" value="@dal.Pin" />
                                                }
                                                <span>Full &nbsp;&nbsp;</span>

                                            </td>
                                            <td>

                                                @if (Convert.ToInt32(dal.HouseWork) == (int)HouseStatus.In)
                                                {
                                                    <input type="radio" name="@inbtnId" id="@inbtnId" class="InHouse" value="@dal.Pin" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input type="radio" name="@inbtnId" id="@inbtnId" class="InHouse" value="@dal.Pin" />
                                                }
                                                <span>In &nbsp;&nbsp;</span>

                                                @if (Convert.ToInt32(dal.HouseWork) == (int)HouseStatus.Out)
                                                {
                                                    <input type="radio" name="@inbtnId" id="@inbtnId" class="OutHouse" value="@dal.Pin" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input type="radio" name="@inbtnId" id="@inbtnId" class="OutHouse" value="@dal.Pin" />
                                                }
                                                <span>Out &nbsp;&nbsp;</span>


                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="12" style="text-align: center;">
                                            <div class="form-group">
                                                <input type="button" value="Update" class="btn btn-primary" id="Update" />
                                            </div>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    }
                    else if (ViewBag.ShowNodata == true)
                    {
                        <div class="panel-body">
                            <table class="table table-bordered text-center" width="100%">

                                <tbody>
                                    <tr>
                                        <th colspan="6">
                                            No Data Found !!!!
                                        </th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    }
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="history">


            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript">
        function dataTableRender() {

            var pageSize = 100;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 3
                },
                //stateSave: false,
                order: [[4, "Asc"]],
                ajax: {
                    url: '@Url.Action("LoadNightWorkHistory", "NightWork")',
                    type: 'POST',
                    data: function (d) {
                        d.organizationId = $('#Organization').val();
                        d.branchId = $('#Branch').val();
                        d.campusId = $('#Campus').val();
                        d.departmentId = $("#Department").val();
                        d.pin = $('#pin').val();
                        d.dateFrom = $("#dateFrom").val();
                        d.dateTo = $("#dateTo").val();
                    }
                }
            });
        }


        $(document).on('change', '#Organization', function (e) {
            $("#Branch option").remove();
            $('#Branch').append("<option value=''>---Branch---</option>");
            $("#Campus option").remove();
            $('#Campus').append("<option value=''>---Campus---</option>");
            $("#Department option").remove();
            var orgId = $("#Organization").val();
            if (orgId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnBranchList, function (i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }

                        //Load Department
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                            type: "POST",
                            data: { organizationIds: orgId },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (responses) {
                                $('#Department').append('<option value="0">All Department</option>');
                                if (responses.IsSuccess) {
                                    $.each(responses.returndepartmentList, function (i, v) {
                                        $('#Department').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (responses) {
                                $.unblockUI();
                            }
                        });
                        //End Loading Department
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });


            }
        });

        $(document).on('change', '#Branch', function (e) {
            $("#Campus option").remove();
            $('#Campus').append("<option value=''>---Campus---</option>");
            var orgId = $("#Organization").val();
            var branchId = $("#Branch").val();
            if (orgId != "" && branchId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnCampusList, function (i, v) {
                                $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            var controls = $(this).attr("aria-controls");

            if (controls == "history") {

                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/NightWork/NightWorkHistory",
                    cache: false,
                    async: true,
                    //  data: { "filter": "empty" },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        console.log(result);
                        if (!result.hasOwnProperty("IsSuccess")) {
                            $("#history").html(result);

                            $(document).on("focus", "input.historyDate", function () {
                                var today = new Date();
                                var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                                $(this).datetimepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true,
                                    todayBtn: false,
                                    showMeridian: true,
                                    initialDate: today,
                                    //startDate: startDate,
                                    endDate: lastDay,
                                    startView: 2,
                                    minView: 2,
                                    maxView: 4
                                });
                            });
                            dataTableRender();


                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }

                    },
                    complete: function () {
                        $.unblockUI();

                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });
        $(document).on("click", "#search", function () {
            var dateFrom = $("#dateFrom").val();
            var dateTo = $("#dateTo").val();
            if (dateFrom > dateTo) {

                $.fn.customMessage({
                    displayMessage: "From Datetime must be less than or equal to To Datetime",
                    displayMessageType: "error",
                });
            }
            else {
                dataTableRender();
            }
        });

        $(document).ready(function () {
            //[0-9 ]+
            //var today = new Date();
            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            //var month = today.getMonth();
            //if (month == 0)
            //    month = 1;
            //var startDate = today.getFullYear().toString() + "-" + (month) + "-" + "01";
            //var startDate = today.getFullYear().toString() + "-" + (1) + "-" + "01";


            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();

            var pastMonth = new Date(today.setMonth(today.getMonth() - 1, 1));
            var startDate = pastMonth.getFullYear().toString() + "-" + (pastMonth.getMonth() + 1) + "-" + "01";

            var endDate = initialDate;
            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                //alert();
                if ($(".form-date").val() != "") {
                    $(".form-date").parent().find('span').remove();
                    $(".form-date").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');
                }
            });


            $(document).on("focus", "input.historyDate", function () {
                var today = new Date();
                var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                $(this).datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: today,
                    //startDate: startDate,
                    endDate: lastDay,
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
            });


            $(document).on("input propertychange", "#PinList ", function (event) {
                var input = $(this),
                    text = input.val().replace(/[^0-9 ]/g, "");
                input.val(text);
            });
        });

        $(document).on("click", "#Update", function (event) {
            var date = $("#Date").val();
            var pinList = "";//$("#PinList").val();
            var fullValues = "";
            var halfValues = "";
            var noValues = "";
            var inValues = "";
            var outValues = "";
            var a = [];
            var b = [];
            var c = [];
            var pinListArray = [];
            var d = [];
            var e = [];

            $(".InHouse:checked").each(function () {
                d.push(this.value);
                //pinListArray.push(this.value);
            });
            inValues = d.join(', ');

            $(".OutHouse:checked").each(function () {
                e.push(this.value);
                //pinListArray.push(this.value);
            });
            outValues = e.join(', ');

            $(".full:checked").each(function () {
                a.push(this.value);
                pinListArray.push(this.value);
            });
            fullValues = a.join(', ');

            $(".half:checked").each(function () {
                b.push(this.value);
                pinListArray.push(this.value);
            });
            halfValues = b.join(', ');

            $(".no:checked").each(function () {
                c.push(this.value);
                pinListArray.push(this.value);
            });

            noValues = c.join(', ');
            pinList = pinListArray.join(', ');
            $.ajax({
                type: "post",
                url: $("body").attr("data-project-root") + "Hr/NightWork/NightWorkSaveByHr",
                cache: false,
                async: true,
                data: { "date": date, "pinList": pinList, "fullValues": fullValues, "halfValues": halfValues, "noValues": noValues, "inValues": inValues, "outValues": outValues },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (result) {
                    $.unblockUI();
                    console.log(result);
                    //if (!result.hasOwnProperty("IsSuccess")) {

                    // }
                    if (result.IsSuccess) {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                        $("#displayList").remove();
                        $("#Date").val("");
                        $("#PinList").val("");
                    } else {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "error",
                        });
                    }

                },
                complete: function () {
                    $.unblockUI();

                },
                error: function (result) {
                    $.unblockUI();
                    console.log("Failed -----");
                }
            });
        });


        //$(document).on("click", ".glyphicon-ok,.glyphicon-ban-circle", function() {
        //    var id = $(this).attr("id");
        //    var pin = $(this).attr("data-pin");
        //    var date = $(this).attr("data-date");
        //    var className = $(this).attr("class");
        //    var ad = false;
        //    var message = "";
        //    var btnValue = "";
        //    if (className == "glyphicon glyphicon-ok") {
        //        btnValue = "Disapprove";
        //        ad = false;
        //        message = "<h3>Are you sure you want to <span class='confirm-message'>Disapprove</span> daily allowance this pin <span class='confirm-message'>" + pin + "</span> for date " + date + "?</h3>"
        //    } else if (className == "glyphicon glyphicon-ban-circle") {
        //        message = "<h3>Are you sure you want to <span class='confirm-message'>Approve</span> daily allowance this pin <span class='confirm-message'>" + pin + "</span> for date " + date + "?</h3>"
        //        ad = true;
        //        btnValue = "Approve";
        //    }

        //    console.log(className);
        //    console.log(id);
        //    if (pin != "" && date != "") {
        //        bootbox.confirm(message, function(result) {
        //            if (result) {

        //                $.ajax({
        //                    type: "post",
        //                    url: $("body").attr("data-project-root") + "Hr/NightWork/NightWorkUpdate",
        //                    cache: false,
        //                    async: true,
        //                    data: { "pin": pin, "date": date, "key": ad },
        //                    beforeSend: function() {
        //                        $.blockUI({
        //                            timeout: 0,
        //                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
        //                        });
        //                    },
        //                    success: function(result) {
        //                        $.unblockUI();

        //                        if (result.IsSuccess) {
        //                            $.fn.customMessage({
        //                                displayMessage: "Daily Allowance Approval Successfully",
        //                                displayMessageType: "success",
        //                            });
        //                            dataTableRender();
        //                            //customMessage
        //                        } else {
        //                            $.fn.customMessage({
        //                                displayMessage: result.Message,
        //                                displayMessageType: "e",
        //                            });
        //                        }
        //                    },
        //                    complete: function() {
        //                        $.unblockUI();
        //                    },
        //                    error: function(result) {
        //                        $.fn.customMessage({
        //                            displayMessage: "Daily Allowance Approval Failed",
        //                            displayMessageType: "e",
        //                        });
        //                    }
        //                });

        //            }
        //        }).css({ 'margin-top': (($(window).height() / 4)) });
        //    }
        //    return false;
        //});
    </script>
}

