﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Dto
@model UdvashERP.BusinessModel.ViewModel.Hr.NightWorkFormViewModel
@{  ViewBag.Title = "Night Work Approval";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Night Work Approval</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="  form-group">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control form-date", @placeholder = "", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Date)
                        </div>
                        @Html.LabelFor(model => model.PinList, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PIN with space" } })
                            @Html.ValidationMessageFor(model => model.PinList)
                        </div>
                        <div class="col-md-2 text-center">
                            <input type="submit" value="View" class="btn btn-primary" id="view" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{
    List<NightWorkDto> nightWorkList = ViewBag.NightWorkList;
    if (nightWorkList != null && nightWorkList.Any())
    {

        <div class="panel-body" id="displayList">
            <table class="table table-bordered text-center" width="100%">
                <thead>
                    <tr>
                        <th>PIN</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                        <th>Night Work Allowance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dal in nightWorkList)
                    {
                        string fullbtnId = "full" + dal.TeamMemberId;
                        string halfbtnId = "half" + dal.TeamMemberId;
                        string nobtnId = "no" + dal.TeamMemberId;
                        <tr>
                            <td>@dal.Pin</td>
                            <td>@dal.Name</td>
                            <td>@dal.Designation</td>
                            <td>@dal.TimeFrom.ToString("hh:mm tt")</td>
                            <td>@dal.TimeTo.ToString("hh:mm tt")</td>
                            <td>
                                @if (dal.ApprovalType == null || dal.ApprovalType==0)
                                {
                                    <input type="radio" name="@dal.Pin" id="@nobtnId" class="no" value="@dal.Pin" checked="checked" />
                                }
                                else
                                {
                                    <input type="radio" name="@dal.Pin" id="@nobtnId" class="no" value="@dal.Pin" />
                                }
                                <span>No &nbsp;&nbsp;</span>

                                @if (dal.ApprovalType != null && dal.ApprovalType == Convert.ToInt32(HolidayWorkApprovalStatus.Half))
                                {
                                    <input type="radio" name="@dal.Pin" id="@halfbtnId" class="half" value="@dal.Pin" checked="checked" />
                                }
                                else
                                {
                                    <input type="radio" name="@dal.Pin" id="@halfbtnId" class="half" value="@dal.Pin" />
                                }
                                <span>Half &nbsp;&nbsp;</span>

                                @if (dal.ApprovalType != null && dal.ApprovalType == Convert.ToInt32(HolidayWorkApprovalStatus.Full))
                                {
                                    <input type="radio" name="@dal.Pin" id="@fullbtnId" class="full" value="@dal.Pin" checked="checked" />
                                }
                                else
                                {
                                    <input type="radio" name="@dal.Pin" id="@fullbtnId" class="full" value="@dal.Pin" />
                                }
                                <span>Full &nbsp;&nbsp;</span>
                                

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6" style="text-align: center;">
                            <div class="form-group">
                                <input type="button" value="Update" class="btn btn-primary" id="Update" />
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>

    }
    else if (ViewBag.ShowNodata == true)
    {
        <div class="panel-body">
            <table class="table table-bordered text-center" width="100%">

                <tbody>
                    <tr>
                        <th colspan="6">
                            No Data Found !!!!
                        </th>
                    </tr>
                </tbody>
            </table>

        </div>
    }
        }

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function() {
            //[0-9 ]+
            //var today = new Date();
            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            ////var startDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + "01";
            //var startDate = today.getFullYear().toString() + "-" + (today.getMonth()) + "-" + "26";
            
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();

            var pastMonth = new Date(today.setMonth(today.getMonth() - 1, 1));
            var startDate = pastMonth.getFullYear().toString() + "-" + (pastMonth.getMonth() + 1) + "-" + "01";

            var endDate = initialDate;
            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                //alert();
                if ($(".form-date").val() != "") {
                    $(".form-date").parent().find('span').remove();
                    $(".form-date").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');
                }
            });


            $(document).on("input propertychange", "#PinList ", function(event) {
                var input = $(this),
                    text = input.val().replace(/[^0-9 ]/g, "");
                input.val(text);
            });
        });

        $(document).on("click", "#Update", function (event) {
            var date = $("#Date").val();
            //var pinList = $("#PinList").val();
            var fullValues = "";
            var halfValues = "";
            var noValues = "";
            var pinList = "";
            var inValues = "";
            var outValues = "";
            var a = [];
            var b = [];
            var c = [];
            var pinListArray = [];

            var d = [];
            var e = [];

            $(".InHouse:checked").each(function () {
                d.push(this.value);
                //pinListArray.push(this.value);
            });
            inValues = d.join(', ');

            $(".OutHouse:checked").each(function () {
                e.push(this.value);
                //pinListArray.push(this.value);
            });
            outValues = e.join(', ');

            $(".full:checked").each(function () {
                a.push(this.value);
                pinListArray.push(this.value);
            });
            fullValues = a.join(', ');

            $(".half:checked").each(function () {
                b.push(this.value);
                pinListArray.push(this.value);
            });
            halfValues = b.join(', ');

            $(".no:checked").each(function () {
                c.push(this.value);
                pinListArray.push(this.value);
            });
            noValues = c.join(', ');
            pinList = pinListArray.join(', ');

            $.ajax({
                type: "post",
                url: $("body").attr("data-project-root") + "Hr/NightWork/NightWorkSaveByMentor",
                cache: false,
                async: true,
                data: { "date": date, "pinList": pinList, "fullValues": fullValues, "halfValues": halfValues, "noValues": noValues, "inValues": inValues, "outValues": outValues },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (result) {
                    $.unblockUI();
                    console.log(result);
                    //if (!result.hasOwnProperty("IsSuccess")) {

                    // }
                    if (result.IsSuccess) {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "success",
                        });
                        $("#displayList").remove();
                        $("#Date").val("");
                        $("#PinList").val("");
                    }
                    else {
                        $.fn.customMessage({
                            displayMessage: result.Message,
                            displayMessageType: "error",
                        });
                    }

                },
                complete: function () {
                    $.unblockUI();

                },
                error: function (result) {
                    $.unblockUI();
                    console.log("Failed -----");
                }
            });
        });
    </script>
}





