﻿@using UdvashERP.BusinessModel.ViewModel.Hr
@model IEnumerable<UdvashERP.BusinessModel.ViewModel.Hr.LeaveApplicationViewModel>
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
        ViewBag.Title = "LeaveApprovedByHr";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
        int index = 0;
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
     input,select,textarea {
         max-width: 100%;
     }
    tr td:nth-child(0) input[type='text'] {
        width: 57px;
    }

    tr td:nth-child(1) input[type='text'] {
        width: 57px;
    }

    tr td:nth-child(2) input[type='text'] {
        width: 100px;
    }

    tr td:nth-child(3) p {
        width: 200px;
        padding-top: 4px;
        text-align: center
    }

    tr td:nth-child(4) p {
        width: 100px;
        padding-top: 4px;
        text-align: center
    }

    tr td:nth-child(5) p {
        width: 150px;
        padding-top: 4px;
        text-align: center;
    }

    tr td:nth-child(6) p {
        width: 150px;
        padding-top: 4px;
        text-align: center;
    }

    tr td:nth-child(7) > select {
        width: 242px;
    }

    tr td:nth-child(8) input[type='text'] {
        width: 100px;
    }

    tr td:nth-child(9) input[type='text'] {
        width: 100px;
    }

    tr td:nth-child(10) input[type='text'] {
        width: 55px;
        text-align: center;
    }

    tr td:nth-child(11) p {
        width: 100px;
        text-align: center;
    }

    tr td:nth-child(12) input[type='text'] {
        width: 400px;
    }

    tr td:nth-child(13) input[type='text'] {
        width: 60px;
    }

    tr td:nth-child(14) input[type='text'] {
        width: 135px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Leave Approval by HR
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="lApprovalHr">
            <li role="presentation" class="active">
                <a href="#HrPendingLeaveHistory" id="TabHrPendingLeaveHistory" aria-controls="la" role="tab" data-toggle="tab">Pending</a>
            </li>
            <li role="presentation">
                <a href="#HrLeaveHistory" class="a" id="TabHrLeaveHistory" aria-controls="rlaHr" role="tab" data-toggle="tab">History</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="HrPendingLeaveHistory">
                <br />
                <table id="tbl">
                    <tr class="filteringRow form-group">
                        <form name="searchPending" method="GET" action="">
                            <th class="form-group">
                                <input id="pendingPin" name="memberPin" type="text" class="form-control" placeholder="PIN" value="@ViewBag.MemberPin" />
                            </th>
                            <th class="form-group">
                                @Html.DropDownList("organization", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, new { @id = "organizationId", @class = "form-control " })
                            </th>
                            <th class="form-group">
                                @Html.DropDownList("department", (IEnumerable<SelectListItem>)ViewBag.DepartmentList, new { @id = "departmentId", @class = "form-control " })
                            </th>
                            <th class="form-group">
                                @Html.DropDownList("branch", (IEnumerable<SelectListItem>)ViewBag.BranchList, new { @id = "branchId", @class = "form-control " })
                            </th>
                            <th class="form-group">
                                @Html.DropDownList("campus", (IEnumerable<SelectListItem>)ViewBag.CampusList, new { @id = "campusId", @class = "form-control " })
                            </th>
                            <th>
                                <input id="date" name="date" type="text" class="form-control searchingDate" placeholder="Searching Date" value="@ViewBag.SearchingDate" />
                            </th>
                            <th class="form-group">
                                <input type="submit" name="search" id="searchPending" value="search" class="form-control btn btn-primary" />
                            </th>
                        </form>
                    </tr>
                </table>
                <br />
                <div class="displayData" style="max-height:60vh; overflow-x: scroll; overflow-y: scroll;">
                    <table id="leaveApplicationHrTable" class="table table-bordered table-condensed table-hover table-striped display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>PIN</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Organization</th>
                                <th>Branch</th>
                                <th>Campus</th>
                                <th>Leave Type</th>
                                <th>Date From</th>
                                <th>Date To</th>
                                <th>Day</th>
                                <th>App. Date</th>
                                <th>Reason</th>
                                <th>R.PIN</th>
                                <th>R.Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Any())
                                {
                                    foreach (LeaveApplicationViewModel item in Model)
                                    {
                                        index++;
                                        <tr class="@index" id="@index">
                                            @*<td style="display: none" class="0">
                                                <input id="@item.LeaveApplicationId" type="text" class="form-control leaveApplicationId" value="@item.LeaveApplicationId" disabled="disabled" />
                                            </td>*@
                                            <td class="1">
                                                <input id="@item.LeaveApplicationId" type="hidden" class="form-control leaveApplicationId" value="@item.LeaveApplicationId" />
                                                <input id="@item.TeamMemberPin-@index" type="text" class="form-control memberPin pinNumHr" value="@item.TeamMemberPin" disabled="disabled" />
                                            </td>
                                            <td class="2">
                                                <input id="@item.TeamMemberName-@index" type="text" class="form-control memberName" value="@item.TeamMemberName" disabled="disabled" />
                                            </td>
                                            <td class="3">
                                                <p class="department">@item.Department</p>
                                            </td>
                                            <td class="4">
                                                <p class="organization">@item.Organization</p>
                                            </td>
                                            <td class="5">
                                                <p class="branch">@item.Branch</p>
                                            </td>
                                            <td class="6">
                                                <p class="campus">@item.Campus</p>
                                            </td>
                                            <td class="7">
                                                <select id="LeaveId-@index" class="form-control memberLeaveType" name=''>
                                                    @foreach (var leave in item.Leaves)
                                                    {
                                                        if (leave.IsSelected)
                                                        {
                                                            <option class="form-control" title='vtt' value='@leave.LeaveId' selected="selected">@leave.ShowBalance</option>
                                                        }
                                                        else
                                                        {
                                                            <option class="form-control" title='vtt' value='@leave.LeaveId'>@leave.ShowBalance</option>
                                                        }

                                                    }
                                                </select>
                                            </td>
                                            <td class="8">
                                                <input id="date1-@item.LeaveApplicationId" type="text" class="form-control memberLeaveDateFrom form_datetime fixedwidthmax " value="@Convert.ToDateTime(item.DateFrom).ToString("yyyy-MM-dd")" readonly="readonly" />
                                            </td>
                                            <td class="9">
                                                <input id="date2-@item.LeaveApplicationId" type="text" class="form-control memberLeaveDateTo form_datetime fixedwidthmax" value="@Convert.ToDateTime(item.DateTo).ToString("yyyy-MM-dd")" readonly="readonly" />
                                            </td>
                                            <td class="10">
                                                <input type="text" class="form-control memberLeaveDayCount" value="@item.TotalLeaveDay" readonly="readonly" />
                                            </td>
                                            <td class="11">
                                                <p>@item.ApplicationDate</p>
                                            </td>
                                            <td class="12">
                                                <input id="reason-@index" type="text" class="form-control memberLeaveNote" value="@item.LeaveNote" />
                                            </td>
                                            <td class="13">
                                                <input id="responsible-@index" type="text" class="form-control memberLeaveResMemPin" value="@item.ResponsibleMemberPin" />
                                            </td>
                                            <td class="14">
                                                <input id="resname-@index" type="text" class="form-control memberLeaveResMemName" value="@item.ResponsibleMemberName" readonly="readonly" />
                                            </td>
                                            <td class="15">
                                                <a href="#" data-id="" class="glyphicon glyphicon-ok approvedbtnHr"> </a>
                                                <a href="#" data-id="" class="glyphicon glyphicon-remove rejectedbtnHr"> </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                @*<tr>
                                <td colspan="14" style="text-align: center">
                                    No Recored found!
                                </td>
                            </tr>*@
                                }
                        </tbody>
                    </table>
                </div>
                <br />
                <p> Total <span id="leaveApplicationCount">0</span> leave application(s) found.</p>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input id="addLeaveApplicationRowByHr" type="button" class="btn btn-primary pull-left" value="Add" />
                        <input id="leaveApplicationApproveAllByHr" type="button" class="btn btn-primary pull-right" value="Approve All" />
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="HrLeaveHistory">
                <br/>
                @Html.Action("HrLeaveHistory", "LeaveApprovalHr")
            </div>

        </div>
    </div>
</div>

<div class="modal fade col-md-12" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Leave Approval</h4>
            </div>
            <div class="modal-body">
                <div id="modalCustomMessage"></div>
                <div id="leaveContent">

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/LeaveApplicationHrMentor")
    <script type="text/javascript">
        $(document).ready(function() {

            $(document).on("focus", ".searchingDate", function() {
                $(this).datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: new Date(),
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
            });

            $(document).on("focus", "input.form_datetime", function () {
                //var today = new Date();
                //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
                //var startDate = today.getFullYear().toString() + "-" + (today.getMonth()) + "-" + "01";
                ////var startDate = today.getFullYear().toString() + "-" + (today.getMonth()) + "-" + "26";

                var today = new Date();
                var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();

                var pastMonth = new Date(today.setMonth(today.getMonth() - 1, 1));
                var startDate = pastMonth.getFullYear().toString() + "-" + (pastMonth.getMonth() + 1) + "-" + "01";

                $(this).datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: initialDate,
                    startDate: startDate,
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
            });
        });
    </script>
}