﻿@using UdvashERP.BusinessModel.Entity
@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Course>
@{int i = 0;}
<thead>
    <tr>
        <th>Sl</th>
        <th>Course</th>
        <th>Min.Subject</th>
    </tr>
</thead>
<tbody>
    @foreach (var course in Model)
    {
        var totalSubject = course.CourseSubjects.Count();
        
        <tr class="checkMinSubjectUponCourse">
            <td>@{ i++;}@i</td>
            <td><input type="checkbox" data-courseid="@course.Id" id="@course.Id" /> &nbsp;&nbsp;&nbsp;@course.Name</td>
            <td>
                <select class="form-control" name='totalSubject' data-mincourse="@course.Name@totalSubject">
                    <option title='Select Min' value=''>Select Min. </option>
                    @for (int ii = 1; ii <= totalSubject; ii++)
                    {
                        <option title='@ii' value='@ii'>@ii</option>
                    }
                </select>
            </td>

        </tr>
    }
</tbody>



