﻿@using System.Web.UI.WebControls
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@using UdvashERP.BusinessModel.Entity
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentTranferViewModel

@{
    ViewBag.Title = "Student Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // var checkBlocked = TempData["checkBlocked"];
   // var blockedMessage = TempData["BlockedMessage"];
}
    <div class="BlockMsg text-center"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">Student Transfer</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div style="padding-left: 35%;">
                        @Html.EditorFor(model => model.PrnNo, new { htmlAttributes = new { @class = "form-control", @id = "PrnNoFirst", PlaceHolder = "Program Roll", maxlength = "11" } })
                        <input type="button" value="Find Student" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px;" id="studentPrn" />
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @*<input type="hidden" value="Find Student" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px;" id="studentPrn" />*@
                    <div id="DisplayStudentData"></div>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
        <script type="text/javascript">
            function responseReturn() {
                $("#DisplayStudentData").empty();
                $.ajax({
                    url: '@Url.Action("GetDataByPrn", "StudentTransfer")',
                    type: "POST",
                    cache: false,
                    async: true,
                    data: { "prnumber": $("#PrnNoFirst").val() },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.hasOwnProperty('IsSuccess')) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e"
                            });
                        } else {
                            $("#DisplayStudentData").html(response);
                        }
                    },
                    complete: function () {
                        var isChecked = $("#chBlock").val();
                        var msg = $("#blockMessage").val();
                        if (isChecked == "true") {
                            $(".BlockMsg").html("<div class='alert alert-danger '><a class='close' data-dismiss='alert'>×</a><strong>Error!</strong>" + msg + "</div>");
                        } else {
                            $(".BlockMsg").html("");
                        }
                        $.unblockUI();


                    },
                    error: function (response) {
                        $.unblockUI();
                        //bootbox.alert("Please correct Program roll.").css('margin-top', (($(window).height() / 4)));
                        $.fn.customMessage({
                            displayMessage: "Please correct Program roll",
                            displayMessageType: "e"
                        });
                    }
                });
            }

            $(document).ready(function () {
                //$(".panel-body form").submit(function() {
                //    return false;
                //});


                $('#PrnNoFirst').keydown(function (e) {
                    if (e.keyCode == 13) {
                        responseReturn();
                    }
                });


                $("#studentPrn").click(function () {
                    responseReturn();
                });

            });

        </script>
    }
