﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentTransferSettlementViewModel

@{
    ViewBag.Title = "StudentTransferListReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Transfer Settlement Report</h4>
    </div>
    <div class="panel-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style=" padding:2%">
                <div style="background-color:#FFF ">
                    <p style="text-align: center">
                        <span style="text-align: center;font-size: 22px">@TempData["organizationName"]</span>
                        <span style="text-align: center;font-size: 20px"></span>
                    </p>
                    <p style="text-align: center"><span style="text-align: center;font-size: 18px">@TempData["programSession"]</span></p>
                    <p style="text-align: center"><span style="text-align: center;font-size: 16px;font-weight: bold">Settlement List</span></p>
                    <table class="table table-bordered  table-responsive">
                        <tr>
                            <td style="text-align: left; font-weight:bold;" class="col-md-2">From Branch </td>
                            <td style="text-align: left" class="col-md-2">@TempData["fromBranch"]</td>
                            <td style="text-align: left; font-weight:bold;width: 14%" class="col-md-2">To Branch </td>
                            <td style="text-align: left" class="col-md-2">@TempData["toBranch"]</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-weight:bold;" class="col-md-2">From Campus </td>
                            <td style="text-align: left" class="col-md-2">@TempData["fromCampus"]</td>
                            <td style="text-align: left; font-weight:bold;" class="col-md-2">To Campus </td>
                            <td style="text-align: left" class="col-md-2">@TempData["toCampus"]</td>
                        </tr>
                    </table>
                </div>
            </div>
            <table id="tableDiv">
                <tr class="form-group">
                    <th class="form-group">
                        <input id="PrnNo" name="PrnNo" type="text" class="form-control " placeholder="Program Roll" />
                    </th>
                    <th class="form-group">
                        <input id="Name" name="Name" type="text" class="form-control " placeholder="Student Name" />
                    </th>
                    <th class="form-group">
                        <input id="Mobile" name="Mobile" type="text" class="form-control " placeholder="Student Mobile" />
                    </th>

                    <th class="form-group">
                        <input id="PageSize" name="PageSize" type="text" class="form-control" placeholder="No of Data" />
                    </th>

                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                    <th class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                        </div>
                    </th>

                </tr>
            </table>

            <br />

            @* this table is responsible for table header and dynamic data *@
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                <thead>
                    <tr>

                        <th>
                            Sl
                        </th>
                        <th>
                            Program Roll
                        </th>
                        <th>
                            Student's Full Name
                        </th>
                        <th>
                            Student's Nick Name
                        </th>
                        <th>
                            Mobile
                        </th>
                        <th>
                            Payable
                        </th>
                        <th>
                            Receivable
                        </th>
                        <th>
                            Due Amount
                        </th>
                        <th>
                            Transfer Date
                        </th>
                        <th>
                            <input type="checkbox" id="settleAllCheck"/>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th class="totalPayable" payamount="0">0</th>
                        <th class="totalReceivable" receiveAmount="0">0</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody class="text-center"></tbody>
            </table>
        </div>
        <p class="text-center">
            <strong>Total Payable :<span class="tp">0</span></strong>
        </p>
        <p class="text-center">
            <strong>Total Receivable:<span class="tr">0</span></strong>
        </p>
        <p class="text-center">
            <button id="settleAmount" name="settleAmount" type="button" class="btn btn-primary">Settle</button>
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")

<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
 <script type="text/javascript">

        $(document).ready(function() {

            $(document).on('click', '#settleAmount', function() {
                var selectedValues = new Array();
                $(".sCheckbox:checked").each(function() {
                    selectedValues.push($(this).val());
                });
                console.log(selectedValues);
                if (selectedValues.length > 0) {
                    $.ajax({
                        url: '@Url.Action("StudentTransferCompletelySettled", "StudentTransfer")',
                        type: "POST",
                        cache: false,
                        async: true,
                        data: { transferIds: selectedValues },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            //console.log(result);
                            $.unblockUI();
                            if (result.IsSuccess == true) {
                                $.fn.customMessage({
                                    displayMessage: "Successfully Updated",
                                    displayMessageType: "s",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.IsError,
                                    displayMessageType: "e",
                                });
                            }
                        },
                        complete: function() {
                            dataTableRender();
                            $(".tp").html("0");
                            $(".tr").html("0");
                            $.unblockUI();
                        },
                    });
                }
            });
        });
        /* render data table*/

        var programId = @Model.ProgramId;
        var sessionId = @Model.SessionId;

        var selectedFromBranch = @Html.Raw(Json.Encode(@Model.BranchFormId));
        var selectedFromCampus = @Html.Raw(Json.Encode(@Model.CampusFromId));
        var selectedToBranch = @Html.Raw(Json.Encode(@Model.BranchToId));
        var selectedToCampus = @Html.Raw(Json.Encode(@Model.CampusToId));
        @*var dateFrom = @Html.Raw(Json.Encode(@Model.DateFrom));
        var dateTo = @Html.Raw(Json.Encode(@Model.DateTo));*@
        var dateFrom = '@Model.DateFrom';
        var dateTo = '@Model.DateTo';
        function dataTableRender() {
            $(".dataTables_scrollFoot table tfoot .totalPayable").html("0");
            $(".dataTables_scrollFoot table tfoot .totalReceivable").html("0");
            $(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount", 0);
            $(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount", 0);
            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                order: [[0, "desc"]],
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [(lastColumn - 1)]
                    }
                ],
                ajax: {
                    url: '@Url.Action("StudentTransferSettleReportAjaxRequest", "StudentTransfer")',
                    type: 'POST',
                    data: function(d) {
                        d.programId = programId;
                        d.sessionId = sessionId;
                        d.selectedFromBranch = selectedFromBranch;
                        d.selectedFromCampus = selectedFromCampus;
                        d.selectedToBranch = selectedToBranch;
                        d.selectedToCampus = selectedToCampus;
                        d.dateFrom = dateFrom;
                        d.dateTo = dateTo;
                        d.prnNo = $("#PrnNo").val();
                        d.name = $("#Name").val();
                        d.mobile = $("#Mobile").val();
                    }
                }
            });
        }

        dataTableRender();
        $(document).on("click", "#search", function() {
            dataTableRender();
        });
        /*end render data table*/


        $(document).on("click", "#export", function() {
            var urlParam = {
                programId: programId,
                sessionId: sessionId,
                selectedFromBranch: selectedFromBranch,
                selectedFromCampus: selectedFromCampus,
                selectedToBranch: selectedToBranch,
                selectedToCampus: selectedToCampus,
                dateFrom :dateFrom,
                dateTo:dateTo,
                prnNo: $("#PrnNo").val(),
                name: $("#Name").val(),
                mobile: $("#Mobile").val(),
            };
            var url = "@Url.Action("ExportStudentTransferSettlementList", "StudentTransfer", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        });
        $(document).ready(function() {
            $('#settleAllCheck').click(function(event) {
                var tPaySum = 0;
                var tRecSum = 0;
                if (this.checked) {
                    $('.sCheckbox').each(function() {
                        this.checked = true;
                        var payable = $(this).attr("payable");
                        var receivable = $(this).attr("receivable");
                        if (payable.length > 0) {
                            tPaySum += parseInt(payable);
                        } else if(receivable.length>0) {
                            tRecSum += parseInt(receivable);
                        }
                    });
                    $(".dataTables_scrollFoot table tfoot .totalPayable").html(tPaySum);
                    $(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount", tPaySum);

                    $(".dataTables_scrollFoot table tfoot .totalReceivable").html(tRecSum);
                    $(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount", tRecSum);

                    if ((tPaySum - tRecSum) >= 0) {
                        $(".tp").html(tPaySum - tRecSum);
                        $(".tr").html("0");
                    } else {
                        $(".tp").html("0");
                        $(".tr").html(tRecSum - tPaySum);
                    }
                } 
                else {
                    $('.sCheckbox').each(function() {
                        this.checked = false;
                    });
                    $(".dataTables_scrollFoot table tfoot .totalPayable").html("0");
                    $(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount", "0");

                    $(".dataTables_scrollFoot table tfoot .totalReceivable").html("0");
                    $(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount", "0");

                    $(".tp").html("0");
                    $(".tr").html("0");
                }
            });
            $('#DataGrid tbody').on('click', 'input[type="checkbox"]', function(e) {
                var payable = parseInt($(this).attr("payable"));
                var receivable = parseInt($(this).attr("receivable"));
                var totalPayamount = parseInt($(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount"));
                var totalReceiveAmount = parseInt($(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount"));
                var totalPay = 0;
                var totalReceive = 0;
                if (this.checked) {
                    if (payable >= 0) {
                        totalPay = totalPayamount + payable;
                        $(".dataTables_scrollFoot table tfoot .totalPayable").html(totalPay);
                        $(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount", totalPay);
                    } else {
                        totalReceive = totalReceiveAmount + receivable;
                        $(".dataTables_scrollFoot table tfoot .totalReceivable").html(totalReceive);
                        $(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount", totalReceive);
                    }
                    var a = parseInt($(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount"));
                    var b = parseInt($(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount"));
                    if ((a - b) >= 0) {

                        $(".tp").html(a - b);
                        $(".tr").html("0");
                    } else {
                        $(".tp").html("0");
                        $(".tr").html(b - a);
                    }
                } else {
                    if (payable >= 0) {
                        totalPay = totalPayamount - payable;
                        $(".dataTables_scrollFoot table .totalPayable").html(totalPay);
                        $(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount", totalPay);
                    } else {
                        totalReceive = totalReceiveAmount - receivable;
                        $(".dataTables_scrollFoot table tfoot .totalReceivable").html(totalReceive);
                        $(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount", totalReceive);
                    }
                    var c = parseInt($(".dataTables_scrollFoot table tfoot .totalPayable").attr("payamount"));
                    var d = parseInt($(".dataTables_scrollFoot table tfoot .totalReceivable").attr("receiveAmount"));
                    if ((c - d) >= 0) {

                        $(".tp").html(c - d);
                        $(".tr").html("0");
                    } else {
                        $(".tp").html("0");
                        $(".tr").html(d - c);
                    }
                }
            });
        });
    </script>
}