﻿@using UdvashERP.BusinessRules
@Styles.Render("~/Content/styledatatable")
@model UdvashERP.Areas.Student.Models.StudentInfoTransfer

@{
    ViewBag.Title = "StudentTransferListReport";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}




<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Transfer Report</h4>
    </div>
    <div class="panel-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table id="tableDiv">
                <tr class="form-group">
                    <th class="form-group">
                        <input id="PrnNo" name="PrnNo" type="text" class="form-control " placeholder="Program Roll" />
                    </th>
                    <th class="form-group">
                        <input id="Name" name="Name" type="text" class="form-control " placeholder="Student Name" />
                    </th>
                    <th class="form-group">
                        <input id="Mobile" name="Mobile" type="text" class="form-control " placeholder="Student Mobile" />
                    </th>

                    <th class="form-group">
                        <input id="PageSize" name="PageSize" type="text" class="form-control" placeholder="No of Data" />
                    </th>

                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>
                    <th class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                        </div>
                    </th>

                </tr>
            </table>

            <br />

            @* this table is responsible for table header and dynamic data *@
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                <thead>
                    <tr>

                        <th>
                            Sl
                        </th>
                        <th>
                            Program Roll
                        </th>
                        <th>
                            Student's Name
                        </th>
                        @*<th>
                            Mobile
                        </th>*@
                        <th>
                            Previous Branch
                        </th>
                        <th>
                            Previous Campus
                        </th>
                        <th>
                            Current Branch
                        </th>
                        <th>
                            Current Campus
                        </th>
                        @*<th>
                            Current Batch
                        </th>*@
                        <th>
                            Receiveable
                        </th>
                        <th>
                            Payable
                        </th>
                        <th>
                            Due Amount
                        </th>
                        <th>
                            Transfer Date
                        </th>
                        <th>
                            Is Settled
                        </th>
                        @*<th>
                            T.S.N.
                        </th>*@

                        <th>
                            Action
                        </th>


                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>

            @* ----------------------------------------------------------------------------------------------------- *@
        </div>

    </div>

 

</div>

@Scripts.Render("~/bundles/datatable")
    
    <script type="text/javascript">


    /* render data table*/

    var programId = @Model.ProgramId;
    var sessionId = @Model.SessionId;
    var organizationId = @Model.OrganizationId;
    var selectedFromBranch = @Html.Raw(Json.Encode(@Model.SelectedFromBranch));
    var selectedFromCampus = @Html.Raw(Json.Encode(@Model.SelectedFromCampus));
        
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    function dataTableRender() {
        var pageSize = 10;
        if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
            pageSize = parseInt($('#PageSize').val());
        } else {
            $('#PageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [(lastColumn - 1)]
                }
            //    ,
            //     {
            //         "targets": [ 3 ],
            //         "visible": false,
            //         "searchable": false
            //     }
            //    ,
            //{
            //    "targets": [ 8 ],
            //    "visible": false,
            //    "searchable": false
            //}
            ],
            ajax: {

                url: '@Url.Action("StudentTransferReportAjaxRequest", "StudentTransfer")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.programId = programId;
                    d.sessionId = sessionId;
                    d.selectedFromBranch = selectedFromBranch;
                    d.selectedFromCampus = selectedFromCampus;
                    d.prnNo = $("#PrnNo").val();
                    d.name = $("#Name").val();
                    d.mobile = $("#Mobile").val();
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                }
            }
        });
    }

    dataTableRender();
    $(document).on("click", "#search", function () {
        dataTableRender();
    });
        /*end render data table*/


    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId:organizationId,
            programId:programId,
            sessionId:sessionId,
            selectedFromBranch:selectedFromBranch,
            selectedFromCampus:selectedFromCampus,
            prnNo:$("#PrnNo").val(),
            name:$("#Name").val(),
            mobile:$("#Mobile").val(),
            dateFrom : dateFrom,
            dateTo : dateTo
            
        };

        var url = "@Url.Action("ExportStudentTransferReport", "StudentTransfer", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
            //console.log(url);
        window.open(url);
        });
    </script>





