﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentTransferSettlementViewModel

@{
    ViewBag.Title = "TransferSettlement";
}

<div class="panel panel-primary">
    <div class="panel-heading">Student Transfer Settlement</div>
    <div class="panel-body">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">@Html.DropDownList("OrganizationId", (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchFormId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchFormId, (SelectList)ViewBag.FromBranch, "Select Branch", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchFormId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.CampusFromId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CampusFromId, (SelectList)ViewBag.FromCampus, "Select Campus", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CampusFromId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchToId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchToId, (SelectList)ViewBag.ToBranch, "Select Branch", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchToId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.CampusToId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CampusToId, (SelectList)ViewBag.ToCampus, "Select Campus", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CampusToId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                       @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control form-date", @readonly = "readonly", @placeholder = "Date From" })
                        @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control form-date1", @readonly = "readonly", @placeholder = "Date To" })
                        @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div id="DisplayStudentData" style="padding-left: 40%">
                        <div class="col-md-3">
                            <input class="form-control" id="NumberOfStudentTransferred" disabled="" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="button" value="Count" class="btn btn-primary" id="countTranferStudent" />
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="View" class="btn btn-primary" />
                    </div>
                </div>
            </div>
}
    </div>

</div>
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.blockUI.js"></script>
@Scripts.Render("~/bundles/dualListBox")
@Scripts.Render("~/bundles/bootstrap-datetimepicker")

<script type="text/javascript">
    $(document).ready(function () {
        $("#countTranferStudent").click(function () {
            var programId = $("#ProgramId").find('option:selected').val();
            var sessionId = $("#SessionId").find('option:selected').val();
            var selectedFromBranch = $("#BranchFormId").val();
            var selectedFromCampus = $("#CampusFromId").val();
            var selectedToBranch = $("#BranchToId").val();
            var selectedToCampus = $("#CampusToId").val();
            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();

            if (programId > 0 && sessionId > 0 && selectedFromBranch != null && selectedFromCampus!=null && selectedToBranch!=null &&
                selectedToCampus!=null && dateFrom.length>0 && dateTo.length>0) {
                $.ajax({
                    url: '@Url.Action("TransferSettleCount", "StudentTransfer")',
                    type: "POST",
                    data: {
                        "programId": programId, "sessionId": sessionId, "selectedFromBranch": selectedFromBranch, "selectedFromCampus": selectedFromCampus,
                        "selectedToBranch": selectedToBranch, "selectedToCampus": selectedToCampus,"dateFrom":dateFrom,"dateTo":dateTo
                    },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.hasOwnProperty("IsSuccess")) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e",
                            });
                            $("#NumberOfStudentTransferred").val("0");
                        } else {
                            $("#NumberOfStudentTransferred").val(response);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response) {
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "Load Fail",
                            displayMessageType: "e",
                        });
                    }
                });
            } else {
                $("#NumberOfTransferred").val("");
                $.fn.customMessage({
                    displayMessage: "May be you need to select field.",
                    displayMessageType: "e",
                });
            }

        });

        $("#OrganizationId").change(function () {
            var organizationId = $(this).val();
            $('#ProgramId').empty();
            $('#ProgramId').append("<option value=''>Select a program</option>");

            $('#SessionId').empty();
            $('#SessionId').append("<option value=''>Select a session</option>");

            $('#BranchFormId').empty();
            $('#BranchFormId').append("<option value=''>Select a branch</option>");

            $('#BranchToId').empty();
            $('#BranchToId').append("<option value=''>Select a branch</option>");

            $('#CampusFromId').empty();
            $('#CampusFromId').append("<option value=''>Select a campus</option>");

            $('#CampusToId').empty();
            $('#CampusToId').append("<option value=''>Select a campus</option>");
            
            if (organizationId != "" && organizationId != null) {
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    type: "POST",
                    data: { organizationIds: organizationId,isAuthorized:true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.returnProgramList, function (i, v) {
                                $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        console.log("Failed -----");
                    }
                });
            }
            else {
                $('#programId').append("<option value=''>Select Program</option>");
            }
        });

        @*----function for getting the session----*@

        $("#ProgramId").change(function () {
            var programId = $(this).val();
            $('#SessionId').empty();
            $('#SessionId').append("<option value=''>Select a session</option>");

            $('#BranchFormId').empty();
            $('#BranchFormId').append("<option value=''>Select a branch</option>");

            $('#BranchToId').empty();
            $('#BranchToId').append("<option value=''>Select a branch</option>");

            $('#CampusFromId').empty();
            $('#CampusFromId').append("<option value=''>Select a campus</option>");

            $('#CampusToId').empty();
            $('#CampusToId').append("<option value=''>Select a campus</option>");
            if (programId!=null && programId!="")
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                type: "POST",
                data: { programIds: programId },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response, status, xhr) {
                    if (response.IsSuccess) {
                        console.log(response);
                        $.each(response.returnSessionList, function (i, v) {
                            $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response, status, xhr) {
                    $.unblockUI();
                    console.log(response);
                }
            });
        });

        @*----end function for getting the session----*@


        @*----function for getting the Branch from Session----*@
        $("#SessionId").change(function () {
            var sessionId = $(this).val();
            var programId = $("#ProgramId").val();
           
            $('#BranchFormId').empty();
            $('#BranchFormId').append("<option value=''>Select a branch</option>");

            $('#BranchToId').empty();
            $('#BranchToId').append("<option value=''>Select a branch</option>");

            $('#CampusFromId').empty();
            $('#CampusFromId').append("<option value=''>Select a campus</option>");

            $('#CampusToId').empty();
            $('#CampusToId').append("<option value=''>Select a campus</option>");
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                type: "POST",
                data: { programIds: programId, sessionIds: sessionId },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {

                        $.each(response.returnBranchList, function (i, v) {
                            $('#BranchFormId').append($('<option>').text(v.Text).attr('value', v.Value));
                            $('#BranchToId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                        $.unblockUI();

                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response, status, xhr) {
                    $.unblockUI();
                    console.log(response);
                }
            });

        });
        
        @*----function for getting the campus from branch----*@
        $("#BranchFormId").change(function () {
            $('#CampusFromId').empty();
            $('#CampusFromId').append("<option value=''>Select a campus</option>");
            
            var branchId = $(this).val();
            var sessionId = $("#SessionId").val();
            var programId = $("#ProgramId").val();
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                type: "POST",
                data: { branchIds: branchId, sessionIds: sessionId, programIds: programId,isAuthorized:false },
                success: function (response) {
                    $.each(response.returnCampusList, function (i, v) {
                        $('#CampusFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                    });
                },
                error: function (response, status, xhr) {

                }
            });
        });
        
        @*----function for getting the campus from branch----*@
        $("#BranchToId").change(function () {
            
            $('#CampusToId').empty();
            $('#CampusToId').append("<option value=''>Select a campus</option>");
            
            var branchId = $(this).val();
            var sessionId = $("#SessionId").val();
            var programId = $("#ProgramId").val();
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                type: "POST",
                data: { branchIds: branchId, sessionIds: sessionId, programIds: programId, isAuthorized: false },
                success: function (response) {
                    $.each(response.returnCampusList, function (i, v) {
                        $('#CampusToId').append($('<option>').text(v.Text).attr('value', v.Value));
                    });
                },
                error: function (response, status, xhr) {
                }
            });

        });
        var today = new Date();
        var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
        //var startDate = today.getFullYear().toString() + "-" + (today.getMonth() - 2).toString() + "-" + today.getDate().toString();;
        //var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();
        //var endDate = initialDate;
        //alert(today.getDate());
        $('.form-date').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: initialDate,
            //startDate: startDate,
            // endDate: endDate,
            startView: 2,
            minView: 2,
            maxView: 4,

        }).on('changeDate', function (ev) {
            //isValid("DateFrom", "The Date From is required.");
            if (Date.parse($(".form-date").val()) > Date.parse($(".form-date1").val())) {
                $(".dtmsg").text("");
                $(".form-date").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                $("#Submit").prop('disabled', true);
            }
            if (Date.parse($(".form-date").val()) <= Date.parse($(".form-date1").val())) {
                $('.dtmsg').text("");

                $("#Submit").removeAttr('disabled');
            }
        });
        $('.form-date1').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: initialDate,
            //startDate: startDate,
            // endDate: endDate,
            startView: 2,
            minView: 2,
            maxView: 4,

        }).on('changeDate', function (ev) {
            //isValid("DateTo", "The Date To is required.");
            if (Date.parse($(".form-date").val()) > Date.parse($(".form-date1").val())) {
                $(".dtmsg").text("");
                $(".form-date1").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                $("#Submit").prop('disabled', true);
            }
            if (Date.parse($(".form-date").val()) <= Date.parse($(".form-date1").val())) {
                $('.dtmsg').text("");
                $("#Submit").removeAttr('disabled');
            }
        });
    });
    function isValid(selector, message) {
        var error = 0;
        var value = $("#" + selector).val();
        if (value == "") {

            showErrorMessageBelowCtrl(selector, "", false);
            showErrorMessageBelowCtrl(selector, message, true);
            //   $(selector).parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html(message);
            error = error + 1;
        } else {
            console.log(selector + "  " + message);
            showErrorMessageBelowCtrl(selector, "", false);
            // $(selector).parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
        }
        return error;
    }


</script>
}
