﻿@using System.Drawing
@using System.Text
@using Microsoft.Ajax.Utilities
@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Students
@model UdvashERP.Areas.Student.Models.StudentTransferSlip
@{
    ViewBag.Title = "Transfer Slip";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = ViewBag.withLayout == "False" ? null : "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //var moneyRtopImage = Url.Content("~") + ErpInfo.ReportImageUrl;
    var moneyRtopImage = Model.StudentProgram.Program.Organization.ReportImageUrl;
    var imagePath = Url.Content("~") + "Content/Image/blankimage.png";

    double dpiX, dpiY;

    using (Graphics graphics = Graphics.FromHwnd(IntPtr.Zero))
    {
        dpiX = graphics.DpiX;
        dpiY = graphics.DpiY;
    }
    double pixelsWidth = dpiY * 7.5;
    double pixelsHeight = dpiX * 4.69;
    var pixelsHeightString = pixelsHeight.ToString() + "px";
    var pixelsWidthString = pixelsWidth.ToString() + "px";

    var headerImageWidth = (.49 * pixelsWidth);


    var imageWidth = (.15 * pixelsWidth).ToString() + "px";
    var qrimageWidth = (.20 * pixelsWidth).ToString() + "px";
    var qrimageWidthdouble = (.25 * pixelsWidth);
    
}
<br />
<br />
<div class="panel panel-default" id="studentTranferSlp" style="width: @pixelsWidthString; height: @pixelsHeightString; padding-left: 2px; padding-right: 2px; font-size: 11px; font-family: sans-serif; overflow: hidden; border: none; margin-top: -32px; padding-top: 0px;">
        <table style="width: 99%; height: 99%; border: 1px solid #000;" cellpadding="0" cellspacing="0">
            <tr style="height: 19%; ">
                <td>
                    <div style="text-align: center; font-size: 20px;">
                        <img src="@moneyRtopImage" width="@headerImageWidth" />
                    </div>
                    <div style="text-align: center; font-size: 20px; font-weight: bold;">
                        @Model.ProgramName&nbsp;@Model.SessionName
                    </div>
                    <div style="text-align: center; font-size: 14px;padding-top: 6px;">
                        <div style="float: left; width: 30%;">Reg. No.: @Model.RollNo</div>
                        <div style="float: left; width: 40%; font-weight: bold;"><u>Transfer Slip</u></div>
                        <div style="float: left; width: 30%;">Date: @Model.CreateDate</div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
            </tr>
            <tr style="height: 71%; border-top: 1px solid #000; border-bottom: 1px solid #000; ">
                <td>
                    <div style="text-align: left; height: 86.75%; padding-left: 25%; padding-right: 1%; font-size: 11px; padding-top: 1px;">
                        <div style="height: 45%;">
                            <table style="font-size: 12px;font-weight: bold; line-height: 17px; font-family: sans-serif; width: 100%">
                                <tr>
                                    <td style="vertical-align: top; width: 75%">
                                        <table style="font-size: 12px;font-weight: bold; line-height: 17px; font-family: sans-serif; width: 100%">
                                            <tr>
                                                <td style="width: 25%; vertical-align: top;">Student Name</td>
                                                <td style="width: 3%; vertical-align: top;">:</td>
                                                <td style="width: 72%; vertical-align: top;">@Model.StudentName</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: top;">Program Roll</td>
                                                <td style="vertical-align: top;">:</td>
                                                <td style="vertical-align: top;">@Model.PrnNo</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: top;">Contact Number</td>
                                                <td style="vertical-align: top;">:</td>
                                                <td style="vertical-align: top;">@Model.MobileNo</td>
                                            </tr>
                                            @{
                                                if (TempData["StudentCourses"] != null)
                                                {
                                                    var courseList = (IList<StudentCourseDetail>)TempData["StudentCourses"];
                                                    var courseLists = courseList.GroupBy(cl => cl.CourseSubject.Course, (course, studentCourseSubjects) => new { Key = course, subjects = studentCourseSubjects.ToList() }).Where(x=>x.Key.Status==StudentCourseDetail.EntityStatus.Active);

                                                    foreach (var studentCourse in courseLists)
                                                    {
                                                        //var coursesList = studentCourse.Key.CourseSubjects.ToList();

                                            <tr>
                                                <td style="vertical-align: top;">@studentCourse.Key.Name</td>
                                                <td style="vertical-align: top;">:</td>
                                                <td style="vertical-align: top;">
                                                    @{
                                                      string sub = "  ";
                                                    }
                                                    @foreach (var scs in studentCourse.subjects.Where(x=>x.Status==Subject.EntityStatus.Active))
                                                    {
                                                        sub += scs.CourseSubject.Subject.ShortName + ", ";
                                                    }
                                                    @sub.Remove(sub.Length - 2)

                                                </td>
                                            </tr>
                                                    }
                                                }

                                            }
                                        </table>
                                    </td>
                                    <td style="vertical-align: top; width: 25%">
                                        
                                        @if (Model.StudentProgram != null)
                                        {
                                            if (Model.StudentProgram.StudentImage.Count > 0)
                                            {
                                                //var firstOrDefault = (from x in @Model.StudentProgram.StudentImage select x).OrderByDescending(a => a.Id).FirstOrDefault();
                                                //var stuentImage = firstOrDefault != null ? firstOrDefault.Images : null;
                                                if (Model.StudentProgram.MediaStudentImage!= null)
                                                {
                                                    var stuentImage = Model.StudentProgram.MediaStudentImage.Images;
                                                    string imageBase64 = stuentImage != null ? Convert.ToBase64String(stuentImage) : null;
                                                    if (imageBase64 != null)
                                                    {
                                                        imagePath = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                    }
                                                }
                                                
                                            }
                                        }
                                        <div style="min-height: 63%; float: right">
                                            <img style="width: @imageWidth; height: @imageWidth;" src="@imagePath" />
                                        </div>
                                        <div style="clear: both"></div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div style="height: 40%;">
                            <table style="font-size: 12px; line-height: 15px;font-weight: bold; font-family: sans-serif; width: 51%; float: left;margin-top: 10px;">
                                <tr>
                                    <td style="vertical-align: top; font-size: 14px; line-height: 16px;"><b>Transfer From:</b></td>
                                    <td style="vertical-align: top;">&nbsp;</td>
                                    <td style="vertical-align: top;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Branch </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.FromBranch</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Campus </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.FromCampus</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Batch Days </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.FromBatchDays</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Batch Time </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.FromBatchTime</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Batch Name </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.FromBatchName</td>
                                </tr>
                            </table>
                            <table style="font-size: 12px; line-height: 15px;font-weight: bold; font-family: sans-serif; width: 45%; float: left;margin-top: 10px;margin-left: 3%;">
                                <tr>
                                    <td style="vertical-align: top;  font-size: 14px; line-height: 16px;"><b>Transfer To:</b></td>
                                    <td style="vertical-align: top;">&nbsp;</td>
                                    <td style="vertical-align: top;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Branch </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.Branch</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Campus </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.Campus</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Batch Days </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="word-wrap:break-word;">@Model.BatchDays</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Batch Time </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.BatchTime</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Batch Name </td>
                                    <td style="vertical-align: top;">:</td>
                                    <td style="vertical-align: top;">@Model.BatchName</td>
                                </tr>
                            </table>
                        </div>
                        <table style="font-size: 12px; line-height: 13px;font-weight: bold; font-family: sans-serif;float: left;width: 95%;margin-top: 7%;">
                            <tr>
                                <td colspan="3" style="border-top: none">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-top: none">
                                    <div style="text-align: center; padding-top: 2px; margin-right: 20px;  border-top: 1px solid #000000;">
                                        @Model.AuthorityFullName
                                    </div>
                                </td>
                                <td style="border-top: none">
                                    <div style="text-align: center; margin-right: 20px; margin-left: 20px;  padding-top: 2px; border-top: 1px solid #000000;">
                                        Student's Signature
                                    </div>
                                </td>
                                <td style="border-top: none">
                                    <div style="text-align: center; margin-left: 20px;  padding-top: 2px; border-top: 1px solid #000000;">
                                        Branch In-Charge
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<div style="border-top: 1px solid #000000; padding-top: 1px; margin-left: 500px; width: 150px; margin-right: 50px; text-align: center;">Authorized Signature</div>*@
                </td>
            </tr>
            <tr style="height: 10%; ">
                <td style="padding-left: 1.5%; padding-right: 1.5%; font-size: 11px;text-align: center;">
                    <strong style="font-weight: bold">Campus Address:&nbsp;</strong>@(Model.CampusAddress).&nbsp;<strong style="font-weight: bold">Phone :&nbsp;</strong>@(Model.PhoneNo)
                </td>
            </tr>
        </table>
    </div>
<div class="btn btn-primary" id="printTransferSlip"> Print</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryPrint")*@
<script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#printTransferSlip").click(function () {
                // Print the DIV.
                $("#studentTranferSlp").printThis();
            });

        });
    </script>

}