﻿@model UdvashERP.Areas.Student.Models.StudentInfoTransfer

@{
    ViewBag.Title = "Transfer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Transfer List</h4>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">@Html.DropDownList("OrganizationId", (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedFromBranch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(model => model.SelectedFromBranch, (SelectList)ViewBag.FromBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedFromBranch, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SelectedFromCampus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(model => model.SelectedFromCampus, (SelectList)ViewBag.FromCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedFromCampus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedToBranch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(model => model.SelectedToBranch, (SelectList)ViewBag.ToBranch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedToBranch, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SelectedToCampus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(model => model.SelectedToCampus, (SelectList)ViewBag.ToCampus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedToCampus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div id="DisplayStudentData" style="padding-left: 20%">
                        @Html.LabelFor(model => model.NumberOfTransferred, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-3">
                            <input class="form-control" id="NumberOfTransferred" disabled="" />
                            @Html.ValidationMessageFor(model => model.NumberOfTransferred, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="button" value="Calculate" class="btn btn-primary" id="calculate" />
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="View List" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }



    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/dualListBox")
    

    <script type="text/javascript">

    $(document).ready(function () {

        $("#calculate").click(function () {
            var programId = $("#ProgramId").find('option:selected').val();
            var sessionId = $("#SessionId").find('option:selected').val();

            var selectedFromBranch = $("#SelectedFromBranch").val();
            var selectedFromCampus = $("#SelectedFromCampus").val();
            var selectedToBranch = $("#SelectedToBranch").val();
            var selectedToCampus = $("#SelectedToCampus").val();
           
            if (programId > 0 && sessionId > 0 && selectedFromBranch != null && selectedFromCampus!=null && selectedToBranch!=null &&
                selectedToCampus!=null) {
                $.ajax({
                    url: '@Url.Action("TransferCount", "StudentTransfer")',
                    type: "POST",
                    data: { "programId": programId, "sessionId": sessionId, "selectedFromBranch": selectedFromBranch, "selectedFromCampus": selectedFromCampus, "selectedToBranch": selectedToBranch, "selectedToCampus": selectedToCampus },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.hasOwnProperty("IsSuccess")) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e",
                            });
                            $("#NumberOfTransferred").val("0");
                        } else {
                            $("#NumberOfTransferred").val(response);
                        }

                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response) {
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "Load Fail",
                            displayMessageType: "e",
                        });
                        //bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            } else {
                $("#NumberOfTransferred").val("");
                $.fn.customMessage({
                    displayMessage: "May be you need to select field.",
                    displayMessageType: "e",
                });
                //bootbox.alert("You need to select program or session").css('margin-top', (($(window).height() / 4)));
            }

        });

        $("#OrganizationId").change(function () {
            var organizationId = $(this).val();
            $('#ProgramId').empty();
            $('#ProgramId').append("<option value=''>Select a program</option>");
            $("#SessionId option").remove();
            $("#SelectedFromBranch option").remove();
            $("#SelectedToBranch option").remove();
            $("#SelectedFromCampus option").remove();
            $("#SelectedToCampus option").remove();
            var listSessionItems = "";
            listSessionItems += "<option value='0'>--Select Session--</option>";
            $("#SessionId").html(listSessionItems);
            if (organizationId != "" && organizationId != null) {
                $.ajax({
                    @*url: '@Url.Action("GetProgramByOrganization", "StudentTransfer")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    type: "POST",
                    data: { organizationIds: organizationId,isAuthorized:true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.returnProgramList, function (i, v) {
                                $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        console.log("Failed -----");
                    }
                });
            }
            else {
                $('#programId').append("<option value=''>Select Program</option>");
            }
        });

        @*----function for getting the session----*@

        $("#ProgramId").change(function () {
            var programId = $(this).val();
            $("#SessionId option").remove();
            $("#SelectedFromBranch option").remove();
            $("#SelectedToBranch option").remove();
            $("#SelectedFromCampus option").remove();
            $("#SelectedToCampus option").remove();
            var listSessionItems = "";
            listSessionItems += "<option value='0'>--Select Session--</option>";
            $("#SessionId").html(listSessionItems);

            $.ajax({
                @*url: '@Url.Action("GetSession", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                type: "POST",
                data: { programIds: programId },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response, status, xhr) {
                    if (response.IsSuccess) {
                        console.log(response);
                        $.each(response.returnSessionList, function (i, v) {
                            $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response, status, xhr) {
                    $.unblockUI();
                    console.log(response);
                }
            });
        });

        @*----end function for getting the session----*@


        @*----function for getting the Branch from Session----*@
        $("#SessionId").change(function () {
            var sessionId = $(this).val();
            var programId = $("#ProgramId").val();
            $("#SelectedFromBranch option").remove();
            $("#SelectedToBranch option").remove();
            $("#SelectedFromCampus option").remove();
            $("#SelectedToCampus option").remove();
            $('#SelectedFromBranch').append("<option value='0'>All Branch</option>");
            $('#SelectedToBranch').append("<option value='0'>All Branch</option>");
            $.ajax({
                @*url: '@Url.Action("GetBranchByProgramSession", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                type: "POST",
                data: { programIds: programId, sessionIds: sessionId,isAuthorized:true },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                    });
                },
                success: function (response) {
                    
                        $.each(response.returnBranchList, function (i, v) {
                            $('#SelectedFromBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                            $('#SelectedToBranch').append($('<option>').text(v.Text).attr('value', v.Value));
                        });
                        //var branchListItems = "";
                        //$.each(response.returnBranchList, function (index) {
                        //    branchListItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                        //});
                        //$("#SelectedFromBranch").html(branchListItems);
                        //$("#SelectedToBranch").html(branchListItems);
                        $.unblockUI();

                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (response, status, xhr) {
                    $.unblockUI();
                    console.log(response);
                }
            });

        });


        @*----function for getting the campus from branch----*@
        $("#SelectedFromBranch").change(function () {
            $("#SelectedFromCampus option").remove();
            $('#SelectedFromCampus').append("<option value='0'>All Campus</option>");
            var branchId = $(this).val();
            var sessionId = $("#SessionId").val();
            var programId = $("#ProgramId").val();
            $.ajax({
                @*url: '@Url.Action("GetCampus", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                type: "POST",
                data: { branchIds: branchId, sessionIds: sessionId, programIds: programId,isAuthorized:false },
                success: function (response) {
                    $.each(response.returnCampusList, function (i, v) {
                        $('#SelectedFromCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                    });
                    //var listItems = "";
                    //$.each(response.returnCampusList, function (index) {
                    //    listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                    //});
                    //$("#SelectedFromCampus").html(listItems);
                },
                error: function (response, status, xhr) {

                }
            });
        });
        @*----end function for getting the campus from branch----*@



        @*----function for getting the campus from branch----*@
        $("#SelectedToBranch").change(function () {
            $("#SelectedToCampus option").remove();
            $('#SelectedToCampus').append("<option value='0'>All Campus</option>");
            var branchId = $(this).val();
            var sessionId = $("#SessionId").val();
            var programId = $("#ProgramId").val();
            $.ajax({
                @*url: '@Url.Action("GetCampus", "StudentTransfer")',*@
                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                type: "POST",
                data: { branchIds: branchId, sessionIds: sessionId, programIds: programId, isAuthorized: false },
                success: function (response) {
                    $.each(response.returnCampusList, function (i, v) {
                        $('#SelectedToCampus').append($('<option>').text(v.Text).attr('value', v.Value));
                    });
                    //var listItems = "";
                    //$.each(response.returnCampusList, function (index) {
                    //    listItems += "<option value='" + response[index].Value + "'>" + response[index].Text + "</option>";
                    //});
                    //$("#SelectedToCampus").html(listItems);

                },
                error: function (response, status, xhr) {
                }
            });

        });
        @*----end function for getting the campus from branch----*@
    });


    </script>
}

