﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.RequisitionForm
@{
    int i = ViewBag.Index;
    var purposeList = ViewBag.PurposeList;
    var itemGroupList = ViewBag.ItemGroupList;
}
<tr class="requisitionSlipItemDetails parent">
    @Html.Hidden("Id", 0, new { @class = "form-control itemDetailsId" })
    @Html.Hidden("Index", i, new { @class = "itemDetailsIndex", @Value = i })
    <td>
        @Html.DropDownListFor(model => model.RequisitionDetails[i].Purpose, new SelectList(purposeList, "Value", "Text"), "Select Purpose"
        , new { @class = "form-control itemDetailsPurpose", @required_name = "The Purpose", @required = "required" })
        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Purpose, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.RequisitionDetails[i].ItemGroup, new SelectList(itemGroupList, "Value", "Text"), "Item Group"
        , new { @class = "form-control itemDetailsItemGroup", @required_name = "The ItemGroup", @required = "required" })
        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].ItemGroup, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.RequisitionDetails[i].Item, new SelectList(new List<string>(), "Value", "Text"), "Select Item"
        , new { @class = "form-control itemDetailsItemName", @required_name = "The Item", @required = "required" })
        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Item, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(x => x.RequisitionDetails[i].ProgramSession, (IEnumerable<SelectListItem>)ViewBag.ProgramSessionIdlist
                  , "Select Program & Session", new { @class = "form-control itemDetailsProgramSession", @required_name = "The ProgramSession" })
        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].ProgramSession, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.RequisitionDetails[i].Quantity, ""
        , new { @class = "form-control removeZeroAtFirst itemDetailsQuantity", @required_name = "Quantity", @required = "required" })
        @Html.ValidationMessageFor(model => model.RequisitionDetails[i].Quantity, "", new { @class = "text-danger" })
    </td>
    <td>
        <button type="button" class="btn btn-primary requisitionItemDetailsRemoveButton" name="append">-</button>
    </td>
</tr>

