﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.RequisitionReportForm
@Styles.Render("~/Content/styledatatable") 
@{
    Layout = null;
}
@{
    string[] titles = ViewBag.ReportTitle;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Requisition List Wise Report</h4>
    </div>
<div id="PrintRequisitionReport">
    <div class="panel-body">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <p>
                    @{
                        foreach (var title in titles)
                        {
                            <b>@title</b><br />
                        }
                    }
                </p>
            </div>
            <br />
        </div>
        <br />
        <div style="clear: both"></div>
        <div id="customer">
            <div class="form-group">
                @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.Organizationlbl
                </div>
                @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.Branchlbl
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Purpose", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.Purposelbl
                </div>
                @Html.Label("Program & Session", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.ProgramSessionlbl
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.Statuslbl
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-horizontal">
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Branch</th>
                        <th>Requisition Date</th>
                        <th>Requisition No</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="clearfix"></div>
<div class="text-center">
    <button type="button" id="ListReportExport" style="min-width: 100px !important" class="btn btn-primary">Export</button>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var reportType = @Model.ReportType;
    var purposeIds = @Html.Raw(Json.Encode(Model.PurposeId));
    var itemGroupIds = @Html.Raw(Json.Encode(Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(Model.ItemId));
    var programSessionIds = @Html.Raw(Json.Encode(Model.ProgramSession));
    var statusIds = @Html.Raw(Json.Encode(Model.RequisitionStatus));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var pageSize = @Model.PageSize;
    
    var branchlbl = '@ViewBag.Branchlbl';
    var purposelbl = '@ViewBag.Purposelbl';
    var programSessionlbl = '@ViewBag.ProgramSessionlbl';
    var statuslbl = '@ViewBag.Statuslbl';
    
    RequisitionListViewReportDt();
    function RequisitionListViewReportDt() {
        var displayNo = 0;
        if (pageSize == "" || pageSize == undefined || pageSize <= 0) {
            displayNo = 10;
        } else {
            displayNo = pageSize;
        }
        $('#DataGrid').dataTable({
            "sScrollX": "100%",
            "bScrollCollapse": true,
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "bLengthChange": false,
            "iDisplayLength": displayNo,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [3] }],
            order: [[2, "desc"]],
            bSort: false,
            ajax: {
                url: '@Url.Action("RequisitionListViewReport", "Requisition")',
                type: 'POST',
                data: function (dt) {
                    dt.organizationId = organizationId;
                    dt.branchIds = branchIds;
                    dt.purposeIds = purposeIds;
                    dt.itemGroupIds = itemGroupIds;
                    dt.itemIds = itemIds;
                    dt.programSession = programSessionIds;
                    dt.status = statusIds;
                    dt.dateFrom = dateFrom;
                    dt.dateTo = dateTo;
                },
                error: function () {
                    ShowErrorMessage("Requisition list-view-report data load error. Please try again.");
                }
            }
        });
    }
    $(document).on("click", "#ListReportExport", function() {
        var urlParam = {
            organizationId : organizationId,
            branchIds : branchIds,
            reportType : reportType,
            purposeIds: purposeIds,
            itemGroupIds : itemGroupIds,
            itemIds : itemIds,
            programSession : programSessionIds,
            requisitionStatus : statusIds,
            fromDate : dateFrom,
            toDate : dateTo,
            branchlbl : branchlbl,
            purposelbl : purposelbl,
            programSessionlbl : programSessionlbl,
            statuslbl : statuslbl,

        };
        var url = "@Url.Action("ExportListViewReport", "Requisition", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        console.log(url);
        window.open(url);
    });
</script>

