﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.RequisitionReportForm
@Styles.Render("~/Content/styledatatable")
@{
    Layout = null;
    var branchs = ViewBag.BranchNameList;
    string[] titles = ViewBag.ReportTitle;
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Requisition Branch Wise Report</h4>
    </div>
    <div class="panel-body" id="printable">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <p>
                    @{
                        foreach (var title in titles)
                        {
                            <b>@title</b><br />
                        }
                     }
                </p>
            </div>
            <br />
        </div>
        <div style="clear: both"></div>
        <div id="customer">

            <div class="form-group">
                @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.Organizationlbl
                </div>
                @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @ViewBag.Branchlbl
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Purpose", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                   @ViewBag.Purposelbl
                </div>
                @Html.Label("Item Group", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                   @ViewBag.ItemGrouplbl
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                   @ViewBag.Itemlbl
                </div>
                @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                   @ViewBag.Statuslbl
                </div>
            </div>
            <div class="clearfix"></div>
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @* this table is responsible for table header and dynamic data *@
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Item Group</th>
                            <th>Item Name</th>
                            <th>Program & Session</th>
                            @{
                                foreach (var branch in branchs)
                                {
                                    <th>@branch</th>
                                }
                            }
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>

                @* ----------------------------------------------------------------------------------------------------- *@
            </div>

        </div>

    </div>
</div>
<div class="text-center">
    <button type="button" id="BranchWizeReportExport" style="min-width: 100px !important" class="btn btn-primary">Export</button>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatable")
<script type="text/javascript">

    var organizationId = @Model.OrganizationId;
    var branchIds = @Html.Raw(Json.Encode(Model.BranchId));
    var reportType = @Model.ReportType;
    var purposeIds = @Html.Raw(Json.Encode(Model.PurposeId));
    var itemGroupIds = @Html.Raw(Json.Encode(Model.ItemGroupId));
    var itemIds = @Html.Raw(Json.Encode(Model.ItemId));
    var programSessionIds = @Html.Raw(Json.Encode(Model.ProgramSession));
    var statusIds = @Html.Raw(Json.Encode(Model.RequisitionStatus));
    var dateFrom = '@Model.DateFrom';
    var dateTo = '@Model.DateTo';
    var pageSize = @Model.PageSize;

    var branchlbl = '@ViewBag.Branchlbl';
    var purposelbl = '@ViewBag.Purposelbl';
    var programSessionlbl = '@ViewBag.ProgramSessionlbl';
    var statuslbl = '@ViewBag.Statuslbl';
    var itemlbl = '@ViewBag.Itemlbl';
    var itemGrouplbl = '@ViewBag.ItemGrouplbl';

    RequisitionListViewReportDt();
    function RequisitionListViewReportDt() {
        var displayNo = 0;
        if (pageSize == "" || pageSize == undefined || pageSize <= 0) {
            displayNo = 10;
        } else {
            displayNo = pageSize;
        }
        $('#DataGrid').dataTable({
            "sScrollX": "100%",
            "bScrollCollapse": true,
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "bLengthChange": false,
            "iDisplayLength": displayNo,
            "aaSorting": [],
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }],
            order: [[0, "desc"]],
            bSort: false,
            ajax: {
                url: '@Url.Action("RequisitionReportByBranch", "Requisition")',
                type: 'POST',
                data: function (dt) {
                    dt.organizationId = organizationId;
                    dt.branchIds = branchIds;
                    dt.purposeIds = purposeIds;
                    dt.itemGroupIds = itemGroupIds;
                    dt.itemIds = itemIds;
                    dt.programSession = programSessionIds;
                    dt.status = statusIds;
                    dt.dateFrom = dateFrom;
                    dt.dateTo = dateTo;
                },
                error: function () {
                    ShowErrorMessage("Requisition Slip data load error. Please try again.");
                }
            }
        });
    }
    $(document).on("click", "#BranchWizeReportExport", function() {
        var urlParam = {
            organizationId : organizationId,
            branchIds : branchIds,
            reportType : reportType,
            purposeIds: purposeIds,
            itemGroupIds : itemGroupIds,
            itemIds : itemIds,
            programSession : programSessionIds,
            requisitionStatus : statusIds,
            fromDate : dateFrom,
            toDate : dateTo,
            branchlbl : branchlbl,
            purposelbl : purposelbl,
            programSessionlbl : programSessionlbl,
            statuslbl : statuslbl,
            itemlbl : itemlbl,
            itemGrouplbl : itemGrouplbl

        };
        var url = "@Url.Action("ExportBranchViewReport", "Requisition", null, Request.Url.Scheme)";
        console.log(url);
        url += "?" + decodeURIComponent($.param(urlParam, true));
        console.log(url);
        window.open(url);
    });
</script>

