﻿@using System.Diagnostics
@model UdvashERP.BusinessModel.ViewModel.Hr.ChildrenAllowanceBlockViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Children Allowance Block</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("PIN", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(x => x.Pin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "text" } })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "text" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Allowance Type", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(x => x.AllowanceType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "text" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Effective From", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input class="form-control text-box single-line" id="EffectiveDate" name="EffectiveDate" readonly="readonly" value="@Model.EffectiveDate" type="text">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    @Html.Label("Closing Date", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input class="form-control text-box single-line" id="ClosingDate" name="ClosingDate" readonly="readonly" value="@Model.ClosingDate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Created By", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(x => x.CreatedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "text" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Create Date", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input class="form-control text-box single-line" id="CreationDate" name="CreationDate" readonly="readonly" value="@Model.CreationDate.ToString("d MMM, yyyy")" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Modified By", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(x => x.ModifiedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "text" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Modified Date", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input class="form-control text-box single-line" id="ModificationDate" name="ModificationDate" readonly="readonly" value="@Model.ModificationDate.ToString("d MMM, yyyy")" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
</p>

