﻿@model UdvashERP.BusinessModel.ViewModel.Hr.ChildrenAllowanceBlockViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")

@{
    ViewBag.Title = "C/E Allowance Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Children Allowance Block</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("Edit", "ChildrenAllowanceBlock", FormMethod.Post, new { @id = "ceform" }))
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(x => x.Id)
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.Pin, new { htmlAttributes = new { @type = "text", @class = "form-control onlyNumber", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ChildrenAllowanceSetting, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.ChildrenAllowanceSetting, (IEnumerable<SelectListItem>)ViewBag.ckAllowance, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.ChildrenAllowanceSetting, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EffectiveDate, "{0:MM yyyy} ", new { htmlAttributes = new { @class = "form-control", @id = "effectiveDate", @placeholder = "Effective Date", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EffectiveDate)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ClosingDate, "{0:MM yyyy} ", new { htmlAttributes = new { @class = "form-control", @id = "closingDate", @placeholder = "Closing Date", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ClosingDate)
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submitBtn" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Add Allowance Block", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $('#effectiveDate').datetimepicker({
            format: "MM yyyy",
            autoclose: true,
            //todayBtn: false,
            //showMeridian: true,
            //initialDate: new Date(),
            startView: "year",
            minView: "year",
            maxView: 4
        });

        $('#closingDate').datetimepicker({
            format: "MM yyyy",
            autoclose: true,
            //todayBtn: false,
            //showMeridian: true,
            //initialDate: new Date(),
            startView: "year",
            minView: "year",
            maxView: 4
        });
        $('.onlyNumber').on('input', function () {
            //remove zero as first input
            var val = this.value;
            while (val.charAt(0) === '0') {
                val = val.substr(0, 0) + val.substring(1);
                break;
            }
            this.value = val.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');
        });
        $(document).on("input propertychange", "#Pin", function (event) {
            var responsiblePinPrevious = parseInt($(this).val().trim());
            $('#CeAllowanceSetting').empty();
            setTimeout(function () {
                var responsiblePin = parseInt($("#Pin").val().trim());
                // $("#Pin").val("");
                if (responsiblePin != "" && responsiblePin == responsiblePinPrevious) {
                    if (responsiblePin > 0) {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/GetTeamMemberInformation",
                            type: "POST",
                            data: { pin: responsiblePin },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (data) {
                                $.unblockUI();
                                if (data.IsSuccess) {
                                    $('#Name').val(data.teamMemberName);

                                    // calling to children education allowance
                                    $.ajax({
                                        url: $("body").attr("data-project-root") + "Hr/ChildrenAllowanceBlock/GetCeAllowance",
                                        type: "POST",
                                        data: { pin: responsiblePin },
                                        beforeSend: function () {
                                            $.blockUI({
                                                timeout: 0,
                                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                            });
                                        },
                                        success: function (response) {
                                            if (response.IsSuccess) {
                                                $.each(response.returnResult, function (i, v) {
                                                    $('#CeAllowanceSetting').append($('<option>').text(v.Text).attr('value', v.Value));
                                                });
                                            } else {
                                                bootbox.alert("Slow Internet Connection").css('margin-top', (($(window).height() / 4)));
                                            }

                                            $.unblockUI();
                                        },
                                        complete: function () {
                                            $.unblockUI();
                                        },
                                        error: function (response) {
                                            $.unblockUI();
                                            bootbox.alert("Slow Internet Connection").css('margin-top', (($(window).height() / 4)));
                                        }
                                    });

                                } else {
                                    $('#Name').val('');
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (data) {
                                $.unblockUI();
                                bootbox.alert("Slow Internet Connection").css('margin-top', (($(window).height() / 4)));
                            }
                        });
                    }
                }
            }, 5000);
        });

    </script>
}
