﻿@model UdvashERP.BusinessModel.ViewModel.Hr.ChildrenAllowanceBlockViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")

@{
    ViewBag.Title = "Children Allowance Block";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string ceName = ViewBag.CEName;
    long ceId = Model.ChildrenAllowanceSetting;
    string effDate = Model.EffectiveDate;
}
<style type="text/css">
    /*.tip {
        text-align: center;
        background-color: cyan;
        padding: 10px;
        margin: 0;
    }*/
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Children Allowance Block</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("Edit", "ChildrenAllowanceBlock", FormMethod.Post, new { @id = "ceform" }))
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.ChildrenAllowanceSetting, new { @Value = ceId })
                @Html.HiddenFor(x => x.EffectiveDate, new { @Value = Model.EffectiveDate })
                @*<div class="row">
                    <p class="tip">
                        Salary Sheet generated for PIN '@Model.Pin' after @effDate. You can only change "Closing Date" (if possible).
                    </p>
                    <br/>
                </div>*@
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.Pin, new { htmlAttributes = new { @type = "text", @class = "form-control onlyNumber", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ChildrenAllowanceSetting, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(x => ceName, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input class="form-control text-box single-line" id="EffDate" name="EffDate" readonly="readonly" type="text" value="@effDate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @id = "closingDate", @readonly = "readonly", @Value = Model.ClosingDate } })
                            @Html.ValidationMessageFor(model => model.EffectiveDate)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submitBtn" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Add Allowance Block", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $('#closingDate').datetimepicker({
            format: "MM yyyy",
            autoclose: true,
            //todayBtn: false,
            //showMeridian: true,
            //initialDate: new Date(),
            startView: "year",
            minView: "year",
            maxView: 4
        });
    </script>
}
