﻿@using UdvashERP.BusinessModel.ViewModel.UInventory

@foreach (ItemOpeningBalanceDetailsViewModel itemViewModel in Model) 
{
    <tr id="@itemViewModel.ItemId">
        <td> <span class="ItemName">@itemViewModel.ItemName</span> 
            <input type="hidden" name="ItemId" value="@itemViewModel.ItemId" class="ItemId" />
            <input type="hidden" name="GoodsReceiveId" value="@itemViewModel.GoodsReceiveId" class="GoodsReceiveId" />
        </td>
        <td><input type="text" name="ReceivedQuantity" class="form-control ReceivedQuantity" placeholder="0"  /></td>
        <td><input type="text" name="Rate" class="form-control Rate" placeholder="0" /></td>
        <td><input type="text" name="TotalCost" class="form-control TotalCost" readonly="readonly" placeholder="0" /></td>
    </tr>
}