﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Attendance Re Calculate";
   // var formIsPost = ViewBag.IsPost;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Attendance Re Calculate</h4>
    </div>
    <div class="panel-body" id="dueSummaryReport">
       @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ResetAttendance" }))
       {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("branchId", (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control " })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("campusIds", (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control " })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("departmentIds", (IEnumerable<SelectListItem>)ViewBag.DepartmentList, "Select Department", new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" style="text-align: center">
                                <div class="col-md-2"></div>
                                @Html.Label("Or", new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    <input type="text" id="pin" value="@ViewBag.Pin" placeholder="Enter Pin No" class="form-control" name="pin" />
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("From", new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                <input type="text" id="date-from" value="@ViewBag.DateFrom" class="form-control date-from" name="dateFrom" readonly="readonly" />
                            </div>
                            @Html.Label("To", new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                <input type="text" id="date-to" value="@ViewBag.DateTo" class="form-control date-to" name="dateTo" readonly="readonly" />
                            </div>
                            <div class="col-md-2 text-center">
                                <input type="submit" id="Submit" value="Generate" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="col-md-12">
                                @Html.ListBox("campusIds", (IEnumerable<SelectListItem>)ViewBag.CampusList, new { @size = 7, @class = "form-control " })
                            </div>
                        </div>*@
                </div>
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 text-center" style="padding-top: 10px">
                                <input type="submit" id="Submit" value="View" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>*@
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.date-from').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $('.date-to').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $(document).on("change", "#date-from", function(event) {
                var val = $("#date-from").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                }
            });
            $(document).on("change", "#date-to", function(event) {
                var val = $("#date-to").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                }
            });

            $(document).on("change", "#pin", function (event) {
                var pin = $('#pin').val();
                if (pin.length > 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("branchId", "", false);
                    window.showErrorMessageBelowCtrl("campusIds", "", false);
                    window.showErrorMessageBelowCtrl("departmentIds", "", false);
                }
            });


            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                    //validationClientSide();
                }
            });


            //Call validation method on Mouse Click
            window.validateDropDownField("organizationId", "Please Select Organization.");
            window.validateDropDownField("branchId", "Please Select Branch.");
            window.validateDropDownField("campusIds", "Please Select Campus.");
            window.validateDropDownField("departmentIds", "Please Select Department.");
            $("#organizationId").change(function() {
                $('#branchId').empty();
                $('#branchId').append("<option value=''>Select Branch</option>");
                $('#campusIds').empty();
                $('#campusIds').append("<option value=''>Select Campus</option>");
                $('#departmentIds').empty();
                $('#departmentIds').append("<option value=''>Select Department</option>");
                //$("#campusIds option").remove();
                var organizationId = $("#organizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $('#branchId').append('<option value="0">All</option>');
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.ajax({
                                type: "POST",
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                data: { organizationIds: organizationId },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(response) {
                                    $.unblockUI();
                                    if (response.IsSuccess) {
                                        $('#departmentIds').append('<option value="0">All</option>');
                                        $.each(response.returndepartmentList, function(i, v) {
                                            $('#departmentIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(data) {
                                    $.fn.customMessage({
                                        displayMessage: ajaxError,
                                        displayMessageType: "error",
                                        displayTime: 5000
                                    });
                                }
                            });
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#branchId").change(function() {
                $('#campusIds').empty();
                $('#campusIds').append("<option value=''>Select Campus</option>");
                var organizationId = $("#organizationId").val();
                var branchId = $("#branchId").val();

                if (organizationId != null && organizationId != "" && branchId != null && branchId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",

                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#campusIds').append('<option value="0">All</option>');
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#campusIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Submit', function(e) {
                $('.field-validation-error').remove();
                var organizationId = $('#organizationId').val();
                var branchId = $('#branchId').val();
                var campusIds = $('#campusIds').val();
                var departmentIds = $('#departmentIds').val();
                var dateFrom = $('#date-from').val();
                var dateTo = $('#date-to').val();
                var pin = $('#pin').val();
                var isSuccess = true;
                if (pin.length <= 0) {
                    if (organizationId == null || organizationId.length <= 0) {
                        window.showErrorMessageBelowCtrl("organizationId", "", false);
                        window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                        isSuccess = false;
                    }
                    if (branchId == null || branchId.length <= 0) {
                        window.showErrorMessageBelowCtrl("branchId", "", false);
                        window.showErrorMessageBelowCtrl("branchId", "Please Select Branch.", true);
                        isSuccess = false;
                    }
                    if (campusIds == null || campusIds.length <= 0) {
                        window.showErrorMessageBelowCtrl("campusIds", "", false);
                        window.showErrorMessageBelowCtrl("campusIds", "Please Select Campus.", true);
                        isSuccess = false;
                    }
                    if (departmentIds == null || departmentIds.length <= 0) {
                        window.showErrorMessageBelowCtrl("departmentIds", "", false);
                        window.showErrorMessageBelowCtrl("departmentIds", "Please Select Department.", true);
                        isSuccess = false;
                    }

                } else {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("branchId", "", false);
                    window.showErrorMessageBelowCtrl("campusIds", "", false);
                    window.showErrorMessageBelowCtrl("departmentIds", "", false);
                }

                if (dateFrom == null || dateFrom.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-from", "", false);
                    window.showErrorMessageBelowCtrl("date-from", "Please Date From Time.", true);
                    isSuccess = false;
                }
                if (dateTo == null || dateTo.length <= 0) {
                    window.showErrorMessageBelowCtrl("date-to", "", false);
                    window.showErrorMessageBelowCtrl("date-to", "Please Date To Time.", true);
                    isSuccess = false;
                }

                if (isSuccess == true) {

                    var postData = $("#ResetAttendance").serializeArray();
                    console.log(postData);
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/PostReset/PostAttendanceReset",
                        type: "POST",
                        data: postData,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1>Wait, your request is processing...</h1>'
                            });
                        },
                        success: function (data) {
                            $.unblockUI();
                            if (data.IsSuccess) {
                                console.log(data);
                                //if (button == 1 && customError == false) {
                                //    window.location = $("body").attr("data-project-root") + "HR/ShiftSetting/ManageShiftSetting?message=" + data.Message;
                                //} else {
                                $.fn.customMessage({
                                    displayMessage: data.Message,
                                    displayMessageType: "s",
                                    //displayTime: 5000
                                });
                                //}

                            } else {
                                $.fn.customMessage({
                                    //displayMessage: ERROR_MESS,
                                    displayMessage: data.Message,
                                    displayMessageType: "e",
                                    //displayTime: 5000
                                });
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();

                } else {
                    e.preventDefault();
                    return false;
                }
            });
           
        });
    </script>
}
