﻿@Styles.Render("~/Content/css/bootstrap-duallistbox")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Batch Assign Salary History";
}
<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Batch Assign Salary History<span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="assignBatchShiftPanel">
       @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "assignBatchSalaryHistory"}))
       {
           @Html.AntiForgeryToken()
           <div class="form-horizontal">
               @Html.ValidationSummary(true, "", new {@class = "text-danger"})
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           <div class="col-md-4">                               
                               @Html.DropDownList("isSearchOnEmploymetHistory", (IEnumerable<SelectListItem>)ViewBag.IsSearchOnEmploymetHistorySelectList, new { @class = "form-control " })
                               <br/>                               
                               @Html.DropDownList("organizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control " })
                           </div>
                           <div class="col-md-4">
                               @Html.ListBox("departmentIds", (MultiSelectList)ViewBag.DepartmentList, new { @size = 8, @class = "form-control " })
                           </div>
                           <div class="col-md-4">
                               @Html.ListBox("designationIds", (MultiSelectList) ViewBag.DesignationList, new {@size = 8, @class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           <div class="col-md-4">
                               @Html.ListBox("branchIds", (MultiSelectList) ViewBag.BranchList, new {@size = 7, @class = "form-control "})
                           </div>
                           <div class="col-md-4">
                               @Html.ListBox("campusIds", (MultiSelectList) ViewBag.CampusList, new {@size = 7, @class = "form-control "})
                           </div>
                           <div class="col-md-4">
                               @Html.ListBox("employmentStatus", (MultiSelectList) ViewBag.EmploymentStatusList, new {@size = 7, @class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12 text-center">
                       <div class="form-group">
                           <input type="submit" id="viewTeamMember" value="View TeamMember" class="btn btn-primary" />
                       </div>
                   </div>
               </div>
               <div class="clearfix"></div>
           </div>
       }
    </div>
</div>

<div class="panel panel-primary" id="assignTeamMemberDynamicPanel" style="display: none">
    <div class="panel-heading">
        Team Member Information
    </div>
    <div class="form-horizontal">
        <br/>
        <div class="col-md-12">
            <div class=" " id="assignTeamMemberBatchList">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script type="text/javascript">
        function getTeamMemberId(element) {
            var _tr = element.parent().parent();
            var teamMemberId = _tr.attr("data-id");
            return teamMemberId;
        }

        function AddSalaryHistoryViewModel() {
            this.Id = 0;
            this.MemberId = 0;
            this.MemberPin = 0;
            this.OrganizationId = 0;
            this.BranchId = 0;
            this.CampusId = 0;
            this.DepartmentId = 0;
            this.DesignationId = 0;
            this.SalaryPurpose = 0;
            this.Salary = 0;
            this.BankAmount = 0;
            this.CashAmount = 0;
            this.EffectiveDate = "";
            this.AddSalaryHistoryViewModel = function () { };
        }

        function ShowHide() {
            console.log("OK");
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#assignBatchShiftPanel').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#assignBatchShiftPanel').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        $(document).ready(function() {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });

            $('body').keydown(function(e) {
                if (e.keyCode == 13) {
                }
            });

           

            $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

            $(document).on('click', '#selecctall', function(event) {
                $('.highlight').removeClass("highlight");
                if (this.checked) {
                    $('.teamMemberIds').each(function() {
                        this.checked = true;
                    });
                } else {
                    $('.teamMemberIds').each(function() {
                        this.checked = false;
                    });
                }

                var teamMemberIds = [];
                $('.teamMemberIds:checked').each(function() {
                    teamMemberIds.push($(this).val());
                });
                if (teamMemberIds.length <= 0) {
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "", false);
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "Please Select Team Member.", true);
                } else {
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "", false);
                }
            });

            window.validateDropDownField("organizationId", "Please Select Organization.");

            $("#organizationId").change(function() {
                $("#assignTeamMemberDynamicPanel").css("display", "none");
                $("#assignTeamMemberBatchList").html('');
                $('#branchIds').empty();
                $('#branchIds').append("<option value='0' selected>All Branch</option>");
                $('#campusIds').empty();
                $('#campusIds').append("<option value='0' selected>All Campus</option>");
                $('#departmentIds').empty();
                $('#departmentIds').append("<option value='0' selected>All Department</option>");
                $('#designationIds').empty();
                $('#designationIds').append("<option value='0' selected>All Designation</option>");
                var organizationId = $("#organizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $("#assignTeamMemberDynamicPanel").css("display", "none");
                            $("#assignTeamMemberBatchList").html('');
                            if (result.IsSuccess) {
                                $('#branchIds').empty();
                                $('#branchIds').append('<option value="0" selected>All Branch</option>');
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#branchIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                $.ajax({
                                    type: "POST",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                    data: { organizationIds: organizationId },
                                    success: function(response) {
                                        if (response.IsSuccess) {
                                            $('#departmentIds').empty();
                                            $('#departmentIds').append('<option value="0" selected>All Department</option>');
                                            $.each(response.returndepartmentList, function(i, v) {
                                                $('#departmentIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: response.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function() {
                                    },
                                    error: function(data) {
                                        $.fn.customMessage({
                                            displayMessage: ajaxError,
                                            displayMessageType: "error",
                                            displayTime: 5000
                                        });
                                    }
                                });

                                $.ajax({
                                    type: "POST",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDesignation",
                                    data: { organizationIds: organizationId },
                                    success: function(response2) {
                                        if (response2.IsSuccess) {
                                            $('#designationIds').empty();
                                            $('#designationIds').append('<option value="0" selected>All Designation</option>');
                                            $.each(response2.returnDesignationList, function(i, v) {
                                                $('#designationIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: response2.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function() {
                                    },
                                    error: function() {
                                        $.fn.customMessage({
                                            displayMessage: ajaxError,
                                            displayMessageType: "error",
                                            displayTime: 5000
                                        });
                                    }
                                });

                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {},
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $("#branchIds").change(function() {
                $('#campusIds').empty();
                $('#campusIds').append("<option value='0'>All Campus</option>");
                var organizationId = $("#organizationId").val();
                var branchIds = $("#branchIds").val();

                if (organizationId != null && organizationId != "" && branchIds != null && branchIds.length >= 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#campusIds').empty();
                                $('#campusIds').append('<option value="0">All Campus</option>');
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#campusIds').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#viewTeamMember', function(e) {
                e.preventDefault();
                $("#assignTeamMemberDynamicPanel").css("display", "none");
                $("#assignTeamMemberBatchList").html('');
                $('.field-validation-error').remove();
                var organizationId = $('#organizationId').val();
                var branchIds = $('#branchIds').val();
                var campusIds = $('#campusIds').val();
                var departmentIds = $('#departmentIds').val();
                var designationIds = $('#designationIds').val();
                var employmentStatus = $('#employmentStatus').val();
                var isSearchOnEmploymetHistory = $('#isSearchOnEmploymetHistory').val();
                var isSuccess = true;
                if (organizationId == null || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/PostReset/TeamMemberBatchAssignSalaryHistory",
                        type: "POST",
                        data: { organizationId: organizationId, branchIds: branchIds, campusIds: campusIds, departmentIds: departmentIds, designationIds: designationIds, employmentStatus: employmentStatus, isSearchOnEmploymetHistory: isSearchOnEmploymetHistory },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            $("#assignTeamMemberDynamicPanel").css("display", "block");
                            $("#assignTeamMemberBatchList").html(data);
                            $('.form_datetime').datetimepicker({
                                format: "yyyy-mm-dd",
                                autoclose: true,
                                todayBtn: false,
                                showMeridian: true,
                                initialDate: initialDate,
                                startView: 2,
                                minView: 2,
                                maxView: 4
                            });

                            $(document).on("change", '#EffectiveDate', function(ex) {
                                console.log("ok");
                                var effectiveDate = $('#EffectiveDate').val();
                                if (effectiveDate == null || effectiveDate.length <= 0) {
                                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please enter Effective Date.", true);
                                } else {
                                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                                }
                            });

                            ShowHide();
                        },
                        complete: function () {
                            $("#assignTeamMemberBatchListTable").tableHeadFixer({ "left": 4 });
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();

                } else {
                    e.preventDefault();
                    return false;
                }
            });

            $(document).on('click', '.teamMemberIds', function(event) {
                $('.highlight').removeClass("highlight");
                var tempteamMemberIds = [];
                $('.teamMemberIds:checked').each(function() {
                    tempteamMemberIds.push($(this).val());
                });
                if (tempteamMemberIds.length <= 0) {
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "", false);
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "Please  Select Team Member.", true);
                } else {
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "", false);
                }
            });

            // TeamMember Organization Change Start
            $(document).on("change", '.Organization', function(e) {
                var teamMemberId = getTeamMemberId($(this));
                window.showErrorMessageBelowCtrl("OrganizationId_" + teamMemberId, "", false);
                window.showErrorMessageBelowCtrl("DepartmentId_" + teamMemberId, "", false);
                window.showErrorMessageBelowCtrl("BranchId_" + teamMemberId, "", false);
                window.showErrorMessageBelowCtrl("CampusId_" + teamMemberId, "", false);

                var teamMemberOrganizationId = $("#OrganizationId_" + teamMemberId).val();
                $('#BranchId_' + teamMemberId).empty();
                $('#BranchId_' + teamMemberId).append("<option >Select Branch</option>");
                $('#CampusId_' + teamMemberId).empty();
                $('#CampusId_' + teamMemberId).append("<option >Select Campus</option>");
                $('#DepartmentId_' + teamMemberId).empty();
                $('#DepartmentId_' + teamMemberId).append("<option >Select Department</option>");

                $('#DesignationId_' + teamMemberId).empty();
                $('#DesignationId_' + teamMemberId).append("<option >Select Designation</option>");

                $('#SalaryPurpose_' + teamMemberId)[0].selectedIndex = 0;
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    type: "POST",
                    data: { organizationIds: teamMemberOrganizationId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $('#BranchId_' + teamMemberId).empty();
                            $('#BranchId_' + teamMemberId).append("<option >Select Branch</option>");
                            $.each(result.returnBranchList, function(i, v) {
                                $('#BranchId_' + teamMemberId).append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                            $.ajax({
                                type: "POST",
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                data: { organizationIds: teamMemberOrganizationId },
                                success: function(response) {
                                    if (response.IsSuccess) {
                                        $('#DepartmentId_' + teamMemberId).empty();
                                        $('#DepartmentId_' + teamMemberId).append("<option >Select Department</option>");
                                        $.each(response.returndepartmentList, function(i, v) {
                                            $('#DepartmentId_' + teamMemberId).append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function() {
                                },
                                error: function(data) {
                                    $.fn.customMessage({
                                        displayMessage: ajaxError,
                                        displayMessageType: "error",
                                        displayTime: 5000
                                    });
                                }
                            });

                            $.ajax({
                                type: "POST",
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDesignation",
                                data: { organizationIds: teamMemberOrganizationId },
                                success: function (response) {
                                    if (response.IsSuccess) {
                                        $('#DesignationId_' + teamMemberId).empty();
                                        $('#DesignationId_' + teamMemberId).append("<option >Select Designation</option>");
                                        $.each(response.returnDesignationList, function (i, v) {
                                            $('#DesignationId_' + teamMemberId).append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: response.Message,
                                            displayMessageType: "error",
                                        });
                                    }
                                },
                                complete: function () {
                                },
                                error: function (data) {
                                    $.fn.customMessage({
                                        displayMessage: ajaxError,
                                        displayMessageType: "error",
                                        displayTime: 5000
                                    });
                                }
                            });

                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {},
                    error: function() {
                        $.unblockUI();
                    }
                });
            });
            // TeamMember Organization Change End

            // TeamMember Branch Change Start
            $(document).on("change", '.Branch', function(e) {
                var teamMemberId = getTeamMemberId($(this));

                window.showErrorMessageBelowCtrl("BranchId_" + teamMemberId, "", false);
                window.showErrorMessageBelowCtrl("CampusId_" + teamMemberId, "", false);

                var teamMemberOrganizationId = $("#OrganizationId_" + teamMemberId).val();
                var teamMemberBranchId = $("#BranchId_" + teamMemberId).val();
                $('#CampusId_' + teamMemberId).empty();
                $('#CampusId_' + teamMemberId).append("<option >Select Campus</option>");

                if (teamMemberOrganizationId != null && teamMemberOrganizationId != "" && teamMemberBranchId != null && teamMemberBranchId.length >= 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: teamMemberOrganizationId, branchIds: teamMemberBranchId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $('#CampusId_' + teamMemberId).empty();
                                $('#CampusId_' + teamMemberId).append("<option >Select Campus</option>");
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#CampusId_' + teamMemberId).append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });
            //TeamMember Branch Change end

            $(document).on("change", '.Department', function(e) {
                var teamMemberId = getTeamMemberId($(this));
                window.showErrorMessageBelowCtrl("DepartmentId_" + teamMemberId, "", false);
            });

            $(document).on("change", '#isSearchOnEmploymetHistory', function(e) {
                $('#designationIds').removeAttr("disabled");
                $('#employmentStatus').removeAttr("disabled");
                var isSearchOnEmploymetHistory = $("#isSearchOnEmploymetHistory").val();
                console.log(isSearchOnEmploymetHistory);
                if (isSearchOnEmploymetHistory == "False") {
                    $('#designationIds').attr("disabled", true);
                    $('#employmentStatus').attr("disabled", true);
                }
            });

            $(document).on("change", '.Campus', function(e) {
                var teamMemberId = getTeamMemberId($(this));
                window.showErrorMessageBelowCtrl("CampusId_" + teamMemberId, "", false);
            });

            $(document).on("change", '.SalaryPurpose', function(e) {
                var teamMemberId = getTeamMemberId($(this));
                window.showErrorMessageBelowCtrl("SalaryPurpose_" + teamMemberId, "", false);
            });

            $(document).on("change", '.BankAmount', function(e) {
                var teamMemberId = getTeamMemberId($(this));
                window.showErrorMessageBelowCtrl("BankAmount_" + teamMemberId, "", false);
            });

            $(document).on("change", '.CashAmount', function(e) {
                var teamMemberId = getTeamMemberId($(this));
                window.showErrorMessageBelowCtrl("CashAmount_" + teamMemberId, "", false);
            });


            $(document).on("change", '#EffectiveDate', function(e) {
                console.log("ok");
                var effectiveDate = $('#EffectiveDate').val();
                if (effectiveDate == null || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please enter Effective Date.", true);
                } else {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
            });

            $(document).on('click', '.assignSalaryHistory', function(e) {
                e.preventDefault();
                $('.field-validation-error').remove();
                $('.highlight').removeClass("highlight");
                var salaryHistoryObjArray = [];
                var teamMemberIds = [];
                var effectiveDate = $('#EffectiveDate').val();
                $('.teamMemberIds:checked').each(function() {
                    teamMemberIds.push($(this).val());
                });
                var isSuccess = true;

                if (effectiveDate == null || effectiveDate.length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Please enter Effective Date.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
                if (teamMemberIds.length <= 0) {
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "", false);
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "Please Select Team Member.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("assignTeamMemberBatchListDiv", "", false);
                }

                teamMemberIds.forEach(function(teamMemberId) {
                    var tOrganizationId = $("#OrganizationId_" + teamMemberId).val();
                    var tDepartmentId = $("#DepartmentId_" + teamMemberId).val();
                    var tDesignationId = $("#DesignationId_" + teamMemberId).val();
                    var tBranchId = $("#BranchId_" + teamMemberId).val();
                    var tCampusId = $("#CampusId_" + teamMemberId).val();
                    var tSalaryPurpose = $("#SalaryPurpose_" + teamMemberId).val();
                    var tBankAmount = $("#BankAmount_" + teamMemberId).val();
                    var tCashAmount = $("#CashAmount_" + teamMemberId).val();
                    var tSalary = 0;
                    var tMemberPin = $("#teamMember_" + teamMemberId).attr("data-pin");

                    if (tOrganizationId == '' || tOrganizationId.length <= 0) {
                        window.showErrorMessageBelowCtrl("OrganizationId_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("OrganizationId_" + teamMemberId, "", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("OrganizationId_" + teamMemberId, "", false);
                    }
                    if (tDepartmentId == '' || tDepartmentId.length <= 0) {
                        window.showErrorMessageBelowCtrl("DepartmentId_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("DepartmentId_" + teamMemberId, "", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("DepartmentId_" + teamMemberId, "", false);
                    }
                    if (tDesignationId == '' || tDesignationId.length <= 0) {
                        window.showErrorMessageBelowCtrl("DesignationId_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("DesignationId_" + teamMemberId, "", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("DepartmentId_" + teamMemberId, "", false);
                    }
                    if (tBranchId == '' || tBranchId.length <= 0) {
                        window.showErrorMessageBelowCtrl("BranchId_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("BranchId_" + teamMemberId, "", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("BranchId_" + teamMemberId, "", false);
                    }
                    if (tCampusId == '' || tCampusId.length <= 0) {
                        window.showErrorMessageBelowCtrl("CampusId_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("CampusId_" + teamMemberId, "", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("CampusId_" + teamMemberId, "", false);
                    }
                    if (tSalaryPurpose == '' || tSalaryPurpose.length <= 0) {
                        window.showErrorMessageBelowCtrl("SalaryPurpose_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("SalaryPurpose_" + teamMemberId, "", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("SalaryPurpose_" + teamMemberId, "", false);
                    }
                    if (tBankAmount != '' && tBankAmount.length > 0 && tCashAmount != '' && tCashAmount.length > 0) {
                        tSalary = parseFloat(tBankAmount) + parseFloat(tCashAmount);
                    }

                    if (tSalary == 0) {
                        window.showErrorMessageBelowCtrl("BankAmount_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("CashAmount_" + teamMemberId, "", false);
                        if (tBankAmount == '' || tBankAmount.length <= 0) {
                            window.showErrorMessageBelowCtrl("BankAmount_" + teamMemberId, "", true);
                        }
                        if (tCashAmount == '' || tCashAmount.length <= 0) {
                            window.showErrorMessageBelowCtrl("CashAmount_" + teamMemberId, "", true);
                        }
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("BankAmount_" + teamMemberId, "", false);
                        window.showErrorMessageBelowCtrl("CashAmount_" + teamMemberId, "", false);
                    }

                    if (isSuccess == true) {
                        var salaryHistoryObj = new AddSalaryHistoryViewModel();
                        salaryHistoryObj.MemberId = teamMemberId;
                        salaryHistoryObj.MemberPin = tMemberPin;
                        salaryHistoryObj.OrganizationId = tOrganizationId;
                        salaryHistoryObj.DepartmentId = tDepartmentId;
                        salaryHistoryObj.DesignationId = tDesignationId;
                        salaryHistoryObj.BranchId = tBranchId;
                        salaryHistoryObj.CampusId = tCampusId;
                        salaryHistoryObj.SalaryPurpose = tSalaryPurpose;
                        salaryHistoryObj.Salary = tSalary;
                        salaryHistoryObj.CashAmount = tCashAmount;
                        salaryHistoryObj.BankAmount = tBankAmount;
                        salaryHistoryObj.EffectiveDate = effectiveDate;
                        salaryHistoryObjArray.push(salaryHistoryObj);
                    }

                });
                console.log(isSuccess);
                console.log(salaryHistoryObjArray.length);
                if (isSuccess == true && salaryHistoryObjArray.length > 0) {
                    console.log(salaryHistoryObjArray);
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/PostReset/AddBatchSalaryHistoryToTeamMember",
                        type: "POST",
                        data: { "salaryHistoryViewModelList": salaryHistoryObjArray },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            if (data.IsSuccess) {
                                $("#assignTeamMemberDynamicPanel").css("display", "none");
                                $("#assignTeamMemberBatchList").html('');
                                $.fn.customMessage({
                                    displayMessage: data.Message,
                                    displayMessageType: "success",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: data.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();
                } else {
                    e.preventDefault();
                    $(".highlight:first").focus();
                    return false;
                }
            });
        });
    </script>
}
