﻿@model UdvashERP.Areas.Student.Models.StudentSurveyReport
@{
    List<string> extraColomn = ViewBag.ExtraColomn;
    int staticWidth = 0;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Studentwise Survey Report</h4>
    </div>
    <div class="panel-body">
        <div class="text-center"><span class="large" id="organizationNameHeader">@ViewBag.OrganizationName</span></div>
        <div class="text-center"><span class="large" id="programSessionHeader">@ViewBag.ProgramName - @ViewBag.SessionName</span></div>
        <div class="text-center"><span class="large">Student List</span></div>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Sl</th>
                    @if (Model.InformationViewList != null)
                    {
                        foreach (string informationView in Model.InformationViewList)
                        {
                            <th>@informationView</th>
                        }
                    }
                    @if (extraColomn != null && extraColomn.Any())
                    {
                        foreach (string q in extraColomn)
                        {
                            staticWidth++;
                            string width = (staticWidth%3 == 1) ? " min-width: 250px" : "";
                            <th style='@width;'>@q</th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
