﻿@using UdvashERP.BusinessModel.Entity.Administration
<ul class="list-unstyled">
    @if (ViewBag.ComplementaryCourse.Count > 0)
    {
        foreach (var course in @ViewBag.ComplementaryCourse)
        {
            var checkbox = "";
            if (ViewBag.MainCourse != null)
            {
                Course mainCourse = ViewBag.MainCourse;
                if (mainCourse.ComplementaryCourses.Count > 0)
                {
                    if (mainCourse.ComplementaryCourses.FirstOrDefault(x => x.CompCourse.Id == course.Id && x.Session.Id == ViewBag.Session && x.Program.Id == ViewBag.Program) != null)
                    {
                        checkbox = "checked";

                    }
                }
            }

            <li>
                <input type="checkbox" @checkbox class="ComplementaryCourse" value="@course.Id" /> &nbsp;&nbsp;&nbsp;@course.Name
            </li>

        }
    }
    else
    {
        <li>No Course Found!</li>
    }
</ul>