﻿@using UdvashERP.BusinessRules.UInventory
@model UdvashERP.BusinessModel.ViewModel.UInventory.ItemOpeningBalanceViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Item Opening Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Item Opening Balance</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                    @Html.LabelFor(model => model.BranchId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchIdList, "Select Branch", new { @class = "form-control", @id = "BranchId" })
                        @Html.ValidationMessageFor(model => model.BranchId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemType, (SelectList)ViewBag.itemTypeList, "Select Item Type", new { @class = "form-control", @id = "itemType" })
                        @Html.ValidationMessageFor(model => model.ItemType)
                    </div>
                    @Html.LabelFor(model => model.ItemGroupId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemGroupId, (SelectList)ViewBag.itemGroupList, "Select Item Group", new { @class = "form-control", @id = "itemGroupId" })
                        @Html.ValidationMessageFor(model => model.ItemGroupId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramSessionId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ProgramSessionId, (SelectList)ViewBag.programSessionList, "Select Program", new { @class = "form-control", @id = "ProgramSessionId" })
                        @Html.ValidationMessageFor(model => model.ProgramSessionId)
                    </div>
                    @Html.LabelFor(model => model.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Closing Date", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ClosingDate, "", new { @class = "text-danger removeClosingDate" })
                    </div>
                </div>
                <div class="form-group" style="margin: 5px;">
                    <table class="table table-bordered table-responsive" id="tTable">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody id="itemListx"></tbody>
                    </table>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input id="Submitx" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    int programType = (int)ItemType.ProgramItem;

}
@{
    int commonType = (int)ItemType.CommonItem;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">

        $(document).on('change', '#ClosingDate', function () {
            closingDate = $("#ClosingDate").val();
            if (closingDate !== "") {
                $('.removeClosingDate').remove();
            }
        });

        $(document).ready(function () {

            @*form submit*@

            $("body form").submit(function (e) {
                e.preventDefault();
                return false;
            });


            $('body').keydown(function (e) {
                if (e.keyCode == 13 && !event.is("textarea")) {
                    return false;
                }
            });

            //final submission

            $(document).on("click", "#Submitx", function (event) {
                //event.preventDefault();
                var ItemOpeningBalanceDetailsViewModelList = [];
                var ItemOpeningBalanceViewModel = {};

                var organizationId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();
                var itemType = $("#itemType").val();
                var itemGroupId = $("#itemGroupId").val();
                var programSessionId = $("#ProgramSessionId").val();
                closingDate = $("#ClosingDate").val();

                console.log("Date :", closingDate);

                ItemOpeningBalanceViewModel["OrganizationId"] = organizationId;
                ItemOpeningBalanceViewModel["BranchId"] = branchId;
                ItemOpeningBalanceViewModel["ItemType"] = itemType;
                ItemOpeningBalanceViewModel["ItemGroupId"] = itemGroupId;
                ItemOpeningBalanceViewModel["ProgramSessionId"] = programSessionId;
                ItemOpeningBalanceViewModel["ClosingDate"] = moment(closingDate);


                $("#itemListx tr").each(function () {
                    var isValid = checkCriteriaRowValidity($(this));
                    if (isValid) {
                        var ItemOpeningBalanceDetailsViewModel = {};
                        var receivedQuantity = $(this).find(".ReceivedQuantity").val();
                        var rate = $(this).find(".Rate").val();
                        var totalCost = $(this).find(".TotalCost").val();
                        var itemName = $(this).find(".ItemName").val();
                        var itemId = $(this).find(".ItemId").val();
                        var goodsReceiveId = $(this).find(".GoodsReceiveId").val();
                        if (receivedQuantity != "" && receivedQuantity >= 0 && rate != "" && rate >= 0) {
                            ItemOpeningBalanceDetailsViewModel["ReceivedQuantity"] = receivedQuantity;
                            ItemOpeningBalanceDetailsViewModel["Rate"] = rate;
                            ItemOpeningBalanceDetailsViewModel["TotalCost"] = totalCost;
                            ItemOpeningBalanceDetailsViewModel["ItemName"] = itemName;
                            ItemOpeningBalanceDetailsViewModel["ItemId"] = itemId;
                            ItemOpeningBalanceDetailsViewModel["GoodsReceiveId"] = goodsReceiveId;
                            ItemOpeningBalanceDetailsViewModelList.push(ItemOpeningBalanceDetailsViewModel);
                        }
                    }
                });

                console.log(closingDate);

                if (organizationId != "" && branchId != "" && itemType != "" && itemGroupId != "" && programSessionId != "" && closingDate != "") {
                    if (ItemOpeningBalanceDetailsViewModelList.length > 0) {
                        ItemOpeningBalanceViewModel["ItemOpeningBalanceDetailsViewModelList"] = ItemOpeningBalanceDetailsViewModelList;
                        console.log(ItemOpeningBalanceViewModel);
                        var data = JSON.stringify(ItemOpeningBalanceViewModel);
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "UInventory/ItemOpeningBalance/Index",
                            cache: false,
                            async: true,
                            dataType: "json",
                            contentType: "application/json",
                            data: data,
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();
                                if (result.IsSuccess) {

                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "s",
                                        displayTime: 50000
                                    });

                                    $.each(ItemOpeningBalanceDetailsViewModelList, function (index, value) {
                                        $("#itemListx #" + value.ItemId).remove();
                                    });


                                    //
                                    @*var url = '@Html.Raw(Url.Action("Index", new { message = "Specification template saved successfully." }))';
                                    window.location.href = url;*@

                                } else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                        displayTime: 50000
                                    });
                                }

                                $("body, html").animate({
                                    scrollTop: $("body").offset().top
                                }, 600);
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });

                    }
                    else {
                        $("#itemListx tr:first").css("background", "#ff0000");
                        return false;
                    }
                }
            });


            @*closing date operation*@

            //finxing date for chrome browser issue
            var closingDate;
            var initialDate = moment().format("YYYY-MM-DD");
            var startDate = moment().subtract(3, "year").format("YYYY-MM-DD");
            var endDate = initialDate;

            $('#ClosingDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });

            @*closing date operation*@

        });

        @*details row validation*@

        function checkCriteriaRowValidity(tblTr) {
            var receivedQuantity = tblTr.find(".ReceivedQuantity").val();
            var rate = tblTr.find(".Rate").val();

            if ((receivedQuantity === "" && rate === "") || (receivedQuantity === 0 && rate === 0) || (receivedQuantity > 0 && rate > 0) || (receivedQuantity == 0 && rate == 0)) {
                console.log("T");
                tblTr.css("background", "#FFFFFF");
            }
            else {
                console.log("F");
                tblTr.css("background", "#ff0000");
                return false;
            }

            return true;


        }

        @*details row validation*@


        @*----------lookup value changed event----------*@

        @*function for changed organization*@
        $(document).on('change', '#OrganizationId', function () {
            //alert("organization change");
            $('#BranchId').empty();
            $('#BranchId').append("<option value=''>Select Branch </option>");

            var organizationId = $('#OrganizationId').val();

            if (organizationId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    },
                    error: function (data) {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
            else {
                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select Branch </option>");

                $('#ProgramSessionId').empty();
                $('#ProgramSessionId').append("<option value=''>Select Program </option>");
            }
        });

        @*function for changed branch and item type*@

        $(document).on('change', '#BranchId, #itemType', function (event) {
            $('#ProgramSessionId').empty();
            $('#ProgramSessionId').append("<option value=''>Select Program </option>");
            $("#itemListx").html("");

            var organizationId = $('#OrganizationId').val();
            var branchId = $('#BranchId').val();
            var itemType = $('#itemType').val();
            var programType, commonType;
            programType = '@programType';
            commonType = '@commonType';
            console.log("programtype", programType);
            
            if (branchId.length > 0 && itemType == programType) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/GetProgramAndSession",
                    data: { organizationId: organizationId, branchIdList: branchId, isReport: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.isSuccess) {
                            if (response.programSessionList == null) {
                                $('#ProgramSessionId').append("<option value='0'>N/A</option>");
                            }
                            else {
                                $.each(response.programSessionList, function (i, v) {
                                    $('#ProgramSessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }

                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
            else if (branchId > 0 && itemType == commonType) {

                $('#ProgramSessionId').append($('<option>').text("N/A").attr('value', "0"));
            }
        });

        
        $(document).on('change', '#OrganizationId, #itemType, #itemGroupId, #ProgramSessionId', function () {
            loadItemTable();
        });


        function loadItemTable() {
            var organizationId = $('#OrganizationId').val();
            var branchId = $('#BranchId').val();
            var itemType = $('#itemType').val();
            var itemGroupId = $('#itemGroupId').val();
            var programSessionId = $('#ProgramSessionId').val();
            //alert("dfdf");
            $("#itemListx").html("");

            //if (organizationId > 0 && branchId > 0 && itemType > 0 && programSessionId > 0)

            if (organizationId > 0 && branchId > 0 && itemType > 0 && itemGroupId > 0) {
                //alert("alert");
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "UInventory/ItemOpeningBalance/LoadItemList",
                    data: { programSessionId: programSessionId, itemGroupId: itemGroupId, itemType: itemType, organizationId: organizationId, branchId: branchId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.length <= 2) {
                            response = "<tr style=" + "text-align" + ":" + "center;" + "color" + ":" + "#FF0000;" + "><td colspan=" + "4" + "> No Data Found</span> </tr>";
                            $("#itemListx").html(response);
                        }

                        $.unblockUI();
                        if (response.hasOwnProperty("IsSuccess")) {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                        else {
                            //alert(response);
                            $("#itemListx").html(response);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (data) {
                        $.fn.customMessage({
                            displayMessage: ajaxError,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
            else {
                //console.log("from item log");
                //console.log("org", organizationId);
                //console.log("branch", branchId);
                //console.log("item", itemType);
                //console.log("program", programSessionId);

            }
        }


        @*----------lookup value changed event----------*@

        $(document).on("input propertychange", ".ReceivedQuantity ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            input.val(text);
            var receiveQuantity = input.val();
            var rate = input.parent().parent().find(".Rate").val();
            input.parent().parent().find(".TotalCost").val(Math.floor(receiveQuantity * rate));
            checkCriteriaRowValidity(input.parent().parent());
        });


        $(document).on("input propertychange", ".Rate ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9.]/g, "");
            input.val(text);
            var rate = input.val();
            var receiveQuantity = input.parent().parent().find(".ReceivedQuantity").val();
            input.parent().parent().find(".TotalCost").val(Math.floor(receiveQuantity * rate));
            checkCriteriaRowValidity(input.parent().parent());
        });





    </script>
}