﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.MarksUploadViewModel

@{
    ViewBag.Title = "Marks Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="customMessageMarksUpload text-center">
    
</div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Marks Entry By Xml
        </div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @using (Html.BeginForm("UploadXml", "MarksUpload", FormMethod.Post, new { @id = "marksEntryForm", @EncType = "multipart/form-data" }))
                // @using (Html.BeginForm(new { EncType = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "--Select Organization--", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.Program, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select Program--", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Session, (IEnumerable<SelectListItem>)ViewBag.SessionList, "--Select Session--", new { @class = "form-control", @required = "required" })
                                    @*@Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Course, (IEnumerable<SelectListItem>)ViewBag.CourseList, "--Select Course--", new { @class = "form-control", @required = "required" })
                                    @*@Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.ExamCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.HiddenFor(model => model.ExamId)
                                    @Html.EditorFor(model => model.ExamCode, new { htmlAttributes = new { @class = "form-control autoComplete", @autocomplete = "off", @maxlength = "3", @size = "3" } })
                                    @Html.ValidationMessageFor(model => model.ExamCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.ExamName, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                                    @Html.ValidationMessageFor(model => model.ExamName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.BoardExam, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.BoardExam, (IEnumerable<SelectListItem>)ViewBag.BoardExamList, "--Select Board Exam--", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.BoardExam, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class=" form-group">
                                @Html.LabelFor(model => model.FileField, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.FileField, new { type = "file" })
                                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="FileField"></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="text-center marksEntryUp">
                                <input type="button" value="Upload" class="btn btn-primary" id="uploadXmlForm" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
        @Scripts.Render("~/bundles/typeaheadAutoComplete")
        @Scripts.Render("~/bundles/AutoComplete")

        <script type="text/javascript" src="~/Scripts/Exam/UploadMarks.js"></script>

        <script type="text/javascript">
            window.validateDropDownField("Organization", "The Organization field is required.");
            window.validateDropDownField("Program", "The Program field is required.");
            window.validateDropDownField("Session", "The Session field is required.");
            window.validateDropDownField("Course", "The Course field is required.");
            window.validateDropDownField("BoardExam", "The Board Exam field is required.");
        </script>
    }


