﻿
@{
    ViewBag.Title = "Marks Upload Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/styledatatable")
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Marks Upload Log</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">
                    
                    <th class="form-group">
                        <input id="MarkdUploadLogText" name="MarkdUploadLogText" type="text" class="form-control" placeholder="Keyword" />
                    </th>

                    <th class="form-group">
                        <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <button type="button" id="search" value="search" class="form-control btn-primary">Search</button>
                    </th>
                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Roll</th>
                        <th>
                            RegNo
                        </th>
                        <th>
                            Board
                        </th>
                        <th>
                            Bar Code
                        </th>
                        <th>
                            Qr Code
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>Version</th>
                        <th>Image</th>
                        <th>Eiin</th>
                        <th>Answer</th>
                        <th>ObtainMark</th>
                        <th>Message</th>
                        <th>PrnNo</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
       
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {

            function dataTableRender() {
                var PageSize = 10;
                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    PageSize = parseInt($('#PageSize').val());
                } else {
                    $('#PageSize').val(PageSize);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": PageSize,
                    //stateSave: true,
                    order: [[1, "asc"]],
                    "scrollCollapse": true,
                    "scrollY": "60vh",
                    // "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,7,8,9] }],
                    ajax: {
                        url: 'MangeMarkdUploadLog',
                        type: 'POST',
                        data: function (d) {
                            d.markdUploadLogText = $('#MarkdUploadLogText').val();
                        }
                    }
                });
            }

            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
            });
        });
    </script>
}
       
