﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.SupplierForm
@using System.Globalization
@{
    
    var bankList = ViewBag.BankList;
    int index = ViewBag.Index;
}

    <tr class="SupplierBankInfo parent">
        @Html.Hidden("BankDetails[" + index + "].Id", 0, new { @class = "bankBranchId" })
        @Html.Hidden("Ind", index.ToString(CultureInfo.CurrentCulture), new { @class = "form-control bankInfoId" })

        <td>
            @Html.DropDownListFor(model => model.BankDetails[index].Bank, new SelectList(bankList, "Value", "Text"), "Select Bank"
                , new { @class = "form-control bankInfoBankName", @placeholder = "Bank Name" })
            @Html.ValidationMessageFor(model => model.BankDetails[index].Bank, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.DropDownListFor(model => model.BankDetails[index].BankBranch
            , new SelectList(new List<string>(), "Value", "Text"), "Select Branch"
            , new { @class = "form-control bankInfoBranchName", @placeholder = "Branch Name" })
            @Html.ValidationMessageFor(model => model.BankDetails[index].BankBranch, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.BankDetails[index].AcTitle, ""
            , new { @class = "form-control bankInfoAcTitle", @placeholder = "AC Title" })
            @Html.ValidationMessageFor(model => model.BankDetails[index].AcTitle, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.BankDetails[index].AcNumber, ""
            , new { @class = "form-control numericInputOnly bankInfoAcNumber", 
                @placeholder = "AC Number" , @autocomplete = "off"})
            @Html.ValidationMessageFor(model => model.BankDetails[index].AcNumber, "", new { @class = "text-danger" })
        </td>
        <td>
            <button type="button" class="btn btn-warning removeBankInfoRowButton" name="append">-</button>
        </td>
    </tr>
