﻿@using UdvashERP.BusinessModel.ViewModel.UInventory

<style>
    .supplierFrom .listBreak {
        width: 760px;
    }

    .supplierFrom .listBreak {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        display: inline-block;
        overflow: hidden;
        clear: both;
    }
</style>
<div class="supplierFrom">
    <div class="checkbox-inline">
        <label>
            <input class="checkbox-select-all" type="checkbox" value="" /> Select all supplier
        </label>
    </div>
    <br/>
    <span class="listBreak">
        @foreach (SupplierModel supplier in Model)
        {
            if (supplier.IsSelected)
            {
                <div class="checkbox">
                    <label>
                        <input class="checkbox-selected" type="checkbox" checked="checked" value="@supplier.Id" data-id="@supplier.Id" data-name="@supplier.Name" /> @supplier.Name
                    </label>
                </div>
            }
            else
            {
                <div class="checkbox">
                    <label>
                        <input class="checkbox-selected" type="checkbox" value="@supplier.Id" data-id="@supplier.Id" data-name="@supplier.Name" /> @supplier.Name
                    </label>
                </div>
            }
        }
    </span>

</div>

<script type="text/javascript">
    $(".checkbox-select-all").change(function () {
        $(".checkbox-selected:checkbox").prop('checked', $(this).prop("checked"));
    });
</script>