﻿@if (ViewBag.CountAllMenuListByGroupId > 0)
{
    foreach (var item in @ViewBag.allMenuListByGroupId)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
else
{
    <option value="">Select Menu</option>
}


