﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.AssignSpecificationViewModel

@{
    ViewBag.Title = "AssignSpecification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AssignSpecification", "SpecificationTemplates", FormMethod.Post, new { @id = "AssignSpecificationForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Specification Template</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpecificationTemplateId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.SpecificationTemplateId, (SelectList)ViewBag.SpecificationTemplateList, "Select Specification Template", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SpecificationTemplateId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.ItemGroupId, (SelectList)ViewBag.ItemGroupList, "Select Item Group", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Search Item Name" id="itemNameSearch"/>                           
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-lg-offset-2 col-md-10" id="itemList">
                            
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
                       
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        function getItemList() {
            $('#itemList').empty();
            var specificationTemplateId = $("#SpecificationTemplateId").val();
            var organizationId = $("#OrganizationId").val();
            var itemGroupId = $("#ItemGroupId").val();
            if (specificationTemplateId != "" && organizationId != "" && itemGroupId != "") {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "UInventory/SpecificationTemplates/AjaxRequestForLoadItems",
                    data: { specificationTemplateId: specificationTemplateId, organizationId: organizationId, itemGroupId: itemGroupId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {

                        if (response.IsSuccess) {
                            if (response.returnList.length > 1) {
                                $('#itemList').append('<div class="col-md-4"><input type="checkbox" name="selectAll" id="selectAll" value=""  />&nbsp;<span class="">Select All</span></div>');
                            }
                            // console.log(response.returnList);
                            $.each(response.returnList, function(i, v) {
                                if (v.Checked) {
                                    $('#itemList').append('<div class="col-md-4"><input class="itemCheck" type="checkbox" name="SelectedItem[]" value="' + v.Id + '" checked="checked" />&nbsp;<span class="itemNameText">' + v.Name + '</span></div>');
                                } else {
                                    $('#itemList').append('<div class="col-md-4"><input class="itemCheck" type="checkbox" name="SelectedItem[]" value="' + v.Id + '"  /> &nbsp; <span class="itemNameText">' + v.Name + '</span></div>');
                                }

                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });

            }
        }

        $(document).ready(function() {
            getItemList();
        });

        $(document).on("change", "#SpecificationTemplateId", function(event) {
            getItemList();
        });
        $(document).on("change", "#OrganizationId", function(event) {
            getItemList();
        });
        $(document).on("change", "#ItemGroupId", function(event) {
            getItemList();
        });
        $(document).on("click", "#selectAll", function(event) {
            $("input:checkbox:visible").prop('checked', $(this).prop("checked"));
        });



        $(document).on("keyup", "#itemNameSearch", function(event) {         

            var text = $(this).val().toLowerCase();

            if (text != "") {
                $("#selectAll").parent().hide();
                $('.itemNameText').each(function(index) {
                    if ($(this).text().toLowerCase().indexOf(text) > -1) {
                        $(this).parent().show();
                    } else {

                        $(this).parent().hide();
                    }
                });
            } else {
                $("#selectAll").parent().show();
                $('.itemNameText').each(function(index) {
                    $(this).parent().show();
                });
            }

            var totalCheckBox = $(".itemCheck:visible").length;
            var totalCheckBoxChecked = $(".itemCheck:visible:checked").length;

            if (totalCheckBox == totalCheckBoxChecked) {
                $("#selectAll").prop('checked', true);
            } else {
                $("#selectAll").prop('checked', false);
            }
            console.log(totalCheckBox);
            console.log(totalCheckBoxChecked);

        });
    </script>
}


