﻿@using NHibernate.Properties
@using UdvashERP.BusinessRules.UInventory
@model UdvashERP.BusinessModel.Entity.UInventory.SpecificationTemplate
@{
    ViewBag.Title = "Specification Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var criteria1 = Model.SpecificationCriteriaList[0];
}
@using (Html.BeginForm("Edit", "SpecificationTemplates", FormMethod.Post, new { @id = "specificationTemplatesForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Specification Template</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.Label("Specification Name", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" />
                            <div style="color:red; display: none;" class="errorMsg">Specification Name is Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                       @Html.Hidden("SpecificTemplateId",@Model.Id)
                         <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <table style="display: none;" id="hiddenTemplateCriteria">
                                <tr>
                                    <td><input type="text" class="criteriaName form-control" /><div style="color:red;" class="errorMsg">Criteria Name is Required</div></td>
                                    <td>
                                        @Html.DropDownList("FieldType", (IEnumerable<SelectListItem>)ViewBag.FieldTypeSelectList, "Select Field Type", new { @class = "form-control fieldType" })
                                        <div style="color:red; display: none;" class="errorMsg">Field Type is Required</div>
                                    </td>
                                    <td>
                                        <div class="options">
                                            <input type="text" class="optionName form-control" style="width: 83%; float:left" /> &nbsp;
                                            <button type="button" class="btn btn-default plusOption"><i class="fa fa-plus"></i></button>
                                            @*<span class="glyphicon glyphicon-plus  btn btn-primary  plusOption"></span>*@
                                            <div class="clearfix"></div>
                                            <div style="color:red; display:none;" class="errorMsg">Option Name is Required</div>
                                        </div>
                                    </td>
                                    <td style="text-align: center">
                                        <button type="button" class="btn btn-default minusCriteria"><i class="fa fa-minus"></i></button>
                                        @*<span class="glyphicon glyphicon-minus btn btn-primary minusCriteria"></span>*@
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 25%">Specification Criteria</th>
                                    <th style="width: 25%">Field Type</th>
                                    <th style="width: 40%">Criteria Option</th>
                                    <th style="width: 10%; text-align: center"><button type="button" class="btn btn-default plusCriteria"><i class="fa fa-plus"></i></button></th>
                                    @*<th style="width: 10%"><span class="glyphicon glyphicon-plus btn btn-primary plusCriteria"></span></th>*@
                                </tr>
                                </thead>
                                <tbody id="criteriaBody">
                                @if (Model.SpecificationCriteriaList != null && Model.SpecificationCriteriaList.Count > 0)
                                {
                                    foreach (var specificationCriteria in Model.SpecificationCriteriaList)
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" class="criteriaName form-control" value="@specificationCriteria.Name"/>
                                                <input type="hidden" class="criteriaId" value="@specificationCriteria.Id" />
                                                <div style="color:red; display: none;" class="errorMsg">Criteria Name is Required</div>
                                            </td>
                                            <td>
                                                <select name="FieldType" id="FieldType" class="form-control fieldType">
                                                    @foreach (var fieldtype in (Dictionary<int, string>) ViewBag.FieldType)
                                                    {
                                                        if (fieldtype.Value.ToString() == specificationCriteria.Controltype.ToString())
                                                        {
                                                            <option selected="selected" value="@fieldtype.Key">@fieldtype.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@fieldtype.Key">@fieldtype.Value</option>
                                                        }

                                                    }
                                                </select>

                                                <div style="color: red; display: none;" class="errorMsg">Field Type is Required</div>
                                            </td>
                                            
                                            <td style="text-align: center;">
                                                @if (specificationCriteria.Controltype == FieldType.Text)
                                                {
                                                    <div class="options" style="display: none;">
                                                        <input type="text" class="optionName form-control" style="width: 83%; float: left" /> &nbsp;
                                                        <button type="button" class="btn btn-default plusOption"><i class="fa fa-plus"></i></button> 
                                                        @*<span class="glyphicon glyphicon-plus  btn btn-primary  plusOption"></span>*@
                                                        <div class="clearfix"></div>
                                                        <div style="color: red; display: none;" class="errorMsg">Option Name is Required</div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var criteriaoption in specificationCriteria.SpecificationCriteriaOptions)
                                                    {
                                                        <div class="options" style="margin-top: 8px;">
                                                            <input type="text" class="optionName form-control" style="width: 83%; float: left;" value="@criteriaoption.Name" /> &nbsp;
                                                            <input type="hidden" class="optionId" style="width: 83%; float: left;" value="@criteriaoption.Id" />
                                                            @if (i == 0)
                                                            {
                                                                <button type="button" class="btn btn-default plusOption"><i class="fa fa-plus"></i></button> 
                                                                @*<span class="glyphicon glyphicon-plus  btn btn-primary  plusOption"></span>*@
                                                            }

                                                            else if (i > 0)
                                                            {
                                                                <button type="button" class="btn btn-default minusOption"><i class="fa fa-minus"></i></button>
                                                                @*<span class="glyphicon glyphicon-minus  btn btn-primary  minusOption"></span>*@
                                                            }

                                                            <div class="clearfix"></div>
                                                            <div style="color: red; display: none;" class="errorMsg">Option Name is Required</div>
                                                        </div>
                                                            i++;
                                                    }
                                                }
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <button type="button" class="btn btn-default minusCriteria"><i class="fa fa-minus"></i></button>
                                                @*<span class="glyphicon glyphicon-minus btn btn-primary minusCriteria"></span>*@
                                            </td>
                                        </tr>

                                    }

                                }
                                </tbody>
                                

                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Save" class="btn btn-primary" id="save" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        var optionTemplate = "<div class=\"options\"><input type=\"text\" class=\"optionName form-control\" style=\"width: 83%;  margin-top: 8px; float:left\" /> &nbsp; <button style='margin-top:8px;' class=\"btn btn-default  minusOption\"><i class='fa fa-minus'></i></button> <div class=\"clearfix\"></div> <div style=\"color:red; display:none;\" class=\"errorMsg\">Option Name is Required</div></div>";
        $(document).ready(function () {
            $(".errorMsg").hide();
            $("#attendanceSynchronizerForm").submit(function () {
                return false;
            });
            $('body').keydown(function (e) {
                if (e.keyCode == 13 && !event.is("textarea")) {
                    return false;
                }
            });

            //$(".options").hide();

        });
        $(document).on("change", ".fieldType", function (event) {
            var $parent = $(this).parent();
            if ($(this).val() == 1) {
                $parent.parent().find(".options").show();
            } else {
                $parent.parent().find(".options").hide();
            }

            if ($(this).val() == "") {
                $(this).parent().find(".errorMsg").show();
            } else {
                $(this).parent().find(".errorMsg").hide();
            }
        });

        $(document).on("click", ".plusOption", function (event) {
            var $parent = $(this).parent().parent();
            $parent.append(optionTemplate);
        });

        $(document).on("click", ".minusOption", function (event) {
            var $parent = $(this).parent();
            $parent.remove();
        });

        $(document).on("click", ".plusCriteria", function (event) {
            var template = $("#hiddenTemplateCriteria tr:first").clone();

            $("#criteriaBody").append(template);
        });
        $(document).on("click", ".minusCriteria", function (event) {
            var cCount = $(".criteriaName").length - 1;
            if (cCount > 1) {
                var $parent = $(this).parent().parent();
                $parent.remove();
            }
            
        });

        $(document).on("input propertychange", "#Name", function (event) {
            if ($(this).val() == "") {
                $(this).parent().find(".errorMsg").show();
            } else {
                $(this).parent().find(".errorMsg").hide();
            }
        });


        $(document).on("input propertychange", ".criteriaName,.optionName", function (event) {
            if ($(this).val() == "") {
                $(this).parent().find(".errorMsg").show();
            } else {
                $(this).parent().find(".errorMsg").hide();
            }
        });

        //  .fieldType


        $(document).on("click", "#save", function (event) {
            var specificationId = $("#specificationTemplateId").val();
            var specificationName = $("#Name").val();
            var isValid = 1;
            if (specificationName == "") {
                isValid = 0;
                $("#Name").parent().find(".errorMsg").show();
            } else {
                $("#Name").parent().find(".errorMsg").hide();
            }

            $("#criteriaBody tr").each(function () {

                checkCriteriaRowValidity($(this));

            });

            // specificationTemplateViewModelObj["Name"] = specificationName;

            console.log($(".errorMsg:visible").length);
            if ($(".errorMsg:visible").length <= 0) {
                var specificationCriteriaViewModelArray = [];
                var specificationTemplateViewModelObj = {};

                specificationTemplateViewModelObj["Name"] = specificationName;
                specificationTemplateViewModelObj["SpecificTemplateId"] = $("#SpecificTemplateId").val();
                $("#criteriaBody tr").each(function () {
                    var specificationCriteriaViewModelObj = {};
                    var criteriaName = $(this).find(".criteriaName").val();
                    var fieldType = $(this).find(".fieldType").val();
                    var criteriaId = $(this).find(".criteriaId").val();
                    specificationCriteriaViewModelObj["Name"] = criteriaName;
                    specificationCriteriaViewModelObj["Controltype"] = fieldType;
                    specificationCriteriaViewModelObj["SpecificationCriteriaId"] = criteriaId;

                    var specificationCriteriaOptionViewModelArray = [];
                    if (fieldType == 1) {
                        $(this).find(".optionName").each(function () {
                            var optionId = $(this).next('.optionId').val();
                            var specificationCriteriaOptionViewModel = {};
                            specificationCriteriaOptionViewModel["Name"] = $(this).val();
                            specificationCriteriaOptionViewModel["SpecificationCriteriaOptionId"] = optionId;
                            specificationCriteriaOptionViewModelArray.push(specificationCriteriaOptionViewModel);
                        });
                    }
                    specificationCriteriaViewModelObj["SpecificationCriteriaOptions"] = specificationCriteriaOptionViewModelArray;
                    specificationCriteriaViewModelArray.push(specificationCriteriaViewModelObj);

                });

                specificationTemplateViewModelObj["SpecificationCriteriaList"] = specificationCriteriaViewModelArray;

                var data = JSON.stringify(specificationTemplateViewModelObj);

                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "UInventory/SpecificationTemplates/AjaxRequestForSubmitTemplate",
                    cache: false,
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: data,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            //$.fn.customMessage({
                            //    displayMessage: result.Message,
                            //    displayMessageType: "s",
                            //    displayTime: 50000
                            //});
                            var url = '@Html.Raw(Url.Action("Index", new { message = "Specification template updated successfully." }))';
                            window.location.href = url;
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                                displayTime: 50000
                            });
                        }

                        $("body, html").animate({
                            scrollTop: $("body").offset().top
                        }, 600);
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }

        });

        function checkCriteriaRowValidity(tblTr) {
            var criteriaNameField = tblTr.find(".criteriaName");
            if (criteriaNameField.val() == "") {
                criteriaNameField.parent().find(".errorMsg").show();
            } else {

                criteriaNameField.parent().find(".errorMsg").hide();
            }

            var fieldTypeField = tblTr.find(".fieldType");
            if (fieldTypeField.val() == "") {
                fieldTypeField.parent().find(".errorMsg").show();
            } else {
                fieldTypeField.parent().find(".errorMsg").hide();

                if (fieldTypeField.val() == 1) {
                    tblTr.find(".optionName").each(function () {
                        if ($(this).val() == "") {
                            $(this).parent().find(".errorMsg").show();
                        } else {
                            $(this).parent().find(".errorMsg").hide();
                        }
                    });
                }

                //optionName
            }

        }

    </script>
}