﻿@if (ViewBag.CampusListCount >0)
{
    foreach (var item in @ViewBag.CampusList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
else
{
    <option value="-1">Main Campus</option>
}
