﻿@using UdvashERP.BusinessModel.Entity.UserAuth
@{
    var userMenuList = (List<UserMenu>) ViewBag.UserMenuDetailsObservePermission;
}
@if (userMenuList.Any())
{
    <div>
        <p>Permission List For Menu (@ViewBag.MenuName)</p>
        <ul>
            @foreach (UserMenu userMenu in userMenuList)
            {
                if (userMenu.Organization == null && userMenu.Program == null && userMenu.Branch == null)
                {
                    <li>All</li>
                }
                else
                {
                    <li> 
                        @if (userMenu.Organization == null)
                        {
                            <span>All</span>
                        }
                        else
                        {
                            <span>@userMenu.Organization.ShortName</span>
                        } 
                        , 
                        @if (userMenu.Branch == null)
                        {
                            <span>All</span>
                        }
                        else
                        {
                            <span>@userMenu.Branch.Name</span>
                        }
                        , 
                        @if (userMenu.Program == null)
                        {
                            <span>All</span>
                        }
                        else
                        {
                            <span>@userMenu.Program.Name</span>
                        } 
                    </li>
                }
            }
        </ul>
    </div>
}