﻿@using FluentNHibernate.Utils
@using NHibernate.Criterion
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Common
@using UdvashERP.BusinessModel.Entity.UserAuth
@{
    int counter = 0;
    //var menuList = (List<Menu>)ViewBag.AllMenu;
    var menuList = (List<Menu>)ViewBag.UserMenuForPermission;
    // menuList = menuList.OrderBy("Rank").ToList();
    var userMenuGroup = menuList.GroupBy(m => m.MenuGroup, (key, group) => new { Key = key, Group = group.ToList() });
    userMenuGroup = userMenuGroup.OrderBy(x => x.Key.Rank);
}

@foreach (var menuGroupList in userMenuGroup)
{
    <div style="width: 30%; float: left;">
        <ul id="treeLists" class="list-unstyled">
            <li>
                <input type="checkbox" name="selectedRole"> @menuGroupList.Key.Name
                    @{
                        var menuListByGroup = menuGroupList.Group;
                        var rootMenuList = menuListByGroup.Where(x => x.MenuSelfMenu == null && x.Status == Menu.EntityStatus.Active).OrderBy(mm => mm.Rank).ToList();
                      //  rootMenuList = rootMenuList.Where(x => x.Name != "Menu Management").ToList();
                        foreach (var rootMenu in rootMenuList)
                        {
                            var selectedMenuList2 = (List<UserMenu>)ViewBag.SelectedUserMenu;
                            //var query2 = from sum in selectedMenuList2 where sum.Menu.Id == rootMenu.Id && sum.Branch == ViewBag.Branch && sum.Program == ViewBag.Program select sum;
                            //var query2 = selectedMenuList2.Where(x =>b.Contains(x.Branch.Id) );
                            long[] br = ViewBag.Branch;
                            long[] pr = ViewBag.Program;
                            IEnumerable<UserMenu> query2 = selectedMenuList2.Where(x => x.Menu.Id == rootMenu.Id);
                            if (br != null)
                            {
                                query2 = query2.Where(x => x.Branch.Id.In(br));
                            }
                            else
                            {
                                query2 = query2.Where(x => x.Branch == null);
                            }
                            if (pr != null)
                            {
                                query2 = query2.Where(x => x.Program.Id.In(pr));
                            }
                            else
                            {
                                query2 = query2.Where(x => x.Program == null);
                            }


                            var selectedMenu2 = query2.FirstOrDefault();
                            var subMenuItemListActive = menuList.Where(x => x.MenuSelfMenu == rootMenu && x.Status == Menu.EntityStatus.Active).OrderBy(m => m.Rank).ToList();
                            <ul>
                                <li class="@("continueContent" + rootMenu.Id) list-unstyled">
                                    @if (selectedMenu2 != null)
                                    {
                                        <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" @*checked="checked" value="true"*@ type="checkbox" /> @rootMenu.Name
                                    }
                                    else
                                    {
                                        <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" @*value="true"*@ type="checkbox" /> @rootMenu.Name
                                    }

                                    <input id="UserPermissionListViewModel[@counter]_Id" name="UserPermissionListViewModel[@counter].Id" value=@rootMenu.Id type="hidden" />

                                    @{
                                        counter = counter + 1;
                                    }

                                    @foreach (Menu item2 in subMenuItemListActive)
                                    {
                                        var selectedMenuList = (List<UserMenu>)ViewBag.SelectedUserMenu;
                                        //var query = from sum in selectedMenuList where sum.Menu.Id == item2.Id && sum.Branch == ViewBag.Branch && sum.Program == ViewBag.Program select sum;
                                        //var query = from sum in selectedMenuList where sum.Menu.Id == item2.Id && ViewBag.Branch.In(sum.Branch) && ViewBag.Program.In(sum.Program) select sum;
                                        IEnumerable<UserMenu> query = selectedMenuList.Where(x => x.Menu.Id == item2.Id);
                                        if (br != null)
                                        {
                                            query = query.Where(x => x.Branch.Id.In(br));
                                        }
                                        else
                                        {
                                            query = query.Where(x => x.Branch == null);
                                        }
                                        if (pr != null)
                                        {
                                            query = query.Where(x => x.Program.Id.In(pr));
                                        }
                                        else
                                        {
                                            query = query.Where(x => x.Program == null);
                                        }
                                        var selectedMenu = query.FirstOrDefault();

                                        <ul>
                                            <li class="@("continueContent" + item2.Id) list-unstyled">

                                                @if (selectedMenu != null)
                                                {
                                                    <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" checked="checked" value="true" type="checkbox" />@item2.Name
                                                }
                                                else
                                                {
                                                    <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" value="true" type="checkbox" />@item2.Name
                                                }
                                                <input id="UserPermissionListViewModel[@counter]_Id" name="UserPermissionListViewModel[@counter].Id" value=@item2.Id type="hidden" />

                                            </li>
                                        </ul>
                                                counter++;
                                    }
                                </li>
                            </ul>
                                    
                        }                                                                                                                 
                    }



                            @*@{
                        var checkMenuGroupList = menuGroupList.Menus;
                        checkMenuGroupList = checkMenuGroupList.Where(x=>x.Name!="Menu Management").ToList();
                        foreach (Menu item in checkMenuGroupList)
                        {
                            <ul>
                                @if (item.MenuSelfMenu == null)
                                {
                                    var selectedMenuList2 = (List<UserMenu>)ViewBag.SelectedUserMenu;
                                    var query2 = from sum in selectedMenuList2 where sum.Menu.Id == item.Id && sum.Branch == ViewBag.Branch && sum.Program == ViewBag.Program select sum;
                                    var selectedMenu2 = query2.FirstOrDefault();

                                    <li class="@("continueContent" + item.Id) list-unstyled">
                                       @if (selectedMenu2 != null)
                                       {
                                           <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" checked="checked" value="true" type="checkbox"/> @item.Name
                                       }
                                       else
                                       {
                                           <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" value="true" type="checkbox"/> @item.Name
                                       }

                                        <input id="UserPermissionListViewModel[@counter]_Id" name="UserPermissionListViewModel[@counter].Id" value=@item.Id type="hidden" />

                                        @{
                                            counter = counter + 1;
                                        }

                                        @foreach (Menu item2 in item.Menus)
                                        {
                                            var selectedMenuList = (List<UserMenu>)ViewBag.SelectedUserMenu;
                                            var query = from sum in selectedMenuList where sum.Menu.Id == item2.Id && sum.Branch==ViewBag.Branch && sum.Program==ViewBag.Program select sum;
                                            var selectedMenu = query.FirstOrDefault();

                                            <ul>
                                                <li class="@("continueContent" + item2.Id) list-unstyled">

                                                    @if (selectedMenu != null)
                                                    {
                                                        <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" checked="checked" value="true" type="checkbox" />@item2.Name
                                                    }
                                                    else
                                                    {
                                                        <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" value="true" type="checkbox" />@item2.Name
                                                    }
                                                    <input id="UserPermissionListViewModel[@counter]_Id" name="UserPermissionListViewModel[@counter].Id"  value=@item2.Id type="hidden" />

                                                </li>
                                            </ul>
                                            counter++;
                                        }
                                    </li>

                                }
                            </ul>

                        }
                    }*@
            </li>
        </ul>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() {
        //$("input[type='checkbox']").change(function() { //#treeList :checkbox
        //    $(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
        //});
        $("input[type='checkbox']").change(function () {
            $(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
            if (this.checked) {
                $(this).parentsUntil('#treeList', 'ul').siblings(':checkbox').prop('checked', true);
            } else {
                $(this).parentsUntil('#treeList', 'ul').each(function() {
                    var $this = $(this);
                    var childSelected = $this.find(':checkbox:checked').length;
                    if (!childSelected) {
                        $this.prev(':checkbox').prop('checked', false);
                    }
                });
            }
        });
    });
</script>
