﻿@using UdvashERP.BusinessModel.Entity.UserAuth
@{
    int counter = 0;
    var menuList = (List<Menu>)ViewBag.UserMenuForPermission;
    var userMenuGroup = menuList.GroupBy(m => m.MenuGroup, (key, group) => new { Key = key, Group = group.ToList() });
    userMenuGroup = userMenuGroup.OrderBy(x => x.Key.Rank);
    long profileId = (long) ViewBag.ProfileId;
}

@foreach (var menuGroupList in userMenuGroup)
{
    <div style="width: 30%; float: left;">
        <ul id="treeLists" class="list-unstyled">
            <li>
                <input type="checkbox" name="selectedRole" disabled="disabled">
                 @menuGroupList.Key.Name
                @{
                    var menuListByGroup = menuGroupList.Group;
                    var rootMenuList = menuListByGroup.Where(x => x.MenuSelfMenu == null && x.Status == Menu.EntityStatus.Active).OrderBy(mm => mm.Rank).ToList();
                    foreach (var rootMenu in rootMenuList)
                    {
                        var subMenuItemListActive = menuList.Where(x => x.MenuSelfMenu == rootMenu && x.Status == Menu.EntityStatus.Active).OrderBy(m => m.Rank).ToList();
                        <ul>
                            <li class="@("continueContent" + rootMenu.Id) list-unstyled">
                                <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" type="checkbox" disabled="disabled" /> @rootMenu.Name
                                @foreach (Menu item2 in subMenuItemListActive)
                                {
                                    //bool allPermission = false;
                                    //int oCount = 0;
                                    //int pCount = 0;
                                    //int bCount = 0;

                                    //if (item2.UserMenus.Where(x => x.User.Id == profileId && x.Status == UserMenu.EntityStatus.Active && x.Organization == null && x.Program == null && x.Branch == null).Select(x => x.Menu).Distinct().Any())
                                    //{
                                    //    allPermission = true;
                                    //}
                                    //else
                                    //{
                                    //    oCount = item2.UserMenus.Where(x => x.User.Id == profileId && x.Status == UserMenu.EntityStatus.Active && x.Organization != null).Select(x => x.Organization).Distinct().Count();
                                    //    pCount = item2.UserMenus.Where(x => x.User.Id == profileId && x.Status == UserMenu.EntityStatus.Active && x.Program != null).Select(x => x.Program).Distinct().Count();
                                    //    bCount = item2.UserMenus.Where(x => x.User.Id == profileId && x.Status == UserMenu.EntityStatus.Active && x.Branch != null).Select(x => x.Branch).Distinct().Count();
                                    //}
                                    <ul>
                                        <li class="@("continueContent" + item2.Id) list-unstyled">
                                            <input id="UserPermissionListViewModel[@counter]_CheckedValue" name="UserPermissionListViewModel[@counter].CheckedValue" value="true" type="checkbox" disabled="disabled"/><span data-id="@item2.Id" class="viewPermission">@item2.Name</span>
                                            @*@if (allPermission)
                                            {
                                                <span>All</span>
                                            }
                                            else
                                            {
                                                <span>Org:@oCount, Prog:@pCount, Br:@bCount</span>   
                                            }*@
                                        </li>
                                    </ul>
                                    counter++;
                                }
                            </li>
                        </ul>
                    }
                }
            </li>
        </ul>
    </div>
}
<div class="modal fade col-md-12" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">User Permission List</h4>
            </div>
            <div class="modal-body">
                <div id="ViewPermissionContent">
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    //$(document).ready(function() {
    //    //$("input[type='checkbox']").change(function() { //#treeList :checkbox
    //    //    $(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
    //    //});
    //    $("input[type='checkbox']").change(function () {
    //        $(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
    //        if (this.checked) {
    //            $(this).parentsUntil('#treeList', 'ul').siblings(':checkbox').prop('checked', true);
    //        } else {
    //            $(this).parentsUntil('#treeList', 'ul').each(function() {
    //                var $this = $(this);
    //                var childSelected = $this.find(':checkbox:checked').length;
    //                if (!childSelected) {
    //                    $this.prev(':checkbox').prop('checked', false);
    //                }
    //            });
    //        }
    //    });
    //});
</script>
