﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.Entity.Hr.AttendanceSynchronizerSetting
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, now.Day).ToString("yyyy-MM-dd");
    ViewBag.Title = "Add Attendance Synchronizer Setting";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Add Attendance Synchronizer Setting
    </div>
    <div class="panel-body">
        @*@using (Html.BeginForm())*@
        @using (Html.BeginForm("Create", "AttendanceSynchronizerSetting", FormMethod.Post, new { @id = "", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @*<div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.SynchronizerVersion, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SynchronizerVersion, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.SynchronizerVersion, "", new {@class = "text-danger"})
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.UpdateUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UpdateUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UpdateUrl, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.Label("File", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <input type="file" width="0px" name="file" id="file"/>
                        @*@Html.EditorFor(model => model.UpdateUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*@Html.ValidationMessageFor(model => model.UpdateUrl, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReleaseDate, new {htmlAttributes = new {@class = "form-control form_datetime", @readonly = "true", @Value = startDate}})
                        @Html.ValidationMessageFor(model => model.ReleaseDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    </div>

@section scripts
{
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/dualListBox")
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
<script src="~/Scripts/Student/Attendance/attendanceReport.js"></script>
@Scripts.Render("~/bundles/bootstrap-datetimepicker")
   <script>
        $('.form_datetime').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: '@startDate',
            startView: 2,
            minView: 2,
            maxView: 4
        });
    </script>
    
}
