﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.AttendanceSynchronizerSetting>
    @Styles.Render("~/Content/styledatatable")
    @{
        ViewBag.Title = "Manage Attendance Synchronizer Setting";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="form-group">
        @Html.ActionLink("Add Synchronizer Setting", "Create", null, new { @class = "btn btn-primary" })
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Manage Attendance Synchronizer Setting</h3>
        </div>
        <div class="panel-body">
            @*@Html.AntiForgeryToken()*@
            <table>
                <tr class="form-group">
                    <th>&nbsp;</th>
                    <th class="form-group">
                        <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>

                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>

                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SynchronizerVersion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th style="width: 10%">Action</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>

            </table>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
        @Scripts.Render("~/bundles/datatable")
        <script type="text/javascript" class="init">
        $(document).ready(function () {
            function dataTableRender() {

                var pageSize = 10;

                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    pageSize = parseInt($('#PageSize').val());
                }
                else {
                    $('#PageSize').val(pageSize);
                }

                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": pageSize,
                    //stateSave: false,
                    order: [[1, "asc"]],
                    ajax: {
                        url: '@Url.Action("Index", "AttendanceSynchronizerSetting")',
                        type: 'POST',
                        data: function (d) {
                           
                        }
                    }
                });
            }

            dataTableRender();
            
            $(document).on("click", "#search", function () {
                dataTableRender();
            });
         $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> ?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/AttendanceSynchronizerSetting/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                success: function (result) {
                                    if (result.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Attendance Synchronizer Setting Deleted Successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    }
                                    else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                },
                                error: function (result) {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Attendance Synchronizer Setting Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });


        });
        </script>
    }
