﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsReturnViewModel
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
<script type='text/javascript' src='~/Content/Print/js/print.js'></script>
@{
    ViewBag.Title = "Goods Return";
    Layout = null;
    var isSubmittable = false;
}
<style>
    textarea {
        max-width: 100%;
    }
</style>

@if (Model!=null && string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div>
        @using (Html.BeginForm("SaveGoodsReturn", "GoodsReturn", FormMethod.Post, new { id = "returnsubmitform" }))
        {
            <input type="hidden" name="GoodsReturnDate" value="@Model.GoodsReturnDate"/>
            <input type="hidden" name="GoodsReturnNo" value="@Model.GoodsReturnNo"/>
            <input type="hidden" id="currentStockQuantity" value="@ViewBag.CurrentStockQuantity"/>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Goods Return Details</h3>
                </div>
                <div class="panel-body">
                    <div id="page-wrap">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="text-center">
                                <h4> @Model.OrganizationFullName </h4>
                                <input type="hidden" name="OrganizationFullName" value="@Model.OrganizationFullName" />
                            </div>
                            <br />
                        </div>
                        <div style="clear:both"></div>
                        <div id="customer">
                            <table id="meta">
                                <tr>
                                    <td class="meta-head">Organization</td>
                                    <td>
                                        @Model.OrganizationShortName
                                        <input type="hidden" name="OrganizationShortName" value="@Model.OrganizationShortName" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="meta-head">Branch</td>
                                    <td>
                                        @Model.Branch
                                        <input type="hidden" name="Branch" value="@Model.Branch" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="meta-head">Purpose</td>
                                    <td>
                                        @Model.Purpose
                                        <input type="hidden" name="Purpose" value="@Model.Purpose" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="meta-head">Supplier</td>
                                    <td>
                                        @Model.SupplierName
                                        <input type="hidden" name="SupplierName" value="@Model.SupplierName" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="meta-head">Item Group</td>
                                    <td>
                                        @Model.ItemGroup
                                        <input type="hidden" name="ItemGroup" value="@Model.ItemGroup" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="meta-head">Item</td>
                                    <td>
                                        @Model.ItemName
                                        <input type="hidden" name="ItemName" value="@Model.ItemName" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="meta-head">Program & Session</td>
                                    <td>
                                        @Model.ProgramSession
                                        <input type="hidden" name="ProgramSession" value="@Model.ProgramSession" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <br/>
                        <strong>Quantity & Rate Details:</strong>
                        <table id="items">
                            <thead>
                                <tr>
                                    <td><strong>Received Quantity</strong></td>
                                    <td><strong>Previously Returned Quantity</strong></td>
                                    <td><strong>Currently Returned Quantity</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                var count = 0;
                                var returnableQuantity = 0;
                                }
                                @foreach (var details in Model.QuantityRateDetails)
                                {
                                    {
                                        returnableQuantity = Convert.ToInt32(details.ReceivedQuantity) - Convert.ToInt32(details.PreviouslyReturnedQuantity);
                                    }
                                    <td><input type="hidden" name="QuantityRateDetails[@count].ReceivedQuantity" value="@details.ReceivedQuantity" /> @details.ReceivedQuantity</td>
                                    <td><input type="hidden" name="QuantityRateDetails[@count].PreviouslyReturnedQuantity" value="@details.PreviouslyReturnedQuantity" /> @details.PreviouslyReturnedQuantity</td>
                                    
                                    if (Convert.ToInt32(details.ReceivedQuantity) <= Convert.ToInt32(details.PreviouslyReturnedQuantity))
                                    {
                                        <td><input type="hidden" name="QuantityRateDetails[@count].ItemId" value="@details.ItemId">
                                        <input type="text" name="QuantityRateDetails[@count].CurrentlyReturnedQuantity" id="returnedQuantity" class="form-control numericInputOnly" min="1" required readonly="readonly" /></td>
                                    }
                                    else if (Convert.ToInt32(details.ReceivedQuantity) > Convert.ToInt32(details.PreviouslyReturnedQuantity))
                                    {
                                        <td><input type="hidden" name="QuantityRateDetails[@count].ItemId" value="@details.ItemId">
                                            <input type="text" name="QuantityRateDetails[@count].CurrentlyReturnedQuantity" id="returnedQuantity" class="form-control numericInputOnly" min="1" max="@returnableQuantity" maxlength="9" required /></td>
                                        isSubmittable = true;
                                    }
                                    count++;
                                }
                            </tbody>
                        </table>



                        <div class="clearfix"></div>
                        <br />
                        <div class="row col-md-12">
                            <label>
                                Remarks
                            </label>
                            <div class="">
                                @if (isSubmittable)
                                {
                                    <tr>
                                        <td colspan="3"><input type="hidden" name="GoodsReceivedId" value="@Model.GoodsReceivedId" />
                                            <textarea class="form-control" name="Remarks" id="Remarks" rows="3" placeholer="Remarks" ></textarea>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3"><input type="hidden" name="GoodsReceivedId" value="@Model.GoodsReceivedId" />
                                            <textarea class="form-control" name="Remarks" id="Remarks" rows="3" placeholer="Remarks"></textarea>
                                    </tr>
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                    </div>
                    <div class="text-center">
                        @if (isSubmittable)
                        {
                            <input type="button" id="SubmitReturn" class="btn btn-primary" value="Submit" />
                        }
                        else
                        {
                            <input type="button" id="SubmitReturn" class="btn btn-primary" value="Submit" disabled="disabled" />
                        }
                    </div>
                </div>
            </div>
        }
             <div>@Html.ActionLink("Back to manage", "Index", "GoodsReturn")</div>



    </div>
}
else
{
    <div id="replacing">
        <div class="text-center" style="color: red;">Goods receive not found</div>
        <div>@Html.ActionLink("Back to manage", "Index", "GoodsReturn")</div>
    </div>
    
}
@*@section Scripts {

    <script src="~/Scripts/printThis.js"></script>
    <script>
        $("#print").click(function () {
            $(".printDiv").printThis();
        });
    </script>

}*@