﻿@{
    ViewBag.Title = "Goods Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "GoodsReceiveDiv", HttpMethod = "Post" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Goods Return
        </div>
        <div class="panel-body">
            <label class="col-md-offset-1 col-md-3 text-right" style="padding-top: 5px">Goods Receive No :</label>
            <input class="form-control col-md-3" type="text" name="goodsReceiveNo" id="goodsReceiveNo" placeholder="Enter Goods Receive No" pattern=".{13,13}" required title="must be 13 characters" value="@ViewBag.goodsReceiveNo" />&nbsp;
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary " />
        </div>
    </div>
}


<div id="GoodsReceiveDiv">

</div>
@section Scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ajaxComplete(function () {
            $(document).on('input propertychange change', "#returnedQuantity", function (e) {
                var field = $(this);
                var min = parseInt(field.attr('min'));
                var max = parseInt(field.attr('max'));
                var value = parseInt(field.val());
                if (value >= min && value <= max) {
                    field.parent().find('.err').remove();
                }
                this.value = this.value.replace(/[^0-9]/g, '');
                var value2 = $(this).val();
                value2 = value2.replace(/^(0*)/, "");
                $(this).val(value2);
            });
            $("#SubmitReturn").click(function () {
                var currentStockQuantity = parseFloat($("#currentStockQuantity").val());
                var returnedQuantity = parseFloat($("#returnedQuantity").val());
                if (returnedQuantity > currentStockQuantity) {
                    $.fn.customMessage({
                        displayMessage: "Current stock quantity is: " + currentStockQuantity,
                        displayMessageType: "e",
                        //displayTime: 5000
                    });
                    return false;
                }
                var success = true;
                $('input[id*="returnedQuantity"]').each(function () {
                    var field = $(this);
                    field.parent().find('.err').remove();
                    var min = parseInt(field.attr('min'));
                    var max = parseInt(field.attr('max'));
                    var value = parseInt(field.val());
                    if (value < min || value > max) {
                        field.parent().append('<div class="err" style="color:red;">Value must be between' + min + ' and ' + max + '</div>');
                        success = false;
                    }
                });
                if (success) {
                    $("#returnsubmitform").submit();
                }
                return false;
            });
        });
        //$("#returnedQuantity").on('input propertychange change', function (e) {

        //    this.value = this.value.replace(/[^0-9\.]/g, '');
        //});
       // $(document).ready(function () {
           
            
       // });
    </script>


}

