﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsReturnViewModel
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
<script type='text/javascript' src='~/Content/Print/js/print.js'></script>
@{
    ViewBag.Title = "Goods Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        max-width: 100%;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Goods Return</h3>
    </div>
    <div class="panel-body">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.OrganizationFullName </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head">Organization</td>
                        <td>@Model.OrganizationShortName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Goods Return Date</td>
                        <td>@Model.GoodsReturnDate</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Goods Return No</td>
                        <td>@Model.GoodsReturnNo</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Purpose</td>
                        <td>@Model.Purpose</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Supplier Name</td>
                        <td>@Model.SupplierName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item Group</td>
                        <td>@Model.ItemGroup</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Item Name</td>
                        <td>@Model.ItemName</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Program & Session</td>
                        <td>@Model.ProgramSession</td>
                    </tr>
                </table>

            </div>
            <br />
            <strong>Goods Return Details</strong>
            <table id="items">
                <thead>
                    <tr>
                        <td><strong>Received Quantity</strong></td>
                        <td><strong>Previously Returned Quantity</strong></td>
                        <td><strong>Currently Returned Quantity</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @{ var count = 0;}
                    @foreach (var details in Model.QuantityRateDetails)
                    {
                    <td>@details.ReceivedQuantity</td>
                        <td>@details.PreviouslyReturnedQuantity</td>
                        <td><input type="hidden" name="QuantityRateDetails[@count].ItemId" value="@details.ItemId">@details.CurrentlyReturnedQuantity</td>
                        count++;
                    }
                    </tbody>
                </table>



                <div class="clearfix"></div>
                <br />
                <div class="row col-md-12">
                    <label>
                        Remarks
                    </label>
                    <div class="">
                        <tr>
                            <td colspan="3">
                                <input type="hidden" name="GoodsReceivedId" value="@Model.GoodsReceivedId" />
                                <textarea class="form-control" name="Remarks" id="Remarks" rows="3" placeholer="Remarks">@Model.Remarks</textarea>
                            </td>
                        </tr>


                    </div>
                </div>
                <div style="margin-top: 100px;" class="col-md-12">
                    <div class="pull-left">
                        <div style="border-top: 1px solid black">
                            @ViewBag.UserName
                        </div>
                    </div>
                    <div class="pull-right">
                        <div style="border-top: 1px solid black">
                            Store In Charge
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
            </div>
            <div class="text-center">
                <button type="button" id="print" class="btn btn-primary">Print</button>
            </div>
            </div>
        </div>
     <div>@Html.ActionLink("Back to manage", "Index", "GoodsReturn")</div>


@section Scripts {

        <script src="~/Scripts/printThis.js"></script>
        <script>
            $("#print").click(function () {
                $(".printDiv").printThis();
            });
        </script>

    }

