﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Hr.ExtraDayAllowanceSettingForm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "ExtradayAllowanceSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string organizationName = ViewBag.OrganizationName;
    string mVal = Convert.ToString(ViewBag.MultipleFactorVal);
    string cVal = Convert.ToString(ViewBag.CalculationOnVal);
    string creatyByStr = Convert.ToString(ViewBag.CreateByStr);
    string creationDateString = ViewBag.CreationDateStr;
    string modifiedByStr = Convert.ToString(ViewBag.ModifiedByStr);
    string modifiedDateStr = ViewBag.ModifiedDateStr;
    string effectiveDate = ViewBag.EffectiveFrom;
    string closingDate = ViewBag.ClosingDate;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Extraday Allowance</div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Organization: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="mVal" name="mVal" value="@organizationName" type="text" readonly="readonly">
                </div>
                @Html.Label("Settings Name: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Employment Status </label>
                    @foreach (MemberEmploymentStatus eStatus in ViewBag.EmploymentStatusList)
                    {
                        if (Model.EmployeeStatuses.Contains(eStatus))
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" type="checkbox" disabled checked="checked" value="0"> @eStatus
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" disabled type="checkbox" value="0"> @eStatus
                            </label>
                        }
                    }

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Holiday Types </label>
                    @foreach (AllowanceSettingHolidayType type in ViewBag.HolidayTypeList)
                    {
                        if (Model.HolidayTypes.Contains(type))
                        {
                            <label class="checkbox-inline">
                                <input class="chb-holiday-type HolidayType" name="HolidayTypes" type="checkbox" disabled checked="checked" value="0"> @type
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input class="chb-holiday-type HolidayType" name="HolidayTypes" disabled type="checkbox" value="0"> @type
                            </label>
                        }
                    }

                </div>
            </div>
            <div class="form-group">
                @Html.Label("Calculation On :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@cVal" type="text" readonly="readonly">
                </div>
                @Html.Label("Multiply By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="mVal" name="mVal" value="@mVal" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Effective From :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="effectiveDate" name="EffectiveDate" value="@effectiveDate" type="text" readonly="readonly">
                </div>
                @Html.Label("Closing Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="closingDate" name="ClosingDate" value="@closingDate" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Create By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@creatyByStr" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Creation Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="mVal" name="mVal" value="@creationDateString" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@modifiedByStr" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="mVal" name="mVal" value="@modifiedDateStr" type="text" readonly="readonly">
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}









