﻿@using System.Web.UI.WebControls
@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Hr.ExtraDayAllowanceSettingForm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "AllowanceSettingsEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime closingMinDate = Model.EffectiveDate;
    var orgName = ViewBag.OrganizationName;
    string mVal = Convert.ToString(ViewBag.MultipleFactor);
    string cVal = Convert.ToString(ViewBag.CalculationOn);
    
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Extraday Allowance</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization: ", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input class="form-control" id="mVal" name="mVal" value="@orgName" type="text" readonly="readonly">
                        @Html.EditorFor(model => model.OrganizationId, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                    </div>
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Employment Status </label>
                        @foreach (MemberEmploymentStatus eStatus in ViewBag.EmploymentStatusList)
                        {
                            if (Model.EmployeeStatuses.Contains(eStatus))
                            {
                                <label class="checkbox-inline">
                                    <input name="EmployeeStatuses" type="checkbox" disabled checked="checked" value="0"> @eStatus
                                </label>
                            }
                            else
                            {
                                <label class="checkbox-inline">
                                    <input name="EmployeeStatuses" disabled type="checkbox" value="0"> @eStatus
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Holiday Types </label>
                        @foreach (AllowanceSettingHolidayType type in ViewBag.HolidayTypeList)
                        {
                            if (Model.HolidayTypes.Contains(type))
                            {
                                <label class="checkbox-inline">
                                    <input class="chb-holiday-type HolidayType" name="HolidayTypes" type="checkbox" disabled checked="checked" value="0"> @type
                                </label>
                            }
                            else
                            {
                                <label class="checkbox-inline">
                                    <input class="chb-holiday-type HolidayType" name="HolidayTypes" disabled type="checkbox" value="0"> @type
                                </label>
                            }
                        }

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Calculation On :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input class="form-control" id="cVal" name="cVal" value="@cVal" type="text" readonly="readonly">
                    </div>
                    @Html.Label("Multiply By :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input class="form-control" id="mVal" name="mVal" value="@mVal" type="text" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control effectiveDateCtrl", @readonly = "readonly", @Value = Model.EffectiveDate.ToString("d MMM, yyyy") } })
                    </div>
                    @Html.LabelFor(model => model.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @id = "closingDate", @readonly = "readonly", @Value = Model.ClosingDate != null ? Model.ClosingDate.Value.ToString("d MMM, yyyy") : "" } })
                    </div>
                    @ViewBag.EffectiveDate
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">

    var clsDate = new Date('@closingMinDate.ToString("yyyy-MM-dd")');
    clsDate.setDate(clsDate.getDate() + 1);

    $('#closingDate').datetimepicker({
        format: "d M, yyyy",
        autoclose: true,
        todayBtn: false,
        showMeridian: true,
        startDate: clsDate,
        initialDate: clsDate,
        startView: 2,
        minView: 2,
        maxView: 4
    });

    </script>
}





