﻿@using System.Web.UI.WebControls
@using UdvashERP.BusinessRules
@using UdvashERP.Services.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.ExtraDayAllowanceSettingForm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "AllowanceSettingsEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime closingMinDate = Model.EffectiveDate;
    var orgName = ViewBag.OrganizationName;
    string mVal = Convert.ToString(ViewBag.MultipleFactor);
    string cVal = Convert.ToString(ViewBag.CalculationOn);

}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Extraday Allowance</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                @Html.HiddenFor(x=>x.Id)
                <div class="form-group">
                    @Html.Label("Organization: ", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input class="form-control" id="mVal" name="mVal" value="@orgName" type="text" readonly="readonly">
                        @Html.EditorFor(model => model.OrganizationId, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                    </div>
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Employment Status </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chb-employement-status" value="option"> All
                        </label>
                        @foreach (KeyValuePair<int, string> eStatus in ViewBag.EmploymentStatus)
                        {
                            bool isExist = Model.EmployeeStatuses.Any(meStatus => meStatus.ToString() == eStatus.Value);
                            if (isExist)
                            {
                                <label class="checkbox-inline">
                                    <input class="chb-employement-status EmployeeStatuses" name="EmployeeStatuses" type="checkbox" checked="checked" value="@eStatus.Key"> @eStatus.Value
                                </label>
                            }
                            else
                            {
                                <label class="checkbox-inline">
                                    <input class="chb-employement-status EmployeeStatuses" name="EmployeeStatuses" type="checkbox" value="@eStatus.Key"> @eStatus.Value
                                </label>
                            }
                        }
                        @Html.ValidationMessageFor(model => model.EmployeeStatuses, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-12 col-md-offset-2" id="EmployementType" style="color: red; display: none"> Please Select Employeement Type</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Holiday Types </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chb-holiday-type" value="option"> All
                        </label>
                        @foreach (KeyValuePair<int, string> type in ViewBag.HolidayTypeList)
                        {
                            bool isExixt = Model.HolidayTypes.Any(asholidays => asholidays.ToString() == type.Value);

                            if (isExixt)
                            {
                                <label class="checkbox-inline">
                                    <input class="chb-holiday-type HolidayType" name="HolidayTypes" type="checkbox" checked="checked" value="@type.Key"> @type.Value
                                </label>
                            }
                            else
                            {
                                <label class="checkbox-inline">
                                    <input class="chb-holiday-type HolidayType" name="HolidayTypes" type="checkbox" value="@type.Key"> @type.Value
                                </label>
                            }
                        }
                        @Html.ValidationMessageFor(model => model.HolidayTypes, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-6 col-md-offset-2" id="HolidayType" style="color: red; display: none"> Please Select Holiday Type</label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CalculationOn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CalculationOn, (SelectList)ViewBag.CalculationOnList, "Select Calculation On", new { @class = "form-control", @id = "CalculationOn" })
                        @Html.ValidationMessageFor(model => model.CalculationOn, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MultiplyingFactor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.MultiplyingFactor, (SelectList)ViewBag.MultipleFactorList, "Select Mulfiplying Factory", new { @class = "form-control", @id = "MultiplyingFactor" })
                        @Html.ValidationMessageFor(model => model.MultiplyingFactor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control", @id = "EffectiveDate", @readonly = "readonly", @Value = Model.EffectiveDate.ToString("d MMM, yyyy") } })
                    </div>
                    @Html.LabelFor(model => model.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @id = "ClosingDate", @readonly = "readonly", @Value = Model.ClosingDate != null ? Model.ClosingDate.Value.ToString("d MMM, yyyy") : "" } })
                    </div>
                    @ViewBag.EffectiveDate
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">

        var clsDate = new Date('@closingMinDate.ToString("yyyy-MM-dd")');
        clsDate.setDate(clsDate.getDate() + 1);

        $('#EffectiveDate').datetimepicker({
            format: "d M, yyyy",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            //startDate: new Date(),
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        }).on('changeDate', function (ev) {
            if ($(this).val().length <= 0) {
                window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                window.showErrorMessageBelowCtrl("EffectiveDate", "Please Enter Effective Date", true);
            } else {
                window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                dateDiff();
            }
        });

        $('#ClosingDate').datetimepicker({
            format: "d M, yyyy",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            //startDate: clsDate,
            //initialDate: clsDate,
            startView: 2,
            minView: 2,
            maxView: 4
        }).on('changeDate', function (e) {
            dateDiff();
        });
        
        $(document).ready(function() {
            var employmentAllchecked = true;
            $('.chb-employement-status').each(function (index, value) {
                if ($(this).is(':checked')) {
                    $('#EmployementType').css("display", "none");
                } else {
                    employmentAllchecked = false;
                }
            });
            if (employmentAllchecked) {
                $('#chb-employement-status').prop('checked', true);
            }

            var holidayAllChecked = true;
            $('.chb-holiday-type').each(function (index, value) {
                if ($(this).is(':checked')) {
                    $('#HolidayType').css("display", "none");
                } else {
                    holidayAllChecked = false;
                }
            });
            if (holidayAllChecked) {
                $('#chb-holiday-type').prop('checked', true);
            }
        });

        $(document).ready(function () {
            $("#chb-employement-status").click(function () {
                if ($(this).is(':checked')) {
                    $(".chb-employement-status").each(function () {
                        $(this).prop('checked', true);
                        $('#EmployementType').css("display", "none");
                    });
                } else {
                    $(".chb-employement-status").each(function () {
                        $(this).prop('checked', false);
                    });
                    $('#EmployementType').css("display", "");
                }
            });

            $(document).on('click', '.chb-employement-status', function () {
                var allchecked = true;
                $('.chb-employement-status').each(function (index, value) {
                    if ($(this).is(':checked')) {
                        $('#EmployementType').css("display", "none");
                    } else {
                        allchecked = false;
                    }
                });
                if (allchecked) {
                    $('#chb-employement-status').prop('checked', true);
                } else {
                    $('#chb-employement-status').prop('checked', false);

                    var checkHas = false;
                    $('.chb-employement-status').each(function (index, value) {
                        if ($(this).is(':checked')) {
                            checkHas = true;
                        }
                    });
                    if (!checkHas) {
                        $('#EmployementType').css("display", "");
                    }
                }


            });

            $("#chb-holiday-type").click(function () {
                if ($(this).is(':checked')) {
                    $(".chb-holiday-type").each(function () {
                        $(this).prop('checked', true);
                        $('#HolidayType').css("display", "none");
                    });
                } else {
                    $(".chb-holiday-type").each(function () {
                        $(this).prop('checked', false);
                    });
                    $('#HolidayType').css("display", "");
                }
            });

            $(document).on('click', '.chb-holiday-type', function () {
                var allchecked = true;
                $('.chb-holiday-type').each(function (index, value) {
                    if ($(this).is(':checked')) {
                        $('#HolidayType').css("display", "none");
                    } else {
                        allchecked = false;
                    }
                });
                if (allchecked) {
                    $('#chb-holiday-type').prop('checked', true);
                } else {
                    $('#chb-holiday-type').prop('checked', false);
                    var checkHas = false;
                    $('.chb-holiday-type').each(function (index, value) {
                        if ($(this).is(':checked')) {
                            checkHas = true;
                        }
                    });
                    if (!checkHas) {
                        $('#HolidayType').css("display", "");
                    }
                }
            });
        });
        $(document).on('click', '#Submit', function (e) {
            var emStatusChecked = false;
            $('.chb-employement-status').each(function (index, value) {
                if ($(this).is(':checked')) {
                    emStatusChecked = true;
                }
            });
            var hTypeChecked = false;
            $('.chb-holiday-type').each(function (index, value) {
                if ($(this).is(':checked')) {
                    hTypeChecked = true;
                }
            });

            if (!emStatusChecked || !hTypeChecked) {
                if (!emStatusChecked) {
                    $('#EmployementType').css("display", "");
                }
                if (!hTypeChecked) {
                    $('#HolidayType').css("display", "");
                }
                e.preventDefault();
            }
        });
        function dateDiff() {
            var fromDate = $('#EffectiveDate').val();
            var toDate = $('#ClosingDate').val();
            if (fromDate.length > 0 && toDate.length > 0) {
                var fromDateFormated = new Date(fromDate);
                var toDateFormated = new Date(toDate);
                if (fromDateFormated > toDateFormated) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Effective Date is less then Closing Date.", true);
                } else {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
            }
        }

    </script>
}





