﻿@using System.Collections
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam

@using UdvashERP.BusinessModel.Entity.Hr
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ExamParent examParent = ViewBag.ExamParent;
    Exams exam = ViewBag.ExamUnderThisParent;
}

@using (Html.BeginForm("Edit", "Exams", FormMethod.Post, new { name = "editExamForm", id = "editExamForm" }))
{
    IList<Subject> subjectList = ViewBag.SubjectList;

    @Html.AntiForgeryToken()
    <div class="panel panel-primary" id="upperDiv">
        <div class="panel-heading">
            Exam Details
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <input type="hidden" value=@ViewBag.id name="examParentId" id="examParentId" />
                <div class="form-group col-md-6">
                    @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Program.Organization.ShortName
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Program.Name
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Session.Name
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
    string branch = "All Branch";
    if (exam.Branch != null)
    {
        branch = exam.Branch.Name;
    }
                        }

                        <select disabled="disabled" class="form-control">
                            <option>
                                @branch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    @Html.Label("Campus", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
    string batch = "All batch";
    string campus = "All Campus";
    string batchTime = "All batch time";
    string batchDay = "All batch days";
    if (exam.Batch != null)
    {
        campus = exam.Batch.Campus.Name;
    }
                        }

                        <select disabled="disabled" class="form-control">
                            <option>
                                @campus
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Batch Days", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @if (exam.Batch != null)
                        {
                            batchDay = exam.Batch.Days;
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batchDay
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @if (exam.Batch != null)
                        {
                            batchTime = exam.Batch.FormatedBatchTime;
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batchTime
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Batch", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @if (exam.Batch != null)
                        {
                            batch = exam.Batch.Name;
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Course.Name
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="" class="control-label col-md-3">Exam Type</label>
                    <div class="col-md-9" id="examTypeDiv">
                        @{
                            if (exam.IsMcq)
                            {
                                <input type="checkbox" name="mcqExamType" id="mcqExamType" value="1" disabled="disabled" checked="checked" /><span>MCQ</span>
                            }
                            else
                            {
                                <input type="checkbox" name="mcqExamType" id="mcqExamType" value="1" disabled="disabled" /><span>MCQ</span>
                            }
                            if (exam.IsWritten)
                            {
                                <input type="checkbox" name="writtenExamType" id="writtenExamType" value="1" disabled="disabled" checked="checked" /><span>Written</span>
                            }
                            else
                            {
                                <input type="checkbox" name="writtenExamType" id="writtenExamType" value="1" disabled="disabled" /><span>Written</span>
                            }
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("IsAcceptPartialAnswer", "Answer Type", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8" id="" style="margin-left:-35px;">
                                                @{
    if (exam.IsAcceptPartialAnswer)
    {
                    <input type="radio" name="isAcceptPartialAnswer" id="acceptPartialAnswer" value="1" checked="checked" disabled="disabled"><span>Partial</span>
                                <input type="radio" name="isAcceptPartialAnswer" id="unacceptPartialAnswer" value="0" disabled="disabled"><span>Exact</span>
    }
    else
    {
                    <input type="radio" name="isAcceptPartialAnswer" id="acceptPartialAnswer" value="1" disabled="disabled"><span>Partial</span>
                        <input type="radio" name="isAcceptPartialAnswer" id="unacceptPartialAnswer" value="0" checked="checked" disabled="disabled"><span>Exact</span>
                            }
                        }
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label for="McqFullMarks" class="control-label col-md-3">MCQ Full Marks</label>
                    <div id="mfmmsg" class="col-md-9">
                        @{
                            var mcqmarks = Convert.ToInt32(exam.McqFullMarks);
                            if (exam.IsMcq)
                            {
                                <input type="text" value="@mcqmarks" placeholder="MCQ Full Marks" name="McqFullMarks" maxlength="6" id="mcqFullMarks" class="form-control text-box single-line">
                            }
                            else
                            {
                                <input type="text" value="@mcqmarks" placeholder="MCQ Full Marks" name="McqFullMarks" maxlength="6" id="mcqFullMarks" class="form-control text-box single-line" disabled="disabled">
                            }
                        }

                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label for="WrittenFullMark" class="control-label col-md-3">Written Full Marks</label>
                    <div id="wfmmsg" class="col-md-9">
                        @{
                            var writtenmarks = Convert.ToInt32(exam.WrittenFullMark);
                            if (exam.IsWritten)
                            {
                                <input type="text" value="@writtenmarks" placeholder="Written Full Marks" name="WrittenFullMark" maxlength="6" id="writtenFullMark" class="form-control text-box single-line">
                            }
                            else
                            {
                                <input type="text" value="@writtenmarks" placeholder="Written Full Marks" name="WrittenFullMark" maxlength="6" id="writtenFullMark" class="form-control text-box single-line" disabled="disabled">
                            }
                        }

                    </div>


                </div>
            </div>
        </div>
    </div>

    if (exam.IsMcq)
    {
        int mcqSubjectType = ViewBag.McqSubjectType;
        <div class="panel panel-primary" id="mcqSubjectType">
            <div class="panel-heading">
                MCQ Details
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Subject Type </strong></div>
                    @{
                        if (mcqSubjectType == SubjectType.Single)
                        {
                            <input type="radio" name="mcqsubType" id="singleMcqSubType" checked="checked" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                            <input type="radio" name="mcqsubType" id="multipleMcqSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                            <input type="radio" name="mcqsubType" id="combinedMcqSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
                        }
                        else if (mcqSubjectType == SubjectType.Multiple)
                        {
                            <input type="radio" name="mcqsubType" id="singleMcqSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                            <input type="radio" name="mcqsubType" id="multipleMcqSubType" checked="checked" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                            <input type="radio" name="mcqsubType" id="combinedMcqSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
                        }
                        else if (mcqSubjectType == SubjectType.Combined)
                        {
                            <input type="radio" name="mcqsubType" id="singleMcqSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                            <input type="radio" name="mcqsubType" id="multipleMcqSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                            <input type="radio" name="mcqsubType" id="combinedMcqSubType" checked="checked" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
                        }
                    }

                </div>

                

                <div id="mcqPartialView">
                    @{
                        if (mcqSubjectType == SubjectType.Single)
                        {
                            Html.RenderPartial("Partial/_McqSinglePartialViewForEdit");
                        }
                        else if (mcqSubjectType == SubjectType.Multiple)
                        {
                            Html.RenderPartial("Partial/_McqMultiplePartialViewForEdit");
                        }
                        else if (mcqSubjectType == SubjectType.Combined)
                        {
                            Html.RenderPartial("Partial/_McqCombinedPartialViewForEdit");
                        }
                    }
                </div>
            </div>
        </div>
    
    }
    if (exam.IsWritten)
    {
        int writtenSubjectType = ViewBag.WrittenSubjectType;
        <div class="panel panel-primary" id="writtenSubjectType">
            <div class="panel-heading">
                Written Details
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Subject Type</strong></div>
                    @{
                        if (writtenSubjectType == SubjectType.Single)
                        {
                            <input type="radio" name="writtensubType" id="singleWrittenSubType" checked="checked" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                            <input type="radio" name="writtensubType" id="multipleWrittenSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                            <input type="radio" name="writtensubType" id="combinedWrittenSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
                        }
                        else if (writtenSubjectType == SubjectType.Multiple)
                        {
                            <input type="radio" name="writtensubType" id="singleWrittenSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                            <input type="radio" name="writtensubType" id="multipleWrittenSubType" checked="checked" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                            <input type="radio" name="writtensubType" id="combinedWrittenSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
                        }
                        else if (writtenSubjectType == SubjectType.Combined)
                        {
                            <input type="radio" name="writtensubType" id="singleWrittenSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                            <input type="radio" name="writtensubType" id="multipleWrittenSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                            <input type="radio" name="writtensubType" id="combinedWrittenSubType" checked="checked" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
                        }
                    }
                </div>

                <div id="writtenPartialView">
                    @{
                        if (writtenSubjectType == SubjectType.Single)
                        {
                            Html.RenderPartial("Partial/_WrittenSinglePartialViewForEdit");
                        }
                        else if (writtenSubjectType == SubjectType.Multiple)
                        {
                            Html.RenderPartial("Partial/_WrittenMultiplePartialViewForEdit");
                        }
                        else if (writtenSubjectType == SubjectType.Combined)
                        {
                            Html.RenderPartial("Partial/_WrittenCombinedPartialViewForEdit");
                        }
                    }
                </div>

            </div>
        </div>
    
    }

    <div class="panel panel-primary">
        <div class="panel-heading">
            Written Details
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-9">
                    @Html.Label("No of Exam", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9" id="ecmsg">
                        <input type="text" name="noofexam" id="noofexam" placeholder="Enter No of Exam" class="form-control" value="@examParent.NumberOfExam" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    @Html.Label("Exam Name prefix", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9" id="enmsg">
                        <input type="text" name="examNamePrefix" id="examNamePrefix" placeholder="Exam Name prefix" class="form-control" value="@examParent.ExamNamePrefix" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    @Html.Label("Short Name prefix", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9" id="snmsg">
                        <input type="text" name="examShortNamePrefix" id="examShortNamePrefix" placeholder="Short Name prefix" class="form-control" value="@examParent.ExamShortNamePrefix" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    <div class="col-md-9" id="snmsg">
                        @{
                            if (examParent.IsTakeAnswerSheetWhenUploadMarks)
                            {
                                <input type="checkbox" name="isAnswerSheet" id="isAnswerSheet" value="1" checked="checked" disabled="disabled">
                            }
                            else
                            {
                                <input type="checkbox" name="isAnswerSheet" id="isAnswerSheet" value="1" disabled="disabled">
                            }
                        }
                        Is take answersheet when upload marks ?
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
    
}
@section Scripts {
    <script>
        $('input').prop('disabled', 'disabled');
    </script>
    
}