﻿@using System.Collections
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam

@using UdvashERP.BusinessModel.Entity.Hr
@{
    ViewBag.Title = "EditIndividualExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ExamParent examParent = ViewBag.ExamParent;
    Exams exam = ViewBag.ExamUnderThisParent;
}

@using (Html.BeginForm("EditIndividualExam", "Exams", FormMethod.Post, new { name = "editExamForm", id = "editExamForm" }))
{
    IList<Subject> subjectList = ViewBag.SubjectList;

    @Html.AntiForgeryToken()
    <div class="panel panel-primary" id="upperDiv">
        <div class="panel-heading">
            Exam Details
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <input type="hidden" value=@ViewBag.id name="examParentId" id="examParentId" />
                <div class="form-group col-md-6">
                    @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Program.Organization.ShortName
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Program.Name
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Session.Name
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
    string branch = "All Branch";
    if (exam.Branch != null)
    {
        branch = exam.Branch.Name;
    }
                        }

                        <select disabled="disabled" class="form-control">
                            <option>
                                @branch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    @Html.Label("Campus", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
    string batch = "All batch";
    string campus = "All Campus";
    string batchTime = "All batch time";
    string batchDay = "All batch days";
    if (exam.Batch != null)
    {
        campus = exam.Batch.Campus.Name;
    }
                        }

                        <select disabled="disabled" class="form-control">
                            <option>
                                @campus
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Batch Days", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{

    if (exam.Batch != null)
    {
        batchDay = exam.Batch.Days;
    }
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batchDay
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{

    if (exam.Batch != null)
    {
        batchTime = exam.Batch.FormatedBatchTime;
    }
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batchTime
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Batch", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{

    if (exam.Batch != null)
    {
        batch = exam.Batch.Name;
    }
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Course.Name
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="" class="control-label col-md-3">Exam Type</label>
                    <div class="col-md-9" id="examTypeDiv">
                        @{
    if (exam.IsMcq)
    {
        <input type="checkbox" name="mcqExamType" id="mcqExamType" value="1" disabled="disabled" checked="checked" /><span>MCQ</span>
    }
    else
    {
        <input type="checkbox" name="mcqExamType" id="mcqExamType" value="1" disabled="disabled" /><span>MCQ</span>
    }
    if (exam.IsWritten)
    {
        <input type="checkbox" name="writtenExamType" id="writtenExamType" value="1" disabled="disabled" checked="checked" /><span>Written</span>
    }
    else
    {
        <input type="checkbox" name="writtenExamType" id="writtenExamType" value="1" disabled="disabled" /><span>Written</span>
    }
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("IsAcceptPartialAnswer", "Answer Type", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8" id="" style="margin-left:-35px;">
                        @{
    if (exam.IsAcceptPartialAnswer)
    {
        <input type="radio" name="isAcceptPartialAnswer" id="acceptPartialAnswer" value="1" checked="checked"><span>Partial</span>
                            <input type="radio" name="isAcceptPartialAnswer" id="unacceptPartialAnswer" value="0"><span>Exact</span>
    }
    else
    {
        <input type="radio" name="isAcceptPartialAnswer" id="acceptPartialAnswer" value="1"><span>Partial</span>
                            <input type="radio" name="isAcceptPartialAnswer" id="unacceptPartialAnswer" value="0" checked="checked"><span>Exact</span>
    }
                        }
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label for="McqFullMarks" class="control-label col-md-3">MCQ Full Marks</label>
                    <div id="mfmmsg" class="col-md-9">
                        @{
    var mcqmarks = Convert.ToInt32(exam.McqFullMarks);
    if (exam.IsMcq)
    {
        <input type="text" value="@mcqmarks" placeholder="MCQ Full Marks" name="McqFullMarks" maxlength="6" id="mcqFullMarks" class="form-control text-box single-line">
    }
    else
    {
        <input type="text" value="@mcqmarks" placeholder="MCQ Full Marks" name="McqFullMarks" maxlength="6" id="mcqFullMarks" class="form-control text-box single-line" disabled="disabled">
    }
                        }

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="WrittenFullMark" class="control-label col-md-3">Exam Name</label>
                    <div id="wfmmsg" class="col-md-9">
                       <input type="text" value="@exam.Name" placeholder="Exam name" name="examName" maxlength="6" id="examName" class="form-control text-box single-line">
                </div>

                </div>
            </div>
        </div>
    </div>

    if (exam.IsMcq)
    {
        int mcqSubjectType = ViewBag.McqSubjectType;
        <div class="panel panel-primary" id="mcqSubjectType">
            <div class="panel-heading">
                MCQ Details
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Subject Type </strong></div>
                    @{
        if (mcqSubjectType == SubjectType.Single)
        {
            <input type="radio" name="mcqsubType" id="singleMcqSubType" checked="checked" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="multipleMcqSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="combinedMcqSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
        else if (mcqSubjectType == SubjectType.Multiple)
        {
            <input type="radio" name="mcqsubType" id="singleMcqSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="multipleMcqSubType" checked="checked" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="combinedMcqSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
        else if (mcqSubjectType == SubjectType.Combined)
        {
            <input type="radio" name="mcqsubType" id="singleMcqSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="multipleMcqSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="combinedMcqSubType" checked="checked" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
                    }

                </div>

                <div id="mcqPartialView">
                    @{
        if (mcqSubjectType == SubjectType.Single)
        {
            Html.RenderPartial("Partial/_McqSinglePartialViewForEdit");
        }
        else if (mcqSubjectType == SubjectType.Multiple)
        {
            Html.RenderPartial("Partial/_McqMultiplePartialViewForEdit");
        }
        else if (mcqSubjectType == SubjectType.Combined)
        {
            Html.RenderPartial("Partial/_McqCombinedPartialViewForEdit");
        }
                    }
                </div>
            </div>
        </div>
    }
    
    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="button" id="updateBtn" value="Update" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        var courseId = "@examParent.Course.Id";
        var success = true;
        var isMcq = "@exam.IsMcq";
        var isWritten = "@exam.IsWritten";

        var subjectTypeSingle = "@SubjectType.Single";
        var subjectTypeMultiple = "@SubjectType.Multiple";
        var subjectTypeCombine = "@SubjectType.Combined";

        $(document).ready(function() {
            $('input,select').not('#mcqFullMarks,#examName,#durationHour,#durationMinute,#isBanglaVersion,#isEnglishVersion,#updateBtn').attr('disabled', 'disabled');
        });
        $(document).ready(function () {
            $("input[name*='PassMark']").each(function (i) {
                console.log("***" + parseFloat($(this).val()));
                if (parseFloat($(this).val()) === 0) {
                    console.log("***" + $(this).val());
                    $(this).val($(this).val().replace(/^0+/, ''));
                }
            });
            $("input[name*='NegativeMark']").each(function (i) {
                if (parseFloat($(this).val()) === 0) {
                    $(this).val($(this).val().replace(/^0+/, ''));
                }
            });
            $(document).on("input propertychange",
                ".numeric",
                function() {
                    this.value = this.value.replace(/[^\d\.\-]/g, '');
                });
            $(document).on("input propertychange change", "#durationHour", function(event) {

                //if ($("#durationHour").val() == "") {
                //    $(".hourerrmsg").remove();
                //    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>Duration Hour is required</div>");
                //}
                //else
                    if ($("#durationHour").val() < 0 || $("#durationHour").val() > 24) {
                    $(".hourerrmsg").remove();
                    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>Range of Duration Hour is 0-23</div>");
                }
                    else if (($("#durationHour").val() == 0 || $("#durationHour").val() == "") && ($("#durationMinute").val()==0||$("#durationMinute").val()=="")) {

                        $(".hourerrmsg").remove();
                    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");

                }
                else {
                        $(".minuteerrmsg").remove();
                        $(".hourerrmsg").remove();
                }
                if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            });
            //allow only numeric in mcq full marks and written full marks fields
            $(document).on("input propertychange change", "#durationMinute", function(event) {

                 if ($("#durationMinute").val() < 0 || $("#durationMinute").val() > 59) {
                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg").append("<div class='minuteerrmsg'style='color:red'>Range of Duration Minute is 0-59</div>");
                }
                 else if (($("#durationHour").val() == 0 || $("#durationHour").val() == "") && ($("#durationMinute").val() == 0 || $("#durationMinute").val() == "")) {

                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg").append("<div class='minuteerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");
                }
                else {

                     $(".minuteerrmsg").remove();
                     $(".hourerrmsg").remove();
                }
                if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            });

            //allow only numeric in mcq full marks and written full marks fields
            //$(document).on("input propertychange change", "#totalUniqueSet", function(event) {

            //    if ($("#totalUniqueSet").val() == "") {
            //        $(".uniqerrmsg").remove();
            //        $("#uniqerrmsg").append("<div class='uniqerrmsg'style='color:red'>Total Unique Set is required</div>");
            //    } else if ($("#totalUniqueSet").val() < 0 || $("#totalUniqueSet").val() > 99) {
            //        $(".uniqerrmsg").remove();
            //        $("#uniqerrmsg").append("<div class='uniqerrmsg'style='color:red'>Range of Total Unique Set is 0-99</div>");
            //    } else {
            //        $(".uniqerrmsg").remove();
            //    }
            //    if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            //        this.value = this.value.replace(/[^0-9\.]/g, '');
            //    }
            //});
            
            //$("#mcqFullMarks").on('input propertychange change',
            //    function(e) {
            //        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            //            this.value = this.value.replace(/[^0-9\.]/g, '');
            //        }
            //        if ($("#mcqFullMarks").val() == "") {
            //            $(".mfmmsg").remove();
            //            $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>MCQ full marks is required</div>");
            //        } else {
            //            if ($("#mcqFullMarks").val() == 0) {
            //                $(".mfmmsg").remove();
            //                $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>Value Can not be Zero.</div>");
            //            } else {
            //                $(".mfmmsg").remove();
            //            }
            //        }
            //    });

            $("#updateBtn").click(function () {
                var isValid = true;
                var mcqFullMarks = $("#mcqFullMarks").val();
                if (isMcq == "True") {
                    if (mcqFullMarks == "") {
                        $(".mfmmsg").remove();
                        $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>MCQ full marks is required</div>");
                        isValid = false;
                    } else {
                        if (mcqFullMarks == 0) {
                            $(".mfmmsg").remove();
                            $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>Value Can not be Zero.</div>");
                            isValid = false;
                        }
                    }
                }
                
                //$(":text").each(function () {
                //    var id = $(this).attr("id");

                //    if (id!="totalUniqueSet" && id!="durationHour" && id!="durationMinute" &&  parseFloat($(this).val()) == 0) {
                //        $(this).parent().find(".notZero").remove();
                //        $(this).parent()
                //            .append("<div class='notZero'style='color:red'>Value Can not be Zero.</div>");
                //        console.log("zero");
                //        isValid = false;
                //    }
                //});
                var examName = $("#examName").val();
                var totalUniqueSet = $("#totalUniqueSet").val();
                var durationHour = $("#durationHour").val();
                var durationMinute = $("#durationMinute").val();
                var isBanglaVersion = $("#isBanglaVersion").is(':checked');
                var isEnglishVersion = $("#isEnglishVersion").is(':checked');
                if (totalUniqueSet=="") {
                    $(".uniqerrmsg").remove();
                    $("#uniqerrmsg").append("<div class='uniqerrmsg'style='color:red'>Total Unique Set is required</div>");
                    isValid = false;
                }
                else if (totalUniqueSet < 0 || totalUniqueSet > 99) {
                    $(".uniqerrmsg").remove();
                    $("#uniqerrmsg").append("<div class='uniqerrmsg'style='color:red'>Range of Total Unique Set is 0-99</div>");
                    isValid = false;
                } else {
                    $(".uniqerrmsg").remove();
                }
                
                //if ($("#durationHour").val() == "") {
                //    $(".hourerrmsg").remove();
                //    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>Duration Hour is required</div>");
                //    isValid = false;
                //}
                //else
                if ($("#durationHour").val() < 0 || $("#durationHour").val() > 24) {
                    $(".hourerrmsg").remove();
                    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>Range of Duration Hour is 0-23</div>");
                    isValid = false;
                    console.log("1"+isValid);
                }
                else if (($("#durationHour").val() == 0 || $("#durationHour").val() == "") && ($("#durationMinute").val() == 0||$("#durationMinute").val() == "")) {
                    $(".hourerrmsg").remove();
                    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");
                    isValid = false;
                    console.log("2"+isValid);
                }
                else {
                    $(".minuteerrmsg").remove();
                    $(".hourerrmsg").remove();
                }

                
                 if ($("#durationMinute").val() < 0 || $("#durationMinute").val() > 59) {
                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg").append("<div class='minuteerrmsg'style='color:red'>Range of Duration Minute is 0-59</div>");
                    isValid = false;
                }

                 else if (($("#durationHour").val() == 0 || $("#durationHour").val() == "") && ($("#durationMinute").val() == 0 || $("#durationMinute").val() == "")) {

                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg").append("<div class='minuteerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");
                    isValid = false;
                }
                else {

                     $(".minuteerrmsg").remove();
                     $(".hourerrmsg").remove();
                }
               if (isValid) {
                    var updateExamViewModel = {};
                    updateExamViewModel["ExamId"] = '@exam.Id';
                    updateExamViewModel["ExamName"] = examName;
                    updateExamViewModel["TotalUniqueSet"] = totalUniqueSet;
                    updateExamViewModel["DurationHour"] = durationHour;
                    updateExamViewModel["DurationMinute"] = durationMinute;
                    updateExamViewModel["IsEnglishversion"] = isEnglishVersion;
                    updateExamViewModel["IsBanglaVersion"] = isBanglaVersion;
                    var data = JSON.stringify(updateExamViewModel);

                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Exam/Exams/EditIndividualExam",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                console.log(result);
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "s",
                                    displayTime: 50000
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                    displayTime: 50000
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {
                    
                }
            });
        });


    </script>
}