﻿@using System.Collections
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam

@using UdvashERP.BusinessModel.Entity.Hr
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ExamParent examParent = ViewBag.ExamParent;
    Exams exam = ViewBag.ExamUnderThisParent;
}

@using (Html.BeginForm("Edit", "Exams", FormMethod.Post, new { name = "editExamForm", id = "editExamForm" }))
{
    IList<Subject> subjectList = ViewBag.SubjectList;

    @Html.AntiForgeryToken()
    <div class="panel panel-primary" id="upperDiv">
        <div class="panel-heading">
            Exam Details
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <input type="hidden" value=@ViewBag.id name="examParentId" id="examParentId" />
                <div class="form-group col-md-6">
                    @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Program.Organization.ShortName
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Program", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Program.Name
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Session.Name
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
    string branch = "All Branch";
    if (exam.Branch != null)
    {
        branch = exam.Branch.Name;
    }
                        }

                        <select disabled="disabled" class="form-control">
                            <option>
                                @branch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    @Html.Label("Campus", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
    string batch = "All batch";
    string campus = "All Campus";
    string batchTime = "All batch time";
    string batchDay = "All batch days";
    if (exam.Batch != null)
    {
        campus = exam.Batch.Campus.Name;
    }
                        }

                        <select disabled="disabled" class="form-control">
                            <option>
                                @campus
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Batch Days", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{

    if (exam.Batch != null)
    {
        batchDay = exam.Batch.Days;
    }
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batchDay
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{

    if (exam.Batch != null)
    {
        batchTime = exam.Batch.FormatedBatchTime;
    }
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batchTime
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Batch", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{

    if (exam.Batch != null)
    {
        batch = exam.Batch.Name;
    }
                        }
                        <select disabled="disabled" class="form-control">
                            <option>
                                @batch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select disabled="disabled" class="form-control">
                            <option>
                                @exam.Course.Name
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="" class="control-label col-md-3">Exam Type</label>
                    <div class="col-md-9" id="examTypeDiv">
                        @{
    if (exam.IsMcq)
    {
        <input type="checkbox" name="mcqExamType" id="mcqExamType" value="1" disabled="disabled" checked="checked" /><span>MCQ</span>
    }
    else
    {
        <input type="checkbox" name="mcqExamType" id="mcqExamType" value="1" disabled="disabled" /><span>MCQ</span>
    }
    if (exam.IsWritten)
    {
        <input type="checkbox" name="writtenExamType" id="writtenExamType" value="1" disabled="disabled" checked="checked" /><span>Written</span>
    }
    else
    {
        <input type="checkbox" name="writtenExamType" id="writtenExamType" value="1" disabled="disabled" /><span>Written</span>
    }
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("IsAcceptPartialAnswer", "Answer Type", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8" id="" style="margin-left:-35px;">
                        @{
    if (exam.IsAcceptPartialAnswer)
    {
        <input type="radio" name="isAcceptPartialAnswer" id="acceptPartialAnswer" value="1" checked="checked"><span>Partial</span>
                            <input type="radio" name="isAcceptPartialAnswer" id="unacceptPartialAnswer" value="0"><span>Exact</span>
    }
    else
    {
        <input type="radio" name="isAcceptPartialAnswer" id="acceptPartialAnswer" value="1"><span>Partial</span>
                            <input type="radio" name="isAcceptPartialAnswer" id="unacceptPartialAnswer" value="0" checked="checked"><span>Exact</span>
    }
                        }
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label for="McqFullMarks" class="control-label col-md-3">MCQ Full Marks</label>
                    <div id="mfmmsg" class="col-md-9">
                        @{
    var mcqmarks = Convert.ToInt32(exam.McqFullMarks);
    if (exam.IsMcq)
    {
        <input type="text" value="@mcqmarks" placeholder="MCQ Full Marks" name="McqFullMarks" maxlength="6" id="mcqFullMarks" class="form-control text-box single-line numeric">
    }
    else
    {
        <input type="text" value="@mcqmarks" placeholder="MCQ Full Marks" name="McqFullMarks" maxlength="6" id="mcqFullMarks" class="form-control text-box single-line numeric" disabled="disabled">
    }
                        }

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="WrittenFullMark" class="control-label col-md-3">Written Full Marks</label>
                    <div id="wfmmsg" class="col-md-9">
                        @{
    var writtenmarks = Convert.ToInt32(exam.WrittenFullMark);
    if (exam.IsWritten)
    {
        <input type="text" value="@writtenmarks" placeholder="Written Full Marks" name="WrittenFullMark" maxlength="6" id="writtenFullMark" class="form-control text-box single-line numeric">
    }
    else
    {
        <input type="text" value="@writtenmarks" placeholder="Written Full Marks" name="WrittenFullMark" maxlength="6" id="writtenFullMark" class="form-control text-box single-line numeric" disabled="disabled">
    }
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>

    if (exam.IsMcq)
    {
        int mcqSubjectType = ViewBag.McqSubjectType;
        <div class="panel panel-primary" id="mcqSubjectType">
            <div class="panel-heading">
                MCQ Details
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Subject Type </strong></div>
                    @{
        if (mcqSubjectType == SubjectType.Single)
        {
            <input type="radio" name="mcqsubType" id="singleMcqSubType" checked="checked" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="multipleMcqSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="combinedMcqSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
        else if (mcqSubjectType == SubjectType.Multiple)
        {
            <input type="radio" name="mcqsubType" id="singleMcqSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="multipleMcqSubType" checked="checked" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="combinedMcqSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
        else if (mcqSubjectType == SubjectType.Combined)
        {
            <input type="radio" name="mcqsubType" id="singleMcqSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="multipleMcqSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="mcqsubType" id="combinedMcqSubType" checked="checked" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
                    }

                </div>

                <div id="mcqPartialView">
                    @{
        if (mcqSubjectType == SubjectType.Single)
        {
            Html.RenderPartial("Partial/_McqSinglePartialViewForEdit");
        }
        else if (mcqSubjectType == SubjectType.Multiple)
        {
            Html.RenderPartial("Partial/_McqMultiplePartialViewForEdit");
        }
        else if (mcqSubjectType == SubjectType.Combined)
        {
            Html.RenderPartial("Partial/_McqCombinedPartialViewForEdit");
        }
                    }
                </div>
            </div>
        </div>
    }
    if (exam.IsWritten)
    {
        int writtenSubjectType = ViewBag.WrittenSubjectType;
        <div class="panel panel-primary" id="writtenSubjectType">
            <div class="panel-heading">
                Written Details
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Subject Type</strong></div>
                    @{
        if (writtenSubjectType == SubjectType.Single)
        {
            <input type="radio" name="writtensubType" id="singleWrittenSubType" checked="checked" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="writtensubType" id="multipleWrittenSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="writtensubType" id="combinedWrittenSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
        else if (writtenSubjectType == SubjectType.Multiple)
        {
            <input type="radio" name="writtensubType" id="singleWrittenSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="writtensubType" id="multipleWrittenSubType" checked="checked" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="writtensubType" id="combinedWrittenSubType" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
        else if (writtenSubjectType == SubjectType.Combined)
        {
            <input type="radio" name="writtensubType" id="singleWrittenSubType" value=@SubjectType.Single disabled="disabled" /><span>Single&nbsp;</span>
                        <input type="radio" name="writtensubType" id="multipleWrittenSubType" value=@SubjectType.Multiple disabled="disabled" /><span>Multiple&nbsp;</span>
                        <input type="radio" name="writtensubType" id="combinedWrittenSubType" checked="checked" value=@SubjectType.Combined disabled="disabled" /><span>Combined&nbsp;</span>
        }
                    }
                </div>

                <div id="writtenPartialView">
                    @{
        if (writtenSubjectType == SubjectType.Single)
        {
            Html.RenderPartial("Partial/_WrittenSinglePartialViewForEdit");
        }
        else if (writtenSubjectType == SubjectType.Multiple)
        {
            Html.RenderPartial("Partial/_WrittenMultiplePartialViewForEdit");
        }
        else if (writtenSubjectType == SubjectType.Combined)
        {
            Html.RenderPartial("Partial/_WrittenCombinedPartialViewForEdit");
        }
                    }
                </div>

            </div>
        </div>
    }

    <div class="panel panel-primary">
        <div class="panel-heading">
            Exam Name Details
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-9">
                    @Html.Label("Number of Exams", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9" id="ecmsg">
                        <input type="text" name="noofexam" id="noofexam" placeholder="Enter Number of Exams" class="form-control" value="@examParent.NumberOfExam" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    @Html.Label("Exam Name Prefix", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9" id="enmsg">
                        <input type="text" name="examNamePrefix" id="examNamePrefix" placeholder="Exam Name Prefix" class="form-control" value="@examParent.ExamNamePrefix" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    @Html.Label("Short Name Prefix", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9" id="snmsg">
                        <input type="text" name="examShortNamePrefix" id="examShortNamePrefix" placeholder="Short Name Prefix" class="form-control" value="@examParent.ExamShortNamePrefix" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    <div class="col-md-9" id="snmsg">
                        @{
    if (examParent.IsTakeAnswerSheetWhenUploadMarks)
    {
        <input type="checkbox" name="isAnswerSheet" id="isAnswerSheet" value="1" checked="checked">
    }
    else
    {
        <input type="checkbox" name="isAnswerSheet" id="isAnswerSheet" value="1">
    }
                        }
                        Give Correct Answers During Marks Upload
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="button" id="delete" value="Delete" class="btn btn-danger" />
            <input type="button" id="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        var courseId = "@examParent.Course.Id";
        var success = true;
        var isMcq = "@exam.IsMcq";
        var isWritten = "@exam.IsWritten";

        var subjectTypeSingle = "@SubjectType.Single";
        var subjectTypeMultiple = "@SubjectType.Multiple";
        var subjectTypeCombine = "@SubjectType.Combined";

        //console.log("isMcq:" + isMcq);
        //console.log("isWritten:" + isWritten);

        $(document).ready(function() {

        });
        $(document).ready(function() {
            $("input[name*='PassMark']").each(function( i ) {
                console.log("***"+parseFloat($(this).val()));
                if (parseFloat($(this).val()) === 0) {
                    console.log("***"+$(this).val());
                    $(this).val($(this).val().replace(/^0+/, ''));
                }
            });
            $( "input[name*='NegativeMark']" ).each(function( i ) {
                if (parseFloat($(this).val()) === 0) {
                    $(this).val($(this).val().replace(/^0+/, ''));
                }
            });
            $(document).on("input propertychange",
                ".numeric",
                function() {
                    this.value = this.value.replace(/[^\d\.\-]/g, '');
                });
            //allow only numeric in mcq full marks and written full marks fields
            $(document).on("input propertychange change",
                "#durationHour",
                function(event) {

                    if ($("#durationHour").val() == "") {
                        $(".hourerrmsg").remove();
                        $("#hourerrmsg")
                            .append("<div class='hourerrmsg'style='color:red'>Duration Hour is required</div>");
                    } else if ($("#durationHour").val() < 0 || $("#durationHour").val() > 24) {
                        $(".hourerrmsg").remove();
                        $("#hourerrmsg")
                            .append("<div class='hourerrmsg'style='color:red'>Range of Duration Hour is 0-23</div>");
                    } else if ($("#durationHour").val() == 0 && $("#durationMinute").val() == 0) {
                        $(".hourerrmsg").remove();
                        $("#hourerrmsg")
                            .append("<div class='hourerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");

                    } else {
                        $(".hourerrmsg").remove();
                        $(".minuteerrmsg").remove();
                    }
                    if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                        this.value = this.value.replace(/[^0-9\.]/g, '');
                    }
                });
            //allow only numeric in mcq full marks and written full marks fields
            $(document).on("input propertychange change",
                "#durationMinute",
                function(event) {

                    if ($("#durationMinute").val() == "") {
                        $(".minuteerrmsg").remove();
                        $("#minuteerrmsg")
                            .append("<div class='minuteerrmsg'style='color:red'>Duration Minute is required</div>");
                    } else if ($("#durationMinute").val() < 0 || $("#durationMinute").val() > 59) {
                        $(".minuteerrmsg").remove();
                        $("#minuteerrmsg")
                            .append("<div class='minuteerrmsg'style='color:red'>Range of Duration Minute is 0-59</div>");
                    } else if ($("#durationHour").val() == 0 && $("#durationMinute").val() == 0) {

                        $(".minuteerrmsg").remove();
                        $("#minuteerrmsg")
                            .append("<div class='minuteerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");
                    } else {

                        $(".hourerrmsg").remove();
                        $(".minuteerrmsg").remove();
                    }
                    if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                        this.value = this.value.replace(/[^0-9\.]/g, '');
                    }
                });
            $(document).on('input propertychange',
                '#mcqTotalQuestions',
                function() {
                    if ($(this).val().indexOf("-") > -1) {
                        $(this).val($(this).val().replace('-', ''));

                    }
                });
            //allow only numeric in mcq full marks and written full marks fields
            //$(document).on("input propertychange change",
            //    "#totalUniqueSet",
            //    function(event) {

            //        if ($("#totalUniqueSet").val() == "") {
            //            $(".uniqerrmsg").remove();
            //            $("#uniqerrmsg")
            //                .append("<div class='uniqerrmsg'style='color:red'>Total Unique Set is required</div>");
            //        } else if ($("#totalUniqueSet").val() < 0 || $("#totalUniqueSet").val() > 99) {
            //            $(".uniqerrmsg").remove();
            //            $("#uniqerrmsg")
            //                .append("<div class='uniqerrmsg'style='color:red'>Range of Total Unique Set is 0-99</div>");
            //        } else {
            //            $(".uniqerrmsg").remove();
            //        }
            //        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            //            this.value = this.value.replace(/[^0-9\.]/g, '');
            //        }
            //    });
            //$(document).on('input propertychange',
            //   'input[id*="mcqNegativeMark"]',
            //   function() {
            //       if ($(this).val() != "") {
            //           $(this).css('border-color', '#cccccc');

            //       }
            //       if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
            //           $(this).val($(this).val().slice(0, -1));
            //       } else {
            //           $(this).parent().find(".notNumber").remove();
            //           $(this).parent().find(".notZero").remove();
            //       }
            //       var text = $(this).val();
            //       if ($(this).val().indexOf(".") > -1) {
            //           $(this).val($(this).val().replace('.', ''));

            //       }
            //   });
            $(document).on('input propertychange',
               'input[id*="NegativeMark"]',
               function() {
                   if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
                       $(this).val($(this).val().slice(0, -1));
                   } else {
                       $(this).parent().find(".notNumber").remove();
                       $(this).parent().find(".notZero").remove();
                   }
               });
            $(document).on('input propertychange',
               'input[name*="PassMark"]',
               function() {
                   if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
                       $(this).val($(this).val().slice(0, -1));
                   } else {
                       $(this).parent().find(".notNumber").remove();
                       $(this).parent().find(".notZero").remove();
                   }
               });
            $(document).on('input propertychange',
                'input[id*="mcqPassMark"]',
                function() {
                    if ($(this).val() != "") {
                        $(this).css('border-color', '#cccccc');
                    }
                    var mpq = parseFloat($(this).parent().prev().prev().find('input[class*="mcqMarksPerQuestionClass"]')
                        .val());
                    var tq = parseFloat($(this).parent().prev().prev().prev()
                        .find('input[class*="mcqTotalQuestionsClass"]').val());
                    if (parseFloat($(this).val()) > mpq * tq) {
                        $(".invalidPassMark").remove();
                        $(this).parent()
                            .append("<div class='invalidPassMark'style='color:red'>Pass mark can not exceed total marks.</div>");
                        passMarkLessThanTotalMark = false;
                    } else {
                        passMarkLessThanTotalMark = true;
                        $(".invalidPassMark").remove();
                    }
                    if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
                        $(this).val($(this).val().slice(0, -1));
                    } else {
                        $(this).parent().find(".notNumber").remove();
                        $(this).parent().find(".notZero").remove();
                    }
                    var text = $(this).val();

                    if ((text.indexOf('.') != -1) && (text.substring(text.indexOf('.')).length > 3)) {
                        $(this).val($(this).val().slice(0, -1));
                    }
                });
            $(document).on('input propertychange',
               'input[id*="mcqFullMarks"]',
               function () {
                   if ($(this).val() != "") {
                       $(this).css('border-color', '#cccccc');

                   }
                   if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
                       $(this).val($(this).val().slice(0, -1));
                   } else {
                       $(this).parent().find(".notZero").remove();
                       $(this).parent().find(".mfmmsg").remove();
                   }
                                       var text = $(this).val();
                                       if ($(this).val().indexOf("-") > -1) {
                                           $(this).val($(this).val().replace('-', ''));
                   
                                       }
               });
            $(document).on('input propertychange',
                'input[id*="writtenFullMark"]',
                function () {
                    if ($(this).val() != "") {
                        $(this).css('border-color', '#cccccc');

                    }
                    if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
                        $(this).val($(this).val().slice(0, -1));
                    } else {
                        $(this).parent().find(".notZero").remove();
                        $(this).parent().find(".wfmmsg").remove();
                    }
                var text = $(this).val();
                if ($(this).val().indexOf("-") > -1) {
                    $(this).val($(this).val().replace('-', ''));
                    
                }
                });
            //$("#mcqFullMarks").on('input propertychange change',
            //    function(e) {
            //        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            //            this.value = this.value.replace(/[^0-9\.]/g, '');
            //        }
            //        if ($("#mcqFullMarks").val() == "") {
            //            $(".mfmmsg").remove();
            //            $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>MCQ full marks is required</div>");
            //        } else {
            //            if ($("#mcqFullMarks").val() == 0) {
            //                $(".mfmmsg").remove();
            //                $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>Value Can not be Zero.</div>");
            //            } else {
            //                $(".mfmmsg").remove();
            //            }
            //        }
            //    });

            //$("#writtenFullMark").on('input propertychange change',
            //    function(e) {
            //        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            //            this.value = this.value.replace(/[^0-9\.]/g, '');
            //        }
            //        if ($("#writtenFullMark").val() == "") {
            //            $(".wfmmsg").remove();
            //            $("#wfmmsg")
            //                .append("<div class='wfmmsg'style='color:red'>Written full marks is required</div>");
            //        } else {
            //            if ($("#writtenFullMark").val() == 0) {
            //                $(".wfmmsg").remove();
            //                $("#wfmmsg").append("<div class='wfmmsg'style='color:red'>Value Can not be Zero.</div>");
            //            } else {
            //                $(".wfmmsg").remove();
            //            }
            //        }
            //    });

            $(document).on('input propertychange',
                '#noofexam',
                function() {
                    if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                        this.value = this.value.replace(/[^0-9\.]/g, '');
                    }
                    var val = $(this).val();
                    if (val == "" || !$.isNumeric(val)) {
                        $(".ecmsg").remove();
                        $("#ecmsg")
                            .append("<div class='ecmsg'style='color:red'>Numeric value required for No of Exam</div>");
                    } else {
                        if (val > 999) {
                            $(".ecmsg").remove();
                            $('#noofexam').parent()
                                .append("<div class='ecmsg'style='color:red'>No of Exam must be less 1000.</div>");
                        } else {
                            $(".ecmsg").remove();
                        }
                    }

                });

            $("#examNamePrefix").on('input propertychange change',
                function(e) {

                    if ($.trim($("#examNamePrefix").val()) == "") {
                        $(".enmsg").remove();
                        $("#enmsg").append("<div class='enmsg'style='color:red'>Exam name is required</div>");
                        $(this).val("");
                    } else {
                        $(".enmsg").remove();
                    }
                });

            $("#examShortNamePrefix").on('input propertychange change',
                function(e) {

                    if ($.trim($("#examShortNamePrefix").val()) == "") {
                        $(".snmsg").remove();
                        $("#snmsg").append("<div class='snmsg'style='color:red'>Exam Short name is required</div>");
                        $(this).val("");
                    } else {
                        $(".snmsg").remove();
                    }
                });

            $(".mcqSubject, .mcqQuesFrom, .mcqQuesTo, .mcqTotalQuestions, .mcqMarksPerQues, .mcqNegativeMark, .mcqQuesFrom, .mcqPassMark, .isCompulsory").on('input propertychange change',
                function(e) {
                    var $currentTag = $(this);
                    var $parent = $currentTag.parent().parent();
                    var $parentIndex = $parent.index();
                    var $gparent = $parent.parent();
                    var examType = $gparent.attr("data-exam-type");
                    var subjectType = $gparent.attr("data-subject-type");
                    var $rowCount = $gparent.length;
                    var $nextParent = $parent.next();
                    var $currentName = $currentTag.attr("name");

                    if ($currentName == "mcqQuesTo" ||
                        $currentName == "mcqQuesFrom" ||
                        $currentName == "mcqTotalQuestions" ||
                        $currentName == "mcqMarksPerQues" ||
                        $currentName == "mcqPassMark") {
                        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                            this.value = this.value.replace(/[^0-9\.]/g, '');
                        }
                    }


                    if ($currentName == "mcqQuesTo") {
                        var mcqQuesTo = $parent.find(".mcqQuesTo").val();
                        var mcqQuesFrom = $parent.find(".mcqQuesFrom").val();
                        if (mcqQuesTo > 0) {

                            $parent.find(".mcqTotalQuestions").val((parseInt(mcqQuesTo) - parseInt(mcqQuesFrom)) + 1);
                        } else {
                            $parent.find(".mcqTotalQuestions").val("");
                        }
                        var mcqSubject = $parent.find(".mcqSubject").val();
                        if (mcqQuesTo != "") {
                            $nextParent.find(".mcqQuesFrom").val(parseInt(mcqQuesTo) + 1);
                        }
                        //console.log($parentIndex);


                        $gparent.find("tr").each(function() {
                            var i = $(this).index();
                            //console.log($parentIndex + " - " + i);
                            if (i >= $parentIndex + 2) {
                                $(this).find(".mcqQuesFrom").val("");
                                $(this).find(".mcqQuesTo").val("");
                                $(this).find(".mcqTotalQuestions").val("");

                            }
                            if (i == $parentIndex + 1) {
                                $(this).find(".mcqQuesTo").val("");
                                $(this).find(".mcqTotalQuestions").val("");
                            }
                            if (i == $parentIndex) {

                                //$(this).find(".mcqTotalQuestions").val("");
                            }

                        });
                    }

                    $gparent.find("tr").each(function() {
                        var isValid = checkRowValidity($(this), examType, subjectType);
                        //console.log(isValid);
                    });


                });


            $(".writtenSubject, .writtenFullMark, .writtenPassMark, .writtenIsCompulsory")
                .on('input propertychange change',
                    function(e) {
                        var $currentTag = $(this);
                        var $parent = $currentTag.parent().parent();
                        var $parentIndex = $parent.index();
                        var $gparent = $parent.parent();
                        var examType = $gparent.attr("data-exam-type");
                        var subjectType = $gparent.attr("data-subject-type");
                        var $rowCount = $gparent.length;
                        var $nextParent = $parent.next();
                        var $currentName = $currentTag.attr("name");


                        $gparent.find("tr").each(function() {
                            var isValid = checkRowValidity($(this), examType, subjectType);
                        });


                    });


            //UpdateExamViewModel
            function checkRowValidity($parent, examType, subjectType) {
                var s = true;
                if (examType == "mcq" && subjectType == "multiple") {
                    var mcqSubject = $parent.find(".mcqSubject");
                    var mcqQuesFrom = $parent.find(".mcqQuesFrom");
                    var mcqQuesTo = $parent.find(".mcqQuesTo");
                    var mcqTotalQuestions = $parent.find(".mcqTotalQuestions");
                    var mcqMarksPerQues = $parent.find(".mcqMarksPerQues");
                    var mcqNegativeMark = $parent.find(".mcqNegativeMark");
                    var mcqPassMark = $parent.find(".mcqPassMark");
                    var isCompulsory = $parent.find(".isCompulsory");

                    if (mcqQuesFrom.val() != "" ||
                        mcqQuesTo.val() != "" ||
                        mcqTotalQuestions.val() != "" ||
                        mcqMarksPerQues != "") {

                        //if (mcqQuesFrom.val() == "") {
                        //    mcqQuesFrom.css('border-color', '#ff0000');
                        //    s = false;
                        //}
                        if (mcqQuesTo.val() == "") {
                            mcqQuesTo.css('border-color', '#ff0000');
                            s = false;
                        } else {

                            if ((mcqQuesFrom.val() != "") && parseInt(mcqQuesTo.val()) <= parseInt(mcqQuesFrom.val())) {
                                mcqQuesTo.css('border-color', '#ff0000');
                                s = false;
                            } else {
                                mcqQuesTo.css('border-color', '#ccc');
                            }
                        }
                        //if (mcqTotalQuestions.val() == "") {
                        //    mcqTotalQuestions.css('border-color', '#ff0000');
                        //    s = false;
                        //}
                        if (mcqMarksPerQues.val() == "") {
                            mcqMarksPerQues.css('border-color', '#ff0000');
                            s = false;
                        } else {
                            mcqMarksPerQues.css('border-color', '#ccc');
                        }
                    }
                }


                if (examType == "written" && subjectType == "multiple") {
                    var writtenSubject = $parent.find(".writtenSubject");
                    var writtenFullMark = $parent.find(".writtenFullMark");
                    var writtenPassMark = $parent.find(".writtenPassMark");
                    var writtenIsCompulsory = $parent.find(".writtenIsCompulsory");
                    if (writtenFullMark.val() == "") {
                        writtenFullMark.css('border-color', '#ff0000');
                        s = false;
                    } else {
                        writtenFullMark.css('border-color', '#ccc');
                    }
                }

                if (examType == "mcq" && subjectType == "single") {
                    var mcqSubjectsingle = $parent.find(".mcqSubject");
                    var mcqTotalQuestionssingle = $parent.find(".mcqTotalQuestions");
                    var mcqMarksPerQuessingle = $parent.find(".mcqMarksPerQues");
                    var mcqNegativeMarksingle = $parent.find(".mcqNegativeMark");
                    var mcqPassMarksingle = $parent.find(".mcqPassMark");

                    if (mcqTotalQuestionssingle.val() != "" || mcqMarksPerQuessingle != "") {

                        if (mcqTotalQuestionssingle.val() == "") {
                            mcqTotalQuestionssingle.css('border-color', '#ff0000');
                            s = false;
                        } else {
                            mcqTotalQuestionssingle.css('border-color', '#ccc');
                        }
                        if (mcqMarksPerQuessingle.val() == "") {
                            mcqMarksPerQuessingle.css('border-color', '#ff0000');
                            s = false;
                        } else {
                            mcqMarksPerQuessingle.css('border-color', '#ccc');
                        }
                    }
                }

                if (examType == "written" && subjectType == "single") {
                    var writtenSubjectsingle = $parent.find(".writtenSubject");
                    var writtenFullMarksingle = $parent.find(".writtenFullMark");
                    var writtenPassMarksingle = $parent.find(".writtenPassMark");
                    if (writtenFullMarksingle.val() == "") {
                        writtenFullMarksingle.css('border-color', '#ff0000');
                        s = false;
                    } else {
                        writtenFullMarksingle.css('border-color', '#ccc');
                    }
                }

                if (examType == "mcq" && subjectType == "combine") {
                    var mcqTotalQuestionscombine = $parent.find(".mcqTotalQuestions");
                    var mcqMarksPerQuescombine = $parent.find(".mcqMarksPerQues");
                    var mcqNegativeMarkcombine = $parent.find(".mcqNegativeMark");
                    var mcqPassMarkcombine = $parent.find(".mcqPassMark");

                    if (mcqTotalQuestionscombine.val() != "" || mcqMarksPerQuescombine != "") {

                        if (mcqTotalQuestionscombine.val() == "") {
                            mcqTotalQuestionscombine.css('border-color', '#ff0000');
                            s = false;
                        } else {
                            mcqTotalQuestionscombine.css('border-color', '#ccc');
                        }
                        if (mcqMarksPerQuescombine.val() == "") {
                            mcqMarksPerQuescombine.css('border-color', '#ff0000');
                            s = false;
                        } else {
                            mcqMarksPerQuescombine.css('border-color', '#ccc');
                        }
                    }
                }

                if (examType == "written" && subjectType == "combine") {
                    var writtenFullMarkcombine = $parent.find(".writtenFullMark");
                    var writtenPassMarkcombine = $parent.find(".writtenPassMark");
                    if (writtenFullMarkcombine.val() == "") {
                        writtenFullMarkcombine.css('border-color', '#ff0000');
                        s = false;
                    } else {
                        writtenFullMarkcombine.css('border-color', '#ccc');
                    }
                }


                return s;
            }

            //mcqMaxSubCount
            $("#mcqMaxSubCount").on('input propertychange change',
                function(e) {
                    if ($.trim($("#mcqMaxSubCount").val()) == "") {
                        $(".mcqMaxSubVal").remove();
                        $("#mcqMaxSubCount").parent()
                            .append("<div class='mcqMaxSubVal'style='color:red'>Maximum subject count is required.</div>");
                        $(this).val("");
                    } else {
                        $(".mcqMaxSubVal").remove();
                        var numberOfChecked = $('#mcqPartialView table tbody input:checkbox:checked').length;
                        if ($.trim($("#mcqMaxSubCount").val()) < numberOfChecked) {
                            $("#mcqMaxSubCount").parent()
                                .append("<div class='mcqMaxSubVal'style='color:red'>Maximum subject count can not exceed no. of selected subjects or less than no. of compulsory subjects.</div>");
                        } else {
                            $(".mcqMaxSubVal").remove();
                        }
                    }
                });

            $("#writtenMaxSubCount").on('input propertychange change',
                function(e) {
                    if ($.trim($("#writtenMaxSubCount").val()) == "") {
                        $(".writtenMaxSubVal").remove();
                        $("#writtenMaxSubCount").parent()
                            .append("<div class='writtenMaxSubVal'style='color:red'>Maximum subject count is required.</div>");
                        $(this).val("");
                    } else {
                        $(".writtenMaxSubVal").remove();
                        var numberOfChecked = $('#writtenPartialView table tbody input:checkbox:checked').length;
                        if ($.trim($("#writtenMaxSubCount").val()) < numberOfChecked) {
                            $("#writtenMaxSubCount").parent()
                                .append("<div class='writtenMaxSubVal'style='color:red'>Maximum subject count can not exceed no. of selected subjects or less than no. of compulsory subjects.</div>");
                        } else {
                            $(".writtenMaxSubVal").remove();
                        }
                    }
                });


            $("#submit").click(function() {
                var isValid = true;


                var mcqFullMarks = $("#mcqFullMarks").val();
                if (isMcq == "True") {
                    if (mcqFullMarks == "") {
                        $(".mfmmsg").remove();
                        $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>MCQ full marks is required</div>");
                        isValid = false;
                    } else {
                        if (mcqFullMarks == 0) {
                            $(".mfmmsg").remove();
                            $("#mfmmsg").append("<div class='mfmmsg'style='color:red'>Value Can not be Zero.</div>");
                            isValid = false;
                        }
                    }
                }

                var writtenFullMark = $("#writtenFullMark").val();

                if (isWritten == "True") {
                    console.log("is written:" + isWritten);
                    if (writtenFullMark == "") {
                        $(".wfmmsg").remove();
                        $("#wfmmsg")
                            .append("<div class='wfmmsg'style='color:red'>Written full marks is required</div>");
                        isValid = false;
                    } else {
                        if (writtenFullMark == 0) {
                            $(".wfmmsg").remove();
                            $("#wfmmsg").append("<div class='wfmmsg'style='color:red'>Value Can not be Zero.</div>");
                            isValid = false;
                        }
                    }
                }


                var noofexam = $("#noofexam").val();
                if (noofexam > 999) {
                    $(".ecmsg").remove();
                    $(".ecmsg2").remove();
                    $('#noofexam').parent()
                        .append("<div class='ecmsg2'style='color:red'>No of Exam must be less 1000.</div>");
                    isValid = false;
                }

                if (noofexam == "" || !$.isNumeric(noofexam)) {
                    $(".ecmsg2").remove();
                    $(".ecmsg").remove();
                    $("#ecmsg")
                        .append("<div class='ecmsg'style='color:red'>Numeric value required for No of Exam</div>");
                    isValid = false;
                }


                var examNamePrefix = $("#examNamePrefix").val();
                if (examNamePrefix == "") {
                    $(".enmsg").remove();
                    $("#enmsg").append("<div class='enmsg'style='color:red'>Exam name is required</div>");
                    isValid = false;
                }


                var examShortNamePrefix = $("#examShortNamePrefix").val();
                if (examShortNamePrefix == "") {
                    $(".snmsg").remove();
                    $("#snmsg").append("<div class='snmsg'style='color:red'>Exam Short name is required</div>");
                    isValid = false;
                }

                var mcqPartialViewValidRowCount = 0;
                var mcqPartialViewRowCount = $('#mcqPartialView table tbody tr').length;

                $("#mcqPartialView table tbody tr").each(function() {
                    var examType = $(this).parent().attr("data-exam-type");
                    var subjectType = $(this).parent().attr("data-subject-type");

                    var r = checkRowValidity($(this), examType, subjectType);

                    if (r) {
                        mcqPartialViewValidRowCount++;
                    }
                });


                if (mcqPartialViewValidRowCount != mcqPartialViewRowCount) {
                    isValid = false;
                }

                var mcqMaxSubCount = $("#mcqMaxSubCount").val();
                console.log(mcqMaxSubCount);
                if (typeof(mcqMaxSubCount) !== "undefined") {
                    if (mcqMaxSubCount == "") {
                        $(".mcqMaxSubVal").remove();
                        $("#mcqMaxSubCount").parent()
                            .append("<div class='mcqMaxSubVal'style='color:red'>Maximum subject count is required.</div>");
                        $(this).val("");
                        isValid = false;
                    } else {
                        $(".mcqMaxSubVal").remove();
                        var numberOfChecked = $('#mcqPartialView table tbody input:checkbox:checked').length;
                        if ($.trim($("#mcqMaxSubCount").val()) < numberOfChecked) {
                            $("#mcqMaxSubCount").parent()
                                .append("<div class='mcqMaxSubVal'style='color:red'>Maximum subject count can not exceed no. of selected subjects or less than no. of compulsory subjects.</div>");
                            isValid = false;
                        }
                    }

                }
                console.log("rowCount: " + isValid);

                var writtenPartialViewValidRowCount = 0;
                var writtenPartialViewRowCount = $('#writtenPartialView table tbody tr').length;

                $("#writtenPartialView table tbody tr").each(function() {
                    var examType = $(this).parent().attr("data-exam-type");
                    var subjectType = $(this).parent().attr("data-subject-type");

                    var r = checkRowValidity($(this), examType, subjectType);

                    if (r) {
                        writtenPartialViewValidRowCount++;
                    }
                });


                if (writtenPartialViewValidRowCount != writtenPartialViewRowCount) {
                    isValid = false;
                }


                var writtenMaxSubCount = $("#writtenMaxSubCount").val();
                if (writtenMaxSubCount == "") {
                    $(".writtenMaxSubVal").remove();
                    $("#writtenMaxSubCount").parent()
                        .append("<div class='writtenMaxSubVal'style='color:red'>Maximum subject count is required.</div>");
                    $(this).val("");
                    isValid = false;
                } else {
                    $(".writtenMaxSubVal").remove();
                    var numberOfChecked = $('#writtenPartialView table tbody input:checkbox:checked').length;
                    if ($.trim($("#writtenMaxSubCount").val()) < numberOfChecked) {
                        $("#writtenMaxSubCount").parent()
                            .append("<div class='writtenMaxSubVal'style='color:red'>Maximum subject count can not exceed no. of selected subjects or less than no. of compulsory subjects.</div>");
                        isValid = false;
                    }
                }
                $(":text").each(function() {
                    var id = $(this).attr("id");

                    if (id != "totalUniqueSet" &&
                        id != "durationHour" &&
                        id != "durationMinute" &&
                        id != "mcqFullMarks" &&
                        id != "writtenFullMark" &&
                        parseFloat($(this).val()) == 0) {
                        $(this).parent().find(".notZero").remove();
                        $(this).parent()
                            .append("<div class='notZero'style='color:red'>Value Can not be Zero.</div>");
                        console.log("zero");
                        isValid = false;
                        if (isMcq == "True" && id=="mcqFullMarks") {
                            $(this).parent().find(".notZero").remove();
                            $(this).parent()
                                .append("<div class='notZero'style='color:red'>Value Can not be Zero.</div>");
                            console.log("zero");
                            isValid = false;
                        }
                        if (isWritten == "True" && id=="writtenFullMark") {
                            $(this).parent().find(".notZero").remove();
                            $(this).parent()
                                .append("<div class='notZero'style='color:red'>Value Can not be Zero.</div>");
                            console.log("zero");
                            isValid = false;
                        }
                    }
                });
                var totalUniqueSet = $("#totalUniqueSet").val();
                var durationHour = $("#durationHour").val();
                var durationMinute = $("#durationMinute").val();
                var isBanglaVersion = $("#isBanglaVersion").is(':checked');
                var isEnglishVersion = $("#isEnglishVersion").is(':checked');
                if (totalUniqueSet == "") {
                    $(".uniqerrmsg").remove();
                    $("#uniqerrmsg")
                        .append("<div class='uniqerrmsg'style='color:red'>Total Unique Set is required</div>");
                    isValid = false;
                } else if (totalUniqueSet < 0 || totalUniqueSet > 99) {
                    $(".uniqerrmsg").remove();
                    $("#uniqerrmsg")
                        .append("<div class='uniqerrmsg'style='color:red'>Range of Total Unique Set is 0-99</div>");
                    isValid = false;
                } else {
                    $(".uniqerrmsg").remove();
                }


                if ($("#durationHour").val() == "") {
                    $(".hourerrmsg").remove();
                    $("#hourerrmsg").append("<div class='hourerrmsg'style='color:red'>Duration Hour is required</div>");
                    isValid = false;
                } else if ($("#durationHour").val() < 0 || $("#durationHour").val() > 24) {
                    $(".hourerrmsg").remove();
                    $("#hourerrmsg")
                        .append("<div class='hourerrmsg'style='color:red'>Range of Duration Hour is 0-23</div>");
                    isValid = false;
                } else if ($("#durationHour").val() == 0 && $("#durationMinute").val() == 0) {
                    $(".hourerrmsg").remove();
                    $("#hourerrmsg")
                        .append("<div class='hourerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");
                    isValid = false;
                } else {
                    $(".hourerrmsg").remove();
                }


                if ($("#durationMinute").val() == "") {
                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg")
                        .append("<div class='minuteerrmsg'style='color:red'>Duration Minute is required</div>");
                    isValid = false;
                } else if ($("#durationMinute").val() < 0 || $("#durationMinute").val() > 59) {
                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg")
                        .append("<div class='minuteerrmsg'style='color:red'>Range of Duration Minute is 0-59</div>");
                    isValid = false;
                } else if ($("#durationHour").val() == 0 && $("#durationMinute").val() == 0) {

                    $(".minuteerrmsg").remove();
                    $("#minuteerrmsg")
                        .append("<div class='minuteerrmsg'style='color:red'>One of Duration Minute and Duration Hour must be grather than 0 </div>");
                    isValid = false;
                } else {

                    $(".minuteerrmsg").remove();
                }

                //isAnswerSheet

                //console.log($("input[name='isAcceptPartialAnswer']:checked").val());
                if (isValid) {
                    var updateExamViewModel = {};
                    var examsDetailsViewModelList = [];
                    var mcqSubjectTypeMaxSubject = @ViewBag.McqSubjectType;
                    var writtenSubjectTypeSubject = @ViewBag.WrittenSubjectType;
                    if (mcqSubjectTypeMaxSubject != subjectTypeMultiple) {
                        mcqMaxSubCount = 1;
                    }
                    if (writtenSubjectTypeSubject != subjectTypeMultiple) {
                        writtenMaxSubCount = 1;
                    }
                    updateExamViewModel["ExamParentId"] = $("#examParentId").val();
                    updateExamViewModel["NumberOfExam"] = noofexam;
                    updateExamViewModel["ExamNamePrefix"] = examNamePrefix;
                    updateExamViewModel["ExamShortNamePrefix"] = examShortNamePrefix;

                    updateExamViewModel["McqMaxSubjectCount"] = mcqMaxSubCount;
                    updateExamViewModel["WrittenMaxSubjectCount"] = writtenMaxSubCount;

                    updateExamViewModel["McqFullMarks"] = mcqFullMarks;
                    updateExamViewModel["WrittenFullMark"] = writtenFullMark;

                    var isAnswerSheet = 0;
                    if ($('#isAnswerSheet').is(':checked')) {
                        isAnswerSheet = 1;
                    }
                    updateExamViewModel["IsTakeAnswerSheetWhenUploadMarks"] = isAnswerSheet;

                    if ($("input[name='isAcceptPartialAnswer']:checked").val() == 1) {
                        updateExamViewModel["IsAcceptPartialAnswer"] = true;
                    } else {
                        updateExamViewModel["IsAcceptPartialAnswer"] = false;
                    }


                    updateExamViewModel["IsMcq"] = isMcq;
                    updateExamViewModel["IsWritten"] = isWritten;
                    updateExamViewModel["TotalUniqueSet"] = totalUniqueSet;
                    updateExamViewModel["DurationHour"] = durationHour;
                    updateExamViewModel["DurationMinute"] = durationMinute;
                    updateExamViewModel["IsEnglishversion"] = isEnglishVersion;
                    updateExamViewModel["IsBanglaVersion"] = isBanglaVersion;


                    //public virtual int SubjectType { get; set; }
                    //public virtual int ExamType { get; set; }
                    //public virtual int QuestionFrom { get; set; }
                    //public virtual int QuestionTo { get; set; }
                    //public virtual int TotalQuestion { get; set; }
                    //public virtual decimal MarksPerQuestion { get; set; }
                    //public virtual decimal NegativeMark { get; set; }
                    //public virtual decimal PassMark { get; set; }
                    //public virtual decimal WrittenFullMark { get; set; }
                    //public virtual bool IsCompulsary { get; set; }

                    console.log(isWritten);
                    if (isMcq == "True") {
                        var mcqSubjectType = @ViewBag.McqSubjectType;


                        //console.log(mcqSubjectType);
                        $("#mcqPartialView table tbody tr").each(function() {
                            var $parent = $(this);
                            var mcqSubject = $parent.find(".mcqSubject");
                            var mcqQuesFrom = $parent.find(".mcqQuesFrom");
                            var mcqQuesTo = $parent.find(".mcqQuesTo");
                            var mcqTotalQuestions = $parent.find(".mcqTotalQuestions");
                            var mcqMarksPerQues = $parent.find(".mcqMarksPerQues");
                            var mcqNegativeMark = $parent.find(".mcqNegativeMark");
                            var mcqPassMark = $parent.find(".mcqPassMark");
                            var isCompulsory = $parent.find(".isCompulsory");

                            var examsDetailsViewModel = {};

                            examsDetailsViewModel["SubjectId"] = 0;
                            examsDetailsViewModel["SubjectType"] = mcqSubjectType;
                            examsDetailsViewModel["ExamType"] = @ExamType.Mcq;
                            examsDetailsViewModel["TotalQuestion"] = parseInt(mcqTotalQuestions.val());
                            examsDetailsViewModel["MarksPerQuestion"] = mcqMarksPerQues.val();
                            examsDetailsViewModel["NegativeMark"] = parseInt(mcqNegativeMark.val());
                            examsDetailsViewModel["PassMark"] = mcqPassMark.val();
                            examsDetailsViewModel["QuestionFrom"] = 0;
                            examsDetailsViewModel["QuestionTo"] = 0;
                            examsDetailsViewModel["IsCompulsary"] = true;
                            examsDetailsViewModel["WrittenFullMark"] = 0;

                            if (mcqSubjectType == subjectTypeSingle) {
                                examsDetailsViewModel["SubjectId"] = mcqSubject.val();
                                //set question from to
                                //alert(parseInt(mcqQuesFrom.val()));
                                //examsDetailsViewModel["QuestionFrom"] = parseInt(mcqQuesFrom.val());
                                //examsDetailsViewModel["QuestionTo"] = parseInt(mcqQuesTo.val());

                            }
                            if (mcqSubjectType == subjectTypeMultiple) {
                                examsDetailsViewModel["SubjectId"] = parseInt(mcqSubject.val());
                                examsDetailsViewModel["QuestionFrom"] = parseInt(mcqQuesFrom.val());
                                examsDetailsViewModel["QuestionTo"] = parseInt(mcqQuesTo.val());
                                var isCompulsary = 0;
                                if (isCompulsory.is(':checked')) {
                                    isCompulsary = 1;
                                }
                                examsDetailsViewModel["IsCompulsary"] = isCompulsary;
                            }

                            examsDetailsViewModelList.push(examsDetailsViewModel);

                        });

                    }

                    if (isWritten == "True") {
                        var writtenSubjectType = @ViewBag.WrittenSubjectType;
                        // console.log(writtenSubjectType);
                        $("#writtenPartialView table tbody tr").each(function() {
                            var $parent = $(this);
                            var writtenSubject = $parent.find(".writtenSubject");
                            var writtenFullMarks = $parent.find(".writtenFullMark");
                            var writtenPassMark = $parent.find(".writtenPassMark");
                            var writtenIsCompulsory = $parent.find(".writtenIsCompulsory");

                            var examsDetailsViewModel = {};

                            examsDetailsViewModel["SubjectId"] = 0;
                            examsDetailsViewModel["SubjectType"] = writtenSubjectType;
                            examsDetailsViewModel["ExamType"] = @ExamType.Written;
                            examsDetailsViewModel["TotalQuestion"] = 0;
                            examsDetailsViewModel["MarksPerQuestion"] = 0;
                            examsDetailsViewModel["NegativeMark"] = 0;
                            examsDetailsViewModel["PassMark"] = parseInt(writtenPassMark.val());
                            examsDetailsViewModel["QuestionFrom"] = 0;
                            examsDetailsViewModel["QuestionTo"] = 0;
                            examsDetailsViewModel["IsCompulsary"] = true;
                            examsDetailsViewModel["WrittenFullMark"] = parseInt(writtenFullMarks.val());

                            if (writtenSubjectType == subjectTypeSingle) {
                                examsDetailsViewModel["SubjectId"] = parseInt(writtenSubject.val());
                                console.log(writtenSubject.val());
                            }
                            if (writtenSubjectType == subjectTypeMultiple) {
                                examsDetailsViewModel["SubjectId"] = parseInt(writtenSubject.val());
                                var isCompulsary = 0;
                                if (writtenIsCompulsory.is(':checked')) {
                                    isCompulsary = 1;
                                }
                                examsDetailsViewModel["IsCompulsary"] = isCompulsary;
                            }
                            //console.log(examsDetailsViewModel);
                            examsDetailsViewModelList.push(examsDetailsViewModel);
                        });
                    }

                    console.log(examsDetailsViewModelList);

                    updateExamViewModel["ExamDetails"] = examsDetailsViewModelList;
                    var data = JSON.stringify(updateExamViewModel);

                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Exam/Exams/Edit",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: data,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                console.log(result);
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "s",
                                    displayTime: 50000
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                    displayTime: 50000
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                } else {
                    console.log(isValid);
                }


            });

            $(document).on("click",
                "#delete",
                function() {
                    var id = @ViewBag.id;
                    if (id != "") {
                        bootbox
                            .deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" +
                                "@examParent.ExamNamePrefix" +
                                "</span> Exam?</h3>",
                                function(result) {
                                    if (result) {
                                        $.ajax({
                                            type: "post",
                                            url: $("body").attr("data-project-root") + "Exam/Exams/Delete",
                                            cache: false,
                                            async: true,
                                            data: { "id": id },
                                            beforeSend: function() {
                                                $.blockUI({
                                                    timeout: 0,
                                                    message:
                                                        '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                                });
                                            },
                                            success: function(result) {
                                                $.unblockUI();

                                                if (result.IsSuccess) {
                                                    //$.fn.customMessage({
                                                    //    displayMessage: "Exam Deleted Successfully",
                                                    //    displayMessageType: "s",

                                                    //});
                                                    //dataTableRender();
                                                    var link = "/Exam/Exams/ManageExam?editSuccess=" + result.Message;
                                                    console.log(link);
                                                    window.location.href = link;
                                                } else {
                                                    $.fn.customMessage({
                                                        displayMessage: result.Message,
                                                        displayMessageType: "e",

                                                    });
                                                }
                                            },
                                            complete: function() {
                                                $.unblockUI();
                                            },
                                            error: function(result) {
                                                $.fn.customMessage({
                                                    displayMessage: "Exam Delete Fail!",
                                                    displayMessageType: "e",
                                                });
                                            }
                                        });

                                    }
                                }).css({ 'margin-top': (($(window).height() / 4)) });
                    }
                    return false;
                });
        });


    </script>
}