﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Exam.Exams>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Exam</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
                <tr class="filteringRow form-group">
                    <th class="form-group">
                        @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.Program, "Select Program", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Session", (IEnumerable<SelectListItem>)ViewBag.Session, "Select Session", new { @class = "form-control" })

                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Course", (IEnumerable<SelectListItem>)ViewBag.Course, "Select Course", new { @class = "form-control" })
                    </th>

                    <th class="form-group">
                        <input id="Name" name="Name" type="text" class="form-control filteringColumn" placeholder="Exam Name Prefix" />
                    </th>

                    <th class="form-group">
                        <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <button type="button" id="search" value="search" class="form-control btn-primary">Search</button>
                    </th>
                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>Organization</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Program)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Session)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Course)
                        </th>
                        <th>
                            No of Exam      
                        </th>
                        <th>
                            Exam Name Prefix
                        </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript" class="init">

       $(document).ready(function () {

           $(document).on("change", "#Organization", function () {
               //remove all dependant dropdownlist option
               $('#Program').empty();
               $('#Program').append("<option value=''>--Program--</option>");

               $('#Session').empty();
               $('#Session').append("<option value=''>--Session--</option>");

               $('#Course').empty();
               $('#Course').append("<option value=''>--Course--</option>");

               var organizationId = $(this).val();
               if (organizationId.length > 0) {
                   $.ajax({
                       url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                       type: "POST",
                       data: { organizationIds: organizationId, isAuthorized: true },
                       beforeSend: function () {
                           $.blockUI({
                               timeout: 0,
                               message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                           });
                       },
                       success: function (response) {
                           if (response.IsSuccess) {
                               $.each(response.returnProgramList, function (i, v) {
                                   $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                               });
                           }
                           $.unblockUI();
                       },
                       complete: function () {
                           $.unblockUI();
                       },
                       error: function (data) {
                           $.unblockUI();
                       }
                   });
               }
           });

           $(document).on("change", "#Program", function () {
               //remove all dependant dropdownlist option
               $('#Session').empty();
               $('#Session').append("<option value=''>--Session--</option>");

               $('#Course').empty();
               $('#Course').append("<option value=''>--Course--</option>");
               var organizationIds = $('#Organization').val();
               var programId = $('#Program').val();

               $.ajax({
                   type: "POST",
                   url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                   data: { organizationIds: organizationIds, programIds: programId, isAuthorized: true },
                   beforeSend: function () {
                       $.blockUI({
                           timeout: 0,
                           message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                       });
                   },
                   success: function (response, status, xhr) {
                       if (response.IsSuccess) {
                           $.each(response.returnSessionList, function (i, v) {
                               $('#Session').append($('<option>').text(v.Text).attr('value', v.Value));
                           });
                       }
                       else {
                           $.fn.customMessage({
                               displayMessage: response.Message,
                               displayMessageType: "error",
                           });
                       }
                   }, complete: function () {
                       $.unblockUI();
                   },
                   error: function (response, status, xhr) {
                       $.unblockUI();
                   }
               });
           });

           $(document).on("change", "#Session", function () {
               //remove all dependant dropdownlist option

               $('#Course').empty();
               $('#Course').append("<option value=''>--Course--</option>");
               var organizationIds = $('#Organization').val();
               var programId = $('#Program').val();
               var sessionId = $('#Session').val();
               $.ajax({
                   type: "POST",
                   url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                   data: { organizationIds: organizationIds, programIds: programId, sessionIds: sessionId },
                   beforeSend: function () {
                       $.blockUI({
                           timeout: 0,
                           message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                       });
                   },
                   success: function (response, status, xhr) {
                       if (response.IsSuccess) {
                           $.each(response.returnCourse, function (i, v) {
                               $('#Course').append($('<option>').text(v.Text).attr('value', v.Value));
                           });
                       }
                       else {
                           $.fn.customMessage({
                               displayMessage: response.Message,
                               displayMessageType: "error",
                           });
                       }
                   }, complete: function () {
                       $.unblockUI();
                   },
                   error: function (response, status, xhr) {
                       $.unblockUI();
                   }
               });
           });

           function dataTableRender() {
               var PageSize = 10;
               if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                   PageSize = parseInt($('#PageSize').val());
               }
               else {
                   $('#PageSize').val(PageSize);
               }
               $('#DataGrid').dataTable({
                   destroy: true,
                   "processing": true,
                   searching: false,
                   serverSide: true,
                   "scrollX": true,
                   "bLengthChange": false,
                   "iDisplayLength": PageSize,
                   //stateSave: true,
                   order: [[1, "asc"]],
                  // "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,7,8,9] }],
                   ajax: {
                       url: 'ExamListResults',
                       type: 'POST',
                       data: function (d) {
                           d.organization = $('#Organization').val();
                           d.program = $('#Program').val();
                           d.session = $('#Session').val();
                           d.course = $('#Course').val();
                           d.name = $('#Name').val();
                        }
                   }
               });
           }
           dataTableRender();
           $(document).on("click", "#search", function () {
               dataTableRender();
           });
           

           //$(document).on("click", ".glyphicon-trash", function () {
           //    var id = $(this).attr("id");
           //    var name = $(this).attr("data-name");
           //    if (id != "") {
           //        bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Exam?</h3>", function (result) {
           //            if (result) {
           //                $.ajax({
           //                    type: "post",
           //                    url: $("body").attr("data-project-root") + "Exam/Exams/Delete",
           //                    cache: false,
           //                    async: true,
           //                    data: { "id": id },
           //                    beforeSend: function () {
           //                        $.blockUI({
           //                            timeout: 0,
           //                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
           //                        });
           //                    },
           //                    success: function (result) {
           //                        $.unblockUI();

           //                        if (result.IsSuccess) {
           //                            //var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Menu Delete Successfully</div>';
           //                            //$('.customMessage').append(errorMessage);
           //                           // window.location = 'ManageExam';
           //                            //var link = "/Exam/Exams/ManageExam?editSuccess=" + data.Message;
           //                            //console.log(link);
           //                            //window.location.href = link;
           //                            $.fn.customMessage({
           //                                displayMessage: "Exam Deleted Successfully",
           //                                displayMessageType: "s",
           //                                //displayTime: 5000
           //                            });
           //                            dataTableRender();
           //                        }
           //                        else {
           //                            //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
           //                            //$('.customMessage').append(errorMessage);
           //                            $.fn.customMessage({
           //                                displayMessage: result.Message,
           //                                displayMessageType: "e",
           //                                //displayTime: 5000
           //                            });
           //                        }
           //                    },
           //                    complete: function () {
           //                        $.unblockUI();
           //                    },
           //                    error: function (result) {
           //                        //var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Menu Delete Failed</div>';
           //                        //$('.customMessage').append(errorMessage);
           //                        $.fn.customMessage({
           //                            displayMessage: "Exam Delete Fail!",
           //                            displayMessageType: "e",
           //                            //displayTime: 5000
           //                        });
           //                    }
           //                });

           //            }
           //        }).css({ 'margin-top': (($(window).height() / 4)) });
           //    }
           //    return false;
           //});




       });
    </script>
}
