﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentAdmissionReportTargetViewModel

@{
    ViewBag.Title = "AchievementReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Achievement Report
    </div>
    <div class="panel-body">


        @using (Html.BeginForm("AchievementReport", "StudentAdmissionTarget", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ReportType, (SelectList)ViewBag.ReportType, "Select Report type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.orgList, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramId, htmlAttributes: new { @class = "control-label col-md-2 programlayer" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SessionId, htmlAttributes: new { @class = "control-label col-md-2 sessionLayer" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2 branchLayer" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.BranchId, (SelectList)ViewBag.Branch, "Select Branch", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StudentAdmissionTarget, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.StudentAdmissionTarget, (SelectList)ViewBag.StudentTarget, "Select Deadline", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StudentAdmissionTarget, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Generate Report" id="GenerateReport" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Student/Report/AchievementReport.js"></script>
    <script type="text/javascript">
        window.validateDropDownField("ReportType", "Please Select Report Type.");
        window.validateDropDownField("OrganizationId", "Please Select Organization.");
        window.validateDropDownField("StudentAdmissionTarget", "Please Select DealLine.");
        window.validateDropDownField("ProgramId", "Please Select Program.");
        window.validateDropDownField("SessionId", "Please Select Session.");
        window.validateDropDownField("BranchId", "Please Select Branch.");
</script>

}
