﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentAdmissionTargetViewModel
@{
    ViewBag.Title = "Target Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Target Entry</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Deadline", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DeadLine, new { htmlAttributes = new { @class = "form-control form-date", @placeholder = "Deadline", @readOnly="readOnly" } })
                        @Html.ValidationMessageFor(model => model.DeadLine, "", new { @class = "text-danger" })
                    </div>                  
                </div>              
                <div class="form-group">                  
                    @Html.Label("Deadline Title", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DeadLineTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Deadline Title" } })
                        @Html.ValidationMessageFor(model => model.DeadLineTitle, "", new { @class = "text-danger" })
                    </div>
                </div>              
                <div class="form-group" >
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="table table-bordered" id="branchBox">
                            
                        </table>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="button" id="Submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">

        window.validateDropDownField("OrganizationId", "Please Select Organization.");
        window.validateDropDownField("ProgramId", "Please Select Program.");
        window.validateDropDownField("SessionId", "Please Select Session.");
        window.validateTextField("DeadLineTitle", "Please Enter DeadLine Title.");
        window.validateTextField("DeadLineTitle", "Please Enter DeadLine Title.");

        $(document).ready(function () {

            function CalculateTotal() {
                var total = 0;
                $('.target').each(function () {
                    total += Number($(this).val());
                });
                $('#CurrentStudenTargetTotal').html(total);
            }
            $(document).on("input propertychange", ".target", function (event) {
                CalculateTotal();
            });

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = initialDate;
            //var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();

            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                //endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (e) {
                
                var deadLineTitle = $("#DeadLine").val();
                console.log("Failed -----");
                if (deadLineTitle == "") {
                    $("#DeadLine").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("Dead Line Title Is required.");
                   
                } else {
                    $("#DeadLine").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
                }
            });

            $(document).on('change', '#OrganizationId', function(e) {
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select Program</option>");
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                $("#branchBox").html("");
                var orgId = $("#OrganizationId").val();
                if (orgId != "") {
                    //$("#OrganizationId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
                //else {
                //    $("#OrganizationId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("You need to select organization.");
                //}

            });

            $("#ProgramId").change(function() {

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                $("#branchBox").html("");
                var programId = $('#ProgramId').val();
                if (programId != null && programId != "") {
                    //$("#ProgramId").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html('');
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId,isAuthorized:true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                            }

                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
                //else {
                //    $("#ProgramId").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("You need to select program.");
                //}
            });

            $("#SessionId").change(function() {
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                $("#branchBox").html("");
                if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                    //Load Branch List
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("AjaxRequestForDrawingBranchTable", "StudentAdmissionTarget")',
                        cache: false,
                        async: true,
                        data: { programId: programId, sessionId: sessionId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.hasOwnProperty("IsSuccess")) {
                                $("#Submit").prop('disabled', true);
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "error",
                                });
                            } else {
                                $("#branchBox").html(response);
                                $("#Submit").removeAttr('disabled');
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("change", "#DeadLine", function (event) {
                var val = $("#DeadLine").val();
                console.log(val);
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("DeadLine", "", false);
                }
            });

            //$(document).on("input propertychange", ".internaltarget", function(event) {
            //    var input = $(this),
            //        text = input.val().replace(/[^0-9]/g, "");
            //    input.val(text);

            //    var parent = input.parent().parent();
            //    var internalTarget = parent.find(".internaltarget").val();
            //    var externalTarget = parent.find(".externaltarget").val();

            //    if (internalTarget != "" && externalTarget == "") {
            //        parent.find(".externaltarget").val("0");
            //        externalTarget = 0;
            //    }

            //    parent.find(".totaltarget").val(parseInt(internalTarget) + parseInt(externalTarget));
            //});
            //$(document).on("input propertychange", " .externaltarget", function(event) {
            //    var input = $(this),
            //        text = input.val().replace(/[^0-9]/g, "");
            //    input.val(text);

            //    var parent = input.parent().parent();
            //    var internalTarget = parent.find(".internaltarget").val();
            //    var externalTarget = parent.find(".externaltarget").val();
            //    if (internalTarget == "" && externalTarget != "") {
            //        parent.find(".internaltarget").val("0");
            //        internalTarget = 0;
            //    }


            //    parent.find(".totaltarget").val(parseInt(internalTarget) + parseInt(externalTarget));
            //    //totaltarget
            //});

            $(document).on("input propertychange", " .target", function (event) {
                var input = $(this),
                    text = input.val().replace(/[^0-9]/g, "");
                input.val(text);
                var target = parseInt($(this).val());
                var currentStudent = parseInt($(this).attr("data-count"));
                console.log(target + "  " + currentStudent);
               if (currentStudent > target) {
                   $(this).css('border-color', 'red');
               } else {
                   $(this).css('border-color', '#cccccc');
               }

            });

            //$(document).on("input propertychange", "#DeadLine", function(event) {
            //    var deadLine = $("#DeadLine").val();
            //    if (deadLine == "") {
            //        $("#DeadLine").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("Dead Line Is required.");
                  
            //    } else {
            //        $("#DeadLine").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
            //    }
            //});
            //$(document).on("input propertychange", "#DeadLineTitle", function(event) {
            //    var deadLineTitle = $("#DeadLineTitle").val();
            //    if (deadLineTitle == "") {
            //        $("#DeadLineTitle").parent().find("span").removeClass("field-validation-valid").addClass("field-validation-error").html("Dead Line Title Is required.");
                    
            //    } else {
            //        $("#DeadLineTitle").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");
            //    }
            //});


            $(document).on('click', '#Submit', function(event) {
                studentAdmissionTarget = {};
                var isSuccess = true;
                var program = $("#ProgramId").val();
                var session = $("#SessionId").val();
                var organization = $("#OrganizationId").val();
                var deadLineDate = $("#DeadLine").val();
                var deadLineText = $("#DeadLineTitle").val();

                if (organization == "") {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (program == "") {
                    window.showErrorMessageBelowCtrl("ProgramId", "", false);
                    window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
                    isSuccess = false;
                } 
                if (session == "") {
                    window.showErrorMessageBelowCtrl("SessionId", "", false);
                    window.showErrorMessageBelowCtrl("SessionId", "Please Select Session.", true);
                    isSuccess = false;
                } 
                if (deadLineDate == "") {
                    window.showErrorMessageBelowCtrl("DeadLine", "", false);
                    window.showErrorMessageBelowCtrl("DeadLine", "Dead Line Is required.", true);
                    isSuccess = false;
                }
                if (deadLineText == "") {
                    window.showErrorMessageBelowCtrl("DeadLineTitle", "", false);
                    window.showErrorMessageBelowCtrl("DeadLineTitle", "Dead Line Title Is required.", true);
                    isSuccess = false;
                }
                var branchStudentAdmissionTargetList = [];
                var totalbranchStudentAdmissionTarget = 0;
                $("#branchBox tbody tr").each(function() {
                    var row = $(this);
                    var id = row.attr("data-id");
                    var target = row.find(".target").val();
                    if (id != "" && (typeof id !== 'undefined') && target != "" && (typeof target !== 'undefined') ) {
                        console.log("I am");
                        if (target > 0) {
                            totalbranchStudentAdmissionTarget++;
                            branchStudentAdmissionTarget = {}
                            branchStudentAdmissionTarget["BranchId"] = id;
                            branchStudentAdmissionTarget["Target"] = target;
                            branchStudentAdmissionTargetList.push(branchStudentAdmissionTarget);
                        }                   
                    }

                });
                console.log(totalbranchStudentAdmissionTarget);

                if (totalbranchStudentAdmissionTarget == 0) {
                    //check = check + 1;
                    $.fn.customMessage({
                        displayMessage: "You must give at least one branch target.",
                        displayMessageType: "error",
                    });
                }
                var redtxtcount = 0;
                //$('input[id*="it"], input[id*="et"]').each(function () {
                $('input[id*="target"]').each(function () {
                    if ($(this).css('borderTopColor') == "rgb(255, 0, 0)")
                        redtxtcount++;
                });

                if (redtxtcount > 0) {
                    $.fn.customMessage({
                        displayMessage: "One or more Branch Target has some error!",
                        displayMessageType: "error",
                    });
                }
                if (isSuccess == true && redtxtcount == 0 && totalbranchStudentAdmissionTarget > 0) {
                    studentAdmissionTarget["OrganizationId"] = organization;
                    studentAdmissionTarget["ProgramId"] = program;
                    studentAdmissionTarget["SessionId"] = session;
                    studentAdmissionTarget["DeadLine"] = deadLineDate;
                    studentAdmissionTarget["DeadLineTitle"] = deadLineText;
                    studentAdmissionTarget["BranchStudentAdmissionTargetList"] = branchStudentAdmissionTargetList;
                    console.log(studentAdmissionTarget);
                    var stringify = JSON.stringify(studentAdmissionTarget);
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Student/StudentAdmissionTarget/TargetEntry",
                        cache: false,
                        async: true,
                        dataType: "json",
                        contentType: "application/json",
                        data: stringify,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $(".internaltarget, .externaltarget, .totaltarget, #DeadLine, #DeadLineTitle").val("");
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "s",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }

            });
        });
        //$(document).on("input propertychange", ".internaltarget", function (event) {
        //    var textBox = $(this);
        //    var internalTargetAmount =parseInt(textBox.val());
        //    var studentCountInPreviousPrograms =parseInt(textBox.attr('data-count'));
        //    //if internalTargetAmount > totalStudentProgramCount
        //    if (internalTargetAmount > studentCountInPreviousPrograms) {
        //        textBox.css('border-color', 'red');
        //    } else {
        //        textBox.css('border-color', '#cccccc');
        //    }
        //    //
        //});
        //$(document).on("input propertychange", ".externaltarget", function (event) {
        //    var textbox = $(this);
        //    var externalTargetAmount =parseInt(textbox.val());
        //    var studentCountInProgramSessionBranch =parseInt(textbox.attr('data-count'));
        //    //if not valid branch to set external target
        //    if (parseInt(textbox.attr("data-validity")) == 0) {
        //        if (parseInt(textbox.val()) > 0) {
        //            textbox.parent().find('.errmsg').remove();
        //            textbox.parent().append("<div class='errmsg' style='color:red'>Not valid branch to set external target.</div>");
        //            textbox.css('border-color', 'red');
        //        } else {
        //            textbox.css('border-color', '#cccccc');
        //            textbox.parent().find('.errmsg').remove();
        //        }
        //    }
        //        //
        //        //if (studentProgramCount > externalTargetAmount)
        //    else {
        //        if (studentCountInProgramSessionBranch > externalTargetAmount) {
        //            textbox.css('border-color', 'red');
        //        } else {
        //            textbox.css('border-color', '#cccccc');
        //        }
        //    }
        //    //

        //});
    </script>

}