﻿@{
    ViewBag.Title = "UInventory Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">UInventory Management Area</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>