﻿
@{
    ViewBag.Title = "Cancel Course Or Subject";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Cancel Course/Subject</div>
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("CancelCourse", "CancelCourse", new { area = "Student" }, FormMethod.Get))
            {
                if (@ViewBag.InvalidAmount != null)
                {
                    <input type="text" class="form-control" placeholder="Enter Program Roll" maxlength="11" value="@ViewBag.InvalidAmount" id="stdProRoll" name="stdProRoll" />
                }
                else
                {
                    <input type="text" class="form-control" placeholder="Enter Program Roll" maxlength="11" id="stdProRoll" name="stdProRoll" data- />
                }
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
            }
        </div>

    </div>

</div>
<script src="~/Scripts/jquery.validate.min.js"></script>