﻿@model UdvashERP.BusinessModel.Entity.Administration.ProgramSettings

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewData["ProgramId"];
}

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Program Settings</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "ProgramSetting", FormMethod.Post, new { @Id = "ProgramSetting" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.Label("Previous Program", new { @class = "control-label col-md-4" })
                    @Html.Label("Next Program", new { @class = "control-label col-md-6" })
                </div>
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("organizationId", (SelectList)ViewBag.Organization, new { @class = "form-control"})
                        @Html.ValidationMessage("organizationId")
                    </div>
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("nextOrganizationId", (SelectList)ViewBag.NextOrganization, new { @class = "form-control"})
                        @Html.ValidationMessage("nextOrganizationId")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("programId", ViewBag.Program as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessage("ProgramId")
                    </div>
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("nextProgramId", (SelectList)ViewBag.NextProgram, new { @class = "form-control"})
                        @Html.ValidationMessage("nextProgramId")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("sessionId", (SelectList)ViewBag.Session, new { @class = "form-control"})
                        @Html.ValidationMessage("sessionId")
                    </div>
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("nextSessionId", (SelectList)ViewBag.NextSession, new { @class = "form-control"})
                        @Html.ValidationMessage("nextSessionId")
                    </div>
                </div>
                <div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="button" value="Submit" class="btn btn-primary" id="Submit" /></div></div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "ManageProgramSetting")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ProgramSetting").submit(function () {
                return false;
            });
            window.validateDropDownField("organizationId", "Select Organization.");
            window.validateDropDownField("programId", "Select Program.");
            window.validateDropDownField("sessionId", "Select Session.");
            window.validateDropDownField("nextOrganizationId", "Select Organization.");
            window.validateDropDownField("nextProgramId", "Select Program.");
            window.validateDropDownField("nextSessionId", "Select Session.");
            $(document).on('click', '#Submit', function (e) {
                var organizationId = $("#organizationId").val();
                var programId = $("#programId").val();
                var sessionId = $("#sessionId").val();
                var nextOrganizationId = $("#nextOrganizationId").val();
                var nextProgramId = $("#nextProgramId").val();
                var nextSessionId = $("#nextSessionId").val();
                var isSuccess = true;
                if (organizationId == null || organizationId == "") {
                    window.showErrorMessageBelowCtrl("organizationId", "", false);
                    window.showErrorMessageBelowCtrl("organizationId", "Select Organization.", true);
                    isSuccess = false;
                }
                if (programId == null || programId == "") {
                    window.showErrorMessageBelowCtrl("programId", "", false);
                    window.showErrorMessageBelowCtrl("programId", "Select Program.", true);
                    isSuccess = false;
                }
                if (sessionId == null || sessionId == "") {
                    window.showErrorMessageBelowCtrl("sessionId", "", false);
                    window.showErrorMessageBelowCtrl("sessionId", "Select Session.", true);
                    isSuccess = false;
                }
                if (nextOrganizationId == null || nextOrganizationId == "") {
                    window.showErrorMessageBelowCtrl("nextOrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("nextOrganizationId", "Select Organization.", true);
                    isSuccess = false;
                }
                if (nextProgramId == null || nextProgramId == "") {
                    window.showErrorMessageBelowCtrl("nextProgramId", "", false);
                    window.showErrorMessageBelowCtrl("nextProgramId", "Select Program.", true);
                    isSuccess = false;
                }
                if (nextSessionId == null || nextSessionId == "") {
                    window.showErrorMessageBelowCtrl("nextSessionId", "", false);
                    window.showErrorMessageBelowCtrl("nextSessionId", "Select Session.", true);
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    $("#ProgramSetting").get(0).submit();
                } else {
                    e.preventDefault();
                }
            });
            $("#organizationId").change(function () {
                $('#programId').empty();
                $('#programId').append("<option value=''>Select Program</option>");
                $('#sessionId').empty();
                $('#sessionId').append("<option value=''>Select Session</option>");
                var organizationId = $('#organizationId').val();
                if (organizationId != null && organizationId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });
            $("#nextOrganizationId").change(function () {
                $('#nextProgramId').empty();
                $('#nextProgramId').append("<option value=''>Select Program</option>");
                $('#nextSessionId').empty();
                $('#nextSessionId').append("<option value=''>Select Session</option>");
                var nextOrganizationId = $('#nextOrganizationId').val();
                if (nextOrganizationId != null && nextOrganizationId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: nextOrganizationId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#nextProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });
            $("#programId").change(function () {
                $('#sessionId').empty();
                $('#sessionId').append("<option value=''>Select Session</option>");
                var programId = $('#programId').val();
                var organizationId = $('#organizationId').val();
                if (programId != null && programId != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                console.log(response);
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#sessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });
            $(document).on('change', '#nextProgramId', function () {
                $('#nextSessionId').empty();
                $('#nextSessionId').append("<option value=''>Select Session</option>");
                var nextProgramId = $(this).val();
                var nextOrganizationId = $('#nextOrganizationId').val();
                if (nextProgramId !== "" && nextProgramId.length > 0) {
                    console.log($("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession");
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { organizationIds: nextOrganizationId, programIds: nextProgramId },

                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#nextSessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function () {
                            $.unblockUI();
                        }
                    });
                }
            });
        });
    </script>
}
