﻿@using UdvashERP.BusinessModel.Entity.Administration
@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.ProgramSettings>
@Styles.Render("~/Content/styledatatable")


@{
    ViewBag.Title = "Manage Program Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    @using (Html.BeginForm("Create", "ProgramSetting", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Add Program Setting" class="btn btn-primary" />
        </div>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Manage Program Setting</h4>
    </div>

    <div class="panel-body">

        @using (Html.BeginForm("ManageProgramSetting", "ProgramSetting", FormMethod.Post, new { @Id = "ManageProgramSetting" }))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("organizationId", (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control", @id = "organizationId" })
                        @Html.ValidationMessage("organizationId")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("programId", (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control", @id = "programId" })
                        @Html.ValidationMessage("programId")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("sessionId", (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control", @id = "sessionId" })
                        @Html.ValidationMessage("sessionId")
                    </div>
                </div>

                <div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="button" value="Submit" class="btn btn-primary" id="Submit" /></div></div>
            </div>
        }
        <br />
        @*@{
            if (ViewBag.ShowResult)
            {
                <div class="form-group col-md-12">
                    <table class="table-bordered table-responsive table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Program</th>
                                <th>Session</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @if (ViewBag.ProgramSetting.Count > 0)
                            {
                                foreach (ProgramSettings programSettings in ViewBag.ProgramSetting)
                                {
                                    <tr>
                                        <td>
                                            @programSettings.NextProgram.Organization.ShortName
                                        </td>
                                        <td>
                                            @programSettings.NextProgram.Name
                                        </td>
                                        <td>
                                            @programSettings.NextSession.Name
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "ProgramSetting", new { Area = "Administration", id= programSettings.Id})" data-id="@programSettings.Id" class="glyphicon glyphicon-pencil"></a>
                                            <a href="@Url.Action("Delete", "ProgramSetting", new { Area = "Administration", id= programSettings.Id})" data-id="@programSettings.Id" class="glyphicon glyphicon-trash"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4"> No record found!</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }*@
        
        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    @*<th style="width: 10%">
                      Sr. No
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.NextProgram.Organization.ShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NextProgram.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NextSession.Name)
                    </th>
                    
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@


    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        @**----function for render data table----*@
        function dataTableRender() {
            var displayNo = 10;
            if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                displayNo = parseInt($('#DisplayNo').val());
            }
            else {
                $('#DisplayNo').val(displayNo);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": false,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                //stateSave: true,
                //order: [[2, "asc"]],
                //order: [[3, "asc"]],
                ajax: {
                    url: '@Url.Action("LoadProgramSettingList", "ProgramSetting")',
                    type: 'POST',
                    data: function (dt) {
                        dt.organizationId = $('#organizationId').val();
                        dt.programId = $('#programId').val();
                        dt.sessionId = $('#sessionId').val();
                    },

                    error: function (response) {
                        ShowErrorMessage("Program setting data load error. Please try again.");
                    }
                }
            });
        }

        dataTableRender();

        //$(document).on("click", "#search", function () {
        //    dataTableRender();
        //});

        @**----end function for render data table----*@

              @**---- function for row delete----*@


        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            var name = $(this).attr("data-name");
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Program Setting :<span class='confirm-message'> " + name + "</span></h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: '@Url.Action("Delete","ProgramSetting")',
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();

                                if (result.IsSuccess) {
                                    //var successMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Session Delete Successfully</div>';
                                    //$('.customMessage').append(errorMessage);

                                    $.fn.customMessage({
                                        displayMessage: "Program Setting Delete Successfully",
                                        displayMessageType: "s",
                                        //displayTime: 5000
                                    });

                                    dataTableRender();
                                }
                                else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "e",
                                        //displayTime: 5000
                                    });

                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (result) {
                                $.unblockUI();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                    //displayTime: 5000
                                });
                            }
                        });

                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            //dataTableRender();
            return false;
        });


        @**----end function for row delete----*@




        $("#ManageProgramSetting").submit(function () {
            return false;
        });
        window.validateDropDownField("organizationId", "Select Organization.");
        window.validateDropDownField("programId", "Select Program.");
        window.validateDropDownField("sessionId", "Select Session.");
        $(document).on('click', '#Submit', function (e) {
            var organizationId = $("#organizationId").val();
            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var isSuccess = true;
            if (organizationId == null || organizationId == "") {
                window.showErrorMessageBelowCtrl("organizationId", "", false);
                window.showErrorMessageBelowCtrl("organizationId", "Select Organization.", true);
                isSuccess = false;
            }
            if (programId == null || programId == "") {
                window.showErrorMessageBelowCtrl("programId", "", false);
                window.showErrorMessageBelowCtrl("programId", "Select Program.", true);
                isSuccess = false;
            }
            if (sessionId == null || sessionId == "") {
                window.showErrorMessageBelowCtrl("sessionId", "", false);
                window.showErrorMessageBelowCtrl("sessionId", "Select Session.", true);
                isSuccess = false;
            }
            if (isSuccess == true) {
                //$("#ManageProgramSetting").get(0).submit();
                dataTableRender();
            } else {
                e.preventDefault();
            }
        });
        $("#organizationId").change(function () {
            $('#programId').empty();
            $('#programId').append("<option value=''>Select Program</option>");
            $('#sessionId').empty();
            $('#sessionId').append("<option value=''>Select Session</option>");
            var organizationId = $('#organizationId').val();
            console.log(organizationId);
            if (organizationId != null && organizationId != "") {
                $.ajax({
                    type: "POST",
                    @*url: '@Url.Action("LoadProgram", "ProgramSetting")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.returnProgramList, function (i, v) {
                                $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            }
        });

        $("#programId").change(function () {
            $('#sessionId').empty();
            $('#sessionId').append("<option value=''>Select Session</option>");
            var organizationId = $('#organizationId').val();
            var programId = $('#programId').val();
            if (programId != null && programId != "") {
                $.ajax({
                    type: "POST",
                    @*url: '@Url.Action("LoadSession", "ProgramSetting")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, programIds: programId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            console.log(response);
                            $.each(response.returnSessionList, function (i, v) {
                                $('#sessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            }
        });
    });




    </script>
}