﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
   // ViewBag.Title = "Student Admission Summary Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
 //   var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
    
}
<style>
    .total {
        font-weight: bold;
    }
    .odd:last-child {
        font-weight: bold;
    }
    .even:last-child {
        font-weight: bold;
    }
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>

        <div class="panel-body">
            <div>
                <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover ">
                    @*table-responsive*@
                    <thead>
                        <tr>
                            @if (ViewBag.informationViewList != null)
                            {
                                foreach (string informationView in ViewBag.informationViewList)
                                {
                                    <th>@informationView</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 10px">
                <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
            </div>
        </div>
   

@Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
<script>
    var organizationId = @ViewBag.OrganizationId;
    var dateFrom = '@ViewBag.DateFrom';
    var dateTo = '@ViewBag.DateTo';
    var lastSession = '@ViewBag.LastSession';
    function dataTableRender() {
        var pageSize = 100;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize = parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "scrollCollapse": true,
            "scrollY": "60vh",
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            "bPaginate": false,
            "paging": false,
            "bSort": false,
            "bInfo": false,
            fixedColumns:   {
                leftColumns: 1
            },
            ajax: {
                url: '@Url.Action("LoadStudentAdmissionSummaryReport", "StudentAdmissionReport")',
                type: 'POST',
                data: function(d) {
                    d.organizationId = organizationId;
                    d.dateFrom = dateFrom;
                    d.dateTo = dateTo;
                    d.lastSession = lastSession;
                }
            }
        });
    }
    $(document).on("click", "#export", function() {
        var urlParam = {
            organizationId: @ViewBag.OrganizationId,
            dateFrom: '@ViewBag.DateFrom',
            dateTo: '@ViewBag.DateTo',
            lastSession: '@ViewBag.LastSession'
        };
        var url = "@Url.Action("LoadStudentAdmissionSummaryReportToExcel", "StudentAdmissionReport", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        window.open(url);
    });
    dataTableRender();

</script>