﻿
<style type="text/css">

    #assignTeamMemberBatchListTable th, td{
        padding: 5px;
    }
        #assignTeamMemberBatchListTable th {
            white-space: nowrap;
            font-weight: bold;
        }
    #assignTeamMemberBatchListTable .top th{
        text-align: center;
    }
    #assignTeamMemberBatchListTable .even{
        background: #E5E5E5;
    }
</style>
@using UdvashERP.BusinessModel.Dto.Hr
@model IEnumerable<UdvashERP.BusinessModel.Dto.Hr.TeamMemberBatchSalaryHistoryDto>
@{
    int i = 0;
}
@if (Model.Any())
{
    <div class="form-group">
        @Html.Label("Effective Date", new {@class = "control-label col-md-2"})
        @Html.TextBox("EffectiveDate", null, htmlAttributes: new {@class = "form-control form_datetime", @readonly = "readonly"})
    </div>
    <div style=" /*overflow-x:scroll; overflow-y:scroll; height: 60vh;*/ overflow: auto; height: 60vh;" id="assignTeamMemberBatchListDiv">
        <table class="table-bordered" id="assignTeamMemberBatchListTable" width="1700" cellpadding="2" cellspacing="2">
            <thead>
                <tr class=" top">
                    <th rowspan="2">
                        <input type="checkbox" id="selecctall" />
                        <label for="selecctall" style="">All</label>
                    </th>
                    <th rowspan="2">Pin</th>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">Department</th>
                    <th rowspan="2">Designation</th>

                    <th colspan="9" style="border-left: 2px dashed #555;">Last Salary Information</th>
                    <th colspan="7" style="border-left: 2px dashed #555;">New</th>
                </tr>
                <tr>
                    <th style="border-left: 2px dashed #555;">Organization</th>
                    <th>Department</th>
                    <th>Branch</th>
                    <th>Campus</th>
                    <th>Salary</th>
                    <th>Bank Amount</th>
                    <th>Cash Amount</th>
                    <th>Effective Date</th>
                    <th>Purpose</th>

                    <th style="border-left: 2px dashed #555;">Organization</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Branch</th>
                    <th>Campus</th>
                    <th>Salary Purpose</th>
                    <th>Bank Amount</th>
                    <th>Cash Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TeamMemberBatchSalaryHistoryDto item in Model)
                {
                    i++;
                    <tr id="teamMember_@item.TeamMemberId" data-id="@item.TeamMemberId" data-pin="@item.TeamMemberPin" @if (i % 2 == 0) { @Html.Raw("class='even'")   } else { @Html.Raw("class='odd'")   }>
                        <td style="text-align: center;" >
                            <input type="checkbox" name="teamMemberIds" value="@item.TeamMemberId" data-id="@item.TeamMemberId" data-pin="@item.TeamMemberPin" class="teamMemberIds" />
                        </td>
                        <td style="text-align: center;">@item.TeamMemberPin</td>
                        <td>@item.TeamMemberName</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.DesignationName</td>

                        <td style="border-left: 2px dashed #555;">@item.LastSalaryHistoryOrganizationName</td>
                        <td>@item.LastSalaryHistoryDepartmentName</td>
                        <td>@item.LastSalaryHistoryBranchName</td>
                        <td>@item.LastSalaryHistoryCampusName</td>
                        <td>@item.LastSalaryHistorySalary</td>
                        <td>@item.LastSalaryHistoryBankAmount</td>
                        <td>@item.LastSalaryHistoryCashAmount</td>
                        <td>
                            @if (item.LastSalaryHistoryEffectiveDate != null)
                            {
                                <span>@item.LastSalaryHistoryEffectiveDate.Value.ToString("yyyy-MM-dd")</span>
                            }
                        </td>
                        <td>@item.LastSalaryHistorySalaryPurposeName</td>

                        <td style="border-left: 2px dashed #555;">
                            @Html.DropDownList("OrganizationId_" + item.TeamMemberId, item.OrganizationList as SelectList, "Select Organization", htmlAttributes: new { @class = "form-control Organization", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.DropDownList("DepartmentId_" + item.TeamMemberId, item.DepartmentList as SelectList, "Select Department", htmlAttributes: new { @class = "form-control Department", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.DropDownList("DesignationId_" + item.TeamMemberId, item.DesignationList as SelectList, "Select Designation", htmlAttributes: new { @class = "form-control Designation", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.DropDownList("BranchId_" + item.TeamMemberId, item.BranchList as SelectList, "Select Branch", htmlAttributes: new { @class = "form-control Branch", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.DropDownList("CampusId_" + item.TeamMemberId, item.CampusList as SelectList, "Select Campus", htmlAttributes: new { @class = "form-control Campus", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.DropDownList("SalaryPurpose_" + item.TeamMemberId, item.SalaryPurposeList as SelectList, "Select Salary Purpose", htmlAttributes: new { @class = "form-control SalaryPurpose", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.TextBox("BankAmount_" + item.TeamMemberId, null, new { @class = "form-control numbersOnly BankAmount", @placeholder = "Bank Amount", @style = "min-width:150px" })
                        </td>
                        <td>
                            @Html.TextBox("CashAmount_" + item.TeamMemberId, null, new { @class = "form-control numbersOnly CashAmount", @placeholder = "Cash Amount", @style = "min-width:150px" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="text-left"> Total <strong>@Model.Count()</strong> Team Member(s) Found.</div>
    <div class="form-group" style="text-align: center; padding-top: 10px;">
        <input type="button" value="Add New Salary History" class="btn btn-primary assignSalaryHistory"/>
    </div>
    <br/>
}
else
{
    <div class="text-center"> No Team Member found!</div>
}