﻿@using UdvashERP.BusinessModel.Dto.Hr
@model IEnumerable<UdvashERP.BusinessModel.Dto.Hr.TeamMemberBatchShiftDto>
<style>
    table thead tr th {
        text-align: center;
    }
</style>
@if (Model.Any())
{
    <div style="overflow: scroll; overflow-y: scroll; max-height: 60vh;" id="assignTeamMemberBatchListDiv">
        <table class="table-bordered" id="assignTeamMemberBatchListTable" width="1700" cellpadding="2" cellspacing="2" width="100%">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selecctall" />
                        <label for="selecctall" style="">All</label>
                    </th>
                    <th>Pin</th>
                    <th>Name</th>
                    @*<th>Org.</th>*@
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Current Shift</th>
                    <th>Next Shift</th>
                    <th>Next Shift Effective Date</th>
                    <th>Branch</th>
                    <th>Campus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TeamMemberBatchShiftDto item in Model)
                {
                    <tr id="teamMember-@item.TeamMemberId">
                        <td style="text-align: center;"><input type="checkbox" name="teamMemberPins" value="@item.TeamMemberPin" data-id="@item.TeamMemberId" class="teamMemberPins" /></td>
                        <td style="text-align: center;">@item.TeamMemberPin</td>
                        <td>@item.TeamMemberName</td>
                        @*<td>@item.OrganizationName</td>*@
                        <td>@item.DepartmentName</td>
                        <td>@item.DesignationName</td>
                        <td style="text-align: center;">@item.CurrentShiftName</td>
                        <td style="text-align: center;">@item.NextShiftName</td>
                        <td style="text-align: center;">
                            @if (item.NextShiftEffectiveDate != null)
                            {
                                <span>@item.NextShiftEffectiveDate.Value.ToString("yyyy-MM-dd")</span>
                            }
                        </td>
                        <td>@item.BranchName</td>
                        <td>@item.CampusName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br/>
    <div class="text-left"> Total @Model.Count() TeamMember Found.</div>
}
else
{
    <div class="text-center"> No Team Member found!</div>
}