﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.PaymentDetails

<style type="text/css">
    .form-horizontal, .form-group {
        margin-right: -270px;
    }
</style>

@Styles.Render("~/Content/bootstrap-datetimepicker")

<div class="row">
    <div id="paymentContainer">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"> Payment Details  </div>
                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" value="@ViewData["spid"]" name="stdPId" id="stdPId" />
                        <div style="padding-right: 4%">

                            @*@ViewData["paymentMethodList"]*@
                            <div class="col-md-6" style="padding-right: 10%">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="receivableAmount" class="control-label col-md-4 ">Receivable Amount</label>
                                        <div class="col-md-4">
                                            @{
                                                decimal payableAmount = ViewBag.DISCOUNTDETAILS.PayableAmount;
                                                long payableS = (long)payableAmount;
                                            }
                                            <input type="text" value="@payableS" readonly="readonly" name="receivableAmount" id="receivableAmount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="netReceivable" class="control-label col-md-4 ">Net Receivable</label>
                                        <div class="col-md-4">
                                            <input type="text" value="@payableS" readonly="readonly" name="netReceivable" id="netReceivable" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="receivedAmount" class="control-label col-md-4 ">Received Amount</label>
                                        <div class="col-md-4">
                                            <input type="text" value="" name="receivedAmount" id="receivedAmount" class="form-control numbersOnly" placeholder="Received Amount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PaymentMethods" class="control-label col-md-4 ">Payment Method</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("PaymentMethods", (IEnumerable<SelectListItem>)ViewBag.PaymentMethods, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="dueAmount" class="control-label col-md-4 ">Due Amount</label>
                                        <div class="col-md-4">
                                            <input type="text" value="@payableS" readonly="readonly" name="dueAmount" id="dueAmount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nextRecDate" class="control-label col-md-4 ">Next Receiving Date</label>
                                        <div class="col-md-4">
                                            <input type="text" value="" readonly="readonly" name="NextRecDate" id="nextRecDate" data-val-date="The field StartTime must be a date." data-val="true" class="form_datetime form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    
                                    <div class="form-group">
                                        <label for="spDiscountAmount" class="control-label col-md-4 ">Special Discount Amount</label>
                                        <div class="col-md-4">
                                            <input type="text" value="" name="spDiscountAmount" id="spDiscountAmount" class="form-control numbersOnly">
                                        </div>
                                        <div id="msgforspd" style="color: red"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RefererList" class="control-label col-md-4 ">Referrer</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("RefererList", (IEnumerable<SelectListItem>)ViewBag.RefererList, "Select Referrer", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="referrerenceNote" class="control-label col-md-4 ">Reference Note</label>
                                        <div class="col-md-4">
                                            <textarea name="referrerenceNote" id="referrerenceNote" rows="6" cols="3" class="form-control" disabled="disabled" placeholder=""></textarea>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <input type="button" id="duePaymentSubmitBtn" value="Submit" class="btn btn-primary  btn-large" disabled="disabled" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap-datetimepicker")

<script src="~/Scripts/Student/Payment/DuePayment.js"></script>
<script type="text/javascript">

    scrollToElement("#paymentContainer");
    $("#receivedAmount").focus();

    $(document).ready(function () {

        $('.numbersOnly').keydown(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        $('.form_datetime').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        });
    });

</script>








