﻿@using UdvashERP.BusinessModel.Dto
@{
    List<CollectionSummaryReportDto> collectionSummaryReportList = ViewBag.CollectionSummaryReportList;
    int i = 0;
    decimal collectionAmount = 0;
    decimal cashBack = 0;
    decimal netCollection = 0;
}
@{
    var now = String.Format("{0:F}", DateTime.Now);
}
<style>
    #dataTimePrint {
        display: none;
    }
</style>
<div class="collectionSummaryReportContent" id="collectionSummaryReportContent">
    <div id="newPrintableDis">
        <div class="text-center">
            <div style="font-size: 16px; font-weight: bold">@ViewBag.OrganizationName</div>
            <div style="font-size: 16px;">@ViewBag.ProgramName @ViewBag.SessionName</div>
            <div style="padding-top: 5px;"><strong>Date :</strong> @Convert.ToDateTime(ViewBag.DateFrom).ToString("dd MMM, yyyy") <strong>To</strong> @Convert.ToDateTime(ViewBag.DateTo).ToString("dd MMM, yyyy") </div>
        </div>

        <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Branch Name</th>
                    <th>Collection Amount</th>
                    <th>Cash Back</th>
                    <th>Net Collection</th>
                </tr>
            </thead>
            <tbody>
                @if (collectionSummaryReportList.Any())
                {
                    foreach (var collectionSummaryReport in collectionSummaryReportList)
                    {
                        i++;
                        collectionAmount += collectionSummaryReport.CollectionAmount;
                        cashBack += collectionSummaryReport.CashBack;
                        netCollection += collectionSummaryReport.NetCollection;
                        <tr>
                            <td style="text-align: center">@i</td>
                            <td>@collectionSummaryReport.BranchName</td>
                            <td style="text-align: right"> @String.Format("{0:#,##0.00}", collectionSummaryReport.CollectionAmount)</td>
                            <td style="text-align: right"> @String.Format("{0:#,##0.00}", collectionSummaryReport.CashBack) </td>
                            <td style="text-align: right"> @String.Format("{0:#,##0.00}", collectionSummaryReport.NetCollection)</td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align: center;" colspan="2"><strong>Total</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", collectionAmount)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", cashBack)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", netCollection)</strong></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="5">No Record Found</td></tr>
                }
            </tbody>
        </table>
        <div id="dataTimePrint" style="text-align: right; font-style: italic; font-size: 10px;">Date of Print: @now</div>

    </div>
</div>
