﻿@using UdvashERP.BusinessModel.Dto
@{
    List<DueSummaryReportDto> dueSummaryReportList = ViewBag.DueSummaryReportList;
    int i = 0;
    decimal openingDue = 0;
    decimal closingDue = 0;
}
@{
    var now = String.Format("{0:F}", DateTime.Now);
}
<style>
    #dataTimePrint {
        display: none;
    }
</style>
<div class="dueSummaryReportContent" id="dueSummaryReportContent">
    <div id="newPrintableDives">
        <div class="text-center">
            <div style="font-size: 16px; font-weight: bold">@ViewBag.OrganizationName</div>
            <div style="font-size: 16px;">@ViewBag.ProgramName @ViewBag.SessionName</div>
            <div style="padding-top: 5px;"><strong>Date :</strong> @Convert.ToDateTime(ViewBag.DateFrom).ToString("dd MMM, yyyy")  <strong>To</strong> @Convert.ToDateTime(ViewBag.DateTo).ToString("dd MMM, yyyy") </div>
        </div>

        <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Branch Name</th>
                    <th>Openning Due</th>
                    <th>Closing Due</th>
                </tr>
            </thead>
            <tbody>
                @if (dueSummaryReportList.Any())
                {
                    foreach (var dueSummaryReport in dueSummaryReportList)
                    {
                        i++;
                        openingDue += dueSummaryReport.OpeningDue;
                        closingDue += dueSummaryReport.ClosingDue;
                        <tr>
                            <td style="text-align: center">@i</td>
                            <td>@dueSummaryReport.BranchName</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", dueSummaryReport.OpeningDue)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", dueSummaryReport.ClosingDue)</td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align: center;" colspan="2"><strong>Total</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", openingDue)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", closingDue)</strong></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="5">No Record Found</td></tr>
                }
            </tbody>
        </table>
        <div id="dataTimePrint" style="text-align: right; font-style: italic; font-size: 10px;">Date of Print: @now</div>
    </div>
</div>
