﻿@using UdvashERP.BusinessModel.Dto
@{
    List<BranchWiseTransactionReportDto> branchWiseTransactionReportDtoList = ViewBag.BranchWiseTransactionReportList;
    List<BranchWiseTransactionReportDueDto> branchWiseTransactionReportDueDtoList = ViewBag.BranchWiseTransactionReportDueList;
    int i = 0;
    decimal receivedAmount = 0;
    decimal cashBackAmount = 0;
    decimal netReceivedAmount = 0;
    decimal notReceivedAmount = 0;
    int numofRow = 4;
    int dueNumofRow = 3;
}
@{
    var now = String.Format("{0:F}", DateTime.Now);
}
<style>
    #dataTimePrint {
        display: none;
    }
</style>
<div class="branchWiseTransactionReportContent" id="branchWiseTransactionReportContent">
    <div id="newPrintableDivs">
        <div class="text-center">
            <div style="font-size: 18px; font-weight: bold;">@ViewBag.OrganizationName</div>
            @if (ViewBag.ReportType == 1)
            {
            <div style="font-size: 16px; font-weight: bold;">Service Branch</div>
            }
            else
            {
            <div style="font-size: 16px; font-weight: bold;">Collection Branch</div>
            }
            <div style="font-size: 16px;">@ViewBag.BranchName</div>
            <div style="font-size: 16px;">Campus: @ViewBag.CampusName</div>
            <div style="padding-top: 5px;"><strong>Date :</strong> @Convert.ToDateTime(ViewBag.DateFrom).ToString("dd MMM, yyyy")  <strong>To</strong> @Convert.ToDateTime(ViewBag.DateTo).ToString("dd MMM, yyyy") </div>
        </div>

        <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>SL</th>
                    @if (ViewBag.DailySummaryType == 1)
                    {
                        numofRow++;
                        <th>Date</th>
                    }
                    <th>Branch</th>
                    <th>Campus</th>
                    @if (ViewBag.ProgramBranchWiseType == 2)
                    {
                        numofRow++;
                        <th>Program - Session</th>
                    }
                    <th>Receieved Amount</th>
                    <th>CashBack Amount</th>
                    <th>Net Received Amount</th>
                </tr>
            </thead>
            <tbody>
                @if (branchWiseTransactionReportDtoList.Any())
                {
                    foreach (var branchWiseTransactionReport in branchWiseTransactionReportDtoList)
                    {
                        i++;
                        receivedAmount += branchWiseTransactionReport.ReceivedAmount;
                        cashBackAmount += branchWiseTransactionReport.CashBackAmount;
                        netReceivedAmount += branchWiseTransactionReport.NetReceivedAmount;
                        <tr>
                            <td style="text-align: center">@i</td>
                            @if (ViewBag.DailySummaryType == 1)
                            {
                                <td>@branchWiseTransactionReport.ReceivedDate</td>
                            }
                            <td>@branchWiseTransactionReport.Branch</td>
                            <td>@branchWiseTransactionReport.Campus</td>
                            @if (ViewBag.ProgramBranchWiseType == 2)
                            {
                                <td>@branchWiseTransactionReport.ProgramSession</td>
                            }
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", branchWiseTransactionReport.ReceivedAmount)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", branchWiseTransactionReport.CashBackAmount)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", branchWiseTransactionReport.NetReceivedAmount)</td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align: right;" colspan="@(numofRow - 1)"><strong>Total</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", receivedAmount)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", cashBackAmount)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", netReceivedAmount)</strong></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="@numofRow" style="text-align: center; ">No Record Found</td></tr>
                }
            </tbody>
        </table>
        @if (branchWiseTransactionReportDueDtoList.Any())
        {
            <div>
                <div class="text-center">
                    <div style="font-size: 16px; font-weight: bold">Amount Not Receivd Yet</div>
                </div>

                <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
                    <thead>
                        <tr>
                            <th>SL</th>
                            @if (ViewBag.DailySummaryType == 1)
                            {
                                dueNumofRow++;
                                <th>Date</th>
                            }
                            <th>User Email</th>
                            @if (ViewBag.ProgramBranchWiseType == 2)
                            {
                                dueNumofRow++;
                                <th>Program - Session</th>
                            }
                            <th>Not Receieved Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (branchWiseTransactionReportDueDtoList.Any())
                        {
                            i = 0;
                            foreach (var branchWiseTransactionReportdue in branchWiseTransactionReportDueDtoList)
                            {
                                i++;
                                notReceivedAmount += branchWiseTransactionReportdue.NotReceivedAmount;
                                <tr>
                                    <td style="text-align: center">@i</td>
                                    @if (ViewBag.DailySummaryType == 1)
                                    {
                                        <td>@branchWiseTransactionReportdue.ReceivedDate</td>
                                    }
                                    <td>@branchWiseTransactionReportdue.UserEmail</td>
                                    @if (ViewBag.ProgramBranchWiseType == 2)
                                    {
                                        <td>@branchWiseTransactionReportdue.ProgramSession</td>
                                    }
                                    <td style="text-align: right">@String.Format("{0:#,##0.00}", branchWiseTransactionReportdue.NotReceivedAmount)</td>
                                </tr>
                            }
                            <tr>
                                <td style="text-align: right;" colspan="@(dueNumofRow - 1)"><strong>Total</strong></td>
                                <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", notReceivedAmount)</strong></td>
                            </tr>
                        }
                        else
                        {
                            <tr><td colspan="@dueNumofRow" style="text-align: center; ">No Record Found</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <div id="dataTimePrint" style="text-align: right; font-style: italic; font-size: 10px;">Date of Print: @now</div>
    </div>

</div>


