﻿@using UdvashERP.BusinessModel.Dto
@{
    List<TransactionSummaryReportDto> transactionSummaryReportDtoList = ViewBag.TransactionSummaryReportList;
    int i = 0;
    decimal inCome = 0;
    decimal consideration = 0;
    decimal discount = 0;
    decimal received = 0;
    decimal cashBack = 0;
    int numofRow = 8;
}
@{
    var now = String.Format("{0:F}", DateTime.Now);
}
<style>
    #dataTimePrint {
        display: none;
    }
</style>
<div class="transactionSummaryReportContent" id="transactionSummaryReportContent">
    <div id="newPrintableDiv">
        <div class="text-center">
            <div style="font-size: 15px; font-weight: bold">Transaction Summary Report</div>
            <div style="font-size: 14px; font-weight: bold">@ViewBag.OrganizationName</div>
            <div style="font-size: 14px;">@ViewBag.BranchName</div>
            <div style="font-size: 14px;">Campus: @ViewBag.CampusName</div>
            <div style="padding-top: 5px; font-size: 14px;"><strong>Date :</strong> @Convert.ToDateTime(ViewBag.DateFrom).ToString("dd MMM, yyyy")  <strong>To</strong> @Convert.ToDateTime(ViewBag.DateTo).ToString("dd MMM, yyyy") </div>
        </div>

        <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>SL</th>
                    @if (ViewBag.DailySummaryType == 1)
                    {
                        numofRow++;
                        <th>Date</th>
                    }
                    <th>Program Session</th>
                    <th>Method</th>
                    <th>Income</th>
                    <th>Consideration</th>
                    <th>Discount</th>
                    <th>Received</th>
                    <th>Cash Back</th>
                </tr>
            </thead>
            <tbody>
                @if (transactionSummaryReportDtoList.Any())
                {
                    foreach (var transactionSummaryReport in transactionSummaryReportDtoList)
                    {
                        i++;
                        inCome += transactionSummaryReport.Income;
                        consideration += transactionSummaryReport.Consideration;
                        discount += transactionSummaryReport.Discount;
                        received += transactionSummaryReport.Received;
                        cashBack += transactionSummaryReport.CashBack;
                        <tr>
                            <td style="text-align: center">@i</td>
                            @if (ViewBag.DailySummaryType == 1)
                            {
                                <td>@transactionSummaryReport.TransactionDate</td>
                            }
                            <td>@transactionSummaryReport.ProgramSession</td>
                            <td>@transactionSummaryReport.Method</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", transactionSummaryReport.Income)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", transactionSummaryReport.Consideration)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", transactionSummaryReport.Discount)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", transactionSummaryReport.Received)</td>
                            <td style="text-align: right">@String.Format("{0:#,##0.00}", transactionSummaryReport.CashBack)</td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align: right;" colspan="@(numofRow-5)"><strong>Total</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", inCome)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", consideration)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", discount)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", received)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", cashBack)</strong></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="@numofRow" style="text-align: center; ">No Record Found</td></tr>
                }
            </tbody>
        </table>
        <div id="dataTimePrint" style="text-align: right; font-style: italic; font-size: 10px;">Date of Print: @now</div>
    </div>
</div>
