﻿@using UdvashERP.BusinessModel.Dto
@{
    List<CollectionVDueReportDto> collectionVDueReportList = ViewBag.CollectionVDueReportList;
    int i = 0;
    int totalStudent = 0;
    decimal netCollection = 0;
    decimal averageCollection = 0;
    decimal dueAmount = 0;
    decimal duePercent = 0;
}
@{
    var now = String.Format("{0:F}", DateTime.Now);
}
<style>
    #dataTimePrint {
        display: none;
    }
</style>
<div class="collectionVDueReportContent" id="collectionVDueReportContent">
    <div id="newPrintableDiss">
        <div class="text-center">
            <div style="font-size: 16px; font-weight: bold">@ViewBag.OrganizationName</div>
            <div style="font-size: 16px;">@ViewBag.ProgramName @ViewBag.SessionName</div>
            <div style="padding-top: 5px;"> Date : @Convert.ToDateTime(ViewBag.DateTill).ToString("dd MMM, yyyy") </div>
        </div>

        <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Branch Name</th>
                    <th>No. of Admited Student</th>
                    <th>Net Collection</th>
                    <th>Average Net Collection</th>
                    <th>Due</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                @if (collectionVDueReportList.Any())
                {
                    foreach (var collectionVDueReport in collectionVDueReportList)
                    {
                        i++;
                        totalStudent += collectionVDueReport.TotalStudent;
                        netCollection += collectionVDueReport.NetCollection;
                        //averageCollection += collectionVDueReport.AverageCollection;
                        dueAmount += collectionVDueReport.DueAmount;
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td style="width: 200px;">@collectionVDueReport.BranchName</td>
                            <td style="text-align: center;">@collectionVDueReport.TotalStudent</td>
                            <td style="text-align: right;">@String.Format("{0:#,##0.00}", collectionVDueReport.NetCollection)</td>
                            <td style="text-align: right;">@String.Format("{0:#,##0.00}", collectionVDueReport.AverageCollection)</td>
                            <td style="text-align: right;">@String.Format("{0:#,##0.00}", collectionVDueReport.DueAmount)</td>
                            <td style="text-align: right;">@String.Format("{0:0.00}", collectionVDueReport.DuePercent)</td>
                        </tr>
                    }
                    if (netCollection > 0)
                    {
                        duePercent = (dueAmount / netCollection) * 100;
                        averageCollection = (netCollection / totalStudent);
                    }
                    <tr>
                        <td style="text-align: center;" colspan="2"><strong>Total</strong></td>
                        <td style="text-align: center;"><strong>@totalStudent</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", netCollection)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", averageCollection)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:#,##0.00}", dueAmount)</strong></td>
                        <td style="text-align: right;"><strong>@String.Format("{0:0.00}", duePercent)</strong></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="7">No Record Found</td></tr>
                }
            </tbody>
        </table>
        <div id="dataTimePrint" style="text-align: right; font-style: italic; font-size: 10px;">Date of Print: @now</div>
    </div>

</div>
