﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.PaymentDetails
@*@Styles.Render("~/Content/css/bootstrap-datetimepicker")*@
@Styles.Render("~/Content/bootstrap-datetimepicker")
<style type="text/css">
    .form-horizontal, .form-group {
        margin-right: -270px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Payment Details </div>
            <div class="panel-body">
                <div style="padding-right: 4%">
                    
                    @if (Model != null)
                    {
                        @*@ViewData["paymentMethodList"]*@
                        <div class="col-md-6" style="padding-right: 10%">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Receivable Amount</label>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.ReceivableAmount.ToString("F")" readonly="readonly" name="ReceivableAmount" id="receivableAmount" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Net Receivable</label>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.NetReceivable.ToString("F")" readonly="readonly" name="NetReceivable" id="netReceivable" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Received Amount</label>
                                    <div class="col-md-4">
                                        <input type="text" value="" name="receivedAmount" id="receivedAmount" class="form-control numbersOnly" placeholder="Received Amount">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Due Amount</label>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.DueAmount.ToString("F")" readonly="readonly" name="dueAmount" id="dueAmount" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Payment Method</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("PAYMENTMETHODLIST", (IEnumerable<SelectListItem>)ViewBag.PAYMENTMETHODLIST, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Special Discount Amount</label>
                                    <div class="col-md-4">
                                        <input type="text" value="" name="SpDiscountAmount" id="spDiscountAmount" class="form-control numbersOnly">
                                    </div>
                                    <div id="msgforspd" style="color: red"></div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Referrer</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("REFERRERLIST", (IEnumerable<SelectListItem>)ViewBag.REFERRERLIST, "Select Referrer", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Reference Note</label>
                                    <div class="col-md-4">
                                        <textarea name="ReferrerenceNote" id="referrerenceNote" rows="6" cols="3" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReceivableAmount" class="control-label col-md-4 ">Next Received Date</label>
                                    <div class="col-md-4">
                                        <input type="text" value="" readonly="readonly" name="NextRecDate" id="nextRecDate" data-val-date="The field StartTime must be a date." data-val="true" class="form_datetime form-control">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @*col-md-offset-2*@
                                <div class="col-md-6">
                                    <input type="button" id="paymentPaid" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                        @Html.Hidden("stdPId", ViewData["sPId"]);
                    }

                </div>
             
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });
    </script>
}

