﻿
@{
    ViewBag.Title = "IndividualPerformanceReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("IndividualPerformanceReportView", "IndividualPerformance", FormMethod.Get, new { name = "createExamForm", id = "createExamForm" }))
{
   
    <div class="panel panel-primary">
        <div class="panel-heading">
            Individual Performance
        </div>
        <div class="panel-body">
            <div class="control-label col-md-2">Program Roll :</div>
            <input class="form-control col-md-3" type="text" name="programRoll" id="programRoll" placeholder="Enter Program Roll" maxlength="11" value="@ViewBag.roll" />&nbsp;
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary " />
        </div>
        </div>
}
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).on('input propertychange', '#programRoll', function (e) {
            
            if (($(this).val() != "" && !$.isNumeric($(this).val())) || $(this).val() < 0) {
                $(this).val($(this).val().slice(0, -1));
            }
         });
    </script>
}