﻿@*@model IEnumerable<UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentExamSurveyReportViewModel>*@
@model IEnumerable<UdvashERP.BusinessModel.Dto.ExamEvaluationReportDto>

@{
    ViewBag.Title = "ExamEvaluaion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/styledatatable")
<section class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search" id="examEvaluationReport">
                @*<div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>*@
                <div class="form-group">
                    <input type="text" class="form-control" id="PageSize" placeholder="10">
                </div>
                <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                @*<li class="active">
                        <div class="form-group">
                            <input class="btn btn-danger" id="deleteBtn" value="Delete" style="margin-top: 8px;padding-right: 5px;" />
                        </div>
                    </li>*@
                <li class="">
                    <div class="form-group">
                        <button class="btn btn-primary" id="excelBtnExamEvaluation" value="Export" style="margin-top: 8px;margin-right: 5px;">Export</button>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</section>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"> Exam Survey Evaluation List</h4>
    </div>
    <div class="panel-body" id="MeritListReportprint">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div style="">

                    <div>
                        <p style="text-align: center">
                            <span style="text-align: center;font-size: 20px">@ErpInfo.OrganizationNameFull</span>
                            <span style="text-align: center;font-size: 20px"></span>
                        </p>

                        @{
                            if (ViewBag.ProgramSession != null)
                            {
                                <p style="text-align: center">@ViewBag.ProgramSession</p>
                            }
                        }

                        <p style="text-align: center"><span style="text-align: center;font-size: 16px">Exam Survey Evaluation</span></p>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-12">
                <table class="table table-bordered  table-responsive">
                    <tr>
                        <td style="text-align: right">Branch :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Branch != null)
                            {@ViewBag.Branch}
                        </td>
                        <td style="text-align: right">Campus :</td>
                        <td style="text-align: left">
                            @if (ViewBag.CampusName != null)
                            { @ViewBag.CampusName}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Batch Days :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchDays != null)
                            {@ViewBag.BatchDays}
                        </td>
                        <td style="text-align: right">Batch Time :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchTime != null)
                            {@ViewBag.BatchTime}
                        </td>

                    </tr>

                    <tr>
                        <td style="text-align: right">Batch Name :</td>
                        <td style="text-align: left">
                            @if (ViewBag.BatchName != null)
                            {@ViewBag.BatchName}
                        </td>
                        <td style="text-align: right">Course :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Course != null)
                            {@ViewBag.Course}
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align: right">Date :</td>
                        <td style="text-align: left">
                            @if (ViewBag.FromDate != null && ViewBag.ToDate != null)
                            {@ViewBag.FromDate <span>to</span> @ViewBag.ToDate}
                        </td>
                        <td style="text-align: right">Exam :</td>
                        <td style="text-align: left">
                            @if (ViewBag.Exam != null)
                            {@ViewBag.Exam}
                        </td>

                    </tr>

                </table>
            </div>
        </div>
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExamName)
                    </th>
                    @*@if (ViewBag.informationViewList != null)
                        {
                        foreach (string informationView in ViewBag.informationViewList)
                        {
                        <th>@informationView</th>
                        }
                        }*@
                    <th>Standard</th>
                    <th>Hard</th>
                    <th>Easy</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
<div class="hiddenField">
    @Html.Hidden("studentExamSurveyReportViewModel", ViewData["studentExamSurveyReportViewModel"])

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Student/Report/ExamEvaluation.js"></script>*@
    <script src="~/Scripts/Exam/MeritList.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#examEvaluationReport').on("keyup keypress", function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        function dataTableRender() {
            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: false,
                order: [[2, "DESC"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,6] }],
                ajax: {
                    url: 'ExamEvaluaionReport',
                    type: 'POST',
                    data: function (d) {
                        d.studentExamSurveyReportViewModelObj = $('#studentExamSurveyReportViewModel').val();
                        
                        }
                    }
                });
            }
            dataTableRender();
            $(document).on("click", "#searchBtn", function () {
                dataTableRender();
            });

            $(document).on("click", "#excelBtnExamEvaluation", function () {
                var urlParam = {
                    studentExamSurveyReportViewModelObj: $('#studentExamSurveyReportViewModel').val()
                };
                var url = "/Student/StudentExamEvaluationReport/ExcelExportExamEvaluation";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                console.log(url);
            console.log($('#studentExamSurveyReportViewModel').val());
            window.open(url);
        });

    });
</script>

}
