﻿@model UdvashERP.BusinessModel.ViewModel.Hr.DailySupportAllowanceViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "DailySupportAllowance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Daily Support Allowance </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SaveOrUpdate", "DailySupportAllowance"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.organizationList, "--Select Organization--", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Designation, (IEnumerable<SelectListItem>)ViewBag.designationList, "--Select Designation--", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @required_name = "amount", @required = "requird", @minVal = 0.00001, @number = "true", @maxlength = "15" } })
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control form_datetime1 ", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EffectiveDate)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control form_datetime2 ", @readonly = "readonly" } })
                            @*@Html.ValidationMessageFor(model => model.ClosingDate)*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).on("change", "#EffectiveDate", function (event) {
            var val = $("#EffectiveDate").val();
            console.log(val);
            if (val.length > 0) {
                console.log(val + "--entry");
                $("#EffectiveDate").next("span").remove();
                //window.showErrorMessageBelowCtrl("EffectiveFrom", "", false);
            }
        });

        $('.form_datetime1').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        }).on('changeDate', function (ev) {
            if ($(this).val().length <= 0) {
                window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                window.showErrorMessageBelowCtrl("EffectiveDate", "Please Enter Effective Date", true);
            } else {
                window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                //dateDifference();
            }
        });

        $('.form_datetime2').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        });
       
        $(document).on('change', '#Organization', function () {

            try {
                // Get organization
                $("#Designation").html("<option value='' selected='selected'>Please Select Designation</option>");

                var orgId = $("#Organization").val();
                var url = $("body").attr("data-project-root") + "Hr/CommonAjaxHr/LoadDesignation";
                var reqType = "Post";
                var data = { organizationIds: orgId };
                if (orgId.length > 0) {
                    $.ajax({
                        type: reqType,
                        url: url,
                        data: data,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.each(response.returnResult, function (i, v) {
                                $('#Designation').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.fn.customMessage({
                                displayMessage: window.AJAX_ERROR,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                }
            } catch (e) {
                console.log(e);
            }
        });

        function dateDifference() {
            var fromDate = $('#EffectiveDate').val();
            var toDate = $('#ClosingDate').val();
            if (fromDate.length > 0 && toDate.length > 0) {
                var fromDateFormated = new Date(fromDate);
                var toDateFormated = new Date(toDate);
                if (fromDateFormated > toDateFormated) {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "Effective Date is greater then To Date.", true);

                } else {
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveDate", "", false);
                }
            }
        }

        //function DateDiff(start, end) {

        //    var df = Math.floor(start / (3600 * 24 * 1000)); //days as integer from..
        //    var dt = Math.floor(end / (3600 * 24 * 1000)); //days as integer from..
        //    var daysDiff = (dt - df) + 1; // exact dates
        //    return daysDiff;
        //}

    </script>
}