﻿@model UdvashERP.BusinessModel.Entity.Hr.DailySupportAllowance
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "DailySupportAllowance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Daily Support Allowance </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.organizationList, "--Select Organization--", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Designation, (IEnumerable<SelectListItem>)ViewBag.designationList, "--Select Designation--", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Amount)
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control form_datetime1 ", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EffectiveDate)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control form_datetime1 ", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ClosingDate)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    
}