﻿@model UdvashERP.BusinessModel.ViewModel.Hr.DailySupportAllowanceViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"> Daily Support Allowance</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Organization)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Orgname)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ClosingDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClosingDate)
                    </dd>
                    <dt>
                        <label> Create By</label>
                    </dt>

                    <dd>
                        @ViewBag.CreateByStr
                    </dd>

                    <dt>
                        <label>Create Date</label>
                    </dt>

                    <dd>
                        @ViewBag.CreationDateStr
                    </dd>
                    <dt>
                        <label>Modified By</label>
                    </dt>

                    <dd>
                        @ViewBag.ModifiedByStr
                    </dd>
                    <dt>
                        <label>Modified Date</label>
                    </dt>

                    <dd>
                       @ViewBag.ModifiedDateStr
                    </dd>



                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        <label> Designation</label>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DesignationName)
                    </dd>
                    <dt> <label> Effective From</label></dt>
                    <dd>@ViewBag.EffectiveDateStr</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
