﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.ViewModel.StudentModuleView
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.CancellingCourseHistory

<div class="panel panel-default" style="margin-top: 25px;">
    <div class="panel-heading"> History of Cancelling Course(s)</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                Course Name :
            </dt>

            <dd>
                @Model.CourseName
            </dd>
            <dt>
                Material Name :
            </dt>

            <dd>
                @{
                    var materialName = "";
                    foreach (Material material in Model.TakenMaterialName)
                    {
                        materialName += material.Name + ", ";
                    }
                    if (materialName.Length > 0)
                    {
                        materialName = materialName.Remove(materialName.Length - 2);
                    }
                    else
                    {
                        materialName = "";
                    }
                }
                @Html.DisplayName(materialName)
            </dd>

        </dl>

        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <th>
                    Sl
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Class Attend
                </th>
                <th>
                    Exam Attend
                </th>

            </tr>

            @{
                int ii = 0;
                foreach (SubjectList subObj in Model.SubjectList)
                {
                    ii++;
                    <tr>
                        <td>@ii</td>
                        <td>@subObj.SubjectName</td>
                        <td>@subObj.ClassAttendance</td>
                        <td>@subObj.ExamAttendance</td>
                    </tr>

                }
            }


        </table>
    </div>
</div>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CancellingCourseHistory</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
