﻿@using UdvashERP.BusinessModel.Entity
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.MoneyReceipt

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4">M.R.N. : @Html.DisplayFor(model => model.MrNo)</div>
            <div class="col-md-4 text-center"> @Html.DisplayFor(model => model.Program) @Html.DisplayFor(model => model.Session)</div>
            <div class="col-md-4 text-right"> Reg. no. :@Html.DisplayFor(model => model.RegNo)</div>
            <div class="col-md-12 text-center"> <u>Money Receipt</u></div>
        </div>

        <div class="row">

            <div class="col-md-6">
                
                <p>Date Of Submission : @Html.DisplayFor(model => model.DateOFSubmission)</p>
                <p>Program Roll : @Html.DisplayFor(model => model.PrRollNo)</p>
                <p>Student Name : @Html.DisplayFor(model => model.StudentName)</p>
                <p>Branch : @Html.DisplayFor(model => model.Branch)</p>
                <p>Batch Days : @Html.DisplayFor(model => model.BatchDays)</p>
                <p>Batch Name : @Html.DisplayFor(model => model.BatchName)</p>
                <p>Batch Time : @Html.DisplayFor(model => model.BatchTime)</p>

            </div>

            <div class="col-md-6">
                @{
                    var query = Model.CourseDetails.GroupBy(x => x.CourseSubject.Course,
                        (key, g) => new { Course = key, Subjects = g.ToList() });

                    var courseList = query.ToList();
                    foreach (var courseAndCorrespondingSubjectList in courseList)
                    {
                        var courseName = courseAndCorrespondingSubjectList.Course.Name;
                        var courseSubjectList = courseAndCorrespondingSubjectList.Subjects;
                        <div>
                            @courseName :
                            @{
                                foreach (var courseSubject in courseSubjectList)
                                {
                                    var subName = courseSubject.CourseSubject.Subject.Name;
                                    <span>@subName,</span>
                                }
                            }
                        </div>
                    }
                }
                <p>Payable Amount : @Html.DisplayFor(model => model.PayableAmount)</p>
                <p>Paid Amount : @Html.DisplayFor(model => model.PaidAmount)</p>
                <p>Due Amount : @Html.DisplayFor(model => model.DueAmount)</p>
                <p>Next Payment Date : @Html.DisplayFor(model => model.NextPaymentDate)</p>
                </div>
        </div>
    </div>
</div>
<div class="btn btn-primary" id="print"> Print</div>

