﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.PaymentDetails
@*@Styles.Render("~/Content/css/bootstrap-datetimepicker")*@
<style type="text/css">
    .form-horizontal, .form-group {
        margin-right: -270px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4> Payment Details </h4></div>
            <div class="panel-body">

                @if (Model != null)
                {
                    @*@ViewData["paymentMethodList"]*@
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Receivable Amount</label>
                                <div class="col-md-10">
                                    <input type="text" value="@Model.ReceivableAmount.ToString("F")" readonly="readonly" name="ReceivableAmount" id="receivableAmount" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Net Receivable</label>
                                <div class="col-md-10">
                                    <input type="text" value="@Model.NetReceivable.ToString("F")" readonly="readonly" name="NetReceivable" id="netReceivable" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Received Amount</label>
                                <div class="col-md-10">
                                    <input type="text" value="" name="receivedAmount" id="receivedAmount" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">DueAmount</label>
                                <div class="col-md-10">
                                    <input type="text" value="@Model.DueAmount.ToString("F")" readonly="readonly" name="dueAmount" id="dueAmount" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Payment Method</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("PAYMENTMETHODLIST", (IEnumerable<SelectListItem>)ViewBag.PAYMENTMETHODLIST, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">SpDiscount Amount</label>
                                <div class="col-md-10">
                                    <input type="text" value="" name="SpDiscountAmount" id="spDiscountAmount" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Referrer</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("REFERRERLIST", (IEnumerable<SelectListItem>)ViewBag.REFERRERLIST, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Referrerence Note</label>
                                <div class="col-md-10">
                                    <textarea name="ReferrerenceNote" id="referrerenceNote" rows="6" cols="3" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ReceivableAmount" class="control-label col-md-2 ">Next RecDate</label>
                                <div class="col-md-10">
                                    <input type="text" value="" readonly="readonly" name="NextRecDate" id="nextRecDate" data-val-date="The field StartTime must be a date." data-val="true" class="form_datetime form-control">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <input type="button" value="Submit" id="paymentPaid" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                    @Html.Hidden("stdPId", ViewData["sPId"]);
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
</script>


