﻿@using UdvashERP.BusinessRules
@using UdvashERP.BusinessRules.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.ChildrenAllowanceSettingDetailsVm
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "C/E Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Children Allowance Setting</div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Organization: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OrganizationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.Label("Settings Name: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AllowanceName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Employment Status </label>
                    @foreach (MemberEmploymentStatus eStatus in ViewBag.EmploymentStatusList)
                    {
                        if (Model.EmloymentStatus.Contains(eStatus))
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" type="checkbox" disabled checked="checked" value="0"> @eStatus
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" disabled type="checkbox" value="0"> @eStatus
                            </label>
                        }
                    }

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Max No of Children :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NoOfChild, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.Label("Amount :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Starting Age :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.StartingAge, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.Label("Closing Age :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ClosingAge, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Payment Type :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @if (Model.PaymentType == Convert.ToInt16(PaymentType.Daily).ToString())
                    {
                        <input class="form-control" type="text" value="Daily" readonly="readonly" />
                    }
                    else if (Model.PaymentType == Convert.ToInt16(PaymentType.Monthly).ToString())
                    {  <input class="form-control" type="text" value="Monthly" readonly="readonly" />}
                    else if (Model.PaymentType == Convert.ToInt16(PaymentType.Once).ToString())
                    {  <input class="form-control" type="text" value="Once" readonly="readonly" />}
                    else if (Model.PaymentType == Convert.ToInt16(PaymentType.Yearly).ToString())
                    { <input class="form-control" type="text" value="Yearly" readonly="readonly" /> }
                    else
                    {
                        <input class="form-control" type="text" value="N/A" readonly="readonly" />
                    }

                    @*@Html.EditorFor(model => model.PaymentType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                </div>
                @Html.Label("Effective From :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.EffectiveFrom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Closing Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Create By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CreateBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Creation Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ModificationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "ManageChildrenEducationAllowance", "ChildrenEducation")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}









