﻿@model UdvashERP.BusinessModel.ViewModel.Hr.ChildrenEduViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Edit Children Allowance </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "ChildrenEducation", FormMethod.Post, new { @id = "ceform" }))
        {
            @Html.AntiForgeryToken()

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OrganizationId)

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, new { @class = "form-control", @disabled = "disabled", @required = "required" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.AllowanceName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.AllowanceName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.AllowanceName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Employment Status </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chk-employee-status" value="option1"> All
                        </label>
                        @foreach (KeyValuePair<int, string> status in ViewBag.employmentStatus)
                        {
                            var isAlreadyAdd = false;
                            int count = 0;
                            foreach (var memberEmploymentStatuse in Model.EmloymentStatus)
                            {
                                count++;
                                if (status.Key == (int)memberEmploymentStatuse)
                                {
                                    isAlreadyAdd = true;
                                    <label class="checkbox-inline">
                                        <input class="chk-member-status EmloymentStatus" name="EmloymentStatus" type="checkbox" checked="checked" value="@status.Key"> @status.Value
                                    </label>
                                }
                            }
                            if (count == Model.EmloymentStatus.Count && !isAlreadyAdd)
                            {
                                <label class="checkbox-inline">
                                    <input class="chk-member-status EmloymentStatus" name="EmloymentStatus" type="checkbox" value="@status.Key"> @status.Value
                                </label>
                            }

                        }
                        @Html.ValidationMessageFor(model => model.EmloymentStatus, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-6 col-md-offset-2" id="Err-empType" style="color: red;display: none"> Please Select Employeement Type</label>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.NoOfChild, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NoOfChild, new { htmlAttributes = new { @class = "form-control  ", @required_name = "noOfChild", @required = "required", @minVal = 1, @number = "true", @maxlength = "2" } })
                            @Html.ValidationMessageFor(model => model.NoOfChild)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @required_name = "amount", @required = "required", @minVal = 1, @number = "true", @maxlength = "15" } })
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.StartingAge, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.StartingAge, new { htmlAttributes = new { @class = "form-control  ", @required_name = "startingAge", @required = "required", @minVal = 1, @number = "true", @maxlength = "15" } })
                            @Html.ValidationMessageFor(model => model.StartingAge)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ClosingAge, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ClosingAge, new { htmlAttributes = new { @class = "form-control  ", @required_name = "closingAge", @required = "required", @minVal = 1, @number = "true", @maxlength = "15" } })
                            @Html.ValidationMessageFor(model => model.ClosingAge)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PaymentType, (IEnumerable<SelectListItem>)ViewBag.paymentTypeList, "--Select Payment--", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.PaymentType)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.EffectiveFrom, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @*@Html.EditorFor(model => model.EffectiveFrom, "{0:MM yyyy} ", new { htmlAttributes = new { @class = "form-control form_datetime1", @placeholder = "Effective Date", @readonly = "readonly", @Value = "" } })*@
                            @Html.TextBoxFor(model => model.EffectiveFrom, "{0:yyyy-MM-dd}", new { @class = "form-control form_datetime1", @readonly = "readonly" })
                            @*@Html.EditorFor(model => model.EffectiveFrom, new { htmlAttributes = new { @class = "form-control form_datetime1 ", @readonly = "readonly" } })*@
                            @Html.ValidationMessageFor(model => model.EffectiveFrom)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label col-md-4"> Closing Month</label>
                        @*@Html.LabelFor(model => model.ClosingDate, new { @class = "control-label col-md-4" })*@
                        <div class="col-md-8">
                            @*@Html.EditorFor(model => model.ClosingDate, "{0:MM yyyy} ", new { htmlAttributes = new { @class = "form-control form_datetime2", @placeholder = "Closing Date", @readonly = "readonly", @Value = "" } })*@
                            @Html.TextBoxFor(model => model.ClosingDate, "{0:yyyy-MM-dd}", new { @class = "form-control form_datetime2", @readonly = "readonly" })
                            @*@Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control form_datetime2 ", @readonly = "readonly" } })*@
                            @*@Html.ValidationMessageFor(model => model.ClosingDate)*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submitBtn" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Hr/PayrollSetting/CEducation.js"></script>
    <script>

        $(document).ready(function () {

            $('#ceform').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    OnBegin(e);
                }
            });
            $("#submitBtn").on("click", function (e) {
                OnBegin(e);
            });
        });
        function OnBegin(e) {
            /*check atleast one checkbox checked*/
            console.log("on begin callled");
            if ($("#ceform").valid()) {
                var count = 0;
                $(".chk-member-status").each(function (i) {
                    if ($(this).is(':checked')) {
                        ++count;
                    }
                });
                console.log(count);
                if (count <= 0) {
                    showErrorMessageBelowCtrl("Err-empType", "", false);
                    showErrorMessageBelowCtrl("Err-empType", "Please Select atleast one Employee Type", true);
                    $('#ceform').submit(function () {
                        return false;
                    });
                } else {
                    console.log("submit form ");
                    showErrorMessageBelowCtrl("Err-empType", "", false);
                    $('#ceform')[0].submit();
                }

            } else {
                // return false;
            }

        }

        $('.form_datetime1').datetimepicker({
            format: "MM yyyy",
            autoclose: true,
            startView: "year",
            minView: "year",
            maxView: 4
            //format: "yyyy-mm-dd",
            // autoclose: true,
            // todayBtn: false,
            // showMeridian: true,
            // initialDate: new Date(),
            // startView: 2,
            // minView: 2,
            // maxView: 4
        })
            .on('changeDate', function (ev) {
                if ($(this).val().length <= 0) {
                    window.showErrorMessageBelowCtrl("EffectiveFrom", "", false);
                    window.showErrorMessageBelowCtrl("EffectiveFrom", "Please Enter Effective Date", true);
                } else {
                    window.showErrorMessageBelowCtrl("EffectiveFrom", "", false);

                }
            });

        $('.form_datetime2').datetimepicker({
            format: "MM yyyy",
            autoclose: true,
            startView: "year",
            minView: "year",
            maxView: 4
            //format: "yyyy-mm-dd",
            //autoclose: true,
            //todayBtn: false,
            //showMeridian: true,
            //initialDate: new Date(),
            //startView: 2,
            //minView: 2,
            //maxView: 4
        });
        //.on('changeDate', function (ev) {
        //if ($(this).val().length <= 0) {
        //    window.showErrorMessageBelowCtrl("EffectiveFrom", "", false);
        //    window.showErrorMessageBelowCtrl("EffectiveFrom", "Please Enter Effective Date", true);
        //} else {
        //    window.showErrorMessageBelowCtrl("EffectiveFrom", "", false);
        //};

    </script>
}

