﻿@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Sms Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add SMS Settings", "SmsSettings", null, new { @class = "btn btn-primary" })
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        Manage SMS Template
    </div>
    <div class="panel-body">
        <div class="administrationBodyContent">
            <table>
                <tr class="filteringRow form-group">
                    <th class="form-group">
                        @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "--Organization--", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Program--", new { @class = "form-control" })
                    </th>
                    
                    <th class="form-group">
                        @Html.DropDownList("SmsType", (IEnumerable<SelectListItem>)ViewBag.SmsTypeList, "--SMS Type--", new { @class = "form-control" })
                    </th>
                    <th class="form-group ">
                        @if (ViewBag.STATUSTEXT != null)
                        {
                            <select id="status" class="form-control filteringColumn2">
                                <option value="">Select Status </option>
                                @if (ViewBag.STATUSTEXT != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                    {

                                        <option value="@statusType.Value">@statusType.Key</option>
                                    }
                                }
                            </select>
                        }
                    </th>
                    
                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                    </th>


                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Organization
                        </th>
                        <th>
                            Program
                        </th>
                        
                        <th>
                            SMS Type
                        </th>
                        <th>
                            Receiver
                        </th>
                        <th>
                            Mask
                        </th>
                        <th>
                            Staus
                        </th>
                        @*<th>
                            Message
                        </th>*@


                        <th>Action </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/ManageSmsSetting")
}
