﻿
@{
    ViewBag.Title = "SendScheduleSms";
    @*string[] states = new string[5]
         {
            "Alabama","California","Florida",
            "Louisiana","Texas"
         };

    string[] capitals = new string[5]
         {
            "Montgomery","Sacramento","Tallahassee",
            "Baton Rouge","Austin"
         };

    
    var vowels = new HashSet<char> { 'a', 'e', 'i', 'o', 'u' };
    string temp;
    for (int pass = 0; pass <= states.Length; pass++)
    {
        for (int i = 0; i < states.Length - 1; i++)
        {
            if (states[i].ToLower().Count(vowels.Contains) > states[i + 1].ToLower().Count(vowels.Contains))
            {
                temp = states[i + 1];
                states[i + 1] = states[i];
                states[i] = temp;

                temp = capitals[i + 1];
                capitals[i + 1] = capitals[i];
                capitals[i] = temp;                                
            }
        }
    }
    

    <ul>
        @for (int i = 0; i < states.Length; i++)
        {
            
            <li>@capitals[i] is the capital of @states[i]</li>
        }
    </ul>*@
}


