﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "SMS History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Sms History</h4>
    </div>

    <div class="panel-body">

        @using (Html.BeginForm("SmsHistory", "Sms", FormMethod.Post, new { @Id = "SmsHistory" }))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.Label("Date From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control date-from" name="dateFrom" id="dateFrom" readonly="readonly" value="@DateTime.Today.ToString("yyyy-MM-dd HH:mm")" />
                    </div>
                    @Html.Label("Date To", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control date-to" name="dateTo" id="dateTo" readonly="readonly" value="@DateTime.Today.ToString("yyyy-MM-dd 23:59")" />
                    </div>
                </div> 
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("programId", (SelectList)ViewBag.ProgramList, "All Program", new { @class = "form-control", @id = "programId" })
                        @Html.ValidationMessage("programId")
                    </div>
                    @Html.Label("SMS Type", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("SmsTypeId", (SelectList)ViewBag.SmsTypeList, "All SMS Type", new { @class = "form-control", @id = "SmsTypeId" })
                        @Html.ValidationMessage("SmsTypeId")
                        @*@Html.DropDownListFor(x => x.SmsType.Id, (IEnumerable<SelectListItem>)ViewBag.SmsTypeList, "--Select SMS Type--", new { @class = "form-control", @businessid = "1" })
                        @Html.ValidationMessageFor(model => model.SmsType, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mobile Number", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MobileNumber" id="MobileNumber" />
                    </div>
                    @Html.Label("SMS", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="SmsContent" id="SmsContent" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" id="Status" name="Status">
                            <option value="0">All</option>
                            <option value="1">Sent</option>
                            <option value="2">Pending</option>
                        </select>
                    </div>
                    @Html.Label("No Of Data", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input id="pageSize" name="pageSize" type="text" class="form-control" placeholder="No of Data" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Created By User Email", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="userEmail" id="userEmail" />
                    </div>
                </div> 
                <div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="button" value="search" class="btn btn-primary" id="search" />&nbsp;&nbsp;<input type="button" value="Export" class="btn btn-info" id="export" /></div></div>
            </div>
        }
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>Sl.</th>
                    <th>Creation Date</th>
                    <th>Send Date</th>
                    <th>Status</th>
                    <th>Number</th>
                    <th>Program</th>
                    <th>SMS Type</th>
                    <th>Mask Name</th>
                    <th>SMS</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@


    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
<script type="text/javascript">
    //$(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd' });
    $(document).ready(function () {
        var today = new Date();
        //var initialFromDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString()+" 00:00:00";
        //var initialToDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString()+" 24:00:00";

        $('.date-from').datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            //initialDate: initialFromDate,
            startView: 2,
            //minView: 2,
            //maxView: 4
        });

        $('.date-to').datetimepicker({
            //format: "yyyy-mm-dd",
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            //initialDate: initialToDate,
            startView: 2,
            //minView: 2,
            //maxView: 4
        });

    });
</script>

    <script type="text/javascript">
    $(document).ready(function () {

        @**----function for render data table----*@
        function dataTableRender() {
            var displayNo = 10;
            if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
                displayNo = parseInt($('#pageSize').val());
            }
            else {
                $('#pageSize').val(displayNo);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                //"scrollX": false,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                //stateSave: true,
                order: [[2, "desc"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 3, 4, 5, 6, 8, 9] }],
                "sScrollX": "100%", //<-- here
                "aoColumns": [
                     { "sWidth": "2%" }, //sl
                     { "sWidth": "12%" }, //created
                     { "sWidth": "12%" }, //send
                     { "sWidth": "8%" }, //status
                     { "sWidth": "8%" }, //number
                     { "sWidth": "10%" }, //program
                     { "sWidth": "10%" }, //sms type
                     { "sWidth": "10%" }, // Mask
                     { "sWidth": "28%" }, //sms
                     { "sWidth": "10%" } // created by
                ],
                ajax: {
                    url: '@Url.Action("LoadSmsHistory", "Sms")',
                    type: 'POST',
                    data: function (dt) {
                        dt.dateFrom = $('#dateFrom').val();
                        dt.dateTo = $('#dateTo').val();
                        dt.programId = $('#programId').val();
                        dt.smsType = $('#SmsTypeId').val();
                        dt.mobileNumber = $('#MobileNumber').val();
                        dt.status = $('#Status').val();
                        dt.sms = $('#SmsContent').val();
                        dt.userEmail = $('#userEmail').val();
                    },

                    error: function (response) {
                        ShowErrorMessage("Data load error. Please try again.");
                    }
                }
            });
        }

        dataTableRender();
        $(document).on("click", "#search", function () {
            dataTableRender();
        });
        
    });
        $(document).on("click", "#export", function() {
            var urlParam = {
                dateFrom: $('#dateFrom').val(),
                dateTo: $('#dateTo').val(),
                programId: $('#programId').val(),
                smsType: $('#SmsTypeId').val(),
                mobileNumber: $('#MobileNumber').val(),
                status: $('#Status').val(),
                sms: $('#SmsContent').val(),
                userEmail: $('#userEmail').val()
            };

            var url = "@Url.Action("ExportSmsHistory", "Sms", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            //console.log(url);
            window.open(url);
        });



    </script>
}
