﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.Entity.Sms.SmsSettings
@{
    ViewBag.Title = "SMS Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">SMS Settings</h4>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("SmsSettings", "Sms", FormMethod.Post, new { @id = "smsForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Organization.Id, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "--Select Organization--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @*@Html.DropDownListFor(m => m.Program, (SelectList) ViewBag.Program, "Select Program", new {@class = "form-control"})*@
                        @Html.DropDownListFor(x => x.Program.Id, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select Program--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                    </div>

                    @*@Html.Label("Session", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.Session.Id, (IEnumerable<SelectListItem>)ViewBag.SessionList, "--Select Session--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Session, "", new {@class = "text-danger"})
                        </div>*@
                </div>
                <div class="form-group">
                    @Html.Label("SMS Type", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SmsType.Id, (IEnumerable<SelectListItem>)ViewBag.SmsTypeList, "--Select SMS Type--", new { @class = "form-control", @businessid = "1" })
                        @Html.ValidationMessageFor(model => model.SmsType, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Mask", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("MaskName", (IEnumerable<SelectListItem>)ViewBag.SmsMaskName, "Select Mask Name", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaskName, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="col-md-4">
                            @Html.EditorFor(model => model.MaskName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mask Name" } })
                            @Html.ValidationMessageFor(model => model.MaskName, "", new { @class = "text-danger" })
                        </div>*@
                </div>
                <div class="form-group">
                    @Html.Label("SMS Time", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="col-sm-6 no-padding">
                            <select class="form-control" data-val="true" data-val-number="The field Id must be a number." id="SmsTime_Hour" name="SmsTime_Hour" disabled>
                                <option value="">Hour</option>
                                @for (int i = 0; i < 24; i++)
                                {
                                    if (i < 10)
                                    {
                                        <option value="@i">@("0" + i)</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-6 no-padding">
                            <select class="form-control" data-val="true" data-val-number="The field Id must be a number." id="SmsTime_Time" name="SmsTime_Time" disabled>
                                <option value="">Minute</option>
                                @for (int i = 0; i < 60; i += 5)
                                {
                                    if (i < 10)
                                    {
                                        <option value="@i">@("0" + i)</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        @Html.ValidationMessageFor(model => model.SmsTime, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Day Before", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" data-val="true" data-val-number="The field Id must be a number." id="DayBefore" name="DayBefore" disabled>
                            <option value="">Select Day</option>
                            @for (int i = 0; i < 11; i++)
                            {
                                if (i < 10)
                                {
                                    <option value="@i">@("0" + i)</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.DayBefore, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Is Repeat", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @*<input type="checkbox" class="checkbox" id="IsRepeat" name="IsRepeat" style="margin-top:7px;" />*@
                        @Html.CheckBoxFor(model => model.IsRepeat, new { @class = "checkbox", @style = "margin-top:7px; ", @disabled = "disabled" })
                    </div>
                    @Html.Label("Repeat Duration", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" data-val="true" data-val-number="The field Id must be a number." id="RepeatDuration" name="RepeatDuration" disabled>
                            <option value="">Select Day</option>
                            @for (int i = 1; i < 10; i++)
                            {
                                if (i < 10)
                                {
                                    <option value="@i">@("0" + i)</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.RepeatDuration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6"></div>
                    @Html.Label("Day After", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <select class="form-control" data-val="true" data-val-number="The field Id must be a number." id="DayAfter" name="DayAfter" disabled>
                            <option value="">Select Day</option>
                            @for (int i = 0; i < 365; i++)
                            {
                                if (i < 10)
                                {
                                    <option value="@i">@("0" + i)</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.DayAfter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Receiver", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("SmsReceivers", (IEnumerable<SelectListItem>)ViewBag.SmsReceiverList, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.SmsType, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Data Options", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("DynamicOptions", (IEnumerable<SelectListItem>)ViewBag.DynamicOptionsList, new { @class = "form-control", @size = "5" })
                        @Html.ValidationMessageFor(model => model.MaskName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Message", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Template, new { @class = "form-control", @rows = "8", @cols = "40", @style = "width: 100%; max-width:100%;" })
                        @Html.ValidationMessageFor(model => model.Template, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <input type="hidden" name="hidefield" id="hideField" value="@ViewBag.SuccessMessage" />
                        }

                        <input type="button" value="Add" class="btn btn-primary" id="submitForm" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/SmsSetting")
}
