﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Exam.ExamMcqQuestionSet>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Mange Set Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Set Generate", "SetGenerate", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Clear Set Generate", "ClearSetGenerate", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("ReGenerate", "UniqueSetWiseReGenerate", null, new { @class = "btn btn-primary" })
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Mange Set Generate</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">

            <table>
                <tr class="filteringRow form-group">
                    <th class="form-group">
                        @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.Program, "Select Program", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Session", (IEnumerable<SelectListItem>)ViewBag.Session, "Select Session", new { @class = "form-control" })

                    </th>
                    <th class="form-group">
                        @Html.DropDownList("Course", (IEnumerable<SelectListItem>)ViewBag.Course, "Select Course", new { @class = "form-control" })
                    </th>

                    <th class="form-group">
                        <input id="Exam" name="Exam" type="text" class="form-control" placeholder="Exam" />
                    </th>
                    <th class="form-group">
                        <input id="UniqueSet" name="UniqueSet" type="text" class="form-control" placeholder="Unique Set" />
                    </th>

                    <th class="form-group">
                        <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                    </th>
                    <th class="form-group">
                        <button type="button" id="search" value="search" class="form-control btn-primary">Search</button>
                    </th>
                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>
                            Program
                        </th>
                        <th>
                            Session
                        </th>
                        <th>
                            Exam
                        </th>
                        <th>
                            Unique Set
                        </th>
                        <th>
                            Set No.
                        </th>
                        <th>Generate By </th>
                        <th>Generate Date </th>
                        <th>Preview </th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript" class="init">

        $(document).ready(function() {

            $(document).on("change", "#Organization", function() {
                //remove all dependant dropdownlist option
                $('#Program').empty();
                $('#Program').append("<option value=''>--Program--</option>");

                $('#Session').empty();
                $('#Session').append("<option value=''>--Session--</option>");

                $('#Course').empty();
                $('#Course').append("<option value=''>--Course--</option>");

                var organizationId = $(this).val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                $.each(response.returnProgramList, function(i, v) {
                                    $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(data) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("change", "#Program", function() {
                //remove all dependant dropdownlist option
                $('#Session').empty();
                $('#Session').append("<option value=''>--Session--</option>");

                $('#Course').empty();
                $('#Course').append("<option value=''>--Course--</option>");
                var organizationIds = $('#Organization').val();
                var programId = $('#Program').val();

                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    data: { organizationIds: organizationIds, programIds: programId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response, status, xhr) {
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function(i, v) {
                                $('#Session').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response, status, xhr) {
                        $.unblockUI();
                    }
                });
            });

            $(document).on("change", "#Session", function() {
                //remove all dependant dropdownlist option

                $('#Course').empty();
                $('#Course').append("<option value=''>--Course--</option>");
                var organizationIds = $('#Organization').val();
                var programId = $('#Program').val();
                var sessionId = $('#Session').val();
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                    data: { organizationIds: organizationIds, programIds: programId, sessionIds: sessionId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response, status, xhr) {
                        if (response.IsSuccess) {
                            $.each(response.returnCourse, function(i, v) {
                                $('#Course').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(response, status, xhr) {
                        $.unblockUI();
                    }
                });
            });

            function dataTableRender() {
                var PageSize = 10;
                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    PageSize = parseInt($('#PageSize').val());
                } else {
                    $('#PageSize').val(PageSize);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "bLengthChange": false,
                    "iDisplayLength": PageSize,
                    //stateSave: true,
                    order: [[5, "asc"]],
                    "scrollCollapse": true,
                    "scrollY": "60vh",
                    // "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,7,8,9] }],
                    ajax: {
                        url: 'MangeSetGenerate',
                        type: 'POST',
                        data: function(d) {
                            d.organization = $('#Organization').val();
                            d.program = $('#Program').val();
                            d.session = $('#Session').val();
                            d.course = $('#Course').val();
                            d.uniqueSet = $('#UniqueSet').val();
                            d.examString = $('#Exam').val();
                        }
                    }
                });
            }

            dataTableRender();
            $(document).on("click", "#search", function() {
                dataTableRender();
            });

            $(document).on("click", ".RegenerateMcqQuestionSet", function () {
                
                var examId = $(this).attr("examid");
                var uniqueSet = $(this).attr("uniqueset");
                var setId = $(this).attr("setid");
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Exam/ExamMcqQuestionSet/RegenerateMcqQuestionSet",
                    data: { examId: examId, uniqueSet: uniqueSet, questionSetId: setId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response, status, xhr) {
                        if (response.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: response.returnResult,
                                displayMessageType: "s",
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.returnList,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                    }
                });

            });

        });
    </script>
}