﻿@model UdvashERP.BusinessModel.ViewModel.ExamModuleView.ExamMcqQuestionSetViewModel

@{
    ViewBag.Title = "Set Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            Set Generate
        </div>
    <div class="panel-body">
        
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("Organization", (SelectList)ViewBag.Organization, "Select Organization", new { @class = "form-control customData", @id = "Organization" })
                    @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Program, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("Program", Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control", @id = "Program" })
                    @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("Session", Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @id = "Session" })
                    @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Course, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("Course", Enumerable.Empty<SelectListItem>(), "Select Course", new { @class = "form-control", @id = "Course" })
                    @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.ExamCode, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">

                    @Html.HiddenFor(model => model.ExamId)
                    @Html.EditorFor(model => model.ExamCode, new { htmlAttributes = new { @class = "form-control autoComplete", @placeholder = "Exam Code", @autocomplete = "off", @maxlength = "3", @size = "3" } })
                    @Html.ValidationMessageFor(model => model.ExamCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ExamName, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                    @Html.ValidationMessageFor(model => model.ExamName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.UniqueSet, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.UniqueSet, Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @required = "required", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.UniqueSet, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.NumberOfSet, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NumberOfSet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfSet, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Generate" class="btn btn-primary" id="setGenerate" />
            </div>
        </div>
    </div>
        </div>
}

<div>
    @Html.ActionLink("Back to manage page", "MangeSetGenerate")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-multiselect")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript">

        window.validateDropDownField("Organization", "The Organization field is required.");
        window.validateDropDownField("Program", "The Program field is required.");
        window.validateDropDownField("Session", "The Session field is required.");
        window.validateDropDownField("Course", "The Course field is required.");
        window.validateTextField("ExamCode", "The Exam Code field is required.");
        window.validateDropDownField("UniqueSet", "The UniqueSet field is required.");
        window.validateDropDownField("NumberOfSet", "The UniqueSet field is required.");
        
        $(document).ready(function() {

            $("#setGenerate").click(function() {

                var check = true;
                var organizationId = $("#Organization").val();
                var programId = $("#Program").val();
                var sessionId = $("#Session").val();
                var course = $("#Course").val();
                var examCode = $("#ExamCode").val();
                var examId = $("#ExamId").val();
                var uniqueSet = $("#UniqueSet").val();
                var numberOfSet = $("#NumberOfSet").val();

                var mdl = {};
                mdl["Organization"] = organizationId;
                mdl["Program"] = programId;
                mdl["Session"] = sessionId;
                mdl["Course"] = course;
                mdl["ExamId"] = examId;
                mdl["ExamCode"] = examCode;
                mdl["ExamName"] = $("#ExamName").val();
                mdl["UniqueSet"] = uniqueSet;
                mdl["NumberOfSet"] = numberOfSet;

                if (organizationId == "" || organizationId == null) {
                    showErrorMessageBelowCtrl("Organization", "", false);
                    showErrorMessageBelowCtrl("Organization", "The Organization field is required.", true);
                    check = false;
                }

                if (programId == "" || programId == null) {
                    showErrorMessageBelowCtrl("Program", "", false);
                    showErrorMessageBelowCtrl("Program", "The Program field is required.", true);
                    check = false;
                }

                if (sessionId == "" || sessionId == null) {
                    showErrorMessageBelowCtrl("Session", "", false);
                    showErrorMessageBelowCtrl("Session", "The Session field is required.", true);
                    check = false;
                }

                if (course == "" || course == null) {
                    showErrorMessageBelowCtrl("Course", "", false);
                    showErrorMessageBelowCtrl("Course", "The Course field is required.", true);
                    check = false;
                }


                if (examCode == "" || examCode == null || examId == "" || examId == null) {
                    showErrorMessageBelowCtrl("ExamCode", "", false);
                    showErrorMessageBelowCtrl("ExamCode", "The Exam Code field is required.", true);
                    check = false;
                }
                if (uniqueSet == "" || uniqueSet == null) {
                    showErrorMessageBelowCtrl("UniqueSet", "", false);
                    showErrorMessageBelowCtrl("UniqueSet", "The Unique Set field is required.", true);
                    check = false;
                }
                if (numberOfSet == "" || numberOfSet == null) {
                    showErrorMessageBelowCtrl("NumberOfSet", "", false);
                    showErrorMessageBelowCtrl("NumberOfSet", "The Number Of Set field is required.", true);
                    check = false;
                }
                if (check) {

                    var urlParam = {
                        examMcqQuestionSetViewModel: JSON.stringify(mdl),
                    };
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Exam/ExamMcqQuestionSet/SetGenerate",
                        cache: false,
                        async: true,
                        data: urlParam,
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {

                            if (response.IsSuccess) {
                                $("#Organization").val($("#Organization option:first").val());

                                $("#Program").empty();
                                $("#Program").html($('<option>').text("Select Program").attr('value', ""));

                                $("#Session").empty();
                                $("#Session").html($('<option>').text("Select Session").attr('value', ""));

                                $("#Course").empty();
                                $("#Course").html($('<option>').text("Select Course").attr('value', ""));

                                $("#ExamId").val("");
                                $("#ExamCode").val("");
                                $("#ExamName").val("");
                                $('#UniqueSet option').remove();
                                $("#NumberOfSet").val("");

                                $.fn.customMessage({
                                    displayMessage: response.returnResult,
                                    displayMessageType: "s"
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.returnResult,
                                    displayMessageType: "e"
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                        }
                    });
                }
            });

        });


        $(document).on("change", "#Organization", function(event) {

            $("#Program option").remove();
            $('#Program').append("<option value=''>Select Program</option>");

            $("#Session option").remove();
            $('#Session').append("<option value=''>Select Session</option>");

            $("#Course option").remove();
            $('#Course').append("<option value=''>Select Course</option>");

            $('#UniqueSet option').remove();

            $("#ExamId").val("");
            $("#ExamCode").val("");
            $("#ExamName").val("");

            if ($(this).val() != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    cache: false,
                    async: true,
                    data: { "organizationIds": $(this).val(), isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnProgramList, function(i, v) {
                                $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

        $(document).on("change", "#Program", function(event) {

            $("#Session option").remove();
            $('#Session').append("<option value=''>Select Session</option>");
            $("#Course option").remove();
            $('#Course').append("<option value=''>Select Course</option>");

            $('#UniqueSet option').remove();

            $("#ExamId").val("");
            $("#ExamCode").val("");
            $("#ExamName").val("");
            var organizationId = $("#Organization").val();
            var programId = $("#Program").val();

            if (organizationId != "" && programId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function(i, v) {
                                $('#Session').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.unblockUI();
                    }
                });
            }
        });

        $(document).on("change", "#Session", function(event) {

            $("#Course option").remove();
            $('#Course').append("<option value=''>Select Course</option>");
            $('#UniqueSet option').remove();
            //$('#UniqueSet').append("<option value=''>Select Unique Set</option>");

            $("#ExamId").val("");
            $("#ExamCode").val("");
            $("#ExamName").val("");
            var organizationId = $("#Organization").val();
            var programId = $("#Program").val();
            var sessionId = $("#Session").val();
            if (organizationId != "" && organizationId != null && programId != "" && programId != null && sessionId != "" && sessionId != null) {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {

                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnCourse, function(i, v) {
                                $('#Course').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }

        });

        $(document).on("change", "#Course", function(event) {
            $("#ExamId").val("");
            $("#ExamCode").val("");
            $("#ExamName").val("");

            $('#UniqueSet option').remove();

        });


        function autoCompleteFunc() {

            $('.autoComplete').each(function() {
                var $this = $(this);
                $this.typeahead({
                    source: function(query, process) {
                        var programId = $("#Program").val();
                        var sessionId = $("#Session").val();
                        var courseId = $("#Course").val();
                        var data = { query: query, programId: programId, sessionId: sessionId, courseId: courseId, isQuestion: true, }
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Exam/Question/AjaxRequestForExamCode",
                            cache: false,
                            async: true,
                            data: data,

                            success: function(result) {
                                if (result.IsSuccess) {
                                    process(result.returnList);
                                }
                            },
                            complete: function() {
                            },
                            error: function(result) {
                            }
                        });
                    },
                    updater: function(item) {
                        $("#ExamId").val(item.Value);
                        $("#ExamCode").val("");
                        $("#ExamName").val("");
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Exam/Question/AjaxRequestForExamInformation",
                            cache: false,
                            async: true,
                            data: { "id": item.Value },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                if (result.IsSuccess) {
                                    console.log(result.returnList);
                                    if (result.returnList.hasOwnProperty("Name")) {
                                        $("#ExamName").val(result.returnList.Name);
                                    }
                                }
                            },
                            complete: function() {
                                $.ajax({
                                    type: "post",
                                    url: $("body").attr("data-project-root") + "Exam/ExamMcqQuestionSet/AjaxRequestForExamUniqueSet",
                                    cache: false,
                                    async: true,
                                    data: { "id": item.Value },
                                    beforeSend: function() {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function(result) {
                                        if (result.IsSuccess) {
                                            $.each(result.returnList, function(i, v) {
                                                $('#UniqueSet').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        }
                                        $.unblockUI();
                                    },
                                    complete: function() {
                                        $.unblockUI();
                                    },
                                    error: function(result) {
                                        $.unblockUI();
                                        console.log("Failed -----");
                                    }
                                });
                                $.unblockUI();
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");
                            }
                        });

                        return item.Text;
                    },
                    matcher: function(item) {
                        if (item.Text.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                            return true;
                        }
                        return false;
                    },
                    sorter: function(items) {
                        return items.sort();
                    },
                    highlighter: function(item) {
                        var regex = new RegExp('(' + this.query + ')', 'gi');
                        return item.Text.replace(regex, "<strong>$1</strong>");
                    },
                    onselect: function(obj) {
                        alert('Selected ' + obj);
                    }
                });
            });
        }

        $(document).on("input propertychange", ".autoComplete", function(event) {
            $('#UniqueSet option').remove();
            autoCompleteFunc();
        });

    </script>
}