﻿@model UdvashERP.BusinessModel.Entity.Administration.Course
<div class="form-group">
    @Html.LabelFor(model => model.Program, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.programList, "Select Program", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.Program)
    </div>
</div>
