﻿@model UdvashERP.BusinessModel.Entity.Administration.Course

<div class="form-group">
    @Html.LabelFor(model => model.RefSession, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.DropDownList("Session", (IEnumerable<SelectListItem>)ViewBag.SessionList, "Select Session", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.RefSession)
    </div>
</div>