﻿@using UdvashERP.Model.Entity.ViewModel
@model IEnumerable<UdvashERP.Model.Entity.ViewModel.SubjectAssignToCourse>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @{
                SubjectAssignToCourse item2 = item;
            }
            @Html.DisplayFor(modelItem => item2.SubjectName)
        </td>
        <td>
            
            @{
                SubjectAssignToCourse item1 = item;
            }
            @Html.DisplayFor(modelItem => item1.Fees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Srl }) |
            @Html.ActionLink("Details", "Details", new { id=item.Srl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Srl })
        </td>
    </tr>
}

</table>
