﻿@using UdvashERP.BusinessModel.Entity.Administration
@{
    List<Subject> subList = ViewBag.subject;
}
<div class="panel panel-default">

        <div class="panel-body">
            <table class="table table-bordered table-striped table-responsive" id="courseFees">
                @{int i = 0;}
                <input type="hidden" id="PaidStatus" value="@ViewBag.IsPaid" />
                <tr>
                    <th style="text-align: center">Sl</th>
                    <th><input type="checkbox" class="checkAllSubject" style="margin-right: 15px;" />Assign Subject</th>
                    <th>Study Materials</th>
                    <th>Tuition Fee</th>
                    <th>Payment</th>
                </tr>
                @foreach (var subjectPayment in @ViewBag.subject)
                {
                    <tr>
                        <td style="text-align: center">@{ i++;}@i</td>
                        <td><input type="checkbox" class="subPay" id="@subjectPayment.Id" /> &nbsp;&nbsp;&nbsp;@subjectPayment.Name</td>
                        <td class="@subjectPayment.Name"><input class="form-control guide"  disabled="disabled" type="number" placeholder="Enter Only Number " /></td>
                        <td class="@subjectPayment.Name"><input class="form-control tutionfee" disabled="disabled" type="number" placeholder="Enter Only Number " /></td>
                        <td class="@subjectPayment.Name"><input class="form-control totalpay" id="@subjectPayment.Id" disabled="disabled" readonly="readonly" type="number" placeholder="Enter Only Number " /></td>

                    </tr>

                }
                @if (subList.Any())
                {
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong>Total</strong></td>
                        <td id="StudyMaterialsTotal"><strong>@String.Format("{0:.##}", 0)</strong></td>
                        <td id="TutionFeeTotal"><strong>@String.Format("{0:.##}", 0)</strong></td>
                        <td id="PaymentTotal"><strong>@String.Format("{0:.##}", 0)</strong></td>
                    </tr>
                }
            </table>
        </div>
    </div>
