﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Hr.NightworkAllowanceDetailsViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "NightworkAllowanceSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string creatyByStr = Convert.ToString(ViewBag.CreateByStr);
    string creationDateString = ViewBag.CreationDateStr;
    string modifiedByStr = Convert.ToString(ViewBag.ModifiedByStr);
    string modifiedDateStr = ViewBag.ModifiedDateStr;
    string effectiveDate = ViewBag.EffectiveFrom;
    string closingDate = ViewBag.ClosingDate;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Night Work Allowance Setting</div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Organization: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.Label("Settings Name: ", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AllowanceName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Employment Status </label>
                    @foreach (MemberEmploymentStatus eStatus in ViewBag.EmploymentStatusList)
                    {
                        if (Model.EmploymentStatus.Contains(eStatus))
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" type="checkbox" disabled checked="checked" value="0"> @eStatus
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input name="EmployeeStatuses" disabled type="checkbox" value="0"> @eStatus
                            </label>
                        }
                    }

                </div>
            </div>
            
            <div class="form-group">
                @Html.Label("Calculation On :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                                        @if (Convert.ToInt32(Model.CalculationOn) == (int)CalculationOnTypeEnum.Basic)
                    {
                        <input type="text" class="form-control" readonly="readonly" disabled="disabled" value="Basic" /><span></span>
                       }
                    else if (Convert.ToInt32(Model.CalculationOn) == (int)CalculationOnTypeEnum.Gross)
                    {
                        <input type ="text" class="form-control" readonly="readonly" disabled="disabled" value="Gross"/><span></span>
                        @*@Html.EditorFor(model => model.CalculationOn, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly", @value="Gross"}})*@
                    }
                    else 
                    {
                          <input type ="text" class="form-control" readonly="readonly" disabled="disabled" value="N/A"/><span></span>
                        @*@Html.EditorFor(model => model.CalculationOn, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                    }
                </div>
                @Html.Label("Multiply By(In) :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.InHouseMultiplyingFactor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Multiply By(Out) :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OutHouseMultiplyingFactor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.Label("Effective From :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@effectiveDate" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Closing Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@closingDate" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Create By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@creatyByStr" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Creation Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="mVal" name="mVal" value="@creationDateString" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified By :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="cVal" name="cVal" value="@modifiedByStr" type="text" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modified Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input class="form-control" id="mVal" name="mVal" value="@modifiedDateStr" type="text" readonly="readonly">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}









