﻿@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    
    if (ViewBag.WithLayout == false)
    {
        Layout = null;
    }
}

<h2>Error</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @ViewBag.Message
    </div>
}

