﻿@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Admission Information
        </div>
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("ProgramSummary", "Admission", new { area = "Student" }, FormMethod.Get))
            {
                if (ViewBag.StudentRoll != null)
                {
                    <input type="text" value="@ViewBag.StudentRoll" class="form-control" placeholder="Enter Program Roll / Mobile Number " id="stdRollOrStdProRoll" name="stdRollOrStdProRoll" maxlength="11" />
                }
                else
                {
                    <input type="text" class="form-control" placeholder="Enter Program Roll / Mobile Number" id="stdRollOrStdProRoll" name="stdRollOrStdProRoll" maxlength="11" />
                }

                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
            }
            
            <a href="@Url.Action("NewStudentAdmission","Admission")" class="btn btn-primary btn-lg btn-block newstudent"> New Student</a>
        </div>

    </div>
    
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>