﻿@using NHibernate.Mapping
@using UdvashERP.BusinessModel.ViewModel.StudentModuleView
@model UdvashERP.BusinessModel.ViewModel.StudentViewModel

@{
    ViewBag.Title = "Admission Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .form-horizontal, .form-group {
        margin-right: -270px;
    }
</style>
@Styles.Render("~/Content/bootstrap-datetimepicker")
<div class="totalPage" id="mainBody">
    <!-- Existing Assigned Program Panel -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"> <div class="panel-title">Program Attended Summary</div> </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">Program Registered</th>
                                <th class="text-center">Session </th>
                                <th class="text-center">Branch</th>
                                <th class="text-center">Program Roll </th>
                                <th class="text-center">Payment Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.PROGRAMSUMMARY != null)
                            {
                                foreach (ProgramAttendedSummary summary in ViewBag.PROGRAMSUMMARY)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @summary.ProgramName
                                        </td>
                                        <td class="text-center">
                                            @summary.SessionName
                                        </td>
                                        <td class="text-center">
                                            @summary.BranchName
                                        </td>
                                        <td class="text-center">
                                            @summary.PrNo
                                        </td>
                                        @{
                                            if (summary.PaymentStatus == "Payment Clear")
                                            {
                                                <td class="text-center">@summary.PaymentStatus</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <a class="duePaymentCLick" data-url="@Url.Action("DuePayment", "Payment", new { Area = "Student"})" href="#" data-prno="@summary.PrNo" aria-valuemax="">
                                                        @summary.PaymentStatus
                                                    </a>
                                                    @*<a href="@Url.Action("DuePayment", "Payment", new { Area = "Student", id = summary.PrNo })">@summary.PaymentStatus</a>*@
                                                </td>

                                            }
                                        }
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>

    <!-- New Program Registration Panel -->
    <div id="messageContainer" class="text-center"></div>
    @using (Html.BeginForm("NewProgramRegistration","Admission",FormMethod.Post, new{id="addNewProgramForm"}))
    {
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Personal Details </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2 " })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MobNumber, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MobNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", @pattern = "", @type = "number" } })
                                    @Html.ValidationMessageFor(model => model.MobNumber)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Program, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x=>x.Program, (IEnumerable<SelectListItem>)ViewBag.PROGRAM, "Select Program", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Program)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.Session, Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Session)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.Branch, Enumerable.Empty<SelectListItem>(), "Select Branch", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Branch)
                                </div>
                            </div>
                            <div class="campusGenerate">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Campus, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(x=>x.Campus, Enumerable.Empty<SelectListItem>(), "Select Campus", new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Campus)
                                    </div>
                                </div>
                            </div>
                            <div class="batchDaysGenerate">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BatchDays, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 batchDays">
                                        @Html.DropDownListFor(x=>x.BatchDays, Enumerable.Empty<SelectListItem>(), "Select Batch Days", new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.BatchDays)
                                    </div>
                                </div>
                            </div>
                            <div class="batchTimeGenerate">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BatchTime, new { @class = "control-label col-md-2 " })
                                    <div class="col-md-10 batchTime">
                                        @Html.DropDownListFor(x=>x.BatchTime, Enumerable.Empty<SelectListItem>(), "Select BatchTime", new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.BatchTime)
                                    </div>
                                </div>
                            </div>
                            <div class="batchNameGenerate">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Batch, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 batchName">
                                        @Html.DropDownListFor(x=>x.Batch, Enumerable.Empty<SelectListItem>(), "Select Batch Name", new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Batch)
                                    </div>
                                </div>
                            </div>
                            @Html.Hidden("studentId", ViewData["stdId"])
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" value="Next" class="btn btn-primary" onclick="submitProgramAddClicked()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courseDetails">

                </div>
            </div>
        </div>
    }
</div>
   
@section Scripts {

    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/Admission.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/PaymentDetail.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/MoneyReceiptPrint.js"></script>

    <script type="text/javascript">

        function validateProgramAddForm() {

            var isAnySubjectTaken = false;

            $('.course-subject-check').each(function (incex,value) {
                var courseId = $(this).attr('data-course-id');
                if (courseId > 0) {
                    if ($(this).is(':checked') && $(this).attr('disabled') != 'disabled') {
                        isAnySubjectTaken = true;
                    }
                }
            });

            return isAnySubjectTaken;
        }

        function submitProgramAddClicked() {

            var form = $("#addNewProgramForm");
            if (validateProgramAddForm()) {
                console.log(form);
                console.log("Submited");
                form.submit();
            } else {
                //$("#messageContainer").html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><strong>Error!</strong> Please select at least one course.</div>');
                //console.log("submit error");
                //setTimeout(function () {
                //    $("#messageContainer").html("");
                //}, 30000);
                $.fn.customMessage({
                    displayMessage: '<strong>Error!</strong> Please select at least one course.',
                    displayMessageType: "e",
                    displayTime: 30000,
                    messageHolder:"#messageContainer"
                });
            }
        }

        $(document).ready(function () {

            $('.duePaymentCLick').click(function () {
                var url = $(this).attr('data-url');
                var prNo = $(this).attr('data-prno');
                //url = url + '?stdProgramId=' + prNo;
                //alert(url);
                console.log(url);
                $.ajax({
                    url: url,
                    type: "Get",
                    data: { stdProgramId: prNo },
                    success: function (data) {
                        $('.totalPage').html(data);
                    },
                    error: function (data) {
                        bootbox.alert(data.Message).css('margin-top', (($(window).height() / 4)));
                    }
                });
            });
        });
    </script>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });

    </script>
}
