﻿@using UdvashERP.BusinessModel.ViewModel.StudentModuleView
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.ProgramAttendedSummary

@{
    ViewBag.Title = "SingleProgramSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="totalPage" id="mainBody">
    <!-- Existing Assigned Program Panel -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><div class="panel-title">Program Attended Summary</div></div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">Program Registered</th>
                                <th class="text-center">Session </th>
                                <th class="text-center">Branch</th>
                                <th class="text-center">Program Roll </th>
                                <th class="text-center">Payment Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.PROGRAMSUMMARY != null)
                            {
                                foreach (ProgramAttendedSummary summary in ViewBag.PROGRAMSUMMARY)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @summary.ProgramName
                                        </td>
                                        <td class="text-center">
                                            @summary.SessionName
                                        </td>
                                        <td class="text-center">
                                            @summary.BranchName
                                        </td>
                                        <td class="text-center">
                                            @summary.PrNo
                                        </td>

                                        @{
                                    if (summary.PaymentStatus == "PaymentClear")
                                    {
                                        <td class="text-center">@summary.PaymentStatus</td>
                                    }
                                    else
                                    {
                                        @*<td class="text-center"><a href="DuePayment?stdProgramId='@summary.PrNo'" aria-valuemax=""> @summary.PaymentStatus </a></td>*@
                                            <td class="text-center">
                                                <a class="duePaymentCLick" data-url="@Url.Action("DuePayment", "Payment", new { Area = "Student"})" href="#" data-prno="@summary.PrNo" aria-valuemax="">
                                                    @summary.PaymentStatus
                                                </a>
                                            </td>
                                    }
                                        }
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
<script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Student/PaymentDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.duePaymentCLick').click(function () {
                var url = $(this).attr('data-url');
                var prNo = $(this).attr('data-prno');
                //url = url + '?stdProgramId=' + prNo;
                //alert(url);
                console.log(url);
                $.ajax({
                    url: url,
                    type: "Get",
                    data: { stdProgramId: prNo },
                    success: function (data) {
                        $('.totalPage').html(data);
                    },
                    error: function (data) {
                        bootbox.alert(data.Message).css('margin-top', (($(window).height() / 4)));
                    }
                });
            });
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
    </script>

}
