﻿@model UdvashERP.BusinessModel.Entity.Administration.Organization
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Organizaton Details</h3></div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-responsive table-striped">
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ShortName)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ShortName)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Website)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.Website)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ContactNo)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ContactNo)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.LogoImageUrl)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.LogoImageUrl)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ReportImageUrl)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ReportImageUrl)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.IdFooterImageUrl)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.IdFooterImageUrl)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Status)</strong>
                </td>
                @if (Model.Status == 1)
                {
                    <td style="text-align:  left">Active</td>
                }
                else
                {
                    <td style="text-align:  left">Inactive</td>
                }
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.CreateByText)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.CreateByText)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.CreationDate)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.CreationDate)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ModifyByText)</strong>
                </td>

                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ModifyByText)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.ModificationDate)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.ModificationDate)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.BasicSalary)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.BasicSalary)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.HouseRent)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.HouseRent)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.MedicalAllowance)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.MedicalAllowance)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.Convenyance)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.Convenyance)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.MonthlyWorkingDay)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.MonthlyWorkingDay)
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">
                    <strong>@Html.DisplayNameFor(model => model.DeductionPerAbsent)</strong>
                </td>
                <td style="text-align:  left">
                    @Html.DisplayFor(model => model.DeductionPerAbsent)
                </td>
            </tr>
        </table>
    </div>
</div>
<p>@Html.ActionLink("Back to List", "Index")</p>