﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Organization>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    @using (Html.BeginForm("Create", "Organization", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions"><input type="submit" value="Add Organization" class="btn btn-primary" /></div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Manage Organization</h4></div>
    <div class="panel-body">
        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    <input id="name" name="name" type="text" class="form-control " placeholder="Organization" />
                </th>
                <th class="form-group">
                    <input id="shortName" name="shortName" type="text" class="form-control " placeholder="Short Name" />
                </th>
                <th class="form-group">
                    <input id="website" name="website" type="text" class="form-control " placeholder="Website" />
                </th>
                <th class="form-group ">
                    @if (ViewBag.StatusText != null)
                    {
                        <select id="status" class="form-control ">
                            <option value="">Status </option>
                            @if (ViewBag.StatusText != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.StatusText)
                                {
                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>
            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.ShortName)</th>
                    <th>@Html.DisplayNameFor(model => model.Website)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.ContactNo)</th>
                    <th>@Html.DisplayNameFor(model => model.Rank)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        function dataTableRender() {
            var displayNo = 10;
            if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                displayNo = parseInt($('#DisplayNo').val());
            }
            else {
                $('#DisplayNo').val(displayNo);
            }
            $('#DataGrid').dataTable({
                "sScrollX": "100%",
                "bScrollCollapse": true,
                "scrollY": "60vh",
                "scrollCollapse": true,
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "bLengthChange": false,
                "iDisplayLength": displayNo,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [7] }],
                order: [[5, "asc"]],
                ajax: {
                    url: '@Url.Action("OrganizationList","Organization")',
                    type: 'POST',
                    data: function (dt) {
                        dt.name = $('#name').val();
                        dt.shortName = $('#shortName').val();
                        dt.website = $('#website').val();
                        dt.status = $('#status').val();
                    },
                    error: function () {
                        ShowErrorMessage("Organization data load error. Please try again.");
                    }
                }
            });
        }
        dataTableRender();
        $(document).on("click", "#search", function () {
            dataTableRender();
        });
        $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
            var id = $(this).attr("id");
            var current = $(this).parent().text().trim();
            var action = $(this).attr("data-action");
            $.ajax({
                url: $("body").attr("data-project-root") + "Administration/Organization/RankChange",
                type: "POST",
                cache: false,
                async: true,
                data: { "id": id, "current": current, "action": action },
                success: function () {
                    dataTableRender();
                },
                error: function () {
                    bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                }
            });
        });
        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            var name = $(this).attr("data-name");
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Organization :<span class='confirm-message'> " + name + "</span></h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Administration/Organization/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (responseObj) {
                                console.log("gfdfdg"+responseObj.isSuccess);
                                $.unblockUI();
                                if (responseObj != null && responseObj.isSuccess) {
                                   $.fn.customMessage({
                                        displayMessage: "Organization Deleted Successfully",
                                        displayMessageType: "s",
                                    });
                                    dataTableRender();
                                }
                                else if (responseObj != null && !responseObj.isSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: responseObj.message,
                                        displayMessageType: "e",
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function () {
                                $.unblockUI();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                });
                            }
                        });
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });
    });
    </script>
}