﻿
@{
    ViewBag.Title = "Add Survey Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Add Survey Question</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Question" class="control-label col-md-4">Question</label>
                    <div class="col-md-8">
                        @*<input type="text" name="Question" placeholder="বাংলায় প্রশ্ন লিখুন" class="form-control" id="Question" />*@
                        <textarea name="Question" placeholder="বাংলায় প্রশ্ন লিখুন" class="form-control" id="Question"></textarea>
                        <span data-valmsg-replace="true" data-valmsg-for="Question" class="field-validation-valid"></span>   
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-md-4">Answer</label>
                    <div class="col-md-8" id="answers">
                        <div style="margin-bottom: 5px;" class="answerDiv">
                            <input type="text" name="answer[]" placeholder="বাংলায় উত্তর লিখুন" class="form-control ansClass" style="float: left; margin-right: 5px;" />
                            <button type="button" class="btn btn-default minus">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="button" value="Add" class="btn btn-primary" id="surveyQuestionSave" /> 
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Administration/Survey/addSurveyQuestion.js"></script>
}




