﻿@using UdvashERP.BusinessModel.Entity.Base
@model UdvashERP.BusinessModel.Entity.Administration.SurveyQuestion
@{
    ViewBag.Title = "Update Survey Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Update Survey Question</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Question" class="control-label col-md-4">Question</label>
                    <div class="col-md-8">
                        <textarea name="Question" placeholder="বাংলায় প্রশ্ন লিখুন" class="form-control" id="Question" data-id="@Model.Id">@Model.Question</textarea>
                        @*<input type="text" name="Question" placeholder="বাংলায় প্রশ্ন লিখুন" class="form-control" id="Question" data-id="@Model.Id" />*@
                        <span data-valmsg-replace="true" data-valmsg-for="Question" class="field-validation-valid"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Answer</label>
                    <div class="col-md-8" id="answers">
                        @{
                            if (Model.SurveyQuestionAnswers.Any())
                            {
                                foreach (var sq in Model.SurveyQuestionAnswers)
                                {
                                    if (sq.StudentSurveyAnswers.Any())
                                    {
                                        <div style="margin-bottom: 5px;" class="answerDiv">
                                            <input type="text" name="answer[]" value="@sq.Answer" data-id="@sq.Id" placeholder="বাংলায় উত্তর লিখুন" class="form-control ansClass" style="float: left; margin-right: 5px;" />
                                            <button type="button" class="btn btn-default star">
                                                <span class="glyphicon glyphicon-star"></span>                                               
                                            </button>
                                            <div class="clearfix"></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="margin-bottom: 5px;" class="answerDiv">
                                            <input type="text" name="answer[]" value="@sq.Answer" data-id="@sq.Id" placeholder="বাংলায় উত্তর লিখুন" class="form-control ansClass" style="float: left; margin-right: 5px;" />
                                            <button type="button" class="btn btn-default minus">
                                                <span class="glyphicon glyphicon-minus-sign"></span>                                                
                                            </button>
                                            <div class="clearfix"></div>
                                        </div>
                                    }

                                }
                            }
                        }
                        <div style="margin-bottom: 5px;" class="answerDiv">
                            <input type="text" name="answer[]" placeholder="বাংলায় উত্তর লিখুন" class="form-control ansClass" style="float: left; margin-right: 5px;" />
                            <button type="button" class="btn btn-default plus">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="button" value="Update" class="btn btn-primary" id="surveyQuestionSave" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Administration/Survey/updateSurveyQuestion.js"></script>
}
