﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@{
    Layout = null;
}
<option value="0">-Select Program-</option>
@if (ViewBag.ProgramList != null)
{
    foreach (Program pl in ViewBag.ProgramList)
    {
        <option value="@pl.Id">@pl.Name</option>
    }
}