﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using UdvashERP.BusinessModel.Entity.Administration
@*@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherEntryViewModel*@
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}
<style type="">
    .hidden {
        Display: none;
    }
</style>
<div class="panel panel-primary">
<div class="panel panel-heading">Add Teacher</div>
    <div class="panel panel-body">

    @*@using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { @id = "teacherEntryBtn", enctype = "multipart/form-data", @dynamicSubject = "dynamicSubject[]" }))*@
@using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { @id = "teacherEntryBtn", enctype = "multipart/form-data", @dynamicSubject = "dynamicSubject[]" }))
{
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <section>
                    <fieldset>
                        <legend>Quick Information</legend>
                        @Html.Hidden("Id", 0)
                        @Html.Hidden("Tpin", 0)
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.NickName, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NickName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Nick Name"}})
                            </div>
                            @Html.LabelFor(model => model.MobileNumber1, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumber1, new {htmlAttributes = new {@class = "form-control", @placeholder = "Mobile Number1"}})
                                
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumber2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumber2, new {htmlAttributes = new {@class = "form-control", @placeholder = "Mobile Number2"}})
                            </div>
                            @Html.LabelFor(model => model.Institute, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Institute, new {htmlAttributes = new {@class = "form-control", @placeholder = "Institute"}})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Department, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Department, new {htmlAttributes = new {@class = "form-control", @placeholder = "Department"}})
                            </div>
                            @Html.LabelFor(model => model.HscPassingYear, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.HscPassingYear, new {@class = "form-control", @maxlength = "4", @size = "4", @value = "", @placeholder = "Only Number",})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Religion, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Religion, (IEnumerable<SelectListItem>) ViewBag.ReligionList, "Select Religion", new {@class = "form-control"})
                            </div>
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>) ViewBag.GenderList, "Select Gender", new {@class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Organization*", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <div id="TeacherOrganization">
                                    @{
                                        List<Organization> organizationList = ViewBag.OrganizationList;
                                        if (organizationList.Any())
                                        {
                                            foreach (Organization organization in organizationList)
                                            {
                                                <label>
                                                    <input type="checkbox" data-teacherid="@Model.Id" value="@organization.Id" id="id-@organization.Id" class="orgName" name="orgName[]"> @organization.ShortName
                                                </label>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Activity Priority*", htmlAttributes: new {@class = "control-label col-md-2 "})
                            <div class="col-md-3">
                                @Html.DropDownList("ActivityPriority1", (IEnumerable<SelectListItem>)ViewBag.ActivityList, "Choice 1", new { @class = "form-control ActivityPriority", @data_priority = "1" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ActivityPriority2", (IEnumerable<SelectListItem>)ViewBag.ActivityList, "Choice 2", new { @class = "form-control ActivityPriority", @data_priority = "2" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ActivityPriority3", (IEnumerable<SelectListItem>)ViewBag.ActivityList, "Choice 3", new { @class = "form-control ActivityPriority", @data_priority = "3" })
                            </div>
                        </div>

                        <div class="form-group ">
                            @Html.Label("Subject Priority*", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-3">
                                @Html.DropDownList("Subject_1", (IEnumerable<SelectListItem>)ViewBag.SubjectList, "Choice 1", new { @class = "form-control SubjectPriority", @data_priority = "1" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("Subject_2", (IEnumerable<SelectListItem>)ViewBag.SubjectList, "Choice 2", new { @class = "form-control SubjectPriority", @data_priority = "2" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("Subject_3", (IEnumerable<SelectListItem>)ViewBag.SubjectList, "Choice 3", new { @class = "form-control SubjectPriority", @data_priority = "3" })
                            </div>
                            <div class="">
                                <div id="testId" class=" dynamicButton btn btn-primary testDiv"> + </div>
                            </div>
                        </div>
                        <div class="form-group dynamicDiv col-md-offset-2">
                            <div class="col-md-2 dynamicSubject hidden" id="">
                                <select class="dynamicSubjectIds form-control SubjectPriority" name="dynamicSubjectIds[]" id="SubjectDynamic" data-priority="data_priority_number">
                                    @*<option value="">-- Optional Choice --</option>*@
                                    @foreach (var subV in ViewBag.SubjectList)
                                    {
                                        <option value="@subV.Value">@subV.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Version Priority*", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.DropDownList("VersionPriority1", (IEnumerable<SelectListItem>)ViewBag.VersionOfStudyList, "Choice 1", new { @class = "form-control VersionPriority", data_priority = "1" })
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownList("VersionPriority2", (IEnumerable<SelectListItem>)ViewBag.VersionOfStudyList, "Choice 2", new { @class = "form-control VersionPriority", data_priority = "2" })
                            </div>
                        </div>
                    </fieldset>
                </section>
                <section>
                    <fieldset>
                        <legend>Details Information </legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" } })
                            </div>
                            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father Name" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control ", @type = "Text", @PlaceHolder = "dd/mm/yyyy"}})
                            </div>
                            @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.BloodGroup, (IEnumerable<SelectListItem>) ViewBag.BloodGroupList, "-Select Blood group--", new {@class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumberRoommate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumberRoommate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Roommate mobile number" } })
                            </div>
                            @Html.LabelFor(model => model.MobileNumberFather, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumberFather, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father's Mobile Number" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumberMother, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumberMother, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mother's Mobile Number" } })
                            </div>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FacebookId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FacebookId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Facebook ID" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PresentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.PresentAddress, 5, 39, new { @class = "form-control", @placeholder = "Present addresss" })
                            </div>
                            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.PermanentAddress, 5, 39, new {@class = "form-control", @placeholder = "Permanent address"})
                            </div>
                            @Html.LabelFor(model => model.District, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.District, new {htmlAttributes = new {@class = "form-control", @placeholder = "District"}})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Admission Info", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                    <tr>
                                        <th>Institute</th>
                                        <th>AT Position</th>
                                        <th>AT Session</th>
                                        <th>Got Subject</th>
                                    </tr>
                                    @foreach (var tadModel in Model.TeacherAdmission)
                                    {
                                        <tr class="academicInfo" id="academicInfo-@tadModel.InstituteName">
                                            <td class="name">@tadModel.InstituteName</td>
                                            <td><input class="atposition form-control academicInfo-@tadModel.InstituteName numeric" name="atposition[]" type="text" placeholder="At Position" /></td>
                                            <td><input class="atsession form-control academicInfo-@tadModel.InstituteName numeric" name="atsession[]" type="text" placeholder="At Session" /></td>
                                            <td><input class="gotsubject form-control academicInfo-@tadModel.InstituteName" name="gotsubject[]" type="text" placeholder="Subject" /></td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TeacherPreviousExtraCuricularActivity, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <table class="table-hover">
                                    <tr>
                                        @foreach (var tadModel in ViewBag.PreviousExtraCuricularList)
                                        {
                                            <td class="checkbox col-md-3">
                                                <label>
                                                    <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Id" class="TeacherPreviousExtraCuricularActivity" name="prevactivityName[]"> @tadModel.Name
                                                </label>
                                            </td>

                                            if (count % 3 == 0 && count < ViewBag.PreviousExtraCuricularList.Count)
                                            {
                                                @Html.Raw("</tr><tr>")
                                            }
                                            count++;
                                        }
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group wishList">

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUpload, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ImageUpload, new { @class = "form-control", @type = "file" })
                            </div>
                        </div>
                    </fieldset>
                </section>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="teacherEntry" type="button" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
    @*<div class="panel panel-body">

        @using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { @id = "teacherEntryBtn", enctype = "multipart/form-data", @dynamicSubject = "dynamicSubject[]" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <section>
                    <fieldset>
                        <legend>Quick Information</legend>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nick Name" } })
                                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.MobileNumber1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumber1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number1" } })
                                @Html.ValidationMessageFor(model => model.MobileNumber1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumber2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumber2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number2" } })
                                @Html.ValidationMessageFor(model => model.MobileNumber2, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Institute, new { htmlAttributes = new { @class = "form-control", @placeholder = "Institute" } })
                                @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department" } })
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.HscPassingYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.HscPassingYear, new { @class = "form-control", @maxlength = "4", @size = "4", @value = "", @placeholder = "Only Number", })
                                @Html.ValidationMessageFor(model => model.HscPassingYear, "", new { @class = "text-danger" })
                                <span id="errmsg" style="color: red"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Religion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Religion, (IEnumerable<SelectListItem>)ViewBag.ReligionList, "--select religion--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderList, "--select Gender--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @foreach (var orgOj in Model.Organization)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="@orgOj.Id" id="id-@orgOj.Name" class="orgName" name="orgName[]"> @orgOj.ShortName
                                        </label>
                                    </div>
                                }
                                @Html.DropDownListFor(model => model.Religion, (IEnumerable<SelectListItem>)ViewBag.ReligionList, "--select religion--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                                <span id="errorMessage"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TeacherActivities, htmlAttributes: new { @class = "control-label col-md-2 " })
                            <div class="col-md-3">
                                @Html.DropDownList("ta_1", (IEnumerable<SelectListItem>)ViewBag.TeacherActivity, "--choice 1--", new { @class = "form-control ta2", @name = "ta[]" })
                                @Html.ValidationMessageFor(model => model.TeacherActivities, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ta_2", (IEnumerable<SelectListItem>)ViewBag.TeacherActivity, "--choice 2--", new { @class = "form-control ta2", @name = "ta[]" })
                                @Html.ValidationMessageFor(model => model.TeacherActivities, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ta_3", (IEnumerable<SelectListItem>)ViewBag.TeacherActivity, "--choice 3--", new { @class = "form-control ta2", @name = "ta[]" })
                                @Html.ValidationMessageFor(model => model.TeacherActivities, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group ">
                            @Html.LabelFor(model => model.SubjectList, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownList("sl_1", (IEnumerable<SelectListItem>)ViewBag.SubjectPriority, "--choice 1--", new { @class = "form-control sub" })
                                @Html.ValidationMessageFor(model => model.SubjectList, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("sl_2", (IEnumerable<SelectListItem>)ViewBag.SubjectPriority, "--choice 2--", new { @class = "form-control sub" })
                                @Html.ValidationMessageFor(model => model.SubjectList, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("sl_3", (IEnumerable<SelectListItem>)ViewBag.SubjectPriority, "--choice 3--", new { @class = "form-control sub" })
                                @Html.ValidationMessageFor(model => model.SubjectList, "", new { @class = "text-danger" })
                            </div>
                            <div class="">
                                <div id="testId" class=" dynamicButton btn btn-primary testDiv"> + </div>
                            </div>
                        </div>
                        
                        <div class="form-group dynamicDiv col-md-offset-2">
                            <div class="col-md-2 dynamicSubject hidden" id="">
                                <select class="dynamicSubjectIds form-control sub" name="dynamicSubjectIds[]">
                                    <option value="">-- Optional Choice --</option>
                                    @foreach (var subV in ViewBag.SubjectPriority)
                                    {
                                        <option value="@subV.Value">@subV.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.VersionPriority, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.DropDownList("v_1", (IEnumerable<SelectListItem>)ViewBag.VersionPriorityList, "--choice 1--", new { @class = "form-control ver" })
                                @Html.ValidationMessageFor(model => model.VersionPriority, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownList("v_2", (IEnumerable<SelectListItem>)ViewBag.VersionPriorityList, "--choice 2--", new { @class = "form-control ver" })
                                @Html.ValidationMessageFor(model => model.VersionPriority, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </fieldset>
                </section>
                <section>
                    <fieldset>
                        <legend>Details Information </legend>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father Name" } })
                                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control ", @type = "Text", @PlaceHolder = "dd/mm/yyyy" } })
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.BloodGroup, (IEnumerable<SelectListItem>)ViewBag.BloodGroupList, "-Select Blood group--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumberRoommate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumberRoommate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Roommate mobile number" } })
                                @Html.ValidationMessageFor(model => model.MobileNumberRoommate, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.MobileNumberFather, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumberFather, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father's Mobile Number" } })
                                @Html.ValidationMessageFor(model => model.MobileNumberFather, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumberMother, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.MobileNumberMother, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mother's Mobile Number" } })
                                @Html.ValidationMessageFor(model => model.MobileNumberMother, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FacebookId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FacebookId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Facebook ID" } })
                                @Html.ValidationMessageFor(model => model.FacebookId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PresentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.PresentAddress, 5, 39, new { @class = "form-control", @placeholder = "Present addresss" })
                                @Html.ValidationMessageFor(model => model.PresentAddress, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area" } })
                                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.PermanentAddress, 5, 39, new { @class = "form-control", @placeholder = "Permanent address" })
                                @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control", @placeholder = "District" } })
                                @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TeacherAdmissionTestViewModels, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                    <tr>
                                        <th>Institute</th>
                                        <th>AT Position</th>
                                        <th>AT Session</th>
                                        <th>Got Subject</th>
                                    </tr>
                                    @foreach (var tadModel in Model.TeacherAdmissionTestViewModels)
                                    {
                                        <tr class="academicInfo" id="academicInfo-@tadModel.InstituteName">
                                            <td>@tadModel.InstituteName</td>
                                            <td><input class="atposition form-control academicInfo-@tadModel.InstituteName" name="atposition[]" type="number" placeholder="At Position" /></td>
                                            <td><input class="atsession form-control academicInfo-@tadModel.InstituteName" name="atsession[]" type="number" placeholder="At Session" /></td>
                                            <td><input class="gotsubject form-control academicInfo-@tadModel.InstituteName" name="gotsubject[]" type="text" placeholder="Subject" /></td>
                                        </tr>
                                    }

                                </table>


                                @Html.ValidationMessageFor(model => model.TeacherAdmissionTestViewModels, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ExtraCarricularActivities, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <table class="table-hover">
                                    <tr>
                                        @foreach (var tadModel in Model.ExtraCarricularActivities)
                                        {
                                            <td class="checkbox col-md-3">
                                                <label>
                                                    <input type="checkbox" value="@tadModel.Id" id="id-@tadModel.Name" class="activityName" name="prevactivityName[]"> @tadModel.Name
                                                </label>
                                            </td>

                                            if (count % 3 == 0 && count < Model.ExtraCarricularActivities.Count())
                                            {
                                                @Html.Raw("</tr><tr>");
                                            }
                                            count++;

                                        }
                                    </tr>
                                </table>
                                @Html.ValidationMessageFor(model => model.ExtraCarricularActivities, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group wishList">

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUpload, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ImageUpload, new { @class = "form-control", @type = "file" })
                                @Html.ValidationMessageFor(model => model.ImageUpload, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </section>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="teacherEntry" type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>*@
</div>
<div>
    @Html.ActionLink("Back to List", "TeacherList")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Teacher/TeacherEntry.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#teacherEntry').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return true;
            });
        });
        $(document).ready(function() {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = initialDate;
            var endDate = today.getFullYear().toString() + "-" + (today.getMonth() + 3).toString() + "-" + today.getDate().toString();

            console.log(initialDate);
            console.log(startDate);
            console.log(endDate);

            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: initialDate,
                //startDate: startDate,
                //endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $("#HscPassingYear").val("");
        });

    </script>
}