﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Input TPIN</div>
    </div>
    <div class="panel-body">
        <div class="admissionBodyContent">
            @using (Html.BeginForm("Edit", "Teacher", FormMethod.Get))
            {
                <input type="text" class="form-control" placeholder="Enter TPIN" value="@ViewBag.Tpin" id="tpin" name="tpin" maxlength="13"/>
                <input type="submit" id="submitBtn" class="btn btn-primary btn-lg btn-block" value="Submit"/>
            }
        </div>
    </div>
</div>
@if (ViewBag.isPost == true)
{
    <div class="panel panel-primary">
        <div class="panel panel-heading">Edit Teacher Profile</div>
        @if (ViewBag.teacherViewModel != null)
        {
            Html.RenderPartial("Partial/_EditTeacher");
        }
        else
        {
            <div class="panel-body">
                <div class="">
                    <p>No Teacher found with this pin. Please try again.</p>
                </div>
            </div>
        }
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Teacher/TeacherEntry.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#teacherEntry').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return true;
            });
        });
    </script>

}