﻿@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherViewList

@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">Teacher List</div>
    <div class="panel-body">
        @using (Html.BeginForm("TeacherList", "Teacher"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.Organizations, (IEnumerable<SelectListItem>)ViewBag.OrgList, new { @class = "form-control" })
                        @*@Html.DropDownListFor(x => x.Organizations, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Organizations, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Activity Priority", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.TeacherActivities, (IEnumerable<SelectListItem>)ViewBag.TeacherActivity, new { @class = "form-control" })
                        @*@Html.DropDownListFor(m => m.TeacherActivities, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.TeacherActivities, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    
                    @Html.Label("Subjects", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.Subjects, (IEnumerable<SelectListItem>)ViewBag.Subjects, new { @class = "form-control" })
                        @*@Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Subjects, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Version Of Priority", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.VersionOfPriority, (IEnumerable<SelectListItem>)ViewBag.VersionOfPriorityList, new { @class = "form-control" })
                        @*@Html.DropDownListFor(x => x.Teachers, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.VersionOfPriority, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    @Html.Label("Religion", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.Religion, (IEnumerable<SelectListItem>)ViewBag.ReligionList, new { @class = "form-control" })
                        @*@Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Gender", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderList, new { @class = "form-control" })
                        @*@Html.DropDownListFor(x => x.Teachers, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div id="DisplayStudentData" style="padding-left:40%">
                        <div class="col-md-2">
                            <input type="button" value="Count" class="btn btn-primary" id="calculateTeacher" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="NumberOfTeacher" disabled="" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information to View</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                        <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                            <option value="TPIN">TPIN</option>
                            <option value="Organization">Organization</option>
                            <option value="Full Name">Full Name</option>
                            <option value="Nick Name">Nick Name</option>
                            <option value="Father Name">Father's Name</option>
                            <option value="Institute">Institute</option>
                            <option value="Mobile Number 1">Mobile Number 1</option>
                            <option value="Mobile Number 2">Mobile Number 2</option>
                            <option value="Mobile Number(Room Mate)">Mobile Number(Room Mate)</option>
                            <option value="Mobile Number(Father)">Mobile Number(Father)</option>
                            <option value="Mobile Number(Mother)">Mobile Number(Mother)</option>
                            <option value="Religion">Religion</option>
                            <option value="Gender">Gender</option>
                            <option value="Date Of Birth">Date Of Birth</option>
                            <option value="Blood Group">Blood Group</option>
                            <option value="Department">Department</option>
                            <option value="Hsc Passing Year">HSC Passing Year</option>
                            <option value="Email">Email Address</option>
                            <option value="Activity Priority">Activity Priority</option>
                            <option value="Subject Priority">Subject Priority</option>
                            <option value="Version Priority">Version Priority</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input type="submit" value="View List" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Teacher/TeacherEntry.js"></script>*@
    <script>
        $('#informationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });
        $(document).ready(function () {
            window.validateDropDownField("Organizations", "Please Select Organization.");
            window.validateDropDownField("TeacherActivities", "Please Select Teacher Activity.");
            window.validateDropDownField("Subjects", "Please Select Subject.");
            window.validateDropDownField("VersionOfPriority", "Please Select Version Of Priority.");
            window.validateDropDownField("Religion", "Please Select Religion.");
            window.validateDropDownField("Gender", "Please Select Gender.");

            $(document).on('click', '#calculateTeacher', function () {
                var isSuccessCount = true;
                var organizationIds = $("#Organizations").val();
                var teacherActivityIds = $("#TeacherActivities").val();
                var subjectIds = $("#Subjects").val();
                var versionOfPriorityIds = $("#VersionOfPriority").val();
                var religionIds = $("#Religion").val();
                var genderIds = $("#Gender").val();
                if (organizationIds == null || organizationIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Organizations", "", false);
                    window.showErrorMessageBelowCtrl("Organizations", "Please Select Organization.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Organizations", "", false);
                }
                if (teacherActivityIds == null || teacherActivityIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("TeacherActivities", "", false);
                    window.showErrorMessageBelowCtrl("TeacherActivities", "Please Select Teacher Activity.", true);
                } else {
                    window.showErrorMessageBelowCtrl("TeacherActivities", "", false);
                }
                if (subjectIds == null || subjectIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Subjects", "", false);
                    window.showErrorMessageBelowCtrl("Subjects", "Please Select Subject.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Subjects", "", false);
                }
                if (versionOfPriorityIds == null || versionOfPriorityIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("VersionOfPriority", "", false);
                    window.showErrorMessageBelowCtrl("VersionOfPriority", "Please Select Version Of Priority.", true);
                } else {
                    window.showErrorMessageBelowCtrl("VersionOfPriority", "", false);
                }
                if (religionIds == null || religionIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Religion", "", false);
                    window.showErrorMessageBelowCtrl("Religion", "Please Select Religion.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Religion", "", false);
                }
                if (genderIds == null || genderIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Gender", "", false);
                    window.showErrorMessageBelowCtrl("Gender", "Please Select Gender.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Gender", "", false);
                }
                $("#NumberOfTeacher").val("");
                if (isSuccessCount === true) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Teacher/TeacherListCount",
                        type: "POST",
                        data: { organizations: organizationIds, teacherActivities: teacherActivityIds, subjects: subjectIds, versionOfPriority: versionOfPriorityIds, religion: genderIds, gender: genderIds },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $("#NumberOfTeacher").val(response.teacherCount);
                            } else {
                                $("#NumberOfTeacher").val("");
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "e"
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            $.unblockUI();
                        }
                    });

                }

            });
        });
    </script>
}