﻿@model IEnumerable<UdvashERP.BusinessModel.ViewModel.Teacher.TeacherReportViewModel>

@{
    ViewBag.Title = "TeacherReportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/styledatatable")
<div class="panel panel-primary">
    <div class="panel-heading">Teacher List</div>   
    <div class="table-responsive">
        <table style="margin-top:5px;">
            <tr class="filteringRow form-group">
                @*<td><input id="nickName" type="text" class="form-control filteringColumn" placeholder="Nick Name"></td>*@
                <td><input id="tpin" type="text" class="form-control filteringColumn" placeholder="TPIN"></td>
                <td><input id="institute" type="text" class="form-control filteringColumn" placeholder="Institute"></td>
                <td><input id="personalM" type="text" class="form-control filteringColumn" placeholder="Mobile Number (Personal)"></td>
                <td>@*<input id="fatherM" type="text" class="form-control filteringColumn" placeholder="Mobile Number (Father)">*@</td>
                <td><input type="text" class="form-control filteringColumn" id="PageSize" placeholder="10"></td>
                <td><button type="button" class="btn btn-primary" id="searchBtn">Search</button></td>
                <td><button type="button" class="btn btn-primary" id="excelBtn">Export</button></td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                       Sl.
                    </th>
                     @if (ViewBag.informationViewList != null)
                    {
                        foreach (string informationView in ViewBag.informationViewList)
                        {
                            <th>@informationView</th>
                        }
                    }
                    else
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Tpin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NickName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Institute)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PersonalMobileNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FatherMobileNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                    }

                </tr>
            </thead>
            <tbody class="text-center"></tbody>

            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NickName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Institute)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalMobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherMobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>

                </tr>
            }*@

        </table> 
    </div>
</div>

<div class="hiddenField">
    @Html.Hidden("teacherListViewModelData", ViewData["teacherListViewModelData"])
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datatable")

    <script>


    function dataTableRender() {
        // var nickName = $('#nickName').val();
        var tpin = $('#tpin').val();
        var instutute = $('#institute').val();
        var personalM = $('#personalM').val();
        //   var fatherM = $('#fatherM').val();
        var pageSize = 10;
        if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
            pageSize = parseInt($('#PageSize').val());

        } else {
            $('#PageSize').val(pageSize);
        }
        console.log(pageSize);
        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            //stateSave: false,
            order: [[1, "asc"]],
            ajax: {
                url: 'GenerateTeacherList',
                type: 'POST',
                data: function (d) {
                    d.teacherListObj = $('#teacherListViewModelData').val();
                    //d.nickName = nickName;
                    d.tpin = tpin;
                    d.instutute = instutute;
                    d.personalM = personalM;
                    // d.fatherM = fatherM;
                }
            }
        });
    }
        $(document).ready(function () {
            //function dataTableRender() {
            //    var pageSize = 10;
            //    if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
            //        pageSize = parseInt($('#PageSize').val());

            //    } else {
            //        $('#PageSize').val(pageSize);
            //    }
            //    console.log(pageSize);
            //    $('#DataGrid').dataTable({
            //        destroy: true,
            //        "processing": true,
            //        searching: false,
            //        serverSide: true,
            //        "scrollX": true,
            //        "bLengthChange": false,
            //        "iDisplayLength": pageSize,
            //        //stateSave: false,
            //        order: [[1, "asc"]],
            //       // "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] }],
            //        ajax: {
            //            url: 'GenerateTeacherList',
            //            type: 'POST',
            //            data: function (d) {
            //                d.teacherListObj = $('#teacherListViewModelData').val();

            //            }
            //        }
            //    });
            //}
            dataTableRender();

            $(document).on("click", "#searchBtn", function () {
                dataTableRender();
            });
            $(document).on("click", "#excelBtn", function () {
                // var nickName = $('#nickName').val(); 
                var tpin = $('#tpin').val();
                var instutute = $('#institute').val();
                var personalM = $('#personalM').val();
              //  var fatherM = $('#fatherM').val();
                var urlParam = {
                    teacherListObj: $('#teacherListViewModelData').val(),
                  //  nickName: nickName,
                    tpin: tpin,
                    instutute: instutute,
                    personalM: personalM,
                    //fatherM: fatherM,
                    
                };
                var url = "/Teachers/Teacher/ExportTeacherList";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                console.log(url);
                window.open(url);
            });
        });
    </script>
}