﻿@{
    ViewBag.Title = "Search Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Search Teacher
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("TeacherSearch", "Teacher", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Organization", new { @class = "control-label col-md-3 col-md-offset-1" })
                        <div class="col-md-7">
                            @Html.DropDownList("OrganizationIds", (IEnumerable<SelectListItem>)ViewBag.OrganizationSelectList, new { @class = "form-control " })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Keyword", new { @class = "control-label col-md-3 col-md-offset-1" })
                        <div class="col-md-7">
                            <input type="text" name="Keyword" id="Keyword" value="@ViewBag.Keyword" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-weight: bold;">
                        <h4>Select Information To View</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 80px">
                    <div class="col-md-12">
                        @Html.DropDownList("informationViewList", (IEnumerable<SelectListItem>)ViewBag.InformationViewSelectList, new { @class = "form-control valid", @multiple = "multiple" })
                    </div>
                </div>
                <br />
                <div class="col-md-12" style="padding-left: 80px">
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Search" class="btn btn-primary" id="Search" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Teacher/TeacherEntry.js"></script>*@
    <script>
        $('#informationViewList').bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveOnSelect: false,
            showFilterInputs: false,
            infoText: '',
        });
        $(document).ready(function () {
            window.validateDropDownField("Organizations", "Please Select Organization.");
            
            $(document).on('click', '#calculateTeacher', function () {
                var isSuccessCount = true;
                var organizationIds = $("#Organizations").val();
                var teacherActivityIds = $("#TeacherActivities").val();
                var subjectIds = $("#Subjects").val();
                var versionOfPriorityIds = $("#VersionOfPriority").val();
                var religionIds = $("#Religion").val();
                var genderIds = $("#Gender").val();
                if (organizationIds == null || organizationIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Organizations", "", false);
                    window.showErrorMessageBelowCtrl("Organizations", "Please Select Organization.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Organizations", "", false);
                }
                if (teacherActivityIds == null || teacherActivityIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("TeacherActivities", "", false);
                    window.showErrorMessageBelowCtrl("TeacherActivities", "Please Select Teacher Activity.", true);
                } else {
                    window.showErrorMessageBelowCtrl("TeacherActivities", "", false);
                }
                if (subjectIds == null || subjectIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Subjects", "", false);
                    window.showErrorMessageBelowCtrl("Subjects", "Please Select Subject.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Subjects", "", false);
                }
                if (versionOfPriorityIds == null || versionOfPriorityIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("VersionOfPriority", "", false);
                    window.showErrorMessageBelowCtrl("VersionOfPriority", "Please Select Version Of Priority.", true);
                } else {
                    window.showErrorMessageBelowCtrl("VersionOfPriority", "", false);
                }
                if (religionIds == null || religionIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Religion", "", false);
                    window.showErrorMessageBelowCtrl("Religion", "Please Select Religion.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Religion", "", false);
                }
                if (genderIds == null || genderIds.length <= 0) {
                    isSuccessCount = false;
                    window.showErrorMessageBelowCtrl("Gender", "", false);
                    window.showErrorMessageBelowCtrl("Gender", "Please Select Gender.", true);
                } else {
                    window.showErrorMessageBelowCtrl("Gender", "", false);
                }
                $("#NumberOfTeacher").val("");
                if (isSuccessCount === true) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Teacher/TeacherListCount",
                        type: "POST",
                        data: { organizations: organizationIds, teacherActivities: teacherActivityIds, subjects: subjectIds, versionOfPriority: versionOfPriorityIds, religion: genderIds, gender: genderIds },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $("#NumberOfTeacher").val(response.teacherCount);
                            } else {
                                $("#NumberOfTeacher").val("");
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "e"
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response) {
                            $.unblockUI();
                        }
                    });

                }

            });
        });
    </script>
}