﻿@using MvcCheckBoxList.Model
@model UdvashERP.BusinessModel.Dto.SubjectAssign
@{
    ViewBag.Title = "Assign Subject";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Assign Subject</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.ProgramId, (SelectList)ViewBag.ProgramList, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProgramId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m=>m.SessionId, (SelectList)ViewBag.SessionList, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SessionId)
                    </div>
                </div>
                @{
                     var htmlListInfo = new HtmlListInfo(HtmlTag.table,2, null,TextLayout.Default, TemplateIsUsed.No);
                }
                <div class="form-group">
                    @Html.Label("Subjects", new { @class = "control-label col-md-2" })
                    <div id="subjectList">
                        <div class=" col-md-10">
                            @*list-group-item*@
                            @Html.CheckBoxListFor(model => model.SelectedSubjects
                                , model => model.AllSubject
                                , x => x.Id
                                , x => x.Name
                                , model => model.Subjects, htmlListInfo)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10"><input type="submit" id="Assign" value="Assign" class="btn btn-primary" /></div>
                </div>
            </div>
        }
    </div>
</div>
<p>@Html.ActionLink("Back to Manage", "Index")</p>
<style type="text/css">
    label 
    {
        display: inline-block !important;
        padding: 5px !important;
    }
    .subDiv {
        padding-left: 150px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("ProgramId", "Please Select Program.");
            window.validateDropDownField("SessionId", "Please Select Session.");

            $(document).on('click', '#Assign', function (e) {
                $('.field-validation-error').remove();
                var organizationId = $('#OrganizationId').val();
                var programId = $('#ProgramId').val();
                var sessionId = $('#SessionId').val();
                var isSuccess = true;
                if (organizationId == null || organizationId <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }
                if (programId == null || programId <= 0) {
                    window.showErrorMessageBelowCtrl("ProgramId", "", false);
                    window.showErrorMessageBelowCtrl("ProgramId", "Please Select Program.", true);
                    isSuccess = false;
                }
                if (sessionId == null || sessionId <= 0) {
                    window.showErrorMessageBelowCtrl("SessionId", "", false);
                    window.showErrorMessageBelowCtrl("SessionId", "Please Select Session", true);
                    isSuccess = false;
                }
                if (!($("#subjectList input:checkbox:checked").length > 0)) {
                    $.fn.customMessage({
                        displayMessage: "Please select Subject(s) .",
                        displayMessageType: "e"
                    });
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    return true;
                } else {
                    e.preventDefault();
                    return false;
                }
            });

            $("#OrganizationId").change(function () {
                //remove all dependant dropdownlist option
                $('#ProgramId').empty();
                $('#ProgramId').append("<option value=''>Select a program</option>");
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");
                $("#subjectList input:checkbox").each(function () {
                    $(this).prop("checked", false);
                });

                var organizationId = $(this).val();
                if (organizationId.length > 0) {
                    $.ajax({
                        //url: "/Administration/Subject/GetProgramByOrganization",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $("#SessionId").html("<option value=''>Select a Session</option>");
                            $("#subjectList input:checkbox").each(function () {
                                $(this).prop("checked", false);
                            });
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.fn.customMessage({
                                displayMessage: window.AJAX_ERROR,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                }
            });

            $("#ProgramId").change(function () {
                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select Session</option>");
                var programId = $("#ProgramId").val();
                var organizationId = $("#OrganizationId").val();
                $("#subjectList input:checkbox").each(function () {
                    $(this).prop("checked", false);
                });
                if (programId != null && programId != "") {
                //if (programId > 0) {
                    $.ajax({
                        @*url: '@Url.Action("GetSession", "Subject")',*@
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function(response, status, xhr) {
                            if (response.IsSuccess) {
                                console.log(response);
                                $.each(response.returnSessionList, function (i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $.unblockUI();
                          },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                        }
                    });
                } else {
                    $('#SessionId').empty();
                    $('#SessionId').append("<option value=''>-Select Session-</option>");
                }
            });

            $("#SessionId").change(function () {
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                $("#subjectList input:checkbox").each(function () {
                    $(this).prop("checked", false);
                });
                console.log("CHANGE #sessionId:" + sessionId);
                console.log("program Id from change #programId:" + programId);
                if (sessionId > 0 && programId > 0) {
                    $.ajax({
                        url: '@Url.Action("GetSubject", "Subject")',
                        type: "POST",
                        data: { "sessionId": sessionId, "programId": programId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing... </h1>'
                            });
                        },
                        success: function (response, status, xhr) {
                            console.log("Success -----");
                            console.log(response);
                            $("#subjectList").html(response);
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (response, status, xhr) {
                            console.log("Failed -----");
                            console.log(response);
                        }
                    });
                }
            });
        });
    </script>
}
