﻿@model UdvashERP.BusinessModel.ViewModel.Hr.AttendanceDeviceViewModel
@{
    ViewBag.Title = "Add Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "AttendanceDevice", FormMethod.Post, new { @id = "attendanceDeviceForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Add Device</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Organization, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Organization)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Branch, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select Branch", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Branch)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.AttdDeviceType, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.AttdDeviceType, (IEnumerable<SelectListItem>)ViewBag.attdDeviceType, "Select Attendance Device Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AttdDeviceType)
                            </div>
                        </div>

                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.DisableCard, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.CheckBoxFor(x => x.DisableCard, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DisableCard)*@
                                <select class="form-control" name="DisableCard" id="DisableCard">
                                    <option value="true">Yes</option>
                                    <option selected="selected" value="false">No</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Campus, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Campus, (IEnumerable<SelectListItem>)ViewBag.CampusList, "Select Campus", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Campus)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Synchronizer, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.Synchronizer, (IEnumerable<SelectListItem>)ViewBag.SynchronizerList, "Select Synchronizer", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Synchronizer)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6   form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Device Name" } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.DeviceModelNo, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.DeviceModelNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Device Number" } })
                                @Html.ValidationMessageFor(model => model.DeviceModelNo)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.CommunicationType, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("CommunicationType", (IEnumerable<SelectListItem>)ViewBag.CommunicationTypeList, "Select Commun. Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CommunicationType)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.IPAddress, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.IPAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter IP Address" } })
                                @Html.ValidationMessageFor(model => model.IPAddress)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.Port, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Port", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.Port)
                            </div>
                        </div>
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.CommunicationKey, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CommunicationKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Communication Key" } })
                                @Html.ValidationMessageFor(model => model.CommunicationKey)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  form-group">
                            @Html.LabelFor(model => model.MachineNo, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MachineNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Machine No", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.MachineNo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="saveType" id="saveType" value="" />
                            <input type="button" value="Save and Exit" class="btn btn-primary" id="saveAndExit" />
                            <input type="button" value="Save" class="btn btn-primary" id="save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>@Html.ActionLink("Back to Manage", "Index")</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#attendanceDeviceForm").submit(function () {
                return false;
            });
            $('body').keydown(function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
        });


        $(document).on('click', '#save', function (e) {
            $("#saveType").val("0");
            $("#attendanceDeviceForm").get(0).submit();
        });
        $(document).on('click', '#saveAndExit', function (e) {
            $("#saveType").val("1");
            $("#attendanceDeviceForm").get(0).submit();
        });
        $(document).on("input propertychange", "#DeviceModelNo ", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            input.val(text);
        });
        $(document).on('change', '#Organization', function (e) {
            $("#Branch option").remove();
            $('#Branch').append("<option value=''>Select Branch</option>");
            var orgId = $("#Organization").val();
            if (orgId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnBranchList, function (i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

        $(document).on('change', '#Branch', function (e) {
            $("#Campus option").remove();
            $('#Campus').append("<option value=''>Select Campus</option>");
            var orgId = $("#Organization").val();
            var branchId = $("#Branch").val();
            if (orgId != "" && branchId != "") {
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnCampusList, function (i, v) {
                                $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });

        $(document).on('change', '#Campus', function (e) {
            $("#Synchronizer option").remove();
            $('#Synchronizer').append("<option value=''>Select Synchronizer</option>");
            var orgId = $("#Organization").val();
            var branchId = $("#Branch").val();
            var campusId = $("#Campus").val();
            if (orgId != "" && branchId != "") {
                console.log(orgId);
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/AttendanceDevice/LoadSynchronizer",
                    cache: false,
                    async: true,
                    data: { organizationIds: orgId, branchIds: branchId, campusIds: campusId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnCampusList, function (i, v) {
                                $('#Synchronizer').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
        });
    </script>
}

