﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.AttendanceDevice>
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Monitor Attendance Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Monitor Attendance Device</h3>
    </div>
    <div class="panel-body">
        @*@Html.AntiForgeryToken()*@
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.organizationlist, "Organization", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchId, "Branch", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.CampusId, "Campus", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <select name="Status" id="Status" class="form-control">
                        <option value="">Status</option>
                        <option value="1" selected>Active</option>
                        <option value="-1">Inactive</option>
                    </select>
                </th>
                <th class="form-group">
                    <input id="IPAddress" name="IPAddress" type="text" class="form-control " placeholder="IP Address" />
                </th>
               
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>

                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>

            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Organization
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Campus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Update Minutes Ago
                    </th>
                    <th>
                        LMIU Time
                    </th>
                    <th>
                        Last Request Ip
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Model No
                    </th> 
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            function dataTableRender() {

                var pageSize = 100;

                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    pageSize = parseInt($('#PageSize').val());
                }
                else {
                    $('#PageSize').val(pageSize);
                }

                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "scrollCollapse": true,
                    "iDisplayLength": pageSize,
                    "scrollY": "60vh",
                    "bLengthChange": false,
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                    fixedColumns: {
                        leftColumns: 3
                    },
                    //stateSave: false,
                    order: [[0, "Asc"]],
                    ajax: {
                        url: '@Url.Action("Monitor", "AttendanceDevice")',
                        type: 'POST',
                        data: function (d) {
                            d.organizationId = $('#Organization').val();
                            d.branchId = $('#Branch').val();
                            d.campusId = $('#Campus').val();
                            d.status = $('#Status').val();
                            d.iPAddress = $('#IPAddress').val();
                        }
                    }
                });
            }

            dataTableRender();

            $(document).on('change', '#Organization', function (e) {
                $("#Branch option").remove();
                $('#Branch').append("<option value=''>---Branch---</option>");
                var orgId = $("#Organization").val();
                if (orgId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true,isProgramBranSession:false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnBranchList, function (i, v) {
                                    $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on('change', '#Branch', function (e) {
                $("#Campus option").remove();
                $('#Campus').append("<option value=''>---Campus---</option>");
                var orgId = $("#Organization").val();
                var branchId = $("#Branch").val();
                if (orgId != "" && branchId!="") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId,branchIds:branchId, isAuthorized: true,isProgramBranSession:false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnCampusList, function (i, v) {
                                    $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on("click", "#search", function () {
                dataTableRender();
            });

            
        });
    </script>
}
