﻿<style type="text/css">
    #openingBalanceTable th, td {
        padding: 5px;
    }

    #openingBalanceTable th {
        white-space: nowrap;
        font-weight: bold;
    }

    #openingBalanceTable .top th {
        text-align: center;
    }

    #openingBalanceTable .even {
        background: #E5E5E5;
    }
</style>

@Styles.Render("~/Content/bootstrap-datetimepicker")
@using UdvashERP.BusinessModel.Dto
@model UdvashERP.BusinessModel.ViewModel.Teacher.TeacherClassOpeningBalanceFormViewModel
@{
    ViewBag.Title = "Teacher Class Opening Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("OpeningBalance", "TeacherClassOpeningBalance", FormMethod.Post, new { @id = "teacherClassOpeningBalanceForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Opening Balance</h3>
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.OrganizationList, "Select Organization", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-8 form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.TpinList, new {@class = "form-control ", @placeholder = "TPIN Space Separate", @style="max-width:500px; width:500px"})
                            @Html.ValidationMessageFor(model => model.TpinList, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-1 form-group">
                        <div class="col-md-12">
                            <input type="submit" value="View" class="btn btn-primary" id="ViewTeacher" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.IsPost)
{
    List<TeacherClassOpeningBalanceDto> teacherClassOpeningBalanceDtoList = ViewBag.TeacherClassOpeningBalanceDtoList;
    int i = 0;
    <div class="panel panel-primary" id="openingBalancePrimaryDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Opening Balance</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("Opening Date", new {@class = "control-label col-md-2"})
                    @Html.TextBox("OpeningDate", null, new {@class = "form-control form-date", @readonly = "readonly", @placeholder = "Select Date For Opening Date"})
                </div>
            </div>
            @if (teacherClassOpeningBalanceDtoList.Any())
            {
                <div class="text-left" style="padding-bottom: 10px;">
                    Total <strong>@teacherClassOpeningBalanceDtoList.Count()</strong> Teacher(s) Found.
                </div>
            }
            <div style="overflow-x: hidden; overflow-y: scroll; height: 40vh;" id="teacherOpeningBalanceListDiv">
                <table class="table-bordered" id="openingBalanceTable" width="100%" cellpadding="2" cellspacing="2">
                    <thead>
                    <tr>
                        <th>TPIN</th>
                        <th>Teacher Name</th>
                        <th>Batch</th>
                        <th>Previous O. B. Date</th>
                        <th>Total Class</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (teacherClassOpeningBalanceDtoList.Any())
                    {

                        foreach (TeacherClassOpeningBalanceDto item in teacherClassOpeningBalanceDtoList)
                        {
                            i++;
                            <tr data-openingbalanceid="@item.TeacherClassOpeningBalanceId" data-teacherid="@item.TeacherId" id="teacher_@item.TeacherId" @if (i%2 == 0)
                                                                                                                                      {
                                                                                                                                          @Html.Raw("class='even'")
                                                                                                                                      }
                                                                                                                                      else
                                                                                                                                      {
                                                                                                                                          @Html.Raw("class='odd'")
                                                                                                                                      }>
                                <td>@item.Tpin</td>
                                <td>@item.TeacherName</td>
                                <td>@item.Batch</td>
                                <td>@item.OpeningDate</td>
                                <td>
                                    @Html.TextBox("TotalClass", null, new {@class = "form-control numbersOnly TotalClass", @placeholder = "0", @Value = @item.TotalClass, @style="max-width:100px;"})
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">No Teacher found.</td></tr>
                    }
                    </tbody>
                </table>
            </div>
            @if (teacherClassOpeningBalanceDtoList.Any())
            {
                <div class="form-group" style="text-align: center; padding-top: 10px;">
                    <input type="button" value="Save Opening Balance" class="btn btn-primary addOpeningBalance"/>
                </div>
            }
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    <script type="text/javascript">
        window.validateDropDownField("OrganizationId", "Please Select Organization.");

        function isValid(id, message) {
            var value = $("#OpeningDate").val();
            if (value == "" || value.length <= 0) {
                window.showErrorMessageBelowCtrl(id, "", false);
                window.showErrorMessageBelowCtrl(id, message, true);
                if (("#teacherOpeningBalanceListDiv_err_div").length > 0) {
                    var teacherOpeningBalanceClassList = [];
                    $('#openingBalanceTable > tbody > tr').each(function () {
                        var parentTr = $(this);
                        var totalCalss = parentTr.find(".TotalClass").val();
                        if (totalCalss != "" && totalCalss.length > 0) {
                            teacherOpeningBalanceClassList.push(totalCalss);
                        }
                    });
                    if (teacherOpeningBalanceClassList.length > 0) {
                        window.showErrorMessageBelowCtrl("teacherOpeningBalanceListDiv", "", false);
                    }
                }
                return false;
            } else {
                window.showErrorMessageBelowCtrl(id, "", false);
            }
            return true;
        }

        function TeacherClassOpeningBalanceViewModel() {
            this.TeacherId = 0;
            this.OrganizationId = 0;
            this.OpeningDate = "";
            this.TotalClass = 0;
            this.TeacherClassOpeningBalanceId = 0;
            this.TeacherClassOpeningBalanceViewModel = function() {};
        }

        $(document).ready(function() {

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + (today.getDate() - 1).toString();
            var endDate = initialDate;

            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                //startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4,

            }).on('changeDate', function(ev) {
                isValid("OpeningDate", "Please Select Opening Date.");
            });

            $("#OpeningDate").change(function() {
                isValid("OpeningDate", "Please Select Opening Date.");
            });

            $(document).on("change", ".TotalClass", function(e) {
                window.showErrorMessageBelowCtrl("teacherOpeningBalanceListDiv", "", false);
            });

            $(document).on('click', '.addOpeningBalance', function(e) {
                var isSuccess = true;
                var teacherOpeningBalanceObjList = [];
                var organizationId = $("#OrganizationId").val();
                var openingDate = $("#OpeningDate").val();

                if (organizationId == null || organizationId.length <= 0) {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                    window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                } else {
                    window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                }
                if (isValid("OpeningDate", "Please Select Opening Date.") == false) {
                    isSuccess = false;
                }
                if (isSuccess == true) {
                    $('#openingBalanceTable > tbody > tr').each(function () {
                        var parentTr = $(this);
                        var teacherId = parentTr.attr("data-teacherid");
                        var teacherOpeningClassId = parentTr.attr("data-openingbalanceid");
                        var totalCalss = parentTr.find(".TotalClass").val();
                        if (totalCalss != "" && totalCalss.length > 0 && isSuccess != false) {
                            var openingBalanceObj = new TeacherClassOpeningBalanceViewModel();
                            openingBalanceObj.TeacherId = teacherId;
                            openingBalanceObj.OrganizationId = organizationId;
                            openingBalanceObj.OpeningDate = openingDate;
                            openingBalanceObj.TeacherClassOpeningBalanceId = teacherOpeningClassId;
                            openingBalanceObj.TotalClass = totalCalss;
                            teacherOpeningBalanceObjList.push(openingBalanceObj);
                        }
                    });

                    if (teacherOpeningBalanceObjList.length <= 0) {
                        window.showErrorMessageBelowCtrl("teacherOpeningBalanceListDiv", "", false);
                        window.showErrorMessageBelowCtrl("teacherOpeningBalanceListDiv", "Please Enter Total Class for at least one Teacher.", true);
                        isSuccess = false;
                    } else {
                        window.showErrorMessageBelowCtrl("teacherOpeningBalanceListDiv", "", false);
                    }
                }

                if (isSuccess == true) {
                    var data = teacherOpeningBalanceObjList;
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Teachers/TeacherClassOpeningBalance/SaveOpeningBalance",
                        type: "POST",
                        data: { "teacherClassOpeningBalanceViewModelList": data },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $("#openingBalancePrimaryDiv").remove();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "success",
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                }
            });

        });
    </script>
}


