﻿@model UdvashERP.BusinessModel.Entity.Administration.ComplementaryCourse

@{
    ViewBag.Title = "Complementary Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Complementary Course</div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @id = "usrPermission" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.OrganizationIdList, "Select Organization", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessage("OrganizationId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(x => x.Program, (IEnumerable<SelectListItem>)ViewBag.ProgramIdList,"Select Program", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Session, (IEnumerable<SelectListItem>)ViewBag.SessionIdList,"Select Sesion" ,new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Course, (IEnumerable<SelectListItem>)ViewBag.CourseIdList,"Select Course" ,new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="complementaryCourseList" style="display: none">
                    @Html.LabelFor(model => model.CompCourse, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8" id="complementaryCourseListHtml">
                        @*@Html.DropDownListFor(model => model.CompCourse, ViewBag.ComplementaryCourseIdList as MultiSelectList, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.CompCourse, "", new { @class = "text-danger" })*@
                    </div>
                </div>               
                <div class="form-group" id="addOrUpdateComplementaryCourse" style="display: none;clear: both;">
                    <div class="col-md-offset-3 col-md-10">
                        <input id="addOrUpdate" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("Program", "Please Select Program.");
            window.validateDropDownField("Session", "Please Select Session.");
            window.validateDropDownField("Course", "Please Select Main Course.");
        
            $("#OrganizationId").change(function () {
                //remove all dependant dropdownlist option
                $('#Program').empty();
                $('#Program').append("<option value=''>Select Program</option>");
                $('#Session').empty();
                $('#Session').append("<option value=''>Select Session</option>");
                $('#Course').empty();
                $('#Course').append("<option value=''>Select Course</option>");
                $("#complementaryCourseList").hide();
                $("#addOrUpdateComplementaryCourse").hide();
               
                var organizationId = $("#OrganizationId").val();
                
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnProgramList, function (i, v) {
                                    $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },

                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }


            });

            $("#Program").change(function () {

                //remove all dependant dropdownlist option
                $('#Session').empty();
                $('#Session').append("<option value=''>Select Session</option>");
                $('#Course').empty();
                $('#Course').append("<option value=''>Select Course</option>");
                $("#complementaryCourseList").hide();
                $("#addOrUpdateComplementaryCourse").hide();
                var programId = $(this).val();
                var organizationId = $("#OrganizationId").val();
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    type: "POST",
                    data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function (i, v) {
                                $('#Session').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                        console.log("Failed -----");
                        console.log(response);
                    }
                });
            });

            $("#Session").change(function () {

                //remove all dependant dropdownlist option
                $('#Course').empty();
                $('#Course').append("<option value=''>Select Course</option>");
                $("#complementaryCourseList").hide();
                $("#addOrUpdateComplementaryCourse").hide();
                var organizationId = $("#OrganizationId").val();
                var programId = $('#Program').val();
                var sessionId = $('#Session').val();
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                    type: "POST",
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response, status, xhr) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnCourse, function (i, v) {
                                $('#Course').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                          

                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    }, complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                        console.log("Failed -----");
                        console.log(response);
                    }
                });
            });

            $("#Course").change(function () {
                //remove all dependant dropdownlist option
                $("#complementaryCourseListHtml").empty();
                var organizationId = $("#OrganizationId").val();
                var programId = $('#Program').val();
                var sessionId = $('#Session').val();
                var courseId = $('#Course').val();
                if (organizationId.length > 0 && programId.length > 0 && sessionId.length > 0 && courseId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/ComplementaryCourse/LoadComplementaryCourse",
                        type: "POST",
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, courseId: courseId },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {

                            if (result.hasOwnProperty('IsSuccess')) {
                                console.log("error");
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "e"
                                });
                                $("#complementaryCourseList").hide();
                                $("#addOrUpdateComplementaryCourse").hide();
                            } else {
                                $("#complementaryCourseList").show();
                                $("#addOrUpdateComplementaryCourse").show();
                                $("#complementaryCourseListHtml").html(result);
                            }

                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(response, status, xhr) {
                            $.unblockUI();
                            console.log("Failed -----");
                            console.log(response);
                        }
                    });
                } else {
                    $("#complementaryCourseList").hide();
                    $("#addOrUpdateComplementaryCourse").hide();
                }
            });

            $(document).on('click', '#addOrUpdateComplementaryCourse', function (e) {
                e.preventDefault();
                $('.field-validation-error').remove();
                var organizationId = $('#OrganizationId').val();
                var programId = $('#Program').val();
                var sessionId = $('#Session').val();
                var courseId = $('#Course').val();
                var isSuccess = true;

                var complementaryCourseIds = [];
                $('.ComplementaryCourse:checked').each(function () {
                    complementaryCourseIds.push($(this).val());
                });



                if (organizationId == null || organizationId <= 0) {
                    showErrorMessageBelowCtrl("OrganizationId", "", false);
                    showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                    isSuccess = false;
                }

                if (programId == null || programId <= 0) {
                    showErrorMessageBelowCtrl("Program", "", false);
                    showErrorMessageBelowCtrl("Program", "Please Select Program.", true);
                    isSuccess = false;
                }

                if (sessionId == null || sessionId <= 0) {
                    showErrorMessageBelowCtrl("Session", "", false);
                    showErrorMessageBelowCtrl("Session", "Please Select Session.", true);
                    isSuccess = false;
                }

                if (courseId == null || courseId <= 0) {
                    showErrorMessageBelowCtrl("Course", "", false);
                    showErrorMessageBelowCtrl("Course", "Please Select Main Course.", true);
                    isSuccess = false;
                }

                //if (complementaryCourseIds.length <= 0) {
                //    $.fn.customMessage({
                //        displayMessage: "Please select complementary  course!",
                //        displayMessageType: "error",
                //    });
                //    isSuccess = false;
                //}
                
                if (isSuccess == true) {
                    if (programId.length > 0 && sessionId.length > 0 && courseId.length > 0) {
                        $.ajax({
                            url: $("body").attr("data-project-root") + "Administration/ComplementaryCourse/AddComplementaryCourse",
                            type: "POST",
                            data: { programId: programId, sessionId: sessionId, courseId : courseId, complementaryCourseIds: complementaryCourseIds },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (result) {
                                $.unblockUI();
                                if (result.IsSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "success",
                                    });
                                }
                                else {
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            },

                            complete: function () {
                                $.unblockUI();
                            },
                            error: function (data) {
                                $.unblockUI();
                            }
                        });

                    }
                }

            });


        });
    </script>
}