﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@model UdvashERP.BusinessModel.Entity.Administration.Batch
@{
    ViewBag.Title = "Add Batch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Add Batch</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProgramId", null, "Select program", htmlAttributes: new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("SessionId", null, "Select session", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("BranchId", null, "Select branch", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Campus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CampusId", null, "Select campus", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Campus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="WeekDays">
                            @Html.LabelFor(model => model.Days, "Batch Days", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div>
                                    @foreach (var item in (MultiSelectList)ViewBag.WeekDays)
                                    {
                                        if (@item.Selected == true)
                                        {
                                            <input type="checkbox" name="groups" value="@item.Value" id="@item.Value" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="groups" value="@item.Value" id="@item.Value" />
                                        }
                                        <label for="groups">@item.Text</label>
                                    }

                                </div>
                                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartTime, "Start Time", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control  form_datetime", @readonly = "readonly", @placeholder = "Entry Time" })
                            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndTime, "End Time", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control form_datetime", @readonly = "readonly", @placeholder = "Exit Time" })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Batch Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control", @type = "Number", @placeholder = "Capacity" } })
                            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VersionOfStudy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("VersionOfStudy", null, "Select Version Of Study", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VersionOfStudy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Gender", null, "Select Gender", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="createBatch" type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>@Html.ActionLink("Back to Manage", "Index")</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Administration/Batch/batch.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", "#StartTime", function (event) {
                var val = $("#StartTime").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("StartTime", "", false);
                }
            });
            $(document).on("change", "#EndTime", function (event) {
                var val = $("#EndTime").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("EndTime", "", false);
                }
            });
            $(".form_datetime").datetimepicker({
                //format: 'hh:ii',
                format: 'HH:ii p',
                showMeridian: true,
                startView: 1,
                pickDate: false,
                minuteStep: 5,
                autoclose: 1,
                timeOnly: true,
            });
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("ProgramId", "Please Select Program.");
            window.validateDropDownField("SessionId", "Please Select Session.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("CampusId", "Please Select Campus.");
            window.validateTextField("Name", "Please enter valid Batch Name.");
            window.validateTextField("Capacity", "Please enter valid Batch Capacity.");
            window.validateTextField("VersionOfStudy", "Please select version of study.");
            window.validateTextField("Gender", "Please select Gender.");
        });
    </script>
}
