﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Students
@model UdvashERP.BusinessModel.Entity.Administration.Batch

@{
    ViewBag.Title = "Batch Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Batch Details 
        </h3>       
    </div>
    <div class="panel-body">      
        @Html.AntiForgeryToken()
        <table class="table table-bordered table-hover table-responsive table-striped">
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Days) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.Days)</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.StartTime) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.StartTime)</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.EndTime) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.EndTime)</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Name) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Capacity) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.Capacity)</td>
            </tr>
            <tr>

                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Status) :</td>
                @{
                    if (Model.Status == Course.EntityStatus.Active)
                    {
                        <td style="text-align:  left">Active</td>
                    }
                    else
                    {
                        <td style="text-align:  left">Inactive</td>
                    }
                }

            </tr>

            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateByText) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
            </tr>

            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
            </tr>

            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyByText) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
            </tr>

            <tr>
                <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
            </tr>
        </table>
    </div>
</div>
<p> 
    @Html.ActionLink("Back to Manage", "Index")
</p>
