﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Batch>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Batch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    @using (Html.BeginForm("Create", "Batch", FormMethod.Get))
    {
        <div class="form-actions"><input type="submit" value="Add Batch" class="btn btn-primary" /></div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Manage Batch</h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "--Organization--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Program", (IEnumerable<SelectListItem>)ViewBag.Program, "--Program--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="Session" name="Session" type="text" class="form-control " placeholder="Session" />
                </th>
                <th class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.Branch, "--Branch--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="Campus" name="Campus" type="text" class="form-control " placeholder="Campus" />
                    @*@Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.Campus, "--Campus--", new { @class = "form-control" })*@
                </th>
                @*<th class="form-group">
                    @Html.DropDownList("VersionOfStudy", (IEnumerable<SelectListItem>)ViewBag.VersionOfStudy, "--Version--", new { @class = "form-control" })
                </th>*@
                @*<th class="form-group">
                    @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Gender, "--Gender--", new { @class = "form-control" })
                </th>*@
                <th class="form-group">
                    <input id="Name" name="name" type="text" class="form-control " placeholder="Batch" />
                </th>
                @*<th class="form-group">
                    <input id="Rank" name="rank" type="text" class="form-control " placeholder="Rank" />
                </th>*@
                <th class="form-group ">
                    @if (ViewBag.StatusText != null)
                    {
                        <select id="Status" class="form-control ">
                            <option value="">--Status--</option>
                            @if (ViewBag.StatusText != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.StatusText)
                                {
                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Organization")
                    </th>
                    <th>
                        @Html.DisplayName("Program")
                    </th>
                    <th>
                        @Html.DisplayName("Session")
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayName("Campus")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayName("Version")
                    </th>
                    <th>
                        @Html.DisplayName("Gender")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    @*<script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" class="init">

        function dataTableRender() {

            var pageSize = 10;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            }
            else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                //stateSave: true,
                //rowsGroup: [// Always the array (!) of the column-selectors in specified order to which rows groupping is applied
                //// (column-selector could be any of specified in https://datatables.net/reference/type/column-selector)
                //  //  'second:name',
                //    4
                //],
                order: [[8, "desc"]],
                //"aaSortingFixed": [[8, 'desc']],
                ajax: {
                    url: '@Url.Action("Index","Batch")',
                    type: 'POST',
                    data: function (d) {
                        d.organizationId = $('#Organization').val();
                        d.programId = $('#Program').val();
                        d.sessionName = $('#Session').val();
                        d.branchId = $('#Branch').val();
                        d.campusName = $('#Campus').val();
                        //d.versionOfStudy = $('#VersionOfStudy').val();
                        //d.gender = $('#Gender').val();
                        d.batchName = $('#Name').val();
                        d.batchRank = $('#Rank').val();
                        d.batchStatus = $('#Status').val();
                    }
                }
            });
        }

        $(document).ready(function () {


            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });

            $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
                var id = $(this).attr("id");
                var current = $(this).parent().text().trim();
                var action = $(this).attr("data-action");
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Batch/RankChange",
                    cache: false,
                    async: true,
                    data: { "id": id, "current": current, "action": action },
                    success: function (result) {
                        dataTableRender();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });
            });

            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> Batch?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Administration/Batch/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                //beforeSend: function () {
                                //    $.blockUI({
                                //        timeout: 0,
                                //        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                //    });
                                //},
                                success: function (result2) {
                                    //$.unblockUI();

                                    if (result2.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Batch Deleted Successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    }
                                    else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result2.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                },
                                //complete: function () {
                                //    $.unblockUI();
                                //},
                                error: function () {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Batch Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

            //$("#Organization").change(function () {
            $(document).on("change", "#Organization", function () {
                //remove all dependant dropdownlist option
                $('#Program').empty();
                $('#Program').append("<option value=''>--Program--</option>");
                $('#Branch').empty();
                $('#Branch').append("<option value=''>--Branch--</option>");
                var organizationId = $(this).val();
                if (organizationId.length > 0) {
                    $.ajax({
                        //url: "/Administration/Batch/GetProgram",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            //$('#Program').html(data);
                            //$("#Branch").html("<option value=''>--Branch--</option>");
                            if (response.IsSuccess) {
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#Program').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                            $("#Branch").html("<option value=''>--Branch--</option>");
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (data) {
                            $.unblockUI();
                        }
                    });
                }
            });
            //$("#Program").change(function () {
            $(document).on("change", "#Program", function () {
                //remove all dependant dropdownlist option
                $('#Branch').empty();
                $('#Branch').append("<option value=''>--Branch--</option>");
                var organizationIds = $('#Organization').val();
                var programId = $('#Program').val();
                
                $.ajax({
                    //url: "/Administration/Batch/GetBranch",
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    //data: { pId: programId, sId: null },
                    data: { organizationIds: organizationIds, programIds: programId,  isAuthorized: true },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response, status, xhr) {
                        //$.unblockUI();
                        //$("#Branch").html(response);
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#Branch').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }
                    }, complete: function () {
                        $.unblockUI();
                    },
                    error: function (response, status, xhr) {
                        $.unblockUI();
                    }
                });
            });


        });

    </script>
}
