﻿@using UdvashERP.BusinessModel.Dto
@{
    //List<DailyAllowanceDto> dailyAllowanceList = ViewBag.DailyAllowanceList;
    <div class="row">
        <table class="table table-bordered text-center" width="100%">
            <tr>
                <td>
                    <input name="pin" id="pin" placeholder="Pin" class="form-control" />
                </td>
                <td class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.organizationlist, "--Organization--", new { @class = "form-control" })
                </td>
                <td class="form-group">
                    @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.DepartmentId, "--Department--", new { @class = "form-control" })
                </td>
                <td class="form-group">
                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.BranchId, "--Branch--", new { @class = "form-control" })
                </td>
                <td class="form-group">
                    @Html.DropDownList("Campus", (IEnumerable<SelectListItem>)ViewBag.CampusId, "--Campus--", new { @class = "form-control" })
                </td>
                <td>
                    <input name="dateFrom" id="dateFrom" value="@ViewBag.dateFromField" class="historyDate form-control" readonly="readonly" />
                </td>
                <td>
                    <input name="dateTo" id="dateTo" value="@ViewBag.dateToField" class="historyDate form-control" readonly="readonly" />
                </td>
                <td class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </td>

                <td class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
    <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>PIN</th>
                <th>Name</th>
                <th>Department</th>
                <th>Organization</th>
                <th>Branch</th>
                <th>Campus</th>
                <th>Designation</th>
                <th>Early Entry</th>
                <th>Late Leave</th>
                <th>Total Extra</th>
                <th>Over Time</th>
                <th>Last Modified By</th>
                <th>Last Modification Date</th>
            </tr>
        </thead>
        <tbody class="text-center">
            
        </tbody>
    </table>
 }
