﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@using UdvashERP.BusinessRules
@using UdvashERP.BusinessModel.Dto.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.OverTimeFormViewModel
@{  ViewBag.Title = "Over Time Approval";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-datetimepicker")
@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Over Time Approval</h3></div>
        <div class="panel-body">
            <div class="administrationBodyContent">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="  form-group">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control form-date", @placeholder = "", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Date)
                        </div>
                        @Html.LabelFor(model => model.PinList, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PIN with space" } })
                            @Html.ValidationMessageFor(model => model.PinList)
                        </div>
                        <div class="col-md-2 text-center">
                            <input type="submit" value="View" class="btn btn-primary" id="view" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{
    List<OverTimeDto> overTimeList = ViewBag.OverTimeList;
    if (overTimeList != null && overTimeList.Any())
    {

        <div class="panel-body" id="displayList">
            <table class="table table-bordered text-center" width="100%">
                <thead>
                    <tr>
                        <th>PIN</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Early Entry</th>
                        <th>Late Leave</th>
                        <th>Total Extra</th>
                        <th>Over Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dal in overTimeList)
                    {
                       
                        <tr>
                            <td>@dal.Pin</td>
                            <td>@dal.Name</td>
                            <td>@dal.Designation</td>
                            <td>@dal.EarlyEntry.ToString("HH:mm")</td>
                            <td>@dal.LateLeave.ToString("HH:mm")</td>
                            <td>@dal.TotalOvertime.ToString("HH:mm")</td>
                            <td>
                                <input type="hidden"  name="pin" value="@dal.Pin" class="pin"  />
                                <input type="text" name="overtime" class="form-control overtime hourMinFormat" value="@dal.ApprovedTime.ToString("HH:mm")" placeholder="HH:mm" size="5" maxlength="5" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group text-center">
                <input type="button" value="Update" class="btn btn-primary" id="Update" />
            </div>
        </div>

    }
    else if (ViewBag.ShowNodata == true)
    {
        <div class="panel-body">
            <table class="table table-bordered text-center" width="100%">

                <tbody>
                    <tr>
                        <th colspan="6">
                            No Data Found !!!!
                        </th>
                    </tr>
                </tbody>
            </table>

        </div>
    }
        }

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //$.mask.rules.H = /([0-1][0-9]|2[0-3])/;  // 24 hours
            //$.mask.masks.time = 'H:59';
            //$(".overtime").setMask('time');

            // $.mask.definitions['hh:mm'] = "/^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/";
            //$.mask.definitions['H'] = "[0-2]";
            // $.mask.definitions['h'] = "[0-9]";
            // $.mask.definitions['M'] = "[0-5]";

            // $(".overtime").mask("H9:M9");

            //[0-9 ]+
            //var today = new Date();
            //var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            ////var startDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + "01";
            //var startDate = today.getFullYear().toString() + "-" + (today.getMonth()) + "-" + "26";

            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();

            var pastMonth = new Date(today.setMonth(today.getMonth() - 1, 1));
            var startDate = pastMonth.getFullYear().toString() + "-" + (pastMonth.getMonth() + 1) + "-" + "01";

            var endDate = initialDate;

            //console.log(initialDate);
            //console.log(startDate);
            //console.log(endDate);

            $('.form-date').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                //alert();
                if ($(".form-date").val() != "") {
                    $(".form-date").parent().find('span').remove();
                    $(".form-date").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');
                }
            });
            $(document).on("input propertychange", "#PinList ", function(event) {
                var input = $(this),
                    text = input.val().replace(/[^0-9 ]/g, "");
                input.val(text);
            });
        });


        $(document).on("input propertychange", ".overtime,.overtimeinline", function (event) {
            var input = $(this),
                text = input.val().replace(/[^0-9]/g, "");
            text = text.replace(/\:/, '');

            var finalVal = text;

            if (text.length == 1) {
                if (text > 2) {
                    finalVal = "2";
                }
            } else if (text.length == 2) {
                if (text > 23) {
                    finalVal = "23:";
                } else {
                    finalVal = text + ":";
                }
            } else if (text.length == 3) {
                finalVal = "";
                if (text[0] > 2) {
                    finalVal = finalVal + "2";
                    if (text[1] > 3) {
                        finalVal = finalVal + "3";
                    } else {
                        finalVal = finalVal + text[1];
                    }
                } else {
                    finalVal = finalVal + text[0];
                    finalVal = finalVal + text[1];
                }

                if (text[2] > 5) {
                    finalVal = finalVal + ":5";
                } else {
                    finalVal = finalVal + ":" + text[2];
                }
            } else if (text.length == 4) {
                finalVal = "";
                if (text[0] > 2) {
                    finalVal = finalVal + "2";
                    if (text[1] > 3) {
                        finalVal = finalVal + "3";
                    } else {
                        finalVal = finalVal + text[1];
                    }
                } else {
                    finalVal = finalVal + text[0];
                    finalVal = finalVal + text[1];
                }

                if (text[2] > 5) {
                    finalVal = finalVal + ":5";
                } else {
                    finalVal = finalVal + ":" + text[2];
                }
                finalVal = finalVal + text[3];
            }
            input.val(finalVal);
        });


        $(document).on("focusout", ".hourMinFormat", function () {
            var val = $(this).val();
            console.log(val);
            var hourMinRex = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
            if (val != "" && val.length > 0) {
                if (val.match(hourMinRex) == null) {
                    val = "";
                }
            }
            $(this).val(val);
        });

        //$(document).on("input propertychange", ".overtime ", function(event) {
        //    var input = $(this),
        //        text = input.val().replace(/[^0-9]/g, "");
        //    text = text.replace(/\:/, '');

        //    var finalVal = text;

        //    if (text.length == 1) {
        //        if (text > 2) {
        //            finalVal = "2";
        //        }
        //    } else if (text.length == 2) {
        //        if (text > 23) {
        //            finalVal = "23:";
        //        } else {
        //            finalVal = text + ":";
        //        }
        //    } else if (text.length == 3) {
        //        finalVal = "";
        //        if (text[0] > 2) {
        //            finalVal = finalVal + "2";
        //        } else {
        //            finalVal = finalVal + text[0];
        //        }

        //        if (text[1] > 3) {
        //            finalVal = finalVal + "3";
        //        } else {
        //            finalVal = finalVal + text[1];
        //        }


        //        if (text[2] > 5) {
        //            finalVal = finalVal + ":5";
        //        } else {
        //            finalVal = finalVal + ":" + text[2];
        //        }


        //    } else if (text.length == 4) {
        //        finalVal = "";
        //        if (text[0] > 2) {
        //            finalVal = finalVal + "2";
        //        } else {
        //            finalVal = finalVal + text[0];
        //        }

        //        if (text[1] > 3) {
        //            finalVal = finalVal + "3";
        //        } else {
        //            finalVal = finalVal + text[1];
        //        }


        //        if (text[2] > 5) {
        //            finalVal = finalVal + ":5";
        //        } else {
        //            finalVal = finalVal + ":" + text[2];
        //        }
        //        finalVal = finalVal + text[3];


        //    }
        //    input.val(finalVal);
        //});

        $(document).on("click", "#Update", function(event) {
            var date = $("#Date").val();
            var pinList = $("#PinList").val();


            var dataArray = [];
           
            

            $(".overtime").each(function() {
                var $this = $(this);
                if ($this.val()!="") {
                    var obj = {};
                    obj["OverTime"] = "2000-01-01 " + $this.val();
                    obj["Pin"] = $this.parent().find(".pin").val();
                    dataArray.push(obj);
                }
            });

            if (dataArray.length>0) {
                var data = JSON.stringify({ "Date": date, "PinList": pinList, "OverTimeList": dataArray });
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Hr/OverTime/OverTimeSaveByMentor",
                    cache: false,
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: data,
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "s",
                                displayTime: 5000
                            });

                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                        //$("body, html").animate({
                        //    scrollTop: $("body").offset().top
                        //}, 600);
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }
            //var fullValues = "";
            //var halfValues = "";
            //var noValues = "";
            //var a = [];
            //var b = [];
            //var c = [];


            //$(".full:checked").each(function () {
            //    a.push(this.value);
            //});
            //fullValues = a.join(', ');

            //$(".half:checked").each(function () {
            //    b.push(this.value);
            //});
            //halfValues = b.join(', ');

            //$(".no:checked").each(function () {
            //    c.push(this.value);
            //});
            //noValues = c.join(', ');


            //console.log(date);
            //console.log(pinList);
            //console.log(fullValues);
            //console.log(halfValues);
            //console.log(noValues);

            //$.ajax({
            //    type: "post",
            //    url: $("body").attr("data-project-root") + "Hr/NightWork/NightWorkSaveByMentor",
            //    cache: false,
            //    async: true,
            //    data: { "date": date, "pinList": pinList, "fullValues": fullValues, "halfValues": halfValues, "noValues": noValues },
            //    beforeSend: function () {
            //        $.blockUI({
            //            timeout: 0,
            //            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //        });
            //    },
            //    success: function (result) {
            //        $.unblockUI();
            //        console.log(result);
            //        //if (!result.hasOwnProperty("IsSuccess")) {

            //        // }
            //        if (result.IsSuccess) {
            //            $.fn.customMessage({
            //                displayMessage: result.Message,
            //                displayMessageType: "success",
            //            });
            //            $("#displayList").remove();
            //            $("#Date").val("");
            //            $("#PinList").val("");
            //        }
            //        else {
            //            $.fn.customMessage({
            //                displayMessage: result.Message,
            //                displayMessageType: "error",
            //            });
            //        }

            //    },
            //    complete: function () {
            //        $.unblockUI();

            //    },
            //    error: function (result) {
            //        $.unblockUI();
            //        console.log("Failed -----");
            //    }
            //});
        });
    </script>
}





