﻿@model UdvashERP.BusinessModel.Entity.Administration.Program
@{
    ViewBag.Title = "Add Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">Add Program</div>
    <div class="panel-body">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Organization.OrganizationReference, (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.Organization.OrganizationReference)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Program Name", @pattern = "[A-Za-z]", @title = "Enter Only Letters", @required = "required", @style = "" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ShortName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Short Name", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ShortName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Program Code", @pattern = "[0-9]", @title = "Enter Only Numbers", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.Type, "1", new { Checked = "checked" }) &nbsp; Paid &nbsp;
                        @Html.RadioButtonFor(model => model.Type, "2") &nbsp; Unpaid &nbsp;
                        @Html.RadioButtonFor(model => model.Type, "3") &nbsp; CSR &nbsp;
                    </div>
                </div>
                <div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="submit" value="Add" class="btn btn-primary" /></div></div>
            }
        </div>
    </div>
</div>
<div>@Html.ActionLink("Back to Manage", "ManageProgram")</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
