﻿@model UdvashERP.BusinessModel.Entity.Administration.ProgramBranchSession

@{
    ViewBag.Title = "Assign Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Assign Program</h3></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="organizationListGenerate">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Program.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Program.Organization.OrganizationReference, (IEnumerable<SelectListItem>)ViewBag.organization, "Select Organization", new { @class = "form-control", @required = "required", @id = "organizationId" })
                            @Html.ValidationMessageFor(model => model.Program.Organization.OrganizationReference, "", new { @class = "text-danger" })
                       <div id="omsg" style="color: red;"></div>
                         </div>
                    </div>
                </div>
                <div class="sessionListGenerate">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Session", (IEnumerable<SelectListItem>)ViewBag.sesion, "Select Session", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <div id="smsg" style="color: red;"></div>
                        </div>
                    </div>
                </div>
                <div class="programListGenerate">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Program, Enumerable.Empty<SelectListItem>(), "Select program", new { @class = "form-control", @required = "required", @id = "programId" })
                            @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                            <div id="pmsg" style="color: red;"></div>
                        </div>
                    </div>
                </div>
                <div id="admissionTypeDiv">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label for="admissionType" class="control-label col-md-2">Admission</label>
                        <div class="col-md-10">
                            @*@Html.DropDownListFor(model => model.Program, (IEnumerable<SelectListItem>)ViewBag.session, "Select program", new { @class = "form-control", @required = "required", @id = "programId" })
                                @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })*@
                            <input type="checkbox" class="admissionType" name="admissionType" value="1" />&nbsp; Office &nbsp;
                            <input type="checkbox" class="admissionType" name="admissionType" value="2" />&nbsp; Public &nbsp; 
                            <div id="atmsg" style="color: red;"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div id="branchListView" class="col-md-offset-2">

                    </div>
                    <div id="blmsg" style="color: red;"class="col-md-offset-2"></div>
                    @*<div class="inline">
                            <input class="checkbox-inline" type="checkbox" id="allchecked" />
                            <span style="">All</span>
                        </div>
                        <div class="col-md-10" id="checkbox">

                            @foreach (var program in @ViewBag.program)
                            {
                                if (program.Selected)
                                {
                                    <div class="inline">
                                        <input class="checkbox-inline" type="checkbox" id="@program.Text" checked />
                                        <span style="size: portrait"> @program.Value</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="inline">
                                        <input class="checkbox-inline" type="checkbox" id="@program.Text" />
                                        <span style="size: portrait"> @program.Value</span>
                                    </div>
                                }

                            }
                        </div>*@
                </div>
                
                <div id="studentExam">
                    <div class="form-group">
                        <label for="admissionType" class="control-label col-md-2">Board Info</label>
                        <div class="col-md-10">
                            @{
                                var studentExamList = ViewBag.studentExamList;

                                foreach (var se in studentExamList)
                                {
                                    <input type="checkbox" class="studentExaminfo" id="studentExaminfo-@se.Id" name="boardinfo" value="@se.Id" />
                                    <span>&nbsp; @se.Name &nbsp;</span>
                                }
                            }
                            @*<input type="checkbox" class="boardinfo" name="boardinfo" value="1" />&nbsp; Office &nbsp;
                    <input type="checkbox" class="boardinfo" name="boardinfo" value="2" />&nbsp; Public &nbsp;
                    <div id="atmsg" style="color: red;"></div>*@
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="programAssign" type="button" value="Assign" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to Manage", "ManageProgram")
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Administration/Program/ProgramAssign.js"></script>*@
    <script>
        function loadBranchesByProgramSessionOrganization() {
            var organizatonId = $("#organizationId").val();
            var programId = null;
            var sessionId = null;
            if ($("#Session").val() != "") {
                sessionId = $("#Session").val();
            }
            if ($("#programId").val() != "") {
                programId = $("#programId").val();
            }
            var selectedAdmissionTypeList = [];
            $('#admissionTypeDiv input:checked').each(function() {
                selectedAdmissionTypeList.push($(this).val());
            });

            $("#branchListView").load("LoadBranchList", { organizatonId: organizatonId, sessionId: sessionId, programId: programId, admissionType: selectedAdmissionTypeList, viewName: "_BranchListPartialView" });
        }

        function loadProgramBoardSession() {

            if ($("#Session").val() != "" && $("#programId").val() != "") {
                var programId = $("#programId").val();
                var sessionId = $("#Session").val();

                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Program/LoadProgramBoardSession",
                    cache: false,
                    async: true,
                    data: { programId: programId, sessionId: sessionId },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $(".studentExaminfo").prop('checked', false);
                            $.each(result.progamStudentExamSessionSelectList, function (i, v) {
                                var id = "studentExaminfo-" + v.Value;
                                $("#" + id).prop('checked', true);
                                //    $('#Campus').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: result.Message,
                                displayMessageType: "error",
                            });
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                    }
                });
            }

        }
        $(document).ready(function() {
            if ($(".branchclass").prop('checked') == true) {
                $("#blmsg").text("");
            }
            //organization onchange

            $("#organizationId").change(function () {
                $(".studentExaminfo").prop('checked', false);
                $(".admissionType").prop('checked', false);
                var organizationId = $(this).val();
                if (organizationId != "") {
                    $("#omsg").text("");
                }
                $("#programId option").remove();
                if (organizationId != "") {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizationId},
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            if (response.IsSuccess) {
                                //load programs
                                $('#programId').append('<option value="">Select Program</option>');
                                if (response.returnProgramList != null && response.returnProgramList.length > 0) {
                                    $.each(response.returnProgramList, function (i, v) {
                                        $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    $("#programId").find('option:eq(0)').prop('selected', true);
                                }
                                $("#branchListView").load("LoadBranchList", { organizatonId: organizationId, viewName: "_BranchListPartialView" });
                            }
                            $.unblockUI();
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                // alert("Session load failed");
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                                $('.customMessage').append(errorMessage);
                                //console.log("Failed -----");
                                // console.log(response);
                            }
                    });
                    $("#branchListView").show();
                } else {
                    $("#branchListView").hide();
                    $('#programId').append('<option value="">Select Program</option>');
                }
            });

            //session onchange
            $("#Session").change(function () {
                $(".studentExaminfo").prop('checked', false);
                $(".admissionType").prop('checked', false);
                if ($("#programId").val() != "" && $("#programId").val() > 0) {
                    loadBranchesByProgramSessionOrganization();
                }

                if ($(this).val() == "") {
                    $('#branchListView input:checkbox').each(function() {
                        $(this).prop("checked", false);
                    });
                } else {
                    $("#smsg").text("");
                }
                loadProgramBoardSession();
            });
            //program onchange
            $("#programId").change(function () {
                $(".studentExaminfo").prop('checked', false);
                $(".admissionType").prop('checked', false);
                loadBranchesByProgramSessionOrganization();
                if ($(this).val() != "") {
                    $("#pmsg").text("");
                }
                loadProgramBoardSession();
            });
            //admission type onchange
            $(".admissionType").change(function() {
                var selectedAdmissionTypeList = [];
                $('#admissionTypeDiv input:checked').each(function() {
                    selectedAdmissionTypeList.push($(this).val());
                });
                if (selectedAdmissionTypeList.length > 0) {
                    $("#atmsg").text("");
                }

                loadBranchesByProgramSessionOrganization();
                var selectedBranches = [];
                $('#branchListView input:checked').each(function() {
                    selectedBranches.push($(this).val());
                });
                if (selectedBranches.length > 0) {
                    $("#blmsg").text("");
                }
            });
            //var uncheckedBranch = [];
            //branch onchange
            $(document).on('change', ".branchclass", function() {
                var selectedBranches = [];
                $('#branchListView input:checked').each(function() {
                    selectedBranches.push($(this).val());
                });
                if (selectedBranches.length > 0) {
                    $("#blmsg").text("");
                }

            });

            var selectedBranchList = [];
            $('#branchListView input:checked').each(function() {
                selectedBranchList.push($(this).val());
            });
            //onsubmit
            $(document).on('click', '#programAssign', function() {
                var success = true;
                var organizedId = $("#organizationId").val();
                var sessionId = $("#Session").val();
                var programId = $("#programId").val();
                var selectedBranchList = [];
                $('#branchListView input:checked').each(function() {
                    selectedBranchList.push($(this).val());
                });
                var selectedAdmissionTypeList = [];
                $('#admissionTypeDiv input:checked').each(function() {
                    selectedAdmissionTypeList.push($(this).val());
                });
                var selectedStudentExamList = []; 
                $('#studentExam input:checked').each(function () {
                    selectedStudentExamList.push($(this).val());
                });

                //if (selectedBranchList.length < 1) {
                //    $("#blmsg").text("");
                //    $("#blmsg").append("<p>Branch is required.</p>");
                //    success = false;
                //}
                //if (selectedAdmissionTypeList.length < 1) {
                //    $("#atmsg").text("");
                //    $("#atmsg").append("<p>Admission Type is required.</p>");
                //    success = false;
                //}
                if (organizedId == "") {
                    $("#omsg").text("");
                    $("#omsg").append("<p>Organization is required.</p>");
                    success = false;
                }
                if (sessionId == "") {
                    $("#smsg").text("");
                    $("#smsg").append("<p>Session is required.</p>");
                    success = false;
                }
                if (programId == "") {
                    $("#pmsg").text("");
                    $("#pmsg").append("<p>Program is required.</p>");
                    success = false;
                }
                var selected = [];
                $('#branchListView input:checkbox').each(function() {
                    selected.push($(this).attr('name'));
                });
                if (selected.length < 1) {
                    $("#blmsg").text("");
                }
                //else if (selectedBranchList.length <= 0) {
                //    if (organizedId != "") {
                //        // $("#blmsg").text("Please select atleast one Branch.");
                //        $.fn.customMessage({
                //            displayMessage: "Please select at least one Branch.",
                //            displayMessageType: "e",
                //        });
                //    }
                //    success = false;
                //}
                if (success == true) {
                    $.ajax({
                        url: "/Administration/Program/AssignProgramPost",
                        type: "POST",
                        cache: false,
                        async: true,
                        data: { organizedId: organizedId, programId: programId, sessionId: sessionId, selectedBranchList: selectedBranchList, selectedAdmissionTypeList: selectedAdmissionTypeList, selectedStudentExamList: selectedStudentExamList },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            console.log(result);
                            var successmsg = "";
                            var errormsg = "";
                            var infomsg = "";
                            // console.log(result.length);
                            if (result != null) {
                                if (result.messageList != null && result.messageList.length > 0) {
                                    for (var i = 0; i < result.messageList.length; i++) {
                                        if (result.messageList[i].SuccessMessage != null) {
                                            successmsg += result.messageList[i].SuccessMessage + '<br>';
                                            continue;
                                        }
                                        if (result.messageList[i].ErrorMessage != null) {
                                            errormsg += result.messageList[i].ErrorMessage + '<br>';
                                            continue;
                                        }
                                        if (result.messageList[i].InfoMessage != null) {
                                            infomsg += result.messageList[i].InfoMessage + '<br>';
                                            continue;
                                        }
                                    }
                                    if (successmsg != "") {
                                        $.fn.customMessage({
                                            displayMessage: successmsg,
                                            displayMessageType: "s",
                                        });
                                    }
                                    if (errormsg != "") {
                                        $.fn.customMessage({
                                            displayMessage: errormsg,
                                            displayMessageType: "e",
                                        });
                                    }
                                    if (infomsg != "") {
                                        $.fn.customMessage({
                                            displayMessage: infomsg,
                                            displayMessageType: "i",
                                        });
                                    }
                                    if (result.nonDeletableBranchIds != null && result.nonDeletableBranchIds.length > 0) {
                                        for (var c = 0; c < result.nonDeletableBranchIds.length; c++) {
                                            $("#branchListView input:checkbox[value='" + result.nonDeletableBranchIds[c] + "']").prop("checked", true);
                                        }
                                    }
                                }
                            }
                            $.
                                unblockUI();
                        },
                        complete:
                            function() {
                                $.unblockUI();
                            },
                    });
                }
            }
            );

        }
        );
        $(document).ajaxComplete(function() {
            if ($(".branchclass").prop('checked') == true) {
                $("#blmsg").text("");
            }
        });
    </script>
    }
