﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.Program>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>@Html.ActionLink("Add Program", "AddProgram", null, new { @class = "btn btn-primary" })</p>
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Manage Program </h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "Organization", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="Name" name="ProgramName" type="text" class="form-control " placeholder="Program Name" />
                </th>
                <th class="form-group">
                    <input id="Code" name="code" type="text" class="form-control " placeholder="Code" />
                </th>
                <th class="form-group">
                    <input id="shortName" name="shortName" type="text" class="form-control " placeholder="Short Name" />
                </th>
                <th class="form-group">
                    <select id="Type" class="form-control ">
                        <option value="">Type </option>
                        @if (ViewBag.ProgramTypeList != null)
                        {
                            foreach (KeyValuePair<String, int> programType in @ViewBag.ProgramTypeList)
                            {
                                <option value="@programType.Value">@programType.Key</option>
                            }
                        }
                    </select>
                </th>
                <th class="form-group">
                    <input id="Rank" name="rank" type="text" class="form-control " placeholder="Rank" />
                </th>
                <th class="form-group ">
                    @if (ViewBag.StatusText != null)
                    {
                        <select id="Status" class="form-control ">
                            <option value="">Status </option>
                            @if (ViewBag.StatusText != null)
                            {
                                foreach (KeyValuePair<String, int> statusType in @ViewBag.StatusText)
                                {
                                    <option value="@statusType.Value">@statusType.Key</option>
                                }
                            }
                        </select>
                    }
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Organization)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            function dataTableRender() {
                var pageSize = 10;
                if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                    pageSize = parseInt($('#PageSize').val());
                }
                else {
                    $('#PageSize').val(pageSize);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": true,
                    "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 7 ] } ] ,
                    "bLengthChange": false,
                    "iDisplayLength": pageSize,
                    order: [[5, "asc"]],
                    ajax: {
                        url: 'ProgramList',
                        type: 'POST',
                        data: function (d) {
                            d.organization = $('#Organization').val();
                            d.programName = $('#Name').val();
                            d.code = $('#Code').val();
                            d.shortName = $('#shortName').val();
                            d.type = $('#Type').val();
                            d.status = $('#Status').val();
                            d.rank = $('#Rank').val();
                        }
                    }
                });
            }
            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });

            $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
                var id = $(this).attr("id");
                var current = $(this).parent().text().trim();
                var action = $(this).attr("data-action");
                //glyphicon glyphicon-arrow-up
                $.ajax({
                    type: "post",
                    url: $("body").attr("data-project-root") + "Administration/Program/RankChange",
                    cache: false,
                    async: true,
                    data: { "id": id, "current": current, "action": action },
                    success: function (result) {
                        dataTableRender();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });

            });
            $(document).on("click", ".glyphicon-trash", function () {
                var SUCCESS_MESS = "Program Delete Successfully";
                var AJAX_ERROR = "Slow Internet Connection";

                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Program?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Administration/Program/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function () {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function (result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: SUCCESS_MESS,
                                            displayMessageType: "s",
                                        });
                                        dataTableRender();
                                    }
                                    else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "e"

                                        });
                                    }
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (result) {
                                    $.fn.customMessage({
                                        displayMessage: AJAX_ERROR,
                                        displayMessageType: "error",
                                        displayTime: 5000
                                    });
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

        });
    </script>

}
