﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@using Microsoft.Ajax.Utilities
@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.PreviousStudentAdmissionReportViewModel
@{
    ViewBag.Title = "Previous Student Admission Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Previous Student Admission Info
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GeneratePreviousStudentAdmissionReport", "PreviousStudentAdmission", FormMethod.Post, new { id = "SubmitForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @*<h4>MaterialFilterView</h4>
                    <hr />*@
                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="col-md-12">
                    <div class="col-md-6"><strong>From</strong></div>
                    <div class="col-md-5" style="margin-left: 25px;"><strong>To</strong></div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationFromId, (SelectList)ViewBag.OrganizationId, "Select Organization", htmlAttributes: new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.OrganizationFromId, "", new { @class = "text-danger" })*@
                    </div>

                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationToId, (SelectList)ViewBag.OrganizationId, "Select Organization", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.OrganizationToId, "", new { @class = "text-danger" })*@
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.ProgramFromId, Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.ProgramFromId, "", new { @class = "text-danger" })*@
                    </div>
                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.ProgramToId, Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.ProgramToId, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionFromId, Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.SessionFromId, "", new { @class = "text-danger" })*@
                    </div>
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.SessionToId, Enumerable.Empty<SelectListItem>(), "Select Session", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.SessionToId, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.BranchFromId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.BranchFromId, "", new { @class = "text-danger" })*@
                    </div>
                    @Html.Label("Branch", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.BranchToId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.BranchToId, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("StudentType", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.StudentType, (SelectList)ViewBag.studentType, "Select Student Type", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.StudentType, "", new { @class = "text-danger" })*@
                    </div>
                    <label class="control-label col-md-2">Student Count</label>
                    <div class="col-md-4">
                        <input class="form-control" name="studentCount" id="studentCount" value="..." style="margin-top: 2px;font-size: 14px;color:blue;text-align: center " disabled="" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4">
                        <div class="col-md-4 text-center">
                            <input type="button" class="form-control btn btn-primary" id="studentCountButton" value="Count" style="margin-top: 2px;font-size: 14px;text-align: center " />
                        </div>
                        <div class="col-md-4 text-center">
                            <input type="button" class="form-control btn btn-primary" id="summaryBtn" value="Summary View" style="margin-top: 2px;font-size: 14px;text-align: center " />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10" style="text-align:center; font-weight:bold;">
                        <h4>Select Information to View</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        @Html.ListBoxFor(m => m.InformationViewList, (SelectList)ViewBag.InformationViewList, new { @class = "form-control", @Multiple = "multiple", @id = "informationViewList" })
                        @*@Html.ValidationMessageFor(model => model.InformationViewList, "", new { @class = "text-danger" })*@
                    </div>

                </div>


                @*<div class="row" style="padding-left: 80px">
                        <div class="col-md-12">
                            @Html.ListBoxFor(m => m.InformationViewList, (SelectList)ViewBag.studentType, new { @class = "form-control", @Multiple = "multiple", @id = "informationViewList" })
                            @Html.ValidationMessageFor(model => model.StudentType, "", new { @class = "text-danger" })
                             @*<select name="InformationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                                <option value="Program Roll">Program Roll</option>
                                <option value="Student's Name">Student's Name</option>
                                <option value="Nick Name">Nick Name</option>
                                <option value="Mobile Number (Student)">Mobile Number (Student)</option>
                                <option value="Mobile Number (Father)">Mobile Number (Father)</option>
                                <option value="Mobile Number (Mother)">Mobile Number (Mother)</option>
                                <option value="Father's Name">Father's Name</option>
                                <option value="Institute Name">Institute Name</option>
                                <option value="Email">Email</option>
                                <option value="Branch">Branch</option>
                                <option value="Batch">Batch</option>
                                <option value="Version of Study">Version of Study</option>
                                <option value="Gender">Gender</option>
                                <option value="Religion">Religion</option>
                            </select>
                        </div>
                    </div>*@
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" id="sub" value="Generate" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {

            $('#summaryBtn').click(function (e) {
                var success = true;
                var count = 0;
                $('select').each(function () {
                    if ($(this).attr('id') == "bootstrap-duallistbox-nonselected-list_InformationViewList" || $(this).attr('id') == "informationViewList" || $(this).attr('id') == "bootstrap-duallistbox-selected-list_InformationViewList") {
                    } else {
                        count++;
                        var message = "";
                        if ($(this).val() == "" || $(this).val() == null) {
                            message = $(this).attr('id').replace("Id", "").replace("From", "").replace("To", "").capitalize() + " is required.";
                            $(this).parent().find(".errmsg").remove();
                            $(this).parent().append('<div class="errmsg" style="color:red;">' + message + '</div>');
                            success = false;
                        }
                    }
                });
                //alert(count);
                var organizationIdFrom = $("#OrganizationFromId").val();
                var organizationIdTo = $("#OrganizationToId").val();
                var programIdFrom = $("#ProgramFromId").val();
                var programIdTo = $("#ProgramToId").val();
                var sessionIdFrom = $("#SessionFromId").val();
                var sessionIdTo = $("#SessionToId").val();
                if (organizationIdFrom != "" && programIdFrom != "" && sessionIdFrom != "") {
                    if (organizationIdFrom == organizationIdTo && programIdFrom == programIdTo && sessionIdFrom == sessionIdTo) {
                        success = false;
                        $.fn.customMessage({
                            displayMessage: "Comparision between same organization, program and session is invalid.",
                            displayMessageType: "e",
                        });
                    }
                }
                if (success == true) {
                   // var form = $('#SubmitForm').attr('action');
                    var ss = $('#SubmitForm').attr('action', '/Student/PreviousStudentAdmission/PreviousStudentAdmissionSummaryReport');
                    console.log(ss);
                    //console.log(success);
                    $("#SubmitForm").submit();
                    return true;

                } else {
                    e.preventDefault();
                    return false;
                }


                //alert(form);

            });


            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            }).change(function () {
                if ($(this).val() != null) {
                    $(this).parent().find(".errmsg").remove();
                } else {
                    $(this).parent().find(".errmsg").remove();
                    $(this).parent().append('<div class="errmsg" style="color:red;"> Information is required. </div>');
                }
            });
        });
        String.prototype.capitalize = function () {
            return this.charAt(0).toUpperCase() + this.slice(1);
        };

        $('select').change(function () {
            var message = "";
            if ($(this).val() == "" || $(this).val() == null) {
                if ($(this).attr('id') == "informationViewList") {
                    message = "Information is required.";
                } else {
                    message = $(this).attr('id').replace("Id", "").replace("From", "").replace("To", "").capitalize() + " is required.";
                }

                $(this).parent().find(".errmsg").remove();
                $(this).parent().append('<div class="errmsg" style="color:red;">' + message + '</div>');
            } else {
                $(this).parent().find('.errmsg').remove();
            }


        });
        $("#sub").click(function (e) {
            var success = true;
            $('select').each(function () {
                if ($(this).attr('id') != "bootstrap-duallistbox-nonselected-list_InformationViewList" && $(this).attr('id') != "bootstrap-duallistbox-selected-list_InformationViewList") {
                    var message = "";
                    if ($(this).val() == "" || $(this).val() == null) {
                        if ($(this).attr('id') == "informationViewList") {
                            message = "Information is required.";
                        } else {
                            message = $(this).attr('id').replace("Id", "").replace("From", "").replace("To", "").capitalize() + " is required.";
                        }
                        $(this).parent().find(".errmsg").remove();
                        $(this).parent().append('<div class="errmsg" style="color:red;">' + message + '</div>');
                        success = false;
                    }
                }


            });
            //if ($('#informationViewList').val() == null) {
            //    $('.infoerrmsg').remove();
            //    $("#sub").before('<div class="infoerrmsg" style="color:red;">Select Information</div>');
            //    success = false;
            //}
            var organizationIdFrom = $("#OrganizationFromId").val();
            var organizationIdTo = $("#OrganizationToId").val();
            var programIdFrom = $("#ProgramFromId").val();
            var programIdTo = $("#ProgramToId").val();
            var sessionIdFrom = $("#SessionFromId").val();
            var sessionIdTo = $("#SessionToId").val();
            if (organizationIdFrom != "" && programIdFrom != "" && sessionIdFrom != "") {
                if (organizationIdFrom == organizationIdTo && programIdFrom == programIdTo && sessionIdFrom == sessionIdTo) {
                    success = false;
                    $.fn.customMessage({
                        displayMessage: "Comparision between same organization, program and session is invalid.",
                        displayMessageType: "e",
                    });
                }
            }

            if (success == true) {
                console.log(success);
                $("#SubmitForm").submit();
                return true;

            } else {
                e.preventDefault();
                return false;
            }

        });
        $("#StudentType").change(function () {
            $("#studentCount").val("...");
        });

        $("#OrganizationFromId").change(function () {
            $("#studentCount").val("...");
            var organizationId = $(this).val();
            $("#ProgramFromId option").remove();
            $("#BranchFromId option").remove();
            $('#SessionFromId').empty();
            $('#SessionFromId').append("<option value=''>Select Session</option>");
            // $('#BranchFromId').append("<option value=''>Select Branch</option>");
            if (organizationId != "") {
                $.ajax({
                    @*url: '@Url.Action("GetProgramByOrg", "PreviousStudentAdmission")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",

                    type: "POST",
                    //data: { "organizatonId": organizatonId,isAuthorized:true },
                    data: { organizationIds: organizationId, isAuthorized: true },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            //load programs
                            //$('#ProgramFromId').append('<option value="">Select Program</option>');
                            //if (response.programList != null && response.programList.length > 0) {
                            //    $.each(response.programList, function(i, v) {
                            //        $('#ProgramFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                            //    });

                            //    $("#ProgramFromId").find('option:eq(0)').prop('selected', true);
                            //}
                            //$("#ProgramFromId").find('option:eq(0)').prop('selected', true);
                            $('#ProgramFromId').append('<option value="">Select a program</option>');
                            $.each(response.returnProgramList, function (i, v) {
                                $('#ProgramFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error:
                        function (response) {
                            // alert("Session load failed");
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                            $('.customMessage').append(errorMessage);
                            //console.log("Failed -----");
                            // console.log(response);
                        }
                });

            } else {

                $('#ProgramFromId').append('<option value="">Select Program</option>');
            }
        });
        $("#ProgramFromId").change(function () {
            $("#studentCount").val("...");
            //remove all dependant dropdownlist & selection option
            $("#BranchFromId option").remove();
            $('#SessionFromId').empty();
            $('#SessionFromId').append("<option value=''>Select Session</option>");
            // $('#BranchFromId').append("<option value=''>Select Branch</option>");
            var organizationId = $("#OrganizationFromId").val();
            var programId = $('#ProgramFromId').val();
            if (organizationId != null && organizationId != "" && programId != null && programId != "") {
                $.ajax({
                    type: "POST",
                    @*url: '@Url.Action("GetSession", "PreviousStudentAdmission")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",

                    cache: false,
                    async: true,
                    //data: { programId: programId ,isAuthorized:true},
                    data: { organizationIds: organizationId, programIds: programId, isAuthorized: true },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        //$("#SessionFromId").html(response);
                        //console.log("Success -----");
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function (i, v) {
                                $('#SessionFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                    },
                    error: function (response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        // console.log(result);
                    }
                });
            }

        });

        $("#SessionFromId").change(function () {
            $("#studentCount").val("...");
            //remove all dependant dropdownlist & selection option
            $("#BranchFromId option").remove();
            //$('#BranchFromId').append("<option value='0'>All</option>");
            var programId = $("#ProgramFromId").val();
            var sessionId = $("#SessionFromId").val();
            var organizationId = $("#OrganizationFromId").val();
            if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "") {
                //Load Branch List
                $.ajax({
                    type: "post",
                    @*url: '@Url.Action("GetBranch", "PreviousStudentAdmission")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",

                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, organizationId: organizationId ,isAuthorized:true},
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            //$.each(response.branchList, function(i, v) {
                            //    $('#BranchFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                            //});
                            ///// $("#SelectedBranch").find('option:eq(0)').prop('selected', true);
                            //console.log("Success -----");
                            $('#BranchFromId').append('<option value="0">All Branch</option>');
                            $.each(response.returnBranchList, function (i, v) {
                                $('#BranchFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            console.log("Error -----");
                            // console.log(response);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(response);
                    },
                    error: function (response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(response);
                    }
                });
            }

        });
        $("#OrganizationToId").change(function () {
            $("#studentCount").val("...");
            var organizationId = $(this).val();
            $("#ProgramToId option").remove();
            $("#BranchToId option").remove();
            $('#SessionToId').empty();
            $('#SessionToId').append("<option value=''>Select Session</option>");
            // $('#BranchToId').append("<option value=''>Select Branch</option>");
            if (organizationId != "") {
                $.ajax({
                    @*url: '@Url.Action("GetProgramByOrg", "PreviousStudentAdmission")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",

                    type: "POST",
                    //data: { "organizatonId": organizatonId },
                    data: { organizationIds: organizationId, isAuthorized: false },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        if (response.IsSuccess) {
                            //load programs
                            //$('#ProgramToId').append('<option value="">Select Program</option>');
                            //if (response.programList != null && response.programList.length > 0) {
                            //    $.each(response.programList, function(i, v) {
                            //        $('#ProgramToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            //    });

                            //    $("#ProgramToId").find('option:eq(0)').prop('selected', true);
                            //}
                            //$("#ProgramToId").find('option:eq(0)').prop('selected', true);
                            $('#ProgramToId').append('<option value="">Select a program</option>');
                            $.each(response.returnProgramList, function (i, v) {
                                $('#ProgramToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                        }
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error:
                        function (response) {
                            // alert("Session load failed");
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                            $('.customMessage').append(errorMessage);
                            //console.log("Failed -----");
                            // console.log(response);
                        }
                });

            } else {

                $('#ProgramToId').append('<option value="">Select Program</option>');
            }
        });
        $("#ProgramToId").change(function () {
            $("#studentCount").val("...");
            //remove all dependant dropdownlist & selection option
            $("#BranchToId option").remove();
            $('#SessionToId').empty();
            $('#SessionToId').append("<option value=''>Select Session</option>");
            //$('#BranchToId').append("<option value=''>Select Branch</option>");
            var organizationId = $("#OrganizationToId").val();
            var programId = $('#ProgramToId').val();
            if (organizationId != null && organizationId != "" && programId != null && programId != "") {
                $.ajax({
                    type: "POST",
                    @*url: '@Url.Action("GetSession", "PreviousStudentAdmission")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",

                    cache: false,
                    async: true,
                    //data: { programId: programId },
                    data: { organizationIds: organizationId, programIds: programId, isAuthorized: false },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        //$("#SessionToId").html(response);
                        //console.log("Success -----");
                        if (response.IsSuccess) {

                            $.each(response.returnSessionList, function (i, v) {
                                $('#SessionToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                    },
                    error: function (response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        // console.log(result);
                    }
                });
            }

        });

        $("#SessionToId").change(function () {
            $("#studentCount").val("...");
            //remove all dependant dropdownlist & selection option
            $("#BranchToId option").remove();
            //$('#BranchToId').append("<option value='0'>All</option>");
            var programId = $("#ProgramToId").val();
            var sessionId = $("#SessionToId").val();
            var organizationId = $("#OrganizationToId").val();
            if (programId != null && programId != "" && sessionId != null && sessionId != "") {
                //Load Branch List
                $.ajax({
                    type: "post",
                    @*url: '@Url.Action("GetBranch", "PreviousStudentAdmission")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",

                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, organizationId: organizationId },
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: false },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            //$.each(response.branchList, function(i, v) {
                            //    $('#BranchToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            //});
                            ///// $("#SelectedBranch").find('option:eq(0)').prop('selected', true);
                            //console.log("Success -----");
                            $('#BranchToId').append('<option value="0">All Branch</option>');
                            $.each(response.returnBranchList, function (i, v) {
                                $('#BranchToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            console.log("Error -----");
                            // console.log(response);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(response);
                    },
                    error: function (response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(response);
                    }
                });
            }

        });
        $("#BranchFromId, #BranchToId").change(function () {
            $("#studentCount").val("...");
        });
        $(document).on('click', '#studentCountButton', function () {
            var success = true;
            $('select').each(function () {
                var message = "";
                if ($(this).val() == "" || $(this).val() == null) {
                    //console.log($(this).attr('id'));
                    if ($(this).attr('id') != "bootstrap-duallistbox-nonselected-list_InformationViewList" && $(this).attr('id') != "bootstrap-duallistbox-selected-list_InformationViewList" && $(this).attr('id') != "informationViewList") {
                        message = $(this).attr('id').replace("Id", "").replace("From", "").replace("To", "").capitalize() + " is required.";
                        success = false;
                    }
                    $(this).parent().find(".errmsg").remove();
                    $(this).parent().append('<div class="errmsg" style="color:red;">' + message + '</div>');

                }


            });
            var programFromId = $('#ProgramFromId').val();
            var sessionFromId = $('#SessionFromId').val();
            var branchFromId = $('#BranchFromId').val();
            var programToId = $('#ProgramToId').val();
            var sessionToId = $('#SessionToId').val();
            var branchToId = $('#BranchToId').val();
            var studentType = $('#StudentType').val();
            var organizationIdFrom = $("#OrganizationFromId").val();
            var organizationIdTo = $("#OrganizationToId").val();

            console.log(success);
            if (programFromId != "" && sessionFromId != "" && branchFromId != "" && programToId != "" && sessionToId != "" && branchToId != "" && studentType != "" && success) {
                console.log('clicked');
                if (organizationIdFrom == organizationIdTo && programFromId == programToId && sessionFromId == sessionToId) {
                    $("#studentCount").val("0");
                } else {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("GetStudentsCountForPreviousStudentReport", "PreviousStudentAdmission")',
                        cache: false,
                        async: true,
                        data: { programIdFrom: programFromId, sessionIdFrom: sessionFromId, branchIdFrom: branchFromId, programIdTo: programToId, sessionIdTo: sessionToId, branchIdTo: branchToId, studentType: studentType },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {

                            $.unblockUI();
                            if (response.isSuccess != false) {
                                console.log("response:" + response);
                                $("#studentCount").val("");
                                $("#studentCount").val(response.studentCount);
                            } else {
                                $("#studentCount").val("");
                                console.log("Error -----");
                                // console.log(response);
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            //console.log(response);
                        },
                        error: function (response) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(response);
                        }
                    });
                }
            }
        });
    </script>
}
