﻿@model UdvashERP.BusinessModel.ViewModel.Hr.LeaveApplicationViewModel

@{
    ViewBag.Title = "LeaveApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leave Application</h2>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#la" aria-controls="la" role="tab" data-toggle="tab">Apply For Leave</a></li>
        <li role="presentation"><a href="#rla" aria-controls="rla" role="tab" data-toggle="tab">Recent Application</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="la">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Apply For Leave</h3></div>
                <div class="panel-body">
                    @using (Html.BeginForm("LeaveApplication", "LeaveSetting", new { @HrLeave = "HrLeave" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.HrLeave, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("HrLeave", (IEnumerable<SelectListItem>)ViewBag.LeaveType, "Select a LeaveType", new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.HrLeave, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">

                                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control form_datetime1 ", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control form_datetime2 ", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LeaveNote, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.LeaveNote, 5, 15, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LeaveNote, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ResponsibleMemberPin, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ResponsibleMemberPin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ResponsibleMemberPin, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.ResponsibleMemberName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ResponsibleMemberName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ResponsibleMemberName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="rla">...</div>

    </div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {
            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
            $('.form_datetime2').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            });
        });
    </script>
}



