﻿@using UdvashERP.BusinessRules
@using UdvashERP.Services.Helper
@model UdvashERP.BusinessModel.Entity.Hr.Leave
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "LeaveSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Leave Setting</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.Organization, "Select Organization", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                </div>
                @Html.Label("Leave Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Leave Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("IsPublic", (IEnumerable<SelectListItem>)LeaveSettingHelper.GetPublicOrPrivateLeaveType(), "Select is Public", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.PayType, htmlAttributes: new { @class = "control-label col-md-2 isPublicSelection-Hide" })
                <div class="col-md-4 isPublicSelection-Hide">
                    @Html.DropDownList("PayType", (IEnumerable<SelectListItem>)LeaveSettingHelper.GetPayType(), "Select PayType", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.PayType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="withPaySelection-hide isPublicSelection-Hide">
                <div class="form-group">
                    @Html.LabelFor(model => model.RepeatType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("RepeatType", (IEnumerable<SelectListItem>)LeaveSettingHelper.RepeatType(), "Select Type", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.RepeatType, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.NoOfDays, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoOfDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Days", @type="text" } })
                        @Html.ValidationMessageFor(model => model.NoOfDays, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("StartFrom", (IEnumerable<SelectListItem>)LeaveSettingHelper.StartingFrom(), "Select Starting", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.StartFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <!-- Checkbox-->
            <div class="form-group withPaySelection-hide isPublicSelection-Hide">
                <div class="col-md-12">
                    <label class="control-label col-md-2"> Gender</label>
                    <label class="checkbox-inline">
                        <input class="" type="checkbox" id="chk-gender-both" value="@Gender.Combined"> Both
                    </label>
                    <label class="checkbox-inline">
                        <input class="chk-gender" type="checkbox" id="inlineCheckbox1" value="@Gender.Male"> Male
                    </label>
                    <label class="checkbox-inline">
                        <input class="chk-gender" type="checkbox" id="inlineCheckbox2" value="@Gender.Female"> Female
                    </label>
                </div>
                <label class="col-md-6 col-md-offset-2" id="Err-Gender" style="color: red;display: none"> Please Select Gender</label>
            </div>

            <div class="withPaySelection-hide isPublicSelection-Hide">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Employeement Type</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chk-employee-status" value="option1"> All
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-status" type="checkbox" id="inlineCheckbox2" value="@MemberEmploymentStatus.Probation"> Probation
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-status" type="checkbox" id="inlineCheckbox3" value="@MemberEmploymentStatus.Permanent"> Permanent
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-status" type="checkbox" id="inlineCheckbox4" value="@MemberEmploymentStatus.PartTime"> Part-time
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-status" type="checkbox" id="inlineCheckbox5" value="@MemberEmploymentStatus.Contractual"> Contractual
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-status" type="checkbox" id="inlineCheckbox6" value="@MemberEmploymentStatus.Intern"> Intern
                        </label>

                    </div>
                    <label class="col-md-6 col-md-offset-2" id="Err-empType" style="color: red;display: none"> Please Select Employeement Type</label>
                </div>

                <div class="form-group isPublicSelection-Hide">
                    <div class="col-md-12">
                        <label class="control-label col-md-2"> Marital Status</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chk-marital-status" value="option1"> All
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-maritalstatus" type="checkbox" id="inlineCheckbox2" value="@MaritalType.Single"> Single
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-maritalstatus" type="checkbox" id="inlineCheckbox3" value="@MaritalType.Married"> Married
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-maritalstatus" type="checkbox" id="inlineCheckbox3" value="@MaritalType.Widow"> Widow
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-maritalstatus" type="checkbox" id="inlineCheckbox3" value="@MaritalType.Widower"> Widower
                        </label>
                        <label class="checkbox-inline">
                            <input class="chk-member-maritalstatus" type="checkbox" id="inlineCheckbox3" value="@MaritalType.Divorced"> Divorced
                        </label>

                    </div>
                    <label class="col-md-6 col-md-offset-2" id="Err-MaritalStatus" style="color: red;display: none"> Please Select Marital Status</label>
                </div>

                <div class="form-group isPublicSelection-Hide">
                    <label class="control-label col-md-2"> Carry Forward</label>
                    <div class="col-md-4 cf">
                        <label class="radio-inline">
                            <input class="radio-carry" type="radio" name="cf-inlineRadioOptions" id="r1" value="1"> Yes
                        </label>
                        <label class="radio-inline">
                            <input class="radio-carry" type="radio" name="cf-inlineRadioOptions" id="r2" value="0" checked="checked"> No
                        </label>
                    </div>
                    <label class="control-label col-md-2"> If yes, then Max No, of Days</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.MaxCarryDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "0", @disabled = "disabled" } })
                        <label class="col-md-6 col-md-offset-2" id="Err-Carry" style="color: red;display: none"> Max. Days Missing</label>
                    </div>
                </div>

                <div class="form-group isPublicSelection-Hide">
                    <label class="control-label col-md-2"> Taking Limit</label>
                    <div class="col-md-4 tl">
                        <label class="radio-inline">
                            <input class="radio-taking-limit" type="radio" name="tl-inlineRadioOptions" id="r_tak1" value="1"> Yes
                        </label>
                        <label class="radio-inline">
                            <input class="radio-taking-limit" type="radio" name="tl-inlineRadioOptions" id="r_tak2" value="0" checked="checked"> No
                        </label>
                    </div>
                    <label class="control-label col-md-2"> If Yes, then Max No, of Days</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.MaxTakingLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "0", @disabled = "disabled" } })
                        <label class="col-md-6 col-md-offset-2" id="Err-takinglimit" style="color: red;display: none"> Max. Days Missing</label>
                    </div>
                </div>
            </div>
            <div class="form-group isPublicSelection-Hide">
                <label class="control-label col-md-2"> Application Type</label>
                <div class="col-md-4 at">

                    <label class="radio-inline">
                        <input class="radio-app-type" type="radio" name="at-inlineRadioOptions" id="" value="1" > Pre
                    </label>
                    <label class="radio-inline">
                        <input class="radio-app-type" type="radio" name="at-inlineRadioOptions" id="" value="2"> Post
                    </label>
                </div>
                <label class="control-label col-md-2"> Days</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ApplicationDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "0", @type="text" } })
                    <label class="col-md-6 col-md-offset-2" id="Err-appDays" style="color: red;display: none"> App. Days Missing</label>
                </div>
            </div>
            <div class="withPaySelection-hide isPublicSelection-Hide">
                <div class="form-group">
                    <label class="control-label col-md-2"> Encash Ability</label>
                    <div class="col-md-4 ea">

                        <label class="radio-inline">
                            <input class="radio-encash" type="radio" name="ea-inlineRadioOptions" id="r_en1" value="1"> Yes
                        </label>
                        <label class="radio-inline">
                            <input class="radio-encash" type="radio" name="ea-inlineRadioOptions" id="r_en2" value="0" checked="checked"> No
                        </label>
                    </div>
                    <label class="control-label col-md-2"> If Yes, then Min.Reserve Days</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.MinEncashReserveDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "0", @disabled = "disabled" } })
                        <label class="col-md-6 col-md-offset-2" id="Err-reserve" style="color: red;display: none"> Min. Reserve Days Missing</label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" value="" readonly="readonly" name="EffectiveDate" id="effectiveDate" data-val-date="The field StartTime must be a date." data-val="true" class="form_datetime form-control">
                        @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" value="" readonly="readonly" name="ClosingDate" id="closingDate" data-val-date="The field StartTime must be a date." data-val="true" class="form_datetime form-control">
                        @Html.ValidationMessageFor(model => model.ClosingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button id="leaveBtn" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Hr/LeaveSetting.js"></script>
    
}
