﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.Leave>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "ManageLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Manage Leave</h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "--Organization--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
                @*<th class="form-group">
                    <a class="form-control btn btn-primary" href="/HR/LeaveSetting/LeaveSetting"> Add Leave Type</a>
                </th>*@
            </tr>
        </table>
        <br />
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Organization")
                    </th>
                    <th>
                        @Html.DisplayName("Leave Name")
                    </th>
                    <th>
                        @Html.DisplayNameFor(x=>x.NoOfDays)
                    </th>
                    <th>
                        @Html.DisplayName("Repeat")
                    </th>
                    @*<th>
                        @Html.DisplayName("Gender")
                    </th>
                    <th>
                        @Html.DisplayName("Marital Status")
                    </th>
                    <th>
                        @Html.DisplayName("Emp. Status")
                    </th>*@
                    <th>
                        @Html.DisplayName("With Pay")
                    </th>
                    <th>
                        @Html.DisplayName("Carry Forwarding")
                    </th>
                    <th>
                        @Html.DisplayName("Effective From")
                    </th>
                    <th>
                        @Html.DisplayName("Closing Date")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>
<div class="form-group">
    @using (Html.BeginForm("LeaveSetting", "LeaveSetting", FormMethod.Get))
    {
        <div class="form-actions">
            <input type="submit" value="Add Leave Type" class="btn btn-primary" />
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" class="init">

        function dataTableRender() {
            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                //stateSave: true,
                order: [[8, "Asc"]],
                ajax: {
                    url: '@Url.Action("LeaveDatatableRender", "LeaveSetting")',
                    type: 'POST',
                    data: function (d) {
                        d.organizationId = $('#Organization').val();
                    }
                }
            });
        }

        $(document).ready(function () {
            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
            });
            //by sajjad
            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> leave?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/LeaveSetting/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                success: function (result) {
                                    if (result.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Leave deleted successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    }
                                    else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                },
                                error: function (result) {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Leave Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });
            //by sajjad


        });
    </script>
}
