﻿@using System.Globalization
@using System.Web.UI.WebControls
@using UdvashERP.BusinessModel.Dto
@model UdvashERP.BusinessModel.ViewModel.Hr.DailyAllowanceBlockFormViewModel
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "Block Allowance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .reasonInput {
        width: 200px !important;
    }

    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .displayData {
        max-height: 450px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Block Allowance</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#newApplication" class="newApplicationTab" aria-controls="newApplication" role="tab" data-toggle="tab">New Application</a></li>
            <li role="presentation"><a href="#history" class="recentHistoryTab" aria-controls="history" role="tab" data-toggle="tab">Recent History</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="newApplication">
                <br />
                <div class="administrationBodyContent">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="  form-group">
                                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker form-date", @placeholder = "", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Date)
                                </div>
                                @Html.LabelFor(model => model.PinList, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PIN with space" } })
                                    @Html.ValidationMessageFor(model => model.PinList)
                                </div>
                                <div class="col-md-2 text-center">
                                    <input type="submit" value="View" class="btn btn-primary" id="view" />
                                </div>
                            </div>

                        </div>
                    }
                </div>
                <br />
                @if (ViewBag.IsShowView)
                {
                    List<DailySupportAllowanceBlockDto> list = ViewBag.DataList;
                    <div class="displayData" id="DisplayData">
                        <table id="hrBlockAllowanceTableList" class="table table-bordered table-condensed table-hover table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayName("PIN")</th>
                                    <th>@Html.DisplayName("Name")</th>
                                    <th>@Html.DisplayName("Department")</th>
                                    <th>@Html.DisplayName("Organization")</th>
                                    <th>@Html.DisplayName("Branch")</th>
                                    <th>@Html.DisplayName("Campus")</th>
                                    <th>@Html.DisplayName("Designation")</th>
                                    <th>@Html.DisplayName("Date")</th>
                                    <th>@Html.DisplayName("Time From")</th>
                                    <th>@Html.DisplayName("Time To")</th>
                                    <th>@Html.DisplayName("Action")</th>
                                    <th>@Html.DisplayName("Reason")</th>
                                </tr>
                            </thead>
                            <tbody class="text-center hrBlockAllowanceTableNew_table" id="hrBlockAllowance">
                                @foreach (var row in list)
                                {
                                    <tr class="supportAllowanceBlocktr">
                                        <td style="display: none">
                                            <input id="id" name="id" class="r_Id" type="hidden" value="@row.Id">
                                        </td>
                                        <td style="display: none">
                                            <input id="tmId" name="tmId" class="r_tmId" type="hidden" value="@row.TeamMemberId">
                                        </td>
                                        <td>@row.Pin</td>
                                        @{
                                            var idVal = row.Id;
                                            if (idVal == 0)
                                            {
                                                <td style="color: blue">@row.Name</td>
                                            }
                                            else
                                            {
                                                <td>@row.Name</td>
                                            }
                                        }
                                        <td>@row.Department</td>
                                        <td>@row.Organization</td>
                                        <td>@row.Branch</td>
                                        <td>@row.Campus</td>
                                        <td>@row.Designation</td>
                                        <td>@row.BlockingDate.ToString("MMM dd, yy")</td>
                                        <td>@row.TimeFrom</td>
                                        <td>@row.TimeTo</td>
                                        <td>
                                            @if (row.IsBlocked == false)
                                            {
                                                <input type="checkbox" name="isBlock" class="r_isBlock" value="0" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="isBlock" class="r_isBlock" checked="checked" value="1" />
                                            }
                                        </td>
                                        <td>
                                            <input type="text" class="form-control reasonInput" name="Reason" value="@row.Reason" />
                                            <label class="reason_error" style="color:red; display: none">Reason must be filled out!</label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div style="text-align: center; padding-top: 5px">
                            <div id="hrBlockAllowanceSubmitForm" class="btn btn-primary btn-sm"> Update </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel-body">
                        <table class="table table-bordered text-center" width="100%">

                            <tbody>
                                <tr>
                                    <th colspan="6">
                                        No Data Found !!!!
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                }
            </div>

            <div role="tabpanel" class="tab-pane" id="history">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).on("focus", "input.datepicker", function() {
            var today = new Date();
            var initialDate = today.getFullYear().toString() + "-" + (today.getMonth() + 1) + "-" + today.getDate().toString();
            var startDate = today.getFullYear().toString() + "-" + (1) + "-" + "01";
            var endDate = initialDate;
            $(this).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: initialDate,
                startDate: startDate,
                endDate: endDate,
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                //alert();
                if ($(".form-date").val() != "") {
                    $(".form-date").parent().find('span').remove();
                    $(".form-date").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');
                }
            });
        });

        $(document).ready(function() {

            $(document).on("input propertychange", ".reasonInput ", function (event) {
                var td = $(this).parent("td")[0];
                var rCtrl = td.getElementsByClassName("reason_error")[0];

                if (this.value == "") {
                    rCtrl.style.display = 'block';
                } else {
                    rCtrl.style.display = 'none';
                }
            });

            $(document).on("input propertychange", "#PinList ", function(event) {
                var input = $(this),
                    text = input.val().replace(/[^0-9 ]/g, "");
                input.val(text);
            });

            $(document).on("click", "#hrBlockAllowanceSubmitForm", function(e) {
                var date = $("#Date").val();
                var dataArray = [];
                var invalidList = false;
                $("#hrBlockAllowance tr").each(function() {

                    var row = [];
                    var id = $(this).find(".r_Id").val();
                    var teamMemberId = $(this).find(".r_tmId").val();
                    var reason = $(this).find(".reasonInput").val();
                    var chkCtrl = $(this).find(".r_isBlock");

                    var isBlock = 0;
                    if (chkCtrl.is(':checked')) {
                        isBlock = 1;
                    };
                    if (id == "" || teamMemberId == "" || reason == "") {
                        invalidList = true;
                        if (reason == "") {
                            $(this).find(".reasonInput").focus();
                            var ctrl = $(this).find(".reason_error");
                            ctrl[0].style.display = 'block';
                        }
                    } else {
                        row[0] = id;
                        row[1] = teamMemberId;
                        row[2] = isBlock;
                        row[3] = reason;
                        dataArray.push(row);
                    }

                });
                if (invalidList) {
                    $.fn.customMessage({
                        displayMessage: "Invalid row submitted! all required field must be filled out!",
                        displayMessageType: "e"
                    });
                    e.preventDefault();
                } else {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/DailySupportAllowanceBlock/BlockAllowanceSaveByHr",
                        cache: false,
                        async: true,
                        data: { "date": date, "dataArray": dataArray },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            console.log(result);
                            if (result.IsSuccess) {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "success",
                                });
                                $("#DisplayData").remove();
                                $("#Date").val("");
                                $("#PinList").val("");
                                //$("#hrBlockAllowance").remove();
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $('#myTabs a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                var controls = $(this).attr("aria-controls");

                if (controls == "history") {

                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Hr/DailySupportAllowanceBlock/DailyAllowanceBlockHistory",
                        cache: false,
                        async: true,
                        //  data: { "filter": "empty" },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            console.log(result);
                            if (!result.hasOwnProperty("IsSuccess")) {
                                $("#history").html(result);

                                $(document).on("focus", "input.historyDate", function() {
                                    var today = new Date();
                                    var startDate = (today.getFullYear() - 1).toString() + "-" + (1) + "-" + "01";
                                    var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                                    $(this).datetimepicker({
                                        format: "yyyy-mm-dd",
                                        autoclose: true,
                                        todayBtn: false,
                                        showMeridian: true,
                                        initialDate: today,
                                        startDate: startDate,
                                        endDate: lastDay,
                                        startView: 2,
                                        minView: 2,
                                        maxView: 4
                                    });
                                });
                                dataTableRender();
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }

                        },
                        complete: function() {
                            $.unblockUI();

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on('change', '#OrganizationId', function(e) {
                $("#CampusId option").remove();
                $("#BranchId option").remove();
                $("#DepartmentId option").remove();
                var orgId = $("#OrganizationId").val();
                if (orgId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                if (result.returnBranchList.length > 0) {
                                    $('#BranchId').append("<option value>All</option>");
                                    $.each(result.returnBranchList, function(i, v) {

                                        $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    $('#BranchId').append("<option value=''>Branch</option>");
                                }
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                            //Load Department
                            $.ajax({
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                type: "POST",
                                data: { organizationIds: orgId, isAuthorized: true },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(responses) {
                                    if (responses.IsSuccess) {

                                        if (responses.returndepartmentList.length > 0) {
                                            $('#DepartmentId').append("<option value>All</option>");
                                            $.each(responses.returndepartmentList, function(i, v) {
                                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $('#DepartmentId').append("<option value>Department</option>");
                                        }
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(responses) {
                                    $.unblockUI();
                                }
                            });
                            //End Loading Department
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

            $(document).on('change', '#BranchId', function(e) {
                $("#CampusId option").remove();

                var orgId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();
                if (orgId != "" && branchId != "") {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: orgId, branchIds: branchId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {

                                if (result.returnCampusList.length > 0) {
                                    $('#CampusId').append("<option value>All</option>");
                                    $.each(result.returnCampusList, function(i, v) {
                                        $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    $('#CampusId').append("<option value>-Campus-</option>");
                                }
                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });

        });
        $(document).on("click", "#showFormHistory", function() {

            var dateFrom = $("#dateFrom").val();
            var dateTo = $("#dateTo").val();
            if (dateFrom > dateTo) {
                $.fn.customMessage({
                    displayMessage: "From Datetime must be less than or equal to To Datetime",
                    displayMessageType: "error",
                });
            } else {
                dataTableRender();
            }
        });

        function dataTableRender() {

            var pageSize = 10;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 3
                },
                //stateSave: false,
                order: [[4, "Asc"]],
                ajax: {
                    url: '@Url.Action("LoadBlockedAllowanceHistory", "DailySupportAllowanceBlock")',
                    type: 'POST',
                    data: function(d) {
                        d.organizationId = $('#OrganizationId').val();
                        d.branchId = $('#BranchId').val();
                        d.campusId = $('#CampusId').val();
                        d.departmentId = $("#DepartmentId").val();
                        d.pin = $('#pin').val();
                        d.dateFrom = $("#dateFrom").val();
                        d.dateTo = $("#dateTo").val();
                        d.isBlock = $("#IsBlockStatus").val();
                        d.isMentor = false;
                    }
                }
            });
        }
    </script>
}
