﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Administration.MaterialType>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Manage Material Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    @using (Html.BeginForm("Create", "MaterialType", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions"><input type="submit" value="Add Material Type" class="btn btn-primary" /></div>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Manage Material Type</h3></div>
    <div class="panel-body">
    <table>
        <tr class="form-group">
            <th class="form-group">
                @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "Organization", new { @class = "form-control" })
            </th>
            <th class="form-group">
                <input id="name" name="Name" type="text" class="form-control " placeholder="Name" style="width: 100%; max-width: 100%;" />
            </th>
            <th class="form-group">
                <input id="shortName" name="ShortName" type="text" class="form-control " placeholder="Short Name" style="width: 100%; max-width: 100%;" />
            </th>
            <th class="form-group">
                <input id="rank" name="Rank" type="text" class="form-control " placeholder="Rank" />
            </th>
            <th class="form-group ">
                @if (ViewBag.STATUSTEXT != null)
                {
                    <select id="status" class="form-control">
                        <option value="">Status</option>
                        @if (ViewBag.STATUSTEXT != null)
                        {
                            foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                            {
                                <option value="@statusType.Value">@statusType.Key</option>
                            }
                        }
                    </select>
                }
            </th>
            <th class="form-group">
                <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
            </th>
            <th class="form-group">
                <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
            </th>
        </tr>
    </table>

    @* ----------------------------------------------------------------------------------------------------- *@
    <br />

    @* this table is responsible for table header and dynamic data *@
    <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Organization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="text-center"></tbody>
    </table>
    @* ----------------------------------------------------------------------------------------------------- *@
    </div>
</div>

@* scripts section *@

@section scripts
{
    @Scripts.Render("~/bundles/datatable")

    <script type="text/javascript">

        $(document).ready(function () {  @**----document ready----*@
            console.log("Data--");
            @**----function for render data table----*@
            function dataTableRender() {
                var displayNo = 10;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = parseInt($('#DisplayNo').val());
                }
                else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": false,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": [5] }],
                    //stateSave: true,
                    order: [[3, "asc"]],
                    ajax: {
                        url: '@Url.Action("MaterialList","MaterialType")',
                        type: 'POST',
                        data: function (dt) {
                            dt.organization = $('#Organization').val();
                            dt.name = $('#name').val();
                            dt.shortName = $('#shortName').val();
                            dt.rank = $('#rank').val();
                            dt.status = $('#status').val();
                        },
                    }
                });
            }
            dataTableRender();
            $(document).on("click", "#search", function () {
                dataTableRender();
            });

            @**----end function for render data table----*@

            @**----function for rank changes----*@
            $(document).on("click", ".glyphicon-arrow-up, .glyphicon-arrow-down", function () {
                var id = $(this).attr("id");
                var current = $(this).parent().text().trim();
                var action = $(this).attr("data-action");
                //glyphicon glyphicon-arrow-up
                $.ajax({
                    url: $("body").attr("data-project-root") + "Administration/MaterialType/RankChange",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: { "id": id, "current": current, "action": action },
                    success: function (result) {
                        // bootbox.alert(result).css('margin-top', (($(window).height() / 4)));
                        dataTableRender();
                    },
                    error: function (result) {
                        bootbox.alert("Unable to update status.").css('margin-top', (($(window).height() / 4)));
                    }
                });

            });
            @**----end function for rank changes----*@



             @**---- function for row delete----*@

        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("id");
            var name = $(this).attr("data-name");
            if (id != "") {
                bootbox.deleteConfirm("<h3>Are you sure you want to delete this <span class='confirm-message'>" + name + "</span> Material Type?</h3>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Administration/MaterialType/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            //beforeSend: function () {
                            //    $.blockUI({
                            //        timeout: 0,
                            //        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            //    });
                            //},
                            success: function (result) {
                                //$.unblockUI();

                                if (result.IsSuccess) {
                                    var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Material Type Delete Successfully</div>';
                                    $('.customMessage').append(errorMessage);
                                    dataTableRender();
                                }
                                else {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            },
                            //complete: function () {
                            //    $.unblockUI();
                            //},
                            error: function (result) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Material Type Delete Failed</div>';
                                $('.customMessage').append(errorMessage);
                            }
                        });
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });

        @**----end function for row delete----*@

        }); @**----document ready----*@

    </script>
}

@* ----------------------------------------------------------------------------------------------------- *@
