﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@using Microsoft.Ajax.Utilities
@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.Entity.Hr.HolidaySetting

@{
    ViewBag.Title = "Edit Holiday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ DateTime now = DateTime.Now;
 var startDate = new DateTime(now.Year, now.Month, 1);
 var endDate = now;
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Edit Holiday
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "HolidaySetting", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(x => x.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, ViewBag.OrganizationId as MultiSelectList, "Select Organization", htmlAttributes: new { @class = "form-control", @id = "organizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(x => x.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.DateFrom, "Date From", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DateFrom, "{0:yyyy-MM-dd}", new { @class = "form-control  form_datetime1", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                        <div id="dfmsg"></div>
                    </div>
                    @Html.LabelFor(model => model.DateTo, "Date To", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DateTo, "{0:yyyy-MM-dd}", new { @class = "form-control form_datetime2", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.HolidayType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.HolidayType, ViewBag.holidayTypeSelectList as MultiSelectList, "Select Holiday Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HolidayType, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(x => x.RepeatationType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.RepeatationType, ViewBag.holidayTypeRepeatationSelectList as MultiSelectList, "Select Repeatation Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RepeatationType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Update" class="btn btn-primary" id="Submit" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>@Html.ActionLink("Back to Manage", "Index")</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            function dateFromGreaterThanDateTo() {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();

                if (dateTo != "" && dateFrom > dateTo) {
                    $("#dfmsg").html('');
                    $("#dfmsg").html('<span class="text-danger field-validation-error" data-valmsg-for="DateFrom" data-valmsg-replace="true"><span for="DateFrom" class="">Date From can not exceed date to.</span></span>');
                } else {
                    $("#dfmsg").html('');
                }
            }

            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).change(function () {
                //$("span[for='DateFrom']").html('');
                dateFromGreaterThanDateTo();
            });

            $('.form_datetime2').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).change(function () {
                //$("span[for='DateTo']").html('');
                dateFromGreaterThanDateTo();
            });
            $('form').submit(function (e) {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                if (dateFrom > dateTo) {
                    dateFromGreaterThanDateTo();
                    e.preventDefault();
                }
            });
            $("#organizationId").val(@ViewBag.OrgId);
        });
    </script>
}
