﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.HolidaySetting>
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Holiday Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Manage Holiday</h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    @Html.DropDownList("Organization", ViewBag.Organization as MultiSelectList, "--Organization--", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Month", (IEnumerable<SelectListItem>)ViewBag.Month, "All Month", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.Year, "--Year--", new { @class = "form-control" })
                </th>


                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Show" class="form-control btn btn-primary" />
                </th>
                <th class="form-group">
                    <input type="button" name="export" id="export" value="Export" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sl.
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.OrganizationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.DateFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.DateTo)
                    </th>
                    <th>
                        @Html.DisplayName("Duration(Day)")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HolidayType)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.RepeatationType)
                    </th>
                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>

    </div>
</div>
<div class="form-group">
    @using (Html.BeginForm("Create", "HolidaySetting", FormMethod.Get))
    {
        <div class="form-actions"><input type="submit" value="Add Holiday" class="btn btn-primary" /></div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" class="init">

        function dataTableRender() {

            var pageSize = 10;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            }
            else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 3
                },
                //stateSave: true,
                order: [[1, "Asc"]],
                ajax: {
                    url: '@Url.Action("HolidaySettingList", "HolidaySetting")',
                    type: 'POST',
                    data: function (d) {
                        d.organizationId = $('#Organization').val();
                        d.month = $('#Month').val();
                        d.year = $('#Year').val();

                    }
                }
            });
        }

        $(document).ready(function () {


            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });

            $(document).on("click", ".glyphicon-trash", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h3>Are you sure to delete <span class='confirm-message'>" + name + "</span> holiday?</h3>", function (result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/HolidaySetting/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                success: function (result) {
                                    if (result.IsSuccess) {
                                        var errorMessage = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Success!</strong> Holiday deleted successfully</div>';
                                        $('.customMessage').append(errorMessage);
                                        dataTableRender();
                                    }
                                    else {
                                        var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>' + result.Message + '</div>';
                                        $('.customMessage').append(errorMessage);
                                    }
                                },
                                error: function (result) {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>Holiday Delete Failed</div>';
                                    $('.customMessage').append(errorMessage);
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });

        });
        $(document).on("click", "#export", function () {
            var urlParam = {
                organizationId: $('#Organization').val(),
                month: $('#Month').val(),
                year: $('#Year').val()
            };

            var url = "@Url.Action("ExportHoliday", "HolidaySetting", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            window.open(url);
        });
    </script>
}
