﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsIssueDto
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/pstyle.css' />
<link rel='stylesheet' type='text/css' href='~/Content/Print/css/print.css' media="print" />
<script type='text/javascript' src='~/Content/Print/js/print.js'></script>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Goods Issue Slip</h3>
    </div>
    <div class="panel-body">
        <div id="page-wrap">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h4> @Model.OrganizationFullName </h4>
                </div>
                <br />
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <table id="meta">
                    <tr>
                        <td class="meta-head">Organization</td>
                        <td>@Model.Organization</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Branch</td>
                        <td>@Model.Branch</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Goods Issue No.</td>
                        <td>@Model.GoodsIssueNo</td>
                    </tr>
                    <tr>
                        <td class="meta-head">Issue Date</td>
                        <td>@Model.CreateDate.ToString("dd MMMM, yyyy")</td>
                    </tr>
                </table>

            </div>
            <br/>
            <strong>Goods Issue Details</strong>
            @{
                if (Model.GoodsIssueDetailsDtos != null && Model.GoodsIssueDetailsDtos.Any())
                {
                    <table id="items">
                        <thead>
                            <tr>
                                <th class="text-center">Purpose</th>
                                <th class="text-center">Item Group</th>
                                <th class="text-center">Item Name</th>
                                <th class="text-center">Program & Session</th>
                                <th class="text-center">Issued Qty.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.GoodsIssueDetailsDtos)
                            {
                                <tr class="item-row">
                                    <td style="text-align: center">@row.Purpose</td>
                                    <td style="text-align: center">@row.ItemGroup</td>
                                    <td style="text-align: center">@row.ItemName</td>
                                    <td style="text-align: center">
                                        @row.Program @row.Session
                                    </td>
                                    <td style="text-align: center">@row.IssuedQuantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

            <div class="clearfix"></div>
            <br />
            <div class="row col-md-12">
                <label>
                    Remarks
                </label>
                <div class="">
                    @Model.Remarks
                </div>
            </div>
            <div style="margin-top: 100px;" class="col-md-12">
                <div class="pull-left">
                    <div style="border-top: 1px solid black">
                        Issued By
                    </div>
                </div>
                <div class="pull-right">
                    <div style="border-top: 1px solid black">
                        Store In Charge
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
        </div>
        <div class="text-center">
            <button type="button" id="print" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {

    <script src="~/Scripts/printThis.js"></script>
    <script>
        function printFunction(){}
        $("#print").click(function () {
            $("#page-wrap").printThis();
        });
    </script>

}