﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.DirectGoodsIssueViewModel
@{
    var purposeList = ViewBag.purposeList;
    var itemGroupList = ViewBag.ItemGroupList;
}
<style>
    input, select, textarea {
        max-width: 100%;
    }

    #currentStock {
        text-align: center;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Direct Goods Issue</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("DirectGoodsIssue", "DirectGoodsIssue", FormMethod.Post, new { id = "DirectGoodsIssueViewModel" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Label("Organization", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.BranchId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>)ViewBag.branchList, "Select Branch", new { @class = "form-control", @required_name = "Branch", @required = "requird" })
                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h5>
                        <strong>Good Details</strong>
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed table-hover" id="goodIssueBody">
                            <thead>
                                <tr>
                                    <th>Purpose</th>
                                    <th>Item Group</th>
                                    <th>Item Name</th>
                                    <th>Program & Session</th>
                                    <th>Stock Qty.</th>
                                    <th>Issue Qty.</th>
                                    <th><button type="button" class="btn btn-default plusGoods"><i class="fa fa-plus"></i></button></th>
                                </tr>
                            </thead>
                            <tbody id="DirectGoodsIssueForm">
                                @{
                                    int i = 0;
                                    if (Model.DirectGoodsIssueDetails != null && Model.DirectGoodsIssueDetails.Count > 0)
                                    {
                                        var itemNameListArray = ViewBag.ItemNameListArray;
                                        var programSessionListArray = ViewBag.ItemProgramSessionListArray;
                                        foreach (var directGoodsIssueDetails in Model.DirectGoodsIssueDetails)
                                        {
                                            <tr class="goodsIssuedDetails parent">
                                                @Html.Hidden("Id", i, new { @class = "form-control itemDetailsId" })
                                                @Html.Hidden("Index", i, new { @class = "itemDetailsIndex", @Value = i })
                                                <td>
                                                    @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].Purpose, new SelectList(purposeList, "Value", "Text", directGoodsIssueDetails.Purpose), "Select Perpose", new { @class = "form-control Purpose" })
                                                    @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].Purpose, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ItemGroupId, new SelectList(itemGroupList, "Value", "Text", directGoodsIssueDetails.ItemGroupId), "Select Item Group", new { @class = "form-control ItemGroupId" })
                                                    @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ItemGroupId, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ItemId, new SelectList(itemNameListArray[i], "Value", "Text", directGoodsIssueDetails.ItemId), "Select Item List", new { @class = "form-control ItemId" })
                                                    @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ItemId, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ProgramSession, new SelectList((IEnumerable<SelectListItem>)programSessionListArray[i]
                                                                                , "Value", "Text", directGoodsIssueDetails.ProgramSession), "Select Program & Sesssion", new { @class = "form-control ProgramSession" })
                                                    @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ProgramSession, "", new { @class = "text-danger" })
                                                </td>
                                                <td><input type="text" class="form-control currentStockQuantity" id="currentStock" disabled="" name="currentStock" value="" /></td>
                                                <td>
                                                    @Html.EditorFor(model => model.DirectGoodsIssueDetails[i].IssuedQuantity, new { htmlAttributes = new { type = "text", @class = "form-control IssuedQuantity numericInputOnly", @placeholder = "Issue Quantity" } })
                                                    @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].IssuedQuantity, "", new { @class = "text-danger" })
                                                </td>
                                                <td><button type="button" class="btn btn-default minusGoods" name="append"><i class="fa fa-minus"></i></button></td>

                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="goodsIssuedDetails parent">
                                            @Html.Hidden("Id", i, new { @class = "form-control itemDetailsId" })
                                            @Html.Hidden("Index", i, new { @class = "itemDetailsIndex", @Value = i })
                                            <td>
                                                @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].Purpose, new SelectList(purposeList, "Value", "Text"), "Select Perpose", new { @class = "form-control Purpose" })
                                                @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].Purpose, "", new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ItemGroupId, new SelectList(itemGroupList, "Value", "Text"), "Select Item Group", new { @class = "form-control ItemGroupId" })
                                                @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ItemGroupId, "", new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ItemId, new SelectList(new List<string>(), "Value", "Text"), "Select Item List", new { @class = "form-control ItemId" })
                                                @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ItemId, "", new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.DirectGoodsIssueDetails[i].ProgramSession, (IEnumerable<SelectListItem>)ViewBag.programSessionList, "Select Program & Sesssion", new { @class = "form-control ProgramSession" })
                                                @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].ProgramSession, "", new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                <input type="text" class="form-control currentStockQuantity" id="currentStock" name="currentStock" disabled="" value="" />
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.DirectGoodsIssueDetails[i].IssuedQuantity, new { htmlAttributes = new { type = "text", @class = "form-control IssuedQuantity numericInputOnly", @placeholder = "Issue Quantity" } })
                                                @Html.ValidationMessageFor(model => model.DirectGoodsIssueDetails[i].IssuedQuantity, "", new { @class = "text-danger" })
                                            </td>
                                            <td><button type="button" class="btn btn-default minusGoods" name="append"><i class="fa fa-minus"></i></button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Remarks)
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks Note" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //Load Branch By Organization, then in success change Program & Session List
            $("#OrganizationId").change(function () {
                var organizationCtrl = $("#OrganizationId");
                var branchCtrl = $("#BranchId");
                branchCtrl.empty();
                //branchCtrl.append("<option>Select Branch</option>");
                branchCtrl.html("<option value='' selected='selected'>Select Branch</option>");

                $("#goodIssueBody tbody tr").each(function () {
                    var itemCtrl = $(this).find(".ItemId");
                    itemCtrl.empty();
                    itemCtrl.append("<option value=''>Select Item</option>");

                    var programSessionCtrl = $(this).find(".ProgramSession");
                    programSessionCtrl.empty();
                    programSessionCtrl.append("<option value=''> Select Program & Session</option>");
                    $(this).find(".ItemGroupId").val($(".ItemGroupId option:first").val());

                });

                if (organizationCtrl.val() > 0 || organizationCtrl.val() != "") {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        data: { organizationIds: organizationCtrl.val(), isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            var data = result.returnBranchList;
                            if (data.length > 0) {
                                $.each(data, function (index, r) {
                                    branchCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                });
                            } else {
                                branchCtrl.empty();
                                branchCtrl.append("<option value='' selected='selected'>Select Branch</option>");
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (rt) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load Organization's Branch(s).",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });
            //Change Branch Item, Program & Session and Stock Reset
            $(document).on("change", "#BranchId", function () {
                    $("#goodIssueBody tbody tr").each(function () {
                        var itemCtrl = $(this).find(".ItemId");
                        itemCtrl.empty();
                        itemCtrl.append("<option value=''>Select Item</option>");

                        var programSessionCtrl = $(this).find(".ProgramSession");
                        programSessionCtrl.empty();
                        programSessionCtrl.append("<option value=''> Select Program & Session</option>");
                        var stock = $(this).find(".currentStockQuantity");
                        stock.val('0');
                        $(this).find(".ItemGroupId").val($(".ItemGroupId option:first").val());

                    });
            });

            //Change Item Group
            $(document).on("change", ".ItemGroupId", function (event) {

                var organizationCtrl = $("#OrganizationId");
                var tr = $(this).closest(".goodsIssuedDetails");
                var itemGroupCtrl = tr.find(".ItemGroupId");
                var itemCtrl = tr.find(".ItemId");
                itemCtrl.empty();
                itemCtrl.append("<option value=''>Please Select Item</option>");
                var stock = tr.find(".currentStockQuantity");
                stock.val('');
                var programSessionCtrl = tr.find(".ProgramSession");
                programSessionCtrl.empty();
                programSessionCtrl.append("<option value=''>Select Program & Session</option>");

                if (organizationCtrl.val() > 0 && itemGroupCtrl.val() > 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "UInventory/DirectGoodsIssue/LoadItem",
                        datatype: "Json",
                        data: { organizationId: organizationCtrl.val(),itemGroupIds: itemGroupCtrl.val() },
                        success: function (result) {
                            var data = result.returnResult;
                            console.log(result);
                            $.each(data, function (index, r) {
                                var t = r.Text.split(":");
                                itemCtrl.append('<option value="' + r.Value + '" itemType="'+t[1]+'">' + t[0] + '</option>');
                            });
                        }
                    });
                }
                else if (organizationCtrl.val() <= 0) {
                    $.fn.customMessage({
                        displayMessage: "Organization is not selected.",
                        displayMessageType: "e"
                    });
                }
            });

            //Change Item
            $(document).on('change', ".ItemId", function (event) {
                var tr = $(this).closest(".goodsIssuedDetails");
                var itemCtrl = tr.find(".ItemId");
                var programSessionCtrl = tr.find(".ProgramSession");
                programSessionCtrl.empty();
                programSessionCtrl.append("<option value=''>Select Program & Session</option>");
                var purpose = tr.find(".Purpose").val();
                var branchId = $("#BranchId").val();
                var stock = tr.find(".currentStockQuantity");
                var organizationId = $("#OrganizationId").val();
                itemCtrl.parent().parent().find('input[name="currentStock"]').val(0);
                if (branchId.length > 0 && itemCtrl.val() > 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/GetProgramAndSession",
                        datatype: "Json",
                        data: { organizationId: organizationId, branchId: branchId, itemId: itemCtrl.val(), isReport: false, purposeId: purpose, withOutCurrentProgramSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            if (result.isSuccess) {
                               
                                var psData = result.programSessionList;
                                programSessionCtrl.empty();
                                console.log(psData.length);

                                if (psData != null) {
                                    programSessionCtrl.append("<option value=''>Select Program & Session</option>");
                                    $.each(psData, function (i, r) {
                                        if (psData.length == 1 && r.Value != 'N/A') {
                                            programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                        } else if (psData.length > 1) {
                                            programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                        }
                                    });
                                }

                                //if (psData != null && psData.length > 0) {
                                //    programSessionCtrl.append("<option value=''>Select Program & Session</option>");
                                //    $.each(psData, function (i, r) {
                                //        programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                //    });
                                //}
                             
                                if (itemCtrl.find('option:selected').attr("itemType") == 2) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/UInventory/CommonAjaxUInventory/CurrentStockQuantityCheck",
                                        datatype: "Json",
                                        data: { branchId: branchId, itemId: itemCtrl.val(), programSession: "" },
                                        success: function (stockResult) {
                                            var data = stockResult.stockAmount;
                                            console.log(data);
                                            itemCtrl.parent().parent().find('input[name="currentStock"]').val(data);
                                        },
                                        error: function (rt) {
                                            $.fn.customMessage({
                                                displayMessage: "Unable to load item's stock count",
                                                displayMessageType: "e"
                                            });
                                        }
                                    });
                                } 
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (rt) {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: "Unable to load item's program session.",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });

            //Re-Load Item's Program Session For Purpose changes
            $(document).on('change', ".Purpose", function (event) {
                var tr = $(this).closest(".goodsIssuedDetails");
                var itemCtrl = tr.find(".ItemId");
                var organizationId = $("#OrganizationId").val();
                var branchId = $("#BranchId").val();

                if (organizationId > 0 && branchId > 0 && itemCtrl.val() > 0) {
                    var programSessionCtrl = tr.find(".ProgramSession");
                    var purpose = tr.find(".Purpose").val();

                    $.ajax({
                        type: "POST",
                        url: "/UInventory/CommonAjaxUInventory/GetProgramAndSession",
                        //url: "/UInventory/Requisition/GetProgramAndSessionItem",
                        datatype: "Json",
                        data: { organizationId: organizationId, branchId: branchId, itemId: itemCtrl.val(), isReport: false, purposeId: purpose, withOutCurrentProgramSession: false },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            if (result.isSuccess) {
                                var psData = result.programSessionList;
                                programSessionCtrl.empty();
                                //if (psData != null) {
                                //    $.each(psData, function (i, r) {
                                //        if (psData.length == 1 && r.Value != 'N/A') {
                                //            programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                //        } else if (psData.length > 1) {
                                //            programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                //        }
                                //    });
                                //}
                                if (psData != null) {
                                    programSessionCtrl.append("<option value=''>Select Program & Session</option>");
                                    $.each(psData, function (i, r) {
                                        if (psData.length == 1 && r.Value != 'N/A') {
                                            programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                        } else if (psData.length > 1) {
                                            programSessionCtrl.append($('<option>').text(r.Text).attr('value', r.Value));
                                        }
                                    });
                                }
                            }
                            if (itemCtrl.find('option:selected').attr("itemType") == 2) {
                                $.ajax({
                                    type: "POST",
                                    url: "/UInventory/CommonAjaxUInventory/CurrentStockQuantityCheck",
                                    datatype: "Json",
                                    data: { branchId: branchId, itemId: itemCtrl.val(), programSession: "" },
                                    success: function (stockResult) {
                                        var data = stockResult.stockAmount;
                                        console.log(data);
                                        itemCtrl.parent().parent().find('input[name="currentStock"]').val(data);
                                    },
                                    error: function (rt) {
                                        $.fn.customMessage({
                                            displayMessage: "Unable to load item's stock count",
                                            displayMessageType: "e"
                                        });
                                    }
                                });
                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (rt) {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: "Unable to load item's program session.",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });

            //Current Stock Count
            $(document).on("change", ".ProgramSession", function (event) {
                var branchCtrl = $("#BranchId");
                var tr = $(this).closest(".goodsIssuedDetails");
                var itemCtrl = tr.find(".ItemId");
                var programSessionCtrl = tr.find(".ProgramSession");
                if (branchCtrl.val() > 0 && itemCtrl.val() > 0 && itemCtrl.find('option:selected').attr("itemType") == 1) {
                    $.ajax({
                        type: "POST",
                        url: "/UInventory/CommonAjaxUInventory/CurrentStockQuantityCheck",
                        datatype: "Json",
                        data: { branchId: branchCtrl.val(), itemId: itemCtrl.val(), programsession: programSessionCtrl.val() },
                        success: function (result) {
                            var data = result.stockAmount;
                            console.log(data);
                            itemCtrl.parent().parent().find('input[name="currentStock"]').val(data);
                        },
                        error: function (rt) {
                            $.fn.customMessage({
                                displayMessage: "Unable to load item's stock count",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });

            //Add ItemDetails
            $(document).on("click", ".plusGoods", function (event) {
                var index = 0;
                $("#goodIssueBody tbody tr").each(function (ev) {
                    var currentIndex = $(this).find(".itemDetailsId").val();
                    if (currentIndex > index) {
                        index = currentIndex;
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "/UInventory/DirectGoodsIssue/AddGoodsIssueDetailsRow",
                    data: { index: index },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (dRow) {
                        $.unblockUI();
                        if ($('#goodIssueBody tbody tr').length > 0) {
                            $('#goodIssueBody tbody tr:last').after(dRow);
                        }
                        else {
                            $('#goodIssueBody').append(dRow);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (rt) {
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "Unable to add more item details row.",
                            displayMessageType: "e"
                        });
                    }
                });
            });

            $(document).on("click", ".minusGoods", function (event) {
                var rowCount = $("#goodIssueBody tbody tr").length;
                if (rowCount == 1) {
                    return;
                } else {
                    var $parent = $(this).parent().parent();
                    $parent.remove();
                }
                var index = 0;
                $("#DirectGoodsIssueForm tr").each(function () {
                    $(this).find(".itemDetailsId").val(0);
                    $(this).find(".itemDetailsIndex").val(index);
                    var purposeLabel = "DirectGoodsIssueDetails[" + index + "].Purpose";
                    var purposeId = "DirectGoodsIssueDetails_" + index + "__Purpose";
                    var itemGroupLabel = "DirectGoodsIssueDetails[" + index + "].ItemGroupId";
                    var itemGroupId = "DirectGoodsIssueDetails_" + index + "__ItemGroupId";
                    var itemLabel = "DirectGoodsIssueDetails[" + index + "].ItemId";
                    var itemId = "DirectGoodsIssueDetails_" + index + "__ItemId";
                    var programSessionLabel = "DirectGoodsIssueDetails[" + index + "].ProgramSession";
                    var programSessionId = "DirectGoodsIssueDetails_" + index + "__ProgramSession";
                    var issuedQuantityIdLabel = "DirectGoodsIssueDetails[" + index + "].IssuedQuantity";
                    var issuedQuantityId = "DirectGoodsIssueDetails_" + index + "__IssuedQuantity";

                    $(this).find(".Purpose").attr('name', purposeLabel);
                    $(this).find(".Purpose").attr('id', purposeId);
                    $(this).find(".ItemGroupId").attr('name', itemGroupLabel);
                    $(this).find(".ItemGroupId").attr('id', itemGroupId);
                    $(this).find(".ItemId").attr('name', itemLabel);
                    $(this).find(".ItemId").attr('id', itemId);
                    $(this).find(".ProgramSession").attr('name', programSessionLabel);
                    $(this).find(".ProgramSession").attr('id', programSessionId);
                    $(this).find(".IssuedQuantity").attr('name', issuedQuantityIdLabel);
                    $(this).find(".IssuedQuantity").attr('id', issuedQuantityId);
                    index = index + 1;
                });
            });

            $("#Submit").click(function (e) {
                var success = true;
                var invalid = false;
                var rowList = [];
                var distinctList = [];
                $("#DirectGoodsIssueForm tr").each(function () {
                    var row = [];
                    var purpose = $(this).find(".Purpose").val();
                    var itemGroup = $(this).find(".ItemGroupId").val();
                    var itemName = $(this).find(".ItemId").val();
                    var programSession = $(this).find(".ProgramSession").val();
                    var currentStockQuantity = parseInt($(this).find(".currentStockQuantity").val());
                    var issuedStockQuantity = parseInt($(this).find(".IssuedQuantity").val());
                    if (currentStockQuantity < issuedStockQuantity || issuedStockQuantity < 1) {
                        invalid = true;
                    }
                    row[0] = purpose;
                    row[1] = itemGroup;
                    row[2] = itemName;
                    row[3] = programSession;
                    rowList.push(row);
                });

                if (invalid) {
                    $.fn.customMessage({
                        displayMessage: "Stock Quantity can not more than Issued Quantity or Zero!",
                        displayMessageType: "e"
                    });
                    e.preventDefault();
                } else {
                    if (rowList.length > 1) {
                        distinctList = uniqueBy(rowList, JSON.stringify);
                        if (rowList.length != distinctList.length) {
                            success = false;
                        }
                    }
                    if (!success) {
                        $.fn.customMessage({
                            displayMessage: "Multiple Item Details Found With Same Property!",
                            displayMessageType: "e"
                        });
                        e.preventDefault();
                    } else {

                        $("#DirectGoodsIssueViewModel").submit();
                    }
                }

            });

            function uniqueBy(a, key) {
                var seen = {};
                return a.filter(function (item) {
                    var k = key(item);
                    return seen.hasOwnProperty(k) ? false : (seen[k] = true);
                });
            }
            
            $(".IssuedQuantity").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            $('.IssuedQuantity').each(function () {
                $(this).keypress(function(e){
                    // '46' is the keyCode for '.'
                    if(e.keyCode == '46' || e.charCode == '46'){ 
                        //Cancel the keypress
                         e.preventDefault(); 
                        // Add the comma to the value of the input field
                        $(this).val($this.val() + ',');
                        }
                    });
               });

        });

    </script>
}