﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Manage Goods Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    @using (Html.BeginForm("DirectGoodsIssues", "DirectGoodsIssue", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Add Goods Issue" class="btn btn-primary" />
        </div>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Manage Goods Issue</h4>
    </div>
    <div class="panel-body">
        @* this table is responsible for searching view *@

        <table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    @Html.DropDownList("OrganizationId", (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control" })
                </th>
                <th class="form-group">
                    @Html.DropDownList("BranchId", Enumerable.Empty<SelectListItem>(), "Select Branch", new { @class = "form-control" })
                </th>

                <th class="form-group">
                    <input id="itemName" name="itemName" type="text" class="form-control " placeholder="Item Name" />
                </th>
                <th>
                    @Html.Editor("issuedDate", new { htmlAttributes = new { @class = "form-control", @id = "issuedDate", @placeholder = "Select Date" } })
                </th>
                <th>
                    @Html.Editor("goodsIssueNo", new { htmlAttributes = new { @class = "form-control", @id = "goodsIssueNo", @placeholder = "Goods Issue No" } })
                </th>
                @*<th class="form-group " style="width:90px">
                    @if (ViewBag.STATUSTEXT != null)
                    {
                        <select id="status" class="form-control">
                            <option value="">Status</option>
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                foreach (KeyValuePair<int, String> statusType in @ViewBag.STATUSTEXT)
                                {
                                    <option value="@statusType.Key">@statusType.Value</option>
                                }
                            }
                        </select>
                    }
                </th>*@
                <th class="form-group">
                    <input id="DisplayNo" name="DisplayNo" type="text" class="form-control" placeholder="No of Data" />
                    @*<input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="Display Value 10" />*@
                </th>

                <th class="form-group">
                    <input type="button" name="search" id="search" value="Search" class="form-control btn-primary" />
                </th>

            </tr>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    @*<th style="width: 10%">
                          Sr. No
                        </th>*@
                    <th>
                        Organization
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                       Issued Date
                    </th>
                    <th>
                        Issue No
                    </th>
                    @*<th>
                        Status
                    </th>*@
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@

    </div>
</div>





@* scripts section *@

@section scripts
{
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {  @**----document ready----*@
            $('#issuedDate').datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: new Date(),
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });

                $(document).on('change', '#OrganizationId', function (event) {
                    $('#BranchId').empty();
                    $('#BranchId').append("<option value=''>Select Branch </option>");

                    var organizationId = $('#OrganizationId').val();

                    if (organizationId.length > 0) {
                        $.ajax({
                            type: "POST",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                            data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (response) {
                                $.unblockUI();
                                if (response.IsSuccess) {
                                    $.each(response.returnBranchList, function (i, v) {
                                        $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                } else {
                                    $.fn.customMessage({
                                        displayMessage: response.Message,
                                        displayMessageType: "error",
                                    });
                                }
                            },
                            complete: function () {

                                $.unblockUI();
                            },
                            error: function (data) {
                                $.fn.customMessage({
                                    displayMessage: ajaxError,
                                    displayMessageType: "error",
                                    displayTime: 5000
                                });
                            }
                        });
                    }
                });
                @**----function for render data table----*@
                function dataTableRender() {
                    var displayNo = 10;
                    if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                        displayNo = parseInt($('#DisplayNo').val());
                    }
                    else {
                        $('#DisplayNo').val(displayNo);
                    }
                    $('#DataGrid').dataTable({
                        destroy: true,
                        "processing": true,
                        searching: false,
                        serverSide: true,
                        "scrollX": false,
                        "bLengthChange": false,
                        "iDisplayLength": displayNo,
                        bSort: false,
                        //stateSave: true,
                        //order: [[2, "asc"]],
                        //order: [[3, "asc"]],
                        ajax: {
                            url: '@Url.Action("GoodsIssuedList", "DirectGoodsIssue")',
                            type: 'POST',
                            data: function (dt) {
                                dt.organizationId = $('#OrganizationId').val();
                                dt.branchId = $('#BranchId').val();
                                dt.item = $('#itemName').val();
                                dt.issuedDate = $('#issuedDate').val();
                                dt.goodsIssueNo = $('#goodsIssueNo').val();
                                dt.status = $('#status').val();
                        },

                            error: function (response) {
                                ShowErrorMessage("Goods Issue data load error. Please try again.");
                            }
                        }
                    });
                }

                dataTableRender();

                $(document).on("click", "#search", function () {
                    dataTableRender();
                });

                @**----end function for render data table----*@



            }); @**----document ready----*@

    </script>
}

@* ----------------------------------------------------------------------------------------------------- *@

