﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@using OfficeOpenXml.FormulaParsing.Excel.Functions.DateTime
@model UdvashERP.BusinessModel.ViewModel.Hr.AllowanceSheetFormViewModel
@{
    ViewBag.Title = "Allowance Sheet";
    int initialYear = 2016;
    int i = 0;
    
}
<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Allowance Sheet<span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="allowanceSheetPanel">
       @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "allowanceSheetForm" }))
       {
           @Html.AntiForgeryToken()
           <div class="form-horizontal">
               @Html.ValidationSummary(true, "", new {@class = "text-danger"})
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.TeamMemberSearchType, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.TeamMemberSearchType, (IEnumerable<SelectListItem>) ViewBag.EmploymentSearchOnList, "Select Type", new {@class = "form-control "})
                           </div>
                           @*@Html.LabelFor(model => model.PinList, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pin With Space" } })
                           </div>*@
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>) ViewBag.OrganizationList, "Select Organization", new {@class = "form-control "})
                           </div>
                           @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>) ViewBag.BranchList, "Select Branch", new {@class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.CampusId, (IEnumerable<SelectListItem>) ViewBag.CampusList, "Select Campus", new {@class = "form-control "})
                           </div>
                           @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>) ViewBag.DepartmentList, "Select Department", new {@class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.Year, htmlAttributes: new {@class = "control-label col-md-2"})
                           <div class="col-md-4">
                               <select class="form-control " id="Year" name="Year">
                                   <option value="">Select Year</option>
                                   @for (i = initialYear; initialYear <= DateTime.Now.Date.Year; initialYear++)
                                   {
                                       <option value="@initialYear"> @initialYear</option>
                                   }
                               </select>
                           </div>
                           @Html.LabelFor(model => model.Month, htmlAttributes: new {@class = "control-label col-md-2"})
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.Month, (IEnumerable<SelectListItem>) ViewBag.AllowanceSheetMonthList, "Select Month", new {@class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <br/>
                   <div class="col-md-12 text-center">
                       <div class="form-group">
                           <input type="submit" id="Submit" value="Submit" class="btn btn-primary" />
                       </div>
                   </div>
               </div>
               <div class="clearfix"></div>
           </div>
       }
    </div>
</div>

<div class="panel panel-primary" id="allowanceSheetDynamicPanel" style="display: none">
    <div class="panel-heading">
        Allowance Sheet
    </div>
    <div class="form-horizontal">
        <br/>
        <div class="col-md-12">
            <div class=" " id="allowanceSheetTeamMemberList">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script type="text/javascript">

        function ShowHide() {
            console.log("OK");
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#allowanceSheetPanel').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#allowanceSheetPanel').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        function AllowanceSheetFormViewModel() {
            this.TeamMemberSearchType = 0;
            this.OrganizationId = 0;
            this.BranchId = 0;
            this.CampusId = 0;
            this.DepartmentId = 0;
            this.Year = 0;
            this.Month = 0;
            this.AllowanceSheetFormViewModel = function() {};
        }

        function AllowanceExport() {
            var isSuccess = true;
            isSuccess = CheckForm();
            if (isSuccess) {
                var allowanceSheetFormViewModel = new AllowanceSheetFormViewModel();
                allowanceSheetFormViewModel.TeamMemberSearchType = $("#TeamMemberSearchType").val();
                allowanceSheetFormViewModel.OrganizationId = $("#OrganizationId").val();
                allowanceSheetFormViewModel.BranchId = $("#BranchId").val();
                allowanceSheetFormViewModel.CampusId = $("#CampusId").val();
                allowanceSheetFormViewModel.DepartmentId = $("#DepartmentId").val();
                allowanceSheetFormViewModel.Year = $("#Year").val();
                allowanceSheetFormViewModel.Month = $("#Month").val();
                var stringifiedObj = JSON.stringify(allowanceSheetFormViewModel);
                var urlParam = {
                    allowanceSheetFormViewModelString: stringifiedObj
                };
                var url = "@Url.Action("ExportAllowanceSheet", "AllowanceSheet", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                window.open(url);
            }
        }

        function CheckForm() {
            var isSuccess = true;

            var organizationId = $('#OrganizationId').val();
            var branchId = $('#BranchId').val();
            var campusId = $('#CampusId').val();
            var departmentId = $('#DepartmentId').val();
            var type = $('#TeamMemberSearchType').val();
            var year = $('#Year').val();
            var month = $('#Month').val();

            if (type == "" || type == null || type.length <= 0) {
                window.showErrorMessageBelowCtrl("TeamMemberSearchType", "", false);
                window.showErrorMessageBelowCtrl("TeamMemberSearchType", "Please Select Type.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("TeamMemberSearchType", "", false);
            }

            if (organizationId == "" || organizationId == null || organizationId.length <= 0) {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            }

            if (branchId == null || branchId.length <= 0) {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
            }

            if (campusId == null || campusId.length <= 0) {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
            }

            if (departmentId == null || departmentId.length <= 0) {
                window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                window.showErrorMessageBelowCtrl("DepartmentId", "Please Select Department.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("DepartmentId", "", false);
            }

            if (year == '' || year == null || year.length <= 0) {
                window.showErrorMessageBelowCtrl("Year", "", false);
                window.showErrorMessageBelowCtrl("Year", "Please Select Year.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("Year", "", false);
            }

            if (month == '' || month == null || month.length <= 0) {
                window.showErrorMessageBelowCtrl("Month", "", false);
                window.showErrorMessageBelowCtrl("Month", "Please Select Month.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("Month", "", false);
            }

            return isSuccess;
        }

        $(document).ready(function() {

            $(document).on('click', '#ShowHide', function(e) { ShowHide(); });

            window.validateDropDownField("TeamMemberSearchType", "Please Select Type.");
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("CampusId", "Please Select Campus.");
            window.validateDropDownField("DepartmentId", "Please Select Department.");
            window.validateDropDownField("Year", "Please Select Year.");
            window.validateDropDownField("Month", "Please Select Month.");

            $(document).on("change", "#OrganizationId", function() {
                $("#allowanceSheetDynamicPanel").css("display", "none");
                $("#allowanceSheetTeamMemberList").html('');
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                $('#BranchId').empty();
                $('#BranchId').append("<option value='0' selected>All Branch</option>");
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                $('#CampusId').empty();
                $('#CampusId').append("<option value='0' selected>All Campus</option>");
                window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                $('#DepartmentId').empty();
                $('#DepartmentId').append("<option value='0' selected>All Department</option>");

                var organizationId = $("#OrganizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $("#allowanceSheetDynamicPanel").css("display", "none");
                            $("#allowanceSheetTeamMemberList").html('');
                            if (result.IsSuccess) {
                                window.showErrorMessageBelowCtrl("BranchId", "", false);
                                $('#BranchId').empty();
                                $('#BranchId').append("<option value='0' selected>All Branch</option>");
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                $.ajax({
                                    type: "POST",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                    data: { organizationIds: organizationId },
                                    success: function(response) {
                                        if (response.IsSuccess) {
                                            window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                                            $('#DepartmentId').empty();
                                            $('#DepartmentId').append("<option value='0' selected>All Department</option>");
                                            $.each(response.returndepartmentList, function(i, v) {
                                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: response.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function() {},
                                    error: function(data) {
                                        $.fn.customMessage({
                                            displayMessage: ajaxError,
                                            displayMessageType: "error",
                                            displayTime: 5000
                                        });
                                    }
                                });

                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {},
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("change", "#BranchId", function() {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                $('#CampusId').empty();
                $('#CampusId').append("<option value='0'>All Campus</option>");
                var organizationId = $("#OrganizationId").val();
                var branchIds = $("#BranchId").val();

                if (organizationId != null && organizationId != "" && branchIds != null && branchIds.length >= 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                window.showErrorMessageBelowCtrl("CampusId", "", false);
                                $('#CampusId').empty();
                                $('#CampusId').append("<option value='0'>All Campus</option>");
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Submit', function(e) {
                e.preventDefault();
                $("#allowanceSheetDynamicPanel").css("display", "none");
                $("#allowanceSheetTeamMemberList").html('');
                $('.field-validation-error').remove();

                var isSuccess = true;
                isSuccess = CheckForm();

                if (isSuccess == true) {
                    var foramData = $("#allowanceSheetForm").serialize();
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/AllowanceSheet/AllowanceSheet",
                        type: "POST",
                        data: foramData,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            console.log(data);
                            if (data.IsSuccess == false) {
                                $.fn.customMessage({
                                    //displayMessage: ERROR_MESS,
                                    displayMessage: data.Message,
                                    displayMessageType: "e",
                                    //displayTime: 5000
                                });
                            } else {
                                $("#allowanceSheetDynamicPanel").css("display", "block");
                                $("#allowanceSheetTeamMemberList").html(data);
                                ShowHide();
                            }
                        },
                        complete: function() {
                            $("#allowanceSheetTeamMemberListTable").tableHeadFixer({ "left": 2 });
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();

                } else {
                    e.preventDefault();
                    return false;
                }
            });

            $(document).on('click', '#Export', function(e) {
                AllowanceExport();
            });

            $(document).on('click', '#FinalSubmit', function(e) {
                e.preventDefault();

                var isSuccess = true;
                isSuccess = CheckForm();

                if (isSuccess == true) {
                    var foramData = $("#allowanceSheetForm").serialize();
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/AllowanceSheet/SaveAllowanceSheet",
                        type: "POST",
                        data: foramData,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            if (data.IsSuccess) {
                                $("#allowanceSheetDynamicPanel").css("display", "none");
                                $("#allowanceSheetTeamMemberList").html("");
                                ShowHide();
                                $.fn.customMessage({
                                    displayMessage: data.Message,
                                    displayMessageType: "s",
                                });

                            } else {
                                $.fn.customMessage({
                                    //displayMessage: ERROR_MESS,
                                    displayMessage: data.Message,
                                    displayMessageType: "e",
                                    //displayTime: 5000
                                });
                            }
                        },
                        complete: function() {},
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();

                } else {
                    e.preventDefault();
                    return false;
                }
            });


        });
    </script>
}
