﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@using Microsoft.Ajax.Utilities
@model UdvashERP.Areas.Student.Models.AttendanceSearchInfo

@{
    ViewBag.Title = "Attendance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ DateTime now = DateTime.Now;
   var startDate = new DateTime(now.Year, now.Month, 1);
   var endDate = now;
 }
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Attendance Report
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AttendanceReport", "Attendance", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>MaterialFilterView</h4>
            <hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Organization", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.OrganizationId, null, "Select Organization", htmlAttributes: new { @class = "form-control", @id = "organizationId" })
                @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Program", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.ProgramId, Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.Label("Session", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Attendance Type", new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Html.DropDownListFor(m => m.AttendanceType, Model.AttendanceTypeList, "Select Attendance Type", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Branch", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBranch, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Campus", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedCampus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBatchDays, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBatchTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Batch", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Course", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Payment Status", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedPaymentStatus, (SelectList)ViewBag.SelectedPaymentStatus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedPaymentStatus, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Attendance Status", new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Html.DropDownListFor(m => m.AttendanceStatus, Model.AttendenseStatusList, new { @class = "form-control" })
            </div>
           
        </div>

        <div class="form-group">
            @*@Html.Label("Attendance Status", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.AttendanceStatus, Model.AttendenseStatusList, new { @class = "form-control" })
                </div>*@
            @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control  form_datetime1", @Value = @startDate.ToString("yyyy-MM-d") })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control form_datetime2",  @Value = @endDate.ToString("yyyy-MM-d") })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align: center; font-weight: bold;">
                <h4>Select Information to View</h4>
            </div>
        </div>
        <div class="row" style="padding-left: 80px">
            <div class="col-md-12">
                <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                    <option value="Program Roll">Program Roll</option>
                    <option value="Student Name">Student Name</option>
                    <option value="Branch Name">Branch</option>
                    <option value="Batch Name">Batch</option>
                    <option value="Father Name">Father's Name</option>
                    <option value="Father Occupation">Father's Occupation</option>
                    <option value="Mother Occupation">Mother's Occupation</option>
                    <option value="Mother Name">Mother's Name</option>
                    <option value="Mobile Personal">Mobile Personal</option>
                    <option value="Mobile Guardian">Mobile Guardian</option>
                    <option value="School/College Name">School/College Name</option>
                    <option value="Registration No">Registration No.</option>
                    <option value="Email">Email</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Generate" class="btn btn-primary" id="Submit" />
            </div>
        </div>
    </div>

        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Student/Attendance/attendanceReport.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function() {
            //var dateString = $('#StartDate').val();
            //var dateParts = dateString.split(' ');
            //$('#StartDate').val(dateParts[0]);

            //var dateString2 = $('#EndTime').val();
            //var dateParts2 = dateString2.split(' ');
            //if (dateParts2[2] == "PM") {
            //    $('#EndTime').val((parseInt(timeParts2[0]) + 12) + ":" + timeParts2[1]);
            //}
            //else {
            //    $('#EndTime').val(timeParts2[0] + ":" + timeParts2[1]);
            //}
            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: "2000-01-01",
                startView: 2,
                minView: 2,
                maxView: 4
            });

            $('.form_datetime2').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: "2000-01-01",
                startView: 2,
                minView: 2,
                maxView: 4
            });
            
            //$('.form_datetime1').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: new Date(),
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});
            //$('.form_datetime2').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: new Date(),
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});
        });
    </script>
    
    @*<script type="text/javascript">
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({
            format: 'hh:ii',
            showMeridian: true,
            startView: 1,
            pickDate: false
        });
    });
</script>*@

}
