﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentExamSurveyReportViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Clear Exam Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Clear Exam Attendance
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ClearExamAttendance", "Attendance", FormMethod.Post, new { id = "submitForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.orgList, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Course Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
                    </div>

                </div>

               
                
                <div class="form-group">

                    @Html.Label("Date From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.FromTime, new { htmlAttributes = new { @class = "form-control form_datetime2", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("To Date", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.ToTime, new { htmlAttributes = new { @class = "form-control form_datetime2", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Exam Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedExam, (SelectList)ViewBag.SelectedExam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedExam, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("User", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.ListBoxFor(m => m.SelectedUser, (SelectList)ViewBag.SelectedUser, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedUser, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <input type="hidden" name="userIds" id="userIds" />
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-1 text-center">
                        <input class="btn btn-primary" type="button" value="Count" id="countBtn" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="countValue" type="text" value="0" readonly="readonly" />
                    </div>
                </div>
                
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Clear" class="btn btn-primary" id="Submit" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $("#Submit").click(function () {
            if (!$('#submitForm').data('unobtrusiveValidation').validate()) {

            } else {
                bootbox.confirm("<h3>Are you sure you want to clear exam attendance?</h3>", function (result) {
                    if (result) {
                        $('#submitForm').submit();
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
        });
        $(document).ready(function () {
            $('#FromTime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
               
                if ($("#FromTime").val()!="") {
                    $("#FromTime").parent().find('span').remove();
                    $("#FromTime").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');

                }
                if (Date.parse($("#FromTime").val()) > Date.parse($("#ToTime").val())) {
                    //alert();
                    $(".dtmsg").text("");
                    $("#FromTime").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($("#FromTime").val()) <= Date.parse($("#ToTime").val())) {
                    $('.dtmsg').text("");

                    $("#Submit").removeAttr('disabled');
                }
            });
            $('#ToTime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                if ($("#ToTime").val() != "") {
                    $("#ToTime").parent().find('span').remove();
                    $("#ToTime").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="ToTime" data-valmsg-replace="true"></span>');

                }
                if (Date.parse($("#FromTime").val()) > Date.parse($("#ToTime").val())) {
                    $(".dtmsg").text("");
                    $("#ToTime").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);

                }
                if (Date.parse($("#FromTime").val()) <= Date.parse($("#ToTime").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });
            
        });

        $(document).ready(function () {
            $('#countBtn').attr('disabled', 'disabled');
            console.log("EXAM EVALUATION INITIALIZEDs");
            //organization change functionalities
            $("#OrganizationId").change(function () {
                var organizatonId = $(this).val();
                $("#ProgramId option").remove();
                $("#SelectedCourse option").remove();
                $('#SessionId').empty();
                $("FromTime").val('');
                $("#ToTime").val('');
                $('#SessionId').append("<option value=''>Select Session</option>");
                $('#SelectedCourse').append("<option value=''>Select Course</option>");
                $("#SelectedExam option").remove();
                $("#SelectedUser option").remove();
                if (organizatonId != "") {
                    $.ajax({
                        //url: 'GetProgramTeacherByOrganization',
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        type: "POST",
                        data: { organizationIds: organizatonId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                //load programs
                                $('#ProgramId').append('<option value="">Select Program</option>');
                                if (response.returnProgramList != null && response.returnProgramList.length > 0) {
                                    $.each(response.returnProgramList, function (i, v) {
                                        $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });

                                    $("#ProgramId").find('option:eq(0)').prop('selected', true);
                                }

                            }
                            $.unblockUI();
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error:
                            function (response) {
                                var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                                $('.customMessage').append(errorMessage);

                            }
                    });

                } else {

                    $('#ProgramId').append('<option value="">Select Program</option>');
                }
            });
            //Program Change Functionalities
            $(document).on('change', '#ProgramId', function () {
                $("#SelectedExam option").remove();
                $("#SelectedUser option").remove();
                $("#missingImageCount").html("...");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("FromTime").val('');
                $("#ToTime").val('');

                $('#SessionId').empty();
                $('#SessionId').append("<option value=''>Select a session</option>");


                var programId = $("#ProgramId").val();

                if (programId != null && programId != "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForSession",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            $.each(response.returnSessionList, function (i, v) {
                                $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            //$("#SessionId").html(result);
                            console.log("Success -----");
                        }, complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            //console.log(result);
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            //console.log(result);
                        }
                    });
                }
            });


            //Session Change Functionalities
            $(document).on('change', '#SessionId', function () {

                $("#missingImageCount").html("...");

                //remove all dependant dropdownlist & selection option
                $("#SelectedCourse option").remove();
                $("FromTime").val('');
                $("#ToTime").val('');
                $("#SelectedExam option").remove();
                $("#SelectedUser option").remove();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var organizationId = $("#OrganizationId").val();
                if (programId != null && programId != "" && sessionId != null && sessionId != "") {

                    $.ajax({
                        //url: 'GetCourseList',
                        //url: '/Student/Attendance/GetCourseList',
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                        type: "POST",
                        data: { programIds: programId, sessionIds: sessionId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result1) {
                            $.unblockUI();
                            $('#SelectedCourse').append("<option value='0'>All Course</option>");
                            if (result1.IsSuccess) {
                                $.each(result1.returnCourse, function (i, v) {
                                    $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                $("#SelectedCourse").find('option:eq(0)').prop('selected', true);
                                
                                $("FromTime").val('');
                                $("#ToTime").val('');
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                console.log(result);
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            console.log(result);
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            console.log(result);
                        }
                    });
                }
            });

            $(document).on('change', '#SelectedCourse', function () {
                $("FromTime").val('');
                $("#ToTime").val('');
                $("#SelectedExam option").remove();
                $("#SelectedUser option").remove();
            });
           
            $(document).on('change', '#ToTime', function () {
                //$("#SelectedExam option").remove();
                $('#countBtn').attr('disabled', 'disabled');
                $('#countValue').val('0');
                $("#SelectedExam option").remove();
                $("#SelectedUser option").remove();
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var courseId = $("#SelectedCourse").val();
                //var branchId = $("#SelectedBranch").val();
                //var campusId = $("#SelectedCampus").val();
                //var batchDays = $("#SelectedBatchDays").val();
                //var batchTime = $("#SelectedBatchTime").val();
                //var batchId = $("#SelectedBatch").val();
                //var subjectId = $("#SelectedSubject").val();
                var dateFrom = $("#FromTime").val();
                var dateTo = $("#ToTime").val();

                if (programId.length > 0 && sessionId.length > 0 && courseId.length>0 && dateFrom.length > 0 && dateTo.length > 0) {
                    $.ajax({
                        type: "post",
                        url: "/Student/Attendance/LoadExamsForClearExamAttendance",
                        cache: false,
                        async: true,
                        data: { organizationId: organizationId, programId: programId, sessionId: sessionId, courseId: courseId, dateFrom: dateFrom, dateTo: dateTo },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.examList, function (i, v) {
                                    $('#SelectedExam').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                console.log("Success ------");
                            } else {
                                console.log("Error -----");
                                console.log(result);
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            console.log(result);
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            console.log(result);
                        }
                    });
                }
            });

            $(document).on('change', '#FromTime', function () {
                $("#SelectedExam option").remove();
                $('#countBtn').attr('disabled', 'disabled');
                $('#countValue').val('0');

                $("#ToTime").val('');
            });

            $(document).on('change', '#SelectedExam', function () {
                $("#SelectedUser option").remove();
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var courseId = $("#SelectedCourse").val();
                var dateFrom = $("#FromTime").val();
                var dateTo = $("#ToTime").val();
                var examIdArray = [];
                if ($("#SelectedExam").val().indexOf('0') == -1) {
                    examIdArray = $("#SelectedExam").val();
                } else {
                    examIdArray = $.map($('#SelectedExam option'), function (e) { return e.value; });
                    examIdArray = jQuery.grep(examIdArray, function (value) {
                        return value != 0;
                    });
                }
                
                // if (teacherIds.length > 0) {

                $.ajax({
                    type: "post",
                    url: "/Student/Attendance/GetExamAttendanceUsers",
                    cache: false,
                    async: true,
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, courseIds: courseId, examIdList: examIdArray, dateFrom: dateFrom, dateTo: dateTo },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        var userIdArray = [];

                        
                        if (result.userList.length > 0) {
                            $('#SelectedUser').append("<option value='0'>ALL USER</option>");
                        }
                        if (result.IsSuccess) {
                            $.each(result.userList, function (i, v) {
                                //teacherIds.push(v.Value);
                                $('#SelectedUser').append($('<option>').text(v.Text).attr('value', v.Value));
                                userIdArray.push(v.Value);
                            });
                            $("#userIds").val(userIdArray.join());
                            //$("#teacherIds").val(teacherIds.join());
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");

                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");

                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");

                    }
                });
                // }


            });
            $(document).on('change', '#SelectedUser', function () {
                $('#countBtn').removeAttr('disabled', 'disabled');
            });
            $('#informationViewList').bootstrapDualListbox({
                nonselectedlistlabel: 'Non-selected',
                selectedlistlabel: 'Selected',
                preserveselectiononmove: 'moved',
                moveOnSelect: false,
                showFilterInputs: false,
                infoText: '',
            });
            $(document).on('click', '#countBtn', function () {
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                var courseId = $("#SelectedCourse").val();
                var dateFrom = $("#FromTime").val();
                var dateTo = $("#ToTime").val();
                var examIds = $('#SelectedExam').val();
                var userIdArray = [];
                if ($('#SelectedUser').val().indexOf('0') == -1) {
                    userIdArray = $('#SelectedUser').val();
                }
                else {
                    userIdArray = $.map($('#SelectedUser option'), function (e) { return e.value; });
                    userIdArray = jQuery.grep(userIdArray, function (value) {
                        return value != 0;
                    });
                }
                var examIdArray = [];
                if ($('#SelectedExam').val().indexOf('0') == -1) {
                    examIdArray = $('#SelectedExam').val();
                }
                else {
                    examIdArray = $.map($('#SelectedExam option'), function (e) { return e.value; });
                    examIdArray = jQuery.grep(examIdArray, function (value) {
                        return value != 0;
                    });
                }
                if (userIdArray.length > 0) {

                    $.ajax({
                        type: "post",
                        url: "/Student/Attendance/GetStudentCountForExamAttendance",
                        cache: false,
                        async: true,
                        data: { organizationId: organizationId, programId: programId, sessionId: sessionId, courseId: courseId, dateFrom: dateFrom, dateTo: dateTo, examIds: examIdArray, userIdList: userIdArray },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $('#countValue').val(result.rowCount);
                            } else {
                                $('#countValue').val(0);
                            }


                        },
                        complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            console.log(result);
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                            console.log(result);
                        }
                    });
                }
            });
        });
    </script>
}