﻿@model UdvashERP.BusinessModel.ViewModel.StudentModuleView.StudentClassSurveyReportViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Clear Class Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Clear Class Attendance
    </div>
    <div class="panel-body">
        @*@using (Html.BeginForm("ClassEvauation", "StudentClassEvaluationReport", FormMethod.Post))*@
        @using (Html.BeginForm("ClearClassAttendance", "Attendance", FormMethod.Post, new { id = "submitForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (SelectList)ViewBag.orgList, "Select Organization", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (SelectList)ViewBag.Program, "Select Program", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("Session", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Course Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
                    </div>

                </div>
                
                <div class="form-group">

                    @Html.Label("Date From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.FromTime, new { htmlAttributes = new { @class = "form-control form_datetime2", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Date To", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.ToTime, new { htmlAttributes = new { @class = "form-control form_datetime2", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Lecture", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedLecture, (SelectList)ViewBag.SelectedLecture, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedLecture, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Teacher", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedTeacher, (SelectList)ViewBag.SelectedTeacher, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedTeacher, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("User", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(m => m.SelectedUser, (SelectList)ViewBag.SelectedUser, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedUser, "", new { @class = "text-danger" })
                    </div>
                   
                </div>
                <input type="hidden" name="lectureIds" id="lectureIds" />
                <input type="hidden" name="teacherIds" id="teacherIds" />
                <input type="hidden" name="userIds" id="userIds" />
                @*<div class="form-group">
                        <div class="col-md-8">
                            <input class="btn btn-primary" type="button" value="Count" id="countBtn" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="countValue" type="text" value="0" readonly="readonly" />
                        </div>
                    </div>*@
                <div class="form-group" style="align-items: center ; padding-left: 10%;">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-2">
                        <input type="button" class="form-control btn btn-primary" id="countBtn" value="Count" style="margin-top: 2px;font-size: 14px;text-align: center " />
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" name="studentCount" id="countValue" value="0" style="margin-top: 2px;font-size: 14px;color:blue;text-align: center " disabled="" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Clear" class="btn btn-primary" id="Submit" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/Student/Report/ClassEvaluation.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $("#Submit").click(function() {
            if (!$('#submitForm').data('unobtrusiveValidation').validate()) {

            } else {
                bootbox.confirm("<h3>Are you sure you want to clear class attendance?</h3>", function(result) {
                    if (result) {
                        $('#submitForm').submit();
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
        });


        $(document).ready(function() {
            $('#FromTime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                //alert();
                if ($("#FromTime").val() != "") {
                    $("#FromTime").parent().find('span').remove();
                    $("#FromTime").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="FromTime" data-valmsg-replace="true"></span>');

                }
                if (Date.parse($("#FromTime").val()) > Date.parse($("#ToTime").val())) {
                    //alert();
                    $(".dtmsg").text("");
                    $("#FromTime").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($("#FromTime").val()) <= Date.parse($("#ToTime").val())) {
                    $('.dtmsg').text("");

                    $("#Submit").removeAttr('disabled');
                }
            });
            $('#ToTime').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if ($("#ToTime").val() != "") {
                    $("#ToTime").parent().find('span').remove();
                    $("#ToTime").parent().append('<span class="field-validation-valid text-danger" data-valmsg-for="ToTime" data-valmsg-replace="true"></span>');

                }
                if (Date.parse($("#FromTime").val()) > Date.parse($("#ToTime").val())) {
                    $(".dtmsg").text("");
                    $("#ToTime").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);

                }
                if (Date.parse($("#FromTime").val()) <= Date.parse($("#ToTime").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            $(document).ready(function() {
                $('#countBtn').attr('disabled', 'disabled');
                var teacherIds = [];
                var lectureIds = [];
                console.log("EXAM EVALUATION INITIALIZEDs");
                //organization change functionalities
                $("#OrganizationId").change(function() {
                    var organizatonId = $(this).val();
                    $("#ProgramId option").remove();
                    $("#SelectedCourse option").remove();
                    $("#SelectedBranch option").remove();
                    $("#SelectedCampus option").remove();
                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();
                    $('#SessionId').empty();
                    $("FromTime").val('');
                    $("#ToTime").val('');
                    $("#SelectedLecture option").remove();
                    $("#SelectedTeacher option").remove();
                    $("#SelectedSubject option").remove();
                    $('#SessionId').append("<option value=''>Select Session</option>");
                    //$('#SelectedCourse').append("<option value=''>Select Course</option>");
                    //$('#SelectedBranch').append("<option value=''>Select Branch</option>");
                    //$('#SelectedCampus').append("<option value=''>Select Campus</option>");
                    //$('#SelectedBatchDays').append("<option value=''>Select Batch Days</option>");
                    //$('#SelectedBatchTime').append("<option value=''>Select Batch Time</option>");
                    //$('#SelectedBatch').append("<option value=''>Select Batch</option>");
                    if (organizatonId != "") {
                        $.ajax({
                            //url: 'GetProgramTeacherByOrganization',
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                            type: "POST",
                            data: { organizationIds: organizatonId, isAuthorized: true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(response) {
                                if (response.IsSuccess) {
                                    //load programs
                                    $('#ProgramId').append('<option value="">Select Program</option>');
                                    if (response.returnProgramList != null && response.returnProgramList.length > 0) {
                                        $.each(response.returnProgramList, function(i, v) {
                                            $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });

                                        $("#ProgramId").find('option:eq(0)').prop('selected', true);
                                    }

                                }
                                $.unblockUI();
                            },
                            complete: function() {
                                $.unblockUI();
                            },
                            error:
                                function(response) {
                                    var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                                    $('.customMessage').append(errorMessage);

                                }
                        });

                    } else {

                        $('#ProgramId').append('<option value="">Select Program</option>');
                    }
                });
                //Program Change Functionalities
                $(document).on('change', '#ProgramId', function() {

                    $("#missingImageCount").html("...");

                    //remove all dependant dropdownlist & selection option
                    $("#SelectedCourse option").remove();
                    $("#SelectedBranch option").remove();
                    $("#SelectedCampus option").remove();

                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();
                    $("#SelectedLecture option").remove();
                    $("#SelectedTeacher option").remove();
                    $("#SelectedSubject option").remove();
                    $("FromTime").val('');
                    $("#ToTime").val('');

                    $('#SessionId').empty();
                    $('#SessionId').append("<option value=''>Select session</option>");


                    var programId = $("#ProgramId").val();

                    if (programId != null && programId != "") {
                        $.ajax({
                            type: "post",
                            //url: "/Student/Attendance/AjaxRequestForSession",
                            url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                            cache: false,
                            async: true,
                            data: { programIds: programId, isAuthorized: true },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                $.each(result.returnSessionList, function(i, v) {
                                    $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                                //$("#SessionId").html(result);
                                console.log("Success -----");
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");
                                //
                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");

                            }
                        });
                    }
                });
                //Session Change Functionalities
                $(document).on('change', '#SessionId', function() {

                    $("#missingImageCount").html("...");

                    //remove all dependant dropdownlist & selection option
                    $("#SelectedCourse option").remove();
                    $("#SelectedBranch option").remove();
                    $("#SelectedCampus option").remove();

                    $("#SelectedBatchDays option").remove();
                    $("#SelectedBatchTime option").remove();
                    $("#SelectedBatch option").remove();
                    $("#SelectedLecture option").remove();
                    $("#SelectedTeacher option").remove();
                    $("FromTime").val('');
                    $("#ToTime").val('');

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var organizationId = $("#OrganizationId").val();
                    if (programId != null && programId != "" && sessionId != null && sessionId != "" && sessionId != '0') {

                            $.ajax({
                                //url: 'GetCourseList',
                                //url: '/Student/Attendance/GetCourseList',
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                type: "POST",
                                data: { programIds: programId, sessionIds: sessionId },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result1) {
                                    $.unblockUI();
                                    $('#SelectedCourse').append("<option value='0'>All Course</option>");
                                    if (result1.IsSuccess) {
                                        $.each(result1.returnCourse, function(i, v) {
                                            $('#SelectedCourse').append($('<option>').text(v.Text).attr('value', v.Value));
                                        });
                                        $("FromTime").val('');
                                        $("#ToTime").val('');
                                        console.log("Success ------");
                                    } else {
                                        console.log("Error -----");

                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                    console.log("Complete -----");

                                },
                                error: function(result) {
                                    $.unblockUI();
                                    console.log("Failed -----");

                                }
                            });
                        }
                    });
                $(document).on('change', '#SelectedCourse', function() {
                    $("#SelectedLecture option").remove();
                    $("#SelectedTeacher option").remove();

                    $("FromTime").val('');
                    $("#ToTime").val('');


                });

                $(document).on('change', '#ToTime', function() {
                    //$("#SelectedExam option").remove();
                    $('#countBtn').attr('disabled', 'disabled');
                    $('#countValue').val('0');
                    $("#SelectedLecture option").remove();
                    $("#SelectedTeacher option").remove();
                    $("#SelectedUser option").remove();
                    var orgId = $("#OrganizationId").val();

                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var courseId = $("#SelectedCourse").val();

                    var dateFrom = $("#FromTime").val();
                    var dateTo = $("#ToTime").val();
                    var organizationId = $("#OrganizationId").val();
                    lectureIds = [];
                    if (programId.length > 0 && sessionId.length > 0 && dateFrom.length > 0 && dateTo.length > 0) {

                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Attendance/LoadLectureForClearClassAttendance",
                            cache: false,
                            async: true,
                            //(userMenu,courseIdList,subjectIdList, batchIdList,dateFrom,  dateTo,  organizationIdList , programIdList,  branchIdList, sessionIdList, campusIdList ,  batchDaysList,  batchTimeList)
                            data: { courseIdList: courseId, dateFrom: dateFrom, dateTo: dateTo, organizationIdList: orgId, programIdList: programId, sessionIdList: sessionId, organizartionId: organizationId },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                if (result.lectureList.length > 0) {
                                    $('#SelectedLecture').append("<option value='0'>ALL LECTURE</option>");
                                }
                                if (result.IsSuccess) {

                                    $.each(result.lectureList, function(i, v) {
                                        $('#SelectedLecture').append($('<option>').text(v.Text).attr('value', v.Value));
                                        lectureIds.push(v.Value);
                                    });
                                    $("#lectureIds").val(lectureIds.join());
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");

                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");

                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");

                            }
                        });
                    }
                });
                $(document).on('change', '#FromTime', function() {
                    $("#SelectedLecture option").remove();
                    $("#SelectedTeacher option").remove();
                    $("#SelectedUser option").remove();
                    $('#countBtn').attr('disabled', 'disabled');
                    $('#countValue').val('0');
                    $("#ToTime").val('');
                });
                $(document).on('change', '#SelectedLecture', function() {
                    //$("#SelectedExam option").remove();
                    teacherIds = [];
                    $('#countBtn').attr('disabled', 'disabled');
                    $('#countValue').val('0');
                    $("#SelectedTeacher option").remove();
                    $("#SelectedUser option").remove();
                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var courseId = $("#SelectedCourse").val();
                    var dateFrom = $("#FromTime").val();
                    var dateTo = $("#ToTime").val();
                    var lectureId = $("#SelectedLecture").val();
                    //var lectureIds = $.map($('#SelectedLecture option'), function (e) { return e.value; });
                    //var batchIds = $.map($('#SelectedBatch option'), function (e) { return e.value; });
                    if ($("#SelectedLecture").val().indexOf('0') == -1) {
                        lectureIds = $("#SelectedLecture").val();
                    } else {
                        lectureIds = $.map($('#SelectedLecture option'), function(e) { return e.value; });
                        lectureIds = jQuery.grep(lectureIds, function(value) {
                            return value != 0;
                        });
                    }

                    if (programId.length > 0 && sessionId.length > 0 && dateFrom.length > 0 && dateTo.length > 0 && lectureId.length > 0) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Attendance/LoadTeacherForClearClassAttendance",
                            cache: false,
                            async: true,
                            data: { lectureIdList: lectureIds, dateFrom: dateFrom, dateTo: dateTo },
                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                if (result.teacherList.length > 0) {
                                    $('#SelectedTeacher').append("<option value='0'>ALL TEACHER</option>");
                                }
                                if (result.IsSuccess) {
                                    $.each(result.teacherList, function(i, v) {
                                        teacherIds.push(v.Value);
                                        $('#SelectedTeacher').append($('<option>').text(v.Text).attr('value', v.Value));
                                    });
                                    $("#teacherIds").val(teacherIds.join());
                                    console.log("Success ------");
                                } else {
                                    console.log("Error -----");

                                }
                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");

                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");

                            }
                        });
                    }
                });
                $(document).on('change', '#SelectedTeacher', function() {
                    $("#SelectedUser option").remove();
                    var organizationId = $("#OrganizationId").val();
                    var programId = $("#ProgramId").val();
                    var sessionId = $("#SessionId").val();
                    var courseId = $("#SelectedCourse").val();
                    var dateFrom = $("#FromTime").val();
                    var dateTo = $("#ToTime").val();
                    var lectureIdArray = [];
                    if ($("#SelectedLecture").val().indexOf('0') == -1) {
                        lectureIdArray = $("#SelectedLecture").val();
                    } else {
                        lectureIdArray = $.map($('#SelectedLecture option'), function(e) { return e.value; });
                        lectureIdArray = jQuery.grep(lectureIds, function(value) {
                            return value != 0;
                        });
                    }
                    var teacherIdArray = [];
                    if ($("#SelectedTeacher").val().indexOf('0') == -1) {
                        teacherIdArray = $("#SelectedTeacher").val();
                    } else {
                        teacherIdArray = $.map($('#SelectedTeacher option'), function(e) { return e.value; });
                        teacherIdArray = jQuery.grep(teacherIdArray, function(value) {
                            return value != 0;
                        });
                    }
                    // if (teacherIds.length > 0) {

                    $.ajax({
                        type: "post",
                        url: "/Student/Attendance/GetClassAttendanceUsers",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, courseIds: courseId, lectureIdList: lectureIdArray, teacherIdList: teacherIdArray, dateFrom: dateFrom, dateTo: dateTo },

                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            var userIdArray = [];

                            $("#lectureIds").val(lectureIds.join());
                            if (result.userList.length > 0) {
                                $('#SelectedUser').append("<option value='0'>ALL USER</option>");
                            }
                            if (result.IsSuccess) {
                                $.each(result.userList, function(i, v) {
                                    //teacherIds.push(v.Value);
                                    $('#SelectedUser').append($('<option>').text(v.Text).attr('value', v.Value));
                                    userIdArray.push(v.Value);
                                });
                                $("#userIds").val(userIdArray.join());
                                //$("#teacherIds").val(teacherIds.join());
                                console.log("Success ------");
                            } else {
                                console.log("Error -----");

                            }
                        },
                        complete: function() {
                            $.unblockUI();
                            console.log("Complete -----");

                        },
                        error: function(result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                    // }

                   
                });
                $(document).on('change', '#SelectedUser', function() {
                    $('#countBtn').removeAttr('disabled', 'disabled');
                });
                $('#informationViewList').bootstrapDualListbox({
                    nonselectedlistlabel: 'Non-selected',
                    selectedlistlabel: 'Selected',
                    preserveselectiononmove: 'moved',
                    moveOnSelect: false,
                    showFilterInputs: false,
                    infoText: '',
                });
                $(document).on('click', '#countBtn', function() {
                    //var batchId = $("#SelectedBatch").val();
                    var batchIds = [];
                    var dateFrom = $("#FromTime").val();
                    var dateTo = $("#ToTime").val();

                    //var lectureId = $("#SelectedLecture").val();
                    //var teacherIds = $('#SelectedTeacher').val();

                    if ($("#SelectedLecture").val().indexOf('0') == -1) {
                        lectureIds = $("#SelectedLecture").val();
                    } else {
                        lectureIds = $.map($('#SelectedLecture option'), function(e) { return e.value; });
                        lectureIds = jQuery.grep(lectureIds, function(value) {
                            return value != 0;
                        });
                    }
                    if ($('#SelectedTeacher').val().indexOf('0') == -1) {
                        teacherIds = $('#SelectedTeacher').val();
                    } else {
                        teacherIds = $.map($('#SelectedTeacher option'), function(e) { return e.value; });
                        teacherIds = jQuery.grep(teacherIds, function(value) {
                            return value != 0;
                        });
                    }
                    if ($('#SelectedTeacher').val().indexOf('0') == -1) {
                        teacherIds = $('#SelectedTeacher').val();
                    } else {
                        teacherIds = $.map($('#SelectedTeacher option'), function(e) { return e.value; });
                        teacherIds = jQuery.grep(teacherIds, function(value) {
                            return value != 0;
                        });
                    }
                    var userIdArray = [];
                    if ($('#SelectedUser').val().indexOf('0') == -1) {
                        userIdArray = $('#SelectedUser').val();
                    } else {
                        userIdArray = $.map($('#SelectedUser option'), function(e) { return e.value; });
                        userIdArray = jQuery.grep(userIdArray, function(value) {
                            return value != 0;
                        });
                    }
                    if ($('#SelectedUser').val() != "") {

                        $.ajax({
                            type: "post",
                            url: "/Student/Attendance/GetStudentCount",
                            cache: false,
                            async: true,
                            data: { lectureIdList: lectureIds, teacherIdList: teacherIds, dateFrom: dateFrom, dateTo: dateTo, userIdList: userIdArray },

                            beforeSend: function() {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function(result) {
                                $.unblockUI();
                                if (result.IsSuccess) {
                                    $('#countValue').val(result.rowCount);
                                } else {
                                    $('#countValue').val(0);
                                }


                            },
                            complete: function() {
                                $.unblockUI();
                                console.log("Complete -----");

                            },
                            error: function(result) {
                                $.unblockUI();
                                console.log("Failed -----");

                            }
                        });
                    }
                });
            });
        });
    </script>
}
