﻿@{
    ViewBag.Title = "Exam Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}

<h2></h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        Exam Attendance
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("ExamAttendance", "Attendance", FormMethod.Post, new { name = "ExamAttendanceForm", id = "ExamAttendanceForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heldDate" class="control-label col-md-4">Held Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="heldDate" name="heldDate" readonly="readonly" value="@DateTime.Now.ToString("yyyy-MM-d")" />
                            </div>
                            <div class="text-center" id="hdmsg" style="color: red"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization" class="control-label col-md-4">Organization</label>
                            <div class="col-md-8">
                                @Html.DropDownList("organizationId", null, "Select Organization", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sessionId" class="control-label col-md-4">Program</label>
                            <div class="col-md-8">
                                @Html.DropDownList("programId", Enumerable.Empty<SelectListItem>(), "Select Program", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="session" class="control-label col-md-4">Session</label>
                            <div class="col-md-8">
                                @Html.DropDownList("sessionId", Enumerable.Empty<SelectListItem>(), "Select Session", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="course" class="control-label col-md-4">Course</label>
                            <div class="col-md-8">
                                @Html.DropDownList("courseId", Enumerable.Empty<SelectListItem>(), "Select Course", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject" class="control-label col-md-4">Exam Name</label>
                            <div class="col-md-8">
                                @Html.DropDownList("examId", Enumerable.Empty<SelectListItem>(), "Select Exam", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="xmlText" class="control-label col-md-2 col-md-offset-2">Browse XML:</label>
                            <div class="col-md-8">
                                <input type="text" id="xmlText" class="col-md-8  form-control" readonly="readonly" />
                                <input type="file" name="xmlFile" id="xmlFile" style="display: block; height: 0; width: 0;">&nbsp;
                                <input type="button" value="Upload" class="btn btn-primary" id="xmlUpload" />
                            </div>
                            <div class="text-center" id="" style="color: red"></div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-md-offset-4">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="totalRows" name="totalRows" maxlength="3" placeholder="Number of rows" />
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" class="btn" id="rowIncrement">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </div>

                </div>
                <div class="row col-md-8 col-md-offset-2">
                    <div class="table-responsive">
                        <table id="studentProgramTable" class="table table-bordered">
                            <tr>
                                <th class="text-center"><strong>Sl.</strong></th>
                                 <td class="text-center"><strong>Student Roll</strong></td>
                                <td class="text-center"><strong>আজকের প্রশ্নের মান কেমন ছিল?</strong></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="row col-md-2" style="color: green;margin-left: 10px;">
                    <strong>Last Roll Entered:</strong>
                    <div id="lastId"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="form-group text-center">
                        <input id="Submit" type="button" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>



        }

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @*@Scripts.Render("~/bundles/ClassAttendance")*@
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        var slNo = 0;
        var lastIdEntered = "";
        var allStudentRolls = [];
        $("select").change(function() {
            if ($(this).val() != "") {
                $(this).parent().find(".errmsg").remove();
            }
        });
        $(document).on("input propertychange", "#totalRows", function(event) {
            var input = $(this);
            input.val(input.val().replace(/[^\d]/g, ""));
        });
        $(document).on("input propertychange", "input[id*='studentRoll']", function(event) {
            var input = $(this);
            input.val(input.val().replace(/[^\d]/g, ""));
            if (input.val().length > 0) {
                $(this).parent().next('td').find("input[name*='feedback']").removeAttr('disabled');
            } else {
                $(this).parent().next('td').find("input[name*='feedback']:checked").prop('checked', false);
                $(this).parent().next('td').find("input[name*='feedback']").prop('disabled', true);
            }
            $("input[name='studentRoll']").each(function() {
                if ($(this).val() != "") {
                    allStudentRolls.push($(this).val());
                }
            });
            lastIdEntered = allStudentRolls[allStudentRolls.length - 1];
            $("#lastId").text(lastIdEntered).css("font-weight", "Bold");
        });
        $(document).on("input propertychange", "input[name='studentRoll']", function () {
            var txt = $(this);
            if (txt.val().length > 0) {
                if (txt.val().length < 11) {
                    $(this).css('border-color', 'red');
                } else {
                    $.ajax({
                        url: 'CheckValidStudentProgramRoll',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            studentProgramRoll: txt.val(),
                        },
                        success: function(data) {
                            if (data == false) {
                                txt.css('border-color', 'red');
                            }
                            if (data == true) {
                                txt.css('border-color', '#cccccc');
                            }
                        }
                    });
                }
            } else {
                txt.css('border-color', '#cccccc');
            }
        });
        var totalRows = 0;
        var studentRollCount = 0;
        $("#rowIncrement").click(function() {
            console.log('clicked');
            totalRows = parseInt(parseInt($("#totalRows").val()) + studentRollCount);
            //var startCount =parseInt($("input[name='studentRoll']").last().attr('id').replace("studentRoll",""));
            // console.log("startCount:"+startCount);
            for (var i = studentRollCount; i < totalRows; i++) {
                slNo++;
                $("#studentProgramTable").append("<tr class='studentRows'><td>" + slNo + "</td><td><input type='text' class='form-control studentRollClass' name='studentRoll' maxlength='11' id='studentRoll" + i + "' /></td><td><input type='radio' class='feedbackClass' name='feedback" + i + "' value='1' disabled='disabled'>&nbsp;স্ট্যান্ডার্ড" +
                    "&nbsp;&nbsp;<input type='radio' class='feedbackClass' name='feedback" + i + "' value='2' disabled='disabled'>&nbsp;কঠিন&nbsp;&nbsp;<input type='radio' class='feedbackClass' name='feedback" + i + "' value='3' disabled='disabled' >&nbsp;সহজ</td></tr>");
                studentRollCount++;
            }
        });
        //XML Upload feature
        var erroreousRolls = [];

        function AddRows(result) {
            var examAttendances = result.examAttendances;
            totalRows = parseInt(parseInt(examAttendances.length) + studentRollCount);
            var x = 0;


            for (var i = studentRollCount; i < totalRows; i++) {
                slNo++;
                allStudentRolls.push(examAttendances[x].Roll);
                lastIdEntered = allStudentRolls[allStudentRolls.length - 1];
                $("#lastId").text(lastIdEntered).css("font-weight", "Bold");
                $("#studentProgramTable").append("<tr class='studentRows'><td>" + slNo + "</td><td><input type='text' class='form-control studentRollClass' name='studentRoll' maxlength='11' id='studentRoll" + i + "' value=" + examAttendances[x].Roll + " /></td><td><input type='radio' class='feedbackClass' name='feedback" + i + "' value='1' >&nbsp;স্ট্যান্ডার্ড" +
                    "&nbsp;&nbsp;<input type='radio' class='feedbackClass' name='feedback" + i + "' value='2' >&nbsp;কঠিন&nbsp;&nbsp;<input type='radio' class='feedbackClass' name='feedback" + i + "' value='3' >&nbsp;সহজ</td></tr>");
                //alert(txt.val());
                console.log(i);
                if (examAttendances[x].isValidProgramRoll == true) {
                    $("input:text[id='studentRoll" + i + "']").css('border-color', 'red');
                }

                if (examAttendances[x].QuestionQuality.indexOf("$") > -1) {
                    erroreousRolls.push(examAttendances[x].Roll);
                } else {
                    if (examAttendances[x].QuestionQuality == "Standard") {
                        $("input:radio[name='feedback" + i + "'][value=1]").prop('checked', true);
                    }
                    if (examAttendances[x].QuestionQuality == "Hard") {
                        $("input:radio[name='feedback" + i + "'][value=2]").prop('checked', true);
                    }
                    if (examAttendances[x].QuestionQuality == "Easy") {
                        $("input:radio[name='feedback" + i + "'][value=3]").prop('checked', true);
                    }
                }
                x++;
                studentRollCount++;
            }
            //if (erroreousRolls.length > 0) {
            //    var errmsg = erroreousRolls.join() + " has/have erroreous feedback.";
            //    $.fn.customMessage({
            //        displayMessage: errmsg,
            //        displayMessageType: "e",
            //    });
            //}
        }


        $('#xmlText').click(function() {
            $('input[type=file]').trigger('click');
        });

        $('input[type=file]').change(function() {
            $('#xmlText').val($(this).val());
        });
        $("#xmlUpload").click(function() {
            var xmltext = $('#xmlText');
            var formData = new FormData(document.getElementById("ExamAttendanceForm"));
            if (xmltext.val()!="") {
                $.ajax({
               type: "post",
               url: '@Url.Action("ExamAttendanceXmlUpload", "Attendance")',
               data: formData,
               processData: false,
               contentType: false,
               success: function(result) {
                    xmltext.val("");
                    $("#xmlFile").val("");
                    if (result.isSuccess == true) {
                        $('#xmlText').prop('disabled', true);
                        $("#xmlUpload").prop('disabled', true);
                        AddRows(result);
           } else {
                        $.fn.customMessage({
               displayMessage: result.errmsg,
               displayMessageType: "e",
           });
                        $('html, body').animate({ 'scrollTop': 0 }, 100);

           }
           }
           });
           }
        });
        //XML Upload feature
        $("#Submit").click(function() {
            var studentRollCount = 0;
            var success = true;
            var batchId = $("#batchId");
            //var examId = $("#examId");
            var heldDate = $("#heldDate");
            var programId = $("#programId");
            var examId = $("#examId");
            var studentFeedback = [];
            var studentRoll = [];
            var xx = 0;
            $("input[name='studentRoll']").each(function() {

                studentRollCount++;

            });
            for (var x = 0; x < studentRollCount; x++) {
                if ($('#studentRoll' + x).val() != "") {
                    studentRoll[xx] = $('#studentRoll' + x).val();
                    var value = $("input[name='feedback" + x + "']:checked").val();
                    if (typeof value === "undefined") {
                        studentFeedback[xx] = "";
                    } else {
                        studentFeedback[xx] = value;
                    }
                    xx++;
                }

            }
            String.prototype.capitalize = function() {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };
            $('select').each(function() {
                if ($(this).val() == "") {
                    var message = $(this).attr('id').replace("Id", "").capitalize() + " is required.";
                    //if (message.contains("BatchDays")) {
                    //    message = message.replace("BatchDays", "Batch Days");
                    //}
                    //if (message.contains("BatchTime")) {
                    //    message = message.replace("BatchTime", "Batch Time");
                    //}
                    $(this).parent().find(".errmsg").remove();
                    $(this).parent().append('<div class="errmsg" style="color:red;">' + message + '</div>');
                    success = false;
                }
            });
            if (heldDate.val() == "") {
                $("#hdmsg").text('');
                $("#hdmsg").text('Held Date is required');
            }

            var redtxtcount = 0;
            $('input[id*="studentRoll"]').each(function() {
                if ($(this).css('borderTopColor') == "rgb(255, 0, 0)")
                    redtxtcount++;
            });

            //if (success == true && redtxtcount < 1 && studentRoll.length > 0) {
            if (success == true  && studentRoll.length > 0) {
                $.ajax({
                    url: 'ExamAttendance',
                    type: "POST",
                    dataType: 'json',
                    //long programId,long examId, DateTime heldDate, string[] studentRoll, string[] studentFeedback
                    data: {
                        programId: programId.val(),
                        examId: examId.val(),
                        heldDate: heldDate.val(),
                        studentRoll: studentRoll,
                        studentFeedback: studentFeedback
                    },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        slNo = 0;
                        $("input[name='studentRoll']").each(function () {
                            $(this).val("");
                        });
                        $("#totalRows").val("");
                        $(".studentRows").hide();
                        studentRollCount = 0;
                        $('#xmlText').removeAttr('disabled');
                        $("#xmlUpload").removeAttr('disabled');
                        var successCount = 0;
                        var errormsg = "";
                        var infomsg = "";
                        if (result.messageList.length > 0) {
                            var notExist = "";
                            var invalidDate = "";
                            var invalidProgram = "";
                            var duplicateAttendance = "";
                            for (var i = 0; i < result.messageList.length; i++) {
                                if (result.messageList[i].SuccessMessage != null) {
                                    successCount++;
                                    continue;
                                }
                                if (result.messageList[i].ErrorMessage != null) {
                                    if (result.messageList[i].ErrorMessage.indexOf("exist") != -1) {
                                        notExist += result.messageList[i].ErrorMessage.replace(/\D/g, '') + ", ";
                                        continue;
                                    }
                                    if (result.messageList[i].ErrorMessage.indexOf("program") != -1) {
                                        invalidProgram += result.messageList[i].ErrorMessage.replace(/\D/g, '') + ", ";
                                        continue;
                                    }
                                    if (result.messageList[i].ErrorMessage.indexOf("date") != -1) {
                                        invalidDate += result.messageList[i].ErrorMessage.replace(/\D/g, '') + ", ";
                                        continue;
                                    }
                                    if (result.messageList[i].ErrorMessage.indexOf("already") != -1) {
                                        duplicateAttendance += result.messageList[i].ErrorMessage.replace(/\D/g, '') + ", ";
                                        continue;
                                    }
                                    //errormsg += result.messageList[i].ErrorMessage;

                                }
                                if (result.messageList[i].InfoMessage != null) {
                                    infomsg += result.messageList[i].InfoMessage;
                                    continue;
                                }
                            }
                            if (successCount > 0) {
                                $.fn.customMessage({
                                    displayMessage: successCount + " students have attended",
                                    displayMessageType: "s",
                                });
                            }
                            if (notExist != "") {
                                errormsg += notExist.replace(/,\s*$/, "") + " do/does not exist." + '<br />';
                            }
                            if (invalidProgram != "") {
                                errormsg += invalidProgram.replace(/,\s*$/, "") + " is/are not valid for this program." + '<br />';
                            }
                            if (invalidDate != "") {
                                errormsg += invalidDate.replace(/,\s*$/, "") + " is not valid for this date." + '<br />';
                            }
                            if (duplicateAttendance != "") {
                                errormsg += "Attendance is given for " + duplicateAttendance.replace(/,\s*$/, "") + " already." + '<br />';
                            }
                            if (errormsg != "") {
                                $.fn.customMessage({
                                    displayMessage: errormsg.replace(/,\s*$/, ""),
                                    displayMessageType: "e",
                                });
                            }
                            if (infomsg != "") {
                                $.fn.customMessage({
                                    displayMessage: infomsg.replace(/,\s*$/, ""),
                                    displayMessageType: "i",
                                });
                            }
                        }
                        if (result.successRolls.length > 0) {
                            $("input[name='studentRoll']").each(function() {
                                if ($.inArray($(this).val(), result.successRolls) > -1) {
                                    $(this).val("");
                                    $(this).parent().next('td').find("input[name*='feedback']:checked").prop('checked', false);
                                    $(this).parent().next('td').find("input[name*='feedback']").prop('disabled', true);
                                }
                            });
                        }
                        $.unblockUI();
                    },

                    complete: function() {
                        $.unblockUI();
                    }
                });
            }
        });


        $("#heldDate").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            endDate: '+0d',
            startView: 2,
            minView: 2,
            maxView: 4
        }).on('changeDate', function(ev) {
            $("#xmlText").removeAttr('disabled');
            $("#xmlUpload").removeAttr('disabled');
            if ($(this).val().length > 0) {
                $("#hdmsg").text("");
            }
        });

        $("#organizationId").change(function() {
            $("#totalRows").val("");
            $(".studentRows").remove();
            studentRollCount = 0;
            slNo = 0;
            var organizatonId = $(this).val();
            $("#programId option").remove();
            $("#courseId option").remove();
            $("#branchId option").remove();
            $("#campusId option").remove();
            $("#batchDays option").remove();
            $("#batchTime option").remove();
            $("#batchId option").remove();
            $("#examId option").remove();
            $('#sessionId').empty();
            $('#examId').append("<option value=''>Select Exam</option>");
            $('#sessionId').append("<option value=''>Select Session</option>");
            $('#courseId').append("<option value=''>Select Course</option>");
            $('#branchId').append("<option value=''>Select Branch</option>");
            $('#campusId').append("<option value=''>Select Campus</option>");
            $('#batchDays').append("<option value=''>Select Batch Days</option>");
            $('#batchTime').append("<option value=''>Select Batch Time</option>");
            $('#batchId').append("<option value=''>Select Batch</option>");
            if (organizatonId != "") {
                $.ajax({
                    //url: 'GetProgramTeacherByOrganization',
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                    //data: { "organizatonId": organizatonId },
                    data: { organizationIds: organizatonId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            //load programs
                            $('#programId').append('<option value="">Select Program</option>');
                            if (response.returnProgramList != null && response.returnProgramList.length > 0) {
                                $.each(response.returnProgramList, function (i, v) {
                                    $('#programId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                $("#programId").find('option:eq(0)').prop('selected', true);
                            }


                        }
                       
                    },
                    complete: function() {
                        $.unblockUI();
                    },
                    error:
                        function(response) {
                            // alert("Session load failed");
                            var errorMessage = '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> Program and Branch load failed</div>';
                            $('.customMessage').append(errorMessage);
                            //console.log("Failed -----");
                            // console.log(response);
                        }
                });

            } else {

                $('#programId').append('<option value="">Select Program</option>');
            }
        });
        $("#programId").change(function() {
            //remove all dependant dropdownlist & selection option
            $("#courseId option").remove();
            $("#branchId option").remove();
            $("#campusId option").remove();
            $("#batchDays option").remove();
            $("#batchTime option").remove();
            $("#batchId option").remove();
            $("#examId option").remove();
            $('#sessionId').empty();
            $('#sessionId').append("<option value=''>Select Session</option>");
            $('#courseId').append("<option value=''>Select Course</option>");
            $('#branchId').append("<option value=''>Select Branch</option>");
            $('#campusId').append("<option value=''>Select Campus</option>");
            $('#batchDays').append("<option value=''>Select Batch Days</option>");
            $('#batchTime').append("<option value=''>Select Batch Time</option>");
            $('#batchId').append("<option value=''>Select Batch</option>");
            $('#examId').append("<option value=''>Select Exam</option>");

            var organizationIds = $('#organizationId').val();
            var programId = $('#programId').val();
            if (programId != null && programId != "") {
                $.ajax({
                    type: "POST",
                                        @*url: '@Url.Action("GetSession", "Attendance")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                    cache: false,
                    async: true,
                    //data: { programId: programId },
                    data: { organizationIds: organizationIds, programIds: programId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        //$.unblockUI();
                        //$("#sessionId").html(response);
                        //console.log("Success -----");
                        if (response.IsSuccess) {
                            $.each(response.returnSessionList, function (i, v) {
                                $('#sessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        }
                        else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error",
                            });
                        }

                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                    },
                    error: function(response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        // console.log(result);
                    }
                });
            }

        });

        $("#sessionId").change(function() {
            //remove all dependant dropdownlist & selection option
            $("#courseId option").remove();
            $("#branchId option").remove();
            $("#campusId option").remove();
            $("#batchDays option").remove();
            $("#batchTime option").remove();
            $("#batchId option").remove();
            $("#examId option").remove();
            $('#examId').append("<option value=''>Select Exam</option>");
            $('#courseId').append("<option value=''>Select Course</option>");
            $('#branchId').append("<option value=''>Select Branch</option>");
            $('#campusId').append("<option value=''>Select Campus</option>");
            $('#batchDays').append("<option value=''>Select Batch Days</option>");
            $('#batchTime').append("<option value=''>Select Batch Time</option>");
            $('#batchId').append("<option value=''>Select Batch</option>");

            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var organizationId = $("#organizationId").val();
            if (organizationId != null && organizationId != "" && programId != null && programId != "" && programId != 0 && sessionId != null && sessionId != "" && sessionId != 0) {
                //Load Branch List
                $.ajax({
                    type: "post",
                                        @*url: '@Url.Action("GetBranch", "Attendance")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, organizationId: organizationId },
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#branchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedBranch").find('option:eq(0)').prop('selected', true);
                            console.log("Success -----");
                            //Load Course List
                            $.ajax({
                                                                @*url: '@Url.Action("GetCourse", "Attendance")',*@
                                url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                                type: "POST",
                                //data: { programId: programId, sessionId: sessionId },
                                data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(responses) {
                                    if (responses.IsSuccess) {
                                        $.each(responses.returnCourse, function (ii, vv) {
                                            $('#courseId').append($('<option>').text(vv.Text).attr('value', vv.Value));
                                        });
                                        //$("#SelectedCourse").find('option:eq(0)').prop('selected', true);
                                        console.log("Success ------");
                                    } else {
                                        console.log("Error -----");
                                        //console.log(response);
                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                    console.log("Complete -----");
                                    //console.log(response);
                                },
                                error: function(responses) {
                                    $.unblockUI();
                                    console.log("Failed -----");
                                    //console.log(response);
                                }
                            });
                        } else {
                            console.log("Error -----");
                            // console.log(response);
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(response);
                    },
                    error: function(response) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(response);
                    }
                });
            }

        });

        $("#branchId").change(function() {

            //remove all dependant dropdownlist & selection option
            $("#campusId option").remove();
            $("#batchDays option").remove();
            $("#batchTime option").remove();
            $("#batchId option").remove();
            $('#campusId').append("<option value=''>Select Campus</option>");
            $('#batchDays').append("<option value=''>Select Batch Days</option>");
            $('#batchTime').append("<option value=''>Select Batch Time</option>");
            $('#batchId').append("<option value=''>Select Batch</option>");

            var organizationId = $("#organizationId").val();
            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var branchId = $("#branchId").val();

            if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "") {
                $.ajax({
                    type: "post",
                                        @*url: '@Url.Action("GetCampus", "Attendance")',*@url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, branchId: branchId },
                    data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnCampusList, function (i, v) {
                                $('#campusId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedCampus").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                        // console.log(result);
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }

        });


        //Campus Change Functionalities
        $("#campusId").change(function() {

            //remove all dependant dropdownlist & selection option
            $("#batchDays option").remove();
            $("#batchTime option").remove();
            $("#batchId option").remove();
            $('#batchDays').append("<option value=''>Select Batch Days</option>");
            $('#batchTime').append("<option value=''>Select Batch Time</option>");
            $('#batchId').append("<option value=''>Select Batch</option>");
            var organizationId = $("#organizationId").val();
            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var branchId = $("#branchId").val();
            var campusId = $("#campusId").val();

            if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "") {
                $.ajax({
                    type: "post",
                                        @*url: '@Url.Action("GetBatchDay", "Attendance")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchDay",
                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId },
                    data: { organizationIds: organizationId, programIds: programId, branchIds: branchId, sessionIds: sessionId, campusIds: campusId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnBatchDays, function (i, v) {
                                $('#batchDays').append($('<option>').text(v.Text).attr('value', v.Text));
                            });
                            /// $("#SelectedBatchDays").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                        // console.log(result);
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        // console.log(result);
                    }
                });
            }

        });


        //Batch Day Change Functionalities
        $("#batchDays").change(function() {

            //remove all dependant dropdownlist & selection option
            $("#batchTime option").remove();
            $("#batchId option").remove();
            $('#batchTime').append("<option value=''>Select Batch Time</option>");
            $('#batchId').append("<option value=''>Select Batch</option>");
            var organizationId = $("#organizationId").val();

            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var branchId = $("#branchId").val();
            var campusId = $("#campusId").val();
            var batchDays = $("#batchDays").val();

            if (organizationId != null && organizationId != "" && programId != null && programId != "" && sessionId != null && sessionId != "" && branchId != null && branchId != "" && campusId != null && campusId != "" && batchDays != null && batchDays != "") {
                $.ajax({
                    type: "post",
                                        @*url: '@Url.Action("GetBatchTime", "Attendance")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatchTime",
                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchDays: batchDays },
                    data: { organizationIds: organizationId, programIds: programId, sessionIds: sessionId, branchIds: branchId, campusIds: campusId, batchDays: batchDays, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnBatchTime, function (i, v) {
                                $('#batchTime').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#SelectedBatchTime").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            // console.log(result);
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(result);
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }

        });


        //Batch Time Change Functionalities
        $("#batchTime").change(function() {

            //remove all dependant dropdownlist & selection option
            $("#batchId option").remove();
            $('#batchId').append("<option value=''>Select Batch</option>");

            var organizationId = $("#organizationId").val();
            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var branchId = $("#branchId").val();
            var campusId = $("#campusId").val();
            var batchDays = $("#batchDays").val();
            var batchTime = $("#batchTime").val();
            var batchTimeText = [];

            $("#batchTime option:selected").each(function() {
                var $this = $(this);
                if ($this.length) {
                    batchTimeText.push($this.text());
                }
            });

            if (organizationId != null && organizationId != "" && programId != null && programId != ""
                && sessionId != null && sessionId != ""
                && branchId != null && branchId != ""
                && campusId != null && campusId != ""
                && batchDays != null && batchDays != ""
                && batchTime != null && batchTime != "") {
                $.ajax({
                    type: "POST",
                                        @*url: '@Url.Action("GetBatch", "Attendance")',*@
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBatch",
                    cache: false,
                    async: true,
                    //data: { programId: programId, sessionId: sessionId, branchId: branchId, campusId: campusId, batchDays: batchDays, batchTime: batchTime, batchTimeText: batchTimeText },
                    // data: { programIds: programId, sessionIds: sessionId, campusIds: campusId, branchIds: branchId, batchDays: batchDays, batchTimes: batchTime },
                    //data: { programIds: programId, sessionIds: sessionId, campusIds: campusId, branchIds: branchId, batchDays: batchDays, batchTimes: batchTime, isAuthorized: true },
                    data: { programIds: programId, sessionIds: sessionId, campusIds: campusId, branchIds: branchId, batchDays: batchDays, batchTimes: batchTime, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.returnBatch, function (i, v) {
                                $('#batchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            /// $("#batchName").find('option:eq(0)').prop('selected', true);
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(result);
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }

        });
        $("#courseId").change(function () {

            //remove all dependant dropdownlist & selection option
            $("#examId option").remove();
            $('#examId').append("<option value=''>Select Exam</option>");
            var programId = $("#programId").val();
            var sessionId = $("#sessionId").val();
            var courseId = $("#courseId").val();
            if (courseId != null && courseId != "") {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("GetExam", "Attendance")',
                    cache: false,
                    async: true,
                    data: { programId: programId, sessionId: sessionId, courseId: courseId},
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.examList, function(i, v) {
                                $('#examId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            //console.log(result);
                        }
                    },
                    complete: function() {
                        $.unblockUI();
                        console.log("Complete -----");
                        //console.log(result);
                    },
                    error: function(result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        //console.log(result);
                    }
                });
            }

        });
        $("#examId").change(function() {
            
            $("#xmlText").removeAttr('disabled');
            $("#xmlUpload").removeAttr('disabled');
        });

    </script>
}



