﻿@Styles.Render("~/Content/bootstrap-datetimepicker")
@using Microsoft.Ajax.Utilities
@model UdvashERP.Areas.Student.Models.AttendanceSearchInfo

@{
    ViewBag.Title = "Exam Attendance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ DateTime now = DateTime.Now;
   var startDate = new DateTime(now.Year, now.Month, 1);
   var endDate = now;
 }
@Styles.Render("~/Content/css/bootstrap-duallistbox")

<div class="panel panel-primary">
    <div class="panel-heading">
        Attendance Report
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GenerateAttendanceReport", "Attendance", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>MaterialFilterView</h4>
            <hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Organization", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.OrganizationId, null, "Select Organization", htmlAttributes: new { @class = "form-control", @id = "organizationId" })
                @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Program", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.ProgramId, Enumerable.Empty<SelectListItem>(), "Select Program", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.Label("Session", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.SessionId, (SelectList)ViewBag.Session, "Select Session", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
            </div>
           
        </div>

        <div class="form-group">
            @Html.Label("Branch", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBranch, (SelectList)ViewBag.SelectedBranch, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBranch, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Campus", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedCampus, (SelectList)ViewBag.SelectedCampus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedCampus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Batch Days", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBatchDays, (SelectList)ViewBag.SelectedBatchDays, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBatchDays, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Batch Time", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBatchTime, (SelectList)ViewBag.SelectedBatchTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBatchTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Batch", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedBatch, (SelectList)ViewBag.SelectedBatch, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedBatch, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Course", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedCourse, (SelectList)ViewBag.SelectedCourse, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedCourse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Payment Status", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.SelectedPaymentStatus, (SelectList)ViewBag.SelectedPaymentStatus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedPaymentStatus, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Attendance Status", new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Html.DropDownListFor(m => m.AttendanceStatus, Model.AttendenseStatusList, new { @class = "form-control" })
            </div>
           
        </div>

        <div class="form-group">
            @*@Html.Label("Attendance Status", new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.AttendanceStatus, Model.AttendenseStatusList, new { @class = "form-control" })
        </div>*@
            @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control  form_datetime1", @readonly = "readonly", @Value = @startDate.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control form_datetime2", @readonly = "readonly", @Value = @endDate.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            
            @Html.Label("Exam", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedExam, (SelectList)ViewBag.SelectedExam, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedExam, "", new { @class = "text-danger" })
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center; font-weight: bold;">
                <h4>Select Information to View</h4>
            </div>
        </div>
        <div class="row" style="padding-left: 80px">
            <div class="col-md-12">
                <select name="informationViewList" id="informationViewList" class="form-control valid" multiple="multiple">
                    <option value="Program Roll">Program Roll</option>
                    <option value="Student's Name">Student's Name</option>
                    <option value="Nick Name">Nick Name</option>
                    <option value="Mobile Number (Student)">Mobile Number (Student)</option>
                    <option value="Mobile Number (Father)">Mobile Number (Father)</option>
                    <option value="Mobile Number (Mother)">Mobile Number (Mother)</option>
                    <option value="Father's Name">Father's Name</option>
                    <option value="Institute Name">Institute Name</option>
                    <option value="Email">Email</option>
                    <option value="Branch">Branch</option>
                    <option value="Batch">Batch</option>
                    <option value="Version of Study">Version of Study</option>
                    <option value="Gender">Gender</option>
                    <option value="Religion">Religion</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Generate" class="btn btn-primary" id="Submit" />
            </div>
            <input type="hidden" name="batchIds" id="batchIds" />
        </div>
    </div>

        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Student/Attendance/attendanceReport.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(document).ready(function() {
            $("#Submit").prop('disabled', true);
            $("#StartDate").val("");
            $("#EndDate").val("");
            $('.form_datetime1').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                //initialDate: "2000-01-01",
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {

                if (Date.parse($(".form_datetime1").val()) > Date.parse($(".form_datetime2").val())) {
                    //alert();
                    $(".dtmsg").text("");
                    $(".form_datetime1").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($(".form_datetime1").val()) <= Date.parse($(".form_datetime2").val())) {
                    $('.dtmsg').text("");

                    $("#Submit").removeAttr('disabled');
                }
            });

            $('.form_datetime2').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                // initialDate: "2000-01-01",
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function(ev) {
                if (Date.parse($(".form_datetime1").val()) > Date.parse($(".form_datetime2").val())) {
                    $(".dtmsg").text("");
                    $(".form_datetime2").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);

                }
                if (Date.parse($(".form_datetime1").val()) <= Date.parse($(".form_datetime2").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            //$('.form_datetime1').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: new Date(),
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});
            //$('.form_datetime2').datetimepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true,
            //    todayBtn: false,
            //    showMeridian: true,
            //    initialDate: new Date(),
            //    startView: 2,
            //    minView: 2,
            //    maxView: 4
            //});
        });
        $(document).on('click', '.removeall', function() {
            $("#Submit").prop('disabled', true);
        });
        $(document).on('click', '.remove', function() {
            if ($('select[name="informationViewList_helper2"] option').length == 0) {
                $("#Submit").prop('disabled', true);
            }
        });
        $(document).on('click', '.moveall', function () {
            $("#Submit").removeAttr('disabled');
        });
        $(document).on('click', '.move', function () {
            $("#Submit").removeAttr('disabled');
            
        });
        $('#Submit').click(function() {
            var batchIds = [];
            if ($("#SelectedBatch").val().indexOf('0') == -1) {
                batchIds = $("#SelectedBatch").val();
            } else {
                batchIds = $.map($('#SelectedBatch option'), function (e) { return e.value; });
                batchIds = jQuery.grep(batchIds, function (value) {
                    return value != 0;
                });
            }
            $("#batchIds").val(batchIds.join(", "));
        });

        $(document).on('change', '#StartDate', function () {
            //$("#SelectedExam option").remove();
            $("#SelectedExam option").remove();
            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var courseId = $("#SelectedCourse").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchId = $("#SelectedBatch").val();
            var subjectId = [0];
            var dateFrom = $("#StartDate").val();
            var dateTo = $("#EndDate").val();

            if (programId.length > 0 && sessionId.length > 0 & branchId.length > 0 && campusId.length > 0 && batchId.length > 0 && subjectId.length > 0 && dateFrom.length > 0 && dateTo.length > 0) {
                $.ajax({
                    type: "post",
                    url: "/Student/StudentExamEvaluationReport/AjaxRequestForExam",
                    cache: false,
                    async: true,
                    data: { programId: programId, sessionId: sessionId, courseId: courseId, branchId: branchId, campusId: campusId, batchId: batchId, subjectId: subjectId, dateFrom: dateFrom, dateTo: dateTo },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.examList, function (i, v) {
                                $('#SelectedExam').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            console.log(result);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        console.log(result);
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        console.log(result);
                    }
                });
            }
        });
        $(document).on('change', '#EndDate', function () {
            //$("#SelectedExam option").remove();
            $("#SelectedExam option").remove();
            var programId = $("#ProgramId").val();
            var sessionId = $("#SessionId").val();
            var courseId = $("#SelectedCourse").val();
            var branchId = $("#SelectedBranch").val();
            var campusId = $("#SelectedCampus").val();
            var batchId = $("#SelectedBatch").val();
            var subjectId = [0];
            var dateFrom = $("#StartDate").val();
            var dateTo = $("#EndDate").val();

            if (programId.length > 0 && sessionId.length > 0 & branchId.length > 0 && campusId.length > 0 && batchId.length > 0 && subjectId.length > 0 && dateFrom.length > 0 && dateTo.length > 0) {
                $.ajax({
                    type: "post",
                    url: "/Student/StudentExamEvaluationReport/AjaxRequestForExam",
                    cache: false,
                    async: true,
                    data: { programId: programId, sessionId: sessionId, courseId: courseId, branchId: branchId, campusId: campusId, batchId: batchId, subjectId: subjectId, dateFrom: dateFrom, dateTo: dateTo },
                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function (result) {
                        $.unblockUI();
                        if (result.IsSuccess) {
                            $.each(result.examList, function (i, v) {
                                $('#SelectedExam').append($('<option>').text(v.Text).attr('value', v.Value));
                            });

                            console.log("Success ------");
                        } else {
                            console.log("Error -----");
                            console.log(result);
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                        console.log("Complete -----");
                        console.log(result);
                    },
                    error: function (result) {
                        $.unblockUI();
                        console.log("Failed -----");
                        console.log(result);
                    }
                });
            }
        });
    </script>
    
    @*<script type="text/javascript">
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({
            format: 'hh:ii',
            showMeridian: true,
            startView: 1,
            pickDate: false
        });
    });
</script>*@

}
