﻿@using System.Web.UI.WebControls
@using UdvashERP.Areas.Student.Models
@Styles.Render("~/Content/styledatatable")
@*@Styles.Render("~/Content/styletabletools")*@
@{
    ViewBag.Title = "Generate Attendance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;
    var dateFrom = (DateTime)ViewBag.startDate;
    var dateTo = (DateTime)ViewBag.endDate;
    var attendanceSerachInfoForExport = (AttendanceSearchInfo)@ViewBag.attendanceSerachInfo;
}




<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Exam Attendance Report</h3>
    </div>
    @*<div id="headerPart"class="col-md-12">
            <div style="float: left;margin-bottom: 20px;">
                <img src="@logoImage" width="150" height="150" />
            </div>
            <div style="float: left;margin-bottom: 20px;width: 55%; margin: 0 auto;">
                <div class="row text-center">
                    <div><strong>@ErpInfo.OrganizationNameFull</strong></div>
                    <div><strong>@ViewBag.programName&nbsp;@ViewBag.sessionNamee</strong></div>
                    <div><strong>Attendance Report</strong></div>
                </div>
            </div>

        </div>*@
    <div class="panel-body">
        <div class="row text-center">
            <div><strong>@ErpInfo.OrganizationNameFull</strong></div>
            <div><strong>@ViewBag.programName&nbsp;@ViewBag.sessionNamee</strong></div>
            <div><strong>Attendance Report</strong></div>

        </div>
        <br />

        @*<div class="row text-center"><strong>@ErpInfo.OrganizationNameFull</strong></div>
            <div class="row text-center"><strong>@ViewBag.programName</strong></div>
            <div class="row text-center" style="margin-bottom: 20px;"><strong>Transaction Report</strong></div>*@
        <div class="row text-left">
            <div class="col-md-6 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Branch:</strong></td>
                        <td>@ViewBag.brancheNames</td>
                    </tr>
                    <tr>
                        <td><strong>Batch Days:</strong> </td>
                        <td>@ViewBag.batchDay</td>
                    </tr>
                    @*<tr>
                        <td><strong>Course Type:</strong> </td>
                        <td></td>
                    </tr>*@
                    <tr>
                        <td><strong>Date Range:</strong> </td>
                        <td>@dateFrom.ToString("dd-M-yyyy") to @dateTo.ToString("dd-M-yyyy")</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Campus:</strong> </td>
                        <td>@ViewBag.campusNames</td>
                    </tr>
                    <tr>
                        <td><strong>Batch Name:</strong></td>
                        <td>@ViewBag.batcheNames</td>
                    </tr>
                    <tr>
                        <td><strong>Course:</strong> </td>
                        <td>@ViewBag.courseNames</td>
                    </tr>
                    <tr>
                        <td><strong>Subject:</strong></td>
                        <td>@ViewBag.subjectName</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="administrationBodyContent">

            <table id="tbl">
                <tr class="filteringRow form-group">

                    @*<th class="form-group">

                        </th>*@

                    <th class="form-group">
                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                        <input type="hidden" id="startDate" value="@ViewBag.startDate" />
                        <input type="hidden" id="endDate" value="@ViewBag.endDate" />
                    </th>
                    <th class="form-group">
                        <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                    </th>
                    <th class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" name="export" id="export" value="Export" class="btn btn-primary" />
                        </div>
                    </th>

                </tr>
            </table>
            <br />
            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl.</th>

                        @if (ViewBag.informationViewList != null)
                        {
                            foreach (string informationView in @ViewBag.informationViewList)
                            {
                                <th>@informationView</th>
                            }
                        }
                        <th>Exam Held</th>
                        <th>Exam Attend</th>
                        <th>Registered Present</th>
                        <th>Registered Absent</th>
                        <th>Unregistered Present</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>

        @*<div class="col-md-12 text-center">
            <input type="button" name="print" id="print" value="Print" class="btn btn-primary" />
        </div>*@

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @*@Scripts.Render("~/bundles/tabletools")*@
    @Scripts.Render("~/bundles/generateIdCardReport")
    <script src="~/Scripts/printThis.js"></script>
    <script type="text/javascript">
    var attendanceSerachInfo = @Html.Raw(Json.Encode(@ViewBag.attendanceSerachInfo));
    //var attendanceSerachInfoForExport = attendanceSerachInfo.toSource();
    var batchIds = '@ViewBag.batchIds';
    function dataTableRender() {
        var pageSize = 10;
        if ($('#pageSize').val() != "" && /^\d+$/.test($('#pageSize').val())) {
            pageSize =parseInt($('#pageSize').val());
        } else {
            $('#pageSize').val(pageSize);
        }
        var lastColumn = $("#DataGrid > thead").find("* > tr:first > th").length;
        // alert(lastColumn);

        $('#DataGrid').dataTable({
            destroy: true,
            "processing": true,
            searching: false,
            serverSide: true,
            "scrollX": true,
            "bLengthChange": false,
            "iDisplayLength": pageSize,
            "bInfo": true,
            //stateSave: true,
            order: [[0, "desc"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [(lastColumn - 1)]
            }],
            "bSort": false,
            ajax: {
                url: 'ExamAttendanceReportList',
                type: 'POST',
                data: function(d) {
                    d.attendanceSerachInfo = attendanceSerachInfo;
                    d.startDate = $("#startDate").val();
                    d.endDate = $("#endDate").val();
                    d.batchIds = batchIds;
                }
            }
        });
    }

    dataTableRender();


    $(document).on("click", "#search", function() {

        dataTableRender();

    });
    $(document).on("click", "#printList", function() {

        $(".administrationBodyContent").printThis();

    });

    $(document).on("click", "#export", function() {
        var urlParam = {
            programHeader: '@ViewBag.programName',
            sessionHeader: '@ViewBag.sessionNamee',
            branchHeader:'@ViewBag.brancheNames',
            campusHeader:'@ViewBag.campusNames',
            batchDayHeader:'@ViewBag.batchDay',
            batchHeader:'@ViewBag.batcheNames',
            courseHeader:'@ViewBag.courseNames',
            subjectHeader:'@ViewBag.subjectName',
            dateRangeHeader:'@dateFrom.ToString("dd-M-yyyy")+ to + @dateTo.ToString("dd-M-yyyy")',
            programId:@attendanceSerachInfoForExport.ProgramId,
            sessionId:@attendanceSerachInfoForExport.SessionId,
            batchId:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedBatch)),
            batchDays:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedBatchDays)),
            batchTime:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedBatchTime)),
            branchId:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedBranch)),
            campusId:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedCampus)),
            courseId:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedCourse)),
            paymentStatus:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedPaymentStatus)),
            attendanceStatus:@attendanceSerachInfoForExport.AttendanceStatus,
            attendanceType:@attendanceSerachInfoForExport.AttendanceType,
            informationViewList:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.InformationViewList)),
            dateFrom : $("#startDate").val(),
            dateTo : $("#endDate").val(),
            batchIds:batchIds,
            examIds:@Html.Raw(Json.Encode(@attendanceSerachInfoForExport.SelectedExam)),
        };


            var url = "@Url.Action("ExportExamAttendanceReport", "Attendance", null, Request.Url.Scheme)";
        url += "?" + decodeURIComponent($.param(urlParam, true));
        //console.log(url);
        window.open(url);
    });

    </script>
}