﻿@{
    ViewBag.Title = "Individual Attendance Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/bootstrap-datetimepicker")


}
@{ DateTime now = DateTime.Now;
 var startDate = new DateTime(now.Year, now.Month, 1);
 var endDate = now;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Individual Attendance Report
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("IndividualReportView", "Attendance", FormMethod.Get, new { name = "IndividualReportForm", id = "IndividualReportForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12 row">
                <label for="programRoll" class="control-label col-md-2">Program Roll</label>
                @*@Html.TextBox("programRoll", new { htmlAttributes = new { @class = "form-control col-md-10", @required = "required" } })*@
                <div><input id="programRoll" name="programRoll" type="text" class="form-control col-md-10" maxlength="11" value="@ViewBag.roll" /></div>
                
             </div>
            <div class="row">
                <div class="col-md-offset-2" id="pmsg"></div>
            </div>
            <div class="col-md-12 row" style="margin-top: 30px">
                <label for="attendanceType" class="control-label col-md-2">Attendance Type</label>
                <div>
                    <select class="form-control col-md-10" id="attendanceType" name="attendanceType">
                        <option value="" selected="selected">Select Attendance Type</option>
                        <option value="1">Class Attendance</option>
                        <option value="2">Exam Attendance</option>
                    </select>
                </div>
                
            </div>
    <div class="row">
        <div class="col-md-offset-2" id="atmsg"></div>
    </div>
            <div class="row" style="margin-top: 30px">
                <p class="control-label col-md-2"><strong>Date Range</strong></p>
                <input type="text" id="datef" name="dateFrom" class="form-control col-md-3" readonly="readonly" value= @startDate.ToString("yyyy-MM-d")  />
                <span style="float: left;margin:0px 10px;">To</span> 
                <input type="text" id="datet" name="datetTo" class="form-control col-md-3" readonly="readonly" value=@endDate.ToString("yyyy-MM-d") />
                <div class="text-center" id="dtmsg"></div>
            </div>
            
            <div class="row text-center" style="margin-top: 30px">
                <input type="button" class="btn btn-primary" value="view" id="view" />
            </div>
        }
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/jquery.blockUI.js"></script>
            @Scripts.Render("~/bundles/IndividualReport")
            @Scripts.Render("~/bundles/bootstrap-datetimepicker")
            <script type="text/javascript">
                $(document).ready(function () {
                    
                    $("#datet").datetimepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        todayBtn: false,
                        showMeridian: true,
                        // initialDate: new Date().getDate(),
                        startView: 2,
                        minView: 2,
                        maxView: 4
                    }).on('changeDate', function(ev) {
                        if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                            $('#dtmsg').text("");
                        }
                    });
                    $("#datef").datetimepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        todayBtn: false,
                        showMeridian: true,
                        // initialDate:"2000-01-01",
                        startView: 2,
                        minView: 2,
                        maxView: 4
                    }).on('changeDate', function(ev) {
                        if ($("#datef").val().length > 0 && $("#datet").val().length > 0) {
                            $('#dtmsg').text("");
                        }
                    });
                    $(document).on('input', '#programRoll', function() {
                        var programRoll = $('#programRoll').val();
                        if (programRoll != null || programRoll != "" || programRoll.length > 0) {
                            $('#pmsg').text("");
                        }
                    });
                    $(document).on('change', '#attendanceType', function () {
                        var attendanceType = $('#attendanceType').val();
                        if (attendanceType >0) {
                            $('#atmsg').text("");
                            //var sessionMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="smsg">Select Attendance Type</span></span>';
                            
                        }
                    });
                    // $("#datef").datetimepicker('setStartDate', '2012-01-01');
                    $(document).on('click', '#view', function(e) {

                        var programRoll = $('#programRoll').val();
                        var attendanceType = $('#attendanceType').val();
                        var datef = $('#datef').val();
                        var datet = $('#datet').val();
                        $('#pmsg').text("");
                        $('#atmsg').text("");
                        $('#dtmsg').text("");

                        var isSuccess = true;
                        //alert(programRoll);
                        if (programRoll == null || programRoll == "" || programRoll.length < 0) {
                            $('#pmsg').text("");
                            //var programMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="pmsg">Select Program</span></span>';
                            $('#pmsg').css('color', 'red');
                            $('#pmsg').text("Select Program Roll");
                            isSuccess = false;
                        }


                        if (attendanceType < 1) {
                            $('#atmsg').text("");
                            //var sessionMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="smsg">Select Attendance Type</span></span>';
                            $('#atmsg').css('color', 'red');
                            $('#atmsg').text("Select Attendance Type");
                            isSuccess = false;
                        }


                        if (datef == null || datef == "") {

                            $('#dtmsg').text("");
                            //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                            $('#dtmsg').css('color', 'red');
                            $('#dtmsg').text("selct date range");
                            isSuccess = false;
                        }
                        if (datet == null || datet == "") {
                            $('#dtmsg').text("");
                            //var batchTimeMessage = '<span data-valmsg-replace="true" data-valmsg-for="Name" class="field-validation-error"><span for="Name" class="dfmsg">Select a Date </span></span>';
                            $('#dtmsg').css('color', 'red');
                            $('#dtmsg').text("selct date range");
                            isSuccess = false;
                        }

                        if (isSuccess == true) {
                            $('form#IndividualReportForm').submit();
                            return true;
                        } else {
                            e.preventDefault();
                            return false;
                        }
                    }
                    );
                });
            </script>
        }
        