﻿@using Microsoft.Ajax.Utilities
@using UdvashERP.BusinessModel.Entity.Students
@model IEnumerable<UdvashERP.BusinessModel.Dto.IndividualExamAttendanceDto>

@{
    ViewBag.Title = "Individual Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logoImage = Url.Content("~") + ErpInfo.LogoImageUrl;

}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Individual Report</h3>
    </div>
    <div class="panel-body">

        <div class="administrationBodyContent">
            <div id="headerPart">
                <div style="float: left;margin-bottom: 20px;">
                    <img src="@logoImage" width="150" height="150" />
                </div>
                <div style="float: left;margin-bottom: 20px;width: 55%; margin: 0 auto;">
                    <div class="row text-center">
                        <div><strong>@ViewBag.StudentProgram.Program.Name&nbsp;@ViewBag.StudentProgram.Batch.Session.Name</strong></div>
                        <div><strong>Individual Attendance Report</strong></div>
                        <div><strong>@ViewBag.StudentProgram.Student.FullName</strong></div>
                        <div><strong>PRN:&nbsp; @ViewBag.StudentProgram.PrnNo</strong></div>

                    </div>
                </div>
                <div style="float: right;margin-bottom: 20px;">
                    @{

                        StudentProgram sp = ViewBag.StudentProgram;
                        var imagePath = "/Content/Image/blankimage.png";
                        if (sp.MediaStudentImage != null && sp.StudentImage.Count > 0)
                        {
                            //var firstOrDefault = (from x in sp.StudentImage select x).OrderByDescending(a => a.Id).FirstOrDefault();
                            //var stuentImage = firstOrDefault != null ? firstOrDefault.Images : null;
                            var studentImage = sp.MediaStudentImage.Images;
                            string imageBase64 = studentImage != null ? Convert.ToBase64String(studentImage) : null;
                            string imageSrc = imageBase64 != null ? string.Format("data:image/gif;base64,{0}", imageBase64) : "";
                            if (imageSrc != null && imageSrc.Trim() != "")
                            {
                                imagePath = imageSrc;
                            }
                        }
                        <img src="@imagePath" height="150" width="130" />
                    }
                </div>
            </div>

            <table class="table table-bordered table-responsive table-hover" style="clear: both;">
                <tr>
                    <th>SL.</th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeldDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.AttendingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>


                </tr>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    ++i;
                    <tr>
                        <td>@i</td>
                        <td style="min-width:95px;">
                            @Html.DisplayFor(modelItem => item.ExamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeldDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AttendingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="text-center">
            <input type="button" value="Export" id="export" class="btn btn-primary" />
        </div>
        @*<input type="button" value="Print" id="print" class="btn btn-primary text-center" />*@
        <input type="hidden" id="startDate" value="@ViewBag.dateFrom" />
        <input type="hidden" id="endDate" value="@ViewBag.datetTo" />
    </div>

</div>

@section Scripts {
    <script>
        var programRoll= @ViewBag.programRoll;
        var attendanceType= @ViewBag.attendanceType;
        $(document).on("click", "#export", function() {
            // console.log(attendanceSerachInfoForExport);
            var urlParam = {
                programSessionHeader: '@ViewBag.StudentProgram.Program.Name @ViewBag.StudentProgram.Batch.Session.Name',
                fullNameHeader:'@ViewBag.StudentProgram.Student.FullName',
                prnHeader:'@ViewBag.StudentProgram.PrnNo',
                programRoll:programRoll,
                attendanceType:attendanceType,
                dateFrom : $("#startDate").val(),
                datetTo : $("#endDate").val()
            };

            var url = "@Url.Action("ExportIndividualReport", "Attendance", null, Request.Url.Scheme)";
            url += "?" + decodeURIComponent($.param(urlParam, true));
            //console.log(url);
            window.open(url);
        });

    </script>
}