﻿@model UdvashERP.BusinessModel.Entity.Hr.ZoneSetting

@{
    ViewBag.Title = "Add Zone Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Add Zone Setting</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Organization, (SelectList)ViewBag.organizationList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.Organization)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zone Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ToleranceTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ToleranceTime, new { @class = "form-control",  @placeholder = "In Minuits" })
                        @Html.ValidationMessageFor(model => model.ToleranceTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                       @Html.LabelFor(model => model.ToleranceDay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="ToleranceDay" id="ToleranceDay" class="form-control" data-val="true" data-val-required="The ToleranceDay field is required.">
                            <option value="">Select Tolerance</option>
                            <option value="N/A">N/A</option>
                            @for (int i = 0; i < 5; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                        @Html.ValidationMessageFor(model => model.ToleranceDay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DeductionMultiplier, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="DeductionMultiplier" id="DeductionMultiplier" class="form-control" data-val="true" data-val-required="The DeductionMultiplier field is required.">
                            <option value="">Select Factor</option>
                            <option value="N/A">N/A</option>
                            <option value="0.5">0.5</option>
                            <option value="1.0">1.0</option>
                            <option value="1.5">1.5</option>
                            <option value="2.0">2.0</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.DeductionMultiplier, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="saveAndExit" value="Save & Exit" class="btn btn-primary" />&nbsp;&nbsp;
                        <input type="button" id="saveAndNew" value="Save & New" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>@Html.ActionLink("Back to Manage", "ManageZoneSetting")</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Hr/ZoneSetting/ZoneSetting.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateTextField("Name", "Please enter valid Shift Name Name.");
            window.validateTextField("ToleranceTime", "Please enter valid Tolerance Time.");
            window.validateDropDownField("ToleranceDay", "Please Select Tolerance Day.");
            window.validateDropDownField("DeductionMultiplier", "Please Select Deduction Multiplier.");
        });
    </script>
}
