﻿@model UdvashERP.BusinessModel.Entity.Hr.ZoneSetting
@{
    ViewBag.Title = "Edit Zone Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Update Zone Setting</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("OrganizationId", ViewBag.organizationList as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ToleranceTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ToleranceTime, new { @class = "form-control", @placeholder = "In Minuits" })
                        @Html.ValidationMessageFor(model => model.ToleranceTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ToleranceDay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="ToleranceDay" id="ToleranceDay" class="form-control" data-val="true" data-val-required="The ToleranceDay field is required.">
                            @*<option value="">Select Tolerance</option>*@
                            @if (Model.ToleranceDay == null)
                            {
                                <option value="N/A" selected="selected">N/A</option>
                            }
                            else
                            {
                                <option value="N/A">N/A</option>
                            }
                            
                            @for (int i = 0; i < 5; i++)
                            {
                                if (Model.ToleranceDay != null && Model.ToleranceDay == i)
                                {
                                    <option value="@i" selected="selected">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>

                        @Html.ValidationMessageFor(model => model.ToleranceDay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DeductionMultiplier, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="DeductionMultiplier" id="DeductionMultiplier" class="form-control" data-val="true" data-val-required="The DeductionMultiplier field is required.">
                            @*<option value="">Select Factor</option>*@
                            @if (Model.DeductionMultiplier == null)
                            {
                                <option value="N/A" selected="selected">N/A</option>
                            }
                            else
                            {
                                <option value="N/A">N/A</option>
                            } 
                            @if (Model.DeductionMultiplier != null && Model.DeductionMultiplier == Convert.ToDecimal(0.5))
                            {
                                <option value="0.5" selected="selected">0.5</option>
                            }
                            else
                            {
                                <option value="0.5">0.5</option>
                            }
                            @if (Model.DeductionMultiplier != null && Model.DeductionMultiplier == Convert.ToDecimal(1.0))
                            {
                                <option value="1.0" selected="selected">1.0</option>
                            }
                            else
                            {
                                <option value="1.0">1.0</option>
                            }
                            @if (Model.DeductionMultiplier != null && Model.DeductionMultiplier == Convert.ToDecimal(1.5))
                            {
                                <option value="1.5" selected="selected">1.5</option>
                            }
                            else
                            {
                                <option value="1.5">1.5</option>
                            }
                            @if (Model.DeductionMultiplier != null && Model.DeductionMultiplier == Convert.ToDecimal(2.0))
                            {
                                <option value="2.0" selected="selected">2.0</option>
                            }
                            else
                            {
                                <option value="2.0">2.0</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.DeductionMultiplier, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (ViewBag.StatusText != null)
                        {
                            <select id="Status" name="Status" class="form-control ">
                                @if (ViewBag.StatusText != null)
                                {
                                    foreach (KeyValuePair<String, int> statusType in @ViewBag.StatusText)
                                    {
                                        if (statusType.Value == Model.Status)
                                        {
                                            <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@statusType.Value">@statusType.Key</option>
                                        }
                                    }
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="update" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>@Html.ActionLink("Back To Manage", "ManageZoneSetting", "ZoneSetting")</p>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Hr/ZoneSetting/zoneSetting.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateTextField("Name", "Please enter valid Shift Name Name.");
            window.validateTextField("ToleranceTime", "Please enter valid Tolerance Time.");
            window.validateDropDownField("ToleranceDay", "Please Select Tolerance Day.");
            window.validateDropDownField("DeductionMultiplier", "Please Select Deduction Multiplier.");
        });
    </script>
}