﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.ZoneSetting>
@Styles.Render("~/Content/styledatatable")

@{
    ViewBag.Title = "Zone Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Zone Settings</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="tableDiv">
            <div class="form-group">
                @Html.Label("Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.Organization, "All organizations", new { @class = "form-control filterZoneSetting" })
                </div>
            </div>
        </div>

        @*<table id="tableDiv">
            <tr class="form-group">
                <th class="form-group">
                    Organization:  @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewBag.Organization, "All organizations", new { @class = "form-control filterZoneSetting" })
                </th>
            </tr>
        </table>*@

        @* ----------------------------------------------------------------------------------------------------- *@
        <br />

        @* this table is responsible for table header and dynamic data *@
        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Organization)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToleranceTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToleranceDay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>

        @* ----------------------------------------------------------------------------------------------------- *@

    </div>
</div>
<div class="form-group">
    @using (Html.BeginForm("Create", "ZoneSetting", FormMethod.Get))
    {
        <div class="form-actions">
            <input type="submit" value="Add Zone" class="btn btn-primary" />
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {  @**----document ready----*@

            @**----function for render data table----*@
            function dataTableRender() {
                console.log($('#OrganizationId').val());
                var displayNo = 1000;
                if ($('#DisplayNo').val() != "" && /^\d+$/.test($('#DisplayNo').val())) {
                    displayNo = parseInt($('#DisplayNo').val());
                } else {
                    $('#DisplayNo').val(displayNo);
                }
                $('#DataGrid').dataTable({
                    destroy: true,
                    "processing": true,
                    searching: false,
                    serverSide: true,
                    "scrollX": false,
                    "bLengthChange": false,
                    "iDisplayLength": displayNo,
                    //stateSave: true,
                    order: [[1, "Asc"]],
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                    ajax: {
                        url: '@Url.Action("LoadZoneSetting", "ZoneSetting")',
                        type: 'POST',
                        data: function(dt) {
                            dt.organizationId = $('#OrganizationId').val();
                        },

                        error: function(response) {
                            ShowErrorMessage("Zone Setting data load error. Please try again.");
                        }
                    }
                });
            }

            dataTableRender();

            $(document).on('change', '.filterZoneSetting', function () {
                dataTableRender();
            });

            @**----end function for render data table----*@

            @**---- function for row delete----*@
            $(document).on("click", ".glyphicon-trash", function() {
                var id = $(this).attr("id");
                var name = $(this).attr("data-name");
                if (id != "") {
                    bootbox.deleteConfirm("<h4>Are you sure you want to delete this Zone Setting :<span class='confirm-message'> " + name + "</span></h4>", function(result) {
                        if (result) {
                            $.ajax({
                                type: "post",
                                url: $("body").attr("data-project-root") + "Hr/ZoneSetting/Delete",
                                cache: false,
                                async: true,
                                data: { "id": id },
                                beforeSend: function() {
                                    $.blockUI({
                                        timeout: 0,
                                        message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                    });
                                },
                                success: function(result) {
                                    $.unblockUI();

                                    if (result.IsSuccess) {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "s",
                                        });

                                        dataTableRender();
                                    } else {
                                        $.fn.customMessage({
                                            displayMessage: result.Message,
                                            displayMessageType: "e",
                                            //displayTime: 5000
                                        });

                                    }
                                },
                                complete: function() {
                                    $.unblockUI();
                                },
                                error: function(result) {
                                    $.unblockUI();
                                    $.fn.customMessage({
                                        displayMessage: result.Message,
                                        displayMessageType: "w",
                                        //displayTime: 5000
                                    });
                                }
                            });

                        }
                    }).css({ 'margin-top': (($(window).height() / 4)) });
                }
                return false;
            });
            @**----end function for row delete----*@

        }); @**----document ready----*@

    </script>
}