﻿@model UdvashERP.BusinessModel.ViewModel.Hr.MemberYearlyLeaveSummaryAssignFormViewModel
@{
    ViewBag.Title = "Yearly leave Closing";
    int initialYear = DateTime.Now.Year-1;
    int i = 0;

}
<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Yearly leave Closing<span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="MemberYearlyLeaveSummary">
       @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MemberYearlyLeaveSummaryForm" }))
       {
           @Html.AntiForgeryToken()
           <div class="form-horizontal">
               @Html.ValidationSummary(true, "", new {@class = "text-danger"})
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>) ViewBag.OrganizationList, "Select Organization", new {@class = "form-control "})
                           </div>
                           @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>) ViewBag.BranchList, "Select Branch", new {@class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.ClosingYear, htmlAttributes: new {@class = "control-label col-md-2"})
                           <div class="col-md-4">
                               <select class="form-control " id="ClosingYear" name="ClosingYear">
                                   <option value="">Select Closing Year</option>
                                   @for (i = initialYear; initialYear <= DateTime.Now.Date.Year; initialYear++)
                                   {
                                       <option value="@initialYear"> @initialYear</option>
                                   }
                               </select>
                           </div>
                           @Html.LabelFor(model => model.PinList, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pin With Space" } })
                           </div>
                       </div>
                   </div>
                   <br/>
                   <div class="col-md-12 text-center">
                       <div class="form-group">
                           <input type="submit" id="Submit" value="Submit" class="btn btn-primary" />
                       </div>
                   </div>
               </div>
               <div class="clearfix"></div>
           </div>
       }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @*<script src="~/Scripts/tableHeadFixer.js"></script>*@
    <script type="text/javascript">

        function ShowHide() {
            console.log("OK");
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#allowanceSheetPanel').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#allowanceSheetPanel').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }
        function CheckForm() {
            var isSuccess = true;

            var organizationId = $('#OrganizationId').val();
            var branchId = $('#BranchId').val();
            var closingYear = $('#ClosingYear').val();

            if (organizationId == "" || organizationId == null || organizationId.length <= 0) {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            }

            if (branchId == null || branchId.length <= 0 || branchId == 0) {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
            }

            if (closingYear == '' || closingYear == null || closingYear.length <= 0) {
                window.showErrorMessageBelowCtrl("ClosingYear", "", false);
                window.showErrorMessageBelowCtrl("ClosingYear", "Please Select Closing Year.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("ClosingYear", "", false);
            }

            return isSuccess;
        }

        $(document).ready(function() {

            $(document).on('click', '#ShowHide', function(e) { ShowHide(); });

            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("ClosingYear", "Please Select Year.");

            $(document).on("change", "#OrganizationId", function() {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                $('#BranchId').empty();
                $('#BranchId').append("<option value='' selected>Select Branch</option>");
               
                var organizationId = $("#OrganizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                window.showErrorMessageBelowCtrl("BranchId", "", false);
                                $('#BranchId').empty();
                                $('#BranchId').append("<option value='' selected>Select Branch</option>");
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {},
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Submit', function(e) {
                e.preventDefault();
                $('.field-validation-error').remove();

                var isSuccess = true;
                isSuccess = CheckForm();

                if (isSuccess == true) {
                    var foramData = $("#MemberYearlyLeaveSummaryForm").serialize();
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/MemberLeaveSummary/Index",
                        type: "POST",
                        data: foramData,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            console.log(data);
                            if (data.IsSuccess == false) {
                                $.fn.customMessage({
                                    //displayMessage: ERROR_MESS,
                                    displayMessage: data.Message,
                                    displayMessageType: "e",
                                    //displayTime: 5000
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: data.Message,
                                    displayMessageType: "s"
                                });
                            }
                        },
                        complete: function() {
                            //$("#allowanceSheetTeamMemberListTable").tableHeadFixer({ "left": 2 });
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();

                } else {
                    e.preventDefault();
                    return false;
                }
            });


        });
    </script>
}
