﻿@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@model UdvashERP.BusinessModel.ViewModel.Hr.MemberYearlyLeaveSummaryReportFormViewModel
@{
    ViewBag.Title = "Yearly Leave Report";
    int initialYear = 2016;
    int i = 0;

}
<style>
    input {
        max-width: 100%;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Yearly Leave Report<span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="leaveSummaryReportPanel">
       @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "leaveSummaryReportForm" }))
       {
           @Html.AntiForgeryToken()
           <div class="form-horizontal">
               @Html.ValidationSummary(true, "", new {@class = "text-danger"})
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>) ViewBag.OrganizationList, "Select Organization", new {@class = "form-control "})
                           </div>
                           @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>) ViewBag.BranchList, "Select Branch", new {@class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.CampusId, (IEnumerable<SelectListItem>) ViewBag.CampusList, "Select Campus", new {@class = "form-control "})
                           </div>
                           @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>) ViewBag.DepartmentList, "Select Department", new {@class = "form-control "})
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.PinList, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-10">
                               @Html.EditorFor(model => model.PinList, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pin With Space" } })
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           @Html.LabelFor(model => model.LeaveYear, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               <select class="form-control " id="LeaveYear" name="LeaveYear">
                                   <option value="">Select Leave Year</option>
                                   @for (i = DateTime.Now.Date.Year+1; i >= 2016; i--)
                                   {
                                       <option value="@i"> @i</option>
                                   }
                               </select>
                           </div> 
                           @Html.LabelFor(model => model.NoOfData, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.TextBoxFor(model => model.NoOfData, new { @class = "form-control ", @placeholder = "Number Of Data", @Value = ViewBag.NumberOfData })
                           </div>
                       </div>
                   </div>
                   <br/>
                   <div class="col-md-12 text-center">
                       <div class="form-group">
                           <input type="submit" id="Submit" value="Submit" class="btn btn-primary"/>
                           <input type="button" id="Export" value="Export" class="btn btn-primary" style="display: none" />
                       </div>
                   </div>
               </div>
               <div class="clearfix"></div>
           </div>
       }
    </div>
</div>

<div id="leavSummaryReportDynamicPanel">

</div>

@*<div class="panel panel-primary" id="leaveSummaryDynamicPanel" style="display: none">
    <div class="panel-heading">
        Leave Summary Report Details
    </div>
    <div class="form-horizontal">
        <br/>
        <div class="col-md-12">
            <div class=" " id="LeaveSummaryTeamMemberList">
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/typeaheadAutoComplete")
    @Scripts.Render("~/bundles/AutoComplete")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dualListBox")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script type="text/javascript">

        function ShowHide() {
            console.log("OK");
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#leaveSummaryReportPanel').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#leaveSummaryReportPanel').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        function LeaveSummaryExport() {
            var isSuccess = true;
            isSuccess = CheckForm();
            if (isSuccess) {
                var leaveSummaryFormFormObj = new MemberYearlyLeaveSummaryReportFormViewModel();
                leaveSummaryFormFormObj.OrganizationId = $("#OrganizationId").val();
                leaveSummaryFormFormObj.BranchId = $("#BranchId").val();
                leaveSummaryFormFormObj.CampusId = $("#CampusId").val();
                leaveSummaryFormFormObj.DepartmentId = $("#DepartmentId").val();
                leaveSummaryFormFormObj.DesignationId = $("#DesignationId").val();
                leaveSummaryFormFormObj.LeaveYear = $("#LeaveYear").val();
                leaveSummaryFormFormObj.PinList = $("#PinList").val();
                var stringifiedObj = JSON.stringify(leaveSummaryFormFormObj);
                var urlParam = {
                    memberYearlyLeaveSummaryReportFormViewString: stringifiedObj
                };
                var url = "@Url.Action("ExportMemberLeaveSummaryReport", "MemberLeaveSummary", null, Request.Url.Scheme)";
                url += "?" + decodeURIComponent($.param(urlParam, true));
                window.open(url);
            }
        }

        function CheckForm() {
            var isSuccess = true;

            var organizationId = $('#OrganizationId').val();
            var branchId = $('#BranchId').val();
            var campusId = $('#CampusId').val();
            var departmentId = $('#DepartmentId').val();
            var leaveYear = $('#LeaveYear').val();
            
            if (organizationId == "" || organizationId == null || organizationId.length <= 0) {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
                window.showErrorMessageBelowCtrl("OrganizationId", "Please Select Organization.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("OrganizationId", "", false);
            }

            if (branchId == null || branchId.length <= 0) {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                window.showErrorMessageBelowCtrl("BranchId", "Please Select Branch.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("BranchId", "", false);
            }

            if (campusId == null || campusId.length <= 0) {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                window.showErrorMessageBelowCtrl("CampusId", "Please Select Campus.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
            }

            if (departmentId == null || departmentId.length <= 0) {
                window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                window.showErrorMessageBelowCtrl("DepartmentId", "Please Select Department.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("DepartmentId", "", false);
            }

            if (leaveYear == '' || leaveYear == null || leaveYear.length <= 0) {
                window.showErrorMessageBelowCtrl("LeaveYear", "", false);
                window.showErrorMessageBelowCtrl("LeaveYear", "Please Select Leave Year.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("LeaveYear", "", false);
            }

            return isSuccess;
        }

        function MemberYearlyLeaveSummaryReportFormViewModel() {
            this.TeamMemberSearchType = 0;
            this.OrganizationId = 0;
            this.BranchId = 0;
            this.CampusId = "";
            this.DepartmentId = "";
            this.DesignationId = "";
            this.LeaveYear = 0;
            this.PinList = "";
            this.NoOfData = 10;
            this.MemberYearlyLeaveSummaryReportFormViewModel = function () { };
        }

        function dataTableRender() {
            var pageSize = 100;
            if ($('#NoOfData').val() != "" && /^\d+$/.test($('#NoOfData').val())) {
                pageSize = parseInt($('#NoOfData').val());

            } else {
                $('#NoOfData').val(pageSize);
            }

            var leaveSummaryFormFormObj = new MemberYearlyLeaveSummaryReportFormViewModel();
            leaveSummaryFormFormObj.OrganizationId = $("#OrganizationId").val();
            leaveSummaryFormFormObj.BranchId = $("#BranchId").val();
            leaveSummaryFormFormObj.CampusId = $("#CampusId").val();
            leaveSummaryFormFormObj.DepartmentId = $("#DepartmentId").val();
            leaveSummaryFormFormObj.DesignationId = $("#DesignationId").val();
            leaveSummaryFormFormObj.LeaveYear = $("#LeaveYear").val();
            leaveSummaryFormFormObj.PinList = $("#PinList").val();
            leaveSummaryFormFormObj.NoOfData = $("#NoOfData").val();

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 2
                },
                //stateSave: false,
                order: [[1, "Asc"]],
                ajax: {
                    url: 'LeaveSummaryReportDataTable',
                    type: 'POST',
                    data: function (d) {
                        d.memberYearlyLeaveSummaryReportFormView = leaveSummaryFormFormObj;
                    },
                    complete: function () {
                        $("#DataGrid").tableHeadFixer({ "left": 2 });
                    }
                }

            });
            $("#export").css("display", "");
        }

        $(document).ready(function() {

            $(document).on('click', '#ShowHide', function(e) { ShowHide(); });

            window.validateDropDownField("OrganizationId", "Please Select Organization.");
            window.validateDropDownField("BranchId", "Please Select Branch.");
            window.validateDropDownField("CampusId", "Please Select Campus.");
            window.validateDropDownField("DepartmentId", "Please Select Department.");
            window.validateDropDownField("LeaveYear", "Please Select Leave Year.");

            $(document).on("change", "#OrganizationId", function() {
                $("#leaveSummaryReportDynamicPanel").css("display", "none");
                $("#leaveSummaryReportTeamMemberList").html('');
                window.showErrorMessageBelowCtrl("BranchId", "", false);
                $('#BranchId').empty();
                $('#BranchId').append("<option value='0' selected>All Branch</option>");
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                $('#CampusId').empty();
                $('#CampusId').append("<option value='0' selected>All Campus</option>");
                window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                $('#DepartmentId').empty();
                $('#DepartmentId').append("<option value='0' selected>All Department</option>");

                var organizationId = $("#OrganizationId").val();
                if (organizationId.length > 0) {
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                        type: "POST",
                        data: { organizationIds: organizationId, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(result) {
                            $.unblockUI();
                            $("#leaveSummaryReportDynamicPanel").css("display", "none");
                            $("#leaveSummaryReportTeamMemberList").html('');
                            if (result.IsSuccess) {
                                window.showErrorMessageBelowCtrl("BranchId", "", false);
                                $('#BranchId').empty();
                                $('#BranchId').append("<option value='0' selected>All Branch</option>");
                                $.each(result.returnBranchList, function(i, v) {
                                    $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                $.ajax({
                                    type: "POST",
                                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadDepartment",
                                    data: { organizationIds: organizationId },
                                    success: function(response) {
                                        if (response.IsSuccess) {
                                            window.showErrorMessageBelowCtrl("DepartmentId", "", false);
                                            $('#DepartmentId').empty();
                                            $('#DepartmentId').append("<option value='0' selected>All Department</option>");
                                            $.each(response.returndepartmentList, function(i, v) {
                                                $('#DepartmentId').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        } else {
                                            $.fn.customMessage({
                                                displayMessage: response.Message,
                                                displayMessageType: "error",
                                            });
                                        }
                                    },
                                    complete: function() {},
                                    error: function(data) {
                                        $.fn.customMessage({
                                            displayMessage: ajaxError,
                                            displayMessageType: "error",
                                            displayTime: 5000
                                        });
                                    }
                                });

                            } else {
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "error",
                                });
                            }
                        },
                        complete: function() {},
                        error: function() {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on("change", "#BranchId", function() {
                window.showErrorMessageBelowCtrl("CampusId", "", false);
                $('#CampusId').empty();
                $('#CampusId').append("<option value='0'>All Campus</option>");
                var organizationId = $("#OrganizationId").val();
                var branchIds = $("#BranchId").val();

                if (organizationId != null && organizationId != "" && branchIds != null && branchIds.length >= 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCampus",
                        cache: false,
                        async: true,
                        data: { organizationIds: organizationId, branchIds: branchIds, isAuthorized: true, isProgramBranSession: false },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                window.showErrorMessageBelowCtrl("CampusId", "", false);
                                $('#CampusId').empty();
                                $('#CampusId').append("<option value='0'>All Campus</option>");
                                $.each(response.returnCampusList, function(i, v) {
                                    $('#CampusId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function(result) {
                            $.unblockUI();
                        }
                    });
                }
            });

            $(document).on('click', '#Submit', function(e) {
                e.preventDefault();
                $("#leavSummaryReportDynamicPanel").html('');
                $('.field-validation-error').remove();
                $('#Export').hide();

                var isSuccess = true;
                isSuccess = CheckForm();

                if (isSuccess == true) {
                    var foramData = $("#leaveSummaryReportForm").serialize();
                    $.ajax({
                        url: $("body").attr("data-project-root") + "Hr/MemberLeaveSummary/LeaveSummaryReport",
                        type: "POST",
                        data: foramData,
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (data) {
                            $.unblockUI();
                            ShowHide();
                            $("#leavSummaryReportDynamicPanel").html('');
                            $("#leavSummaryReportDynamicPanel").html(data);
                            $('#Export').show();
                            dataTableRender();
                        },
                        complete: function () {
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: ajaxError,
                                displayMessageType: "error",
                                displayTime: 5000
                            });
                        }
                    });
                    e.preventDefault();

                } else {
                    e.preventDefault();
                    return false;
                }
            });

            $(document).on('click', '#Export', function(e) {
                LeaveSummaryExport();
            });

            //$(document).on('click', '#FinalSubmit', function(e) {
            //    e.preventDefault();

            //    var isSuccess = true;
            //    isSuccess = CheckForm();

            //    if (isSuccess == true) {
            //        var foramData = $("#allowanceSheetForm").serialize();
            //        $.ajax({
            //            url: $("body").attr("data-project-root") + "Hr/PostReset/SaveAllowanceSheet",
            //            type: "POST",
            //            data: foramData,
            //            beforeSend: function() {
            //                $.blockUI({
            //                    timeout: 0,
            //                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
            //                });
            //            },
            //            success: function(data) {
            //                $.unblockUI();
            //                if (data.IsSuccess) {
            //                    $("#allowanceSheetDynamicPanel").css("display", "none");
            //                    $("#allowanceSheetTeamMemberList").html("");
            //                    ShowHide();
            //                    $.fn.customMessage({
            //                        displayMessage: data.Message,
            //                        displayMessageType: "s",
            //                    });

            //                } else {
            //                    $.fn.customMessage({
            //                        //displayMessage: ERROR_MESS,
            //                        displayMessage: data.Message,
            //                        displayMessageType: "e",
            //                        //displayTime: 5000
            //                    });
            //                }
            //            },
            //            complete: function() {},
            //            error: function() {
            //                $.unblockUI();
            //                $.fn.customMessage({
            //                    displayMessage: ajaxError,
            //                    displayMessageType: "error",
            //                    displayTime: 5000
            //                });
            //            }
            //        });
            //        e.preventDefault();

            //    } else {
            //        e.preventDefault();
            //        return false;
            //    }
            //});


        });
    </script>
}
