﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.ManagementTime>
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "All Management Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fromDate = DateTime.Now.Date.ToString("yyyy-MM-01");
    string toDate = DateTime.Now.Date.ToString("yyyy-MM-dd");
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">All Manage ManagementTime</h3></div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                <th class="form-group">
                    <input id="Pins" name="Pins" type="text" class="form-control" placeholder="Member Pin With Space Separate" value="" />
                </th>
                <th class="form-group">
                    <input id="WorkDateFrom" name="WorkDateFrom" type="text" class="form-control form-date" placeholder="Working Date From" value="@fromDate" />
                </th>
                <th class="form-group">
                    <input id="WorkDateTo" name="WorkDateTo" type="text" class="form-control form-date" placeholder="Working Date To" value="@toDate" />
                </th>
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="search" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>
                    @Html.DisplayName("Working Date")
                </th>
                <th>
                    @Html.DisplayName("Member")
                </th>
                <th>
                    @Html.DisplayName("Manager")
                </th>
                <th>
                    @Html.DisplayName("Time")
                </th>
                <th>
                    @Html.DisplayName("Remarks")
                </th>
            </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" class="init">

        function dataTableRender() {

            var pageSize = 100;

            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            }
            else {
                $('#PageSize').val(pageSize);
            }

            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "scrollY": "60vh",
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                order: [[0, "desc"]],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [2,4] }],
                ajax: {
                    url: $("body").attr("data-project-root") + "Hr/ManagementTime/AllManagementTimeDataTable",
                    type: 'POST',
                    data: function (d) {
                        d.pinStringList = $('#Pins').val();
                        d.workDateFrom = $('#WorkDateFrom').val();
                        d.workDateTo = $('#WorkDateTo').val();
                    }
                }
            });
        }

        $(document).ready(function () {

            $(document).on("focus", ".form-date", function () {
                $(this).datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    todayBtn: false,
                    showMeridian: true,
                    initialDate: new Date(),
                    startView: 2,
                    minView: 2,
                    maxView: 4
                });
            });

            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });
            

        });

    </script>
}
