﻿@model UdvashERP.BusinessModel.ViewModel.Hr.ManagementTimeViewModel
@Styles.Render("~/Content/bootstrap-datetimepicker")
@{
    ViewBag.Title = "Add Management Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "ManagementTime", FormMethod.Post, new { @id = "CreateManagementTimeForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Add Management Time</h4>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.WorkDate, new { htmlAttributes = new { @class = "form-control datetime", @readonly = "readonly", @Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.WorkDate, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.TeamMemberPin, new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TeamMemberPin, new {htmlAttributes = new {@class = "form-control", @placeholder = "Pin", @type = "text"}})
                        @Html.ValidationMessageFor(model => model.TeamMemberPin)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Name" } })
                    </div>
                    @Html.Label("Designation", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("Designation", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Department", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.Editor("Department", new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                    </div>
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("Organization", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" name="submit" value="Save & New" id="SaveN" class="btn btn-primary" />
                        <input type="button" name="submit" value="Save & Exit" id="SaveE" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $('.datetime').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: false,
            showMeridian: true,
            initialDate: new Date(),
            startView: 2,
            minView: 2,
            maxView: 4
        });

        $(document).ready(function() {
            $(document).on("change", "#WorkDate", function(event) {
                var val = $("#WorkDate").val();
                if (val.length > 0) {
                    window.showErrorMessageBelowCtrl("WorkDate", "", false);
                } else {
                    window.showErrorMessageBelowCtrl("WorkDate", "", false);
                    window.showErrorMessageBelowCtrl("WorkDate", "Please Select Working Date", true);
                }
            });

            window.validateTextField("TeamMemberPin", "Please Enter Pin.");
            window.validateTextField("Time", "Please Enter Time.");
            window.validateTextField("Remarks", "Please Enter Remarks.");

            $(document).on("blur", "#TeamMemberPin", function(event) {
                $(this).removeClass('highlight');
                var _this = $(this);
                var memberPin = parseInt(_this.val().trim());
                if (memberPin !== "" && memberPin > 0) {
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Hr/CommonAjaxHr/GetTeamMemberInformation",
                        cache: false,
                        async: true,
                        data: { pin: memberPin, isDesignation: true, isDepartment: true, isOrganization: true, isHr : true },
                        beforeSend: function() {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function(data) {
                            $.unblockUI();
                            if (data.IsSuccess) {
                                $("#Name").val(data.teamMemberName);
                                $("#Designation").val(data.designationName);
                                $("#Department").val(data.departmentName);
                                $("#Organization").val(data.organizationName);
                            } else {
                                $("#Name").val("");
                                $("#Designation").val("");
                                $("#Department").val("");
                                $("#Organization").val("");
                            }
                        },
                        complete: function() {
                            $.unblockUI();
                        },
                        error: function() {
                            $.unblockUI();
                            $.fn.customMessage({
                                displayMessage: "Something Wrong!",
                                displayMessageType: "e"
                            });
                        }
                    });
                }
            });

            $(document).on('click', '#SaveN', function(e) {
                console.log("N");
                saveForm(e, '#SaveN');
            });
            $(document).on('click', '#SaveE', function(e) {
                console.log("E");
                saveForm(e, '#SaveE');

            });
        });

        function saveForm(e, id) {

            e.preventDefault();
            $('.field-validation-error').remove();

            var teamMemberPin = $('#TeamMemberPin').val();
            var workingDate = $('#WorkDate').val();
            var time = $('#Time').val();
            var remarks = $('#Remarks').val();
            var isSuccess = true;

            if (teamMemberPin == null || teamMemberPin == '' || teamMemberPin.length <= 0) {
                window.showErrorMessageBelowCtrl("TeamMemberPin", "", false);
                window.showErrorMessageBelowCtrl("TeamMemberPin", "Please Enter Pin.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("TeamMemberPin", "", false);
            }

            if (workingDate == null || workingDate.length <= 0) {
                window.showErrorMessageBelowCtrl("WorkDate", "", false);
                window.showErrorMessageBelowCtrl("WorkDate", "Please Select Working Date", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("WorkDate", "", false);
            }

            if (time == null || time == '' || time.length <= 0) {
                window.showErrorMessageBelowCtrl("Time", "", false);
                window.showErrorMessageBelowCtrl("Time", "Please Enter Time.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("Time", "", false);
            }
            if (remarks == null || remarks == '' || remarks.length <= 0) {
                window.showErrorMessageBelowCtrl("Remarks", "", false);
                window.showErrorMessageBelowCtrl("Remarks", "Please Enter Remarks.", true);
                isSuccess = false;
            } else {
                window.showErrorMessageBelowCtrl("Remarks", "", false);
            }

            if (isSuccess == true) {
                console.log("ok");
                var data = $("#CreateManagementTimeForm").serialize();
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Hr/ManagementTime/Create",
                    cache: false,
                    async: true,
                    data: data,
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            if (id == "#SaveE") {
                                window.location = $("body").attr("data-project-root") + "Hr/ManagementTime/Index?msg=show";
                            } else {
                                $('#TeamMemberPin').val("");
                                $("#Name").val("");
                                $("#Designation").val("");
                                $("#Department").val("");
                                $("#Organization").val("");
                                $('#Time').val("");
                                $('#Remarks').val("");

                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "s",
                                });
                            }
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "e",
                            });
                        }
                    },
                    complete: function() { $.unblockUI(); },
                    error: function() {
                        $.unblockUI();
                        $.fn.customMessage({
                            displayMessage: "Error",
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        }

    </script>
}

