﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration

@{
    Layout = null;
}

@if (ViewBag.ProgramList != null)
{
    <option value="0">Select a program</option>
    foreach (Program program in ViewBag.ProgramList)
    {
        <option value="@program.Id">@program.Name</option>
    }
}
