﻿@model UdvashERP.BusinessModel.Entity.UserAuth.Actions

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">Are you sure you want to delete this?</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: center">@Html.DisplayName("Name")</td>
                    <td style="text-align:  center">@Html.DisplayFor(model => model.Name)</td>

                </tr>
                <tr>
                    <td style="text-align:  center">@Html.DisplayName("Controllers")</td>
                    <td style="text-align:  center">@Html.DisplayFor(model => model.AreaControllers.Name)</td>
                </tr>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
        <br />
        <div class="form-group">
            <p>@Html.ActionLink("Back To Manage", "Index", "Actions")</p>

        </div>
    </div>
</div>
