﻿@using UdvashERP.BusinessModel.Entity
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Common
@using UdvashERP.BusinessModel.Entity.UserAuth
@model UdvashERP.BusinessModel.Entity.UserAuth.Actions

@{
    ViewBag.Title = "Actions Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Actions Details</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.AreaControllers)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.AreaControllers.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Name)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Name)</td>

                </tr>
                
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Rank)</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Rank)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Status) :</td>
                    @{
                        if (Model.Status == Actions.EntityStatus.Active)
                        {
                            <td style="text-align:  left">Active</td>
                        }
                        else
                        {
                            <td style="text-align:  left">Inactive</td>
                        }
                    }

                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateBy) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreateBy)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyBy) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyBy)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                </tr>

            </table>
        </div>
        

    </div>
</div>
<p>@Html.ActionLink("Back to Manage", "Index", "Actions")</p>