﻿<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Total Questions
    </div>
    <div class="col-md-3 text-center">
        Marks Per Question
    </div>
    <div class="col-md-3 text-center">
        Negative Mark%
    </div>
    <div class="col-md-3 text-center">
        Pass Mark
    </div>
</div>
<div class="row col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-3">
        @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control mcqTotalQuestionsClass", @id = "mcqTotalQuestions", @placeholder = "0" } })
    </div>
    <div class="col-md-3">
        @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control mcqMarksPerQuestionClass", @id = "mcqMarksPerQuestion", @placeholder = "0" } })
    </div>
    <div class="col-md-3">
        @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control numeric", @id = "mcqNegativeMark", @placeholder = "0" } })

    </div>
    <div class="col-md-3">
        @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control numeric", @id = "mcqPassMark", @placeholder = "0" } })

    </div>

</div>
<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Total Unique Set
    </div>
    <div class="col-md-3 text-center">
        Duration Hour
    </div>
    <div class="col-md-3 text-center">
        Duration Minute
    </div>
</div>
<div class="row col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-3" id="uniqerrmsg">
        @*        @Html.Editor("totalUniqueSet", new { htmlAttributes = new { @class = "form-control totalUniqueSet numeric", @id = "totalUniqueSet", @placeholder = "Total unique set" } })*@
        <input type="text" class="form-control totalUniqueSet numeric" id="totalUniqueSet" name="totalUniqueSet" placeholder="Total unique set" min="1" />
    </div>
    <div class="col-md-3" id="hourerrmsg">
        @*        @Html.Editor("durationHour", new { htmlAttributes = new { @class = "form-control durationHour numeric", @id = "durationHour", @placeholder = "Duration hour" } })*@
        <input type="text" class="form-control durationHour numeric" id="durationHour" name="durationHour" placeholder="Duration hour" min="0" max="24" />
    </div>
    <div class="col-md-3" id="minuteerrmsg">
        @*        @Html.Editor("durationMinute", new { htmlAttributes = new { @class = "form-control durationMinute numeric", @id = "durationMinute", @placeholder = "Duration minute" } })*@
        <input type="text" class="form-control durationMinute numeric" id="durationMinute" name="durationMinute" placeholder="Duration minute" min="0" max="59" />
    </div>
</div>
<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Is Bangla Version
    </div>
    <div class="col-md-3 text-center">
        Is English Version
    </div>
</div>
<div class="row col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-3 text-center">
        <input type="checkbox" value="1" name="isBanglaVersion" class="isBanglaVersion" id="isBanglaVersion" />
    </div>
    <div class="col-md-3 text-center">
        <input type="checkbox" value="1" name="isEnglishVersion" class="isEnglishVersion" id="isEnglishVersion" />
    </div>

</div>