﻿@using UdvashERP.BusinessModel.Entity.Exam
@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam

@{
    Exams exam = ViewBag.ExamUnderThisParent;
    ExamsDetails firstExamDetailsMcq = ViewBag.FirstExamDetailsMcq;
}
<table class="table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead class="text-center">
        <tr>
            <th class="text-center">
                Total Questions
            </th>
            <th class="text-center">
                Marks Per Question
            </th>
            <th class="text-center">
                Negative Mark%
            </th>
            <th class="text-center">
                Pass Mark
            </th>
        </tr>
    </thead>
    <tbody data-subject-type="combine" data-exam-type="mcq">
    @if (ViewBag.AnswerScriptCount < 1)
    {

        <tr>
            <td>
                <input type="text" value="@firstExamDetailsMcq.TotalQuestion" placeholder="0" name="mcqTotalQuestions" id="mcqTotalQuestions" class="form-control mcqTotalQuestions text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.MarksPerQuestion" placeholder="0" name="mcqMarksPerQues" id="mcqMarksPerQues" class="form-control mcqMarksPerQues text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.NegativeMark" placeholder="0" name="mcqNegativeMark" id="mcqNegativeMark" class="form-control text-box single-line mcqNegativeMark" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.PassMark" placeholder="0" name="mcqPassMark" id="mcqPassMark" class="form-control text-box single-line mcqPassMark" />
            </td>
        </tr>
    }
    @if (ViewBag.StudentMarksCount > 0 && ViewBag.AnswerScriptCount > 0)
    {
        <tr>
            <td>
                <input type="text" value="@firstExamDetailsMcq.TotalQuestion" placeholder="0" name="mcqTotalQuestions" id="mcqTotalQuestions" readonly="readonly" class="form-control mcqTotalQuestions text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.MarksPerQuestion" placeholder="0" name="mcqMarksPerQues" id="mcqMarksPerQues" readonly="readonly" class="form-control mcqMarksPerQues text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.NegativeMark" placeholder="0" name="mcqNegativeMark" id="mcqNegativeMark" readonly="readonly" class="form-control text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.PassMark" placeholder="0" name="mcqPassMark" id="mcqPassMark" readonly="readonly" class="form-control text-box single-line" />
            </td>
        </tr>
    }
    @if (ViewBag.StudentMarksCount < 1 && ViewBag.AnswerScriptCount > 0)
    {
        <tr>
            <td>
                <input type="text" value="@firstExamDetailsMcq.TotalQuestion" placeholder="0" readonly="readonly" name="mcqTotalQuestions" id="mcqTotalQuestions" class="form-control mcqTotalQuestions text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.MarksPerQuestion" placeholder="0" name="mcqMarksPerQues" id="mcqMarksPerQues" class="form-control mcqMarksPerQues text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.NegativeMark" placeholder="0" name="mcqNegativeMark" id="mcqNegativeMark" class="form-control text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsMcq.PassMark" placeholder="0" name="mcqPassMark" id="mcqPassMark" class="form-control text-box single-line" />
            </td>
        </tr>

    }
    </tbody>
    <tr class="">
        <td class="text-center">
            Total Unique Set
        </td>
        <td class="text-center">
            Duration Hour
        </td>
        <td class="text-center">
            Duration Minute
        </td>
        <td class="text-center">
            Is Bangla Version
        </td>
        <td class="text-center">
            Is English Version
        </td>
    </tr>
    <tr class="" style="margin-bottom: 20px;">
        <td class="text-center" id="uniqerrmsg">
            @*            @Html.Editor("totalUniqueSet", new { htmlAttributes = new { @class = "form-control totalUniqueSet numeric", @id = "totalUniqueSet", @placeholder = "Total unique set" } })*@
            <input type="text" class="form-control totalUniqueSet numeric" id="totalUniqueSet" name="totalUniqueSet" placeholder="Total unique set" min="1" value="@exam.TotalUniqueSet" />
        </td>
        <td class="text-center" id="hourerrmsg">
            @*@Html.Editor("durationHour", new { htmlAttributes = new { @class = "form-control durationHour numeric", @id = "durationHour", @placeholder = "Duration hour" } })*@
            <input type="text" class="form-control durationHour numeric" id="durationHour" name="durationHour" placeholder="Duration hour" min="0" max="24" value="@exam.DurationHour" />
        </td>
        <td class="text-center" id="minuteerrmsg">
            @*            @Html.Editor("durationMinute", new { htmlAttributes = new { @class = "form-control durationMinute numeric", @id = "durationMinute", @placeholder = "Duration minute" } })*@
            <input type="text" class="form-control durationMinute numeric" id="durationMinute" name="durationMinute" placeholder="Duration minute" min="0" max="59" value="@exam.DurationMinute" />
        </td>
        <td class="text-center">
            @if(exam.IsBanglaVersion== true)
            {
            @Html.CheckBox("isBanglaVersion", new { @checked = "checked", @class = "isBanglaVersion" })
            }
            else
            {
            @Html.CheckBox("isBanglaVersion", new { @class = "isBanglaVersion" })
            }
        </td>
        <td class="text-center">
           @if (exam.IsEnglishversion == true)
{
    @Html.CheckBox("isEnglishVersion", new { @checked = "checked", @class = "isEnglishVersion" })
}
else
{
    @Html.CheckBox("isEnglishVersion", new { @class = "isEnglishVersion" })
}
        </td>

    </tr>
</table>



@*<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Total Questions
    </div>
    <div class="col-md-3 text-center">
        Marks Per Question
    </div>
    <div class="col-md-3 text-center">
        Negative Mark%
    </div>
    <div class="col-md-3 text-center">
        Pass Mark
    </div>
</div>
@if (ViewBag.mcqCombinedList.ExamsStudentAnswerScripts.Count < 1)
{
    <div class="row col-md-12" style="margin-bottom: 20px;">
        <div class="col-md-3">
            @Html.Editor("mcqTotalQuestions", new {htmlAttributes = new {@class = "form-control", @id = "mcqTotalQuestions", @placeholder = "0", @Value = (int) ViewBag.mcqCombinedList.TotalQuestion}})
        </div>
        <div class="col-md-3">
            @Html.Editor("mcqMarksPerQuestion", new {htmlAttributes = new {@class = "form-control", @id = "mcqMarksPerQuestion", @placeholder = "0", @Value = (decimal) ViewBag.mcqCombinedList.MarksPerQuestion}})
        </div>
        <div class="col-md-3">
            @Html.Editor("mcqNegativeMark", new {htmlAttributes = new {@class = "form-control", @id = "mcqNegativeMark", @placeholder = "0", @Value = (decimal) ViewBag.mcqCombinedList.NegativeMark}})

        </div>
        <div class="col-md-3">
            @Html.Editor("mcqPassMark", new {htmlAttributes = new {@class = "form-control", @id = "mcqPassMark", @placeholder = "0", @Value = (decimal) ViewBag.mcqCombinedList.PassMark}})

        </div>

    </div>
}
@if (ViewBag.mcqCombinedList.ExamsStudentMarks.Count > 0 && ViewBag.mcqCombinedList.ExamsStudentAnswerScripts.Count > 0)
{
    <div class="row col-md-12" style="margin-bottom: 20px;">
        <div class="col-md-3">
            @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control", @id = "mcqTotalQuestions", @placeholder = "0", @Value = (int)ViewBag.mcqCombinedList.TotalQuestion , @readonly = "true" } })
        </div>
        <div class="col-md-3">
            @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control", @id = "mcqMarksPerQuestion", @placeholder = "0", @Value = (decimal)ViewBag.mcqCombinedList.MarksPerQuestion , @readonly = "true" } })
        </div>
        <div class="col-md-3">
            @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark", @placeholder = "0", @Value = (decimal)ViewBag.mcqCombinedList.NegativeMark , @readonly = "true" } })

        </div>
        <div class="col-md-3">
            @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark", @placeholder = "0", @Value = (decimal)ViewBag.mcqCombinedList.PassMark , @readonly = "true" } })

        </div>

    </div>
}
@if (ViewBag.mcqCombinedList.ExamsStudentMarks.Count < 1 && ViewBag.mcqCombinedList.ExamsStudentAnswerScripts.Count > 0)
{
    <div class="row col-md-12" style="margin-bottom: 20px;">
        <div class="col-md-3">
            @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control", @id = "mcqTotalQuestions", @placeholder = "0", @Value = (int)ViewBag.mcqCombinedList.TotalQuestion , @readonly = "true" } })
        </div>
        <div class="col-md-3">
            @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control", @id = "mcqMarksPerQuestion", @placeholder = "0", @Value = (decimal)ViewBag.mcqCombinedList.MarksPerQuestion } })
        </div>
        <div class="col-md-3">
            @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark", @placeholder = "0", @Value = (decimal)ViewBag.mcqCombinedList.NegativeMark } })

        </div>
        <div class="col-md-3">
            @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark", @placeholder = "0", @Value = (decimal)ViewBag.mcqCombinedList.PassMark } })

        </div>

    </div>
}*@
