﻿<div class="row col-md-12">
    <div class="col-md-2 text-center">
        Subject
    </div>
    <div class="col-md-2">
        Qust. From
    </div>
    <div class="col-md-2">
        Qust. To
    </div>
    <div class="col-md-1">
        Total Qust. 
    </div>
    <div class="col-md-2">
        Marks Per Qust.
    </div>
    <div class="col-md-1">
        Negt. Mark%
    </div>
    <div class="col-md-1">
        Pass Mark
    </div>
    <div class="col-md-1">
        Compulsory
    </div>
</div>
@for (int i = 0; i < ViewBag.subjectCount; i++)
{
    <div class="row col-md-12" style="margin-bottom: 20px;">
        <div class="col-md-2">
            @Html.DropDownList("mcqSubject", (SelectList)ViewBag.subjectList, "Select Subject", new { @class = "form-control mcqSubjectClass"+i, @id = "mcqSubject"+i })
        </div>
        <div class="col-md-2">
            @Html.Editor("mcqQuestionFrom", new { htmlAttributes = new { @class = "form-control mcqQuestionFromClass"+i, @id = "mcqQuestionFrom"+i, @readonly="true" } })
        </div>
        <div class="col-md-2">
            @Html.Editor("mcqQuestionTo", new { htmlAttributes = new { @class = "form-control mcqQuestionToClass"+i, @id = "mcqQuestionTo"+i, @placeholder = "0" } })
        </div>
        <div class="col-md-1" style="padding: 0px 0px;">
            @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control mcqTotalQuestionsClass"+i, @id = "mcqTotalQuestions"+i , @readonly="true"} })
        </div>
        <div class="col-md-2">
            @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control mcqMarksPerQuestionClass"+i, @id = "mcqMarksPerQuestion"+i, @placeholder = "0" } })
        </div>
        <div class="col-md-1" style="padding: 0px 1px;">
            @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark" + i, @placeholder = "0" } })
        </div>
        <div class="col-md-1" style="padding: 0px 1px;">
            @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark" + i, @placeholder = "0" } })
        </div>
        <div class="col-md-1" style="margin-top: -4px;">
            @*@Html.CheckBox("mcqCompulsory", true,new { htmlAttributes = new { @class = "form-control", @id = "mcqCompulsory",@value="1" } })*@
            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" />
            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
        </div>
    </div>
}
<div class="row col-md-12">
    <div>
        <input type="hidden" id="sc" value='@ViewBag.subjectCount'/>
    </div>
    <div class="control-label col-md-3">
        <strong>Max. Subject Count</strong>
    </div>
    <div class="col-md-9"><input type="text" name="mcqMaxSubCount" id="mcqMaxSubCount" placeholder="Max. Subject Count" class="form-control" /></div>
</div>

