﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam
@using UdvashERP.BusinessModel.Entity.Hr
@{
    Exams exam = ViewBag.ExamUnderThisParent;
    IList<Subject> subjectList = ViewBag.SubjectList;
    int mcqSubjectType = ViewBag.McqSubjectType;
    ExamsDetails firstExamDetailsMcq = ViewBag.FirstExamDetailsMcq;

    IList<ExamsDetails> mcqExamsDetailses = exam.ExamDetails.Where(x => x.ExamType == ExamType.Mcq).ToList();
    //ViewBag.AnswerScriptCount = answerScript;
    //ViewBag.StudentMarksCount = studentMarks;
    //ExamsDetails firstExamDetailsWritten = ViewBag.FirstExamDetailsWritten;
}

<table class="table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead class="text-center">
        <tr>
            <th class="text-center" style="width:216px">
                Subject
            </th>
            <th class="text-center">
                Qust. From
            </th>
            <th class="text-center">
                Qust. To
            </th>
            <th class="text-center">
                Total Qust.
            </th>
            <th class="text-center">
                Marks Per Qust.
            </th>
            <th class="text-center">
                Negt. Mark%
            </th>
            <th class="text-center">
                Pass Mark
            </th>
            <th class="text-center">
                Compulsory
            </th>
        </tr>
    </thead>
    <tbody data-subject-type="multiple" data-exam-type="mcq">
        @if (ViewBag.AnswerScriptCount < 1)
        {
            foreach (var mcqExamsDetails in mcqExamsDetailses)
            {
                <tr>
                    <td>
                        <select name="mcqSubject" class="form-control mcqSubject" id="mcqSubject">


                            @{
                if (mcqExamsDetails.Subject == null)
                {
                    <option value="">Select Subject</option>
                }
                foreach (var subject in subjectList)
                {
                    if (mcqExamsDetails.Subject.Id == subject.Id)
                    {
                        <option value="@subject.Id" selected="selected">
                            @subject.Name
                        </option>
                    }
                    else
                    {
                        <option value="@subject.Id">
                            @subject.Name
                        </option>
                    }
                }
                            }
                        </select>

                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.QuestionFrom" placeholder="0" name="mcqQuesFrom" class="form-control mcqQuesFrom text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.QuestionTo" placeholder="0" name="mcqQuesTo" class="form-control mcqQuesTo text-box single-line" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.TotalQuestion" placeholder="0" name="mcqTotalQuestions" class="form-control mcqTotalQuestions text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.MarksPerQuestion" placeholder="0" name="mcqMarksPerQues" class="form-control mcqMarksPerQues text-box single-line" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.NegativeMark" placeholder="0" name="mcqNegativeMark" class="form-control mcqNegativeMark text-box single-line" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.PassMark" placeholder="0" name="mcqPassMark" class="form-control mcqPassMark text-box single-line" />
                    </td>
                    <td class="text-center">
                        @{
                if (mcqExamsDetails.IsCompulsary)
                {
                    <input type="checkbox" value="2" name="isCompulsory" class="isCompulsory" checked="checked" />
                }
                else
                {
                    <input type="checkbox" value="2" name="isCompulsory" class="isCompulsory" />
                }
                        }

                    </td>
                </tr>
            }
        }
        @if (ViewBag.StudentMarksCount > 0 && ViewBag.AnswerScriptCount > 0)
        {
            foreach (var mcqExamsDetails in mcqExamsDetailses)
            {
                <tr>
                    <td>
                        <select name="mcqSubject" class="form-control mcqSubject" id="mcqSubject" disabled="disabled">
                            @{
                foreach (var subject in subjectList)
                {
                    if (mcqExamsDetails.Subject.Id == subject.Id)
                    {
                        <option value="@subject.Id" selected="selected">
                            @subject.Name
                        </option>
                    }
                    else
                    {
                        <option value="@subject.Id">
                            @subject.Name
                        </option>
                    }
                }
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.QuestionFrom" placeholder="0" name="mcqQuesFrom" class="form-control mcqQuesFrom text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.QuestionTo" placeholder="0" name="mcqQuesTo" class="form-control mcqQuesTo text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.TotalQuestion" placeholder="0" name="mcqTotalQuestions" class="form-control mcqTotalQuestions text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.MarksPerQuestion" placeholder="0" name="mcqMarksPerQues" class="form-control mcqMarksPerQues text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.NegativeMark" placeholder="0" name="mcqNegativeMark" class="form-control mcqNegativeMark text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.PassMark" placeholder="0" name="mcqPassMark" class="form-control mcqPassMark text-box single-line" readonly="readonly" />
                    </td>
                    <td class="text-center">
                        @{
                if (mcqExamsDetails.IsCompulsary)
                {
                    <input type="checkbox" value="2" name="isCompulsory" class="isCompulsory" checked="checked" readonly="readonly" />
                }
                else
                {
                    <input type="checkbox" value="2" name="isCompulsory" class="isCompulsory" readonly="readonly" />
                }
                        }

                    </td>
                </tr>
            }
        }
        @if (ViewBag.StudentMarksCount < 1 && ViewBag.AnswerScriptCount > 0)
        {
            foreach (var mcqExamsDetails in mcqExamsDetailses)
            {
                <tr>
                    <td>
                        <select name="mcqSubject" class="form-control mcqSubject" id="mcqSubject" disabled="disabled">
                            @{
                foreach (var subject in subjectList)
                {
                    if (mcqExamsDetails.Subject.Id == subject.Id)
                    {
                        <option value="@subject.Id" selected="selected">
                            @subject.Name
                        </option>
                    }
                    else
                    {
                        <option value="@subject.Id">
                            @subject.Name
                        </option>
                    }
                }
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.QuestionFrom" placeholder="0" name="mcqQuesFrom" class="form-control mcqQuesFrom text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.QuestionTo" placeholder="0" name="mcqQuesTo" class="form-control mcqQuesTo text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.TotalQuestion" placeholder="0" name="mcqTotalQuestions" class="form-control mcqTotalQuestions text-box single-line" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.MarksPerQuestion" placeholder="0" name="mcqMarksPerQues" class="form-control mcqMarksPerQues text-box single-line" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.NegativeMark" placeholder="0" name="mcqNegativeMark" class="form-control mcqNegativeMark text-box single-line" />
                    </td>
                    <td>
                        <input type="text" value="@mcqExamsDetails.PassMark" placeholder="0" name="mcqPassMark" class="form-control mcqPassMark text-box single-line" />
                    </td>
                    <td class="text-center">
                        @{
                if (mcqExamsDetails.IsCompulsary)
                {
                    <input type="checkbox" value="2" name="isCompulsory" class="isCompulsory" checked="checked" readonly="readonly" />
                }
                else
                {
                    <input type="checkbox" value="2" name="isCompulsory" class="isCompulsory" readonly="readonly" />
                }
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Max. Subject Count
            </td>
            <td colspan="5">
                <input type="text" value="@exam.McqMaxSubjectCount" class="form-control" placeholder="Max. Subject Count" id="mcqMaxSubCount" name="mcqMaxSubCount">
            </td>
        </tr>
    </tfoot>
</table>







    @*@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
        @using UdvashERP.Model.Entity.Exam
        <div class="row col-md-12">
            <div class="col-md-2 text-center">
                Subject
            </div>
            <div class="col-md-2">
                Qust. From
            </div>
            <div class="col-md-2">
                Qust. To
            </div>
            <div class="col-md-1">
                Total Qust.
            </div>
            <div class="col-md-2">
                Marks Per Qust.
            </div>
            <div class="col-md-1">
                Negt. Mark%
            </div>
            <div class="col-md-1">
                Pass Mark
            </div>
            <div class="col-md-1">
                Compulsory
            </div>
        </div>

        @for (int i = 0; i < ViewBag.mcqMultipleList.Count; i++)
        {
            if (ViewBag.mcqMultipleList[i].ExamsStudentAnswerScripts.Count < 1)
            {
                <div class="row col-md-12" style="margin-bottom: 20px;">
                    <div class="col-md-2">
                        @Html.DropDownList("mcqSubject", ViewBag.mcqMultipleSubjectList[i] as SelectList, "Select Subject", new { @class = "form-control mcqSubjectClass" + i, @id = "mcqSubject" + i })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionFrom", new { htmlAttributes = new { @class = "form-control mcqQuestionFromClass" + i, @id = "mcqQuestionFrom" + i, @placeholder = "0", @Value = (int)ViewBag.mcqMultipleList[i].QuestionFrom , @readonly="true" } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionTo", new { htmlAttributes = new { @class = "form-control mcqQuestionToClass" + i, @id = "mcqQuestionTo" + i, @placeholder = "0", @Value = (int)ViewBag.mcqMultipleList[i].QuestionTo } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 0px;">
                        @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control mcqTotalQuestionsClass" + i, @id = "mcqTotalQuestions" + i, @placeholder = "0", @readonly = "true", @Value = (int)ViewBag.mcqMultipleList[i].TotalQuestion } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control mcqMarksPerQuestionClass" + i, @id = "mcqMarksPerQuestion" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].MarksPerQuestion } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].NegativeMark } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].PassMark } })
                    </div>
                    <div class="col-md-1" style="margin-top: -4px;">
                        @if (ViewBag.mcqMultipleList[i].IsCompulsary == true)
                        {
                            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" checked="checked" />
                            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                        }
                        else
                        {
                            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" />
                            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                        }
                    </div>
                </div>
            }
            if (ViewBag.mcqMultipleList[i].ExamsStudentMarks.Count > 0 && ViewBag.mcqMultipleList[i].ExamsStudentAnswerScripts.Count > 0)
            {
                <div class="row col-md-12" style="margin-bottom: 20px;">
                    <div class="col-md-2">
                        @Html.DropDownList("mcqSubject", ViewBag.mcqMultipleSubjectList[i] as SelectList, "Select Subject", new { @class = "form-control mcqSubjectClass" + i, @id = "mcqSubject" + i , @readonly="true" })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionFrom", new { htmlAttributes = new { @class = "form-control mcqQuestionFromClass" + i, @id = "mcqQuestionFrom" + i, @placeholder = "0", @Value = (int)ViewBag.mcqMultipleList[i].QuestionFrom, @readonly = "true"} })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionTo", new { htmlAttributes = new { @class = "form-control mcqQuestionToClass" + i, @id = "mcqQuestionTo" + i, @placeholder = "0", @Value = (int)ViewBag.mcqMultipleList[i].QuestionTo, @readonly = "true" } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 0px;">
                        @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control mcqTotalQuestionsClass" + i, @id = "mcqTotalQuestions" + i, @placeholder = "0", @readonly = "true", @Value = (int)ViewBag.mcqMultipleList[i].TotalQuestion } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control mcqMarksPerQuestionClass" + i, @id = "mcqMarksPerQuestion" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].MarksPerQuestion , @readonly = "true" } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].NegativeMark, @readonly = "true" } })
                    </div>

                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].PassMark, @readonly = "true" } })
                    </div>

                    <div class="col-md-1" style="margin-top: -4px;">
                        @if (ViewBag.mcqMultipleList[i].IsCompulsary == true)
                        {
                            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" checked="checked" disabled="disabled" />
                            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                        }
                        else
                        {
                            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" disabled="disabled" />
                            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                        }
                    </div>
                </div>
            }
            if (ViewBag.mcqMultipleList[i].ExamsStudentMarks.Count < 1 && ViewBag.mcqMultipleList[i].ExamsStudentAnswerScripts.Count > 0)
            {
                <div class="row col-md-12" style="margin-bottom: 20px;">
                    <div class="col-md-2">
                        @Html.DropDownList("mcqSubject", ViewBag.mcqMultipleSubjectList[i] as SelectList, "Select Subject", new { @class = "form-control mcqSubjectClass" + i, @id = "mcqSubject" + i, @readonly = "true" })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionFrom", new { htmlAttributes = new { @class = "form-control mcqQuestionFromClass" + i, @id = "mcqQuestionFrom" + i, @placeholder = "0", @Value = (int)ViewBag.mcqMultipleList[i].QuestionFrom, @readonly = "true" } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionTo", new { htmlAttributes = new { @class = "form-control mcqQuestionToClass" + i, @id = "mcqQuestionTo" + i, @placeholder = "0", @Value = (int)ViewBag.mcqMultipleList[i].QuestionTo, @readonly = "true" } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 0px;">
                        @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control mcqTotalQuestionsClass" + i, @id = "mcqTotalQuestions" + i, @placeholder = "0", @readonly = "true", @Value = (int)ViewBag.mcqMultipleList[i].TotalQuestion } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control mcqMarksPerQuestionClass" + i, @id = "mcqMarksPerQuestion" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].MarksPerQuestion } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].NegativeMark } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.mcqMultipleList[i].PassMark } })
                    </div>
                    <div class="col-md-1" style="margin-top: -4px;">
                        @if (ViewBag.mcqMultipleList[i].IsCompulsary == true)
                        {
                            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" checked="checked" disabled="disabled" />
                            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                        }
                        else
                        {
                            <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" disabled="disabled" />
                            <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                        }
                    </div>
                </div>
            }
        }
        @if (ViewBag.mcqMultipleList[0].ExamsStudentMarks.Count < 1 || ViewBag.mcqMultipleList[0].ExamsStudentAnswerScripts.Count < 1)
        {
        if (ViewBag.leftSubjects > 0)
        {
            for (int i = ViewBag.mcqMultipleList.Count; i < ViewBag.subjectCount; i++)
            {
                <div class="row col-md-12" style="margin-bottom: 20px;">
                    <div class="col-md-2">
                        @Html.DropDownList("mcqSubject", (SelectList)ViewBag.subjectList, "Select Subject", new { @class = "form-control mcqSubjectClass" + i, @id = "mcqSubject" + i })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionFrom", new { htmlAttributes = new { @class = "form-control mcqQuestionFromClass" + i, @id = "mcqQuestionFrom" + i, @placeholder = "0" , @readonly="true" } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqQuestionTo", new { htmlAttributes = new { @class = "form-control mcqQuestionToClass" + i, @id = "mcqQuestionTo" + i, @placeholder = "0" } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 0px;">
                        @Html.Editor("mcqTotalQuestions", new { htmlAttributes = new { @class = "form-control mcqTotalQuestionsClass" + i, @id = "mcqTotalQuestions" + i, @placeholder = "0", @readonly = "true" } })
                    </div>
                    <div class="col-md-2">
                        @Html.Editor("mcqMarksPerQuestion", new { htmlAttributes = new { @class = "form-control mcqMarksPerQuestionClass" + i, @id = "mcqMarksPerQuestion" + i, @placeholder = "0" } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqNegativeMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqNegativeMark" + i, @placeholder = "0" } })
                    </div>
                    <div class="col-md-1" style="padding: 0px 1px;">
                        @Html.Editor("mcqPassMark", new { htmlAttributes = new { @class = "form-control", @id = "mcqPassMark" + i, @placeholder = "0" } })
                    </div>
                    <div class="col-md-1" style="margin-top: -4px;">

                        <input type="checkbox" name="mcqCompulsory" id="mcqCompulsory_@i" class="form-control mcqcheckboxClass_@i" />
                        <input type="hidden" class="mcqhidden" name="mcqIsCompulsory" id="mcqIsCompulsory" />
                    </div>
                </div>
            }
        }
        }
        <div class="row col-md-12">
            <div>
                <input type="hidden" id="sc" value='@ViewBag.subjectCount' />
            </div>
            <div class="control-label col-md-3">
                <strong>Max. Subject Count</strong>
            </div>
            <div class="col-md-9"><input type="text" name="mcqMaxSubCount" id="mcqMaxSubCount" placeholder="Max. Subject Count" class="form-control" value=@ViewBag.MaximumSubjectCount /></div>
        </div>*@


