﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam
@using UdvashERP.BusinessModel.Entity.Hr
@{
    Exams exam = ViewBag.ExamUnderThisParent;
    ExamsDetails firstExamDetailsWritten = ViewBag.FirstExamDetailsWritten;
}
<table class="table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead class="text-center">
        <tr>
            <th class="text-center">
                Full Marks
            </th>

            <th class="text-center">
                Pass Mark
            </th>

        </tr>
    </thead>
    <tbody data-subject-type="combine" data-exam-type="written">
        <tr>
            <td>
                <input type="text" value="@firstExamDetailsWritten.WrittenFullMark" placeholder="0" name="writtenFullMark" class="form-control writtenFullMark text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsWritten.PassMark" placeholder="0" name="writtenPassMark" class="form-control writtenPassMark text-box single-line" />
            </td>
        </tr>
    </tbody>
</table>

@*<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Full Marks
    </div>
    <div class="col-md-3 text-center">
        Pass Mark
    </div>
</div>
<div class="row col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-3">
        @Html.Editor("writtenFullMarks", new { htmlAttributes = new { @class = "form-control", @id = "writtenFullMarks", @placeholder = "0", @Value = ViewBag.writtenCombinedList.WrittenFullMark } })
    </div>
    <div class="col-md-3">
        @Html.Editor("writtenPassMark", new { htmlAttributes = new { @class = "form-control", @id = "writtenPassMark", @placeholder = "0", @Value = ViewBag.writtenCombinedList.PassMark } })
    </div>
</div>*@


