﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam
@using UdvashERP.BusinessModel.Entity.Hr
@{
    Exams exam = ViewBag.ExamUnderThisParent;
    IList<Subject> subjectList = ViewBag.SubjectList;
    ExamsDetails firstExamDetailsWritten = ViewBag.FirstExamDetailsWritten;
    IList<ExamsDetails> writtenExamsDetailses = exam.ExamDetails.Where(x => x.ExamType == ExamType.Written).ToList(); 
}

<table class="table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead class="text-center">
        <tr>
            <th class="text-center">
                Subject
            </th>
            <th class="text-center">
                Full Marks
            </th>

            <th class="text-center">
                Pass Mark
            </th>
            <th class="text-center">
                Compulsory
            </th>
        </tr>
    </thead>
    <tbody data-subject-type="multiple" data-exam-type="written">
        @{
            foreach (var writtenExamsDetails in writtenExamsDetailses)
            {
                <tr>
                    <td>
                        <select name="writtenSubject" class="form-control writtenSubject" id="writtenSubject">
                            @{
                foreach (var subject in subjectList)
                {
                    if (writtenExamsDetails.Subject.Id == subject.Id)
                    {
                        <option value="@subject.Id" selected="selected">
                            @subject.Name
                        </option>
                    }
                    else
                    {
                        <option value="@subject.Id">
                            @subject.Name
                        </option>
                    }
                }
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" value="@writtenExamsDetails.WrittenFullMark" placeholder="0" name="writtenFullMark" class="form-control writtenFullMark text-box single-line" />
                    </td>
                    <td>
                        <input type="text" value="@writtenExamsDetails.PassMark" placeholder="0" name="writtenPassMark" class="form-control writtenPassMark text-box single-line" />
                    </td>
                    <td class="text-center">
                        @{
                if (writtenExamsDetails.IsCompulsary)
                {
                    <input type="checkbox" value="2" name="writtenIsCompulsory" class="writtenIsCompulsory" checked="checked" />
                }
                else
                {
                    <input type="checkbox" value="2" name="writtenIsCompulsory" class="writtenIsCompulsory" />
                }
                        }
                    </td>
                </tr>
            }
        }

    </tbody>


    <tfoot>
        <tr>
            <td>
                Max. Subject Count
            </td>
            <td colspan="3">
                <input type="text" value="@exam.WrittenMaxSubjectCount" class="form-control" placeholder="Max. Subject Count" id="writtenMaxSubCount" name="writtenMaxSubCount">
            </td>
        </tr>
    </tfoot>
</table>



    @*<div class="row col-md-12">
            <div class="col-md-3 text-center">
                Subject
            </div>
            <div class="col-md-2">
                Full Marks
            </div>
            <div class="col-md-2">
                Pass Mark
            </div>
            <div class="col-md-2">
                Compulsory
            </div>
        </div>
        @for (int i = 0; i < ViewBag.writtenMultipleList.Count; i++)
        {
            <div class="row col-md-12" style="margin-bottom: 20px;">
                <div class="col-md-3">
                    @Html.DropDownList("writtenSubject", ViewBag.writtenMultipleSubjectList[i] as SelectList, "Select Subject", new { @class = "form-control writtenSubjectClass" + i, @id = "writtenSubject" + i })
                </div>

                <div class="col-md-2">
                    @Html.Editor("writtenFullMarks", new { htmlAttributes = new { @class = "form-control writtenFullMarksClass" + i, @id = "writtenFullMarks" + i, @placeholder = "0", @Value = (decimal)ViewBag.writtenMultipleList[i].WrittenFullMark } })
                </div>

                <div class="col-md-2">
                    @Html.Editor("writtenPassMark", new { htmlAttributes = new { @class = "form-control writtenPassMarkClass" + i, @id = "writtenPassMark" + i, @placeholder = "0", @Value = (decimal)ViewBag.writtenMultipleList[i].PassMark } })

                </div>
                <div class="col-md-2">
                    @if (ViewBag.writtenMultipleList[i].IsCompulsary == true)
                    {
                        <input type="checkbox" name="writtenCompulsory" id="writtenCompulsory_@i" class="form-control writtencheckboxClass_@i" checked="checked" />
                        <input type="hidden" class="writtenhidden" name="writtenIsCompulsory" id="writtenIsCompulsory" />
                    }
                    else
                    {
                        <input type="checkbox" name="writtenCompulsory" id="writtenCompulsory_@i" class="form-control writtencheckboxClass_@i" />
                        <input type="hidden" class="writtenhidden" name="writtenIsCompulsory" id="writtenIsCompulsory" />
                    }

                </div>
            </div>
        }
        @if (ViewBag.leftWrittenSubjects > 0)
        {
            for (int i = ViewBag.writtenMultipleList.Count; i < ViewBag.subjectCount; i++)
            {
                <div class="row col-md-12" style="margin-bottom: 20px;">
                    <div class="col-md-3">
                        @Html.DropDownList("writtenSubject", (SelectList)ViewBag.subjectList, "Select Subject", new { @class = "form-control writtenSubjectClass" + i, @id = "writtenSubject" + i })
                    </div>

                    <div class="col-md-2">
                        @Html.Editor("writtenFullMarks", new { htmlAttributes = new { @class = "form-control writtenFullMarksClass" + i, @id = "writtenFullMarks" + i, @placeholder = "0" } })
                    </div>

                    <div class="col-md-2">
                        @Html.Editor("writtenPassMark", new { htmlAttributes = new { @class = "form-control writtenPassMarkClass" + i, @id = "writtenPassMark" + i, @placeholder = "0" } })

                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" name="writtenCompulsory" id="writtenCompulsory_@i" class="form-control writtencheckboxClass_@i" />
                        <input type="hidden" class="writtenhidden" name="writtenIsCompulsory" id="writtenIsCompulsory" />
                    </div>
                </div>
            }
        }

        <div class="row col-md-12">
            <div>
                <input type="hidden" id="scw" value='@ViewBag.subjectCount' />
            </div>
            <div class="control-label col-md-3">
                <strong>Max. Subject Count</strong>
            </div>
            <div class="col-md-9"><input type="text" name="writtenMaxSubCount" id="writtenMaxSubCount" placeholder="Max. Subject Count" class="form-control" value=@ViewBag.writtenMaximumSubjectCount /></div>
        </div>*@
