﻿@using UdvashERP.BusinessModel.Entity.Administration
@using UdvashERP.BusinessModel.Entity.Exam
@using UdvashERP.BusinessModel.Entity.Hr
@{
    Exams exam = ViewBag.ExamUnderThisParent;
    IList<Subject> subjectList = ViewBag.SubjectList;
    ExamsDetails firstExamDetailsWritten = ViewBag.FirstExamDetailsWritten;
}

<table class="table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead class="text-center">
        <tr>
            <th class="text-center" style="width: 214px;">
                Subject
            </th>
            <th class="text-center">
                Full Marks
            </th>

            <th class="text-center">
                Pass Mark
            </th>

        </tr>
    </thead>
    <tbody data-subject-type="single" data-exam-type="written">
        <tr>
            <td>
                <select name="writtenSubject" class="form-control writtenSubject" id="writtenSubject">
                    @{
                        foreach (var subject in subjectList)
                        {
                            if (firstExamDetailsWritten.Subject.Id == subject.Id)
                            {
                                <option value="@subject.Id" selected="selected">
                                    @subject.Name
                                </option>
                            }
                            else
                            {
                                <option value="@subject.Id">
                                    @subject.Name
                                </option>
                            }
                        }
                    }
                </select>
            </td>
            <td>
                <input type="text" value="@firstExamDetailsWritten.WrittenFullMark" placeholder="0" name="writtenFullMark" class="form-control writtenFullMark text-box single-line" />
            </td>
            <td>
                <input type="text" value="@firstExamDetailsWritten.PassMark" placeholder="0" name="writtenPassMark" class="form-control writtenPassMark text-box single-line" />
            </td>

        </tr>
    </tbody>
</table>





@*<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Subject
    </div>
    <div class="col-md-2 text-center">
        Full Marks
    </div>
    <div class="col-md-2 text-center">
        Pass Mark
    </div>
</div>
<div class="row col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-3">
        @Html.DropDownList("writtenSubject", ViewBag.writtenSingleSubjectList as SelectList, "Select Subject", new { @class = "form-control", @id = "writtenSubject" })
    </div>
    <div class="col-md-2">
        @Html.Editor("writtenFullMarks", new { htmlAttributes = new { @class = "form-control", @id = "writtenFullMarks", @placeholder = "0", @Value = (decimal)ViewBag.writtenSingleList.WrittenFullMark } })
    </div>
    <div class="col-md-2">
        @Html.Editor("writtenPassMark", new { htmlAttributes = new { @class = "form-control", @id = "writtenPassMark", @placeholder = "0", @Value = (decimal)ViewBag.writtenSingleList.PassMark } })
    </div>

</div>*@

