﻿<div class="row col-md-12">
    <div class="col-md-3 text-center">
        Subject
    </div>
    <div class="col-md-2 text-center">
        Full Marks
    </div>
    <div class="col-md-2 text-center">
        Pass Mark
    </div>
</div>
<div class="row col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-3">
        @Html.DropDownList("writtenSubject", (SelectList)ViewBag.subjectList, "Select Subject", new { @class = "form-control", @id = "writtenSubject" })
    </div>
    <div class="col-md-2">
        @Html.Editor("writtenFullMarks", new { htmlAttributes = new { @class = "form-control writtenFullMarksClass", @id = "writtenFullMarks", @placeholder = "0" } })
    </div>
    <div class="col-md-2">
        @Html.Editor("writtenPassMark", new { htmlAttributes = new { @class = "form-control", @id = "writtenPassMark", @placeholder = "0" } })
    </div>

</div>
