﻿@model UdvashERP.BusinessModel.Entity.Administration.BankBranch

@{
    ViewBag.Title = "Bank Branch Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Bank Branch Details</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Bank.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Bank.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Name) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ShortName) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ShortName)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ContactPerson) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ContactPerson)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ContactPersonMobile) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ContactPersonMobile)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.RoutingNo) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.RoutingNo)</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.SwiftCode) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.SwiftCode)</td>
                </tr>
                <tr>

                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.Status) :</td>
                    @{
                        if (Model.Status == UdvashERP.BusinessModel.Entity.Administration.Session.EntityStatus.Active)
                        {
                            <td style="text-align:  left">Active</td>
                        }
                        else
                        {
                            <td style="text-align:  left">Inactive</td>
                        }

                    }

                </tr>
                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreateByText) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreateByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.CreationDate) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.CreationDate)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModifyByText) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModifyByText)</td>
                </tr>

                <tr>
                    <td style="text-align: right; width: 40%; font-weight: bold">@Html.DisplayNameFor(model => model.ModificationDate) :</td>
                    <td style="text-align:  left">@Html.DisplayFor(model => model.ModificationDate)</td>
                </tr>

            </table>

        </div>

    </div>
</div>

