﻿@model UdvashERP.BusinessModel.Entity.Administration.BankBranch

@{
    ViewBag.Title = "Edit Bank Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Edit Bank Branch</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="col-md-6  form-group">
                        @Html.LabelFor(model => model.BankId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.bankList, "Select Bank", new { @class = "form-control", @id = "bankId" })
                            @Html.ValidationMessageFor(model => model.BankId)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ShortName, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShortName)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactPerson)
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.ContactPersonMobile, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContactPersonMobile, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactPersonMobile)
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.RoutingNo, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.RoutingNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RoutingNo)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.SwiftCode, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SwiftCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SwiftCode)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @if (ViewBag.STATUSTEXT != null)
                            {
                                <select id="Status" name="Status" class="form-control ">
                                    @if (ViewBag.STATUSTEXT != null)
                                    {
                                        foreach (KeyValuePair<String, int> statusType in @ViewBag.STATUSTEXT)
                                        {
                                            if (statusType.Value == Model.Status)
                                            {
                                                <option value="@statusType.Value" selected="selected">@statusType.Key</option>
                                            }
                                            else
                                            {
                                                <option value="@statusType.Value">@statusType.Key</option>
                                            }
                                        }
                                    }
                                </select>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("input propertychange", "#ContactPersonMobile", function (event) {
                var mobile = $("#ContactPersonMobile").val().trim();
                if (mobile.length > 0) {
                    mobile = mobileCheck(mobile);
                    if (mobile == null) {
                        showErrorMessageBelowCtrl("ContactPersonMobile", "", false);
                        showErrorMessageBelowCtrl("ContactPersonMobile", "Please enter valid mobile number", true);
                        return false;
                    } else {
                        $("#ContactPersonMobile").val(mobile);
                        showErrorMessageBelowCtrl("ContactPersonMobile", "", false);
                    }
                }
            });

        });
    </script>

}


