﻿@using System.Web.UI.WebControls
@using UdvashERP.BusinessModel.Entity.UInventory
@using UdvashERP.BusinessModel.ViewModel.UInventory

@model UdvashERP.BusinessModel.ViewModel.UInventory.GoodsTransferViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input, textarea, select {
        max-width: 100%;
    }
</style>


<div class="panel panel-primary">

    <div class="panel-heading"><h4 class="panel-title">Goods Transfer</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "GoodsTransfer", FormMethod.Post, new { @id = "GoodsTransferForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="control-label col-md-2"> </div>
                    <div class="col-md-4">
                        <span style="font-weight:bold"> Transfer From</span>
                    </div>
                    <div class="control-label col-md-2"> </div>
                    <div class="col-md-4">
                        <span style="font-weight:bold"> Transfer To</span>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationFromId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">

                        @Html.DropDownListFor(model => model.OrganizationFromId, (SelectList)ViewBag.OrganizationFromList, "Select Organization", new { @class = "form-control", @id = "OrganizationFromId" })
                        @Html.ValidationMessageFor(model => model.OrganizationFromId)

                    </div>
                    @Html.LabelFor(model => model.OrganizationToId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationToId, (SelectList)ViewBag.OrganizationToList, "Select Organization", new { @class = "form-control", @id = "OrganizationToId" })
                        @Html.ValidationMessageFor(model => model.OrganizationToId, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BranchFromId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchFromId, (SelectList)ViewBag.BranchFromList, "Select Branch", new { @class = "form-control", @id = "BranchFromId" })
                        @Html.ValidationMessageFor(model => model.BranchFromId, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.BranchToId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchToId, (SelectList)ViewBag.BranchToList, "Select Branch", new { @class = "form-control", @id = "BranchToId" })
                        @Html.ValidationMessageFor(model => model.BranchToId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <table class="table-bordered table-hover table-responsive table-striped" style="width: 100%" id="GoodsTransferDetails">

                    <thead>
                        <tr>
                            <th style="text-align: center; padding: 4px;">@Html.Label("", "Item Group")</th>
                            <th style="text-align: center; padding: 4px;">@Html.Label("", "Item Name")</th>
                            <th style="text-align: center; padding: 4px;">@Html.Label("", "Porgram & Session")</th>
                            <th style="text-align: center; padding: 4px;">@Html.Label("", "Stock Qty")</th>
                            <th style="text-align: center; padding: 4px;">@Html.Label("", "Transfer Qty")</th>
                            <th style="text-align: center; padding: 4px;"><button type="button" class="btn btn-primary btn-sm newAction" name="append" id="newAction">+</button></th>
                        </tr>
                    </thead>

                    <tbody id="GoodsDetailsBody">
                        @{
                            if (Model.GoodsTransferDetailsViewModelList == null || !Model.GoodsTransferDetailsViewModelList.Any())
                            {
                                IList<GoodsTransferDetailsViewModel> goodsTransferDetailsViewModelList = new List<GoodsTransferDetailsViewModel>();
                                goodsTransferDetailsViewModelList.Add(new GoodsTransferDetailsViewModel());
                                Model.GoodsTransferDetailsViewModelList = goodsTransferDetailsViewModelList;
                            }
                        }
                        @Html.EditorFor(model => model.GoodsTransferDetailsViewModelList)

                    </tbody>

                </table>

                <br />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label style="padding-left: 15px">@Html.LabelFor(model => model.Remarks)</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*<div class="col-md-offset-2 col-md-10">*@
                <div class="form-group">
                    <div class="text-center">
                        @*<input type="submit" value="Submit" class="btn btn-primary" id="subx"/>*@
                        <input type="button" value="Submit" class="btn btn-primary" id="subx" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript">
        @*custom validation*@
        jQuery.validator.unobtrusive
            .adapters.addSingleVal("notequalto", "other");

        jQuery.validator.addMethod("notequalto",
            function (val, element, other) {
                var modelPrefix = element.name.substr(
                    0, element.name.lastIndexOf(".") + 1);
                var otherVal = $("[name=" + modelPrefix + other + "]").val();
                console.log(otherVal);
                console.log(val);
                if (val && otherVal) {
                    if (val === otherVal) {
                        return false;
                    }
                }
                return true;
            }
        );
        @*custom validation*@

        $(document).ready(function (e) {
            $("#GoodsTransferForm").submit(function () {
                e.preventDefault();
                return false;
            });
        });

        @*form submission*@

        $(document).on('click', '#subx', function (e) {

            if ($("#GoodsTransferForm").valid()) {

                var itemArray = [];
                var programSessionArray = [];

                $('.item').each(function () {
                    var programSession = $(this).parent().parent().find('.programSession').val();
                    itemArray.push($(this).val() + '-' + programSession);
                });

                console.log('item', itemArray);

                var hasNoDups = itemArray.every(function (v, i) {
                    return itemArray.indexOf(v) === i;
                });

                //$('.programSession').each(function () {

                //    programSessionArray.push(this.val());
                //});

                //console.log($('#GoodsTransferForm').serialize());
                if (hasNoDups) {
                    $.ajax({
                        type: "post",
                        url: $("body").attr("data-project-root") + "UInventory/GoodsTransfer/GoodsTransfers",
                        //cache: false,
                        //async: true,
                        //dataType: "json",
                        //contentType: "application/json",
                        data: $('#GoodsTransferForm').serializeArray(),
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                console.log(response);
                                console.log("DetailsID:", response.AdditionalValue);
                                var url = '@Url.Action("Details", "GoodsTransfer", new { id = "__Id__" })';
                                window.location.href = url.replace('__Id__', response.AdditionalValue);
                                $.fn.customMessage({

                                    displayMessage: response.Message,
                                    displayMessageType: "s"

                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "error"
                                });
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
                else {
                    e.preventDefault();
                    $.fn.customMessage({

                        displayMessage: "Duplicate item found ",
                        displayMessageType: "error"

                    });
                    return false;
                }

            }
            else {
                e.preventDefault();
                return false;
            }
        });

        @*form submission*@

        @*lookup value changed event*@

        var fId;
        var tId;

        $(document).on('change', '#OrganizationFromId', function () {

            $('#BranchFromId').empty();
            $('#BranchFromId').append("<option value=''>Select Branch</option>");
            var organizationFromId = tId = $('#OrganizationFromId').val();

            if (organizationFromId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadBranch", "CommonAjax", new { area = "Administration" }, null)',
                    data: { organizationIds: organizationFromId, isAuthorized: true, isProgramBranSession: false },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#BranchFromId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    }
                });
                ResetTableData();
            }
            else {
                $('#BranchFromId').empty();
                $('#BranchFromId').append("<option value=''>Select Branch</option>");

                ResetTableData();
            }

            console.log(organizationFromId);
        });


        function ResetTableData()
        {         
            //operation on goods details table
            $('#GoodsDetailsBody tr').each(function () {
           
                $(this).find(".itemGroup").val($(".itemGroup option:first").val());

                var itemHolder = $(this).find('.item');
                itemHolder.empty();
                itemHolder.append("<option value=''>Select Item </option>");

                var programSessionHolder = $(this).find('.programSession');
                programSessionHolder.empty();
                programSessionHolder.append("<option value=''>Select Program & Session </option>");

                var qtyHolder = $(this).find('#StockQuantity');
                qtyHolder.val(0);

                var transferQtyHolder = $(this).find('.transferQty');
                transferQtyHolder.val(0);

            });
        }

        $(document).on('change', '#OrganizationToId', function () {

            $('#BranchToId').empty();
            $('#BranchToId').append("<option value=''>Select Branch</option>");

            var organizationToId = fId = $('#OrganizationToId').val();

            if (organizationToId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadBranch", "CommonAjax", new { area = "Administration" }, null)',
                    data: { organizationIds: organizationToId, isAuthorized: true, isProgramBranSession: false },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function (i, v) {
                                $('#BranchToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    }
                });
                ResetTableData();
            }
            else {
                $('#BranchToId').empty();
                $('#BranchToId').append("<option value=''>Select Branch</option>");
                ResetTableData();
            }

            console.log(organizationToId);
        });


        $(document).on('change', '.itemGroup', function () {

            var itemGroupId = $(this).val();
            var organizationFromId = fId;
            var organizationToId = tId;

            console.log(organizationFromId);
            console.log(organizationToId);
            console.log(itemGroupId);

            var itemHolder = $(this).parent().parent().find('.item');
            itemHolder.empty();
            itemHolder.append("<option value=''>Select Item </option>");

            var programSessionHolder = $(this).parent().parent().find('.programSession');
            programSessionHolder.empty();
            programSessionHolder.append("<option value=''>Select Program & Session </option>");


            if (organizationFromId > 0 && organizationToId > 0 && itemGroupId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadItems", "GoodsTransfer", new { area = "UInventory" }, null)',
                    data: { fromOrganizationId: organizationFromId, toOrganizationId: organizationToId, itemGroupId: itemGroupId },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnResult, function (i, v) {
                                itemHolder.append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    }
                });
            }
            else
            {
                
               
                    $(this).find(".itemGroup").val($(".itemGroup option:first").val());

                    var itemHolder = $(this).find('.item');
                    itemHolder.empty();
                    itemHolder.append("<option value=''>Select Item </option>");

                    var programSessionHolder = $(this).find('.programSession');
                    programSessionHolder.empty();
                    programSessionHolder.append("<option value=''>Select Program & Session </option>");


                   $(this).parent().parent().find('.stockQty').val(0);
                   $(this).parent().parent().find('.transferQty').val(0);
                   // var qtyHolder = $(this).find('.stockQty ');
                    //qtyHolder.val(0);

                    //var transferQtyHolder = $(this).find('.transferQty');
                    //transferQtyHolder.val(0);


            }

        });


        $(document).on('change', '#BranchFromId', function () {

            ResetTableData();
     
        });

        $(document).on('change', '#BranchToId', function () {

            ResetTableData();

        });



        $(document).on('change', '.item', function () {

            var itemId = $(this).val();
            var branchFromId = $('#BranchFromId').val();
            var branchToId = $('#BranchToId').val();

            //console.log(itemId);
            //console.log(branchFromId);
            //console.log(branchToId);

            var itemHolder = $(this).parent().parent().find('.programSession');
            itemHolder.empty();
            itemHolder.append("<option value=''>Select Program & Session </option>");

            var qtyHolder = $(this).parent().parent().find('.stockQty');
            qtyHolder.val(0);

            var transferQtyHolder = $(this).parent().parent().find('.transferQty');
            transferQtyHolder.val(0);

            if (itemId > 0)
            {
                $('#GoodsDetailsBody tr').each(function () {

                    //var programSessionHolder = $(this).find('.programSession');
                    //programSessionHolder.empty();
                    //programSessionHolder.append("<option value=''>Select Program & Session </option>");

                    //var qtyHolder = $(this).parent().parent().find('.stockQty');
                    //qtyHolder.val(0);

                    //var transferQtyHolder = $(this).parent().parent().find('.transferQty');
                    //transferQtyHolder.val(0);

                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadProgramSession", "GoodsTransfer", new { area = "UInventory" }, null)',
                    data: { branchIdFrom: branchFromId, branchIdTo: branchToId, itemId: itemId },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.programSessionList, function (i, v) {
                                itemHolder.append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                           
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    }
                });
            }
            else
            {
                $('#GoodsDetailsBody tr').each(function () {

         
                    //var programSessionHolder = $(this).parent().parent().find('.programSession');
                    //programSessionHolder.empty();
                    //programSessionHolder.append("<option value=''>Select Program & Session </option>");

                    //var qtyHolder = $(this).find('.stockQty');
                    //qtyHolder.val(0);

                    //var transferQtyHolder = $(this).find('.transferQty');
                    //transferQtyHolder.val(0);

                    //var qtyHolder = $(this).parent().parent().find('.stockQty');
                    //qtyHolder.val(0);

                    //var transferQtyHolder = $(this).parent().parent().find('.transferQty');
                    //transferQtyHolder.val(0);

                });
            }

        });






        @*lookup value changed event*@







        $(document).on('change', '.programSession', function () {

            var programSession = $(this).val();
            var branchFromId = $('#BranchFromId').val();
            var item = $(this).parent().parent().find('.item').val();

            console.log(item);
            console.log(programSession);
            console.log(branchFromId);

            var stockHolder = $(this).parent().parent().find('.stockQty');
            stockHolder.empty();


            if (branchFromId > 0) {
                $.ajax({
                    type: "POST",
                    //  url: '@Url.Action("GetStockQuantity", "GoodsTransfer", new { area = "UInventory" }, null)',
                    //data: { programSession: programSession, branchIdFrom: branchFromId, itemId: item },
                    url: "/UInventory/CommonAjaxUInventory/CurrentStockQuantityCheck",
                    datatype: "Json",
                    data: { branchId: branchFromId, itemId: item, programsession: programSession },

                    beforeSend: function () {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function (response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            stockHolder.val(response.stockAmount);
                            console.log(response.stockAmount);

                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function () {

                        $.unblockUI();
                    }
                });
            }
            else {
                $('#BranchFromId').empty();
                $('#BranchFromId').append("<option value=''>Select Branch</option>");
            }

        });




        var maxIndex;
        $(document).on("click", "#newAction", function (event) {

            if (!document.getElementsByTagName || !document.createTextNode) return;
            var table = document.getElementById('GoodsDetailsBody');
            var row = table.getElementsByTagName('tr');

            for (i = 0; i < row.length; i++) {
                maxIndex = i + 1;
            }
            console.log("new index " + maxIndex);

            $.ajax({
                url: "/UInventory/GoodsTransfer/NewGoodsDetails",
                type: "GET",
                data: { index: maxIndex },
                success: function (dRow) {
                    if ($('#GoodsDetailsBody tr').length > 0) {
                        $('#GoodsDetailsBody tr:last').after(dRow);
                    }
                    else {
                        $('#GoodsDetailsBody').append(dRow);
                    }

                    //Refreash Form to apply model validation
                    var holder = $('#GoodsDetailsBody');
                    var form = $(holder).closest('form');
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    jQuery.validator.unobtrusive.parse(form);
                },
                complete: function () {
                },
                error: function (error) {
                    $.fn.customMessage({
                        displayMessage: ajaxError,
                        displayMessageType: "error",
                        displayTime: 5000
                    });
                }
            });

        });


        $(document).on("click", ".removeRowButton", function (event) {
            var rowCount = $('#GoodsDetailsBody tr').length;
            if (rowCount <= 1) {
                return;
            }
            else {

                var tr = $(this).parent().parent();
                console.log(tr);
                tr.remove();
                var index = 0;
                $("#GoodsDetailsBody tr").each(function () {
                    //for item group

                    $(this).find(".itemGroup").attr('name', "GoodsTransferDetailsViewModelList[" + index + "].ItemGroupId");
                    $(this).find(".itemGroup").attr('id', 'GoodsTransferDetailsViewModelList_' + index + '__ItemGroupId');

                    $(this).find(".itemGroupValidation").attr('data-valmsg-for', "GoodsTransferDetailsViewModelList[" + index + "].ItemGroupId");
                    $(this).find(".itemGroupValidation").find('span').attr('for', "GoodsTransferDetailsViewModelList_" + index + "__ItemGroupId");

                    //for item

                    $(this).find(".item").attr('name', "GoodsTransferDetailsViewModelList[" + index + "].ItemId");
                    $(this).find(".item").attr('id', 'GoodsTransferDetailsViewModelList_' + index + '__ItemId');

                    $(this).find(".itemValidation").attr('data-valmsg-for', "GoodsTransferDetailsViewModelList[" + index + "].ItemId");
                    $(this).find(".itemValidation").find('span').attr('for', "GoodsTransferDetailsViewModelList_" + index + "__ItemId");

                    //for program & session

                    $(this).find(".programSession").attr('name', "GoodsTransferDetailsViewModelList[" + index + "].ProgramSessionId");
                    $(this).find(".programSession").attr('id', 'GoodsTransferDetailsViewModelList_' + index + '__ProgramSessionId');

                    $(this).find(".programSessionValidation").attr('data-valmsg-for', "GoodsTransferDetailsViewModelList[" + index + "].ProgramSessionId");
                    $(this).find(".programSessionValidation").find('span').attr('for', "GoodsTransferDetailsViewModelList_" + index + "__ProgramSessionId");

                    //for stock quantity

                    $(this).find(".stockQty").attr('name', "GoodsTransferDetailsViewModelList[" + index + "].StockQuantity");
                    $(this).find(".stockQty").attr('id', 'GoodsTransferDetailsViewModelList_' + index + '__StockQuantity');

                    $(this).find(".stockQtyValidation").attr('data-valmsg-for', "GoodsTransferDetailsViewModelList[" + index + "].StockQuantity");
                    $(this).find(".stockQtyValidation").find('span').attr('for', "GoodsTransferDetailsViewModelList_" + index + "__StockQuantity");

                    //transfer qty

                    $(this).find(".transferQty").attr('name', "GoodsTransferDetailsViewModelList[" + index + "].TransferQuantity");
                    $(this).find(".transferQty").attr('id', 'GoodsTransferDetailsViewModelList_' + index + '__TransferQuantity');

                    $(this).find(".transferQtyValidation").attr('data-valmsg-for', "GoodsTransferDetailsViewModelList[" + index + "].TransferQuantity");
                    $(this).find(".transferQtyValidation").find('span').attr('for', "GoodsTransferDetailsViewModelList_" + index + "__TransferQuantity");

                    index = index + 1;
                });
            }
        });


        @*--input property change--*@

        $(document).on("input propertychange", ".transferQty", function (e) {
            var text = $(this).val();
            //console.log("raw",text);
            if (isNaN(text)) {
                text = $(this).val(text.replace(/[^\d]/gi, ''));
            }
            else {
                var transferQty = text;
                var stockQty = $(this).parent().parent().find(".stockQty").val();
                console.log("stock", stockQty);
                if (stockQty === '0' && transferQty > stockQty) {
                    $(this).css('border-color', 'red');
                    e.preventDefault();
                    return false;
                }
                else {
                    $(this).css('border-color', '');
                    // alert("sadfdsf");
                }
            }
            @*--input property change--*@


        });



    </script>
}
