﻿@model UdvashERP.BusinessModel.ViewModel.UInventory.ReportsViewModel.GoodsTransferReportFormViewModel
@Styles.Render("~/Content/bootstrap-datepicker")
@Styles.Render("~/Content/bootstrap-multiselect")
@{
    ViewBag.Title = "GoodsTransferReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading" id="ShowHide" title="Colapse">
        <h4 class="panel-title">Goods Transfer Report<span style="float:right;"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>
    </div>
    <div class="panel-body" id="toggleCE">
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "GoodsTransferReportDiv", HttpMethod = "Post", OnComplete = "ShowHide" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.Label("Organization From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.OrganizationFromList, "Select Organization", new { @class = "form-control", @id = "OrganizationId" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Branch From", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchFromList, "Select Branch", new { @class = "form-control", @id = "BranchId" })
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Organization To", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OrganizationToId, (SelectList)ViewBag.OrganizationToList, "Select Organization", new { @class = "form-control", @id = "OrganizationToId" })
                        @Html.ValidationMessageFor(model => model.OrganizationToId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Branch To", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.BranchToId, (SelectList)ViewBag.BranchToList, new { @class = "form-control", @id = "BranchToId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.BranchToId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.ItemGroupId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemGroupId, (SelectList)ViewBag.ItemGroupList, new { @class = "form-control", @id = "ItemGroupId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ItemGroupId, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.ItemId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.itemList, new { @class = "form-control", @id = "ItemId", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Date Range", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-4">
                        <div class="input-group input-daterange">
                            @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control dateClass", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                            <span class="input-group-addon">to</span>
                            @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control dateClass", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ReportType, (SelectList)ViewBag.ReportType, new { @class = "form-control", @id = "ReportType" })
                        @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NoOfPages, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoOfPages, new { htmlAttributes = new { @class = "form-control numaricOnly", @Value = 10 } })


                        @Html.ValidationMessageFor(model => model.NoOfPages)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }



    </div>
</div>

<div id="GoodsTransferReportDiv">


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-multiselect")

    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript">


        function ShowHide() {
            var _this = $("#ShowHide");
            if (_this.attr('title') == 'Colapse') {
                $('#toggleCE').hide();
                _this.find(".fa-minus").addClass("fa-plus").removeClass("fa-minus");
                _this.attr('title', 'Expand');
            } else {
                $('#toggleCE').show();
                _this.attr('title', 'Colapse');
                _this.find(".fa-plus").addClass("fa-minus").removeClass("fa-plus");
            }
        }

        $(document).on('click', '#ShowHide', function (e) { ShowHide(); });

        function muliselectfnc(holder) {
            $(holder).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                numberDisplayed: 2,
                maxHeight: 400,
                buttonWidth: '100%',
                // dropUp: true
                nonSelectedText: 'All'
            });
            // $("#ProgramSession").multiselect('refresh');
        }

        $(document).ready(function() {

            muliselectfnc($('#ItemGroupId'));
            muliselectfnc($('#BranchToId'));
            muliselectfnc($('#ItemId'));

            $('.input-daterange').datepicker({
                todayBtn: "linked",
                format: 'yyyy-mm-dd'
            });
        });


        $(document).on('change', '#OrganizationId', function() {

            $('#BranchId').empty();
            $('#BranchId').append("<option value=''>Select Branch</option>");
            var organizationId = $('#OrganizationId').val();

            if (organizationId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadBranch", "CommonAjax", new {area = "Administration"}, null)',
                    data: { organizationIds: organizationId, isAuthorized: true },

                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },

                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function(i, v) {
                                $('#BranchId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function() {

                        $.unblockUI();
                    }
                });
            } else {
                $('#BranchId').empty();
                $('#BranchId').append("<option value=''>Select Branch</option>");
            }

            console.log(organizationId);
        });


        $(document).on('change', '#OrganizationToId', function(event) {

            $('#BranchToId').children().remove();

            var organizationToId = $('#OrganizationToId').val();

            if (organizationToId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadBranch",
                    data: { organizationIds: organizationToId, isAuthorized: true },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnBranchList, function(i, v) {
                                $('#BranchToId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $('#BranchToId').multiselect({ includeSelectAllOption: true });
                            $("#BranchToId").multiselect('refresh');
                            $('#BranchToId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function() {

                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });

        $(document).on('change', '#ItemGroupId', function(event) {
            $('#ItemId').children().remove();
            var organizationId = $('#OrganizationId').val();
            var organizationToId = $('#OrganizationToId').val();
            var itemGroupIdList = $('#ItemGroupId').val();

            console.log(itemGroupIdList);

            if (organizationId.length > 0 && organizationToId > 0 ) {
                $.ajax({
                    type: "POST",
                    // url: $("body").attr("data-project-root") + "UInventory/CommonAjaxUInventory/LoadItemList",
                    url: '@Url.Action("LoadItems", "GoodsTransfer", new {area = "UInventory"}, null)',
                    data: { fromOrganizationId: organizationId, toOrganizationId: organizationToId, itemGroupId: itemGroupIdList },
                    //data: { itemGroupIds: itemGroupIdList, organizationId: organizationId },
                    beforeSend: function() {
                        $.blockUI({
                            timeout: 0,
                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                        });
                    },
                    success: function(response) {
                        $.unblockUI();
                        if (response.IsSuccess) {
                            $.each(response.returnResult, function(i, v) {
                                $('#ItemId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            $('#ItemId').multiselect({ includeSelectAllOption: true });
                            $("#ItemId").multiselect('refresh');
                            $('#ItemId').multiselect('rebuild');
                        } else {
                            $.fn.customMessage({
                                displayMessage: response.Message,
                                displayMessageType: "error"
                            });
                        }
                    },
                    complete: function() {

                        $.unblockUI();
                    },
                    error: function(data) {
                        $.fn.customMessage({
                            displayMessage: window.AJAX_ERROR,
                            displayMessageType: "error",
                            displayTime: 5000
                        });
                    }
                });
            }
        });
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
