﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.AttendanceDeviceType>
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/fixedColumns.dataTables.min")
@{
    ViewBag.Title = "ManageAttendanceDeviceType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    div.DTFC_LeftBodyLiner {
        overflow-x: hidden;
    }
</style>

<div class="form-group">
    @using (Html.BeginForm("Create", "AttendanceDeviceType", FormMethod.Get))
    {
        <div class="form-actions"><input type="submit" value="Add Attendance Device Type" class="btn btn-primary" /></div>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Attendance Device Type</div>
    <div class="panel-body">
        <table>
            <tr class="form-group">
                <th>&nbsp;</th>
                @*<th class="form-group">
                        @Html.DropDownList("organization", (IEnumerable<SelectListItem>)ViewBag.organizationList, "--Organization--", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("empStatus", (IEnumerable<SelectListItem>)ViewBag.employmentDropdownStatus, "--Employee status--", new { @class = "form-control" })
                    </th>
                    <th class="form-group">
                        @Html.DropDownList("payType", (IEnumerable<SelectListItem>)ViewBag.paymentTypeList, "--Paytype--", new { @class = "form-control" })
                    </th>*@
                <th class="form-group">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Name" />
                </th>
                <th class="form-group">
                    <input id="code" name="code" type="text" class="form-control" placeholder="Code" />
                </th>
                @*<th class="form-group">
                    @Html.DropDownList("finger", (IEnumerable<SelectListItem>)ViewBag.fingerPrintList, "--All--", new { @class = "form-control" })
                </th>*@
                <th class="form-group">
                    <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                </th>
                <th class="form-group">
                    <input type="button" name="search" id="search" value="Show" class="form-control btn btn-primary" />
                </th>
            </tr>
        </table>
        <br />

        <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Code")
                    </th>
                    <th>
                        @Html.DisplayName("FingerPrint")
                    </th>
                    <th>
                        @Html.DisplayName("Firmware Version")
                    </th>
                    <th>
                        @Html.DisplayName("Algorithm version")
                    </th>
                    <th>
                        @Html.DisplayName("Log Capacity")
                    </th>
                    <th>
                        @Html.DisplayName("User Capacity")
                    </th>
                    <th>
                        @Html.DisplayName("Finger Print Capacity")
                    </th>

                    <th style="width: 5%">Action</th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>
        </table>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        function dataTableRender() {
            var pageSize = 100;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "scrollCollapse": true,
                "iDisplayLength": pageSize,
                "scrollY": "60vh",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": ['_all'] }],
                fixedColumns: {
                    leftColumns: 3
                },
                ajax: {
                    url: '@Url.Action("ManageAttendanceDeviceType", "AttendanceDeviceType")',
                    type: 'POST',
                    data: function (d) {
                        d.name = $('#name').val();
                        d.code = $('#code').val();
                        //d.finger = $('#finger').val();
                    }
                }
            });
        }

        $(document).on("click", ".glyphicon-trash", function () {
            var id = $(this).attr("data-id");
            if (id != "") {
                bootbox.deleteConfirm("<h4>Are you sure you want to delete this Settings.</h4>", function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: $("body").attr("data-project-root") + "Hr/AttendanceDeviceType/Delete",
                            cache: false,
                            async: true,
                            data: { "id": id },
                            beforeSend: function () {
                                $.blockUI({
                                    timeout: 0,
                                    message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                });
                            },
                            success: function (rtdResult) {
                                $.unblockUI();
                                if (rtdResult.isSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: rtdResult.Text,
                                        displayMessageType: "s",
                                    });
                                    dataTableRender();
                                }
                                else if (!rtdResult.isSuccess) {
                                    $.fn.customMessage({
                                        displayMessage: rtdResult.Text,
                                        displayMessageType: "e",
                                    });
                                }
                            },
                            complete: function () {
                                $.unblockUI();
                            },
                            error: function () {
                                $.unblockUI();
                                $.fn.customMessage({
                                    displayMessage: result.Message,
                                    displayMessageType: "w",
                                });
                            }
                        });
                    }
                }).css({ 'margin-top': (($(window).height() / 4)) });
            }
            return false;
        });

        $(document).ready(function () {
            dataTableRender();

            $(document).on("click", "#search", function () {
                dataTableRender();
            });
        });

    </script>
}
