﻿@using UdvashERP.Areas.Hr.Controllers
@using UdvashERP.BusinessModel.Entity.Hr
@model UdvashERP.BusinessModel.ViewModel.Hr.LeaveReportEntryViewModel

@{
    ViewBag.Title = "HrLeaveReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("HrLeaveReport", "LeaveReport", new{} ))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">Leave Report</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Pin, "PIN", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Pin, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })*@
                    </div>
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Years, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-center">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@Html.Partial("PersonLeaveReport", (List<MemberLeaveSummary>)ViewBag.MemberLeaveSummariesForReport)
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
}
