﻿@model IEnumerable<UdvashERP.BusinessModel.Entity.Hr.MemberLeaveSummary>

@{
    ViewBag.Title = "Person Leave Report";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@if (Model.Any())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Leave Report</div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal" style="text-align:center;">
                <div class="form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("EditMemberInfomation", "TeamMember", new { area = "Hr", memberPin = @ViewBag.Pin })">
                            <strong>@ViewBag.memberName</strong>
                        </a><br />
                        <a href="@Url.Action("SearchOfficialDetails", "TeamMember", new { area = "Hr", memberPin = @ViewBag.Pin })">
                            @ViewBag.memberDesig, @ViewBag.memberDept
                        </a><br />
                        @ViewBag.memberOrg<br />
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <tr>
                    <th style="text-align: center">
                        Leave Type
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.CarryForwardLeave)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.CurrentYearLeave)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.EncashLeave)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.VoidLeave)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.TotalLeaveBalance)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.ApprovedLeave)
                    </th>

                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.PendingLeave)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.AvailableBalance)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ApprovedLeave)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>*@

                </tr>
                @{
                    var prevOrg = "";
                    int orgCount = 0;
                    foreach (var item in Model)
                    {
                        if (prevOrg != item.Leave.Organization.Name)
                        {
                            prevOrg = item.Leave.Organization.Name;
                            orgCount++;
                        }
                    }
                    prevOrg = "";
                }
                @foreach (var item in Model)
                {
                    if (orgCount > 1 && prevOrg != item.Leave.Organization.Name)
                    {
                        prevOrg = item.Leave.Organization.Name;
                        <tr style="text-align:center;">
                            <td class="text-center" colspan="9">
                                <strong>@prevOrg</strong>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Leave.Name)</td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.CarryForwardLeave)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.CurrentYearLeave)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.EncashLeave)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.VoidLeave)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.TotalLeaveBalance)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.ApprovedLeave)
                        </td>
                        <td style="text-align: center">
                            @*@Html.DisplayFor(modelItem => item.PendingLeave)??0*@
                            @(item.PendingLeave)
                        </td>
                        <td style="text-align: center">
                            @(item.AvailableBalance)
                            @*@((item.TotalLeaveBalance ?? 0) - (item.ApprovedLeave ?? 0) - (item.PendingLeave ?? 0))*@
                            @*@((item.TotalLeaveBalance ?? 0))*@
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>*@

                    </tr>
                }

            </table>
        </div>
    </div>
}
else if (!Model.Any() && ViewBag.isSubmitted == true)
{
    <div class="alert alert-danger text-center" role="alert">
        No data found!
    </div>
}