﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Administration.SmsStudentRegistrationSettingViewModel
@{
    ViewBag.Title = "Student Registration SMS Settings";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dateFrom = @Model.StartDate.ToString("dd-MM-yyyy");
    var dateTo = @Model.EndDate.ToString("dd-MM-yyyy");
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Registration SMS Settings</h4>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("AddSmsStudentRegistrationSetting", "SmsStudentRegistrationSetting", FormMethod.Post, new { @id = "smsForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" value="@ViewBag.Id" name="id"/>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, "--Select organization--", new { @class = "form-control" , @disabled = "disabled"})
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select program--", new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Session", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SessionId, (IEnumerable<SelectListItem>) ViewBag.SessionList, "--Select session--", new {@class = "form-control", @disabled = "disabled"})
                        @Html.ValidationMessageFor(model => model.SessionId, "", new {@class = "text-danger"})
                    </div>

                    @Html.Label("Course", new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.CourseId, (IEnumerable<SelectListItem>) ViewBag.CourseList, "--Select course--", new {@class = "form-control", @disabled = "disabled"})
                        @Html.ValidationMessageFor(model => model.CourseId, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Exam Type", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.StudentExamId, (IEnumerable<SelectListItem>)ViewBag.StudentExams, "--Select Exam Type--", new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.StudentExamId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>SMS Type</th>
                            <th>Receiver</th>
                            <th>Option</th>
                            <th>Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">Success</td>
                            <td>
                                @Html.DropDownListFor(x => x.SuccessReceiverIds, (IEnumerable<SelectListItem>)ViewBag.SuccessReceiverList, new { @class = "form-control", @size = 4, @multiple = "multiple", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.SuccessReceiverIds, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.DropDownList("SuccessOptions", (IEnumerable<SelectListItem>)ViewBag.DynamicOptionsList, new { @class = "form-control", @size = "4", @multiple = "multiple", @disabled = "disabled" })
                            </td>
                            <td>
                                @Html.TextAreaFor(x => x.SuccessMessage, new { @class = "form-control", @rows = 4, @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.SuccessMessage, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Duplicate</td>
                            <td>
                                @Html.DropDownListFor(x => x.DuplicateReceiverIds, (IEnumerable<SelectListItem>)ViewBag.DuplicateReceiverList, new { @class = "form-control", @size = 4, @multiple = "multiple", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.DuplicateReceiverIds, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.DropDownList("DuplicateOptions", (IEnumerable<SelectListItem>)ViewBag.DynamicOptionsList, new { @class = "form-control", @size = "4", @multiple = "multiple", @disabled = "disabled" })
                            </td>
                            <td>
                                @Html.TextAreaFor(x => x.DuplicateMessage, new { @class = "form-control", @rows = 4 , @disabled = "disabled"})
                                @Html.ValidationMessageFor(model => model.DuplicateMessage, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    @Html.Label("Start Date", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", @disabled = "disabled", @Value = dateFrom, @data_val = false})
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("End Date", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", @disabled = "disabled", @Value = dateTo, @data_val = false })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mask Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SmsMaskId, (IEnumerable<SelectListItem>)ViewBag.SmsMask, "Without Mask", new { @class = "form-control" , @disabled = "disabled"})
                        @Html.ValidationMessageFor(model => model.SmsMaskId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Status, (IEnumerable<SelectListItem>)ViewBag.StatusTextList, "--Select status--", new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group text-left col-md-3">
                    @Html.ActionLink("Back to Index page", "Index")
                </div>
            </div>
            
        }
    </div>
</div>
