﻿@using UdvashERP.BusinessRules
@model UdvashERP.BusinessModel.ViewModel.Administration.SmsStudentRegistrationSettingViewModel
@{
    ViewBag.Title = "Student Registration SMS Settings";
    @Styles.Render("~/Content/bootstrap-datetimepicker")
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dateFrom = @Model.StartDate.ToString("dd-MM-yyyy");
    var dateTo = @Model.EndDate.ToString("dd-MM-yyyy");
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Student Registration SMS Settings</h4>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("AddSmsStudentRegistrationSetting", "SmsStudentRegistrationSetting", FormMethod.Post, new { @id = "smsForm" }))
        {
            @Html.AntiForgeryToken()
                <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.organizationList, "--Select organization--", new { @class = "form-control disablable" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Program", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.ProgramId, (IEnumerable<SelectListItem>)ViewBag.ProgramList, "--Select program--", new { @class = "form-control disablable" })
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.Label("Session", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.SessionId, (IEnumerable<SelectListItem>) ViewBag.SessionList, "--Select session--", new {@class = "form-control disablable"})
                            @Html.ValidationMessageFor(model => model.SessionId, "", new {@class = "text-danger"})
                        </div>

                        @Html.Label("Course", new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.CourseId, (IEnumerable<SelectListItem>) ViewBag.CourseList, "--Select course--", new {@class = "form-control disablable"})
                            @Html.ValidationMessageFor(model => model.CourseId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Exam Type", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.StudentExamId, (IEnumerable<SelectListItem>)ViewBag.StudentExams, "--Select Exam Type--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StudentExamId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>SMS Type</th>
                            <th>Receiver</th>
                            <th>Option</th>
                            <th>Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">Success</td>
                            <td>
                                @Html.ListBoxFor(x => x.SuccessReceiverIds, (IEnumerable<SelectListItem>)ViewBag.SuccessReceiverList, new { @class = "form-control", @size = 4, @multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.SuccessReceiverIds, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.DropDownList("SuccessOptions", (IEnumerable<SelectListItem>)ViewBag.DynamicOptionsList, new { @class = "form-control", @size = "4", @multiple = "multiple" })
                            </td>
                            <td>
                                @Html.TextAreaFor(x => x.SuccessMessage, new { @class = "form-control", @rows = 4 })
                                @Html.ValidationMessageFor(model => model.SuccessMessage, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Duplicate</td>
                            <td>
                                @Html.ListBoxFor(x => x.DuplicateReceiverIds, (IEnumerable<SelectListItem>)ViewBag.DuplicateReceiverList, new { @class = "form-control", @size = 4, @multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.DuplicateReceiverIds, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.DropDownList("DuplicateOptions", (IEnumerable<SelectListItem>)ViewBag.DynamicOptionsList, new { @class = "form-control", @size = "4", @multiple = "multiple" })
                            </td>
                            <td>
                                @Html.TextAreaFor(x => x.DuplicateMessage, new { @class = "form-control", @rows = 4 })
                                @Html.ValidationMessageFor(model => model.DuplicateMessage, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    @Html.Label("Start Date", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control disablable", @readonly = "readonly", @Value = dateFrom, @data_val = false })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("End Date", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", @readonly = "readonly", @Value = dateTo, @data_val = false })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mask Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SmsMaskId, (IEnumerable<SelectListItem>)ViewBag.SmsMask, "Without Mask", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SmsMaskId, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Status, (IEnumerable<SelectListItem>)ViewBag.StatusTextList, "--Select status--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="form-group text-center">
                <div class="col-md-offset-1 col-md-10">
                    <input type="button" value="Update" class="btn btn-primary" id="Submit"/>
                </div>
            </div>
            <div class="form-group text-left col-md-3">
                @Html.ActionLink("Back to Index page","Index")
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        $(document).ready(function () {
            if ('@ViewBag.IsStudentRegistered' == 'True') {
                //alert();
                $('.disablable').prop('disabled', 'disabled');
            }
            $("#OrganizationId").change(function () {
                $("#ProgramId option").remove();
                $('#ProgramId').append('<option value="">--Select program--</option>');
                $("#SessionId option").remove();
                $('#SessionId').append('<option value="">--Select session--</option>');
                $("#CourseId option").remove();
                $('#CourseId').append('<option value="">--Select course--</option>');
                var organizationId = $("#OrganizationId").val();
                if (organizationId !== "" && organizationId != null) {
                    $.ajax({
                        type: "post",
                        //url: $("body").attr("data-project-root") + "Administration/Sms/GetProgramByOrganization",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadProgram",
                        cache: false,
                        async: true,
                        data: { organizationIds: $("#OrganizationId").val(), isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            if (result.IsSuccess) {
                                $.each(result.returnProgramList, function (i, v) {
                                    $('#ProgramId').append($('<option>').text(v.Text).attr('value', v.Value));
                                });

                                //load Mask Name Start
                                $("#SmsMaskId option").remove();
                                $.ajax({
                                    url: $("body").attr("data-project-root") + "Administration/SmsStudentRegistrationSetting/LoadSmsMask",
                                    type: "POST",
                                    data: { organizationIds: organizationId, status: 1 },

                                    beforeSend: function () {
                                        $.blockUI({
                                            timeout: 0,
                                            message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                                        });
                                    },
                                    success: function (responses) {
                                        if (responses.IsSuccess) {
                                            $('#SmsMaskId').append('<option value="">Without Mask</option>');
                                            $.each(responses.returnSmsMaskName, function (i, v) {
                                                $('#SmsMaskId').append($('<option>').text(v.Text).attr('value', v.Value));
                                            });
                                        }
                                    },
                                    complete: function () {
                                        $.unblockUI();
                                    },
                                    error: function (responses) {
                                        $.unblockUI();
                                    }
                                });
                                //Load Mask Name End
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");
                        }
                    });
                }
            });


            //Program Change Functionalities
            $(document).on('change', '#ProgramId', function () {
                //remove all dependant dropdownlist & selection option
                $("#SessionId option").remove();
                $('#SessionId').append("<option value=''>--Select session--</option>");
                $("#CourseId option").remove();
                $('#CourseId').append("<option value=''>--Select course--</option>");
                var programId = $("#ProgramId").val();
                if (programId != null && programId !== "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForSession",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadSession",
                        cache: false,
                        async: true,
                        data: { programIds: programId, isAuthorized: true },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            $.each(result.returnSessionList, function (i, v) {
                                $('#SessionId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            //$("#SessionId").html(result);
                            console.log("Success -----");
                        }, complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            //
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });
            
            $(document).on('change', '#SessionId', function () {
                //remove all dependant dropdownlist & selection option
                $("#CourseId option").remove();
                $('#CourseId').append("<option value=''>--Select course--</option>");
                var organizationId = $("#OrganizationId").val();
                var programId = $("#ProgramId").val();
                var sessionId = $("#SessionId").val();
                if (programId != null && programId !== "" && sessionId != null && sessionId !== "") {
                    $.ajax({
                        type: "post",
                        //url: "/Student/Attendance/AjaxRequestForSession",
                        url: $("body").attr("data-project-root") + "Administration/CommonAjax/LoadCourse",
                        cache: false,
                        async: true,
                        data: { organizatonIds: organizationId, programIds: programId, sessionIds: sessionId },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (result) {
                            $.unblockUI();
                            $.each(result.returnCourse, function (i, v) {
                                $('#CourseId').append($('<option>').text(v.Text).attr('value', v.Value));
                            });
                            //$("#SessionId").html(result);
                            console.log("Success -----");
                        }, complete: function () {
                            $.unblockUI();
                            console.log("Complete -----");
                            //
                        },
                        error: function (result) {
                            $.unblockUI();
                            console.log("Failed -----");

                        }
                    });
                }
            });
            
            $(document).on("click", "#SuccessOptions", function (e) {
                var text = $("#SuccessOptions option:selected").text();
                var cursorPosition = $('#SuccessMessage').prop("selectionStart");
                var message = $("#SuccessMessage").val();
                var start = $('#SuccessMessage').get(0).selectionStart;
                var finish = $('#SuccessMessage').get(0).selectionEnd;
                var sel = message.substring(start, finish);
                if (sel == "") {
                    if (message.length == cursorPosition) {
                        text = "[[{{" + text + "}}]]";
                    }
                    else {
                        text = "[[{{" + text + "}}]]";
                    }
                }
                else {
                    message = message.replace(sel, "");
                    text = "[[{{" + text + "}}]]";
                }

                message = [message.slice(0, cursorPosition), text, message.slice(cursorPosition)].join('');
                // message = message + " " + text;
                $("#SuccessMessage").val(message);
                $("#SuccessMessage").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");

            });

            $(document).on("click", "#DuplicateOptions", function (e) {
                var text = $("#DuplicateOptions option:selected").text();
                var cursorPosition = $('#DuplicateMessage').prop("selectionStart");
                var message = $("#DuplicateMessage").val();
                var start = $('#DuplicateMessage').get(0).selectionStart;
                var finish = $('#DuplicateMessage').get(0).selectionEnd;
                var sel = message.substring(start, finish);
                if (sel == "") {
                    if (message.length == cursorPosition) {
                        text = "[[{{" + text + "}}]]";
                    }
                    else {
                        text = "[[{{" + text + "}}]]";
                    }
                }
                else {
                    message = message.replace(sel, "");
                    text = "[[{{" + text + "}}]]";
                }

                message = [message.slice(0, cursorPosition), text, message.slice(cursorPosition)].join('');
                // message = message + " " + text;
                $("#DuplicateMessage").val(message);
                $("#DuplicateMessage").parent().find("span").removeClass("field-validation-error").addClass("field-validation-valid").html("");

            });

            $('#StartDate').datetimepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                startDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                //alert();
                if (Date.parse($("#StartDate").val()) > Date.parse($("#EndDate").val())) {
                    //alert();
                    $(".dtmsg").text("");
                    $("#StartDate").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);
                }
                if (Date.parse($("#StartDate").val()) <= Date.parse($("#EndDate").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            $('#EndDate').datetimepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                todayBtn: false,
                showMeridian: true,
                initialDate: new Date(),
                startView: 2,
                minView: 2,
                maxView: 4
            }).on('changeDate', function (ev) {
                if (Date.parse($("#StartDate").val()) > Date.parse($("#EndDate").val())) {
                    $(".dtmsg").text("");
                    $("#EndDate").parent().append("<div class='dtmsg' style='color:red;'>Date to can not be less than date from</div>");
                    $("#Submit").prop('disabled', true);

                }
                if (Date.parse($("#StartDate").val()) <= Date.parse($("#EndDate").val())) {
                    $('.dtmsg').text("");
                    $("#Submit").removeAttr('disabled');
                }
            });

            function ParseFormValidation() {
                $("#createLoanApplicationForm").data("validator", null);
                $.validator.unobtrusive.parse($("#createLoanApplicationForm"));
            }

            //submit
            $("#Submit").click(function () {
                var form = $('#smsForm');
                //|| !approvedRefundsuccess
                if (!form.data('unobtrusiveValidation').validate()) {
                    console.log("Inalid return problem");
                    return false;
                } else {
                    var token = $('input[name="__RequestVerificationToken"]', form).val();
                    var smsSetting = {};
                    smsSetting.OrganizationId = $("#OrganizationId").val();
                    smsSetting.ProgramId = $("#ProgramId").val();
                    smsSetting.SessionId = $("#SessionId").val();
                    smsSetting.CourseId = $("#CourseId").val();
                    smsSetting.StudentExamId = $("#StudentExamId").val();
                    smsSetting.SuccessReceiverIds = $("#SuccessReceiverIds").val();
                    smsSetting.SuccessMessage = $("#SuccessMessage").val();
                    smsSetting.DuplicateReceiverIds = $("#DuplicateReceiverIds").val();
                    smsSetting.DuplicateMessage = $("#DuplicateMessage").val();
                    smsSetting.StartDate = $("#StartDate").val();
                    smsSetting.EndDate = $("#EndDate").val();
                    smsSetting.SmsMaskId = $("#SmsMaskId").val();
                    smsSetting.Status = $("#Status").val();
                    $.ajax({
                        type: "POST",
                        url: $("body").attr("data-project-root") + "Administration/SmsStudentRegistrationSetting/Edit",
                        cache: false,
                        async: true,
                        data: { __RequestVerificationToken: token, obj: smsSetting, smsSettingId: '@ViewBag.Id', startDate: smsSetting.StartDate, endDate: smsSetting.EndDate },
                        beforeSend: function () {
                            $.blockUI({
                                timeout: 0,
                                message: '<h1><img src="/Content/Image/ajax-loader.gif" /> Processing...</h1>'
                            });
                        },
                        success: function (response) {
                            $.unblockUI();
                            if (response.IsSuccess) {
                                //form[0].reset();
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "success"
                                });
                            } else {
                                $.fn.customMessage({
                                    displayMessage: response.Message,
                                    displayMessageType: "error"
                                });
                            }
                        },
                        complete: function (response) {
                            $.unblockUI();

                        },
                        error: function (response) {
                            $.unblockUI();

                        }
                    });
                }
            });
        });

    </script>
}
